<div class="row">
    <div class="col-md-8 article-content-left">
        <p>{{ article.content|BBcode }}</p>

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.transmissionvectors, 'title':'condition.transmission','locale': locale} only %}
        
        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.causes, 'title':'condition.causes','locale': locale} only %}
        
        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.symptoms, 'title':'condition.symptoms','locale': locale} only %}
       
        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.treatment, 'title':'condition.treatment','locale': locale} only %}
        
        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.prognosis, 'title':'condition.prognosis','locale': locale} only %}
        
        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.sequela, 'title':'condition.sequela','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.affectedgroups, 'title':'condition.affectedgroups','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.hosts, 'title':'condition.hosts','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.prevention, 'title':'condition.prevention','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.epidimiology, 'title':'condition.epidimiology','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.history, 'title':'history','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.reception, 'title':'condition.reception','locale': locale} only %}


        <p>{{ article.footnotes|BBcode }}</p> 
    </div>
    <div class="col-md-4">
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
        {% if article.sidepanelcontent|length > 0  or article.sidepanelcontenttop|length > 0 or article.type|length > 0 or article.origin|length > 0 or  article.cycle|length > 0  or article.rarity|length > 0 or article.species|length > 0  or article.parent|length > 0 %}

            <div class="panel panel-default">
                <div class="panel-body">
                    {{ article.sidepanelcontenttop|BBcode }}
                    <dl>
                        {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.type, 'title':'type','locale': locale} only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {'value': article.parent, 'title':'Parent','article': article,'locale': locale } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.children, 'title': 'Children','locale': locale} only %}

            	        {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.origin, 'title':'condition.origin','locale': locale} only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.cycle, 'title':'condition.cycle','locale': locale} only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.rarity, 'title':'condition.rarity','locale': locale} only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.species, 'title': 'condition.species','locale': locale} only %}
                    </dl>
					{{ article.sidepanelcontent|BBcode }}
                </div>
            </div>
        {% endif %}
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}
	</div>
</div>