<div class="row">
    <div class="col-md-8 article-content-left">
        <p>{{ article.content|BBcode }}</p>
        <div class="">
            {% if article.femalenames|length > 0 or article.malenames|length > 0 or article.unisexnames|length > 0 or article.familynames|length > 0   %}
                <h2>{{ 'ethnicity.naming.traditions'|trans({},'presentation') }}</h2>
                {% if article.femalenames|length > 0 %}
                    <h3>{{ 'ethnicity.feminine.names'|trans({},'presentation') }}</h3>
                    <p>{{ article.femalenames|BBcode  }}</p>
                {% endif %}
                {% if article.malenames|length > 0 %}
                    <h3>{{ 'ethnicity.masculine.names'|trans({},'presentation') }}</h3>
                    <p>{{ article.malenames|BBcode  }}</p>
                {% endif %}
                {% if article.unisexnames|length > 0 %}
                    <h3>{{ 'ethnicity.unisex.names'|trans({},'presentation') }}</h3>
                    <p>{{ article.unisexnames|BBcode  }}</p>
                {% endif %}
                {% if article.familynames|length > 0 %}
                    <h3>{{ 'ethnicity.family.names'|trans({},'presentation') }}</h3>
                    <p>{{ article.familynames|BBcode  }}</p>
                {% endif %}
                {% if article.othernames|length > 0 %}
                    <h3>{{ 'ethnicity.other.names'|trans({},'presentation') }}</h3>
                    <p>{{ article.othernames|BBcode  }}</p>
                {% endif %}
            {% endif %}

            {% if  article.languages|length > 0 or  article.culture|length > 0 or  article.sharedValues|length > 0 or  article.technologicalLevel|length > 0 or  article.etiquette|length > 0 or  article.dresscode|length > 0 or   article.art|length > 0 or article.customs|length > 0 or  article.birthrights|length > 0 or  article.comingofagerights|length > 0 or  article.funeraryCustoms|length > 0 or  article.taboos|length > 0 or  article.mythsAndLegends|length > 0 or  article.historicalFigures|length > 0 %}
                <h2>{{ 'ethnicity.culture'|trans({},'presentation') }}</h2>
                {% if article.languages|length > 0 %}
                    <h3>{{ 'ethnicity.major.lang.groups.dialects'|trans({},'presentation') }}</h3>
                    <p>{{ article.languages|BBcode  }}</p>
                {% endif %} 
                {% if article.culture|length > 0 %}
                    <h3>{{ 'ethnicity.culture.cultural.heritage'|trans({},'presentation') }}</h3>
                    <p>{{ article.culture|BBcode  }}</p>
                {% endif %} 
                {% if article.sharedValues|length > 0 %}
                    <h3>{{ 'ethnicity.shared.customary.codes.values'|trans({},'presentation') }}</h3>
                    <p>{{ article.sharedValues|BBcode  }}</p>
                {% endif %}  
                {% if article.technologicalLevel|length > 0 %}
                    <h3>{{ 'ethnicity.Average.technological.level'|trans({},'presentation') }}</h3>
                    <p>{{ article.technologicalLevel|BBcode  }}</p>
                {% endif %} 
                {% if article.etiquette|length > 0 %}
                    <h3>{{ 'ethnicity.common.etiquette.rules'|trans({},'presentation') }}</h3>
                    <p>{{ article.etiquette|BBcode  }}</p>
                {% endif %} 
                {% if article.dresscode|length > 0 %}
                    <h3>{{ 'ethnicity.common.dress.code'|trans({},'presentation') }}</h3>
                    <p>{{ article.dresscode|BBcode  }}</p>
                {% endif %}
                {% if article.art|length > 0 %}
                    <h3>{{ 'ethnicity.art.architecture'|trans({},'presentation') }}</h3>
                    <p>{{ article.art|BBcode  }}</p>
                {% endif %}
                {% if article.customs|length > 0 %}
                    <h3>{{ 'ethnicity.common.customs.traditions.rituals'|trans({},'presentation') }}</h3>
                    <p>{{ article.customs|BBcode  }}</p>
                {% endif %}
                {% if article.birthrights|length > 0 %}
                    <h3>{{ 'ethnicity.birth.baptismal.rites'|trans({},'presentation') }}</p></h3>
                    <p>{{ article.birthrights|BBcode  }}</p>
                {% endif %}
                {% if article.comingofagerights|length > 0 %}
                    <h3>{{ 'ethnicity.comingofage.rites'|trans({},'presentation') }}</p></h3>
                    <p>{{ article.comingofagerights|BBcode  }}</p>
                {% endif %}
                {% if article.funeraryCustoms|length > 0 %}
                    <h3>{{ 'ethnicity.funerary.memorial.Customs'|trans({},'presentation') }}</p></h3>
                    <p>{{ article.funeraryCustoms|BBcode  }}</p>
                {% endif %}
                {% if article.taboos|length > 0 %}
                    <h3>{{ 'ethnicity.common.taboos'|trans({},'presentation') }}</h3>
                    <p>{{ article.taboos|BBcode  }}</p>
                {% endif %}
                {% if article.mythsAndLegends|length > 0 %}
                    <h3>{{ 'ethnicity.common.myths.legends'|trans({},'presentation') }}</h3>
                    <p>{{ article.mythsAndLegends|BBcode  }}</p>
                {% endif %}
                {% if article.historicalFigures|length > 0 %}
                    <h3>{{ 'ethnicity.historical.figures'|trans({},'presentation') }}</h3>
                    <p>{{ article.historicalFigures|BBcode  }}</p>
                {% endif %}
            {% endif %}

            {% if  article.beautyIdeals|length > 0 or article.genderIdeals|length > 0 or article.courtshipIdeals|length > 0 or article.relationshipsIdeals|length > 0  %}
                <h2>{{ 'ethnicity.ideals'|trans({},'presentation') }}</h2>
                {% if article.beautyIdeals|length > 0 %}
                    <h3>{{ 'ethnicity.beauty.ideals'|trans({},'presentation') }}</h3>
                    <p>{{ article.beautyIdeals|BBcode  }}</p>
                {% endif %}  
                {% if article.genderIdeals|length > 0 %}
                    <h3>{{ 'ethnicity.gender.ideals'|trans({},'presentation') }}</h3>
                    <p>{{ article.genderIdeals|BBcode  }}</p>
                {% endif %}  
                {% if article.courtshipIdeals|length > 0 %}
                    <h3>{{ 'ethnicity.courtship.ideals'|trans({},'presentation') }}</h3>
                    <p>{{ article.courtshipIdeals|BBcode  }}</p>
                {% endif %} 
                {% if article.relationshipsIdeals|length > 0 %}
                    <h3>{{ 'ethnicity.relationship.ideals'|trans({},'presentation') }}</h3>
                    <p>{{ article.relationshipsIdeals|BBcode  }}</p>
                {% endif %} 
            {% endif %} 

            {% if article.majorOrganizations|length > 0 %}
                <h2>{{ 'ethnicity.major.organizations'|trans({},'presentation') }}</h2>
                <p>{{ article.majorOrganizations|BBcode  }}</p>
            {% endif %}  

            {{ article.footnotes|BBcode }}
        </div>
    </div>
    <div class="col-md-4">
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
        {% if article.parents|length > 0 or article.children|length > 0 or article.species|length > 0 or article.organizations|length > 0 or article.sidepanelcontent|length > 0  or article.sidepanelcontenttop|length > 0 or article.items|length > 0 or article.relatedlanguages|length > 0 or article.locations|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ article.sidepanelcontenttop|BBcode }}
                    <dl>
                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.parents, 'title':'Parent ethnicities'} only %}
                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.children, 'title':'Diverged ethnicities'} only %}
                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.species, 'title':'Encompassed species'} only %}
                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.organizations, 'title':'Related Organizations'} only %}
                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.items, 'title':'Related Items'} only %}
                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.myths, 'title':'Related Myths'} only %}
                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.relatedlanguages, 'title':'Languages spoken'} only %}
                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.locations, 'title':'Significant presence in'} only %}
                    </dl>
                    {{ article.sidepanelcontent|BBcode }}
                </div>
            </div>
        {% endif %}
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}

    </div>
</div>