<div class="row">
    <div class="col-md-{% if article.world.owner.membership == 1 and article.sidepanelcontent|length == 0 and article.sidepanelcontenttop|length == 0 and article.sidebarcontent|length == 0 and article.sidebarcontentbottom|length == 0  %}12{% else %}8{% endif %}">

        <p>{{ article.content|BBcode }}</p>
        <p>{{ article.footnotes|BBcode }}</p>
    </div>
    <div class="col-md-4">
        {{ article.sidebarcontent|BBcode }}
        {% if article.sidepanelcontent|length > 0 or article.sidepanelcontenttop|length  > 0  %}
            <div class="m-t-10 panel panel-default">
                <div class="panel-body">
                    {{ article.sidepanelcontenttop|BBcode }}
                    {{ article.sidepanelcontent|BBcode }}
                </div>
            </div>
        {% endif %}
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}
    </div>
</div>