<div class="row">
    <div class="col-md-8 article-content-left ">
        <p>{{ article.content|BBcode }}</p> 

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.purpose, 'title':'landmark.purpose','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.design, 'title':'landmark.design','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.entries, 'title':'landmark.entries','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.sensory, 'title':'landmark.sensory','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.denizens, 'title':'landmark.denizens','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.contents, 'title':'landmark.contents','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.valuables, 'title':'landmark.valuables','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.hazards, 'title':'landmark.hazards','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.properties, 'title':'landmark.properties','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.alterations, 'title':'landmark.alterations','locale': locale} only %}
        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.architecture, 'title':'landmark.architecture','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.history, 'title':'history','locale': locale} only %}

        {{ article.footnotes|BBcode }}
    </div>
    <div class="col-md-4">
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
        {{ render( controller('PresentationBundle:Default:maplist', {'article': article, 'template':'location'  }) ) }}

        <div class="panel panel-default">
            <div class="panel-body">
                {{ article.sidepanelcontenttop|BBcode }}
                {% if article.ruined|length > 0 %}
                    <div class="panel panel-danger">
                        <div class="panel-body text-center">
                            <strong class="text-danger">RUINED STRUCTURE</strong>
                            <br />
                            {{ article.ruined|BBcode }}
                        </div>
                    </div>
                {% endif %}
                <dl>
                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.alternativename, 'title':'alternativenames','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:typeRelation.html.twig' with {'value': article.type, 'title':'type','article': article,'locale': locale } only %}


                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {'value': article.parent, 'title':'landmark.parent','article': article,'locale': locale } only %}
 
                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.children, 'title':'landmark.children','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.effects, 'title':'landmark.effects','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.connectedRooms, 'title':'landmark.connectedrooms','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.professions, 'title':'landmark.professions','locale': locale } only %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {'value': article.person, 'title':'landmark.owner','article': article.person,'locale': locale } only %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {'value': article.organization, 'title':'landmark.organization','article': article.organization ,'locale': locale } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.contenders, 'title':'landmark.contenders','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.people, 'title': 'landmark.charactersinlocation','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.reportprimarylocations, 'title': 'landmark.reportprimarylocations','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.reportsecondarylocations, 'title': 'landmark.reportsecondarylocations','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.materials, 'title': 'landmark.materials','locale': locale} only %}

                </dl>
                {{ article.sidepanelcontent|BBcode }}
            </div>
        </div>
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}

    </div>
</div>