<div class="row">
    <div class="col-md-8 article-content-left ">
        <p>{{ article.content|BBcode }}</p>
        {% if article.alphabet|length > 0 %}
            <h3>{{ 'language.alphabet'|trans({},'presentation') }}</h3>
            <p>{{ article.alphabet|BBcode  }}</p>
        {% endif %}
        {% if article.geographicdistribution|length > 0 %}
            <h3>{{ 'language.geographical.distribution'|trans({},'presentation') }}</h3>
            <p>{{ article.geographicdistribution|BBcode  }}</p>
        {% endif %}
        {% if article.phonology|length > 0 %}
            <h3>{{ 'language.phonology'|trans({},'presentation') }}</h3>
            <p>{{ article.phonology|BBcode  }}</p>
        {% endif %}
        {% if article.morphology|length > 0 %}
            <h3>{{ 'language.morphology'|trans({},'presentation') }}</h3>
            <p>{{ article.morphology|BBcode  }}</p>
        {% endif %}
        {% if article.syntax|length > 0 %}
            <h3>{{ 'language.syntax'|trans({},'presentation') }}</h3>
            <p>{{ article.syntax|BBcode  }}</p>
        {% endif %}
        {% if article.vocabulary|length > 0 %}
            <h3>{{ 'language.vocabulary'|trans({},'presentation') }}</h3>
            <p>{{ article.vocabulary|BBcode  }}</p>
        {% endif %}
        {% if article.phonetics|length > 0 %}
            <h3>{{ 'language.phonetics'|trans({},'presentation') }}</h3>
            <p>{{ article.phonetics|BBcode  }}</p>
        {% endif %}
        {{ article.footnotes|BBcode }}

    </div>
    <div class="col-md-4">
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode }}</div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ article.sidepanelcontenttop|BBcode }}
                <dl>
                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.parents, 'title':'Root Languages'} only %}
                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.children, 'title':'Successor Languages'} only %}
                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.ethnicities, 'title':'Spoken by'} only %}

                    {% if article.phrases|length > 0 %}
                        <dt>{{ 'language.sidebar.common.phrases'|trans({},'presentation') }}</dt>
                        <dd>{{ article.phrases|BBcode  }}</dd>
                    {% endif %}
                    {% if article.femalenames|length > 0 %}
                        <dt>{{ 'language.sidebar.common.female.names'|trans({},'presentation') }}</dt>
                        <dd>{{ article.femalenames|BBcode  }}</dd>
                    {% endif %}
                    {% if article.malenames|length > 0 %}
                        <dt>{{ 'language.sidebar.common.male.names'|trans({},'presentation') }}</dt>
                        <dd>{{ article.malenames|BBcode  }}</dd>
                    {% endif %}
                    {% if article.unisexnames|length > 0 %}
                        <dt>{{ 'language.sidebar.common.unisex.names'|trans({},'presentation') }}</dt>
                        <dd>{{ article.unisexnames|BBcode  }}</dd>
                    {% endif %}
                    {{ article.sidepanelcontent|BBcode }}
                </dl>
            </div>
        </div>
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}
 
    </div>
</div>