<div class="row">
    <div class="col-md-8 article-content-left">
        <p>{{ article.content|BBcode }}</p>
        <div class="">
            {% if article.manifestation|length > 0 %}
                <h2>{{ 'law.manifestation'|trans({},'presentation') }}</h2>
                <p>{{ article.manifestation|BBcode  }}</p>
            {% endif %}
            {% if article.localization|length > 0 %}
                <h2>{{ 'law.localization'|trans({},'presentation') }}</h2>
                <p>{{ article.localization|BBcode  }}</p>
            {% endif %}  
            {{ article.footnotes|BBcode }}
        </div>
    </div>
    <div class="col-md-4">
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
        {% if article.sidepanelcontent|length > 0 or  article.sidepanelcontenttop|length > 0 or article.lawtype|length > 0  %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ article.sidepanelcontenttop|BBcode }}
                    <dl>
                        {% if article.lawtype|length > 0 %}
                            <dt>{{ 'law.type'|trans({},'presentation') }}</dt>
                            <dd>{{ article.lawtype }}</dd>
                        {% endif %}
                    </dl>
                    {{ article.sidepanelcontent|BBcode }}
                </div>
            </div>
        {% endif %}
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}

    </div>
</div>