<div class="row">
    <div class="col-md-8 article-content-left ">
        <p>{{ article.content|BBcode }}</p> 

        {% if article.characteristics|length > 0 or  article.properties|length > 0 or article.compounds|length > 0 or article.geo|length > 0 or  article.origin|length > 0 or article.halflife|length > 0 %}
            <h2>{{ 'material.properties'|trans({},'presentation' )}}</h2>

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.characteristics, 'title':'material.characteristics','locale': locale} only %}
            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.properties, 'title':'material.properties','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.compounds, 'title':'material.compounds','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.geo, 'title':'material.geo','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.origin, 'title':'material.origin','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.halflife, 'title':'material.halflife','locale': locale} only %}
        {% endif %}
        
        {% if article.history|length > 0 or  article.discovery|length > 0 or article.useCommon|length > 0 or  article.useCultural|length > 0 or article.useIndustrial|length > 0  or article.refinement|length > 0  or article.manufacturing|length > 0 or article.products|length > 0 or article.hazards|length > 0 or article.environment|length > 0 or article.reusability|length > 0  %}
            <h2>{{'material.history_usage'|trans({},'presentation')}}</h2>
            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.history, 'title':'history','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.discovery, 'title':'material.discovery','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.useCommon, 'title':'material.useCommon','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.useCultural, 'title':'material.useCultural','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.useIndustrial, 'title':'material.useIndustrial','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.refinement, 'title':'material.refinement','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.manufacturing, 'title':'material.manufacturing','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.products, 'title':'material.products','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.hazards, 'title':'material.hazards','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.environment, 'title':'material.environment','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.reusability, 'title':'material.reusability','locale': locale} only %}
        {% endif %}


        {% if article.market|length > 0 or  article.storage|length > 0  or article.regulation|length > 0 %}
            <h2>{{ 'material.distribution'|trans({},'presentation', locale )}}</h2>
            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.market, 'title':'material.market','locale': locale} only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.storage, 'title':'material.storage','locale': locale} only %}
            
            {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.regulation, 'title':'material.regulations','locale': locale} only %}
        {% endif %}

        

        {{ article.footnotes|BBcode }}
    </div>
    <div class="col-md-4">

        {% if article.elementAbbreviation|length > 0 %}
            <div class="chemical-element-container chemical-element">
                <h1><sup>{{article.elementNumber}}</sup>{{ article.elementAbbreviation}}</h1>
                <small>{{ article.elementWeight}}</small>
            </div>
        {% endif %}

        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
        {{ render( controller('PresentationBundle:Default:maplist', {'article': article, 'template':'location'  }) ) }}

        <div class="panel panel-default">
            <div class="panel-body">
                {{ article.sidepanelcontenttop|BBcode }}
                <dl>
                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.type, 'title':'type','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.value, 'title':'material.value','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.rarity, 'title':'material.rarity','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.odor, 'title':'material.odor','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.taste, 'title':'material.taste','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.colour, 'title':'material.color','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.meltingpoint, 'title':'material.boiling','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.freezingpoint, 'title':'material.melting','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.density, 'title':'material.density','locale': locale} only %}
                    {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.commonState, 'title':'material.commonState','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.locations, 'title':'material.locations','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.species, 'title':'material.species','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.items, 'title':'material.items','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.technologies, 'title':'material.technologies','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.professions, 'title':'material.professions','locale': locale} only %}


                </dl>
                {{ article.sidepanelcontent|BBcode }}
            </div>
        </div>
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}

    </div>
</div>