<div class="row">
    <div class="col-md-8 article-content-left ">
        <p>{{ article.content|BBcode }}</p> 
         {% if article.structure|length > 0 %}
            <h2>{{ 'organisation.structure'|trans({},'presentation') }}</h2>
            <div>{{ article.structure|BBcode }}</div>
        {% endif %}
        {% if article.publicAgenda|length > 0 %}
            <h2>{{ 'organisation.public_agenda'|trans({},'presentation') }}</h2>
            <div>{{ article.publicAgenda|BBcode }}</div>
        {% endif %}
        {% if article.assets|length > 0 %}
            <h2>{{ 'organisation.assets'|trans({},'presentation') }}</h2>
            <div>{{ article.assets|BBcode }}</div>
        {% endif %}

        {% if article.history|length > 0 %}
            <h2>{{ 'organisation.history'|trans({},'presentation') }}</h2>
            <div>{{ article.history|BBcode }}</div>
        {% endif %}
        {% if article.disbandment|length > 0 %}
            <h2>{{ 'organisation.disbandment'|trans({},'presentation') }}</h2>
            <div>{{ article.disbandment|BBcode }}</div>
        {% endif %}
        {% if article.demographics|length > 0 %}
            <h2>{{ 'organisation.demography_and_population'|trans({},'presentation') }}</h2>
            <div>{{ article.demographics|BBcode }}</div>
        {% endif %}
        {% if article.territory|length > 0 %}
            <h2>{{ 'organisation.territories'|trans({},'presentation') }}</h2>
            <div>{{ article.territory|BBcode }}</div>
        {% endif %}
        {% if article.military|length > 0 %}
            <h2>{{ 'organisation.military'|trans({},'presentation') }}</h2>
            <div>{{ article.military|BBcode }}</div>
        {% endif %}
        {% if article.technology|length > 0 %}
            <h2>{{ 'organisation.technological_level'|trans({},'presentation') }}</h2>
            <div>{{ article.technology|BBcode }}</div>
        {% endif %}
        {% if article.religion|length > 0 %}
            <h2>{{ 'organisation.religion'|trans({},'presentation') }}</h2>
            <div>{{ article.religion|BBcode }}</div>
        {% endif %}
        {% if article.foreignrelations|length > 0 %}
            <h2>{{ 'organisation.foreign_relations'|trans({},'presentation') }}</h2>
            <div>{{ article.foreignrelations|BBcode }}</div>
        {% endif %}
        {% if article.agricultureAndIndustry|length > 0 %}
            <h2>{{ 'organisation.agriculture_industry'|trans({},'presentation') }}</h2>
            <div>{{ article.agricultureAndIndustry|BBcode }}</div>
        {% endif %}
        {% if article.tradeAndTransport|length > 0 %}
            <h2>{{ 'organisation.trade_transport'|trans({},'presentation') }}</h2>
            <div>{{ article.tradeAndTransport|BBcode }}</div>
        {% endif %}
        {% if article.education|length > 0 %}
            <h2>{{ 'organisation.education'|trans({},'presentation') }}</h2>
            <div>{{ article.education|BBcode }}</div>
        {% endif %}
        {% if article.infrastructure|length > 0 %}
            <h2>{{ 'organisation.infrastructure'|trans({},'presentation') }}</h2>
            <div>{{ article.infrastructure|BBcode }}</div>
        {% endif %}


        {% if article.mythos|length > 0 %}
            <h2>{{ 'organisation.mythology_lore'|trans({},'presentation') }}</h2>
            <div>{{ article.mythos|BBcode }}</div>
        {% endif %}
        {% if article.origins|length > 0 %}
            <h2>{{ 'organisation.divine_origins'|trans({},'presentation') }}</h2>
            <div>{{ article.origins|BBcode }}</div>
        {% endif %}
        {% if article.cosmology|length > 0 %}
            <h2>{{ 'organisation.cosmological_views'|trans({},'presentation') }}</h2>
            <div>{{ article.cosmology|BBcode }}</div>
        {% endif %}
        {% if article.tenets|length > 0 %}
            <h2>{{ 'organisation.tenets_of_faith'|trans({},'presentation') }}</h2>
            <div>{{ article.tenets|BBcode }}</div>
        {% endif %}
        {% if article.ethics|length > 0 %}
            <h2>{{ 'organisation.ethics'|trans({},'presentation') }}</h2>
            <div>{{ article.ethics|BBcode }}</div>
        {% endif %}
        {% if article.worship|length > 0 %}
            <h2>{{ 'organisation.worship'|trans({},'presentation') }}</h2>
            <div>{{ article.worship|BBcode }}</div>
        {% endif %}
        {% if article.priesthood|length > 0 %}
            <h2>{{ 'organisation.priesthood'|trans({},'presentation') }}</h2>
            <div>{{ article.priesthood|BBcode }}</div>
        {% endif %}
        {% if article.divinepowers|length > 0 %}
            <h2>{{ 'organisation.granted_divine_powers'|trans({},'presentation') }}</h2>
            <div>{{ article.divinepowers|BBcode }}</div>
        {% endif %}
        {% if article.intrigue|length > 0 %}
            <h2>{{ 'organisation.political_influence_intrigue'|trans({},'presentation') }}</h2>
            <div>{{ article.intrigue|BBcode }}</div>
        {% endif %}
        {% if article.sects|length > 0 %}
            <h2>{{ 'organisation.sects'|trans({},'presentation') }}</h2>
            <div>{{ article.sects|BBcode }}</div>
        {% endif %}

        {{ article.footnotes|BBcode }}
    </div>
    <div class="col-md-4">
        {% if article.disbandment|length > 0 %}
            <p>
                <strong class="text-danger">{{ 'organisation.disbanded_dissolved'|trans({},'presentation') }}</strong>
            </p>
        {% endif %}

        {% if article.flag %}
            <img class="img-fluid img-responsive m-b-20" src="{{ asset( article.flag.path ~ '/' ~  article.flag.filename)| imagine_filter('sidebar') }}" alt="">
        {% endif %}
        {% if article.motto %}
            <div class="organization-motto text-center">
                <h4><em>{{ article.motto|BBcode }}</em> </h4>
            </div>
        {% endif %}
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
        {# {{ render( controller('PresentationBundle:Default:maplist', {'article': article, 'template':'organization' }) ) }} #}

        <div class="panel panel-default">
            <div class="panel-body">
                {{ article.sidepanelcontenttop|BBcode }}
                <dl>
                    {% if article.foundingDate|length > 0 and article.dissolutionDate|length > 0 %}
                        <div class="panel-body text-center organization-lifespan-dates    ">
                            <h4>{{ article.foundingDate|BBcode }} - {{ article.dissolutionDate|BBcode }}</h4>
                        </div>
                    {% else %}
                        {% if article.foundingDate|length > 0 %}
                            <dt>{{ 'organisation.founding_date'|trans({},'presentation') }}</dt>
                            <dd>{{ article.foundingDate|BBcode }}</dd>
                        {% endif %}
                        {% if article.dissolutionDate|length > 0 %}
                            <dt>{{ 'organisation.dissolution_date'|trans({},'presentation') }}</dt>
                            <dd>{{ article.dissolutionDate|BBcode }}</dd>
                        {% endif %}
                    {% endif %}
                    {% if article.type|length > 0 %}
                        <dt>{{ 'organisation.type'|trans({},'presentation') }}</dt>
                        <dd>{{ article.type }}</dd>
                    {% endif %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.capital, 
                        'title':'organisation.capital',
                        'article': article,'locale': locale 
                    } only %}
                    
                    {% if article.alternativeNames|length > 0 %}
                        <dt>{{ 'organisation.alternative_names'|trans({},'presentation') }}</dt>
                        <dd>{{ article.alternativeNames|BBcode }}</dd>
                    {% endif %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.formation, 
                        'title':'organisation.formation_type',
                        'article': article,'locale': locale 
                    } only %}

                    {% if article.trainingLevel|length > 0 %}
                        <dt>{{ 'organisation.training_level'|trans({},'presentation') }}</dt>
                        <dd>{{ article.trainingLevel|BBcode }}</dd>
                    {% endif %}
                    {% if article.veterancy|length > 0 %}
                        <dt>{{ 'organisation.veterancy_level'|trans({},'presentation') }}</dt>
                        <dd>{{ article.veterancy|BBcode }}</dd>
                    {% endif %}

                    {% if article.demonym|length > 0 %}
                        <dt>{{ 'organisation.demonym'|trans({},'presentation') }}</dt>
                        <dd>{{ article.demonym|BBcode }}</dd>
                    {% endif %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.leader, 
                        'title':'organisation.leader',
                        'article': article,'locale': locale 
                    } only %}
   
                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.headofstate, 
                        'title':'organisation.head_of_state',
                        'article': article,'locale': locale 
                    } only %}
          
                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.headofgovernment, 
                        'title':'organisation.head_of_government',
                        'article': article,'locale': locale 
                    } only %}


                    
                    {% if article.governmentsystem|length > 0 %}
                        <dt>{{ 'organisation.government_system'|trans({},'presentation') }}</dt>
                        <dd>{{ article.governmentsystem|BBcode }}</dd>
                    {% endif %}                    
                    {% if article.powerstructure|length > 0 %}
                        <dt>{{ 'organisation.power_structure'|trans({},'presentation') }}</dt>
                        <dd>{{ article.powerstructure|BBcode }}</dd>
                    {% endif %}                    
                    {% if article.economicsystem|length > 0 %}
                        <dt>{{ 'organisation.economic_system'|trans({},'presentation') }}</dt>
                        <dd>{{ article.economicsystem|BBcode }}</dd>
                    {% endif %}                    
                    {% if article.currency|length > 0 %}
                        <dt>{{ 'organisation.currency'|trans({},'presentation') }}</dt>
                        <dd>{{ article.currency|BBcode }}</dd>
                    {% endif %}                                     
                    {% if article.exports|length > 0 %}
                        <dt>{{ 'organisation.major_exports'|trans({},'presentation') }}</dt>
                        <dd>{{ article.exports|BBcode }}</dd>
                    {% endif %}  
                    {% if article.imports|length > 0 %}
                        <dt>{{ 'organisation.major_imports'|trans({},'presentation') }}</dt>
                        <dd>{{ article.imports|BBcode }}</dd>
                    {% endif %}                  
                    {% if article.legislative|length > 0 %}
                        <dt>{{ 'organisation.legislative_body'|trans({},'presentation') }}</dt>
                        <dd>{{ article.legislative|BBcode }}</dd>
                    {% endif %}               
                    {% if article.judicial|length > 0 %}
                        <dt>{{ 'organisation.judicial_body'|trans({},'presentation') }}</dt>
                        <dd>{{ article.judicial|BBcode }}</dd>
                    {% endif %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {'value': article.parent, 'title':'organisation.parent_organization','article': article,'locale': locale } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.children, 'title': 'organisation.subsidiary_organizations','locale': locale} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.permeatedOrganizations, 'title': 'organisation.permeated_organizations','locale': locale} only %}


                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.deities, 'title':'Deities'} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.divines, 
                        'title': 'organisation.divines',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.geographicLocation, 
                        'title':'organisation.location',
                        'article': article,'locale': locale 
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.languages, 
                        'title': 'organisation.official_languages',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.organizationranks, 
                        'title': 'organisation.related_ranks_titles',
                        'locale': locale
                    } only %}
                    
                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.professions, 'title':'Related Professions'} only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.locations, 
                        'title': 'organisation.controlled_territories',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.neighbors, 
                        'title': 'organisation.neighboring_nations',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.manufactureditems, 
                        'title': 'organisation.manufactured_items',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.items, 
                        'title': 'organisation.related_items',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.vehicles, 
                        'title': 'organisation.organization_vehicles',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.people, 
                        'title': 'organisation.notable_members',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.ethnicities, 
                        'title': 'organisation.related_ethnicities',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.myths, 
                        'title': 'organisation.related_myths',
                        'locale': locale
                    } only %}

                </dl>
                {{ article.sidepanelcontent|BBcode }}
            </div>
        </div>
        {{ article.sidebarcontentbottom|BBcode }}
        {{ render( controller('PresentationBundle:Default:OrganizationRelations', {'article': article }) ) }}
        {% include('advert-sidebar.html.twig') %}
    </div>
</div>