<div class="row ">
        <div class="col-md-8 article-content-left ">
            {% if article.firstname|length > 0 or article.honorific|length > 0  or article.middlename|length > 0  or article.lastname|length > 0  or article.nickname|length > 0  %}
                <h3>
                    {{ article.honorific|BBcode }} {{ article.firstname|BBcode }} {{ article.middlename|BBcode }} {{ article.lastname|BBcode }} 
                    {% if article.nickname|length > 0 %}
                        ( a.k.a. {{article.nickname|BBcode}} )
                    {% endif %}
                </h3>
            {% endif %}
            <p>{{ article.content|BBcode }}</p>
            {# Divine #}
            {% if 
                article.domains|length > 0  or 
                article.codes|length > 0  or 
                article.holysymbols|length > 0  or 
                article.tenets|length > 0  or 
                article.goals|length > 0  or 
                article.holidays|length > 0 
            %}
                {% if article.domains|length > 0 %}
                    <h3>{{ 'person.divine_domains'|trans({},'presentation') }}</h3>
                    <p>{{ article.domains|BBcode }}</p>
                {% endif %}
                {% if article.codes|length > 0 %}
                    <h3>{{ 'person.holy_books_codes'|trans({},'presentation') }}</h3>
                    <p>{{ article.codes|BBcode }}</p>
                {% endif %}
                {% if article.holysymbols|length > 0 %}
                    <h3>{{ 'person.divine_symbols_sigils'|trans({},'presentation') }}</h3>
                    <p>{{ article.holysymbols|BBcode }}</p>
                {% endif %}
                {% if article.tenets|length > 0 %}
                    <h3>{{ 'person.tenets_faith'|trans({},'presentation') }}</h3>
                    <p>{{ article.tenets|BBcode }}</p>
                {% endif %}
                {% if article.holidays|length > 0 %}
                    <h3>{{ 'person.holidays'|trans({},'presentation') }}</h3>
                    <p>{{ article.holidays|BBcode }}</p>
                {% endif %}
                {% if article.goals|length > 0 %}
                    <h3>{{ 'person.divine_goals_aspirations'|trans({},'presentation') }} </h3>
                    <p>{{ article.goals|BBcode }}</p>
                {% endif %}
            {% endif %}
            {# Physical #}
            {% if 
                article.physique|length > 0 or
                article.bodyFeatures|length > 0  or
                article.facialFeatures|length > 0 or
                article.identifyingCharacteristics|length > 0 or
                article.quirksPhysical|length > 0 or
                article.perceptionPhysical|length > 0 or
                article.specialAbilities|length > 0 or
                article.clothing|length > 0 or
                article.items|length > 0
            %}
                <h2>{{ 'person.physical_description'|trans({},'presentation') }} </h2>
                {% if article.physique|length > 0 %}
                    <h3>{{ 'person.general_condition'|trans({},'presentation') }} </h3>
                    <p>{{ article.physique|BBcode }}</p>
                {% endif %}
                {% if article.bodyFeatures|length > 0 %}
                    <h3>{{ 'person.body_features'|trans({},'presentation') }} </h3>
                    <p>{{ article.bodyFeatures|BBcode }}</p>
                {% endif %}
                {% if article.facialFeatures|length > 0 %}
                    <h3>{{ 'person.facial_features'|trans({},'presentation')}} </h3>
                    <p>{{ article.facialFeatures|BBcode }}</p>
                {% endif %}
                {% if article.identifyingCharacteristics|length > 0 %}
                    <h3>{{ 'person.identifying_characteristics'|trans({},'presentation') }}</h3>
                    <p>{{ article.identifyingCharacteristics|BBcode }}</p>
                {% endif %}
                {% if article.quirksPhysical|length > 0 %}
                    <h3>{{ 'person.physical_quirks'|trans({},'presentation') }}</h3>
                    <p>{{ article.quirksPhysical|BBcode }}</p>
                {% endif %}
                {% if article.perceptionPhysical|length > 0 %}
                    <h3>{{ 'person.sensory_perception'|trans({},'presentation') }}</h3>
                    <p>{{ article.perceptionPhysical|BBcode }}</p>
                {% endif %}
                {% if article.specialAbilities|length > 0 %}
                    <h3>{{ 'person.special_abilities'|trans({},'presentation') }}</h3>
                    <p>{{ article.specialAbilities|BBcode }}</p>
                {% endif %}
                {% if article.clothing|length > 0 %}
                    <h3>{{ 'person.clothing_apparel_accessories'|trans({},'presentation') }}</h3>
                    <p>{{ article.clothing|BBcode }}</p>
                {% endif %}
                {% if article.items|length > 0 %}
                    <h3>{{ 'person.items_specialized_equipment'|trans({},'presentation') }}</h3>
                    <p>{{ article.items|BBcode }}</p>
                {% endif %}
            {% endif %}
            {# Mental #}
            {% if 
                article.history|length > 0 or
                article.employment|length > 0 or
                article.achievements|length > 0  or
                article.failures|length > 0  or
                article.mentalTraumas|length > 0 or
                article.intellectualCharacteristics|length > 0 or
                article.morality|length > 0 or
                article.taboos|length > 0 or
                article.education|length > 0
            %}
                <h2>{{ 'person.mental_characteristics'|trans({},'presentation') }}</h2>
                {% if article.history|length > 0 %}
                    <h3>{{ 'person.personal_history'|trans({},'presentation') }}</h3>
                    <p>{{ article.history|BBcode }}</p>
                {% endif %}
                {% if article.education|length > 0 %}
                    <h3>{{ 'person.education'|trans({},'presentation') }}</h3>
                    <p>{{ article.education|BBcode }}</p>
                {% endif %}
                {% if article.employment|length > 0 %}
                    <h3>{{ 'person.employment'|trans({},'presentation')}}</h3>
                    <p>{{ article.employment|BBcode }}</p>
                {% endif %}
                {% if article.achievements|length > 0 %}
                    <h3>{{ 'person.accomplishments_achievements'|trans({},'presentation') }}</h3>
                    <p>{{ article.achievements|BBcode }}</p>
                {% endif %}
                {% if article.failures|length > 0 %}
                    <h3>{{ 'person.failures_embarrassments'|trans({},'presentation') }}</h3>
                    <p>{{ article.failures|BBcode }}</p>
                {% endif %}
                {% if article.mentalTraumas|length > 0 %}
                    <h3>{{ 'person.mental_trauma'|trans({},'presentation') }}</h3>
                    <p>{{ article.mentalTraumas|BBcode }}</p>
                {% endif %}
                {% if article.intellectualCharacteristics|length > 0 %}
                    <h3>{{ 'person.intellectual_characteristics'|trans({},'presentation') }}</h3>
                    <p>{{ article.intellectualCharacteristics|BBcode }}</p>
                {% endif %}
                {% if article.morality|length > 0 %}
                    <h3>{{ 'person.morality_philosophy'|trans({},'presentation') }}</h3>
                    <p>{{ article.morality|BBcode }}</p>
                {% endif %}
                {% if article.taboos|length > 0 %}
                    <h3>{{ 'person.taboos'|trans({},'presentation') }}</h3>
                    <p>{{ article.taboos|BBcode }}</p>
                {% endif %}

            {% endif %}

            {# Personality #}
            {% if 
                article.motivation|length > 0  or
                article.savviesIneptitudes|length > 0 or
                article.likesDislikes|length > 0 or
                article.virtues|length > 0 or
                article.vices|length > 0  or
                article.quirksPersonality|length > 0  or
                article.hygiene|length > 0 
            %}
                <h2>{{ 'person.personality_characteristics'|trans({},'presentation') }}</h2>
            {% endif %}
            {% if article.motivation|length > 0 %}
                <h3>{{ 'person.motivation'|trans({},'presentation') }}</h3>
                <p>{{ article.motivation|BBcode }}</p>
            {% endif %}
            {% if article.savviesIneptitudes|length > 0 %}
                <h3>{{ 'person.savvies_ineptitudes'|trans({},'presentation') }}</h3>
                <p>{{ article.savviesIneptitudes|BBcode }}</p>
            {% endif %}
            {% if article.likesDislikes|length > 0 %}
                <h3>{{ 'person.likes_dislikes'|trans({},'presentation') }}</h3>
                <p>{{ article.likesDislikes|BBcode }}</p>
            {% endif %}
            {% if article.virtues|length > 0 %}
                <h3>{{ 'person.virtues_personality_perks'|trans({},'presentation') }}</h3>
                <p>{{ article.virtues|BBcode }}</p>
            {% endif %}
            {% if article.vices|length > 0 %}
                <h3>{{ 'person.vices_personality_flaws'|trans({},'presentation') }}</h3>
                <p>{{ article.vices|BBcode }}</p>
            {% endif %}
            {% if article.quirksPersonality|length > 0 %}
                <h3>{{ 'person.personality_quirks'|trans({},'presentation') }}</h3>
                <p>{{ article.quirksPersonality|BBcode }}</p>
            {% endif %}
            {% if article.hygiene|length > 0 %}
                <h3>{{ 'person.hygiene'|trans({},'presentation') }}</h3>
                <p>{{ article.hygiene|BBcode }}</p>
            {% endif %}
            {# Social #}
            {% if 
                article.religion|length > 0 or 
                article.socialAptitude|length > 0  or
                article.mannerisms|length > 0  or
                article.hobbies|length > 0 or
                article.speech|length > 0 or
                article.relations|length > 0 or
                article.family|length > 0
            %}
                <h2>{{ 'person.social'|trans({},'presentation') }}</h2>
            {% endif %}
            {% if article.relations|length > 0 %}
                <h3>{{ 'person.contacts_relations'|trans({},'presentation') }}</h3>
                <p>{{ article.relations|BBcode }}</p>
            {% endif %}
            {% if article.family|length > 0 %}
                <h3>{{ 'person.family_ties'|trans({},'presentation') }}</h3>
                <p>{{ article.family|BBcode }}</p>
            {% endif %}
            {% if article.religion|length > 0 %}
                <h3>{{ 'person.religious_views'|trans({},'presentation') }}</h3>
                <p>{{ article.religion|BBcode }}</p>
            {% endif %}
            {% if article.socialAptitude|length > 0 %}
                <h3>{{'person.social_aptitude'|trans({},'presentation') }}</h3>
                <p>{{ article.socialAptitude|BBcode }}</p>
            {% endif %}
            {% if article.mannerisms|length > 0 %}
                <h3>{{ 'person.mannerisms'|trans({},'presentation') }} </h3>
                <p>{{ article.mannerisms|BBcode }}</p>
            {% endif %}
            {% if article.hobbies|length > 0 %}
                <h3> {{'person.hobbies_pets'|trans({},'presentation') }}</h3>
                <p>{{ article.hobbies|BBcode }}</p>
            {% endif %}
            {% if article.speech|length > 0 %}
                <h3>{{ 'person.speech'|trans({},'presentation') }} </h3>
                <p>{{ article.speech|BBcode }}</p>
            {% endif %}
            {{ render( controller('PresentationBundle:Default:CharacterRelations', {'article': article }) ) }}

            {# Wealth #}
            {% if article.wealth|length > 0 %}
                <h2>{{ 'person.wealth_financial_state'|trans({},'presentation') }}</h2>
                <p>{{ article.wealth|BBcode }}</p>
            {% endif %}
            {# Datasheet #}
            {% if article.datasheet|length > 0 %}
                <h2>{{'person.rpg_character_sheet'|trans({},'presentation') }} </h2>
                <p>{{ article.datasheet|BBcode }}</p>
            {% endif %}
            {{ article.footnotes|BBcode }}
        </div>
        <div class="col-md-4">

            {% if article.character %}
                {% if article.character.portrait %}
                    <img src="{{ asset( article.character.portrait.path ~ '/' ~  article.character.portrait.filename) }}" class="img-responsive img-fluid"/>
                {% elseif article.portrait %}
                    <img class="img-fluid img-responsive m-b-20" src="{{ asset( article.portrait.path ~ '/' ~  article.portrait.filename) }}" alt="">
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if article.character.bio %}
                            <p>{{ article.character.bio }}</p>
                        {% endif %}
                        <dl>

                            {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                                'value': article.character.location, 
                                'title':'Character Location',
                                'article': article,'locale': locale 
                            } only %}

                            {% if article.character.locationText and  article.character.location is null %}
                                <dt>Current Location</dt>
                                <dd>
                                   {{ article.character.locationText }}
                                </dd>
                            {% endif %}
                        </dl>

                    </div>
                </div>

            {% elseif article.portrait %}
                <img class="img-fluid img-responsive m-b-20" src="{{ asset( article.portrait.path ~ '/' ~  article.portrait.filename)| imagine_filter('sidebar') }}" alt="">
            {% endif %}

            {% if article.sidebarcontent|length > 0 %}
                <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ article.sidepanelcontenttop|BBcode }}
                    <dl>

                        {% if article.classification|length > 0 %}
                            <dt>{{ 'person.divine_classification'|trans({},'presentation') }}</dt>
                            <dd>{{ article.classification|BBcode }}</dd>
                        {% endif %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.religions, 'title':'Pantheons'} only %}


                       {% if article.rpgAlignment %}
                            <dt>{{ 'person.alignment'|trans({},'presentation') }}</dt>
                            <dd>
                                {{ article.rpgAlignment }}
                            </dd>
                        {% endif %}



                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.currentLocation, 
                            'title':'person.current_location',
                            'article': article,'locale': locale 
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {'value': article.species, 'title':'person.species','article': article,'locale': locale } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.conditions, 
                            'title': 'person.conditions',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.ethnicity, 
                            'title':'person.ethnicity',
                            'article': article,'locale': locale 
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.realm, 
                            'title':'person.realm',
                            'article': article,'locale': locale 
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.church, 
                            'title':'person.church_cult',
                            'article': article,'locale': locale 
                        } only %}

                        {% if article.titles|length > 0 %}
                            <dt>{{ 'person.honorary_occupational_titles'|trans({},'presentation') }}</dt>
                            <dd>{{ article.titles|BBcode }}</dd>
                        {% endif %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.professions, 'title':'Professions'} only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.currentRanks, 
                            'title': 'person.currently_held_titles',
                            'locale': locale
                        } only %}

                        {% if article.dob|length > 0 %}
                            {% if article.dod|length > 0 %}
                                <dt>{{ 'person.life'|trans({},'presentation') }}</dt>
                                <dd>{{ article.dob }} - {{ article.dod }}
                                    {% if article.world.timeCurrentYear|length > 0 %}
                                        (Died {{ article.dod - article.dob  }} years old)
                                    {% endif %}
                                </dd>
                            {% else %}
                                <dt>{{'person.year_of_birth'|trans({},'presentation') }}</dt>
                                <dd>{{ article.dob }}
                                    {% if article.world.timeCurrentYear|length > 0 %}
                                        ({{ article.world.timeCurrentYear - article.dob }} years old)
                                    {% endif %}
                                </dd>
                            {% endif %}
                        {% endif %}

                        {% if article.circumstancesBirth|length > 0 %}
                            <dt>{{ 'person.circumstances_of_birth'|trans({},'presentation') }}</dt>
                            <dd>{{ article.circumstancesBirth|BBcode }}</dd>
                        {% endif %}
                        {% if article.circumstancesDeath|length > 0 %}
                            <dt>{{ 'person.circumstances_of_death'|trans({},'presentation') }}</dt>
                            <dd>{{ article.circumstancesDeath|BBcode }}</dd>
                        {% endif %}

                        {% if article.birthplace|length > 0 %}
                            <dt>{{ 'person.birthplace'|trans({},'presentation') }}</dt>
                            <dd>{{ article.birthplace|BBcode }}</dd>
                        {% endif %}
                        {% if article.residence|length > 0 %}
                            <dt>{{ 'person.current_residence'|trans({},'presentation') }}</dt>
                            <dd>{{ article.residence|BBcode }}</dd>
                        {% endif %}
                        {% if article.gender|length > 0 %}
                            <dt>{{ 'person.biological_sex'|trans({},'presentation') }}</dt>
                            <dd>{{ article.gender|BBcode }}</dd>
                        {% endif %}
                        {% if article.sexuality|length > 0 %}
                            <dt>{{ 'person.sexuality'|trans({},'presentation') }}</dt>
                            <dd>{{ article.sexuality|BBcode }}</dd>
                        {% endif %}
                        {% if article.genderidentity|length > 0 %}
                            <dt>{{ 'person.gender_identity'|trans({},'presentation') }}</dt>
                            <dd>{{ article.genderidentity|BBcode }}</dd>
                        {% endif %}
                        {% if article.eyes|length > 0 %}
                            <dt>{{ 'person.eyes'|trans({},'presentation') }}</dt>
                            <dd>{{ article.eyes|BBcode }}</dd>
                        {% endif %}
                        {% if article.hair|length > 0 %}
                            <dt>{{ 'person.hair'|trans({},'presentation') }}</dt>
                            <dd>{{ article.hair|BBcode }}</dd>
                        {% endif %}
                        {% if article.skin|length > 0 %}
                            <dt>Skin Tone</dt>
                            <dd>{{ article.skin|BBcode }}</dd>
                        {% endif %}
                        {% if article.height|length > 0 %}
                            <dt>{{'person.height'|trans({},'presentation') }}</dt>
                            <dd>{{ article.height|BBcode }}</dd>
                        {% endif %}
                        {% if article.weight|length > 0 %}
                            <dt>{{ 'person.weight'|trans({},'presentation') }}</dt>
                            <dd>{{ article.weight|BBcode }}</dd>
                        {% endif %}
                        {% if article.quotes|length > 0 %}
                            <dt>{{ 'person.quotes_catchphrases'|trans({},'presentation') }} </dt>
                            <dd>{{ article.quotes|BBcode }}</dd>
                        {% endif %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.vehicles, 'title':'Owned Vehicles'} only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.organization, 
                            'title':'person.aligned_organization',
                            'article': article,'locale': locale 
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.relatedorganizations, 
                            'title': 'person.other_affiliations',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.myths, 
                            'title': 'person.related_myths',
                            'locale': locale
                        } only %}

                        {% if article.languages|length > 0  %}
                            <dt>{{ 'person.known_languages'|trans({},'presentation') }}</dt>
                            <dd>{{ article.languages|BBcode }}</dd>
                        {% endif %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.proses, 
                            'title': 'person.appears_in',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.pastRanks, 
                            'title': 'person.previously_held_ranks_titles',
                            'locale': locale
                        } only %}

                        {% if article.characterPrototype|length > 0 %}
                            <dt>{{ 'person.character_prototype'|trans({},'presentation') }}</dt>
                            <dd>{{ article.characterPrototype|BBcode }}</dd>
                        {% endif %}
                    </dl>
                    {{ article.sidepanelcontent|BBcode }}
                </div>
            </div>
            {{ article.sidebarcontentbottom|BBcode }}
            {% include('advert-sidebar.html.twig') %}

        </div>
    </div>