<div class="row ">
    <div class="col-md-8 article-content-left ">
        {% if article.content|length > 0 %}
        	<h3>{{ 'plot.summary'|trans({},'presentation') }}</h3>
        	<p>{{ article.content|BBcode }}</p>
    	{% endif %}
        {% if article.scenes|length > 0 %}
        	<h3>{{ 'plot.plot_points_scenes'|trans({},'presentation') }}</h3>
        	<p>{{ article.scenes|BBcode }}</p>
    	{% endif %}
        {% if article.themes|length > 0 %}
        	<h3>{{ 'plot.themes'|trans({},'presentation')}}</h3>
        	<p>{{ article.themes|BBcode }}</p>
    	{% endif %}


		{% if article.exposition|length > 0 or article.conflict|length > 0 or article.risingaction|length > 0 or article.climax|length > 0 or article.fallingaction|length > 0 or article.resolution|length > 0%}
	    	<h2>{{ 'plot.structure'|trans({},'presentation') }}</h2>
	    {% endif %}
        {% if article.exposition|length > 0 %}
        	<h3>{{ 'plot.exposition'|trans({},'presentation') }}</h3>
        	<p>{{ article.exposition|BBcode }}</p>
    	{% endif %}
        {% if article.conflict|length > 0 %}
        	<h3>{{ 'plot.conflict'|trans({},'presentation') }}</h3>
        	<p>{{ article.conflict|BBcode }}</p>
    	{% endif %}
        {% if article.risingaction|length > 0 %}
        	<h3>{{ 'plot.rising_action'|trans({},'presentation') }}</h3>
        	<p>{{ article.risingaction|BBcode }}</p>
    	{% endif %}
        {% if article.climax|length > 0 %}
        	<h3>{{ 'plot.climax'|trans({},'presentation') }}</h3>
        	<p>{{ article.climax|BBcode }}</p>
    	{% endif %}
        {% if article.fallingaction|length > 0 %}
        	<h3>{{ 'plot.falling_action'|trans({},'presentation') }}</h3>
        	<p>{{ article.fallingaction|BBcode }}</p>
    	{% endif %}
        {% if article.resolution|length > 0 %}
        	<h3>{{ 'plot.resolution'|trans({},'presentation') }}</h3>
        	<p>{{ article.resolution|BBcode }}</p>
    	{% endif %}


		{% if article.goals|length > 0 or article.hooks|length > 0 or article.stakes|length > 0 or article.moralquandaries|length > 0 or article.crueltricks|length > 0 or article.redherrings|length > 0%}
	    	<h2>{{ 'plot.components'|trans({},'presentation') }}</h2>
	    {% endif %}
        {% if article.goals|length > 0 %}
        	<h3>{{ 'plot.goals'|trans({},'presentation') }}</h3>
        	<p>{{ article.goals|BBcode }}</p>
    	{% endif %}
        {% if article.hooks|length > 0 %}
        	<h3>{{ 'plot.hooks'|trans({},'presentation') }}</h3>
        	<p>{{ article.hooks|BBcode }}</p>
    	{% endif %}
        {% if article.stakes|length > 0 %}
        	<h3>{{ 'plot.stakes'|trans({},'presentation') }}</h3>
        	<p>{{ article.stakes|BBcode }}</p>
    	{% endif %}
        {% if article.moralquandaries|length > 0 %}
        	<h3>{{ 'plot.moral_quandaries'|trans({},'presentation') }}</h3>
        	<p>{{ article.moralquandaries|BBcode }}</p>
    	{% endif %}
        {% if article.crueltricks|length > 0 %}
        	<h3>{{ 'plot.cruel_tricks'|trans({},'presentation') }}</h3>
        	<p>{{ article.crueltricks|BBcode }}</p>
    	{% endif %}
        {% if article.redherrings|length > 0 %}
        	<h3>{{ 'plot.red_herrings'|trans({},'presentation') }}</h3>
        	<p>{{ article.redherrings|BBcode }}</p>
    	{% endif %}


		{% if article.protagonists|length > 0 or article.allies|length > 0 or article.neutrals|length > 0 or article.competitors|length > 0 or article.adversaries|length > 0 %}
	    	<h2>{{ 'plot.relations'|trans({},'presentation') }}</h2>
	    {% endif %}
        {% if article.protagonists|length > 0 %}
        	<h3>{{ 'plot.protagonists'|trans({},'presentation') }}</h3>
        	<p>{{ article.protagonists|BBcode }}</p>
    	{% endif %}
        {% if article.allies|length > 0 %}
        	<h3>{{ 'plot.allies'|trans({},'presentation') }}</h3>
        	<p>{{ article.allies|BBcode }}</p>
    	{% endif %}
        {% if article.neutrals|length > 0 %}
        	<h3>{{ 'plot.neutrals_bystanders'|trans({},'presentation') }}</h3>
        	<p>{{ article.neutrals|BBcode }}</p>
    	{% endif %}
        {% if article.competitors|length > 0 %}
        	<h3>{{ 'plot.competitors'|trans({},'presentation') }}</h3>
        	<p>{{ article.competitors|BBcode }}</p>
    	{% endif %}
        {% if article.adversaries|length > 0 %}
        	<h3>{{ 'plot.adversaries'|trans({},'presentation') }}</h3>
        	<p>{{ article.adversaries|BBcode }}</p>
    	{% endif %}


		{% if article.locations|length > 0 or article.threats|length > 0 or article.encounters|length > 0 or article.pastevents|length > 0 %}
    		<h2>{{ 'plot.backdrops'|trans({},'presentation') }}</h2>
    	{% endif %}
        {% if article.locations|length > 0 %}
        	<h3>{{ 'plot.locations'|trans({},'presentation') }}</h3>
        	<p>{{ article.locations|BBcode }}</p>
    	{% endif %}
        {% if article.threats|length > 0 %}
        	<h3>{{ 'plot.threats'|trans({},'presentation') }}</h3>
        	<p>{{ article.threats|BBcode }}</p>
    	{% endif %}
        {% if article.encounters|length > 0 %}
        	<h3>{{ 'plot.encounters'|trans({},'presentation') }}</h3>
        	<p>{{ article.encounters|BBcode }}</p>
    	{% endif %}
        {% if article.pastevents|length > 0 %}
        	<h3>{{ 'plot.past_events'|trans({},'presentation') }}</h3>
        	<p>{{ article.pastevents|BBcode }}</p>
    	{% endif %}


        {{ article.footnotes|BBcode }}


    </div>
    <div class="col-md-4">
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ article.sidepanelcontenttop|BBcode }}
                <dl>
                    {% if article.type|length > 0 %}
                        <dt>{{ 'plot.type'|trans({},'presentation') }}</dt>
                        <dd>{{ article.type|BBcode }}</dd>
                    {% endif %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.parent, 
                        'title':'plot.parent',
                        'article': article,'locale': locale 
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.children, 
                        'title': 'plot.subplots',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.relatedpeople, 
                        'title': 'plot.related_characters',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.relatedorganizations, 
                        'title': 'plot.related_organizations',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.relatedlocations, 
                        'title': 'plot.related_locations',
                        'locale': locale
                    } only %}

                </dl>
                {{ article.sidepanelcontent|BBcode }}
            </div>
        </div>
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}
 
    </div>
</div>