<div class="row">
    <div class="col-md-8 article-content-left ">
        {{ article.content|BBcode }}

		{% if article.qualifications|length > 0 or article.structure|length > 0  or article.pay|length > 0  or article.benefits|length > 0  %}
			<h2>{{ 'profession.career'|trans({},'presentation') }}</h2>
	        {% if article.qualifications|length > 0 %}
	            <h3>{{ 'profession.qualifications'|trans({},'presentation') }}</h3>
	            <p>{{ article.qualifications|BBcode }}</p>
	        {% endif %}
	        {% if article.structure|length > 0 %}
	            <h3>{{ 'profession.career_progression'|trans({},'presentation') }}</h3>
	            <p>{{ article.structure|BBcode }}</p>
	        {% endif %}
	        {% if article.pay|length > 0 %}
	            <h3>{{ 'profession.payment_&_reimbursement'|trans({},'presentation') }}</h3>
	            <p>{{ article.pay|BBcode }}</p>
	        {% endif %}
	        {% if article.benefits|length > 0 %}
	            <h3>{{ 'profession.other_benefits'|trans({},'presentation') }}</h3>
	            <p>{{ article.benefits|BBcode }}</p>
	        {% endif %}
		{% endif %}

		{% if article.purpose|length > 0 or article.socialStatus|length > 0  or article.demographics|length > 0  or article.history|length > 0  %}
			<h2>{{ 'profession.perception'|trans({},'presentation') }}</h2>
	        {% if article.purpose|length > 0 %}
	            <h3>{{ 'profession.purpose'|trans({},'presentation') }}</h3>
	            <p>{{ article.purpose|BBcode }}</p>
	        {% endif %}
	        {% if article.socialStatus|length > 0 %}
	            <h3>{{ 'profession.social_status'|trans({},'presentation') }}</h3>
	            <p>{{ article.socialStatus|BBcode }}</p>
	        {% endif %}
	        {% if article.demographics|length > 0 %}
	            <h3>{{ 'profession.demographics'|trans({},'presentation') }}</h3>
	            <p>{{ article.demographics|BBcode }}</p>
	        {% endif %}
	        {% if article.history|length > 0 %}
	            <h3>{{ 'profession.history'|trans({},'presentation') }}</h3>
	            <p>{{ article.history|BBcode }}</p>
	        {% endif %}
		{% endif %}

		{% if article.tools|length > 0 or article.materials|length > 0  or article.workplace|length > 0  or article.services|length > 0 or article.hazards|length > 0 %}
			<h2>{{ 'profession.operations'|trans({},'presentation') }}</h2>
	        {% if article.tools|length > 0 %}
	            <h3>{{ 'profession.tools'|trans({},'presentation') }}</h3>
	            <p>{{ article.tools|BBcode }}</p>
	        {% endif %}
	        {% if article.materials|length > 0 %}
	            <h3>{{ 'profession.materials'|trans({},'presentation') }}</h3>
	            <p>{{ article.materials|BBcode }}</p>
	        {% endif %}
	        {% if article.workplace|length > 0 %}
	            <h3>{{ 'profession.workplace'|trans({},'presentation') }}</h3>
	            <p>{{ article.workplace|BBcode }}</p>
	        {% endif %}
	        {% if article.services|length > 0 %}
	            <h3>{{ 'profession.provided_services'|trans({},'presentation') }}</h3>
	            <p>{{ article.services|BBcode }}</p>
	        {% endif %}
	        {% if article.hazards|length > 0 %}
	            <h3>{{ 'profession.dangers_&_hazards'|trans({},'presentation') }}</h3>
	            <p>{{ article.hazards|BBcode }}</p>
	        {% endif %}
		{% endif %}

        {{ article.footnotes|BBcode }}
    </div>
	<div class="col-md-4">
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
        {% if 
        	article.sidepanelcontenttop|length > 0 or 
        	article.sidepanelcontent|length > 0 or 
        	article.alternativeNames|length > 0 or 
        	article.type|length > 0 or 
        	article.demand|length > 0 or 
        	article.legality|length > 0 or 
        	article.holders|length > 0 or 
        	article.relatedprofessions|length > 0 or 
        	article.relatedlocations|length > 0 or 
	        article.relatedorganizations|length > 0 or 
	        article.relatedranks|length > 0 or 
	        article.relatedvehicles|length > 0 
        %}
	        <div class="panel panel-default">
	            <div class="panel-body">
	                {{ article.sidepanelcontenttop|BBcode }}
	                <dl>
	                    {% if article.alternativeNames|length > 0 %}
	                        <dt>{{ 'profession.alternative_names'|trans({},'presentation') }}</dt>
	                        <dd>{{ article.alternativeNames|BBcode }}</dd>
	                    {% endif %}
	                    {% if article.type|length > 0 %}
	                        <dt>{{ 'profession.type'|trans({},'presentation') }}</dt>
	                        <dd>{{ article.type }}</dd>
	                    {% endif %}
	                    {% if article.demand|length > 0 %}
	                        <dt>{{ 'profession.demand'|trans({},'presentation')}}</dt>
	                        <dd>{{ article.demand|BBcode }}</dd>
	                    {% endif %}
	                    {% if article.legality|length > 0 %}
	                        <dt>{{ 'profession.legality'|trans({},'presentation') }}</dt>
	                        <dd>{{ article.legality|BBcode }}</dd>
	                    {% endif %}

	                	{% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.holders, 'title':'Famous in the Field'} only %}
	                	{% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.relatedprofessions, 'title':'Associated Professions'} only %}
	                	{% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.relatedlocations, 'title':'Related Locations'} only %}
	                	{% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.relatedorganizations, 'title':'Used by'} only %}
	                	{% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.relatedranks, 'title':'Ranks & Titles'} only %}
	                	{% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.relatedvehicles, 'title':'Related Vehicles'} only %}
	                	{% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.rawmaterials, 'title':'Related Vehicles'} only %}
	                </dl>
	                {{ article.sidepanelcontent|BBcode }}
	            </div>
	        </div> 
    	{% endif %}
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}
 
    </div>
</div>