<div class="row">
    <div class="col-md-8 article-content-left">
        <p>{{ article.content|BBcode }}</p>
        {% if article.anatomy|length > 0  or article.genetics|length > 0 or article.ecology|length > 0 or  article.diet|length > 0  or  article.traits|length > 0 or  article.growthrate|length > 0 or  article.biocycle|length > 0 %}
            <h2>{{ 'species.Basic Information'|trans({},'presentation') }}</h2>
            <div class="">
                {% if article.anatomy|length > 0 %}
                    <h3>{{ 'species.anatomy'|trans({},'presentation') }} &amp; {{ 'species.morphology'|trans({},'presentation') }}</h3>
                    <p>{{ article.anatomy|BBcode }}</p>
                {% endif %}
                {% if article.traits|length > 0 %}
                    <h3>{{ 'species.biological_traits'|trans({},'presentation') }}</h3>
                    <p>{{ article.traits|BBcode  }}</p>
                {% endif %}
                {% if article.genetics|length > 0 %}
                    <h3>{{ 'species.genetics_and_reproduction'|trans({},'presentation') }}</h3>
                    <p>{{ article.genetics|BBcode  }}</p>
                {% endif %}
               {% if article.growthrate|length > 0 %}
                <h3>{{ 'species.growth_rate_stages'|trans({},'presentation') }}</h3>
                    <p>{{ article.growthrate|BBcode  }}</p>
                {% endif %}
                {% if article.ecology|length > 0 %}
                    <h3>{{ 'species.ecology_and_habitats'|trans({},'presentation') }}</h3>
                    <p>{{ article.ecology|BBcode  }}</p>
                {% endif %}
               {% if article.diet|length > 0 %}
                    <h3>{{ 'species.dietary_needs_and_habits'|trans({},'presentation') }}</h3>
                    <p>{{ article.diet|BBcode  }}</p>
                {% endif %}
               {% if article.biocycle|length > 0 %}
                    <h3>{{ 'species.biological_cycle'|trans({},'presentation') }}</h3>
                    <p>{{ article.biocycle|BBcode  }}</p>
                {% endif %}

            </div>
        {% endif %}
        {% if article.facialCharacteristics|length > 0 or article.geographicalOrigin|length > 0 or article.perception|length > 0 or article.symbiotic|length > 0 or article.uses|length > 0 or article.domestication|length > 0  or article.socialstructure|length > 0  or article.averageIntelligence|length > 0 %}
            <h2>{{ 'species.additional_information'|trans({},'presentation') }}</h2>
            <div class="">
               {% if article.socialstructure|length > 0 %}
                    <h3>{{ 'species.social_structure'|trans({},'presentation') }}</h3>
                    <p>{{ article.socialstructure|BBcode  }}</p>
                {% endif %}
               {% if article.domestication|length > 0 %}
                    <h3>{{ 'species.domestication'|trans({},'presentation') }}</h3>
                    <p>{{ article.domestication|BBcode  }}</p>
                {% endif %}
               {% if article.uses|length > 0 %}
                    <h3>{{ 'species.uses_products_exploitation'|trans({},'presentation') }}</h3>
                    <p>{{ article.uses|BBcode  }}</p>
                {% endif %}

                {% if article.facialCharacteristics|length > 0 %}
                    <h3>{{ 'species.facial_characteristics'|trans({},'presentation') }}</h3>
                    <p>{{ article.facialCharacteristics|BBcode  }}</p>
                {% endif %}
                {% if article.geographicalOrigin|length > 0 %}
                    <h3>{{ 'species.geographic_origin_and_distribution'|trans({},'presentation') }}</h3>
                    <p>{{ article.geographicalOrigin|BBcode  }}</p>
                {% endif %}
                {% if article.averageIntelligence|length > 0 %}
                    <h3>{{ 'species.average_intelligence'|trans({},'presentation') }}</h3>
                    <p>{{ article.averageIntelligence|BBcode  }}</p>
                {% endif %}
                {% if article.perception|length > 0 %}
                    <h3>{{ 'species.perception_and_sensory_capabilities'|trans({},'presentation') }}</h3>
                    <p>{{ article.perception|BBcode  }}</p>
                {% endif %}
                {% if article.symbiotic|length > 0 %}
                    <h3>{{ 'species.symbiotic_and_parasitic_organisms'|trans({},'presentation') }}</h3>
                    <p>{{ article.symbiotic|BBcode  }}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if  
            article.namingTraditions|length > 0 or
            article.majorOrganizations|length > 0  or
            article.beautyIdeals|length > 0 or 
            article.genderIdeals|length > 0 or 
            article.courtshipIdeals|length > 0  or 
            article.relationshipsIdeals|length > 0 or 
            article.technologicalLevel|length > 0 or 
            article.languages|length > 0 or 
            article.etiquette|length > 0 or 
            article.dresscode|length > 0  or 
            article.culture|length > 0  or 
            article.customs|length > 0  or 
            article.taboos|length > 0 or 
            article.mythsAndLegends|length > 0 or 
            article.historicalFigures|length > 0 or 
            article.history|length > 0 or 
            article.interspeciesRelations|length > 0 
         %}
            <h2>{{ 'species.civilization_and_culture'|trans({},'presentation') }}</h2>
            <div class="">
                {% if article.namingTraditions|length > 0 %}
                    <h3>{{ 'species.naming_traditions'|trans({},'presentation') }}</h3>
                    <p>{{ article.namingTraditions|BBcode  }}</p>
                {% endif %}
                {% if article.majorOrganizations|length > 0 %}
                    <h3>{{ 'species.major_organizations'|trans({},'presentation') }}</h3>
                    <p>{{ article.majorOrganizations|BBcode  }}</p>
                {% endif %}  
                {% if article.beautyIdeals|length > 0 %}
                    <h3>{{ 'species.beauty_ideals'|trans({},'presentation') }}</h3>
                    <p>{{ article.beautyIdeals|BBcode  }}</p>
                {% endif %}  
                {% if article.genderIdeals|length > 0 %}
                    <h3>{{ 'species.gender_ideals'|trans({},'presentation') }}</h3>
                    <p>{{ article.genderIdeals|BBcode  }}</p>
                {% endif %}  
                {% if article.courtshipIdeals|length > 0 %}
                    <h3>{{ 'species.courtship_ideals'|trans({},'presentation') }}</h3>
                    <p>{{ article.courtshipIdeals|BBcode  }}</p>
                {% endif %} 
                {% if article.relationshipsIdeals|length > 0 %}
                    <h3>{{ 'species.relationship_ideals'|trans({},'presentation') }}</h3>
                    <p>{{ article.relationshipsIdeals|BBcode  }}</p>
                {% endif %} 
                {% if article.technologicalLevel|length > 0 %}
                    <h3>{{ 'species.average_technological_level'|trans({},'presentation') }}</h3>
                    <p>{{ article.technologicalLevel|BBcode  }}</p>
                {% endif %} 
                {% if article.languages|length > 0 %}
                    <h3>{{ 'species.major_language_groups_dialects'|trans({},'presentation') }}</h3>
                    <p>{{ article.languages|BBcode  }}</p>
                {% endif %} 
                {% if article.etiquette|length > 0 %}
                    <h3>{{ 'species.common_etiquette_rules'|trans({},'presentation') }}</h3>
                    <p>{{ article.etiquette|BBcode  }}</p>
                {% endif %} 
                {% if article.dresscode|length > 0 %}
                    <h3>{{ 'species.common_dress_code'|trans({},'presentation') }}</h3>
                    <p>{{ article.dresscode|BBcode  }}</p>
                {% endif %}
                {% if article.culture|length > 0 %}
                    <h3>{{ 'species.culture_and_cultural_heritage'|trans({},'presentation') }}</p></h3>
                    <p>{{ article.culture|BBcode  }}</p>
                {% endif %}
                {% if article.customs|length > 0 %}
                    <h3>{{ 'species.common_customs_traditions_rituals'|trans({},'presentation') }}</h3>
                    <p>{{ article.customs|BBcode  }}</p>
                {% endif %}
                {% if article.taboos|length > 0 %}
                    <h3>{{ 'species.common_taboos'|trans({},'presentation') }}</h3>
                    <p>{{ article.taboos|BBcode  }}</p>
                {% endif %}
                {% if article.history|length > 0 %}
                    <h3>{{ 'species.history'|trans({},'presentation') }}</h3>
                    <p>{{ article.history|BBcode  }}</p>
                {% endif %}
                {% if article.historicalFigures|length > 0 %}
                    <h3>{{ 'species.historical_figures'|trans({},'presentation') }}</h3>
                    <p>{{ article.historicalFigures|BBcode  }}</p>
                {% endif %}
                {% if article.mythsAndLegends|length > 0 %}
                    <h3>{{ 'species.common_myths_and_legends'|trans({},'presentation') }}</h3>
                    <p>{{ article.mythsAndLegends|BBcode  }}</p>
                {% endif %}
                {% if article.interspeciesRelations|length > 0 %}
                    <h3>{{ 'species.interspecies_relations_assumptions'|trans({},'presentation') }}</h3>
                    <p>{{ article.interspeciesRelations|BBcode  }}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if article.datasheet|length > 0 %}
            <h2>{{ 'species.rpg_datasheet'|trans({},'presentation') }}</h2>
            <p>{{ article.datasheet|BBcode  }}</p>
        {% endif %}
        {{ article.footnotes|BBcode }}
    </div>
    <div class="col-md-4">
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}

        {% if article.isExtinct %}
            <div class="extinction-display">
                <div class="p-20 mb-2 display-block label label-danger">{{ 'species.extinct'|trans({},'presentation') }}</div>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-body">
                {{ article.sidepanelcontenttop|BBcode }}
                <dl>
                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.parents, 
                        'title': 'species.genetic_ancestor_s',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.children, 
                        'title': 'species.genetic_descendants',
                        'locale': locale
                    } only %}
                    {% if article.trinominal|length > 0 %}
                        <dt>{{ 'species.scientific_name'|trans({},'presentation') }}</dt>
                        <dd>{{ article.trinominal|BBcode  }}</dd>
                    {% endif %}
                    {% if article.ancenstry|length > 0 %}
                            <dt>{{ 'species.origin_ancestry'|trans({},'presentation') }}</dt>
                        <dd>{{ article.ancenstry|BBcode  }}</dd>
                    {% endif %}
                    {% if article.lifespan|length > 0 %}
                        <dt>{{ 'species.lifespan'|trans({},'presentation') }}</dt>
                        <dd>{{ article.lifespan|BBcode  }}</dd>
                    {% endif %}
                    {% if article.conservation|length > 0 %}
                        <dt>{{ 'species.conservation_status'|trans({},'presentation') }}</dt>
                        <dd>{{ article.conservation|BBcode  }}</dd>
                    {% endif %}
                    {% if article.averageHeight|length > 0 %}
                        <dt>{{ 'species.average_height'|trans({},'presentation') }}</dt>
                        <dd>{{ article.averageHeight|BBcode  }}</dd>
                    {% endif %}
                    {% if article.averageWeight|length > 0 %}
                        <dt>{{ 'species.average_weight'|trans({},'presentation') }}</dt>
                        <dd>{{ article.averageWeight|BBcode  }}</dd>
                    {% endif %}
                    {% if article.averageLength|length > 0 %}
                        <dt>{{ 'species.average_length'|trans({},'presentation') }}</dt>
                        <dd>{{ article.averageLength|BBcode  }}</dd>
                    {% endif %}
                    {% if article.averagePhysique|length > 0 %}
                        <dt>{{ 'species.average_physique'|trans({},'presentation') }}</dt>
                        <dd>{{ article.averagePhysique|BBcode  }}</dd>
                    {% endif %}
                    {% if article.skinHairColor|length > 0 %}
                        <dt>{{ 'species.body_tint_colouring_marking'|trans({},'presentation') }}</dt>
                        <dd>{{ article.skinHairColor|BBcode  }}</dd>
                    {% endif %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.ethnicities, 
                        'title': 'species.related_ethnicities',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                        'list': article.myths, 
                        'title': 'species.related_myths',
                        'locale': locale
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.materials, 'title':'Related Materials'} only %}

                </dl>
                {{ article.sidepanelcontent|BBcode }}
            </div>
        </div>
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}

    </div>
</div>