<div class="row">
    <div class="col-md-8 article-content-left ">
        <p>{{ article.content|BBcode }}</p>
        {% if article.power|length > 0 %}
            <h3>{{'vehicle.power_generation'|trans({},'presentation') }}</h3>
            <p>{{ article.power|BBcode  }}</p>
        {% endif %}
        {% if article.propulsion|length > 0 %}
            <h3>{{ 'vehicle.propulsion'|trans({},'presentation') }}</h3>
            <p>{{ article.propulsion|BBcode  }}</p>
        {% endif %}
        {% if article.armament|length > 0 %}
            <h3>{{ 'vehicle.weapons_armament'|trans({},'presentation') }}</h3>
            <p>{{ article.armament|BBcode  }}</p>
        {% endif %}
        {% if article.defenses|length > 0 %}
            <h3>{{'vehicle.armor_and_defense'|trans({},'presentation') }}</h3>
            <p>{{ article.defenses|BBcode  }}</p>
        {% endif %}
        {% if article.communication|length > 0 %}
            <h3>{{'vehicle.communication_tools_systems'|trans({},'presentation') }}</h3>
            <p>{{ article.communication|BBcode  }}</p>
        {% endif %}
        {% if article.sensors|length > 0 %}
            <h3>{{ 'vehicle.sensors'|trans({},'presentation') }}</h3>
            <p>{{ article.sensors|BBcode  }}</p>
        {% endif %}
        {% if article.systems|length > 0 %}
            <h3>{{ 'vehicle.additional_auxiliary_systems'|trans({},'presentation') }}</h3>
            <p>{{ article.systems|BBcode  }}</p>
        {% endif %}
        {% if article.hangar|length > 0 %}
            <h3>{{ 'vehicle.hangars_docked_vessels'|trans({},'presentation') }}</h3>
            <p>{{ article.hangar|BBcode  }}</p>
        {% endif %}
        {% if article.datasheet|length > 0 %}
            <h2>{{ 'vehicle.rpg_datasheet'|trans({},'presentation') }}</h2>
            <p>{{ article.datasheet|BBcode }}</p>
        {% endif %}
        {{ article.footnotes|BBcode }}
    </div>
    <div class="col-md-4">
    
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
    
        <div class="panel panel-default">
            <div class="panel-body">
                {{ article.sidepanelcontenttop|BBcode }}
                <dl>
                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.parent, 
                        'title':'vehicle.class',
                        'article': article,'locale': locale 
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.children, 'title':'Used by'} only %}

                    {% if article.nickname|length > 0 %}
                        <dt>{{ 'vehicle.nickname'|trans({},'presentation') }}</dt>
                        <dd>{{ article.nickname|BBcode  }}</dd>
                    {% endif %}
                    {% if article.motto|length > 0 %}
                        <dt>{{ 'vehicle.motto'|trans({},'presentation') }}</dt>
                        <dd>{{ article.motto|BBcode  }}</dd>
                    {% endif %}
                    
                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.manufacturer, 
                        'title':'Manufacturer',
                        'article': article,'locale': locale 
                    } only %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.owner, 
                        'title':'vehicle.owner',
                        'article': article,'locale': locale 
                    } only %}

                    {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                        'value': article.organization, 
                        'title':'vehicle.owning_organization',
                        'article': article,'locale': locale 
                    } only %}

                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.myths, 'title':'Related Myths'} only %}
                    {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.professions, 'title':'Related Professions'} only %}

                    {% if article.price|length > 0 %}
                        <dt>{{ 'vehicle.price'|trans({},'presentation') }}</dt>
                        <dd>{{ article.price|BBcode  }}</dd>
                    {% endif %}   
                    {% if article.rarity|length > 0 %}
                        <dt>{{ 'vehicle.rarity'|trans({},'presentation') }}</dt>
                        <dd>{{ article.rarity|BBcode  }}</dd>
                    {% endif %}  
                    {% if article.length|length > 0 %}
                        <dt>{{ 'vehicle.length'|trans({},'presentation') }}</dt>
                        <dd>{{ article.length|BBcode  }}</dd>
                    {% endif %}   
                    {% if article.beam|length > 0 %}
                        <dt>{{ 'vehicle.beam'|trans({},'presentation') }}</dt>
                        <dd>{{ article.beam|BBcode  }}</dd>
                    {% endif %}
                    {% if article.height|length > 0 %}
                        <dt>{{ 'vehicle.height'|trans({},'presentation') }}</dt>
                        <dd>{{ article.height|BBcode  }}</dd>
                    {% endif %}
                    {% if article.weight|length > 0 %}
                        <dt>{{ 'vehicle.weight'|trans({},'presentation') }}</dt>
                        <dd>{{ article.weight|BBcode  }}</dd>
                    {% endif %}
                    {% if article.speed|length > 0 %}
                        <dt>{{ 'vehicle.speed'|trans({},'presentation') }}</dt>
                        <dd>{{ article.speed|BBcode  }}</dd>
                    {% endif %}
                    {% if article.compliment|length > 0 %}
                        <dt>{{ 'vehicle.complement'|trans({},'presentation') }}</dt>
                        <dd>{{ article.compliment|BBcode  }}</dd>
                    {% endif %}
                    {% if article.cargocapacity|length > 0 %}
                        <dt>{{ 'vehicle.cargo_passengers_capacity'|trans({},'presentation') }}</dt>
                        <dd>{{ article.cargocapacity|BBcode  }}</dd>
                    {% endif %}              
                </dl>
                {{ article.sidepanelcontent|BBcode }}
            </div>
        </div>
        {{ article.sidebarcontentbottom|BBcode }}
        {% include('advert-sidebar.html.twig') %}
   
    </div>
</div>