{% extends 'RPGSRDBundle:Templates:wod:wod-base.html.twig' %}
{% block char_info %}
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">Player </div>
            <div class="col-md-8">{{ variables.player }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Chronicle </div>
            <div class="col-md-8">{{ variables.chronicle }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Clan </div>
            <div class="col-md-8">{{ variables.clan }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Bloodline </div>
            <div class="col-md-8">{{ variables.bloodline }}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">Covenant </div>
            <div class="col-md-8">{{ variables.covenant }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Concept </div>
            <div class="col-md-8">{{ variables.concept }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Virtue </div>
            <div class="col-md-8">{{ variables.virtue }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Vice </div>
            <div class="col-md-8">{{ variables.vice }}</div>
        </div>
    </div>
{% endblock %}
{% block char_attributs %}
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">Intelligence </div>
            <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,8) }}</div>
        </div>
         <div class="row">
            <div class="col-md-6">Wits </div>
            <div class="col-md-6">{{ macros.printWodStat (variables.wits,8) }}</div>
        </div>
         <div class="row">
            <div class="col-md-6">Resolve </div>
            <div class="col-md-6">{{ macros.printWodStat (variables.resolve,8) }}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">Strength </div>
            <div class="col-md-6">{{ macros.printWodStat (variables.strength,8) }}</div>
        </div>
         <div class="row">
            <div class="col-md-6">Dexterity </div>
            <div class="col-md-6">{{ macros.printWodStat (variables.dexterity,8) }}</div>
        </div>
         <div class="row">
            <div class="col-md-6">Stamina </div>
            <div class="col-md-6">{{ macros.printWodStat (variables.stamina,8) }}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">Presence </div>
            <div class="col-md-6">{{ macros.printWodStat (variables.presence,8) }}</div>
        </div>
         <div class="row">
            <div class="col-md-6">Manipulation </div>
            <div class="col-md-6">{{ macros.printWodStat (variables.manipulation,8) }}</div>
        </div>
         <div class="row">
            <div class="col-md-6">Composure </div>
            <div class="col-md-6">{{ macros.printWodStat (variables.composure,8) }}</div>
        </div>
    </div>
{% endblock %}
{% block char_skill %}
    <div class="row">
        <div class="col-md-6">Academics</div>
        <div class="col-md-6">{{ variables.academics }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Crafts</div>
        <div class="col-md-6">{{ variables.crafts }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Computer</div>
        <div class="col-md-6">{{ variables.computer }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Investigation</div>
        <div class="col-md-6">{{ variables.investigation }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Medicine</div>
        <div class="col-md-6">{{ variables.medicine }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Occult</div>
        <div class="col-md-6">{{ variables.occult }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Politics</div>
        <div class="col-md-6">{{ variables.politics }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Science</div>
        <div class="col-md-6">{{ variables.science }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Athletics</div>
        <div class="col-md-6">{{ variables.athletics }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Brawl</div>
        <div class="col-md-6">{{ variables.brawl }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Drive</div>
        <div class="col-md-6">{{ variables.drive }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Firearms</div>
        <div class="col-md-6">{{ variables.firearms }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Larceny</div>
        <div class="col-md-6">{{ variables.larceny }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Stealth</div>
        <div class="col-md-6">{{ variables.stealth }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Survival</div>
        <div class="col-md-6">{{ variables.survival }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Weaponry</div>
        <div class="col-md-6">{{ variables.weaponry }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Animal Ken</div>
        <div class="col-md-6">{{ variables.animal_ken }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Empathy</div>
        <div class="col-md-6">{{ variables.empathy }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Expression</div>
        <div class="col-md-6">{{ variables.expression }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Intimidation</div>
        <div class="col-md-6">{{ variables.intimidation }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Persuasion</div>
        <div class="col-md-6">{{ variables.persuasion }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Socialize</div>
        <div class="col-md-6">{{ variables.socialize }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Streetwise</div>
        <div class="col-md-6">{{ variables.streetwise }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Subterfuge</div>
        <div class="col-md-6">{{ variables.subterfuge }}</div>
    </div>
{% endblock %}
{% block char_others %}
    <div class="row others_skill_title">Health</div>
    <div class="row others_skill_value"></div>
    
    <div class="row others_skill_title"></div>
    <div class="row others_skill_value"></div>
    
    <div class="row others_skill_value"></div>
    <div class="row others_skill_title"></div>
    
    <div class="row others_skill_title"></div>
    <div class="row others_skill_value"></div>
    
    <div class="row others_skill_title"></div>
    <div class="row others_skill_value"></div>
    
{% endblock %}