{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% import 'RPGSRDBundle:Templates:wod:wod-macros.twig' as macros %}
{% block body %}
<div class = "row"> 
    <h1>{{ variables.title_name }}</hi>
</div>
<div class = "row"> 
   {% block char_info %}
   {% endblock %}
</div>
<div class = "row split-line"></div>
<div class = "row">
    {% block char_attributs %}
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Intelligence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Wits </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.wits,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Resolve </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.resolve,8) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Intelligence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Wits </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.wits,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Resolve </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.resolve,8) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Intelligence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Wits </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.wits,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Resolve </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.resolve,8) }}</div>
            </div>
        </div>
    {% endblock %}
</div>
<div class="row split-line"></div>
<div class="row">
    <div class="col-md-7">
        {% block char_skill %}
            
        {% endblock %}
    </div>
    <div class="col-md-5">
        {% block char_others %}
            
        {% endblock %}
    </div>
</div>
{% endblock %}