<div class='container-fluid sheet-adversary'>
  <div class='row'>
    {% set imgid = variables.imageid|default %}
    {% set wd = 12 %}{% if imgid > 0 %}{% set wd = 8 %}{% endif %}
    <div class='col-12 col-lg-{{wd}}'>
      <div class='card header' id='card-header'>
        <div class='card-header header l'>{{variables.name|default}}</div>
        <div class='card-body of l'>{% set role = variables.role|default|lower %}
        {% if role == "rival" %}<i class="fa-solid fa-skull"></i> <i class="fa-solid fa-skull"></i>{% endif %}
        {% if role == "boss" %}<i class="fa-solid fa-skull"></i> <i class="fa-solid fa-skull"></i> <i class="fa-solid fa-skull"></i>{% endif %}
            Tier {{variables.tier|default}} {{role}}, {{variables.size|default}} {{variables.type|default}}
          <div class='row'>
            <div class='col-12 col-md-4'>
              <div class='card attributes' id='card-attributes'>
                <div class='card-header attributes'>Physical</div>
                <div class='card-body ofh'>
                  <div class='row'>
                    <div class='col-12 col-md-4'>
                        <div class='lbl od lbl-att-value'> STR </div><div class='var od var-att-value'>{{variables.str|default}}</div>
                    </div>
                    <div class='col-12 col-md-4'>
                      <span class='text'></span>
                      <div class='var ev var-defense physical shield'>{{ str + spd + variables.defense_physical|default + 10}}</div>
                      <div class='lbl ev lbl-defense-physical'> Def </div>
                    </div>
                    <div class='col-12 col-md-4'>
                        <div class='lbl od lbl-att-value'> SPD </div><div class='var od var-att-value'>{{variables.spd|default}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-12 col-md-4'>
              <div class='card attributes' id='card-attributes'>
                <div class='card-header attributes'>Cognitive</div>
                <div class='card-body ofh'>
                  <div class='row'>
                    <div class='col-12 col-md-4'>
                        <div class='lbl od lbl-att-value'> INT </div><div class='var od var-att-value'>{{variables.int|default}}</div>
                    </div>
                    <div class='col-12 col-md-4'>
                      <div class='var ev var-defense cognitive'>{{ int + wil + variables.defense_cognitive|default + 10}}</div>
                      <div class='lbl ev lbl-defense-cognitive'> Def </div>
                    </div>
                    <div class='col-12 col-md-4'>
                        <div class='lbl od lbl-att-value'> WIL </div><div class='var od var-att-value'>{{variables.wil|default}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-12 col-md-4'>
              <div class='card attributes' id='card-attributes'>
                <div class='card-header attributes'>Spiritual</div>
                <div class='card-body ofh'>
                  <div class='row'>
                    <div class='col-12 col-md-4'>
                        <div class='lbl od lbl-att-value'> AWA </div><div class='var od var-att-value'>{{variables.awa|default}}</div>
                    </div>
                    <div class='col-12 col-md-4'>
                      <div class='var ev var-defense spiritual'>{{ awa + pre + variables.defense_spiritual|default + 10}}</div>
                      <div class='lbl ev lbl-defense-spiritual'> Def </div>
                    </div>
                    <div class='col-12 col-md-4'>
                        <div class='lbl od lbl-att-value'> PRE </div><div class='var od var-att-value'>{{variables.pre|default}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <span class='b health' width=30%> Health: </span><span class='health l'> {{variables.health|default}}</span><br>
            <span class='b focus'> Focus: </span><span class='focus l'> {{variables.focus|default}}</span><br>
            <span class='b investiture'> Investiture: </span><span class='investiture l'> {{variables.investiture|default}}</span><br>
            {% if variables.deflect|default != "" %}
            <span class='b deflect'> Deflect: </span><span class='deflect l'> {{variables.deflect|default}}</span><br>
            {% endif %}
            {% if variables.movement|default != "" %}
            <span class='b movement'> Movement: </span><span class='movement l'> {{variables.movement|default}}</span><br>
            {% endif %}
            {% if variables.senses|default != "" %}
            <span class='b senses'> Senses: </span><span class='senses l'> {{variables.senses|default}}</span><br>
            {% endif %}
            {% if variables.immunities|default != "" %}
            <span class='b immunities'> Immunities: </span><span class='immunities l'> {{variables.immunities|default}}</span><br>
            {% endif %}
            {% if variables.physical_skills|default != "" %}
            <span class='b physical-skills'> Physical Skills: </span><span class='physical-skills l'> {{variables.physical_skills|default}}</span><br>
            {% endif %}
            {% if variables.cognitive_skills|default != "" %}
            <span class='b cognitive-skills'> Cognitive Skills: </span><span class='cognitive-skills l'> {{variables.cognitive_skills|default}}</span><br>
            {% endif %}
            {% if variables.spiritual_skills|default != "" %}
            <span class='b spiritual-skills'> Spiritual Skills: </span><span class='spiritual-skills l'> {{variables.spiritual_skills|default}}</span><br>
            {% endif %}
            {% if variables.surge_skills|default != "" %}
            <span class='b surge-skills'> Surge Skills: </span><span class='surge-skills l'> {{variables.surge_skills|default}}</span><br>
            {% endif %}
            {% if variables.languages|default != "" %}
            <span class='b languages'> Languages: </span><span class='languages l'> {{variables.languages|default}}
            {% endif %}
        </div>
      </div>
    </div>
    {% if imgid > 0 %}
    <div class='col-12 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block'>
      <div class='card portrait' id='card-portrait'>
        <div class='card-body of'>
          <div class='lbl od lbl-imageid c'> Portrait </div><div class='var od var-imageid'>[img:{{imgid}}]</div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class='row'>
    {% if variables.features|default != "" %}
    <div class='col-12 col-md-6'>
      <div class='card features' id='card-features'>
        <div class='card-header features'>Features</div>
        <div class='card-body of'>
          <div class='var od var-features'> {{variables.features|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.actions|default != "" %}
    <div class='col-12 col-md-6'>
      <div class='card actions' id='card-actions'>
        <div class='card-header actions'>Actions</div>
        <div class='card-body of'>
          <div class='var od var-actions'> {{variables.actions|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.opps_and_comps|default != "" %}
    <div class='col-12 col-md-6'>
      <div class='card opps and comps' id='card-opps and comps'>
        <div class='card-header opps and comps'>Opportunities And Complications</div>
        <div class='card-body of'>
          <div class='var od var-opps-and-comps'> {{variables.opps_and_comps|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.notes|default != "" %}
    <div class='col-12 col-md-6'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Notes</div>
        <div class='card-body of'>
          <div class='var od var-notes'> {{variables.notes|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>