<div class='container-fluid sheet-adversary'>
  {% import _self as sheet %}
  {% macro genList(list, name, value) %}<datalist id="{{name}}">{% for x in list %}<option value="{{x}}" {% if s == x %}selected=selected{% endif %} > {% endfor %}</datalist>{% endmacro %}
  {% set roles = [ "minion", "rival", "boss" ] %}
  {% set sizes = [ "small", "medium", "large", "huge", "gargantuan" ] %}
  {% set types = [ "humanoid", "animal" ] %}
  <div class='row'>
    <div class='col-12 col-lg-12'>
      <div class='card header' id='card-header'>
        <div class='card-header header'>Header</div>
        <div class='card-body of'>
          <table class='mytable' width=100%>
            <tr><th class='ilbl od ilbl-name'><label for='name'>Title</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-tier'><label for='tier'>Tier</label></th><td class='ivar ev ivar-tier'><input value='{{variables.tier|default}}' class='form-control ivar ivar-tier c' id='tier' name='tier' placeholder='eg. 1' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-role'><label for='role'>Role</label></th><td class='ivar od ivar-role'>
              {% set x = variables.role|default %}<input value='{{x}}' list='roles' class='form-control ivar ivar-role' id='role' name='role' />{{ _self.genList(roles, 'roles', x) }}
            </td></tr>
            <tr><th class='ilbl ev ilbl-size'><label for='size'>Size</label></th><td class='ivar ev ivar-size'>
              {% set x = variables.size|default %}<input value='{{x}}' list='sizes' class='form-control ivar ivar-size' id='size' name='size' />{{ _self.genList(sizes, 'sizes', x) }}
            </td></tr>
            <tr><th class='ilbl od ilbl-type'><label for='type'>Type</label></th><td class='ivar od ivar-type'>
              {% set x = variables.type|default %}<input value='{{x}}' list='types' class='form-control ivar ivar-type' id='type' name='type' />{{ _self.genList(types, 'types', x) }}
            </td></tr>
            <tr><th class='ilbl ev ilbl-imageid'><label for='imageid'>Portrait</label></th><td class='ivar ev ivar-imageid'><input value='{{variables.imageid|default}}' class='form-control ivar ivar-imageid c' id='imageid' name='imageid' placeholder='WA Image ID' type='number' min='0' /></td></tr>
          </table><br>
          <table class='mytable' width=100%>
            <tr>
              <th class='ilbl ev c'>PHYSICAL</th>
              <th class='ilbl ev c'>COGNITIVE</th>
              <th class='ilbl ev c'>SPIRITUAL</th>
            </tr>
          </table>
          <table class='mytable' width=100%>
          <tr>
            <th class='ilbl od ilbl-str c'><label for='str'>STR</label></th>
            <th class='ilbl od ilbl-spd c'><label for='spd'>SPD</label></th>
            <th class='ilbl od ilbl-int c'><label for='int'>INT</label></th>
            <th class='ilbl od ilbl-wil c'><label for='wil'>WIL</label></th>
            <th class='ilbl od ilbl-awa c'><label for='awa'>AWA</label></th>
            <th class='ilbl od ilbl-pre c'><label for='pre'>PRE</label></th>
          </tr>
          <tr>
            <td class='ivar {{eo}} ivar-str'><input value='{{variables.str|default}}' class='form-control ivar ivar-str c' id='str' name='str' type='text' /></td>
            <td class='ivar {{eo}} ivar-spd'><input value='{{variables.spd|default}}' class='form-control ivar ivar-spd c' id='spd' name='spd' type='text' /></td>
            <td class='ivar {{eo}} ivar-int'><input value='{{variables.int|default}}' class='form-control ivar ivar-int c' id='int' name='int' type='text' /></td>
            <td class='ivar {{eo}} ivar-wil'><input value='{{variables.wil|default}}' class='form-control ivar ivar-wil c' id='wil' name='wil' type='text' /></td>
            <td class='ivar {{eo}} ivar-awa'><input value='{{variables.awa|default}}' class='form-control ivar ivar-awa c' id='awa' name='awa' type='text' /></td>
            <td class='ivar {{eo}} ivar-pre'><input value='{{variables.pre|default}}' class='form-control ivar ivar-pre c' id='pre' name='pre' type='text' /></td>
          </tr>
          </table>
          <table class='mytable' width=100%>
          <tr>
          <th class='ilbl od ilbl-def-physical c'><label for='def_physical'>DEF</label></th>
          <th class='ilbl od ilbl-def-cognitive c'><label for='def_cognitive'>DEF</label></th>
          <th class='ilbl od ilbl-def-spiritual c'><label for='def_spiritual'>DEF</label></th>
          </tr>
          <tr>
            <td class='ivar {{eo}} ivar-def-physical'><input value='{{variables.def_physical|default}}' class='form-control ivar ivar-def-physical c' id='def_physical' name='def_physical' type='text' /></td>
            <td class='ivar {{eo}} ivar-def-cognitive'><input value='{{variables.def_cognitive|default}}' class='form-control ivar ivar-def-cognitive c' id='def_cognitive' name='def_cognitive' type='text' /></td>
            <td class='ivar {{eo}} ivar-def-spiritual'><input value='{{variables.def_spiritual|default}}' class='form-control ivar ivar-def-spiritual c' id='def_spiritual' name='def_spiritual' type='text' /></td>
          </tr>
          </table>
          <table class='mytable' width=100%>
            <tr><th class='ilbl od ilbl-health'><label for='health'>Health</label></th><td class='ivar od ivar-health'><input value='{{variables.health|default}}' class='form-control ivar ivar-health' id='health' name='health' placeholder='eg. 20 (16-24)' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-focus'><label for='focus'>Focus</label></th><td class='ivar ev ivar-focus'><input value='{{variables.focus|default}}' class='form-control ivar ivar-focus' id='focus' name='focus' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-investiture'><label for='investiture'>Investiture</label></th><td class='ivar od ivar-investiture'><input value='{{variables.investiture|default}}' class='form-control ivar ivar-investiture' id='investiture' name='investiture' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-deflect'><label for='deflect'>Deflect</label></th><td class='ivar ev ivar-deflect'><input value='{{variables.deflect|default}}' class='form-control ivar ivar-deflect' id='deflect' name='deflect' placeholder='eg. 1 (leather)' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-movement'><label for='movement'>Movement</label></th><td class='ivar od ivar-movement'><input value='{{variables.movement|default}}' class='form-control ivar ivar-movement' id='movement' name='movement' placeholder='eg 25 ft.' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-senses'><label for='senses'>Senses</label></th><td class='ivar ev ivar-senses'><input value='{{variables.senses|default}}' class='form-control ivar ivar-senses' id='senses' name='senses' placeholder='eg. 10 ft. (sight)' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-immunities'><label for='immunities'>Immunities</label></th><td class='ivar od ivar-immunities'><input value='{{variables.immunities|default}}' class='form-control ivar ivar-immunities' id='immunities' name='immunities' placeholder='eg. Restrained, Stunned' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-physical-skills'><label for='physical_skills'>Physical Skills</label></th><td class='ivar ev ivar-physical-skills'><input value='{{variables.physical_skills|default}}' class='form-control ivar ivar-physical-skills' id='physical_skills' name='physical_skills' placeholder='eg. Agility +11, Athletics +9' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-cognitive-skills'><label for='cognitive_skills'>Cognitive Skills</label></th><td class='ivar od ivar-cognitive-skills'><input value='{{variables.cognitive_skills|default}}' class='form-control ivar ivar-cognitive-skills' id='cognitive_skills' name='cognitive_skills' placeholder='eg. Intimidation +9' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-spiritual-skills'><label for='spiritual_skills'>Spiritual Skills</label></th><td class='ivar ev ivar-spiritual-skills'><input value='{{variables.spiritual_skills|default}}' class='form-control ivar ivar-spiritual-skills' id='spiritual_skills' name='spiritual_skills' placeholder='eg. Perception +9' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-surge-skills'><label for='surge_skills'>Surge Skills</label></th><td class='ivar od ivar-surge-skills'><input value='{{variables.surge_skills|default}}' class='form-control ivar ivar-surge-skills' id='surge_skills' name='surge_skills' placeholder='eg. Abrasion +5 (2ranks)' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-languages'><label for='languages'>Languages</label></th><td class='ivar ev ivar-languages'><input value='{{variables.languages|default}}' class='form-control ivar ivar-languages' id='languages' name='languages' placeholder='eg. defined by culture' type='text' /></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-12'>
      <div class='card features' id='card-features'>
        <div class='card-header features'>Features</div>
        <div class='card-body of'>
          <div class='ivar od ivar-features'><div class='iContent'><textarea class='form-control ivar ivar-features mention' id='features' name='features' rows='3'  >{{variables.features|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card actions' id='card-actions'>
        <div class='card-header actions'>Actions</div>
        <div class='card-body of'>
          <div class='ivar od ivar-actions'><div class='iContent'><textarea class='form-control ivar ivar-actions mention' id='actions' name='actions' rows='3'  >{{variables.actions|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card opps and comps' id='card-opps and comps'>
        <div class='card-header opps and comps'>Opportunities And Complications</div>
        <div class='card-body of'>
          <div class='ivar od ivar-opps-and-comps'><div class='iContent'><textarea class='form-control ivar ivar-opps-and-comps mention' id='opps_and_comps' name='opps_and_comps' rows='3'  >{{variables.opps_and_comps|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Notes</div>
        <div class='card-body of'>
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>