{% macro genSkill(id, name, att, add, value, dname, datt) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>{% if name == '' %}{% set name = dname %}{% set att = datt %}{% endif %}
    <td class="lbl" title="Skill: {{name}}"><input value="{{ name }}" class="form-control" id="skill_name_{{id}}" name="skill_name_{{id}}" placeholder="eg Scholar, Stealth, Survival" type="text" /></td>
    <td class="{{eo}} num c" title="Attribute: {{att}}">
        <select class="form-control"  id="skill_attr_{{id}}" name="skill_attr_{{id}}">
        <option value="CHA" {% if att is defined and att == "CHA" %}selected="selected" {% endif %} >CHA</option>
        <option value="DEX" {% if att is defined and att == "DEX" %}selected="selected" {% endif %} >DEX</option>
        <option value="MIND" {% if att is defined and att == "MIND" %}selected="selected" {% endif %} >MIND</option>
        <option value="SPIRIT" {% if att is defined and att == "SPIRIT" %}selected="selected" {% endif %} >SPIRIT</option>
        <option value="STRENGTH" {% if att is defined and att == "STRENGTH" %}selected="selected" {% endif %} >STRENGTH</option>
        </select>
    </td>
    <td class="{{eo}} num" title="Skill Add: {{add}}"><input value="{{ add }}" class="form-control" id="skill_adds_{{id}}" name="skill_adds_{{id}}" type="text" /></td>
    <td class="{{eo}} num" title="Value: {{value}}"><input value="{{ value }}" class="form-control" id="skill_value_{{id}}" name="skill_value_{{id}}" type="text" /></td>
</tr>{% endmacro genSkill %}
{% macro genPerk(id, name, req, effect) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<th class="lbl l">Perk</th><td class="hdr" title="Perk: {{name}}"><input value="{{ name }}" class="form-control" id="perk_name_{{id}}" name="perk_name_{{id}}" placeholder="eg Critical Strike" type="text" /></td></tr>
<tr><th class="lbl l">Prereq.</th><td class="txt" title="Prerequisite: {{req}}"><input value="{{ req }}" class="form-control" id="perk_prereq_{{id}}" name="perk_prereq_{{id}}" placeholder="eg Frightening Aspect" type="text" /></td></tr>
<tr><td class="txt" colspan=2 title="Perk Effect"><textarea class="form-control"  id="perk_effect_{{id}}" name="perk_effect_{{id}}" rows="10" placeholder="description of the perk">{{ effect }}</textarea></td>
</tr>{% endmacro genPerk %}
{% macro genWeapon(id, name, axiom, dmg, ammo, range, notes) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="lbl" title="Weapon: {{name}}"><input value="{{ name}}" class="form-control" id="weapon_name_{{id}}" name="weapon_name_{{id}}" placeholder="eg MAS Storm Shotgun" type="text" /></td>
<td class="{{eo}} txt"><input value="{{ axiom }}" class="form-control" id="weapon_axiom_{{id}}" name="weapon_axiom_{{id}}" placeholder="eg Tech" type="text" /></td>
<td class="{{eo}} txt"><input value="{{ dmg }}" class="form-control" id="weapon_damage_{{id}}" name="weapon_damage_{{id}}" placeholder="eg 15" type="text" /></td>
<td class="{{eo}} txt"><input value="{{ ammo }}" class="form-control" id="weapon_ammo_{{id}}" name="weapon_ammo_{{id}}" placeholder="eg 30" type="text" /></td>
<td class="{{eo}} txt"><input value="{{ range }}" class="form-control" id="weapon_range_{{id}}" name="weapon_range_{{id}}" placeholder="eg 15/30/45" type="text" /></td>
<td class="{{eo}} txt"><input value="{{ notes }}" class="form-control" id="weapon_notes_{{id}}" name="weapon_notes_{{id}}" placeholder="eg Short Burst" type="text" /></td>
</tr>{% endmacro genWeapon %}
{% macro genArmour(id, name, axiom, adds, notes) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="lbl" title="Perk: {{name}}"><input value="{{ name }}" class="form-control" id="armour_name_{{id}}" name="armour_name_{{id}}" placeholder="eg Tactical Armor" type="text" /></td>
<td class="{{eo}} txt"><input value="{{ axiom }}" class="form-control" id="armour_axiom_{{id}}" name="armour_axiom_{{id}}" placeholder="eg Tech" type="text" /></td>
<td class="{{eo}} txt"><input value="{{ adds }}" class="form-control" id="armour_adds_{{id}}" name="armour_adds_{{id}}" placeholder="eg +4" type="text" /></td>
<td class="{{eo}} txt"><input value="{{ notes }}" class="form-control" id="armour_notes_{{id}}" name="armour_notes_{{id}}" placeholder="eg Min Str 8, Fatigues" type="text" /></td>
</tr>{% endmacro genArmour %}
<div class="container-fluid torg-sheet">
    <div class="row">
        <div class="col-12 col-md-9 col-lg-9 hidden-xs hidden-sm d-none d-lg-block">
            <div class="card my-2 logo show noback" title="TORG Logo">
            </div>
        </div>
		<div class="col-12 col-xs-12 col-md-3 col-lg-3 hidden-xs hidden-sm d-none d-lg-block">
			<div class="card my-2">
				<div class="card-body pd10">
				WA ImageID: <input value="{{ variables.image_id is defined ? variables.image_id }}" class="form-control" id="image_id" name="image_id" placeholder="eg 12345" type="text" />
                </div>
			</div>
		</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-body">
                    <table width="100%">
                        <tr><th class="hdr c" colspan=2>Attributes</th></tr>
                        <tr><th class="lbl l" width="40%">Charisma</th><td class="txt r"><input value="{{ variables.charisma is defined ? variables.charisma }}" class="form-control" id="charisma" name="charisma" type="text" /></td></tr>
                        <tr><th class="lbl l">Dexterity</th><td class="txt r"><input value="{{ variables.dexterity is defined ? variables.dexterity }}" class="form-control" id="dexterity" name="dexterity" type="text" /></td></tr>
                        <tr><th class="lbl l">Mind</th><td class="txt r"><input value="{{ variables.mind is defined ? variables.mind }}" class="form-control" id="mind" name="mind" type="text" /></td></tr>
                        <tr><th class="lbl l">Spirit</th><td class="txt r"><input value="{{ variables.spirit is defined ? variables.spirit }}" class="form-control" id="spirit" name="spirit" type="text" /></td></tr>
                        <tr><th class="lbl l">Strength</th><td class="txt r"><input value="{{ variables.strength is defined ? variables.strength }}" class="form-control" id="strength" name="strength" type="text" /></td></tr>
                        <tr><th class="hdr c" colspan=2>Speed</th></tr>
                        <tr><th class="lbl l">Movement</th><td class="txt r"><input value="{{ variables.movement is defined ? variables.movement }}" class="form-control" id="movement" name="movement" type="text" placeholder="= DEX" /></td></tr>
                        <tr><th class="lbl l">Run</th><td class="txt r"><input value="{{ variables.run is defined ? variables.run }}" class="form-control" id="run" name="run" type="text" placeholder="= 3 x DEX" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-body">
                    <table width="100%">
                        <tr><th class="hdr c" colspan=2>About</th></tr>
                        <tr><th class="lbl l" width="40%">Name</th><td class="txt l ev"><input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the character" type="text" /></td></tr>
                        <tr><th class="lbl l">Race</th><td class="txt l od"><input value="{{ variables.race is defined ? variables.race }}" class="form-control" id="race" name="race" type="text" /></td></tr>
                        <tr><th class="lbl l">Cosm</th><td class="txt l ev"><input value="{{ variables.cosm is defined ? variables.cosm }}" class="form-control" id="cosm" name="cosm" placeholder="eg Core Earth, Cyberpapacy" type="text" /></td></tr>
                        <tr><th class="hdr c" colspan=2>Axioms</th></tr>
                        <tr><th class="lbl l">Magic</th><td class="txt r od"><input value="{{ variables.ax_magic is defined ? variables.ax_magic }}" class="form-control" id="ax_magic" name="ax_magic" type="text" /></td></tr>
                        <tr><th class="lbl l">Social</th><td class="txt r ev"><input value="{{ variables.ax_social is defined ? variables.ax_social }}" class="form-control" id="ax_social" name="ax_social" type="text" /></td></tr>
                        <tr><th class="lbl l">Spirit</th><td class="txt r od"><input value="{{ variables.ax_spirit is defined ? variables.ax_spirit }}" class="form-control" id="ax_spirit" name="ax_spirit" type="text" /></td></tr>
                        <tr><th class="lbl l">Tech</th><td class="txt r ev"><input value="{{ variables.ax_tech is defined ? variables.ax_tech }}" class="form-control" id="ax_tech" name="ax_tech" type="text" /></td></tr>
                        <tr><th class="hdr c" colspan=2>Experience</th></tr>
                        <tr><th class="lbl l">Clearance Level</th><td class="txt r od"><input value="{{ variables.clearance is defined ? variables.clearance }}" class="form-control" id="clearance" name="clearance" type="text" /></td></tr>
                        <tr><th class="lbl l">XP earned</th><td class="txt r ev"><input value="{{ variables.xp_earned is defined ? variables.xp_earned }}" class="form-control" id="xp_earned" name="xp_earned" type="text" /></td></tr>
                        <tr><th class="lbl l">XP unspent</th><td class="txt r od"><input value="{{ variables.xp_unspent is defined ? variables.xp_unspent }}" class="form-control" id="xp_unspent" name="xp_unspent" type="text" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-body">
                    <table width="100%">
                        <tr><th class="hdr c" colspan=2>Defenses</th></tr>
                        <tr><th class="lbl l" width="40%">Toughness</th><td class="txt r"><input value="{{ variables.toughness is defined ? variables.toughness }}" class="form-control" id="toughness" name="toughness" type="text" /></td></tr>
                        <tr><th class="lbl l">Armor</th><td class="txt r"><input value="{{ variables.armor is defined ? variables.armor }}" class="form-control" id="armor" name="armor" type="text" /></td></tr>
                        <tr><th class="lbl l">Dodge</th><td class="txt r"><input value="{{ variables.dodge is defined ? variables.dodge }}" class="form-control" id="dodge" name="dodge" type="text" /></td></tr>
                        <tr><th class="lbl l">Melee def</th><td class="txt r"><input value="{{ variables.melee_def is defined ? variables.melee_def }}" class="form-control" id="melee_def" name="melee_def" type="text" /></td></tr>
                        <tr><th class="lbl l">Unarmed def</th><td class="txt r"><input value="{{ variables.unarmed_def is defined ? variables.unarmed_def }}" class="form-control" id="unarmed_def" name="unarmed_def" type="text" /></td></tr>
                        <tr><th class="hdr c" colspan=2>Conditions</th></tr>
                        <tr><th class="lbl l">Shock</th><td class="txt r ev"><input value="{{ variables.shock is defined ? variables.shock }}" class="form-control" id="shock" name="shock" type="text" /></td></tr>
                        <tr><th class="lbl l">Shock tracker</th><td class="txt r od"><input value="{{ variables.shock_tracker is defined ? variables.shock_tracker }}" class="form-control" id="shock_tracker" name="shock_tracker" type="text" /></td></tr>
                        <tr><th class="lbl l">Wounds</th><td class="txt r ev"><input value="{{ variables.wounds is defined ? variables.wounds }}" class="form-control" id="wounds" name="wounds" type="text" /></td></tr>
                        <tr><th class="lbl l">Wound tracker</th><td class="txt r od"><input value="{{ variables.wound_tracker is defined ? variables.wound_tracker }}" class="form-control" id="wound_tracker" name="wound_tracker" type="text" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-body">
                    <table width="100%">
                        <tr>
                            <th class="hdr l">Combat Skills</th>
                            <th class="hdr l">Attribute</th>
                            <th class="hdr l">Skill Adds</th>
                            <th class="hdr l">Value</th>
                        </tr>
                        {{ _self.genSkill("01", variables.skill_name_01, variables.skill_attr_01, variables.skill_adds_01, variables.skill_value_01, 'Energy Weapons', 'DEX') }}
                        {{ _self.genSkill("02", variables.skill_name_02, variables.skill_attr_02, variables.skill_adds_02, variables.skill_value_02, 'Fire Combat', 'DEX') }}
                        {{ _self.genSkill("03", variables.skill_name_03, variables.skill_attr_03, variables.skill_adds_03, variables.skill_value_03, 'Melee Weapons', 'DEX') }}
                        {{ _self.genSkill("04", variables.skill_name_04, variables.skill_attr_04, variables.skill_adds_04, variables.skill_value_04, 'Missile Weapons', 'DEX') }}
                        {{ _self.genSkill("05", variables.skill_name_05, variables.skill_attr_05, variables.skill_adds_05, variables.skill_value_05, 'Unarmed Combat', 'DEX') }}
                        <tr>
                            <th class="hdr l">Interaction Skills</th>
                            <th class="hdr l">Attribute</th>
                            <th class="hdr l">Skill Adds</th>
                            <th class="hdr l">Value</th>
                        </tr>
                        {{ _self.genSkill("06", variables.skill_name_06, variables.skill_attr_06, variables.skill_adds_06, variables.skill_value_06, 'Intimidation', 'SPIRIT') }}
                        {{ _self.genSkill("07", variables.skill_name_07, variables.skill_attr_07, variables.skill_adds_07, variables.skill_value_07, 'Maneuvre', 'DEX') }}
                        {{ _self.genSkill("08", variables.skill_name_08, variables.skill_attr_08, variables.skill_adds_08, variables.skill_value_08, 'Taunt', 'CHA') }}
                        {{ _self.genSkill("09", variables.skill_name_09, variables.skill_attr_09, variables.skill_adds_09, variables.skill_value_09, 'Trick', 'MIND') }}
                        <tr>
                            <th class="hdr l">Other</th>
                            <th class="hdr l">Attribute</th>
                            <th class="hdr l">Skill Adds</th>
                            <th class="hdr l">Value</th>
                        </tr>
                        {{ _self.genSkill("10", variables.skill_name_10, variables.skill_attr_10, variables.skill_adds_10, variables.skill_value_10, '', '') }}
                        {{ _self.genSkill("11", variables.skill_name_11, variables.skill_attr_11, variables.skill_adds_11, variables.skill_value_11, '', '') }}
                        {{ _self.genSkill("12", variables.skill_name_12, variables.skill_attr_12, variables.skill_adds_12, variables.skill_value_12, '', '') }}
                        {{ _self.genSkill("13", variables.skill_name_13, variables.skill_attr_13, variables.skill_adds_13, variables.skill_value_13, '', '') }}
                        {{ _self.genSkill("14", variables.skill_name_14, variables.skill_attr_14, variables.skill_adds_14, variables.skill_value_14, '', '') }}
                        {{ _self.genSkill("15", variables.skill_name_15, variables.skill_attr_15, variables.skill_adds_15, variables.skill_value_15, '', '') }}
                        {{ _self.genSkill("16", variables.skill_name_16, variables.skill_attr_16, variables.skill_adds_16, variables.skill_value_16, '', '') }}
                        {{ _self.genSkill("17", variables.skill_name_17, variables.skill_attr_17, variables.skill_adds_17, variables.skill_value_17, '', '') }}
                        {{ _self.genSkill("18", variables.skill_name_18, variables.skill_attr_18, variables.skill_adds_18, variables.skill_value_18, '', '') }}
                        {{ _self.genSkill("19", variables.skill_name_19, variables.skill_attr_19, variables.skill_adds_19, variables.skill_value_19, '', '') }}
                        {{ _self.genSkill("20", variables.skill_name_20, variables.skill_attr_20, variables.skill_adds_20, variables.skill_value_20, '', '') }}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-body">
                    <table width="100%">
                        {{ _self.genPerk("01", variables.perk_name_01, variables.perk_prereq_01, variables.perk_effect_01) }}
                        {{ _self.genPerk("02", variables.perk_name_02, variables.perk_prereq_02, variables.perk_effect_02) }}
                        {{ _self.genPerk("03", variables.perk_name_03, variables.perk_prereq_03, variables.perk_effect_03) }}
                        {{ _self.genPerk("04", variables.perk_name_04, variables.perk_prereq_04, variables.perk_effect_04) }}
                        {{ _self.genPerk("05", variables.perk_name_05, variables.perk_prereq_05, variables.perk_effect_05) }}
                        {{ _self.genPerk("06", variables.perk_name_06, variables.perk_prereq_06, variables.perk_effect_06) }}
                        {{ _self.genPerk("07", variables.perk_name_07, variables.perk_prereq_07, variables.perk_effect_07) }}
                        {{ _self.genPerk("08", variables.perk_name_08, variables.perk_prereq_08, variables.perk_effect_08) }}
                        {{ _self.genPerk("09", variables.perk_name_09, variables.perk_prereq_09, variables.perk_effect_09) }}
                        {{ _self.genPerk("10", variables.perk_name_10, variables.perk_prereq_10, variables.perk_effect_10) }}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
            <div class="card my-2 of">
                <div class="card-body">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">Weapon</th>
                            <th class="hdr c">Axiom</th>
                            <th class="hdr c">Damage</th>
                            <th class="hdr c">Ammo</th>
                            <th class="hdr c">Range</th>
                            <th class="hdr c">Notes</th>
                        </tr>
                        {{ _self.genWeapon("01", variables.weapon_name_01, variables.weapon_axiom_01, variables.weapon_damage_01, variables.weapon_ammo_01, variables.weapon_range_01, variables.weapon_notes_01) }}
                        {{ _self.genWeapon("02", variables.weapon_name_02, variables.weapon_axiom_02, variables.weapon_damage_02, variables.weapon_ammo_02, variables.weapon_range_02, variables.weapon_notes_02) }}
                        {{ _self.genWeapon("03", variables.weapon_name_03, variables.weapon_axiom_03, variables.weapon_damage_03, variables.weapon_ammo_03, variables.weapon_range_03, variables.weapon_notes_03) }}
                        {{ _self.genWeapon("04", variables.weapon_name_04, variables.weapon_axiom_04, variables.weapon_damage_04, variables.weapon_ammo_04, variables.weapon_range_04, variables.weapon_notes_04) }}
                        {{ _self.genWeapon("05", variables.weapon_name_05, variables.weapon_axiom_05, variables.weapon_damage_05, variables.weapon_ammo_05, variables.weapon_range_05, variables.weapon_notes_05) }}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-body">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">Armor</th>
                            <th class="hdr c">Axiom</th>
                            <th class="hdr c">Adds</th>
                            <th class="hdr c">Notes</th>
                        </tr>
                        {{ _self.genArmour("01", variables.armour_name_01, variables.armour_axiom_01, variables.armour_adds_01, variables.weapon_notes_01) }}
                        {{ _self.genArmour("02", variables.armour_name_02, variables.armour_axiom_02, variables.armour_adds_02, variables.weapon_notes_02) }}
                        {{ _self.genArmour("03", variables.armour_name_03, variables.armour_axiom_03, variables.armour_adds_03, variables.weapon_notes_03) }}
                        {{ _self.genArmour("04", variables.armour_name_04, variables.armour_axiom_04, variables.armour_adds_04, variables.weapon_notes_04) }}
                        {{ _self.genArmour("05", variables.armour_name_05, variables.armour_axiom_05, variables.armour_adds_05, variables.weapon_notes_05) }}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Equipment</div>
                <div class="card-body od pd10">
                    <textarea class="form-control" id="equipment" name="equipment" rows="10">{{ variables.equipment is defined ? variables.equipment }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes</div>
                <div class="card-body od pd10">
                    <textarea class="form-control" id="notes" name="notes" rows="10">{{ variables.notes is defined ? variables.notes }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <small>
                © 2017 Ulisses Spiele<br><a href="/w/sheet-creation/a/sheet-list">TORG Character Sheet v1.0</a>, made by Tillerz#3807 - 2020-09-10
            </small>
        </div>
    </div>
</div>