<section class="torg-character-trackable">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-body">
                    <table width="100%">
                        <tr><th class="hdr c" colspan=3>Conditions</th></tr>
                        <tr><th class="lbl l">Shock</th><td class="txt r ev"><input value="{{ variables.shock_tracker is defined ? variables.shock_tracker }}" class="form-control" id="shock" name="shock" type="text" /></td><td class="txt l ev">of {{ variables.shock is defined ? variables.shock }}</td></tr>
                        <tr><th class="lbl l">Wounds</th><td class="txt r od"><input value="{{ variables.wound_tracker is defined ? variables.wound_tracker }}" class="form-control" id="wound_tracker" name="wound_tracker" type="text" /></td><td class="txt l od"> of {{ variables.wounds is defined ? variables.wounds }}</td></tr>
                        <tr><th class="hdr c" colspan=3>Experience</th></tr>
                        <tr><th class="lbl l">XP earned</th><td class="txt r ev" colspan=2><input value="{{ variables.xp_earned is defined ? variables.xp_earned }}" class="form-control" id="xp_earned" name="xp_earned" type="text" /></td></tr>
                        <tr><th class="lbl l">XP unspent</th><td class="txt r ev" colspan=2><input value="{{ variables.xp_unspent is defined ? variables.xp_unspent }}" class="form-control" id="xp_unspent" name="xp_unspent" type="text" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes</div>
                <div class="card-body od pd10">
                    <textarea class="form-control" id="notes" name="notes" rows="10">{{ variables.notes is defined ? variables.notes }}</textarea>
                </div>
            </div>
        </div>
    </div>
</section>