{% import _self as sheet %}
<div class='container-fluid sheet-tales-of-the-old-west-sheet'>
  <div class='row'>
    <div class='col-12'>
      <button title="Minimize header section" class="minimize btn btn-link collapsed buttlight" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapsePersonal" href="#collapsePersonal" role="button" aria-expanded="true" aria-controls="collapsePersonal"><em class="fas fa-angle-down"></em></button>
      <div class='card personal collapse show' id='collapsePersonal'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-4 hidden-xs hidden-sm hidden-md d-none d-lg-block'>
            </div>
            <div class='col-4 hidden-xs hidden-sm hidden-md d-none d-lg-block'>
              <img class='image' src='/i/7786604/render' title='Tales of the Old West Sheet' width='300px'>
            </div>
            <div class='col-4 hidden-xs hidden-sm hidden-md d-none d-lg-block'>
            </div>
            {% set img = variables.portrait|default %}{% set wd = 12 %}{% if img > 0 %}{% set wd = 8 %}{% endif %}
            <div class='col-12 col-lg-{{wd}}'>
              <div class='row'>
                <div class='col-12 col-md-6'>
                  <div class='lbl od lbl-name'> Name </div><div class='var ev var-name'> {{variables.name|default}} </div>
                  <div class='lbl od lbl-archetype'> Archetype </div><div class='var ev var-archetype'> {{variables.archetype|default}} </div>
                  <div class='lbl od lbl-age'> Age </div><div class='var ev var-age'>{{variables.age|default}}</div>
                  <div class='lbl od lbl-faith-text'> Faith </div><div class='var ev var-faith-text'> {{variables.faith_text|default}} </div>
                  <div class='lbl od lbl-faith-points'> Faith Points </div><div class='var ev var-faith-points c'>{% set curr = variables.faith_points|default %}{% for i in 1..10 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</div>
                </div>
                <div class='col-12 col-md-6'>
                  <div class='lbl od lbl-pardner'> Pardner </div><div class='var ev var-pardner'> {{variables.pardner|default}} </div>
                  <div class='lbl od lbl-big-dream'> Big Dream </div><div class='var ev var-big-dream'> {{variables.big_dream|default}} </div>
                  <div class='lbl od lbl-lifestyle'> Lifestyle </div><div class='var ev var-lifestyle'> {{variables.lifestyle|default}} </div>
                  <div class='lbl od lbl-reputation'> Reputation </div><div class='var ev var-reputation'> {{variables.reputation|default}} </div>
                  <div class='lbl od lbl-experience'> Experience </div><div class='var ev var-experience c'>{% set curr = variables.experience|default %}{% for i in 1..8 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</div>
                </div>
                <div class='col-12 col-md-4'>
                  <div class='lbl od lbl-fame c'> Fame </div><div class='var ev var-fame c'>{{variables.fame|default}}</div>
                </div>
                <div class='col-12 col-md-4'>
                  <div class='lbl od lbl-morals c'> Morals </div><div class='var ev var-morals c'>{{variables.morals|default}}</div>
                </div>
                <div class='col-12 col-md-4'>
                  <div class='lbl od lbl-public-spirit c'> Public Spirit </div><div class='var ev var-public-spirit c'>{{variables.public_spirit|default}}</div>
                </div>
              </div>
            </div>
            {% if img > 0 %}
            <div class='col-12 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block'>
              <div class='var ev var-portrait'>[img:{{img}}]</div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card attributes and skills' id='card-attributes and skills'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12'>
              <div class='hdr'>Attributes and Skills</div>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='lbl lbl-grit att'> Grit </div><div class='var od var-grit attv c'>{{variables.grit|default}}</div>
              <div class='lbl ev lbl-hurts c'> Hurts: {% set curr = variables.hurts|default %}{% for i in 1..variables.grit|default %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</div>
              <table class='mytable'>
                <tr><th class='lbl od lbl-fighting ' width='75%'> Fighting </th><td class='var od var-fighting c'>{{variables.fighting|default('-')}}</td></tr>
                <tr><th class='lbl ev lbl-labor'> Labor </th><td class='var ev var-labor c'>{{variables.labor|default('-')}}</td></tr>
                <tr><th class='lbl od lbl-presence'> Presence </th><td class='var od var-presence c'>{{variables.presence|default('-')}}</td></tr>
                <tr><th class='lbl ev lbl-resilience'> Resilience </th><td class='var ev var-resilience c'>{{variables.resilience|default('-')}}</td></tr>
              </table>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='lbl lbl-quick att'> Quick </div><div class='var od var-quick attv c'>{{variables.quick|default}}</div>
              <div class='lbl ev lbl-shakes c'> Shakes: {% set curr = variables.shakes|default %}{% for i in 1..variables.quick|default %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</div>
              <table class='mytable'>
                <tr><th class='lbl od lbl-light-fingered ' width='75%'> Light-Fingered </th><td class='var od var-light-fingered c'>{{variables.light_fingered|default('-')}}</td></tr>
                <tr><th class='lbl ev lbl-move'> Move </th><td class='var ev var-move c'>{{variables.move|default('-')}}</td></tr>
                <tr><th class='lbl od lbl-operate'> Operate </th><td class='var od var-operate c'>{{variables.operate|default('-')}}</td></tr>
                <tr><th class='lbl ev lbl-shooting'> Shooting </th><td class='var ev var-shooting c'>{{variables.shooting|default('-')}}</td></tr>
              </table>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='lbl lbl-cunning att'> Cunning </div><div class='var od var-cunning attv c'>{{variables.cunning|default}}</div>
              <div class='lbl ev lbl-vexes c'> Vexes: {% set curr = variables.vexes|default %}{% for i in 1..variables.cunning|default %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</div>
              <table class='mytable'>
                <tr><th class='lbl od lbl-animal-handling ' width='75%'> Animal Handling </th><td class='var od var-animal-handling c'>{{variables.animal_handling|default('-')}}</td></tr>
                <tr><th class='lbl ev lbl-hawkeye'> Hawkeye </th><td class='var ev var-hawkeye c'>{{variables.hawkeye|default('-')}}</td></tr>
                <tr><th class='lbl od lbl-insight'> Insight </th><td class='var od var-insight c'>{{variables.insight|default('-')}}</td></tr>
                <tr><th class='lbl ev lbl-nature'> Nature </th><td class='var ev var-nature c'>{{variables.nature|default('-')}}</td></tr>
              </table>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='lbl lbl-docity att'> Docity </div><div class='var od var-docity attv c'>{{variables.docity|default}}</div>
              <div class='lbl ev lbl-doubts c'> Doubts: {% set curr = variables.doubts|default %}{% for i in 1..variables.docity|default %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</div>
              <table class='mytable'>
                <tr><th class='lbl od lbl-book-learning ' width='75%'> Book Learning </th><td class='var od var-book-learning c'>{{variables.book_learning|default('-')}}</td></tr>
                <tr><th class='lbl ev lbl-doctoring'> Doctoring </th><td class='var ev var-doctoring c'>{{variables.doctoring|default('-')}}</td></tr>
                <tr><th class='lbl od lbl-making'> Making </th><td class='var od var-making c'>{{variables.making|default('-')}}</td></tr>
                <tr><th class='lbl ev lbl-performing'> Performing </th><td class='var ev var-performing c'>{{variables.performing|default('-')}}</td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card status' id='card-status'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12'>
              <div class='hdr'>Status</div>
            </div>
            <div class='col-12 c'>
              <div class='lbl ev lbl-critical-injuries'> Critical Injuries / Conditions </div><div class='var od var-critical-injuries'> {{variables.critical_injuries|default}} </div>
              <span class='lbl ev lbl-starving c'> Starving </span><span class='var ev var-starving c'>{% if variables.starving|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class='lbl ev lbl-dehydrated c'> Dehydrated </span><span class='var ev var-dehydrated c'>{% if variables.dehydrated|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class='lbl ev lbl-exhausted c'> Exhausted </span><span class='var ev var-exhausted c'>{% if variables.exhausted|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class='lbl ev lbl-freezing c'> Freezing </span><span class='var ev var-freezing c'>{% if variables.freezing|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class='lbl ev lbl-heatstroke c'> Heatstroke </span><span class='var ev var-heatstroke c'>{% if variables.heatstroke|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card weapons' id='card-weapons'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12'>
              <div class='hdr'>Favored Weapons</div>
            </div>
            <div class='col-12'>
              <table class='mytable'>
              <tr>
                <th class='lbl ev lbl-weapon-type'> Type </th>
                <th class='lbl ev lbl-weapon-qual'> Qualities/Cond. </th>
                <th class='lbl ev c lbl-weapon-action'> Action </th>
                <th class='lbl ev c lbl-weapon-draw'> Draw </th>
                <th class='lbl ev c lbl-weapon-attack'> Attack </th>
                <th class='lbl ev c lbl-weapon-dam'> Dam </th>
                <th class='lbl ev c lbl-weapon-crit'> Crit </th>
                <th class='lbl ev c lbl-weapon-range'> Range </th>
                <th class='lbl ev c lbl-weapon-ammo'> Ammo </th>
                <th class='lbl ev c lbl-weapon-ammo-used'> Ammo used </th>
              </tr>
              {% for i in 1..10 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% set wtype = attribute(variables, 'weapon_type_' ~ id)|default %}
                {% if wtype != "" %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                <td class='var {{eo}} var-weapon-type'> {{wtype}} </td>
                <td class='var {{eo}} var-weapon-qual'> {{attribute(variables, 'weapon_qual_' ~ id)|default}} </td>
                <td class='var {{eo}} c var-weapon-action'> {{attribute(variables, 'weapon_action_' ~ id)|default}} </td>
                <td class='var {{eo}} c var-weapon-draw'> {{attribute(variables, 'weapon_draw_' ~ id)|default}} </td>
                <td class='var {{eo}} c var-weapon-attack'> {{attribute(variables, 'weapon_attack_' ~ id)|default}} </td>
                <td class='var {{eo}} c var-weapon-dam'> {{attribute(variables, 'weapon_dam_' ~ id)|default}} </td>
                <td class='var {{eo}} c var-weapon-crit'> {{attribute(variables, 'weapon_crit_' ~ id)|default}} </td>
                <td class='var {{eo}} c var-weapon-range'> {{attribute(variables, 'weapon_range_' ~ id)|default}} </td>
                <td class='var {{eo}} c var-weapon-ammo'> {{attribute(variables, 'weapon_ammo_' ~ id)|default}} </td>
                <td class='var {{eo}} c var-weapon-ammo-used'> {{attribute(variables, 'weapon_ammo_used_' ~ id)|default}} </td>
              </tr>
                {% endif %}
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card talents' id='card-talents'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12'>
              <div class='hdr'>Talents</div>
            </div>
            <div class='col-12'>
              <table class='mytable'>
              <tr>
                <th class='lbl ev lbl-talent-name ' width='25%'> Talent </th>
                <th class='lbl ev lbl-talent-description'> Description </th>
              </tr>
              {% for i in 1..10 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% set tname = attribute(variables, 'talent_name_' ~ id)|default %}
                {% if tname != "" %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                <td class='var {{eo}} var-talent-name'> {{tname}} </td>
                <td class='var {{eo}} var-talent-description'> {{attribute(variables, 'talent_description_' ~ id)|default}} </td>
              </tr>
                {% endif %}
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card gear' id='card-gear'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12'>
              <div class='hdr'>Gear</div>
            </div>
            <div class='col-6 col-md-6'>
              <div class='lbl od lbl-cash c'> Cash </div><div class='var ev var-cash c'> {{variables.cash|default}} </div>
            </div>
            <div class='col-6 col-md-6'>
              <div class='lbl od lbl-capital c'> Capital </div><div class='var ev var-capital c'> {{variables.capital|default}} </div>
            </div>
            <div class='col-12'>
              <div class='var ev var-gear'> {{variables.gear|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card compadres' id='card-compadres'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'>Compadres</span>
            </div>
            <div class='col-12'>
              <table class='mytable'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'compadres_name_' ~ id)|default %}
                  {% if name != "" %}
                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr>
                    <th class='lbl od lbl-compadres-name r'>Name {{i}}</th><td class='var od var-compadres-name' colspan=3>{{name}}</td>
                    <th class='lbl od lbl-compadres-role r'>Role</th><td class='var od var-compadres-role' colspan=3>{{attribute(variables, 'compadres_role_' ~ id)|default}}</td>
                  </tr>
                  <tr>
                    <th class='lbl ev lbl-compadres-grit r'>Grit</th><td class='var ev var-compadres-grit c'>{{attribute(variables, 'compadres_grit_' ~ id)|default}}</td>
                    <th class='lbl ev lbl-compadres-quick r'>Quick</th><td class='var ev var-compadres-quick c'>{{attribute(variables, 'compadres_quick_' ~ id)|default}}</td>
                    <th class='lbl ev lbl-compadres-cunning r'>Cunning</th><td class='var ev var-compadres-cunning c'>{{attribute(variables, 'compadres_cunning_' ~ id)|default}}</td>
                    <th class='lbl ev lbl-compadres-docity r'>Docity</th><td class='var ev var-compadres-docity c'>{{attribute(variables, 'compadres_docity_' ~ id)|default}}</td>
                  </tr>
                  <tr>
                    <th class='lbl ev lbl-compadres-hurts r'>Hurts</th>
                    <td class='var ev var-compadres-hurts c'>{% set curr = attribute(variables, 'compadres_hurts_' ~ id)|default %}{% for x in 1..attribute(variables, 'compadres_grit_' ~ id)|default %}{% if x <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                    <th class='lbl ev lbl-compadres-shakes r'>Shakes</th>
                    <td class='var ev var-compadres-shakes c'>{% set curr = attribute(variables, 'compadres_shakes_' ~ id)|default %}{% for x in 1..attribute(variables, 'compadres_quick_' ~ id)|default %}{% if x <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                    <th class='lbl ev lbl-compadres-vexes r'>Vexes</th>
                    <td class='var ev var-compadres-vexes c'>{% set curr = attribute(variables, 'compadres_vexes_' ~ id)|default %}{% for x in 1..attribute(variables, 'compadres_cunning_' ~ id)|default %}{% if x <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                    <th class='lbl ev lbl-compadres-doubts r'>Doubts</th>
                    <td class='var ev var-compadres-doubts c'>{% set curr = attribute(variables, 'compadres_doubts_' ~ id)|default %}{% for x in 1..attribute(variables, 'compadres_docity_' ~ id)|default %}{% if x <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                  </tr>
                  <tr>
                    <th class='lbl ev lbl-compadres-ability1-name r'>Abilities</th><td class='var ev var-compadres-ability1-name'>{{attribute(variables, 'compadres_ability1_name_' ~ id)|default}}</td>
                    <td class='var ev var-compadres-ability1-value c'>{{attribute(variables, 'compadres_ability1_value_' ~ id)|default}}</td>
                    <td class='var ev var-compadres-ability2-name r'>{{attribute(variables, 'compadres_ability2_name_' ~ id)|default}}</td>
                    <td class='var ev var-compadres-ability2-value c'>{{attribute(variables, 'compadres_ability2_value_' ~ id)|default}}</td>
                    <td class='var ev var-compadres-ability3-name r'>{{attribute(variables, 'compadres_ability3_name_' ~ id)|default}}</td>
                    <td class='var ev var-compadres-ability3-value c'>{{attribute(variables, 'compadres_ability3_value_' ~ id)|default}}</td>
                  </tr>
                  <tr>
                    <th class='lbl ev lbl-compadres-notes r'>Notes</th><td class='var ev var-compadres-notes' colspan=7>{{attribute(variables, 'compadres_notes_' ~ id)|default}}</td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card remuda' id='card-remuda'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'>Remuda</span>
            </div>
            <div class='col-12'>
              <table class='mytable'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'remuda_name_' ~ id)|default %}
                  {% if name != "" %}
                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr>
                    <th class='lbl od lbl-remuda-name r'>Name {{i}}</th>
                    <td class='var od var-remuda-name'>{{name}}</td>
                    <th class='lbl od lbl-remuda-breed r'>Breed</th>
                    <td class='var od var-remuda-breed'>{{attribute(variables, 'remuda_breed_' ~ id)|default}}</td>
                    <th class='lbl od lbl-remuda-riding-bonus r'>Riding Bonus</th>
                    <td class='var od var-remuda-riding-bonus'>{{attribute(variables, 'remuda_riding_bonus_' ~ id)|default}}</td>
                  </tr>
                  <tr>
                    <th class='lbl ev lbl-remuda-qualities r'>Qualities</th>
                    <td class='var ev var-remuda-qualities' colspan=2>{{attribute(variables, 'remuda_qualities_' ~ id)|default}}</td>
                    <th class='lbl ev lbl-remuda-flaws r'>Flaws</th>
                    <td class='var ev var-remuda-flaws' colspan=2>{{attribute(variables, 'remuda_flaws_' ~ id)|default}}</td>
                  </tr>
                  <tr>
                    <th class='lbl ev lbl-remuda-grit r'>Grit</th>
                    <td class='var ev var-remuda-grit c'>{{attribute(variables, 'remuda_grit_' ~ id)|default}}</td>
                    <th class='lbl ev lbl-remuda-quick r'>Quick</th>
                    <td class='var ev var-remuda-quick c'>{{attribute(variables, 'remuda_quick_' ~ id)|default}}</td>
                    <th class='lbl ev lbl-remuda-cunning r'>Cunning</th>
                    <td class='var ev var-remuda-cunning c'>{{attribute(variables, 'remuda_cunning_' ~ id)|default}}</td>
                  </tr>
                  <tr>
                    <th class='lbl ev lbl-remuda-resilience r'>Resilience</th>
                    <td class='var ev var-remuda-resilience c'>{{attribute(variables, 'remuda_resilience_' ~ id)|default}}</td>
                    <th class='lbl ev lbl-remuda-move r'>Move</th>
                    <td class='var ev var-remuda-move c'>{{attribute(variables, 'remuda_move_' ~ id)|default}}</td>
                    <th class='lbl ev lbl-remuda-fighting r'>Fighting</th>
                    <td class='var ev var-remuda-fighting c'>{{attribute(variables, 'remuda_fighting_' ~ id)|default}}</td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card horse' id='card-horse'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'>Horse</span>
            </div>
            <div class='col-12'>
              <table class='mytable'>
                <tr>
                  <th class='lbl od lbl-horse-name r'>Name</th>
                  <td class='var od var-horse-name'>{{variables.horse_name|default}}</td>
                  <th class='lbl od lbl-horse-breed r'>Breed</th>
                  <td class='var od var-horse-breed c'>{{variables.horse_breed|default}}</td>
                  <th class='lbl od lbl-horse-riding-bonus r'>Riding Bonus</th>
                  <td class='var od var-horse-riding-bonus c'>{{variables.horse_riding_bonus|default}}</td>
                </tr>
                <tr>
                  <th class='lbl ev lbl-horse-qualities r'>Qualities</th>
                  <td class='var ev var-horse-qualities' colspan=2>{{variables.horse_qualities|default}}</td>
                  <th class='lbl ev lbl-horse-flaws r'>Flaws</th>
                  <td class='var ev var-horse-flaws' colspan=2>{{variables.horse_flaws|default}}</td>
                </tr>
                <tr>
                  <th class='lbl ev lbl-horse-grit r'>Grit</th>
                  <td class='var ev var-horse-grit c'>{{variables.horse_grit|default}}</td>
                  <th class='lbl ev lbl-horse-hurts r'>Hurts</th>
                  <td class='var ev var-horse-hurts c'>{% set curr = variables.horse_hurts|default %}{% for i in 1..variables.horse_grit|default %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                  <th class='lbl ev lbl-horse-resilience r'>Resilience</th>
                  <td class='var ev var-horse-resilience c'>{{variables.horse_resilience|default}}</td>
                </tr>
                <tr>
                  <th class='lbl ev lbl-horse-quick r'>Quick</th>
                  <td class='var ev var-horse-quick c'>{{variables.horse_quick|default}}</td>
                  <th class='lbl ev lbl-horse-shakes r'>Shakes</th>
                  <td class='var ev var-horse-shakes c'>{% set curr = variables.horse_shakes|default %}{% for i in 1..variables.horse_quick|default %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                  <th class='lbl ev lbl-horse-move r'>Move</th>
                  <td class='var ev var-horse-move c'>{{variables.horse_move|default}}</td>
                </tr>
                <tr>
                  <th class='lbl ev lbl-horse-cunning r'>Cunning</th>
                  <td class='var ev var-horse-cunning c'>{{variables.horse_cunning|default}}</td>
                  <th class='lbl ev lbl-horse-vexes r'>Vexes</th>
                  <td class='var ev var-horse-vexes c'>{% set curr = variables.horse_vexes|default %}{% for i in 1..variables.horse_cunning|default %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                  <th class='lbl ev lbl-horse-fighting r'>Fighting</th>
                  <td class='var ev var-horse-fighting c'>{{variables.horse_fighting|default}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card background' id='card-background'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12'>
              <div class='hdr'>Background</div>
            </div>
            <div class='col-12'>
              <div class='var ev var-background'> {{variables.background|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12'>
              <div class='hdr'>Notes</div>
            </div>
            <div class='col-12'>
              <div class='var ev var-notes'> {{variables.notes|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br class='linebreak'>
    <div class='row do-not-print'>
      <div class='col-12 c small'>
        Tales of the Old West &copy; by Effekt - Sheet made by Tillerz - Version 1.00, Updated: 2026-06-23</a><br>
      </div>
    </div>
</div>