<div class='container-fluid sheet-tales-of-the-old-west-sheet'>
  <div class='row'>
    <div class='col-12'>
      <div class='card personal' id='card-personal'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-4'>
            </div>
            <div class='col-4'>
              <img class='image' src='/i/7786604/render' title='Tales of the Old West Sheet' width='300px'>
            </div>
            <div class='col-4'>
            </div>
            <div class='col-12 col-md-4'>
              <div class='ilbl od ilbl-name'><label for='name'>Name</label></div><div class='ivar ev ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' /></div>
            </div>
            <div class='col-12 col-md-4'>
              <div class='ilbl od ilbl-pardner'><label for='pardner'>Pardner</label></div><div class='ivar ev ivar-pardner'><input value='{{variables.pardner|default}}' class='form-control ivar ivar-pardner' id='pardner' name='pardner' type='text' /></div>
            </div>
            <div class='col-12 col-md-4'>
              <div class='ilbl od ilbl-portrait'><label for='portrait'>Portrait</label></div><div class='ivar ev ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait c' id='portrait' name='portrait' placeholder='WA image ID' type='number' /></div>
            </div>
            <div class='col-12 col-md-8'>
              <div class='ilbl od ilbl-archetype'><label for='archetype'>Archetype</label></div><div class='ivar ev ivar-archetype'><input value='{{variables.archetype|default}}' class='form-control ivar ivar-archetype' id='archetype' name='archetype' type='text' /></div>
            </div>
            <div class='col-12 col-md-4'>
              <div class='ilbl od ilbl-age'><label for='age'>Age</label></div><div class='ivar ev ivar-age'><input value='{{variables.age|default}}' class='form-control ivar ivar-age c' id='age' name='age' type='number' /></div>
            </div>
            <div class='col-12 col-md-8'>
              <div class='ilbl od ilbl-faith-text'><label for='faith_text'>Faith</label></div><div class='ivar ev ivar-faith-text'><input value='{{variables.faith_text|default}}' class='form-control ivar ivar-faith-text' id='faith_text' name='faith_text' type='text' /></div>
            </div>
            <div class='col-12 col-md-4'>
              <div class='ilbl od ilbl-faith-points'><label for='faith_points'>Faith Points</label></div><div class='ivar ev ivar-faith-points'><input value='{{variables.faith_points|default}}' class='form-control ivar ivar-faith-points c' id='faith_points' name='faith_points' type='number' min='0' max='10' /></div>
            </div>
            <div class='col-12'>
              <div class='ilbl od ilbl-big-dream'><label for='big_dream'>Big Dream</label></div><div class='ivar ev ivar-big-dream'><input value='{{variables.big_dream|default}}' class='form-control ivar ivar-big-dream' id='big_dream' name='big_dream' type='text' /></div>
            </div>
            <div class='col-12 col-md-5'>
              <div class='ilbl od ilbl-lifestyle'><label for='lifestyle'>Lifestyle</label></div><div class='ivar ev ivar-lifestyle'><input value='{{variables.lifestyle|default}}' class='form-control ivar ivar-lifestyle' id='lifestyle' name='lifestyle' type='text' /></div>
            </div>
            <div class='col-12 col-md-5'>
              <div class='ilbl od ilbl-reputation'><label for='reputation'>Reputation</label></div><div class='ivar ev ivar-reputation'><input value='{{variables.reputation|default}}' class='form-control ivar ivar-reputation' id='reputation' name='reputation' type='text' /></div>
            </div>
            <div class='col-12 col-md-2'>
              <div class='ilbl od ilbl-experience'><label for='experience'>Experience</label></div><div class='ivar ev ivar-experience'><input value='{{variables.experience|default}}' class='form-control ivar ivar-experience c' id='experience' name='experience' type='number' min='0' max='8' /></div>
            </div>
            <div class='col-12 col-md-4'>
              <div class='ilbl od ilbl-fame'><label for='fame'>Fame</label></div><div class='ivar ev ivar-fame'><input value='{{variables.fame|default}}' class='form-control ivar ivar-fame c' id='fame' name='fame' type='number' /></div>
            </div>
            <div class='col-12 col-md-4'>
              <div class='ilbl od ilbl-morals'><label for='morals'>Morals</label></div><div class='ivar ev ivar-morals'><input value='{{variables.morals|default}}' class='form-control ivar ivar-morals c' id='morals' name='morals' type='number' /></div>
            </div>
            <div class='col-12 col-md-4'>
              <div class='ilbl od ilbl-public-spirit'><label for='public_spirit'>Public Spirit</label></div><div class='ivar ev ivar-public-spirit'><input value='{{variables.public_spirit|default}}' class='form-control ivar ivar-public-spirit c' id='public_spirit' name='public_spirit' type='number' /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-lg-12'>
      <div class='card attributes and skills' id='card-attributes and skills'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 col-lg-12 hdr'>
              <span class='text'>Attributes and Skills</span>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='ilbl ilbl-grit att'><label for='grit'>Grit</label></div><div class='ivar od ivar-grit'><input value='{{variables.grit|default}}' class='form-control ivar ivar-grit c' id='grit' name='grit' type='number' /></div>
              <div class='ilbl ev ilbl-hurts c'><label for='hurts'>Hurts</label></div><div class='ivar ev ivar-hurts c'>{% set curr = variables.hurts|default %}{% for i in 1..variables.grit|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control ivar ivar-hurts cb" id="hurts" name="hurts" type="checkbox" />{% endfor %}</div>
              <table class='mytable'>
                <tr><th class='ilbl od ilbl-fighting ' width='75%'><label for='fighting'>Fighting</label></th><td class='ivar od ivar-fighting'><input value='{{variables.fighting|default}}' class='form-control ivar ivar-fighting c' id='fighting' name='fighting' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-labor'><label for='labor'>Labor</label></th><td class='ivar ev ivar-labor'><input value='{{variables.labor|default}}' class='form-control ivar ivar-labor c' id='labor' name='labor' type='number' /></td></tr>
                <tr><th class='ilbl od ilbl-presence'><label for='presence'>Presence</label></th><td class='ivar od ivar-presence'><input value='{{variables.presence|default}}' class='form-control ivar ivar-presence c' id='presence' name='presence' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-resilience'><label for='resilience'>Resilience</label></th><td class='ivar ev ivar-resilience'><input value='{{variables.resilience|default}}' class='form-control ivar ivar-resilience c' id='resilience' name='resilience' type='number' /></td></tr>
              </table>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='ilbl ilbl-quick att'><label for='quick'>Quick</label></div><div class='ivar od ivar-quick'><input value='{{variables.quick|default}}' class='form-control ivar ivar-quick c' id='quick' name='quick' type='number' /></div>
              <div class='ilbl ev ilbl-shakes c'><label for='shakes'>Shakes</label></div><div class='ivar ev ivar-shakes c'>{% set curr = variables.shakes|default %}{% for i in 1..variables.quick|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control ivar ivar-shakes cb" id="shakes" name="shakes" type="checkbox" />{% endfor %}</div>
              <table class='mytable'>
                <tr><th class='ilbl od ilbl-light-fingered ' width='75%'><label for='light_fingered'>Light-Fingered</label></th><td class='ivar od ivar-light-fingered'><input value='{{variables.light_fingered|default}}' class='form-control ivar ivar-light-fingered c' id='light_fingered' name='light_fingered' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-move'><label for='move'>Move</label></th><td class='ivar ev ivar-move'><input value='{{variables.move|default}}' class='form-control ivar ivar-move c' id='move' name='move' type='number' /></td></tr>
                <tr><th class='ilbl od ilbl-operate'><label for='operate'>Operate</label></th><td class='ivar od ivar-operate'><input value='{{variables.operate|default}}' class='form-control ivar ivar-operate c' id='operate' name='operate' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-shooting'><label for='shooting'>Shooting</label></th><td class='ivar ev ivar-shooting'><input value='{{variables.shooting|default}}' class='form-control ivar ivar-shooting c' id='shooting' name='shooting' type='number' /></td></tr>
              </table>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='ilbl ilbl-cunning att'><label for='cunning'>Cunning</label></div><div class='ivar od ivar-cunning'><input value='{{variables.cunning|default}}' class='form-control ivar ivar-cunning c' id='cunning' name='cunning' type='number' /></div>
              <div class='ilbl ev ilbl-vexes c'><label for='vexes'>Vexes</label></div><div class='ivar ev ivar-vexes c'>{% set curr = variables.vexes|default %}{% for i in 1..variables.cunning|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control ivar ivar-vexes cb" id="vexes" name="vexes" type="checkbox" />{% endfor %}</div>
              <table class='mytable'>
                <tr><th class='ilbl od ilbl-animal-handling ' width='75%'><label for='animal_handling'>Animal Handling</label></th><td class='ivar od ivar-animal-handling'><input value='{{variables.animal_handling|default}}' class='form-control ivar ivar-animal-handling c' id='animal_handling' name='animal_handling' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-hawkeye'><label for='hawkeye'>Hawkeye</label></th><td class='ivar ev ivar-hawkeye'><input value='{{variables.hawkeye|default}}' class='form-control ivar ivar-hawkeye c' id='hawkeye' name='hawkeye' type='number' /></td></tr>
                <tr><th class='ilbl od ilbl-insight'><label for='insight'>Insight</label></th><td class='ivar od ivar-insight'><input value='{{variables.insight|default}}' class='form-control ivar ivar-insight c' id='insight' name='insight' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-nature'><label for='nature'>Nature</label></th><td class='ivar ev ivar-nature'><input value='{{variables.nature|default}}' class='form-control ivar ivar-nature c' id='nature' name='nature' type='number' /></td></tr>
              </table>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='ilbl ilbl-docity att'><label for='docity'>Docity</label></div><div class='ivar od ivar-docity'><input value='{{variables.docity|default}}' class='form-control ivar ivar-docity c' id='docity' name='docity' type='number' /></div>
              <div class='ilbl ev ilbl-doubts c'><label for='doubts'>Doubts</label></div><div class='ivar ev ivar-doubts c'>{% set curr = variables.doubts|default %}{% for i in 1..variables.docity|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control ivar ivar-doubts cb" id="doubts" name="doubts" type="checkbox" />{% endfor %}</div>
              <table class='mytable'>
                <tr><th class='ilbl od ilbl-book-learning ' width='75%'><label for='book_learning'>Book Learning</label></th><td class='ivar od ivar-book-learning'><input value='{{variables.book_learning|default}}' class='form-control ivar ivar-book-learning c' id='book_learning' name='book_learning' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-doctoring'><label for='doctoring'>Doctoring</label></th><td class='ivar ev ivar-doctoring'><input value='{{variables.doctoring|default}}' class='form-control ivar ivar-doctoring c' id='doctoring' name='doctoring' type='number' /></td></tr>
                <tr><th class='ilbl od ilbl-making'><label for='making'>Making</label></th><td class='ivar od ivar-making'><input value='{{variables.making|default}}' class='form-control ivar ivar-making c' id='making' name='making' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-performing'><label for='performing'>Performing</label></th><td class='ivar ev ivar-performing'><input value='{{variables.performing|default}}' class='form-control ivar ivar-performing c' id='performing' name='performing' type='number' /></td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card status' id='card-status'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'>Status</span>
            </div>
            <div class='col-12 c'>
              <div class='ilbl od ilbl-critical-injuries'><label for='critical_injuries'>Critical Injuries / Conditions</label></div><div class='ivar ev ivar-critical-injuries'><input value='{{variables.critical_injuries|default}}' class='form-control ivar ivar-critical-injuries' id='critical_injuries' name='critical_injuries' type='text' /></div>
              <span class='ilbl ev ilbl-starving'><label for='starving'>Starving</label></span><span class='ivar ev ivar-starving c'><input value='0' id='starving' name='starving' type='hidden' /><input value='1' class='c' {% if variables.starving|default > 0 %} checked='checked'{% endif %} id='starving' name='starving' type='checkbox' /></span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class='ilbl ev ilbl-dehydrated'><label for='dehydrated'>Dehydrated</label></span><span class='ivar ev ivar-dehydrated c'><input value='0' id='dehydrated' name='dehydrated' type='hidden' /><input value='1' class='c' {% if variables.dehydrated|default > 0 %} checked='checked'{% endif %} id='dehydrated' name='dehydrated' type='checkbox' /></span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class='ilbl ev ilbl-exhausted'><label for='exhausted'>Exhausted</label></span><span class='ivar ev ivar-exhausted c'><input value='0' id='exhausted' name='exhausted' type='hidden' /><input value='1' class='c' {% if variables.exhausted|default > 0 %} checked='checked'{% endif %} id='exhausted' name='exhausted' type='checkbox' /></span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class='ilbl ev ilbl-freezing'><label for='freezing'>Freezing</label></span><span class='ivar ev ivar-freezing c'><input value='0' id='freezing' name='freezing' type='hidden' /><input value='1' class='c' {% if variables.freezing|default > 0 %} checked='checked'{% endif %} id='freezing' name='freezing' type='checkbox' /></span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class='ilbl ev ilbl-heatstroke'><label for='heatstroke'>Heatstroke</label></span><span class='ivar ev ivar-heatstroke c'><input value='0' id='heatstroke' name='heatstroke' type='hidden' /><input value='1' class='c' {% if variables.heatstroke|default > 0 %} checked='checked'{% endif %} id='heatstroke' name='heatstroke' type='checkbox' /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card talents' id='card-talents'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 col-lg-12 hdr'>
              <span class='text'>Favored Weapons</span>
            </div>
            <div class='col-12 col-lg-12'>
              <table class='mytable'>
              <tr>
              <th class='ilbl od ilbl-weapon-type'><label for='weapon_type'>Type</label></th>
              <th class='ilbl od ilbl-weapon-qual'><label for='weapon_qual'>Qualities/Cond.</label></th>
              <th class='ilbl od ilbl-weapon-action' width='60px'><label for='weapon_action'>Action</label></th>
              <th class='ilbl od ilbl-weapon-draw' width='60px'><label for='weapon_draw'>Draw</label></th>
              <th class='ilbl od ilbl-weapon-attack' width='60px'><label for='weapon_attack'>Attack</label></th>
              <th class='ilbl od ilbl-weapon-dam' width='60px'><label for='weapon_dam'>Dam</label></th>
              <th class='ilbl od ilbl-weapon-crit' width='60px'><label for='weapon_crit'>Crit</label></th>
              <th class='ilbl od ilbl-weapon-range' width='60px'><label for='weapon_range'>Range</label></th>
              <th class='ilbl od ilbl-weapon-ammo' width='60px'><label for='weapon_ammo'>Ammo</label></th>
              <th class='ilbl od ilbl-weapon-ammo-used' width='80px'><label for='weapon_ammo_used'>Ammo used</label></th>
              </tr>
              {% for i in 1..10 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
              <tr><td class='ivar ev ivar-weapon-type'><input value='{{attribute(variables, 'weapon_type_' ~ id)|default}}' class='form-control ivar ivar-weapon-type' id='weapon_type_{{id}}' name='weapon_type_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-weapon-qual'><input value='{{attribute(variables, 'weapon_qual_' ~ id)|default}}' class='form-control ivar ivar-weapon-qual' id='weapon_qual_{{id}}' name='weapon_qual_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-weapon-action'><input value='{{attribute(variables, 'weapon_action_' ~ id)|default}}' class='form-control ivar ivar-weapon-action' id='weapon_action_{{id}}' name='weapon_action_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-weapon-draw'><input value='{{attribute(variables, 'weapon_draw_' ~ id)|default}}' class='form-control ivar ivar-weapon-draw' id='weapon_draw_{{id}}' name='weapon_draw_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-weapon-attack'><input value='{{attribute(variables, 'weapon_attack_' ~ id)|default}}' class='form-control ivar ivar-weapon-attack' id='weapon_attack_{{id}}' name='weapon_attack_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-weapon-dam'><input value='{{attribute(variables, 'weapon_dam_' ~ id)|default}}' class='form-control ivar ivar-weapon-dam' id='weapon_dam_{{id}}' name='weapon_dam_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-weapon-crit'><input value='{{attribute(variables, 'weapon_crit_' ~ id)|default}}' class='form-control ivar ivar-weapon-crit' id='weapon_crit_{{id}}' name='weapon_crit_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-weapon-range'><input value='{{attribute(variables, 'weapon_range_' ~ id)|default}}' class='form-control ivar ivar-weapon-range' id='weapon_range_{{id}}' name='weapon_range_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-weapon-ammo'><input value='{{attribute(variables, 'weapon_ammo_' ~ id)|default}}' class='form-control ivar ivar-weapon-ammo' id='weapon_ammo_{{id}}' name='weapon_ammo_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-weapon-ammo-used'><input value='{{attribute(variables, 'weapon_ammo_used_' ~ id)|default}}' class='form-control ivar ivar-weapon-ammo-used' id='weapon_ammo_used_{{id}}' name='weapon_ammo_used_{{id}}' type='text' /></td>
              </tr>
              {% endfor %}
              </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card talents' id='card-talents'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 col-lg-12 hdr'>
              <span class='text'>Talents</span>
            </div>
            <div class='col-12 col-lg-12'>
              <table class='mytable'>
              <tr>
              <th class='ilbl od ilbl-talent-name ' width='25%'><label for='talent_name'>Talent</label></th>
              <th class='ilbl od ilbl-talent-description'><label for='talent_description'>Description</label></th>
              </tr>
              {% for i in 1..10 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
              <tr><td class='ivar ev ivar-talent-name'><input value='{{attribute(variables, 'talent_name_' ~ id)|default}}' class='form-control ivar ivar-talent-name' id='talent_name_{{id}}' name='talent_name_{{id}}' type='text' /></td>
              <td class='ivar ev ivar-talent-description'><input value='{{attribute(variables, 'talent_description_' ~ id)|default}}' class='form-control ivar ivar-talent-description' id='talent_description_{{id}}' name='talent_description_{{id}}' type='text' /></td>
              </tr>
              {% endfor %}
              </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card gear' id='card-gear'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'>Gear</span>
            </div>
            <div class='col-6 col-md-6'>
              <div class='ilbl od ilbl-cash'><label for='cash'>Cash</label></div><div class='ivar ev ivar-cash'><input value='{{variables.cash|default}}' class='form-control ivar ivar-cash' id='cash' name='cash' type='text' /></div>
            </div>
            <div class='col-6 col-md-6'>
              <div class='ilbl od ilbl-capital'><label for='capital'>Capital</label></div><div class='ivar ev ivar-capital'><input value='{{variables.capital|default}}' class='form-control ivar ivar-capital' id='capital' name='capital' type='text' /></div>
            </div>
            <div class='col-12'>
              <div class='ivar ev ivar-gear'><div class='iContent'><textarea class='form-control ivar ivar-gear ' id='gear' name='gear' rows='4'  >{{variables.gear|default}}</textarea></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card compadres' id='card-compadres'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'>Compadres</span>
            </div>
            <div class='col-12'>
              <table class='mytable'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr>
                    <th class='ilbl od ilbl-compadres-name r'><label for='compadres_name'>Name {{i}}</label></th><td class='ivar od ivar-compadres-name' colspan=3><input value='{{attribute(variables, 'compadres_name_' ~ id)|default}}' class='form-control ivar ivar-compadres-name' id='compadres_name_{{id}}' name='compadres_name_{{id}}' type='text' /></td>
                    <th class='ilbl od ilbl-compadres-role r'><label for='compadres_role'>Role</label></th><td class='ivar od ivar-compadres-role' colspan=3><input value='{{attribute(variables, 'compadres_role_' ~ id)|default}}' class='form-control ivar ivar-compadres-role' id='compadres_role_{{id}}' name='compadres_role_{{id}}' type='text' /></td>
                  </tr>
                  <tr>
                    <th class='ilbl ev ilbl-compadres-grit r'><label for='compadres_grit'>Grit</label></th><td class='ivar ev ivar-compadres-grit'><input value='{{attribute(variables, 'compadres_grit_' ~ id)|default}}' class='form-control ivar ivar-compadres-grit c' id='compadres_grit_{{id}}' name='compadres_grit_{{id}}' type='number' /></td>
                    <th class='ilbl ev ilbl-compadres-quick r'><label for='compadres_quick'>Quick</label></th><td class='ivar ev ivar-compadres-quick'><input value='{{attribute(variables, 'compadres_quick_' ~ id)|default}}' class='form-control ivar ivar-compadres-quick c' id='compadres_quick_{{id}}' name='compadres_quick_{{id}}' type='number' /></td>
                    <th class='ilbl ev ilbl-compadres-cunning r'><label for='compadres_cunning'>Cunning</label></th><td class='ivar ev ivar-compadres-cunning'><input value='{{attribute(variables, 'compadres_cunning_' ~ id)|default}}' class='form-control ivar ivar-compadres-cunning c' id='compadres_cunning_{{id}}' name='compadres_cunning_{{id}}' type='number' /></td>
                    <th class='ilbl ev ilbl-compadres-docity r'><label for='compadres_docity'>Docity</label></th><td class='ivar ev ivar-compadres-docity'><input value='{{attribute(variables, 'compadres_docity_' ~ id)|default}}' class='form-control ivar ivar-compadres-docity c' id='compadres_docity_{{id}}' name='compadres_docity_{{id}}' type='number' /></td>
                  </tr>
                  <tr>
                    <th class='ilbl ev ilbl-compadres-hurts r'><label for='compadres_hurts'>Hurts</label></th>
                    <td class='ivar ev ivar-compadres-hurts'>{% set curr = attribute(variables, 'compadres_hurts_' ~ id)|default %}{% for x in 1..attribute(variables, 'compadres_grit_' ~ id)|default %}<input value="{{x}}" {% if x <= curr %}checked=checked{% endif %} class="form-control ivar ivar-hurts cb" id="compadres_hurts_{{id}}" name="compadres_hurts_{{id}}" type="checkbox" />{% endfor %}</td>
                    <th class='ilbl ev ilbl-compadres-shakes r'><label for='compadres_shakes'>Shakes</label></th>
                    <td class='ivar ev ivar-compadres-shakes'>{% set curr = attribute(variables, 'compadres_shakes_' ~ id)|default %}{% for x in 1..attribute(variables, 'compadres_quick_' ~ id)|default %}<input value="{{x}}" {% if x <= curr %}checked=checked{% endif %} class="form-control ivar ivar-shakes cb" id="compadres_shakes_{{id}}" name="compadres_shakes_{{id}}" type="checkbox" />{% endfor %}</td>
                    <th class='ilbl ev ilbl-compadres-vexes r'><label for='compadres_vexes'>Vexes</label></th>
                    <td class='ivar ev ivar-compadres-vexes'>{% set curr = attribute(variables, 'compadres_vexes_' ~ id)|default %}{% for x in 1..attribute(variables, 'compadres_cunning_' ~ id)|default %}<input value="{{x}}" {% if x <= curr %}checked=checked{% endif %} class="form-control ivar ivar-vexes cb" id="compadres_vexes_{{id}}" name="compadres_vexes_{{id}}" type="checkbox" />{% endfor %}</td>
                    <th class='ilbl ev ilbl-compadres-doubts r'><label for='compadres_doubts'>Doubts</label></th>
                    <td class='ivar ev ivar-compadres-doubts'>{% set curr = attribute(variables, 'compadres_doubts_' ~ id)|default %}{% for x in 1..attribute(variables, 'compadres_docity_' ~ id)|default %}<input value="{{x}}" {% if x <= curr %}checked=checked{% endif %} class="form-control ivar ivar-doubts cb" id="compadres_doubts_{{id}}" name="compadres_doubts_{{id}}" type="checkbox" />{% endfor %}</td>
                  </tr>
                  <tr>
                    <th class='ilbl ev ilbl-compadres-ability1-name r'><label for='compadres_ability1_name'>Abilities</label></th><td class='ivar ev ivar-compadres-ability1-name'><input value='{{attribute(variables, 'compadres_ability1_name_' ~ id)|default}}' class='form-control ivar ivar-compadres-ability1-name' id='compadres_ability1_name_{{id}}' name='compadres_ability1_name_{{id}}' type='text' placeholder='Name'/></td>
                    <td class='ivar ev ivar-compadres-ability1-value'><input value='{{attribute(variables, 'compadres_ability1_value_' ~ id)|default}}' class='form-control ivar ivar-compadres-ability1-value c' id='compadres_ability1_value_{{id}}' name='compadres_ability1_value_{{id}}' type='number' /></td>
                    <td class='ivar ev ivar-compadres-ability2-name'><input value='{{attribute(variables, 'compadres_ability2_name_' ~ id)|default}}' class='form-control ivar ivar-compadres-ability2-name' id='compadres_ability2_name_{{id}}' name='compadres_ability2_name_{{id}}' type='text' placeholder='Name' /></td>
                    <td class='ivar ev ivar-compadres-ability2-value'><input value='{{attribute(variables, 'compadres_ability2_value_' ~ id)|default}}' class='form-control ivar ivar-compadres-ability2-value c' id='compadres_ability2_value_{{id}}' name='compadres_ability2_value_{{id}}' type='number' /></td>
                    <td class='ivar ev ivar-compadres-ability3-name'><input value='{{attribute(variables, 'compadres_ability3_name_' ~ id)|default}}' class='form-control ivar ivar-compadres-ability3-name' id='compadres_ability3_name_{{id}}' name='compadres_ability3_name_{{id}}' type='text' placeholder='Name' /></td>
                    <td class='ivar ev ivar-compadres-ability3-value'><input value='{{attribute(variables, 'compadres_ability3_value_' ~ id)|default}}' class='form-control ivar ivar-compadres-ability3-value c' id='compadres_ability3_value_{{id}}' name='compadres_ability3_value_{{id}}' type='number' /></td>
                  </tr>
                  <tr>
                    <th class='ilbl ev ilbl-compadres-notes r'><label for='compadres_notes'>Notes</label></th><td class='ivar ev ivar-compadres-notes' colspan=7><input value='{{attribute(variables, 'compadres_notes_' ~ id)|default}}' class='form-control ivar ivar-compadres-notes' id='compadres_notes_{{id}}' name='compadres_notes_{{id}}' type='text' /></td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card remuda' id='card-remuda'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'>Remuda</span>
            </div>
            <div class='col-12'>
              <table class='mytable'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr>
                    <th class='ilbl od ilbl-remuda-name r'><label for='remuda_name'>Name {{i}}</label></th>
                    <td class='ivar od ivar-remuda-name'><input value='{{attribute(variables, 'remuda_name_' ~ id)|default}}' class='form-control ivar ivar-remuda-name' id='remuda_name_{{id}}' name='remuda_name_{{id}}' type='text' /></td>
                    <th class='ilbl od ilbl-remuda-breed r'><label for='remuda_breed'>Breed</label></th>
                    <td class='ivar od ivar-remuda-breed'><input value='{{attribute(variables, 'remuda_breed_' ~ id)|default}}' class='form-control ivar ivar-remuda-breed' id='remuda_breed_{{id}}' name='remuda_breed_{{id}}' type='text' /></td>
                    <th class='ilbl od ilbl-remuda-riding-bonus r'><label for='remuda_riding_bonus'>Riding Bonus</label></th>
                    <td class='ivar od ivar-remuda-riding-bonus'><input value='{{attribute(variables, 'remuda_riding_bonus_' ~ id)|default}}' class='form-control ivar ivar-remuda-riding-bonus' id='remuda_riding_bonus_{{id}}' name='remuda_riding_bonus_{{id}}' type='text' /></td>
                  </tr>
                  <tr>
                    <th class='ilbl ev ilbl-remuda-qualities r'><label for='remuda_qualities'>Qualities</label></th>
                    <td class='ivar ev ivar-remuda-qualities' colspan=2><input value='{{attribute(variables, 'remuda_qualities_' ~ id)|default}}' class='form-control ivar ivar-remuda-qualities' id='remuda_qualities_{{id}}' name='remuda_qualities_{{id}}' type='text' /></td>
                    <th class='ilbl ev ilbl-remuda-flaws r'><label for='remuda_flaws'>Flaws</label></th>
                    <td class='ivar ev ivar-remuda-flaws' colspan=2><input value='{{attribute(variables, 'remuda_flaws_' ~ id)|default}}' class='form-control ivar ivar-remuda-flaws' id='remuda_flaws_{{id}}' name='remuda_flaws_{{id}}' type='text' /></td>
                  </tr>
                  <tr>
                    <th class='ilbl ev ilbl-remuda-grit r'><label for='remuda_grit'>Grit</label></th>
                    <td class='ivar ev ivar-remuda-grit'><input value='{{attribute(variables, 'remuda_grit_' ~ id)|default}}' class='form-control ivar ivar-remuda-grit c' id='remuda_grit_{{id}}' name='remuda_grit_{{id}}' type='number' /></td>
                    <th class='ilbl ev ilbl-remuda-quick r'><label for='remuda_quick'>Quick</label></th>
                    <td class='ivar ev ivar-remuda-quick'><input value='{{attribute(variables, 'remuda_quick_' ~ id)|default}}' class='form-control ivar ivar-remuda-quick c' id='remuda_quick_{{id}}' name='remuda_quick_{{id}}' type='number' /></td>
                    <th class='ilbl ev ilbl-remuda-cunning r'><label for='remuda_cunning'>Cunning</label></th>
                    <td class='ivar ev ivar-remuda-cunning'><input value='{{attribute(variables, 'remuda_cunning_' ~ id)|default}}' class='form-control ivar ivar-remuda-cunning c' id='remuda_cunning_{{id}}' name='remuda_cunning_{{id}}' type='number' /></td>
                  </tr>
                  <tr>
                    <th class='ilbl ev ilbl-remuda-resilience r'><label for='remuda_resilience'>Resilience</label></th>
                    <td class='ivar ev ivar-remuda-resilience'><input value='{{attribute(variables, 'remuda_resilience_' ~ id)|default}}' class='form-control ivar ivar-remuda-resilience c' id='remuda_resilience_{{id}}' name='remuda_resilience_{{id}}' type='number' /></td>
                    <th class='ilbl ev ilbl-remuda-move r'><label for='remuda_move'>Move</label></th>
                    <td class='ivar ev ivar-remuda-move'><input value='{{attribute(variables, 'remuda_move_' ~ id)|default}}' class='form-control ivar ivar-remuda-move c' id='remuda_move_{{id}}' name='remuda_move_{{id}}' type='number' /></td>
                    <th class='ilbl ev ilbl-remuda-fighting r'><label for='remuda_fighting'>Fighting</label></th>
                    <td class='ivar ev ivar-remuda-fighting'><input value='{{attribute(variables, 'remuda_fighting_' ~ id)|default}}' class='form-control ivar ivar-remuda-fighting c' id='remuda_fighting_{{id}}' name='remuda_fighting_{{id}}' type='number' /></td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card horse' id='card-horse'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'>Horse</span>
            </div>
            <div class='col-12'>
              <table class='mytable'>
                <tr>
                  <th class='ilbl od ilbl-horse-name r'><label for='horse_name'>Name</label></th>
                  <td class='ivar od ivar-horse-name'><input value='{{variables.horse_name|default}}' class='form-control ivar ivar-horse-name' id='horse_name' name='horse_name' type='text' /></td>
                  <th class='ilbl od ilbl-horse-breed r'><label for='horse_breed'>Breed</label></th>
                  <td class='ivar od ivar-horse-breed'><input value='{{variables.horse_breed|default}}' class='form-control ivar ivar-horse-breed' id='horse_breed' name='horse_breed' type='text' /></td>
                  <th class='ilbl od ilbl-horse-riding-bonus r'><label for='horse_riding_bonus'>Riding Bonus</label></th>
                  <td class='ivar od ivar-horse-riding-bonus'><input value='{{variables.horse_riding_bonus|default}}' class='form-control ivar ivar-horse-riding-bonus c' id='horse_riding_bonus' name='horse_riding_bonus' type='text' /></td>
                </tr>
                <tr>
                  <th class='ilbl ev ilbl-horse-qualities r'><label for='horse_qualities'>Qualities</label></th>
                  <td class='ivar ev ivar-horse-qualities' colspan=2><input value='{{variables.horse_qualities|default}}' class='form-control ivar ivar-horse-qualities' id='horse_qualities' name='horse_qualities' type='text' /></td>
                  <th class='ilbl ev ilbl-horse-flaws r'><label for='horse_flaws'>Flaws</label></th>
                  <td class='ivar ev ivar-horse-flaws' colspan=2><input value='{{variables.horse_flaws|default}}' class='form-control ivar ivar-horse-flaws' id='horse_flaws' name='horse_flaws' type='text' /></td>
                </tr>
                <tr>
                  <th class='ilbl ev ilbl-horse-grit r'><label for='horse_grit'>Grit</label></th>
                  <td class='ivar ev ivar-horse-grit'><input value='{{variables.horse_grit|default}}' class='form-control ivar ivar-horse-grit c' id='horse_grit' name='horse_grit' type='number' /></td>
                  <th class='ilbl ev ilbl-horse-hurts r'><label for='horse_hurts'>Hurts</label></th>
                  <td class='ivar ev ivar-horse-hurts'>{% set curr = variables.horse_hurts|default %}{% for i in 1..variables.horse_grit|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control ivar ivar-hurts cb" id="horse_hurts" name="horse_hurts" type="checkbox" />{% endfor %}</td>
                  <th class='ilbl ev ilbl-horse-resilience r'><label for='horse_resilience'>Resilience</label></th>
                  <td class='ivar ev ivar-horse-resilience'><input value='{{variables.horse_resilience|default}}' class='form-control ivar ivar-horse-resilience c' id='horse_resilience' name='horse_resilience' type='number' /></td>
                </tr>
                <tr>
                  <th class='ilbl ev ilbl-horse-quick r'><label for='horse_quick'>Quick</label></th>
                  <td class='ivar ev ivar-horse-quick'><input value='{{variables.horse_quick|default}}' class='form-control ivar ivar-horse-quick c' id='horse_quick' name='horse_quick' type='number' /></td>
                  <th class='ilbl ev ilbl-horse-shakes r'><label for='horse_shakes'>Shakes</label></th>
                  <td class='ivar ev ivar-horse-shakes'>{% set curr = variables.horse_shakes|default %}{% for i in 1..variables.horse_quick|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control ivar ivar-shakes cb" id="horse_shakes" name="horse_shakes" type="checkbox" />{% endfor %}</td>
                  <th class='ilbl ev ilbl-horse-move r'><label for='horse_move'>Move</label></th>
                  <td class='ivar ev ivar-horse-move'><input value='{{variables.horse_move|default}}' class='form-control ivar ivar-horse-move c' id='horse_move' name='horse_move' type='number' /></td>
                </tr>
                <tr>
                  <th class='ilbl ev ilbl-horse-cunning r'><label for='horse_cunning'>Cunning</label></th>
                  <td class='ivar ev ivar-horse-cunning'><input value='{{variables.horse_cunning|default}}' class='form-control ivar ivar-horse-cunning c' id='horse_cunning' name='horse_cunning' type='number' /></td>
                  <th class='ilbl ev ilbl-horse-vexes r'><label for='horse_vexes'>Vexes</label></th>
                  <td class='ivar ev ivar-horse-vexes'>{% set curr = variables.horse_vexes|default %}{% for i in 1..variables.horse_cunning|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control ivar ivar-vexes cb" id="horse_vexes" name="horse_vexes" type="checkbox" />{% endfor %}</td>
                  <th class='ilbl ev ilbl-horse-fighting r'><label for='horse_fighting'>Fighting</label></th>
                  <td class='ivar ev ivar-horse-fighting'><input value='{{variables.horse_fighting|default}}' class='form-control ivar ivar-horse-fighting c' id='horse_fighting' name='horse_fighting' type='number' /></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card background' id='card-background'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'><label for='background'>Background</label></span>
            </div>
            <div class='col-12'>
              <div class='ivar'><textarea class='form-control ivar ivar-background ' id='background' name='background' rows='4'  >{{variables.background|default}}</textarea></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 hdr'>
              <span class='text'><label for='notes'>Notes</label></span>
            </div>
            <div class='col-12'>
              <div class='ivar'><textarea class='form-control ivar ivar-notes ' id='notes' name='notes' rows='4'  >{{variables.notes|default}}</textarea></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>