<div class='container-fluid sheet-tales-of-the-old-west-tracker'>
  <div class='row'>
    <div class='col-12'>
      <div class='card tracker' id='card-tracker'>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='ilbl od ilbl-Tracker'>Tracker</div>
              <table class='mytable'>
                <tr><th class='ilbl ev ilbl-faith-points'><label for='faith_points'>Faith Points</label></th><td class='ivar ev ivar-faith-points'><input value='{{variables.faith_points|default}}' class='form-control ivar ivar-faith-points c' id='faith_points' name='faith_points' type='number' min='0' max='10' /></td></tr>
                <tr><th class='ilbl ev ilbl-experience'><label for='experience'>Experience</label></th><td class='ivar ev ivar-experience'><input value='{{variables.experience|default}}' class='form-control ivar ivar-experience c' id='experience' name='experience' type='number' min='0' max='8' /></td></tr>
                <tr><th class='ilbl ev ilbl-fame'><label for='fame'>Fame</label></th><td class='ivar ev ivar-fame'><input value='{{variables.fame|default}}' class='form-control ivar ivar-fame c' id='fame' name='fame' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-morals'><label for='morals'>Morals</label></th><td class='ivar ev ivar-morals'><input value='{{variables.morals|default}}' class='form-control ivar ivar-morals c' id='morals' name='morals' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-public-spirit'><label for='public_spirit'>Public Spirit</label></th><td class='ivar ev ivar-public-spirit'><input value='{{variables.public_spirit|default}}' class='form-control ivar ivar-public-spirit c' id='public_spirit' name='public_spirit' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-cash'><label for='cash'>Cash</label></th><th class='ivar ev ivar-cash'><input value='{{variables.cash|default}}' class='form-control ivar ivar-cash c' id='cash' name='cash' type='text' /></th></tr>
              </table>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='ilbl od ilbl-status'>Status</div>
              <table class='mytable'>
                <tr><th class='ilbl ev ilbl-hurts c'><label for='hurts'>Hurts</label></th></tr>
                <tr><td class='ivar ev ivar-hurts c'>{% set curr = variables.hurts|default %}{% for i in 1..variables.grit|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control cb" id="hurts" name="hurts" type="checkbox" />{% endfor %}</td></tr>
                <tr><th class='ilbl ev ilbl-shakes c'><label for='shakes'>Shakes</label></th></tr>
                <tr><td class='ivar ev ivar-shakes c'>{% set curr = variables.shakes|default %}{% for i in 1..variables.quick|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control cb" id="shakes" name="shakes" type="checkbox" />{% endfor %}</td></tr>
                <tr><th class='ilbl ev ilbl-vexes c'><label for='vexes'>Vexes</label></th></tr>
                <tr><td class='ivar ev ivar-vexes c'>{% set curr = variables.vexes|default %}{% for i in 1..variables.cunning|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control cb" id="vexes" name="vexes" type="checkbox" />{% endfor %}</td></tr>
                <tr><th class='ilbl ev ilbl-doubts c'><label for='doubts'>Doubts</label></th></tr>
                <tr><td class='ivar ev ivar-doubts c'>{% set curr = variables.doubts|default %}{% for i in 1..variables.docity|default %}<input value="{{i}}" {% if i <= curr %}checked=checked{% endif %} class="form-control cb" id="doubts" name="doubts" type="checkbox" />{% endfor %}</td></tr>
              </table>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='ilbl od ilbl-critical-injuries'><label for='critical_injuries'>Critical Injuries / Conditions</label></div>
              <div class='ivar ev ivar-critical-injuries'><input value='{{variables.critical_injuries|default}}' class='form-control ivar ivar-critical-injuries' id='critical_injuries' name='critical_injuries' type='text' /></div>
              <table class='mytable'>
                <tr><th class='ilbl ev ilbl-starving'><label for='starving'>Starving</label></th><td class='ivar ev ivar-starving c'><input value='0' id='starving' name='starving' type='hidden' /><input value='1' class='c' {% if variables.starving|default > 0 %} checked='checked'{% endif %} id='starving' name='starving' type='checkbox' /></td></tr>
                <tr><th class='ilbl ev ilbl-dehydrated'><label for='dehydrated'>Dehydrated</label></th><td class='ivar ev ivar-dehydrated c'><input value='0' id='dehydrated' name='dehydrated' type='hidden' /><input value='1' class='c' {% if variables.dehydrated|default > 0 %} checked='checked'{% endif %} id='dehydrated' name='dehydrated' type='checkbox' /></td></tr>
                <tr><th class='ilbl ev ilbl-exhausted'><label for='exhausted'>Exhausted</label></th><td class='ivar ev ivar-exhausted c'><input value='0' id='exhausted' name='exhausted' type='hidden' /><input value='1' class='c' {% if variables.exhausted|default > 0 %} checked='checked'{% endif %} id='exhausted' name='exhausted' type='checkbox' /></td></tr>
                <tr><th class='ilbl ev ilbl-freezing'>Freezing</label></th><td class='ivar ev ivar-freezing c'><input value='0' id='freezing' name='freezing' type='hidden' /><input value='1' class='c' {% if variables.freezing|default > 0 %} checked='checked'{% endif %} id='freezing' name='freezing' type='checkbox' /></td></tr>
                <tr><th class='ilbl ev ilbl-heatstroke'><label for='heatstroke'>Heatstroke</label></th><td class='ivar ev ivar-heatstroke c'><input value='0' id='heatstroke' name='heatstroke' type='hidden' /><input value='1' class='c' {% if variables.heatstroke|default > 0 %} checked='checked'{% endif %} id='heatstroke' name='heatstroke' type='checkbox' /></td></tr>
              </table>
            </div>
            <div class='col-12 col-md-6 col-lg-3'>
              <div class='ilbl od ilbl-notes'><label for='notes'>Notes</label></div>
              <div class='ivar ev ivar-notes'><textarea class='form-control ivar ivar-notes ' id='notes' name='notes' rows='4'  >{{variables.notes|default}}</textarea></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>