{% set S = variables.att_s_ini|default + variables.att_s_adv|default %}
{% set T = variables.att_t_ini|default + variables.att_t_adv|default %}
{% set WP = variables.att_wp_ini|default + variables.att_wp_adv|default %}
<div class="container-fluid sheet-warhammer-4e badge">
    <div class="row">
        <div class="col-12">
            <div class="card personal" id="card-personal">
                <div class="card-body c">
                    <b>{{variables.name|default}}</b><br>
                    {{variables.species|default}}<br>
                    {{variables.class|default}}, {{variables.career|default}} {{variables.career_level|default}},<br>
                    {{variables.career_path|default}}<br>
                    {{variables.status|default}}
                    <table class='table'>
                        <tr>
                            <th class='lbl od lbl-att-ws-label c' title='Weapon Skill'> WS </th>
                            <th class='lbl ev lbl-att-bs-label c' title='Ballistic Skill'> BS </th>
                            <th class='lbl od lbl-att-s-label c' title='Strength'> S </th>
                            <th class='lbl ev lbl-att-t-label c' title='Toughness'> T </th>
                            <th class='lbl od lbl-att-i-label c' title='Initiative'> I </th>
                        </tr>
                        <tr>
                            <td class='var od var-att-ws-curr c'>  {{variables.att_ws_ini|default + variables.att_ws_adv|default}} </td>
                            <td class='var ev var-att-bs-curr c'>  {{variables.att_bs_ini|default + variables.att_bs_adv|default}} </td>
                            <td class='var od var-att-s-curr c'>   {{S}} </td>
                            <td class='var ev var-att-t-curr c'>   {{T}} </td>
                            <td class='var od var-att-i-curr c'>   {{variables.att_i_ini|default + variables.att_i_adv|default}} </td>
                        </tr>
                        <tr>
                            <th class='lbl ev lbl-att-ag-label c' title='Agility'> Ag </th>
                            <th class='lbl od lbl-att-dex-label c' title='Dexterity'> Dex </th>
                            <th class='lbl ev lbl-att-int-label c' title='Intelligence'> Int </th>
                            <th class='lbl od lbl-att-wp-label c' title='Willpower'> WP </th>
                            <th class='lbl ev lbl-att-fel-label c' title='Fellowship'> Fel </th>
                        </tr>
                        <tr>
                            <td class='var ev var-att-ag-curr c'>  {{variables.att_ag_ini|default + variables.att_ag_adv|default}} </td>
                            <td class='var od var-att-dex-curr c'> {{variables.att_dex_ini|default + variables.att_dex_adv|default}} </td>
                            <td class='var ev var-att-int-curr c'> {{variables.att_int_ini|default + variables.att_int_adv|default}} </td>
                            <td class='var od var-att-wp-curr c'>  {{WP}} </td>
                            <td class='var ev var-att-fel-curr c'> {{variables.att_fel_ini|default + variables.att_fel_adv|default}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>