<div class="container-fluid sheet-warhammer-4e badge">
    <div class="row">
        <div class="col-12">
            <div class="card personal" id="card-personal">
                <div class="card-body c">
                    <b>{{variables.name|default}}</b><br>
                    {{variables.species|default}}<br>
                    {{variables.class|default}}, {{variables.career|default}} {{variables.career_level|default}},<br>
                    {{variables.career_path|default}}<br>
                    {{variables.status|default}}
                </div>
            </div>
        </div>
    </div>
</div>