{% import _self as sheet %}
{% set S = variables.att_s_ini|default + variables.att_s_adv|default %}
{% set T = variables.att_t_ini|default + variables.att_t_adv|default %}
{% set WP = variables.att_wp_ini|default + variables.att_wp_adv|default %}
{% set max_enc = (S // 10) + (T // 10) %}
{% set wounds_max = (S // 10) + 2 * (T // 10) + (WP // 10) %}
{% set characteristics = [
    ["NONE", "NONE"],
    ["WS", "Weapon Skill"],
    ["BS", "Ballistic Skill"],
    ["S", "Strength"],
    ["T", "Toughness"],
    ["I", "Initiative"],
    ["Ag", "Agility"],
    ["Dex", "Dexterity"],
    ["Int", "Intelligence"],
    ["WP", "Willpower"],
    ["Fel", "Fellowship"]
] %}
{% set skill_list = [
    [ "Art", "Dex" ],
    [ "Athletics", "Ag" ],
    [ "Bribery", "Fel" ],
    [ "Charm", "Fel" ],
    [ "Charm Animal", "WP" ],
    [ "Climb", "S" ],
    [ "Cool", "WP" ],
    [ "Consume Alcohol", "T" ],
    [ "Dodge", "AG" ],
    [ "Drive", "AG" ],
    [ "Endurance", "T" ],
    [ "Entertain", "Fel" ],
    [ "Gamble", "Int" ],
    [ "Gossip", "Fel" ],
    [ "Haggle", "Fel" ],
    [ "Intimidate", "S" ],
    [ "Intuition", "I" ],
    [ "Leadership", "Fel" ],
    [ "Melee (Basic)", "WS" ],
    [ "Melee", "WS" ],
    [ "Navigation", "I" ],
    [ "Outdoor Survial", "Int" ],
    [ "Perception", "I" ],
    [ "Ride", "Ag" ],
    [ "Row", "S" ],
    [ "Stealth", "Ag" ],
    [ "_01", "none" ],
    [ "_02", "none" ],
    [ "_03", "none" ],
    [ "_04", "none" ],
    [ "_05", "none" ],
    [ "_06", "none" ],
    [ "_07", "none" ],
    [ "_08", "none" ],
    [ "_09", "none" ],
    [ "_10", "none" ]
] %}
<div class="container-fluid sheet-warhammer-4e">
    <div class="row">
        <div class="col-12"><button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapsePersonal" href="#collapsePersonal" role="button" aria-expanded="true" aria-controls="collapsePersonal"><em class="fas fa-angle-down"></em></button>
            <div class="row collapse show" id="collapsePersonal">
                <div class="col-12 hidden-md hidden-sm d-none d-lg-block"><div class="logo"></div></div>
                {% set wd = 12 %}
                {% if variables.portrait|default > 0 %}{% set wd = 7 %}{% endif %}
                <div class="col-12 col-md-12 col-lg-{{wd}}">
                    <div class="card personal" id="card-personal">
                        <div class="card-header personal">Personal Information</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-name'> Name </th><td class='var od var-name' title='This is the name of your hero.'> {{variables.name|default}} </td></tr>
                                <tr><th class='lbl ev lbl-species'> Species </th><td class='var ev var-species'> {{variables.species|default}} </td></tr>
                                <tr><th class='lbl od lbl-class'> Class </th><td class='var od var-class'> {{variables.class|default}} </td></tr>
                                <tr><th class='lbl ev lbl-career'> Career </th><td class='var ev var-career'> {{variables.career|default}} </td></tr>
                                <tr><th class='lbl od lbl-career-level'> Career Level </th><td class='var od var-career-level'> {{variables.career_level|default}} </td></tr>
                                <tr><th class='lbl ev lbl-career-path'> Career Path </th><td class='var ev var-career-path'> {{variables.career_path|default}} </td></tr>
                                <tr><th class='lbl od lbl-status'> Status </th><td class='var od var-status'> {{variables.status|default}} </td></tr>
                                <tr><th class='lbl ev lbl-age'> Age </th><td class='var ev var-age'> {{variables.age|default}} </td></tr>
                                <tr><th class='lbl od lbl-height'> Height </th><td class='var od var-height'> {{variables.height|default}} </td></tr>
                                <tr><th class='lbl ev lbl-hair'> Hair </th><td class='var ev var-hair'> {{variables.hair|default}} </td></tr>
                                <tr><th class='lbl od lbl-eyes'> Eyes </th><td class='var od var-eyes'> {{variables.eyes|default}} </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                {% if variables.portrait|default > 0 %}
                <div class="col-4 col-lg-5 hidden-xs hidden-sm hidden-md d-none d-lg-block">
                    <div class="card portrait" id="card-portrait">
                        <div class="card-header portrait">Portrait</div>
                        <div class="card-body">
                            <div class='cBox'><div class='lbl od lbl-portrait'>  </div><div class='var od var-portrait'>[img:{{variables.portrait|default}}]</div></div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card characteristics" id="card-characteristics">
                <div class="card-header characteristics">Characteristics</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl ev lbl-att-dummy'> &nbsp; </th>
                            <th class='lbl od lbl-att-ws-label c' title='Weapon Skill'> WS </th>
                            <th class='lbl ev lbl-att-bs-label c' title='Ballistic Skill'> BS </th>
                            <th class='lbl od lbl-att-s-label c' title='Strength'> S </th>
                            <th class='lbl ev lbl-att-t-label c' title='Toughness'> T </th>
                            <th class='lbl od lbl-att-i-label c' title='Initiative'> I </th>
                            <th class='lbl ev lbl-att-ag-label c' title='Agility'> Ag </th>
                            <th class='lbl od lbl-att-dex-label c' title='Dexterity'> Dex </th>
                            <th class='lbl ev lbl-att-int-label c' title='Intelligence'> Int </th>
                            <th class='lbl od lbl-att-wp-label c' title='Willpower'> WP </th>
                            <th class='lbl ev lbl-att-fel-label c' title='Fellowship'> Fel </th>
                        </tr>
                        <tr>
                            <th class='lbl od lbl-att-dummy'> Initial </th>
                            <td class='var od var-att-ws-ini c'> {{variables.att_ws_ini|default}} </td>
                            <td class='var ev var-att-bs-ini c'> {{variables.att_bs_ini|default}} </td>
                            <td class='var od var-att-s-ini c'> {{variables.att_s_ini|default}} </td>
                            <td class='var ev var-att-t-ini c'> {{variables.att_t_ini|default}} </td>
                            <td class='var od var-att-i-ini c'> {{variables.att_i_ini|default}} </td>
                            <td class='var ev var-att-ag-ini c'> {{variables.att_ag_ini|default}} </td>
                            <td class='var od var-att-dex-ini c'> {{variables.att_dex_ini|default}} </td>
                            <td class='var ev var-att-int-ini c'> {{variables.att_int_ini|default}} </td>
                            <td class='var od var-att-wp-ini c'> {{variables.att_wp_ini|default}} </td>
                            <td class='var ev var-att-fel-ini c'> {{variables.att_fel_ini|default}} </td>
                        </tr>
                        <tr>
                            <th class='lbl ev lbl-att-dummy'> Advances </th>
                            <td class='var od var-att-ws-adv c'> {{variables.att_ws_adv|default}} </td>
                            <td class='var ev var-att-bs-adv c'> {{variables.att_bs_adv|default}} </td>
                            <td class='var od var-att-s-adv c'> {{variables.att_s_adv|default}} </td>
                            <td class='var ev var-att-t-adv c'> {{variables.att_t_adv|default}} </td>
                            <td class='var od var-att-i-adv c'> {{variables.att_i_adv|default}} </td>
                            <td class='var ev var-att-ag-adv c'> {{variables.att_ag_adv|default}} </td>
                            <td class='var od var-att-dex-adv c'> {{variables.att_dex_adv|default}} </td>
                            <td class='var ev var-att-int-adv c'> {{variables.att_int_adv|default}} </td>
                            <td class='var od var-att-wp-adv c'> {{variables.att_wp_adv|default}} </td>
                            <td class='var ev var-att-fel-adv c'> {{variables.att_fel_adv|default}} </td>
                        </tr>
                        <tr>
                            <th class='lbl od lbl-att-dummy'> Current </th>
                            <td class='var od var-att-ws-curr c'>  {{variables.att_ws_ini|default + variables.att_ws_adv|default}} </td>
                            <td class='var ev var-att-bs-curr c'>  {{variables.att_bs_ini|default + variables.att_bs_adv|default}} </td>
                            <td class='var od var-att-s-curr c'>   {{S}} </td>
                            <td class='var ev var-att-t-curr c'>   {{T}} </td>
                            <td class='var od var-att-i-curr c'>   {{variables.att_i_ini|default + variables.att_i_adv|default}} </td>
                            <td class='var ev var-att-ag-curr c'>  {{variables.att_ag_ini|default + variables.att_ag_adv|default}} </td>
                            <td class='var od var-att-dex-curr c'> {{variables.att_dex_ini|default + variables.att_dex_adv|default}} </td>
                            <td class='var ev var-att-int-curr c'> {{variables.att_int_ini|default + variables.att_int_adv|default}} </td>
                            <td class='var od var-att-wp-curr c'>  {{variables.att_wp_ini|default + variables.att_wp_adv|default}} </td>
                            <td class='var ev var-att-fel-curr c'> {{variables.att_fel_ini|default + variables.att_fel_adv|default}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card resilience" id="card-resilience">
                <div class="card-header resilience">Resilience</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-resilience' width='30%'> Resilience </th><td class='var od var-resilience c'> {{variables.resilience|default}} </td></tr>
                        <tr><th class='lbl ev lbl-resolve'> Resolve </th><td class='var ev var-resolve c'> {{variables.resolve|default}} </td></tr>
                        <tr><th class='lbl od lbl-motivaton'> Motivation </th><td class='var od var-motivaton c'> {{variables.motivaton|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card experience" id="card-experience">
                <div class="card-header experience">Experience</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-xp-curr' width='30%'> Current </th><td class='var od var-xp-curr c'> {{variables.xp_curr|default}} </td></tr>
                        <tr><th class='lbl ev lbl-xp-spent'> Spent </th><td class='var ev var-xp-spent c'> {{variables.xp_spent|default}} </td></tr>
                        <tr><th class='lbl od lbl-xp-total'> Total </th><td class='var od var-xp-total c'> {{variables.xp_curr|default + variables.xp_spent|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card movement" id="card-movement">
                <div class="card-header movement">Movement</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-movement' width='30%'> Movement </th><td class='var od var-movement c'> {{variables.movement|default}} </td></tr>
                        <tr><th class='lbl ev lbl-walk'> Walk </th><td class='var ev var-walk c'> {{variables.walk|default}} </td></tr>
                        <tr><th class='lbl od lbl-run'> Run </th><td class='var od var-run c'> {{variables.run|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card basic skills" id="card-basic skills">
                <div class="card-header basic skills">Basic Skills <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseSkills" href="#collapseSkills" role="button" aria-expanded="true" aria-controls="collapseSkills"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show" id="collapseSkills">
                    <table width="100%" class="table-striped" id="skills">
                        <tr>
                            <th width="40%" class="lbl od">Skill</th>
                            <th class="lbl od c" colspan=2>Characteristic</th>
                            <th class="lbl od c" title="Advances">Adv</th>
                            <th class="lbl od c">Skill</th>
                        </tr>
                        {% set eo = 'od' %}
                        {% for k in skill_list %}
                            {% set sk = k[0]|default %}
                            {% set skl = sk|lower|replace({' ': '_'}) %}
                            {% set name = attribute(variables, 'sk_' ~ skl ~ '_name')|default %}
                            {% if name != "" %}
                                {% if name|first == '_' %}{% set name = '' %}{% endif %}
                                {% set cha = k[1]|default %}
                                {% set ch = attribute(variables, 'sk_' ~ skl ~ '_cha')|default('') %}
                                {% if ch == "" %}{% set ch = cha %}{% endif %}
                                <tr>
                                {% set sk = k[0]|default %}
                                    <td class="lbl {{eo}} lbl-skillname">
                                        {{ name }}
                                    </td>
                                    <td class="{{eo}} c" width="15%">
                                        {{ ch }}
                                    </td>
                                    <td class="{{eo}} c" width="15%">
                                    {% if ch != "" %}
                                    {% set chav =
                                        attribute(variables, 'att_' ~ ch|lower ~ '_ini')|default +
                                        attribute(variables, 'att_' ~ ch|lower ~ '_adv')|default
                                        %}{{chav}} 
                                    {% endif %}
                                    </td>
                                    <td class="{{eo}} c" width="15%">
                                        {% set adv = attribute(variables, 'sk_' ~ skl)|default %}{{adv}}
                                    </td>
                                    <td class="{{eo}} c" width="15%">
                                        {{chav + adv}}
                                    </td>
                                </tr>
                                {% if eo == 'od' %}{% set eo = 'ev' %}{% else %}{% set eo = 'od' %}{% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card group-and-advanced-skills" id="card-group-and-advanced-skills">
                        <div class="card-header group-and-advanced-skills">Group &amp; Advanced Skills</div>
                        <div class="card-body">
                            <table width="100%" class="table-striped" id="skills">
                                <tr>
                                    <th width="40%" class="lbl od">Skill</th>
                                    <th class="lbl od c" colspan=2>Characteristic</th>
                                    <th class="lbl od c" title="Advances">Adv</th>
                                    <th class="lbl od c">Skill</th>
                                </tr>
                                {% set eo = 'od' %}
                                {% for i in 1..20 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    {% set sk = k[0]|default %}
                                    {% set skl = sk|lower|replace({' ': '_'}) %}
                                    {% set name = attribute(variables, 'ga_' ~ skl ~ '_name_' ~ id)|default %}
                                    {% if name != "" %}
                                        {% if name|first == '_' %}{% set name = '' %}{% endif %}
                                        {% set cha = k[1]|default %}
                                        {% set ch = attribute(variables, 'ga_' ~ skl ~ '_cha_' ~ id)|default('') %}
                                        {% if ch == "" %}{% set ch = cha %}{% endif %}
                                        <tr>
                                        {% set sk = k[0]|default %}
                                            <td class="lbl {{eo}} lbl-skillname">
                                                {{name}}
                                            </td>
                                            <td class="{{eo}} c" width="15%">
                                                {{ch}}
                                            </td>
                                            <td class="{{eo}} c" width="15%">
                                            {% if ch != "" %}
                                            {% set chav =
                                                attribute(variables, 'att_' ~ ch|lower ~ '_ini')|default +
                                                attribute(variables, 'att_' ~ ch|lower ~ '_adv')|default
                                                %}{{chav}} 
                                            {% endif %}
                                            </td>
                                            <td class="{{eo}} c" width="15%">
                                                {% set adv = attribute(variables, 'ga_' ~ skl ~ '_' ~ id)|default %}{{adv}}
                                            </td>
                                            <td class="{{eo}} c" width="15%">
                                                {{chav + adv}}
                                            </td>
                                        </tr>
                                        {% if eo == 'od' %}{% set eo = 'ev' %}{% else %}{% set eo = 'od' %}{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card talents" id="card-talents">
                        <div class="card-header talents">Talents</div>
                        <div class="card-body">
                            <table width="100%" class="table-striped" id="talents">
                                <tr>
                                    <th class='lbl od lbl-talent-name-label'><label for='talent-name-label'>Name</label></th>
                                    <th class='lbl od lbl-talent-taken-label c' width='15%' title='Times Taken'><label for='talent-taken-label'>#</label></th>
                                    <th class='lbl od lbl-talent-desc-label'><label for='talent-desc-label'>Description</label></th>
                                </tr>
                                {% set eo = 'od' %}
                                {% for i in 1..20 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    {% set name = attribute(variables, 'talent_name_' ~ id)|default %}
                                    {% if name != "" %}
                                <tr>
                                    <td class='lbl {{eo}} lbl-talent-name'>{{name}}</td>
                                    <td class='{{eo}} var-talent-taken c'>{{attribute(variables, 'talent_taken_' ~ id)|default}}</td>
                                    <td class='{{eo}} var-talent-desc'>{{attribute(variables, 'talent_desc_' ~ id)|default}}</td>
                                </tr>
                                        {% if eo == 'od' %}{% set eo = 'ev' %}{% else %}{% set eo = 'od' %}{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card weapons" id="card-weapons">
                <div class="card-header weapons">Weapons</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl od lbl-weap-name-label' width='30%'> Name </th>
                            <th class='lbl od lbl-weap-group-label'> Group </th>
                            <th class='lbl od lbl-weap-enc-label c' width='15%'> Enc </th>
                            <th class='lbl od lbl-weap-rng-label c' width='15%'> Range/Reach </th>
                            <th class='lbl od lbl-weap-dmg-label c' width='15%'> Damage </th>
                        </tr>
                        {% set weapon_enc = 0 %}
                        {% for i in 1..8 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'weap_name_' ~ id)|default %}
                            {% if name != '' %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            {% set enc = attribute(variables, 'weap_enc_' ~ id)|default %}
                            {% set weapon_enc = weapon_enc + enc %}
                        <tr>
                            <td class='var {{eo}} var-weap-name'> {{attribute(variables, 'weap_name_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weap-group'> {{attribute(variables, 'weap_group_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weap-enc c'> {{enc}} </td>
                            <td class='var {{eo}} var-weap-rng c'> {{attribute(variables, 'weap_rng_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weap-dmg c'> {{attribute(variables, 'weap_dmg_' ~ id)|default}} </td>
                        </tr>
                        <tr>
                            <td class='var {{eo}} var-weap-name'> &nbsp; </td>
                            <td class='var {{eo}} var-weap-name'> Qualities </td>
                            <td class='var {{eo}} var-weap-qual' colspan=3> {{attribute(variables, 'weap_qual_' ~ id)|default}} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card spells" id="card-spells">
                <div class="card-header spells">Spells &amp; Prayers</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl od lbl-spell-name-label' width='30%'> Name </th>
                            <th class='lbl od lbl-spell-cn-label c' width='15%'> Cn </th>
                            <th class='lbl od lbl-spell-rng-label c' width='15%'> Range </th>
                            <th class='lbl od lbl-spell-tgt-label c'  width='15%'> Target </th>
                            <th class='lbl od lbl-spell-dur-label c' width='15%'> Duration </th>
                        </tr>
                        {% for i in 1..8 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'spell_name_' ~ id)|default %}
                            {% if name != '' %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='var {{eo}} var-spell-name'> {{name}} </td>
                            <td class='var {{eo}} var-spell-cn c' > {{attribute(variables, 'spell_cn_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-spell-rng c'> {{attribute(variables, 'spell_rng_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-spell-tgt c'> {{attribute(variables, 'spell_tgt_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-spell-dur c'> {{attribute(variables, 'spell_dur_' ~ id)|default}} </td>
                        </tr>
                        <tr>
                            <td class='var {{eo}} var-weap-name'> &nbsp; </td>
                            <td class='var {{eo}} var-weap-name'> Effect </td>
                            <td class='var {{eo}} var-spell-effect' colspan=3> {{attribute(variables, 'spell_effect_' ~ id)|default}} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card armour" id="card-armour">
                <div class="card-header armour">Armour</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl od lbl-armour-name-label'> Name </th>
                            <th class='lbl od lbl-armour-loc-label'> Locations </th>
                            <th class='lbl od lbl-armour-enc-label c' width='10%'> Enc </th>
                            <th class='lbl od lbl-armour-ap-label c'width='10%'> Ap </th>
                            <th class='lbl od lbl-armour-qual-label'> Qualities </th>
                        </tr>
                        {% set armour_enc = 0 %}
                        {% for i in 1..5 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'armour_name_' ~ id)|default %}
                            {% if name != "" %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            {% set enc = attribute(variables, 'armour_enc_' ~ id)|default %}
                            {% set armour_enc = armour_enc + enc %}
                        <tr>
                            <td class='var {{eo}} var-armour-name'> {{name}} </td>
                            <td class='var {{eo}} var-armour-loc'> {{attribute(variables, 'armour_loc_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-armour-enc c'> {{enc}} </td>
                            <td class='var {{eo}} var-armour-ap c'> {{attribute(variables, 'armour_ap_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-armour-qual'> {{attribute(variables, 'armour_qual_' ~ id)|default}} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card armour points" id="card-armour points">
                <div class="card-header armour points">Armour Points</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-arm-head'> Head (01-09) </th><td class='var od var-arm-head c' width='15%'> {{variables.arm_head|default}} </td></tr>
                        <tr><th class='lbl ev lbl-arm-larm'> Left Arm (10-24) </th><td class='var ev var-arm-larm c'> {{variables.arm_larm|default}} </td></tr>
                        <tr><th class='lbl od lbl-arm-rarm'> Right Arm (25-44) </th><td class='var od var-arm-rarm c'> {{variables.arm_rarm|default}} </td></tr>
                        <tr><th class='lbl ev lbl-arm-body'> Body (54-79) </th><td class='var ev var-arm-body c'> {{variables.arm_body|default}} </td></tr>
                        <tr><th class='lbl od lbl-arm-lleg'> Left Leg (80-89) </th><td class='var od var-arm-lleg c'> {{variables.arm_lleg|default}} </td></tr>
                        <tr><th class='lbl ev lbl-arm-rleg'> Right Leg (90-00) </th><td class='var ev var-arm-rleg c'> {{variables.arm_rleg|default}} </td></tr>
                        <tr><th class='lbl od lbl-arm-shield'> Shield </th><td class='var od var-arm-shield c'> {{variables.arm_shield|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="card trappings" id="card-trappings">
                <div class="card-header trappings">Trappings</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl od lbl-trapping-label'> Name </th>
                            <th class='lbl od lbl-trapping-enc-label c' width='15%'> Enc </th>
                        </tr>
                        {% set trapping_enc = 0 %}
                        {% for i in 1..20 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'trapping_' ~ id)|default %}
                            {% if name != "" %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            {% set enc = attribute(variables, 'trapping_enc_' ~ id)|default %}
                            {% set trapping_enc = trapping_enc + enc %}
                        <tr>
                            <td class='var {{eo}} var-trapping'> {{name}} </td>
                            <td class='var {{eo}} var-trapping-enc c'> {{enc}} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card wounds" id="card-wounds">
                        <div class="card-header wounds">Wounds</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-wounds-sb' width='40%'> SB </th><td class='var od var-wounds-sb c'> {{ (s // 10)}} </td></tr>
                                <tr><th class='lbl ev lbl-wounds-tbx2'> TBx2 </th><td class='var ev var-wounds-tbx2 c'> {{ 2 * (t // 10) }} </td></tr>
                                <tr><th class='lbl od lbl-wounds-wpb'> WPB </th><td class='var od var-wounds-wpb c'> {{ (( wp // 10 ))}} </td></tr>
                                <tr><th class='lbl ev lbl-wounds-hardy'> Hardy </th><td class='var ev var-wounds-hardy c'> {{variables.wounds_hardy|default}} </td></tr>
                                <tr><th class='lbl od lbl-wounds-wounds'> Wounds </th><td class='var od var-wounds-wounds c'> {{variables.wounds_wounds|default}} / {{wounds_max}}</td></tr>
                                <tr><th class='lbl ev lbl-wounds-desc'> Details </th><td class='var ev var-wounds-desc'> {{variables.wounds_desc|default|nl2br}} </td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="card fate" id="card-fate">
                        <div class="card-header fate">Fate</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-fate' width='40%'> Fate </th><td class='var od var-fate c'> {{variables.fate|default}} </td></tr>
                                <tr><th class='lbl ev lbl-fortune'> Fortune </th><td class='var ev var-fortune c'> {{variables.fortune|default}} </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card encumbrance" id="card-encumbrance">
                        <div class="card-header encumbrance">Encumbrance</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-enc-weapons' width='40%'> Weapons </th><td class='var od var-enc-weapons c'> {{weapon_enc}} </td></tr>
                                <tr><th class='lbl ev lbl-enc-armour'> Armour </th><td class='var ev var-enc-armour c'> {{armour_enc}} </td></tr>
                                <tr><th class='lbl od lbl-enc-trapping'> Trappings </th><td class='var od var-enc-trapping c'> {{trapping_enc}} </td></tr>
                                <tr><th class='lbl ev lbl-enc-curr-enc'> Current Enc. </th><td class='var ev var-enc-max-enc c'> {{weapon_enc + armour_enc + trapping_enc }} </td></tr>
                                <tr><th class='lbl od lbl-enc-max-enc'> Max Enc. </th><td class='var od var-enc-max-enc c'> {{max_enc}} </td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="card wealth" id="card-wealth">
                        <div class="card-header wealth">Wealth</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-wealth-d c' width='40%'> D </th><td class='var od var-wealth-d c'> {{variables.wealth_d|default}} </td></tr>
                                <tr><th class='lbl ev lbl-wealth-ss c'> SS </th><td class='var ev var-wealth-ss c'> {{variables.wealth_ss|default}} </td></tr>
                                <tr><th class='lbl od lbl-wealth-gc c'> GC </th><td class='var od var-wealth-gc c'> {{variables.wealth_gc|default}} </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card psychology" id="card-psychology">
                <div class="card-header psychology">Psychology</div>
                <div class="card-body">
                    <div class='cBox'><div class='var ev var-psychology'> {{variables.psychology|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card corruption" id="card-corruption">
                <div class="card-header corruption">Corruption &amp; Mutation</div>
                <div class="card-body">
                    <div class='cBox'><div class='var ev var-corruption'> {{variables.corruption|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card ambitions" id="card-ambitions">
                <div class="card-header ambitions">Ambitions</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl ev lbl-amb-short'> Short Term </div><div class='var ev var-amb-short'> {{variables.amb_short|default|nl2br}} </div></div>
                    <div class='cBox'><div class='lbl ev lbl-amb-long'> Long Term </div><div class='var ev var-amb-long'> {{variables.amb_long|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card party" id="card-party">
                <div class="card-header party">Party</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl ev lbl-party-name'> Party Name </div><div class='var ev var-party-name'> {{variables.party_name|default}} </div></div>
                    <div class='cBox'><div class='lbl ev lbl-party-short'> Short Term </div><div class='var ev var-party-short'> {{variables.party_short|default|nl2br}} </div></div>
                    <div class='cBox'><div class='lbl ev lbl-party-long'> Long Term </div><div class='var ev var-party-long'> {{variables.party_long|default|nl2br}} </div></div>
                    <div class='cBox'><div class='lbl ev lbl-party-members'> Members </div><div class='var ev var-party-members'> {{variables.party_members|default}} </div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cBox'><div class='var ev var-notes'> {{variables.notes|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row do-not-print">
        <div class="col-12 text-center small">
				<br><br>
                Warhammer Fantasy Roleplay 4th Edition &copy; Copyright Games Workshop Limited 2018. - <a href="/w/sheet-creation/a/sheet-list">Warhammer Fantasy RPG Character Sheet v1.00</a>, made by Tillerz - <a href="/w/sheet-creation/thread/a85ac181-b0e3-4c85-a636-096853b46c58/view">Updated: 2023-07-03</a><br>
        </div>
    </div>
</div>