<div class="container-fluid sheet-blood-and-doom">
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="card personal" id="card-personal">
                <div class="card-header personal">Personal Information</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-name'> Name </th><td class='var od var-name' title='This is the name of your hero.'> {{variables.name|default}} </td></tr>
                        <tr><th class='lbl ev lbl-species'> Species </th><td class='var ev var-species'> {{variables.species|default}} </td></tr>
                        <tr><th class='lbl od lbl-class'> Class </th><td class='var od var-class'> {{variables.class|default}} </td></tr>
                        <tr><th class='lbl ev lbl-career'> Career </th><td class='var ev var-career'> {{variables.career|default}} </td></tr>
                        <tr><th class='lbl od lbl-career-level'> Career Level </th><td class='var od var-career-level'> {{variables.career_level|default}} </td></tr>
                        <tr><th class='lbl ev lbl-career-path'> Career Path </th><td class='var ev var-career-path'> {{variables.career_path|default}} </td></tr>
                        <tr><th class='lbl od lbl-status'> Status </th><td class='var od var-status'> {{variables.status|default}} </td></tr>
                        <tr><th class='lbl ev lbl-age'> Age </th><td class='var ev var-age'> {{variables.age|default}} </td></tr>
                        <tr><th class='lbl od lbl-height'> Height </th><td class='var od var-height'> {{variables.height|default}} </td></tr>
                        <tr><th class='lbl ev lbl-hair'> Hair </th><td class='var ev var-hair'> {{variables.hair|default}} </td></tr>
                        <tr><th class='lbl od lbl-eyes'> Eyes </th><td class='var od var-eyes'> {{variables.eyes|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-5 col-lg-5 hidden-xs hidden-sm hidden-md d-none d-lg-block">
            <div class="card portrait" id="card-portrait">
                <div class="card-header portrait">Portrait</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl od lbl-portrait'>  </div><div class='var od var-portrait'>[img:{{variables.portrait|default}}]</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="card characteristics" id="card-characteristics">
                <div class="card-header characteristics">Characteristics</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl od lbl-att-dummy'> &nbsp; </th>
                            <th class='lbl od lbl-att-ws-label'> Ws </th>
                            <th class='lbl ev lbl-att-bs-label'> Bs </th>
                            <th class='lbl od lbl-att-s-label'> S </th>
                            <th class='lbl ev lbl-att-t-label'> T </th>
                            <th class='lbl od lbl-att-i-label'> I </th>
                            <th class='lbl ev lbl-att-ag-label'> Ag </th>
                            <th class='lbl od lbl-att-dex-label'> Dex </th>
                            <th class='lbl ev lbl-att-int-label'> Int </th>
                            <th class='lbl od lbl-att-wp-label'> Wp </th>
                            <th class='lbl ev lbl-att-fel-label'> Fel </th>
                        </tr>
                        <tr>
                            <th class='lbl od lbl-att-dummy'> Initial </th>
                            <td class='var od var-att-ws-ini'> {{variables.att_ws_ini|default}} </td>
                            <td class='var ev var-att-bs-ini'> {{variables.att_bs_ini|default}} </td>
                            <td class='var od var-att-s-ini'> {{variables.att_s_ini|default}} </td>
                            <td class='var ev var-att-t-ini'> {{variables.att_t_ini|default}} </td>
                            <td class='var od var-att-i-ini'> {{variables.att_i_ini|default}} </td>
                            <td class='var ev var-att-ag-ini'> {{variables.att_ag_ini|default}} </td>
                            <td class='var od var-att-dex-ini'> {{variables.att_dex_ini|default}} </td>
                            <td class='var ev var-att-int-ini'> {{variables.att_int_ini|default}} </td>
                            <td class='var od var-att-wp-ini'> {{variables.att_wp_ini|default}} </td>
                            <td class='var ev var-att-fel-ini'> {{variables.att_fel_ini|default}} </td>
                        </tr>
                        <tr>
                            <th class='lbl ev lbl-att-dummy'> Advances </th>
                            <td class='var od var-att-ws-adv'> {{variables.att_ws_adv|default}} </td>
                            <td class='var ev var-att-bs-adv'> {{variables.att_bs_adv|default}} </td>
                            <td class='var od var-att-s-adv'> {{variables.att_s_adv|default}} </td>
                            <td class='var ev var-att-t-adv'> {{variables.att_t_adv|default}} </td>
                            <td class='var od var-att-i-adv'> {{variables.att_i_adv|default}} </td>
                            <td class='var ev var-att-ag-adv'> {{variables.att_ag_adv|default}} </td>
                            <td class='var od var-att-dex-adv'> {{variables.att_dex_adv|default}} </td>
                            <td class='var ev var-att-int-adv'> {{variables.att_int_adv|default}} </td>
                            <td class='var od var-att-wp-adv'> {{variables.att_wp_adv|default}} </td>
                            <td class='var ev var-att-fel-adv'> {{variables.att_fel_adv|default}} </td>
                        </tr>
                        <tr>
                            <th class='lbl od lbl-att-dummy'> Current </th>
                            <td class='var od var-att-ws-curr'> {{variables.att_ws_curr|default}} </td>
                            <td class='var ev var-att-bs-curr'> {{variables.att_bs_curr|default}} </td>
                            <td class='var od var-att-s-curr'> {{variables.att_s_curr|default}} </td>
                            <td class='var ev var-att-t-curr'> {{variables.att_t_curr|default}} </td>
                            <td class='var od var-att-i-curr'> {{variables.att_i_curr|default}} </td>
                            <td class='var ev var-att-ag-curr'> {{variables.att_ag_curr|default}} </td>
                            <td class='var od var-att-dex-curr'> {{variables.att_dex_curr|default}} </td>
                            <td class='var ev var-att-int-curr'> {{variables.att_int_curr|default}} </td>
                            <td class='var od var-att-wp-curr'> {{variables.att_wp_curr|default}} </td>
                            <td class='var ev var-att-fel-curr'> {{variables.att_fel_curr|default}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card resilience" id="card-resilience">
                <div class="card-header resilience">Resilience</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-resilience'> Resilience </th><td class='var od var-resilience c'> {{variables.resilience|default}} </td></tr>
                        <tr><th class='lbl ev lbl-resolve'> Resolve </th><td class='var ev var-resolve c'> {{variables.resolve|default}} </td></tr>
                        <tr><th class='lbl od lbl-motivaton'> Motivation </th><td class='var od var-motivaton c'> {{variables.motivaton|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card experience" id="card-experience">
                <div class="card-header experience">Experience</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-xp-curr'> Current </th><td class='var od var-xp-curr c'> {{variables.xp_curr|default}} </td></tr>
                        <tr><th class='lbl ev lbl-xp-spent'> Spent </th><td class='var ev var-xp-spent c'> {{variables.xp_spent|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card movement" id="card-movement">
                <div class="card-header movement">Movement</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-movement'> Movement </th><td class='var od var-movement c'> {{variables.movement|default}} </td></tr>
                        <tr><th class='lbl ev lbl-walk'> Walk </th><td class='var ev var-walk c'> {{variables.walk|default}} </td></tr>
                        <tr><th class='lbl od lbl-run'> Run </th><td class='var od var-run c'> {{variables.run|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card basic skills" id="card-basic skills">
                <div class="card-header basic skills">Basic Skills</div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card basic skills" id="card-basic skills">
                <div class="card-header basic skills">Basic Skills</div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card group and advanced skills" id="card-group and advanced skills">
                <div class="card-header group and advanced skills">Group &amp; Advanced Skills</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='lbl od lbl-gaskill-name-label'> Name </th><td class='var od var-gaskill-name-label'></td>
                            <th class='lbl ev lbl-gaskill-char-label'> Characteristic </th><td class='var ev var-gaskill-char-label'></td>
                            <th class='lbl od lbl-gaskill-adv-label'> Adv </th><td class='var od var-gaskill-adv-label'></td>
                            <th class='lbl ev lbl-gaskill-skill-label'> Skill </th><td class='var ev var-gaskill-skill-label'></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table class='table'>
                        {% for i in 1..20 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='lbl od lbl-gaskill-name'>  </th><td class='var od var-gaskill-name'> {{attribute(variables, 'gaskill_name_' ~ id)|default}} </td>
                            <th class='lbl ev lbl-gaskill-char'>  </th><td class='var ev var-gaskill-char'> {{attribute(variables, 'gaskill_char_' ~ id)|default}} </td>
                            <th class='lbl od lbl-gaskill-adv'>  </th><td class='var od var-gaskill-adv'> {{attribute(variables, 'gaskill_adv_' ~ id)|default}} </td>
                            <th class='lbl ev lbl-gaskill-skill'>  </th><td class='var ev var-gaskill-skill'> {{attribute(variables, 'gaskill_skill_' ~ id)|default}} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card talents" id="card-talents">
                <div class="card-header talents">Talents</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='lbl od lbl-talent-name-label'> Talent Name </th><td class='var od var-talent-name-label'></td>
                            <th class='lbl ev lbl-talent-taken-label'> Times Taken </th><td class='var ev var-talent-taken-label'></td>
                            <th class='lbl od lbl-talent-desc-label'> Description </th><td class='var od var-talent-desc-label'></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table class='table'>
                        {% for i in 1..20 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='lbl od lbl-talent-name'>  </th><td class='var od var-talent-name'> {{attribute(variables, 'talent_name_' ~ id)|default}} </td>
                            <th class='lbl ev lbl-talent-taken'>  </th><td class='var ev var-talent-taken'> {{attribute(variables, 'talent_taken_' ~ id)|default}} </td>
                            <th class='lbl od lbl-talent-desc'>  </th><td class='var od var-talent-desc'> {{attribute(variables, 'talent_desc_' ~ id)|default}} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card ambitions" id="card-ambitions">
                <div class="card-header ambitions">Ambitions</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl od lbl-amb-short'> Short Term </div><div class='var od var-amb-short'> {{variables.amb_short|default|nl2br}} </div></div>
                    <div class='cBox'><div class='lbl ev lbl-amb-long'> Long Term </div><div class='var ev var-amb-long'> {{variables.amb_long|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card party" id="card-party">
                <div class="card-header party">Party</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl od lbl-party-name'> Party Name </div><div class='var od var-party-name'> {{variables.party_name|default}} </div></div>
                    <div class='cBox'><div class='lbl ev lbl-party-short'> Short Term </div><div class='var ev var-party-short'> {{variables.party_short|default|nl2br}} </div></div>
                    <div class='cBox'><div class='lbl od lbl-party-long'> Long Term </div><div class='var od var-party-long'> {{variables.party_long|default|nl2br}} </div></div>
                    <div class='cBox'><div class='lbl ev lbl-party-members'> Members </div><div class='var ev var-party-members'> {{variables.party_members|default}} </div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card armour" id="card-armour">
                <div class="card-header armour">Armour</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='lbl od lbl-armour-name-label'> Name </th>
                            <th class='lbl ev lbl-armour-loc-label'> Locations </th>
                            <th class='lbl od lbl-armour-enc-label c'> Enc </th>
                            <th class='lbl ev lbl-armour-ap-label c'> Ap </th>
                            <th class='lbl od lbl-armour-qual-label'> Qualities </th>
                        </tr>
                        {% endfor %}
                        {% for i in 1..5 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='var od var-armour-name'> {{attribute(variables, 'armour_name_' ~ id)|default}} </td>
                            <td class='var ev var-armour-loc'> {{attribute(variables, 'armour_loc_' ~ id)|default}} </td>
                            <td class='var od var-armour-enc c'> {{attribute(variables, 'armour_enc_' ~ id)|default}} </td>
                            <td class='var ev var-armour-ap c'> {{attribute(variables, 'armour_ap_' ~ id)|default}} </td>
                            <td class='var od var-armour-qual'> {{attribute(variables, 'armour_qual_' ~ id)|default}} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card armour points" id="card-armour points">
                <div class="card-header armour points">Armour Points</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-arm-head'> Head (01-09) </th><td class='var od var-arm-head'> {{variables.arm_head|default}} </td></tr>
                        <tr><th class='lbl ev lbl-arm-larm'> Left Arm (10-24) </th><td class='var ev var-arm-larm'> {{variables.arm_larm|default}} </td></tr>
                        <tr><th class='lbl od lbl-arm-rarm'> Right Arm (25-44) </th><td class='var od var-arm-rarm'> {{variables.arm_rarm|default}} </td></tr>
                        <tr><th class='lbl ev lbl-arm-body'> Body (54-79) </th><td class='var ev var-arm-body'> {{variables.arm_body|default}} </td></tr>
                        <tr><th class='lbl od lbl-arm-lleg'> Left Leg (80-89) </th><td class='var od var-arm-lleg'> {{variables.arm_lleg|default}} </td></tr>
                        <tr><th class='lbl ev lbl-arm-rleg'> Right Leg (90-00) </th><td class='var ev var-arm-rleg'> {{variables.arm_rleg|default}} </td></tr>
                        <tr><th class='lbl od lbl-arm-shield'> Shield </th><td class='var od var-arm-shield'> {{variables.arm_shield|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card trappings" id="card-trappings">
                <div class="card-header trappings">Trappings</div>
                <div class="card-body">
                    <table class='table'>
                        <th class='lbl od lbl-trapping-label'> Name </th>
                        <th class='lbl ev lbl-trapping-enc-label c'> Enc </th>
                    </table>
                    <table class='table'>
                        {% for i in 1..20 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='var od var-trapping'> {{attribute(variables, 'trapping_' ~ id)|default}} </td>
                            <td class='var ev var-trapping-enc c'> {{attribute(variables, 'trapping_enc_' ~ id)|default}} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="card psychology" id="card-psychology">
                <div class="card-header psychology">Psychology</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl od lbl-psychology'>  </div><div class='var od var-psychology'> {{variables.psychology|default|nl2br}} </div></div>
                </div>
            </div>
            <div class="card corruption" id="card-corruption">
                <div class="card-header corruption">Corruption &amp; Mutation</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl od lbl-corruption'>  </div><div class='var od var-corruption'> {{variables.corruption|default|nl2br}} </div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card wealth" id="card-wealth">
                        <div class="card-header wealth">Wealth</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-wealth-d c'> D </th><td class='var od var-wealth-d c'> {{variables.wealth_d|default}} </td></tr>
                                <tr><th class='lbl ev lbl-wealth-ss c'> SS </th><td class='var ev var-wealth-ss c'> {{variables.wealth_ss|default}} </td></tr>
                                <tr><th class='lbl od lbl-wealth-gc c'> GC </th><td class='var od var-wealth-gc c'> {{variables.wealth_gc|default}} </td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="card wounds" id="card-wounds">
                        <div class="card-header wounds">Wounds</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-wounds-sb'> Sb </th><td class='var od var-wounds-sb'> {{variables.wounds_sb|default}} </td></tr>
                                <tr><th class='lbl ev lbl-wounds-tbx2'> Tbx2 </th><td class='var ev var-wounds-tbx2'> {{variables.wounds_tbx2|default}} </td></tr>
                                <tr><th class='lbl od lbl-wounds-wpb'> Wpb </th><td class='var od var-wounds-wpb'> {{variables.wounds_wpb|default}} </td></tr>
                                <tr><th class='lbl ev lbl-wounds-hardy'> Hardy </th><td class='var ev var-wounds-hardy'> {{variables.wounds_hardy|default}} </td></tr>
                                <tr><th class='lbl od lbl-wounds-wounds'> Wounds </th><td class='var od var-wounds-wounds'> {{variables.wounds_wounds|default}} </td></tr>
                                <tr><th class='lbl ev lbl-wounds-desc'> Details </th><td class='var ev var-wounds-desc'> {{variables.wounds_desc|default|nl2br}} </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card encumbrance" id="card-encumbrance">
                        <div class="card-header encumbrance">Encumbrance</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-enc-weapons'> Weapons </th><td class='var od var-enc-weapons c'> {{variables.enc_weapons|default}} </td></tr>
                                <tr><th class='lbl ev lbl-enc-armour'> Armour </th><td class='var ev var-enc-armour c'> {{variables.enc_armour|default}} </td></tr>
                                <tr><th class='lbl od lbl-enc-Trapping'> Trappings </th><td class='var od var-enc-Trapping c'> {{variables.enc_Trapping|default}} </td></tr>
                                <tr><th class='lbl ev lbl-enc-max-enc'> Max Enc. </th><td class='var ev var-enc-max-enc c'> {{variables.enc_max_enc|default}} </td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="card fate" id="card-fate">
                        <div class="card-header fate">Fate</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-fate'> Fate </th><td class='var od var-fate c'> {{variables.fate|default}} </td></tr>
                                <tr><th class='lbl ev lbl-fortune'> Fortune </th><td class='var ev var-fortune c'> {{variables.fortune|default}} </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card weapons" id="card-weapons">
                <div class="card-header weapons">Weapons</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='lbl od lbl-weap-name-label'> Name </th>
                            <th class='lbl ev lbl-weap-group-label'> Group </th>
                            <th class='lbl od lbl-weap-enc-label'> Enc </th>
                            <th class='lbl ev lbl-weap-rng-label'> Range/Reach </th>
                            <th class='lbl od lbl-weap-dmg-label'> Damage </th>
                        </tr>
                        {% endfor %}
                        {% for i in 1..8 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='var od var-weap-name'> {{attribute(variables, 'weap_name_' ~ id)|default}} </td>
                            <td class='var ev var-weap-group'> {{attribute(variables, 'weap_group_' ~ id)|default}} </td>
                            <td class='var od var-weap-enc'> {{attribute(variables, 'weap_enc_' ~ id)|default}} </td>
                            <td class='var ev var-weap-rng'> {{attribute(variables, 'weap_rng_' ~ id)|default}} </td>
                            <td class='var od var-weap-dmg'> {{attribute(variables, 'weap_dmg_' ~ id)|default}} </td>
                        </tr>
                        <tr>
                            <td class='var od var-weap-name'> &nbsp; </td>
                            <td class='var od var-weap-name'> Qualities </td>
                            <td class='var ev var-weap-qual' colspan=3> {{attribute(variables, 'weap_qual_' ~ id)|default}} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card spells" id="card-spells">
                <div class="card-header spells">Spells &amp; Prayers</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='lbl od lbl-spell-name-label'> Name </th><td class='var od var-spell-name-label'></td>
                            <th class='lbl ev lbl-spell-cn-label'> Cn </th><td class='var ev var-spell-cn-label'></td>
                            <th class='lbl od lbl-spell-rng-label'> Range </th><td class='var od var-spell-rng-label'></td>
                            <th class='lbl ev lbl-spell-tgt-label'> Target </th><td class='var ev var-spell-tgt-label'></td>
                            <th class='lbl od lbl-spell-dur-label'> Duration </th><td class='var od var-spell-dur-label'></td>
                            <th class='lbl ev lbl-spell-effect-label'> Effect </th><td class='var ev var-spell-effect-label'></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table class='table'>
                        {% for i in 1..8 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='lbl od lbl-spell-name'>  </th><td class='var od var-spell-name'> {{attribute(variables, 'spell_name_' ~ id)|default}} </td>
                            <th class='lbl ev lbl-spell-cn'>  </th><td class='var ev var-spell-cn'> {{attribute(variables, 'spell_cn_' ~ id)|default}} </td>
                            <th class='lbl od lbl-spell-rng'>  </th><td class='var od var-spell-rng'> {{attribute(variables, 'spell_rng_' ~ id)|default}} </td>
                            <th class='lbl ev lbl-spell-tgt'>  </th><td class='var ev var-spell-tgt'> {{attribute(variables, 'spell_tgt_' ~ id)|default}} </td>
                            <th class='lbl od lbl-spell-dur'>  </th><td class='var od var-spell-dur'> {{attribute(variables, 'spell_dur_' ~ id)|default}} </td>
                            <th class='lbl ev lbl-spell-effect'>  </th><td class='var ev var-spell-effect'> {{attribute(variables, 'spell_effect_' ~ id)|default}} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl od lbl-notes'>  </div><div class='var od var-notes'> {{variables.notes|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
    </div>
</div>
