<div class="container-fluid sheet-blood-and-doom">
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="card personal" id="card-personal">
                <div class="card-header personal">Personal Information</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-name' title='This is the name of your hero.'><label for='name'>Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='Name of the hero' type='text' required=required /></td></tr>
                        <tr><th class='ilbl ev ilbl-species'><label for='species'>Species</label></th><td class='ivar ev ivar-species'><input value='{{variables.species|default}}' class='form-control ivar ivar-species' id='species' name='species' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-class'><label for='class'>Class</label></th><td class='ivar od ivar-class'><input value='{{variables.class|default}}' class='form-control ivar ivar-class' id='class' name='class' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-career'><label for='career'>Career</label></th><td class='ivar ev ivar-career'><input value='{{variables.career|default}}' class='form-control ivar ivar-career' id='career' name='career' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-career-level'><label for='career-level'>Career Level</label></th><td class='ivar od ivar-career-level'><input value='{{variables.career_level|default}}' class='form-control ivar ivar-career-level' id='career_level' name='career_level' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-career-path'><label for='career-path'>Career Path</label></th><td class='ivar ev ivar-career-path'><input value='{{variables.career_path|default}}' class='form-control ivar ivar-career-path' id='career_path' name='career_path' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-status'><label for='status'>Status</label></th><td class='ivar od ivar-status'><input value='{{variables.status|default}}' class='form-control ivar ivar-status' id='status' name='status' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-age'><label for='age'>Age</label></th><td class='ivar ev ivar-age'><input value='{{variables.age|default}}' class='form-control ivar ivar-age' id='age' name='age' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-height'><label for='height'>Height</label></th><td class='ivar od ivar-height'><input value='{{variables.height|default}}' class='form-control ivar ivar-height' id='height' name='height' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-hair'><label for='hair'>Hair</label></th><td class='ivar ev ivar-hair'><input value='{{variables.hair|default}}' class='form-control ivar ivar-hair' id='hair' name='hair' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-eyes'><label for='eyes'>Eyes</label></th><td class='ivar od ivar-eyes'><input value='{{variables.eyes|default}}' class='form-control ivar ivar-eyes' id='eyes' name='eyes' type='text'  /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-5 col-lg-5 hidden-xs hidden-sm hidden-md d-none d-lg-block">
            <div class="card portrait" id="card-portrait">
                <div class="card-header portrait">Portrait</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-portrait'><label for='portrait'></label></div><div class='ivar od ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait' id='portrait' name='portrait' type='number'    /></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card characteristics" id="card-characteristics">
                <div class="card-header characteristics">Characteristics</div>
                <div class="card-body">
                    <table class='table'>
                        <th class='ilbl od ilbl-att-ws-label'><label for='att-ws-label'>Ws</label></th><td class='ivar od ivar-att-ws-label'></td>
                        <th class='ilbl ev ilbl-att-bs-label'><label for='att-bs-label'>Bs</label></th><td class='ivar ev ivar-att-bs-label'></td>
                        <th class='ilbl od ilbl-att-s-label'><label for='att-s-label'>S</label></th><td class='ivar od ivar-att-s-label'></td>
                        <th class='ilbl ev ilbl-att-t-label'><label for='att-t-label'>T</label></th><td class='ivar ev ivar-att-t-label'></td>
                        <th class='ilbl od ilbl-att-i-label'><label for='att-i-label'>I</label></th><td class='ivar od ivar-att-i-label'></td>
                        <th class='ilbl ev ilbl-att-ag-label'><label for='att-ag-label'>Ag</label></th><td class='ivar ev ivar-att-ag-label'></td>
                        <th class='ilbl od ilbl-att-dex-label'><label for='att-dex-label'>Dex</label></th><td class='ivar od ivar-att-dex-label'></td>
                        <th class='ilbl ev ilbl-att-int-label'><label for='att-int-label'>Int</label></th><td class='ivar ev ivar-att-int-label'></td>
                        <th class='ilbl od ilbl-att-wp-label'><label for='att-wp-label'>Wp</label></th><td class='ivar od ivar-att-wp-label'></td>
                        <th class='ilbl ev ilbl-att-fel-label'><label for='att-fel-label'>Fel</label></th><td class='ivar ev ivar-att-fel-label'></td>
                    </table>
                    <table class='table'>
                        <th class='ilbl od ilbl-att-ws-ini'><label for='att-ws-ini'></label></th><td class='ivar od ivar-att-ws-ini'><input value='{{variables.att_ws_ini|default}}' class='form-control ivar ivar-att-ws-ini' id='att_ws_ini' name='att_ws_ini' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-bs-ini'><label for='att-bs-ini'></label></th><td class='ivar ev ivar-att-bs-ini'><input value='{{variables.att_bs_ini|default}}' class='form-control ivar ivar-att-bs-ini' id='att_bs_ini' name='att_bs_ini' type='text'  /></td>
                        <th class='ilbl od ilbl-att-s-ini'><label for='att-s-ini'></label></th><td class='ivar od ivar-att-s-ini'><input value='{{variables.att_s_ini|default}}' class='form-control ivar ivar-att-s-ini' id='att_s_ini' name='att_s_ini' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-t-ini'><label for='att-t-ini'></label></th><td class='ivar ev ivar-att-t-ini'><input value='{{variables.att_t_ini|default}}' class='form-control ivar ivar-att-t-ini' id='att_t_ini' name='att_t_ini' type='text'  /></td>
                        <th class='ilbl od ilbl-att-i-ini'><label for='att-i-ini'></label></th><td class='ivar od ivar-att-i-ini'><input value='{{variables.att_i_ini|default}}' class='form-control ivar ivar-att-i-ini' id='att_i_ini' name='att_i_ini' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-ag-ini'><label for='att-ag-ini'></label></th><td class='ivar ev ivar-att-ag-ini'><input value='{{variables.att_ag_ini|default}}' class='form-control ivar ivar-att-ag-ini' id='att_ag_ini' name='att_ag_ini' type='text'  /></td>
                        <th class='ilbl od ilbl-att-dex-ini'><label for='att-dex-ini'></label></th><td class='ivar od ivar-att-dex-ini'><input value='{{variables.att_dex_ini|default}}' class='form-control ivar ivar-att-dex-ini' id='att_dex_ini' name='att_dex_ini' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-int-ini'><label for='att-int-ini'></label></th><td class='ivar ev ivar-att-int-ini'><input value='{{variables.att_int_ini|default}}' class='form-control ivar ivar-att-int-ini' id='att_int_ini' name='att_int_ini' type='text'  /></td>
                        <th class='ilbl od ilbl-att-wp-ini'><label for='att-wp-ini'></label></th><td class='ivar od ivar-att-wp-ini'><input value='{{variables.att_wp_ini|default}}' class='form-control ivar ivar-att-wp-ini' id='att_wp_ini' name='att_wp_ini' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-fel-ini'><label for='att-fel-ini'></label></th><td class='ivar ev ivar-att-fel-ini'><input value='{{variables.att_fel_ini|default}}' class='form-control ivar ivar-att-fel-ini' id='att_fel_ini' name='att_fel_ini' type='text'  /></td>
                    </table>
                    <table class='table'>
                        <th class='ilbl od ilbl-att-ws-adv'><label for='att-ws-adv'></label></th><td class='ivar od ivar-att-ws-adv'><input value='{{variables.att_ws_adv|default}}' class='form-control ivar ivar-att-ws-adv' id='att_ws_adv' name='att_ws_adv' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-bs-adv'><label for='att-bs-adv'></label></th><td class='ivar ev ivar-att-bs-adv'><input value='{{variables.att_bs_adv|default}}' class='form-control ivar ivar-att-bs-adv' id='att_bs_adv' name='att_bs_adv' type='text'  /></td>
                        <th class='ilbl od ilbl-att-s-adv'><label for='att-s-adv'></label></th><td class='ivar od ivar-att-s-adv'><input value='{{variables.att_s_adv|default}}' class='form-control ivar ivar-att-s-adv' id='att_s_adv' name='att_s_adv' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-t-adv'><label for='att-t-adv'></label></th><td class='ivar ev ivar-att-t-adv'><input value='{{variables.att_t_adv|default}}' class='form-control ivar ivar-att-t-adv' id='att_t_adv' name='att_t_adv' type='text'  /></td>
                        <th class='ilbl od ilbl-att-i-adv'><label for='att-i-adv'></label></th><td class='ivar od ivar-att-i-adv'><input value='{{variables.att_i_adv|default}}' class='form-control ivar ivar-att-i-adv' id='att_i_adv' name='att_i_adv' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-ag-adv'><label for='att-ag-adv'></label></th><td class='ivar ev ivar-att-ag-adv'><input value='{{variables.att_ag_adv|default}}' class='form-control ivar ivar-att-ag-adv' id='att_ag_adv' name='att_ag_adv' type='text'  /></td>
                        <th class='ilbl od ilbl-att-dex-adv'><label for='att-dex-adv'></label></th><td class='ivar od ivar-att-dex-adv'><input value='{{variables.att_dex_adv|default}}' class='form-control ivar ivar-att-dex-adv' id='att_dex_adv' name='att_dex_adv' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-int-adv'><label for='att-int-adv'></label></th><td class='ivar ev ivar-att-int-adv'><input value='{{variables.att_int_adv|default}}' class='form-control ivar ivar-att-int-adv' id='att_int_adv' name='att_int_adv' type='text'  /></td>
                        <th class='ilbl od ilbl-att-wp-adv'><label for='att-wp-adv'></label></th><td class='ivar od ivar-att-wp-adv'><input value='{{variables.att_wp_adv|default}}' class='form-control ivar ivar-att-wp-adv' id='att_wp_adv' name='att_wp_adv' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-fel-adv'><label for='att-fel-adv'></label></th><td class='ivar ev ivar-att-fel-adv'><input value='{{variables.att_fel_adv|default}}' class='form-control ivar ivar-att-fel-adv' id='att_fel_adv' name='att_fel_adv' type='text'  /></td>
                    </table>
                    <table class='table'>
                        <th class='ilbl od ilbl-att-ws-curr'><label for='att-ws-curr'></label></th><td class='ivar od ivar-att-ws-curr'><input value='{{variables.att_ws_curr|default}}' class='form-control ivar ivar-att-ws-curr' id='att_ws_curr' name='att_ws_curr' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-bs-curr'><label for='att-bs-curr'></label></th><td class='ivar ev ivar-att-bs-curr'><input value='{{variables.att_bs_curr|default}}' class='form-control ivar ivar-att-bs-curr' id='att_bs_curr' name='att_bs_curr' type='text'  /></td>
                        <th class='ilbl od ilbl-att-s-curr'><label for='att-s-curr'></label></th><td class='ivar od ivar-att-s-curr'><input value='{{variables.att_s_curr|default}}' class='form-control ivar ivar-att-s-curr' id='att_s_curr' name='att_s_curr' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-t-curr'><label for='att-t-curr'></label></th><td class='ivar ev ivar-att-t-curr'><input value='{{variables.att_t_curr|default}}' class='form-control ivar ivar-att-t-curr' id='att_t_curr' name='att_t_curr' type='text'  /></td>
                        <th class='ilbl od ilbl-att-i-curr'><label for='att-i-curr'></label></th><td class='ivar od ivar-att-i-curr'><input value='{{variables.att_i_curr|default}}' class='form-control ivar ivar-att-i-curr' id='att_i_curr' name='att_i_curr' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-ag-curr'><label for='att-ag-curr'></label></th><td class='ivar ev ivar-att-ag-curr'><input value='{{variables.att_ag_curr|default}}' class='form-control ivar ivar-att-ag-curr' id='att_ag_curr' name='att_ag_curr' type='text'  /></td>
                        <th class='ilbl od ilbl-att-dex-curr'><label for='att-dex-curr'></label></th><td class='ivar od ivar-att-dex-curr'><input value='{{variables.att_dex_curr|default}}' class='form-control ivar ivar-att-dex-curr' id='att_dex_curr' name='att_dex_curr' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-int-curr'><label for='att-int-curr'></label></th><td class='ivar ev ivar-att-int-curr'><input value='{{variables.att_int_curr|default}}' class='form-control ivar ivar-att-int-curr' id='att_int_curr' name='att_int_curr' type='text'  /></td>
                        <th class='ilbl od ilbl-att-wp-curr'><label for='att-wp-curr'></label></th><td class='ivar od ivar-att-wp-curr'><input value='{{variables.att_wp_curr|default}}' class='form-control ivar ivar-att-wp-curr' id='att_wp_curr' name='att_wp_curr' type='text'  /></td>
                        <th class='ilbl ev ilbl-att-fel-curr'><label for='att-fel-curr'></label></th><td class='ivar ev ivar-att-fel-curr'><input value='{{variables.att_fel_curr|default}}' class='form-control ivar ivar-att-fel-curr' id='att_fel_curr' name='att_fel_curr' type='text'  /></td>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card resilience" id="card-resilience">
                <div class="card-header resilience">Resilience</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-resilience'><label for='resilience'>Resilience</label></th><td class='ivar od ivar-resilience'><input value='{{variables.resilience|default}}' class='form-control ivar ivar-resilience' id='resilience' name='resilience' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-resolve'><label for='resolve'>Resolve</label></th><td class='ivar ev ivar-resolve'><input value='{{variables.resolve|default}}' class='form-control ivar ivar-resolve' id='resolve' name='resolve' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-motivaton'><label for='motivaton'>Motivation</label></th><td class='ivar od ivar-motivaton'><input value='{{variables.motivaton|default}}' class='form-control ivar ivar-motivaton' id='motivaton' name='motivaton' type='text'  /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card experience" id="card-experience">
                <div class="card-header experience">Experience</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-xp-curr'><label for='xp-curr'>Current</label></th><td class='ivar od ivar-xp-curr'><input value='{{variables.xp_curr|default}}' class='form-control ivar ivar-xp-curr' id='xp_curr' name='xp_curr' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-xp-spent'><label for='xp-spent'>Spent</label></th><td class='ivar ev ivar-xp-spent'><input value='{{variables.xp_spent|default}}' class='form-control ivar ivar-xp-spent' id='xp_spent' name='xp_spent' type='text'  /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card movement" id="card-movement">
                <div class="card-header movement">Movement</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-movement'><label for='movement'>Movement</label></th><td class='ivar od ivar-movement'><input value='{{variables.movement|default}}' class='form-control ivar ivar-movement' id='movement' name='movement' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-walk'><label for='walk'>Walk</label></th><td class='ivar ev ivar-walk'><input value='{{variables.walk|default}}' class='form-control ivar ivar-walk' id='walk' name='walk' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-run'><label for='run'>Run</label></th><td class='ivar od ivar-run'><input value='{{variables.run|default}}' class='form-control ivar ivar-run' id='run' name='run' type='text'  /></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card basic skills" id="card-basic skills">
                <div class="card-header basic skills">Basic Skills</div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card basic skills" id="card-basic skills">
                <div class="card-header basic skills">Basic Skills</div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card group and advanced skills" id="card-group and advanced skills">
                <div class="card-header group and advanced skills">Group & Advanced Skills</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-gaskill-name-label'><label for='gaskill-name-label'>Name</label></th><td class='ivar od ivar-gaskill-name-label'></td>
                            <th class='ilbl ev ilbl-gaskill-char-label'><label for='gaskill-char-label'>Characteristic</label></th><td class='ivar ev ivar-gaskill-char-label'></td>
                            <th class='ilbl od ilbl-gaskill-adv-label'><label for='gaskill-adv-label'>Adv</label></th><td class='ivar od ivar-gaskill-adv-label'></td>
                            <th class='ilbl ev ilbl-gaskill-skill-label'><label for='gaskill-skill-label'>Skill</label></th><td class='ivar ev ivar-gaskill-skill-label'></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table class='table'>
                        {% for i in 1..20 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-gaskill-name'><label for='gaskill-name'></label></th><td class='ivar od ivar-gaskill-name'><input value='{{attribute(variables, 'gaskill_name_' ~ id)|default}}' class='form-control ivar ivar-gaskill-name' id='gaskill_name' name='gaskill_name_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-gaskill-char'><label for='gaskill-char'></label></th><td class='ivar ev ivar-gaskill-char'><input value='{{attribute(variables, 'gaskill_char_' ~ id)|default}}' class='form-control ivar ivar-gaskill-char' id='gaskill_char' name='gaskill_char_{{id}}' type='text'  /></td>
                            <th class='ilbl od ilbl-gaskill-adv'><label for='gaskill-adv'></label></th><td class='ivar od ivar-gaskill-adv'><input value='{{attribute(variables, 'gaskill_adv_' ~ id)|default}}' class='form-control ivar ivar-gaskill-adv' id='gaskill_adv' name='gaskill_adv_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-gaskill-skill'><label for='gaskill-skill'></label></th><td class='ivar ev ivar-gaskill-skill'><input value='{{attribute(variables, 'gaskill_skill_' ~ id)|default}}' class='form-control ivar ivar-gaskill-skill' id='gaskill_skill' name='gaskill_skill_{{id}}' type='text'  /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card talents" id="card-talents">
                <div class="card-header talents">Talents</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-talent-name-label'><label for='talent-name-label'>Talent Name</label></th><td class='ivar od ivar-talent-name-label'></td>
                            <th class='ilbl ev ilbl-talent-taken-label'><label for='talent-taken-label'>Times Taken</label></th><td class='ivar ev ivar-talent-taken-label'></td>
                            <th class='ilbl od ilbl-talent-desc-label'><label for='talent-desc-label'>Description</label></th><td class='ivar od ivar-talent-desc-label'></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table class='table'>
                        {% for i in 1..20 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-talent-name'><label for='talent-name'></label></th><td class='ivar od ivar-talent-name'><input value='{{attribute(variables, 'talent_name_' ~ id)|default}}' class='form-control ivar ivar-talent-name' id='talent_name' name='talent_name_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-talent-taken'><label for='talent-taken'></label></th><td class='ivar ev ivar-talent-taken'><input value='{{attribute(variables, 'talent_taken_' ~ id)|default}}' class='form-control ivar ivar-talent-taken' id='talent_taken' name='talent_taken_{{id}}' type='text'  /></td>
                            <th class='ilbl od ilbl-talent-desc'><label for='talent-desc'></label></th><td class='ivar od ivar-talent-desc'><input value='{{attribute(variables, 'talent_desc_' ~ id)|default}}' class='form-control ivar ivar-talent-desc' id='talent_desc' name='talent_desc_{{id}}' type='text'  /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card ambitions" id="card-ambitions">
                <div class="card-header ambitions">Ambitions</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-amb-short'><label for='amb-short'>Short Term</label></div><div class='ivar od ivar-amb-short'><div class='iContent'><textarea class='form-control ivar ivar-amb-short ' id='amb_short' name='amb_short' rows='3'  >{{variables.amb_short|default}}</textarea></div></div></div>
                    <div class='cBox'><div class='ilbl ev ilbl-amb-long'><label for='amb-long'>Long Term</label></div><div class='ivar ev ivar-amb-long'><div class='iContent'><textarea class='form-control ivar ivar-amb-long ' id='amb_long' name='amb_long' rows='3'  >{{variables.amb_long|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card party" id="card-party">
                <div class="card-header party">Party</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-party-name'><label for='party-name'>Party Name</label></div><div class='ivar od ivar-party-name'><input value='{{variables.party_name|default}}' class='form-control ivar ivar-party-name' id='party_name' name='party_name' type='text'  /></div></div>
                    <div class='cBox'><div class='ilbl ev ilbl-party-short'><label for='party-short'>Short Term</label></div><div class='ivar ev ivar-party-short'><div class='iContent'><textarea class='form-control ivar ivar-party-short ' id='party_short' name='party_short' rows='3'  >{{variables.party_short|default}}</textarea></div></div></div>
                    <div class='cBox'><div class='ilbl od ilbl-party-long'><label for='party-long'>Long Term</label></div><div class='ivar od ivar-party-long'><div class='iContent'><textarea class='form-control ivar ivar-party-long ' id='party_long' name='party_long' rows='3'  >{{variables.party_long|default}}</textarea></div></div></div>
                    <div class='cBox'><div class='ilbl ev ilbl-party-members'><label for='party-members'>Members</label></div><div class='ivar ev ivar-party-members'><input value='{{variables.party_members|default}}' class='form-control ivar ivar-party-members' id='party_members' name='party_members' type='text'  /></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card armour" id="card-armour">
                <div class="card-header armour">Armour</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-armour-name-label'><label for='armour-name-label'>Name</label></th><td class='ivar od ivar-armour-name-label'></td>
                            <th class='ilbl ev ilbl-armour-loc-label'><label for='armour-loc-label'>Locations</label></th><td class='ivar ev ivar-armour-loc-label'></td>
                            <th class='ilbl od ilbl-armour-enc-label'><label for='armour-enc-label'>Enc</label></th><td class='ivar od ivar-armour-enc-label'></td>
                            <th class='ilbl ev ilbl-armour-ap-label'><label for='armour-ap-label'>Ap</label></th><td class='ivar ev ivar-armour-ap-label'></td>
                            <th class='ilbl od ilbl-armour-qual-label'><label for='armour-qual-label'>Qualities</label></th><td class='ivar od ivar-armour-qual-label'></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table class='table'>
                        {% for i in 1..5 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-armour-name'><label for='armour-name'></label></th><td class='ivar od ivar-armour-name'><input value='{{attribute(variables, 'armour_name_' ~ id)|default}}' class='form-control ivar ivar-armour-name' id='armour_name' name='armour_name_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-armour-loc'><label for='armour-loc'></label></th><td class='ivar ev ivar-armour-loc'><input value='{{attribute(variables, 'armour_loc_' ~ id)|default}}' class='form-control ivar ivar-armour-loc' id='armour_loc' name='armour_loc_{{id}}' type='text'  /></td>
                            <th class='ilbl od ilbl-armour-enc'><label for='armour-enc'></label></th><td class='ivar od ivar-armour-enc'><input value='{{attribute(variables, 'armour_enc_' ~ id)|default}}' class='form-control ivar ivar-armour-enc' id='armour_enc' name='armour_enc_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-armour-ap'><label for='armour-ap'></label></th><td class='ivar ev ivar-armour-ap'><input value='{{attribute(variables, 'armour_ap_' ~ id)|default}}' class='form-control ivar ivar-armour-ap' id='armour_ap' name='armour_ap_{{id}}' type='text'  /></td>
                            <th class='ilbl od ilbl-armour-qual'><label for='armour-qual'></label></th><td class='ivar od ivar-armour-qual'><input value='{{attribute(variables, 'armour_qual_' ~ id)|default}}' class='form-control ivar ivar-armour-qual' id='armour_qual' name='armour_qual_{{id}}' type='text'  /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card armour points" id="card-armour points">
                <div class="card-header armour points">Armour Points</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-arm-head'><label for='arm-head'>Head (01-09)</label></th><td class='ivar od ivar-arm-head'><input value='{{variables.arm_head|default}}' class='form-control ivar ivar-arm-head' id='arm_head' name='arm_head' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-arm-larm'><label for='arm-larm'>Left Arm (10-24)</label></th><td class='ivar ev ivar-arm-larm'><input value='{{variables.arm_larm|default}}' class='form-control ivar ivar-arm-larm' id='arm_larm' name='arm_larm' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-arm-rarm'><label for='arm-rarm'>Right Arm (25-44)</label></th><td class='ivar od ivar-arm-rarm'><input value='{{variables.arm_rarm|default}}' class='form-control ivar ivar-arm-rarm' id='arm_rarm' name='arm_rarm' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-arm-body'><label for='arm-body'>Body (54-79)</label></th><td class='ivar ev ivar-arm-body'><input value='{{variables.arm_body|default}}' class='form-control ivar ivar-arm-body' id='arm_body' name='arm_body' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-arm-lleg'><label for='arm-lleg'>Left Leg (80-89)</label></th><td class='ivar od ivar-arm-lleg'><input value='{{variables.arm_lleg|default}}' class='form-control ivar ivar-arm-lleg' id='arm_lleg' name='arm_lleg' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-arm-rleg'><label for='arm-rleg'>Right Leg (90-00)</label></th><td class='ivar ev ivar-arm-rleg'><input value='{{variables.arm_rleg|default}}' class='form-control ivar ivar-arm-rleg' id='arm_rleg' name='arm_rleg' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-arm-shield'><label for='arm-shield'>Shield</label></th><td class='ivar od ivar-arm-shield'><input value='{{variables.arm_shield|default}}' class='form-control ivar ivar-arm-shield' id='arm_shield' name='arm_shield' type='text'  /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card trappings" id="card-trappings">
                <div class="card-header trappings">Trappings</div>
                <div class="card-body">
                    <table class='table'>
                        <th class='ilbl od ilbl-trapping-label'><label for='trapping-label'>Name</label></th><td class='ivar od ivar-trapping-label'></td>
                        <th class='ilbl ev ilbl-trapping-enc-label'><label for='trapping-enc-label'>Enc</label></th><td class='ivar ev ivar-trapping-enc-label'></td>
                    </table>
                    <table class='table'>
                        {% for i in 1..20 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-trapping'><label for='trapping'></label></th><td class='ivar od ivar-trapping'><input value='{{attribute(variables, 'trapping_' ~ id)|default}}' class='form-control ivar ivar-trapping' id='trapping' name='trapping_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-trapping-enc'><label for='trapping-enc'></label></th><td class='ivar ev ivar-trapping-enc'><input value='{{attribute(variables, 'trapping_enc_' ~ id)|default}}' class='form-control ivar ivar-trapping-enc' id='trapping_enc' name='trapping_enc_{{id}}' type='text'  /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="card psychology" id="card-psychology">
                <div class="card-header psychology">Psychology</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-psychology'><label for='psychology'></label></div><div class='ivar od ivar-psychology'><div class='iContent'><textarea class='form-control ivar ivar-psychology ' id='psychology' name='psychology' rows='3'  >{{variables.psychology|default}}</textarea></div></div></div>
                </div>
            </div>
            <div class="card corruption" id="card-corruption">
                <div class="card-header corruption">Corruption & Mutation</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-corruption'><label for='corruption'></label></div><div class='ivar od ivar-corruption'><div class='iContent'><textarea class='form-control ivar ivar-corruption ' id='corruption' name='corruption' rows='3'  >{{variables.corruption|default}}</textarea></div></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card wealth" id="card-wealth">
                        <div class="card-header wealth">Wealth</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='ilbl od ilbl-wealth-d'><label for='wealth-d'>D</label></th><td class='ivar od ivar-wealth-d'><input value='{{variables.wealth_d|default}}' class='form-control ivar ivar-wealth-d' id='wealth_d' name='wealth_d' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-wealth-ss'><label for='wealth-ss'>Ss</label></th><td class='ivar ev ivar-wealth-ss'><input value='{{variables.wealth_ss|default}}' class='form-control ivar ivar-wealth-ss' id='wealth_ss' name='wealth_ss' type='text'  /></td></tr>
                                <tr><th class='ilbl od ilbl-wealth-gc'><label for='wealth-gc'>Gc</label></th><td class='ivar od ivar-wealth-gc'><input value='{{variables.wealth_gc|default}}' class='form-control ivar ivar-wealth-gc' id='wealth_gc' name='wealth_gc' type='text'  /></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="card wounds" id="card-wounds">
                        <div class="card-header wounds">Wounds</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='ilbl od ilbl-wounds-sb'><label for='wounds-sb'>Sb</label></th><td class='ivar od ivar-wounds-sb'><input value='{{variables.wounds_sb|default}}' class='form-control ivar ivar-wounds-sb' id='wounds_sb' name='wounds_sb' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-wounds-tbx2'><label for='wounds-tbx2'>Tbx2</label></th><td class='ivar ev ivar-wounds-tbx2'><input value='{{variables.wounds_tbx2|default}}' class='form-control ivar ivar-wounds-tbx2' id='wounds_tbx2' name='wounds_tbx2' type='text'  /></td></tr>
                                <tr><th class='ilbl od ilbl-wounds-wpb'><label for='wounds-wpb'>Wpb</label></th><td class='ivar od ivar-wounds-wpb'><input value='{{variables.wounds_wpb|default}}' class='form-control ivar ivar-wounds-wpb' id='wounds_wpb' name='wounds_wpb' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-wounds-hardy'><label for='wounds-hardy'>Hardy</label></th><td class='ivar ev ivar-wounds-hardy'><input value='{{variables.wounds_hardy|default}}' class='form-control ivar ivar-wounds-hardy' id='wounds_hardy' name='wounds_hardy' type='text'  /></td></tr>
                                <tr><th class='ilbl od ilbl-wounds-wounds'><label for='wounds-wounds'>Wounds</label></th><td class='ivar od ivar-wounds-wounds'><input value='{{variables.wounds_wounds|default}}' class='form-control ivar ivar-wounds-wounds' id='wounds_wounds' name='wounds_wounds' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-wounds-desc'><label for='wounds-desc'>Details</label></th><td class='ivar ev ivar-wounds-desc'><div class='iContent'><textarea class='form-control ivar ivar-wounds-desc ' id='wounds_desc' name='wounds_desc' rows='3'  >{{variables.wounds_desc|default}}</textarea></div></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card encumbrance" id="card-encumbrance">
                        <div class="card-header encumbrance">Encumbrance</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='ilbl od ilbl-enc-weapons'><label for='enc-weapons'>Weapons</label></th><td class='ivar od ivar-enc-weapons'><input value='{{variables.enc_weapons|default}}' class='form-control ivar ivar-enc-weapons' id='enc_weapons' name='enc_weapons' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-enc-armour'><label for='enc-armour'>Armour</label></th><td class='ivar ev ivar-enc-armour'><input value='{{variables.enc_armour|default}}' class='form-control ivar ivar-enc-armour' id='enc_armour' name='enc_armour' type='text'  /></td></tr>
                                <tr><th class='ilbl od ilbl-enc-Trapping'><label for='enc-Trapping'>Trappings</label></th><td class='ivar od ivar-enc-Trapping'><input value='{{variables.enc_Trapping|default}}' class='form-control ivar ivar-enc-Trapping' id='enc_Trapping' name='enc_Trapping' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-enc-max-enc'><label for='enc-max-enc'>Max Enc.</label></th><td class='ivar ev ivar-enc-max-enc'><input value='{{variables.enc_max_enc|default}}' class='form-control ivar ivar-enc-max-enc' id='enc_max_enc' name='enc_max_enc' type='text'  /></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="card fate" id="card-fate">
                        <div class="card-header fate">Fate</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='ilbl od ilbl-fate'><label for='fate'>Fate</label></th><td class='ivar od ivar-fate'><input value='{{variables.fate|default}}' class='form-control ivar ivar-fate' id='fate' name='fate' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-fortune'><label for='fortune'>Fortune</label></th><td class='ivar ev ivar-fortune'><input value='{{variables.fortune|default}}' class='form-control ivar ivar-fortune' id='fortune' name='fortune' type='text'  /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card weapons" id="card-weapons">
                <div class="card-header weapons">Weapons</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-weap-name-label'><label for='weap-name-label'>Name</label></th><td class='ivar od ivar-weap-name-label'></td>
                            <th class='ilbl ev ilbl-weap-group-label'><label for='weap-group-label'>Group</label></th><td class='ivar ev ivar-weap-group-label'></td>
                            <th class='ilbl od ilbl-weap-enc-label'><label for='weap-enc-label'>Enc</label></th><td class='ivar od ivar-weap-enc-label'></td>
                            <th class='ilbl ev ilbl-weap-rng-label'><label for='weap-rng-label'>Range/Reach</label></th><td class='ivar ev ivar-weap-rng-label'></td>
                            <th class='ilbl od ilbl-weap-dmg-label'><label for='weap-dmg-label'>Damage</label></th><td class='ivar od ivar-weap-dmg-label'></td>
                            <th class='ilbl ev ilbl-weap-qual-label'><label for='weap-qual-label'>Qualities</label></th><td class='ivar ev ivar-weap-qual-label'></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table class='table'>
                        {% for i in 1..8 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-weap-name'><label for='weap-name'></label></th><td class='ivar od ivar-weap-name'><input value='{{attribute(variables, 'weap_name_' ~ id)|default}}' class='form-control ivar ivar-weap-name' id='weap_name' name='weap_name_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-weap-group'><label for='weap-group'></label></th><td class='ivar ev ivar-weap-group'><input value='{{attribute(variables, 'weap_group_' ~ id)|default}}' class='form-control ivar ivar-weap-group' id='weap_group' name='weap_group_{{id}}' type='text'  /></td>
                            <th class='ilbl od ilbl-weap-enc'><label for='weap-enc'></label></th><td class='ivar od ivar-weap-enc'><input value='{{attribute(variables, 'weap_enc_' ~ id)|default}}' class='form-control ivar ivar-weap-enc' id='weap_enc' name='weap_enc_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-weap-rng'><label for='weap-rng'></label></th><td class='ivar ev ivar-weap-rng'><input value='{{attribute(variables, 'weap_rng_' ~ id)|default}}' class='form-control ivar ivar-weap-rng' id='weap_rng' name='weap_rng_{{id}}' type='text'  /></td>
                            <th class='ilbl od ilbl-weap-dmg'><label for='weap-dmg'></label></th><td class='ivar od ivar-weap-dmg'><input value='{{attribute(variables, 'weap_dmg_' ~ id)|default}}' class='form-control ivar ivar-weap-dmg' id='weap_dmg' name='weap_dmg_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-weap-qual'><label for='weap-qual'></label></th><td class='ivar ev ivar-weap-qual'><input value='{{attribute(variables, 'weap_qual_' ~ id)|default}}' class='form-control ivar ivar-weap-qual' id='weap_qual' name='weap_qual_{{id}}' type='text'  /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card spells" id="card-spells">
                <div class="card-header spells">Spells & Prayers</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..1 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-spell-name-label'><label for='spell-name-label'>Name</label></th><td class='ivar od ivar-spell-name-label'></td>
                            <th class='ilbl ev ilbl-spell-cn-label'><label for='spell-cn-label'>Cn</label></th><td class='ivar ev ivar-spell-cn-label'></td>
                            <th class='ilbl od ilbl-spell-rng-label'><label for='spell-rng-label'>Range</label></th><td class='ivar od ivar-spell-rng-label'></td>
                            <th class='ilbl ev ilbl-spell-tgt-label'><label for='spell-tgt-label'>Target</label></th><td class='ivar ev ivar-spell-tgt-label'></td>
                            <th class='ilbl od ilbl-spell-dur-label'><label for='spell-dur-label'>Duration</label></th><td class='ivar od ivar-spell-dur-label'></td>
                            <th class='ilbl ev ilbl-spell-effect-label'><label for='spell-effect-label'>Effect</label></th><td class='ivar ev ivar-spell-effect-label'></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table class='table'>
                        {% for i in 1..8 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl od ilbl-spell-name'><label for='spell-name'></label></th><td class='ivar od ivar-spell-name'><input value='{{attribute(variables, 'spell_name_' ~ id)|default}}' class='form-control ivar ivar-spell-name' id='spell_name' name='spell_name_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-spell-cn'><label for='spell-cn'></label></th><td class='ivar ev ivar-spell-cn'><input value='{{attribute(variables, 'spell_cn_' ~ id)|default}}' class='form-control ivar ivar-spell-cn' id='spell_cn' name='spell_cn_{{id}}' type='text'  /></td>
                            <th class='ilbl od ilbl-spell-rng'><label for='spell-rng'></label></th><td class='ivar od ivar-spell-rng'><input value='{{attribute(variables, 'spell_rng_' ~ id)|default}}' class='form-control ivar ivar-spell-rng' id='spell_rng' name='spell_rng_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-spell-tgt'><label for='spell-tgt'></label></th><td class='ivar ev ivar-spell-tgt'><input value='{{attribute(variables, 'spell_tgt_' ~ id)|default}}' class='form-control ivar ivar-spell-tgt' id='spell_tgt' name='spell_tgt_{{id}}' type='text'  /></td>
                            <th class='ilbl od ilbl-spell-dur'><label for='spell-dur'></label></th><td class='ivar od ivar-spell-dur'><input value='{{attribute(variables, 'spell_dur_' ~ id)|default}}' class='form-control ivar ivar-spell-dur' id='spell_dur' name='spell_dur_{{id}}' type='text'  /></td>
                            <th class='ilbl ev ilbl-spell-effect'><label for='spell-effect'></label></th><td class='ivar ev ivar-spell-effect'><input value='{{attribute(variables, 'spell_effect_' ~ id)|default}}' class='form-control ivar ivar-spell-effect' id='spell_effect' name='spell_effect_{{id}}' type='text'  /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-notes'><label for='notes'></label></div><div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes ' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
