{% set S = variables.att_s_ini|default + variables.att_s_adv|default %}
{% set T = variables.att_t_ini|default + variables.att_t_adv|default %}
{% set WP = variables.att_wp_ini|default + variables.att_wp_adv|default %}
{% set max_enc = (S // 10) + (T // 10) %}
{% set wounds_max = (S // 10) + 2 * (T // 10) + (WP // 10) %}
{# ---------------------------------------------- #}
<div class="container-fluid sheet-warhammer-4e tracker">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card fate" id="card-fate">
                <div class="card-header fate">Pools</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-fate'><label for='fate'>Fate</label></th><td class='ivar od ivar-fate'><input value='{{variables.fate|default}}' class='form-control ivar ivar-fate c' id='fate' name='fate' type='text' /></td>
                            <th class='ilbl ev ilbl-fortune'><label for='fortune'>Fortune</label></th><td class='ivar ev ivar-fortune'><input value='{{variables.fortune|default}}' class='form-control ivar ivar-fortune c' id='fortune' name='fortune' type='text' /></td>
                        </tr>
                        <tr>
                            <th class='ilbl od ilbl-resilience'><label for='resilience'>Resilience</label></th><td class='ivar od ivar-resilience'><input value='{{variables.resilience|default}}' class='form-control ivar ivar-resilience c' id='resilience' name='resilience' type='text' /></td>
                            <th class='ilbl ev ilbl-resolve'><label for='resolve'>Resolve</label></th><td class='ivar ev ivar-resolve'><input value='{{variables.resolve|default}}' class='form-control ivar ivar-resolve c' id='resolve' name='resolve' type='text' /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card wounds" id="card-wounds">
                <div class="card-header wounds">Wounds</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl ev ilbl-wounds-hardy'><label for='wounds-hardy'>Hardy</label></th><td class='ivar ev ivar-wounds-hardy'><input value='{{variables.wounds_hardy|default}}' class='form-control ivar ivar-wounds-hardy c' id='wounds_hardy' name='wounds_hardy' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-wounds-wounds'><label for='wounds-wounds'>Wounds</label></th><td class='ivar od ivar-wounds-wounds'><input value='{{variables.wounds_wounds|default}}' class='form-control ivar ivar-wounds-wounds c' id='wounds_wounds' name='wounds_wounds' type='text' /> of {{wounds_max}} (SB + 2 x TB + WPB)</td></tr>
                        <tr><th class='ilbl ev ilbl-wounds-desc'><label for='wounds-desc'>Details</label></th><td class='ivar ev ivar-wounds-desc'><div class='iContent'><textarea class='form-control ivar ivar-wounds-desc ' id='wounds_desc' name='wounds_desc' rows='3'  >{{variables.wounds_desc|default}}</textarea></div></td></tr>
                    </table>
                </div>
            </div>
            <div class="card corruption" id="card-corruption">
                <div class="card-header corruption"><label for='corruption'>Corruption &amp; Mutation</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-corruption'><div class='iContent'><textarea class='form-control ivar ivar-corruption' id='corruption' name='corruption' rows='3' >{{variables.corruption|default}}</textarea></div></div></div>
                </div>
            </div>
            <div class="card wealth" id="card-wealth">
                <div class="card-header wealth">Wealth</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-wealth-d'><label for='wealth-d'>D</label></th><td class='ivar od ivar-wealth-d'><input value='{{variables.wealth_d|default}}' class='form-control ivar ivar-wealth-d c' id='wealth_d' name='wealth_d' type='text' /></td>
                            <th class='ilbl ev ilbl-wealth-ss'><label for='wealth-ss'>SS</label></th><td class='ivar ev ivar-wealth-ss'><input value='{{variables.wealth_ss|default}}' class='form-control ivar ivar-wealth-ss c' id='wealth_ss' name='wealth_ss' type='text' /></td>
                            <th class='ilbl od ilbl-wealth-gc'><label for='wealth-gc'>GC</label></th><td class='ivar od ivar-wealth-gc'><input value='{{variables.wealth_gc|default}}' class='form-control ivar ivar-wealth-gc c' id='wealth_gc' name='wealth_gc' type='text' /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card experience" id="card-experience">
                <div class="card-header experience">Experience</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-xp-curr'><label for='xp-curr'>Current</label></th><td class='ivar od ivar-xp-curr'><input value='{{variables.xp_curr|default}}' class='form-control ivar ivar-xp-curr c' id='xp_curr' name='xp_curr' type='text' /></td>
                            <th class='ilbl ev ilbl-xp-spent'><label for='xp-spent'>Spent</label></th><td class='ivar ev ivar-xp-spent'><input value='{{variables.xp_spent|default}}' class='form-control ivar ivar-xp-spent c' id='xp_spent' name='xp_spent' type='text' /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card armour points" id="card-armour points">
                <div class="card-header armour points">Armour Points</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-arm-head' width='60%'><label for='arm-head'>Head (01-09)</label></th><td class='ivar od ivar-arm-head'><input value='{{variables.arm_head|default}}' class='form-control ivar ivar-arm-head c' id='arm_head' name='arm_head' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-arm-larm'><label for='arm-larm'>Left Arm (10-24)</label></th><td class='ivar ev ivar-arm-larm'><input value='{{variables.arm_larm|default}}' class='form-control ivar ivar-arm-larm c' id='arm_larm' name='arm_larm' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-arm-rarm'><label for='arm-rarm'>Right Arm (25-44)</label></th><td class='ivar od ivar-arm-rarm'><input value='{{variables.arm_rarm|default}}' class='form-control ivar ivar-arm-rarm c' id='arm_rarm' name='arm_rarm' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-arm-body'><label for='arm-body'>Body (54-79)</label></th><td class='ivar ev ivar-arm-body'><input value='{{variables.arm_body|default}}' class='form-control ivar ivar-arm-body c' id='arm_body' name='arm_body' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-arm-lleg'><label for='arm-lleg'>Left Leg (80-89)</label></th><td class='ivar od ivar-arm-lleg'><input value='{{variables.arm_lleg|default}}' class='form-control ivar ivar-arm-lleg c' id='arm_lleg' name='arm_lleg' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-arm-rleg'><label for='arm-rleg'>Right Leg (90-00)</label></th><td class='ivar ev ivar-arm-rleg'><input value='{{variables.arm_rleg|default}}' class='form-control ivar ivar-arm-rleg c' id='arm_rleg' name='arm_rleg' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-arm-shield'><label for='arm-shield'>Shield</label></th><td class='ivar od ivar-arm-shield'><input value='{{variables.arm_shield|default}}' class='form-control ivar ivar-arm-shield c' id='arm_shield' name='arm_shield' type='text' /></td></tr>
                    </table>
                </div>
            </div>
            <div class="card notes" id="card-notes">
                <div class="card-header notes"><label for='notes'>Notes</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3' >{{variables.notes|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>