<div class='container-fluid sheet-alternity'>
  <div class='row'>
    <div class='col-12 col-md-12'>
      <div class='card pdata' id='card-pdata'>
        <div class='card-header pdata'>{{variables.name|default}}</div>
        <div class='card-body of c'>
            {{variables.species|default}}<br>
            {{variables.profession|default}}, {{variables.career|default}} level {{variables.hero_level|default}}
        </div>
      </div>
    </div>
  </div>
</div>