{% import _self as sheet %}
{# ------------------------- #}
{% macro genSkill(id, v, dname, datt) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
    {% if id == 'STAT' %}<tr><th class="lbl" colspan="5" title="Group: {{dname}}">{{dname}}</th></tr>{% else %}
    {% set name = attribute( v, 'skill_name_' ~ id )|default %}{% if name|last != ":" %}
    {% set att = attribute( v, 'skill_attr_' ~ id )|default %}{% if att == '' %}{% set att = datt %}{% endif %}
    {% set attvalue = attribute( v, att|lower )|default %}
    {% set career = attribute( v, 'skill_career_' ~ id )|default %}
    {% set rank = attribute( v, 'skill_rank_' ~ id )|default %}
    {% set br = '' %}{% set ba = 'bold' %}
    {% if rank >= attvalue %}{% set br = 'bold' %}{% set ba = '' %}{% endif %}
    {% if rank < 1 %}{% set rank = '' %}{% set br = '' %}{% set ba = '' %}{% endif %}
        <tr>
            {% if name == "" %}{% set name = dname %}{% set att = datt %}{% endif %}
            <td class="var {{eo}} var-skill-name l" title="Skill: {{name}}">{{name}}</td>
            <td class="var {{eo}} var-skill-career l">{{career}}</td>
            <td class="var {{eo}} var-skill-attr l">{{att}}</td>
            <td class="var {{eo}} var-skill-attvalue c {{ba}}">{{attvalue}}</td>
            <td class="var {{eo}} var-skill-rank c {{br}}">{{rank}}</td>
        </tr>
    {% endif %}
{% endif %}{% endmacro genSkill %}
<div class='container-fluid sheet-eote'>
  <div class='row'>
    <div class="col-12"><button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePersonal" aria-expanded="true" aria-controls="collapsePersonal"><em class="fas fa-angle-down"></em></button>
      <div class="row collapse show" id="collapsePersonal">{% set wd = 6 %}{% set img = variables.portrait|default %}{% if img < 1 %}{% set wd = 12 %}{% endif %}
        <div class='col-12 col-lg-{{wd}} c'>
          <div class="card my-2 logo noborder hidden-md hidden-xs hidden-sm d-none d-lg-block" title="Star Wars: Edge of the Empire">
          </div>
          <br>
          <div class='card personal' id='card-personal'>
            <div class='card-header personal'>{{variables.name|default}} ({{variables.career|default}})</div>
            <div class='card-body of'>
              <table class='table'>
                <tr><th class='lbl od lbl-species' width='35%'> Species </th><td class='var od var-species'> {{variables.species|default}} </td></tr>
                <tr><th class='lbl ev lbl-spec-trees'> Specialization Trees </th><td class='var ev var-spec-trees'> {{variables.spec_trees|default}} </td></tr>
                <tr><th class='lbl od lbl-xp-unspent'> Available XP </th><td class='var od var-xp-unspent'> {{variables.xp_unspent|default}} of total {{variables.xp_total|default}}</td></tr>
                <tr><th class='lbl ev lbl-gender'> Gender </th><td class='var ev var-gender'> {{variables.gender|default}} </td></tr>
                <tr><th class='lbl od lbl-age'> Age </th><td class='var od var-age'> {{variables.age|default}} </td></tr>
                <tr><th class='lbl ev lbl-height'> Height </th><td class='var ev var-height'> {{variables.height|default}} </td></tr>
                <tr><th class='lbl od lbl-build'> Build </th><td class='var od var-build'> {{variables.build|default}} </td></tr>
                <tr><th class='lbl ev lbl-hair'> Hair </th><td class='var ev var-hair'> {{variables.hair|default}} </td></tr>
                <tr><th class='lbl od lbl-eyes'> Eyes </th><td class='var od var-eyes'> {{variables.eyes|default}} </td></tr>
                <tr><th class='lbl ev lbl-notable-features'> Notable Features </th><td class='var ev var-notable-features'> {{variables.notable_features|default|nl2br}} </td></tr>
                <tr><th class='lbl od lbl-player'> Player </th><td class='var od var-player'> {{variables.player|default}} </td></tr>
              </table>
            </div>
          </div>
        </div>
        {% if img > 0 %}
        <div class='col-12 col-lg-6 hidden-xs hidden-sm hidden-md d-none d-lg-block'>
          <br>
          <br>
          <div class='var od var-portrait c'>[img:{{img}}]</div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class='col-12 c'>
      <div class='card characteristics nobg' id='card-characteristics'>
        <div class='card-header characteristics'>Characteristics <button title="Minimize section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCharacteristics" aria-expanded="true" aria-controls="collapseCharacteristics"><em class="fas fa-angle-down"></em></button></div>
        <div class='card-body nobg'>
          <div class="row collapse show" id="collapseCharacteristics">
            <div class='col-12 col-md-4 col-lg-2'>
              <div class='card attributes brawn' id='card-attributes brawn'>
                <div class='card-body of'>
                  <div class='lbl od lbl-brawn'> Brawn </div><div class='var od var-brawn circle'> {{variables.brawn|default}} </div>
                </div>
              </div>
            </div>
            <div class='col-12 col-md-4 col-lg-2'>
              <div class='card attributes agility' id='card-attributes agility'>
                <div class='card-body of'>
                  <div class='lbl od lbl-agility'> Agility </div><div class='var od var-agility circle'> {{variables.agility|default}} </div>
                </div>
              </div>
            </div>
            <div class='col-12 col-md-4 col-lg-2'>
              <div class='card attributes vitality' id='card-attributes vitality'>
                <div class='card-body of'>
                  <div class='lbl od lbl-intellect'> Intellect </div><div class='var od var-intellect circle'> {{variables.intellect|default}} </div>
                </div>
              </div>
            </div>
            <div class='col-12 col-md-4 col-lg-2'>
              <div class='card attributes cunning' id='card-attributes cunning'>
                <div class='card-body of'>
                  <div class='lbl od lbl-cunning'> Cunning </div><div class='var od var-cunning circle'> {{variables.cunning|default}} </div>
                </div>
              </div>
            </div>
            <div class='col-12 col-md-4 col-lg-2'>
              <div class='card attributes agility' id='card-attributes agility'>
                <div class='card-body of'>
                  <div class='lbl od lbl-willpower'> Willpower </div><div class='var od var-willpower circle'> {{variables.willpower|default}} </div>
                </div>
              </div>
            </div>
            <div class='col-12 col-md-4 col-lg-2'>
              <div class='card attributes vitality' id='card-attributes vitality'>
                <div class='card-body of'>
                  <div class='lbl od lbl-presence'> Presence </div><div class='var od var-presence circle'> {{variables.presence|default}} </div>
                </div>
              </div>
            </div>
            <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
              <div class='card misc soak' id='card-misc soak'>
                <div class='card-header misc soak'>Soak Value</div>
                <div class='card-body of'>
                  <table class='table' width='100%'>
                    <tr>
                      <td class='var ev var-soak-c'> {{variables.soak_t|default}} </td>
                    </tr>
                    <tr>
                      <th class='lbl ev lbl-soak-c c'> Current </th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
              <div class='card misc wounds' id='card-misc wounds'>
                <div class='card-header misc wounds'>Wounds{% if variables.wounds_crit|default > 0 %} <span class='small'>(Criticals: {{variables.wounds_crit|default}})</span>{% endif %}</div>
                <div class='card-body of'>
                  <table class='table'>
                    <tr>
                      <td class='var od var-wounds-t' width='50%'> {{variables.wounds_t|default}} </td>
                      <td class='var ev var-wounds-c'> {{variables.wounds_c|default}} </td>
                    </tr>
                    <tr>
                      <th class='lbl od lbl-wounds-t c'> Threshold </th>
                      <th class='lbl ev lbl-wounds-c c'> Current </th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
              <div class='card misc strain' id='card-misc strain'>
                <div class='card-header misc strain'>Strain</div>
                <div class='card-body of'>
                  <table class='table'>
                    <tr>
                      <td class='var od var-strain-t' width='50%'> {{variables.strain_t|default}} </td>
                      <td class='var ev var-strain-c'> {{variables.strain_c|default}} </td>
                    </tr>
                    <tr>
                      <th class='lbl od lbl-strain-t c'> Threshold </th>
                      <th class='lbl ev lbl-strain-c c'> Current </th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
              <div class='card misc defense' id='card-misc defense'>
                <div class='card-header misc defense'>Defense</div>
                <div class='card-body of'>
                  <table class='table'>
                    <tr>
                      <td class='var od var-defense-r' width='50%'> {{variables.defense_r|default}} </td>
                      <td class='var ev var-defense-m'> {{variables.defense_m|default}} </td>
                    </tr>
                    <tr>
                      <th class='lbl od lbl-defense-r c'> Ranged </th>
                      <th class='lbl ev lbl-defense-m c'> Melee </th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
              <div class='card status' id='card-status'>
                <div class='card-header status'>Status Effects</div>
                <div class='card-body of'>
                  <table class='table'>
                    <tr><th class='lbl od lbl-status-effect-01'> Staggered </th><td class='var od var-status-effect-01 c'>{% if variables.status_effect_01|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                    <tr><th class='lbl ev lbl-status-effect-02'> Immobilized </th><td class='var ev var-status-effect-02 c'>{% if variables.status_effect_02|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                    <tr><th class='lbl od lbl-status-effect-03'> Disoriented </th><td class='var od var-status-effect-03 c'>{% if variables.status_effect_03|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                    <tr><th class='lbl ev lbl-status-effect-04'> {{variables.status_effect_name_04|default}} </th><td class='var ev var-status-effect-04 c'>{% if variables.status_effect_04|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
              <div class='card misc force pool' id='card-misc force pool'>
                <div class='card-header misc force pool'>Force Pool</div>
                <div class='card-body of'>
                  <table class='table'>
                    <tr>
                      <td class='var od var-force-pool-c c'> {{variables.force_pool_c|default}} </td>
                      <td class='var ev var-force-pool-a c'> {{variables.force_pool_a|default}} </td>
                    </tr>
                    <tr>
                      <th class='lbl od lbl-force-pool-c c'> Committed </th>
                      <th class='lbl ev lbl-force-pool-a c'> Available </th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
              <div class='card misc force-rank' id='card-misc force-rank'>
                <div class='card-header misc force-rank'>Force Rank</div>
                <div class='card-body of'>
                  <div class='var var-force-rank circle'> {{variables.force_rank|default}}</div>
                </div>
              </div>
            </div>
            <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
              <div class='card misc encumbrance' id='card-misc encumbrance'>
                <div class='card-header misc encumbrance'>Encumbrance</div>
                <div class='card-body of'>
                  <table class='table'>
                    <tr>
                      <td class='var od var-encumbrance-t c'> {{variables.encumbrance_t|default}} </td>
                      <td class='var ev var-encumbrance-c c'> {{variables.encumbrance_c|default}} </td>
                    </tr>
                    <tr>
                      <th class='lbl od lbl-encumbrance-t c'> Threshold </th>
                      <th class='lbl ev lbl-encumbrance-c c'> Current </th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-lg-6'>
              <div class='card armor' id='card-armor'>
                <div class='card-header armor'>Armor</div>
                <div class='card-body of'>
                  <table class='table'>
                  <tr>
                  <th class='lbl od lbl-armor-type'> Armor </th>
                  <th class='lbl od lbl-armor-soak c' width='15%'> Soak </th>
                  <th class='lbl od lbl-armor-melee-def c' width='15%'> Melee Def </th>
                  <th class='lbl od lbl-armor-ranged-def c' width='15%'> Ranged Def </th>
                  </tr>
                    {% set i = 1 %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% set type = attribute(variables, 'armor_type_' ~ id)|default %}
                    {% if type != '' %}
                      {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr title="{{attribute(variables, 'armor_special_' ~ id)|default}}">
                    <td class='var {{eo}} var-armor-type'> {{type}} </td>
                    <td class='var {{eo}} var-armor-soak c'> {{attribute(variables, 'armor_soak_' ~ id)|default}} </td>
                    <td class='var {{eo}} var-armor-melee-def c'> {{attribute(variables, 'armor_melee_def_' ~ id)|default}} </td>
                    <td class='var {{eo}} var-armor-ranged-def c'> {{attribute(variables, 'armor_ranged_def_' ~ id)|default}} </td>
                  </tr>
                    {% endif %}
                  </table>
                </div>
              </div>
              <div class='card cybernetics' id='card-cybernetics'>
                <div class='card-header cybernetics'>Cybernetics</div>
                <div class='card-body of'>
                  <table class='table'>
                    <tr>
                      <th class='lbl od lbl-cyber-model'> Make/Model </th>
                      <th class='lbl od lbl-cyber-functional c' width='50'> Functional </th>
                    </tr>
                    {% for i in 1..8 %}
                      {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                      {% if attribute(variables, 'cyber_model_' ~ id)|default != "" %}
                        {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                      <tr>
                        <td class='var {{eo}} var-cyber-model'> {{attribute(variables, 'cyber_model_' ~ id)|default}} </td><td class='var {{eo}} var-cyber-functional c'>{% if attribute(variables, 'cyber_functional_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                      </tr>
                      <tr>
                        <td class='var {{eo}} var-cyber-bonus r' colspan=2> {{attribute(variables, 'cyber_bonus_' ~ id)|default}} </td></td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-lg-6'>
              <div class='card weapons' id='card-weapons'>
                <div class='card-header weapons'>Weapons <button title="Minimize section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseWeapons" aria-expanded="true" aria-controls="collapseWeapons"><em class="fas fa-angle-down"></em></button></div>
                <div class='card-body of'>
                  <table class='table'>
                  <tr>
                  <th class='lbl od lbl-weapon-type'> Weapon </th>
                  <th class='lbl od lbl-weapon-range' width='90px'> Range </th>
                  <th class='lbl od lbl-weapon-skill'> Skill </th>
                  <th class='lbl od lbl-weapon-damage c' width='40px'> Damage </th>
                  <th class='lbl od lbl-weapon-crit c' width='40px'> Crit </th>
                  </tr>
                  {% for i in 1..8 %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% set type = attribute(variables, 'weapon_type_' ~ id)|default %}
                    {% if type != '' %}
                      {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr title="{{attribute(variables, 'weapon_special_' ~ id)|default}}">
                    <td class='var {{eo}} var-weapon-type'> {{type}} </td>
                    <td class='var {{eo}} var-weapon-range'> {{attribute(variables, 'weapon_range_' ~ id)|default}} </td>
                    <td class='var {{eo}} var-weapon-skill'> {{attribute(variables, 'weapon_skill_' ~ id)|default}} </td>
                    <td class='var {{eo}} var-weapon-damage c'> {{attribute(variables, 'weapon_damage_' ~ id)|default}} </td>
                    <td class='var {{eo}} var-weapon-crit c'> {{attribute(variables, 'weapon_crit_' ~ id)|default}} </td>
                  </tr>
                    {% endif %}
                  {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class='row collapse hide' id="collapseWeapons">
            <div class='col-12'>
              {% for i in 1..8 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% set type = attribute(variables, 'weapon_type_' ~ id)|default %}
                {% if type != '' %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class='card weapon' id='card-weapon'>
                <div class='card-header weapon'>Weapon {{id|number_format}}</div>
                <div class='card-body'>
                  <table class='table'>
                    <tr>
                      <th class='lbl od lbl-weapon-type' width='20%'><label for='weapon_type'>Weapon Type</label></th>
                      <th class='lbl od lbl-weapon-model' width='20%'><label for='weapon_model'>Make/Model</label></th>
                      <th class='lbl od lbl-weapon-special'><label for='weapon_special'>Special</label></th>
                    </tr>
                    <tr>
                      <td class='var var-weapon-type' title='Weapon Type'>{{type}}</td>
                      <td class='var var-weapon-model' title='Make/Model'>{{attribute(variables, 'weapon_model_' ~ id)|default}}</td>
                      <td class='var var-weapon-special'>{{attribute(variables, 'weapon_special_' ~ id)|default}}</td>
                    </tr>
                  </table>
                  <table class='table'>
                    <tr>
                      <th class='lbl od lbl-weapon-skill'><label for='weapon_skill'>Skill</label></th>
                      <th class='lbl od lbl-weapon-range'><label for='weapon_range'>Range</label></th>
                    </tr>
                    <tr>
                      <td class='var var-weapon-skill' title='Weapon Skill'>{{attribute(variables, 'weapon_skill_' ~ id)|default}}</td>
                      <td class='var var-weapon-range' title='Weapon Range'>{{attribute(variables, 'weapon_range_' ~ id)|default}}</td>
                    </tr>
                  </table>
                  <div class='row'>
                    <div class='col-6 col-md-4 col-lg-2'>
                      <div class='card lbl-weapon' id='card-weapon'>
                        <div class='card-body of'>
                          <div class='lbl od lbl-weapon c'><label for='weapon_damage'>Damage</label></div>
                          <div class='var var-weapon-damage circle c'>{{attribute(variables, 'weapon_damage_' ~ id)|default}}</div>
                        </div>
                      </div>
                    </div>
                    <div class='col-6 col-md-4 col-lg-2'>
                      <div class='card lbl-weapon' id='card-weapon'>
                        <div class='card-body of'>
                            <div class='lbl od lbl-weapon c'><label for='weapon_crit'>Crit</label></div>
                            <div class='var var-weapon-crit circle c'>{{attribute(variables, 'weapon_crit_' ~ id)|default}}</div>
                        </div>
                      </div>
                    </div>
                    <div class='col-6 col-md-4 col-lg-2'>
                      <div class='card lbl-weapon' id='card-weapon'>
                        <div class='card-body of'>
                            <div class='lbl od lbl-weapon c'><label for='weapon_encum'>Encum</label></div>
                            <div class='var var-weapon-encum circle c'>{{attribute(variables, 'weapon_encum_' ~ id)|default}}</div>
                        </div>
                      </div>
                    </div>
                    <div class='col-6 col-md-4 col-lg-2'>
                      <div class='card lbl-weapon' id='card-weapon'>
                        <div class='card-body of'>
                            <div class='lbl od lbl-weapon c'><label for='weapon_hp'>HP</label></div>
                            <div class='var var-weapon-hp circle c'>{{attribute(variables, 'weapon_hp_' ~ id)|default}}</div>
                        </div>
                      </div>
                    </div>
                    <div class='col-6 col-md-4 col-lg-2'>
                      <div class='card lbl-weapon' id='card-weapon'>
                        <div class='card-body of'>
                          <table class='table'>
                            <tr>
                              <th class='lbl ev var-weapon-cond-label c' colspan=2>Condition</th>
                            </tr>
                            <tr>
                              <td class='var od var-weapon-cond-minor c' width='30px'><input value='0' id='weapon_cond_minor' name='weapon_cond_minor_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'weapon_cond_minor_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_cond_minor' name='weapon_cond_minor_{{id}}' type='checkbox' /></td>
                              <th class='lbl od lbl-weapon-cond-minor c' width='50px'><label for='weapon_cond_minor'>Minor</label></th>
                            </tr>
                            <tr>
                              <td class='var ev var-weapon-cond-moderate c'><input value='0' id='weapon_cond_moderate' name='weapon_cond_moderate_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'weapon_cond_moderate_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_cond_moderate' name='weapon_cond_moderate_{{id}}' type='checkbox' /></td>
                              <th class='lbl ev lbl-weapon-cond-moderate c' width='50px'><label for='weapon_cond_moderate'>Moderate</label></th>
                            </tr>
                            <tr>
                              <td class='var od var-weapon-cond-major c'><input value='0' id='weapon_cond_major' name='weapon_cond_major_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'weapon_cond_major_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_cond_major' name='weapon_cond_major_{{id}}' type='checkbox' /></td>
                              <th class='lbl od lbl-weapon-cond-major c' width='50px'><label for='weapon_cond_major'>Major</label></th>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <table class='table'>
                  <tr>
                    <th class="lbl" rowspan=5>Attachments</th>
                    <th class='lbl od lbl-weapon-att' width='20%'><label for='weapon_att_name'>Name</label></th>
                    <th class='lbl od lbl-weapon-att c' width='15%'><label for='weapon_att_hpr'>Hard point Req</label></th>
                    <th class='lbl od lbl-weapon-att c'><label for='weapon_att_modifiers'>Base Modifiers</label></th>
                    <th class='lbl od lbl-weapon-att c'><label for='weapon_att_modifications'>Modifications</label></th>
                  </tr>
                  {% for j in 1..4 %}
                    {% set name = attribute(variables, 'weapon_att_name_' ~ j ~ '_' ~ id)|default %}
                    {% if name != '' %}
                  <tr>
                    <td class='var od var-weapon-att'>{{name}}</td>
                    <td class='var od var-weapon-att c'>{{attribute(variables, 'weapon_att_hpreq_' ~ j ~ '_' ~ id)|default}}</td>
                    <td class='var od var-weapon-att c'>{{attribute(variables, 'weapon_att_basemod_' ~ j ~ '_' ~ id)|default}}</td>
                    <td class='var od var-weapon-att c'>{{attribute(variables, 'weapon_att_mods_' ~ j ~ '_' ~ id)|default}}</td>
                  </tr>
                    {% endif %}
                  {% endfor %}
                  </table>
                </div>
              </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class='card skills' id='card-skills-all'>
        <div class='card-header skills'>Skills <button title="Minimize section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="true" aria-controls="collapseSkills"><em class="fas fa-angle-down"></em></button></div>
      </div>
      <div class="row collapse show" id="collapseSkills">
        <div class='col-12 col-md-6 c'>
          <div class='card skills' id='card-skills'>
            <div class='card-body of'>
              <table class='table'>
              <tr>
              <th class='lbl od lbl-skill-name l' width='35%'><label for='skill_name'>Skill</label></th>
              <th class='lbl od lbl-skill-career l'><label for='skill_career'>Career</label></th>
              <th class='lbl od lbl-skill-attr l' width='130px'><label for='skill_attr'>Attribute</label></th>
              <th class='lbl od lbl-skill-attvalue c' width='60px'><label for='skill_attvalue'>Attr</label></th>
              <th class='lbl od lbl-skill-rank c' width='60px'><label for='skill_rank'>Rank</label></th>
              </tr>
              {{ sheet.genSkill("STAT", variables, "General Skills", "+") }}
              {{ sheet.genSkill("01", variables, "Astrogation", "Intellect") }}
              {{ sheet.genSkill("02", variables, "Athletics", "Brawn") }}
              {{ sheet.genSkill("03", variables, "Charm", "Presence") }}
              {{ sheet.genSkill("04", variables, "Coercion", "Willpower") }}
              {{ sheet.genSkill("05", variables, "Computers", "Intellect") }}
              {{ sheet.genSkill("06", variables, "Cool", "Presence") }}
              {{ sheet.genSkill("07", variables, "Coordination", "Agility") }}
              {{ sheet.genSkill("08", variables, "Deception", "Cunning") }}
              {{ sheet.genSkill("09", variables, "Discipline", "Willpower") }}
              {{ sheet.genSkill("10", variables, "Leadership", "Presence") }}
              {{ sheet.genSkill("11", variables, "Mechanics", "Intellect") }}
              {{ sheet.genSkill("12", variables, "Medicine", "Intellect") }}
              {{ sheet.genSkill("13", variables, "Negotiation", "Presence") }}
              {{ sheet.genSkill("14", variables, "Perception", "Cunning") }}
              {{ sheet.genSkill("15", variables, "Piloting - Planetary", "Agility") }}
              {{ sheet.genSkill("16", variables, "Piloting - Space", "Agility") }}
              {{ sheet.genSkill("17", variables, "Resilience", "Brawn") }}
              {{ sheet.genSkill("18", variables, "Skulduggery", "Cunning") }}
              {{ sheet.genSkill("19", variables, "Stealth", "Agility") }}
              {{ sheet.genSkill("20", variables, "Streetwise", "Cunning") }}
              {{ sheet.genSkill("21", variables, "Survival", "Cunning") }}
              {{ sheet.genSkill("22", variables, "Vigilance", "Willpower") }}
              </table>
            </div>
          </div>
        </div>
        <div class='col-12 col-md-6 c'>
          <div class='card skills' id='card-skills'>
            <div class='card-body of'>
              <table class='table'>
              <tr>
              <th class='lbl od lbl-skill-name l' width='35%'><label for='skill_name'>Skill</label></th>
              <th class='lbl od lbl-skill-career l'><label for='skill_career'>Career</label></th>
              <th class='lbl od lbl-skill-attr l' width='130px'><label for='skill_attr'>Attribute</label></th>
              <th class='lbl od lbl-skill-attvalue c' width='60px'><label for='skill_attvalue'>Attr</label></th>
              <th class='lbl od lbl-skill-rank c' width='60px'><label for='skill_rank'>Rank</label></th>
              </tr>
              {{ sheet.genSkill("STAT", variables, "Combat Skills", "+") }}
              {{ sheet.genSkill("30", variables, "Brawl", "Brawn") }}
              {{ sheet.genSkill("31", variables, "Gunnery", "Agility") }}
              {{ sheet.genSkill("32", variables, "Melee", "Brawn") }}
              {{ sheet.genSkill("33", variables, "Ranged - Light", "Agility") }}
              {{ sheet.genSkill("34", variables, "Ranged - Heavy", "Agility") }}
              {{ sheet.genSkill("STAT", variables, "Knowledge Skills", "+") }}
              {{ sheet.genSkill("40", variables, "Core Worlds", "Intellect") }}
              {{ sheet.genSkill("41", variables, "Education", "Intellect") }}
              {{ sheet.genSkill("42", variables, "Lore", "Intellect") }}
              {{ sheet.genSkill("43", variables, "Outer Rim", "Intellect") }}
              {{ sheet.genSkill("44", variables, "Underworld", "Intellect") }}
              {{ sheet.genSkill("45", variables, "Xenology", "Intellect") }}
              {{ sheet.genSkill("46", variables, "Other:", "Intellect") }}
              {{ sheet.genSkill("47", variables, "Other:", "Intellect") }}
              {{ sheet.genSkill("48", variables, "Other:", "Intellect") }}
              {{ sheet.genSkill("49", variables, "Other:", "Intellect") }}
              {{ sheet.genSkill("50", variables, "Other:", "Intellect") }}
              {{ sheet.genSkill("STAT", variables, "Custom Skills") }}
              {{ sheet.genSkill("60", variables, "Custom:", "*") }}
              {{ sheet.genSkill("61", variables, "Custom:", "*") }}
              {{ sheet.genSkill("62", variables, "Custom:", "*") }}
              {{ sheet.genSkill("63", variables, "Custom:", "*") }}
              {{ sheet.genSkill("64", variables, "Custom:", "*") }}
              {{ sheet.genSkill("65", variables, "Custom:", "*") }}
              {{ sheet.genSkill("66", variables, "Custom:", "*") }}
              {{ sheet.genSkill("67", variables, "Custom:", "*") }}
              {{ sheet.genSkill("68", variables, "Custom:", "*") }}
              {{ sheet.genSkill("69", variables, "Custom:", "*") }}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card talents' id='card-talents'>
        <div class='card-header talents'>Talents And Special Abilities <button title="Minimize section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTalents" aria-expanded="true" aria-controls="collapseTalents"><em class="fas fa-angle-down"></em></button></div>
        <div class='card-body collapse show' id="collapseTalents">
          <table class='table'>
            <tr>
              <th class='lbl od lbl-id' width='50px'>ID</th>
              <th class='lbl od lbl-talent-name' width='25%'> Name </th>
              <th class='lbl od lbl-talent-page c' width='50'> Page # </th>
              <th class='lbl od lbl-talent-summary'> Summary </th>
            </tr>
            {% for i in 1..20 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'talent_name_' ~ id)|default %}
              {% if name != '' %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='var {{eo}} var-id'> {{id}} </td>
              <td class='var {{eo}} var-talent-name'> {{name}} </td>
              <td class='var {{eo}} var-talent-page c'> {{attribute(variables, 'talent_page_' ~ id)|default}} </td>
              <td class='var {{eo}} var-talent-summary'> {{attribute(variables, 'talent_summary_' ~ id)|default}} </td>
            </tr>
              {% endif%}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card equipment' id='card-equipment'>
        <div class='card-header equipment'>Equipment Log <button title="Minimize section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEquipment" aria-expanded="true" aria-controls="collapseEquipment"><em class="fas fa-angle-down"></em></button></div>
        <div class='card-body collapse show' id="collapseEquipment">
          <div class='row'>{% set debt = 0 %}
            <div class='col-12 col-md-6'>
              <div class='card income' id='card-income'>
                <div class='card-header income'>Income</div>
                <div class='card-body of'>
                  <table class='table'>
                  <tr>
                  <th class='lbl od lbl-income-amount ' width='25%'> Amount </th>
                  <th class='lbl od lbl-income-cycle'> Cycle </th>
                  <th class='lbl od lbl-income-source'> Source </th>
                  </tr>
                  {% for i in 1..5 %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% if attribute(variables, 'income_amount_' ~ id)|default != 0 %}
                      {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                    <tr>
                    <td class='var {{eo}} var-income-amount'> {{attribute(variables, 'income_amount_' ~ id)|default}} </td><td class='var {{eo}} var-income-cycle'> {{attribute(variables, 'income_cycle_' ~ id)|default}} </td><td class='var {{eo}} var-income-source'> {{attribute(variables, 'income_source_' ~ id)|default}} </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='card debt' id='card-debt'>
                <div class='card-header debt'>Debt</div>
                <div class='card-body of'>
                  <table class='table'>
                  <tr>
                  <th class='lbl od lbl-debt-amount ' width='25%'> Amount </th>
                  <th class='lbl od lbl-debt-to-whom'> To Whom </th>
                  <th class='lbl od lbl-debt-reason'> Reason </th>
                  </tr>
                  {% for i in 1..5 %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% if attribute(variables, 'debt_amount_' ~ id)|default != 0 %}
                      {% set debt = debt + attribute(variables, 'debt_amount_' ~ id)|default %}
                      {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                    <tr>
                    <td class='var {{eo}} var-debt-amount'> {{attribute(variables, 'debt_amount_' ~ id)|default}} </td><td class='var {{eo}} var-debt-to-whom'> {{attribute(variables, 'debt_to_whom_' ~ id)|default}} </td><td class='var {{eo}} var-debt-reason'> {{attribute(variables, 'debt_reason_' ~ id)|default}} </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-credits c'> Available Credits </div><div class='var od var-credits c'> {{variables.credits|default}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-credits-owed c'> Credits Owed </div><div class='var od var-credits-owed c'> {{debt}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-equip'> Equipment (ready to use) </div><div class='var od var-equip'> {{variables.equip|default|nl2br}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-personal-gear'> Equipment (stowed away) </div><div class='var od var-personal-gear'> {{variables.personal_gear|default|nl2br}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-assets'> Assets </div><div class='var od var-assets'> {{variables.assets|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class='card inuries' id='card-inuries'>
        <div class='card-header inuries'>Critical Injuries</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='lbl od lbl-injury-severity'> Severity </th>
          <th class='lbl od lbl-injury-result'> Result </th>
          </tr>
          {% for i in 1..6 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set sev = attribute(variables, 'injury_severity_' ~ id)|default %}
            {% if sev != "" %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='var {{eo}} var-injury-severity'> {{sev}} </td><td class='var {{eo}} var-injury-result'> {{attribute(variables, 'injury_result_' ~ id)|default}} </td>
          </tr>
            {% endif %}
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class='card motivations' id='card-motivations'>
        <div class='card-header motivations'>Motivations</div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-motiv-type-1 c'> Type </div>
              <div class='var od var-motiv-type-1 c'> {{variables.motiv_type_1|default}} </div>
              <div class='var ev var-motiv-desc-1'> {{variables.motiv_desc_1|default|nl2br}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-motiv-type-2 c'> Type </div>
              <div class='var od var-motiv-type-2 c'> {{variables.motiv_type_2|default}} </div>
              <div class='var ev var-motiv-desc-2'> {{variables.motiv_desc_2|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class='card obligations' id='card-obligations'>
        <div class='card-header obligations'>Obligations</div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-oblig-type-1 c'> Type </div><div class='var od var-oblig-type-1 c'> {{variables.oblig_type_1|default}} </div>
              <div class='lbl ev lbl-oblig-magni-1 c'> Magnitude </div><div class='var ev var-oblig-magni-1 c'> {{variables.oblig_magni_1|default}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-oblig-type-2 c'> Type </div><div class='var od var-oblig-type-2 c'> {{variables.oblig_type_2|default}} </div>
              <div class='lbl ev lbl-oblig-magni-2 c'> Magnitude </div><div class='var ev var-oblig-magni-2 c'> {{variables.oblig_magni_2|default}} </div>
            </div>
            <div class='col-12'>
              <div class='lbl od lbl-group-contrib c'> Groups Contribution Rank </div>
              <div class='var od var-group-contrib c'> {{variables.group_contrib|default}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Character Notes</div>
        <div class='card-body of'>
          <div class='var od var-notes'> {{variables.notes|default|nl2br}} </div>
        </div>
      </div>
    </div>
    <div class='col-12 c small do-not-print'>&copy; 2013 Fantasy Flight Games<br>
      EotE v1.0 Sheet made by Tillerz - Updated: 2024-05-18</a><br>
    </div>
  </div>
</div>