{% import _self as sheet %}
{# ------------------------- #}
{% macro genSkill(id, v, dname, datt) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}{% if name|last != ":" %}
    {% if id == 'STAT' %}<tr><th class="lbl" colspan="4" title="Group: {{dname}}">{{dname}}</th></tr>{% else %}
    {% set name = attribute( v, 'skill_name_' ~ id ) %}
    {% set att = attribute( v, 'skill_attr_' ~ id ) %}
    {% set career = attribute( v, 'skill_career_' ~ id ) %}
    {% set rank = attribute( v, 'skill_rank_' ~ id ) %}
        <tr>
            {% if name == "" %}{% set name = dname %}{% set att = datt %}{% endif %}
            <td class="var {{eo}} var-skill-name l" title="Skill: {{name}}">{{name}} ({{att}})</td>
            <td class="var {{eo}} var-skill-career l">{{career}}-</td>
            <td class="var {{eo}} var-skill-rank c">{{rank}}-</td>
        </tr>
    {% endif %}
{% endif %}{% endmacro genSkill %}
<div class='container-fluid sheet-eote'>
  <div class='row'>
    <div class='col-12 col-md-6 c'>
      <span class='text'>todo: skills, css, collapsible sections</span>
      <br>
      <div class="card my-2 logo noborder hidden-md hidden-xs hidden-sm d-none d-lg-block" title="Star Wars: Edge of the Empire">
      </div>
      <div class='card personal' id='card-personal'>
        <div class='card-header personal'>Personal Data</div>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='lbl od lbl-name' width='30%'> Character </th><td class='var od var-name'> {{variables.name|default}} </td></tr>
            <tr><th class='lbl ev lbl-species'> Species </th><td class='var ev var-species'> {{variables.species|default}} </td></tr>
            <tr><th class='lbl od lbl-career'> Career </th><td class='var od var-career'> {{variables.career|default}} </td></tr>
            <tr><th class='lbl ev lbl-spec-trees'> Specialization Trees </th><td class='var ev var-spec-trees'> {{variables.spec_trees|default}} </td></tr>
            <tr><th class='lbl od lbl-xp-unspent'> Available XP </th><td class='var od var-xp-unspent'> {{variables.xp_unspent|default}} </td></tr>
            <tr><th class='lbl ev lbl-xp-total'> Total XP </th><td class='var ev var-xp-total'> {{variables.xp_total|default}} </td></tr>
            <tr><th class='lbl od lbl-gender'> Gender </th><td class='var od var-gender'> {{variables.gender|default}} </td></tr>
            <tr><th class='lbl ev lbl-age'> Age </th><td class='var ev var-age'> {{variables.age|default}} </td></tr>
            <tr><th class='lbl od lbl-height'> Height </th><td class='var od var-height'> {{variables.height|default}} </td></tr>
            <tr><th class='lbl ev lbl-build'> Build </th><td class='var ev var-build'> {{variables.build|default}} </td></tr>
            <tr><th class='lbl od lbl-hair'> Hair </th><td class='var od var-hair'> {{variables.hair|default}} </td></tr>
            <tr><th class='lbl ev lbl-eyes'> Eyes </th><td class='var ev var-eyes'> {{variables.eyes|default}} </td></tr>
            <tr><th class='lbl od lbl-notable-features'> Notable Features </th><td class='var od var-notable-features'> {{variables.notable_features|default|nl2br}} </td></tr>
            <tr><th class='lbl ev lbl-player'> Player </th><td class='var ev var-player'> {{variables.player|default}} </td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-lg-6 hidden-xs hidden-sm hidden-mg d-none d-lg-block'>
      <br>
      <br>
      <div class='var od var-portrait c'>[img:{{variables.portrait|default}}]</div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
      <div class='card misc soak' id='card-misc soak'>
        <div class='card-header misc soak'>Soak Value</div>
        <div class='card-body of'>
          <table class='table' width='100%'>
            <tr>
              <td class='var ev var-soak-c'> {{variables.soak_t|default}} </td>
            </tr>
            <tr>
              <th class='lbl ev lbl-soak-c c'> Current </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
      <div class='card misc wounds' id='card-misc wounds'>
        <div class='card-header misc wounds'>Wounds{% if variables.wounds_crit|default > 0 %} <span class='small'>(Criticals: {{variables.wounds_crit|default}})</span>{% endif %}</div>
        <div class='card-body of'>
          <table class='table'>
            <tr>
              <td class='var od var-wounds-t' width='50%'> {{variables.wounds_t|default}} </td>
              <td class='var ev var-wounds-c'> {{variables.wounds_c|default}} </td>
            </tr>
            <tr>
              <th class='lbl od lbl-wounds-t c'> Threshold </th>
              <th class='lbl ev lbl-wounds-c c'> Current </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
      <div class='card misc strain' id='card-misc strain'>
        <div class='card-header misc strain'>Strain</div>
        <div class='card-body of'>
          <table class='table'>
            <tr>
              <td class='var od var-strain-t' width='50%'> {{variables.strain_t|default}} </td>
              <td class='var ev var-strain-c'> {{variables.strain_c|default}} </td>
            </tr>
            <tr>
              <th class='lbl od lbl-strain-t c'> Threshold </th>
              <th class='lbl ev lbl-strain-c c'> Current </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
      <div class='card misc defense' id='card-misc defense'>
        <div class='card-header misc defense'>Defense</div>
        <div class='card-body of'>
          <table class='table'>
            <tr>
              <td class='var od var-defense-r' width='50%'> {{variables.defense_r|default}} </td>
              <td class='var ev var-defense-m'> {{variables.defense_m|default}} </td>
            </tr>
            <tr>
              <th class='lbl od lbl-defense-r c'> Ranged </th>
              <th class='lbl ev lbl-defense-m c'> Melee </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 c'>
      <div class='card characteristics' id='card-characteristics'>
        <div class='card-header characteristics'>Characteristics</div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-4 col-lg-2'>
      <div class='card attributes brawn' id='card-attributes brawn'>
        <div class='card-body of'>
          <div class='lbl od lbl-brawn'> Brawn </div><div class='var od var-brawn'> {{variables.brawn|default}} </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-4 col-lg-2'>
      <div class='card attributes agility' id='card-attributes agility'>
        <div class='card-body of'>
          <div class='lbl od lbl-agility'> Agility </div><div class='var od var-agility'> {{variables.agility|default}} </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-4 col-lg-2'>
      <div class='card attributes vitality' id='card-attributes vitality'>
        <div class='card-body of'>
          <div class='lbl od lbl-intellect'> Intellect </div><div class='var od var-intellect'> {{variables.intellect|default}} </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-4 col-lg-2'>
      <div class='card attributes cunning' id='card-attributes cunning'>
        <div class='card-body of'>
          <div class='lbl od lbl-cunning'> Cunning </div><div class='var od var-cunning'> {{variables.cunning|default}} </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-4 col-lg-2'>
      <div class='card attributes agility' id='card-attributes agility'>
        <div class='card-body of'>
          <div class='lbl od lbl-willpower'> Willpower </div><div class='var od var-willpower'> {{variables.willpower|default}} </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-4 col-lg-2'>
      <div class='card attributes vitality' id='card-attributes vitality'>
        <div class='card-body of'>
          <div class='lbl od lbl-presence'> Presence </div><div class='var od var-presence'> {{variables.presence|default}} </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-6 c'>
      <div class='card skills' id='card-skills'>
        <div class='card-header skills'>Skills</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='lbl od lbl-skill-name l' width='35%'><label for='skill_name'>Skill</label></th>
          <th class='lbl od lbl-skill-career l'><label for='skill_career'>Career</label></th>
          <th class='lbl od lbl-skill-rank c' width='100px'><label for='skill_rank'>Rank</label></th>
          </tr>
          {{ sheet.genSkill("STAT", variables, "General Skills", "+") }}
          {{ sheet.genSkill("01", variables, "Astrogation", "Int") }}
          {{ sheet.genSkill("02", variables, "Athletics", "Br") }}
          {{ sheet.genSkill("03", variables, "Charm", "Pr") }}
          {{ sheet.genSkill("04", variables, "Coercion", "Will") }}
          {{ sheet.genSkill("05", variables, "Computers", "Int") }}
          {{ sheet.genSkill("06", variables, "Cool", "Pr") }}
          {{ sheet.genSkill("07", variables, "Coordination", "Ag") }}
          {{ sheet.genSkill("08", variables, "Deception", "Cun") }}
          {{ sheet.genSkill("09", variables, "Discipline", "Will") }}
          {{ sheet.genSkill("10", variables, "Leadership", "Pr") }}
          {{ sheet.genSkill("11", variables, "Mechanics", "Int") }}
          {{ sheet.genSkill("12", variables, "Medicine", "Int") }}
          {{ sheet.genSkill("13", variables, "Negotiation", "Pr") }}
          {{ sheet.genSkill("14", variables, "Perception", "Cun") }}
          {{ sheet.genSkill("15", variables, "Piloting - Planetary", "Ag") }}
          {{ sheet.genSkill("16", variables, "Piloting - Space", "Ag") }}
          {{ sheet.genSkill("17", variables, "Resilience", "Br") }}
          {{ sheet.genSkill("18", variables, "Skulduggery", "Cun") }}
          {{ sheet.genSkill("19", variables, "Stealth", "Ag") }}
          {{ sheet.genSkill("20", variables, "Streetwise", "Cun") }}
          {{ sheet.genSkill("21", variables, "Survival", "Cun") }}
          {{ sheet.genSkill("22", variables, "Vigilance", "Will") }}
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6 c'>
      <div class='card skills' id='card-skills'>
        <div class='card-header skills'>Skills</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='lbl od lbl-skill-name l' width='35%'><label for='skill_name'>Skill</label></th>
          <th class='lbl od lbl-skill-career l'><label for='skill_career'>Career</label></th>
          <th class='lbl od lbl-skill-rank c' width='100px'><label for='skill_rank'>Rank</label></th>
          </tr>
          {{ sheet.genSkill("STAT", variables, "Combat Skills", "+") }}
          {{ sheet.genSkill("30", variables, "Brawl", "Br") }}
          {{ sheet.genSkill("31", variables, "Gunnery", "Ag") }}
          {{ sheet.genSkill("32", variables, "Melee", "Br") }}
          {{ sheet.genSkill("33", variables, "Ranged - Light", "Ag") }}
          {{ sheet.genSkill("34", variables, "Ranged - Heavy", "Ag") }}
          {{ sheet.genSkill("STAT", variables, "Knowledge Skills", "+") }}
          {{ sheet.genSkill("40", variables, "Core Worlds", "Int") }}
          {{ sheet.genSkill("41", variables, "Education", "Int") }}
          {{ sheet.genSkill("42", variables, "Lore", "Int") }}
          {{ sheet.genSkill("43", variables, "Outer Rim", "Int") }}
          {{ sheet.genSkill("44", variables, "Underworld", "Int") }}
          {{ sheet.genSkill("45", variables, "Xenology", "Int") }}
          {{ sheet.genSkill("46", variables, "Other:", "Int") }}
          {{ sheet.genSkill("47", variables, "Other:", "Int") }}
          {{ sheet.genSkill("48", variables, "Other:", "Int") }}
          {{ sheet.genSkill("49", variables, "Other:", "Int") }}
          {{ sheet.genSkill("50", variables, "Other:", "Int") }}
          {{ sheet.genSkill("STAT", variables, "Custom Skills") }}
          {{ sheet.genSkill("60", variables, "Custom:", "*") }}
          {{ sheet.genSkill("61", variables, "Custom:", "*") }}
          {{ sheet.genSkill("62", variables, "Custom:", "*") }}
          {{ sheet.genSkill("63", variables, "Custom:", "*") }}
          {{ sheet.genSkill("64", variables, "Custom:", "*") }}
          {{ sheet.genSkill("65", variables, "Custom:", "*") }}
          {{ sheet.genSkill("66", variables, "Custom:", "*") }}
          {{ sheet.genSkill("67", variables, "Custom:", "*") }}
          {{ sheet.genSkill("68", variables, "Custom:", "*") }}
          {{ sheet.genSkill("69", variables, "Custom:", "*") }}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card weapons' id='card-weapons'>
        <div class='card-header weapons'>Weapons</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='lbl od lbl-weapon-name' width='140px'> Weapon </th>
          <th class='lbl od lbl-weapon-skill' width='150px'> Skill </th>
          <th class='lbl od lbl-weapon-damage c' width='40px'> Damage </th>
          <th class='lbl od lbl-weapon-range' width='90px'> Range </th>
          <th class='lbl od lbl-weapon-crit c' width='40px'> Crit </th>
          <th class='lbl od lbl-weapon-special'> Special </th>
          </tr>
          {% for i in 1..8 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
            <td class='var {{eo}} var-weapon-name' title='Weapon Name'> {{attribute(variables, 'weapon_name_' ~ id)|default}} </td>
            <td class='var {{eo}} var-weapon-skill' title='Weapon Skill'> {{attribute(variables, 'weapon_skill_' ~ id)|default}} </td>
            <td class='var {{eo}} var-weapon-damage c'> {{attribute(variables, 'weapon_damage_' ~ id)|default}} </td>
            <td class='var {{eo}} var-weapon-range'> {{attribute(variables, 'weapon_range_' ~ id)|default}} </td>
            <td class='var {{eo}} var-weapon-crit c'> {{attribute(variables, 'weapon_crit_' ~ id)|default}} </td>
            <td class='var {{eo}} var-weapon-special'> {{attribute(variables, 'weapon_special_' ~ id)|default}} </td>
          </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-6'>
      <div class='card motivations' id='card-motivations'>
        <div class='card-header motivations'>Motivations</div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-motiv-type-1 c'> Type </div>
              <div class='var od var-motiv-type-1 c'> {{variables.motiv_type_1|default}} </div>
              <div class='var ev var-motiv-desc-1'> {{variables.motiv_desc_1|default|nl2br}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-motiv-type-2 c'> Type </div>
              <div class='var od var-motiv-type-2 c'> {{variables.motiv_type_2|default}} </div>
              <div class='var ev var-motiv-desc-2'> {{variables.motiv_desc_2|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class='card obligations' id='card-obligations'>
        <div class='card-header obligations'>Obligations</div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-oblig-type-1 c'> Type </div><div class='var od var-oblig-type-1 c'> {{variables.oblig_type_1|default}} </div>
              <div class='lbl ev lbl-oblig-magni-1 c'> Magnitude </div><div class='var ev var-oblig-magni-1 c'> {{variables.oblig_magni_1|default}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-oblig-type-2 c'> Type </div><div class='var od var-oblig-type-2 c'> {{variables.oblig_type_2|default}} </div>
              <div class='lbl ev lbl-oblig-magni-2 c'> Magnitude </div><div class='var ev var-oblig-magni-2 c'> {{variables.oblig_magni_2|default}} </div>
            </div>
            <div class='col-12'>
              <div class='lbl od lbl-group-contrib c'> Groups Contribution Rank </div>
              <div class='var od var-group-contrib c'> {{variables.group_contrib|default}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card equipment' id='card-equipment'>
        <div class='card-header equipment'>Equipment Log</div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12'>
              <div class='lbl od lbl-credits c'> Credits </div><div class='var od var-credits c'> {{variables.credits|default}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-equip-armor'> Equipment &amp; Armor </div><div class='var od var-equip-armor'> {{variables.equip_armor|default|nl2br}} </div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-personal-gear'> Personal Gear </div><div class='var od var-personal-gear'> {{variables.personal_gear|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card inuries' id='card-inuries'>
        <div class='card-header inuries'>Critical Injuries</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='lbl od lbl-injury-severity'> Severity </th>
          <th class='lbl od lbl-injury-result'> Result </th>
          </tr>
          {% for i in 1..6 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set sev = attribute(variables, 'injury_severity_' ~ id)|default %}
            {% if sev != "" %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='var {{eo}} var-injury-severity'> {{sev}} </td><td class='var {{eo}} var-injury-result'> {{attribute(variables, 'injury_result_' ~ id)|default}} </td>
          </tr>
            {% endif %}
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card talents' id='card-talents'>
        <div class='card-header talents'>Talents And Special Abilities</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='lbl od lbl-talent-name' width='25%'> Name </th>
          <th class='lbl od lbl-talent-page c' width='50'> Page # </th>
          <th class='lbl od lbl-talent-summary'> Summary </th>
          </tr>
          {% for i in 1..14 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set name = attribute(variables, 'talent_name_' ~ id)|default %}
            {% if name != '' %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='var {{eo}} var-talent-name'> {{name}} </td>
          <td class='var {{eo}} var-talent-page c'> {{attribute(variables, 'talent_page_' ~ id)|default}} </td>
          <td class='var {{eo}} var-talent-summary'> {{attribute(variables, 'talent_summary_' ~ id)|default}} </td>
          </tr>
            {% endif%}
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Character Notes</div>
        <div class='card-body of'>
          <div class='var od var-notes'> {{variables.notes|default|nl2br}} </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row do-not-print'>
    <div class='col-12 c small'>&copy; 2013 Fantasy Flight Games<br>
      EotE v1.0 Sheet made by Tillerz - Updated: 2024-01-06</a><br>
    </div>
  </div>
</div>