{% import _self as sheet %}
{# ------------------------- #}
{% macro genSkill(id, v, dname, datt) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
    {% if id == 'STAT' %}<tr><th class="lbl" colspan="5" title="Group: {{dname}}">{{dname}}</th></tr>{% else %}
    {% set name = attribute( v, 'skill_name_' ~ id )|default %}
    {% if name == "" %}{% set name = dname %}{% set att = datt %}{% endif %}
    {% set att = attribute( v, 'skill_attr_' ~ id )|default %}{% if att == '' %}{% set att = datt %}{% endif %}
    {% set attvalue = attribute( v, att|lower )|default %}
    {% set career = attribute( v, 'skill_career_' ~ id )|default %}
    {% set rank = attribute( v, 'skill_rank_' ~ id )|default %}
        <tr>
            <td class="ivar {{eo}} ivar-skill-name l" title="Skill: {{name}}"><input value='{{name}}' class='form-control ivar ivar-skill-name' id='skill_name' name='skill_name_{{id}}' type='text' /></td>
            <td class="ivar {{eo}} ivar-skill-career l"><input value='{{career}}' class='form-control ivar ivar-skill-career' id='skill_career' name='skill_career_{{id}}' type='text' /></td>
            <td class="ivar {{eo}} ivar-skill-attr c">
              <select  class='form-control ivar ivar-skill-attr' id='skill_attr' name='skill_attr_{{id}}'>
                <option value='Agility' {% if att == 'Agility' %}selected='selected' {% endif %} > Agility </option>
                <option value='Brawn' {% if att == 'Brawn' %}selected='selected' {% endif %} > Brawn </option>
                <option value='Cunning' {% if att == 'Cunning' %}selected='selected' {% endif %} > Cunning </option>
                <option value='Intellect' {% if att == 'Intellect' %}selected='selected' {% endif %} > Intellect </option>
                <option value='Presence' {% if att == 'Presence' %}selected='selected' {% endif %} > Presence </option>
                <option value='Willpower' {% if att == 'Willpower' %}selected='selected' {% endif %} > Willpower </option>
              </select>
            </td>
            <td class="ivar {{eo}} ivar-skill-attvalue c">{{attvalue}}</td>
            <td class="ivar {{eo}} ivar-skill-rank c"><input value='{{rank}}' class='form-control ivar ivar-skill-rank c' id='skill_rank' name='skill_rank_{{id}}' type='number' min='0' max='5' /></td>
        </tr>
{% endif %}{% endmacro genSkill %}
{# ------------------------- #}
<div class='container-fluid sheet-eote'>
  <div class='row'>
    <div class='col-12 c'>
      <div class='card personal' id='card-personal'>
        <div class='card-header personal'>Personal Data</div>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl od ilbl-name' width='30%'><label for='name'>Character</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='Name of the Hero' type='text' required=required /></td></tr>
            <tr><th class='ilbl ev ilbl-species'><label for='species'>Species</label></th><td class='ivar ev ivar-species'><input value='{{variables.species|default}}' class='form-control ivar ivar-species' id='species' name='species' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-career'><label for='career'>Career</label></th><td class='ivar od ivar-career'><input value='{{variables.career|default}}' class='form-control ivar ivar-career' id='career' name='career' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-spec-trees'><label for='spec_trees'>Specialization Trees</label></th><td class='ivar ev ivar-spec-trees'><input value='{{variables.spec_trees|default}}' class='form-control ivar ivar-spec-trees' id='spec_trees' name='spec_trees' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-xp-unspent'><label for='xp_unspent'>Available XP</label></th><td class='ivar od ivar-xp-unspent'><input value='{{variables.xp_unspent|default}}' class='form-control ivar ivar-xp-unspent' id='xp_unspent' name='xp_unspent' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-xp-total'><label for='xp_total'>Total XP</label></th><td class='ivar ev ivar-xp-total'><input value='{{variables.xp_total|default}}' class='form-control ivar ivar-xp-total' id='xp_total' name='xp_total' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-gender'><label for='gender'>Gender</label></th><td class='ivar od ivar-gender'><input value='{{variables.gender|default}}' class='form-control ivar ivar-gender' id='gender' name='gender' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-age'><label for='age'>Age</label></th><td class='ivar ev ivar-age'><input value='{{variables.age|default}}' class='form-control ivar ivar-age' id='age' name='age' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-height'><label for='height'>Height</label></th><td class='ivar od ivar-height'><input value='{{variables.height|default}}' class='form-control ivar ivar-height' id='height' name='height' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-build'><label for='build'>Build</label></th><td class='ivar ev ivar-build'><input value='{{variables.build|default}}' class='form-control ivar ivar-build' id='build' name='build' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-hair'><label for='hair'>Hair</label></th><td class='ivar od ivar-hair'><input value='{{variables.hair|default}}' class='form-control ivar ivar-hair' id='hair' name='hair' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-eyes'><label for='eyes'>Eyes</label></th><td class='ivar ev ivar-eyes'><input value='{{variables.eyes|default}}' class='form-control ivar ivar-eyes' id='eyes' name='eyes' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-notable-features'><label for='notable_features'>Notable Features</label></th><td class='ivar od ivar-notable-features'><div class='iContent'><textarea class='form-control ivar ivar-notable-features ' id='notable_features' name='notable_features' rows='3'  >{{variables.notable_features|default}}</textarea></div></td></tr>
            <tr><th class='ilbl ev ilbl-player'><label for='player'>Player</label></th><td class='ivar ev ivar-player'><input value='{{variables.player|default}}' class='form-control ivar ivar-player' id='player' name='player' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-portrait'><label for='portrait'>Portrait</label></th><td class='ivar od ivar-portrait c'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait c' id='portrait' name='portrait' type='number' placeholder='WA Image ID' /></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 c'>
      <div class='card characteristics' id='card-characteristics'>
        <div class='card-header characteristics'>Characteristics</div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-6 col-md-4 col-lg-2'>
      <div class='card attributes brawn' id='card-attributes brawn'>
        <div class='card-body of'>
          <div class='ilbl od ilbl-brawn'><label for='brawn'>Brawn</label></div><div class='ivar od ivar-brawn circle'><input value='{{variables.brawn|default}}' class='form-control ivar ivar-brawn c' id='brawn' name='brawn' type='text' /></div>
        </div>
      </div>
    </div>
    <div class='col-6 col-md-4 col-lg-2'>
      <div class='card attributes agility' id='card-attributes agility'>
        <div class='card-body of'>
          <div class='ilbl od ilbl-agility'><label for='agility'>Agility</label></div><div class='ivar od ivar-agility circle'><input value='{{variables.agility|default}}' class='form-control ivar ivar-agility c' id='agility' name='agility' type='text' /></div>
        </div>
      </div>
    </div>
    <div class='col-6 col-md-4 col-lg-2'>
      <div class='card attributes vitality' id='card-attributes vitality'>
        <div class='card-body of'>
          <div class='ilbl od ilbl-intellect'><label for='intellect'>Intellect</label></div><div class='ivar od ivar-intellect circle'><input value='{{variables.intellect|default}}' class='form-control ivar ivar-intellect c' id='intellect' name='intellect' type='text' /></div>
        </div>
      </div>
    </div>
    <div class='col-6 col-md-4 col-lg-2'>
      <div class='card attributes cunning' id='card-attributes cunning'>
        <div class='card-body of'>
          <div class='ilbl od ilbl-cunning'><label for='cunning'>Cunning</label></div><div class='ivar od ivar-cunning circle'><input value='{{variables.cunning|default}}' class='form-control ivar ivar-cunning c' id='cunning' name='cunning' type='text' /></div>
        </div>
      </div>
    </div>
    <div class='col-6 col-md-4 col-lg-2'>
      <div class='card attributes agility' id='card-attributes agility'>
        <div class='card-body of'>
          <div class='ilbl od ilbl-willpower'><label for='willpower'>Willpower</label></div><div class='ivar od ivar-willpower circle'><input value='{{variables.willpower|default}}' class='form-control ivar ivar-willpower c' id='willpower' name='willpower' type='text' /></div>
        </div>
      </div>
    </div>
    <div class='col-6 col-md-4 col-lg-2'>
      <div class='card attributes vitality' id='card-attributes vitality'>
        <div class='card-body of'>
          <div class='ilbl od ilbl-presence'><label for='presence'>Presence</label></div><div class='ivar od ivar-presence circle'><input value='{{variables.presence|default}}' class='form-control ivar ivar-presence c' id='presence' name='presence' type='text' /></div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-sm-6 col-md-3 col-lg-2'>
      <div class='card misc soak' id='card-misc soak'>
        <div class='card-header misc soak'>Soak Value</div>
        <div class='card-body of'>
          <div class='ivar od ivar-soak-t'><input value='{{variables.soak_t|default}}' class='form-control ivar ivar-soak-t c' id='soak_t' name='soak_t' type='text' /></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-4'>
      <div class='card misc wounds' id='card-misc wounds'>
        <div class='card-header misc wounds'>Wounds</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-wounds-t c'><label for='wounds_t'>Threshold</label></th>
          <th class='ilbl ev ilbl-wounds-c c'><label for='wounds_c'>Current</label></th>
          <th class='ilbl od ilbl-wounds-crit c'><label for='wounds_crit'>Criticals</label></th>
          </tr>
          <tr>
            <td class='ivar {{eo}} ivar-wounds-t'><input value='{{variables.wounds_t|default}}' class='form-control ivar ivar-wounds-t c' id='wounds_t' name='wounds_t' type='text' /></td>
            <td class='ivar {{eo}} ivar-wounds-c'><input value='{{variables.wounds_c|default}}' class='form-control ivar ivar-wounds-c c' id='wounds_c' name='wounds_c' type='text' /></td>
            <td class='ivar {{eo}} ivar-wounds-crit'><input value='{{variables.wounds_crit|default}}' class='form-control ivar ivar-wounds-crit c' id='wounds_crit' name='wounds_crit' type='text' /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
      <div class='card misc strain' id='card-misc strain'>
        <div class='card-header misc strain'>Strain</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-strain-t c'><label for='strain_t'>Threshold</label></th>
          <th class='ilbl ev ilbl-strain-c c'><label for='strain_c'>Current</label></th>
          </tr>
          <tr>
            <td class='ivar {{eo}} ivar-strain-t'><input value='{{variables.strain_t|default}}' class='form-control ivar ivar-strain-t c' id='strain_t' name='strain_t' type='text' /></td>
            <td class='ivar {{eo}} ivar-strain-c'><input value='{{variables.strain_c|default}}' class='form-control ivar ivar-strain-c c' id='strain_c' name='strain_c' type='text' /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
      <div class='card misc defense' id='card-misc defense'>
        <div class='card-header misc defense'>Defense</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-defense-r c'><label for='defense_r'>Ranged</label></th>
          <th class='ilbl ev ilbl-defense-m c'><label for='defense_m'>Melee</label></th>
          </tr>
          <tr>
            <td class='ivar {{eo}} ivar-defense-r'><input value='{{variables.defense_r|default}}' class='form-control ivar ivar-defense-r c' id='defense_r' name='defense_r' type='text' /></td>
            <td class='ivar {{eo}} ivar-defense-m'><input value='{{variables.defense_m|default}}' class='form-control ivar ivar-defense-m c' id='defense_m' name='defense_m' type='text' /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-sm-6 col-md-3 col-lg-4'>
      <div class='card status' id='card-status'>
        <div class='card-header status'>Status Effects</div>
        <div class='card-body of'>
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-status-effect-01' width='40%'><label for='status_effect_01'>Staggered</label></th><td class='ivar od ivar-status-effect-01 c'><input value='0' id='status_effect_01' name='status_effect_01' type='hidden' /><input value='1' class='c' {% if variables.status_effect_01|default > 0 %} checked='checked'{% endif %} id='status_effect_01' name='status_effect_01' type='checkbox' /></td>
              <th class='ilbl od ilbl-status-effect-03' width='40%'><label for='status_effect_03'>Disoriented</label></th><td class='ivar od ivar-status-effect-03 c'><input value='0' id='status_effect_03' name='status_effect_03' type='hidden' /><input value='1' class='c' {% if variables.status_effect_03|default > 0 %} checked='checked'{% endif %} id='status_effect_03' name='status_effect_03' type='checkbox' /></td>
            </tr><tr>
              <th class='ilbl ev ilbl-status-effect-02'><label for='status_effect_02'>Immobilized</label></th><td class='ivar ev ivar-status-effect-02 c'><input value='0' id='status_effect_02' name='status_effect_02' type='hidden' /><input value='1' class='c' {% if variables.status_effect_02|default > 0 %} checked='checked'{% endif %} id='status_effect_02' name='status_effect_02' type='checkbox' /></td>
              <th class='ilbl ev ilbl-status-effect-04'><label for='status_effect_04'><input value='{{variables.status_effect_name_04|default}}' class='form-control ivar ivar-status-effect-name-04' id='status_effect_name_04' name='status_effect_name_04' type='text' /></label></th><td class='ivar ev ivar-status-effect-04 c'><input value='0' id='status_effect_04' name='status_effect_04' type='hidden' /><input value='1' class='c' {% if variables.status_effect_04|default > 0 %} checked='checked'{% endif %} id='status_effect_04' name='status_effect_04' type='checkbox' /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
      <div class='card misc force pool' id='card-misc force pool'>
        <div class='card-header misc force pool'>Force Pool</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-force-pool-c c'><label for='force_pool_c'>Committed</label></th>
          <th class='ilbl ev ilbl-force-pool-a c'><label for='force_pool_a'>Available</label></th>
          </tr>
          <tr>
            <td class='ivar {{eo}} ivar-force-pool-c'><input value='{{variables.force_pool_c|default}}' class='form-control ivar ivar-force-pool-c c' id='force_pool_c' name='force_pool_c' type='text' /></td>
            <td class='ivar {{eo}} ivar-force-pool-a'><input value='{{variables.force_pool_a|default}}' class='form-control ivar ivar-force-pool-a c' id='force_pool_a' name='force_pool_a' type='text' /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-2'>
      <div class='card force-rank' id='card-force-rank'>
        <div class='card-body'>
          <div class='ilbl od ilbl-force-rank'><label for='force_rank'>Force Rank</label></div>
          <div class='ivar ivar-force-rank circle'><input value='{{variables.force_rank|default}}' class='form-control ivar ivar-force-rank c' id='force_rank' name='force_rank' type='text' /></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
      <div class='card misc encumbrance' id='card-misc encumbrance'>
        <div class='card-header misc encumbrance'>Encumbrance</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-encumbrance-t c'><label for='encumbrance_t'>Threshold</label></th>
          <th class='ilbl ev ilbl-encumbrance-c c'><label for='encumbrance_c'>Current</label></th>
          </tr>
          <tr>
            <td class='ivar {{eo}} ivar-encumbrance-t'><input value='{{variables.encumbrance_t|default}}' class='form-control ivar ivar-encumbrance-t c' id='encumbrance_t' name='encumbrance_t' type='text' /></td>
            <td class='ivar {{eo}} ivar-encumbrance-c'><input value='{{variables.encumbrance_c|default}}' class='form-control ivar ivar-encumbrance-c c' id='encumbrance_c' name='encumbrance_c' type='text' /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 c'>
      <div class='card skills' id='card-skills'>
        <div class='card-header skills'>Skills</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-skill-name' width='30%'><label for='skill_name'>Skill</label></th>
          <th class='ilbl od ilbl-skill-career'><label for='skill_career'>Career</label></th>
          <th class='ilbl od ilbl-skill-attr' width='120px'><label for='skill_attr'>Attribute</label></th>
          <th class='ilbl od ilbl-skill-attvalue' width='50px'><label for='skill_attvalue'>Attr</label></th>
          <th class='ilbl od ilbl-skill-rank c' width='100px'><label for='skill_rank'>Rank</label></th>
          </tr>
          {{ sheet.genSkill("STAT", variables, "General Skills", "+") }}
          {{ sheet.genSkill("01", variables, "Astrogation", "Intellect") }}
          {{ sheet.genSkill("02", variables, "Athletics", "Brawn") }}
          {{ sheet.genSkill("03", variables, "Charm", "Presence") }}
          {{ sheet.genSkill("04", variables, "Coercion", "Willpower") }}
          {{ sheet.genSkill("05", variables, "Computers", "Intellect") }}
          {{ sheet.genSkill("06", variables, "Cool", "Presence") }}
          {{ sheet.genSkill("07", variables, "Coordination", "Agility") }}
          {{ sheet.genSkill("08", variables, "Deception", "Cunning") }}
          {{ sheet.genSkill("09", variables, "Discipline", "Willpower") }}
          {{ sheet.genSkill("10", variables, "Leadership", "Presence") }}
          {{ sheet.genSkill("11", variables, "Mechanics", "Intellect") }}
          {{ sheet.genSkill("12", variables, "Medicine", "Intellect") }}
          {{ sheet.genSkill("13", variables, "Negotiation", "Presence") }}
          {{ sheet.genSkill("14", variables, "Perception", "Cunning") }}
          {{ sheet.genSkill("15", variables, "Piloting - Planetary", "Agility") }}
          {{ sheet.genSkill("16", variables, "Piloting - Space", "Agility") }}
          {{ sheet.genSkill("17", variables, "Resilience", "Brawn") }}
          {{ sheet.genSkill("18", variables, "Skulduggery", "Cunning") }}
          {{ sheet.genSkill("19", variables, "Stealth", "Agility") }}
          {{ sheet.genSkill("20", variables, "Streetwise", "Cunning") }}
          {{ sheet.genSkill("21", variables, "Survival", "Cunning") }}
          {{ sheet.genSkill("22", variables, "Vigilance", "Willpower") }}
          {{ sheet.genSkill("STAT", variables, "Combat Skills", "+") }}
          {{ sheet.genSkill("30", variables, "Brawl", "Brawn") }}
          {{ sheet.genSkill("31", variables, "Gunnery", "Agility") }}
          {{ sheet.genSkill("32", variables, "Melee", "Brawn") }}
          {{ sheet.genSkill("33", variables, "Ranged - Light", "Agility") }}
          {{ sheet.genSkill("34", variables, "Ranged - Heavy", "Agility") }}
          {{ sheet.genSkill("STAT", variables, "Knowledge Skills", "+") }}
          {{ sheet.genSkill("40", variables, "Core Worlds", "Intellect") }}
          {{ sheet.genSkill("41", variables, "Education", "Intellect") }}
          {{ sheet.genSkill("42", variables, "Lore", "Intellect") }}
          {{ sheet.genSkill("43", variables, "Outer Rim", "Intellect") }}
          {{ sheet.genSkill("44", variables, "Underworld", "Intellect") }}
          {{ sheet.genSkill("45", variables, "Xenology", "Intellect") }}
          {{ sheet.genSkill("46", variables, "Other:", "Intellect") }}
          {{ sheet.genSkill("47", variables, "Other:", "Intellect") }}
          {{ sheet.genSkill("48", variables, "Other:", "Intellect") }}
          {{ sheet.genSkill("49", variables, "Other:", "Intellect") }}
          {{ sheet.genSkill("50", variables, "Other:", "Intellect") }}
          {{ sheet.genSkill("STAT", variables, "Custom Skills") }}
          {{ sheet.genSkill("60", variables, "Custom:", "*") }}
          {{ sheet.genSkill("61", variables, "Custom:", "*") }}
          {{ sheet.genSkill("62", variables, "Custom:", "*") }}
          {{ sheet.genSkill("63", variables, "Custom:", "*") }}
          {{ sheet.genSkill("64", variables, "Custom:", "*") }}
          {{ sheet.genSkill("65", variables, "Custom:", "*") }}
          {{ sheet.genSkill("66", variables, "Custom:", "*") }}
          {{ sheet.genSkill("67", variables, "Custom:", "*") }}
          {{ sheet.genSkill("68", variables, "Custom:", "*") }}
          {{ sheet.genSkill("69", variables, "Custom:", "*") }}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    {% set i = 1 %}
    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
    <div class='col-12'>
      <div class='card armor' id='card-armor'>
        <div class='card-header armor'>Armor</div>
        <div class='card-body'>
          <table class='table'>
          <tr>
            <th class='ilbl od ilbl-armor-type' width='20%'><label for='armor_type'>Armor Type</label></th>
            <th class='ilbl od ilbl-armor-model' width='20%'><label for='armor_model'>Make/Model</label></th>
            <th class='ilbl od ilbl-armor-special'><label for='armor_special'>Special</label></th>
          </tr>
          <tr>
            <td class='ivar ivar-armor-type' title='Armor Type'><input value='{{attribute(variables, 'armor_type_' ~ id)|default}}' class='form-control ivar ivar-armor-type' id='armor_type' name='armor_type_{{id}}' type='text' /></td>
            <td class='ivar ivar-armor-model' title='Make/Model'><input value='{{attribute(variables, 'armor_model_' ~ id)|default}}' class='form-control ivar ivar-armor-model' id='armor_model' name='armor_model_{{id}}' type='text' /></td>
            <td class='ivar ivar-armor-special'><input value='{{attribute(variables, 'armor_special_' ~ id)|default}}' class='form-control ivar ivar-armor-special' id='armor_special' name='armor_special_{{id}}' type='text' /></td>
          </tr>
          </table>
          <div class='row'>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-armor' id='card-armor'>
                <div class='card-body of'>
                  <div class='ilbl od ilbl-armor c'><label for='armor_soak'>Soak</label></div>
                  <div class='ivar ivar-armor-soak circle c'><input value='{{attribute(variables, 'armor_soak_' ~ id)|default}}' class='form-control ivar ivar-armor-soak c' id='armor_soak' name='armor_soak_{{id}}' type='number' /></div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-armor' id='card-armor'>
                <div class='card-body of'>
                    <div class='ilbl od ilbl-armor c'><label for='armor_melee_def'>Melee Def</label></div>
                    <div class='ivar ivar-armor-melee-def circle c'><input value='{{attribute(variables, 'armor_melee_def_' ~ id)|default}}' class='form-control ivar ivar-armor-melee-def c' id='armor_melee_def' name='armor_melee_def_{{id}}' type='number' /></div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-armor' id='card-armor'>
                <div class='card-body of'>
                    <div class='ilbl od ilbl-armor c'><label for='armor_ranged_def'>Ranged Def</label></div>
                    <div class='ivar ivar-armor-ranged-def circle c'><input value='{{attribute(variables, 'armor_ranged_def_' ~ id)|default}}' class='form-control ivar ivar-armor-ranged-def c' id='armor_ranged_def' name='armor_ranged_def_{{id}}' type='number' /></div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-armor' id='card-armor'>
                <div class='card-body of'>
                    <div class='ilbl od ilbl-armor c'><label for='armor_encum'>Encum</label></div>
                    <div class='ivar ivar-armor-encum circle c'><input value='{{attribute(variables, 'armor_encum_' ~ id)|default}}' class='form-control ivar ivar-armor-encum c' id='armor_encum' name='armor_encum_{{id}}' type='number' /></div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-armor' id='card-armor'>
                <div class='card-body of'>
                    <div class='ilbl od ilbl-armor c'><label for='armor_hp'>HP</label></div>
                    <div class='ivar ivar-armor-hp circle c'><input value='{{attribute(variables, 'armor_hp_' ~ id)|default}}' class='form-control ivar ivar-armor-hp c' id='armor_hp' name='armor_hp_{{id}}' type='number' /></div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-armor' id='card-armor'>
                <div class='card-body of'>
                  <table class='table'>
                    <tr>
                      <th class='ilbl ev ivar-armor-cond-label c' colspan=2>Condition</th>
                    </tr>
                    <tr>
                      <td class='ivar od ivar-armor-cond-minor c' width='30px'><input value='0' id='armor_cond_minor' name='armor_cond_minor_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'armor_cond_minor_' ~ id)|default > 0 %} checked='checked'{% endif %} id='armor_cond_minor' name='armor_cond_minor_{{id}}' type='checkbox' /></td>
                      <th class='ilbl od ilbl-armor-cond-minor c' width='50px'><label for='armor_cond_minor'>Minor</label></th>
                    </tr>
                    <tr>
                      <td class='ivar ev ivar-armor-cond-moderate c'><input value='0' id='armor_cond_moderate' name='armor_cond_moderate_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'armor_cond_moderate_' ~ id)|default > 0 %} checked='checked'{% endif %} id='armor_cond_moderate' name='armor_cond_moderate_{{id}}' type='checkbox' /></td>
                      <th class='ilbl ev ilbl-armor-cond-moderate c' width='50px'><label for='armor_cond_moderate'>Moderate</label></th>
                    </tr>
                    <tr>
                      <td class='ivar od ivar-armor-cond-major c'><input value='0' id='armor_cond_major' name='armor_cond_major_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'armor_cond_major_' ~ id)|default > 0 %} checked='checked'{% endif %} id='armor_cond_major' name='armor_cond_major_{{id}}' type='checkbox' /></td>
                      <th class='ilbl od ilbl-armor-cond-major c' width='50px'><label for='armor_cond_major'>Major</label></th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <table class='table'>
          <tr>
            <th class="ilbl" rowspan=5>Attachments</th>
            <th class='ilbl od ilbl-armor-att' width='20%'><label for='armor_att_name'>Name</label></th>
            <th class='ilbl od ilbl-armor-att c' width='15%'><label for='armor_att_hpr'>Hard point Req</label></th>
            <th class='ilbl od ilbl-armor-att c'><label for='armor_att_modifiers'>Base Modifiers</label></th>
            <th class='ilbl od ilbl-armor-att c'><label for='armor_att_modifications'>Modifications</label></th>
          </tr>
          {% for j in 1..4 %}
          <tr>
            <td class='ivar ev ivar-armor-att'><input value="{{attribute(variables, 'armor_att_name_' ~ j ~ '_' ~ id )|default}}" class='form-control ivar ivar-armor-att-name-{{j}}' id='armor_att_name_{{j}}' name='armor_att_name_{{j}}_{{id}}' type='text' /></td>
            <td class='ivar ev ivar-armor-att'><input value="{{attribute(variables, 'armor_att_hpreq_' ~ j ~ '_' ~ id )|default}}" class='form-control ivar ivar-armor-att-hpreq-{{j}}' id='armor_att_hpreq_{{j}}' name='armor_att_hpreq_{{j}}_{{id}}' type='text' /></td>
            <td class='ivar ev ivar-armor-att'><input value="{{attribute(variables, 'armor_att_basemod_' ~ j ~ '_' ~ id )|default}}" class='form-control ivar ivar-armor-att-basemod-{{j}}' id='armor_att_basemod_{{j}}' name='armor_att_basemod_{{j}}_{{id}}' type='text' /></td>
            <td class='ivar ev ivar-armor-att'><input value="{{attribute(variables, 'armor_att_mods_' ~ j ~ '_' ~ id )|default}}" class='form-control ivar ivar-armor-att-mods-{{j}}' id='armor_att_mods_{{j}}' name='armor_att_mods_{{j}}_{{id}}' type='text' /></td>
          </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      {% for i in 1..8 %}
        {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
        {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
      <div class='card weapon' id='card-weapon'>
        <div class='card-header weapon'>Weapon {{id|number_format}}</div>
        <div class='card-body'>
          <table class='table'>
          <tr>
            <th class='ilbl od ilbl-weapon-type' width='20%'><label for='weapon_type'>Weapon Type</label></th>
            <th class='ilbl od ilbl-weapon-model' width='20%'><label for='weapon_model'>Make/Model</label></th>
            <th class='ilbl od ilbl-weapon-special'><label for='weapon_special'>Special</label></th>
          </tr>
          <tr>
            <td class='ivar ivar-weapon-type' title='Weapon Type'><input value='{{attribute(variables, 'weapon_type_' ~ id)|default}}' class='form-control ivar ivar-weapon-type' id='weapon_type' name='weapon_type_{{id}}' type='text' /></td>
            <td class='ivar ivar-weapon-model' title='Make/Model'><input value='{{attribute(variables, 'weapon_model_' ~ id)|default}}' class='form-control ivar ivar-weapon-model' id='weapon_model' name='weapon_model_{{id}}' type='text' /></td>
            <td class='ivar ivar-weapon-special'><input value='{{attribute(variables, 'weapon_special_' ~ id)|default}}' class='form-control ivar ivar-weapon-special' id='weapon_special' name='weapon_special_{{id}}' type='text' /></td>
          </tr>
          </table>
          <div class='row'>
            <div class='col-6 col-md-6 col-lg-6'>
              <div class='card ilbl-weapon-skill' id='card-weapon-skill'>
                <div class='card-body of'>
                  <div class='ilbl od ilbl-weapon-skill c'><label for='weapon_skill'>Skill</label></div>
                  <div class='ivar ivar-weapon-skill' title='Weapon Skill'>
                      <select  class='form-control ivar ivar-weapon-skill' id='weapon_skill' name='weapon_skill_{{id}}'>
                        <option value='Ranged (Light)' {% if attribute(variables, 'weapon_skill_' ~ id)|default == 'Ranged (Light)' %}selected='selected' {% endif %} > Ranged (Light) </option>
                        <option value='Ranged (Heavy)' {% if attribute(variables, 'weapon_skill_' ~ id)|default == 'Ranged (Heavy)' %}selected='selected' {% endif %} > Ranged (Heavy) </option>
                        <option value='Gunnery' {% if attribute(variables, 'weapon_skill_' ~ id)|default == 'Gunnery' %}selected='selected' {% endif %} > Gunnery </option>
                        <option value='Brawl' {% if attribute(variables, 'weapon_skill_' ~ id)|default == 'Brawl' %}selected='selected' {% endif %} > Brawl </option>
                        <option value='Melee' {% if attribute(variables, 'weapon_skill_' ~ id)|default == 'Melee' %}selected='selected' {% endif %} > Melee </option>
                        <option value='Lightsaber' {% if attribute(variables, 'weapon_skill_' ~ id)|default == 'Lightsaber' %}selected='selected' {% endif %} > Lightsaber </option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-6 col-lg-6'>
              <div class='card ilbl-weapon-range' id='card-weapon-range'>
                <div class='card-body of'>
                  <div class='ilbl od ilbl-weapon-range c'><label for='weapon_range'>Range</label></div>
                    <div class='ivar ivar-weapon-range' title='Weapon Range'>
                        <select  class='form-control ivar ivar-weapon-range' id='weapon_range' name='weapon_range_{{id}}'>
                          <option value='Short' {% if attribute(variables, 'weapon_range_' ~ id)|default == 'Short' %}selected='selected' {% endif %} > Short </option>
                          <option value='Medium' {% if attribute(variables, 'weapon_range_' ~ id)|default == 'Medium' %}selected='selected' {% endif %} > Medum </option>
                          <option value='Long' {% if attribute(variables, 'weapon_range_' ~ id)|default == 'Long' %}selected='selected' {% endif %} > Long </option>
                          <option value='Extreme' {% if attribute(variables, 'weapon_range_' ~ id)|default == 'Extreme' %}selected='selected' {% endif %} > Extreme </option>
                        </select>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-weapon' id='card-weapon'>
                <div class='card-body of'>
                  <div class='ilbl od ilbl-weapon c'><label for='weapon_damage'>Damage</label></div>
                  <div class='ivar ivar-weapon-damage circle c'><input value='{{attribute(variables, 'weapon_damage_' ~ id)|default}}' class='form-control ivar ivar-weapon-damage c' id='weapon_damage' name='weapon_damage_{{id}}' type='number' /></div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-weapon' id='card-weapon'>
                <div class='card-body of'>
                    <div class='ilbl od ilbl-weapon c'><label for='weapon_crit'>Crit</label></div>
                    <div class='ivar ivar-weapon-crit circle c'><input value='{{attribute(variables, 'weapon_crit_' ~ id)|default}}' class='form-control ivar ivar-weapon-crit c' id='weapon_crit' name='weapon_crit_{{id}}' type='number' /></div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-weapon' id='card-weapon'>
                <div class='card-body of'>
                    <div class='ilbl od ilbl-weapon c'><label for='weapon_encum'>Encum</label></div>
                    <div class='ivar ivar-weapon-encum circle c'><input value='{{attribute(variables, 'weapon_encum_' ~ id)|default}}' class='form-control ivar ivar-weapon-encum c' id='weapon_encum' name='weapon_encum_{{id}}' type='number' /></div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-weapon' id='card-weapon'>
                <div class='card-body of'>
                    <div class='ilbl od ilbl-weapon c'><label for='weapon_hp'>HP</label></div>
                    <div class='ivar ivar-weapon-hp circle c'><input value='{{attribute(variables, 'weapon_hp_' ~ id)|default}}' class='form-control ivar ivar-weapon-hp c' id='weapon_hp' name='weapon_hp_{{id}}' type='number' /></div>
                </div>
              </div>
            </div>
            <div class='col-6 col-md-4 col-lg-2'>
              <div class='card ilbl-weapon' id='card-weapon'>
                <div class='card-body of'>
                  <table class='table'>
                    <tr>
                      <th class='ilbl ev ivar-weapon-cond-label c' colspan=2>Condition</th>
                    </tr>
                    <tr>
                      <td class='ivar od ivar-weapon-cond-minor c' width='30px'><input value='0' id='weapon_cond_minor' name='weapon_cond_minor_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'weapon_cond_minor_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_cond_minor' name='weapon_cond_minor_{{id}}' type='checkbox' /></td>
                      <th class='ilbl od ilbl-weapon-cond-minor c' width='50px'><label for='weapon_cond_minor'>Minor</label></th>
                    </tr>
                    <tr>
                      <td class='ivar ev ivar-weapon-cond-moderate c'><input value='0' id='weapon_cond_moderate' name='weapon_cond_moderate_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'weapon_cond_moderate_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_cond_moderate' name='weapon_cond_moderate_{{id}}' type='checkbox' /></td>
                      <th class='ilbl ev ilbl-weapon-cond-moderate c' width='50px'><label for='weapon_cond_moderate'>Moderate</label></th>
                    </tr>
                    <tr>
                      <td class='ivar od ivar-weapon-cond-major c'><input value='0' id='weapon_cond_major' name='weapon_cond_major_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'weapon_cond_major_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_cond_major' name='weapon_cond_major_{{id}}' type='checkbox' /></td>
                      <th class='ilbl od ilbl-weapon-cond-major c' width='50px'><label for='weapon_cond_major'>Major</label></th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <table class='table'>
          <tr>
            <th class="ilbl" rowspan=5>Attachments</th>
            <th class='ilbl od ilbl-weapon-att' width='20%'><label for='weapon_att_name'>Name</label></th>
            <th class='ilbl od ilbl-weapon-att c' width='15%'><label for='weapon_att_hpr'>Hard point Req</label></th>
            <th class='ilbl od ilbl-weapon-att c'><label for='weapon_att_modifiers'>Base Modifiers</label></th>
            <th class='ilbl od ilbl-weapon-att c'><label for='weapon_att_modifications'>Modifications</label></th>
          </tr>
          {% for j in 1..4 %}
          <tr>
            <td class='ivar od ivar-weapon-att'><input value="{{attribute(variables, 'weapon_att_name_' ~ j ~ '_' ~ id )|default}}" class='form-control ivar ivar-weapon-att-name-{{j}}' id='weapon_att_name_{{j}}' name='weapon_att_name_{{j}}_{{id}}' type='text' /></td>
            <td class='ivar od ivar-weapon-att'><input value="{{attribute(variables, 'weapon_att_hpreq_' ~ j ~ '_' ~ id )|default}}" class='form-control ivar ivar-weapon-att-hpreq-{{j}}' id='weapon_att_hpreq_{{j}}' name='weapon_att_hpreq_{{j}}_{{id}}' type='text' /></td>
            <td class='ivar od ivar-weapon-att'><input value="{{attribute(variables, 'weapon_att_basemod_' ~ j ~ '_' ~ id )|default}}" class='form-control ivar ivar-weapon-att-basemod-{{j}}' id='weapon_att_basemod_{{j}}' name='weapon_att_basemod_{{j}}_{{id}}' type='text' /></td>
            <td class='ivar od ivar-weapon-att'><input value="{{attribute(variables, 'weapon_att_mods_' ~ j ~ '_' ~ id )|default}}" class='form-control ivar ivar-weapon-att-mods-{{j}}' id='weapon_att_mods_{{j}}' name='weapon_att_mods_{{j}}_{{id}}' type='text' /></td>
          </tr>
          {% endfor %}
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-6'>
      <div class='card motivations' id='card-motivations'>
        <div class='card-header motivations'>Motivations</div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12 col-md-6'>
              <div class='ilbl od ilbl-motiv-type-1'><label for='motiv_type_1'>Type</label></div><div class='ivar od ivar-motiv-type-1'><input value='{{variables.motiv_type_1|default}}' class='form-control ivar ivar-motiv-type-1' id='motiv_type_1' name='motiv_type_1' type='text' /></div>
              <div class='ivar ev ivar-motiv-desc-1'><div class='iContent'><textarea class='form-control ivar ivar-motiv-desc-1 ' id='motiv_desc_1' name='motiv_desc_1' rows='3'  >{{variables.motiv_desc_1|default}}</textarea></div></div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='ilbl od ilbl-motiv-type-2'><label for='motiv_type_2'>Type</label></div><div class='ivar od ivar-motiv-type-2'><input value='{{variables.motiv_type_2|default}}' class='form-control ivar ivar-motiv-type-2' id='motiv_type_2' name='motiv_type_2' type='text' /></div>
              <div class='ivar ev ivar-motiv-desc-2'><div class='iContent'><textarea class='form-control ivar ivar-motiv-desc-2 ' id='motiv_desc_2' name='motiv_desc_2' rows='3'  >{{variables.motiv_desc_2|default}}</textarea></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class='card obligations' id='card-obligations'>
        <div class='card-header obligations'>Obligations</div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12 col-md-6'>
              <div class='ilbl od ilbl-oblig-type-1'><label for='oblig_type_1'>Type</label></div><div class='ivar od ivar-oblig-type-1'><input value='{{variables.oblig_type_1|default}}' class='form-control ivar ivar-oblig-type-1' id='oblig_type_1' name='oblig_type_1' type='text' /></div>
              <div class='ilbl ev ilbl-oblig-magni-1'><label for='oblig_magni_1'>Magnitude</label></div><div class='ivar ev ivar-oblig-magni-1'><input value='{{variables.oblig_magni_1|default}}' class='form-control ivar ivar-oblig-magni-1' id='oblig_magni_1' name='oblig_magni_1' type='text' /></div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='ilbl od ilbl-oblig-type-2'><label for='oblig_type_2'>Type</label></div><div class='ivar od ivar-oblig-type-2'><input value='{{variables.oblig_type_2|default}}' class='form-control ivar ivar-oblig-type-2' id='oblig_type_2' name='oblig_type_2' type='text' /></div>
              <div class='ilbl ev ilbl-oblig-magni-2'><label for='oblig_magni_2'>Magnitude</label></div><div class='ivar ev ivar-oblig-magni-2'><input value='{{variables.oblig_magni_2|default}}' class='form-control ivar ivar-oblig-magni-2' id='oblig_magni_2' name='oblig_magni_2' type='text' /></div>
            </div>
            <div class='col-12'>
              <div class='ilbl od ilbl-group-contrib'><label for='group_contrib'>Groups Contribution Rank</label></div><div class='ivar od ivar-group-contrib'><input value='{{variables.group_contrib|default}}' class='form-control ivar ivar-group-contrib' id='group_contrib' name='group_contrib' type='text' /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card equipment' id='card-equipment'>
        <div class='card-header equipment'>Equipment Log</div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12'>
              <div class='ilbl od ilbl-credits'><label for='credits'>Credits</label></div><div class='ivar od ivar-credits'><input value='{{variables.credits|default}}' class='form-control ivar ivar-credits' id='credits' name='credits' type='text' /></div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='ilbl od ilbl-equip-armor'><label for='equip_armor'>Equipment &amp; Armor</label></div><div class='ivar od ivar-equip-armor'><div class='iContent'><textarea class='form-control ivar ivar-equip-armor ' id='equip_armor' name='equip_armor' rows='3'  >{{variables.equip_armor|default}}</textarea></div></div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='ilbl od ilbl-personal-gear'><label for='personal_gear'>Personal Gear</label></div><div class='ivar od ivar-personal-gear'><div class='iContent'><textarea class='form-control ivar ivar-personal-gear ' id='personal_gear' name='personal_gear' rows='3'  >{{variables.personal_gear|default}}</textarea></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card inuries' id='card-inuries'>
        <div class='card-header inuries'>Critical Injuries</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-injury-severity'><label for='injury_severity'>Severity</label></th>
          <th class='ilbl od ilbl-injury-result'><label for='injury_result'>Result</label></th>
          </tr>
          {% for i in 1..6 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='ivar {{eo}} ivar-injury-severity'><input value='{{attribute(variables, 'injury_severity_' ~ id)|default}}' class='form-control ivar ivar-injury-severity' id='injury_severity' name='injury_severity_{{id}}' type='text' /></td><td class='ivar {{eo}} ivar-injury-result'><input value='{{attribute(variables, 'injury_result_' ~ id)|default}}' class='form-control ivar ivar-injury-result' id='injury_result' name='injury_result_{{id}}' type='text' /></td>
          </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card talents' id='card-talents'>
        <div class='card-header talents'>Talents And Special Abilities</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-talent-name' width='25%'><label for='talent_name'>Name</label></th>
          <th class='ilbl od ilbl-talent-page' width='70px'><label for='talent_page'>Page #</label></th>
          <th class='ilbl od ilbl-talent-summary'><label for='talent_summary'>Summary</label></th>
          </tr>
          {% for i in 1..14 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='ivar {{eo}} ivar-talent-name'><input value='{{attribute(variables, 'talent_name_' ~ id)|default}}' class='form-control ivar ivar-talent-name' id='talent_name' name='talent_name_{{id}}' type='text' /></td><td class='ivar {{eo}} ivar-talent-page'><input value='{{attribute(variables, 'talent_page_' ~ id)|default}}' class='form-control ivar ivar-talent-page' id='talent_page' name='talent_page_{{id}}' type='text' /></td><td class='ivar {{eo}} ivar-talent-summary'><input value='{{attribute(variables, 'talent_summary_' ~ id)|default}}' class='form-control ivar ivar-talent-summary' id='talent_summary' name='talent_summary_{{id}}' type='text' /></td>
          </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Character Notes</div>
        <div class='card-body of'>
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>