<div class='container-fluid sheet-eote'>
  <div class='row'>
    <div class='col-12 col-md-2'>
        <div class='ilbl od ilbl-xp-unspent' title='Available XP'><label for='xp_unspent'>XP</label></div><div class='ivar od ivar-xp-unspent'><input value='{{variables.xp_unspent|default}}' class='form-control ivar ivar-xp-unspent' id='xp_unspent' name='xp_unspent' type='text' /></div>
    </div>
    <div class='col-12 col-md-2'>
        <div class='ilbl od ilbl-credits' title='Available Credits'><label for='credits'>Credits</label></div><div class='ivar od ivar-credits'><input value='{{variables.credits|default}}' class='form-control ivar ivar-credits' id='credits' name='credits' type='text' /></div>
    </div>
    <div class='col-12 col-sm-4 col-md-3 col-lg-2'>
          <div class='ilbl od ilbl-soak' title='Soak'><label for='soak'>Soak</label></div><div class='ivar od ivar-soak-t'><input value='{{variables.soak_t|default}}' class='form-control ivar ivar-soak-t c' id='soak_t' name='soak_t' type='text' /></div>
    </div>
    <div class='col-12 col-sm-4 col-md-4 col-lg-4'>
        <div class='ilbl od ilbl-wounds'><label for='wounds'>Wounds (curr / crit)</label></div>
        <div class='ivar od ivar-wounds-c w49' title='Current Wounds'><input value='{{variables.wounds_c|default}}' class='form-control ivar ivar-wounds-c c' id='wounds_c' name='wounds_c' type='text' /></div>
        <div class='ivar od ivar-wounds-crit w49' title='Criticals'><input value='{{variables.wounds_crit|default}}' class='form-control ivar ivar-wounds-crit c' id='wounds_crit' name='wounds_crit' type='text' /></div>
    </div>
    <div class='col-12 col-sm-4 col-md-3 col-lg-2'>
        <div class='ilbl od ilbl-strain-c'><label for='straing-c'>Strain</label></div><div class='ivar od ivar-strain-c'><input value='{{variables.strain_c|default}}' class='form-control ivar ivar-strain-c c' id='strain_c' name='strain_c' type='text' /></div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-4'>
      <div class='card status' id='card-status'>
        <div class='card-header status'>Status Effects</div>
        <div class='card-body of'>
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-status-effect-01' width='40%'><label for='status_effect_01'>Staggered</label></th><td class='ivar od ivar-status-effect-01 c'><input value='0' id='status_effect_01' name='status_effect_01' type='hidden' /><input value='1' class='c' {% if variables.status_effect_01|default > 0 %} checked='checked'{% endif %} id='status_effect_01' name='status_effect_01' type='checkbox' /></td>
              <th class='ilbl od ilbl-status-effect-03' width='40%'><label for='status_effect_03'>Disoriented</label></th><td class='ivar od ivar-status-effect-03 c'><input value='0' id='status_effect_03' name='status_effect_03' type='hidden' /><input value='1' class='c' {% if variables.status_effect_03|default > 0 %} checked='checked'{% endif %} id='status_effect_03' name='status_effect_03' type='checkbox' /></td>
            </tr><tr>
              <th class='ilbl ev ilbl-status-effect-02'><label for='status_effect_02'>Immobilized</label></th><td class='ivar ev ivar-status-effect-02 c'><input value='0' id='status_effect_02' name='status_effect_02' type='hidden' /><input value='1' class='c' {% if variables.status_effect_02|default > 0 %} checked='checked'{% endif %} id='status_effect_02' name='status_effect_02' type='checkbox' /></td>
              <th class='ilbl ev ilbl-status-effect-04'><label for='status_effect_04'><input value='{{variables.status_effect_name_04|default}}' class='form-control ivar ivar-status-effect-name-04' id='status_effect_name_04' name='status_effect_name_04' type='text' /></label></th><td class='ivar ev ivar-status-effect-04 c'><input value='0' id='status_effect_04' name='status_effect_04' type='hidden' /><input value='1' class='c' {% if variables.status_effect_04|default > 0 %} checked='checked'{% endif %} id='status_effect_04' name='status_effect_04' type='checkbox' /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-3 col-lg-3'>
      <div class='card misc force pool' id='card-misc force pool'>
        <div class='card-header misc force pool'>Force Pool</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-force-pool-c c'><label for='force_pool_c'>Committed</label></th>
          <th class='ilbl ev ilbl-force-pool-a c'><label for='force_pool_a'>Available</label></th>
          </tr>
          <tr>
            <td class='ivar {{eo}} ivar-force-pool-c'><input value='{{variables.force_pool_c|default}}' class='form-control ivar ivar-force-pool-c c' id='force_pool_c' name='force_pool_c' type='text' /></td>
            <td class='ivar {{eo}} ivar-force-pool-a'><input value='{{variables.force_pool_a|default}}' class='form-control ivar ivar-force-pool-a c' id='force_pool_a' name='force_pool_a' type='text' /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card inuries' id='card-inuries'>
        <div class='card-header inuries'>Critical Injuries</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-injury-severity'><label for='injury_severity'>Severity</label></th>
          <th class='ilbl od ilbl-injury-result'><label for='injury_result'>Result</label></th>
          </tr>
          {% for i in 1..6 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='ivar {{eo}} ivar-injury-severity'><input value='{{attribute(variables, 'injury_severity_' ~ id)|default}}' class='form-control ivar ivar-injury-severity' id='injury_severity' name='injury_severity_{{id}}' type='text' /></td><td class='ivar {{eo}} ivar-injury-result'><input value='{{attribute(variables, 'injury_result_' ~ id)|default}}' class='form-control ivar ivar-injury-result' id='injury_result' name='injury_result_{{id}}' type='text' /></td>
          </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card equipment' id='card-equipment'>
        <div class='card-header equipment'>Equipment Log</div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-12 col-md-6'>
              <div class='ilbl od ilbl-equip'><label for='equip'>Equipment (ready to use)</label></div><div class='ivar od ivar-equip'><div class='iContent'><textarea class='form-control ivar ivar-equip' id='equip' name='equip' rows='3' >{{variables.equip|default}}</textarea></div></div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='ilbl od ilbl-personal-gear'><label for='personal_gear'>Equipment (stowed away)</label></div><div class='ivar od ivar-personal-gear'><div class='iContent'><textarea class='form-control ivar ivar-personal-gear' id='personal_gear' name='personal_gear' rows='3' >{{variables.personal_gear|default}}</textarea></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Character Notes</div>
        <div class='card-body of'>
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>