{% macro genPills(curr, max) %}{# --------------------------------------- #}
    {% if curr is defined and max is defined and max > 0 %}
        {% for i in 1..max %}
            {% set x = i %}
            {% if x < 10 %}{% set x = '0' ~ x %}{% endif %}
            {% if curr >= i  %}
                <em class="far fa-times-square"></em>
            {% else %}
                <em class="far fa-square"></em>
            {% endif %}
            {% if i / 5 == i // 5 %}
                &nbsp;&nbsp;
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro genPills %}
{% macro genSkill(id, name, sig, exp, foc, dn, att) %}{# --------------------------------------- #}
{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
    {% if id == 'ATT' %}<tr>
        <th class="att" colspan=3>{{dn}}</th><th class="att" colspan="2" title="Attribute {{dn}}: {{att}}">{{att}}</th></tr>
        <tr><td class="hdr l">Skill</td><td class="hdr c" title="Signature skill">S</td><td class="hdr c" title="Expertise">Exp</td><td class="hdr c" title="Focus">Foc</td><td class="hdr c" title="Target Number">TN</td></tr>
    {% else %}
    {% if dn is defined and dn != '' %}{% set name = dn %}{% endif %}
    {% set tt = '' %}{% set icon = '' %}{% if sig is defined and sig == '1' %}{% set tt = 'Signature skill!' %}{% set icon = 'far fa-check-circle' %}{% endif %}
        <tr>
            <td class="hdr" title="Skill: {{name}}">{{name}}</td>
            <td class="{{eo}} txt c" width="40px" title="{{tt}}"><em class="{{icon}}"></em></td>
            <td class="{{eo}} txt c" title="Expertise: {{exp}}">{{exp}}</td>
            <td class="{{eo}} txt c" title="Focus: {{foc}}">{{foc}}</td>
            <td class="{{eo}} txt c" title="Target Number: {{att+exp}}">{{att+exp}}</td>
        </tr>
    {% endif %}
{% endmacro genSkill %}
{% macro genAttack(id, name, range, size, damage, load, qual, burst, mode) %}{# --------------------------------------- #}
{% if name is defined and name != '' %}
<tr><th class="att">Name</th><th class="att" colspan="2" title="Name of the attack/weapon">{{name}}</th></tr>
<tr><th class="hdr c">Range/Reach</th>
    <th class="hdr c">Damage</th>
    <th class="hdr c">Size</th>
</tr><tr>
    <td class="txt c" title="Reach: 1,2,3, Range: (c)lose, (m)edium, (l)ong, or (e)xtreme">{{range}}</td>
    <td class="txt c" title="Damage in number of six sided dice">[roll:{{damage}}]</td>
    <td class="txt c" title="(1H)and, (2H)and, or (unb)alanced">{{size[:3]}}</td>
</tr><tr>
    <th class="hdr c" title="Number of shots/loads available for ranged weapons">Load</th>
    <th class="hdr c">Burst</th>
    <th class="hdr c">Mode</th>
</tr><tr>
    <td class="txt c" title="Number of shots/loads available for ranged weapons">{{load}}</td>
    <td class="txt c">{{burst}}</td>
    <td class="txt c">{{mode}}</td>
</tr><tr>
    <td class="hdr c" colspan="3">Qualities</td>
</tr><tr>
    <td class="txt l" colspan="3">{{qual}}</td>
</tr>{% endif %}{% endmacro genAttack %}
{% macro genSpell(id, name, diffic, duration, cost, effect) %}{# --------------------------------------- #}
{% if name is defined and name != '' %}
<tr><th class="att">Name</th><th class="att" colspan="2" title="Name of the spell">{{name}}</th></tr>
<tr><th class="hdr c">Difficulty</th>
    <th class="hdr c">Duration</th>
    <th class="hdr c">Cost to Learn/Cast</th></tr><tr>
    <td class="txt c" title="">{{diffic}}</td>
    <td class="txt c" title="">{{duration}}</td>
    <td class="txt c" title="">{{cost}}</td></tr>
    <tr><td class="hdr c">Effect</td><td class="txt l" colspan="2">{{effect}}</td></tr>{% endif %}{% endmacro genSpell %}
{% macro genTalent(id, name, source, skill, rank, effect) %}{# --------------------------------------- #}
{% if name is defined and name != '' %}<tr>
<th class="att">Name</th><th class="att" colspan="2" title="Talent: {{name}}">{{name}}</th>
</tr>{% if (rank is defined and rank != '') or (skill is defined and skill != '') %}<tr>
    <th class="hdr c">Rank</th>
    <th class="hdr c">Skill</th>
</tr><tr>{% if rank is not defined or rank == '' %}{% set rank = '-' %}{% endif %}
<td class="txt c" title="Rank: {{rank}}">{{rank}}</td>{% if skill is not defined or skill == '' %}{% set skill = '-' %}{% endif %}
<td class="txt c" title="Skill: {{skill}}">{{skill}}</td></tr>{% endif %}
{% if effect is defined and effect != '' %}<tr><td class="hdr c">Effect</td><td class="txt l" colspan="2">{{effect}}</td></tr>{% endif %}
{% endif %}{% endmacro genTalent %}
{% macro genCreature(id, name, agi, awa, bra, coo, int, per, will, details) %}{# --------------------------------------- #}
{% if name is defined and name != '' %}
<tr><th class="att">Name</th><th class="att" colspan="6" title="Name of the creature">{{name}}</th></tr>
<tr><th class="hdr c" title="Agility">Agi</th>
    <th class="hdr c" title="Awareness">Awa</th>
    <th class="hdr c" title="Brawn">Brw</th>
    <th class="hdr c" title="Coordination">Coo</th>
    <th class="hdr c" title="Intelligence">Int</th>
    <th class="hdr c" title="Personality">Per</th>
    <th class="hdr c" title="Willpower">Will</th></tr>
<tr><td class="txt c" title="">{{agi}}</td>
    <td class="txt c" title="">{{awa}}</td>
    <td class="txt c" title="">{{bra}}</td>
    <td class="txt c" title="">{{coo}}</td>
    <td class="txt c" title="">{{int}}</td>
    <td class="txt c" title="">{{per}}</td>
    <td class="txt c" title="">{{will}}</td></tr>
<tr><td class="hdr c" colspan=7>Skills &amp; Details</td></tr>
<tr><td class="txt l" colspan=7>{{details}}</td></tr>{% endif %}{% endmacro genCreature %}
<div class="container-fluid infinity-sheet">{# --------------------------------------- #}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 logo collapse show noback" id="collapseBackground" title="Infinity RPG Logo">
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">BACKGROUND <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBackground" aria-expanded="true" aria-controls="collapseBackground"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseBackground" aria-labelledby="headingBackground">
                    <table width="100%">
                        <tr><td class="hdr c" width="30%">Name</td><td colspan=3 class="txt l ev">{% if variables.name is defined %}{{ variables.name}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Age</td><td colspan=3 class="txt l od">{% if variables.age is defined %}{{variables.age}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Languages</td><td colspan=3 class="txt l ev">{% if variables.languages is defined %}{{variables.languages}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Faction</td><td colspan=3 class="txt l od">{% if variables.faction is defined %}{{variables.faction}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Homeworld</td><td colspan=3 class="txt l ev">{% if variables.homeworld is defined %}{{variables.homeworld}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Heritage</td><td colspan=3 class="txt l od">{% if variables.heritage is defined %}{{variables.heritage}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Home Environment</td><td colspan=3 class="txt l od">{% if variables.home_environment is defined %}{{variables.home_environment}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Social Status</td><td colspan=3 class="txt l ev">{% if variables.social_status is defined %}{{variables.social_status}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Family Social Status</td><td colspan=3 class="txt l od">{% if variables.family_social_status is defined %}{{variables.family_social_status}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Youth Event</td><td colspan=3 class="txt l ev">{% if variables.youth_event is defined %}{{variables.youth_event}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Adolescent Event</td><td colspan=3 class="txt l od">{% if variables.adolescent_event is defined %}{{variables.adolescent_event}}{% endif %}</td></tr>
                        <tr><td class="hdr c">First Career</td><td colspan=3 class="txt l ev">{% if variables.first_career is defined %}{{variables.first_career}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Second Career</td><td colspan=3 class="txt l od">{% if variables.second_career is defined %}{{variables.second_career}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Third Career</td><td colspan=3 class="txt l ev">{% if variables.third_career is defined %}{{variables.third_career}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Fourth Career</td><td colspan=3 class="txt l od">{% if variables.fourth_career is defined %}{{variables.fourth_career}}{% endif %}</td></tr>
                        <tr><th class="hdr c">XP spent</th>
                        <td class="txt c">{{ variables.xp_spent is defined ? variables.xp_spent }}</td>
                        <th class="hdr c">XP total</th>
                        <td class="txt c">{{ variables.xp_total is defined ? variables.xp_total }}</td></tr>
                    </table>
                    <table width="100%" class="mt10">
                    <tr>
                        <th class="hdr c">Infinity Points</th>
                        <th class="hdr c">Refresh</th>
                        <th class="hdr c">Reaction Tracker</th>
                    </tr>
                    <tr>
                        <td class="txt c">{{ _self.genPills(variables.infinity_points, 5) }}</td>
                        <td class="txt c">{{ variables.refresh ?? 2 }}</td>
                        <td class="txt c">{{ _self.genPills(5 - variables.reaction_tracker, 5) }}</td>
                    </tr>
                    </table>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar">Stress &amp; Harms <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseStress" aria-expanded="true" aria-controls="collapseStress"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseStress" aria-labelledby="headingStress">
                    <table width="100%">
                        <tr><td class="lbl c">Morale Soak</td><td class="lbl c">Security Soak</td><td class="lbl c">BTS</td></tr>
                        <tr><td class="txt c">{{ variables.morale_soak ?? 0 }}</td><td class="txt c">{{ variables.security_soak ?? 0 }}</td><td class="txt c">{{ variables.bts ?? 0 }}</td></tr>
                    </table>

                    <table width="75%" class="armortable">
                        <tr><td colspan=1 width="33%">&nbsp;</td><td colspan=2 width="33%" class="att c">Head</td><td colspan=1>&nbsp;</td></tr>
                        <tr><td colspan=1 width="33%">&nbsp;</td><td colspan=2 width="33%" class="hdr c">1-2</td><td colspan=1>&nbsp;</td></tr>
                        <tr><td colspan=1 width="33%" class="att c">L.Arm</td><td colspan=2 class="lbl c">{% if variables.armour_soak_head is defined %}{{variables.armour_soak_head}}{% else %}-{% endif %}</td><td colspan=1 width="33%" class="att c">R.Arm</td></tr>
                        <tr><td colspan=1 width="33%" class="hdr c">6-8</td><td colspan=2 class="att c">Torso</td><td colspan=1 width="33%" class="hdr c">3-5</td></tr>
                        <tr><td colspan=1 width="33%" class="lbl c">{% if variables.armour_soak_larm is defined %}{{variables.armour_soak_larm}}{% else %}-{% endif %}</td><td colspan=2 class="hdr c">9-14</td><td colspan=1 width="33%" class="lbl c">{% if variables.armour_soak_rarm is defined %}{{variables.armour_soak_rarm}}{% else %}-{% endif %}</td></tr>
                        <tr><td colspan=1 width="33%">&nbsp;</td><td colspan=2 width="33%" class="lbl c">{% if variables.armour_soak_torso is defined %}{{variables.armour_soak_torso}}{% else %}-{% endif %}</td><td colspan=1>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td><td colspan=1 class="att c">L.Leg</td><td colspan=1 class="att c">R.Leg</td><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td><td colspan=1 class="hdr c">18-20</td><td colspan=1 class="hdr c">15-17</td><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td><td colspan=1 class="lbl c">{% if variables.armour_soak_lleg is defined %}{{variables.armour_soak_lleg}}{% else %}-{% endif %}</td><td colspan=1 class="lbl c">{% if variables.armour_soak_rleg is defined %}{{variables.armour_soak_rleg}}{% else %}-{% endif %}</td><td>&nbsp;</td></tr>
                    </table>
                    <table width="100%">
{% set infowar_max = variables.intelligence + variables.skill_exp_15 %} {# hacking #}
{% set mental_max = variables.willpower + variables.skill_exp_24 %} {# discipline #}
{% set vigour_max = variables.brawn + variables.skill_exp_10 %} {# resistance #}
{% set breaches = 0 %}{% if variables.breaches is defined %}{% set breaches = variables.breaches %}{% endif %}
{% set wounds = 0 %}{% if variables.wounds is defined %}{% set wounds = variables.wounds %}{% endif %}
{% set trauma = 0 %}{% if variables.trauma is defined %}{% set trauma = variables.trauma %}{% endif %}
                        <tr><td class="att c" colspan=2>Firewall</td></tr>
                        <tr><td class="hdr c">Infowar</td><td class="txt c">{{variables.infowar}} / {{infowar_max}}</td></tr>
                        <tr><td class="boxes" colspan=2>{{ _self.genPills(variables.infowar, infowar_max) }}</td></tr>
                        <tr><td class="lbl c red">Breaches</td><td class="txt c red">{{breaches}}</td></tr>
                        <tr><td class="att c" colspan=2>Resolve</td></tr>
                        <tr><td class="hdr c">Mental</td><td class="txt c">{{variables.mental}} / {{mental_max}}</td></tr>
                        <tr><td class="boxes" colspan=2>{{ _self.genPills(variables.mental, mental_max) }}</td></tr>
                        <tr><td class="lbl c red">Trauma</td><td class="txt c red">{{trauma}}</td></tr>
                        <tr><td class="att c" colspan=2>Physical</td></tr>
                        <tr><td class="hdr c">Vigour</td><td class="txt c">{{variables.vigour}} / {{vigour_max}}</td></tr>
                        <tr><td class="boxes" colspan=2>{{ _self.genPills(variables.vigour, vigour_max) }}</td></tr>
                        <tr><td class="lbl c red">Wounds</td><td class="txt c red">{{wounds}}</td></tr>
                    </table>
                </div>
            </div>
{% set r = 0 %}{# ranged #}
{% if variables.awareness > 8 %}{% set r = 1 %}{% endif %}
{% if variables.awareness > 9 %}{% set r = 2 %}{% endif %}
{% if variables.awareness > 11 %}{% set r = 3 %}{% endif %}
{% if variables.awareness > 13 %}{% set r = 4 %}{% endif %}
{% if variables.awareness > 15 %}{% set r = 5 %}{% endif %}
{% if variables.bonus_dmg_ranged is defined and variables.bonus_dmg_ranged != '' %}{% set r = r + variables.bonus_dmg_ranged %}{% endif %}
{% if r == 0 %}{% set r = '+0' %}{% else %}{% set r = '+[roll:' ~ r ~ 'd6]' %}{% endif %}
{% set m = 0 %}{# melee #}
{% if variables.brawn > 8 %}{% set m = 1 %}{% endif %}
{% if variables.brawn > 9 %}{% set m = 2 %}{% endif %}
{% if variables.brawn > 11 %}{% set m = 3 %}{% endif %}
{% if variables.brawn > 13 %}{% set m = 4 %}{% endif %}
{% if variables.brawn > 15 %}{% set m = 5 %}{% endif %}
{% if variables.bonus_dmg_melee is defined and variables.bonus_dmg_melee != '' %}{% set m = m + variables.bonus_dmg_melee %}{% endif %}
{% if m == 0 %}{% set m = '+0' %}{% else %}{% set m = '+[roll:' ~ m ~ 'd6]' %}{% endif %}
{% set p = 0 %}{# psywar #}
{% if variables.personality > 8 %}{% set p = 1 %}{% endif %}
{% if variables.personality > 9 %}{% set p = 2 %}{% endif %}
{% if variables.personality > 11 %}{% set p = 3 %}{% endif %}
{% if variables.personality > 13 %}{% set p = 4 %}{% endif %}
{% if variables.personality > 15 %}{% set p = 5 %}{% endif %}
{% if variables.bonus_dmg_psywar is defined and variables.bonus_dmg_psywar != '' %}{% set p = p + variables.bonus_dmg_psywar %}{% endif %}
{% if p == 0 %}{% set p = '+0' %}{% else %}{% set p = '+[roll:' ~ p ~ 'd6]' %}{% endif %}
{% set i = 0 %}{# infowar #}
{% if variables.intelligence > 8 %}{% set i = 1 %}{% endif %}
{% if variables.intelligence > 9 %}{% set i = 2 %}{% endif %}
{% if variables.intelligence > 11 %}{% set i = 3 %}{% endif %}
{% if variables.intelligence > 13 %}{% set i = 4 %}{% endif %}
{% if variables.intelligence > 15 %}{% set i = 5 %}{% endif %}
{% if variables.bonus_dmg_infowar is defined and variables.bonus_dmg_infowar != '' %}{% set i = i + variables.bonus_dmg_infowar %}{% endif %}
{% if i == 0 %}{% set i = '+0' %}{% else %}{% set i = '+[roll:' ~ i ~ 'd6]' %}{% endif %}
            <div class="card my-2">
                <div class="card-header head-bar">ATTACKS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAttacks" aria-expanded="true" aria-controls="collapseAttacks"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od weapontable" id="collapseAttacks" aria-labelledby="headingAttacks">
                    <table width="100%">
                        <tr><th colspan=4 class="att c">BONUS DAMAGE</th></tr>
                        <tr>
                            <td class="lbl" width="12%">Ranged</td><td class="txt c" width="12%">{{r}}</td>
                            <td class="lbl" width="12%">Melee</td><td class="txt c" width="12%">{{m}}</td>
                        </tr><tr>
                            <td class="lbl" width="12%">Psywar</td><td class="txt c" width="12%">{{p}}</td>
                            <td class="lbl" width="12%">Infowar</td><td class="txt c" width="12%">{{i}}</td>
                        </tr>
                    </table>
                    <table width="100%">
                        {{ _self.genAttack("01", variables.attack_name_01, variables.attack_range_01, variables.attack_size_01, variables.attack_damage_01, variables.attack_load_01, variables.attack_qualities_01, variables.attack_burst_01, variables.attack_mode_01) }}
                        {{ _self.genAttack("02", variables.attack_name_02, variables.attack_range_02, variables.attack_size_02, variables.attack_damage_02, variables.attack_load_02, variables.attack_qualities_02, variables.attack_burst_02, variables.attack_mode_02) }}
                        {{ _self.genAttack("03", variables.attack_name_03, variables.attack_range_03, variables.attack_size_03, variables.attack_damage_03, variables.attack_load_03, variables.attack_qualities_03, variables.attack_burst_03, variables.attack_mode_03) }}
                        {{ _self.genAttack("04", variables.attack_name_04, variables.attack_range_04, variables.attack_size_04, variables.attack_damage_04, variables.attack_load_04, variables.attack_qualities_04, variables.attack_burst_04, variables.attack_mode_04) }}
                        {{ _self.genAttack("05", variables.attack_name_05, variables.attack_range_05, variables.attack_size_05, variables.attack_damage_05, variables.attack_load_05, variables.attack_qualities_05, variables.attack_burst_05, variables.attack_mode_05) }}
                        {{ _self.genAttack("06", variables.attack_name_06, variables.attack_range_06, variables.attack_size_06, variables.attack_damage_06, variables.attack_load_06, variables.attack_qualities_06, variables.attack_burst_06, variables.attack_mode_06) }}
                        {{ _self.genAttack("07", variables.attack_name_07, variables.attack_range_07, variables.attack_size_07, variables.attack_damage_07, variables.attack_load_07, variables.attack_qualities_07, variables.attack_burst_07, variables.attack_mode_07) }}
                        {{ _self.genAttack("08", variables.attack_name_08, variables.attack_range_08, variables.attack_size_08, variables.attack_damage_08, variables.attack_load_08, variables.attack_qualities_08, variables.attack_burst_08, variables.attack_mode_08) }}
                        {{ _self.genAttack("09", variables.attack_name_09, variables.attack_range_09, variables.attack_size_09, variables.attack_damage_09, variables.attack_load_09, variables.attack_qualities_09, variables.attack_burst_09, variables.attack_mode_09) }}
                        {{ _self.genAttack("10", variables.attack_name_10, variables.attack_range_10, variables.attack_size_10, variables.attack_damage_10, variables.attack_load_10, variables.attack_qualities_10, variables.attack_burst_10, variables.attack_mode_10) }}
                    </table>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">EQUIPMENT <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBelongings" aria-expanded="true" aria-controls="collapseBelongings"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseBelongings" aria-labelledby="headingBelongings">
                    Money: <strong>{{ variables.money is defined ? variables.money }}</strong><br>
                    {{ variables.equipment is defined ? variables.equipment|nl2br }}
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">NOTES <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="true" aria-controls="collapseNotes"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseNotes" aria-labelledby="headingNotes">
                    {{ variables.notes is defined ? variables.notes|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2">
                <div class="card-header head-bar">ATTRIBUTES &amp; SKILLS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="true" aria-controls="collapseSkills"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseSkills" aria-labelledby="headingSkills">
                    <table width="100%">
                        {{ _self.genSkill("ATT", '', '', '', '', 'Agility', variables.agility) }}
                        {{ _self.genSkill("01", variables.skill_name_01, variables.skill_sig_01, variables.skill_exp_01, variables.skill_foc_01, 'Acrobatics', variables.agility) }}
                        {{ _self.genSkill("02", variables.skill_name_02, variables.skill_sig_02, variables.skill_exp_02, variables.skill_foc_02, 'Close Combat', variables.agility) }}
                        {{ _self.genSkill("03", variables.skill_name_03, variables.skill_sig_03, variables.skill_exp_03, variables.skill_foc_03, 'Stealth', variables.agility) }}
                        {{ _self.genSkill("ATT", '', '', '', '', 'Awareness', variables.awareness) }}
                        {{ _self.genSkill("04", variables.skill_name_04, variables.skill_sig_04, variables.skill_exp_04, variables.skill_foc_04, 'Analysis', variables.awareness) }}
                        {{ _self.genSkill("05", variables.skill_name_05, variables.skill_sig_05, variables.skill_exp_05, variables.skill_foc_05, 'Extraplanetary', variables.awareness) }}
                        {{ _self.genSkill("06", variables.skill_name_06, variables.skill_sig_06, variables.skill_exp_06, variables.skill_foc_06, 'Observation', variables.awareness) }}
                        {{ _self.genSkill("07", variables.skill_name_07, variables.skill_sig_07, variables.skill_exp_07, variables.skill_foc_07, 'Survial', variables.awareness) }}
                        {{ _self.genSkill("08", variables.skill_name_08, variables.skill_sig_08, variables.skill_exp_08, variables.skill_foc_08, 'Thievery', variables.awareness) }}
                        {{ _self.genSkill("ATT", '', '', '', '', 'Brawn', variables.brawn) }}
                        {{ _self.genSkill("09", variables.skill_name_09, variables.skill_sig_09, variables.skill_exp_09, variables.skill_foc_09, 'Athletics', variables.brawn) }}
                        {{ _self.genSkill("10", variables.skill_name_10, variables.skill_sig_10, variables.skill_exp_10, variables.skill_foc_10, 'Resistance', variables.brawn) }}
                        {{ _self.genSkill("ATT", '', '', '', '', 'Coordination', variables.coordination) }}
                        {{ _self.genSkill("11", variables.skill_name_11, variables.skill_sig_11, variables.skill_exp_11, variables.skill_foc_11, 'Ballistics', variables.coordination) }}
                        {{ _self.genSkill("12", variables.skill_name_12, variables.skill_sig_12, variables.skill_exp_12, variables.skill_foc_12, 'Pilot', variables.coordination) }}
                        {{ _self.genSkill("13", variables.skill_name_13, variables.skill_sig_13, variables.skill_exp_13, variables.skill_foc_13, 'Spacecraft', variables.coordination) }}
                        {{ _self.genSkill("ATT", '', '', '', '', 'Intelligence', variables.intelligence) }}
                        {{ _self.genSkill("14", variables.skill_name_14, variables.skill_sig_14, variables.skill_exp_14, variables.skill_foc_14, 'Education', variables.intelligence) }}
                        {{ _self.genSkill("15", variables.skill_name_15, variables.skill_sig_15, variables.skill_exp_15, variables.skill_foc_15, 'Hacking', variables.intelligence) }}
                        {{ _self.genSkill("16", variables.skill_name_16, variables.skill_sig_16, variables.skill_exp_16, variables.skill_foc_16, 'Medicine', variables.intelligence) }}
                        {{ _self.genSkill("17", variables.skill_name_17, variables.skill_sig_17, variables.skill_exp_17, variables.skill_foc_17, 'Psychology', variables.intelligence) }}
                        {{ _self.genSkill("18", variables.skill_name_18, variables.skill_sig_18, variables.skill_exp_18, variables.skill_foc_18, 'Science', variables.intelligence) }}
                        {{ _self.genSkill("19", variables.skill_name_19, variables.skill_sig_19, variables.skill_exp_19, variables.skill_foc_19, 'Tech', variables.intelligence) }}
                        {{ _self.genSkill("ATT", '', '', '', '', 'Personality', variables.personality) }}
                        {{ _self.genSkill("20", variables.skill_name_20, variables.skill_sig_20, variables.skill_exp_20, variables.skill_foc_20, 'Animal Handling', variables.personality) }}
                        {{ _self.genSkill("21", variables.skill_name_21, variables.skill_sig_21, variables.skill_exp_21, variables.skill_foc_21, 'Command', variables.personality) }}
                        {{ _self.genSkill("22", variables.skill_name_22, variables.skill_sig_22, variables.skill_exp_22, variables.skill_foc_22, 'Lifestyle', variables.personality) }}
                        {{ _self.genSkill("23", variables.skill_name_23, variables.skill_sig_23, variables.skill_exp_23, variables.skill_foc_23, 'Persuade', variables.personality) }}
                        {{ _self.genSkill("ATT", '', '', '', '', 'Willpower', variables.willpower) }}
                        {{ _self.genSkill("24", variables.skill_name_24, variables.skill_sig_24, variables.skill_exp_24, variables.skill_foc_24, 'Discipline', variables.willpower) }}
                    </table>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar">TALENTS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTalents" aria-expanded="true" aria-controls="collapseTalents"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseTalents" aria-labelledby="headingTalents">
                    <table width="100%">
                        {{ _self.genTalent("01", variables.talent_name_01, variables.talent_source_01, variables.talent_skill_01, variables.talent_rank_01, variables.talent_effect_01) }}
                        {{ _self.genTalent("02", variables.talent_name_02, variables.talent_source_02, variables.talent_skill_02, variables.talent_rank_02, variables.talent_effect_02) }}
                        {{ _self.genTalent("03", variables.talent_name_03, variables.talent_source_03, variables.talent_skill_03, variables.talent_rank_03, variables.talent_effect_03) }}
                        {{ _self.genTalent("04", variables.talent_name_04, variables.talent_source_04, variables.talent_skill_04, variables.talent_rank_04, variables.talent_effect_04) }}
                        {{ _self.genTalent("05", variables.talent_name_05, variables.talent_source_05, variables.talent_skill_05, variables.talent_rank_05, variables.talent_effect_05) }}
                        {{ _self.genTalent("06", variables.talent_name_06, variables.talent_source_06, variables.talent_skill_06, variables.talent_rank_06, variables.talent_effect_06) }}
                        {{ _self.genTalent("07", variables.talent_name_07, variables.talent_source_07, variables.talent_skill_07, variables.talent_rank_07, variables.talent_effect_07) }}
                        {{ _self.genTalent("08", variables.talent_name_08, variables.talent_source_08, variables.talent_skill_08, variables.talent_rank_08, variables.talent_effect_08) }}
                        {{ _self.genTalent("09", variables.talent_name_09, variables.talent_source_09, variables.talent_skill_09, variables.talent_rank_09, variables.talent_effect_09) }}
                        {{ _self.genTalent("10", variables.talent_name_10, variables.talent_source_10, variables.talent_skill_10, variables.talent_rank_10, variables.talent_effect_10) }}
                        {{ _self.genTalent("11", variables.talent_name_11, variables.talent_source_11, variables.talent_skill_11, variables.talent_rank_11, variables.talent_effect_11) }}
                        {{ _self.genTalent("12", variables.talent_name_12, variables.talent_source_12, variables.talent_skill_12, variables.talent_rank_12, variables.talent_effect_12) }}
                        {{ _self.genTalent("13", variables.talent_name_13, variables.talent_source_13, variables.talent_skill_13, variables.talent_rank_13, variables.talent_effect_13) }}
                        {{ _self.genTalent("14", variables.talent_name_14, variables.talent_source_14, variables.talent_skill_14, variables.talent_rank_14, variables.talent_effect_14) }}
                        {{ _self.genTalent("15", variables.talent_name_15, variables.talent_source_15, variables.talent_skill_15, variables.talent_rank_15, variables.talent_effect_15) }}
                        {{ _self.genTalent("16", variables.talent_name_16, variables.talent_source_16, variables.talent_skill_16, variables.talent_rank_16, variables.talent_effect_16) }}
                        {{ _self.genTalent("17", variables.talent_name_17, variables.talent_source_17, variables.talent_skill_17, variables.talent_rank_17, variables.talent_effect_17) }}
                        {{ _self.genTalent("18", variables.talent_name_18, variables.talent_source_18, variables.talent_skill_18, variables.talent_rank_18, variables.talent_effect_18) }}
                        {{ _self.genTalent("19", variables.talent_name_19, variables.talent_source_19, variables.talent_skill_19, variables.talent_rank_19, variables.talent_effect_19) }}
                        {{ _self.genTalent("20", variables.talent_name_20, variables.talent_source_20, variables.talent_skill_20, variables.talent_rank_20, variables.talent_effect_20) }}
                    </table>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">TRAITS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTraits" aria-expanded="true" aria-controls="collapseTraits"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseTraits" aria-labelledby="headingTraits">
                    <table width="100%">{% if variables.trait_01 is defined and variables.trait_01 != '' %}
                    <tr><td class="txt l">{{variables.trait_01}}</td></tr>
                    {% endif %}</table>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">GEIST <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseGeist" aria-expanded="true" aria-controls="collapseGeist"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseGeist" aria-labelledby="headingGeist">
                    <table width="100%">
                        <tr>
                            <th class="att c" colspan=7>ATTRIBUTES</th>
                        </tr>
                        <tr>
                            <th class="hdr c">AGI</th>
                            <th class="hdr c">AWA</th>
                            <th class="hdr c">BRW</th>
                            <th class="hdr c">COO</th>
                            <th class="hdr c">INT</th>
                            <th class="hdr c">PER</th>
                            <th class="hdr c">WIL</th>
                        </tr>
                        <tr>
                            <td class="txt c">{{ variables.geist_agi ?? 0 }}</td>
                            <td class="txt c">{{ variables.geist_awa ?? 0 }}</td>
                            <td class="txt c">{{ variables.geist_brw ?? 0 }}</td>
                            <td class="txt c">{{ variables.geist_coo ?? 0 }}</td>
                            <td class="txt c">{{ variables.geist_int ?? 0 }}</td>
                            <td class="txt c">{{ variables.geist_per ?? 0 }}</td>
                            <td class="txt c">{{ variables.geist_wil ?? 0 }}</td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <th class="att c" colspan=4>DEFENSES</th>
                        </tr>
                        <tr>
                            <th class="hdr c">VIGOUR</th>
                            <th class="hdr c">FIREWALL</th>
                            <th class="hdr c">RESOLVE</th>
                            <th class="hdr c">SOAK</th>
                        </tr>
                        <tr>
                            <td class="txt c">{{ variables.geist_def_vigour ?? 0 }}</td>
                            <td class="txt c">{{ variables.geist_def_firewall ?? 0 }}</td>
                            <td class="txt c">{{ variables.geist_def_resolve ?? 0 }}</td>
                            <td class="txt c">{{ variables.geist_def_soak ?? 0 }}</td>
                        </tr>
                        <tr>
                            <th class="att c" colspan=4>SKILLS</th>
                        </tr>
                        <tr>
                            <td class="txt c" colspan=4>{{ variables.geist_skills|nl2br }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">HOST <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseHost" aria-expanded="true" aria-controls="collapseHost"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseHost" aria-labelledby="headingHost">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">AGI</th>
                            <th class="hdr c">AWA</th>
                            <th class="hdr c">BRW</th>
                            <th class="hdr c">COO</th>
                            <th class="hdr c">INT</th>
                            <th class="hdr c">PER</th>
                            <th class="hdr c">WIL</th>
                        </tr>
                        <tr>
                            <td class="txt c">{{ variables.host_agi ?? 0 }}</td>
                            <td class="txt c">{{ variables.host_awa ?? 0 }}</td>
                            <td class="txt c">{{ variables.host_brw ?? 0 }}</td>
                            <td class="txt c">{{ variables.host_coo ?? 0 }}</td>
                            <td class="txt c">{{ variables.host_int ?? 0 }}</td>
                            <td class="txt c">{{ variables.host_per ?? 0 }}</td>
                            <td class="txt c">{{ variables.host_wil ?? 0 }}</td>
                        </tr>{% if variables.host_attributes is defined and variables.host_attributes != '' %}
                        <tr>
                            <th class="att c" colspan=7>HOST ATTRIBUTES</th>
                        </tr>
                        <tr>
                            <td class="txt c" colspan=7>{{ variables.host_attributes|nl2br }}</td>
                        </tr>{% endif %}
                    </table>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">FACTION HANDLER <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFaction" aria-expanded="true" aria-controls="collapseFaction"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseFaction" aria-labelledby="headingFaction">
                    <table width="100%">
                        <tr>
                            <th class="hdr l" width="30%">Identity</th><td class="txt l">{{ variables.fh_identity ?? '-' }}</td>
                        </tr><tr>
                            <th class="hdr l">Faction</th><td class="txt l">{{ variables.fh_faction ?? '-' }}</td>
                        </tr><tr>
                            <th class="hdr l">Current Faction Goal</th><td class="txt l">{{ variables.fh_goal ?? '-' }}</td>
                        </tr><tr>
                            <th class="hdr l">Contact Protocol</th><td class="txt l">{{ variables.fh_contact_protocol ?? '-' }}</td>
                        </tr>{% if variables.fh_notes is defined and variables.fh_notes != '' %}<tr>
                            <th class="att c" colspan=2>Notes</th>
                        </tr>
                        <tr><td class="txt c" colspan=2>
                        {{ variables.fh_notes|nl2br }}
                        </td></tr>{% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <small>
                INFINITY is © Corvus Belli S.L.L. 2018<br><a href="/w/sheet-creation/a/sheet-list">Infinity Character Sheet v1.2</a>, made by Tillerz#3807 for Modiphius - 2022-06-02
            </small>
        </div>
    </div>
</div>