<section class="infinity-sheet">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card my-2 of">
                        <div class="card-body" >
                            <table width="100%" class="mt10">
                                <tr>
                                    <th class="hdr c">Infinity Points</th>
                                    <th class="hdr c">Refresh</th>
                                    <th class="hdr c">Reaction Tracker</th>
                                    <th class="hdr c">XP total</th>
                                </tr>
                                <tr>
                                    <td class="num c"><input value="{{ variables.infinity_points is defined ? variables.infinity_points }}" class="form-control" id="infinity_points" name="infinity_points" type="number" min=0 max=5 /></td>
                                    <td class="num c"><input value="{{ variables.refresh is defined ? variables.refresh }}" class="form-control" id="refresh" name="refresh"  type="number" min=2 max=4 /></td>
                                    <td class="num c"><input value="{{ variables.reaction_tracker is defined ? variables.reaction_tracker }}" class="form-control" id="reaction_tracker" name="reaction_tracker" type="number" min=0 max=5 /></td>
                                    <td class="num c"><input value="{{ variables.xp_total is defined ? variables.xp_total }}" class="form-control" id="xp_total" name="xp_total"  type="number" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card my-2">
                        <div class="card-header head-bar">NOTES </div>
                        <div class="card-body pd10" >
                            <textarea class="form-control" id="notes" name="notes" rows="8" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card my-2">
                        <div class="card-body od">
                            <table width="100%">
{% set infowar_max = variables.intelligence + variables.skill_exp_15 %} {# hacking #}
{% set mental_max = variables.willpower + variables.skill_exp_24 %} {# discipline #}
{% set vigour_max = variables.brawn + variables.skill_exp_10 %} {# resistance #}
{% set breaches = 0 %}{% if variables.breaches is defined %}{% set braches = variables.breaches %}{% endif %}
{% set wounds = 0 %}{% if variables.wounds is defined %}{% set wounds = variables.wounds %}{% endif %}
{% set trauma = 0 %}{% if variables.trauma is defined %}{% set trauma = variables.trauma %}{% endif %}
                                <tr><td class="att c" colspan=2>Firewall</td></tr>
                                <tr><td class="hdr c">Infowar</td><td class="num"><input value="{{ variables.infowar is defined ? variables.infowar }}" class="form-control r wp50" id="infowar" name="infowar" type="number" /> / {{infowar_max}}</td></tr>
                                <tr><td class="lbl c red">Breaches</td><td class="num red"><input value="{{ variables.breaches is defined ? variables.breaches }}" class="form-control r wp50" id="breaches" name="breaches" type="number" /></td></tr>
                                <tr><td class="att c" colspan=2>Resolve</td></tr>
                                <tr><td class="hdr c">Mental</td><td class="num"><input value="{{ variables.mental is defined ? variables.mental }}" class="form-control r wp50" id="mental" name="mental" type="number" /> / {{mental_max}}</td></tr>
                                <tr><td class="lbl c red">Trauma</td><td class="num red"><input value="{{ variables.trauma is defined ? variables.trauma }}" class="form-control r wp50" id="trauma" name="trauma" type="number" /></td></tr>
                                <tr><td class="att c" colspan=2>Physical</td></tr>
                                <tr><td class="hdr c">Vigour</td><td class="num"><input value="{{ variables.vigour is defined ? variables.vigour }}" class="form-control r wp50" id="vigour" name="vigour" type="number" /> / {{vigour_max}}</td></tr>
                                <tr><td class="lbl c red">Wounds</td><td class="num red"><input value="{{ variables.wounds is defined ? variables.wounds }}" class="form-control r wp50" id="wounds" name="wounds" type="number" /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>