{% set style = variables.style|default('light') %}
<div class="container-fluid sheet-basic-roleplaying-{{style}}">
  <div class="row">
    <div class="col-12 c">
        <b>{{variables.name|default}}</b>{% if variables.species|default != "" %}, {{variables.species|default}}{% endif %}
        {% if variables.culture|default != "" %}<br>{{variables.culture|default}}{% endif %}
        {% if variables.profession|default != "" %}<br>{{variables.profession|default}}{% endif %}
      </div>
  </div>
</div>