{% import _self as sheet %}
{% set skill_list = [
    [ "skill01", "Communication", "-", "c", "-", "-" ],
    [ "skill02", "Bargain", "05", "s", "+", "Communication"],
    [ "skill03", "Command", "05", "s", "+", "Communication"],
    [ "skill04", "Disguise", "01", "s", "+", "Communication"],
    [ "skill05", "Etiquette", "05", "s", "+", "Communication"],
    [ "skill06", "Fast Talk", "05", "s", "+", "Communication"],
    [ "skill07", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill08", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill09", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill10", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill11", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill12", "Perform", "05", "s", "+", "Communication"],
    [ "skill13", "Persuade", "15", "s", "+", "Communication"],
    [ "skill14", "Status", "15 or various", "s", "+", "Communication"],
    [ "skill15", "Teach", "10", "s", "+", "Communication"],
    [ "skill16", "Manipulation", "-", "c", "-", "-" ],
    [ "skill17", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill18", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill19", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill20", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill21", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill22", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill23", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill24", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill25", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill26", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill27", "Demolition", "01", "s", "+", "Manipulation" ],
    [ "skill28", "Fine Manipulation", "05", "s", "+", "Manipulation" ],
    [ "skill29", "Heavy Machine:", "01", "s", "+", "Manipulation" ],
    [ "skill30", "Heavy Machine:", "01", "s", "+", "Manipulation" ],
    [ "skill31", "Repair:", "15", "s", "+", "Manipulation" ],
    [ "skill32", "Repair:", "15", "s", "+", "Manipulation" ],
    [ "skill33", "Sleight of Hand", "05", "s", "+", "Manipulation" ],
    [ "skill34", "Mental", "-", "c", "-", "-" ],
    [ "skill35", "Appraise", "15", "s", "+", "Mental" ],
    [ "skill36", "First Aid", "30", "s", "+", "Mental" ],
    [ "skill37", "Gaming", "INT + POW", "s", "+", "Mental" ],
    [ "skill38", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill39", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill40", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill41", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill42", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill43", "Literacy", "00 or language", "s", "+", "Mental" ],
    [ "skill44", "Medicine", "05", "s", "+", "Mental" ],
    [ "skill45", "Psychotherapy", "01 or 00", "s", "+", "Mental" ],
    [ "skill46", "Science:", "01", "s", "+", "Mental" ],
    [ "skill47", "Science:", "01", "s", "+", "Mental" ],
    [ "skill48", "Science:", "01", "s", "+", "Mental" ],
    [ "skill49", "Science:", "01", "s", "+", "Mental" ],
    [ "skill50", "Science:", "01", "s", "+", "Mental" ],
    [ "skill51", "Strategy", "01", "s", "+", "Mental" ],
    [ "skill52", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill53", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill54", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill55", "Perception", "-", "c", "-", "-" ],
    [ "skill56", "Insight", "05", "s", "+", "Perception" ],
    [ "skill57", "Listen", "25", "s", "+", "Perception" ],
    [ "skill58", "Navigate", "10", "s", "+", "Perception" ],
    [ "skill59", "Research", "25", "s", "+", "Perception" ],
    [ "skill60", "Sense", "10", "s", "+", "Perception" ],
    [ "skill61", "Spot", "25", "s", "+", "Perception" ],
    [ "skill62", "Track", "10", "s", "+", "Perception" ],
    [ "skill63", "Physical", "-", "c", "-", "-" ],
    [ "skill64", "Climb", "40", "s", "+", "Physical" ],
    [ "skill65", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill66", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill67", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill68", "Fly", "DEX x 04 or 1/2 DEX", "s", "+", "Physical" ],
    [ "skill69", "Hide", "10", "s", "+", "Physical" ],
    [ "skill70", "Jump", "25", "s", "+", "Physical" ],
    [ "skill71", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill72", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill73", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill74", "Projection", "DEX x 02", "s", "+", "Physical" ],
    [ "skill75", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill76", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill77", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill78", "Stealth", "10", "s", "+", "Physical" ],
    [ "skill79", "Swim", "25", "s", "+", "Physical" ],
    [ "skill80", "Throw", "25", "s", "+", "Physical" ],
    [ "skill81", "Combat", "-", "c", "-", "-" ],
    [ "skill82", "Dodge", "DEX x 02", "s", "+", "Combat" ],
    [ "skill83", "Martial Arts", "01", "s", "+", "Combat" ],
    [ "skill84", "-", "-", "s", "+" ],
    [ "skill85", "-", "-", "s", "+" ],
    [ "skill86", "-", "-", "s", "+" ],
    [ "skill87", "-", "-", "s", "+" ],
    [ "skill88", "-", "-", "s", "+" ],
    [ "skill89", "-", "-", "s", "+" ],
    [ "skill90", "-", "-", "s", "+" ],
    [ "skill91", "-", "-", "s", "+" ],
    [ "skill92", "-", "-", "s", "+" ],
    [ "skill93", "-", "-", "s", "+" ],
    [ "skill94", "-", "-", "s", "+" ],
    [ "skill95", "-", "-", "s", "+" ],
    [ "skill96", "-", "-", "s", "+" ]
] %}
{% set effort = variables.effort|default %}{% if effort == '' %}{% set effort = variables.str|default * 5 %}{% endif %}
{% set stamina = variables.stamina|default %}{% if stamina == '' %}{% set stamina = variables.con|default * 5 %}{% endif %}
{% set damage_modifier = '?' %}
{% set idea = variables.idea|default %}{% if idea == '' %}{% set idea = variables.int|default * 5 %}{% endif %}
{% set luck = variables.luck|default %}{% if luck == '' %}{% set luck = variables.pow|default * 5 %}{% endif %}
{% set agility = variables.agility|default %}{% if agility == '' %}{% set agility = variables.dex|default * 5 %}{% endif %}
{% set charm = variables.charm|default %}{% if charm == '' %}{% set charm = variables.cha|default * 5 %}{% endif %}
{% set knowledge = variables.knowledge|default %}{% if knowledge == '' %}{% set knowledge = variables.edu|default * 5 %}{% endif %}
<div class="container-fluid sheet-basic-roleplaying">
  <div class="row">
    <div class="col-12"><button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapsePersonal" href="#collapsePersonal" role="button" aria-expanded="true" aria-controls="collapsePersonal"><em class="fas fa-angle-down"></em></button>
    </div>
  </div>
  <div class="row collapse show" id="collapsePersonal">
    {% set wd = 12 %}{% if variables.portrait|default > 0 %}{% set wd = 8 %}{% endif %}
    <div class="col-12 col-md-{{wd}}">
      <div class="card personal" id="card-personal">
        <div class="card-header personal">Personal</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='lbl od lbl-name' width='30%'> Name </th><td class='var od var-name'> {{variables.name|default}} </td></tr>
                <tr><th class='lbl ev lbl-culture'> Culture </th><td class='var ev var-culture'> {{variables.culture|default}} </td></tr>
                <tr><th class='lbl od lbl-gender'> Gender </th><td class='var od var-gender'> {{variables.gender|default}} </td></tr>
                <tr><th class='lbl ev lbl-handedness'> Handedness </th><td class='var ev var-handedness'> {{variables.handedness|default}} </td></tr>
                <tr><th class='lbl od lbl-height'> Height </th><td class='var od var-height'> {{variables.height|default}} </td></tr>
                <tr><th class='lbl ev lbl-weight'> Weight </th><td class='var ev var-weight'> {{variables.weight|default}} </td></tr>
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='lbl od lbl-profession'> Profession </th><td class='var od var-profession'> {{variables.profession|default}} </td></tr>
                <tr><th class='lbl ev lbl-wealth'> Wealth </th><td class='var ev var-wealth'> {{variables.wealth|default}} </td></tr>
                <tr><th class='lbl od lbl-gods-religion'> Gods / Religion </th><td class='var od var-gods-religion'> {{variables.gods_religion|default}} </td></tr>
                <tr><th class='lbl ev lbl-move'> Movement (MOV) </th><td class='var ev var-move c'>{{variables.move|default}}</td></tr>
                <tr><th class='lbl od lbl-age'> Age </th><td class='var od var-age c'>{{variables.age|default}}</td></tr>
                <tr><th class='lbl ev lbl-player'> Player </th><td class='var ev var-player'> {{variables.player|default}} </td></tr>
              </table>
            </div>
          </div>
          <table class='table'>
            <tr><th class='lbl od lbl-distinctive-features' width='30%'> Distinctive Features </th><td class='var od var-distinctive-features'> {{variables.distinctive_features|default}} </td></tr>
            <tr><th class='lbl ev lbl-description'> Description </th><td class='var ev var-description'> {{variables.description|default|nl2br}} </td></tr>
          </table>
        </div>
      </div>
    </div>
    {% if variables.portrait|default > 0 %}
    <div class="col-12 col-md-4">
      <div class="card portrait" id="card-portrait">
        <div class="card-header portrait">Portrait</div>
        <div class="card-body c">
            [img:{{variables.portrait|default}}]
        </div>
      </div>
    </div>
  </div>
  {% endif%}
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card characteristics" id="card-characteristics">
        <div class="card-header characteristics">Characteristics</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th width='90px' class='lbl od lbl-str' title='Strength'> STR </th><td width='60px' class='var od var-str c' title='Strength'>{{variables.str|default}}</td>
              <th class='lbl ev lbl-effort'> Effort Roll </th><td width='70px' class='var ev var-effort c'>{{effort|default}}</td>
            </tr>
            <tr>
              <th class='lbl od lbl-con' title='Constitution'> CON </th><td class='var od var-con c' title='Constitution'>{{variables.con|default}}</td>
              <th class='lbl ev lbl-stamina'> Stamina Roll </th><td class='var ev var-stamina c'>{{stamina|default}}</td>
            </tr>
            <tr>
              <th class='lbl od lbl-siz' title='Size'> SIZ </th><td class='var od var-siz c' title='Size'>{{variables.siz|default}}</td>
              <th class='lbl ev lbl-damage-modifier' title='STR + SIZ, result see table page 20'> Damage Modifier </th><td class='var ev var-damage-modifier c' title='STR + SIZ, result see table page 20'>{{damage_modifier|default}}</td>
            </tr>
            <tr>
              <th class='lbl od lbl-int' title='Intelligence'> INT </th><td class='var od var-int c' title='Intelligence'>{{variables.int|default}}</td>
              <th class='lbl ev lbl-idea'> Idea Roll </th><td class='var ev var-idea c'>{{idea|default}}</td>
            </tr>
            <tr>
              <th class='lbl od lbl-pow' title='Power'> POW <span class='var od var-pow-mark float-right' title='checked'>{% if variables.pow_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</span></th><td class='var od var-pow c' title='Power'>{{variables.pow|default}}</td>
              <th class='lbl ev lbl-luck'> Luck </th><td class='var ev var-luck c'>{{luck|default}}</td>
            </tr>
            <tr>
              <th class='lbl od lbl-dex' title='Dexterity'> DEX </th><td class='var od var-dex c' title='Dexterity'>{{variables.dex|default}}</td>
              <th class='lbl ev lbl-agility'> Agility Roll </th><td class='var ev var-agility c'>{{agility|default}}</td>
            </tr>
            <tr>
              <th class='lbl od lbl-cha' title='Charisma'> CHA </th><td class='var od var-cha c' title='Charisma'>{{variables.cha|default}}</td>
              <th class='lbl ev lbl-charm'> Charm Roll </th><td class='var ev var-charm c'>{{charm|default}}</td>
            </tr>
            <tr>
              <th class='lbl od lbl-edu' title='Education'> EDU </th><td class='var od var-edu c' title='Education'>{{variables.edu|default}}</td>
              <th class='lbl ev lbl-knowledge'> Knowledge Roll </th><td class='var ev var-knowledge c'>{{knowledge|default}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card hit points" id="card-hit points">
            <div class="card-header hit points">Hit Points</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='lbl od lbl-major-wound' width='30%'> Major Wound </th><td class='var od var-major-wound'> {{variables.major_wound|default}} </td></tr>
                <tr><th class='lbl ev lbl-dead'> Dead </th><td class='var ev var-dead'> {{variables.dead|default}} </td></tr>
                <tr><th class='lbl od lbl-hit-points-current'> HP Current </th><td class='var od var-hit-points-current c'>{{variables.hit_points_current|default}}</td></tr>
                <tr><th class='lbl ev lbl-hit-points-max'> HP Max </th><td class='var ev var-hit-points-max c'>{{variables.hit_points_max|default}}</td></tr>
                <tr><th class='lbl od lbl-hit-points-notes'> Notes </th><td class='var od var-hit-points-notes'> {{variables.hit_points_notes|default}} </td></tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card sanity points" id="card-sanity points">
            <div class="card-header sanity points">Sanity Points</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='lbl od lbl-sanity-points-current' width='30%'> Current </th><td class='var od var-sanity-points-current c'>{{variables.sanity_points_current|default}}</td></tr>
                <tr><th class='lbl ev lbl-sanity-points-max'> Max </th><td class='var ev var-sanity-points-max c'>{{variables.sanity_points_max|default}}</td></tr>
                <tr><th class='lbl od lbl-sanity-points-temporary'> Temporary </th><td class='var od var-sanity-points-temporary c'>{{variables.sanity_points_temporary|default}}</td></tr>
                <tr><th class='lbl ev lbl-sanity-points-notes' width='25%'> Notes </th><td class='var ev var-sanity-points-notes'> {{variables.sanity_points_notes|default}} </td></tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card fatigue points" id="card-fatigue points">
            <div class="card-header fatigue points">Fatigue Points</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='lbl od lbl-fatigue-points-current' width='30%'> Current </th><td class='var od var-fatigue-points-current c'>{{variables.fatigue_points_current|default}}</td></tr>
                <tr><th class='lbl ev lbl-fatigue-points-max'> Max </th><td class='var ev var-fatigue-points-max c'>{{variables.fatigue_points_max|default}}</td></tr>
                <tr><th class='lbl od lbl-fatigue-notes' width='25%'> Notes </th><td class='var od var-fatigue-notes'> {{variables.fatigue_notes|default}} </td></tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card power points" id="card-power points">
            <div class="card-header power points">Power Points</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='lbl od lbl-power-points-current' width='30%'> Current </th><td class='var od var-power-points-current c'>{{variables.power_points_current|default}}</td></tr>
                <tr><th class='lbl ev lbl-power-points-max'> Max </th><td class='var ev var-power-points-max c'>{{variables.power_points_max|default}}</td></tr>
                <tr><th class='lbl od lbl-battery'> Battery </th><td class='var od var-battery'> {{variables.battery|default}} </td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card skills" id="card-skills">
        <div class="card-header skills">Skills</div>
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-4">
              <table class='table'>
              <tr>
                <th class='lbl od lbl-skill-name'> Name </th>
                <th class='lbl od lbl-skill-value c' width='60px'> % </th>
                <th class='lbl od lbl-skill-mark c' width='40px'> C </th>
              </tr>
              {% for i in 1..32 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                <td class='var {{eo}} var-skill-name' title='Skill Name'> {{attribute(variables, 'skill_name_' ~ id)|default}} </td><td class='var {{eo}} var-skill-value c' title='Skill Value'>{{attribute(variables, 'skill_value_' ~ id)|default}}</td><td class='var {{eo}} var-skill-mark c' title='checked'>{% if attribute(variables, 'skill_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
              </tr>
              {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-4">
              <table class='table'>
                <tr>
                  <th class='lbl od lbl-skill-name'> Name </th>
                  <th class='lbl od lbl-skill-value c' width='60px'> % </th>
                  <th class='lbl od lbl-skill-mark c' width='40px'> C </th>
                </tr>
                {% for i in 33..64 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                <tr>
                  <td class='var {{eo}} var-skill-name' title='Skill Name'> {{attribute(variables, 'skill_name_' ~ id)|default}} </td><td class='var {{eo}} var-skill-value c' title='Skill Value'>{{attribute(variables, 'skill_value_' ~ id)|default}}</td><td class='var {{eo}} var-skill-mark c' title='checked'>{% if attribute(variables, 'skill_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-4">
              <table class='table'>
                <tr>
                  <th class='lbl od lbl-skill-name'> Name </th>
                  <th class='lbl od lbl-skill-value c' width='60px'> % </th>
                  <th class='lbl od lbl-skill-mark c' width='40px'> C </th>
                </tr>
                {% for i in 65..96 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                <tr>
                  <td class='var {{eo}} var-skill-name' title='Skill Name'> {{attribute(variables, 'skill_name_' ~ id)|default}} </td><td class='var {{eo}} var-skill-value c' title='Skill Value'>{{attribute(variables, 'skill_value_' ~ id)|default}}</td><td class='var {{eo}} var-skill-mark c' title='checked'>{% if attribute(variables, 'skill_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                </tr>
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card weapons" id="card-weapons">
        <div class="card-header weapons">Weapons</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='lbl od lbl-weapon-type' width='25%'> Type </th>
              <th class='lbl od lbl-weapon-value c' width='60px'> % </th>
              <th class='lbl od lbl-weapon-damage' width='25%'> Damage </th>
              <th class='lbl od lbl-weapon-range c'> Range </th>
              <th class='lbl od lbl-weapon-attacks c' width='60px'> Attacks </th>
              <th class='lbl od lbl-weapon-length c' width='80px'> Length </th>
              <th class='lbl od lbl-weapon-hand c' width='40px'> Hand </th>
              <th class='lbl od lbl-weapon-hp c' width='60px'> HP </th>
              <th class='lbl od lbl-weapon-mark c' width='40px'> C </th>
            </tr>
            {% for i in 1..8 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'weapon_type_' ~ id)|default %}
              {% if name != "" %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='var {{eo}} var-weapon-type' title='Weapon Name'> {{name}} </td>
              <td class='var {{eo}} var-weapon-value c' title='Weapon Skill Value'>{{attribute(variables, 'weapon_value_' ~ id)|default}}</td>
              <td class='var {{eo}} var-weapon-damage'> {{attribute(variables, 'weapon_damage_' ~ id)|default}} </td>
              <td class='var {{eo}} var-weapon-range c'> {{attribute(variables, 'weapon_range_' ~ id)|default}} </td>
              <td class='var {{eo}} var-weapon-attacks c'>{{attribute(variables, 'weapon_attacks_' ~ id)|default}}</td>
              <td class='var {{eo}} var-weapon-length c'> {{attribute(variables, 'weapon_length_' ~ id)|default}} </td>
              <td class='var {{eo}} var-weapon-hand c'> {{attribute(variables, 'weapon_hand_' ~ id)|default}} </td>
              <td class='var {{eo}} var-weapon-hp c'> {{attribute(variables, 'weapon_hp_' ~ id)|default}} </td>
              <td class='var {{eo}} var-weapon-mark c' title='checked'>{% if attribute(variables, 'weapon_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
            </tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card armor" id="card-armor">
        <div class="card-header armor">Armor</div>
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-4">
              <table class='table'>
                <tr>
                  <th class='lbl od lbl-armor-type'> Type </th>
                  <th class='lbl od lbl-armor-value c' width='60px'> % </th>
                </tr>
                {% for i in 1..2 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'armor_type_' ~ id)|default %}
                  {% if name != ""%}
                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                <tr>
                  <td class='var {{eo}} var-armor-type' title='Armor Name'> {{name}} </td><td class='var {{eo}} var-armor-value c' title='Armor Value'>{{attribute(variables, 'armor_value_' ~ id)|default}}</td>
                </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-8">
              <table class='table'>
                <tr>
                  <th class='lbl od lbl-shield-type' width='25%'> Shield Type </th>
                  <th class='lbl od lbl-shiele-value c' width='60px'> % </th>
                  <th class='lbl od lbl-shield-damage' width='25%'> Damage </th>
                  <th class='lbl od lbl-shield-hp c' width='60px'> HP </th>
                  <th class='lbl od lbl-shield-mark c' width='40px'> C </th>
                </tr><tr>
                  <td class='var {{eo}} var-shield-type'> {{variables.shield_type|default}} </td>
                  <td class='var {{eo}} var-shiele-value c' title='Shield Value'>{{variables.shiele_value|default}}</td>
                  <td class='var {{eo}} var-shield-damage'> {{variables.shield_damage|default}} </td>
                  <td class='var {{eo}} var-shield-hp c'> {{variables.shield_hp|default}} </td>
                  <td class='var {{eo}} var-shield-mark c' title='checked'>{% if variables.shield_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class='lbl od lbl-combat-notes'> Notes </div><div class='var od var-combat-notes'> {{variables.combat_notes|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card powers" id="card-powers">
        <div class="card-header powers">Powers</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='lbl od lbl-power-name' width='25%'> Power </th>
              <th class='lbl od lbl-power-type' width='100px'> Energy Type </th>
              <th class='lbl od lbl-power-levels-act c' width='60px'> Active Levels </th>
              <th class='lbl od lbl-power-levels-total c' width='60px'> Total Levels </th>
              <th class='lbl od lbl-power-range'> Range </th>
              <th class='lbl od lbl-power-cost c' width='60px'> Cost To Use </th>
              <th class='lbl od lbl-power-duration'> Duration </th>
              <th class='lbl od lbl-power-notes'> Notes </th>
              <th class='lbl od lbl-power-cp c' width='60px'> CP </th>
            </tr>
            {% for i in 1..8 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'power_name_' ~ id)|default %}
              {% if name != ""%}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='var {{eo}} var-power-name'> {{name}} </td><td class='var {{eo}} var-power-type'> {{attribute(variables, 'power_type_' ~ id)|default}} </td><td class='var {{eo}} var-power-levels-act c'>{{attribute(variables, 'power_levels_act_' ~ id)|default}}</td><td class='var {{eo}} var-power-levels-total c'>{{attribute(variables, 'power_levels_total_' ~ id)|default}}</td><td class='var {{eo}} var-power-range'> {{attribute(variables, 'power_range_' ~ id)|default}} </td><td class='var {{eo}} var-power-cost c'>{{attribute(variables, 'power_cost_' ~ id)|default}}</td><td class='var {{eo}} var-power-duration'> {{attribute(variables, 'power_duration_' ~ id)|default}} </td><td class='var {{eo}} var-power-notes'> {{attribute(variables, 'power_notes_' ~ id)|default}} </td><td class='var {{eo}} var-power-cp c' title='Character Points'>{{attribute(variables, 'power_cp_' ~ id)|default}}</td>
            </tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card attack powers" id="card-attack powers">
        <div class="card-header attack powers">Attack Powers</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='lbl od lbl-apower-name' width='25%'> Name </th>
              <th class='lbl od lbl-apower-value c' width='60px'> % </th>
              <th class='lbl od lbl-apower-damage' width='25%'> Damage </th>
              <th class='lbl od lbl-apower-range'> Range </th>
              <th class='lbl od lbl-apower-type'> Type </th>
              <th class='lbl od lbl-apower-cost c' width='60px'> Cost </th>
              <th class='lbl od lbl-apower-mark c' width='40px'> C </th>
            </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'apower_name_' ~ id)|default %}
              {% if name != ""%}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='var {{eo}} var-apower-name' title='Attack Power'> {{name}} </td><td class='var {{eo}} var-apower-value c' title='Attack Power Value'>{{attribute(variables, 'apower_value_' ~ id)|default}}</td><td class='var {{eo}} var-apower-damage'> {{attribute(variables, 'apower_damage_' ~ id)|default}} </td><td class='var {{eo}} var-apower-range'> {{attribute(variables, 'apower_range_' ~ id)|default}} </td><td class='var {{eo}} var-apower-type'> {{attribute(variables, 'apower_type_' ~ id)|default}} </td><td class='var {{eo}} var-apower-cost c'>{{attribute(variables, 'apower_cost_' ~ id)|default}}</td><td class='var {{eo}} var-apower-mark c' title='checked'>{% if attribute(variables, 'apower_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
            </tr>
              {% endif %}
            {% endfor %}
          </table>
          <table class='table'>
            <tr>
              <th class='lbl {{eo}} lbl-apower-projection' title='Projection (Dex x 02)'> Projection </th><td class='var {{eo}} var-apower-projection c' title='Projection (Dex x 02)'>{{variables.apower_projection|default}}</td><th class='lbl {{eo}} lbl-apower-projection-mark' width='40px' title='checked'> C </th><td class='var {{eo}} var-apower-projection-mark c' title='checked'>{% if variables.apower_projection_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td><th class='lbl {{eo}} lbl-apower-throw'> Throw </th><td class='var {{eo}} var-apower-throw c'>{{variables.apower_throw|default}}</td><th class='lbl {{eo}} lbl-apower-throw-mark' width='40px' title='checked'> C </th><td class='var {{eo}} var-apower-throw-mark c' title='checked'>{% if variables.apower_throw_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
            </tr>
          </table>
          <table class='table'>
            <tr>
              <th class='lbl {{eo}} lbl-apower-brawl'> Brawl </th><td class='var {{eo}} var-apower-brawl c'>{{variables.apower_brawl|default}}</td><th class='lbl {{eo}} lbl-apower-brawl-mark' width='40px' title='checked'> C </th><td class='var {{eo}} var-apower-brawl-mark c' title='checked'>{% if variables.apower_brawl_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td><th class='lbl {{eo}} lbl-apower-fly'> Fly </th><td class='var {{eo}} var-apower-fly c'>{{variables.apower_fly|default}}</td><th class='lbl {{eo}} lbl-apower-fly-mark' width='40px' title='checked'> C </th><td class='var {{eo}} var-apower-fly-mark c' title='checked'>{% if variables.apower_fly_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card defensive powers" id="card-defensive powers">
        <div class="card-header defensive powers">Defensive Powers</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='lbl od lbl-dpower-name' width='25%'> Power </th>
              <th class='lbl od lbl-dpower-type'> Energy Type </th>
              <th class='lbl od lbl-dpower-level' width='60px'> Level </th>
              <th class='lbl od lbl-dpower-value c' width='60px'> % </th>
              <th class='lbl od lbl-dpower-cost c' width='70px'> Energy Cost </th>
              </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'dpower_name_' ~ id)|default %}
              {% if name != ""%}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='var {{eo}} var-dpower-name' title='Defense Power'> {{name}} </td><td class='var {{eo}} var-dpower-type'> {{attribute(variables, 'dpower_type_' ~ id)|default}} </td><td class='var {{eo}} var-dpower-level'> {{attribute(variables, 'dpower_level_' ~ id)|default}} </td><td class='var {{eo}} var-dpower-value c' title='Defense Power Value'>{{attribute(variables, 'dpower_value_' ~ id)|default}}</td><td class='var {{eo}} var-dpower-cost c'>{{attribute(variables, 'dpower_cost_' ~ id)|default}}</td>
            </tr>
              {% endif %}
            {% endfor %}
          </table>
          <table class='table'>
            <tr>
              <th class='lbl {{eo}} lbl-dpower-defense'> Defense </th><td class='var {{eo}} var-dpower-defense c'>{{variables.dpower_defense|default}}</td><th class='lbl {{eo}} lbl-dpower-dodge' title='Dodge (DEX x 02)'> Dodge </th><td class='var {{eo}} var-dpower-dodge c' title='Dodge (DEX x 02)'>{{variables.dpower_dodge|default}}</td><th class='lbl {{eo}} lbl-dpower-dodge-mark' width='40px' title='checked'> C </th><td class='var {{eo}} var-dpower-dodge-mark c' title='checked'>{% if variables.dpower_dodge_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card character points" id="card-character points">
        <div class="card-header character points">Character Points</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='lbl {{eo}} lbl-campaign-power-level'> Campaign Power Level </th><td class='var {{eo}} var-campaign-power-level c'>{{variables.campaign_power_level|default}}</td><th class='lbl {{eo}} lbl-character-points'> Character Points </th><td class='var {{eo}} var-character-points c'>{{variables.character_points|default}}</td>
            </tr>
          </table>
          <table class='table'>
            <tr>
              <th class='lbl od lbl-character-failing-type'> Character Failings </th>
              <th class='lbl od lbl-character-failing-points c' width='60px'> Points </th>
            </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'character_failing_type_' ~ id)|default %}
              {% if name != ""%}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='var {{eo}} var-character-failing-type'> {{attribute(variables, 'character_failing_type_' ~ id)|default}} </td><td class='var {{eo}} var-character-failing-points c'>{{attribute(variables, 'character_failing_points_' ~ id)|default}}</td>
            </tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if variables.notes|default != "" %}
  <div class="row">
    <div class="col-12">
      <div class="card notes" id="card-notes">
        <div class="card-header notes">Notes</div>
        <div class="card-body of">
          <div class='var od var-notes'> {{variables.notes|default|nl2br}} </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>