{% import _self as sheet %}
{% set skill_count = 99 %}
{#
Dance
#}
{% set skill_list = [
    [ "skill001", "Communication", "-", "c", "-", "Communication" ],
    [ "skill002", "Bargain", "05", "s", "+", "Communication"],
    [ "skill003", "Command", "05", "s", "+", "Communication"],
    [ "skill004", "Disguise", "01", "s", "+", "Communication"],
    [ "skill005", "Etiquette", "05", "s", "+", "Communication"],
    [ "skill006", "Fast Talk", "05", "s", "+", "Communication"],
    [ "skill007", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill008", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill009", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill010", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill011", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill012", "Perform", "05", "s", "+", "Communication"],
    [ "skill013", "Persuade", "15", "s", "+", "Communication"],
    [ "skill014", "Status", "15 or various", "s", "+", "Communication"],
    [ "skill015", "Teach", "10", "s", "+", "Communication"],
    [ "skill016", "Manipulation", "-", "c", "-", "Manipulation" ],
    [ "skill017", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill018", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill019", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill020", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill021", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill022", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill023", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill024", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill025", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill026", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill027", "Demolition", "01", "s", "+", "Manipulation" ],
    [ "skill028", "Fine Manipulation", "05", "s", "+", "Manipulation" ],
    [ "skill029", "Heavy Machine:", "01", "s", "+", "Manipulation" ],
    [ "skill030", "Heavy Machine:", "01", "s", "+", "Manipulation" ],
    [ "skill031", "Repair:", "15", "s", "+", "Manipulation" ],
    [ "skill032", "Repair:", "15", "s", "+", "Manipulation" ],
    [ "skill033", "Sleight of Hand", "05", "s", "+", "Manipulation" ],
    [ "skill034", "Mental", "-", "c", "-", "Mental" ],
    [ "skill035", "Appraise", "15", "s", "+", "Mental" ],
    [ "skill036", "First Aid", "30", "s", "+", "Mental" ],
    [ "skill037", "Gaming", "INT + POW", "s", "+", "Mental" ],
    [ "skill038", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill039", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill040", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill041", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill042", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill043", "Literacy", "00 or language", "s", "+", "Mental" ],
    [ "skill044", "Medicine", "05", "s", "+", "Mental" ],
    [ "skill045", "Psychotherapy", "01 or 00", "s", "+", "Mental" ],
    [ "skill046", "Science:", "01", "s", "+", "Mental" ],
    [ "skill047", "Science:", "01", "s", "+", "Mental" ],
    [ "skill048", "Science:", "01", "s", "+", "Mental" ],
    [ "skill049", "Science:", "01", "s", "+", "Mental" ],
    [ "skill050", "Science:", "01", "s", "+", "Mental" ],
    [ "skill051", "Strategy", "01", "s", "+", "Mental" ],
    [ "skill052", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill053", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill054", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill055", "Perception", "-", "c", "-", "Perception" ],
    [ "skill056", "Insight", "05", "s", "+", "Perception" ],
    [ "skill057", "Listen", "25", "s", "+", "Perception" ],
    [ "skill058", "Navigate", "10", "s", "+", "Perception" ],
    [ "skill059", "Research", "25", "s", "+", "Perception" ],
    [ "skill060", "Sense", "10", "s", "+", "Perception" ],
    [ "skill061", "Spot", "25", "s", "+", "Perception" ],
    [ "skill062", "Track", "10", "s", "+", "Perception" ],
    [ "skill063", "Physical", "-", "c", "-", "Physical" ],
    [ "skill064", "Climb", "40", "s", "+", "Physical" ],
    [ "skill065", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill066", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill067", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill068", "Fly", "DEX x 04 or 1/2 DEX", "s", "+", "Physical" ],
    [ "skill069", "Hide", "10", "s", "+", "Physical" ],
    [ "skill070", "Jump", "25", "s", "+", "Physical" ],
    [ "skill071", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill072", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill073", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill074", "Projection", "DEX x 02", "s", "+", "Physical" ],
    [ "skill075", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill076", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill077", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill078", "Stealth", "10", "s", "+", "Physical" ],
    [ "skill079", "Swim", "25", "s", "+", "Physical" ],
    [ "skill080", "Throw", "25", "s", "+", "Physical" ],
    [ "skill081", "Combat", "-", "c", "-", "Combat" ],
    [ "skill082", "Dodge", "DEX x 02", "s", "+", "Combat" ],
    [ "skill083", "Martial Arts", "01", "s", "+", "Combat" ],
    [ "skill084", "-", "-", "s", "+", "Other" ],
    [ "skill085", "-", "-", "s", "+", "Other" ],
    [ "skill086", "-", "-", "s", "+", "Other" ],
    [ "skill087", "-", "-", "s", "+", "Other" ],
    [ "skill088", "-", "-", "s", "+", "Other" ],
    [ "skill089", "-", "-", "s", "+", "Other" ],
    [ "skill090", "-", "-", "s", "+", "Other" ],
    [ "skill091", "-", "-", "s", "+", "Other" ],
    [ "skill092", "-", "-", "s", "+", "Other" ],
    [ "skill093", "-", "-", "s", "+", "Other" ],
    [ "skill094", "-", "-", "s", "+", "Other" ],
    [ "skill095", "-", "-", "s", "+", "Other" ],
    [ "skill096", "-", "-", "s", "+", "Other" ],
    [ "skill097", "-", "-", "s", "+", "Other" ],
    [ "skill098", "-", "-", "s", "+", "Other" ]
] %}
{% set effort = variables.effort|default %}{% if effort == '' %}{% set effort = variables.str|default * 5 %}{% endif %}
{% set stamina = variables.stamina|default %}{% if stamina == '' %}{% set stamina = variables.con|default * 5 %}{% endif %}
{% set idea = variables.idea|default %}{% if idea == '' %}{% set idea = variables.int|default * 5 %}{% endif %}
{% set luck = variables.luck|default %}{% if luck == '' %}{% set luck = variables.pow|default * 5 %}{% endif %}
{% set agility = variables.agility|default %}{% if agility == '' %}{% set agility = variables.dex|default * 5 %}{% endif %}
{% set charm = variables.charm|default %}{% if charm == '' %}{% set charm = variables.cha|default * 5 %}{% endif %}
{% set knowledge = variables.knowledge|default %}{% if knowledge == '' %}{% set knowledge = variables.edu|default * 5 %}{% endif %}
{% set dm = '-1d6' %}
{% set dmb = variables.str|default + variables.siz|default %}
{% if dmb >= 13 and dmb <= 16 %}{% set dm = '-1d4' %}{% endif %}
{% if dmb >= 17 and dmb <= 24 %}{% set dm = '-' %}{% endif %}
{% if dmb >= 25 and dmb <= 32 %}{% set dm = '+1d4' %}{% endif %}
{% if dmb >= 33 and dmb <= 40 %}{% set dm = '+1d6' %}{% endif %}
{% if dmb >= 41 and dmb <= 56 %}{% set dm = '+2d6' %}{% endif %}
{% if dmb >= 57 and dmb <= 72 %}{% set dm = '+3d6' %}{% endif %}
{% if dmb > 73 %}{% set dm = '+' ~ (3+(dmb-72)//16) ~ 'd6' %}{% endif %}
{% set damage_modifier = dm %}
{# -------------------------------------------------------------- #}
{% macro doSkill(var, id, sk) %}{% set name = attribute(var, 'skill_name_' ~ id)|default %}
{% if name != "" %}
{% if name == "" %}{% set name = sk[1]|default %}{% endif %}
{% if not (name ends with ":") and name != '-' %}
{% set tag = "td" %}{% set class = "var var-" %}
{% if sk[3]|default == "c" %}{% set tag = "th" %}{% set class = "lbl od lbl-" %}{% endif %}
{% set v = attribute(var, 'skill_value_' ~ id)|default %}
{% if v != -1 %}
{% set grey = "" %}{% if v == "" %}
  {% if sk[0]|default != "" and sk[0]|default != "-" and sk[2]|default != "-" %}{% set grey = "grey" %}{% set v = sk[2]|default %}
  {% if v matches '/^\\d+$/' %}{% set v = v ~ " %" %}{% else %}
    {% set v = '' %}
    {% if name == "Gaming" %}{% set v = (var.int|default + var.pow|default) ~ " %" %}{% endif %}
    {% if name == "Fly" %}{% set v = (var.dex|default * 4) ~ " %"  %}{% endif %}
    {% if name == "Projection" %}{% set v = (var.dex|default * 2) ~ " %" %}{% endif %}
    {% if name == "Dodge" %}{% set v = (var.dex|default * 2) ~ " %" %}{% endif %}
  {% endif %}
  {% endif %}
{% else %}{% if v > 0 %}{% set v = v ~ " %" %}{% endif %}{% endif %}
<tr>
  <{{tag}} class='{{class}}skill-name {{grey}}' title='Skill Name'> {{name}} </{{tag}}>
  <{{tag}} class='{{class}}skill-value {{grey}} c' title='Skill Value'>{{v}}</{{tag}}>
  <{{tag}} class='{{class}}skill-mark c' title='Check(ed) for advancement roll'>{% if attribute(var, 'skill_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</{{tag}}>
</tr>{% endif %}{% endif %}{% endif %}{% endmacro doSkill %}
{# -------------------------------------------------------------- #}
{% macro MarkMax(value = 0) %}{% if value > 50 %}<span class='marked'>{% endif %}{{value}}{% if value > 50 %}</span>{% endif %}{% endmacro MarkMax %}
{# -------------------------------------------------------------- #}
{% set style = variables.style|default('light') %}
<div class="container-fluid sheet-basic-roleplaying-{{style}}">
  <div class="row">
    <div class="col-12"><button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapsePersonal" href="#collapsePersonal" role="button" aria-expanded="true" aria-controls="collapsePersonal"><em class="fas fa-angle-down"></em></button>
    </div>
  </div>
  <div class="row collapse show" id="collapsePersonal">
    {% set wd = 12 %}{% if variables.portrait|default > 0 %}{% set wd = 8 %}{% endif %}
    <div class="col-12">
    <center><h1>Basic Roleplaying System</h1></center>
    </div>
    <div class="col-12 col-lg-{{wd}}">
      <div class="card personal" id="card-personal">
        <div class="card-header personal">Personal</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='lbl od lbl-name' width='130px'> Name </th><td class='var od var-name'> {{variables.name|default}} </td></tr>
                <tr><th class='lbl ev lbl-gender'> Gender </th><td class='var ev var-gender'> {{variables.gender|default}} </td></tr>
                <tr><th class='lbl od lbl-gender'> Species </th><td class='var od var-species'> {{variables.species|default}} </td></tr>
                <tr><th class='lbl ev lbl-culture'> Culture </th><td class='var ev var-culture'> {{variables.culture|default}} </td></tr>
                <tr><th class='lbl od lbl-profession'> Profession </th><td class='var od var-profession'> {{variables.profession|default}} </td></tr>
                <tr><th class='lbl ev lbl-wealth'> Wealth Level</th><td class='var ev var-wealth'> {{variables.wealth|default}} </td></tr>
                <tr><th class='lbl od lbl-gods-religion'> Gods / Religion </th><td class='var od var-gods-religion'> {{variables.gods_religion|default}} </td></tr>
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='lbl ev lbl-reputation'> Reputation </th><td class='var ev var-reputation'> {{variables.reputation|default}} </td></tr>
                <tr><th class='lbl od lbl-move' width='150px'> Movement (MOV) </th><td class='var od var-move'>{{variables.move|default}}</td></tr>
                <tr><th class='lbl ev lbl-handedness'> Handedness </th><td class='var ev var-handedness'> {{variables.handedness|default}} </td></tr>
                <tr><th class='lbl od lbl-age'> Age </th><td class='var od var-age'>{{variables.age|default}}</td></tr>
                <tr><th class='lbl ev lbl-height'> Height </th><td class='var ev var-height'> {{variables.height|default}} </td></tr>
                <tr><th class='lbl od lbl-weight'> Weight </th><td class='var od var-weight'> {{variables.weight|default}} </td></tr>
                <tr><th class='lbl ev lbl-player'> Player </th><td class='var ev var-player'> {{variables.player|default}} </td></tr>
              </table>
            </div>
          </div>
          <table class='table'>
            <tr><th class='lbl ev lbl-distinctive-features' width='30%'> Distinctive Features </th><td class='var ev var-distinctive-features'> {{variables.distinctive_features|default}} </td></tr>
            {% if variables.description|default != "" %}
            <tr><th class='lbl od lbl-description'> Description </th><td class='var od var-description'> {{variables.description|default|nl2br}} </td></tr>
            {% endif %}          
          </table>
        </div>
      </div>
    </div>
    {% if variables.portrait|default > 0 %}
    <div class="col-4 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block">
      <div class="card portrait" id="card-portrait">
        <div class="card-header portrait">Portrait</div>
        <div class="card-body c">
            [img:{{variables.portrait|default}}]
        </div>
      </div>
    </div>
    {% endif%}
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-5">
      <div class="card characteristics" id="card-characteristics">
        <div class="card-header characteristics">Characteristics</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th width='90px' class='lbl od lbl-str' title='Strength'> STR </th><td width='60px' class='var od var-str c' title='Strength'>{{variables.str|default}}</td>
              <th class='lbl od lbl-effort'> Effort Roll </th><td width='70px' class='var od var-effort c' title='50% is {{effort|default // 2 }}'>{{effort|default}} %</td>
            </tr>
            <tr>
              <th class='lbl ev lbl-con' title='Constitution'> CON </th><td class='var ev var-con c' title='Constitution'>{{variables.con|default}}</td>
              <th class='lbl ev lbl-stamina'> Stamina Roll </th><td class='var ev var-stamina c' title='50% is {{stamina|default // 2 }}'>{{stamina|default}} %</td>
            </tr>
            <tr>
              <th class='lbl od lbl-siz' title='Size'> SIZ </th><td class='var od var-siz c' title='Size'>{{variables.siz|default}}</td>
              <th class='lbl od lbl-damage-modifier' title='STR + SIZ, result see table page 20'> Damage Modifier </th><td class='var od var-damage-modifier c' title='STR + SIZ, result see table page 20'>{{damage_modifier|default}}</td>
            </tr>
            <tr>
              <th class='lbl ev lbl-int' title='Intelligence'> INT </th><td class='var ev var-int c' title='Intelligence'>{{variables.int|default}}</td>
              <th class='lbl ev lbl-idea'> Idea Roll </th><td class='var ev var-idea c' title='50% is {{idea|default // 2 }}'>{{idea|default}} %</td>
            </tr>
            {% if variables.pow|default != -1 %}
            <tr>
              <th class='lbl od lbl-pow' title='Power'> POW <span class='var od var-pow-mark float-right' title='checked'>{% if variables.pow_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</span></th><td class='var od var-pow c' title='Power'>{{variables.pow|default}}</td>
              <th class='lbl od lbl-luck'> Luck </th><td class='var od var-luck c' title='50% is {{luck|default // 2 }}'>{{luck|default}} %</td>
            </tr>
            {% endif %}
            <tr>
              <th class='lbl ev lbl-dex' title='Dexterity'> DEX </th><td class='var ev var-dex c' title='Dexterity'>{{variables.dex|default}}</td>
              <th class='lbl ev lbl-agility'> Agility Roll </th><td class='var ev var-agility c' title='50% is '>{{agility|default}} %</td>
            </tr>
            <tr>
              <th class='lbl od lbl-cha' title='Charisma'> CHA </th><td class='var od var-cha c' title='Charisma'>{{variables.cha|default}}</td>
              <th class='lbl od lbl-charm'> Charm Roll </th><td class='var od var-charm c' title='50% is {{charm|default // 2 }}'>{{charm|default}} %</td>
            </tr>
            {% if variables.edu|default != -1 %}
            <tr>
              <th class='lbl ev lbl-edu' title='Education'> EDU </th><td class='var ev var-edu c' title='Education'>{{variables.edu|default}}</td>
              <th class='lbl ev lbl-knowledge'> Knowledge Roll </th><td class='var ev var-knowledge c' title='50% is {{knowledge|default // 2 }}'>{{knowledge|default}} %</td>
            </tr>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-7">
      <div class="row">
        {% if variables.hit_points_max|default != -1 %}
        <div class="col-12 col-md-6">
          <div class="card hit points" id="card-hit points">
            <div class="card-header hit points">Hit Points (HP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='lbl od lbl-hit-points-current' width='50%'> Current / Max</th><td class='var od var-hit-points-current c'>{{variables.hit_points_current|default}} / {{variables.hit_points_max|default}}</td></tr>
                <tr><th class='lbl ev lbl-major-wound'> Major Wound </th><td class='var ev var-major-wound c'> {{ (variables.hit_points_max|default + 1) // 2 }} </td></tr>
                {% if variables.hit_points_notes|default != "" %}
                <tr><th class='lbl od lbl-hit-points-notes'> Notes </th><td class='var od var-hit-points-notes'> {{variables.hit_points_notes|default}} </td></tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
        {% endif %}
        {% if variables.sanity_points_max|default != -1 %}
        <div class="col-12 col-md-6">
          <div class="card sanity points" id="card-sanity points">
            <div class="card-header sanity points">Sanity Points (SP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='lbl od lbl-sanity-points-current' width='50%'> Current / Max</th><td class='var od var-sanity-points-current c'>{{variables.sanity_points_current|default}} / {{variables.sanity_points_max|default}}</td></tr>
                <tr><th class='lbl ev lbl-sanity-points-temporary'> Temporary </th><td class='var ev var-sanity-points-temporary c'>{{variables.sanity_points_temporary|default}}</td></tr>
                {% if variables.sanity_points_notes|default != "" %}
                <tr><th class='lbl od lbl-sanity-points-notes'> Notes </th><td class='var od var-sanity-points-notes'> {{variables.sanity_points_notes|default}} </td></tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
        {% endif %}
        {% if variables.fatigue_points_max|default != -1 %}
        <div class="col-12 col-md-6">
          <div class="card fatigue points" id="card-fatigue points">
            <div class="card-header fatigue points">Fatigue Points (FP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='lbl od lbl-fatigue-points-current' width='50%'> Current / Max</th><td class='var od var-fatigue-points-current c'>{{variables.fatigue_points_current|default}} / {{variables.fatigue_points_max|default}}</td></tr>
                {% if variables.fatigue_points_notes|default != "" %}
                <tr><th class='lbl ev lbl-fatigue-points-notes'> Notes </th><td class='var ev var-fatigue-points-notes'> {{variables.fatigue_points_notes|default}} </td></tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
        {% endif %}
        {% if variables.power_points_max|default != -1 %}
        <div class="col-12 col-md-6">
          <div class="card power points" id="card-power points">
            <div class="card-header power points">Power Points (PP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='lbl od lbl-power-points-current' width='50%'> Current / Max</th><td class='var od var-power-points-current c'>{{variables.power_points_current|default}} / {{variables.power_points_max|default}}</td></tr>
                <tr><th class='lbl ev lbl-battery'> Battery </th><td class='var ev var-battery c'> {{variables.battery|default}} </td></tr>
                {% if variables.power_points_notes|default != "" %}
                <tr><th class='lbl od lbl-power-points-notes'> Notes </th><td class='var od var-power-points-notes'> {{variables.power_points_notes|default}} </td></tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card skills" id="card-skills">
        <div class="card-header skills">Skills <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseSkills" href="#collapseSkills" role="button" aria-expanded="true" aria-controls="collapseSkills"><em class="fas fa-angle-down"></em></button></div>
        <div class="card-body">
          <div class="row collapse show" id="collapseSkills">
            <div class="col-12 col-md-4">
              <table class='table skills'>
                <thead>
                  <tr>
                    <th class='lbl ev lbl-skill-name'> Name </th>
                    <th class='lbl ev lbl-skill-value c' width='60px'> % </th>
                    <th class='lbl ev lbl-skill-mark c' width='40px'> C </th>
                  </tr>
                </thead>
                <tbody>
                  {% set gr = "Communication" %}
                  {% for i in 1..skill_count %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% set sk = skill_list[id-1] %}
                    {% set skg = attribute(variables, 'skill_group_' ~ id)|default %}{% if skg == "" %}{% set skg = sk[5]|default %}{% endif %}
                    {% if skg == gr %}
                      {{ sheet.doSkill(variables, id, sk) }}
                    {% endif %}
                  {% endfor %}
                  {% set gr = "Manipulation" %}
                  {% for i in 1..skill_count %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% set sk = skill_list[id-1] %}
                    {% set skg = attribute(variables, 'skill_group_' ~ id)|default %}{% if skg == "" %}{% set skg = sk[5]|default %}{% endif %}
                    {% if skg == gr %}
                      {{ sheet.doSkill(variables, id, sk) }}
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-4">
              <table class='table skills'>
                <thead>
                  <tr>
                    <th class='lbl ev lbl-skill-name'> Name </th>
                    <th class='lbl ev lbl-skill-value c' width='60px'> % </th>
                    <th class='lbl ev lbl-skill-mark c' width='40px'> C </th>
                  </tr>
                </thead>
                <tbody>
                  {% set gr = "Mental" %}
                  {% for i in 1..skill_count %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% set sk = skill_list[id-1] %}
                    {% set skg = attribute(variables, 'skill_group_' ~ id)|default %}{% if skg == "" %}{% set skg = sk[5]|default %}{% endif %}
                    {% if skg == gr %}
                      {{ sheet.doSkill(variables, id, sk) }}
                    {% endif %}
                  {% endfor %}
                  {% set gr = "Perception" %}
                  {% for i in 1..skill_count %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% set sk = skill_list[id-1] %}
                    {% set skg = attribute(variables, 'skill_group_' ~ id)|default %}{% if skg == "" %}{% set skg = sk[5]|default %}{% endif %}
                    {% if skg == gr %}
                      {{ sheet.doSkill(variables, id, sk) }}
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-4">
              <table class='table skills'>
                <thead>
                <tr>
                  <th class='lbl ev lbl-skill-name'> Name </th>
                  <th class='lbl ev lbl-skill-value c' width='60px'> % </th>
                  <th class='lbl ev lbl-skill-mark c' width='40px'> C </th>
                </tr>
                </thead>
                <tbody>
                  {% set gr = "Physical" %}
                  {% for i in 1..skill_count %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% set sk = skill_list[id-1] %}
                    {% set skg = attribute(variables, 'skill_group_' ~ id)|default %}{% if skg == "" %}{% set skg = sk[5]|default %}{% endif %}
                    {% if skg == gr %}
                      {{ sheet.doSkill(variables, id, sk) }}
                    {% endif %}
                  {% endfor %}
                  {% set gr = "Combat" %}
                  {% for i in 1..skill_count %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% set sk = skill_list[id-1] %}
                    {% set skg = attribute(variables, 'skill_group_' ~ id)|default %}{% if skg == "" %}{% set skg = sk[5]|default %}{% endif %}
                    {% if skg == gr %}
                      {{ sheet.doSkill(variables, id, sk) }}
                    {% endif %}
                  {% endfor %}
                  {% set gr = "Other" %}
                  {% for i in 1..skill_count %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                    {% set sk = skill_list[id-1] %}
                    {% set skg = attribute(variables, 'skill_group_' ~ id)|default %}{% if skg == "" %}{% set skg = sk[5]|default %}{% endif %}
                    {% if skg == gr %}
                      {{ sheet.doSkill(variables, id, sk) }}
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card weapons" id="card-weapons">
        <div class="card-header weapons">Weapons <span title='Damage Modifier'>({{damage_modifier|default}})</span></div>
        <div class="card-body of">
          <table class='table'>
            <thead>
              <tr>
                <th class='lbl od lbl-weapon-type'> Type </th>
                <th class='lbl od lbl-weapon-value c' width='50px'> % </th>
                <th class='lbl od lbl-weapon-damage c' width='20%'> Damage </th>
                <th class='lbl od lbl-weapon-range c' width='70px'> Range </th>
                <th class='lbl od lbl-weapon-attacks c' width='70px'> Attacks </th>
                <th class='lbl od lbl-weapon-length c' width='60px'> Length </th>
                <th class='lbl od lbl-weapon-hand c' width='50px'> Hand </th>
                <th class='lbl od lbl-weapon-hp c' width='40px'> HP </th>
                <th class='lbl od lbl-weapon-mark c' width='40px'> C </th>
              </tr>
            </thead>
            <tbody>
              {% for i in 1..8 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                {% set name = attribute(variables, 'weapon_type_' ~ id)|default %}
                {% if name != "" %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                <td class='var {{eo}} var-weapon-type' title='Weapon Name'> {{name}} </td>
                <td class='var {{eo}} var-weapon-value c' title='Weapon Skill Value'>{{attribute(variables, 'weapon_value_' ~ id)|default}}</td>
                <td class='var {{eo}} var-weapon-damage c'> {{attribute(variables, 'weapon_damage_' ~ id)|default}} </td>
                <td class='var {{eo}} var-weapon-range c'> {{attribute(variables, 'weapon_range_' ~ id)|default}} </td>
                <td class='var {{eo}} var-weapon-attacks c'>{{attribute(variables, 'weapon_attacks_' ~ id)|default}}</td>
                <td class='var {{eo}} var-weapon-length c'> {{attribute(variables, 'weapon_length_' ~ id)|default}} </td>
                <td class='var {{eo}} var-weapon-hand c'> {{attribute(variables, 'weapon_hand_' ~ id)|default}} </td>
                <td class='var {{eo}} var-weapon-hp c'> {{attribute(variables, 'weapon_hp_' ~ id)|default}} </td>
                <td class='var {{eo}} var-weapon-mark c' title='checked'>{% if attribute(variables, 'weapon_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
              </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card armor" id="card-armor">
        <div class="card-header armor">Armor</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-4 of">
              <table class='table'>
                <tbody>
                  <tr>
                    <th class='lbl od lbl-armor-type'> Type </th>
                    <th class='lbl od lbl-armor-value c' width='50px'> % </th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in 1..4 %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                    {% set name = attribute(variables, 'armor_type_' ~ id)|default %}
                    {% if name != ""%}
                      {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr>
                    <td class='var {{eo}} var-armor-type' title='Armor Name'> {{name}} </td>
                    <td class='var {{eo}} var-armor-value c' title='Armor Value'>{{attribute(variables, 'armor_value_' ~ id)|default}}</td>
                  </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-8 of">
              <table class='table'>
                <thead>
                  <tr>
                    <th class='lbl od lbl-shield-type'> Shield Type </th>
                    <th class='lbl od lbl-shiele-value c' width='50px'> % </th>
                    <th class='lbl od lbl-shield-damage c' width='30%'> Damage </th>
                    <th class='lbl od lbl-shield-hp c' width='40px'> HP </th>
                    <th class='lbl od lbl-shield-mark c' width='40px'> C </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class='var {{eo}} var-shield-type'> {{variables.shield_type|default}} </td>
                    <td class='var {{eo}} var-shiele-value c' title='Shield Value'>{{variables.shiele_value|default}}</td>
                    <td class='var {{eo}} var-shield-damage c'> {{variables.shield_damage|default}} </td>
                    <td class='var {{eo}} var-shield-hp c'> {{variables.shield_hp|default}} </td>
                    <td class='var {{eo}} var-shield-mark c' title='checked'>{% if variables.shield_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class='lbl od lbl-combat-notes'> Notes </div><div class='var od var-combat-notes'> {{variables.combat_notes|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% set done = 0 %}
            {% set clistmax = 60 %}{% set emptymin = 0 %}{% set listmin = 0 %}{% set ecount = 0 %}{% set count = 0 %}
            {% for i in 1..clistmax %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'power_name_' ~ id)|default|trim %}
              {% if name == "" and i > listmin %}{% set ecount = ecount + 1 %}{% endif %}
              {% if ecount <= emptymin or i < listmin or name != "" %}
                {% set done = 1 %}
                {% set count = count + 1 %}
                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                {% if count == 1 or count // 6 == count / 6 %}
  {% if count == 1 %}
  <div class="row">
    <div class="col-12">
      <div class="card powers" id="card-powers">
        <div class="card-header powers">Powers <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapsePowers" href="#collapsePowers" role="button" aria-expanded="true" aria-controls="collapsePowers"><em class="fas fa-angle-down"></em></button></div>
        <div class="card-body of collapse show" id="collapsePowers">
          <table class='table'>
  {% endif %}
                  <tr>
                    <th class='lbl od lbl-power-name' width='15%'> Power </th>
                    <th class='lbl od lbl-power-type c' width='100px'> Energy Type </th>
                    <th class='lbl od lbl-power-levels-act c'> Active Levels </th>
                    <th class='lbl od lbl-power-levels-total c'> Total Levels </th>
                    <th class='lbl od lbl-power-range c'> Range </th>
                    <th class='lbl od lbl-power-duration c'> Duration </th>
                    <th class='lbl od lbl-power-cost c' title='Cost To Use'> Cost </th>
                    <th class='lbl od lbl-power-cp c' width='40px'> CP </th>
                  </tr>
                {% endif %}
                <tr>
                  <td class='var {{eo}} var-power-name'> {{name}} </td>
                  <td class='var {{eo}} var-power-type c'> {{attribute(variables, 'power_type_' ~ id)|default}} </td>
                  <td class='var {{eo}} var-power-levels-act c'>{{attribute(variables, 'power_levels_act_' ~ id)|default}}</td>
                  <td class='var {{eo}} var-power-levels-total c'>{{attribute(variables, 'power_levels_total_' ~ id)|default}}</td>
                  <td class='var {{eo}} var-power-range c'> {{attribute(variables, 'power_range_' ~ id)|default}} </td>
                  <td class='var {{eo}} var-power-duration c'> {{attribute(variables, 'power_duration_' ~ id)|default}} </td>
                  <td class='var {{eo}} var-power-cost c'>{{attribute(variables, 'power_cost_' ~ id)|default}}</td>
                  <td class='var {{eo}} var-power-cp c' title='Character Points'>{{attribute(variables, 'power_cp_' ~ id)|default}}</td>
                </tr>
                {% set notes = attribute(variables, 'power_notes_' ~ id)|default %}{% if notes != "" %}
                <tr>
                  <td class='var {{eo}} var-power-dummy'>&nbsp;</td>
                  <th class='lbl od lbl-power-notes vam c'> Notes </th>
                  <td class='var {{eo}} var-power-notes' colspan=7> {{notes}} </td>
                </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
  {% if done == 1 %}
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% set done = 0 %}
            {% set clistmax = 40 %}{% set emptymin = 0 %}{% set listmin = 0 %}{% set ecount = 0 %}{% set count = 0 %}
            {% for i in 1..clistmax %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'apower_name_' ~ id)|default|trim %}
              {% if name == "" and i > listmin %}{% set ecount = ecount + 1 %}{% endif %}
              {% if ecount <= emptymin or i < listmin or name != "" %}
                {% set done = 1 %}
                {% set count = count + 1 %}
                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                {% if count == 1 or count // 6 == count / 6 %}
  {% if count == 1 %}
  <div class="row">
    <div class="col-12">
      <div class="card attack powers" id="card-attack powers">
        <div class="card-header attack powers">AttackPowers <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseAttackPowers" href="#collapseAttackPowers" role="button" aria-expanded="true" aria-controls="collapseAttackPowers"><em class="fas fa-angle-down"></em></button></div>
        <div class="card-body of collapse show" id="collapseAttackPowers">
          <table class='table'>
  {% endif %}
                  <tr>
                    <th class='lbl od lbl-apower-name'> Name </th>
                    <th class='lbl od lbl-apower-value c' width='50px'> % </th>
                    <th class='lbl od lbl-apower-damage c' width='25%'> Damage </th>
                    <th class='lbl od lbl-apower-range c' width='55px'> Range </th>
                    <th class='lbl od lbl-apower-type c' width='100px'> Type </th>
                    <th class='lbl od lbl-apower-cost c' width='40px'> Cost </th>
                    <th class='lbl od lbl-apower-mark c' width='40px'> C </th>
                  </tr>
                {% endif %}
                <tr>
                  <td class='var {{eo}} var-apower-name' title='Attack Power'> {{name}} </td>
                  <td class='var {{eo}} var-apower-value c' title='Attack Power Value'>{{attribute(variables, 'apower_value_' ~ id)|default}}</td>
                  <td class='var {{eo}} var-apower-damage c'> {{attribute(variables, 'apower_damage_' ~ id)|default}} </td>
                  <td class='var {{eo}} var-apower-range c'> {{attribute(variables, 'apower_range_' ~ id)|default}} </td>
                  <td class='var {{eo}} var-apower-type c'> {{attribute(variables, 'apower_type_' ~ id)|default}} </td>
                  <td class='var {{eo}} var-apower-cost c'>{{attribute(variables, 'apower_cost_' ~ id)|default}}</td>
                  <td class='var {{eo}} var-apower-mark c' title='checked'>{% if attribute(variables, 'apower_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                </tr>
              {% endif %}
            {% endfor %}
{% if done == 1 %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endif %}
  <div class="row">
    {% set done = 0 %}
            {% set clistmax = 40 %}{% set emptymin = 0 %}{% set listmin = 0 %}{% set ecount = 0 %}{% set count = 0 %}
            {% for i in 1..clistmax %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'dpower_name_' ~ id)|default|trim %}
              {% if name == "" and i > listmin %}{% set ecount = ecount + 1 %}{% endif %}
              {% if ecount <= emptymin or i < listmin or name != "" %}
                {% set done = 1 %}
                {% set count = count + 1 %}
                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                {% if count == 1 or count // 6 == count / 6 %}
  {% if count == 1 %}
    <div class="col-12 col-md-6">
      <div class="card defensive powers" id="card-defensive powers">
        <div class="card-header defensive powers">Defensive Powers</div>
        <div class="card-body of">
          <table class='table'>
  {% endif %}
            <tr>
              <th class='lbl od lbl-dpower-name'> Power </th>
              <th class='lbl od lbl-dpower-type c' width='100px'> Energy Type </th>
              <th class='lbl od lbl-dpower-level c' width='60px'> Level </th>
              <th class='lbl od lbl-dpower-value c' width='40px'> % </th>
              <th class='lbl od lbl-dpower-cost c' width='70px'> Energy Cost </th>
              </tr>
              {% endif %}
              <tr>
                <td class='var {{eo}} var-dpower-name' title='Defense Power'> {{name}} </td>
                <td class='var {{eo}} var-dpower-type c'> {{attribute(variables, 'dpower_type_' ~ id)|default}} </td>
                <td class='var {{eo}} var-dpower-level c'> {{attribute(variables, 'dpower_level_' ~ id)|default}} </td>
                <td class='var {{eo}} var-dpower-value c' title='Defense Power Value'>{{attribute(variables, 'dpower_value_' ~ id)|default}}</td>
                <td class='var {{eo}} var-dpower-cost c'>{{attribute(variables, 'dpower_cost_' ~ id)|default}}</td>
              </tr>
              {% endif %}
            {% endfor %}
{% if done == 1 %}
          </table>
          <table class='table'>
            <tr>{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <th class='lbl {{eo}} lbl-dpower-defense'> Defense </th>
              <td class='var {{eo}} var-dpower-defense c' width='40px'>{{variables.dpower_defense|default}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
{% endif %}
    <div class="col-12 col-md-6">
      <div class="card character points" id="card-character points">
        <div class="card-header character points">Character Points</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='lbl ev lbl-campaign-power-level'> Campaign Power Level </th>
              <td class='var ev var-campaign-power-level c' width='40px'>{{variables.campaign_power_level|default}}</td>
              <th class='lbl ev lbl-character-points'> Character Points </th>
              <td class='var ev var-character-points c' width='40px'>{{variables.character_points|default}}</td>
            </tr>
          </table>
          <table class='table'>
            <tr>
              <th class='lbl od lbl-character-failing-type'> Character Failings </th>
              <th class='lbl od lbl-character-failing-points c' width='50px'> Points </th>
            </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'character_failing_type_' ~ id)|default %}
              {% if name != ""%}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='var {{eo}} var-character-failing-type'> {{attribute(variables, 'character_failing_type_' ~ id)|default}} </td><td class='var {{eo}} var-character-failing-points c'>{{attribute(variables, 'character_failing_points_' ~ id)|default}}</td>
            </tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    {% if variables.belongings|default != "" %}
    <div class="col-12 col-md-6">
      <div class="card belongings" id="card-belongings">
        <div class="card-header belongings">Belongings</div>
        <div class="card-body of">
          <div class='var od var-belongings'> {{variables.belongings|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.background|default != "" %}
    <div class="col-12 col-md-6">
      <div class="card background" id="card-background">
        <div class="card-header background">Background</div>
        <div class="card-body of">
          <div class='var od var-background'> {{variables.background|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.passions|default != "" %}
    <div class="col-12 col-md-6">
      <div class="card passions" id="card-passions">
        <div class="card-header passions">Passions</div>
        <div class="card-body of">
          <div class='var od var-passions'> {{variables.passions|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.allegiances|default != "" %}
    <div class="col-12 col-md-6">
      <div class="card allegiances" id="card-allegiances">
        <div class="card-header allegiances">Allegiances</div>
        <div class="card-body of">
          <div class='var od var-allegiances'> {{variables.allegiances|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.reputation_history|default != "" %}
    <div class="col-12 col-md-6">
      <div class="card reputation-history" id="card-reputation-history">
        <div class="card-header reputation-history">Reputation History</div>
        <div class="card-body of">
          <div class='var od var-reputation-history'> {{variables.reputation_history|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.notes|default != "" %}
    <div class="col-12 col-md-6">
      <div class="card notes" id="card-notes">
        <div class="card-header notes">Notes</div>
        <div class="card-body of">
          <div class='var od var-notes'> {{variables.notes|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% if variables.use_ptraits|default == 1 %}
  <div class="row">
    <div class="col-12 col-md-12 col-lg-3 hidden-xs hidden-sm hidden-md d-none d-lg-block">
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <div class="card personality-traits" id="card-personality-traits">
        <div class="card-header personality-traits">Personality Traits <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseTraits" href="#collapseTraits" role="button" aria-expanded="true" aria-controls="collapseTraits"><em class="fas fa-angle-down"></em></button></div>
        <div class="card-body of collapse show" id="collapseTraits">
          <table class='table'>
            {% set tl = variables.ptrait_aggressive|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-aggressive'>Aggressive</th><td class='var od var-ptrait-aggressive'>         {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Passive</th><td class="var od">     {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_brave|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-brave'>Brave</th><td class='var ev var-ptrait-brave'>                             {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Cowardly</th><td class="var ev">    {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_clever|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-clever'>Clever</th><td class='var od var-ptrait-clever'>                         {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Dull</th><td class="var od">        {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_conservative|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-conservative'>Conservative</th><td class='var ev var-ptrait-conservative'> {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Innovative</th><td class="var ev">  {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_curious|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-curious'>Curious</th><td class='var od var-ptrait-curious'>                     {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Incurious</th><td class="var od">   {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_dependable|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-dependable'>Dependable</th><td class='var ev var-ptrait-dependable'>         {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Unreliable</th><td class="var ev">  {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_emotional|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-emotional'>Emotional</th><td class='var od var-ptrait-emotional'>             {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Calm</th><td class="var od">        {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_energetic|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-energetic'>Energetic</th><td class='var ev var-ptrait-energetic'>             {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Lazy</th><td class="var ev">        {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_extrovert|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-extrovert'>Extrovert</th><td class='var od var-ptrait-extrovert'>             {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Introvert</th><td class="var od">   {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_greedy|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-greedy'>Greedy</th><td class='var ev var-ptrait-greedy'>                         {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Generous</th><td class="var ev">    {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_honest|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-honest'>Honest</th><td class='var od var-ptrait-honest'>                         {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Dishonest</th><td class="var od">   {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_honorable|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-honorable'>Honorable</th><td class='var ev var-ptrait-honorable'>             {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Dishonorable</th><td class="var ev">{{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_humorous|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-humorous'>Humorous</th><td class='var od var-ptrait-humorous'>                 {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Dour</th><td class="var od">        {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_impulsive|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-impulsive'>Impulsive</th><td class='var ev var-ptrait-impulsive'>             {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Cautious</th><td class="var ev">    {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_leader|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-leader'>Leader</th><td class='var od var-ptrait-leader'>                         {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Follower</th><td class="var od">    {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_optimistic|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-optimistic'>Optimistic</th><td class='var ev var-ptrait-optimistic'>         {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Pessimistic</th><td class="var ev"> {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_patient|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-patient'>Patient</th><td class='var od var-ptrait-patient'>                     {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Nervous</th><td class="var od">     {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_physical|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-physical'>Physical</th><td class='var ev var-ptrait-physical'>                 {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Mental</th><td class="var ev">      {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_pious|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-pious'>Pious</th><td class='var od var-ptrait-pious'>                             {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Irreligious</th><td class="var od"> {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_stubborn|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl ev lbl-ptrait-stubborn'>Stubborn</th><td class='var ev var-ptrait-stubborn'>                 {{ sheet.MarkMax(tl) }} % </td><th class='lbl ev'>Receptive</th><td class="var ev">   {{ sheet.MarkMax(tr) }} % </td></tr>
            {% set tl = variables.ptrait_trusting|default %}{% set tr = 100 - tl %}
            <tr><th class='lbl od lbl-ptrait-trusting'>Trusting</th><td class='var od var-ptrait-trusting'>                 {{ sheet.MarkMax(tl) }} % </td><th class='lbl od'>Suspicious</th><td class="var od">  {{ sheet.MarkMax(tr) }} % </td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row"><div class="col-12 text-center"><small><a href="https://www.chaosium.com/basic-roleplaying/" target="_new">Basic Roleplaying System</a> &copy; by Chaosium, Inc.<br><a href="/w/sheet-creation/board/basic-roleplaying" target="_new">Character Sheet v1.1</a>, made by Tillerz - Updated: 2023-08-05</small></div></div>
</div>