{% import _self as sheet %}
{% set skill_list = [
    [ "skill01", "Communication", "-", "c", "-", "-" ],
    [ "skill02", "Bargain", "05", "s" ,"+", "Communication"],
    [ "skill03", "Command", "05", "s" ,"+", "Communication"],
    [ "skill04", "Disguise", "01", "s" ,"+", "Communication"],
    [ "skill05", "Etiquette", "05", "s" ,"+", "Communication"],
    [ "skill06", "Fast Talk", "05", "s" ,"+", "Communication"],
    [ "skill07", "Language:", "INT / EDU x 05 or 00)" "s" ,"+", "Communication"],
    [ "skill08", "Language:", "INT / EDU x 05 or 00)" "s" ,"+", "Communication"],
    [ "skill09", "Language:", "INT / EDU x 05 or 00)" "s" ,"+", "Communication"],
    [ "skill10", "Language:", "INT / EDU x 05 or 00)" "s" ,"+", "Communication"],
    [ "skill11", "Language:", "INT / EDU x 05 or 00)" "s" ,"+", "Communication"],
    [ "skill12", "Perform", "05", "s" ,"+", "Communication"],
    [ "skill13", "Persuade", "15", "s" ,"+", "Communication"],
    [ "skill14", "Status", "15 or various", "s" ,"+", "Communication"],
    [ "skill15", "Teach", "10", "s" ,"+", "Communication"],
    [ "skill16", "Manipulation", "-", "c", "-", "-" ],
    [ "skill17", "Art:", "05", "s" ,"+", "Manipulation" ],
    [ "skill18", "Art:", "05", "s" ,"+", "Manipulation" ],
    [ "skill19", "Art:", "05", "s" ,"+", "Manipulation" ],
    [ "skill20", "Art:", "05", "s" ,"+", "Manipulation" ],
    [ "skill21", "Art:", "05", "s" ,"+", "Manipulation" ],
    [ "skill22", "Craft:", "05", "s" ,"+", "Manipulation" ],
    [ "skill23", "Craft:", "05", "s" ,"+", "Manipulation" ],
    [ "skill24", "Craft:", "05", "s" ,"+", "Manipulation" ],
    [ "skill25", "Craft:", "05", "s" ,"+", "Manipulation" ],
    [ "skill26", "Craft:", "05", "s" ,"+", "Manipulation" ],
    [ "skill27", "Demolition", "01", "s" ,"+", "Manipulation" ],
    [ "skill28", "Fine Manipulation", "05", "s" ,"+", "Manipulation" ],
    [ "skill29", "Heavy Machine:", "01" "s" ,"+", "Manipulation" ],
    [ "skill30", "Heavy Machine:", "01" "s" ,"+", "Manipulation" ],
    [ "skill31", "Repair:", "15", "s" ,"+", "Manipulation" ],
    [ "skill32", "Repair:", "15", "s" ,"+", "Manipulation" ],
    [ "skill33", "Sleight of Hand", "05", "s" ,"+", "Manipulation" ],
    [ "skill34", "Mental", "-", "c", "-", "-" ],
    [ "skill35", "Appraise", "15", "s" ,"+", "Mental" ],
    [ "skill36", "First Aid", "30", "s" ,"+", "Mental" ],
    [ "skill37", "Gaming", "INT + POW", "s" ,"+", "Mental" ],
    [ "skill38", "Knowledge:", "05 or 00" "s" ,"+", "Mental" ],
    [ "skill39", "Knowledge:", "05 or 00" "s" ,"+", "Mental" ],
    [ "skill40", "Knowledge:", "05 or 00" "s" ,"+", "Mental" ],
    [ "skill41", "Knowledge:", "05 or 00" "s" ,"+", "Mental" ],
    [ "skill42", "Knowledge:", "05 or 00" "s" ,"+", "Mental" ],
    [ "skill43", "Literacy", "00 or language", "s" ,"+", "Mental" ],
    [ "skill44", "Medicine", "05", "s" ,"+", "Mental" ],
    [ "skill45", "Psychotherapy", "01 or 00", "s" ,"+", "Mental" ],
    [ "skill46", "Science:", "01", "s" ,"+", "Mental" ],
    [ "skill47", "Science:", "01", "s" ,"+", "Mental" ],
    [ "skill48", "Science:", "01", "s" ,"+", "Mental" ],
    [ "skill49", "Science:", "01", "s" ,"+", "Mental" ],
    [ "skill50", "Science:", "01", "s" ,"+", "Mental" ],
    [ "skill51", "Strategy", "01", "s" ,"+", "Mental" ],
    [ "skill52", "Technical:", "05", "s" ,"+", "Mental" ],
    [ "skill53", "Technical:", "05", "s" ,"+", "Mental" ],
    [ "skill54", "Technical:", "05", "s" ,"+", "Mental" ],
    [ "skill55", "Perception", "-", "c", "-", "-" ],
    [ "skill56", "Insight", "05", "s" ,"+", "Perception" ],
    [ "skill57", "Listen", "25", "s" ,"+", "Perception" ],
    [ "skill58", "Navigate", "10", "s" ,"+", "Perception" ],
    [ "skill59", "Research", "25", "s" ,"+", "Perception" ],
    [ "skill60", "Sense", "10", "s" ,"+", "Perception" ],
    [ "skill61", "Spot", "25", "s" ,"+", "Perception" ],
    [ "skill62", "Track", "10", "s" ,"+", "Perception" ],
    [ "skill63", "Physical", "-", "c", "-", "-" ],
    [ "skill64", "Climb", "40", "s" ,"+", "Physical" ],
    [ "skill65", "Drive:", "20 or 01", "s" ,"+", "Physical" ],
    [ "skill66", "Drive:", "20 or 01", "s" ,"+", "Physical" ],
    [ "skill67", "Drive:", "20 or 01", "s" ,"+", "Physical" ],
    [ "skill68", "Fly", "DEX x 04 or 1/2 DEX", "s" ,"+", "Physical" ],
    [ "skill69", "Hide", "10", "s" ,"+", "Physical" ],
    [ "skill70", "Jump", "25", "s" ,"+", "Physical" ],
    [ "skill71", "Pilot:", "01", "s" ,"+", "Physical" ],
    [ "skill72", "Pilot:", "01", "s" ,"+", "Physical" ],
    [ "skill73", "Pilot:", "01", "s" ,"+", "Physical" ],
    [ "skill74", "Projection", "DEX x 02", "s" ,"+", "Physical" ],
    [ "skill75", "Ride:", "05", "s" ,"+", "Physical" ],
    [ "skill76", "Ride:", "05", "s" ,"+", "Physical" ],
    [ "skill77", "Ride:", "05", "s" ,"+", "Physical" ],
    [ "skill78", "Stealth", "10", "s" ,"+", "Physical" ],
    [ "skill79", "Swim", "25", "s" ,"+", "Physical" ],
    [ "skill80", "Throw", "25", "s" ,"+", "Physical" ],
    [ "skill81", "Combat", "-", "c", "-", "-" ],
    [ "skill82", "Dodge", "DEX x 02", "s" ,"+", "Combat" ],
    [ "skill83", "Martial Arts", "01", "s" ,"+", "Combat" ],
    [ "skill84", "-", "-", "s", "+" ],
    [ "skill85", "-", "-", "s", "+" ],
    [ "skill86", "-", "-", "s", "+" ],
    [ "skill87", "-", "-", "s", "+" ],
    [ "skill88", "-", "-", "s", "+" ],
    [ "skill89", "-", "-", "s", "+" ],
    [ "skill90", "-", "-", "s", "+" ],
    [ "skill91", "-", "-", "s", "+" ],
    [ "skill92", "-", "-", "s", "+" ],
    [ "skill93", "-", "-", "s", "+" ],
    [ "skill94", "-", "-", "s", "+" ]
] %}
<div class="container-fluid sheet-basic-roleplaying">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card personal" id="card-personal">
                <div class="card-header personal">Personal</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-name'> Name </th><td class='var od var-name'> {{variables.name|default}} </td></tr>
                        <tr><th class='lbl ev lbl-culture'> Culture </th><td class='var ev var-culture'> {{variables.culture|default}} </td></tr>
                        <tr><th class='lbl od lbl-gender'> Gender </th><td class='var od var-gender'> {{variables.gender|default}} </td></tr>
                        <tr><th class='lbl ev lbl-handedness'> Handedness </th><td class='var ev var-handedness'> {{variables.handedness|default}} </td></tr>
                        <tr><th class='lbl od lbl-height'> Height </th><td class='var od var-height'> {{variables.height|default}} </td></tr>
                        <tr><th class='lbl ev lbl-weight'> Weight </th><td class='var ev var-weight'> {{variables.weight|default}} </td></tr>
                        <tr><th class='lbl od lbl-profession'> Profession </th><td class='var od var-profession'> {{variables.profession|default}} </td></tr>
                        <tr><th class='lbl ev lbl-wealth'> Wealth </th><td class='var ev var-wealth'> {{variables.wealth|default}} </td></tr>
                        <tr><th class='lbl od lbl-gods-religion'> Gods / Religion </th><td class='var od var-gods-religion'> {{variables.gods_religion|default}} </td></tr>
                        <tr><th class='lbl ev lbl-distinctive-features'> Distinctive Features </th><td class='var ev var-distinctive-features'> {{variables.distinctive_features|default}} </td></tr>
                        <tr><th class='lbl od lbl-move'> Movement (MOV) </th><td class='var od var-move'> {{variables.move|default}} </td></tr>
                        <tr><th class='lbl ev lbl-description'> Description </th><td class='var ev var-description'> {{variables.description|default|nl2br}} </td></tr>
                        <tr><th class='lbl od lbl-age'> Age </th><td class='var od var-age'> {{variables.age|default}} </td></tr>
                        <tr><th class='lbl ev lbl-portrait'> Portrait </th><td class='var ev var-portrait'>[img:{{variables.portrait|default}}]</td></tr>
                        <tr><th class='lbl od lbl-player'> Player </th><td class='var od var-player'> {{variables.player|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card characteristics" id="card-characteristics">
                <div class="card-header characteristics">Characteristics</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-str'> STR </th><td class='var od var-str' title='for Effort Roll'> {{variables.str|default}} </td></tr>
                        <tr><th class='lbl ev lbl-con'> CON </th><td class='var ev var-con' title='for Stamina Roll'> {{variables.con|default}} </td></tr>
                        <tr><th class='lbl od lbl-siz'> SIZ </th><td class='var od var-siz' title='for Damage Modifier'> {{variables.siz|default}} </td></tr>
                        <tr><th class='lbl ev lbl-int'> INT </th><td class='var ev var-int' title='for Idea Roll'> {{variables.int|default}} </td></tr>
                        <tr><th class='lbl od lbl-pow'> POW </th><td class='var od var-pow' title='for Luck Roll'> {{variables.pow|default}} </td></tr>
                        <tr><th class='lbl ev lbl-dex'> DEX </th><td class='var ev var-dex' title='for Agility Roll'> {{variables.dex|default}} </td></tr>
                        <tr><th class='lbl od lbl-cha'> CHA </th><td class='var od var-cha' title='for Charm Roll'> {{variables.cha|default}} </td></tr>
                        <tr><th class='lbl ev lbl-edu'> EDU </th><td class='var ev var-edu' title='for Knowledge Roll'> {{variables.edu|default}} </td></tr>
                        <tr><th class='lbl od lbl-pow-mark'>  </th><td class='var od var-pow-mark'>{% if variables.pow_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card hit points" id="card-hit points">
                <div class="card-header hit points">Hit Points</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-major-wound'> Major Wound </th>
                    <th class='lbl od lbl-dead'> Dead </th>
                    <th class='lbl od lbl-hit-points-current'> Hit Points Current </th>
                    <th class='lbl od lbl-hit-points-max'> Hit Points Max </th>
                    <th class='lbl od lbl-hit-points-notes'> Hit Points Notes </th>
                    </tr>
                    <td class='var {{eo}} var-major-wound'> {{variables.major_wound|default}} </td><td class='var {{eo}} var-dead'> {{variables.dead|default}} </td><td class='var {{eo}} var-hit-points-current'> {{variables.hit_points_current|default}} </td><td class='var {{eo}} var-hit-points-max'> {{variables.hit_points_max|default}} </td><td class='var {{eo}} var-hit-points-notes'> {{variables.hit_points_notes|default}} </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card skills" id="card-skills">
                <div class="card-header skills">Skills</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <table class='table'>
                            <tr>
                            <th class='lbl od lbl-skill-name'> Name </th>
                            <th class='lbl od lbl-skill-value'> % </th>
                            <th class='lbl od lbl-skill-mark'>  </th>
                            </tr>
                            {% for i in 1..10 %}
                                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            <tr>
                            <td class='var {{eo}} var-skill-name'> {{attribute(variables, 'skill_name_' ~ id)|default}} </td><td class='var {{eo}} var-skill-value'> {{attribute(variables, 'skill_value_' ~ id)|default}} </td><td class='var {{eo}} var-skill-mark'>{% if attribute(variables, 'skill_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </div>
                        <div class="col-12 col-md-4">
                            <table class='table'>
                            <tr>
                            <th class='lbl od lbl-skill-name'> Name </th>
                            <th class='lbl od lbl-skill-value'> % </th>
                            <th class='lbl od lbl-skill-mark'>  </th>
                            </tr>
                            {% for i in 1..10 %}
                                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            <tr>
                            <td class='var {{eo}} var-skill-name'> {{attribute(variables, 'skill_name_' ~ id)|default}} </td><td class='var {{eo}} var-skill-value'> {{attribute(variables, 'skill_value_' ~ id)|default}} </td><td class='var {{eo}} var-skill-mark'>{% if attribute(variables, 'skill_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </div>
                        <div class="col-12 col-md-4">
                            <table class='table'>
                            <tr>
                            <th class='lbl od lbl-skill-name'> Name </th>
                            <th class='lbl od lbl-skill-value'> % </th>
                            <th class='lbl od lbl-skill-mark'>  </th>
                            </tr>
                            {% for i in 1..10 %}
                                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            <tr>
                            <td class='var {{eo}} var-skill-name'> {{attribute(variables, 'skill_name_' ~ id)|default}} </td><td class='var {{eo}} var-skill-value'> {{attribute(variables, 'skill_value_' ~ id)|default}} </td><td class='var {{eo}} var-skill-mark'>{% if attribute(variables, 'skill_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card weapons" id="card-weapons">
                <div class="card-header weapons">Weapons</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-weapon-type'> Type </th>
                    <th class='lbl od lbl-weapon-value'> % </th>
                    <th class='lbl od lbl-weapon-damage'> Damage </th>
                    <th class='lbl od lbl-weapon-range'> Range </th>
                    <th class='lbl od lbl-weapon-attacks'> Attacks </th>
                    <th class='lbl od lbl-weapon-length'> Length </th>
                    <th class='lbl od lbl-weapon-hand'> Hand </th>
                    <th class='lbl od lbl-weapon-hp'> HP </th>
                    <th class='lbl od lbl-weapon-mark'>  </th>
                    </tr>
                    {% for i in 1..10 %}
                        {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                    <tr>
                    <td class='var {{eo}} var-weapon-type'> {{attribute(variables, 'weapon_type_' ~ id)|default}} </td><td class='var {{eo}} var-weapon-value'> {{attribute(variables, 'weapon_value_' ~ id)|default}} </td><td class='var {{eo}} var-weapon-damage'> {{attribute(variables, 'weapon_damage_' ~ id)|default}} </td><td class='var {{eo}} var-weapon-range'> {{attribute(variables, 'weapon_range_' ~ id)|default}} </td><td class='var {{eo}} var-weapon-attacks'> {{attribute(variables, 'weapon_attacks_' ~ id)|default}} </td><td class='var {{eo}} var-weapon-length'> {{attribute(variables, 'weapon_length_' ~ id)|default}} </td><td class='var {{eo}} var-weapon-hand'> {{attribute(variables, 'weapon_hand_' ~ id)|default}} </td><td class='var {{eo}} var-weapon-hp'> {{attribute(variables, 'weapon_hp_' ~ id)|default}} </td><td class='var {{eo}} var-weapon-mark'>{% if attribute(variables, 'weapon_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card armor" id="card-armor">
                <div class="card-header armor">Armor</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-armor-type'> Type </th>
                    <th class='lbl od lbl-armor-value'> % </th>
                    <th class='lbl od lbl-shield-type'> Shield Type </th>
                    <th class='lbl od lbl-shiele-value'> % </th>
                    <th class='lbl od lbl-shield-damage'> Damage </th>
                    <th class='lbl od lbl-shield-hp'> HP </th>
                    <th class='lbl od lbl-shield-mark'>  </th>
                    <th class='lbl od lbl-combat-notes'> Notes </th>
                    </tr>
                    {% for i in 1..10 %}
                        {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                    <tr>
                    <td class='var {{eo}} var-armor-type'> {{attribute(variables, 'armor_type_' ~ id)|default}} </td><td class='var {{eo}} var-armor-value'> {{attribute(variables, 'armor_value_' ~ id)|default}} </td><td class='var {{eo}} var-shield-type'> {{attribute(variables, 'shield_type_' ~ id)|default}} </td><td class='var {{eo}} var-shiele-value'> {{attribute(variables, 'shiele_value_' ~ id)|default}} </td><td class='var {{eo}} var-shield-damage'> {{attribute(variables, 'shield_damage_' ~ id)|default}} </td><td class='var {{eo}} var-shield-hp'> {{attribute(variables, 'shield_hp_' ~ id)|default}} </td><td class='var {{eo}} var-shield-mark'>{% if attribute(variables, 'shield_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td><td class='var {{eo}} var-combat-notes'> {{attribute(variables, 'combat_notes_' ~ id)|default|nl2br}} </td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card character points" id="card-character points">
                <div class="card-header character points">Character Points</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-campaign-power-level'> Campaign Power Level </th>
                    <th class='lbl od lbl-character-points'> Character Points </th>
                    </tr>
                    <td class='var {{eo}} var-campaign-power-level'> {{variables.campaign_power_level|default}} </td><td class='var {{eo}} var-character-points'> {{variables.character_points|default}} </td>
                    </table>
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-character-failing-type'> Character Failings </th>
                    <th class='lbl od lbl-character-failing-points'> Points </th>
                    </tr>
                    {% for i in 1..6 %}
                        {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                    <tr>
                    <td class='var {{eo}} var-character-failing-type'> {{attribute(variables, 'character_failing_type_' ~ id)|default}} </td><td class='var {{eo}} var-character-failing-points'> {{attribute(variables, 'character_failing_points_' ~ id)|default}} </td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card power points" id="card-power points">
                <div class="card-header power points">Power Points</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-power-points-current'> Current </th>
                    <th class='lbl od lbl-power-points-max'> Max </th>
                    <th class='lbl od lbl-battery'> Battery </th>
                    </tr>
                    <td class='var {{eo}} var-power-points-current'> {{variables.power_points_current|default}} </td><td class='var {{eo}} var-power-points-max'> {{variables.power_points_max|default}} </td><td class='var {{eo}} var-battery'> {{variables.battery|default}} </td>
                    </table>
                </div>
            </div>
            <div class="card fatigue points" id="card-fatigue points">
                <div class="card-header fatigue points">Fatigue Points</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-fatigue-points-current'> Current </th>
                    <th class='lbl od lbl-fatigue-points-max'> Max </th>
                    <th class='lbl od lbl-fatigue-notes'> Notes </th>
                    </tr>
                    <td class='var {{eo}} var-fatigue-points-current'> {{variables.fatigue_points_current|default}} </td><td class='var {{eo}} var-fatigue-points-max'> {{variables.fatigue_points_max|default}} </td><td class='var {{eo}} var-fatigue-notes'> {{variables.fatigue_notes|default}} </td>
                    </table>
                </div>
            </div>
            <div class="card sanity points" id="card-sanity points">
                <div class="card-header sanity points">Sanity Points</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-sanity-points-current'> Current </th>
                    <th class='lbl od lbl-sanity-points-max'> Max </th>
                    <th class='lbl od lbl-sanity-points-temporary'> Temporary </th>
                    <th class='lbl od lbl-sanity-points-notes'> Notes </th>
                    </tr>
                    <td class='var {{eo}} var-sanity-points-current'> {{variables.sanity_points_current|default}} </td><td class='var {{eo}} var-sanity-points-max'> {{variables.sanity_points_max|default}} </td><td class='var {{eo}} var-sanity-points-temporary'> {{variables.sanity_points_temporary|default}} </td><td class='var {{eo}} var-sanity-points-notes'> {{variables.sanity_points_notes|default}} </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card powers" id="card-powers">
                <div class="card-header powers">Powers</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-power-name'> Power </th>
                    <th class='lbl od lbl-power-type'> Energy Type </th>
                    <th class='lbl od lbl-power-levels-act'> Active Levels </th>
                    <th class='lbl od lbl-power-levels-total'> Total Levels </th>
                    <th class='lbl od lbl-power-range'> Range </th>
                    <th class='lbl od lbl-power-cost'> Cost To Use </th>
                    <th class='lbl od lbl-power-duration'> Duration </th>
                    <th class='lbl od lbl-power-notes'> Notes </th>
                    <th class='lbl od lbl-power-cp'> CP </th>
                    </tr>
                    {% for i in 1..8 %}
                        {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                    <tr>
                    <td class='var {{eo}} var-power-name'> {{attribute(variables, 'power_name_' ~ id)|default}} </td><td class='var {{eo}} var-power-type'> {{attribute(variables, 'power_type_' ~ id)|default}} </td><td class='var {{eo}} var-power-levels-act'> {{attribute(variables, 'power_levels_act_' ~ id)|default}} </td><td class='var {{eo}} var-power-levels-total'> {{attribute(variables, 'power_levels_total_' ~ id)|default}} </td><td class='var {{eo}} var-power-range'> {{attribute(variables, 'power_range_' ~ id)|default}} </td><td class='var {{eo}} var-power-cost'> {{attribute(variables, 'power_cost_' ~ id)|default}} </td><td class='var {{eo}} var-power-duration'> {{attribute(variables, 'power_duration_' ~ id)|default}} </td><td class='var {{eo}} var-power-notes'> {{attribute(variables, 'power_notes_' ~ id)|default}} </td><td class='var {{eo}} var-power-cp'> {{attribute(variables, 'power_cp_' ~ id)|default}} </td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card attack powers" id="card-attack powers">
                <div class="card-header attack powers">Attack Powers</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-apower-name'> Name </th>
                    <th class='lbl od lbl-apower-value'> % </th>
                    <th class='lbl od lbl-apower-damage'> Damage </th>
                    <th class='lbl od lbl-apower-range'> Range </th>
                    <th class='lbl od lbl-apower-type'> Type </th>
                    <th class='lbl od lbl-apower-cost'> Cost </th>
                    <th class='lbl od lbl-apower-mark'>  </th>
                    </tr>
                    {% for i in 1..6 %}
                        {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                    <tr>
                    <td class='var {{eo}} var-apower-name'> {{attribute(variables, 'apower_name_' ~ id)|default}} </td><td class='var {{eo}} var-apower-value'> {{attribute(variables, 'apower_value_' ~ id)|default}} </td><td class='var {{eo}} var-apower-damage'> {{attribute(variables, 'apower_damage_' ~ id)|default}} </td><td class='var {{eo}} var-apower-range'> {{attribute(variables, 'apower_range_' ~ id)|default}} </td><td class='var {{eo}} var-apower-type'> {{attribute(variables, 'apower_type_' ~ id)|default}} </td><td class='var {{eo}} var-apower-cost'> {{attribute(variables, 'apower_cost_' ~ id)|default}} </td><td class='var {{eo}} var-apower-mark'>{% if attribute(variables, 'apower_mark_' ~ id)|default|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                    </tr>
                    {% endfor %}
                    </table>
                    <table class='table'>
                        <tr><th class='lbl od lbl-apower-projection'> Projection </th><td class='var od var-apower-projection'> {{variables.apower_projection|default}} </td></tr>
                        <tr><th class='lbl ev lbl-apower-throw'> Throw </th><td class='var ev var-apower-throw'> {{variables.apower_throw|default}} </td></tr>
                        <tr><th class='lbl od lbl-apower-brawl'> Brawl </th><td class='var od var-apower-brawl'> {{variables.apower_brawl|default}} </td></tr>
                        <tr><th class='lbl ev lbl-apower-fly'> Fly </th><td class='var ev var-apower-fly'> {{variables.apower_fly|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card defensive powers" id="card-defensive powers">
                <div class="card-header defensive powers">Defensive Powers</div>
                <div class="card-body">
                    <table class='table'>
                    <tr>
                    <th class='lbl od lbl-dpower-name'> Power </th>
                    <th class='lbl od lbl-dpower-type'> Energy Type </th>
                    <th class='lbl od lbl-dpower-level'> Level </th>
                    <th class='lbl od lbl-dpower-value'> % </th>
                    <th class='lbl od lbl-dpower-cost'> Energy Cost </th>
                    </tr>
                    {% for i in 1..6 %}
                        {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                    <tr>
                    <td class='var {{eo}} var-dpower-name'> {{attribute(variables, 'dpower_name_' ~ id)|default}} </td><td class='var {{eo}} var-dpower-type'> {{attribute(variables, 'dpower_type_' ~ id)|default}} </td><td class='var {{eo}} var-dpower-level'> {{attribute(variables, 'dpower_level_' ~ id)|default}} </td><td class='var {{eo}} var-dpower-value'> {{attribute(variables, 'dpower_value_' ~ id)|default}} </td><td class='var {{eo}} var-dpower-cost'> {{attribute(variables, 'dpower_cost_' ~ id)|default}} </td>
                    </tr>
                    {% endfor %}
                    </table>
                    <table class='table'>
                        <tr><th class='lbl od lbl-dpower-defense'> Defense </th><td class='var od var-dpower-defense'> {{variables.dpower_defense|default}} </td></tr>
                        <tr><th class='lbl ev lbl-dpower-dodge'> Dodge </th><td class='var ev var-dpower-dodge'> {{variables.dpower_dodge|default}} </td></tr>
                        <tr><th class='lbl od lbl-dpower-dodge-mark'>  </th><td class='var od var-dpower-dodge-mark'>{% if variables.dpower_dodge_mark|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl od lbl-notes'> notes </div><div class='var od var-notes'> {{variables.notes|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
    </div>
</div>
bbb