{% import _self as sheet %}
{% set skill_list = [
    [ "skill01", "Communication", "-", "c", "-", "-" ],
    [ "skill02", "Bargain", "05", "s", "+", "Communication"],
    [ "skill03", "Command", "05", "s", "+", "Communication"],
    [ "skill04", "Disguise", "01", "s", "+", "Communication"],
    [ "skill05", "Etiquette", "05", "s", "+", "Communication"],
    [ "skill06", "Fast Talk", "05", "s", "+", "Communication"],
    [ "skill07", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill08", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill09", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill10", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill11", "Language:", "INT / EDU x 05 or 00)", "s", "+", "Communication"],
    [ "skill12", "Perform", "05", "s", "+", "Communication"],
    [ "skill13", "Persuade", "15", "s", "+", "Communication"],
    [ "skill14", "Status", "15 or various", "s", "+", "Communication"],
    [ "skill15", "Teach", "10", "s", "+", "Communication"],
    [ "skill16", "Manipulation", "-", "c", "-", "-" ],
    [ "skill17", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill18", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill19", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill20", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill21", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill22", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill23", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill24", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill25", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill26", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill27", "Demolition", "01", "s", "+", "Manipulation" ],
    [ "skill28", "Fine Manipulation", "05", "s", "+", "Manipulation" ],
    [ "skill29", "Heavy Machine:", "01", "s", "+", "Manipulation" ],
    [ "skill30", "Heavy Machine:", "01", "s", "+", "Manipulation" ],
    [ "skill31", "Repair:", "15", "s", "+", "Manipulation" ],
    [ "skill32", "Repair:", "15", "s", "+", "Manipulation" ],
    [ "skill33", "Sleight of Hand", "05", "s", "+", "Manipulation" ],
    [ "skill34", "Mental", "-", "c", "-", "-" ],
    [ "skill35", "Appraise", "15", "s", "+", "Mental" ],
    [ "skill36", "First Aid", "30", "s", "+", "Mental" ],
    [ "skill37", "Gaming", "INT + POW", "s", "+", "Mental" ],
    [ "skill38", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill39", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill40", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill41", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill42", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill43", "Literacy", "00 or language", "s", "+", "Mental" ],
    [ "skill44", "Medicine", "05", "s", "+", "Mental" ],
    [ "skill45", "Psychotherapy", "01 or 00", "s", "+", "Mental" ],
    [ "skill46", "Science:", "01", "s", "+", "Mental" ],
    [ "skill47", "Science:", "01", "s", "+", "Mental" ],
    [ "skill48", "Science:", "01", "s", "+", "Mental" ],
    [ "skill49", "Science:", "01", "s", "+", "Mental" ],
    [ "skill50", "Science:", "01", "s", "+", "Mental" ],
    [ "skill51", "Strategy", "01", "s", "+", "Mental" ],
    [ "skill52", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill53", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill54", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill55", "Perception", "-", "c", "-", "-" ],
    [ "skill56", "Insight", "05", "s", "+", "Perception" ],
    [ "skill57", "Listen", "25", "s", "+", "Perception" ],
    [ "skill58", "Navigate", "10", "s", "+", "Perception" ],
    [ "skill59", "Research", "25", "s", "+", "Perception" ],
    [ "skill60", "Sense", "10", "s", "+", "Perception" ],
    [ "skill61", "Spot", "25", "s", "+", "Perception" ],
    [ "skill62", "Track", "10", "s", "+", "Perception" ],
    [ "skill63", "Physical", "-", "c", "-", "-" ],
    [ "skill64", "Climb", "40", "s", "+", "Physical" ],
    [ "skill65", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill66", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill67", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill68", "Fly", "DEX x 04 or 1/2 DEX", "s", "+", "Physical" ],
    [ "skill69", "Hide", "10", "s", "+", "Physical" ],
    [ "skill70", "Jump", "25", "s", "+", "Physical" ],
    [ "skill71", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill72", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill73", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill74", "Projection", "DEX x 02", "s", "+", "Physical" ],
    [ "skill75", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill76", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill77", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill78", "Stealth", "10", "s", "+", "Physical" ],
    [ "skill79", "Swim", "25", "s", "+", "Physical" ],
    [ "skill80", "Throw", "25", "s", "+", "Physical" ],
    [ "skill81", "Combat", "-", "c", "-", "-" ],
    [ "skill82", "Dodge", "DEX x 02", "s", "+", "Combat" ],
    [ "skill83", "Martial Arts", "01", "s", "+", "Combat" ],
    [ "skill84", "-", "-", "s", "+" ],
    [ "skill85", "-", "-", "s", "+" ],
    [ "skill86", "-", "-", "s", "+" ],
    [ "skill87", "-", "-", "s", "+" ],
    [ "skill88", "-", "-", "s", "+" ],
    [ "skill89", "-", "-", "s", "+" ],
    [ "skill90", "-", "-", "s", "+" ],
    [ "skill91", "-", "-", "s", "+" ],
    [ "skill92", "-", "-", "s", "+" ],
    [ "skill93", "-", "-", "s", "+" ],
    [ "skill94", "-", "-", "s", "+" ],
    [ "skill95", "-", "-", "s", "+" ],
    [ "skill96", "-", "-", "s", "+" ],
    [ "skill97", "-", "-", "s", "+" ],
    [ "skill98", "-", "-", "s", "+" ]
] %}
{# -------------------------------------------------------------- #}
{% macro doSkill(var, id, sk) %}{% set name = attribute(variables, 'skill_name_' ~ id)|default %}
{% if name == "" %}{% set name = sk[1]|default %}{% endif %}{% set tag = "td" %}{% if sk[3]|default == "c" %}{% set tag = "th" %}{% endif %}
{% set v = attribute(var, 'skill_value_' ~ id)|default %}{% set pl = sk[2]|default %}
<tr>
  <{{tag}} class='var var-skill-name' title='Skill Name'>
    <input value='{{name}}' class='form-control ivar ivar-skill-name' id='skill_name' name='skill_name_{{id}}' type='text' />
  </{{tag}}><td width='180px' class='var {{eo}} var-skill-value c' title='Skill Value'>
    <input value='{{v}}' class='form-control ivar ivar-skill-value c' id='skill_value' name='skill_value_{{id}}' type='number' placeholder='{{pl}}' />
  </td><td class='var {{eo}} var-skill-mark c' title='checked'>
    <input value='0' id='skill_mark' name='skill_mark_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(var, 'skill_mark_' ~ id)|default > 0 %} checked='checked'{% endif %} id='skill_mark' name='skill_mark_{{id}}' type='checkbox' />
  </td>
</tr>{% endmacro doSkill %}
{# -------------------------------------------------------------- #}
<div class="container-fluid sheet-basic-roleplaying">
  <div class="row">
    <div class="col-12">
      <div class="card personal" id="card-personal">
        <div class="card-header personal">Personal</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='ilbl od ilbl-name' width='30%'><label for='name'>Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='Name of the hero' type='text' required=required /></td></tr>
                <tr><th class='ilbl ev ilbl-culture'><label for='culture'>Culture</label></th><td class='ivar ev ivar-culture'><input value='{{variables.culture|default}}' class='form-control ivar ivar-culture' id='culture' name='culture' type='text' /></td></tr>
                <tr><th class='ilbl od ilbl-gender'><label for='gender'>Gender</label></th><td class='ivar od ivar-gender'><input value='{{variables.gender|default}}' class='form-control ivar ivar-gender' id='gender' name='gender' type='text' /></td></tr>
                <tr><th class='ilbl ev ilbl-handedness'><label for='handedness'>Handedness</label></th><td class='ivar ev ivar-handedness ' >
                  <select  class='form-control ivar ivar-handedness' id='handedness' name='handedness'>
                    <option value='right' {% if variables.handedness|default == 'right' %}selected='selected' {% endif %} > right </option>
                    <option value='left' {% if variables.handedness|default == 'left' %}selected='selected' {% endif %} > left </option>
                    <option value='ambidextrous' {% if variables.handedness|default == 'ambidextrous' %}selected='selected' {% endif %} > ambidextrous </option>
                  </select></td></tr>
                <tr><th class='ilbl od ilbl-height'><label for='height'>Height</label></th><td class='ivar od ivar-height'><input value='{{variables.height|default}}' class='form-control ivar ivar-height' id='height' name='height' type='text' /></td></tr>
                <tr><th class='ilbl ev ilbl-weight'><label for='weight'>Weight</label></th><td class='ivar ev ivar-weight'><input value='{{variables.weight|default}}' class='form-control ivar ivar-weight' id='weight' name='weight' type='text' /></td></tr>
                <tr><th class='ilbl od ilbl-profession'><label for='profession'>Profession</label></th><td class='ivar od ivar-profession'><input value='{{variables.profession|default}}' class='form-control ivar ivar-profession' id='profession' name='profession' type='text' /></td></tr>
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='ilbl ev ilbl-wealth'><label for='wealth'>Wealth</label></th><td class='ivar ev ivar-wealth'><input value='{{variables.wealth|default}}' class='form-control ivar ivar-wealth' id='wealth' name='wealth' type='text' /></td></tr>
                <tr><th class='ilbl od ilbl-gods-religion'><label for='gods-religion'>Gods / Religion</label></th><td class='ivar od ivar-gods-religion'><input value='{{variables.gods_religion|default}}' class='form-control ivar ivar-gods-religion' id='gods_religion' name='gods_religion' type='text' /></td></tr>
                <tr><th class='ilbl ev ilbl-move'><label for='move'>Movement (MOV)</label></th><td class='ivar ev ivar-move'><input value='{{variables.move|default}}' class='form-control ivar ivar-move c' id='move' name='move' type='number' placeholder='10'/></td></tr>
                <tr><th class='ilbl od ilbl-age'><label for='age'>Age</label></th><td class='ivar od ivar-age'><input value='{{variables.age|default}}' class='form-control ivar ivar-age c' id='age' name='age' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-portrait'><label for='portrait'>Portrait</label></th><td class='ivar ev ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait c' id='portrait' name='portrait' placeholder='WA image ID' type='number' /></td></tr>
                <tr><th class='ilbl od ilbl-player'><label for='player'>Player</label></th><td class='ivar od ivar-player'><input value='{{variables.player|default}}' class='form-control ivar ivar-player' id='player' name='player' placeholder='Your name' type='text' /></td></tr>
              </table>
            </div>
          </div>
          <table class='table'>
            <tr><th class='ilbl ev ilbl-distinctive-features'><label for='distinctive-features'>Distinctive Features</label></th><td class='ivar ev ivar-distinctive-features'><input value='{{variables.distinctive_features|default}}' class='form-control ivar ivar-distinctive-features' id='distinctive_features' name='distinctive_features' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-description'><label for='description'>Description</label></th><td class='ivar od ivar-description'><div class='iContent'><textarea class='form-control ivar ivar-description' id='description' name='description' rows='3' >{{variables.description|default}}</textarea></div></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card characteristics" id="card-characteristics">
        <div class="card-header characteristics">Characteristics</div>
        <div class="card-body of">
          <table class='table'>
            <tr><th width='90px' class='ilbl od ilbl-str' title='Strength'><label for='str'>STR</label></th><td width='60px' class='ivar od ivar-str' title='Strength'><input value='{{variables.str|default}}' class='form-control ivar ivar-str c' id='str' name='str' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-effort'><label for='effort'>Effort Roll</label></th><td width='100px' class='ivar ev ivar-effort'><input value='{{variables.effort|default}}' class='form-control ivar ivar-effort c' id='effort' name='effort' placeholder='STR x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-con' title='Constitution'><label for='con'>CON</label></th><td class='ivar od ivar-con' title='Constitution'><input value='{{variables.con|default}}' class='form-control ivar ivar-con c' id='con' name='con' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-stamina'><label for='stamina'>Stamina Roll</label></th><td class='ivar ev ivar-stamina'><input value='{{variables.stamina|default}}' class='form-control ivar ivar-stamina c' id='stamina' name='stamina' placeholder='CON x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-siz' title='Size'><label for='siz'>SIZ</label></th><td class='ivar od ivar-siz' title='Size'><input value='{{variables.siz|default}}' class='form-control ivar ivar-siz c' id='siz' name='siz' placeholder='2d6+6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-damage-modifier' title='STR + SIZ, result see table page 20'><label for='damage-modifier'>Damage Modifier</label></th><td class='ivar ev ivar-damage-modifier' title='STR + SIZ, result see table page 20'>&nbsp;</td></tr>
            <tr><th class='ilbl od ilbl-int' title='Intelligence'><label for='int'>INT</label></th><td class='ivar od ivar-int' title='Intelligence'><input value='{{variables.int|default}}' class='form-control ivar ivar-int c' id='int' name='int' placeholder='2d6+6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-idea'><label for='idea'>Idea Roll</label></th><td class='ivar ev ivar-idea'><input value='{{variables.idea|default}}' class='form-control ivar ivar-idea c' id='idea' name='idea' placeholder='INT x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-pow' title='Power'><label for='pow'>POW</label><div class='ivar od ivar-pow-mark float-right' title='checked'><input value='0' id='pow_mark' name='pow_mark' type='hidden' /><input value='1' class='c' {% if variables.pow_mark|default > 0 %} checked='checked'{% endif %} id='pow_mark' name='pow_mark' type='checkbox' /></div></th><td class='ivar od ivar-pow' title='Power'><input value='{{variables.pow|default}}' class='form-control ivar ivar-pow c' id='pow' name='pow' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-luck'><label for='luck'>Luck</label></th><td class='ivar ev ivar-luck'><input value='{{variables.luck|default}}' class='form-control ivar ivar-luck c' id='luck' name='luck' placeholder='POW x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-dex' title='Dexterity'><label for='dex'>DEX</label></th><td class='ivar od ivar-dex' title='Dexterity'><input value='{{variables.dex|default}}' class='form-control ivar ivar-dex c' id='dex' name='dex' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-agility'><label for='agility'>Agility Roll</label></th><td class='ivar ev ivar-agility'><input value='{{variables.agility|default}}' class='form-control ivar ivar-agility c' id='agility' name='agility' placeholder='DEX x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-cha' title='Charisma'><label for='cha'>CHA</label></th><td class='ivar od ivar-cha' title='Charisma'><input value='{{variables.cha|default}}' class='form-control ivar ivar-cha c' id='cha' name='cha' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-charm'><label for='charm'>Charm Roll</label></th><td class='ivar ev ivar-charm'><input value='{{variables.charm|default}}' class='form-control ivar ivar-charm c' id='charm' name='charm' placeholder='CHA x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-edu' title='Education'><label for='edu'>EDU</label></th><td class='ivar od ivar-edu' title='Education'><input value='{{variables.edu|default}}' class='form-control ivar ivar-edu c' id='edu' name='edu' placeholder='2d6+6' type='number' /></td>
            <th class='ilbl ev ilbl-knowledge'><label for='knowledge'>Knowledge Roll</label></th><td class='ivar ev ivar-knowledge'><input value='{{variables.knowledge|default}}' class='form-control ivar ivar-knowledge c' id='knowledge' name='knowledge' placeholder='EDU x 05' type='number' /></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card hit points" id="card-hit points">
            <div class="card-header hit points">Hit Points (HP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='ilbl od ilbl-major-wound'><label for='major-wound'>Major Wound</label></th><td class='ivar od ivar-major-wound'><input value='{{variables.major_wound|default}}' class='form-control ivar ivar-major-wound' id='major_wound' name='major_wound' type='text' placeholder="HP/2" /></td></tr>
                <tr><th class='ilbl ev ilbl-dead'><label for='dead'>Dead</label></th><td class='ivar ev ivar-dead'><input value='{{variables.dead|default}}' class='form-control ivar ivar-dead' id='dead' name='dead' type='text' /></td></tr>
                <tr><th class='ilbl od ilbl-hit-points-current'><label for='hit-points-current'>HP Current</label></th><td class='ivar od ivar-hit-points-current'><input value='{{variables.hit_points_current|default}}' class='form-control ivar ivar-hit-points-current c' id='hit_points_current' name='hit_points_current' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-hit-points-max'><label for='hit-points-max'>HP Max</label></th><td class='ivar ev ivar-hit-points-max'><input value='{{variables.hit_points_max|default}}' class='form-control ivar ivar-hit-points-max c' id='hit_points_max' name='hit_points_max' type='number' placeholder="(CON+SIZ)/2" /></td></tr>
                <tr><th class='ilbl od ilbl-hit-points-notes' width='50%'><label for='hit-points-notes'>Notes</label></th><td class='ivar od ivar-hit-points-notes'><input value='{{variables.hit_points_notes|default}}' class='form-control ivar ivar-hit-points-notes' id='hit_points_notes' name='hit_points_notes' type='text' /></td></tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card sanity points" id="card-sanity points">
              <div class="card-header sanity points">Sanity Points (SAN)</div>
              <div class="card-body of">
                <table class='table'>
                  <tr><th class='ilbl od ilbl-sanity-points-current'><label for='sanity-points-current'>Current</label></th><td class='ivar od ivar-sanity-points-current'><input value='{{variables.sanity_points_current|default}}' class='form-control ivar ivar-sanity-points-current c' id='sanity_points_current' name='sanity_points_current' type='number' /></td></tr>
                  <tr><th class='ilbl ev ilbl-sanity-points-max'><label for='sanity-points-max'>Max</label></th><td class='ivar ev ivar-sanity-points-max'><input value='{{variables.sanity_points_max|default}}' class='form-control ivar ivar-sanity-points-max c' id='sanity_points_max' name='sanity_points_max' type='number' placeholder='POW x 05'/></td></tr>
                  <tr><th class='ilbl od ilbl-sanity-points-temporary'><label for='sanity-points-temporary'>Temporary</label></th><td class='ivar od ivar-sanity-points-temporary'><input value='{{variables.sanity_points_temporary|default}}' class='form-control ivar ivar-sanity-points-temporary c' id='sanity_points_temporary' name='sanity_points_temporary' type='number' /></td></tr>
                  <tr><th class='ilbl ev ilbl-sanity-points-notes' width='25%'><label for='sanity-points-notes'>Notes</label></th><td class='ivar ev ivar-sanity-points-notes'><input value='{{variables.sanity_points_notes|default}}' class='form-control ivar ivar-sanity-points-notes' id='sanity_points_notes' name='sanity_points_notes' type='text' /></td></tr>
                </table>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card fatigue points" id="card-fatigue points">
            <div class="card-header fatigue points">Fatigue Points (FP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='ilbl od ilbl-fatigue-points-current'><label for='fatigue-points-current'>Current</label></th><td class='ivar od ivar-fatigue-points-current'><input value='{{variables.fatigue_points_current|default}}' class='form-control ivar ivar-fatigue-points-current c' id='fatigue_points_current' name='fatigue_points_current' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-fatigue-points-max'><label for='fatigue-points-max'>Max</label></th><td class='ivar ev ivar-fatigue-points-max'><input value='{{variables.fatigue_points_max|default}}' class='form-control ivar ivar-fatigue-points-max c' id='fatigue_points_max' name='fatigue_points_max' type='number' placeholder='STR+CON'/></td></tr>
                <tr><th class='ilbl od ilbl-fatigue-notes' width='25%'><label for='fatigue-notes'>Notes</label></th><td class='ivar od ivar-fatigue-notes'><input value='{{variables.fatigue_notes|default}}' class='form-control ivar ivar-fatigue-notes' id='fatigue_notes' name='fatigue_notes' type='text' /></td></tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card power points" id="card-power points">
            <div class="card-header power points">Power Points (PP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='ilbl od ilbl-power-points-current'><label for='power-points-current'>Current</label></th><td class='ivar od ivar-power-points-current'><input value='{{variables.power_points_current|default}}' class='form-control ivar ivar-power-points-current c' id='power_points_current' name='power_points_current' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-power-points-max'><label for='power-points-max'>Max</label></th><td class='ivar ev ivar-power-points-max'><input value='{{variables.power_points_max|default}}' class='form-control ivar ivar-power-points-max c' id='power_points_max' name='power_points_max' type='number' placeholder="POW"/></td></tr>
                <tr><th class='ilbl od ilbl-battery'><label for='battery'>Battery</label></th><td class='ivar od ivar-battery'><input value='{{variables.battery|default}}' class='form-control ivar ivar-battery' id='battery' name='battery' type='text' /></td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card skills" id="card-skills">
        <div class="card-header skills">Skills</div>
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr>
                  <th class='ilbl od ilbl-skill-name'><label for='skill-name'>Name</label></th>
                  <th class='ilbl od ilbl-skill-value c' width='60px'><label for='skill-value'>%</label></th>
                  <th class='ilbl od ilbl-skill-mark c' width='40px'><label for='skill-mark'>C</label></th>
                </tr>
                {% for i in 1..49 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                  {% set sk = skill_list[id-1] %}
                  {{ sheet.doSkill(variables, id, sk) }}
                {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr>
                  <th class='ilbl od ilbl-skill-name'><label for='skill-name'>Name</label></th>
                  <th class='ilbl od ilbl-skill-value c' width='60px'><label for='skill-value'>%</label></th>
                  <th class='ilbl od ilbl-skill-mark c' width='40px'><label for='skill-mark'>C</label></th>
                  </tr>
                {% for i in 50..98 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                  {% set sk = skill_list[id-1] %}
                  {{ sheet.doSkill(variables, id, sk) }}
                {% endfor %}
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card weapons" id="card-weapons">
        <div class="card-header weapons">Weapons</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-weapon-type'><label for='weapon-type'>Type</label></th>
              <th class='ilbl od ilbl-weapon-value c' width='60px'><label for='weapon-value'>%</label></th>
              <th class='ilbl od ilbl-weapon-damage' width='20%'><label for='weapon-damage'>Damage</label></th>
              <th class='ilbl od ilbl-weapon-range c' width='80px'><label for='weapon-range'>Range</label></th>
              <th class='ilbl od ilbl-weapon-attacks' width='60px'><label for='weapon-attacks'>Attacks</label></th>
              <th class='ilbl od ilbl-weapon-length c' width='80px'><label for='weapon-length'>Length</label></th>
              <th class='ilbl od ilbl-weapon-hand c' width='40px'><label for='weapon-hand'>Hand</label></th>
              <th class='ilbl od ilbl-weapon-hp c' width='60px'><label for='weapon-hp'>HP</label></th>
              <th class='ilbl od ilbl-weapon-mark c' width='40px'><label for='weapon-mark'>C</label></th>
            </tr>
            {% for i in 1..8 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-weapon-type' title='Weapon Name'><input value='{{attribute(variables, 'weapon_type_' ~ id)|default}}' class='form-control ivar ivar-weapon-type' id='weapon_type' name='weapon_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-value' title='Weapon Skill Value'><input value='{{attribute(variables, 'weapon_value_' ~ id)|default}}' class='form-control ivar ivar-weapon-value c' id='weapon_value' name='weapon_value_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-weapon-damage'><input value='{{attribute(variables, 'weapon_damage_' ~ id)|default}}' class='form-control ivar ivar-weapon-damage' id='weapon_damage' name='weapon_damage_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-range'><input value='{{attribute(variables, 'weapon_range_' ~ id)|default}}' class='form-control ivar ivar-weapon-range c' id='weapon_range' name='weapon_range_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-attacks'><input value='{{attribute(variables, 'weapon_attacks_' ~ id)|default}}' class='form-control ivar ivar-weapon-attacks c' id='weapon_attacks' name='weapon_attacks_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-weapon-length'><input value='{{attribute(variables, 'weapon_length_' ~ id)|default}}' class='form-control ivar ivar-weapon-length c' id='weapon_length' name='weapon_length_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-hand'><input value='{{attribute(variables, 'weapon_hand_' ~ id)|default}}' class='form-control ivar ivar-weapon-hand c' id='weapon_hand' name='weapon_hand_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-hp'><input value='{{attribute(variables, 'weapon_hp_' ~ id)|default}}' class='form-control ivar ivar-weapon-hp c' id='weapon_hp' name='weapon_hp_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-mark c' title='checked'><input value='0' id='weapon_mark' name='weapon_mark_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'weapon_mark_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_mark' name='weapon_mark_{{id}}' type='checkbox' /></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card armor" id="card-armor">
        <div class="card-header armor">Armor</div>
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-4">
              <table class='table'>
                <tr>
                  <th class='ilbl od ilbl-armor-type'><label for='armor-type'>Type</label></th>
                  <th class='ilbl od ilbl-armor-value c' width='60px'><label for='armor-value'>%</label></th>
                  </tr>
                {% for i in 1..4 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                <tr>
                  <td class='ivar {{eo}} ivar-armor-type' title='Armor Name'><input value='{{attribute(variables, 'armor_type_' ~ id)|default}}' class='form-control ivar ivar-armor-type' id='armor_type' name='armor_type_{{id}}' type='text' /></td>
                  <td class='ivar {{eo}} ivar-armor-value' title='Armor Value'><input value='{{attribute(variables, 'armor_value_' ~ id)|default}}' class='form-control ivar ivar-armor-value c' id='armor_value' name='armor_value_{{id}}' type='number' /></td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-8">
              <table class='table'>
                <tr>
                  <th class='ilbl od ilbl-shield-type' width='25%'><label for='shield-type'>Shield Type</label></th>
                  <th class='ilbl od ilbl-shiele-value c' width='60px'><label for='shiele-value'>%</label></th>
                  <th class='ilbl od ilbl-shield-damage' width='25%'><label for='shield-damage'>Damage</label></th>
                  <th class='ilbl od ilbl-shield-hp c' width='60px'><label for='shield-hp'>HP</label></th>
                  <th class='ilbl od ilbl-shield-mark c' width='40px'><label for='shield-mark'>C</label></th>
                </tr>
                <tr>
                  <td class='ivar {{eo}} ivar-shield-type'><input value='{{variables.shield_type|default}}' class='form-control ivar ivar-shield-type' id='shield_type' name='shield_type' type='text' /></td>
                  <td class='ivar {{eo}} ivar-shiele-value' title='Shield Value'><input value='{{variables.shiele_value|default}}' class='form-control ivar ivar-shiele-value c' id='shiele_value' name='shiele_value' type='number' /></td>
                  <td class='ivar {{eo}} ivar-shield-damage'><input value='{{variables.shield_damage|default}}' class='form-control ivar ivar-shield-damage' id='shield_damage' name='shield_damage' type='text' /></td>
                  <td class='ivar {{eo}} ivar-shield-hp'><input value='{{variables.shield_hp|default}}' class='form-control ivar ivar-shield-hp c' id='shield_hp' name='shield_hp' type='text' /></td>
                  <td class='ivar {{eo}} ivar-shield-mark c'  title='checked'><input value='0' id='shield_mark' name='shield_mark' type='hidden' /><input value='1' class='c' {% if variables.shield_mark|default > 0 %} checked='checked'{% endif %} id='shield_mark' name='shield_mark' type='checkbox' /></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class='ilbl od ilbl-combat-notes'><label for='combat-notes'>Notes</label></div><div class='ivar od ivar-combat-notes'><div class='iContent'><textarea class='form-control ivar ivar-combat-notes' id='combat_notes' name='combat_notes' rows='3' >{{variables.combat_notes|default}}</textarea></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card powers" id="card-powers">
        <div class="card-header powers">Powers</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-power-name' width='25%'><label for='power-name'>Power</label></th>
              <th class='ilbl od ilbl-power-type c' width='100px'><label for='power-type'>Energy Type</label></th>
              <th class='ilbl od ilbl-power-levels-act' width='60px'><label for='power-levels-act'>Active Levels</label></th>
              <th class='ilbl od ilbl-power-levels-total' width='60px'><label for='power-levels-total'>Total Levels</label></th>
              <th class='ilbl od ilbl-power-range c'><label for='power-range'>Range</label></th>
              <th class='ilbl od ilbl-power-cost c' width='60px' title='Cost To Use'><label for='power-cost'>Cost</label></th>
              <th class='ilbl od ilbl-power-duration c'><label for='power-duration'>Duration</label></th>
              <th class='ilbl od ilbl-power-cp c' width='60px'><label for='power-cp'>CP</label></th>
            </tr>
            {% for i in 1..8 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-power-name'><input value='{{attribute(variables, 'power_name_' ~ id)|default}}' class='form-control ivar ivar-power-name' id='power_name' name='power_name_{{id}}' type='text' placeholder='power name'/></td>
              <td class='ivar {{eo}} ivar-power-type'><input value='{{attribute(variables, 'power_type_' ~ id)|default}}' class='form-control ivar ivar-power-type c' id='power_type' name='power_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-power-levels-act'><input value='{{attribute(variables, 'power_levels_act_' ~ id)|default}}' class='form-control ivar ivar-power-levels-act c' id='power_levels_act' name='power_levels_act_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-power-levels-total'><input value='{{attribute(variables, 'power_levels_total_' ~ id)|default}}' class='form-control ivar ivar-power-levels-total c' id='power_levels_total' name='power_levels_total_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-power-range'><input value='{{attribute(variables, 'power_range_' ~ id)|default}}' class='form-control ivar ivar-power-range c' id='power_range' name='power_range_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-power-cost'><input value='{{attribute(variables, 'power_cost_' ~ id)|default}}' class='form-control ivar ivar-power-cost c' id='power_cost' name='power_cost_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-power-duration'><input value='{{attribute(variables, 'power_duration_' ~ id)|default}}' class='form-control ivar ivar-power-duration c' id='power_duration' name='power_duration_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-power-cp' title='Character Points'><input value='{{attribute(variables, 'power_cp_' ~ id)|default}}' class='form-control ivar ivar-power-cp c' id='power_cp' name='power_cp_{{id}}' type='number' /></td>
            </tr>
            <tr>
              <th class='ivar {{eo}} ivar-power-dummy'>&nbsp;</th>
              <th class='ilbl {{eo}} ilbl-power-notes'><label for='power-notes'>Notes</label></th>
              <td class='ivar {{eo}} ivar-power-notes pd2' colspan=7><input value='{{attribute(variables, 'power_notes_' ~ id)|default}}' class='form-control ivar ivar-power-notes pd2' id='power_notes' name='power_notes_{{id}}' type='text' /></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card attack powers" id="card-attack powers">
        <div class="card-header attack powers">Attack Powers</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-apower-name' width='25%'><label for='apower-name'>Name</label></th>
              <th class='ilbl od ilbl-apower-value c' width='60px'><label for='apower-value'>%</label></th>
              <th class='ilbl od ilbl-apower-damage' width='20%'><label for='apower-damage'>Damage</label></th>
              <th class='ilbl od ilbl-apower-range c'><label for='apower-range'>Range</label></th>
              <th class='ilbl od ilbl-apower-type c'><label for='apower-type'>Type</label></th>
              <th class='ilbl od ilbl-apower-cost c' width='60px'><label for='apower-cost'>Cost</label></th>
              <th class='ilbl od ilbl-apower-mark c' width='40px'><label for='apower-mark'>C</label></th>
            </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-apower-name' title='Attack Power'><input value='{{attribute(variables, 'apower_name_' ~ id)|default}}' class='form-control ivar ivar-apower-name' id='apower_name' name='apower_name_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-apower-value' title='Attack Power Value'><input value='{{attribute(variables, 'apower_value_' ~ id)|default}}' class='form-control ivar ivar-apower-value c' id='apower_value' name='apower_value_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-apower-damage'><input value='{{attribute(variables, 'apower_damage_' ~ id)|default}}' class='form-control ivar ivar-apower-damage' id='apower_damage' name='apower_damage_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-apower-range'><input value='{{attribute(variables, 'apower_range_' ~ id)|default}}' class='form-control ivar ivar-apower-range c' id='apower_range' name='apower_range_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-apower-type'><input value='{{attribute(variables, 'apower_type_' ~ id)|default}}' class='form-control ivar ivar-apower-type c' id='apower_type' name='apower_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-apower-cost'><input value='{{attribute(variables, 'apower_cost_' ~ id)|default}}' class='form-control ivar ivar-apower-cost c' id='apower_cost' name='apower_cost_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-apower-mark c'  title='checked'><input value='0' id='apower_mark' name='apower_mark_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'apower_mark_' ~ id)|default > 0 %} checked='checked'{% endif %} id='apower_mark' name='apower_mark_{{id}}' type='checkbox' /></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card defensive powers" id="card-defensive powers">
        <div class="card-header defensive powers">Defensive Powers</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-dpower-name' width='25%'><label for='dpower-name'>Power</label></th>
              <th class='ilbl od ilbl-dpower-type c'><label for='dpower-type'>Energy Type</label></th>
              <th class='ilbl od ilbl-dpower-level c' width='60px'><label for='dpower-level'>Level</label></th>
              <th class='ilbl od ilbl-dpower-value c' width='60px'><label for='dpower-value'>%</label></th>
              <th class='ilbl od ilbl-dpower-cost c' width='70px'><label for='dpower-cost'>Energy Cost</label></th>
            </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-dpower-name' title='Defense Power'><input value='{{attribute(variables, 'dpower_name_' ~ id)|default}}' class='form-control ivar ivar-dpower-name' id='dpower_name' name='dpower_name_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-dpower-type'><input value='{{attribute(variables, 'dpower_type_' ~ id)|default}}' class='form-control ivar ivar-dpower-type c' id='dpower_type' name='dpower_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-dpower-level'><input value='{{attribute(variables, 'dpower_level_' ~ id)|default}}' class='form-control ivar ivar-dpower-level c' id='dpower_level' name='dpower_level_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-dpower-value' title='Defense Power Value'><input value='{{attribute(variables, 'dpower_value_' ~ id)|default}}' class='form-control ivar ivar-dpower-value c' id='dpower_value' name='dpower_value_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-dpower-cost'><input value='{{attribute(variables, 'dpower_cost_' ~ id)|default}}' class='form-control ivar ivar-dpower-cost c' id='dpower_cost' name='dpower_cost_{{id}}' type='number' /></td>
            </tr>
            {% endfor %}
          </table>
          <br>
          <table class='table'>
            <tr>{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <th class='ilbl {{eo}} ilbl-dpower-defense'><label for='dpower-defense'>Defense</label></th><td class='ivar {{eo}} ivar-dpower-defense'><input value='{{variables.dpower_defense|default}}' class='form-control ivar ivar-dpower-defense c' id='dpower_defense' name='dpower_defense' type='number' /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card character points" id="card-character points">
        <div class="card-header character points">Character Points</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl {{eo}} ilbl-campaign-power-level'><label for='campaign-power-level'>Campaign Power Level</label></th><td class='ivar {{eo}} ivar-campaign-power-level'><input value='{{variables.campaign_power_level|default}}' class='form-control ivar ivar-campaign-power-level c' id='campaign_power_level' name='campaign_power_level' type='number' /></td>
              <th class='ilbl {{eo}} ilbl-character-points'><label for='character-points'>Character Points</label></th><td class='ivar {{eo}} ivar-character-points'><input value='{{variables.character_points|default}}' class='form-control ivar ivar-character-points c' id='character_points' name='character_points' type='number' /></td>
            </tr>
          </table>
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-character-failing-type'><label for='character-failing-type'>Character Failings</label></th>
              <th class='ilbl od ilbl-character-failing-points' width='60px'><label for='character-failing-points'>Points</label></th>
            </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-character-failing-type'><input value='{{attribute(variables, 'character_failing_type_' ~ id)|default}}' class='form-control ivar ivar-character-failing-type' id='character_failing_type' name='character_failing_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-character-failing-points'><input value='{{attribute(variables, 'character_failing_points_' ~ id)|default}}' class='form-control ivar ivar-character-failing-points c' id='character_failing_points' name='character_failing_points_{{id}}' type='number' /></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card belongings" id="card-belongings">
        <div class="card-header belongings"><label for="belongings">Belongings</label></div>
        <div class="card-body of">
          <div class='ivar od ivar-belongings'><div class='iContent'><textarea class='form-control ivar ivar-belongings' id='belongings' name='belongings' rows='3' >{{variables.belongings|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card notes" id="card-notes">
        <div class="card-header notes"><label for="notes">Notes</label></div>
        <div class="card-body of">
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3' >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>