{% import _self as sheet %}
{% set skill_list = [
    [ "skill001", "Communication", "-", "c", "-", "-" ],
    [ "skill002", "Bargain", "05", "s", "+", "Communication"],
    [ "skill003", "Command", "05", "s", "+", "Communication"],
    [ "skill004", "Disguise", "01", "s", "+", "Communication"],
    [ "skill005", "Etiquette", "05", "s", "+", "Communication"],
    [ "skill006", "Fast Talk", "05", "s", "+", "Communication"],
    [ "skill007", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill008", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill009", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill010", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill011", "Language:", "INT/EDU x 05 or 00", "s", "+", "Communication"],
    [ "skill012", "Perform", "05", "s", "+", "Communication"],
    [ "skill013", "Persuade", "15", "s", "+", "Communication"],
    [ "skill014", "Status", "15 or various", "s", "+", "Communication"],
    [ "skill015", "Teach", "10", "s", "+", "Communication"],
    [ "skill016", "Manipulation", "-", "c", "-", "-" ],
    [ "skill017", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill018", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill019", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill020", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill021", "Art:", "05", "s", "+", "Manipulation" ],
    [ "skill022", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill023", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill024", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill025", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill026", "Craft:", "05", "s", "+", "Manipulation" ],
    [ "skill027", "Demolition", "01", "s", "+", "Manipulation" ],
    [ "skill028", "Fine Manipulation", "05", "s", "+", "Manipulation" ],
    [ "skill029", "Heavy Machine:", "01", "s", "+", "Manipulation" ],
    [ "skill030", "Heavy Machine:", "01", "s", "+", "Manipulation" ],
    [ "skill031", "Repair:", "15", "s", "+", "Manipulation" ],
    [ "skill032", "Repair:", "15", "s", "+", "Manipulation" ],
    [ "skill033", "Sleight of Hand", "05", "s", "+", "Manipulation" ],
    [ "skill034", "Mental", "-", "c", "-", "-" ],
    [ "skill035", "Appraise", "15", "s", "+", "Mental" ],
    [ "skill036", "First Aid", "30", "s", "+", "Mental" ],
    [ "skill037", "Gaming", "INT + POW", "s", "+", "Mental" ],
    [ "skill038", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill039", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill040", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill041", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill042", "Knowledge:", "05 or 00", "s", "+", "Mental" ],
    [ "skill043", "Literacy", "00 or language", "s", "+", "Mental" ],
    [ "skill044", "Medicine", "05", "s", "+", "Mental" ],
    [ "skill045", "Psychotherapy", "01 or 00", "s", "+", "Mental" ],
    [ "skill046", "Science:", "01", "s", "+", "Mental" ],
    [ "skill047", "Science:", "01", "s", "+", "Mental" ],
    [ "skill048", "Science:", "01", "s", "+", "Mental" ],
    [ "skill049", "Science:", "01", "s", "+", "Mental" ],
    [ "skill050", "Science:", "01", "s", "+", "Mental" ],
    [ "skill051", "Strategy", "01", "s", "+", "Mental" ],
    [ "skill052", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill053", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill054", "Technical:", "05", "s", "+", "Mental" ],
    [ "skill055", "Perception", "-", "c", "-", "-" ],
    [ "skill056", "Insight", "05", "s", "+", "Perception" ],
    [ "skill057", "Listen", "25", "s", "+", "Perception" ],
    [ "skill058", "Navigate", "10", "s", "+", "Perception" ],
    [ "skill059", "Research", "25", "s", "+", "Perception" ],
    [ "skill060", "Sense", "10", "s", "+", "Perception" ],
    [ "skill061", "Spot", "25", "s", "+", "Perception" ],
    [ "skill062", "Track", "10", "s", "+", "Perception" ],
    [ "skill063", "Physical", "-", "c", "-", "-" ],
    [ "skill064", "Climb", "40", "s", "+", "Physical" ],
    [ "skill065", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill066", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill067", "Drive:", "20 or 01", "s", "+", "Physical" ],
    [ "skill068", "Fly", "DEX x 04 or 1/2 DEX", "s", "+", "Physical" ],
    [ "skill069", "Hide", "10", "s", "+", "Physical" ],
    [ "skill070", "Jump", "25", "s", "+", "Physical" ],
    [ "skill071", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill072", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill073", "Pilot:", "01", "s", "+", "Physical" ],
    [ "skill074", "Projection", "DEX x 02", "s", "+", "Physical" ],
    [ "skill075", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill076", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill077", "Ride:", "05", "s", "+", "Physical" ],
    [ "skill078", "Stealth", "10", "s", "+", "Physical" ],
    [ "skill079", "Swim", "25", "s", "+", "Physical" ],
    [ "skill080", "Throw", "25", "s", "+", "Physical" ],
    [ "skill081", "Combat", "-", "c", "-", "-" ],
    [ "skill082", "Dodge", "DEX x 02", "s", "+", "Combat" ],
    [ "skill083", "Martial Arts", "01", "s", "+", "Combat" ],
    [ "skill084", "-", "-", "s", "+" ],
    [ "skill085", "-", "-", "s", "+" ],
    [ "skill086", "-", "-", "s", "+" ],
    [ "skill087", "-", "-", "s", "+" ],
    [ "skill088", "-", "-", "s", "+" ],
    [ "skill089", "-", "-", "s", "+" ],
    [ "skill090", "-", "-", "s", "+" ],
    [ "skill091", "-", "-", "s", "+" ],
    [ "skill092", "-", "-", "s", "+" ],
    [ "skill093", "-", "-", "s", "+" ],
    [ "skill094", "-", "-", "s", "+" ],
    [ "skill095", "-", "-", "s", "+" ],
    [ "skill096", "-", "-", "s", "+" ],
    [ "skill097", "-", "-", "s", "+" ],
    [ "skill098", "-", "-", "s", "+" ]
] %}
{% set effort = variables.effort|default %}{% if effort == '' %}{% set effort = variables.str|default * 5 %}{% endif %}
{% set stamina = variables.stamina|default %}{% if stamina == '' %}{% set stamina = variables.con|default * 5 %}{% endif %}
{% set idea = variables.idea|default %}{% if idea == '' %}{% set idea = variables.int|default * 5 %}{% endif %}
{% set luck = variables.luck|default %}{% if luck == '' %}{% set luck = variables.pow|default * 5 %}{% endif %}
{% set agility = variables.agility|default %}{% if agility == '' %}{% set agility = variables.dex|default * 5 %}{% endif %}
{% set charm = variables.charm|default %}{% if charm == '' %}{% set charm = variables.cha|default * 5 %}{% endif %}
{% set knowledge = variables.knowledge|default %}{% if knowledge == '' %}{% set knowledge = variables.edu|default * 5 %}{% endif %}
{% set dm = '-1d6' %}
{% set dmb = variables.str|default + variables.siz|default %}
{% if dmb >= 13 and dmb <= 16 %}{% set dm = '-1d4' %}{% endif %}
{% if dmb >= 17 and dmb <= 24 %}{% set dm = '' %}{% endif %}
{% if dmb >= 25 and dmb <= 32 %}{% set dm = '+1d4' %}{% endif %}
{% if dmb >= 33 and dmb <= 40 %}{% set dm = '+1d6' %}{% endif %}
{% if dmb >= 41 and dmb <= 56 %}{% set dm = '+2d6' %}{% endif %}
{% if dmb >= 57 and dmb <= 72 %}{% set dm = '+3d6' %}{% endif %}
{% if dmb > 73 %}{% set dm = '+' ~ (3+(dmb-72)//16) ~ 'd6' %}{% endif %}
{% set damage_modifier = dm %}
{# -------------------------------------------------------------- #}
{% macro doSkill(var, id, sk) %}{% set name = attribute(var, 'skill_name_' ~ id)|default %}
{% if name == "" %}{% set name = sk[1]|default %}{% endif %}{% set tag = "td" %}{% if sk[3]|default == "c" %}{% set tag = "th" %}{% endif %}
{% set v = attribute(var, 'skill_value_' ~ id)|default %}{% set pl = sk[2]|default %}
<tr>
  <{{tag}} class='var var-skill-name' title='Skill Name'>
    <input value='{{name}}' class='form-control ivar ivar-skill-name' id='skill_name' name='skill_name_{{id}}' type='text' />
  </{{tag}}><td width='180px' class='var {{eo}} var-skill-value c' title='Skill Value'>
    <input value='{{v}}' class='form-control ivar ivar-skill-value c' id='skill_value' name='skill_value_{{id}}' type='number' placeholder='{{pl}}' />
  </td><td class='var {{eo}} var-skill-mark c' title='checked'>
    <input value='0' id='skill_mark' name='skill_mark_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(var, 'skill_mark_' ~ id)|default > 0 %} checked='checked'{% endif %} id='skill_mark' name='skill_mark_{{id}}' type='checkbox' />
  </td>
</tr>{% endmacro doSkill %}
{# -------------------------------------------------------------- #}
<div class="container-fluid sheet-basic-roleplaying">
  <div class="row">
    <div class="col-12">
    <center><h1>Basic Roleplaying System</h1></center>
    </div>
    <div class="col-12">
      <div class="card personal" id="card-personal">
        <div class="card-header personal">Personal</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='ilbl od ilbl-name' width='30%'><label for='name'>Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='Name of the hero' type='text' required=required /></td></tr>
                <tr><th class='ilbl ev ilbl-gender'><label for='gender'>Gender</label></th><td class='ivar ev ivar-gender'><input value='{{variables.gender|default}}' class='form-control ivar ivar-gender' id='gender' name='gender' type='text' placeholder='put gender or pronouns here'/></td></tr>
                <tr><th class='ilbl od ilbl-species'><label for='species'>Species</label></th><td class='ivar od ivar-species'><input value='{{variables.species|default}}' class='form-control ivar ivar-species' id='species' name='species' type='text' placeholder='eg Human'/></td></tr>
                <tr><th class='ilbl ev ilbl-culture'><label for='culture'>Culture</label></th><td class='ivar ev ivar-culture'><input value='{{variables.culture|default}}' class='form-control ivar ivar-culture' id='culture' name='culture' type='text' /></td></tr>
                <tr><th class='ilbl od ilbl-profession'><label for='profession'>Profession</label></th><td class='ivar od ivar-profession'><input value='{{variables.profession|default}}' class='form-control ivar ivar-profession' id='profession' name='profession' type='text' placeholder='eg Noble, Soldier' /></td></tr>
                <tr><th class='ilbl ev ilbl-wealth'><label for='wealth'>Wealth Level</label></th><td class='ivar ev ivar-wealth'><input value='{{variables.wealth|default}}' class='form-control ivar ivar-wealth' id='wealth' name='wealth' type='text' placeholder='eg Poor, Average'/></td></tr>
                <tr><th class='ilbl od ilbl-gods-religion'><label for='gods_religion'>Gods / Religion</label></th><td class='ivar od ivar-gods-religion'><input value='{{variables.gods_religion|default}}' class='form-control ivar ivar-gods-religion' id='gods_religion' name='gods_religion' type='text' /></td></tr>
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='ilbl od ilbl-move'><label for='move'>Movement (MOV)</label></th><td class='ivar od ivar-move'><input value='{{variables.move|default}}' class='form-control ivar ivar-move c' id='move' name='move' type='number' placeholder='10'/></td></tr>
                <tr><th class='ilbl ev ilbl-handedness'><label for='handedness'>Handedness</label></th><td class='ivar ev ivar-handedness ' >
                  <select  class='form-control ivar ivar-handedness' id='handedness' name='handedness'>
                    <option value='right' {% if variables.handedness|default == 'right' %}selected='selected' {% endif %} > right </option>
                    <option value='left' {% if variables.handedness|default == 'left' %}selected='selected' {% endif %} > left </option>
                    <option value='ambidextrous' {% if variables.handedness|default == 'ambidextrous' %}selected='selected' {% endif %} > ambidextrous </option>
                  </select></td></tr>
                <tr><th class='ilbl od ilbl-age'><label for='age'>Age</label></th><td class='ivar od ivar-age'><input value='{{variables.age|default}}' class='form-control ivar ivar-age c' id='age' name='age' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-height'><label for='height'>Height</label></th><td class='ivar ev ivar-height'><input value='{{variables.height|default}}' class='form-control ivar ivar-height' id='height' name='height' type='text' /></td></tr>
                <tr><th class='ilbl od ilbl-weight'><label for='weight'>Weight</label></th><td class='ivar od ivar-weight'><input value='{{variables.weight|default}}' class='form-control ivar ivar-weight' id='weight' name='weight' type='text' /></td></tr>
                <tr><th class='ilbl ev ilbl-portrait'><label for='portrait'>Portrait</label></th><td class='ivar ev ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait c' id='portrait' name='portrait' placeholder='WA image ID' type='number' /></td></tr>
                <tr><th class='ilbl od ilbl-player'><label for='player'>Player</label></th><td class='ivar od ivar-player'><input value='{{variables.player|default}}' class='form-control ivar ivar-player' id='player' name='player' placeholder='Your name' type='text' /></td></tr>
              </table>
            </div>
          </div>
          <table class='table'>
            <tr><th class='ilbl ev ilbl-distinctive-features'><label for='distinctive_features'>Distinctive Features</label></th><td class='ivar ev ivar-distinctive-features'><input value='{{variables.distinctive_features|default}}' class='form-control ivar ivar-distinctive-features' id='distinctive_features' name='distinctive_features' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-description'><label for='description'>Description</label></th><td class='ivar od ivar-description'><div class='iContent'><textarea class='form-control ivar ivar-description' id='description' name='description' rows='3' >{{variables.description|default}}</textarea></div></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card characteristics" id="card-characteristics">
        <div class="card-header characteristics">Characteristics</div>
        <div class="card-body of">
          <table class='table'>
            <tr><th width='90px' class='ilbl od ilbl-str' title='Strength'><label for='str'>STR</label></th><td class='ivar od ivar-str' title='Strength'><input value='{{variables.str|default}}' class='form-control ivar ivar-str c' id='str' name='str' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-effort'><label for='effort'>Effort Roll</label></th><td width='90px' class='ivar ev ivar-effort'><input value='{{variables.effort|default}}' class='form-control ivar ivar-effort c' id='effort' name='effort' placeholder='STR x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-con' title='Constitution'><label for='con'>CON</label></th><td class='ivar od ivar-con' title='Constitution'><input value='{{variables.con|default}}' class='form-control ivar ivar-con c' id='con' name='con' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-stamina'><label for='stamina'>Stamina Roll</label></th><td class='ivar ev ivar-stamina'><input value='{{variables.stamina|default}}' class='form-control ivar ivar-stamina c' id='stamina' name='stamina' placeholder='CON x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-siz' title='Size'><label for='siz'>SIZ</label></th><td class='ivar od ivar-siz' title='Size'><input value='{{variables.siz|default}}' class='form-control ivar ivar-siz c' id='siz' name='siz' placeholder='2d6+6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-damage-modifier' title='STR + SIZ, result see table page 20'><label for='damage_modifier'>Damage Modifier</label></th><td class='ivar ev ivar-damage-modifier c' title='STR + SIZ, result see table page 20'>&nbsp;{{damage_modifier}}&nbsp;</td></tr>
            <tr><th class='ilbl od ilbl-int' title='Intelligence'><label for='int'>INT</label></th><td class='ivar od ivar-int' title='Intelligence'><input value='{{variables.int|default}}' class='form-control ivar ivar-int c' id='int' name='int' placeholder='2d6+6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-idea'><label for='idea'>Idea Roll</label></th><td class='ivar ev ivar-idea'><input value='{{variables.idea|default}}' class='form-control ivar ivar-idea c' id='idea' name='idea' placeholder='INT x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-pow' title='Power'><label for='pow'>POW</label><div class='ivar od ivar-pow-mark float-right' title='checked'><input value='0' id='pow_mark' name='pow_mark' type='hidden' /><input value='1' class='c' {% if variables.pow_mark|default > 0 %} checked='checked'{% endif %} id='pow_mark' name='pow_mark' type='checkbox' /></div></th><td class='ivar od ivar-pow' title='Power'><input value='{{variables.pow|default}}' class='form-control ivar ivar-pow c' id='pow' name='pow' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-luck'><label for='luck'>Luck</label></th><td class='ivar ev ivar-luck'><input value='{{variables.luck|default}}' class='form-control ivar ivar-luck c' id='luck' name='luck' placeholder='POW x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-dex' title='Dexterity'><label for='dex'>DEX</label></th><td class='ivar od ivar-dex' title='Dexterity'><input value='{{variables.dex|default}}' class='form-control ivar ivar-dex c' id='dex' name='dex' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-agility'><label for='agility'>Agility Roll</label></th><td class='ivar ev ivar-agility'><input value='{{variables.agility|default}}' class='form-control ivar ivar-agility c' id='agility' name='agility' placeholder='DEX x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-cha' title='Charisma'><label for='cha'>CHA</label></th><td class='ivar od ivar-cha' title='Charisma'><input value='{{variables.cha|default}}' class='form-control ivar ivar-cha c' id='cha' name='cha' placeholder='3d6' type='number' required=required /></td>
            <th class='ilbl ev ilbl-charm'><label for='charm'>Charm Roll</label></th><td class='ivar ev ivar-charm'><input value='{{variables.charm|default}}' class='form-control ivar ivar-charm c' id='charm' name='charm' placeholder='CHA x 05' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-edu' title='Education'><label for='edu'>EDU</label></th><td class='ivar od ivar-edu' title='Education'><input value='{{variables.edu|default}}' class='form-control ivar ivar-edu c' id='edu' name='edu' placeholder='2d6+6' type='number' /></td>
            <th class='ilbl ev ilbl-knowledge'><label for='knowledge'>Knowledge Roll</label></th><td class='ivar ev ivar-knowledge'><input value='{{variables.knowledge|default}}' class='form-control ivar ivar-knowledge c' id='knowledge' name='knowledge' placeholder='EDU x 05' type='number' /></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card hit points" id="card-hit points">
            <div class="card-header hit points">Hit Points (HP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='ilbl od ilbl-major-wound' width='40%'><label for='major_wound'>Major Wound</label></th><td class='ivar od ivar-major-wound c'> HP / 2</td></tr>
                <tr><th class='ilbl ev ilbl-hit-points-current'><label for='hit_points_current'>HP Current</label></th><td class='ivar ev ivar-hit-points-current'><input value='{{variables.hit_points_current|default}}' class='form-control ivar ivar-hit-points-current c' id='hit_points_current' name='hit_points_current' type='number' /></td></tr>
                <tr><th class='ilbl od ilbl-hit-points-max'><label for='hit_points_max'>HP Max</label></th><td class='ivar od ivar-hit-points-max'><input value='{{variables.hit_points_max|default}}' class='form-control ivar ivar-hit-points-max c' id='hit_points_max' name='hit_points_max' type='number' placeholder="(CON+SIZ)/2" /></td></tr>
                <tr><th class='ilbl ev ilbl-hit-points-notes'><label for='hit_points_notes'>Notes</label></th><td class='ivar ev ivar-hit-points-notes'><input value='{{variables.hit_points_notes|default}}' class='form-control ivar ivar-hit-points-notes' id='hit_points_notes' name='hit_points_notes' type='text' /></td></tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card sanity points" id="card-sanity points">
              <div class="card-header sanity points">Sanity Points (SAN)</div>
              <div class="card-body of">
                <table class='table'>
                  <tr><th class='ilbl od ilbl-sanity-points-current' width='40%'><label for='sanity_points_current'>Current</label></th><td class='ivar od ivar-sanity-points-current'><input value='{{variables.sanity_points_current|default}}' class='form-control ivar ivar-sanity-points-current c' id='sanity_points_current' name='sanity_points_current' type='number' /></td></tr>
                  <tr><th class='ilbl ev ilbl-sanity-points-max'><label for='sanity_points_max'>Max</label></th><td class='ivar ev ivar-sanity-points-max'><input value='{{variables.sanity_points_max|default}}' class='form-control ivar ivar-sanity-points-max c' id='sanity_points_max' name='sanity_points_max' type='number' placeholder='POW x 05'/></td></tr>
                  <tr><th class='ilbl od ilbl-sanity-points-temporary'><label for='sanity_points_temporary'>Temporary</label></th><td class='ivar od ivar-sanity-points-temporary'><input value='{{variables.sanity_points_temporary|default}}' class='form-control ivar ivar-sanity-points-temporary c' id='sanity_points_temporary' name='sanity_points_temporary' type='number' /></td></tr>
                  <tr><th class='ilbl ev ilbl-sanity-points-notes'><label for='sanity_points_notes'>Notes</label></th><td class='ivar ev ivar-sanity-points-notes'><input value='{{variables.sanity_points_notes|default}}' class='form-control ivar ivar-sanity-points-notes' id='sanity_points_notes' name='sanity_points_notes' type='text' /></td></tr>
                </table>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card fatigue points" id="card-fatigue points">
            <div class="card-header fatigue points">Fatigue Points (FP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='ilbl od ilbl-fatigue-points-current' width='40%'><label for='fatigue_points_current'>Current</label></th><td class='ivar od ivar-fatigue-points-current'><input value='{{variables.fatigue_points_current|default}}' class='form-control ivar ivar-fatigue-points-current c' id='fatigue_points_current' name='fatigue_points_current' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-fatigue-points-max'><label for='fatigue_points_max'>Max</label></th><td class='ivar ev ivar-fatigue-points-max'><input value='{{variables.fatigue_points_max|default}}' class='form-control ivar ivar-fatigue-points-max c' id='fatigue_points_max' name='fatigue_points_max' type='number' placeholder='STR+CON'/></td></tr>
                <tr><th class='ilbl od ilbl-fatigue-points-notes'><label for='fatigue_points_notes'>Notes</label></th><td class='ivar od ivar-fatigue-points-notes'><input value='{{variables.fatigue_points_notes|default}}' class='form-control ivar ivar-fatigue-points-notes' id='fatigue_points_notes' name='fatigue_points_notes' type='text' /></td></tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card power points" id="card-power points">
            <div class="card-header power points">Power Points (PP)</div>
            <div class="card-body of">
              <table class='table'>
                <tr><th class='ilbl od ilbl-power-points-current' width='40%'><label for='power_points_current'>Current</label></th><td class='ivar od ivar-power-points-current'><input value='{{variables.power_points_current|default}}' class='form-control ivar ivar-power-points-current c' id='power_points_current' name='power_points_current' type='number' /></td></tr>
                <tr><th class='ilbl ev ilbl-power-points-max'><label for='power_points_max'>Max</label></th><td class='ivar ev ivar-power-points-max'><input value='{{variables.power_points_max|default}}' class='form-control ivar ivar-power-points-max c' id='power_points_max' name='power_points_max' type='number' placeholder="POW"/></td></tr>
                <tr><th class='ilbl od ilbl-battery'><label for='battery'>Battery</label></th><td class='ivar od ivar-battery'><input value='{{variables.battery|default}}' class='form-control ivar ivar-battery c' id='battery' name='battery' type='text' /></td></tr>
                <tr><th class='ilbl ev ilbl-power-points-notes'><label for='power_points_notes'>Notes</label></th><td class='ivar od ivar-power-points-notes'><input value='{{variables.power_points_notes|default}}' class='form-control ivar ivar-power-points-notes' id='power_points_notes' name='power_points_notes' type='text' /></td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card skills" id="card-skills">
        <div class="card-header skills">Skills</div>
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr>
                  <th class='ilbl od ilbl-skill-name'><label for='skill_name'>Name</label></th>
                  <th class='ilbl od ilbl-skill-value c' width='60px'><label for='skill_value'>%</label></th>
                  <th class='ilbl od ilbl-skill-mark c' width='40px'><label for='skill_mark'>C</label></th>
                </tr>
                {% for i in 1..49 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set sk = skill_list[id-1] %}
                  {{ sheet.doSkill(variables, id, sk) }}
                {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr>
                  <th class='ilbl od ilbl-skill-name'><label for='skill_name'>Name</label></th>
                  <th class='ilbl od ilbl-skill-value c' width='60px'><label for='skill_value'>%</label></th>
                  <th class='ilbl od ilbl-skill-mark c' width='40px'><label for='skill_mark'>C</label></th>
                  </tr>
                {% for i in 50..98 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set sk = skill_list[id-1] %}
                  {{ sheet.doSkill(variables, id, sk) }}
                {% endfor %}
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card weapons" id="card-weapons">
        <div class="card-header weapons">Weapons</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-weapon-type'><label for='weapon_type'>Type</label></th>
              <th class='ilbl od ilbl-weapon-value c' width='60px'><label for='weapon_value'>%</label></th>
              <th class='ilbl od ilbl-weapon-damage' width='20%'><label for='weapon_damage'>Damage</label></th>
              <th class='ilbl od ilbl-weapon-range c' width='80px'><label for='weapon_range'>Range</label></th>
              <th class='ilbl od ilbl-weapon-attacks' width='60px'><label for='weapon_attacks'>Attacks</label></th>
              <th class='ilbl od ilbl-weapon-length c' width='80px'><label for='weapon_length'>Length</label></th>
              <th class='ilbl od ilbl-weapon-hand c' width='40px'><label for='weapon_hand'>Hand</label></th>
              <th class='ilbl od ilbl-weapon-hp c' width='60px'><label for='weapon_hp'>HP</label></th>
              <th class='ilbl od ilbl-weapon-mark c' width='40px'><label for='weapon_mark'>C</label></th>
            </tr>
            {% for i in 1..8 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-weapon-type' title='Weapon Name'><input value='{{attribute(variables, 'weapon_type_' ~ id)|default}}' class='form-control ivar ivar-weapon-type' id='weapon_type' name='weapon_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-value' title='Weapon Skill Value'><input value='{{attribute(variables, 'weapon_value_' ~ id)|default}}' class='form-control ivar ivar-weapon-value c' id='weapon_value' name='weapon_value_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-weapon-damage'><input value='{{attribute(variables, 'weapon_damage_' ~ id)|default}}' class='form-control ivar ivar-weapon-damage' id='weapon_damage' name='weapon_damage_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-range'><input value='{{attribute(variables, 'weapon_range_' ~ id)|default}}' class='form-control ivar ivar-weapon-range c' id='weapon_range' name='weapon_range_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-attacks'><input value='{{attribute(variables, 'weapon_attacks_' ~ id)|default}}' class='form-control ivar ivar-weapon-attacks c' id='weapon_attacks' name='weapon_attacks_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-weapon-length'><input value='{{attribute(variables, 'weapon_length_' ~ id)|default}}' class='form-control ivar ivar-weapon-length c' id='weapon_length' name='weapon_length_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-hand'><input value='{{attribute(variables, 'weapon_hand_' ~ id)|default}}' class='form-control ivar ivar-weapon-hand c' id='weapon_hand' name='weapon_hand_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-hp'><input value='{{attribute(variables, 'weapon_hp_' ~ id)|default}}' class='form-control ivar ivar-weapon-hp c' id='weapon_hp' name='weapon_hp_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-weapon-mark c' title='checked'><input value='0' id='weapon_mark' name='weapon_mark_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'weapon_mark_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_mark' name='weapon_mark_{{id}}' type='checkbox' /></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card armor" id="card-armor">
        <div class="card-header armor">Armor</div>
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-4">
              <table class='table'>
                <tr>
                  <th class='ilbl od ilbl-armor-type'><label for='armor_type'>Type</label></th>
                  <th class='ilbl od ilbl-armor-value c' width='60px'><label for='armor_value'>%</label></th>
                  </tr>
                {% for i in 1..4 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                <tr>
                  <td class='ivar {{eo}} ivar-armor-type' title='Armor Name'><input value='{{attribute(variables, 'armor_type_' ~ id)|default}}' class='form-control ivar ivar-armor-type' id='armor_type' name='armor_type_{{id}}' type='text' /></td>
                  <td class='ivar {{eo}} ivar-armor-value' title='Armor Value'><input value='{{attribute(variables, 'armor_value_' ~ id)|default}}' class='form-control ivar ivar-armor-value c' id='armor_value' name='armor_value_{{id}}' type='number' /></td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-8">
              <table class='table'>
                <tr>
                  <th class='ilbl od ilbl-shield-type' width='25%'><label for='shield_type'>Shield Type</label></th>
                  <th class='ilbl od ilbl-shiele-value c' width='60px'><label for='shiele_value'>%</label></th>
                  <th class='ilbl od ilbl-shield-damage' width='25%'><label for='shield_damage'>Damage</label></th>
                  <th class='ilbl od ilbl-shield-hp c' width='60px'><label for='shield_hp'>HP</label></th>
                  <th class='ilbl od ilbl-shield-mark c' width='40px'><label for='shield_mark'>C</label></th>
                </tr>
                <tr>
                  <td class='ivar {{eo}} ivar-shield-type'><input value='{{variables.shield_type|default}}' class='form-control ivar ivar-shield-type' id='shield_type' name='shield_type' type='text' /></td>
                  <td class='ivar {{eo}} ivar-shiele-value' title='Shield Value'><input value='{{variables.shiele_value|default}}' class='form-control ivar ivar-shiele-value c' id='shiele_value' name='shiele_value' type='number' /></td>
                  <td class='ivar {{eo}} ivar-shield-damage'><input value='{{variables.shield_damage|default}}' class='form-control ivar ivar-shield-damage' id='shield_damage' name='shield_damage' type='text' /></td>
                  <td class='ivar {{eo}} ivar-shield-hp'><input value='{{variables.shield_hp|default}}' class='form-control ivar ivar-shield-hp c' id='shield_hp' name='shield_hp' type='text' /></td>
                  <td class='ivar {{eo}} ivar-shield-mark c'  title='checked'><input value='0' id='shield_mark' name='shield_mark' type='hidden' /><input value='1' class='c' {% if variables.shield_mark|default > 0 %} checked='checked'{% endif %} id='shield_mark' name='shield_mark' type='checkbox' /></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class='ilbl od ilbl-combat-notes'><label for='combat_notes'>Notes</label></div><div class='ivar od ivar-combat-notes'><div class='iContent'><textarea class='form-control ivar ivar-combat-notes' id='combat_notes' name='combat_notes' rows='3' >{{variables.combat_notes|default}}</textarea></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card powers" id="card-powers">
        <div class="card-header powers">Powers</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-power-name' width='25%'><label for='power_name'>Power</label></th>
              <th class='ilbl od ilbl-power-type c'><label for='power_type'>Energy Type</label></th>
              <th class='ilbl od ilbl-power-levels-act'><label for='power_levels_act'>Active Levels</label></th>
              <th class='ilbl od ilbl-power-levels-total'><label for='power_levels_total'>Total Levels</label></th>
              <th class='ilbl od ilbl-power-range c'><label for='power_range'>Range</label></th>
              <th class='ilbl od ilbl-power-cost c' title='Cost To Use'><label for='power_cost'>Cost</label></th>
              <th class='ilbl od ilbl-power-duration c'><label for='power_duration'>Duration</label></th>
              <th class='ilbl od ilbl-power-cp c' width='60px'><label for='power_cp'>CP</label></th>
            </tr>
            {% for i in 1..8 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-power-name'><input value='{{attribute(variables, 'power_name_' ~ id)|default}}' class='form-control ivar ivar-power-name' id='power_name' name='power_name_{{id}}' type='text' placeholder='power name'/></td>
              <td class='ivar {{eo}} ivar-power-type'><input value='{{attribute(variables, 'power_type_' ~ id)|default}}' class='form-control ivar ivar-power-type c' id='power_type' name='power_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-power-levels-act'><input value='{{attribute(variables, 'power_levels_act_' ~ id)|default}}' class='form-control ivar ivar-power-levels-act c' id='power_levels_act' name='power_levels_act_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-power-levels-total'><input value='{{attribute(variables, 'power_levels_total_' ~ id)|default}}' class='form-control ivar ivar-power-levels-total c' id='power_levels_total' name='power_levels_total_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-power-range'><input value='{{attribute(variables, 'power_range_' ~ id)|default}}' class='form-control ivar ivar-power-range c' id='power_range' name='power_range_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-power-cost'><input value='{{attribute(variables, 'power_cost_' ~ id)|default}}' class='form-control ivar ivar-power-cost c' id='power_cost' name='power_cost_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-power-duration'><input value='{{attribute(variables, 'power_duration_' ~ id)|default}}' class='form-control ivar ivar-power-duration c' id='power_duration' name='power_duration_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-power-cp' title='Character Points'><input value='{{attribute(variables, 'power_cp_' ~ id)|default}}' class='form-control ivar ivar-power-cp c' id='power_cp' name='power_cp_{{id}}' type='number' /></td>
            </tr>
            <tr>
              <th class='ivar {{eo}} ivar-power-dummy'>&nbsp;</th>
              <th class='ilbl {{eo}} ilbl-power-notes vam c'><label for='power_notes'>Notes</label></th>
              <td class='ivar {{eo}} ivar-power-notes pd2' colspan=7><textarea class='form-control ivar ivar-power-notes pd2' id='power_notes' name='power_notes_{{id}}' rows='3' >{{attribute(variables, 'power_notes_' ~ id)|default}}</textarea></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card attack powers" id="card-attack powers">
        <div class="card-header attack powers">Attack Powers</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-apower-name' width='25%'><label for='apower_name'>Name</label></th>
              <th class='ilbl od ilbl-apower-value c' width='60px'><label for='apower_value'>%</label></th>
              <th class='ilbl od ilbl-apower-damage' width='20%'><label for='apower_damage'>Damage</label></th>
              <th class='ilbl od ilbl-apower-range c'><label for='apower_range'>Range</label></th>
              <th class='ilbl od ilbl-apower-type c'><label for='apower_type'>Type</label></th>
              <th class='ilbl od ilbl-apower-cost c' width='60px'><label for='apower_cost'>Cost</label></th>
              <th class='ilbl od ilbl-apower-mark c' width='40px'><label for='apower_mark'>C</label></th>
            </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-apower-name' title='Attack Power'><input value='{{attribute(variables, 'apower_name_' ~ id)|default}}' class='form-control ivar ivar-apower-name' id='apower_name' name='apower_name_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-apower-value' title='Attack Power Value'><input value='{{attribute(variables, 'apower_value_' ~ id)|default}}' class='form-control ivar ivar-apower-value c' id='apower_value' name='apower_value_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-apower-damage'><input value='{{attribute(variables, 'apower_damage_' ~ id)|default}}' class='form-control ivar ivar-apower-damage' id='apower_damage' name='apower_damage_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-apower-range'><input value='{{attribute(variables, 'apower_range_' ~ id)|default}}' class='form-control ivar ivar-apower-range c' id='apower_range' name='apower_range_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-apower-type'><input value='{{attribute(variables, 'apower_type_' ~ id)|default}}' class='form-control ivar ivar-apower-type c' id='apower_type' name='apower_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-apower-cost'><input value='{{attribute(variables, 'apower_cost_' ~ id)|default}}' class='form-control ivar ivar-apower-cost c' id='apower_cost' name='apower_cost_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-apower-mark c' title='checked'><input value='0' id='apower_mark' name='apower_mark_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'apower_mark_' ~ id)|default > 0 %} checked='checked'{% endif %} id='apower_mark' name='apower_mark_{{id}}' type='checkbox' /></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card defensive powers" id="card-defensive powers">
        <div class="card-header defensive powers">Defensive Powers</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-dpower-name' width='25%'><label for='dpower_name'>Power</label></th>
              <th class='ilbl od ilbl-dpower-type c'><label for='dpower_type'>Energy Type</label></th>
              <th class='ilbl od ilbl-dpower-level c' width='60px'><label for='dpower_level'>Level</label></th>
              <th class='ilbl od ilbl-dpower-value c' width='60px'><label for='dpower_value'>%</label></th>
              <th class='ilbl od ilbl-dpower-cost c' width='70px'><label for='dpower_cost'>Energy Cost</label></th>
            </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-dpower-name' title='Defense Power'><input value='{{attribute(variables, 'dpower_name_' ~ id)|default}}' class='form-control ivar ivar-dpower-name' id='dpower_name' name='dpower_name_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-dpower-type'><input value='{{attribute(variables, 'dpower_type_' ~ id)|default}}' class='form-control ivar ivar-dpower-type c' id='dpower_type' name='dpower_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-dpower-level'><input value='{{attribute(variables, 'dpower_level_' ~ id)|default}}' class='form-control ivar ivar-dpower-level c' id='dpower_level' name='dpower_level_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-dpower-value' title='Defense Power Value'><input value='{{attribute(variables, 'dpower_value_' ~ id)|default}}' class='form-control ivar ivar-dpower-value c' id='dpower_value' name='dpower_value_{{id}}' type='number' /></td>
              <td class='ivar {{eo}} ivar-dpower-cost'><input value='{{attribute(variables, 'dpower_cost_' ~ id)|default}}' class='form-control ivar ivar-dpower-cost c' id='dpower_cost' name='dpower_cost_{{id}}' type='number' /></td>
            </tr>
            {% endfor %}
          </table>
          <br>
          <table class='table'>
            <tr>{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <th class='ilbl {{eo}} ilbl-dpower-defense'><label for='dpower_defense'>Defense</label></th><td class='ivar {{eo}} ivar-dpower-defense'><input value='{{variables.dpower_defense|default}}' class='form-control ivar ivar-dpower-defense c' id='dpower_defense' name='dpower_defense' type='number' /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card character points" id="card-character points">
        <div class="card-header character points">Character Points</div>
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl {{eo}} ilbl-campaign-power-level'><label for='campaign_power_level'>Campaign Power Level</label></th><td class='ivar {{eo}} ivar-campaign-power-level'><input value='{{variables.campaign_power_level|default}}' class='form-control ivar ivar-campaign-power-level c' id='campaign_power_level' name='campaign_power_level' type='number' /></td>
              <th class='ilbl {{eo}} ilbl-character-points'><label for='character_points'>Character Points</label></th><td class='ivar {{eo}} ivar-character-points'><input value='{{variables.character_points|default}}' class='form-control ivar ivar-character-points c' id='character_points' name='character_points' type='number' /></td>
            </tr>
          </table>
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-character-failing-type'><label for='character_failing_type'>Character Failings</label></th>
              <th class='ilbl od ilbl-character-failing-points' width='60px'><label for='character_failing_points'>Points</label></th>
            </tr>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <tr>
              <td class='ivar {{eo}} ivar-character-failing-type'><input value='{{attribute(variables, 'character_failing_type_' ~ id)|default}}' class='form-control ivar ivar-character-failing-type' id='character_failing_type' name='character_failing_type_{{id}}' type='text' /></td>
              <td class='ivar {{eo}} ivar-character-failing-points'><input value='{{attribute(variables, 'character_failing_points_' ~ id)|default}}' class='form-control ivar ivar-character-failing-points c' id='character_failing_points' name='character_failing_points_{{id}}' type='number' /></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card belongings" id="card-belongings">
        <div class="card-header belongings"><label for="belongings">Belongings</label></div>
        <div class="card-body of">
          <div class='ivar od ivar-belongings'><div class='iContent'><textarea class='form-control ivar ivar-belongings' id='belongings' name='belongings' rows='3' >{{variables.belongings|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card background" id="card-background">
        <div class="card-header background"><label for="background">Background</label></div>
        <div class="card-body of">
          <div class='ivar od ivar-background'><div class='iContent'><textarea class='form-control ivar ivar-background' id='background' name='background' rows='3' >{{variables.background|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card notes" id="card-notes">
        <div class="card-header notes"><label for="notes">Notes</label></div>
        <div class="card-body of">
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3' >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>