<div class="container-fluid sheet-basic-roleplaying tracker">
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="card hit points" id="card-hit points">
				<div class="card-body of">
					<table class='table'>
						{% if variables.hit_points_max|default != -1 %}
						<tr>
							<th class='ilbl ev ilbl-hit-points-current'>
								<label for='hit_points_current'>HP (of {{variables.hit_points_max|default}})</label>
							</th>
							<td class='ivar ev ivar-hit-points-current'><input value='{{variables.hit_points_current|default}}' class='form-control ivar ivar-hit-points-current c' id='hit_points_current' name='hit_points_current' type='number'/></td>
						</tr>
						<tr>
							<th class='ilbl ev ilbl-hit-points-notes'><label for='hit_points_notes'>HP Notes</label></th>
							<td class='ivar ev ivar-hit-points-notes'><input value='{{variables.hit_points_notes|default}}' class='form-control ivar ivar-hit-points-notes' id='hit_points_notes' name='hit_points_notes' type='text'/></td>
						</tr>
						{% endif %}
						{% if variables.sanity_points_max|default != -1 %}
						<tr>
							<th class='ilbl od ilbl-sanity-points-current' width='40%'><label for='sanity_points_current'>SP (of {{variables.sanity_points_max|default}})</label></th>
							<td class='ivar od ivar-sanity-points-current'><input value='{{variables.sanity_points_current|default}}' class='form-control ivar ivar-sanity-points-current c' id='sanity_points_current' name='sanity_points_current' type='number'/></td>
						</tr>
						<tr>
							<th class='ilbl od ilbl-sanity-points-temporary'><label for='sanity_points_temporary'>SP Temp</label></th>
							<td class='ivar od ivar-sanity-points-temporary'><input value='{{variables.sanity_points_temporary|default}}' class='form-control ivar ivar-sanity-points-temporary c' id='sanity_points_temporary' name='sanity_points_temporary' type='number'/></td>
						</tr>
						<tr>
							<th class='ilbl ev ilbl-sanity-points-notes'><label for='sanity_points_notes'>SP Notes</label></th>
							<td class='ivar ev ivar-sanity-points-notes'><input value='{{variables.sanity_points_notes|default}}' class='form-control ivar ivar-sanity-points-notes' id='sanity_points_notes' name='sanity_points_notes' type='text'/></td>
						</tr>
						{% endif %}
						{% if variables.fatigue_points_max|default != -1 %}
						<tr>
							<th class='ilbl od ilbl-fatigue-points-current' width='40%'><label for='fatigue_points_current'>FP (of {{variables.fatigue_points_max|default}})</label></th>
							<td class='ivar od ivar-fatigue-points-current'><input value='{{variables.fatigue_points_current|default}}' class='form-control ivar ivar-fatigue-points-current c' id='fatigue_points_current' name='fatigue_points_current' type='number'/></td>
						</tr>
						<tr>
							<th class='ilbl od ilbl-fatigue-points-notes'><label for='fatigue_points_notes'>FP Notes</label></th>
							<td class='ivar od ivar-fatigue-points-notes'><input value='{{variables.fatigue_points_notes|default}}' class='form-control ivar ivar-fatigue-points-notes' id='fatigue_points_notes' name='fatigue_points_notes' type='text'/></td>
						</tr>
						{% endif %}
						{% if variables.power_points_max|default != -1 %}
						<tr>
							<th class='ilbl od ilbl-power-points-current' width='40%'>
								<label for='power_points_current'>PP (of {{variables.power_points_max|default}})</label>
							</th>
							<td class='ivar od ivar-power-points-current'><input value='{{variables.power_points_current|default}}' class='form-control ivar ivar-power-points-current c' id='power_points_current' name='power_points_current' type='number'/></td>
						</tr>
						<tr>
							<th class='ilbl od ilbl-battery'>
								<label for='battery'>PP Battery</label>
							</th>
							<td class='ivar od ivar-battery'><input value='{{variables.battery|default}}' class='form-control ivar ivar-battery c' id='battery' name='battery' type='text'/></td>
						</tr>
						<tr>
							<th class='ilbl ev ilbl-power-points-notes'>
								<label for='power_points_notes'>PP Notes</label>
							</th>
							<td class='ivar od ivar-power-points-notes'><input value='{{variables.power_points_notes|default}}' class='form-control ivar ivar-power-points-notes' id='power_points_notes' name='power_points_notes' type='text'/></td>
						</tr>
						{% endif %}
					</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
            <div class="card combat-notes" id="card-combat-notes">
                <div class="card-header combat-notes"><label for="combat_notes">Combat Notes</label></div>
                <div class="card-body of">
                    <textarea class='form-control ivar ivar-combat-notes' id='combat_notes' name='combat_notes' rows='3'>{{variables.combat_notes|default}}</textarea>
                </div>
            </div>
            <div class="card notes" id="card-notes">
                <div class="card-header notes"><label for="notes">Notes</label></div>
                <div class="card-body of">
                    <textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3'>{{variables.notes|default}}</textarea>
                </div>
            </div>
		</div>
	</div>
</div>