<div class="col-12 col-md-12 col-lg-12">
    <div class="card my-2">
        <div class="card-body txt pd">
        {{ variables.name is defined ? variables.name }} ({{ variables.age is defined ? variables.age }}, {{ variables.gender is defined ? variables.gender }}, {{ variables.origin is defined ? variables.origin }}) is a {{ variables.profession is defined ? variables.profession }}.
        </div>
    </div>
</div>