<section class="expanse-character-trackable">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2"> <!-- misc -->
                <div class="card-header header text-center">Misc</div>
                <div class="card-body txt pd">
                        <strong title="Fortune">Fortune</strong> <input value="{{ variables.fortune is defined ? variables.fortune }}" class="form-control" id="fortune" name="fortune" type="number" />
                </div>
            </div>
            <div class="card my-2"> <!-- equipment -->
                <div class="card-header header text-center"><em class="fas fa-backpack"></em> Equipment</div>
                <div class="card-body txt pd">
                    <strong title="Your income">Income</strong> <input value="{{ variables.income is defined ? variables.income }}" class="form-control" id="income" name="income" type="number" /><br>
                    <strong title="Your money">Money</strong> <input value="{{ variables.money is defined ? variables.money }}" class="form-control" id="money" name="money" type="number" /><br>
                    <textarea class="form-control" id="equipment" name="equipment" rows="5" placeholder="">{{ variables.equipment is defined ? variables.equipment }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2"> <!-- conditions -->
                <div class="card-header header text-center">Conditions</div>
                <div class="card-body txt pd">
                    <input value="0" type="hidden" name="condition_blinded" />
                    <input value="1" {% if variables.condition_blinded is defined and variables.condition_blinded == 1 %} checked="checked"{% endif %} id="condition_blinded" name="condition_blinded" type="checkbox" /> Blinded
                    <input value="0" type="hidden" name="condition_deafened" />
                    <input value="1" {% if variables.condition_deafened is defined and variables.condition_deafened == 1 %} checked="checked"{% endif %} id="condition_deafened" name="condition_deafened" type="checkbox" /> Deafened
                    <input value="0" type="hidden" name="condition_freefalling" />
                    <input value="1" {% if variables.condition_freefalling is defined and variables.condition_freefalling == 1 %} checked="checked"{% endif %} id="condition_freefalling" name="condition_freefalling" type="checkbox" /> Free-Falling<br>
                    <input value="0" type="hidden" name="condition_hindered" />
                    <input value="1" {% if variables.condition_hindered is defined and variables.condition_hindered == 1 %} checked="checked"{% endif %} id="condition_hindered" name="condition_hindered" type="checkbox" /> Hindered
                    <input value="0" type="hidden" name="condition_prone" />
                    <input value="1" {% if variables.condition_prone is defined and variables.condition_prone == 1 %} checked="checked"{% endif %} id="condition_prone" name="condition_prone" type="checkbox" /> Prone
                    <input value="0" type="hidden" name="condition_restrained" />
                    <input value="1" {% if variables.condition_restrained is defined and variables.condition_restrained == 1 %} checked="checked"{% endif %} id="condition_restrained" name="condition_restrained" type="checkbox" /> Restrained
<br><br>
                    <input value="0" type="hidden" name="condition_helpless" />
                    <input value="1" {% if variables.condition_helpless is defined and variables.condition_helpless == 1 %} checked="checked"{% endif %} id="condition_helpless" name="condition_helpless" type="checkbox" /> Helpless
                    <input value="0" type="hidden" name="condition_unconscious" />
                    <input value="1" {% if variables.condition_unconscious is defined and variables.condition_unconscious == 1 %} checked="checked"{% endif %} id="condition_unconscious" name="condition_unconscious" type="checkbox" /> Unconscious
<br><br>
                    <input value="0" type="hidden" name="condition_exhausted" />
                    <input value="1" {% if variables.condition_exhausted is defined and variables.condition_exhausted == 1 %} checked="checked"{% endif %} id="condition_exhausted" name="condition_exhausted" type="checkbox" /> Exhausted
                    <input value="0" type="hidden" name="condition_fatigued" />
                    <input value="1" {% if variables.condition_fatigued is defined and variables.condition_fatigued == 1 %} checked="checked"{% endif %} id="condition_fatigued" name="condition_fatigued" type="checkbox" /> Fatigued
<br><br>
                    <input value="0" type="hidden" name="condition_injured" />
                    <input value="1" {% if variables.condition_injured is defined and variables.condition_injured == 1 %} checked="checked"{% endif %} id="condition_injured" name="condition_injured" type="checkbox" /> Injured
                    <input value="0" type="hidden" name="condition_wounded" />
                    <input value="1" {% if variables.condition_wounded is defined and variables.condition_wounded == 1 %} checked="checked"{% endif %} id="condition_wounded" name="condition_wounded" type="checkbox" /> Wounded
<br><br>
                    <input value="0" type="hidden" name="condition_dying" />
                    <input value="1" {% if variables.condition_dying is defined and variables.condition_dying == 1 %} checked="checked"{% endif %} id="condition_dying" name="condition_dying" type="checkbox" /> Dying

                    <br>Hint: if you save changed conditions and then reload the full sheet, the penalties will automatically get added/subtracted accordingly.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2"> <!-- notes -->
                <div class="card-header header text-center"><em class="fas fa-file-alt"></em> Notes</div>
                <div class="card-body collapse show txt comment" id="collapseNotes" aria-labelledby="headingNotes">
                    <textarea class="form-control" id="notes" name="notes" rows="5" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea>
                </div>
            </div>
        </div>
    </div>
</section>
