<div class="container-fluid sheet-umbra-rpg-character">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card personal" id="card-personal">
                <div class="card-header personal">Personal Information</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-name'> Name </th><td class='var od var-name' title='This is the name of your hero.'> {{variables.name|default}} </td></tr>
                        <tr><th class='lbl ev lbl-size'> Size </th><td class='var ev var-size'> {{variables.size|default}} </td></tr>
                        <tr><th class='lbl od lbl-upbringing'> Upbringing </th><td class='var od var-upbringing'> {{variables.upbringing|default}} </td></tr>
                        <tr><th class='lbl ev lbl-destiny'> Destiny </th><td class='var ev var-destiny'> {{variables.destiny|default}} </td></tr>
                        <tr><th class='lbl od lbl-ancestry'> Ancestry </th><td class='var od var-ancestry'> {{variables.ancestry|default}} </td></tr>
                        <tr><th class='lbl ev lbl-reputation'> Reputation </th><td class='var ev var-reputation'> {{variables.reputation|default}} </td></tr>
                        <tr><th class='lbl od lbl-player'> Player </th><td class='var od var-player'> {{variables.player|default}} </td></tr>
                        <tr><th class='lbl ev lbl-xp-gained'> XP Gained </th><td class='var ev var-xp-gained'>{{variables.xp_gained|default}}</td></tr>
                        <tr><th class='lbl od lbl-xp-used'> XP Used </th><td class='var od var-xp-used'>{{variables.xp_used|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block">
            <div class="card portrait" id="card-portrait">
                <div class="card-header portrait">Portrait</div>
                <div class="card-body">
                    <div class='cBox'><div class='var od var-portrait'>[img:{{variables.portrait|default}}]</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card physical" id="card-physical">
                        <div class="card-header physical">Physical</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-brawn'> Brawn </th><td class='var od var-brawn'>{% set curr = variables.brawn|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl ev lbl-agility'> Agility </th><td class='var ev var-agility'>{% set curr = variables.agility|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl od lbl-vitality'> Vitality </th><td class='var od var-vitality'>{% set curr = variables.vitality|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card mental" id="card-mental">
                        <div class="card-header mental">Mental</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-intelligent'> Intelligent </th><td class='var od var-intelligent'>{% set curr = variables.intelligent|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl ev lbl-wit'> Wit </th><td class='var ev var-wit'>{% set curr = variables.wit|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl od lbl-charisma'> Charisma </th><td class='var od var-charisma'>{% set curr = variables.charisma|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card spiritual" id="card-spiritual">
                        <div class="card-header spiritual">Spiritual</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-essence'> Essence </th><td class='var od var-essence'>{% set curr = variables.essence|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl ev lbl-willpower'> Willpower </th><td class='var ev var-willpower'>{% set curr = variables.willpower|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl od lbl-luck'> Luck </th><td class='var od var-luck'>{% set curr = variables.luck|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card health" id="card-health">
                <div class="card-header health">Health</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-health-present'> Health </th><td class='var od var-health-present'>{{variables.health_present|default}} / {{variables.health_total|default}}</td></tr>
                        <tr><th class='lbl ev lbl-defence'> Defence </th><td class='var ev var-defence'>{% set curr = variables.defence|default %}{% for i in 1..14 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card other" id="card-other">
                <div class="card-header other">Other</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="card initiative" id="card-initiative">
                                <div class="card-body">
                                    <div class='cBox'><div class='lbl lbl-initiative c'> Initiative </div><div class='var od var-initiative c'> {{variables.initiative|default}} </div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card speed" id="card-speed">
                                <div class="card-body">
                                    <div class='cBox'><div class='lbl lbl-speed c'> Speed </div><div class='var od var-speed c'> {{variables.speed|default}} </div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card armour" id="card-armour">
                                <div class="card-body">
                                    <div class='cBox'><div class='lbl lbl-armour c'> Armour </div><div class='var od var-armour c'> {{variables.armour|default}} </div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card sight" id="card-sight">
                                <div class="card-body">
                                    <div class='cBox'><div class='lbl lbl-sight c'> Sight </div><div class='var od var-sight c'> {{variables.sight|default}} </div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card languages" id="card-languages">
                <div class="card-header languages">Languages</div>
                <div class="card-body">
                    <div class='cBox'><div class='var od var-languages'> {{variables.languages|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card skills" id="card-skills">
                <div class="card-header skills">Skills</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl lbl-skill-name'> Name </th>
                            <th class='lbl lbl-skill-attr'> Attribute </th>
                            <th class='lbl lbl-skill-rank r'> Rank </th>
                            <th class='lbl lbl-skill-total c'> Total </th>
                        </tr>
                        {% set count = 1 %}
                        {% for i in 1..22 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'skill_name_' ~ id)|default %}
                            {% if name != "" %}
                                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                                {% set count = count + 1 %}
                        <tr>
                        {% set att = attribute(variables, 'skill_attr_' ~ id)|default %}
                        {% set rank = attribute(variables, 'skill_rank_' ~ id)|default %}
                        {% set total = rank + attribute(variables, att)|default %}
                            <td class='var {{eo}} var-skill-name'> {{name}} </td>
                            <td class='var {{eo}} var-skill-attr'> {{att}} </td>
                            <td class='var {{eo}} var-skill-rank r'>{% for i in 1..4 %}{% if i <= rank %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                            <td class='var {{eo}} var-skill-total c'> {{total}} </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card weapons-and-armour" id="card-weapons-and-armour">
                <div class="card-header weapons-and-armour">Weapons And Armor</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl {{eo}} lbl-weap-n-arm-name'> Name </th>
                            <th class='lbl {{eo}} lbl-weap-n-arm-rank r'> Rank </th>
                        </tr>
                        {% set count = 1 %}
                        {% for i in 1..12 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'weap_n_arm_name_' ~ id)|default %}
                            {% if name != "" %}
                                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                                {% set count = count + 1 %}
                        <tr>
                            <td class='var {{eo}} var-weap-n-arm-name'> {{name}} </td>
                            <td class='var {{eo}} var-weap-n-arm-rank r'>{% set curr = attribute(variables, 'weap_n_arm_rank_' ~ id)|default %}{% for i in 1..4 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card weapons" id="card-weapons">
                <div class="card-header weapons">Weapons</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl lbl-weapon-name'> Name </th>
                            <th class='lbl lbl-weapon-att'>  Att </th>
                            <th class='lbl lbl-weapon-man1'> M1 </th>
                            <th class='lbl lbl-weapon-man2'> M2 </th>
                            <th class='lbl lbl-weapon-man3'> M3 </th>
                            <th class='lbl lbl-weapon-man4'> M4 </th>
                            <th class='lbl lbl-weapon-man5'> M5 </th>
                            <th class='lbl lbl-weapon-traits'> Traits </th>
                            <th class='lbl lbl-weapon-dmg'> DMG </th>
                        </tr>
                        {% set count = 1 %}
                        {% for i in 1..4 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'weapon_name_' ~ id)|default %}
                            {% if name != "" %}
                                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                                {% set count = count + 1 %}
                        <tr>
                            <td class='var {{eo}} var-weapon-name'> {{name}} </td>
                            <td class='var {{eo}} var-weapon-att'> {{attribute(variables, 'weapon_att_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-man1'> {{attribute(variables, 'weapon_man1_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-man2'> {{attribute(variables, 'weapon_man2_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-man3'> {{attribute(variables, 'weapon_man3_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-man4'> {{attribute(variables, 'weapon_man4_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-man5'> {{attribute(variables, 'weapon_man5_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-traits'> {{attribute(variables, 'weapon_traits_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-dmg'> {{attribute(variables, 'weapon_dmg_' ~ id)|default}} </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card magic" id="card-magic">
                <div class="card-header magic">Magic</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl lbl-spheres-of-magic'> Spheres Of Magic </div><div class='var od var-spheres-of-magic'> {{variables.spheres_of_magic|default|nl2br}} </div></div>
                    <table class='table'>
                        <th class='lbl ev lbl-mana-curr'> Mana </th><td class='var ev var-mana-curr'> {{variables.mana_curr|default}} / {{variables.mana_max|default}}</td>
                        <th class='lbl ev lbl-regen'> Regen </th><td class='var ev var-regen'> {{variables.regen|default}} </td>
                    </table>
                    {% set m1 = variables.magic_one|default %}
                    {% set m2 = variables.magic_two|default %}
                    {% set magic = attribute(variables, m1)|default + attribute(variables, m2)|default %}
                    <div class='cBox'><div class='lbl lbl-magic cap'> Magic ( {{m1}} + {{m2}} )</div><div class='var od var-magic'>{% for i in 1..20 %}{% if i <= magic %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card spells" id="card-spells">
                <div class="card-header spells">Spells</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl lbl-spellbook'> Spellbook </div><div class='var od var-spellbook'> {{variables.spellbook|default}} </div></div>
                    <table class='table'>
                        <tr>
                            <th class='lbl lbl-spell-name'> Name </th>
                            <th class='lbl lbl-spell-sphere'> Sphere </th>
                            <th class='lbl lbl-spell-range'> Range </th>
                            <th class='lbl lbl-spell-aoe-targets'> AoE Targets </th>
                            <th class='lbl lbl-spell-duration'> Duration </th>
                            <th class='lbl lbl-spell-cost'> Cost </th>
                            <th class='lbl lbl-spell-effects'> Effects </th>
                        </tr>
                        {% set count = 1 %}
                        {% for i in 1..21 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'spell_name_' ~ id)|default %}
                            {% if name != "" %}
                                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                                {% set count = count + 1 %}
                        <tr>
                            <td class='var {{eo}} var-spell-name'> {{name}} </td>
                            <td class='var {{eo}} var-spell-sphere'> {{attribute(variables, 'spell_sphere_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-spell-range'> {{attribute(variables, 'spell_range_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-spell-aoe-targets'> {{attribute(variables, 'spell_aoe_targets_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-spell-duration'> {{attribute(variables, 'spell_duration_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-spell-cost'> {{attribute(variables, 'spell_cost_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-spell-effects'> {{attribute(variables, 'spell_effects_' ~ id)|default|nl2br}} </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card edges" id="card-edges">
                <div class="card-header edges">Edges</div>
                <div class="card-body">
                    <div class='cBox'><div class='var od var-edges'> {{variables.edges|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card flaws" id="card-flaws">
                <div class="card-header flaws">Flaws</div>
                <div class="card-body">
                    <div class='cBox'><div class='var od var-flaws'> {{variables.flaws|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card equipment" id="card-equipment">
                <div class="card-header equipment">Belongings</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl lbl-money'> Money </div><div class='var od var-money'> {{variables.money|default}} </div></div>
                    <div class='cBox'><div class='lbl lbl-equipment'> Equipment </div><div class='var od var-equipment'> {{variables.equipment|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cBox'><div class='var ev var-notes'> {{variables.notes|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
    </div>
</div>