<div class="container-fluid sheet-umbra-rpg-character">
    <div class="row">
        {% set imgid = variables.portrait|default|trim %}{% set wd = 12 %}{% if imgid > 0 %}{% set wd = 8 %}{% endif %}
        <div class="col-12 col-lg-{{wd}}">
            <div class="card personal" id="card-personal">
                <div class="card-header personal">Personal Information</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-name'> Name </th><td class='var od var-name' title='This is the name of your hero.'> {{variables.name|default|trim}} </td></tr>
                        <tr><th class='lbl ev lbl-size'> Size </th><td class='var ev var-size'> {{variables.size|default|trim}} </td></tr>
                        <tr><th class='lbl od lbl-upbringing'> Upbringing </th><td class='var od var-upbringing'> {{variables.upbringing|default|trim}} </td></tr>
                        <tr><th class='lbl ev lbl-destiny'> Destiny </th><td class='var ev var-destiny'> {{variables.destiny|default|trim}} </td></tr>
                        <tr><th class='lbl od lbl-ancestry'> Ancestry </th><td class='var od var-ancestry'> {{variables.ancestry|default|trim}} </td></tr>
                        <tr><th class='lbl ev lbl-reputation'> Reputation </th><td class='var ev var-reputation'> {{variables.reputation|default|trim}} </td></tr>
                        <tr><th class='lbl od lbl-player'> Player </th><td class='var od var-player'> {{variables.player|default|trim}} </td></tr>
                        <tr><th class='lbl ev lbl-xp-gained'> XP Gained </th><td class='var ev var-xp-gained'>{{variables.xp_gained|default|trim}}</td></tr>
                        <tr><th class='lbl od lbl-xp-used'> XP Used </th><td class='var od var-xp-used'>{{variables.xp_used|default|trim}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        {% if imgid > 0 %}
        <div class="col-4 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block">
            <div class="card portrait" id="card-portrait">
                <div class="card-header portrait">Portrait</div>
                <div class="card-body">
                    <div class='cBox'><div class='var od var-portrait'>[img:{{imgid}}]</div></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card physical" id="card-physical">
                        <div class="card-header physical">Physical</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-brawn'> Brawn </th><td class='var od var-brawn c'>{% set curr = variables.brawn|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl ev lbl-agility'> Agility </th><td class='var ev var-agility c'>{% set curr = variables.agility|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl od lbl-vitality'> Vitality </th><td class='var od var-vitality c'>{% set curr = variables.vitality|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card mental" id="card-mental">
                        <div class="card-header mental">Mental</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-intelligent'> Intelligent </th><td class='var od var-intelligent c'>{% set curr = variables.intelligent|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl ev lbl-wit'> Wit </th><td class='var ev var-wit c'>{% set curr = variables.wit|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl od lbl-charisma'> Charisma </th><td class='var od var-charisma c'>{% set curr = variables.charisma|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card spiritual" id="card-spiritual">
                        <div class="card-header spiritual">Spiritual</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl od lbl-essence'> Essence </th><td class='var od var-essence c'>{% set curr = variables.essence|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl ev lbl-willpower'> Willpower </th><td class='var ev var-willpower c'>{% set curr = variables.willpower|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                                <tr><th class='lbl od lbl-luck'> Luck </th><td class='var od var-luck c'>{% set curr = variables.luck|default %}{% for i in 1..6 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card health" id="card-health">
                <div class="card-header health">Health</div>
                <div class="card-body">
                    <table class='table'>
                        {% set health = variables.health_present|default|trim %}{% if health == "" %}{% set health = variables.health_total|default|trim %}{% endif %}
                        <tr><th class='lbl od lbl-health-present'> Health </th><td class='var od var-health-present c'>{{health}} / {{variables.health_total|default|trim}}</td></tr>
                        <tr><th class='lbl ev lbl-defence'> Defence </th><td class='var ev var-defence c'>{% set curr = variables.agility|default + variables.brawn|default %}
                            {% for i in 1..14 %}
                                {% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}
                                {% if i == 7 %}<br>{% endif %}
                            {% endfor %}
                        </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card other" id="card-other">
                <div class="card-header other">Other</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="card initiative" id="card-initiative">
                                <div class="card-body">
                                    <div class='cBox'><div class='lbl lbl-initiative c'> Initiative </div><div class='var od var-initiative c'> {{variables.initiative|default|trim}} </div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card speed" id="card-speed">
                                <div class="card-body">
                                    <div class='cBox'><div class='lbl lbl-speed c'> Speed </div><div class='var od var-speed c'> {{variables.speed|default|trim}} </div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card armour" id="card-armour">
                                <div class="card-body">
                                    <div class='cBox'><div class='lbl lbl-armour c'> Armour </div><div class='var od var-armour c'> {{variables.armour|default|trim}} </div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card sight" id="card-sight">
                                <div class="card-body">
                                    <div class='cBox'><div class='lbl lbl-sight c'> Sight </div><div class='var od var-sight c'> {{variables.sight|default|trim}} </div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card languages" id="card-languages">
                <div class="card-header languages">Languages</div>
                <div class="card-body">
                    <div class='cBox'><div class='var od var-languages'> {{variables.languages|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card skills" id="card-skills">
                <div class="card-header skills">Skills</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl lbl-skill-name'> Name </th>
                            <th class='lbl lbl-skill-attr'> Attribute </th>
                            <th class='lbl lbl-skill-rank r'> Rank </th>
                            <th class='lbl lbl-skill-total c'> Total </th>
                        </tr>
                        {% set count = 1 %}
                        {% for i in 1..22 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'skill_name_' ~ id)|default %}
                            {% if name != "" %}
                                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                                {% set count = count + 1 %}
                        <tr>
                        {% set att = attribute(variables, 'skill_attr_' ~ id)|default %}
                        {% set rank = attribute(variables, 'skill_rank_' ~ id)|default %}
                        {% set total = rank + attribute(variables, att)|default %}
                            <td class='var {{eo}} var-skill-name'> {{name}} </td>
                            <td class='var {{eo}} var-skill-attr'> {{att}} </td>
                            <td class='var {{eo}} var-skill-rank r'>{% for i in 1..4 %}{% if i <= rank %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                            <td class='var {{eo}} var-skill-total c'> {{total}} </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card weapons-and-armour" id="card-weapons-and-armour">
                <div class="card-header weapons-and-armour">Weapons And Armor</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl {{eo}} lbl-weap-n-arm-name'> Name </th>
                            <th class='lbl {{eo}} lbl-weap-n-arm-rank r'> Rank </th>
                        </tr>
                        {% set count = 1 %}
                        {% for i in 1..12 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'weap_n_arm_name_' ~ id)|default %}
                            {% if name != "" %}
                                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                                {% set count = count + 1 %}
                        <tr>
                            <td class='var {{eo}} var-weap-n-arm-name'> {{name}} </td>
                            <td class='var {{eo}} var-weap-n-arm-rank r'>{% set curr = attribute(variables, 'weap_n_arm_rank_' ~ id)|default %}{% for i in 1..4 %}{% if i <= curr %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}{% endfor %}</td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card weapons" id="card-weapons">
                <div class="card-header weapons">Weapons</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl lbl-weapon-name'> Name </th>
                            <th class='lbl lbl-weapon-att'>  Attribute </th>
                            <th class='lbl lbl-weapon-man c' colspan=5> Effects </th>
                        </tr>
                        {% set count = 1 %}
                        {% for i in 1..4 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'weapon_name_' ~ id)|default %}
                            {% if name != "" %}
                                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                                {% set count = count + 1 %}
                        <tr>
                            <td class='var {{eo}} var-weapon-name'> <b>{{name}}</b> </td>
                            <td class='var {{eo}} var-weapon-att'> {{attribute(variables, 'weapon_att_' ~ id)|default|trim}} </td>
                            <td class='var {{eo}} var-weapon-man c' width='12%'>{{attribute(variables, 'weapon_man1_' ~ id)|default|trim}}</td>
                            <td class='var {{eo}} var-weapon-man c' width='12%'>{{attribute(variables, 'weapon_man2_' ~ id)|default|trim}}</td>
                            <td class='var {{eo}} var-weapon-man c' width='12%'>{{attribute(variables, 'weapon_man3_' ~ id)|default|trim}}</td>
                            <td class='var {{eo}} var-weapon-man c' width='12%'>{{attribute(variables, 'weapon_man4_' ~ id)|default|trim}}</td>
                            <td class='var {{eo}} var-weapon-man c' width='12%'>{{attribute(variables, 'weapon_man5_' ~ id)|default|trim}}</td>
                        </tr>
                        <tr>
                            <th class='var {{eo}} lbl-weapon-traits r' colspan=2> Traits </th>
                            <td class='var {{eo}} var-weapon-traits' colspan=3> {{attribute(variables, 'weapon_traits_' ~ id)|default|trim}} </td>
                            <th class='var {{eo}} lbl-weapon-dmg r' title='Damage Type'> Dmg. Type </th>
                            <td class='var {{eo}} var-weapon-dmg' title='Damage Type'> {{attribute(variables, 'weapon_dmg_' ~ id)|default|trim}} </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card magic" id="card-magic">
                <div class="card-header magic">Magic</div>
                <div class="card-body">
                    <table class='table'>
                        {% set mana = variables.mana_curr|default|trim %}{% if mana == "" %}{% set mana = variables.mana_max|default|trim %}{% endif %}
                        <tr><th class='lbl od lbl-spheres-of-magic' width='50%'> Spheres Of Magic </th><td class='var od var-spheres-of-magic c'>{{variables.spheres_of_magic|default|nl2br}}</td></tr>
                        <tr><th class='lbl ev lbl-mana-curr'> Mana </th><td class='var ev var-mana-curr c'>{{mana}} / {{variables.mana_max|default|trim}}</td></tr>
                        <tr><th class='lbl od lbl-regen'> Regen </th><td class='var od var-regen c'>{{variables.regen|default|trim}}</td></tr>
                    </table>
                    {% set m1 = variables.magic_one|default %}
                    {% set m2 = variables.magic_two|default %}
                    {% set magic = attribute(variables, m1)|default + attribute(variables, m2)|default %}
                    <div class='cBox'><div class='lbl lbl-magic cap'> Magic ( {{m1}} + {{m2}} )</div><div class='var od var-magic c'>
                        {% for i in 1..20 %}
                            {% if i <= magic %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}
                            {% if i == 10 %}<br>{% endif %}
                        {% endfor %}
                    </div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card spells" id="card-spells">
                <div class="card-header spells">Spells</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl lbl-spellbook'> Spellbook </div><div class='var od var-spellbook'> {{variables.spellbook|default|trim}} </div></div>
                    <table class='table'>
                        <tr>
                            <th class='lbl lbl-spell-name'> Name </th>
                            <th class='lbl lbl-spell-sphere'> Sphere </th>
                            <th class='lbl lbl-spell-range c'> Range </th>
                            <th class='lbl lbl-spell-aoe-targets c'> AoE Targets </th>
                            <th class='lbl lbl-spell-duration c'> Duration </th>
                            <th class='lbl lbl-spell-cost c'> Cost </th>
                        </tr>
                        {% set count = 1 %}
                        {% for i in 1..21 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'spell_name_' ~ id)|default %}
                            {% if name != "" %}
                                {% set eo = 'od' %}{% if count is even %}{% set eo = 'ev' %}{% endif %}
                                {% set count = count + 1 %}
                        <tr>
                            <td class='var {{eo}} var-spell-name'> {{name}} </td>
                            <td class='var {{eo}} var-spell-sphere'> {{attribute(variables, 'spell_sphere_' ~ id)|default|trim}} </td>
                            <td class='var {{eo}} var-spell-range c'> {{attribute(variables, 'spell_range_' ~ id)|default|trim}} </td>
                            <td class='var {{eo}} var-spell-aoe-targets c'> {{attribute(variables, 'spell_aoe_targets_' ~ id)|default|trim}} </td>
                            <td class='var {{eo}} var-spell-duration c'> {{attribute(variables, 'spell_duration_' ~ id)|default|trim}} </td>
                            <td class='var {{eo}} var-spell-cost c'> {{attribute(variables, 'spell_cost_' ~ id)|default|trim}} </td>
                        </tr>
                        <tr>
                            <th class='var {{eo}} lbl-spell-effects r' colspan=2> Effects </th>
                            <td class='var {{eo}} var-spell-effects' colspan=4> {{attribute(variables, 'spell_effects_' ~ id)|default|nl2br}} </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if variables.edges|default|trim != "" %}
        <div class="col-12 col-md-6">
            <div class="card edges" id="card-edges">
                <div class="card-header edges">Edges</div>
                <div class="card-body">
                    <div class='cBox'><div class='var od var-edges'> {{variables.edges|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if variables.flaws|default|trim != "" %}
        <div class="col-12 col-md-6">
            <div class="card flaws" id="card-flaws">
                <div class="card-header flaws">Flaws</div>
                <div class="card-body">
                    <div class='cBox'><div class='var od var-flaws'> {{variables.flaws|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-12 col-md-6">
            <div class="card equipment" id="card-equipment">
                <div class="card-header equipment">Belongings</div>
                <div class="card-body">
                    <div class='cBox'><div class='lbl lbl-money'> Money </div><div class='var od var-money'> {{variables.money|default|trim}} </div></div>
                    <div class='cBox'><div class='lbl lbl-equipment'> Equipment </div><div class='var od var-equipment'> {{variables.equipment|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        {% if variables.notes|default|trim != "" %}
        <div class="col-12 col-md-6">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cBox'><div class='var ev var-notes'> {{variables.notes|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row do-not-print">
        <div class="col-12 c small">
            <br>
            Umbra RPG by Enazel - <a href="/w/sheet-creation/a/sheet-list">Umbra RPG Character Sheet v1.00</a>, made by Tillerz - Updated: 2023-04-21</a><br>
        </div>
    </div>
</div>