<div class="container-fluid sheet-umbra-rpg-character">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card personal" id="card-personal">
                <div class="card-header personal">Personal Information</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-name' title='This is the name of your hero.'><label for='name'>Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='Name of the hero' type='text' required=required /></td></tr>
                        <tr><th class='ilbl ev ilbl-size'><label for='size'>Size</label></th><td class='ivar ev ivar-size'><input value='{{variables.size|default}}' class='form-control ivar ivar-size' id='size' name='size' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-upbringing'><label for='upbringing'>Upbringing</label></th><td class='ivar od ivar-upbringing'><input value='{{variables.upbringing|default}}' class='form-control ivar ivar-upbringing' id='upbringing' name='upbringing' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-destiny'><label for='destiny'>Destiny</label></th><td class='ivar ev ivar-destiny'><input value='{{variables.destiny|default}}' class='form-control ivar ivar-destiny' id='destiny' name='destiny' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-ancestry'><label for='ancestry'>Ancestry</label></th><td class='ivar od ivar-ancestry'><input value='{{variables.ancestry|default}}' class='form-control ivar ivar-ancestry' id='ancestry' name='ancestry' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-reputation'><label for='reputation'>Reputation</label></th><td class='ivar ev ivar-reputation'><input value='{{variables.reputation|default}}' class='form-control ivar ivar-reputation' id='reputation' name='reputation' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-player'><label for='player'>Player</label></th><td class='ivar od ivar-player'><input value='{{variables.player|default}}' class='form-control ivar ivar-player' id='player' name='player' type='text'  /></td></tr>
                        <tr><th class='ilbl ev ilbl-xp-gained'><label for='xp-gained'>XP Gained</label></th><td class='ivar ev ivar-xp-gained'><input value='{{variables.xp_gained|default}}' class='form-control ivar ivar-xp-gained' id='xp_gained' name='xp_gained' type='number'    /></td></tr>
                        <tr><th class='ilbl od ilbl-xp-used'><label for='xp-used'>XP Used</label></th><td class='ivar od ivar-xp-used'><input value='{{variables.xp_used|default}}' class='form-control ivar ivar-xp-used' id='xp_used' name='xp_used' type='number'    /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block">
            <div class="card portrait" id="card-portrait">
                <div class="card-header portrait">Portrait</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-portrait'><label for='portrait'>Portrait</label></div><div class='ivar od ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait' id='portrait' name='portrait' type='number'    /></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card physical" id="card-physical">
                        <div class="card-header physical">Physical</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='ilbl od ilbl-brawn' width='70%'><label for='brawn'>Brawn</label></th><td class='ivar od ivar-brawn'><input value='{{variables.brawn|default}}' class='form-control ivar ivar-brawn c' id='brawn' name='brawn' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-agility'><label for='agility'>Agility</label></th><td class='ivar ev ivar-agility'><input value='{{variables.agility|default}}' class='form-control ivar ivar-agility c' id='agility' name='agility' type='text'  /></td></tr>
                                <tr><th class='ilbl od ilbl-vitality'><label for='vitality'>Vitality</label></th><td class='ivar od ivar-vitality'><input value='{{variables.vitality|default}}' class='form-control ivar ivar-vitality c' id='vitality' name='vitality' type='text'  /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card mental" id="card-mental">
                        <div class="card-header mental">Mental</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='ilbl od ilbl-intelligent' width='70%'><label for='intelligent'>Intelligent</label></th><td class='ivar od ivar-intelligent'><input value='{{variables.intelligent|default}}' class='form-control ivar ivar-intelligent c' id='intelligent' name='intelligent' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-wit'><label for='wit'>Wit</label></th><td class='ivar ev ivar-wit'><input value='{{variables.wit|default}}' class='form-control ivar ivar-wit c' id='wit' name='wit' type='text'  /></td></tr>
                                <tr><th class='ilbl od ilbl-charisma'><label for='charisma'>Charisma</label></th><td class='ivar od ivar-charisma'><input value='{{variables.charisma|default}}' class='form-control ivar ivar-charisma c' id='charisma' name='charisma' type='text'  /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card spiritual" id="card-spiritual">
                        <div class="card-header spiritual">Spiritual</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='ilbl od ilbl-essence' width='70%'><label for='essence'>Essence</label></th><td class='ivar od ivar-essence'><input value='{{variables.essence|default}}' class='form-control ivar ivar-essence c' id='essence' name='essence' type='text'  /></td></tr>
                                <tr><th class='ilbl ev ilbl-willpower'><label for='willpower'>Willpower</label></th><td class='ivar ev ivar-willpower'><input value='{{variables.willpower|default}}' class='form-control ivar ivar-willpower c' id='willpower' name='willpower' type='text'  /></td></tr>
                                <tr><th class='ilbl od ilbl-luck'><label for='luck'>Luck</label></th><td class='ivar od ivar-luck'><input value='{{variables.luck|default}}' class='form-control ivar ivar-luck c' id='luck' name='luck' type='text'  /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card health" id="card-health">
                <div class="card-header health">Health</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-health-present'><label for='health-present'>Health Present</label></th><td class='ivar od ivar-health-present'><input value='{{variables.health_present|default}}' class='form-control ivar ivar-health-present' id='health_present' name='health_present' type='number'    /></td></tr>
                        <tr><th class='ilbl ev ilbl-health-total'><label for='health-total'>Health Total</label></th><td class='ivar ev ivar-health-total'><input value='{{variables.health_total|default}}' class='form-control ivar ivar-health-total' id='health_total' name='health_total' type='number'    /></td></tr>
                        <tr><th class='ilbl od ilbl-defence'><label for='defence'>Defence</label></th><td class='ivar od ivar-defence'>Agility + Brawn</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card other" id="card-other">
                <div class="card-header other">Other</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="card initiative" id="card-initiative">
                                <div class="card-body">
                                    <div class='cBox'><div class='ilbl od ilbl-initiative'><label for='initiative'>Initiative</label></div><div class='ivar od ivar-initiative'><input value='{{variables.initiative|default}}' class='form-control ivar ivar-initiative c' id='initiative' name='initiative' type='text'  /></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card speed" id="card-speed">
                                <div class="card-body">
                                    <div class='cBox'><div class='ilbl od ilbl-speed'><label for='speed'>Speed</label></div><div class='ivar od ivar-speed'><input value='{{variables.speed|default}}' class='form-control ivar ivar-speed c' id='speed' name='speed' type='text'  /></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card armour" id="card-armour">
                                <div class="card-body">
                                    <div class='cBox'><div class='ilbl od ilbl-armour'><label for='armour'>Armour</label></div><div class='ivar od ivar-armour'><input value='{{variables.armour|default}}' class='form-control ivar ivar-armour c' id='armour' name='armour' type='text'  /></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card sight" id="card-sight">
                                <div class="card-body">
                                    <div class='cBox'><div class='ilbl od ilbl-sight'><label for='sight'>Sight</label></div><div class='ivar od ivar-sight'><input value='{{variables.sight|default}}' class='form-control ivar ivar-sight c' id='sight' name='sight' type='text'  /></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card languages" id="card-languages">
                <div class="card-header languages">Languages</div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-languages'><div class='iContent'><textarea class='form-control ivar ivar-languages ' id='languages' name='languages' rows='3'  >{{variables.languages|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card skills" id="card-skills">
                <div class="card-header skills">Skills</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl ilbl-skill-name'><label for='skill-name'>Name</label></th>
                            <th class='ilbl ilbl-skill-attr'><label for='skill-attr'>Attr</label></th>
                            <th class='ilbl ilbl-skill-rank' width='100px'><label for='skill-rank'>Rank</label></th>
                        </tr>
                        {% for i in 1..22 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='ivar od ivar-skill-name'><input value='{{attribute(variables, 'skill_name_' ~ id)|default}}' class='form-control ivar ivar-skill-name' id='skill_name' name='skill_name_{{id}}' type='text'  /></td>
                            <td class='ivar ev ivar-skill-attr'>
                                <select  class='form-control ivar ivar-skill-attr cap' id='skill_attr' name='skill_attr_{{id}}'>
                                    <option value='brawn' {% if attribute(variables, 'skill_attr_' ~ id)|default == 'brawn' %}selected='selected' {% endif %} > brawn </option>
                                    <option value='agility' {% if attribute(variables, 'skill_attr_' ~ id)|default == 'agility' %}selected='selected' {% endif %} > agility </option>
                                    <option value='intelligent' {% if attribute(variables, 'skill_attr_' ~ id)|default == 'intelligent' %}selected='selected' {% endif %} > intelligent </option>
                                    <option value='wit' {% if attribute(variables, 'skill_attr_' ~ id)|default == 'wit' %}selected='selected' {% endif %} > wit </option>
                                    <option value='charisma' {% if attribute(variables, 'skill_attr_' ~ id)|default == 'charisma' %}selected='selected' {% endif %} > charisma </option>
                                    <option value='essence' {% if attribute(variables, 'skill_attr_' ~ id)|default == 'essence' %}selected='selected' {% endif %} > essence </option>
                                    <option value='willpower' {% if attribute(variables, 'skill_attr_' ~ id)|default == 'willpower' %}selected='selected' {% endif %} > willpower </option>
                                </select></td>
                            <td class='ivar od ivar-skill-rank'><input value='{{attribute(variables, 'skill_rank_' ~ id)|default}}' class='form-control ivar ivar-skill-rank c' id='skill_rank' name='skill_rank_{{id}}' type='text'  /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card weapons-and-armour" id="card-weapons-and-armour">
                <div class="card-header weapons-and-armour">Weapons And Armor</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl ilbl-weap-n-arm-name'><label for='weap-n-arm-name'>Name</label></th>
                            <th class='ilbl ilbl-weap-n-arm-rank' width='100px'><label for='weap-n-arm-rank'>Rank</label></th>
                        </tr>
                        {% for i in 1..12 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='ivar {{eo}} ivar-weap-n-arm-name'><input value='{{attribute(variables, 'weap_n_arm_name_' ~ id)|default}}' class='form-control ivar ivar-weap-n-arm-name' id='weap_n_arm_name' name='weap_n_arm_name_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-weap-n-arm-rank'><input value='{{attribute(variables, 'weap_n_arm_rank_' ~ id)|default}}' class='form-control ivar ivar-weap-n-arm-rank c' id='weap_n_arm_rank' name='weap_n_arm_rank_{{id}}' type='text'  /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="card magic" id="card-magic">
                <div class="card-header magic">Magic</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-spheres-of-magic'><label for='spheres-of-magic'>Spheres Of Magic</label></div><div class='ivar od ivar-spheres-of-magic'><div class='iContent'><textarea class='form-control ivar ivar-spheres-of-magic ' id='spheres_of_magic' name='spheres_of_magic' rows='3'  >{{variables.spheres_of_magic|default}}</textarea></div></div></div>
                    <table class='table'>
                        <th class='ilbl ev ilbl-mana-curr'><label for='mana-curr'>Mana Current</label></th><td class='ivar ev ivar-mana-curr'><input value='{{variables.mana_curr|default}}' class='form-control ivar ivar-mana-curr' id='mana_curr' name='mana_curr' type='text'  /></td>
                        <th class='ilbl od ilbl-mana-max'><label for='mana-max'>Mana Max</label></th><td class='ivar od ivar-mana-max'><input value='{{variables.mana_max|default}}' class='form-control ivar ivar-mana-max' id='mana_max' name='mana_max' type='text'  /></td>
                        <th class='ilbl ev ilbl-regen'><label for='regen'>Regen</label></th><td class='ivar ev ivar-regen'><input value='{{variables.regen|default}}' class='form-control ivar ivar-regen' id='regen' name='regen' type='text'  /></td>
                    </table>
                    <div class='cBox'><div class='ilbl od ilbl-magic'><label for='magic'>Magic</label></div><div class='ivar od ivar-magic'>Mental + Spiritual Attribute</div></div>
                    <div class='cBox'><div class='ilbl od ilbl-magic-one'><label for='magic-one'>Mental Attribute</label></div><div class='ivar od ivar-magic-one'>
                        <select  class='form-control ivar ivar-magic-one cap' id='magic_one' name='magic_one'>
                            <option value='intelligent' {% if variables.magic_one|default == 'intelligent' %}selected='selected' {% endif %} > intelligent </option>
                            <option value='wit' {% if variables.magic_one|default == 'wit' %}selected='selected' {% endif %} > wit </option>
                            <option value='charisma' {% if variables.magic_one|default == 'charisma' %}selected='selected' {% endif %} > charisma </option>
                        </select></div></div>
                    <div class='cBox'><div class='ilbl ev ilbl-magic-two'><label for='magic-two'>Spiritual Attribute</label></div><div class='ivar ev ivar-magic-two'>
                        <select  class='form-control ivar ivar-magic-two cap' id='magic_two' name='magic_two'>
                            <option value='essence' {% if variables.magic_two|default == 'essence' %}selected='selected' {% endif %} > essence </option>
                            <option value='willpower' {% if variables.magic_two|default == 'willpower' %}selected='selected' {% endif %} > willpower </option>
                        </select></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card weapons" id="card-weapons">
                <div class="card-header weapons">Weapons</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl ilbl-weapon-name'><label for='weapon-name'>Name</label></th>
                            <th class='ilbl ilbl-weapon-att'><label for='weapon-att'>Att</label></th>
                            <th class='ilbl ilbl-weapon-man1'><label for='weapon-man1'>M1</label></th>
                            <th class='ilbl ilbl-weapon-man2'><label for='weapon-man2'>M2</label></th>
                            <th class='ilbl ilbl-weapon-man3'><label for='weapon-man3'>M3</label></th>
                            <th class='ilbl ilbl-weapon-man4'><label for='weapon-man4'>M4</label></th>
                            <th class='ilbl ilbl-weapon-man5'><label for='weapon-man5'>M5</label></th>
                            <th class='ilbl ilbl-weapon-traits'><label for='weapon-traits'>Traits</label></th>
                            <th class='ilbl ilbl-weapon-dmg'><label for='weapon-dmg'>DMG</label></th>
                        </tr>
                        {% for i in 1..4 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='ivar {{eo}} ivar-weapon-name'><input value='{{attribute(variables, 'weapon_name_' ~ id)|default}}' class='form-control ivar ivar-weapon-name' id='weapon_name' name='weapon_name_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-weapon-att'>
                                <select  class='form-control ivar ivar-weapon-att cap' id='weapon_att' name='weapon_att_{{id}}'>
                                    <option value='brawn' {% if attribute(variables, 'weapon_att_' ~ id)|default == 'brawn' %}selected='selected' {% endif %} > brawn </option>
                                    <option value='agility' {% if attribute(variables, 'weapon_att_' ~ id)|default == 'agility' %}selected='selected' {% endif %} > agility </option>
                                    <option value='intelligent' {% if attribute(variables, 'weapon_att_' ~ id)|default == 'intelligent' %}selected='selected' {% endif %} > intelligent </option>
                                    <option value='wit' {% if attribute(variables, 'weapon_att_' ~ id)|default == 'wit' %}selected='selected' {% endif %} > wit </option>
                                    <option value='charisma' {% if attribute(variables, 'weapon_att_' ~ id)|default == 'charisma' %}selected='selected' {% endif %} > charisma </option>
                                    <option value='essence' {% if attribute(variables, 'weapon_att_' ~ id)|default == 'essence' %}selected='selected' {% endif %} > essence </option>
                                    <option value='willpower' {% if attribute(variables, 'weapon_att_' ~ id)|default == 'willpower' %}selected='selected' {% endif %} > willpower </option>
                                </select></td>
                            <td class='ivar {{eo}} ivar-weapon-man1'><input value='{{attribute(variables, 'weapon_man1_' ~ id)|default}}' class='form-control ivar ivar-weapon-man1' id='weapon_man1' name='weapon_man1_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-weapon-man2'><input value='{{attribute(variables, 'weapon_man2_' ~ id)|default}}' class='form-control ivar ivar-weapon-man2' id='weapon_man2' name='weapon_man2_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-weapon-man3'><input value='{{attribute(variables, 'weapon_man3_' ~ id)|default}}' class='form-control ivar ivar-weapon-man3' id='weapon_man3' name='weapon_man3_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-weapon-man4'><input value='{{attribute(variables, 'weapon_man4_' ~ id)|default}}' class='form-control ivar ivar-weapon-man4' id='weapon_man4' name='weapon_man4_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-weapon-man5'><input value='{{attribute(variables, 'weapon_man5_' ~ id)|default}}' class='form-control ivar ivar-weapon-man5' id='weapon_man5' name='weapon_man5_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-weapon-traits'><input value='{{attribute(variables, 'weapon_traits_' ~ id)|default}}' class='form-control ivar ivar-weapon-traits' id='weapon_traits' name='weapon_traits_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-weapon-dmg'><input value='{{attribute(variables, 'weapon_dmg_' ~ id)|default}}' class='form-control ivar ivar-weapon-dmg' id='weapon_dmg' name='weapon_dmg_{{id}}' type='text'  /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card spells" id="card-spells">
                <div class="card-header spells">Spells</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-spellbook'><label for='spellbook'>Spellbook</label></div><div class='ivar od ivar-spellbook'><input value='{{variables.spellbook|default}}' class='form-control ivar ivar-spellbook' id='spellbook' name='spellbook' type='text'  /></div></div>
                    <table class='table'>
                        {% for i in 1..21 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <th class='ilbl ilbl-spell-name'><label for='spell-name'>Name</label></th>
                            <th class='ilbl ilbl-spell-sphere'><label for='spell-sphere'>Sphere</label></th>
                            <th class='ilbl ilbl-spell-range'><label for='spell-range'>Range</label></th>
                            <th class='ilbl ilbl-spell-aoe-targets'><label for='spell-aoe-targets'>AoE Targets</label></th>
                            <th class='ilbl ilbl-spell-duration'><label for='spell-duration'>Duration</label></th>
                            <th class='ilbl ilbl-spell-cost'><label for='spell-cost'>Cost</label></th>
                        </tr>
                        <tr>
                            <td class='ivar {{eo}} ivar-spell-name'><input value='{{attribute(variables, 'spell_name_' ~ id)|default}}' class='form-control ivar ivar-spell-name' id='spell_name' name='spell_name_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-spell-sphere'><input value='{{attribute(variables, 'spell_sphere_' ~ id)|default}}' class='form-control ivar ivar-spell-sphere' id='spell_sphere' name='spell_sphere_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-spell-range'><input value='{{attribute(variables, 'spell_range_' ~ id)|default}}' class='form-control ivar ivar-spell-range' id='spell_range' name='spell_range_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-spell-aoe-targets'><input value='{{attribute(variables, 'spell_aoe_targets_' ~ id)|default}}' class='form-control ivar ivar-spell-aoe-targets' id='spell_aoe_targets' name='spell_aoe_targets_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-spell-duration'><input value='{{attribute(variables, 'spell_duration_' ~ id)|default}}' class='form-control ivar ivar-spell-duration' id='spell_duration' name='spell_duration_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-spell-cost'><input value='{{attribute(variables, 'spell_cost_' ~ id)|default}}' class='form-control ivar ivar-spell-cost' id='spell_cost' name='spell_cost_{{id}}' type='text'  /></td>
                        </tr>
                        <tr>
                            <th class='ivar {{eo}} ivar-spell-effects r' colspan=2><label for='spell-effects'>Effects</label></th>
                            <td class='ivar {{eo}} ivar-spell-effects' colspan=4><div class='iContent'><textarea class='form-control ivar ivar-spell-effects ' id='spell_effects' name='spell_effects_{{id}}' rows='3'  >{{attribute(variables, 'spell_effects_' ~ id)|default}}</textarea></div></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card edges" id="card-edges">
                <div class="card-header edges">Edges</div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-edges'><div class='iContent'><textarea class='form-control ivar ivar-edges ' id='edges' name='edges' rows='3'  >{{variables.edges|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card flaws" id="card-flaws">
                <div class="card-header flaws">Flaws</div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-flaws'><div class='iContent'><textarea class='form-control ivar ivar-flaws ' id='flaws' name='flaws' rows='3'  >{{variables.flaws|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card equipment" id="card-equipment">
                <div class="card-header equipment">Belongings</div>
                <div class="card-body">
                    <div class='cBox'><div class='ilbl od ilbl-money'><label for='money'>Money</label></div><div class='ivar od ivar-money'><input value='{{variables.money|default}}' class='form-control ivar ivar-money' id='money' name='money' type='text'  /></div></div>
                    <div class='cBox'><div class='ilbl od ilbl-equipment'><label for='equipment'>Equipment</label></div><div class='ivar od ivar-equipment'><div class='iContent'><textarea class='form-control ivar ivar-equipment ' id='equipment' name='equipment' rows='3'  >{{variables.equipment|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar ev ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>