<div class="container-fluid sheet-umbra-rpg-character tracker">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card combat" id="card-combat">
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-health-present' width='30%'><label for='health-present'>Health</label></th>
                            <td class='ivar od ivar-health-present'><input value='{{variables.health_present|default|trim}}' class='form-control ivar ivar-health-present c' id='health_present' name='health_present' type='number' /></td>
                            <td width='30%'> of {{variables.health_total|default|trim}}</td></tr>
                        <tr>
                            <th class='ilbl ev ilbl-mana-curr'><label for='mana-curr'>Mana</label></th>
                            <td class='ivar ev ivar-mana-curr'><input value='{{variables.mana_curr|default|trim}}' class='form-control ivar ivar-mana-curr c' id='mana_curr' name='mana_curr' type='text' /></td>
                            <td> of {{variables.mana_max|default|trim}}</td></tr>
                        <tr>
                            <th class='ilbl od ilbl-xp-gained'><label for='xp-gained'>XP Gained</label></th>
                            <td class='ivar od ivar-xp-gained' colspan=2><input value='{{variables.xp_gained|default|trim}}' class='form-control ivar ivar-xp-gained c' id='xp_gained' name='xp_gained' type='number' placeholder='0' /></td>
                        </tr>
                        <tr>
                            <th class='ilbl ev ilbl-money'><label for='money'>Money</label></th>
                            <td class='ivar ev ivar-money' colspan=2><input value='{{variables.money|default|trim}}' class='form-control ivar ivar-money c' id='money' name='money' type='text' /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card notes" id="card-notes">
                <div class="card-body">
                    <div class='ilbl od ilbl-notes'><label for='notes'>Notes</label></div><div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3' >{{variables.notes|default|trim}}</textarea></div></div>
                </div>
            </div>
        </div>
    </div>
</div>