{% set style = variables.style|default('light') %}
<div class="container-fluid sheet-basic-roleplaying-monster-{{style}}">
  <div class="row">
    {% set wd = 12 %}{% if variables.portrait|default > 0 %}{% set wd = 8 %}{% endif %}
    <div class="col-12 col-md-{{wd}}">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class='var od var-description'>
            <h1>{{variables.name|default}}</h1>
            {{variables.description|default|nl2br}}
          </div>
        </div>
      </div>
      <div class="card attributes" id="card-attributes">
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='lbl od lbl-str-dice c'> STR </th>
              <th class='lbl od lbl-con-dice c'> CON </th>
              <th class='lbl od lbl-siz-dice c'> SIZ </th>
              <th class='lbl od lbl-int-dice c'> INT </th>
              <th class='lbl od lbl-pow-dice c'> POW </th>
              <th class='lbl od lbl-dex-dice c'> DEX </th>
              <th class='lbl od lbl-cha-dice c'> CHA </th>
            </tr>
            <tr>
              <td class='var ev var-str-dice c' title='Strength'> {{variables.str_dice|default}} </td>
              <td class='var ev var-con-dice c' title='Constitution'> {{variables.con_dice|default}} </td>
              <td class='var ev var-siz-dice c' title='Size'> {{variables.siz_dice|default}} </td>
              <td class='var ev var-int-dice c' title='Intelligence'> {{variables.int_dice|default}} </td>
              <td class='var ev var-pow-dice c' title='Power'> {{variables.pow_dice|default}} </td>
              <td class='var ev var-dex-dice c' title='Dexterity'> {{variables.dex_dice|default}} </td>
              <td class='var ev var-cha-dice c' title='Charisma'> {{variables.cha_dice|default}} </td>
            </tr>
            <tr>
              <td class='var od var-str c'> {{variables.str|default}} </td>
              <td class='var od var-con c'> {{variables.con|default}} </td>
              <td class='var od var-siz c'> {{variables.siz|default}} </td>
              <td class='var od var-int c'> {{variables.int|default}} </td>
              <td class='var od var-pow c'> {{variables.pow|default}} </td>
              <td class='var od var-dex c'> {{variables.dex|default}} </td>
              <td class='var od var-cha c'> {{variables.cha|default}} </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card other1" id="card-other1">
            <div class="card-body of">
              <table class='table'>
                <tr>
                  <th class='lbl od lbl-move c' width='50%'> Move </th>
                  <th class='lbl od lbl-hit-points c' width='50%'> Hit Points </th>
                </tr>
                <tr>
                  <td class='var {{eo}} var-move c' >{{variables.move|default}}</td>
                  <td class='var {{eo}} var-hit-points c' >{{variables.hit_points|default}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card other2" id="card-other2">
            <div class="card-body of">
              <table class='table'>
                <tr>
                  <th class='lbl od lbl-damage-modifier c' width='50%'> Damage Modifier </th>
                  <th class='lbl od lbl-armor c' width='50%'> Armor </th>
                </tr>
                <tr>
                  <td class='var {{eo}} var-damage-modifier c'> {{variables.damage_modifier|default}} </td>
                  <td class='var {{eo}} var-armor c'> {{variables.armor|default}} </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if variables.portrait|default > 0 %}
    <div class="col-4 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block">
      <div class="card portrait" id="card-portrait">
        <div class="card-body c">
            [img:{{variables.portrait|default}}]
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.attacks|default != "" %}
    <div class="col-12">
      <div class="card attacks" id="card-attacks">
        <div class="card-body of">
          <div class='lbl od lbl-attacks'> Attacks </div><div class='var od var-attacks'> {{variables.attacks|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.skills|default != "" %}
    <div class="col-12">
      <div class="card skills" id="card-skills">
        <div class="card-body of">
          <div class='lbl od lbl-skills'> Skills </div><div class='var od var-skills'> {{variables.skills|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.powers|default != "" %}
    <div class="col-12">
      <div class="card powers" id="card-powers">
        <div class="card-body of">
          <div class='lbl od lbl-powers'> Powers </div><div class='var od var-powers'> {{variables.powers|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if variables.belongings|default != "" %}
    <div class="col-12">
      <div class="card powers" id="card-powers">
        <div class="card-body of">
          <div class='lbl od lbl-belongings'> Belongings </div><div class='var od var-belongings'> {{variables.belongings|default|nl2br}} </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>