{% set style = variables.style|default('light') %}
<div class="container-fluid sheet-basic-roleplaying-monster-{{style}}">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card my-2 of pd10">
            Choose between a light and a dark color version of the block:
            <select class="form-control" id="style" name="style">
                {% set style = 'light' %}
                {% if variables.style is defined and variables.style != '' %}{% set style = variables.style %}{% endif %}
                <option value="light" {% if style == "light" %}selected="selected" {% endif %} >Light Sheet Theme</option>
                <option value="dark" {% if style == "dark" %}selected="selected" {% endif %} >Dark Sheet Theme</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-md-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class='ilbl od ilbl-name'><label for='name'>Name</label></div><div class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='Name of the monster' type='text' required=required /></div>
          <div class='ilbl ev ilbl-portrait'><label for='portrait'>Portrait</label></div><div class='ivar ev ivar-portrait c'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait c' id='portrait' name='portrait' placeholder='WA image ID' type='number' /></div>
          <div class='ilbl od ilbl-description'><label for='description'>Description</label></div><div class='ivar od ivar-description'><div class='iContent'><textarea class='form-control ivar ivar-description ' id='description' name='description' rows='3' >{{variables.description|default}}</textarea></div></div>
        </div>
      </div>
      <div class="card attributes" id="card-attributes">
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-str-dice'><label for='str_dice'>STR</label></th>
              <th class='ilbl od ilbl-con-dice'><label for='con_dice'>CON</label></th>
              <th class='ilbl od ilbl-siz-dice'><label for='siz_dice'>SIZ</label></th>
              <th class='ilbl od ilbl-int-dice'><label for='int_dice'>INT</label></th>
              <th class='ilbl od ilbl-pow-dice'><label for='pow_dice'>POW</label></th>
              <th class='ilbl od ilbl-dex-dice'><label for='dex_dice'>DEX</label></th>
              <th class='ilbl od ilbl-cha-dice'><label for='cha_dice'>CHA</label></th>
            </tr>
            <tr>
              <td class='ivar {{eo}} ivar-str-dice' title='Strength'><input value='{{variables.str_dice|default}}' class='form-control ivar ivar-str-dice' id='str_dice' name='str_dice' placeholder='3d6' type='text' /></td>
              <td class='ivar {{eo}} ivar-con-dice' title='Constitution'><input value='{{variables.con_dice|default}}' class='form-control ivar ivar-con-dice' id='con_dice' name='con_dice' placeholder='3d6' type='text' /></td>
              <td class='ivar {{eo}} ivar-siz-dice' title='Size'><input value='{{variables.siz_dice|default}}' class='form-control ivar ivar-siz-dice' id='siz_dice' name='siz_dice' placeholder='2d6+6' type='text' /></td>
              <td class='ivar {{eo}} ivar-int-dice' title='Intelligence'><input value='{{variables.int_dice|default}}' class='form-control ivar ivar-int-dice' id='int_dice' name='int_dice' placeholder='2d6+6' type='text' /></td>
              <td class='ivar {{eo}} ivar-pow-dice' title='Power'><input value='{{variables.pow_dice|default}}' class='form-control ivar ivar-pow-dice' id='pow_dice' name='pow_dice' placeholder='3d6' type='text' /></td>
              <td class='ivar {{eo}} ivar-dex-dice' title='Dexterity'><input value='{{variables.dex_dice|default}}' class='form-control ivar ivar-dex-dice' id='dex_dice' name='dex_dice' placeholder='3d6' type='text' /></td>
              <td class='ivar {{eo}} ivar-cha-dice' title='Charisma'><input value='{{variables.cha_dice|default}}' class='form-control ivar ivar-cha-dice' id='cha_dice' name='cha_dice' placeholder='3d6' type='text' /></td>
            </tr>
            <tr>          
              <td class='ivar {{eo}} ivar-str'><input value='{{variables.str|default}}' class='form-control ivar ivar-str' id='str' name='str' type='text' /></td>
              <td class='ivar {{eo}} ivar-con'><input value='{{variables.con|default}}' class='form-control ivar ivar-con' id='con' name='con' type='text' /></td>
              <td class='ivar {{eo}} ivar-siz'><input value='{{variables.siz|default}}' class='form-control ivar ivar-siz' id='siz' name='siz' type='text' /></td>
              <td class='ivar {{eo}} ivar-int'><input value='{{variables.int|default}}' class='form-control ivar ivar-int' id='int' name='int' type='text' /></td>
              <td class='ivar {{eo}} ivar-pow'><input value='{{variables.pow|default}}' class='form-control ivar ivar-pow' id='pow' name='pow' type='text' /></td>
              <td class='ivar {{eo}} ivar-dex'><input value='{{variables.dex|default}}' class='form-control ivar ivar-dex' id='dex' name='dex' type='text' /></td>
              <td class='ivar {{eo}} ivar-cha'><input value='{{variables.cha|default}}' class='form-control ivar ivar-cha' id='cha' name='cha' type='text' /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card misc1" id="card-misc1">
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-move'><label for='move'>Move</label></th>
              <th class='ilbl od ilbl-hit-points'><label for='hit_points'>Hit Points</label></th>
            </tr>
            <tr>
              <td class='ivar {{eo}} ivar-move c'><input value='{{variables.move|default}}' class='form-control ivar ivar-move c' id='move' name='move' type='number' /></td>
              <td class='ivar {{eo}} ivar-hit-points c'><input value='{{variables.hit_points|default}}' class='form-control ivar ivar-hit-points c' id='hit_points' name='hit_points' type='number' /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card misc2" id="card-misc2">
        <div class="card-body of">
          <table class='table'>
            <tr>
              <th class='ilbl od ilbl-damage-modifier'><label for='damage_modifier'>Damage Modifier</label></th>
              <th class='ilbl od ilbl-armor'><label for='armor'>Armor</label></th>
            </tr>
            <tr>
              <td class='ivar {{eo}} ivar-damage-modifier'><input value='{{variables.damage_modifier|default}}' class='form-control ivar ivar-damage-modifier' id='damage_modifier' name='damage_modifier' type='text' /></td>
              <td class='ivar {{eo}} ivar-armor'><input value='{{variables.armor|default}}' class='form-control ivar ivar-armor' id='armor' name='armor' type='text' /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card attacks" id="card-attacks">
        <div class="card-body of">
          <div class='ilbl od ilbl-attacks'><label for='attacks'>Attacks</label></div><div class='ivar od ivar-attacks'><div class='iContent'><textarea class='form-control ivar ivar-attacks ' id='attacks' name='attacks' rows='3' >{{variables.attacks|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card skills" id="card-skills">
        <div class="card-body of">
          <div class='ilbl od ilbl-skills'><label for='skills'>Skills</label></div><div class='ivar od ivar-skills'><div class='iContent'><textarea class='form-control ivar ivar-skills ' id='skills' name='skills' placeholder='eg Appraise 35%, Bargain 35%, Craft (farming) 75%, ...' rows='3' >{{variables.skills|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card powers" id="card-powers">
        <div class="card-body of">
          <div class='ilbl od ilbl-powers'><label for='powers'>Powers</label></div><div class='ivar od ivar-powers'><div class='iContent'><textarea class='form-control ivar ivar-powers ' id='powers' name='powers' rows='3' >{{variables.powers|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card powers" id="card-powers">
        <div class="card-body of">
          <div class='ilbl od ilbl-belongings'><label for='belongings'>Belongings</label></div><div class='ivar od ivar-belongings'><div class='iContent'><textarea class='form-control ivar ivar-belongings ' id='belongings' name='belongings' rows='3' >{{variables.belongings|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>