{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

<h4>{{variables.name}}</h4>
<p>
<strong>School</strong> {{ variables.school }}; <strong>Level</strong> {{ variables.level }}<br>
{% if variables.casting_time %}
	<strong>Casting Time</strong> {{variables.casting_time }} <br>
{% endif %}
{% if variables.components %}
	<strong>Components</strong> {{variables.components }} <br>
{% endif %}
<strong>Range</strong>
{% if variables.range == "Other" %}
	{{variables.other_range }}<br>
{% else %}
	{{ variables.range }}<br>
{% endif %}
{% if variables.targets %}
	<strong>Targets</strong> {{variables.targets }} <br>
{% endif %}
{% if variables.area %}
	<strong>Area</strong> {{variables.area }} <br>
{% endif %}
{% if variables.duration %}
	<strong>Duration</strong> {{variables.duration }} <br>
{% endif %}
{% if variables.range != "Personal" %}

{% if variables.saving_throw %}
	<strong>Saving Throw</strong> {{variables.saving_throw }}
{% else %}
	<strong>Saving Throw</strong> none
{% endif %};

{% if variables.effect %}
	<strong>Effect</strong> {{variables.effect }} <br>
{% endif %}
{% if variables.spell_resistance %}
	<strong>Spell Resistance</strong> {{variables.spell_resistance }}<br>
{% endif %}

{% endif %}

{{ variables.description }}

</p>

{% endblock %}