{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genTrait(tr = '', type = '') %}{% set base = 'trait' %}{% set list = tr|split(',') %}
{% for tr in list %}{% if tr != '' and tr != "NONE" %}{% set pf = '' %}
    {% set tr = tr|trim|upper %}{% if type != '' %}{% set base = type %}{% endif %}
    {% if tr == 'COMMON' %}{% set pf = 'r_common' %}
    {% elseif tr == 'VARIES' %}{% set pf = 'r_common' %}
    {% elseif tr == 'UNCOMMON' %}{% set pf = 'r_uncommon' %}
    {% elseif tr == 'RARE' %}{% set pf = 'r_rare' %}
    {% elseif tr == 'UNIQUE' %}{% set pf = 'r_unique' %}{% endif %}
    <span class="trait {{base}} {{pf}}">{{tr}}</span>{% endif %}{% endfor %}{% endmacro genTrait %}
{# ---------------------------------------------- #}
{% macro addRolls(s = '') %}{% if s != '' and ('[roll:' not in s|lower) %}
{% set s = s|replace({
    " 1d4 " : " [roll:1d4] ",
    " 2d4 " : " [roll:2d4] ",
    " 3d4 " : " [roll:3d4] ",
    " 4d4 " : " [roll:4d4] ",
    " 1d6 " : " [roll:1d6] ",
    " 2d6 " : " [roll:2d6] ",
    " 3d6 " : " [roll:3d6] ",
    " 4d6 " : " [roll:4d6] ",
    " 5d6 " : " [roll:5d6] ",
    " 6d6 " : " [roll:6d6] ",
    " 7d6 " : " [roll:7d6] ",
    " 8d6 " : " [roll:8d6] ",
    " 1d6+1 " : " [roll:1d6+1] ",
    " 2d6+1 " : " [roll:2d6+1] ",
    " 3d6+1 " : " [roll:3d6+1] ",
    " 4d6+1 " : " [roll:4d6+1] ",
    " 5d6+1 " : " [roll:5d6+1] ",
    " 6d6+1 " : " [roll:6d6+1] ",
    " 7d6+1 " : " [roll:7d6+1] ",
    " 8d6+1 " : " [roll:8d6+1] ",
    " 1d8 " : " [roll:1d8] ",
    " 2d8 " : " [roll:2d8] ",
    " 3d8 " : " [roll:3d8] ",
    " 4d8 " : " [roll:4d8] ",
    " 1d8+1 " : " [roll:1d8+1] ",
    " 2d8+1 " : " [roll:2d8+1] ",
    " 3d8+1 " : " [roll:3d8+1] ",
    " 4d8+1 " : " [roll:4d8+1] ",
    " 1d10 " : " [roll:1d10] ",
    " 2d10 " : " [roll:2d10] ",
    " 3d10 " : " [roll:3d10] ",
    " 4d10 " : " [roll:4d10] ",
    " 1d10+1 " : " [roll:1d10+1] ",
    " 2d10+1 " : " [roll:2d10+1] ",
    " 3d10+1 " : " [roll:3d10+1] ",
    " 4d10+1 " : " [roll:4d10+1] ",
    " 1d12 " : " [roll:1d12] ",
    " 2d12 " : " [roll:2d12] ",
    " 3d12 " : " [roll:3d12] ",
    " 4d12 " : " [roll:4d12] ",
    " 1d20 " : " [roll:1d20] ",
    " 2d20 " : " [roll:2d20] ",
    " 3d20 " : " [roll:3d20] ",
    " 4d20 " : " [roll:4d20] ",
    "1d20-8" : "[roll:1d20-8|-8]",
    "1d20-7" : "[roll:1d20-7|-7]",
    "1d20-6" : "[roll:1d20-6|-6]",
    "1d20-5" : "[roll:1d20-5|-5]",
    "1d20-4" : "[roll:1d20-4|-4]",
    "1d20-3" : "[roll:1d20-3|-3]",
    "1d20-2" : "[roll:1d20-2|-2]",
    "1d20-1" : "[roll:1d20-1|-1]",
    "1d20+1" : "[roll:1d20+1|+1]",
    "1d20+2" : "[roll:1d20+2|+2]",
    "1d20+3" : "[roll:1d20+3|+3]",
    "1d20+4" : "[roll:1d20+4|+4]",
    "1d20+5" : "[roll:1d20+5|+5]",
    "1d20+6" : "[roll:1d20+6|+6]",
    "1d20+7" : "[roll:1d20+7|+7]",
    "1d20+8" : "[roll:1d20+8|+8]",
    "(1d4)" : "([roll:1d4])",
    "(2d4)" : "([roll:2d4])",
    "(3d4)" : "([roll:3d4])",
    "(4d4)" : "([roll:4d4])",
    "(1d6)" : "([roll:1d6])",
    "(2d6)" : "([roll:2d6])",
    "(3d6)" : "([roll:3d6])",
    "(4d6)" : "([roll:4d6])",
    "(5d6)" : "([roll:5d6])",
    "(6d6)" : "([roll:6d6])",
    "(7d6)" : "([roll:7d6])",
    "(8d6)" : "([roll:8d6])",
    "(1d8)" : "([roll:1d8])",
    "(2d8)" : "([roll:2d8])",
    "(3d8)" : "([roll:3d8])",
    "(4d8)" : "([roll:4d8])",
    "(1d10)" : "([roll:1d10])",
    "(2d10)" : "([roll:2d10])",
    "(3d10)" : "([roll:3d10])",
    "(4d10)" : "([roll:4d10])",
    "(1d12)" : "([roll:1d12])",
    "(2d12)" : "([roll:2d12])",
    "(3d12)" : "([roll:3d12])",
    "(4d12)" : "([roll:4d12])",
    "(1d20)" : "([roll:1d20])",
    "(2d20)" : "([roll:2d20])",
    "(3d20)" : "([roll:3d20])",
    "(4d20)" : "([roll:4d20])"
 }) %}{% endif %}{{s}}{% endmacro addRolls %}
{# ---------------------------------------------- #}
{% set style = '' %}{% if variables.vintage|default > 0 %}{% set style='-vintage' %}{% endif %}
<div class='container-fluid dnd5e-2024{{style}}'>
    <div class="row">
        <div class="col-12">
            {% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
            <p class="statblock-source" title="Source">
                {% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
                {% if meta.block.isSRD %}SRD{% endif %}
            </p>
            {% endif %}
            <div class='lbl title lbl-name'>{{variables.name|default}}</div>
        </div>
    </div>
    <div class='row'>
        {% set img = variables.imageid|default %}
        {% set wd = 12 %}{% if img > 0 %}{% set wd = 8 %}{% endif %}
        <div class='col-12 col-md-12 col-lg-{{wd}}'>
            <h2>Level {{ variables.level|default('1') }} Bastion</h2><br>
            <div class='var ev var-characters'><b> Characters:</b>
            <ul>
            {% for i in 1..8 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% set c = attribute(variables, "char_" ~ id)|default %}{% if c != "" %}
                <li>{% if c>0 %}[blocklink:{{c}}]{% else %}{{c}}{% endif %}</li>
            {% endif %}
            {% endfor %}
            </ul>
            </div><br>
            {% if variables.defenders|default != "" %}
            <div class='var ev var-defenders'><b> Defenders:</b> {{variables.defenders|default}} </div><br>
            {% endif %}
            {% if variables.description|default != "" %}
            {{variables.description|default}}
            {% endif %}
        </div>
        {% if img > 0 %}
        <div class='col-4 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block'>
            [img:{{img|default}}]
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class='col-12'>
            <h2>Basic Facilities</h2>
            <div class="row">
                {% set clistmax = 99 %}
                {% for i in 1..clistmax %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                    {% set name = attribute(variables, 'bfacility_name_' ~ id)|default|trim %}
                    {% if name != "" %}
                        {% set count = count + 1 %}
                        {% set fname  = 'bfacility_name_' ~ id %}
                        {% set ftype  = 'bfacility_type_' ~ id %}
                        {% set fspace = 'bfacility_space_' ~ id %}
                        {% set fdesc  = 'bfacility_desc_' ~ id %}
                        {% set name  = attribute(variables, fname)|default %}
                        {% set type  = attribute(variables, ftype)|default %}
                        {% set space = attribute(variables, fspace)|default %}
                        {% set desc  = attribute(variables, fdesc)|default %}
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="card-header">{{name}}</div>
                                <div class="card-body">
                                    <div class='var ev var-type'><b> Type:</b> {{type}} </div>
                                    <div class='var ev var-space'><b> Space:</b> {{space}} </div><br>
                                    {{desc}}
                                </div>
                            </div>
                        </div>  
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-12'>
            <h2>Special Facilities</h2>
            <div class="row">
                {% set clistmax = 99 %}
                {% for i in 1..clistmax %}
                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                    {% set name = attribute(variables, 'sfacility_name_' ~ id)|default|trim %}
                    {% set sblock = attribute(variables, 'sfacility_block_' ~ id)|default|trim %}
                    {% if name != "" or sblock > 0 %}
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="card-header">{{name}}</div>
                                <div class="card-body">[blocklink:{{sblock}}]</div>
                            </div>
                        </div>  
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>