<div class='container-fluid dnd5e-2024'>
    <div class='row'>
        <div class='col-12'>
            <div class='ilbl od ilbl-name'><label for='name'>Name</label></div><div class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' required='required' name='name' type='text' /></div>
            <div class='ilbl od ilbl-level'><label for='level'>Level</label></div><div class='ivar od ivar-level'><input value='{{variables.level|default}}' class='form-control ivar ivar-level' id='level' name='level' type='text' /></div>
            <div class='ilbl od ilbl-prerequisite'><label for='prerequisite'>Prerequisite</label></div><div class='ivar od ivar-prerequisite'><input value='{{variables.prerequisite|default}}' class='form-control ivar ivar-prerequisite' id='prerequisite' name='prerequisite' type='text' /></div>
            <div class='ilbl ev ilbl-space'><label for='space'>Space</label></div><div class='ivar ev ivar-space'>
            <select  class='form-control ivar ivar-space' id='space' name='space'>
            <option value='Cramped' {% if variables.space|default == 'Cramped' %}selected='selected' {% endif %} > Cramped (4 squares)</option>
            <option value='Roomy' {% if variables.space|default == 'Roomy' %}selected='selected' {% endif %} > Roomy (16 squares)</option>
            <option value='Vast' {% if variables.space|default == 'Vast' %}selected='selected' {% endif %} > Vast (36 squares)</option>
            <option value='Other' {% if variables.space|default == 'Other' %}selected='selected' {% endif %} > Other </option>
            </select></div>
            <div class='ilbl ev ilbl-hirelings'><label for='hirelings'>Hirelings</label></div><div class='ivar ev ivar-hirelings'><div class='iContent'><input class='form-control ivar ivar-hirelings' id='hirelings' name='hirelings' value='{{variables.hirelings|default}}' placeholder='Number of hirelings'></div></div>
            <div class='ilbl ev ilbl-order'><label for='order'>Order</label></div><div class='ivar ev ivar-order'><div class='iContent'><input class='form-control ivar ivar-order' id='order' name='order' value='{{variables.order|default}}' placeholder='eg. Order, Trade, Recruit'></div></div>
            <div class='ilbl ev ilbl-description'><label for='description'>Description</label></div><div class='ivar ev ivar-description'><div class='iContent'><textarea class='form-control ivar ivar-description mention' id='description' name='description' rows='3' >{{variables.description|default}}</textarea></div></div>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="imageid" class="control-label"><h4 class="header-title">Illustrating image (WA Image Gallery ID)</h4></label>
                <input value="{{ variables.imageid|default }}" class="form-control" id="imageid" name="imageid" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="source" class="control-label"><h4 class="header-title">Source</h4></label>
                <input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
        </div>
    </div>
</div>