{% extends 'RPGSRDBundle:Templates:base.html.twig' %} 
{% block body %} 
	<div class="container">
		<div class="row">
      		<div class="col-md-12">
              	<h3 class="m-b-0">{{ variables.name }}</h3>
      		</div>
		</div>
  		<div class="row">
      		<div class="col-md-12">
        		<h4>{{ variables.class }}</h4>
      		</div>
		</div>
  		<div class="container">
          	<div class="row">
      			<div class="col-md-12">{{ variables.specialties }}</div>
	        </div>
    	</div>
        <div class="container">
           	<div class="row">
               	<div class="col-md-3">Poise:</div>
           		<div class="col-md-2">{{ variables.poise }}</div>
           		<div class="col-md-2"></div>
           		<div class="col-md-3">Experience:</div>
           		<div class="col-md-2">{{ variables.xp }}</div>
           	</div>
           	<div class="row">
               	<div class="col-md-3">Glib:</div>
           		<div class="col-md-2">{{ variables.glib }}</div>
           		<div class="col-md-2"></div>
               	<div class="col-md-3">Resource:</div>
           		<div class="col-md-2">{{ variables.re }}</div>
           	</div>
           	<div class="row">
               	<div class="col-md-3">Flint:</div>
           		<div class="col-md-3">{{ variables.flint }}</div>
           		<div class="col-md-6"></div>
           	</div>
           	<div class="row">
               	<div class="col-md-3">Guile:</div>
           		<div class="col-md-2">{{ variables.guile }}</div>
               	<div class="col-md-2"></div>
               	<div class="col-md-3">Physical Harm:</div>
           		<div class="col-md-2">{{ variables.pharm }}</div>
           	</div>
           	<div class="row">
               	<div class="col-md-3">Ardor:</div>
           		<div class="col-md-2">{{ variables.ardor }}</div>
           		<div class="col-md-2"></div>  
               	<div class="col-md-3">Mental Harm:</div>
           		<div class="col-md-2">{{ variables.mharm }}</div>
           	</div>
      	</div>
      	<div class="container">
           	<div class="row">
               	<div class="col-md-12"><h3 class="m-b-0">Moves</h3></div>
			</div>
           	<div class="row">
               	<div class="col-md-12">{{ variables.moves }}</div>
			</div>
    	</div>
      	<div class="container">
           	<div class="row">
               	<div class="col-md-6"><h3 class="m-b-0">Guest Favor</h3></div>
               	<div class="col-md-6"><h3 class="m-b-0">Help favor</h3></div>
			</div>
           	<div class="row">
               	<div class="col-md-6">{{ variables.gfavor }}</div>
                <div class="col-md-6">{{ variables.hfavor }}</div>
			</div>
    	</div>
	</div>
{% endblock %}