{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}

<div class="container">
    <h4>{{ variables.class }}</h4>
    <table class="table table-striped"><tr><td>{{ variables.specialties }})</td></tr></table>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td><b>Poise:</b></td>
            <td>{{ variables.poise }}</td>
          </tr>
          <tr>
            <td><b>Glib:</b></td>
            <td>{{ variables.glib }}</td>
          </tr>
          <tr>
            <td><b>Flint:</b></td>
            <td>{{ variables.flint }}</td>
          </tr>
          <tr>
            <td><b>Guile:</b></td>
            <td>{{ variables.guile }}</td>
          </tr>
          <tr>
            <td><b>Ardor:</b></td>
            <td>{{ variables.ardor }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <tr>
          <td><b>Experince:</b></td>
          <td>{{ variables.xp }}/5</td>
        </tr>
        <tr>
          <td><b>Resource:</b></td>
          <td>{{ variables.re }}/5</td>
        </tr>
        <tr>
      </table>
      <br>
      <table class="table table-striped">
        <tr>
          <td><b>Pysical Harm:</b></td>
          <td>{{ variables.pharm }}/5</td>
        </tr>
        <tr>
          <td><b>Mental Harm:</b></td>
          <td>{{ variables.mharm }}/5</td>
        </tr>
      </table>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Guest Moves</th>
    </tr>
    <tr>
      <td>{{ variables.moves }}</td>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th>Favor with the Guests</th>
      <th>Favor with the Help</th>
    </tr>
    <tr>
      <td>{{ variables.gfavor }}</td>
      <td>{{ variables.hfavor }}</td>
    </tr>
  </table>
</div>

{% endblock %}
