{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}

<div class="container">
  <div class="row">
    <h4>{{ variables.class }}</h4>
    <p>Specialties({{ variables.specialties }})</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <blockquote>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td><b>Poise:</b></td>
              <td>{{ variables.poise }}</td>
            </tr>
            <tr>
              <td><b>Glib:</b></td>
              <td>{{ variables.glib }}</td>
            </tr>
            <tr>
              <td><b>Flint:</b></td>
              <td>{{ variables.flint }}</td>
            </tr>
            <tr>
              <td><b>Guile:</b></td>
              <td>{{ variables.guile }}</td>
            </tr>
            <tr>
              <td><b>Ardor:</b></td>
              <td>{{ variables.ardor }}</td>
            </tr>
          </tbody>
        </table>
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td><b>Experince:</b></td>
              <td>{{ variables.xp }}</td>
            </tr>
            <tr>
              <td><b>Pysical Harm:</b></td>
              <td>{{ variables.pharm }}</td>
            </tr>
            <tr>
              <td><b>Mental Harm:</b></td>
              <td>{{ variables.mharm }}</td>
            </tr>
          </tbody>
        </table>
      </blockquote>
    </div>
  </div>
  <blockquote><b>Player Moves</b><br>{{ variables.moves }}</blockquote>
  <blockquote><b>Favor</b><br>
    <div class="row user-row">
      <div class="col-md-6">
        <table class="table table-striped">
          <tbody><tr><td>{{ variables.gfavor }}</td></tr></tbody>
        </table><p></p>
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <tbody><tr><td>{{ variables.hfavor }}</td></tr></tbody>
        </table>
      </div>
    </div>
  </blockquote>
</div>

{% endblock %}
