<div class="bar"></div>
<div class="inside-content">
	<div class="row">
		<div class="col-12 col-md-12">
			{% if (variables.source|default != "") or meta.block.isSRD %}
			<p class="statblock-source" title="Source">
				{% if variables.source|default != "" %}{{ variables.source }}{% endif %}
				{% if meta.block.isSRD %}SRD{% endif %}
			</p>
			{% endif %}
			<h1 class="valiant-sheet-header">
				{{ variables.name }}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12">
			<p class="subheading">
				{% if variables.spell_ring|default != '' %}{{variables.spell_ring}}{% endif %} {% if variables.domain|default != '' %}{{ variables.domain }}{% endif %}{% if variables.school|default != '' %}, {{ variables.school }}{% endif %}
			</p>
			{% if variables.ritual|default == 1 %}Ritual - does not require spell slot, takes 10 minutes longer {% endif %}
		<hr>
			{% if variables.casting_time|default != "" %}
				<div class="statblock-stat"><strong>Casting Time:</strong> <span>{{ variables.casting_time }} </span></div>
			{% endif %}
			{% if variables.range|default != "" %}
				<div class="statblock-stat"><strong>Range/Area:</strong> <span> {{ variables.range }}</span></div>
			{% endif %}
			{% if variables.components|default != "" %}
				<div class="statblock-stat"><strong>Components:</strong> <span>{{ variables.components }}</span></div>
			{% endif %}
			{% if variables.materials|default != "" %}
				<div class="statblock-stat"><strong>Materials:</strong> <span> {{ variables.materials }}</span></div>
			{% endif %}
			{% if variables.duration|default != "" %}
				<div class="statblock-stat"><strong>Duration:</strong> <span> {% if variables.requires_concentration|default == 1 %} Concentration, {% endif %} {{ variables.duration }} </span></div>
			{% endif %}
			{% if variables.attack|default != "" %}
				<div class="statblock-stat"><strong>Attack/Save:</strong> <span> {{ variables.attack }}</span></div>
			{% endif %}
			{% if variables.effect|default != "" %}
				<div class="statblock-stat"><strong>Damage/Effect:</strong> <span> {{ variables.effect }}</span></div>
			{% endif %}
			{% if variables.spell_description|default != "" %}
				<div class="statblock-stat desc"> {{ variables.spell_description }}</div>
			{% endif %}
			{% if variables.higher_rings|default != "" %} <strong>In higher rings: </strong>{{variables.higher_rings}}{% endif %}
			{% if variables.classes|default != "" %}
				<div class="statblock-stat"><strong>Available for:</strong> <span>{{ variables.classes }}</span></div>
			{% endif %}
		</div>
	</div>
</div>
<div class="bar"></div>