<div class="bar"></div>
<div class="inside-content">
    <div class="row">
        <div class="col-12">
			<div class="statblock-stat-form"><strong>Name</strong><br>
				<input value="{{ variables.name|default }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the spell" type="text" />
			</div>
        </div>
		<hr>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="spell_ring">
                    <h4 class="header-title">Ring</h4>
                </label>
                <select class="form-control" id="spell_ring" name="spell_ring">
                    <option value="Cantrip" {% if variables.spell_ring is defined and variables.spell_ring == "Cantrip" %}selected="selected" {% endif %} >Cantrip</option>
                    <option value="1st ring" {% if variables.spell_ring is defined and variables.spell_ring == "1st ring" %}selected="selected" {% endif %} >Ring 1</option>
                    <option value="2nd ring" {% if variables.spell_ring is defined and variables.spell_ring == "2nd ring" %}selected="selected" {% endif %} >Ring 2</option>
                    <option value="3rd ring" {% if variables.spell_ring is defined and variables.spell_ring == "3rd ring" %}selected="selected" {% endif %} >Ring 3</option>
                    <option value="4th ring" {% if variables.spell_ring is defined and variables.spell_ring == "4th ring" %}selected="selected" {% endif %} >Ring 4</option>
                    <option value="5th ring" {% if variables.spell_ring is defined and variables.spell_ring == "5th ring" %}selected="selected" {% endif %} >Ring 5</option>
                    <option value="6th ring" {% if variables.spell_ring is defined and variables.spell_ring == "6th ring" %}selected="selected" {% endif %} >Ring 6</option>
                    <option value="7th ring" {% if variables.spell_ring is defined and variables.spell_ring == "7th ring" %}selected="selected" {% endif %} >Ring 7</option>
                    <option value="8th ring" {% if variables.spell_ring is defined and variables.spell_ring == "8th ring" %}selected="selected" {% endif %} >Ring 8</option>
                    <option value="9th ring" {% if variables.spell_ring is defined and variables.spell_ring == "9th ring" %}selected="selected" {% endif %} >Ring 9</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="domain">
                    <h4 class="header-title">Domain</h4>
                </label>
                <select class="form-control" id="domain" name="domain">
                    <option value="Arcane" {% if variables.domain|default == "Arcane" %}selected="selected" {% endif %} >Arcane</option>
                    <option value="Divine" {% if variables.domain|default == "Divine" %}selected="selected" {% endif %} >Divine</option>
                    <option value="Primordial" {% if variables.domain|default == "Primordial" %}selected="selected" {% endif %} >Primordial</option>
                    <option value="Wyrd" {% if variables.domain|default == "Wyrd" %}selected="selected" {% endif %} >Wyrd</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="school"><h4 class="header-title">School</h4></label>
                <select class="form-control"  id="school" name="school">
                    <option value="Abjuration" {% if variables.school is defined and variables.school == "Abjuration" %}selected="selected" {% endif %} >Abjuration</option>
                    <option value="Conjuration" {% if variables.school is defined and variables.school == "Conjuration" %}selected="selected" {% endif %} >Conjuration</option>
                    <option value="Divination" {% if variables.school is defined and variables.school == "Divination" %}selected="selected" {% endif %} >Divination</option>
                    <option value="Enchantment" {% if variables.school is defined and variables.school == "Enchantment" %}selected="selected" {% endif %} >Enchantment</option>
                    <option value="Evocation" {% if variables.school is defined and variables.school == "Evocation" %}selected="selected" {% endif %} >Evocation</option>
                    <option value="Illusion" {% if variables.school is defined and variables.school == "Illusion" %}selected="selected" {% endif %} >Illusion</option>
                    <option value="Necromancy" {% if variables.school is defined and variables.school == "Necromancy" %}selected="selected" {% endif %} >Necromancy</option>
                    <option value="Transmutation" {% if variables.school is defined and variables.school == "Transmutation" %}selected="selected" {% endif %} >Transmutation</option>
                </select>
            </div>
        </div>
		<hr>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="casting_time"><h4 class="header-title">Casting Time</h4></label>
                <input value="{{ variables.casting_time is defined ? variables.casting_time }}" class="form-control mention" id="casting_time" name="casting_time" placeholder="1 action" type="text" />
                <p class="description form-control-description">Casting time required</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="range"><h4 class="header-title">Range/Area</h4></label>
                <input value="{{ variables.range is defined ? variables.range }}" class="form-control mention" id="range" name="range" placeholder="30 ft, self, touch" type="text" />
                <p class="description form-control-description">Range</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="components"><h4 class="header-title">Components</h4></label>
                <input value="{{ variables.components is defined ? variables.components }}" class="form-control mention" id="components" name="components" placeholder="Verbal, Somatic, Material" type="text" />
                <p class="description form-control-description">Casting components</p>
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="materials"><h4 class="header-title">Materials</h4></label>
                <input value="{{ variables.materials is defined ? variables.materials }}" class="form-control mention" id="materials" name="materials" placeholder="a pinch of soot and salt" type="text" />
                <p class="description form-control-description">Material components, if any</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="duration"><h4 class="header-title">Duration</h4></label>
                <input value="{{ variables.duration is defined ? variables.duration }}" class="form-control mention" id="duration" name="duration" placeholder="1 hour" type="text" />
                <p class="description form-control-description">Duration of spell effects</p>
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="attack"><h4 class="header-title">Attack/Save</h4></label>
                <input value="{{ variables.attack is defined ? variables.attack }}" class="form-control" id="attack" name="attack" placeholder="ranged" type="text" />
                <p class="description form-control-description">Attack or Save roll required</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="effect"><h4 class="header-title">Damage/Effect</h4></label>
                <input value="{{ variables.effect is defined ? variables.effect }}" class="form-control" id="effect" name="effect" placeholder="necrotic" type="text" />
                <p class="description form-control-description">Type of damage or effect</p>
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="higher_rings"><h4 class="header-title">Higher rings</h4></label>
                <input value="{{ variables.higher_rings is defined ? variables.higher_rings }}" class="form-control" id="higher_rings" name="higher_rings" placeholder="" type="text" />
                <p class="description form-control-description">Damage/Effect in higher rings</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="classes"><h4 class="header-title">Available for</h4></label>
                <input value="{{ variables.classes is defined ? variables.classes }}" class="form-control mention" id="classes" name="classes" placeholder="Wizard, Sorcerer" type="text" />
                <p class="description form-control-description">Classes which the spell is available for</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="ritual"><h4 class="header-title">Ritual</h4></label>
                <input value="1" {% if variables.ritual is defined %}checked=checked{% endif %} class="form-control" id="ritual" name="ritual" type="checkbox" />
                <p class="description form-control-description">Is it a ritual?</p>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="spell_description"><h4 class="header-title">Spell Description</h4></label>
                <textarea class="form-control mention" id="spell_description" name="spell_description" rows="12" placeholder="">{{ variables.spell_description is defined ? variables.spell_description }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="source"><h4 class="header-title">Source</h4></label>
                <input value="{{ variables.source is defined ? variables.source }}" class="form-control" id="source" name="source" placeholder="ORC" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
        </div>
    </div>
</div>
<div class="bar"></div>