{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genInputLine(id, name, var, value = '', ph = '') %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
<td class="lbl c {{eo}}" width="50%">{{name}}</td><td class="txt c {{eo}}"><input value="{{ value }}" class="form-control c" id="{{var}}" name="{{var}}" type="text" placeholder="{{ph}}"/></td>
{% endmacro genInputLine %}
{# ---------------------------------------------- #}
<div class="container-fluid cortex-classic-sheet">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                        <tr>{{ sheet.genInputLine("05", "Plot Points", "plot_points", variables.plot_points|default('0'), "eg 5" ) }}</tr>
                        <tr>{{ sheet.genInputLine("06", "Advancement Points", "adv_points", variables.adv_points|default('0'), "eg 5" ) }}</tr>
                        <tr>{{ sheet.genInputLine("07", "Shock: Stun", "shock_stun", variables.shock_stun|default('0') ) }}</tr>
                        <tr>{{ sheet.genInputLine("08", "Shock: Wound", "shock_wound", variables.shock_wound|default('0') ) }}</tr>
                    </table>
				</div>
			</div>
		</div>
        <div class="col-12 col-md-6 col-lg-8">
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes</div>
                <div class="card-body od pd10">
    				<textarea class="form-control" id="notes" name="notes" rows="5">{{ variables.notes is defined ? variables.notes }}</textarea>
				</div>
			</div>
		</div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-md-12">
			<div class="card my-2 of">
				<div class="card-body mx-2 od">
					<div class="row">
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">1<br>[roll:d2]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">2<br>[roll:d4]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">3<br>[roll:d6]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">4<br>[roll:d8]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">5<br>[roll:d10]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">6<br>[roll:d12]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">7<br>[roll:d12+d2]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">8<br>[roll:d12+d4]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">9<br>[roll:d12+d6]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">10<br>[roll:d12+d8]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">11<br>[roll:d12+d10]</div>
						<div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 c sm">12<br>[roll:2d12]</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>