<div class="container-fluid pf2-rpg">
	<div class="pf2-generic-block col-12">
		<div class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header pf-red-bg">
				    Name: <input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" type="text" />
				</div>
				<div class="card-body txt">
                    <p class="subheader form-control-description bold">Type (eg Complication, Library, Nation, Obstacle, Opportunity, Plane, Settlement, Vehicle, Weapon)</p>
                    <input  value="{{ variables.type is defined ? variables.type }}"  class="form-control mention" id="type" name="type" placeholder="" type="text" />
                    <p class="subheader form-control-description bold">Level (leave empty if not applicable)</p>
                    <input  value="{{ variables.level is defined ? variables.level }}"  class="form-control mention" id="level" name="level" placeholder="" type="text" />
    				<p class="subheader form-control-description bold">Traits</p>
                    <input value="{{ variables.traits is defined ? variables.traits }}" class="form-control mention" id="traits" name="traits" placeholder="eg LG, gargantuan" type="text" /><br>
                    <p class="subheader form-control-description bold">Short description (leave empty to hide this section)</p>
                    <textarea class="form-control mention"id="shorttext" name="shorttext" rows="3" placeholder="">{{ variables.shorttext is defined ? variables.shorttext }}</textarea>
                    <p class="subheader form-control-description bold">Long description (leave empty to hide this section)</p>
                    <textarea class="form-control mention"id="longtext" name="longtext" rows="10" placeholder="">{{ variables.longtext is defined ? variables.longtext }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>