<!-- made by Tillerz#3807 v1.00 -->
<div class="container-fluid expanse-ship-sheet">
    <div class="form-wrapper">
        <div class="card my-2">
            <div class="card-header header text-center"> Ship Name: <input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of theThe Expanse Spaceship Sheet" type="text" /> <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{% if variables.name is defined %}{{ variables.name }}{% endif %}" aria-expanded="true" aria-controls="collaps{% if variables.name is defined %}{{ variables.name }}{% endif %}"></div>
            <div class="card-body txt">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="card my-2"> <!-- personal -->
                            <div class="card-header header text-center"> Basic Information</div>
                            <div class="card-body txt">
                                <ul class="list-group">
                                    <li class="list-group-item novpad"><strong>Type</strong> <input value="{{ variables.type is defined ? variables.type }}" class="form-control" id="type" name="type" type="text" /></li>
                                    <li class="list-group-item novpad"><strong>Size</strong> <input value="{{ variables.size is defined ? variables.size }}" class="form-control" id="size" name="size" placeholder="eg Small (10m long)" type="text" /></li>
                                    <li class="list-group-item novpad"><strong>Drive</strong> <input value="{{ variables.drive is defined ? variables.drive }}" class="form-control" id="drive" name="drive" placeholder="eg Epstein, Thrusters" type="text" /></li>
                                    <li class="list-group-item novpad"><strong>Sensors</strong> <input value="{{ variables.sensors is defined ? variables.sensors }}" class="form-control" id="sensors" name="sensors" placeholder="eg -2, 0, 3, 6" type="number" /></li>
                                    <li class="list-group-item novpad"><strong>Hull</strong> <input value="{{ variables.hull is defined ? variables.hull }}" class="form-control" id="hull" name="hull" placeholder="eg 1d6, 5d6" type="text" /></li>
                                    <li class="list-group-item novpad"><strong>Crew</strong> <input value="{{ variables.crew is defined ? variables.crew }}" class="form-control" id="crew" name="crew" placeholder="eg 2 (4)" type="text" /></li>
                                    <li class="list-group-item novpad"><strong>Crew Role</strong> <input value="{{ variables.crew_role is defined ? variables.crew_role }}" class="form-control" id="crew_role" name="crew_role" type="text" /></li>
                                    <li class="list-group-item novpad"><strong>Role Test</strong> <input value="{{ variables.role_test is defined ? variables.role_test }}" class="form-control" id="role_test" name="role_test" type="text" /></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="card my-2"> <!-- weapons -->
                            <div class="card-header header text-center"> Weapons </div>
                            <div class="card-body txt">
                                <ul class="list-group d-flex justify-content-between">
                                    <li class="list-group-item">
                                    <textarea class="form-control" id="weapons" name="weapons" rows="20" placeholder="eg Grapplers, Point Defense Cannons, Rail Guns, Torpedoes">{{ variables.weapons is defined ? variables.weapons }}</textarea>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="card my-2"> <!-- image -->
                            <div class="card-header header text-center"> Photo </div>
                            <div class="card-body txt">
                            Image ID: <input value="{{ variables.image is defined ? variables.image }}" class="form-control" id="image" name="image" type="number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="card my-2"> <!-- qualities -->
                            <div class="card-header header text-center"> Qualities</div>
                            <div class="card-body txt">
                                <ul class="list-group d-flex justify-content-between">
                                    <li class="list-group-item">
                                    <textarea class="form-control" id="qualities" name="qualities" rows="20" placeholder="eg Hull plating, Hangar Bay, Luxury Amenities">{{ variables.qualities is defined ? variables.qualities }}</textarea>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="card my-2"> <!-- flaws -->
                            <div class="card-header header text-center"> Flaws</div>
                            <div class="card-body txt">
                                <ul class="list-group d-flex justify-content-between">
                                    <li class="list-group-item">
                                    <textarea class="form-control" id="flaws" name="flaws" rows="20" placeholder="eg Fragile, Lumbering, Wanted, Vulnerable Systems">{{ variables.flaws is defined ? variables.flaws }}</textarea>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="card my-2"> <!-- notes -->
                            <div class="card-header header text-center"><em class="fas fa-file-alt"></em> Notes</div>
                            <div class="card-body txt">
                                <ul class="list-group d-flex justify-content-between">
                                    <li class="list-group-item">
                                    <textarea class="form-control" id="notes" name="notes" rows="20" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><div class="col-12 text-center"><small>The Expanse RPG (c) Green Ronin Publishing<br>The Expanse Ship Sheet v1.00, made by Tillerz#3807 - 2020-05-17</small></div></div>
            </div>
        </div>
    </div>
</div> <!-- close container-sheet -->