{% macro genSpell(id, name, diffic, duration, cost, effect) %}{% if name is defined and name != '' %}
<tr><th class="att">Name</th><th class="att" colspan="2" title="Name of the spell">{{name}}</th></tr>
<tr><th class="hdr c">Difficulty</th>
    <th class="hdr c">Duration</th>
    <th class="hdr c">Cost to Learn/Cast</th></tr><tr>
    <td class="txt c" title="">{{diffic}}</td>
    <td class="txt c" title="">{{duration}}</td>
    <td class="txt c" title="">{{cost}}</td></tr>
    <tr><td class="hdr c">Effect</td><td class="txt l" colspan="2">{{effect}}</td></tr>{% endif %}{% endmacro genSpell %}
<div class="container-fluid conan-sheet">
    <div class="row">
        <div class="col-12">
            <div class="card my-2">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" width="100%">
                            {{ _self.genSpell("01", variables.name, variables.spell_difficulty_01, variables.spell_duration_01, variables.spell_cost_01, variables.spell_effect_01) }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
