{% macro genSpell(id, name, diffic, duration, cost, effect) %}
<tr><th class="att">Name</th><th class="att" colspan="2" title="Name of the spell"><input value="{{ name }}" class="form-control" id="name" name="name" placeholder="" type="text" /></th></tr>
<tr><th class="hdr c">Difficulty</th>
    <th class="hdr c">Duration</th>
    <th class="hdr c">Cost to Learn/Cast</th></tr><tr>
    <td class="txt c" title=""><input value="{{ diffic }}" class="form-control" id="spell_difficulty_{{id}}" name="spell_difficulty_{{id}}" placeholder="" type="text" /></td>
    <td class="txt c" title=""><input value="{{ duration }}" class="form-control" id="spell_duration_{{id}}" name="spell_duration_{{id}}" placeholder="" type="text" /></td>
    <td class="txt c" title=""><input value="{{ cost }}" class="form-control" id="spell_cost_{{id}}" name="spell_cost_{{id}}" placeholder="" type="text" /></td></tr>
    <tr><td class="hdr l">Effect</td><td class="txt l" colspan="2"><textarea class="form-control" id="spell_effect_{{id}}" name="spell_effect_{{id}}" rows="5" placeholder="">{{ effect }}</textarea></td></tr>{% endmacro genSpell %}
<div class="container-fluid conan-sheet">
    <table width="100%">
        {{ _self.genSpell("01", variables.name, variables.spell_difficulty_01, variables.spell_duration_01, variables.spell_cost_01, variables.spell_effect_01) }}
    </table>
</div>