<div class="container-fluid swn-sheet"> {# ----------------------------------------------------------------------- #}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-4 of">
                <div class="card-header head-bar"><em class="fas fa-address-card"></em> SWNR Ship<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBackground" aria-expanded="true" aria-controls="collapseBackground"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show" id="collapseBackground" aria-labelledby="headingBackground">
                    <table width="100%">
                        <tr><th class="hdr c" width="15%">Name</th><td class="txt l ev"><input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the ship" type="text" /></td>
                            <th class="hdr c" width="15%">type</th><td class="txt l ev"><input value="{{ variables.type is defined ? variables.type }}" class="form-control" id="type" name="type" placeholder="eg Shuttle, Strike Fighter" type="text" /></td></tr>                        
                        <tr><th class="hdr c">hp</th><td class="txt l ev"><input value="{{ variables.hp is defined ? variables.hp }}" class="form-control" id="hp" name="hp" type="text" /></td>
                            <th class="hdr c">ac</th><td class="txt l ev"><input value="{{ variables.ac is defined ? variables.ac }}" class="form-control" id="ac" name="ac" type="text" /></td></tr>
                        <tr><th class="hdr c">armor</th><td class="txt l ev"><input value="{{ variables.armor is defined ? variables.armor }}" class="form-control" id="armor" name="armor" type="text" /></td>
                            <th class="hdr c">speed</th><td class="txt l ev"><input value="{{ variables.speed is defined ? variables.speed }}" class="form-control" id="speed" name="speed" type="text" /></td></tr>
                        <tr><th class="hdr c">power</th><td class="txt l ev"><input value="{{ variables.power is defined ? variables.power }}" class="form-control" id="power" name="power" type="text" /></td>
                            <th class="hdr c">mass</th><td class="txt l ev"><input value="{{ variables.mass is defined ? variables.mass }}" class="form-control" id="mass" name="mass" type="text" /></td></tr>
                        <tr><th class="hdr c">crew min max</th><td class="txt l ev"><input value="{{ variables.crew_min_max is defined ? variables.crew_min_max }}" class="form-control" id="crew_min_max" name="crew_min_max" placeholder="eg 20/40" type="text" /></td>
                            <th class="hdr c">hull class</th><td class="txt l ev"><input value="{{ variables.hull_class is defined ? variables.hull_class }}" class="form-control" id="hull_class" name="hull_class" placeholder="eg Fighter, Frigate" type="text" /></td></tr>
                        <tr><th class="hdr c">weapons</th><td class="txt l ev" colspan=3><textarea class="form-control" id="weapons" name="weapons" rows="5" placeholder="eg Multifocal Laser (+3/1d4, AP 20)">{{ variables.weapons is defined ? variables.weapons }}</textarea></td></tr>
                        <tr><th class="hdr c">defenses</th><td class="txt l ev" colspan=3><textarea class="form-control" id="defenses" name="defenses" rows="5" placeholder="eg Hardened Polyceramic Overlay">{{ variables.defenses is defined ? variables.defenses }}</textarea></td></tr>
                        <tr><th class="hdr c">fittings</th><td class="txt l ev" colspan=3><textarea class="form-control" id="fittings" name="fittings" rows="5" placeholder="eg Extended Stores, Boarding Tubes">{{ variables.fittings is defined ? variables.fittings }}</textarea></td></tr>
                        <tr><th class="hdr c">cost</th><td class="txt l ev" colspan=3><input value="{{ variables.cost is defined ? variables.cost }}" class="form-control" id="cost" name="cost" placeholder="eg 5.973M base price, 298K maintenance" type="text" /></td></tr>
                        <tr><th class="hdr c">description</th><td class="txt l ev" colspan=3>
                            <span>WA ImageId: <input value="{{ variables.imageid is defined ? variables.imageid }}" class="form-control" id="imageid" name="imageid" type="number" /></span><br>
                            <textarea class="form-control" id="description" name="description" rows="5" >{{ variables.description is defined ? variables.description }}</textarea>
                        </td></tr>
                        <tr><th class="hdr c">crew</th><td class="txt l ev"><textarea class="form-control" id="crew" name="crew" rows="5" placeholder="eg Bob the Gunner, Tom the Navigator">{{ variables.crew is defined ? variables.crew }}</textarea></td>
                            <th class="hdr c">crew skill</th><td class="txt l ev"><input value="{{ variables.crew_skill is defined ? variables.crew_skill }}" class="form-control" id="crew_skill" name="crew_skill" type="text" /></td></tr>
                        <tr><th class="hdr c">cargo</th><td class="txt l ev"><textarea class="form-control" id="cargo" name="cargo" rows="5" >{{ variables.cargo is defined ? variables.cargo }}</textarea></td>
                            <th class="hdr c">npc cp</th><td class="txt l ev"><input value="{{ variables.npc_cp is defined ? variables.npc_cp }}" class="form-control" id="npc_cp" name="npc_cp" type="text" /></td></tr>
                        <tr><th class="hdr c">notes</th><td class="txt l ev" colspan=3><textarea class="form-control" id="notes" name="notes" rows="5" >{{ variables.notes is defined ? variables.notes }}</textarea></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>