<div class="container-fluid dnd35-sheet">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-header head-bar c">{{variables.name}} - {{variables.school ?? ''}}</div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                        <tr><td class="lbl r">Level</td><td class="txt l">{{ variables.level ?? '' }}</td></tr>
                        <tr><td class="lbl r">Components</td><td class="txt l">
                            {% if variables.component_v is defined and variables.component_v == 1 %}V {% endif %}
                            {% if variables.component_s is defined and variables.component_s == 1 %}S {% endif %}
                            {% if variables.component_m is defined and variables.component_m == 1 %}M {% endif %}
                            {% if variables.component_f is defined and variables.component_f == 1 %}F {% endif %}
                            {% if variables.component_df is defined and variables.component_DF == 1 %}DF {% endif %}
                        </td></tr>
                        <tr><td class="lbl r">XP Cost</td><td class="txt l">{{ variables.xp_cost ?? '0' }}</td></tr>
                        <tr><td class="lbl r">Casting Time</td><td class="txt l">{{ variables.casting_time ?? '' }}</td></tr>
                        <tr><td class="lbl r">Range</td><td class="txt l">{{ variables.range ?? '' }}</td></tr>
                        <tr><td class="lbl r">Target</td><td class="txt l">{{ variables.target ?? '' }}</td></tr>
                        <tr><td class="lbl r">Duration</td><td class="txt l">{{ variables.duration ?? '' }}</td></tr>
                        <tr><td class="lbl r">Saving Throw</td><td class="txt l">{{ variables.saving_throw ?? 'none' }}</td></tr>
                        <tr><td class="lbl r">Spell Resistance</td><td class="txt l">{{ variables.spell_resistance ?? 'no' }}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                {{ variables.description is defined ? variables.description|nl2br }}
                </div>
            </div>
        </div>
    </div>
</div>