<div class="container-fluid dnd35-sheet">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-header head-bar c">Spell Name: <input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the spell" type="text" /></div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                        <tr><td class="lbl r">School</td><td class="txt l"><input value="{{ variables.school is defined ? variables.school }}" class="form-control" id="school" name="school" placeholder="eg illusion, evocation" type="text" /></td></tr>
                        <tr><td class="lbl r">Level</td><td class="txt l"><input value="{{ variables.level is defined ? variables.level }}" class="form-control" id="level" name="level" placeholder="eg Chaos 6, Clr 6" type="text" /></td></tr>
                        <tr><td class="lbl r">Components</td><td class="txt l">
                            <input value="0" id="component_v" name="component_v" type="hidden" />
                            <input value="1" {% if variables.component_v is defined and variables.component_v == 1 %} checked="checked"{% endif %} id="component_v" name="component_v" type="checkbox" /> Verbose<br>
                            <input value="0" id="component_s" name="component_s" type="hidden" />
                            <input value="1" {% if variables.component_s is defined and variables.component_s == 1 %} checked="checked"{% endif %} id="component_s" name="component_s" type="checkbox" /> Somatic<br>
                            <input value="0" id="component_m" name="component_m" type="hidden" />
                            <input value="1" {% if variables.component_m is defined and variables.component_m == 1 %} checked="checked"{% endif %} id="component_m" name="component_m" type="checkbox" /> Material<br>
                            <input value="0" id="component_f" name="component_f" type="hidden" />
                            <input value="1" {% if variables.component_f is defined and variables.component_f == 1 %} checked="checked"{% endif %} id="component_f" name="component_f" type="checkbox" /> Focus<br>
                            <input value="0" id="component_df" name="component_df" type="hidden" />
                            <input value="1" {% if variables.component_df is defined and variables.component_df == 1 %} checked="checked"{% endif %} id="component_df" name="component_df" type="checkbox" /> Divine Focus<br>
                        </td></tr>
                        <tr><td class="lbl r">XP Cost</td><td class="txt l"><input value="{{ variables.xp_cost is defined ? variables.xp_cost }}" class="form-control" id="xp_cost" name="xp_cost" type="number" /></td></tr>
                        <tr><td class="lbl r">Casting Time</td><td class="txt l"><input value="{{ variables.casting_time is defined ? variables.casting_time }}" class="form-control" id="casting_time" name="casting_time" type="text" /></td></tr>
                        <tr><td class="lbl r">Range</td><td class="txt l"><input value="{{ variables.range is defined ? variables.range }}" class="form-control" id="range" name="range" type="text" /></td></tr>
                        <tr><td class="lbl r">Target</td><td class="txt l"><input value="{{ variables.target is defined ? variables.target }}" class="form-control" id="target" name="target" placeholder="eg 1 living creature, 10-foot burst, 15-foot cone" type="text" /></td></tr>
                        <tr><td class="lbl r">Duration</td><td class="txt l"><input value="{{ variables.duration is defined ? variables.duration }}" class="form-control" id="duration" name="duration" placeholder="eg instant, 1 round, concentration, 10 minutes, unlimited" type="text" /></td></tr>
                        <tr><td class="lbl r">Saving Throw</td><td class="txt l"><input value="{{ variables.saving_throw is defined ? variables.saving_throw }}" class="form-control" id="saving_throw" name="saving_throw" type="text" /></td></tr>
                        <tr><td class="lbl r">Spell Resistance</td><td class="txt l"><input value="{{ variables.spell_resistance is defined ? variables.spell_resistance }}" class="form-control" id="spell_resistance" name="spell_resistance" type="text" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                <strong>Description:</strong><br>
                <textarea class="form-control" id="description" name="description" rows="10">{{ variables.description is defined ? variables.description }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>