<div class="row">
	<div class="col-12">
		<h1>{{ variables.name }}</h1>
		<br>
		<b>Type:</b> {% if variables.type %}{{ variables.type }}{% endif %}{% if variables.rarity %}<b>; Rarity: </b> {{ variables.rarity }}{% endif %}<br>
		{% if variables.attachable_slot %}<b>Attachable Slot: </b> {{ variables.attachable_slot }}{% endif %}<br>
		{% if variables.aura %}<b>Aura: </b> {{ variables.aura }}{% endif %}{% if variables.caster_level %}; <b>Caster Level:</b> {{ variables.caster_level }}{% endif %}<br>
		{% if variables.activation %}<b>Activation: </b> {{ variables.activation }}{% endif %}<br>
		<br>
{% if variables.description %}{{ variables.description }}{% endif %}<br><br>
		
{% if variables.armor_bonuses %}<span class='lines'>Armor Bonuses</span><br>
{{ variables.armor_bonuses }}{% endif %}<br><br>
		{% if variables.weapon_bonuses %}<span class='lines'>Weapon Bonuses</span><br>
{{ variables.weapon_bonuses }}{% endif %}<br><br>
		{% if variables.spells %}<span class='lines'>Spells</span><br>
{{ variables.spells }}{% endif %}<br><br>
	</div>
</div>