{% macro AttrFav(att, fav) %}{# --------------------------------- #}
{% set c='' %}{% if fav > 0 %}{% set c='lg' %}{% endif %}<span class='{{c}}'>{{att}}</span>{% endmacro AttrFav %}
<div class="col-12 col-md-12 col-lg-12"><div class="card my-2"><div class="card-body pd10">
{{ variables.name is defined ? variables.name }}, {{ variables.birthsign is defined ? variables.birthsign}} ({{ variables.gender is defined ? variables.gender }} {{ variables.race is defined ? variables.race }}, {{ variables.age is defined ? variables.age }})<br>
<table width="100%"><tr>
    <td class="hdr c sm" width="12.5%" title="Strength">Str</td>
    <td class="hdr c sm" width="12.5%" title="Endurance">End</td>
    <td class="hdr c sm" width="12.5%" title="Agility">Ag</td>
    <td class="hdr c sm" width="12.5%" title="Intelligence">Int</td>
    <td class="hdr c sm" width="12.5%" title="Willpower">Wp</td>
    <td class="hdr c sm" width="12.5%" title="Perception">Prc</td>
    <td class="hdr c sm" width="12.5%" title="Personality">Prs</td>
    <td class="hdr c sm" width="12.5%" title="Luck">Lck</td>
</tr><tr>
    <td class="txt c od">{% if variables.strength is defined %}{{ _self.AttrFav(variables.strength, variables.strength_fav) }}{% endif %}</td>
    <td class="txt c od">{% if variables.endurance is defined %}{{ _self.AttrFav(variables.endurance, variables.endurance_fav) }}{% endif %}</td>
    <td class="txt c od">{% if variables.agility is defined %}{{ _self.AttrFav(variables.agility, variables.agility_fav) }}{% endif %}</td>
    <td class="txt c od">{% if variables.intelligence is defined %}{{ _self.AttrFav(variables.intelligence, variables.intelligence_fav) }}{% endif %}</td>
    <td class="txt c od">{% if variables.willpower is defined %}{{ _self.AttrFav(variables.willpower, variables.willpower_fav) }}{% endif %}</td>
    <td class="txt c od">{% if variables.perception is defined %}{{ _self.AttrFav(variables.perception, variables.perception_fav) }}{% endif %}</td>
    <td class="txt c od">{% if variables.personality is defined %}{{ _self.AttrFav(variables.personality, variables.personality_fav) }}{% endif %}</td>
    <td class="txt c od">{% if variables.luck is defined %}{{variables.luck}}{% endif %}</td>
</tr></table></div></div></div>