{% macro displayClassLevelTable(dataString) %}
    <div class="row">
        {% set dataRows = dataString|trim |split(';') %}
        {% for dataStringRow in dataRows %}
            {% if dataStringRow is defined and dataStringRow|length > 0 %}
				<div class="d-inline col-12 col-md-4 class-level-value">
					{% set valueTab = dataStringRow|trim |split('|') %}
					{{ valueTab[0] }}
					{{ valueTab[1] }}
				</div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
{% macro printAbilityRow(name,score,tempAdjustment) %}
	{% if score is defined and score != ""%}
		{% set mod = (score - 10)//2 %}
		{% if tempAdjustment is defined and tempAdjustment != ""%}
			{% set adjustedScore = tempAdjustment|number_format %}
		{% else %}
			{% set adjustedScore = 0 %}
			{% set tempAdjustment = 0 %}
		{% endif %}
		{% set adjustedScore = adjustedScore + score|number_format %}
		{% set actualMod = (adjustedScore - 10)//2 %}
			{% if actualMod >= 0 %}
				<td class="table-roll-label rolldice" data={{"1d20+#{actualMod}"}}>{{ name|capitalize |slice(0,3) }}</td>
			{% else %}
				<td class="table-roll-label rolldice" data={{"1d20#{actualMod}"}}>{{ name|capitalize |slice(0,3) }}</td>
			{% endif %}
		<td class="table-label">{{ name|capitalize }}</td>
		<td class="table-value">{{ score }}</td>
		{% if mod >= 0 %}
			<td class="table-value">+{{ mod }}</td>
		{% else %}
			<td class="table-value">{{ mod }}</td>
		{% endif %}
		{% if tempAdjustment >= 0 %}
			<td class="table-value tooltipster" title="{{ name }}: {{ adjustedScore + score|number_format }}">+{{ tempAdjustment }}</td>
		{% else %}
			<td class="table-value">{{ tempAdjustment }}</td>
		{% endif %}
		{% if actualMod >= 0 %}
			<td class="table-total">{{actualMod}}</td>
		{% else %}
			<td class="table-total"}}>{{actualMod}}</td>
		{% endif %}
    {% endif %}
{% endmacro %}

{% macro printSkillRow(name, ranks = "0", class_mod = "0", ability_mod = "0", misc_mod = "0") %}
{% set skill_total = ranks|number_format + class_mod|number_format + ability_mod|number_format + misc_mod|number_format %}
	{% if skill_total is defined and skill_total|length > 0 %}
		{% if skill_total >= 0 %}
			<td class="table-roll-label rolldice" data={{"1d20+#{skill_total}"}}>{{ name|capitalize}}</td>
		{% else %}
			<td class="table-roll-label rolldice" data={{"1d20#{skill_total}"}}>{{ name|capitalize}}</td>
		{% endif %}
		<td class="table-total">{{skill_total}}</td>
	{% else %}
		<td class="table-total">0</td>
	{% endif %}
	{% if ranks is defined and ranks|length > 0 %}
		<td class="table-value">{{ranks}}</td>
	{% else %}
		<td class="table-value">0</td>
	{% endif %}
	{% if class_mod is defined and class_mod|length > 0 %}
		<td class="table-value">{{class_mod}}</td>
	{% else %}
		<td class="table-value">0</td>
	{% endif %}
	{% if ability_mod is defined and ability_mod|length > 0 %}
		<td class="table-value">{{ability_mod}}</td>
	{% else %}
		<td class="table-value">0</td>
	{% endif %}
		{% if misc_mod is defined and misc_mod|length > 0 %}
		<td class="table-value">{{misc_mod}}</td>
	{% else %}
		<td class="table-value">0</td>
	{% endif %}
{% endmacro %}
{% macro printSkillTable(table) %}
	{% import _self as macros %}
	{% set dataRows = table|trim |split(';') %}
	{% for dataRow in dataRows %}
		{% if dataRow is defined and dataRow|length > 0 %}
			{% set rowValues = dataRow|trim |split('|') %}
			<tr>{{ macros.printSkillRow("Profession - #{rowValues[0]}", rowValues[1], rowValues[2], rowValues[3], rowValues[4], rowValues[5])}}</tr>
		{% endif %}
	{% endfor %}
{% endmacro %}
<!--================================================================================-->
<!-- Sheet Main Template                                                            -->
<!--================================================================================-->
{% import _self as macros %}
<!-- Global Warper for CSS -->
<div class="starfinder-rpg-character">
    <h1 class="page-title">
        {% if variables.page_title is defined and variables.page_title !=""  %}
            {{ variables.page_title}}
        {% elseif variables.character_name is defined and variables.character_name !=""%}
                {{ variables.character_name}}
            {% else %}
                {{ variables.name }}
        {% endif %}
	</h1>
	<div class="row mb-3">
		<div class="d-block col-12 col-md-8 ">
			<div class="row sheet-section char-info-section">
				<div class="col-12 sheet-section-title">CHARACTER INFORMATIONS</div>
				<div class="col-12 sheet-section-content d-block">
					<div class="row mb-2">
						<div class="d-block col-12 info-value">
							{% if variables.character_name is defined and variables.character_name !=""%}
								{{ variables.character_name}}
							{% else %}
								{{ variables.name }}
							{% endif %}
						</div>
						<div class="d-block col-12 info-label">
							character Name
						</div>
					</div>
					<div class="row mb-2">
						<div class="d-block col-12 col-md-6 pr-2">
							<div class="row">
								{% if variables.class_and_level is defined and variables.class_and_level !="" %}
									<!-- Displaying Class and level table  -->
									<div class="d-block col-12 info-value">{{ macros.displayClassLevelTable(variables.class_and_level) }}</div>
								{% endif %}
								<div class="d-block col-12 info-label">Level And Class</div>
							</div>
						</div>
						<div class="d-block col-12 col-md-3">
							<div class="row">
								{% if variables.race is defined and variables.race !="" %}
									<div class="col-12 info-value">{{ variables.race }}</div>
								{% endif %}
								<div class="col-12 info-label">Race</div>
							</div>
						</div>
						<div class="d-block col-12 col-md-3">
							<div class="row">
								{% if variables.theme is defined and variables.theme !="" %}
									<div class="col-12 info-value">{{ variables.theme }}</div>
								{% endif %}
								<div class="col-12 info-label">Theme</div>
							</div>
						</div>
					</div>
					<div class="row mb-2">
						<div class="d-block col-12 col-md-3">
							<div class="row">
								{% if variables.size is defined and variables.size !="" %}
									<div class="col-12 info-value">{{ variables.size }}</div>
								{% endif %}
								<div class="col-12 info-label">Size</div>
							</div>
						</div>
						<div class="d-block col-12 col-md-2">
							<div class="row">
								{% if variables.speed is defined and variables.speed !="" %}
									<div class="col-12 info-value">{{ variables.speed }}</div>
								{% endif %}
								<div class="col-12 info-label">Speed</div>
							</div>
						</div>
						<div class="d-block col-12 col-md-2">
							<div class="row">
								{% if variables.gender is defined and variables.gender !="" %}
									<div class="col-12 info-value">{{ variables.gender }}</div>
								{% endif %}
								<div class="col-12 info-label">Gender</div>
							</div>
						</div>
						<div class="d-block col-12 col-md-5">
							<div class="row">
								{% if variables.homeworld is defined and variables.homeworld !="" %}
									<div class="col-12 info-value">{{ variables.homeworld }}</div>
								{% endif %}
								<div class="col-12 info-label">Homeworld</div>
							</div>
						</div>
					</div>
					<div class="row mb-2">
						<div class="d-block col-12 col-md-3">
							<div class="row">
								{% if variables.alignement is defined and variables.alignement !="" %}
									<div class="col-12 info-value">{{ variables.alignement }}</div>
								{% endif %}
								<div class="col-12 info-label">Alignement</div>
							</div>
						</div>
						<div class="d-block col-12 col-md-4">
							<div class="row">
								{% if variables.deity is defined and variables.deity !="" %}
									<div class="col-12 info-value">{{ variables.deity }}</div>
								{% endif %}
								<div class="col-12 info-label">Deity</div>
							</div>
						</div>
						<div class="d-block col-12 col-md-5">
							<div class="row">
								{% if variables.player is defined and variables.player !="" %}
									<div class="col-12 info-value">{{ variables.player }}</div>
								{% endif %}
								<div class="col-12 info-label">Player</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-block col-12 col-md-4 ">
				<div class="row sheet-section char-info-section">
					<div class="col-12 sheet-section-title">Description</div>
					<div class="col-12 sheet-section-content">
						{% if variables.description is defined and variables.description !=""%}
							<dt>Description</dt>
							<dd> {{ variables.description }} </dd>
						{% endif %}
					</div>
				</div>
			</div>
        </div>
    </div>
	<div class="row mb-3">
		<div class="d-block col-12 col-md-6 ">
			<div class="row sheet-section ability-section">
				<div class="col-12 sheet-section-title">
					ABILITY SCORES
				</div>
				<div class="col-12 sheet-section-content table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Ability</th>
								<th scope="col">Score</th>
								<th scope="col">Ability Mod</th>
								<th scope="col">Temp Adjust</th>
								<th scope="col">Current Mod</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{{macros.printAbilityRow("Strength", variables.strength,variables.strength_temporary_adjustment)}}
								{% set global_str_score = variables.strength|number_format %}
								{% if variables.strength_temporary_adjustment is defined and variables.strength_temporary_adjustment != "" %}
									{% set global_str_score = global_str_score + variables.strength_temporary_adjustment|number_format  %}
								{% endif %}
								{% set global_str_mod = (global_str_score - 10)//2 %}
							</tr>
							<tr>
								{{macros.printAbilityRow("Dexterity", variables.dexterity,variables.dexterity_temporary_adjustment)}}
								{% set global_dex_score = variables.dexterity|number_format %}
								{% if variables.dexterity_temporary_adjustment is defined and variables.dexterity_temporary_adjustment != "" %}
									{% set global_dex_score = global_dex_score + variables.dexterity_temporary_adjustment|number_format  %}
								{% endif %}
								{% set global_dex_mod = (global_dex_score - 10)//2 %}
							</tr>
							<tr>
								{{macros.printAbilityRow("Constitution", variables.constitution,variables.constitution_temporary_adjustment)}}
								{% set global_con_score = variables.constitution|number_format %}
								{% if variables.constitution_temporary_adjustment is defined and variables.constitution_temporary_adjustment != "" %}
									{% set global_con_score = global_con_score + variables.constitution_temporary_adjustment|number_format  %}
								{% endif %}
								{% set global_con_mod = (global_con_score - 10)//2 %}
							</tr>
							<tr>
								{{macros.printAbilityRow("Intelligence", variables.intelligence,variables.intelligence_temporary_adjustment)}}
								{% set global_int_score = variables.intelligence|number_format %}
								{% if variables.intelligence_temporary_adjustment is defined and variables.intelligence_temporary_adjustment != "" %}
									{% set global_int_score = global_int_score + variables.intelligence_temporary_adjustment|number_format  %}
								{% endif %}
								{% set global_int_mod = (global_int_score - 10)//2 %}
							</tr>
							<tr>
								{{macros.printAbilityRow("Wisdom", variables.wisdom,variables.wisdom_temporary_adjustment)}}
								{% set global_wis_score = variables.wisdom|number_format %}
								{% if variables.wisdom_temporary_adjustment is defined and variables.wisdom_temporary_adjustment != "" %}
									{% set global_wis_score = global_wis_score + variables.wisdom_temporary_adjustment|number_format  %}
								{% endif %}
								{% set global_wis_mod = (global_wis_score - 10)//2 %}
							</tr>
							<tr>
								{{macros.printAbilityRow("Charisma", variables.charisma,variables.charisma_temporary_adjustment)}}
								{% set global_cha_score = variables.charisma|number_format %}
								{% if variables.charisma_temporary_adjustment is defined and variables.charisma_temporary_adjustment != "" %}
									{% set global_cha_score = global_cha_score + variables.charisma_temporary_adjustment|number_format  %}
								{% endif %}
								{% set global_cha_mod = (global_cha_score - 10)//2 %}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row sheet-section skill-section">
				<div class="col-12 sheet-section-title">
					SKILLS
				</div>
				<div class="col-12 sheet-section-content table-responsive skills-table">
					<table class="table table-striped health-table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Total</th>
								<th scope="col">Ranks</th>
								<th scope="col">Class Mod</th>
								<th scope="col">Ability Mod</th>
								<th scope="col">Misc Mod</th>
							</tr>
						</thead>
						<tbody>
							<tr>{{ macros.printSkillRow("Acrobatics* (DEX)", variables.acrobatics, variables.acrobatics_class_mod, global_dex_mod, variables.acrobatics_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Athletics* (STR)", variables.athletics, variables.athletics_class_mod, global_str_mod, variables.athletics_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Bluff (CHA)", variables.bluff,variables.bluff_class_mod, global_cha_mod, variables.bluff_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Computers (INT)", variables.computers,variables.computers_class_mod, global_int_mod, variables.computers_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Culture (INT)", variables.culture, variables.culture_class_mod, global_int_mod, variables.culture_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Diplomacy (CHA)", variables.diplomacy, variables.diplomacy_class_mod, global_cha_mod, variables.diplomacy_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Disguise (CHA)", variables.disguise, variables.disguise_class_mod, global_cha_mod, variables.disguise_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Engineering (INT)", variables.engineering, variables.engineering_class_mod, global_int_mod, variables.engineering_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Intimidate (CHA)", variables.intimidate, variables.intimidate_class_mod, global_cha_mod, variables.intimidate_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Life Science (INT)", variables.life_science, variables.life_science_class_mod, global_int_mod, variables.life_science_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Medicine (INT)", variables.medicine, variables.medicine_class_mod, global_int_mod, variables.medicine_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Mysticism (WIS)", variables.mysticism, variables.mysticism_class_mod, global_wis_mod, variables.mysticism_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Perception (WIS)", variables.perception, variables.perception_class_mod, global_wis_mod, variables.perception_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Physical Science (INT)", variables.physical_science, variables.physical_science_class_mod, global_int_mod, variables.physical_science_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Piloting (DEX)", variables.piloting, variables.piloting_class_mod, global_dex_mod, variables.piloting_misc_mod) }}</tr>
							<tr>{{ macros.printSkillTable(variables.profession_table)}}</tr>
							<tr>{{ macros.printSkillRow("Sense Motive (WIS)", variables.sense_motive, variables.sense_motive_class_mod, global_wis_mod, variables.sense_motive_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Sleight Of Hand (DEX)", variables.sleight_of_hand, variables.sleight_of_hand_class_mod, global_dex_mod, variables.sleight_of_hand_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Stealth (DEX)", variables.stealth, variables.stealth_class_mod, global_dex_mod, variables.stealth_misc_mod) }}</tr>
							<tr>{{ macros.printSkillRow("Survival (WIS)", variables.survival, variables.survival_class_mod, global_wis_mod, variables.survival_misc_mod) }}</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="d-block col-12 col-md-6">
			<div class="row sheet-section init-section">
				<div class="col-12 sheet-section-title initiative-title">
					INITIATIVE
				</div>
				<div class="col-12 sheet-section-content table-responsive">
					{% if variables.initiative_modifier is defined and variables.initiative_modifier != "" %}
						{% set init_mod = variables.initiative_modifier %}
					{% else %}
						{% set init_mod = 0 %}
					{% endif %}
					{% set init_total = global_dex_mod + init_mod %}
					<table class="table table-striped init-table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Total</th>
								<th scope="col">Dex Mod</th>
								<th scope="col">Init Mod</th>
							</tr>
						</thead>
						<tbody>
							{% if init_total>= 0 %}
								<td class="table-roll-label rolldice" data={{"1d20+#{init_total}"}}>
									Initiative
								</td>
							{% else %}	 
								<td class="table-roll-label rolldice" data={{"1d20#{init_total}"}}>
									Initiative
								</td>
							{% endif %}
							<td class="table-total">
								{{ init_total }}
							</td>
							<td class="table-value">
								{{ global_dex_mod }}
							</td>
							<td class="table-value">
								{{ init_mod }}
							</td>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row sheet-section health-section">
				<div class="col-12 sheet-section-title">
					HEALTH AND RESOLVE
				</div>
				<div class="col-12 sheet-section-content table-responsive">
					<table class="table table-striped health-table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Stamina</th>
								<th scope="col">Health</th>
								<th scope="col">Resolve</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="table-label">Total</th>
								<td class="table-value">
									{% if variables.stamina_total is defined and variables.stamina_total != "" %}
										{{ variables.stamina_total }}
									{% endif %}
								</td>
								<td class="table-value">
									{% if variables.health_total is defined and variables.health_total != "" %}
										{{ variables.health_total }}
									{% endif %}
								</td>
								<td class="table-value">
									{% if variables.resolve_total is defined and variables.resolve_total != "" %}
										{{ variables.resolve_total }}
									{% endif %}
								</td>
							</tr>
							<tr>
								<th class="table-label">Current</th>
								<td class="table-value">
									{% if variables.stamina_current is defined and variables.stamina_current != "" %}
										{{ variables.stamina_current }}
									{% else %}
										{{ variables.stamina_total }}
									{% endif %}
								</td>
								<td class="table-value">
									{% if variables.health_current is defined and variables.health_current != "" %}
										{{ variables.health_current }}
									{% else %}
										{{ variables.health_total }}
									{% endif %}
								</td>
								<td class="table-value">
									{% if variables.resolve_current is defined and variables.resolve_current != "" %}
										{{ variables.resolve_current }}
									{% else %}
										{{ variables.resolve_total }}
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row sheet-section armor-section">
				<div class="col-12 sheet-section-title">
					ARMOR CLASS
				</div>
				<div class="col-12 sheet-section-content table-responsive">
					<table class="table table-striped health-table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col"></th>
								<th scope="col">Total</th>
								<th scope="col">Base</th>
								<th scope="col">Armor Mod</th>
								<th scope="col">Dex Mod</th>
								<th scope="col">Misc Mod</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{% if variables.energy_armor_bonus is defined and variables.energy_armor_bonus != "" %}
									{% set energy_armor_mod = variables.energy_armor_bonus %}
								{% else %}
									{% set energy_armor_mod = 0 %}
								{% endif %}
								{% if variables.energy_armor_misc_modifier is defined and variables.energy_armor_misc_modifier != "" %}
									{% set energy_misc_mod = variables.energy_armor_misc_modifier %}
								{% else %}
									{% set energy_misc_mod = 0 %}
								{% endif %}
								{% set energy_total = 10 + global_dex_mod + energy_armor_mod + energy_misc_mod %}
								<th class="table-short-label">EAC</th>
								<th class="table-label">Energy Armor Class</th>
								<td class="table-total">{{ energy_total }}</td>
								<td class="table-value">10</td>
								<td class="table-value">{{ energy_armor_mod }}</td>
								<td class="table-value">{{ global_dex_mod }}</td>
								<td class="table-value">{{ energy_misc_mod }}</td>
							</tr>
							<tr>
								{% if variables.kinetic_armor_bonus_ is defined and variables.kinetic_armor_bonus_ != "" %}
									{% set kinetic_armor_mod = variables.kinetic_armor_bonus_ %}
								{% else %}
									{% set kinetic_armor_mod = 0 %}
								{% endif %}
								{% if variables.kinetic_armor_misc_modifier is defined and variables.kinetic_armor_misc_modifier != "" %}
									{% set kinetic_misc_mod = variables.kinetic_armor_misc_modifier %}
								{% else %}
									{% set kinetic_misc_mod = 0 %}
								{% endif %}
								{% set kinetic_total = 10 + global_dex_mod + kinetic_armor_mod + kinetic_misc_mod %}
								<th class="table-short-label">KAC</th>
								<th class="table-label">Kinetic Armor Class</th>
								<td class="table-total">{{ kinetic_total }}</td>
								<td class="table-value">10</td>
								<td class="table-value">{{ kinetic_armor_mod }}</td>
								<td class="table-value">{{ global_dex_mod }}</td>
								<td class="table-value">{{ kinetic_misc_mod }}</td>
							</tr>
							<tr>
								{% set cmac = 10 + kinetic_total %}
								<th class="table-short-label">CMAC</th>
								<th class="table-label">Combat Manoeuvre AC</th>
								<td class="table-total">{{ cmac }}</td>
								<td class="table-value">10</td>
								<td class="table-value">{{ kinetic_total }}</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						{% if variables.damage_reduction is defined %}
						<div class="col-2 dr-label">DR</div>
						<div class="col-4 dr-value">{{ variables.damage_reduction}}</div>
						{% endif %}
						{% if variables.resistances is defined %}
						<div class="col-2 dr-label">Resistances</div>
						<div class="col-4 dr-value">{{ variables.resistances}}</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row sheet-section saving-throws-section">
				<div class="col-12 sheet-section-title">
					SAVING THROWS
				</div>
				<div class="col-12 sheet-section-content table-responsive">
					<table class="table table-striped saving-throws-table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Total</th>
								<th scope="col">Base</th>
								<th scope="col">Ability Mod</th>
								<th scope="col">Misc Mod</th>
							</tr>
						</thead>
						<tbody>
							{% if variables.fortitude_save_base is defined and variables.fortitude_save_base !="" %}
								{% set for_save_base = variables.fortitude_save_base|number_format %}
							{% else %}
								{% set for_save_base = 0 %}
							{% endif %}
							{% if variables.fortitude_save_misc_modifier is defined and variables.fortitude_save_misc_modifier !=""  %}
								{% set for_save_misc = variables.fortitude_save_misc_modifier|number_format %}
							{% else %}
								{% set for_save_misc = 0 %}
							{% endif %}
							{% set for_save_total = for_save_base + global_con_mod + for_save_misc %}
							<tr>
								{% if ref_save_total>= 0 %}
									<td class="table-roll-label rolldice" data={{"1d20+#{for_save_total}"}}>
										<div class="label-black">Fortitude</div><div class="label-light">(Constitution)</div>
									</td>
								{% else %}	 
									<td class="table-roll-label rolldice" data={{"1d20#{for_save_total}"}}>
										<div class="label-black">Fortitude</div><div class="label-light">(Constitution)</div>
									</td>
								{% endif %}
								<td class="table-total">{{ for_save_total }}</td>
								<td class="table-value">{{ for_save_base }}</td>
								<td class="table-value">{{ global_con_mod }}</td>
								<td class="table-value">{{ for_save_misc }}</td>
							</tr>
							<tr>
							{% if variables.reflex_save_base is defined and variables.reflex_save_base !="" %}
								{% set ref_save_base = variables.reflex_save_base|number_format %}
							{% else %}
								{% set ref_save_base = 0 %}
							{% endif %}
							{% if variables.reflex_save_misc_modifier is defined and variables.reflex_save_misc_modifier !=""  %}
								{% set ref_save_misc = variables.reflex_save_misc_modifier|number_format %}
							{% else %}
								{% set ref_save_misc = 0 %}
							{% endif %}
							{% set ref_save_total = ref_save_base + global_dex_mod + ref_save_misc %}
							<tr>
								{% if ref_save_total>= 0 %}
									<td class="table-roll-label rolldice" data={{"1d20+#{ref_save_total}"}}>
										<div class="label-black">Reflex</div><div class="label-light">(Dexterity)</div>
									</td>
								{% else %}	 
									<td class="table-roll-label rolldice" data={{"1d20#{ref_save_total}"}}>
										<div class="label-black">Reflex</div><div class="label-light">(Dexterity)</div>
									</td>
								{% endif %}
								<td class="table-total">{{ ref_save_total }}</td>
								<td class="table-value">{{ ref_save_base }}</td>
								<td class="table-value">{{ global_dex_mod }}</td>
								<td class="table-value">{{ ref_save_misc }}</td>
							</tr>
							{% if variables.will_save_base is defined and variables.will_save_base !="" %}
								{% set will_save_base = variables.will_save_base|number_format %}
							{% else %}
								{% set will_save_base = 0 %}
							{% endif %}
							{% if variables.will_save_misc_modifier is defined and variables.will_save_misc_modifier !=""  %}
								{% set will_save_misc = variables.will_save_misc_modifier|number_format %}
							{% else %}
								{% set will_save_misc = 0 %}
							{% endif %}
							{% set will_save_total = will_save_base + global_wis_mod + will_save_misc %}
							<tr>
								{% if ref_save_total>= 0 %}
									<td class="table-roll-label rolldice" data={{"1d20+#{will_save_total}"}}>
										<div class="label-black">Will</div><div class="label-light">(Wisdom)</div>
									</td>
								{% else %}	 
									<td class="table-roll-label rolldice" data={{"1d20#{will_save_total}"}}>
										<div class="label-black">Will</div><div class="label-light">(Wisdom)</div>
									</td>
								{% endif %}
								<td class="table-total">{{ will_save_total }}</td>
								<td class="table-value">{{ will_save_base }}</td>
								<td class="table-value">{{ global_wis_mod }}</td>
								<td class="table-value">{{ will_save_misc }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row sheet-section attack-section">
				<div class="col-12 sheet-section-title">
					<div class="row">
						<div class="col-12 col-md-6">
							ATTACK BONUSES
						</div>
						<div class="col-12 col-md-6 bba-cell">
							<div class="row">
							{% if variables.base_attack_bonus is defined and variables.base_attack_bonus !="" %}
								{% set bab = variables.base_attack_bonus|number_format %}
							{% else %}
								{% set bab = 0 %}
							{% endif %}
								<div class="col-8 bba-label">Base Attack Bonus</div>
								<div class="col-4 bba-value">{{ bab }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 sheet-section-content table-responsive">
					<table class="table table-striped attack-melee-table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Total</th>
								<th scope="col">BAB</th>
								<th scope="col">STR Mod</th>
								<th scope="col">Misc Mod</th>
							</tr>
						</thead>
						<tbody>
							{% if variables.melee_attack_misc_modifier is defined and variables.melee_attack_misc_modifier !="" %}
								{% set melee_misc_mod = variables.melee_attack_misc_modifier|number_format %}
							{% else %}
								{% set melee_misc_mod = 0 %}
							{% endif %}
							{% set melee_bonus_total = bab + global_str_mod + melee_misc_mod %}
							<tr>
								{% if ref_save_total>= 0 %}
									<td class="table-roll-label rolldice" data={{"1d20+#{melee_bonus_total}"}}>
										Melee Attack
									</td>
								{% else %}	 
									<td class="table-roll-label rolldice" data={{"1d20#{melee_bonus_total}"}}>
										Melee Attack
									</td>
								{% endif %}
								<td class="table-total">{{ melee_bonus_total }}</td>
								<td class="table-value">{{ bab }}</td>
								<td class="table-value">{{ global_str_mod }}</td>
								<td class="table-value">{{ melee_misc_mod }}</td>
							</tr>
							<tr>
								<th scope="col"></th>
								<th scope="col">Total</th>
								<th scope="col">BAB</th>
								<th scope="col">DEX Mod</th>
								<th scope="col">Misc Mod</th>
							</tr>
							{% if variables.ranged_attack_misc_modifier is defined and variables.ranged_attack_misc_modifier !="" %}
								{% set ranged_misc_mod = variables.ranged_attack_misc_modifier|number_format %}
							{% else %}
								{% set ranged_misc_mod = 0 %}
							{% endif %}
							{% set ranged_bonus_total = bab + global_dex_mod + ranged_misc_mod %}
							<tr>
								{% if ref_save_total>= 0 %}
									<td class="table-roll-label rolldice" data={{"1d20+#{ranged_bonus_total}"}}>
										Ranged Attack
									</td>
								{% else %}	 
									<td class="table-roll-label rolldice" data={{"1d20#{ranged_bonus_total}"}}>
										Ranged Attack
									</td>
								{% endif %}
								<td class="table-total">{{ ranged_bonus_total }}</td>
								<td class="table-value">{{ bab }}</td>
								<td class="table-value">{{ global_dex_mod }}</td>
								<td class="table-value">{{ ranged_misc_mod }}</td>
							</tr>
							<tr>
								<th scope="col"></th>
								<th scope="col">Total</th>
								<th scope="col">BAB</th>
								<th scope="col">STR Mod</th>
								<th scope="col">Misc Mod</th>
							</tr>
						</thead>
						<tbody>
							{% if variables.throw_attack_misc_modifier is defined and variables.throw_attack_misc_modifier !="" %}
								{% set throw_misc_mod = variables.throw_attack_misc_modifier|number_format %}
							{% else %}
								{% set throw_misc_mod = 0 %}
							{% endif %}
							{% set throw_bonus_total = bab + global_str_mod + throw_misc_mod %}
							<tr>
								{% if ref_save_total>= 0 %}
									<td class="table-roll-label rolldice" data={{"1d20+#{throw_bonus_total}"}}>
										Thrown Attack
									</td>
								{% else %}	 
									<td class="table-roll-label rolldice" data={{"1d20#{throw_bonus_total}"}}>
										Thrown Attack
									</td>
								{% endif %}
								<td class="table-total">{{ throw_bonus_total }}</td>
								<td class="table-value">{{ bab }}</td>
								<td class="table-value">{{ global_str_mod }}</td>
								<td class="table-value">{{ throw_misc_mod }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			{% if variables.weapon_table is defined and variables.weapon_table !="" %}
			<div class="row sheet-section armor-section">
				<div class="col-12 sheet-section-title">
					Weapons
				</div>
				<div class="col-12">
					{{ variables.weapon_table|ParseTable}} </dd>
				</div>
			</div>
			{% endif %}
			{% if variables.armor_table is defined and variables.armor_table !="" %}
			<div class="row sheet-section armor-section">
				<div class="col-12 sheet-section-title">
					Armors
				</div>
				<div class="col-12">
					{{ variables.armor_table|ParseTable}}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>

