<!--  TRACKABLE Sheet form Template                                                            -->
<!--================================================================================-->
{% macro track_printFormRow(var_name, variables, inputType = 'text', label ='', placeholder = '', description ='', required = false, rows = 3, showLabel = true ) %}
	{% if label %} {% else %}{% set label = type %} {% endif %}
	<div class="row form-row">
		{% if showLabel == true %}
			<label for="{{ var_name }}" class="col-12 col-md-3">{{ label }}</label>
		{% endif %}
		<div class="col-12 {% if showLabel == true %}col-md-9{% else %}col-md-12{% endif %}">
			{% if inputType == 'textarea' %}
				<textarea rows="{{ rows }}" placeholder="e.g. {{ placeholder }}" class="form-control" name="{{ var_name }}" {% if required == true  %}required {% endif %}>{{ attribute( variables, var_name ) is defined ? attribute( variables, var_name) }}</textarea>
			{% else %}
				<input placeholder="e.g. {{ placeholder }}" class="form-control" type="{{ inputType }}" value="{{
					attribute( variables, var_name ) is defined ? attribute( variables, var_name) }}" name="{{ var_name }}" {% if required == true  %}required {% endif %}/>
			{% endif %}
			{% if (description) %}
				<div class="description font-13 text-muted">{{ description|raw }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}
{% macro track_printFormHalfRow(var_name, variables, inputType = 'text', label ='', placeholder = '', description ='', required = false, rows = 3 ) %}
	{% if label %} {% else %}{% set label = type %} {% endif %}
	<div class="row form-row">
		<label for="{{ var_name }}" class="col-12 col-md-5">{{ label }}</label>
		<div class="col-12 col-md-7">
			{% if inputType == 'textarea' %}
				<textarea rows="{{ rows }}" placeholder="e.g. {{ placeholder }}" class="form-control" name="{{ var_name }}"  {% if required == true  %}required {% endif %}>{{attribute( variables, var_name ) is defined ? attribute( variables, var_name) }}</textarea>
			{% else %}
				<input placeholder="e.g. {{ placeholder }}" class="form-control" type="{{ inputType }}" value="{{
					attribute( variables, var_name ) is defined ? attribute( variables, var_name) }}" name="{{ var_name }}"  {% if required == true  %}required {% endif %}/>
			{% endif %}
			{% if (description) %}
				<div class="description font-13 text-muted">{{ description|raw }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}
{% macro track_printFormThirdRow(var_name, variables, inputType = 'text', label ='', placeholder = '', description ='', required = false, rows = 3 ) %}
	{% if label %} {% else %}{% set label = type %} {% endif %}
	<div class="row form-row">
		<label for="{{ var_name }}" class="col-12 col-md-6">{{ label }}</label>
		<div class="col-12 col-md-6">
			{% if inputType == 'textarea' %}
				<textarea rows="{{ rows }}" placeholder="e.g. {{ placeholder }}" class="form-control" name="{{ var_name }}"  {% if required == true  %}required {% endif %}>{{attribute( variables, var_name ) is defined ? attribute( variables, var_name) }}</textarea>
			{% else %}
				<input placeholder="e.g. {{ placeholder }}" class="form-control" type="{{ inputType }}" value="{{
					attribute( variables, var_name ) is defined ? attribute( variables, var_name) }}" name="{{ var_name }}"  {% if required == true  %}required {% endif %}/>
			{% endif %}
			{% if (description) %}
				<div class="description font-13 text-muted">{{ description|raw }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}
{% macro track_printAbilityFormRow(var_name, variables, label ='') %}
	<tr class="ability-form-row">
		<th class="ability-form-label"><label for="{{ var_name }}">{{ label }}</label></th>
		<td class="ability-form-value"><input placeholder="" class="form-control" type="number"
			value="{{attribute( variables, var_name ) is defined ? attribute( variables, var_name) : 0 }}"
			name="{{ var_name }}"/>
		</td>
		{% set var_temp_label = label ~ "Temporary Adjustement" %}
		{% set var_temp_mod_name = var_name ~ "_temporary_adjustment" %}
		<th class="ability-form-label"><label for="{{ var_temp_mod_name }}">{{ var_temp_label }}</label></th>
		<td class="ability-form-value"><input placeholder="" class="form-control" type="number" value="{{
			attribute( variables, var_temp_mod_name ) is defined ? attribute( variables, var_temp_mod_name) : 0 }}" name="{{ var_temp_mod_name }}"/>
		</td>
	</tr>
{% endmacro %}
{% macro track_printSkillFormRow(var_name, variables, label="") %}
	<tr class="skill-form-row">
		<th class="skill-form-label"><label for="{{ var_name }}">{{ label }}</label></th>
		<td class="skill-form-value"><input placeholder="" class="form-control" type="number" value="{{
			attribute( variables, var_name ) is defined ? attribute( variables, var_name) : 0 }}" name="{{ var_name }}"/>
		</td>
		{% set var_class_mod_name = var_name ~ "_class_mod" %}
		<td class="skill-form-value"><input placeholder="" class="form-control" type="number" value="{{
			attribute( variables, var_class_mod_name ) is defined ? attribute( variables, var_class_mod_name) : 0 }}" name="{{ var_class_mod_name }}"/>
		</td>
		{% set var_misc_mod_name = var_name ~ "_misc_mod" %}
		<td class="skill-form-value"><input placeholder="" class="form-control" type="number" value="{{
			attribute( variables, var_misc_mod_name ) is defined ? attribute( variables, var_misc_mod_name) : 0 }}" name="{{ var_misc_mod_name }}"/>
		</td>
	</tr>
{% endmacro %}
{% import _self as macros %}
<!-- Trackable Sheet form -->
<div class="starfinder-rpg-character">
    <div class="row">
        <div class="col-12 col-md-4 ">
            <div class="row card sheet-section char-info-section">
                <div class="col-12 card-header">Ability Modifiers</div>
                <div class="col-12 card-content form-section-content">
                    <div class="row">
                        <div class="col-12">{{ 
                            macros.track_printFormThirdRow("strength_temporary_adjustment", variables,"number", "STR Temporary Adjustment", '', "")}}{{
                            macros.track_printFormThirdRow("dexterity_temporary_adjustment", variables,"number", "DEX Temporary Adjustment", '', "")}}{{
                            macros.track_printFormThirdRow("constitution_temporary_adjustment", variables,"number", "CON Temporary Adjustment", '', "")}}{{
                            macros.track_printFormThirdRow("intelligence_temporary_adjustment", variables,"number", "INT Temporary Adjustment", '', "")}}{{
                            macros.track_printFormThirdRow("wisdom_temporary_adjustment", variables,"number", "WIS Temporary Adjustment", '', "")}}{{
                            macros.track_printFormThirdRow("charisma_temporary_adjustment", variables,"number", "CHA Temporary Adjustment", '', "")
                        }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="row card sheet-section char-info-section">
                <div class="col-12 card-header">Health</div>
                <div class="col-12 card-content form-section-content">
                    <div class="row">
                        <div class="col-12">{{ macros.track_printFormThirdRow("stamina_current", variables, "number", "Current Stamina","10")}}</div>
                        <div class="col-12">{{ macros.track_printFormThirdRow("health_current", variables, "number", "Current Health","10")}}</div>
                        <div class="col-12">{{ macros.track_printFormThirdRow("resolve_current", variables, "number", "Current Resolve","10")}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="row card sheet-section char-info-section">
                <div class="col-12 card-header">Conditions</div>
                <div class="col-12 card-content form-section-content">
                    <div class="row">
                        <div class="col-12">{{ 
                            macros.track_printFormRow("track_conditions", variables,"textarea",
                            "Conditions", 'bleeding', "", false, 14, false)
                        }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="row card sheet-section char-info-section">
            <div class="col-12 card-header">Spellbook</div>
            <div class="col-12 card-content form-section-content">
                <div class="row">
                    <div class="col-12 col-md-3">{{ 
                        macros.track_printFormThirdRow("track_spell_0", variables,"number", "Availlable Level 0 Spell","0",'of {{ variables.spell_slot_0 is defined ?variables.spell_slot_0 : 0}}', "")}}{{ 
                        macros.track_printFormThirdRow("track_spell_1", variables,"number", "Availlable Level 1 Spell","0",'of {{ variables.spell_slot_1 is defined ?variables.spell_slot_1 : 0}}', "")}}{{ 
                        macros.track_printFormThirdRow("track_spell_2", variables,"number", "Availlable Level 2 Spell","0",'of {{ variables.spell_slot_2 is defined ?variables.spell_slot_2 : 0}}', "")
                    }}</div>
                    <div class="col-12 col-md-3">{{ 
                        macros.track_printFormThirdRow("track_spell_3", variables,"number", "Availlable Level 3 Spell","0",'of {{ variables.spell_slot_3 is defined ?variables.spell_slot_3 : 0}}', "")}}{{ 
                        macros.track_printFormThirdRow("track_spell_4", variables,"number", "Availlable Level 4 Spell","0",'of {{ variables.spell_slot_4 is defined ?variables.spell_slot_4 : 0}}', "")}}{{ 
                        macros.track_printFormThirdRow("track_spell_5", variables,"number", "Availlable Level 5 Spell","0",'of {{ variables.spell_slot_5 is defined ?variables.spell_slot_5 : 0}}', "")
                    }}</div>
                    <div class="col-12 col-md-3">{{ 
                        macros.track_printFormThirdRow("track_spell_6", variables,"number", "Availlable Level 6 Spell","0",'of {{ variables.spell_slot_6 is defined ?variables.spell_slot_6 : 0}}', "")}}{{ 
                        macros.track_printFormThirdRow("track_spell_7", variables,"number", "Availlable Level 7 Spell","0",'of {{ variables.spell_slot_7 is defined ?variables.spell_slot_7 : 0}}', "")}}{{
                        macros.track_printFormThirdRow("track_spell_8", variables,"number", "Availlable Level 8 Spell","0",'of {{ variables.spell_slot_8 is defined ?variables.spell_slot_8 : 0}}', "")
                    }}</div>
                    <div class="col-12 col-md-3">{{ 
                        macros.track_printFormThirdRow("track_spell_9", variables,"number", "Availlable Level 9 Spell","0",'of {{ variables.spell_slot_9 is defined ?variables.spell_slot_9 : 0}}', "")
                    }}</div>
                </div>
            </div>
        </div>
    </div>
</div>