<div class='container-fluid sheet-call-of-cthulhu-cult'>
{% set img = variables.imageid|default %}
{% set wd = 12 %}{% if img > 0 %}{% set wd = 8 %}{% endif %}
  <div class='row'>
    <div class='col-12'>
      <div class='card cult' id='card-cult'>
        <div class='card-header header'>Cult Worksheet: {{variables.name|default}}</div>
        <div class='row'>
          <div class='col-{{wd}}'>
            <div class='row'>
              <div class='col-12 col-md-4'>
                <div class='lbl od lbl-deity'> Deity </div><div class='var od var-deity'> {{variables.deity|default}} </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='lbl od lbl-year-setting'> Year/Setting </div><div class='var od var-year-setting'> {{variables.year_setting|default}} </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='lbl od lbl-main-location'> Main Location </div><div class='var od var-main-location'> {{variables.main_location|default}} </div>
              </div>
              <div class='col-12 col-md-8'>
                <div class='lbl od lbl-goals-means'> Goals/Means </div><div class='var od var-goals-means'> {{variables.goals_means|default|nl2br}} </div>
              </div>
              <div class='col-12'>
                <div class='lbl od lbl-structure'> Structure </div><div class='var od var-structure'> {{variables.structure|default|nl2br}} </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-number-of-members'> Number of Members </div><div class='var od var-number-of-members'> {{variables.number_of_members|default}} </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-archetypes'> Archetype/s </div><div class='var od var-archetypes'> {{variables.archetypes|default}} </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='lbl od lbl-cm-leader'> Cthulhu Mythos: Leader </div><div class='var od var-cm-leader'> {{variables.cm_leader|default}} </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='lbl od lbl-cm-members'> Cthulhu Mythos: Members </div><div class='var od var-cm-members'> {{variables.cm_members|default}} </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='lbl od lbl-sl-members'> Sanity Level of Members </div><div class='var od var-sl-members'> {{variables.sl_members|default}} </div>
              </div>
            </div>
          </div>
          {% if img > 0 %}
          <div class='col-4'>
            <div class='lbl od lbl-imageid'> Logo/Crest </div><div class='var od var-imageid'>[img:{{img}}]</div>
          </div>
          {% endif %}
          <div class='col-12'>
            <div class='row'>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-initiation'> Initiation </div><div class='var od var-initiation'> {{variables.initiation|default|nl2br}} </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-other-locations'> Other Locations </div><div class='var od var-other-locations'> {{variables.other_locations|default|nl2br}} </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-resources'> Resources </div><div class='var od var-resources'> {{variables.resources|default|nl2br}} </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-tomes-etc'> Tomes/Artifacts/Special </div><div class='var od var-tomes-etc'> {{variables.tomes_etc|default|nl2br}} </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-security'> Security </div><div class='var od var-security'> {{variables.security|default|nl2br}} </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-associated-monsters'> Associated Monsters </div><div class='var od var-associated-monsters'> {{variables.associated_monsters|default|nl2br}} </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-key-dealings'> Key Dealings (Legal/Illegal) </div><div class='var od var-key-dealings'> {{variables.key_dealings|default|nl2br}} </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='lbl od lbl-enemies-weaknesses'> Enemies/Weaknesses </div><div class='var od var-enemies-weaknesses'> {{variables.enemies_weaknesses|default|nl2br}} </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-12'>
                <div class='lbl od lbl-description'> Notes </div><div class='var od var-description'> {{variables.description|default|nl2br}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>