<div class='container-fluid sheet-call-of-cthulhu-cult'>
  <div class='row'>
    <div class='col-12'>
      <div class='card cult' id='card-cult'>
        <div class='card-header header'>Cult Worksheet</div>
        <div class='row'>
          <div class='col-12 col-md-3'>
            <div class='ilbl od ilbl-name'><label for='name'>Name</label></div><div class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' required=required /></div>
          </div>
          <div class='col-12 col-md-3'>
            <div class='ilbl od ilbl-deity'><label for='deity'>Deity</label></div><div class='ivar od ivar-deity'><input value='{{variables.deity|default}}' class='form-control ivar ivar-deity' id='deity' name='deity' type='text' /></div>
          </div>
          <div class='col-12 col-md-3'>
            <div class='ilbl od ilbl-year-setting'><label for='year_setting'>Year/Setting</label></div><div class='ivar od ivar-year-setting'><input value='{{variables.year_setting|default}}' class='form-control ivar ivar-year-setting' id='year_setting' name='year_setting' type='text' /></div>
          </div>
          <div class='col-12 col-md-3'>
            <div class='ilbl od ilbl-main-location'><label for='main_location'>Main Location</label></div><div class='ivar od ivar-main-location'><input value='{{variables.main_location|default}}' class='form-control ivar ivar-main-location' id='main_location' name='main_location' type='text' /></div>
          </div>
          <div class='col-12 col-md-8'>
            <div class='ilbl od ilbl-goals-means'><label for='goals_means'>Goals/Means</label></div><div class='ivar od ivar-goals-means'><div class='iContent'><textarea class='form-control ivar ivar-goals-means ' id='goals_means' name='goals_means' rows='3'  >{{variables.goals_means|default}}</textarea></div></div>
          </div>
          <div class='col-12 col-md-4'>
            <div class='ilbl od ilbl-imageid'><label for='imageid'>Logo/Crest</label></div><div class='ivar od ivar-imageid'><input value='{{variables.imageid|default}}' class='form-control ivar ivar-imageid c' id='imageid' name='imageid' type='number' /></div>
          </div>
          <div class='col-12'>
            <div class='ilbl od ilbl-structure'><label for='structure'>Structure</label></div><div class='ivar od ivar-structure'><div class='iContent'><textarea class='form-control ivar ivar-structure ' id='structure' name='structure' rows='3'  >{{variables.structure|default}}</textarea></div></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-number-of-members'><label for='number_of_members'>Number of Members</label></div><div class='ivar od ivar-number-of-members'><input value='{{variables.number_of_members|default}}' class='form-control ivar ivar-number-of-members' id='number_of_members' name='number_of_members' type='text' /></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-archetypes'><label for='archetypes'>Archetype/s</label></div><div class='ivar od ivar-archetypes'><input value='{{variables.archetypes|default}}' class='form-control ivar ivar-archetypes' id='archetypes' name='archetypes' type='text' /></div>
          </div>
          <div class='col-12 col-md-4'>
            <div class='ilbl od ilbl-cm-leader'><label for='cm_leader'>Cthulhu Mythos: Leader</label></div><div class='ivar od ivar-cm-leader'><input value='{{variables.cm_leader|default}}' class='form-control ivar ivar-cm-leader' id='cm_leader' name='cm_leader' type='text' /></div>
          </div>
          <div class='col-12 col-md-4'>
            <div class='ilbl od ilbl-cm-members'><label for='cm_members'>Cthulhu Mythos: Members</label></div><div class='ivar od ivar-cm-members'><input value='{{variables.cm_members|default}}' class='form-control ivar ivar-cm-members' id='cm_members' name='cm_members' type='text' /></div>
          </div>
          <div class='col-12 col-md-4'>
            <div class='ilbl od ilbl-sl-members'><label for='sl_members'>Sanity Level of Members</label></div><div class='ivar od ivar-sl-members'><input value='{{variables.sl_members|default}}' class='form-control ivar ivar-sl-members' id='sl_members' name='sl_members' type='text' /></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-initiation'><label for='initiation'>Initiation</label></div><div class='ivar od ivar-initiation'><div class='iContent'><textarea class='form-control ivar ivar-initiation ' id='initiation' name='initiation' rows='3'  >{{variables.initiation|default}}</textarea></div></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-other-locations'><label for='other_locations'>Other Locations</label></div><div class='ivar od ivar-other-locations'><div class='iContent'><textarea class='form-control ivar ivar-other-locations ' id='other_locations' name='other_locations' rows='3'  >{{variables.other_locations|default}}</textarea></div></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-resources'><label for='resources'>Resources</label></div><div class='ivar od ivar-resources'><div class='iContent'><textarea class='form-control ivar ivar-resources ' id='resources' name='resources' rows='3'  >{{variables.resources|default}}</textarea></div></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-tomes-etc'><label for='tomes_etc'>Tomes/Artifacts/Special</label></div><div class='ivar od ivar-tomes-etc'><div class='iContent'><textarea class='form-control ivar ivar-tomes-etc ' id='tomes_etc' name='tomes_etc' rows='3'  >{{variables.tomes_etc|default}}</textarea></div></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-security'><label for='security'>Security</label></div><div class='ivar od ivar-security'><div class='iContent'><textarea class='form-control ivar ivar-security ' id='security' name='security' rows='3'  >{{variables.security|default}}</textarea></div></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-associated-monsters'><label for='associated_monsters'>Associated Monsters</label></div><div class='ivar od ivar-associated-monsters'><div class='iContent'><textarea class='form-control ivar ivar-associated-monsters ' id='associated_monsters' name='associated_monsters' rows='3'  >{{variables.associated_monsters|default}}</textarea></div></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-key-dealings'><label for='key_dealings'>Key Dealings (Legal/Illegal)</label></div><div class='ivar od ivar-key-dealings'><div class='iContent'><textarea class='form-control ivar ivar-key-dealings ' id='key_dealings' name='key_dealings' rows='3'  >{{variables.key_dealings|default}}</textarea></div></div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='ilbl od ilbl-enemies-weaknesses'><label for='enemies_weaknesses'>Enemies/Weaknesses</label></div><div class='ivar od ivar-enemies-weaknesses'><div class='iContent'><textarea class='form-control ivar ivar-enemies-weaknesses ' id='enemies_weaknesses' name='enemies_weaknesses' rows='3'  >{{variables.enemies_weaknesses|default}}</textarea></div></div>
          </div>
        </div>
        <div class='row'>
          <div class='col-12'>
            <div class='ilbl od ilbl-description'><label for='description'>Notes</label></div><div class='ivar od ivar-description'><div class='iContent'><textarea class='form-control ivar ivar-description ' id='description' name='description' rows='3'  >{{variables.description|default}}</textarea></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>