<div class="container-fluid dnd35-sheet">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-header head-bar c">{{variables.name}} - CR: {{variables.challenge_rating ?? '?'}}</div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                    {% if variables.species is defined and variables.species != "" %}<tr><td class="lbl r">Species</td><td class="txt l">{{ variables.species}}</td></tr>{% endif %}
                    {% if variables.sub_species is defined and variables.sub_species != "" %}<tr><td class="lbl r">Subspecies</td><td class="txt l">{{ variables.sub_species}}</td></tr>{% endif %}
                    {% if variables.size is defined and variables.size != "" %}<tr><td class="lbl r">Size</td><td class="txt l">{{ variables.size}}</td></tr>{% endif %}
                    {% if variables.type is defined and variables.type != "" %}<tr><td class="lbl r">Type</td><td class="txt l">{{ variables.type}}</td></tr>{% endif %}
                    {% if variables.hit_dice is defined and variables.hit_dice != "" %}<tr><td class="lbl r">Hit Dice</td><td class="txt l">{{ variables.hit_dice}}</td></tr>{% endif %}
                    {% if variables.speed is defined and variables.speed != "" %}<tr><td class="lbl r">Speed</td><td class="txt l">{{ variables.speed}}</td></tr>{% endif %}
                    {% if variables.abilities is defined and variables.abilities != "" %}<tr><td class="lbl r">Abilities</td><td class="txt l">{{ variables.abilities}}</td></tr>{% endif %}
                    {% if variables.special_qualities is defined and variables.special_qualities != "" %}<tr><td class="lbl r">Special Qualities</td><td class="txt l">{{ variables.special_qualities}}</td></tr>{% endif %}
                    {% if variables.environment is defined and variables.environment != "" %}<tr><td class="lbl r">Environment</td><td class="txt l">{{ variables.environment}}</td></tr>{% endif %}
                    {% if variables.organization is defined and variables.organization != "" %}<tr><td class="lbl r">Organization</td><td class="txt l">{{ variables.organization}}</td></tr>{% endif %}
                    {% if variables.treasure is defined and variables.treasure != "" %}<tr><td class="lbl r">Treasure</td><td class="txt l">{{ variables.treasure}}</td></tr>{% endif %}
                    {% if variables.alignment is defined and variables.alignment != "" %}<tr><td class="lbl r">Alignment</td><td class="txt l">{{ variables.alignment}}</td></tr>{% endif %}
                    {% if variables.advancement is defined and variables.advancement != "" %}<tr><td class="lbl r">Advancement</td><td class="txt l">{{ variables.advancement}}</td></tr>{% endif %}
                    {% if variables.level_adjustment is defined and variables.level_adjustment != "" %}<tr><td class="lbl r">Level Adjustment</td><td class="txt l">{{ variables.level_adjustment}}</td></tr>{% endif %}
                    </table>
                </div>
            </div>
            {% if variables.skills is defined %}<div class="card my-2 of"><div class="card-body od">
            <table width="100%">
            <tr><th class="lbl c">Skills</th></tr>
            <tr><td class="txt">{{ variables.skills is defined ? variables.skills|nl2br }}</td></tr>
            </table></div></div>{% endif %}{% if variables.abilities is defined %}<div class="card my-2 of"><div class="card-body od">
            <table width="100%">
            <tr><th class="lbl c">Feats</th></tr>
            <tr><td class="txt">{{ variables.feats is defined ? variables.feats|nl2br }}</td></tr>
            </table></div></div>{% endif %}
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width=100%>
                    <tr><th class="lbl c" colspan=2>Combat</th></tr>
                    {% if variables.initiative is defined and variables.initiative != "" %}<tr><td class="lbl r">Initiative</td><td class="txt l">{{ variables.initiative}}</td></tr>{% endif %}
                    {% if variables.armor_class is defined and variables.armor_class != "" %}<tr><td class="lbl r">Armor Class (AC)</td><td class="txt l">{{ variables.armor_class}}</td></tr>{% endif %}
                    {% if variables.base_attack is defined and variables.base_attack != "" %}<tr><td class="lbl r">Base Attack</td><td class="txt l">{{ variables.base_attack}}</td></tr>{% endif %}
                    {% if variables.attack is defined and variables.attack != "" %}<tr><td class="lbl r">Attack</td><td class="txt l">{{ variables.attack}}</td></tr>{% endif %}
                    {% if variables.full_attack is defined and variables.full_attack != "" %}<tr><td class="lbl r">Full Attack</td><td class="txt l">{{ variables.full_attack}}</td></tr>{% endif %}
                    {% if variables.space_reach is defined and variables.space_reach != "" %}<tr><td class="lbl r">Space/Reach</td><td class="txt l">{{ variables.space_reach}}</td></tr>{% endif %}
                    {% if variables.special_attacks is defined and variables.special_attacks != "" %}<tr><td class="lbl r">Special Attacks</td><td class="txt l">{{ variables.special_attacks}}</td></tr>{% endif %}
                    {% if variables.saves is defined and variables.saves != "" %}<tr><td class="lbl r">Saves</td><td class="txt l">{{ variables.saves}}</td></tr>{% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            {% if variables.imageid is defined and variables.imageid != '' %}<div class="card my-2 of">
                <div class="card-body od">
                    [img:{{variables.imageid}}]
                </div>
            </div>{% endif %}
            {% if variables.description is defined %}<div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                        <tr><th class="lbl c">Description</th></tr>
                        <tr><td class="txt">{{ variables.description is defined ? variables.description|nl2br }}</td></tr>
                    </table>
                </div>
            </div>{% endif %}
        </div>
    </div>
</div>