<div class="container-fluid dnd35-sheet">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-header head-bar c"><input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control fw" id="name" name="name" placeholder="The name of the monster" type="text" /></div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                    <tr><td class="lbl r">Challenge Rating</td><td class="txt l"><input value="{{ variables.challenge_rating is defined ? variables.challenge_rating }}" class="form-control fw" id="challenge_rating" name="challenge_rating" placeholder="eg 5 (noble 8)" type="text" /></td></tr>
                    <tr><td class="lbl r">Species</td><td class="txt l"><input value="{{ variables.species is defined ? variables.species }}" class="form-control fw" id="species" name="species" placeholder="eg Genie" type="text" /></td></tr>
                    <tr><td class="lbl r">Subspecies</td><td class="txt l"><input value="{{ variables.sub_species is defined ? variables.sub_species }}" class="form-control fw" id="sub_species" name="sub_species" placeholder="eg Djinn, Efreet, Jann" type="text" /></td></tr>
                    <tr><td class="lbl r">Size</td><td class="txt l"><input value="{{ variables.size is defined ? variables.size }}" class="form-control fw" id="size" name="size" placeholder="eg tiny, small, normal, huge" type="text" /></td></tr>
                    <tr><td class="lbl r">Type</td><td class="txt l"><input value="{{ variables.type is defined ? variables.type }}" class="form-control fw" id="type" name="type" placeholder="eg outsider (extraplanar)" type="text" /></td></tr>
                    <tr><td class="lbl r">Hit Dice</td><td class="txt l"><input value="{{ variables.hit_dice is defined ? variables.hit_dice }}" class="form-control fw" id="hit_dice" name="hit_dice" placeholder="eg 7d8+14 (45 hp)" type="text" /></td></tr>
                    <tr><td class="lbl r">Speed</td><td class="txt l"><input value="{{ variables.speed is defined ? variables.speed }}" class="form-control fw" id="speed" name="speed" placeholder="eg 20 ft., fly 60 ft." type="text" /></td></tr>
                    <tr><td class="lbl r">Abilities</td><td class="txt l"><input value="{{ variables.abilities is defined ? variables.abilities }}" class="form-control fw" id="abilities" name="abilities" placeholder="eg Str 18, Dex 19, Con 14, Int 14, Wis 15, Cha 15" type="text" /></td></tr>
                    <tr><td class="lbl r">Special Qualities</td><td class="txt l"><input value="{{ variables.special_qualities is defined ? variables.special_qualities }}" class="form-control fw" id="special_qualities" name="special_qualities" placeholder="eg darkvision 60 ft." type="text" /></td></tr>
                    <tr><td class="lbl r">Environment</td><td class="txt l"><input value="{{ variables.environment is defined ? variables.environment }}" class="form-control fw" id="environment" name="environment" placeholder="eg Elemental Plane of Air" type="text" /></td></tr>
                    <tr><td class="lbl r">Organization</td><td class="txt l"><input value="{{ variables.organization is defined ? variables.organization }}" class="form-control fw" id="organization" name="organization" placeholder="eg solitary, company (2-4), or band (6-15)" type="text" /></td></tr>
                    <tr><td class="lbl r">Treasure</td><td class="txt l"><input value="{{ variables.treasure is defined ? variables.treasure }}" class="form-control fw" id="treasure" name="treasure" placeholder="eg standard" type="text" /></td></tr>
                    <tr><td class="lbl r">Alignment</td><td class="txt l"><input value="{{ variables.alignment is defined ? variables.alignment }}" class="form-control fw" id="alignment" name="alignment" placeholder="eg always chaotic good" type="text" /></td></tr>
                    <tr><td class="lbl r">Advancement</td><td class="txt l"><input value="{{ variables.advancement is defined ? variables.advancement }}" class="form-control fw" id="advancement" name="advancement" placeholder="eg 8-10 HD (Large); 11-21 (Huge)" type="text" /></td></tr>
                    <tr><td class="lbl r">Level Adjustment</td><td class="txt l"><input value="{{ variables.level_adjustment is defined ? variables.level_adjustment }}" class="form-control fw" id="level_adjustment" name="level_adjustment" placeholder="eg +6" type="text" /></td></tr>
                    </table>
                </div>
            </div>
            <div class="card my-2 of"><div class="card-body od">
            <table width="100%">
            <tr><th class="lbl c">Skills</th></tr>
            <tr><td class="txt"><textarea class="form-control fw" id="skills" name="skills" rows="5" placeholder="eg Appraise +12, Concentration +12">{{ variables.skills is defined ? variables.skills }}</textarea></td></tr>
            </table></div></div><div class="card my-2 of"><div class="card-body od">
            <table width="100%">
            <tr><th class="lbl c">Feats</th></tr>
            <tr><td class="txt"><textarea class="form-control fw" id="feats" name="feats" rows="5" placeholder="eg Combat Casting, Combat Reflexes, Dodge, Improved Initiative">{{ variables.feats is defined ? variables.feats }}</textarea></td></tr>
            </table></div></div>
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width=100%>
                    <tr><th class="lbl c" colspan=2>Combat</th></tr>
                    <tr><td class="lbl r">Initiative</td><td class="txt l"><input value="{{ variables.initiative is defined ? variables.initiative }}" class="form-control fw" id="initiative" name="initiative" placeholder="eg +8" type="text" /></td></tr>
                    <tr><td class="lbl r">Armor Class (AC)</td><td class="txt l"><input value="{{ variables.armor_class is defined ? variables.armor_class }}" class="form-control fw" id="armor_class" name="armor_class" placeholder=" eg 16, touch 13, flat-footed 12" type="text" /></td></tr>
                    <tr><td class="lbl r">Base Attack</td><td class="txt l"><input value="{{ variables.base_attack is defined ? variables.base_attack }}" class="form-control fw" id="base_attack" name="base_attack" placeholder="eg +7/+15" type="text" /></td></tr>
                    <tr><td class="lbl r">Attack</td><td class="txt l"><input value="{{ variables.attack is defined ? variables.attack }}" class="form-control fw" id="attack" name="attack" placeholder="eg slam +10 melee (1d8+4)" type="text" /></td></tr>
                    <tr><td class="lbl r">Full Attack</td><td class="txt l"><input value="{{ variables.full_attack is defined ? variables.full_attack }}" class="form-control fw" id="full_attack" name="full_attack" placeholder="eg 2 slams +10 melee (1d8+4)" type="text" /></td></tr>
                    <tr><td class="lbl r">Space/Reach</td><td class="txt l"><input value="{{ variables.space_reach is defined ? variables.space_reach }}" class="form-control fw" id="space_reach" name="space_reach" placeholder="10 ft./10 ft." type="text" /></td></tr>
                    <tr><td class="lbl r">Special Attacks</td><td class="txt l"><input value="{{ variables.special_attacks is defined ? variables.special_attacks }}" class="form-control fw" id="special_attacks" name="special_attacks" placeholder="eg air mastery, spell-like abilities, whirlwind" type="text" /></td></tr>
                    <tr><td class="lbl r">Saves</td><td class="txt l"><input value="{{ variables.saves is defined ? variables.saves }}" class="form-control fw" id="saves" name="saves" placeholder="eg Fort +7, Ref +9, Will +7" type="text" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od">
                World Anvil ImageID: <input value="{{ variables.imageid is defined ? variables.imageid }}" class="form-control fw" id="imageid" name="imageid" placeholder="" type="number" />
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                    <tr><th class="lbl c">Description</th></tr>
                    <tr><td class="txt"><textarea class="form-control fw" id="description" name="description" rows="10" placeholder="">{{ variables.description is defined ? variables.description }}</textarea></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>