<div class="full-sheet">
    <!-- Header -->
    <div class="row top-row" id="dnd5e-top-content">
        <div class="col-md-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Character Name</label>
                    <input class="form-control" type="text" value="{{ variables.name is defined ? variables.name }}" name="name" required="required" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="class">Class</label>
                        <input class="form-control" type="text" value="{{ variables.class is defined ? variables.class }}" name="class" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="level">Level</label>
                        <input class="form-control" type="text" value="{{ variables.level is defined ? variables.level }}" name="level" />
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="background">Background</label>
                <input class="form-control" type="text" value="{{ variables.background is defined ? variables.background }}" name="background" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="race">Race</label>
                <input class="form-control" type="text" value="{{ variables.race is defined ? variables.race }}" name="race" />
            </div>      
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="alignment">Alignment</label>
                <input class="form-control" type="text" value="{{ variables.alignment is defined ? variables.alignment }}" name="alignment" />
            </div>  
        </div>
    </div>
    <hr>
    <!-- Main Content -->
    <div class="row main-content-row" id="dnd5e-main-content">
        <!-- Attributes -->
        <div class="col-md-2" id="dnd5e-firsts-column">
            <!-- Proficiency Bonus -->
            <div class="dnd-sheet-container profbonus">
                <div class="form-group">
                    <label for="proficiency_bonus">Proficiency Bonus</label>
                    <input class="form-control" type="number" value="{{ variables.proficiency_bonus is defined ? variables.proficiency_bonus }}" name="proficiency_bonus" />
                </div>              
            </div>
            <div class="mainstats">
                <div class="dnd-sheet-box">
                    <div class="form-group">
                        <label for="strength">Strength</label>
                        <input class="form-control" type="number" value="{{ variables.strength is defined ? variables.strength }}" name="strength" />
                    </div>
                </div>
                <div class="dnd-sheet-box">
                    <div class="form-group">
                        <label for="dexterity">Dexterity</label>
                        <input class="form-control" type="number" value="{{ variables.dexterity is defined ? variables.dexterity }}" name="dexterity" />
                    </div>
                </div>
                <div class="dnd-sheet-box">
                    <div class="form-group">
                        <label for="constitution">Constitution</label>
                        <input class="form-control" type="number" value="{{ variables.constitution is defined ? variables.constitution }}" name="constitution" />
                    </div>
                </div>
                <div class="dnd-sheet-box">
                    <div class="form-group">
                        <label for="intelligence">Intelligence</label>
                        <input class="form-control" type="number" value="{{ variables.intelligence is defined ? variables.intelligence }}" name="intelligence" />
                    </div>
                </div>
                <div class="dnd-sheet-box">
                    <div class="form-group">
                        <label for="wisdom">Wisdom</label>
                        <input class="form-control" type="number" value="{{ variables.wisdom is defined ? variables.wisdom }}" name="wisdom" />
                    </div> 
                </div>
                <div class="dnd-sheet-box">
                    <div class="form-group">
                        <label for="charisma">Charisma</label>
                        <input class="form-control" type="number" value="{{ variables.charisma is defined ? variables.charisma }}" name="charisma" />
                    </div> 
                </div>
            </div>

            <div class="dnd-sheet-container">
                <label>Saving Throws</label> 
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="str_save">STR Save</label>
                            <input class="form-control" type="number" value="{{ variables.str_save is defined ? variables.str_save }}" name="str_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="dex_save">DEX Save</label>
                            <input class="form-control" type="number" value="{{ variables.dex_save is defined ? variables.dex_save }}" name="dex_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="con_save">CON Save</label>
                            <input class="form-control" type="number" value="{{ variables.con_save is defined ? variables.con_save }}" name="con_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="int_save">INT Save</label>
                            <input class="form-control" type="number" value="{{ variables.int_save is defined ? variables.int_save }}" name="int_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="wis_save">WIS Save</label>
                            <input class="form-control" type="number" value="{{ variables.wis_save is defined ? variables.wis_save }}" name="wis_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="cha_save">CHA Save</label>
                            <input class="form-control" type="number" value="{{ variables.cha_save is defined ? variables.cha_save }}" name="cha_save" />
                        </div>  
                    </div>
            </div>
        </div>
        <!-- AC HP INIT SPEED + Technicals -->
        <div class="col-md-3" id="dnd5e-second-column">
            <div class="dnd-sheet-container profbonus">
                <div class="form-group">
                    <label for="hit_die">Hit Die Type</label>
                    <input class="form-control" type="number" value="{{ variables.hit_die is defined ? variables.hit_die }}" name="hit_die" />
                    <p class="dnd5e-sheet-description m-t-10 mt-1">e.g. 8 for a d8</p>
                </div>              
            </div>
            <div class="dnd-sheet-container profbonus">
                <div class="form-group">
                    <label for="total_hit_dice">Hit Dice</label>
                    <input class="form-control" type="number" value="{{ variables.total_hit_dice is defined ? variables.total_hit_dice }}" name="total_hit_dice" />
                </div>              
            </div>
           <!-- Skills -->
            <div class="skillslist">
                <div class="dnd-sheet-container">
                    <p class="dnd5e-sheet-description m-t-10 mt-1">Fill in the total of your score (Attribute + proficiency + bonuses)</p>

                    <div class="form-group">
                        <label for="acrobatics">Acrobatics (DEX)</label>
                        <input class="form-control" type="number" value="{{ variables.acrobatics is defined ? variables.acrobatics }}" name="acrobatics" />
                    </div>  
                    <div class="form-group">
                        <label for="animal_handling">Animal Handling (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.animal_handling is defined ? variables.animal_handling }}" name="animal_handling" />
                    </div>  
                    <div class="form-group">
                        <label for="arcana">Arcana (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.arcana is defined ? variables.arcana }}" name="arcana" />
                    </div>  
                    <div class="form-group">
                        <label for="athletics">Athletics (STR)</label>
                        <input class="form-control" type="number" value="{{ variables.athletics is defined ? variables.athletics }}" name="athletics" />
                    </div>  
                    <div class="form-group">
                        <label for="deception">Deception (CHA)</label>
                        <input class="form-control" type="number" value="{{ variables.deception is defined ? variables.deception }}" name="deception" />
                    </div>  
                    <div class="form-group">
                        <label for="history">History (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.history is defined ? variables.history }}" name="history" />
                    </div>  
                    <div class="form-group">
                        <label for="insight">Insight (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.insight is defined ? variables.insight }}" name="insight" />
                    </div>  
                    <div class="form-group">
                        <label for="intimidation">Intimidation (CHA)</label>
                        <input class="form-control" type="number" value="{{ variables.intimidation is defined ? variables.intimidation }}" name="intimidation" />
                    </div>  
                    <div class="form-group">
                        <label for="investigation">Investigation (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.investigation is defined ? variables.investigation }}" name="investigation" />
                    </div>  
                    <div class="form-group">
                        <label for="medicine">Medicine (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.medicine is defined ? variables.medicine }}" name="medicine" />
                    </div>  
                    <div class="form-group">
                        <label for="nature">Nature (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.nature is defined ? variables.nature }}" name="nature" />
                    </div>  
                    <div class="form-group">
                        <label for="perception">Perception (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.perception is defined ? variables.perception }}" name="perception" />
                    </div>  
                    <div class="form-group">
                        <label for="performance">Performance (CHA)</label>
                        <input class="form-control" type="number" value="{{ variables.performance is defined ? variables.performance }}" name="performance" />
                    </div>  
                    <div class="form-group">
                        <label for="persuasion">Persuasion (CHA)</label>
                        <input class="form-control" type="number" value="{{ variables.persuasion is defined ? variables.persuasion }}" name="persuasion" />
                    </div>  
                    <div class="form-group">
                        <label for="religion">Religion (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.religion is defined ? variables.religion }}" name="religion" />
                    </div>  
                    <div class="form-group">
                        <label for="sleight_of_hands">Sleight of Hand (DEX)</label>
                        <input class="form-control" type="number" value="{{ variables.sleight_of_hands is defined ? variables.sleight_of_hands }}" name="sleight_of_hands" />
                    </div>  
                    <div class="form-group">
                        <label for="stealth">Stealth (DEX)</label>
                        <input class="form-control" type="number" value="{{ variables.stealth is defined ? variables.stealth }}" name="stealth" />
                    </div>  
                    <div class="form-group">
                        <label for="survival">Survival (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.survival is defined ? variables.survival }}" name="survival" />
                    </div>
                    <hr>

                    <div class="form-group">
                        <label for="proficiencies">Proficiencies</label>
                        <textarea name="proficiencies" class="form-control" placeholder="" rows="3" >{{ variables.proficiencies is defined ? variables.proficiencies }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7" id="dnd5e-third-column">
            <div class="row">
                <div class="col-md-12">
                    <div class="ac-hp-init-speed">
                        <div class="row">
                            <!-- AC HP -->
                            <div class="col-md-3">
                                <div class="">
                                    <div class="form-group">
                                        <label for="armor_class">AC</label>
                                        <input class="form-control" type="number" value="{{ variables.armor_class is defined ? variables.armor_class }}" name="armor_class" />
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    <div class="form-group">
                                        <label for="hit_points">HP</label>
                                        <input class="form-control" type="number" value="{{ variables.hit_points is defined ? variables.hit_points }}" name="hit_points" />
                                    </div>  
                                </div>
                            </div>
                            <!-- INIT SPEED -->
                            <div class="col-md-3">
                                <div class="">
                                    <div class="form-group">
                                        <label for="initiative">Initiative</label>
                                        <input class="form-control" type="number" value="{{ variables.initiative is defined ? variables.initiative }}" name="initiative" />
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    <div class="form-group">
                                        <label for="speed">Speed</label>
                                        <input class="form-control" type="text" value="{{ variables.speed is defined ? variables.speed }}" name="speed" />
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <!-- Technicals -->
                <div class="col-md-12">
                    <!-- Proficiences -->
                    <div class="dnd-sheet-container">
                        <div class="form-group">
                            <label for="proficiences_and_languages">Proficiencies</label>
                                <textarea  name="proficiences_and_languages" class="form-control" placeholder="" rows="3">{{ variables.proficiences_and_languages is defined ? variables.proficiences_and_languages }}</textarea>
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Attacks -->
                    <div class="dnd-sheet-container">
                        <div class="form-group">
                            <label for="attacks">Attacks</label>
                                <textarea  name="attacks" class="form-control" placeholder="" rows="3">{{ variables.attacks is defined ? variables.attacks }}</textarea>
                                <p class="dnd5e-sheet-description m-t-10 mt-1">
                                    This entry is using the table format. The first line will be the header of your table. example: <br>
                                    Weapon | Attack | Damage <br>
                                    Longsword | [roll:1d20+2] | [roll:1d8+2]
                                </p>

                        </div>                  
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Spellcasting -->
                    <div class="dnd-sheet-container">
                        <div class="form-group">
                            <label for="spellcasting">Spellcasting</label>
                                <textarea  name="spellcasting" class="form-control" placeholder="" rows="3">{{ variables.spellcasting is defined ? variables.spellcasting }}</textarea>
                        </div>                  
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Equipment -->
                    <div class="dnd-sheet-container">
                        <div class="form-group">
                            <label for="equipment">Equipment</label>
                                <textarea name="equipment" class="form-control" placeholder="" rows="3">{{ variables.equipment is defined ? variables.equipment }}</textarea>
                        </div>                      
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Personality Traits -->
                    <div class="dnd-sheet-container">
                        <div class="form-group">
                            <label for="personality_trait">Personality Traits</label>
                                <textarea  name="personality_trait" class="form-control" placeholder="" rows="3">{{ variables.personality_trait is defined ? variables.personality_trait }}</textarea>
                        </div>      
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Ideals -->
                    <div class="dnd-sheet-container">
                        <div class="form-group">
                            <label for="ideal">Ideals</label>
                                <textarea  name="ideal" class="form-control" placeholder="" rows="3">{{ variables.ideal is defined ? variables.ideal }}</textarea>
                        </div>          
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Bonds -->
                    <div class="dnd-sheet-container">
                        <div class="form-group">
                            <label for="bond">Bonds</label>
                                <textarea  name="bond" class="form-control" placeholder="" rows="3">{{ variables.bond is defined ? variables.bond }}</textarea>
                        </div>      
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Flaws -->
                    <div class="dnd-sheet-container">
                        <div class="form-group">
                            <label for="flaw">Flaws</label>
                                <textarea  name="flaw" class="form-control" placeholder="" rows="3">{{ variables.flaw is defined ? variables.flaw }}</textarea>
                        </div>      
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Features & Traits -->
                    <div class="dnd-sheet-container">
                        <div class="form-group">
                            <label for="features_and_traits">Features and Traits</label>
                                <textarea  name="features_and_traits" class="form-control" placeholder="" rows="3">{{ variables.features_and_traits is defined ? variables.features_and_traits }}</textarea>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row footer-row" id="dnd5e-footer">
        <div class="col-md-12">
            <label for="">Spell Slots per Spell level</label>
        </div>
        <div class="col-md-2">
            <input placeholder="1-Level" class="form-control" type="text" value="{{ variables.total_spell_slots_1 is defined ? variables.total_spell_slots_1 }}" name="total_spell_slots_1" />
        </div>
        <div class="col-md-2">
            <input placeholder="2-Level" class="form-control" type="text" value="{{ variables.total_spell_slots_2 is defined ? variables.total_spell_slots_2 }}" name="total_spell_slots_2" />
        </div>
        <div class="col-md-2">
            <input placeholder="3-Level" class="form-control" type="text" value="{{ variables.total_spell_slots_3 is defined ? variables.total_spell_slots_3 }}" name="total_spell_slots_3" />
        </div>
        <div class="col-md-2">
            <input placeholder="4-Level" class="form-control" type="text" value="{{ variables.total_spell_slots_4 is defined ? variables.total_spell_slots_4 }}" name="total_spell_slots_4" />
        </div>
        <div class="col-md-2">
            <input placeholder="5-Level" class="form-control" type="text" value="{{ variables.total_spell_slots_5 is defined ? variables.total_spell_slots_5 }}" name="total_spell_slots_5" />
        </div>
        <div class="col-md-2">
            <input placeholder="6-Level" class="form-control" type="text" value="{{ variables.total_spell_slots_6 is defined ? variables.total_spell_slots_6 }}" name="total_spell_slots_6" />
        </div>
        <div class="col-md-2">
            <input placeholder="7-Level" class="form-control" type="text" value="{{ variables.total_spell_slots_7 is defined ? variables.total_spell_slots_7 }}" name="total_spell_slots_7" />
        </div>
        <div class="col-md-2">
            <input placeholder="8-Level" class="form-control" type="text" value="{{ variables.total_spell_slots_8 is defined ? variables.total_spell_slots_8 }}" name="total_spell_slots_8" />
        </div>
        <div class="col-md-2">
            <input placeholder="9-Level" class="form-control" type="text" value="{{ variables.total_spell_slots_9 is defined ? variables.total_spell_slots_9 }}" name="total_spell_slots_9" />
        </div>
    </div>
    <hr>
    <div class="row collections-row" id="dnd5e-collections">
        <div class="col-md-12">
            <h1>Collections <small class="text-muted">Attached sheets</small></h1>
            <p class="dnd5e-sheet-description m-t-10 mt-1">
                Collections allow you to attach to your character sheet additional sheets like magical items, your spells, your companions, assets etc. 
                <br>
                To add the sheets to your character sheet just add the IDs of the sheets you want on each collection, separated by commas "," 
                <br>
                <strong>For example adding 51,52,123</strong> to the Arms and equipment collection will make those items accessible under the Arms and equipment tab of your sheet!
            </p>

            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="arms_and_equipment">Arms & Equipment</label>
                    <textarea placeholder="81,112,120" name="arms_and_equipment" class="form-control" placeholder="" rows="2">{{ variables.arms_and_equipment is defined ? variables.arms_and_equipment }}</textarea>
                    <p class="dnd5e-sheet-description m-t-10 mt-1">
                        <a target="_blank" href="{{ path('rpg_system',{'reference':'dnd5e'}) }}?template=18">Open the DnD 5e List of Items</a> or <a target="_blank" href="{{ path('heroes_sheet_list')}}">create a new statblock</a></a>
                    </p>
                </div>          
            </div>
            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="class_features">Class Features</label>
                    <textarea placeholder="2016,8415" name="class_features" class="form-control" placeholder="" rows="2">{{ variables.class_features is defined ? variables.class_features }}</textarea>
                    <p class="dnd5e-sheet-description m-t-10 mt-1">
                        <a target="_blank" href="{{ path('rpg_system',{'reference':'dnd5e'}) }}?template=25">Open the DnD 5e List of Class Features</a> or <a target="_blank" href="{{ path('heroes_sheet_list')}}">create a new statblock</a></a>
                    </p>
                </div>          
            </div>
            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="creatures_and_mounts">Creatures & Mounts</label>
                    <textarea placeholder="196,199" name="creatures_and_mounts" class="form-control" placeholder="" rows="2">{{ variables.creatures_and_mounts is defined ? variables.creatures_and_mounts }}</textarea>
                    <p class="dnd5e-sheet-description m-t-10 mt-1">
                        <a target="_blank" href="{{ path('rpg_system',{'reference':'dnd5e'}) }}?template=21">Open the DnD 5e List of Monsters</a> or <a target="_blank" href="{{ path('heroes_sheet_list')}}">create a new statblock</a></a>
                    </p>
                </div>          
            </div>
            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="possessions_and_property">Possessions & Property</label>
                    <textarea placeholder="18431,19683" name="possessions_and_property" class="form-control" placeholder="" rows="2">{{ variables.possessions_and_property is defined ? variables.possessions_and_property }}</textarea>
                    <p class="dnd5e-sheet-description m-t-10 mt-1">
                        <a target="_blank" href="{{ path('rpg_system',{'reference':'dnd5e'}) }}?template=18">Open the DnD 5e List of Items</a> or <a target="_blank" href="{{ path('heroes_sheet_list')}}">create a new statblock</a></a>
                    </p>
                </div>          
            </div>
            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="racestatblock">Race</label>
                    <textarea name="racestatblock" class="form-control" placeholder="" rows="2">{{ variables.racestatblock is defined ? variables.racestatblock }}</textarea>
                    <p class="dnd5e-sheet-description m-t-10 mt-1">
                        <a target="_blank" href="{{ path('rpg_system',{'reference':'dnd5e'}) }}?template=23">Open the DnD 5e List of Races</a> or <a target="_blank" href="{{ path('heroes_sheet_list')}}">create a new statblock</a></a>
                    </p>
                </div>          
            </div>
            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="retinue">Allies, Companions & Retinue</label>
                    <textarea name="retinue" class="form-control" placeholder="" rows="2">{{ variables.retinue is defined ? variables.retinue }}</textarea>
                    <p class="dnd5e-sheet-description m-t-10 mt-1">
                        <a target="_blank" href="{{ path('rpg_system',{'reference':'dnd5e'}) }}?template=21">Open the DnD 5e List of Monsters</a> or <a target="_blank" href="{{ path('heroes_sheet_list')}}">create a new statblock</a></a>
                    </p>
                </div>          
            </div>
            <h2>Your Spellbook <small class="text-muted">(Known spells)</small></h2>
            <p class="dnd5e-sheet-description m-t-10 mt-1">
                Add the IDs of the spells you want on the appropriate section of your spellbook. <br>
                <a target="_blank" href="{{ path('rpg_system',{'reference':'dnd5e'}) }}?template=20">Open the DnD 5e List of Spells</a> and copy the IDs you want, or <a target="_blank" href="{{ path('heroes_sheet_list')}}">create a new statblock</a>
            </p>
            <div class="dnd-sheet-container">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <input placeholder="0-Level" class="form-control" type="text" value="{{ variables.spellbook_0_level_spells is defined ? variables.spellbook_0_level_spells }}" name="spellbook_0_level_spells" />    
                    </div>
                    <div class="col-md-4 mb-3">
                        <input placeholder="1-Level" class="form-control" type="text" value="{{ variables.spellbook_1_level_spells is defined ? variables.spellbook_1_level_spells }}" name="spellbook_1_level_spells" /> 
                    </div>
                    <div class="col-md-4 mb-3">
                        <input placeholder="2-level" class="form-control" type="text" value="{{ variables.spellbook_2_level_spells is defined ? variables.spellbook_2_level_spells }}" name="spellbook_2_level_spells" /> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <input placeholder="3-Level" class="form-control" type="text" value="{{ variables.spellbook_3_level_spells is defined ? variables.spellbook_3_level_spells }}" name="spellbook_3_level_spells" />    
                    </div>
                    <div class="col-md-4 mb-3">
                        <input placeholder="4-Level" class="form-control" type="text" value="{{ variables.spellbook_4_level_spells is defined ? variables.spellbook_4_level_spells }}" name="spellbook_4_level_spells" /> 
                    </div>
                    <div class="col-md-4 mb-3">
                        <input placeholder="5-level" class="form-control" type="text" value="{{ variables.spellbook_5_level_spells is defined ? variables.spellbook_5_level_spells }}" name="spellbook_5_level_spells" /> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <input placeholder="6-Level" class="form-control" type="text" value="{{ variables.spellbook_6_level_spells is defined ? variables.spellbook_6_level_spells }}" name="spellbook_6_level_spells" />    
                    </div>
                    <div class="col-md-4 mb-3">
                        <input placeholder="7-Level" class="form-control" type="text" value="{{ variables.spellbook_7_level_spells is defined ? variables.spellbook_7_level_spells }}" name="spellbook_7_level_spells" /> 
                    </div>
                    <div class="col-md-4 mb-3">
                        <input placeholder="8-level" class="form-control" type="text" value="{{ variables.spellbook_8_level_spells is defined ? variables.spellbook_8_level_spells }}" name="spellbook_8_level_spells" /> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3 offset-md-4">
                        <input placeholder="9-Level" class="form-control" type="text" value="{{ variables.spellbook_9_level_spells is defined ? variables.spellbook_9_level_spells }}" name="spellbook_9_level_spells" />    
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 
    Values that are stored and tracked but not visible on the sheet. 
    These are mostly used for the tracking sheet which tracks temporary changes on the character during the session.
-->
<input type="hidden" value="{{ variables.hit_points_current is defined ? variables.hit_points_current }}" name="hit_points_current" />

<input type="hidden" value="{{ variables.temporary_hit_points is defined ? variables.temporary_hit_points }}" name="temporary_hit_points" />
<input type="hidden" value="{{ variables.hit_dice_used is defined ? variables.hit_dice_used }}" name="hit_dice_used" />
<input type="hidden" value="{{ variables.xp is defined ? variables.xp }}" name="xp" />
<input type="hidden" value="{{ variables.inspiration is defined ? variables.inspiration }}" name="inspiration" />
<input type="hidden" value="{{ variables.temporary_hit_points_current is defined ? variables.temporary_hit_points_current }}" name="temporary_hit_points_current" />
<input type="hidden" value="{{ variables.conditions is defined ? variables.conditions }}" name="conditions" />
<input type="hidden" value="{{ variables.class_resource_remaining is defined ? variables.class_resource_remaining }}" name="class_resource_remaining" />
<input type="hidden" value="{{ variables.available_1st_level_spellslots is defined ? variables.available_1st_level_spellslots }}" name="available_1st_level_spellslots" />
<input type="hidden" value="{{ variables.available_2nd_level_spellslots is defined ? variables.available_2nd_level_spellslots }}" name="available_2nd_level_spellslots" />
<input type="hidden" value="{{ variables.available_3rd_level_spellslots is defined ? variables.available_3rd_level_spellslots }}" name="available_3rd_level_spellslots" />
<input type="hidden" value="{{ variables.available_4th_level_spellslots is defined ? variables.available_4th_level_spellslots }}" name="available_4th_level_spellslots" />
<input type="hidden" value="{{ variables.available_5th_level_spellslots is defined ? variables.available_5th_level_spellslots }}" name="available_5th_level_spellslots" />
<input type="hidden" value="{{ variables.available_6th_level_spellslots is defined ? variables.available_6th_level_spellslots }}" name="available_6th_level_spellslots" />
<input type="hidden" value="{{ variables.available_7th_level_spellslots is defined ? variables.available_7th_level_spellslots }}" name="available_7th_level_spellslots" />
<input type="hidden" value="{{ variables.available_8th_level_spellslots is defined ? variables.available_8th_level_spellslots }}" name="available_8th_level_spellslots" />
<input type="hidden" value="{{ variables.available_9th_level_spellslots is defined ? variables.available_9th_level_spellslots }}" name="available_9th_level_spellslots" />