{% macro addSign( attr ) %}
	    {% import _self as macros %}
		{% if attr > 0 %} {% set result = '+' ~ attr %} {% elseif attr == '' or attr == 0 %} {% set result = '+0' %}{% else %} {% set result =  attr %} {% endif %}
		[roll:1d20{{ result }}|{{ result }}]
	{% endmacro %}
{% macro attrModifier( attr, dice = '20', show = false ) %}
    {% import _self as macros %}
    {% if attr == 1 %} {% set mod = '-5' %} 
    {% elseif attr == 2 %} {% set mod = '-4' %}
    {% elseif attr == 3 %} {% set mod = '-4' %}
    {% elseif attr == 4 %} {% set mod = '-3' %}
    {% elseif attr == 5 %} {% set mod = '-3' %}
    {% elseif attr == 6 %} {% set mod = '-2' %}
    {% elseif attr == 7 %} {% set mod = '-2' %}
    {% elseif attr == 8 %} {% set mod = '-1' %}
    {% elseif attr == 9 %} {% set mod = '-1' %}
    {% elseif attr == 10 %} {% set mod = '+0' %}
    {% elseif attr == 11 %} {% set mod = '+0' %}
    {% elseif attr == 12 %} {% set mod = '+1' %}
    {% elseif attr == 13 %} {% set mod = '+1' %}
    {% elseif attr == 14 %} {% set mod = '+2' %}
    {% elseif attr == 15 %} {% set mod = '+2' %}
    {% elseif attr == 16 %} {% set mod = '+3' %}
    {% elseif attr == 17 %} {% set mod = '+3' %}
    {% elseif attr == 18 %} {% set mod = '+4' %}
    {% elseif attr == 19 %} {% set mod = '+4' %}
    {% elseif attr == 20 %} {% set mod = '+5' %}
    {% elseif attr == 21 %} {% set mod = '+5' %}
    {% elseif attr == 22 %} {% set mod = '+6' %}
    {% elseif attr == 23 %} {% set mod = '+6' %}
    {% elseif attr == 24 %} {% set mod = '+7' %}
    {% elseif attr == 25 %} {% set mod = '+7' %}
    {% elseif attr == 26 %} {% set mod = '+8' %}
    {% elseif attr == 27 %} {% set mod = '+8' %}
    {% elseif attr == 28 %} {% set mod = '+9' %}
    {% elseif attr == 29 %} {% set mod = '+9' %}
    {% elseif attr == 30 %} {% set mod = '+10' %}
    {% endif %}
    {% if  mod is defined  %}
    	{% if show == false %}
        	[roll:1d{{dice}}{{ mod }}|{{ mod }}] 
    	{% else %}
			[roll:1d{{dice}}{{ mod }}|1d{{dice}}{{mod}}] 
    	{% endif %}
    {% else %}   
        [roll:1d20}|0]
    {% endif %}
{% endmacro %}
{% import _self as macros %}
<div class="dnd5e-sheet">
	{# Top Row #}
	<div class="row">
		{# Top Row left side #}
		<div class="col-md-5">
			<h1 class="dnd5e-sheet-header">{{ variables.name }}</h1>
		</div>
		{# Top Row right side #}
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-3">
					<span class="inputContent">{{ variables.class }} {{ variables.level }}</span>
					<span class="inputLabel">Class & Level</span>
				</div>
				<div class="col-md-3 ">
					<span class="inputContent">{{ variables.background }}</span>
					<span class="inputLabel">Background</span>
				</div>
				<div class="col-md-3 ">
					<span class="inputContent">{{ variables.race }}</span>
					<span class="inputLabel">Race</span>
				</div>
				<div class="col-md-3 ">
					<span class="inputContent">{{ variables.alignment }}</span>
					<span class="inputLabel">Alignment</span>
				</div>
			</div>
		</div>
	</div>
	<hr class="hr-dark">
	{# Main Content #}
	<div class="row">
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-attribute">
								<span class="inputLabel">Strength</span>
								<strong>{{ variables.strength }}</strong>
								<div class="subContainer">
									{{ macros.attrModifier( variables.strength ) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-attribute">
								<span class="inputLabel">Dexterity</span>
								<strong>{{ variables.dexterity }}</strong>
								<div class="subContainer">
									{{ macros.attrModifier( variables.dexterity ) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-attribute">
								<span class="inputLabel">constitution</span>
								<strong>{{ variables.constitution }}</strong>
								<div class="subContainer">
									{{ macros.attrModifier( variables.constitution ) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-attribute">
								<span class="inputLabel">intelligence</span>
								<strong>{{ variables.intelligence }}</strong>
								<div class="subContainer">
									{{ macros.attrModifier( variables.intelligence ) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-attribute">
								<span class="inputLabel">wisdom</span>
								<strong>{{ variables.wisdom }}</strong>
								<div class="subContainer">
									{{ macros.attrModifier( variables.wisdom ) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-attribute">
								<span class="inputLabel">charisma</span>
								<strong>{{ variables.charisma }}</strong>
								<div class="subContainer">
									{{ macros.attrModifier( variables.charisma ) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-attribute">
								<span class="inputLabel">Total Hit Dice</span>
								<strong>{{ variables.total_hit_dice }}</strong><br>
								<span class="inputLabel">Hit Die</span>
								<div class="subContainer">
									<strong>{{ macros.attrModifier( variables.constitution, variables.hit_die, true ) }} </strong>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-side">
								<strong class="pull-left">{{ macros.addSign( variables.proficiency_bonus) }}</strong>
								<span class="inputLabel">proficiency bonus</span>
							</div>
						</div>
					</div>
					{% if variables.passivewisdom is defined %}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-side">
								<strong class="pull-left">{{ macros.addSign( variables.passivewisdom ) }}</strong>
								<span class="inputLabel">Passive perception</span>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								<table>
									<tr>
										<td class="">{{ macros.addSign( variables.str_save ) }}</td>
										<td>Strength</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.dex_save ) }}</td>
										<td>Dexterity</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.con_save ) }}</td>
										<td>Constitution</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.int_save ) }}</td>
										<td>Intelligence</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.wis_save ) }}</td>
										<td>Wisdom</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.cha_save ) }}</td>
										<td>Charisma</td>
									</tr>
								</table>
								<span class="inputLabel">saving throws</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								<table>
									<tr>
										<td class="">{{ macros.addSign( variables.acrobatics ) }}</td>
										<td>Acrobatics</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.animal_handling ) }}</td>
										<td>Animal Handling</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.arcana ) }}</td>
										<td>Arcana</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.athletics ) }}</td>
										<td>Athletics</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.deception ) }}</td>
										<td>Deception</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.history ) }}</td>
										<td>History</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.insight ) }}</td>
										<td>Insight</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.intimidation ) }}</td>
										<td>Intimidation</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.investigation ) }}</td>
										<td>Investigation</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.medicine ) }}</td>
										<td>Medicine</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.nature ) }}</td>
										<td>Nature</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.perception ) }}</td>
										<td>Perception</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.performance ) }}</td>
										<td>Performance</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.persuasion ) }}</td>
										<td>Persuasion</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.religion ) }}</td>
										<td>Religion</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.sleight_of_hands ) }}</td>
										<td>Sleight of Hands</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.stealth ) }}</td>
										<td>Stealth</td>
									</tr>
									<tr>
										<td class="">{{ macros.addSign( variables.survival ) }}</td>
										<td>Survival</td>
									</tr>
								</table>
								<span class="inputLabel">skills</span>
								{% if variables.proficiencies %}
									{{ variables.proficiencies }}
									<span class="inputLabel">proficiencies</span>
								{% endif %}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="contentContainer contentContainer-attribute">
						<strong>{{ variables.armor_class }}</strong><br>
						<span class="inputLabel">Armor Class</span>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="contentContainer contentContainer-attribute">
						<strong>{{ variables.hit_points }}</strong><br>
						<span class="inputLabel">Hit Points</span>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="contentContainer contentContainer-attribute">
						<strong>{{ macros.addSign( variables.initiative ) }}</strong><br>
						<span class="inputLabel">Initiative</span>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="contentContainer contentContainer-attribute">
						<strong>{{ variables.speed }}</strong><br>
						<span class="inputLabel">Speed</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="contentContainer contentContainer-standard">
						{{ variables.attacks|ParseTable|BBcode }}
						<span class="inputLabel">Attacks</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{% if variables.proficiences_and_languages is defined and variables.proficiences_and_languages %}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								{{ variables.proficiences_and_languages|nl2br }}<br>
								<span class="inputLabel">Proficiences</span>
							</div>
						</div>
					</div>
					{% endif %}
					{% if variables.spellcasting is defined and variables.spellcasting %}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								{{ variables.spellcasting|nl2br }}<br>
								<span class="inputLabel">Spellcasting</span>
							</div>
						</div>
					</div>
					{% endif %}
					{% if variables.equipment is defined and variables.equipment %}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								{{ variables.equipment|nl2br }}<br>
								<span class="inputLabel">Equipment</span>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
				<div class="col-md-6">
					{% if variables.personality_trait is defined  and variables.personality_trait%}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								{{ variables.personality_trait|nl2br }}<br>
								<span class="inputLabel">Personality Traits</span>
							</div>
						</div>
					</div>	
					{% endif %}
					{% if variables.ideal is defined  and variables.ideal%}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								{{ variables.ideal|nl2br }}<br>
								<span class="inputLabel">Ideals</span>
							</div>
						</div>
					</div>
					{% endif %}
					{% if variables.bond is defined  and variables.bond%}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								{{ variables.bond|nl2br }}<br>
								<span class="inputLabel">Bonds</span>
							</div>
						</div>
					</div>
					{% endif %}
					{% if variables.flaw is defined  and variables.flaw%}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								{{ variables.flaw|nl2br }}<br>
								<span class="inputLabel">Flaws</span>
							</div>
						</div>
					</div>
					{% endif %}
					{% if variables.features_and_traits is defined and variables.features_and_traits %}
					<div class="row">
						<div class="col-md-12">
							<div class="contentContainer contentContainer-standard">
								{{ variables.features_and_traits|nl2br }}<br>
								<span class="inputLabel">Features & Traits</span>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="row">
						<div class="col-md-12">
							<p><small>Heroes Enabled</small></p>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>