{% import _self as sheet %}
{% macro genSkill(id = 0, name = '', tag = 0, rank = 0, attr = '', dname = '', vattr = 0, dattr = '') %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
{% if name == '' %}{% set name = dname %}{% endif %}
{% if attr == '' %}{% set attr = vattr %}{% endif %}
{% if rank == '' %}{% set rank = 0 %}{% endif %}
{% set rating = rank %}{% if rating < 0 %}{% set rating = 0 %}{% endif %}{% if rating > 6 %}{% set rating = 6 %}{% endif %}
{% set tagm = 1 %}
<td class="txt {{eo}} c {{al}}"><input value="1" {% if tag == 1 %} checked="checked"{% endif %} class="" id="skill_tag_{{id}}" name="skill_tag_{{id}}" type="checkbox" /></td>
<td class="txt {{eo}} l {{al}}">{{name}} ({{dattr[:3]|upper}})</td>
<td class="txt {{eo}} c {{al}}" title="{{rating}}"><input value="{{ rating }}" class="form-control" id="skill_rank_{{id}}" name="skill_rank_{{id}}" type="text" /></td>
</tr>{% endmacro genSkill %}
{# ------------------------- #}
<div class="fallout-sheet">
	<div class="row my-2">
		<div class="col-12 col-md-12">
    		<div class="card">
	        	<div class="card-body">
                    <table>
                        <tr><th class="hdr c">Basic Info</th></tr>
                        <tr><td class="txt lt">
                            <h1>Name: <input value="{{ variables.name is defined ? variables.name }}" class="form-control" id="name" name="name" type="text" /></h1>
                            <h2>
                                Level <input value="{{ variables.level is defined ? variables.level }}" class="form-control c" id="level" name="level" type="text" />, Keywords: <input value="{{ variables.keywords is defined ? variables.keywords }}" class="form-control" id="keywords" name="keywords" type="text" placeholder="eg Mutated Insect" />,
                                <select class="form-control" id="ctype" name="ctype">
                                    <option value="normal" {% if variables.ctype is defined and variables.ctype == "normal" %}selected="selected" {% endif %} >Normal</option>
                                    <option value="mighty" {% if variables.ctype is defined and variables.ctype == "mighty" %}selected="selected" {% endif %} >Mighty</option>
                                    <option value="legendary" {% if variables.ctype is defined and variables.ctype == "legendary" %}selected="selected" {% endif %} >Legendary</option>
                                    <option value="notable" {% if variables.ctype is defined and variables.ctype == "notable" %}selected="selected" {% endif %} >Notable</option>
                                    <option value="major" {% if variables.ctype is defined and variables.ctype == "major" %}selected="selected" {% endif %} >Major</option>
                                </select>
                                Creature (<input value="{{ variables.xp is defined ? variables.xp }}" class="form-control c" id="xp" name="xp" type="text" /> XP)
                            </h2>
                            WA Image-ID: <input value="{{ variables.imageid is defined ? variables.imageid }}" class="form-control c" id="imageid" name="imageid" type="text" /><br>
                        </td></tr>
                    </table>
                </div>
            </div>
        </div>
		<div class="col-12 col-md-12 col-lg-12 my-2">
            <table>
                <tr><th class="hdr c">Description</th></tr>
                <tr><td class="txt lt">
                    <p class="description">
                        <textarea class="form-control mention" id="description" name="description" rows="3" placeholder="">{{ variables.description is defined ? variables.description }}</textarea>
                    </p>
            </td></tr>
            </table>
        </div>
    </div>
	<div class="row">
		<div class="col-12 col-md-12 col-lg-8">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 my-2">
                    <table>
                        <tr>
                            <th class="hdr c" width="14%" title="Strength">S</th>
                            <th class="hdr c" width="14%" title="Perception">P</th>
                            <th class="hdr c" width="14%" title="Endurance">E</th>
                            <th class="hdr c" width="14%" title="Charisma">C</th>
                            <th class="hdr c" width="14%" title="Intelligence">I</th>
                            <th class="hdr c" width="14%" title="Agility">A</th>
                            <th class="hdr c" title="Luck">L</th>
                        </tr>
                        <tr>
                            <td class="txt dk c">
                                <select class="form-control c" id="att_strength" name="att_strength">
                                    <option value="4" {% if variables.att_strength is defined and variables.att_strength == "4" %}selected="selected" {% endif %} >4</option>
                                    <option value="5" {% if variables.att_strength is defined and variables.att_strength == "5" %}selected="selected" {% endif %} >5</option>
                                    <option value="6" {% if variables.att_strength is defined and variables.att_strength == "6" %}selected="selected" {% endif %} >6</option>
                                    <option value="7" {% if variables.att_strength is defined and variables.att_strength == "7" %}selected="selected" {% endif %} >7</option>
                                    <option value="8" {% if variables.att_strength is defined and variables.att_strength == "8" %}selected="selected" {% endif %} >8</option>
                                    <option value="9" {% if variables.att_strength is defined and variables.att_strength == "9" %}selected="selected" {% endif %} >9</option>
                                    <option value="10" {% if variables.att_strength is defined and variables.att_strength == "10" %}selected="selected" {% endif %} >10</option>
                                    <option value="11" {% if variables.att_strength is defined and variables.att_strength == "11" %}selected="selected" {% endif %} >11</option>
                                    <option value="12" {% if variables.att_strength is defined and variables.att_strength == "12" %}selected="selected" {% endif %} >12</option>
                                </select>
                            </td>
                            <td class="txt lt c">
                                <select class="form-control c" id="att_perception" name="att_perception">
                                    <option value="4" {% if variables.att_perception is defined and variables.att_perception == "4" %}selected="selected" {% endif %} >4</option>
                                    <option value="5" {% if variables.att_perception is defined and variables.att_perception == "5" %}selected="selected" {% endif %} >5</option>
                                    <option value="6" {% if variables.att_perception is defined and variables.att_perception == "6" %}selected="selected" {% endif %} >6</option>
                                    <option value="7" {% if variables.att_perception is defined and variables.att_perception == "7" %}selected="selected" {% endif %} >7</option>
                                    <option value="8" {% if variables.att_perception is defined and variables.att_perception == "8" %}selected="selected" {% endif %} >8</option>
                                    <option value="9" {% if variables.att_perception is defined and variables.att_perception == "9" %}selected="selected" {% endif %} >9</option>
                                    <option value="10" {% if variables.att_perception is defined and variables.att_perception == "10" %}selected="selected" {% endif %} >10</option>
                                    <option value="11" {% if variables.att_perception is defined and variables.att_perception == "11" %}selected="selected" {% endif %} >11</option>
                                    <option value="12" {% if variables.att_perception is defined and variables.att_perception == "12" %}selected="selected" {% endif %} >12</option>
                                </select>
                            </td>
                            <td class="txt dk c">
                                <select class="form-control c" id="att_endurance" name="att_endurance">
                                    <option value="4" {% if variables.att_endurance is defined and variables.att_endurance == "4" %}selected="selected" {% endif %} >4</option>
                                    <option value="5" {% if variables.att_endurance is defined and variables.att_endurance == "5" %}selected="selected" {% endif %} >5</option>
                                    <option value="6" {% if variables.att_endurance is defined and variables.att_endurance == "6" %}selected="selected" {% endif %} >6</option>
                                    <option value="7" {% if variables.att_endurance is defined and variables.att_endurance == "7" %}selected="selected" {% endif %} >7</option>
                                    <option value="8" {% if variables.att_endurance is defined and variables.att_endurance == "8" %}selected="selected" {% endif %} >8</option>
                                    <option value="9" {% if variables.att_endurance is defined and variables.att_endurance == "9" %}selected="selected" {% endif %} >9</option>
                                    <option value="10" {% if variables.att_endurance is defined and variables.att_endurance == "10" %}selected="selected" {% endif %} >10</option>
                                    <option value="11" {% if variables.att_endurance is defined and variables.att_endurance == "11" %}selected="selected" {% endif %} >11</option>
                                    <option value="12" {% if variables.att_endurance is defined and variables.att_endurance == "12" %}selected="selected" {% endif %} >12</option>
                                </select>
                            </td>
                            <td class="txt lt c">
                                <select class="form-control c" id="att_charisma" name="att_charisma">
                                    <option value="4" {% if variables.att_charisma is defined and variables.att_charisma == "4" %}selected="selected" {% endif %} >4</option>
                                    <option value="5" {% if variables.att_charisma is defined and variables.att_charisma == "5" %}selected="selected" {% endif %} >5</option>
                                    <option value="6" {% if variables.att_charisma is defined and variables.att_charisma == "6" %}selected="selected" {% endif %} >6</option>
                                    <option value="7" {% if variables.att_charisma is defined and variables.att_charisma == "7" %}selected="selected" {% endif %} >7</option>
                                    <option value="8" {% if variables.att_charisma is defined and variables.att_charisma == "8" %}selected="selected" {% endif %} >8</option>
                                    <option value="9" {% if variables.att_charisma is defined and variables.att_charisma == "9" %}selected="selected" {% endif %} >9</option>
                                    <option value="10" {% if variables.att_charisma is defined and variables.att_charisma == "10" %}selected="selected" {% endif %} >10</option>
                                    <option value="11" {% if variables.att_charisma is defined and variables.att_charisma == "11" %}selected="selected" {% endif %} >11</option>
                                    <option value="12" {% if variables.att_charisma is defined and variables.att_charisma == "12" %}selected="selected" {% endif %} >12</option>
                                </select>
                            </td>
                            <td class="txt dk c">
                                <select class="form-control c" id="att_intelligence" name="att_intelligence">
                                    <option value="4" {% if variables.att_intelligence is defined and variables.att_intelligence == "4" %}selected="selected" {% endif %} >4</option>
                                    <option value="5" {% if variables.att_intelligence is defined and variables.att_intelligence == "5" %}selected="selected" {% endif %} >5</option>
                                    <option value="6" {% if variables.att_intelligence is defined and variables.att_intelligence == "6" %}selected="selected" {% endif %} >6</option>
                                    <option value="7" {% if variables.att_intelligence is defined and variables.att_intelligence == "7" %}selected="selected" {% endif %} >7</option>
                                    <option value="8" {% if variables.att_intelligence is defined and variables.att_intelligence == "8" %}selected="selected" {% endif %} >8</option>
                                    <option value="9" {% if variables.att_intelligence is defined and variables.att_intelligence == "9" %}selected="selected" {% endif %} >9</option>
                                    <option value="10" {% if variables.att_intelligence is defined and variables.att_intelligence == "10" %}selected="selected" {% endif %} >10</option>
                                    <option value="11" {% if variables.att_intelligence is defined and variables.att_intelligence == "11" %}selected="selected" {% endif %} >11</option>
                                    <option value="12" {% if variables.att_intelligence is defined and variables.att_intelligence == "12" %}selected="selected" {% endif %} >12</option>
                                </select>
                            </td>
                            <td class="txt lt c">
                                <select class="form-control c" id="att_agility" name="att_agility">
                                    <option value="4" {% if variables.att_agility is defined and variables.att_agility == "4" %}selected="selected" {% endif %} >4</option>
                                    <option value="5" {% if variables.att_agility is defined and variables.att_agility == "5" %}selected="selected" {% endif %} >5</option>
                                    <option value="6" {% if variables.att_agility is defined and variables.att_agility == "6" %}selected="selected" {% endif %} >6</option>
                                    <option value="7" {% if variables.att_agility is defined and variables.att_agility == "7" %}selected="selected" {% endif %} >7</option>
                                    <option value="8" {% if variables.att_agility is defined and variables.att_agility == "8" %}selected="selected" {% endif %} >8</option>
                                    <option value="9" {% if variables.att_agility is defined and variables.att_agility == "9" %}selected="selected" {% endif %} >9</option>
                                    <option value="10" {% if variables.att_agility is defined and variables.att_agility == "10" %}selected="selected" {% endif %} >10</option>
                                    <option value="11" {% if variables.att_agility is defined and variables.att_agility == "11" %}selected="selected" {% endif %} >11</option>
                                    <option value="12" {% if variables.att_agility is defined and variables.att_agility == "12" %}selected="selected" {% endif %} >12</option>
                                </select>
                            </td>
                            <td class="txt dk c">
                                <select class="form-control c" id="att_luck" name="att_luck">
                                    <option value="4" {% if variables.att_luck is defined and variables.att_luck == "4" %}selected="selected" {% endif %} >4</option>
                                    <option value="5" {% if variables.att_luck is defined and variables.att_luck == "5" %}selected="selected" {% endif %} >5</option>
                                    <option value="6" {% if variables.att_luck is defined and variables.att_luck == "6" %}selected="selected" {% endif %} >6</option>
                                    <option value="7" {% if variables.att_luck is defined and variables.att_luck == "7" %}selected="selected" {% endif %} >7</option>
                                    <option value="8" {% if variables.att_luck is defined and variables.att_luck == "8" %}selected="selected" {% endif %} >8</option>
                                    <option value="9" {% if variables.att_luck is defined and variables.att_luck == "9" %}selected="selected" {% endif %} >9</option>
                                    <option value="10" {% if variables.att_luck is defined and variables.att_luck == "10" %}selected="selected" {% endif %} >10</option>
                                    <option value="11" {% if variables.att_luck is defined and variables.att_luck == "11" %}selected="selected" {% endif %} >11</option>
                                    <option value="12" {% if variables.att_luck is defined and variables.att_luck == "12" %}selected="selected" {% endif %} >12</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 col-md-6 col-lg-6 my-2">
                    <table>
                        <tr>
                            <th class="hdr c" width="33%">HP</th>
                            <th class="hdr c" width="33%">Ini</th>
                            <th class="hdr c">Defense</th>
                        </tr>
                        <tr>
                            <td class="txt dk c"><input value="{{ variables.health is defined ? variables.health }}" class="form-control input-small c" id="health" name="health" type="text" /></td>
                            <td class="txt lt c"><input value="{{ variables.initiative is defined ? variables.initiative }}" class="form-control input-small c" id="initiative" name="initiative" type="text" /></td>
                            <td class="txt dk c"><input value="{{ variables.defense is defined ? variables.defense }}" class="form-control input-small c" id="defense" name="defense" type="text" /></td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 col-md-6 col-lg-6 my-2">
                    <table>
                        <tr>
                            <th class="hdr c" width="33%">Carry Weight</th>
                            <th class="hdr c" width="33%">Melee Bonus</th>
                            <th class="hdr c">Luck Points</th>
                        </tr>
                        <tr>
                            <td class="txt dk c"><input value="{{ variables.carry_weight is defined ? variables.carry_weight }}" class="form-control input-small c" id="carry_weight" name="carry_weight" type="text" /></td>
                            <td class="txt lt c"><input value="{{ variables.melee_bonus is defined ? variables.melee_bonus }}" class="form-control input-small c" id="melee_bonus" name="melee_bonus" type="text" /></td>
                            <td class="txt dk c"><input value="{{ variables.luck_points is defined ? variables.luck_points }}" class="form-control input-small c" id="luck_points" name="luck_points" type="text" /></td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 col-md-12 col-lg-12 my-2">
                    <table>
                        <tr>
                            <th class="hdr c" width="25%">Phys. DR</th>
                            <th class="hdr c" width="25%">Energy DR</th>
                            <th class="hdr c" width="25%">Rad. DR</th>
                            <th class="hdr c" width="25%">Poison DR</th>
                        </tr>
                        <tr>
                            <td class="txt c dk"><input value="{{ variables.dr_physical is defined ? variables.dr_physical }}" class="form-control input-small c" id="dr_physical" name="dr_physical" type="text" /></td>
                            <td class="txt c lt"><input value="{{ variables.dr_energy is defined ? variables.dr_energy }}" class="form-control input-small c" id="dr_energy" name="dr_energy" type="text" /></td>
                            <td class="txt c dk"><input value="{{ variables.dr_radiation is defined ? variables.dr_radiation }}" class="form-control input-small c" id="dr_radiation" name="dr_radiation" type="text" /></td>
                            <td class="txt c lt "><input value="{{ variables.dr_poison is defined ? variables.dr_poison }}" class="form-control input-small c" id="dr_poison" name="dr_poison" type="text" /></td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 col-md-12 col-lg-12 my-2">
                    <table>
                        <tr><th class="hdr c">Attacks</th></tr>
                        <tr><td class="txt lt"><textarea class="form-control mention" id="attacks" name="attacks" rows="3" placeholder="">{{ variables.attacks is defined ? variables.attacks }}</textarea></td></tr>
                    </table>
                </div>
                <div class="col-12 col-md-12 col-lg-12 my-2">
                    <table>
                        <tr><th class="hdr c">Special Abilities</th></tr>
                        <tr><td class="txt lt"><textarea class="form-control mention" id="spec_abilities" name="spec_abilities" rows="3" placeholder="">{{ variables.spec_abilities is defined ? variables.spec_abilities }}</textarea></td></tr>
                    </table>
                </div>
                <div class="col-12 col-md-12 col-lg-12 my-2">
                    <table>
                        <tr><th class="hdr c">Inventory</th></tr>
                        <tr><td class="txt lt"><textarea class="form-control mention" id="inventory" name="inventory" rows="3" placeholder="">{{ variables.inventory is defined ? variables.inventory }}</textarea></td></tr>
                    </table>
                </div>
            </div>
        </div>
		<div class="col-12 col-md-12 col-lg-4 my-2">
            <table width="100%" class="skilltable">
                <tr>
                    <th class="hdr c" width="10%">Tag</th>
                    <th class="hdr c">Skill</th>
                    <th class="hdr c" width="10%">Rank</th>
                </tr>
                {{ sheet.genSkill('01', attribute(variables, 'skill_name_01'), attribute(variables, 'skill_tag_01'), attribute(variables, 'skill_rank_01'), attribute(variables, 'skill_attr_01'), 'Athletics',      attribute(variables, 'att_strength'), 'strength') }}
                {{ sheet.genSkill('02', attribute(variables, 'skill_name_02'), attribute(variables, 'skill_tag_02'), attribute(variables, 'skill_rank_02'), attribute(variables, 'skill_attr_02'), 'Barter',         attribute(variables, 'att_charisma'), 'charisma') }}
                {{ sheet.genSkill('03', attribute(variables, 'skill_name_03'), attribute(variables, 'skill_tag_03'), attribute(variables, 'skill_rank_03'), attribute(variables, 'skill_attr_03'), 'Big Guns',       attribute(variables, 'att_endurance'), 'endurance') }}
                {{ sheet.genSkill('04', attribute(variables, 'skill_name_04'), attribute(variables, 'skill_tag_04'), attribute(variables, 'skill_rank_04'), attribute(variables, 'skill_attr_04'), 'Energy Weapons', attribute(variables, 'att_perception'), 'perception') }}
                {{ sheet.genSkill('05', attribute(variables, 'skill_name_05'), attribute(variables, 'skill_tag_05'), attribute(variables, 'skill_rank_05'), attribute(variables, 'skill_attr_05'), 'Explosives',     attribute(variables, 'att_perception'), 'perception') }}
                {{ sheet.genSkill('06', attribute(variables, 'skill_name_06'), attribute(variables, 'skill_tag_06'), attribute(variables, 'skill_rank_06'), attribute(variables, 'skill_attr_06'), 'Lockpick',       attribute(variables, 'att_perception'), 'perception') }}
                {{ sheet.genSkill('07', attribute(variables, 'skill_name_07'), attribute(variables, 'skill_tag_07'), attribute(variables, 'skill_rank_07'), attribute(variables, 'skill_attr_07'), 'Medicine',       attribute(variables, 'att_intelligence'), 'intelligence') }}
                {{ sheet.genSkill('08', attribute(variables, 'skill_name_08'), attribute(variables, 'skill_tag_08'), attribute(variables, 'skill_rank_08'), attribute(variables, 'skill_attr_08'), 'Melee Weapons',  attribute(variables, 'att_strength'), 'strength') }}
                {{ sheet.genSkill('09', attribute(variables, 'skill_name_09'), attribute(variables, 'skill_tag_09'), attribute(variables, 'skill_rank_09'), attribute(variables, 'skill_attr_09'), 'Pilot',          attribute(variables, 'att_perception'), 'perception') }}
                {{ sheet.genSkill('10', attribute(variables, 'skill_name_10'), attribute(variables, 'skill_tag_10'), attribute(variables, 'skill_rank_10'), attribute(variables, 'skill_attr_10'), 'Repair',         attribute(variables, 'att_intelligence'), 'intelligence') }}
                {{ sheet.genSkill('11', attribute(variables, 'skill_name_11'), attribute(variables, 'skill_tag_11'), attribute(variables, 'skill_rank_11'), attribute(variables, 'skill_attr_11'), 'Science',        attribute(variables, 'att_intelligence'), 'intelligence') }}
                {{ sheet.genSkill('12', attribute(variables, 'skill_name_12'), attribute(variables, 'skill_tag_12'), attribute(variables, 'skill_rank_12'), attribute(variables, 'skill_attr_12'), 'Small Guns',     attribute(variables, 'att_agility'), 'agility') }}
                {{ sheet.genSkill('13', attribute(variables, 'skill_name_13'), attribute(variables, 'skill_tag_13'), attribute(variables, 'skill_rank_13'), attribute(variables, 'skill_attr_13'), 'Sneak',          attribute(variables, 'att_agility'), 'agility') }}
                {{ sheet.genSkill('14', attribute(variables, 'skill_name_14'), attribute(variables, 'skill_tag_14'), attribute(variables, 'skill_rank_14'), attribute(variables, 'skill_attr_14'), 'Speech',         attribute(variables, 'att_charisma'), 'charisma') }}
                {{ sheet.genSkill('15', attribute(variables, 'skill_name_15'), attribute(variables, 'skill_tag_15'), attribute(variables, 'skill_rank_15'), attribute(variables, 'skill_attr_15'), 'Survival',       attribute(variables, 'att_endurance'), 'endurance') }}
                {{ sheet.genSkill('16', attribute(variables, 'skill_name_16'), attribute(variables, 'skill_tag_16'), attribute(variables, 'skill_rank_16'), attribute(variables, 'skill_attr_16'), 'Throwing',       attribute(variables, 'att_agility'), 'agility') }}
                {{ sheet.genSkill('17', attribute(variables, 'skill_name_17'), attribute(variables, 'skill_tag_17'), attribute(variables, 'skill_rank_17'), attribute(variables, 'skill_attr_17'), 'Unarmed',        attribute(variables, 'att_strength'), 'strength') }}
            </table>
        </div>
    </div>
</div>