<div>
	<h3>{{ variables.name }}</h3>
   	<p><b>Aspect{% if variables.character_aspect_2 is defined and variables.character_aspect_2 != "" %}s{% endif %}</b>: {{variables.character_aspect_1}}{% if variables.character_aspect_2 is defined and variables.character_aspect_2 != "" %}, {{ variables.character_aspect_2}}{% endif %}</p>
	{% if variables.average_1_skill_1 is defined and variables.average_1_skill_1 != "None" %}
		<div class="row">
		 <div class="col-md-2">
			<b>{{ variables.average_1_skill_1}}</b>
		 </div>
		 <div class="col-md-1">
			[roll:4dF+1]
		 </div>
		</div>
	{% endif %}
	{% if variables.average_1_skill_2 is defined and variables.average_1_skill_2 != "None" %}
		<div class="row">
			 <div class="col-md-2">
				<b>{{ variables.average_1_skill_2}}</b>
			 </div>
			 <div class="col-md-1">
				[roll:4dF+1]
			 </div>
		</div>
	{% endif %}
</div>