{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
{% import _self as macros %}
<div class="actrein-contents">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ variables.name }}</h1>
        </div>
    </div>
    <div class="row part-title">
        <div class="col-md-12">
            <h2>Basic Info</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 char-info-table">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Character Name  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.name }}</div>                    
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Species  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.species }}</div>  
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Class  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.class }}</div>                    
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Sex  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.sex }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Age  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.age }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Height  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.height }}</div>                    
                    </div>                  
                </div> 
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Weight  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.weight }}</div>                    
                    </div>                  
                </div>
            </div>            
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Eyes  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.color_eyes }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Hair  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.color_hair }}</div>                    
                    </div>                  
                </div> 
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Hand  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.favored_hand }}</div>                    
                    </div>                  
                </div> 
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Alignment  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.alignment }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 actrein-label">Faith  </div>                    
                        <div class="col-md-8 actrein-value">{{ variables.faith }}</div>                    
                    </div>                  
                </div>
            </div>            
        </div>
    </div>
    <div class="row char-personnal">
        <div class="col-md-12">
            <h2>Personal Info </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 sub-table-title"><h4>Equipment</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="skill-subtable">{{ variables.equipment|nl2br }}</div>
        </div>
    </div>
    <div class="actrein-box">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4 actrein-label">Gold  </div>                    
                    <div class="col-md-6 actrein-value">{{ variables.gold }}</div>                    
                </div>                  
            </div>        
        </div>
    </div>
</div>
{% endblock %}
