{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
{% if variables.source is defined %}
	<p class="statblock-source">{{ variables.source }}</p>
{% endif %}

<h1>{{variables.name|BBcode }}</h1>
<p class="subheading">
	{% if variables.type is defined %}{{variables.type}}{% endif %} 
	{% if variables.properties is defined %}{{variables.properties}}{% endif %} 
	{% if variables.rarity is defined %}{{ variables.rarity }}{% endif %} 
</p>

{% if variables.description %}
	<p>{{variables.description}}{% endif %}</p>
{% endif %}

{# If item is an Armor #}
{% if variables.armortype is defined %} 
	<P>Armor Type : {{ variables.armortype }}</P>
{% endif %} 

{# If item is a Weapon #}
{% if  variables.damage or  variables.range is defined %}
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Damage</th>
					<th>Damage</th>
					<th>Range</th>
					<th>Properties</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ variables.weapontype}}</td>
					<td>{{ variables.damage}}</td>
					<td>{{ variables.damagetype}}</td>
					<td>{{ variables.range}}</td>
					<td>{% if variables.properties is defined %}{{ variables.properties }}{% endif %} </td>
				</tr>
			</tbody>
		</table>	
	</div>
{% endif %}

<p>
	<small>
		{% if variables.cost is defined %}Cost: {{ variables.cost }} <br>{% endif %} 
		{% if variables.weight is defined %}Weight: {{ variables.weight }}{% endif %} 
	</small>
</p>

{% endblock %}