{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
{% if variables.source is defined and variables.source.length > 0  %}
    <div class="statblock-source">
        {{ variables.source }} 
    </div>
{% endif %}

<h1>{{variables.name}}</h1>
<div class="subheading">{{variables.size|capitalize }} {{variables.types|lower }}, {{variables.alignment|lower }} </div>
<div class="statblock-stat"><strong>Hit Points</strong> <span>{{variables.hitpoints}}</span></div>
<hr>
{% if variables.description is defined %}
    <p>{{variables.description}}</p> 
{% endif %}
{% endblock %}