{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
{% if variables.source.length > 0 and variables.source is defined %}
    <div class="statblock-source">
        {{ variables.source }}
    </div>
{% endif %}

<h1>{{variables.name}}</h1>
<p class="subheading">{{variables.size}} {{variables.race}} {{variables.profession}} {% if variables.alignment %}, {{variables.alignment}} {% endif %}</p>
<hr class="hr-dark">
{% if variables.description is defined %}
    <div class="statblock-stat">
        <h3>Description</h3>
        <p>{{variables.description}}</p> 
    </div>
{% endif %}
{% if variables.ideals is defined %}
    <div class="statblock-stat">
        <h3>Ideals</h3>
        <p>{{variables.ideals}}</p> 
    </div>
{% endif %}
{% if variables.bonds is defined %}
    <div class="statblock-stat">
        <h3>Bonds</h3>
        <p>{{variables.bonds}}</p> 
    </div>
{% endif %}
{% if variables.flaws is defined %}
    <div class="statblock-stat">
        <h3>Flaws</h3>
        <p>{{variables.flaws}}</p> 
    </div>
{% endif %}
{% endblock %}