{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}



{% if variables.source is defined or meta.block.isSRD %}
    <div class="statblock-source">
        {% if variables.source|length > 0 and variables.source is defined %}
            {{ variables.source }} 
        {% endif %}
        {% if meta.block.isSRD %}
            <strong>SRD</strong>
        {% endif %}
    </div>
{% endif %}
<h1>{{variables.name}}</h1>
<p class="subheading">{{variables.size}} {{variables.race}} {{variables.profession}} {% if variables.alignment %}, {{variables.alignment}} {% endif %}</p>

<hr>
<hr class="hr-dark">
{% if variables.description %}
    <div class="statblock-stat">
        <h3>Description</h3>
        <p>{{variables.description}}</p> 
    </div>
{% endif %}
{% if variables.ideals %}
    <div class="statblock-stat">
        <h3>Ideals</h3>
        <p>{{variables.ideals}}</p> 
    </div>
{% endif %}
{% if variables.bonds %}
    <div class="statblock-stat">
        <h3>Bonds</h3>
        <p>{{variables.bonds}}</p> 
    </div>
{% endif %}
{% if variables.flaws %}
    <div class="statblock-stat">
        <h3>Flaws</h3>
        <p>{{variables.flaws}}</p> 
    </div>
{% endif %}
<hr class="hr-dark">

{% endblock %}