{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<h3>{{variables.name}}</h3>
<p>
{% if variables.short %}
	{{variables.short }}<br>
{% endif %}
{% if variables.prerequisites is defined or variables.prerequisites %}
	<strong>&nbsp;Prerequisites: </strong>{{variables.prerequisites }}<br>
{% endif %}
{% if variables.benefit is defined or variables.benefit %}
	<strong>&nbsp;Benefit: </strong>{{ variables.benefit }}<br>
{% endif %}
{% if variables.normal is defined or variables.normal %}
	<strong>&nbsp;Normal: </strong>{{ variables.normal }}<br>
{% endif %}
</p>

{% endblock %}