{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<h1>{{variables.name}}</h1>
<p><b>School</b> {{ variables.school }}; <b>Level</b> {{ variables.level }}</p>
{% if variables.casting_time %}
	<p><b>Casting Time</b> {{variables.casting_time }}</p> 
{% endif %}
{% if variables.components %}
	<p><b>Components</b> {{variables.components }}</p> 
{% endif %}
<p><b>Range</b>
{% if variables.range == "Other" %}
	{{variables.other_range }}
{% else %}
	{{ variables.range }}
{% endif %}</p>
{% if variables.targets %}
	<p><b>Targets</b> {{variables.targets }}</p> 
{% endif %}
{% if variables.area %}
	<p><b>Area</b> {{variables.area }}</p> 
{% endif %}
{% if variables.duration %}
	<p><b>Duration</b> {{variables.duration }}</p> 
{% endif %}
{% if variables.range != "Personal" %}
<p>
{% if variables.saving_throw %}
	<b>Saving Throw</b> {{variables.saving_throw }}
{% else %}
	<b>Saving Throw</b> none
{% endif %}
;

{% if variables.effect %}
	<p><b>Effect</b> {{variables.effect }}</p> 
{% endif %}
{% if variables.spell_resistance %}
	<b>Spell Resistance</b> {{variables.spell_resistance }}
{% endif %}
</p>
{% endif %}
<p>
{{ variables.description }}
</p>

{% endblock %}