{% import _self as sheet %}
{% set attributes = [ '', '', '' ] %}
<div class='container-fluid sheet-my-mini-sheet'>
  <div class='row'>
    <div class='col-12 col-md-6'>
      <span class='text'><h1>Test Sheet</h1></span>
    </div>
    <br class='linebreak'>
    <div class='col-12 col-md-6'>
      <img class='image' src='/uploads/images/yoursystemlogo.webp' title='Your RPG System Logo' width='250px'>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card personal' id='card-personal'>
        <div class='card-header personal'>Personal Data</div>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl od ilbl-name'><label for='name'>Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='Name of the hero' type='text' required=required /></td></tr>
            <tr><th class='ilbl ev ilbl-class'><label for='class'>Class</label></th><td class='ivar ev ivar-class'>
              <select  class='form-control ivar ivar-class' id='class' name='class'>
                <option value='warrior' {% if variables.class|default == 'warrior' %}selected='selected' {% endif %} > Warrior </option>
                <option value='mage' {% if variables.class|default == 'mage' %}selected='selected' {% endif %} > Mage </option>
                <option value='thief' {% if variables.class|default == 'thief' %}selected='selected' {% endif %} > Thief </option>
              </select></td></tr>
            <tr><th class='ilbl od ilbl-level'><label for='level'>Level</label></th><td class='ivar od ivar-level c'><input value='{{variables.level|default}}' class='form-control ivar ivar-level c' id='level' name='level' type='number' /></td></tr>
            <tr><th class='ilbl ev ilbl-species'><label for='species'>Species</label></th><td class='ivar ev ivar-species'><input value='{{variables.species|default}}' class='form-control ivar ivar-species' id='species' name='species' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-profession'><label for='profession'>Profession</label></th><td class='ivar od ivar-profession'><input value='{{variables.profession|default}}' class='form-control ivar ivar-profession' id='profession' name='profession' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-portrait'><label for='portrait'>Portrait</label></th><td class='ivar ev ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait c' id='portrait' name='portrait' type='number' /></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-4'>
      <div class='card brawn' id='card-brawn'>
        <div class='card-body of'>
          <div class='ilbl od ilbl-brawn'><label for='brawn'>Brawn</label></div><div class='ivar od ivar-brawn'><input value='{{variables.brawn|default}}' class='form-control ivar ivar-brawn' id='brawn' name='brawn' type='text' /></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-4'>
      <div class='card agility' id='card-agility'>
        <div class='card-body of'>
          <div class='ilbl od ilbl-agility'><label for='agility'>Agility</label></div><div class='ivar od ivar-agility'><input value='{{variables.agility|default}}' class='form-control ivar ivar-agility' id='agility' name='agility' type='text' /></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-4'>
      <div class='card vitality' id='card-vitality'>
        <div class='card-body of'>
          <div class='ilbl od ilbl-vitality'><label for='vitality'>Vitality</label></div><div class='ivar od ivar-vitality'><input value='{{variables.vitality|default}}' class='form-control ivar ivar-vitality' id='vitality' name='vitality' type='text' /></div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-6'>
      <div class='card belongings' id='card-belongings'>
        <div class='card-header belongings'>Inventory</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-item-name'><label for='item_name'>Name</label></th>
          <th class='ilbl od ilbl-item-weight ' width='60px'><label for='item_weight'>Weight</label></th>
          <th class='ilbl od ilbl-item-stowed c' width='30px'><label for='item_stowed'>Stowed</label></th>
          </tr>
          {% for i in 1..15 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='ivar {{eo}} ivar-item-name'><input value='{{attribute(variables, 'item_name_' ~ id)|default}}' class='form-control ivar ivar-item-name' id='item_name' name='item_name_{{id}}' type='text' /></td><td class='ivar {{eo}} ivar-item-weight'><input value='{{attribute(variables, 'item_weight_' ~ id)|default}}' class='form-control ivar ivar-item-weight c' id='item_weight' name='item_weight_{{id}}' type='number' /></td><td class='ivar {{eo}} ivar-item-stowed c'><input value='0' id='item_stowed' name='item_stowed_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'item_stowed_' ~ id)|default > 0 %} checked='checked'{% endif %} id='item_stowed' name='item_stowed_{{id}}' type='checkbox' /></td>
          </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class='card weapons' id='card-weapons'>
        <div class='card-header weapons'>Weapons</div>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-weapon-name'><label for='weapon_name'>Name</label></th>
          <th class='ilbl od ilbl-weapon-weight ' width='60px'><label for='weapon_weight'>Weight</label></th>
          <th class='ilbl od ilbl-weapon-stowed c' width='30px'><label for='weapon_stowed'>Stowed</label></th>
          </tr>
          {% for i in 1..5 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='ivar {{eo}} ivar-weapon-name'><input value='{{attribute(variables, 'weapon_name_' ~ id)|default}}' class='form-control ivar ivar-weapon-name' id='weapon_name' name='weapon_name_{{id}}' type='text' /></td><td class='ivar {{eo}} ivar-weapon-weight'><input value='{{attribute(variables, 'weapon_weight_' ~ id)|default}}' class='form-control ivar ivar-weapon-weight c' id='weapon_weight' name='weapon_weight_{{id}}' type='number' /></td><td class='ivar {{eo}} ivar-weapon-stowed c'><input value='0' id='weapon_stowed' name='weapon_stowed_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'weapon_stowed_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_stowed' name='weapon_stowed_{{id}}' type='checkbox' /></td>
          </tr>
          {% endfor %}
          </table>
        </div>
      </div>
      <div class='card armor' id='card-armor'>
        <div class='card-header armor'>Armor</div>
        <div class='card-body of'>
          <table class='table'>
            {% for i in 1..5 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-armor-name'><label for='armor_name'>Name</label></th><td class='ivar {{eo}} ivar-armor-name'><input value='{{attribute(variables, 'armor_name_' ~ id)|default}}' class='form-control ivar ivar-armor-name' id='armor_name' name='armor_name_{{id}}' type='text' /></td></tr>
              <tr><th class='ilbl {{eo}} ilbl-armor-weight ' width='60px'><label for='armor_weight'>Weight</label></th><td class='ivar {{eo}} ivar-armor-weight'><input value='{{attribute(variables, 'armor_weight_' ~ id)|default}}' class='form-control ivar ivar-armor-weight c' id='armor_weight' name='armor_weight_{{id}}' type='number' /></td></tr>
              <tr><th class='ilbl {{eo}} ilbl-armor-stowed c' width='30px'><label for='armor_stowed'>Stowed</label></th><td class='ivar {{eo}} ivar-armor-stowed c'><input value='0' id='armor_stowed' name='armor_stowed_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'armor_stowed_' ~ id)|default > 0 %} checked='checked'{% endif %} id='armor_stowed' name='armor_stowed_{{id}}' type='checkbox' /></td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Character Notes</div>
        <div class='card-body of'>
          <div class='ilbl od ilbl-notes'><label for='notes'>Notes</label></div><div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
  <br class='linebreak'>
  <hr class='separator'>
  <br class='linebreak'>
    <div class='row do-not-print'>
      <div class='col-12 c small'>
        <br>
        Sheet made by Tillerz - Updated: 2024-04-10</a><br>
      </div>
    </div>
</div>
