{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genWeapon(id = 0, name = '', damage = '', range = '', bonus = '', comm = '') %}{% set eo = "odd" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="lbl {{eo}} l"><input value="{{ name }}" class="form-control" id="weapon_name_{{id}}" name="weapon_name_{{id}}" type="text" /></td>
<td class="att {{eo}} c"><input value="{{ bonus }}" class="form-control c" id="weapon_bonus_{{id}}" name="weapon_bonus_{{id}}" type="text" /></td>
<td class="att {{eo}} c"><input value="{{ damage }}" class="form-control c" id="weapon_damage_{{id}}" name="weapon_damage_{{id}}" type="text" /></td>
<td class="att {{eo}} c"><input value="{{ range }}" class="form-control c" id="weapon_range_{{id}}" name="weapon_range_{{id}}" type="text" /></td>
</tr>
<tr>
<td class="lbl {{eo}} l">Notes</td>
<td class="att {{eo}} c" colspan=3><input value="{{ comm }}" class="form-control c" id="weapon_notes_{{id}}" name="weapon_notes_{{id}}" type="text" /></td>
</tr>
{% endmacro genWeapon %}
{# ---------------------------------------------- #}
{% macro genSkill(id = 0, name = '', att = '', attname = '', value = '', datt = '', dattname = '', dname = '') %}{% set eo = "odd" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
{% if name == '' %}{% set name = dname %}{% endif %}<tr>
{% if att == '' %}{% set att = datt %}{% set attname = dattname %}{% endif %}
{% if value == '' %}{% set value = '0' %}{% endif %}
<td class="lbl {{eo}} l"><input value="{{ name }}" class="form-control" id="skill_name_{{id}}" name="skill_name_{{id}}" type="text" /></td>
<td class="att {{eo}} c"><select class="form-control" id="skill_att_{{id}}" name="skill_att_{{id}}">
	<option value="strength" {% if attname == "strength" %}selected="selected" {% endif %} >Strength</option>
	<option value="agility" {% if attname == "agility" %}selected="selected" {% endif %} >Agility</option>
	<option value="wits" {% if attname == "wits" %}selected="selected" {% endif %} >Wits</option>
	<option value="empathy" {% if attname == "empathy" %}selected="selected" {% endif %} >Empathy</option>
</select></td>
<td class="att {{eo}} c" width="20%" title="skill value"><input value="{{ value }}" class="form-control c" id="skill_value_{{id}}" name="skill_value_{{id}}" type="text" /></td>
</tr>{% endmacro genSkill %}
{# ---------------------------------------------- #}
{% macro genTalent(id = 0, name = '', value = '', desc = '') %}{% set eo = "odd" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="lbl {{eo}} l"><input value="{{ name }}" class="form-control" id="talent_name_{{id}}" name="talent_name_{{id}}" type="text" /></td>
<td class="att {{eo}} c" width="15%"><input value="{{ value }}" class="form-control c" id="talent_value_{{id}}" name="talent_value_{{id}}" type="text" /></td></tr>
<tr><td class="att {{eo}}" colspan=2><textarea class="form-control" id="talent_desc_{{id}}" name="talent_desc_{{id}}" rows="1">{{desc}}</textarea></td>
</tr>{% endmacro genTalent %}
{# ---------------------------------------------- #}
<div class="container-fluid fl-sheet">
	<div class="row">
		<div class="col-12 col-md-12 col-lg-12 my-2">
			<div class="card my-2">
                <div class="headerContainer">
					<span class="headerContent">Personal</span>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-6">
						<div class="contentContainer">
							<span class="inputLabel">Name</span>
							<span class="inputContent"><input value="{{ variables.name|default('') }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the character" type="text" /></span>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-6">
						<div class="contentContainer">
							<span class="inputLabel">Age</span>
							<span class="inputContent"><input value="{{ variables.age|default('') }}" required="required" class="form-control" id="age" name="age" type="text" /></span>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-6">
						<div class="contentContainer">
							<span class="inputLabel">Profession</span>
							<span class="inputContent"><input value="{{ variables.profession|default('') }}" required="required" class="form-control" id="profession" name="profession" type="text" /></span>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-6">
						<div class="contentContainer">
							<span class="inputLabel">Kin</span>
							<span class="inputContent"><input value="{{ variables.kin|default('') }}" required="required" class="form-control" id="kin" name="kin" type="text" /></span>
						</div>
					</div>
				</div>
				<div class="contentContainer">
					<span class="inputLabel">Pride</span>
					<span class="inputContent"><input value="{{ variables.pride|default('') }}" class="form-control" id="pride" name="pride" type="text" /></span>
				</div>
				<div class="contentContainer">
					<span class="inputLabel">Dark Secret</span>
					<span class="inputContent"><input value="{{ variables.dark_secret|default('') }}" class="form-control" id="dark_secret" name="dark_secret" type="text" /></span>
				</div>
				<div class="contentContainer">
					<span class="inputLabel">Appearance</span>
					<span class="inputContent"><textarea class="form-control" id="appearance" name="appearance" rows="3">{{ variables.appearance|default('') }}</textarea></span>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-6">
						<div class="contentContainer">
							<span class="inputLabel">Reputation</span>
							<span class="inputContent"><input value="{{ variables.reputation|default('') }}" class="form-control c" id="reputation" name="reputation" type="text" /></span>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-6">
						<div class="contentContainer">
							<span class="inputLabel">WA Image ID for profile picture</span>
							<span class="inputContent"><input value="{{ variables.imageid|default('') }}" class="form-control c" id="imageid" name="imageid" type="number" /></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Skills</span>
				</div>
				<div class="tableContainer">
					<table width="100%" class="alttable">
					<tr>
						<th class="hdr c">Skill</th>
						<th class="hdr c">Attribute</th>
						<th class="hdr c">Value</th>
					</tr>
						{{ sheet.genSkill( "01", variables.skill_name_01, attribute(variables, 'att_' ~ variables.skill_att_01), variables.skill_att_01, variables.skill_value_01, variables.att_strength, 'strength', 'Might') }}
						{{ sheet.genSkill( "02", variables.skill_name_02, attribute(variables, 'att_' ~ variables.skill_att_02), variables.skill_att_02, variables.skill_value_02, variables.att_strength, 'strength', 'Endurance') }}
						{{ sheet.genSkill( "03", variables.skill_name_03, attribute(variables, 'att_' ~ variables.skill_att_03), variables.skill_att_03, variables.skill_value_03, variables.att_strength, 'strength', 'Melee') }}
						{{ sheet.genSkill( "04", variables.skill_name_04, attribute(variables, 'att_' ~ variables.skill_att_04), variables.skill_att_04, variables.skill_value_04, variables.att_strength, 'strength', 'Crafting') }}
						{{ sheet.genSkill( "05", variables.skill_name_05, attribute(variables, 'att_' ~ variables.skill_att_05), variables.skill_att_05, variables.skill_value_05, variables.att_agility, 'agility', 'Stealth') }}
						{{ sheet.genSkill( "06", variables.skill_name_06, attribute(variables, 'att_' ~ variables.skill_att_06), variables.skill_att_06, variables.skill_value_06, variables.att_agility, 'agility', 'Sleight of Hand') }}
						{{ sheet.genSkill( "07", variables.skill_name_07, attribute(variables, 'att_' ~ variables.skill_att_07), variables.skill_att_07, variables.skill_value_07, variables.att_agility, 'agility', 'Move') }}
						{{ sheet.genSkill( "08", variables.skill_name_08, attribute(variables, 'att_' ~ variables.skill_att_08), variables.skill_att_08, variables.skill_value_08, variables.att_agility, 'agility', 'Marksmanship') }}
						{{ sheet.genSkill( "09", variables.skill_name_09, attribute(variables, 'att_' ~ variables.skill_att_09), variables.skill_att_09, variables.skill_value_09, variables.att_wits, 'wits', 'Scouting') }}
						{{ sheet.genSkill( "10", variables.skill_name_10, attribute(variables, 'att_' ~ variables.skill_att_10), variables.skill_att_10, variables.skill_value_10, variables.att_wits, 'wits', 'Lore') }}
						{{ sheet.genSkill( "11", variables.skill_name_11, attribute(variables, 'att_' ~ variables.skill_att_11), variables.skill_att_11, variables.skill_value_11, variables.att_wits, 'wits', 'Survival') }}
						{{ sheet.genSkill( "12", variables.skill_name_12, attribute(variables, 'att_' ~ variables.skill_att_12), variables.skill_att_12, variables.skill_value_12, variables.att_wits, 'wits', 'Insight') }}
						{{ sheet.genSkill( "13", variables.skill_name_13, attribute(variables, 'att_' ~ variables.skill_att_13), variables.skill_att_13, variables.skill_value_13, variables.att_empathy, 'empathy', 'Manipulation') }}
						{{ sheet.genSkill( "14", variables.skill_name_14, attribute(variables, 'att_' ~ variables.skill_att_14), variables.skill_att_14, variables.skill_value_14, variables.att_empathy, 'empathy', 'Performance') }}
						{{ sheet.genSkill( "15", variables.skill_name_15, attribute(variables, 'att_' ~ variables.skill_att_15), variables.skill_att_15, variables.skill_value_15, variables.att_empathy, 'empathy', 'Healing') }}
						{{ sheet.genSkill( "16", variables.skill_name_16, attribute(variables, 'att_' ~ variables.skill_att_16), variables.skill_att_16, variables.skill_value_16, variables.att_empathy, 'empathy', 'Animal Handling') }}
					</table>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Weapons</span>
				</div>
				<div class="tableContainer">
					<table width="100%" class="alttable">
						<tr>
							<td class="hdr c">Weapon Name</td>
							<td class="hdr c" width="15%" title="Bonus">BONUS</td>
							<td class="hdr c" width="10%" title="Damage">DMG</td>
							<td class="hdr c" width="30%" title="Range">RNG</td>
						</tr>
						{% for i in 1..5 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
							{{ sheet.genWeapon(
								id,
								attribute(variables, 'weapon_name_' ~ id),
								attribute(variables, 'weapon_damage_' ~ id),
								attribute(variables, 'weapon_range_' ~ id),
								attribute(variables, 'weapon_bonus_' ~ id),
								attribute(variables, 'weapon_notes_' ~ id)
								)
							}}
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Armor</span>
				</div>
				<div class="tableContainer">
					<table width="100%" class="alttable">
						<tr>
							<td class="hdr c">Helmet</td>
							<td class="hdr c" width="20%" title="Protection">Rating</td>
						</tr>
						<tr>
							<td class="lbl odd l"><input value="{{ variables.armor1_name|default('') }}" class="form-control" id="armor1_name" name="armor1_name" type="text" /></td>
							<td class="att odd c"><input value="{{ variables.armor1_rating|default('') }}" class="form-control c" id="armor1_rating" name="armor1_rating" type="text" /></td>
						</tr>
						<tr>
							<td class="hdr c">Shield</td>
							<td class="hdr c" title="Protection">Bonus</td>
						</tr>
						<tr>
							<td class="lbl odd l"><input value="{{ variables.armor2_name|default('') }}" class="form-control" id="armor2_name" name="armor2_name" type="text" /></td>
							<td class="att odd c"><input value="{{ variables.armor2_rating|default('') }}" class="form-control c" id="armor2_rating" name="armor2_rating" type="text" /></td>
						</tr>
						<tr>
							<td class="hdr c">Armor</td>
							<td class="hdr c" title="Protection">Rating</td>
						</tr>
						<tr>
							<td class="lbl odd l"><input value="{{ variables.armor3_name|default('') }}" class="form-control" id="armor3_name" name="armor3_name" type="text" /></td>
							<td class="att odd c"><input value="{{ variables.armor3_rating|default('') }}" class="form-control c" id="armor3_rating" name="armor3_rating" type="text" /></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Conditions</span>
				</div>
				<div class="tableContainer">
					<table width="100%" class="alttable">
						<tr>
							<td class="lbl odd l">Sleepless</td><td class="cond odd c" width="50%">
								<input value="1" {% if variables.cond_exhausted is defined and variables.cond_exhausted == 1 %} checked="checked"{% endif %} id="cond_exhausted" name="cond_exhausted" placeholder="" type="checkbox" />
							</td>
						</tr>
						<tr>
							<td class="lbl ev l">Thirsty</td><td class="cond ev c">
								<input value="1" {% if variables.cond_dehydrated is defined and variables.cond_dehydrated == 1 %} checked="checked"{% endif %} id="cond_dehydrated" name="cond_dehydrated" placeholder="" type="checkbox" />
							</td>
						</tr>
						<tr>
							<td class="lbl odd l">Hungry</td><td class="cond odd c" width="50%">
								<input value="1" {% if variables.cond_starving is defined and variables.cond_starving == 1 %} checked="checked"{% endif %} id="cond_starving" name="cond_starving" placeholder="" type="checkbox" />
							</td>
						</tr>
						<tr>
							<td class="lbl ev l">Cold</td><td class="cond ev c">
								<input value="1" {% if variables.cond_freezing is defined and variables.cond_freezing == 1 %} checked="checked"{% endif %} id="cond_freezing" name="cond_freezing" placeholder="" type="checkbox" />
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Willpower <span class="badge"><input value="{{ variables.willpower|default('') }}" class="form-control c" id="willpower" name="willpower" type="text" /></span></span>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Critical Injuries</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="injuries" name="injuries" rows="3">{{ variables.injuries|default('') }}</textarea></span>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Gear</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="gear" name="gear" rows="3">{{ variables.gear|default('') }}</textarea></span>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Carry Capacity <span class="badge"><input value="{{ variables.encumbrance|default('') }}" class="form-control c" id="encumbrance" name="encumbrance" type="text" /></span></span>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Attributes</span>
				</div>
				<div class="tableContainer">
					<table width="100%" class="alttable">
						<tr>
							<th class="hdr l">Attribute</th>
							<th class="hdr c">Value</th>
							<th class="hdr c" title="Damage taken">Damage</th>
						<tr>
						<tr>
							<td class="lbl odd l">Strength</td>
							<td class="att odd c" width="30%"><input value="{{ variables.att_strength|default('0') }}" required="required" class="form-control c" id="att_strength" name="att_strength" type="text" /></td>
							<td class="att odd c" width="30%"><input value="{{ variables.att_strength_dam|default('0') }}" class="form-control c" id="att_strength_dam" name="att_strength_dam" type="text" /></td>
						</tr>
						<tr>
							<td class="lbl ev l">Agility</td>
							<td class="att ev c"><input value="{{ variables.att_agility|default('0') }}" required="required" class="form-control c" id="att_agility" name="att_agility" type="text" /></td>
							<td class="att ev c"><input value="{{ variables.att_agility_dam|default('0') }}" class="form-control c" id="att_agility_dam" name="att_agility_dam" type="text" /></td>
						</tr>
						<tr>
							<td class="lbl odd l">Wits</td>
							<td class="att odd c"><input value="{{ variables.att_wits|default('0') }}" required="required" class="form-control c" id="att_wits" name="att_wits" type="text" /></td>
							<td class="att odd c"><input value="{{ variables.att_wits_dam|default('0') }}" class="form-control c" id="att_wits_dam" name="att_wits_dam" type="text" /></td>
						</tr>
						<tr>
							<td class="lbl ev l">Empathy</td>
							<td class="att ev c"><input value="{{ variables.att_empathy|default('0') }}" required="required" class="form-control c" id="att_empathy" name="att_empathy" type="text" /></td>
							<td class="att ev c"><input value="{{ variables.att_empathy_dam|default('0') }}" class="form-control c" id="att_empathy_dam" name="att_empathy_dam" type="text" /></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Talents</span>
				</div>
				<div class="tableContainer">
					<table width="100%" class="alttable">
						<tr>
							<th class="hdr c">Name</th>
							<th class="hdr c" width="15%" title="Bonus">Value</th>
						</tr>
						{% for i in 1..20 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
							{{ sheet.genTalent(
								id,
								attribute(variables, 'talent_name_' ~ id),
								attribute(variables, 'talent_value_' ~ id),
								attribute(variables, 'talent_desc_' ~ id)
								)
							}}
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Consumables</span>
				</div>
				<div class="tableContainer">
					<table width="100%" class="alttable">
						<tr>
							<td class="lbl ev l">Food</td><td class="cond ev c"><input value="{{ variables.consum_food|default('') }}" class="form-control c" id="consum_food" name="consum_food" type="text" /></td>
						</tr>
						<tr>
							<td class="lbl ev l">Water</td><td class="cond ev c"><input value="{{ variables.consum_water|default('') }}" class="form-control c" id="consum_water" name="consum_water" type="text" /></td>
						</tr>
						<tr>
							<td class="lbl odd l">Arrows</td><td class="cond odd c" width="50%"><input value="{{ variables.consum_arrows|default('') }}" class="form-control c" id="consum_arrows" name="consum_arrows" type="text" /></td>
						</tr>
						<tr>
							<td class="lbl odd l">Torches</td><td class="cond odd c" width="50%"><input value="{{ variables.consum_torches|default('') }}" class="form-control c" id="consum_torches" name="consum_torches" type="text" /></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Experience <span class="badge"><input value="{{ variables.experience|default('') }}" class="form-control c" id="experience" name="experience" type="text" /></span></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Relationships</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="notes" name="relationships" rows="3">{{ variables.relationships|default('') }}</textarea></span>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Mount</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="notes" name="mount" rows="3">{{ variables.mount|default('') }}</textarea></span>
				</div>
			</div>
		</div>
    </div>
	<div class="row">
		<div class="col-12 col-md-12 col-lg-12">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Notes</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="notes" name="notes" rows="3">{{ variables.notes|default('') }}</textarea></span>
				</div>
			</div>
		</div>
    </div>
</div>