<div class="container-fluid fl-sheet">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Conditions</span>
				</div>
				<div class="tableContainer">
					<table width="100%" class="alttable">
						<tr>
							<td class="lbl odd l">Sleepless</td><td class="cond odd c" width="50%">
								<input value="0" id="cond_exhausted" name="cond_exhausted" type="hidden" />
								<input value="1" {% if variables.cond_exhausted is defined and variables.cond_exhausted == 1 %} checked="checked"{% endif %} id="cond_exhausted" name="cond_exhausted" placeholder="" type="checkbox" />
							</td>
						</tr>
						<tr>
							<td class="lbl ev l">Thirsty</td><td class="cond ev c">
								<input value="0" id="cond_dehydrated" name="cond_dehydrated" type="hidden" />
								<input value="1" {% if variables.cond_dehydrated is defined and variables.cond_dehydrated == 1 %} checked="checked"{% endif %} id="cond_dehydrated" name="cond_dehydrated" placeholder="" type="checkbox" />
							</td>
						</tr>
						<tr>
							<td class="lbl odd l">Hungry</td><td class="cond odd c" width="50%">
								<input value="0" id="cond_starving" name="cond_starving" type="hidden" />
								<input value="1" {% if variables.cond_starving is defined and variables.cond_starving == 1 %} checked="checked"{% endif %} id="cond_starving" name="cond_starving" placeholder="" type="checkbox" />
							</td>
						</tr>
						<tr>
							<td class="lbl ev l">Cold</td><td class="cond ev c">
								<input value="0" id="cond_freezing" name="cond_freezing" type="hidden" />
								<input value="1" {% if variables.cond_freezing is defined and variables.cond_freezing == 1 %} checked="checked"{% endif %} id="cond_freezing" name="cond_freezing" placeholder="" type="checkbox" />
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="card my-2">
				<div class="tableContainer">
					<table width="100%" class="alttable">
						<tr>
							<td class="lbl odd l">Willpower</td><td class="cond odd c" width="50%">
                                <input value="{{ variables.willpower|default('') }}" class="form-control c" id="willpower" name="willpower" type="text" />
							</td>
						</tr>
						<tr>
							<td class="lbl ev l">Experience</td><td class="cond ev c">
                                <input value="{{ variables.experience|default('') }}" class="form-control c" id="experience" name="experience" type="text" />
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Damage Taken</span>
				</div>
				<div class="tableContainer">
					<table width="100%" class="alttable">
						<tr>
							<th class="hdr l">Attribute</th>
							<th class="hdr c" title="Damage taken">Damage</th>
						<tr>
						<tr>
							<td class="lbl odd l">Strength</td>
							<td class="att odd c" width="30%"><input value="{{ variables.att_strength_dam|default('0') }}" class="form-control c" id="att_strength_dam" name="att_strength_dam" type="text" /></td>
						</tr>
						<tr>
							<td class="lbl ev l">Agility</td>
							<td class="att ev c"><input value="{{ variables.att_agility_dam|default('0') }}" class="form-control c" id="att_agility_dam" name="att_agility_dam" type="text" /></td>
						</tr>
						<tr>
							<td class="lbl odd l">Wits</td>
							<td class="att odd c"><input value="{{ variables.att_wits_dam|default('0') }}" class="form-control c" id="att_wits_dam" name="att_wits_dam" type="text" /></td>
						</tr>
						<tr>
							<td class="lbl ev l">Empathy</td>
							<td class="att ev c"><input value="{{ variables.att_empathy_dam|default('0') }}" class="form-control c" id="att_empathy_dam" name="att_empathy_dam" type="text" /></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
    </div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Critical Injuries</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="injuries" name="injuries" rows="3">{{ variables.injuries|default('') }}</textarea></span>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent">Notes</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="notes" name="notes" rows="3">{{ variables.notes|default('') }}</textarea></span>
				</div>
			</div>
		</div>
    </div>
</div>