{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="fatecore.css" type="text/css">
<div class="row">
	<div class="col-80">
		<div class="sectiontitle">
		ID
		</div>
		<table class="baseinfo">
			<tbody>
			<tr>
			<td><b>Name</b>:{{ variables.name }}</td><td><b>Refresh</b></td> 
			</tr>
			<tr>
			<td><b>Description</b>:{{ variables.description }}</td><td>{{ variables.refresh }}</td> 		
			</tr>
			</tbody>
		</table>
	</div>
	<div class="col-20" id="fatelogo">
	<img src="../../images/rpgsrd/fate/Powered by Fate Final Light BG.png" />
	</div>
</div>

<div class="row">
	<div class="col-40">
		<div class="sectiontitle">
		ASPECTS
		</div>
		<table class="aspects">
			<tbody>
			<tr>
			<td><b>High Concept</b>:{{ variables.aspect1 }}</td>
			</tr>
			<tr>
			<td><b>Trouble</b>:{{ variables.aspect2 }}</td>	
			</tr>
			<tr>
			<td>{{ variables.aspect3 }}</td>	
			</tr>
			<tr>
			<td>{{ variables.aspect4 }}</td>	
			</tr>
			<tr>
			<td>{{ variables.aspect5 }}</td>	
			</tr>
			</tbody>
		</table>
	</div>
	<div class="col-60">
		<div class="sectiontitle">
		SKILLS
		</div>
		<table class="skills">
			<tbody>
			<tr>
			<td><b>Superb (+5)</b></td><td>{{ variables.5skill1 }}</td><td>{{ variables.5skill2 }}</td><td>{{ variables.5skill3 }}</td><td>{{ variables.5skill4 }}</td><td>{{ variables.5skill5 }}</td>
			</tr>
			<tr>
			<td><b>Great (+4)</b></td><td>{{ variables.4skill1 }}</td><td>{{ variables.4skill2 }}</td><td>{{ variables.4skill3 }}</td><td>{{ variables.4skill4 }}</td><td>{{ variables.4skill5 }}</td>	
			</tr>
			<tr>
			<td><b>Good (+3)</b></td><td>{{ variables.3skill1 }}</td><td>{{ variables.3skill2 }}</td><td>{{ variables.3skill3 }}</td><td>{{ variables.3skill4 }}</td><td>{{ variables.3skill5 }}</td>	
			</tr>
			<tr>
			<td><b>Fair (+2)</b></td><td>{{ variables.2skill1 }}</td><td>{{ variables.2skill2 }}</td><td>{{ variables.2skill3 }}</td><td>{{ variables.2skill4 }}</td><td>{{ variables.2skill5 }}</td>	
			</tr>
			<tr>
			<td><b>Average (+1)</b></td><td>{{ variables.1skill1 }}</td><td>{{ variables.1skill2 }}</td><td>{{ variables.1skill3 }}</td><td>{{ variables.1skill4 }}</td><td>{{ variables.1skill5 }}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-50">
		<div class="sectiontitle">
		EXTRAS
		</div>
		<div class="freebox">
		{{ variables.extras }}
		</div>
	</div>
	<div class="col-50">
		<div class="sectiontitle">
		STUNTS
		</div>
		<div class="freebox">
		{{ variables.stunts }}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-20">
		<div class="sectiontitle">
		Physical Stress (Physique)
		</div>
		<table class="pstress">
			<tbody>
			<tr>
			<td><b>1</b><input class="StressBox" type="checkbox" {{ variables.pstress1checked }}/></td>
			<td><b>2</b><input class="StressBox" type="checkbox" {{ variables.pstress2checked }}/></td>	
			<td><b>3</b><input class="StressBox" type="checkbox" {{ variables.pstress3checked }}/></td>	
			<td><b>4</b><input class="StressBox" type="checkbox" {{ variables.pstress4checked }}/></td>	
			</tr>
			</tbody>
		</table>
		<div class="sectiontitle">
		Mental Stress(Will)
		</div>
		<table class="mstress">
			<tbody>
			<tr>
			<td><b>1</b><input class="StressBox" type="checkbox" {{ variables.mstress1checked }}/></td>
			<td><b>2</b><input class="StressBox" type="checkbox" {{ variables.mstress2checked }}/></td>	
			<td><b>3</b><input class="StressBox" type="checkbox" {{ variables.mstress3checked }}/></td>	
			<td><b>4</b><input class="StressBox" type="checkbox" {{ variables.mstress4checked }}/></td>	
			</tr>
			</tbody>
		</table>
	</div>
	<div class="col-80">
		<div class="sectiontitle">
		CONSEQUENCES
		</div>
		<table class="consequences">
			<tbody>
			<tr>
			<td><b>2</b>(Mild)| {{ variables.consequence1 }}</td>
			<td><b>2</b>(Mild)| {{ variables.consequence4 }}</td>	
			</tr>
			<tr>
			<td><b>4</b>(Moderate)| {{ variables.consequence2 }}</td>	
			</tr>
			<tr>
			<td><b>6</b>(Severe)| {{ variables.consequence3 }}</td>	
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="attribution">
<hr>
This work is based on Fate Core System and Fate Accelerated Edition (found at <a href="http://www.faterpg.com/">http://www.faterpg.com/</a>), products of Evil Hat Productions, LLC, developed, authored, and edited by Leonard Balsera, Brian Engard, Jeremy Keller, Ryan Macklin, Mike Olson, Clark Valentine, Amanda Valentine, Fred Hicks, and Rob Donoghue, and licensed for our use under the Creative Commons Attribution 3.0 Unported license (<a href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</a>).</div>

{% endblock %}