{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<div class="block">
    <h5 class="genesys">{{variables.name}}</h5>
    <p class="genesys">{{variables.description}}</p>
    <div class= "characteristics">
        <span class="genesys bra">{{variables.bra}}</span>
        <span class="genesys agi">{{variables.agi}}</span>
        <span class="genesys int">{{variables.int}}</span>
        <span class="genesys cun">{{variables.cun}}</span>
        <span class="genesys wil">{{variables.wil}}</span>
        <span class="genesys pre">{{variables.pre}}</span>
    </div>
    <div class="adversary">
        <span class="genesys soak">{{variables.soak}}</span>
        <span class="genesys wound">{{variables.wound_threshold}}</span>
        <span class="genesys strain">{{variables.strain_threshold}}</span>
        <span class="genesys mdef">{{variables.melee_defense}}</span>
        <span class="genesys rdef">{{variables.ranged_defense}}</span>
    </div>
    <ul class="abilities">
        <li class="genesys"><strong class="genesys">Skills: </strong><span>{{variables.skills}}</span></li>
        <li class="genesys"><strong class="genesys">Talents: </strong><span>{% if variables.talents %}{{variables.talents}}{% else %}None{% endif %}</span></li>
        <li class="genesys"><strong class="genesys">Abilities: </strong><span>{% if variables.abilities %}{{variables.abilities}}{% else %}None{% endif %}</span></li>
        <li class="genesys"><strong class="genesys">Equipment: </strong><span>{% if variables.equipment %}{{variables.equipment}}{% else %}None{% endif %}</span></li>
    </ul>
</div>
{% endblock %}