{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<h3>{{variables.name}}</h3>
<p>{{variables.description}}</p>
<h5>Archetype Abilities</h5>
<div class= "characteristics">
    <span class="bra">{{variables.bra}}</span>
    <span class="agi">{{variables.agi}}</span>
    <span class="int">{{variables.int}}</span>
    <span class="cun">{{variables.cun}}</span>
    <span class="wil">{{variables.wil}}</span>
    <span class="pre">{{variables.pre}}</span>
</div>
<ul class="abilities">
    <li><strong>Starting Wound Threshold: </strong><span>{{variables.wound_threshold}} + Brawn</span></li>
    <li><strong>Starting Strain Threshold: </strong><span>{{variables.strain_threshold}} + Willpower</span></li>
    <li><strong>Starting Experience: </strong><span>{{variables.starting_exp}}</span></li>
    {{variables.special_abilities | ParseList}}
</ul>
{% endblock %}