{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<div class="block">
    <h3>{{ variables.name|capitalize }}</h3>

    <p>{{ variables.description }}</p>

    {% set skills = variables.skills|split(',') %}
    <p class="force-indent">
        The {{ variables.name|capitalize }} counts the following skills as career skills: 
        {% for skill in skills %}
        <strong>{{ skill|capitalize }}</strong>
        {% if not loop.last %},{% endif %}
        {% endfor %}. Before spending 
        experience during character creation, a {{ variables.name|capitalize }} may choose four of their career skills and gain one rank 
        in each of them.
    </p>

    {% if variables.extra %}
    <p class="force-indent">
        {{ variables.extra }}
    </p>
    {% endif %}
</div>
{% endblock %}