{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<h5>{{variables.name}}</h5>
<p>{{variables.description}}</p>
<div class= "characteristics">
    <span class="bra">{{variables.bra}}</span>
    <span class="agi">{{variables.agi}}</span>
    <span class="int">{{variables.int}}</span>
    <span class="cun">{{variables.cun}}</span>
    <span class="wil">{{variables.wil}}</span>
    <span class="pre">{{variables.pre}}</span>
</div>
<div class="minion">
    <span class="soak">{{variables.soak}}</span>
    <span class="wound">{{variables.wound_threshold}}</span>
    <span class="mdef">{{variables.melee_defense}}</span>
    <span class="rdef">{{variables.ranged_defense}}</span>
</div>
<ul class="abilities">
    <li><strong>Skills: </strong><span>{{variables.skills}}</span></li>
    <li><strong>Talents: </strong><span>{% if variables.talents %}{{variables.talents}}{% else %}None{% endif %}</span></li>
    <li><strong>Abilities: </strong><span>{% if variables.abilities %}{{variables.abilities}}{% else %}None{% endif %}</span></li>
    <li><strong>Equipment: </strong><span>{% if variables.equipment %}{{variables.equipment}}{% else %}None{% endif %}</span></li>
</ul>
{% endblock $}