{% set heroism = variables.heroism|default %}
{% if heroism == '' %}{% set heroism = ( variables.bravery|default|number_format + variables.faith|default|number_format + variables.loyalty|default|number_format ) // 3 %}{% endif %}
{% set soak = variables.soak|default %}
{% if soak == '' %}{% set soak = variables.constitution|default|number_format + heroism|number_format %}{% endif %}
{% set hp = variables.hit_points|default %}
{% if hp == '' %}{% set hp = variables.constitution|default|number_format * 10 %}{% endif %}
{% set max_init = ( variables.constitution|default|number_format + variables.dexterity|default|number_format + variables.intelligence|default|number_format ) // 3 %}
{% set passive_defence = variables.dexterity|default|number_format + variables.athletics|default|number_format + 6 %}
<div class="container-fluid sheet-capharnaum">
    <div class="row">
        {% if variables.portrait|default > 0 %}
        <div class="col-12 col-md-8 col-lg-8">
        {% else %}
        <div class="col-12 col-md-12 col-lg-12">
        {% endif %}
            <div class="col-12 hidden-xs hidden-sm d-none d-lg-block">
                    <div class="logo"></div>
            </div>
            <div class="card personal" id="card-personal">
                <div class="card-header personal">Personal Information</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-name' width="20%"> Name </th><td class='var od var-name' title='This is the name of your hero.'> {{variables.name|default}} </td></tr>
                        <tr><th class='lbl ev lbl-path'> Path </th><td class='var ev var-path'> {{variables.path|default}} </td></tr>
                        <tr><th class='lbl od lbl-blood'> Blood </th><td class='var od var-blood'> {{variables.blood|default}} </td></tr>
                        <tr><th class='lbl ev lbl-status'> Status </th><td class='var ev var-status'> {{variables.status|default}} </td></tr>
                        <tr><th class='lbl od lbl-occupation'> Occupation </th><td class='var od var-occupation'> {{variables.occupation|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        {% if variables.portrait|default > 0 %}
        <div class="col-4 col-md-4 col-lg-4 hidden-xs hidden-sm d-none d-md-block d-lg-block">
            <div class="card portrait" id="card-portrait">
                <div class="card-body">
                    <div class='cContainer'><div class='var var-portrait'>[img:{{variables.portrait|default}}]</div></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
            <div class="card basics" id="card-basics">
                <div class="card-header basics">Attributes</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card strength" id="card-strength">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl att lbl-strength c'> Strength </div><div class='var att var-strength'><div class='tt'>{{variables.strength|default}}</div></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card constitution" id="card-constitution">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl att lbl-constitution c'> Constitution </div><div class='var att var-constitution'><div class='tt'>{{variables.constitution|default}}</div></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card dexterity" id="card-dexterity">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl att lbl-dexterity c'> Dexterity </div><div class='var att var-dexterity'><div class='tt'>{{variables.dexterity|default}}</div></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card intelligence" id="card-intelligence">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl att lbl-intelligence c'> Intelligence </div><div class='var att var-intelligence'><div class='tt'>{{variables.intelligence|default}}</div></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card charisma" id="card-charisma">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl att lbl-charisma c'> Charisma </div><div class='var att var-charisma'><div class='tt'>{{variables.charisma|default}}</div></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card heroism" id="card-heroism">
                                <div class="card-body">
                                    <table class='table'>
                                        <tr>
                                            <th class='lbl od lbl-max-init' width='60%'> Max Init </th>
                                            <td class='var od var-max-init c'>{{max_init}}</td>
                                        </tr>
                                        <tr>
                                            <th class='lbl ev lbl-dragon-dice'> Dragon Dice </th>
                                            <td class='var ev var-dragon-dice c'>{{variables.dragon_dice|default}}</td>
                                        </tr>
                                        <tr>
                                            <th class='lbl od lbl-adventure-points'> Adv. Points </th>
                                            <td class='var od var-adventure-points c'>{{variables.adventure_points|default}}</td>
                                        </tr>
                                        <tr>
                                            <th class='lbl ev lbl-soak'> Soak </th>
                                            <td class='var ev var-soak c'>{{soak}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-6">
                            <div class="card x" id="card-x">
                                <div class="card-body">
                                    <table class='table'>
                                        <tr>
                                            <th class='lbl od lbl-heroism' width='30%'> Heroism </th>
                                            <td class='var od var-heroism c' colspan=2><b>{{heroism}}</b></td>
                                        </tr>
                                        {% set st = variables.bravery_stars|default %}{% if st == "" %}{% set st = 0 %}{% endif %}
                                        <tr>
                                            <th class='lbl ev lbl-bravery' width='30%'> Bravery </th>
                                            <td class='var ev var-bravery c' width='30%'><b>{{variables.bravery|default}}</b></td>
                                            <td class='var ev var-bravery-stars c'> {{st}} <i class="fa-regular fa-star"></i></td>
                                        </tr>
                                        {% set st = variables.faith_stars|default %}{% if st == "" %}{% set st = 0 %}{% endif %}
                                        <tr>
                                            <th class='lbl od lbl-faith'> Faith </th>
                                            <td class='var od var-faith c'><b>{{variables.faith|default}}</b></td>
                                            <td class='var od var-faith-stars c'>{{st}} <i class="fa-regular fa-star"></i></td>
                                        </tr>
                                        {% set st = variables.loyalty_stars|default %}{% if st == "" %}{% set st = 0 %}{% endif %}
                                        <tr>
                                            <th class='lbl ev lbl-loyalty'> Loyalty </th>
                                            <td class='var ev var-loyalty c'><b>{{variables.loyalty|default}}</b></td>
                                            <td class='var ev var-loyalty-stars c'>{{st}} <i class="fa-regular fa-star"></i></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card combat" id="card-combat">
                <div class="card-header combat">Combat</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl od lbl-passive-defence' width='70%'> Passive Defence </th><td class='var od var-armour c'>{{passive_defence}}</td>
                        </tr>
                    </table>
                    <table class='table'>
                    <tr>
                        <th class='lbl lbl-weapon-name l' width='70%'> Weapon </th>
                        <th class='lbl lbl-weapon-damage c'> Damage </th>
                    </tr>
                    {% set eo = 'od' %}
                    {% for i in 1..3 %}
                        {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='var {{eo}} var-weapon-name'> {{attribute(variables, 'weapon_name_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-damage c'>{{attribute(variables, 'weapon_damage_' ~ id)|default}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <table class='table armour'>
                        {% if eo == 'od' %}{% set eo = 'ev' %}{% else %}{% set eo = 'od' %}{% endif %}
                        <tr><th class='lbl {{eo}} lbl-armour' width='40%'> Armour </th><td class='var {{eo}} var-armour c'>{{variables.armour|default}}</td></tr>
                        {% if eo == 'od' %}{% set eo = 'ev' %}{% else %}{% set eo = 'od' %}{% endif %}
                        <tr><th class='lbl {{eo}} lbl-hit-points'> Hit Points </th><td class='var {{eo}} var-hit-points c'>{{hp}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card adventurer" id="card-adventurer">
                <div class="card-header adventurer">Adventurer</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-athletics' width='80%'> Athletics </th><td class='var od var-athletics c'>{{variables.athletics|default}}</td></tr>
                        <tr><th class='lbl ev lbl-riding'> Riding </th><td class='var ev var-riding c'>{{variables.riding|default}}</td></tr>
                        <tr><th class='lbl od lbl-storytelling'> Storytelling </th><td class='var od var-storytelling c'>{{variables.storytelling|default}}</td></tr>
                        <tr><th class='lbl ev lbl-survival'> Survival </th><td class='var ev var-survival c'>{{variables.survival|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card poet" id="card-poet">
                <div class="card-header poet">Poet</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-acting' width='80%'> Acting </th><td class='var od var-acting c'>{{variables.acting|default}}</td></tr>
                        <tr><th class='lbl ev lbl-music'> Music </th><td class='var ev var-music c'>{{variables.music|default}}</td></tr>
                        <tr><th class='lbl od lbl-oratory'> Oratory </th><td class='var od var-oratory c'>{{variables.oratory|default}}</td></tr>
                        <tr><th class='lbl ev lbl-poetry'> Poetry </th><td class='var ev var-poetry c'>{{variables.poetry|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card rogue" id="card-rogue">
                <div class="card-header rogue">Rogue</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-assassination' width='80%'> Assassination </th><td class='var od var-assassination c'>{{variables.assassination|default}}</td></tr>
                        <tr><th class='lbl ev lbl-intrusion'> Intrusion </th><td class='var ev var-intrusion c'>{{variables.intrusion|default}}</td></tr>
                        <tr><th class='lbl od lbl-stealth'> Stealth </th><td class='var od var-stealth c'>{{variables.stealth|default}}</td></tr>
                        <tr><th class='lbl ev lbl-thievery'> Thievery </th><td class='var ev var-thievery c'>{{variables.thievery|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card sorcerer" id="card-sorcerer">
                <div class="card-header sorcerer">Sorcerer</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-prayer' width='80%'> Prayer </th><td class='var od var-prayer c'>{{variables.prayer|default}}</td></tr>
                        <tr><th class='lbl ev lbl-sacred-word'> Sacred Word </th><td class='var ev var-sacred-word c'>{{variables.sacred_word|default}}</td></tr>
                        <tr><th class='lbl od lbl-sacrifice'> Sacrifice </th><td class='var od var-sacrifice c'>{{variables.sacrifice|default}}</td></tr>
                        <tr><th class='lbl ev lbl-willpower'> Willpower </th><td class='var ev var-willpower c'>{{variables.willpower|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card labourer" id="card-labourer">
                <div class="card-header labourer">Labourer</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-agriculture' width='80%'> Agriculture </th><td class='var od var-agriculture c'>{{variables.agriculture|default}}</td></tr>
                        <tr><th class='lbl ev lbl-craft'> Craft </th><td class='var ev var-craft c'>{{variables.craft|default}}</td></tr>
                        <tr><th class='lbl od lbl-endurance'> Endurance </th><td class='var od var-endurance c'>{{variables.endurance|default}}</td></tr>
                        <tr><th class='lbl ev lbl-solidarity'> Solidarity </th><td class='var ev var-solidarity c'>{{variables.solidarity|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card prince" id="card-prince">
                <div class="card-header prince">Prince</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-elegance' width='80%'> Elegance </th><td class='var od var-elegance c'>{{variables.elegance|default}}</td></tr>
                        <tr><th class='lbl ev lbl-flattery'> Flattery </th><td class='var ev var-flattery c'>{{variables.flattery|default}}</td></tr>
                        <tr><th class='lbl od lbl-save-face'> Save Face </th><td class='var od var-save-face c'>{{variables.save_face|default}}</td></tr>
                        <tr><th class='lbl ev lbl-unctuous-bargaining'> Unct. Bargaining </th><td class='var ev var-unctuous-bargaining c'>{{variables.unctuous_bargaining|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card sage" id="card-sage">
                <div class="card-header sage">Sage</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-history-and-peoples' width='80%'> History &amp; Peoples </th><td class='var od var-history-and-peoples c'>{{variables.history_and_peoples|default}}</td></tr>
                        <tr><th class='lbl ev lbl-instruction'> Instruction </th><td class='var ev var-instruction c'>{{variables.instruction|default}}</td></tr>
                        <tr><th class='lbl od lbl-notice'> Notice </th><td class='var od var-notice c'>{{variables.notice|default}}</td></tr>
                        <tr><th class='lbl ev lbl-science'> Science </th><td class='var ev var-science c'>{{variables.science|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card warrior" id="card-warrior">
                <div class="card-header warrior">Warrior</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-combat-training' width='80%'> Combat Training </th><td class='var od var-combat-training c'>{{variables.combat_training|default}}</td></tr>
                        <tr><th class='lbl ev lbl-command'> Command </th><td class='var ev var-command c'>{{variables.command|default}}</td></tr>
                        <tr><th class='lbl od lbl-fighting'> Fighting </th><td class='var od var-fighting c'>{{variables.fighting|default}}</td></tr>
                        <tr><th class='lbl ev lbl-intimidate'> Intimidate </th><td class='var ev var-intimidate c'>{{variables.intimidate|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card path-ability" id="card-path-ability">
                <div class="card-header path-ability">Path Abilities (Level: {{variables.pa_level|default}})</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-path' width='25%'> Path </th><td class='var od var-path'>{{variables.path|default}}</td></tr>
                        <tr><th class='lbl ev lbl-path-abilities'> Abilities </th><td class='var ev var-path-abilities'>{{variables.path_abilities|default|nl2br}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card magic" id="card-magic">
                <div class="card-header magic">Magic</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="card create" id="card-create">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-create c'> Create </div><div class='var var-create c'>{{variables.create|default}}</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="card transform" id="card-transform">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-transform c'> Transform </div><div class='var var-transform c'>{{variables.transform|default}}</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="card destroy" id="card-destroy">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-destroy c'> Destroy </div><div class='var var-destroy c'>{{variables.destroy|default}}</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class='cContainer'><div class='lbl lbl-destroy c'> Element / Type </div><div class='var var-elements'> {{variables.elements|default|nl2br}} </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card belongings" id="card-belongings">
                <div class="card-header belongings">Equipment</div>
                <div class="card-body">
                    <div class='cContainer'><div class='var var-equipment'> {{variables.equipment|default|nl2br}} </div></div>
                    <table class='table'>
                        <tr><th class='lbl od lbl-wealth-level'> Wealth Level </th><td class='var od var-wealth-level c'>{{variables.wealth_level|default}}</td></tr>
                        <tr><th class='lbl ev lbl-money'> Money </th><td class='var ev var-money c'> {{variables.money|default}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        {% if variables.personal_legend|default != "" %}
        <div class="col-12 col-md-6">
            <div class="card personal-legend" id="card-personal-legend">
                <div class="card-header personal-legend">Personal Legend</div>
                <div class="card-body">
                    <div class='cContainer'><div class='var var-personal-legend'> {{variables.personal_legend|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if variables.notes|default != "" %}
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cContainer'><div class='var var-notes'> {{variables.notes|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row do-not-print">
        <div class="col-12 c small">
            <br>
            &copy; 2018 Mindjammer Press Ltd. All rights reserved. - <a href="/w/sheet-creation/a/sheet-list">Capharnaum Character Sheet v1.00</a>, made by Tillerz - Updated: 2023-02-14</a><br>
        </div>
    </div>
</div>