{% set heroism = variables.heroism|default %}
{% if heroism == '' %}{% set heroism = ( variables.bravery|default|number_format + variables.faith|default|number_format + variables.loyalty|default|number_format ) // 3 %}{% endif %}
{% set soak = variables.soak|default %}
{% if soak == '' %}{% set soak = variables.constitution|default|number_format + heroism|number_format %}{% endif %}
{% set hp = variables.hit_points|default %}
{% if hp == '' %}{% set hp = variables.constitution|default|number_format * 10 %}{% endif %}
<div class="container-fluid sheet-capharnaum tracker pd2">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card left" id="card-left">
                <div class="card-body c">
                    <table class='table'>
                        <tr title='(Bravery + Faith + Loyalty)/3'>
                            <th class='ilbl od ilbl-heroism' width='30%'> Heroism </th>
                            <td class='ivar od ivar-heroism c'><input value='{{heroism}}' class='form-control ivar ivar-heroism sm' id='heroism' name='heroism' type='number' /></td>
                        </tr>
                        <tr>
                            <th class='ilbl ev ilbl-bravery' width='30%'> Bravery </th>
                            <td class='ivar ev ivar-bravery c' width='30%'><input value='{{variables.bravery|default}}' class='form-control ivar ivar-bravery sm' id='bravery' name='bravery' type='number' min='0' max='6' /></td>
                            <td class='ivar ev ivar-bravery-stars c'> <input value='{{variables.bravery_stars|default}}' class='form-control ivar ivar-bravery-stars sm' id='bravery_stars' name='bravery_stars' type='number' min='0' max='6' /> <i class="fa-regular fa-star"></i></td>
                        </tr>
                        <tr>
                            <th class='ilbl od ilbl-faith'> Faith </th>
                            <td class='ivar od ivar-faith c'><input value='{{variables.faith|default}}' class='form-control ivar ivar-faith sm' id='faith' name='faith' type='number' min='0' max='6' /></td>
                            <td class='ivar od ivar-faith-stars c'><input value='{{variables.faith_stars|default}}' class='form-control ivar ivar-faith-stars sm' id='faith_stars' name='faith_stars' type='number' min='0' max='6' /> <i class="fa-regular fa-star"></i></td>
                        </tr>
                        <tr>
                            <th class='ilbl ev ilbl-loyalty'> Loyalty </th>
                            <td class='ivar ev ivar-loyalty c'><input value='{{variables.loyalty|default}}' class='form-control ivar ivar-loyalty sm' id='loyalty' name='loyalty' type='number' min='0' max='6' /></td>
                            <td class='ivar ev ivar-loyalty-stars c'><input value='{{variables.loyalty_stars|default}}' class='form-control ivar ivar-loyalty-stars sm' id='loyalty_stars' name='loyalty_stars' type='number' min='0' max='6' /> <i class="fa-regular fa-star"></i></td>
                        </tr>
                        <tr>
                            <th class='ilbl od ilbl-dragon-dice'> Dragon Dice </th>
                            <td class='ivar od ivar-dragon-dice c'><input value='{{variables.dragon_dice|default}}' class='form-control ivar ivar-dragon-dice sm' id='dragon_dice' name='dragon_dice' type='number' /></td>
                        </tr>
                        <tr>
                            <th class='ilbl ev ilbl-adventure-points'> Adv. Points </th>
                            <td class='ivar ev ivar-adventure-points c'><input value='{{variables.adventure_points|default}}' class='form-control ivar ivar-adventure-points sm' id='adventure_points' name='adventure_points' type='number' /></td>
                        </tr>
                        <tr title='CON + Heroism'>
                            <th class='ilbl od ilbl-soak'> Soak </th>
                            <td class='ivar od ivar-soak c'><input value='{{variables.soak|default}}' class='form-control ivar ivar-soak sm' id='soak' name='soak' type='number' /></td>
                        </tr>
                        <tr><th class='ilbl ev ilbl-hit-points'> Hit Points </th><td class='ivar {{eo}} ivar-hit-points'><input value='{{variables.hit_points|default}}' class='form-control ivar ivar-hit-points' id='hit_points' name='hit_points' type='number' /></td></tr>
                        <tr><th class='ilbl od ilbl-money'> Money </th><td class='ivar ev ivar-money'><input value='{{variables.money|default}}' class='form-control ivar ivar-money c' id='money' name='money' type='text'  /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cContainer'><div class='ivar ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>