{% import _self as sheet %}
{# ------------------------- #}
<div class="cogent-sheet">
	<div class="row my-2">
        <div class="col-12 col-md-6 col-lg-4">
    		<div class="card">
                <table class="table">
                <tbody>
                    <tr><th class="hdr l">Character Name</th></tr><tr><td class="txt c"><input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" type="text" /></td></tr>
                    <tr><th class="hdr l">Player Name</th></tr><tr><td class="txt c"><input value="{{ variables.player is defined ? variables.player }}" class="form-control" id="player" name="player" type="text" /></td></tr>
                    <tr><th class="hdr l">Age</th></tr><tr><td class="txt c"><input value="{{ variables.age is defined ? variables.age }}" class="form-control" id="age" name="age" type="text" /></td></tr>
                    <tr><th class="hdr l">Race</th></tr><tr><td class="txt c"><input value="{{ variables.race is defined ? variables.race }}" class="form-control" id="race" name="race" type="text" /></td></tr>
                </tbody>
                </table>
            </div>
        </div>
		<div class="col-12 col-lg-4 hidden-md hidden-xs hidden-sm d-none d-lg-block logo"></div>
        <div class="col-12 col-md-6 col-lg-4">
    		<div class="card">
                <table class="table">
                <tbody>
                    <tr><th class="hdr l">Height</th></tr><tr><td class="txt c"><input value="{{ variables.height is defined ? variables.height }}" class="form-control" id="height" name="height" type="text" /></td></tr>
                    <tr><th class="hdr l">Body Type</th></tr><tr><td class="txt c"><input value="{{ variables.body_type is defined ? variables.body_type }}" class="form-control" id="body_type" name="body_type" type="text" /></td></tr>
                    <tr><th class="hdr l">Disabling Characteristics</th></tr><tr><td class="txt c"><input value="{{ variables.disabling_characteristics is defined ? variables.disabling_characteristics }}" class="form-control" id="disabling_characteristics" name="disabling_characteristics" type="text" /></td></tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
	<div class="row my-2">
		<div class="col-12 col-md-6 col-lg-4">
    		<div class="card">
                <table class="table">
                    <tr><th class="hdr l" colspan=4>Attribute: STRENGTH</th></tr>
                    <tr><td class="lbl r" title="Disability (-1)"><input value="1" {% if variables.str_neg is defined and variables.str_neg == 1 %} checked="checked"{% endif %} id="str_neg" name="str_neg" type="checkbox" />DIS</label></td>
                        <td class="boxes r" ><input value="{{ variables.str is defined ? variables.str }}" class="form-control small c" id="str" name="str" type="text" /></td>
                    </tr>
                    <tr><td class="txt sm c" colspan=4>
                        For each additional point in <b>STR: severity in injury</b> can be <b>reduced</b> once every combat encounter
                    </td></tr>
                    <tr><td class="hdr l" colspan=4>Strength Based Skills (+STR)</td></tr>
                    <tr><td class="lbl l" width="40%">Endurance</td>
                        <input value="0" id="sk_endurance_3d6" name="sk_endurance_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_endurance_3d6 is defined or (variables.sk_endurance_3d6 is defined and variables.sk_endurance_3d6 == 1) %} checked="checked"{% endif %} id="sk_endurance_3d6" name="sk_endurance_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_endurance is defined ? variables.sk_endurance }}" class="form-control small c" id="sk_endurance" name="sk_endurance" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Athletics</td>
                        <input value="0" id="sk_athletics_3d6" name="sk_athletics_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_athletics_3d6 is defined or (variables.sk_athletics_3d6 is defined and variables.sk_athletics_3d6 == 1) %} checked="checked"{% endif %} id="sk_athletics_3d6" name="sk_athletics_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_athletics is defined ? variables.sk_athletics }}" class="form-control small c" id="sk_athletics" name="sk_athletics" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Grip</td>
                        <input value="0" id="sk_grip_3d6" name="sk_grip_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_grip_3d6 is defined or (variables.sk_grip_3d6 is defined and variables.sk_grip_3d6 == 1) %} checked="checked"{% endif %} id="sk_grip_3d6" name="sk_grip_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_grip is defined ? variables.sk_grip }}" class="form-control small c" id="sk_grip" name="sk_grip" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Swim</td>
                        <input value="0" id="sk_swim_3d6" name="sk_swim_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_swim_3d6 is defined or (variables.sk_swim_3d6 is defined and variables.sk_swim_3d6 == 1) %} checked="checked"{% endif %} id="sk_swim_3d6" name="sk_swim_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_swim is defined ? variables.sk_swim }}" class="form-control small c" id="sk_swim" name="sk_swim" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Throw</td>
                        <input value="0" id="sk_throw_3d6" name="sk_throw_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_throw_3d6 is defined or (variables.sk_throw_3d6 is defined and variables.sk_throw_3d6 == 1) %} checked="checked"{% endif %} id="sk_throw_3d6" name="sk_throw_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_throw is defined ? variables.sk_throw }}" class="form-control small c" id="sk_throw" name="sk_throw" type="text" /></td>
                    </tr>
                </table>
            </div>
        </div>
		<div class="col-12 col-md-6 col-lg-4">
    		<div class="card">
                <table class="table">
                    <tr><th class="hdr l" colspan=4>Attribute: REFLEX</th></tr>
                    <tr><td class="lbl r" title="Disability (-1)"><input value="1" {% if variables.ref_neg is defined and variables.ref_neg == 1 %} checked="checked"{% endif %} id="ref_neg" name="ref_neg" type="checkbox" />DIS</label></td>
                        <td class="boxes r"><input value="{{ variables.ref is defined ? variables.ref }}" class="form-control small c" id="ref" name="ref" type="text" /></td>
                    </tr>
                    <tr><td class="txt sm c" colspan=4>
                        For each additional point in <b>REF: Turn Priority is Higher</b> at the beginning of combat encounters
                    </td></tr>
                    <tr><td class="hdr l" colspan=4>Reflex Based Skills (+REF)</td>
                    <tr><td class="lbl l" width="40%">Perception</td>
                        <input value="0" id="sk_perception_3d6" name="sk_perception_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_perception_3d6 is defined or (variables.sk_perception_3d6 is defined and variables.sk_perception_3d6 == 1) %} checked="checked"{% endif %} id="sk_perception_3d6" name="sk_perception_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_perception is defined ? variables.sk_perception }}" class="form-control small c" id="sk_perception" name="sk_perception" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Acrobatic</td>
                        <input value="0" id="sk_acrobatics_3d6" name="sk_acrobatics_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_acrobatics_3d6 is defined or (variables.sk_acrobatics_3d6 is defined and variables.sk_acrobatics_3d6 == 1) %} checked="checked"{% endif %} id="sk_acrobatics_3d6" name="sk_acrobatics_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_acrobatics is defined ? variables.sk_acrobatics }}" class="form-control small c" id="sk_acrobatics" name="sk_acrobatics" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Ride/Pilot</td>
                        <input value="0" id="sk_ride_pilot_3d6" name="sk_ride_pilot_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_ride_pilot_3d6 is defined or (variables.sk_ride_pilot_3d6 is defined and variables.sk_ride_pilot_3d6 == 1) %} checked="checked"{% endif %} id="sk_ride_pilot_3d6" name="sk_ride_pilot_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_ride_pilot is defined ? variables.sk_ride_pilot }}" class="form-control small c" id="sk_ride_pilot" name="sk_ride_pilot" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Sleight of Hand</td>
                        <input value="0" id="sk_sleight_of_hand_3d6" name="sk_sleight_of_hand_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_sleight_of_hand_3d6 is defined or (variables.sk_sleight_of_hand_3d6 is defined and variables.sk_sleight_of_hand_3d6 == 1) %} checked="checked"{% endif %} id="sk_sleight_of_hand_3d6" name="sk_sleight_of_hand_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_sleight_of_hand is defined ? variables.sk_sleight_of_hand }}" class="form-control small c" id="sk_sleight_of_hand" name="sk_sleight_of_hand" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Stealth</td>
                        <input value="0" id="sk_stealth_3d6" name="sk_stealth_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_stealth_3d6 is defined or (variables.sk_stealth_3d6 is defined and variables.sk_stealth_3d6 == 1) %} checked="checked"{% endif %} id="sk_stealth_3d6" name="sk_stealth_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_stealth is defined ? variables.sk_stealth }}" class="form-control small c" id="sk_stealth" name="sk_stealth" type="text" /></td>
                    </tr>
                </table>
            </div>
        </div>
		<div class="col-12 col-md-6 col-lg-4">
    		<div class="card">
                <table class="table">
                    <tr><th class="hdr l" colspan=4>Attribute: INTELLIGENCE</th></tr>
                    <tr><td class="lbl r" title="Disability (-1)"><input value="1" {% if variables.int_neg is defined and variables.int_neg == 1 %} checked="checked"{% endif %} id="int_neg" name="int_neg" type="checkbox" />DIS</label></td>
                        <td class="boxes r"><input value="{{ variables.int is defined ? variables.int }}" class="form-control small c" id="int" name="int" type="text" /></td>
                    </tr>
                    <tr><td class="txt sm c" colspan=4>
                        For each additional point in <b>INT</b>: Receive <b>3 additional Skill Points</b> to spend in character creation
                    </td></tr>
                    <tr><td class="hdr l" colspan=4>Intelligence Based Skills (+INT)</td>
                    <tr><td class="lbl l" width="40%">General Knowledge</td>
                        <input value="0" id="sk_general_knowledge_3d6" name="sk_general_knowledge_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_general_knowledge_3d6 is defined or (variables.sk_general_knowledge_3d6 is defined and variables.sk_general_knowledge_3d6 == 1) %} checked="checked"{% endif %} id="sk_general_knowledge_3d6" name="sk_general_knowledge_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_general_knowledge is defined ? variables.sk_general_knowledge }}" class="form-control small c" id="sk_general_knowledge" name="sk_general_knowledge" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Deception</td>
                        <input value="0" id="sk_deception_3d6" name="sk_deception_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_deception_3d6 is defined or (variables.sk_deception_3d6 is defined and variables.sk_deception_3d6 == 1) %} checked="checked"{% endif %} id="sk_deception_3d6" name="sk_deception_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_deception is defined ? variables.sk_deception }}" class="form-control small c" id="sk_deception" name="sk_deception" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Infiltration</td>
                        <input value="0" id="sk_infiltration_3d6" name="sk_infiltration_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_infiltration_3d6 is defined or (variables.sk_infiltration_3d6 is defined and variables.sk_infiltration_3d6 == 1) %} checked="checked"{% endif %} id="sk_infiltration_3d6" name="sk_infiltration_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_infiltration is defined ? variables.sk_infiltration }}" class="form-control small c" id="sk_infiltration" name="sk_infiltration" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Persuasion</td>
                        <input value="0" id="sk_persuasion_3d6" name="sk_persuasion_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_persuasion_3d6 is defined or (variables.sk_persuasion_3d6 is defined and variables.sk_persuasion_3d6 == 1) %} checked="checked"{% endif %} id="sk_persuasion_3d6" name="sk_persuasion_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_persuasion is defined ? variables.sk_persuasion }}" class="form-control small c" id="sk_persuasion" name="sk_persuasion" type="text" /></td>
                    </tr>
                    <tr><td class="lbl l">Survival</td>
                        <input value="0" id="sk_survival_3d6" name="sk_survival_3d6" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.sk_survival_3d6 is defined or (variables.sk_survival_3d6 is defined and variables.sk_survival_3d6 == 1) %} checked="checked"{% endif %} id="sk_survival_3d6" name="sk_survival_3d6" type="checkbox" /> 3d6</td>
                        <td class="boxes r"><input value="{{ variables.sk_survival is defined ? variables.sk_survival }}" class="form-control small c" id="sk_survival" name="sk_survival" type="text" /></td>
                    </tr>
                </table>
            </div>
        </div>
		<div class="col-12 col-md-4">
    		<div class="card">
                <table class="table">
                    <tr><td class="hdr l" colspan=5>Vocation</td></tr>
                    <tr><td class="lbl l"><input value="{{ variables.vocation_name_01 is defined ? variables.vocation_name_01 }}" class="form-control" id="vocation_name_01" name="vocation_name_01" type="text" /></td>
                        <td><select class="form-control small" id="vocation_attr_01" name="vocation_attr_01">
                        <option value="NONE" {% if variables.vocation_attr_01 is defined and variables.vocation_attr_01 == "NONE" %}selected="selected" {% endif %} >NONE</option>
                        <option value="STR" {% if variables.vocation_attr_01 is defined and variables.vocation_attr_01 == "STR" %}selected="selected" {% endif %} >STR</option>
                        <option value="REF" {% if variables.vocation_attr_01 is defined and variables.vocation_attr_01 == "REF" %}selected="selected" {% endif %} >REF</option>
                        <option value="INT" {% if variables.vocation_attr_01 is defined and variables.vocation_attr_01 == "INT" %}selected="selected" {% endif %} >INT</option>
                        </select></td>
                        <input value="0" id="vocation_3d6_01" name="vocation_3d6_01" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.vocation_3d6_01 is defined or (variables.vocation_3d6_01 is defined and variables.vocation_3d6_01 == 1) %} checked="checked"{% endif %} id="vocation_3d6_01" name="vocation_3d6_01" type="checkbox" /> 3d6</td>
                        <td><input value="{{ variables.vocation_skill_01 is defined ? variables.vocation_skill_01 }}" class="form-control small c" id="vocation_skill_01" name="vocation_skill_01" type="text" /></td>
                    </tr>
                </table>
                <table class="table">
                    <tr><td class="hdr l" colspan=5>Skills</td></tr>
                    {% for i in 1..4 %}{% set x = i %}{% if x < 10 %}{% set x = '0' ~ x %}{% endif %}
                        {% set name = attribute(variables, 'voc_skill_name_' ~ x) %}
                        {% set attr = attribute(variables, 'voc_attr_' ~ x) %}
                        {% set points = attribute(variables, 'voc_skill_' ~ x) %}
                        {% set add3d6 = attribute(variables, 'voc_3d6_' ~ x) %}{% if add3d6 == 1 or add3d6 == '' %}{% set add3d6 = 'checked="checked"' %}{% endif %}
                        <tr><td class="lbl l"><input value="{{ name }}" class="form-control" id="voc_skill_name_{{x}}" name="voc_skill_name_{{x}}" placeholder="skill name" type="text" /></td>
                        <td><select class="form-control small" id="voc_attr_{{x}}" name="voc_attr_{{x}}">
                        <option value="NONE" {% if attr == "NONE" %}selected="selected" {% endif %} >NONE</option>
                        <option value="STR" {% if attr == "STR" %}selected="selected" {% endif %} >STR</option>
                        <option value="REF" {% if attr == "REF" %}selected="selected" {% endif %} >REF</option>
                        <option value="INT" {% if attr == "INT" %}selected="selected" {% endif %} >INT</option>
                        <option value="CBT" {% if attr == "CBT" %}selected="selected" {% endif %} >CBT</option>
                        </select></td>
                        <input value="0" id="voc_3d6_{{x}}" name="voc_3d6_{{x}}" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {{add3d6}} id="voc_3d6_{{x}}" name="voc_3d6_{{x}}" type="checkbox" /> 3d6</td>
                        <td><input value="{{ points }}" class="form-control small c" id="voc_skill_{{x}}" name="voc_skill_{{x}}" type="text" /></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
		<div class="col-12 col-md-4">
    		<div class="card">
                <table class="table">
                    <tr><td class="hdr l" colspan=5>Vocation</td></tr>
                    <tr><td class="lbl l"><input value="{{ variables.vocation_name_02 is defined ? variables.vocation_name_02 }}" class="form-control" id="vocation_name_02" name="vocation_name_02" type="text" /></td>
                        <td><select class="form-control small" id="vocation_attr_02" name="vocation_attr_02">
                        <option value="NONE" {% if variables.vocation_attr_02 is defined and variables.vocation_attr_02 == "NONE" %}selected="selected" {% endif %} >NONE</option>
                        <option value="STR" {% if variables.vocation_attr_02 is defined and variables.vocation_attr_02 == "STR" %}selected="selected" {% endif %} >STR</option>
                        <option value="REF" {% if variables.vocation_attr_02 is defined and variables.vocation_attr_02 == "REF" %}selected="selected" {% endif %} >REF</option>
                        <option value="INT" {% if variables.vocation_attr_02 is defined and variables.vocation_attr_02 == "INT" %}selected="selected" {% endif %} >INT</option>
                        </select></td>
                        <input value="0" id="vocation_3d6_02" name="vocation_3d6_02" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.vocation_3d6_02 is defined or (variables.vocation_3d6_02 is defined and variables.vocation_3d6_02 == 1) %} checked="checked"{% endif %} id="vocation_3d6_02" name="vocation_3d6_02" type="checkbox" /> 3d6</td>
                        <td><input value="{{ variables.vocation_skill_02 is defined ? variables.vocation_skill_02 }}" class="form-control small c" id="vocation_skill_02" name="vocation_skill_02" type="text" /></td>
                    </tr>
                </table>
                <table class="table">
                    <tr><td class="hdr l" colspan=5>Skills</td></tr>
                    {% for i in 5..8 %}{% set x = i %}{% if x < 10 %}{% set x = '0' ~ x %}{% endif %}
                        {% set name = attribute(variables, 'voc_skill_name_' ~ x) %}
                        {% set attr = attribute(variables, 'voc_attr_' ~ x) %}
                        {% set points = attribute(variables, 'voc_skill_' ~ x) %}
                        {% set add3d6 = attribute(variables, 'voc_3d6_' ~ x) %}{% if add3d6 == 1 or add3d6 == '' %}{% set add3d6 = 'checked="checked"' %}{% endif %}
                        <tr><td class="lbl l"><input value="{{ name }}" class="form-control" id="voc_skill_name_{{x}}" name="voc_skill_name_{{x}}" placeholder="skill name" type="text" /></td>
                        <td><select class="form-control small" id="voc_attr_{{x}}" name="voc_attr_{{x}}">
                        <option value="NONE" {% if attr == "NONE" %}selected="selected" {% endif %} >NONE</option>
                        <option value="STR" {% if attr == "STR" %}selected="selected" {% endif %} >STR</option>
                        <option value="REF" {% if attr == "REF" %}selected="selected" {% endif %} >REF</option>
                        <option value="INT" {% if attr == "INT" %}selected="selected" {% endif %} >INT</option>
                        <option value="CBT" {% if attr == "CBT" %}selected="selected" {% endif %} >CBT</option>
                        </select></td>
                        <input value="0" id="voc_3d6_{{x}}" name="voc_3d6_{{x}}" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {{add3d6}} id="voc_3d6_{{x}}" name="voc_3d6_{{x}}" type="checkbox" /> 3d6</td>
                        <td><input value="{{ points }}" class="form-control small c" id="voc_skill_{{x}}" name="voc_skill_{{x}}" type="text" /></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
		<div class="col-12 col-md-4">
    		<div class="card">
                <table class="table">
                    <tr><td class="hdr l" colspan=5>Vocation</td></tr>
                    <tr><td class="lbl l"><input value="{{ variables.vocation_name_03 is defined ? variables.vocation_name_03 }}" class="form-control" id="vocation_name_03" name="vocation_name_03" type="text" /></td>
                        <td><select class="form-control small" id="vocation_attr_03" name="vocation_attr_03">
                        <option value="NONE" {% if variables.vocation_attr_03 is defined and variables.vocation_attr_03 == "NONE" %}selected="selected" {% endif %} >NONE</option>
                        <option value="STR" {% if variables.vocation_attr_03 is defined and variables.vocation_attr_03 == "STR" %}selected="selected" {% endif %} >STR</option>
                        <option value="REF" {% if variables.vocation_attr_03 is defined and variables.vocation_attr_03 == "REF" %}selected="selected" {% endif %} >REF</option>
                        <option value="INT" {% if variables.vocation_attr_03 is defined and variables.vocation_attr_03 == "INT" %}selected="selected" {% endif %} >INT</option>
                        </select></td>
                        <input value="0" id="vocation_3d6_03" name="vocation_3d6_03" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {% if not variables.vocation_3d6_03 is defined or (variables.vocation_3d6_03 is defined and variables.vocation_3d6_03 == 1) %} checked="checked"{% endif %} id="vocation_3d6_03" name="vocation_3d6_03" type="checkbox" /> 3d6</td>
                        <td><input value="{{ variables.vocation_skill_03 is defined ? variables.vocation_skill_03 }}" class="form-control small c" id="vocation_skill_03" name="vocation_skill_03" type="text" /></td>
                    </tr>
                </table>
                <table class="table">
                    <tr><td class="hdr l" colspan=5>Skills</td></tr>
                    {% for i in 9..12 %}{% set x = i %}{% if x < 10 %}{% set x = '0' ~ x %}{% endif %}
                        {% set name = attribute(variables, 'voc_skill_name_' ~ x) %}
                        {% set attr = attribute(variables, 'voc_attr_' ~ x) %}
                        {% set points = attribute(variables, 'voc_skill_' ~ x) %}
                        {% set add3d6 = attribute(variables, 'voc_3d6_' ~ x) %}{% if add3d6 == 1 or add3d6 == '' %}{% set add3d6 = 'checked="checked"' %}{% endif %}
                        <tr><td class="lbl l"><input value="{{ name }}" class="form-control" id="voc_skill_name_{{x}}" name="voc_skill_name_{{x}}" placeholder="skill name" type="text" /></td>
                        <td><select class="form-control small" id="voc_attr_{{x}}" name="voc_attr_{{x}}">
                        <option value="NONE" {% if attr == "NONE" %}selected="selected" {% endif %} >NONE</option>
                        <option value="STR" {% if attr == "STR" %}selected="selected" {% endif %} >STR</option>
                        <option value="REF" {% if attr == "REF" %}selected="selected" {% endif %} >REF</option>
                        <option value="INT" {% if attr == "INT" %}selected="selected" {% endif %} >INT</option>
                        <option value="CBT" {% if attr == "CBT" %}selected="selected" {% endif %} >CBT</option>
                        </select></td>
                        <input value="0" id="voc_3d6_{{x}}" name="voc_3d6_{{x}}" type="hidden" />
                        <td class="lbl r" title="+3d6 base"><input value="1" {{add3d6}} id="voc_3d6_{{x}}" name="voc_3d6_{{x}}" type="checkbox" /> 3d6</td>
                        <td><input value="{{ points }}" class="form-control small c" id="voc_skill_{{x}}" name="voc_skill_{{x}}" type="text" /></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
	<div class="row my-2">
		<div class="col-12 col-md-4">
    		<div class="card">
                <table class="table">
                    <tr><th class="hdr l">Injuries</th><tr><tr><td class="boxes c"><input value="{{ variables.injury_count is defined ? variables.injury_count }}" class="form-control med c" id="injury_count" name="injury_count" type="text" placeholder="Injury Count" /></td></tr>
                    <tr><th class="txt sm c"><b>When the level of injury exceeds your BASE ROLL</b> (3) + ATTRIBUTE POINTS, you fall <b>unconscious</b>.</th></tr>
                    <tr><th class="hdr l">Lingering Injuries / Penalties</th></tr><tr><td class="txt l"><textarea class="form-control" id="injury" name="injury" rows="3">{{ variables.injury is defined ? variables.injury }}</textarea></td></tr>
                    <tr><th class="hdr l" title="Armour Points">Armour</th><tr><tr><td class="boxes r">Armour Points <input title="Armour Points" value="{{ variables.armour is defined ? variables.armour }}" class="form-control small c" id="armour" name="armour" type="text" /></td></tr>
                </table>
            </div>
        </div>
		<div class="col-12 col-md-4">
    		<div class="card">
                <table class="table">
                    <tr><th class="hdr l">Destiny Points</th><tr><tr><td class="boxes c"><input value="{{ variables.destiny_points is defined ? variables.destiny_points }}" class="form-control small c" id="destiny_points" name="destiny_points" type="text" /></td></tr>
                    <tr><th class="hdr l">Commerce Points</th><tr><tr><td class="boxes c"><input value="{{ variables.commerce_points is defined ? variables.commerce_points }}" class="form-control small c" id="commerce_points" name="commerce_points" type="text" /></td></tr>
                    <tr><th class="hdr l">Custom Tracker</th><tr><tr><td class="boxes c"><input value="{{ variables.trackern1 is defined ? variables.trackern1 }}" class="form-control midi c" id="trackern1" name="trackern1" type="text" placeholder="Tracker Name"/> <input title="Value" value="{{ variables.trackerv1 is defined ? variables.trackerv1 }}" class="form-control small c" id="trackerv1" name="trackerv1" type="text" placeholder="Value" /></td></tr>
                </table>
            </div>
    		<div class="card">
                <div class="card-header hdr">Inventory / Equipment</div>
                <div class="card-body of"><textarea class="form-control" id="inventory_equipment" name="inventory_equipment" rows="3">{{ variables.inventory_equipment is defined ? variables.inventory_equipment }}</textarea></div>
            </div>
        </div>
		<div class="col-12 col-md-4">
    		<div class="card">
                <div class="card-header hdr">Notes</div>
                <div class="card-body of"><textarea class="form-control" id="notes" name="notes" rows="3">{{ variables.notes is defined ? variables.notes }}</textarea></div>
            </div>
        </div>
    </div>
</div>