<div class="cogent-sheet">
	<div class="row">
		<div class="col-12 col-md-6">
            <table class="table trackertable">
                <tr><td class="lbl l">Destiny Points</td><td class="txt r"><input value="{{ variables.destiny_points is defined ? variables.destiny_points }}" class="form-control c" id="destiny_points" name="destiny_points" type="number" min="0" max="5" /></td></tr>
                <tr><td class="lbl l">Commerce Points</td><td class="txt r"><input value="{{ variables.commerce_points is defined ? variables.commerce_points }}" class="form-control c" id="commerce_points" name="commerce_points" type="number" min="0" max="8" /></td></tr>
                {% if variables.trackern1 is defined and variables.trackern1 != '' %}
                <tr><td class="lbl l">{{variables.trackern1}}</td><td class="txt r"><input value="{{ variables.trackerv1 is defined ? variables.trackerv1 }}" class="form-control c" id="trackerv1" name="trackerv1" type="text" /></td></tr>
                {% endif %}
            </table>
        </div>
		<div class="col-12 col-md-6">
            <table class="table trackertable">
                <tr><td class="lbl l">Injury Count</td><td class="txt r"><input value="{{ variables.injury_count is defined ? variables.injury_count }}" class="form-control c" id="injury_count" name="injury_count" type="number" min="0" max="6" /></td></tr>
                <tr><td class="lbl l" colspan=2>Injuries / Penalties</td></tr><tr><td class="txt r" colspan=2><textarea class="form-control tracker" id="injury" name="injury" rows="1">{{ variables.injury is defined ? variables.injury }}</textarea></td></tr>
            </table>
        </div>
    </div>
	<div class="row my-2">
		<div class="col-12 col-md-6">
            <table class="table trackertable">
                <tr><td class="lbl l">Inventory / Equipment</td></tr><tr><td class="txt r"><textarea class="form-control tracker" id="inventory_equipment" name="inventory_equipment" rows="1">{{ variables.inventory_equipment is defined ? variables.inventory_equipment }}</textarea></td></tr>
            </table>
        </div>
		<div class="col-12 col-md-6">
            <table class="table trackertable">
                <tr><td class="lbl l">Notes</td></tr><tr><td class="txt r"><textarea class="form-control tracker" id="notes" name="notes" rows="1">{{ variables.notes is defined ? variables.notes }}</textarea></td></tr>
            </table>
        </div>
    </div>
</div>