{% if meta.block.template.displayStyling %}
<style for="template-{{ meta.identifier }}">
	{{  meta.block.template.displayStyling }}
</style>
{% endif %}

<div class="statblock template-{{ meta.identifier }} system-{{ meta.RPGSRD }}">
	{% block body %} 

	{% endblock %}
	{% if meta.block.tabularData %}
	<div>
		<hr>
		{{ meta.block.tabularData|ParseTable|BBcode }}
	</div>
	{% endif %}
</div>
