<!-- made by Tillerz#3807 v1.00 -->
{% macro genSkill(id, name, value) %}{% if name is defined and name != '' %}
{% set eo = "od sk" %}{% if id is even %}{% set eo = "ev sk" %}{% endif %}
{% set v = "0" %}{% if value is defined and value > 0 %}{% set v = value %}{% endif %}{% if v < 10 %}{% set v = '0' ~ v %}{% endif %}
<tr><td rowspan=2 class="tdskn {{eo}}">{{name}}</td><td rowspan=2 class="tdskv {{eo}}">{{v}}</td><td title="Skill divided by 2" class="tdsku {{eo}}">{{ v // 2}}</td></tr>
</tr><td title="Skill divided by 5" class="tdskl {{eo}}">{{ v // 5}}</td></tr>{% endif %}
{% endmacro genSkill %}
{% macro genAlert(s) %}
{% if s is defined and s != '' %}<span class="alert alert-danger">{{s}}</span>{% endif %}
{% endmacro genAlert %}
{% macro genPills(curr, max, start) %}
    {% if curr is defined and max is defined and max > 0 %}
        {% for i in start..max %}
            {% set x = i %}
            {% if x < 10 %}{% set x = '0' ~ x %}{% endif %}
            {% if i == curr %}
                <p class="solidpill">{{x}}</p>
            {% else %}
                <p class="emptypill">{{x}}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro genPills %}
{% macro genWeapon(id, name, reg, hard, ext, damage, range, att, ammo, malf) %}
    {% if name is defined and name != '' %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
    <tr>
        <td class="{{eo}} pl">{{name}}</td>
        <td class="{{eo}} tdc" title="+DB: add damage bonus">{{damage}}</td>
        <td class="{{eo}} tdc">{{range}}</td>
        <td class="{{eo}} tdc">{{att}}</td>
        {% if range > 0 %}<td class="{{eo}} tdc">{{ammo}}</td><td class="{{eo}} tdc" title="chance of malfunction">{{malf}}</td>{% else %}<td class="{{eo}} tdc">-</td><td class="{{eo}} tdc" title="chance of malfunction">-</td>{% endif %}
        <td class="{{eo}} tdc">{{reg}}</td>
        <td class="{{eo}} tdc">{{hard}}</td>
        <td class="{{eo}} tdc">{{ext}}</td>
    </tr>
    {% endif %}
{% endmacro genWeapon %}
<div class="container-fluid coc-sheet">
{% set dmgbonus = "0" %}{% set build = "0" %}
{% if variables.strength is defined and variables.size is defined %}
    {% set tmp = variables.strength + variables.size %}
    {% set dmgbonus = "-2" %}{% set build = "-2" %}
    {% if tmp > 64 %}{% set dmgbonus = "-1" %}{% set build = "-1" %}{% endif %}
    {% if tmp > 84 %}{% set dmgbonus = "0" %}{% set build = "0" %}{% endif %}
    {% if tmp > 124 %}{% set dmgbonus = "1d4" %}{% set build = "+1" %}{% endif %}
    {% if tmp > 164 %}{% set dmgbonus = "1d6" %}{% set build = "+2" %}{% endif %}
{% endif %}
{% set mov = "?" %}
    {% if variables.dexterity is defined and  variables.strength is defined and variables.size is defined %}
    {% if variables.dexterity + variables.strength >= variables.size %}{% set mov = 7 %}{% endif %}
    {% if variables.strength >= variables.size %}{% set mov = 8 %}{% endif %}
    {% if variables.dexterity >= variables.size %}{% set mov = 8 %}{% endif %}
    {% if variables.dexterity > variables.size %}
        {% if variables.strength > variables.size %}{% set mov = 9 %}{% endif %}
    {% endif %}
    {% if variables.age is defined %}
        {% if variables.age // 10 == 4 %}{% set mov = mov -1 %}{% endif %}
        {% if variables.age // 10 == 5 %}{% set mov = mov -2 %}{% endif %}
        {% if variables.age // 10 == 6 %}{% set mov = mov -3 %}{% endif %}
        {% if variables.age // 10 == 7 %}{% set mov = mov -4 %}{% endif %}
        {% if variables.age // 10 == 8 %}{% set mov = mov -5 %}{% endif %}
    {% endif %}
{% endif %}
{% set hp = (variables.constitution + variables.size) // 10 %}
{% if variables.skill_value_11 is defined and variables.skill_value_11 > 0 %}{% set dodge = variables.skill_value_11 %}{% else %}{% set dodge = variables.dexterity // 2 %}
{% endif %}
    <div class="row">
        <div class="col-lg-12 hidden-md hidden-xs hidden-sm d-none d-lg-block">
            <div class="row logo" title="Call of Cthulhu Logo"> <!-- CoC Logo --></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Investigator Sheet</span></div>
                <div class="card-body">
                    <table width="100%">
                        <tr><td class="tdl" width="40%">Name</td><td class="tdr"> {% if variables.name is defined %}{{ variables.name}}{% endif %}</td></tr>
                        <tr><td class="tdl">Occupation</td><td class="tdr"> {% if variables.occupation is defined %}{{ variables.occupation}}{% endif %}</td></tr>
                        <tr><td class="tdl">Age</td><td class="tdr"> {% if variables.age is defined %}{{ variables.age}}{% endif %}</td></tr>
                        <tr><td class="tdl">Sex</td><td class="tdr"> {% if variables.sex is defined %}{{ variables.sex}}{% endif %}</td></tr>
                        <tr><td class="tdl">Residence</td><td class="tdr"> {% if variables.residence is defined %}{{ variables.residence}}{% endif %}</td></tr>
                        <tr><td class="tdl">Birthplace</td><td class="tdr"> {% if variables.birthplace is defined %}{{ variables.birthplace}}{% endif %}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Characteristics</span></div>
                <div class="card-body">
                    <table class="marginsm">
                    <tr>
                        <th rowspan="2" class="tdb" title="Strength">STR</th>
                        <td rowspan="2" class="tdbbl" >{{ variables.strength }}</td>
                        <td class="tdsu">{{ variables.strength // 2 }}</td>
                        <th rowspan="2" class="tdb" title="Dexterity">DEX</th>
                        <td rowspan="2" class="tdbbl" >{{ variables.dexterity }}</td>
                        <td class="tdsu">{{ variables.dexterity // 2 }}</td>
                        <th rowspan="2" class="tdb" title="Intelligence">INT<br><small>Idea</small></th>
                        <td rowspan="2" class="tdbbl" >{{ variables.intelligence }}</td>
                        <td class="tdsu">{{ variables.intelligence // 2 }}</td>
                    </tr>
                    <tr>
                        <td class="tdsl">{{ variables.strength // 5 }}</td>
                        <td class="tdsl">{{ variables.dexterity // 5 }}</td>
                        <td class="tdsl">{{ variables.intelligence // 5 }}</td>
                    </tr>
                    <tr>
                        <th rowspan="2" class="tdb" title="Constitution">CON</th>
                        <td rowspan="2" class="tdbbl" >{{ variables.constitution }}</td>
                        <td class="tdsu">{{ variables.constitution // 2 }}</td>
                        <th rowspan="2" class="tdb" title="Appearance">APP</th>
                        <td rowspan="2" class="tdbbl" >{{ variables.appearance }}</td>
                        <td class="tdsu">{{ variables.appearance // 2 }}</td>
                        <th rowspan="2" class="tdb" title="Power">POW</th>
                        <td rowspan="2" class="tdbbl" >{{ variables.power }}</td>
                        <td class="tdsu">{{ variables.power // 2 }}</td>
                    </tr>
                    <tr>
                        <td class="tdsl">{{ variables.constitution // 5 }}</td>
                        <td class="tdsl">{{ variables.appearance // 5 }}</td>
                        <td class="tdsl">{{ variables.power // 5 }}</td>
                    </tr>
                    <tr>
                        <th rowspan="2" class="tdb" title="Size">SIZ</th>
                        <td rowspan="2" class="tdbbl" >{{ variables.size }}</td>
                        <td class="tdsu">{{ variables.size // 2 }}</td>
                        <th rowspan="2" class="tdb" title="Education">EDU</th>
                        <td rowspan="2" class="tdbbl" >{{ variables.education }}</td>
                        <td class="tdsu">{{ variables.education // 2 }}</td>
                        <th rowspan="2" class="tdm">Move<br>Rate</th>
                        <td rowspan="2" class="tdbbl" >{{mov}}</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="tdsl">{{ variables.size // 5 }}</td>
                        <td class="tdsl">{{ variables.education // 5 }}</td>
                        <td >&nbsp;</td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-3">
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Combat</span></div>
                <div class="card-body">
                    <table width="100%">
                        <tr>
                            <td class="tdb">Damage Bonus</td>
                            <td colspan="2" class="tdbbl">{{dmgbonus}}</td>
                        </tr>
                        <tr>
                            <td class="tdb">Build</td>
                            <td colspan="2" class="tdbbl">{{build}}</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="tdb">Dodge</td>
                            <td rowspan="2" class="tdbbl">{{dodge}}</td>
                            <td title="Dodge divided by 2"class="tdsu">{{dodge // 2}}</td>
                        </tr>
                        <tr>
                            <td title="Dodge divided by 2"class="tdsl">{{dodge // 5}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-9">
            <div class="card my-2 weapontable">
                <div class="card-header head-bar"><span class="wbg">Weapons</span></div>
                <div class="card-body">
                    <table width="100%">
                    <tr>
                        <td class="pl">Name</td>
                        <td class="tdc">Damage</td>
                        <td class="tdc">Range</td>
                        <td class="tdc">Attacks</td>
                        <td class="tdc">Ammo</td>
                        <td class="tdc" title="chance of malfunction">Malf.</td>
                        <td class="tdc">Regular</td>
                        <td class="tdc">Hard</td>
                        <td class="tdc">Extreme</td>
                    </tr>
                    {{ _self.genWeapon("01", variables.weapon_name_01, variables.weapon_reg_01, variables.weapon_hard_01, variables.weapon_ext_01, variables.weapon_damage_01, variables.weapon_range_01, variables.weapon_attacks_01, variables.weapon_ammo_01, variables.weapon_malf_01) }}
                    {{ _self.genWeapon("02", variables.weapon_name_02, variables.weapon_reg_02, variables.weapon_hard_02, variables.weapon_ext_02, variables.weapon_damage_02, variables.weapon_range_02, variables.weapon_attacks_02, variables.weapon_ammo_02, variables.weapon_malf_02) }}
                    {{ _self.genWeapon("03", variables.weapon_name_03, variables.weapon_reg_03, variables.weapon_hard_03, variables.weapon_ext_03, variables.weapon_damage_03, variables.weapon_range_03, variables.weapon_attacks_03, variables.weapon_ammo_03, variables.weapon_malf_03) }}
                    {{ _self.genWeapon("04", variables.weapon_name_04, variables.weapon_reg_04, variables.weapon_hard_04, variables.weapon_ext_04, variables.weapon_damage_04, variables.weapon_range_04, variables.weapon_attacks_04, variables.weapon_ammo_04, variables.weapon_malf_04) }}
                    {{ _self.genWeapon("05", variables.weapon_name_05, variables.weapon_reg_05, variables.weapon_hard_05, variables.weapon_ext_05, variables.weapon_damage_05, variables.weapon_range_05, variables.weapon_attacks_05, variables.weapon_ammo_05, variables.weapon_malf_05) }}
                    {{ _self.genWeapon("06", variables.weapon_name_06, variables.weapon_reg_06, variables.weapon_hard_06, variables.weapon_ext_06, variables.weapon_damage_06, variables.weapon_range_06, variables.weapon_attacks_06, variables.weapon_ammo_06, variables.weapon_malf_06) }}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 col-lg-3 my-2">
            <div class="card my-2">
{% set s = '' %}{% if variables.hit_points_current is defined and variables.hit_points_current < 1 %}{% set s = 'Unconscious' %}
{% if variables.major_wound is defined and variables.major_wound == 1 %}{% set s = 'Dying' %}{% endif %}
{% else %}
{% if variables.major_wound is defined and variables.major_wound == 1 %}{% set s = 'Major Wound' %}{% endif %}
{% endif %}
                <div class="card-header head-bar"><span class="wbg">Hitpoints</span>{% if s != '' %}{{ _self.genAlert( s ) }}{% endif %}</div>
                <div class="card-body">
                {{ _self.genPills( variables.hit_points_current , hp ) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 col-lg-9 my-2">
            <div class="card my-2">
{% set s = '' %}
{% if variables.sanity_current is defined and variables.sanity_current == 0 %}
{% if variables.temp_insane is defined and variables.temp_insane == 1 %}{% set s = 'Temporarily Insane' %}{% endif %}
{% if variables.indef_insane is defined and variables.indef_insane == 1 %}{% set s = 'Indefinitely Insane' %}{% endif %}
{% endif %}
{% set mx = 99 %}
{% if variables.skill_value_9 is defined %}{% set mx = 99 - variables.skill_value_9 %}{% endif %}
                <div class="card-header head-bar"><span class="wbg">Sanity</span>{% if s != '' %}{{ _self.genAlert( s ) }}{% endif %}</div>
                <div class="card-body">
                {{ _self.genPills( variables.sanity_current , mx, 0 ) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9 col-lg-9">
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Luck</span>{% if variables.luck_current is defined and variables.luck_current == 0 %}{{ _self.genAlert( "Out of Luck" ) }}{% endif %}</div>
                <div class="card-body">
                {{ _self.genPills( variables.luck_current , variables.luck_max, 0 ) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
            <div class="card my-2">
{% set mx = 0 %}
{% if variables.power is defined %}{% set mx = variables.power // 5 %}{% endif %}
                <div class="card-header head-bar"><span class="wbg">Magic Points</span></div>
                <div class="card-body">
                {{ _self.genPills( variables.magic_points_current , mx, 0 ) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Investigator Skills</span></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-4">
                            <table class="skilltable">
                            {{ _self.genSkill(1, variables.skill_name_1, variables.skill_value_1) }}
                            {{ _self.genSkill(2, variables.skill_name_2, variables.skill_value_2) }}
                            {{ _self.genSkill(3, variables.skill_name_3, variables.skill_value_3) }}
                            {{ _self.genSkill(4, variables.skill_name_4, variables.skill_value_4) }}
                            {{ _self.genSkill(5, variables.skill_name_5, variables.skill_value_5) }}
                            {{ _self.genSkill(6, variables.skill_name_6, variables.skill_value_6) }}
                            {{ _self.genSkill(7, variables.skill_name_7, variables.skill_value_7) }}
                            {{ _self.genSkill(8, variables.skill_name_8, variables.skill_value_8) }}
                            {{ _self.genSkill(9, variables.skill_name_9, variables.skill_value_9) }}
                            {{ _self.genSkill(10, variables.skill_name_10, variables.skill_value_10) }}
                            {{ _self.genSkill(11, variables.skill_name_11, dodge) }}
                            {{ _self.genSkill(12, variables.skill_name_12, variables.skill_value_12) }}
                            {{ _self.genSkill(13, variables.skill_name_13, variables.skill_value_13) }}
                            {{ _self.genSkill(14, variables.skill_name_14, variables.skill_value_14) }}
                            {{ _self.genSkill(15, variables.skill_name_15, variables.skill_value_15) }}
                            {{ _self.genSkill(16, variables.skill_name_16, variables.skill_value_16) }}
                            {{ _self.genSkill(17, variables.skill_name_17, variables.skill_value_17) }}
                            {{ _self.genSkill(18, variables.skill_name_18, variables.skill_value_18) }}
                            {{ _self.genSkill(19, variables.skill_name_19, variables.skill_value_19) }}
                            {{ _self.genSkill(20, variables.skill_name_20, variables.skill_value_20) }}
                            {{ _self.genSkill(21, variables.skill_name_21, variables.skill_value_21) }}
                            {{ _self.genSkill(22, variables.skill_name_22, variables.skill_value_22) }}
                            </table>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <table class="skilltable">
                            {{ _self.genSkill(23, variables.skill_name_23, variables.skill_value_23) }}
                            {{ _self.genSkill(24, variables.skill_name_24, variables.skill_value_24) }}
                            {{ _self.genSkill(25, variables.skill_name_25, variables.skill_value_25) }}
                            {{ _self.genSkill(26, variables.skill_name_26, variables.skill_value_26) }}
                            {{ _self.genSkill(27, variables.skill_name_27, variables.skill_value_27) }}
                            {{ _self.genSkill(28, variables.skill_name_28, variables.skill_value_28) }}
                            {{ _self.genSkill(29, variables.skill_name_29, variables.skill_value_29) }}
                            {{ _self.genSkill(30, variables.skill_name_30, variables.skill_value_30) }}
                            {{ _self.genSkill(31, variables.skill_name_31, variables.skill_value_31) }}
                            {{ _self.genSkill(32, variables.skill_name_32, variables.skill_value_32) }}
                            {{ _self.genSkill(33, variables.skill_name_33, variables.skill_value_33) }}
                            {{ _self.genSkill(34, variables.skill_name_34, variables.skill_value_34) }}
                            {{ _self.genSkill(35, variables.skill_name_35, variables.skill_value_35) }}
                            {{ _self.genSkill(36, variables.skill_name_36, variables.skill_value_36) }}
                            {{ _self.genSkill(37, variables.skill_name_37, variables.skill_value_37) }}
                            {{ _self.genSkill(38, variables.skill_name_38, variables.skill_value_38) }}
                            {{ _self.genSkill(39, variables.skill_name_39, variables.skill_value_39) }}
                            {{ _self.genSkill(40, variables.skill_name_40, variables.skill_value_40) }}
                            {{ _self.genSkill(41, variables.skill_name_41, variables.skill_value_41) }}
                            {{ _self.genSkill(42, variables.skill_name_42, variables.skill_value_42) }}
                            {{ _self.genSkill(43, variables.skill_name_43, variables.skill_value_43) }}
                            {{ _self.genSkill(44, variables.skill_name_44, variables.skill_value_44) }}
                            </table>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <table class="skilltable">
                            {{ _self.genSkill(45, variables.skill_name_45, variables.skill_value_45) }}
                            {{ _self.genSkill(46, variables.skill_name_46, variables.skill_value_46) }}
                            {{ _self.genSkill(47, variables.skill_name_47, variables.skill_value_47) }}
                            {{ _self.genSkill(48, variables.skill_name_48, variables.skill_value_48) }}
                            {{ _self.genSkill(49, variables.skill_name_49, variables.skill_value_49) }}
                            {{ _self.genSkill(50, variables.skill_name_50, variables.skill_value_50) }}
                            {{ _self.genSkill(51, variables.skill_name_51, variables.skill_value_51) }}
                            {{ _self.genSkill(52, variables.skill_name_52, variables.skill_value_52) }}
                            {{ _self.genSkill(53, variables.skill_name_53, variables.skill_value_53) }}
                            {{ _self.genSkill(54, variables.skill_name_54, variables.skill_value_54) }}
                            {{ _self.genSkill(55, variables.skill_name_55, variables.skill_value_55) }}
                            {{ _self.genSkill(56, variables.skill_name_56, variables.skill_value_56) }}
                            {{ _self.genSkill(57, variables.skill_name_57, variables.skill_value_57) }}
                            {{ _self.genSkill(58, variables.skill_name_58, variables.skill_value_58) }}
                            {{ _self.genSkill(59, variables.skill_name_59, variables.skill_value_59) }}
                            {{ _self.genSkill(60, variables.skill_name_60, variables.skill_value_60) }}
                            {{ _self.genSkill(61, variables.skill_name_61, variables.skill_value_61) }}
                            {{ _self.genSkill(62, variables.skill_name_62, variables.skill_value_62) }}
                            {{ _self.genSkill(63, variables.skill_name_63, variables.skill_value_63) }}
                            {{ _self.genSkill(64, variables.skill_name_64, variables.skill_value_64) }}
                            {{ _self.genSkill(65, variables.skill_name_65, variables.skill_value_65) }}
                            {{ _self.genSkill(66, variables.skill_name_66, variables.skill_value_66) }}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Personal Description</span></div>
                <div class="card-body txt">
                    {{ variables.personal is defined ? variables.personal|nl2br }}
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Ideology / Beliefs</span></div>
                <div class="card-body txt">
                    {{ variables.beliefs is defined ? variables.beliefs|nl2br }}
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Significant People</span></div>
                <div class="card-body txt">
                    {{ variables.people is defined ? variables.people|nl2br }}
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Meaningful Locations</span></div>
                <div class="card-body txt">
                    {{ variables.locations is defined ? variables.locations|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Treasured Possessions</span></div>
                <div class="card-body txt">
                    {{ variables.treasures is defined ? variables.treasures|nl2br }}
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Traits</span></div>
                <div class="card-body txt">
                    {{ variables.traits is defined ? variables.traits|nl2br }}
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Injuries and Scars</span></div>
                <div class="card-body txt">
                    {{ variables.injuries is defined ? variables.injuries|nl2br }}
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Phobias and Manias</span></div>
                <div class="card-body txt">
                    {{ variables.phobias is defined ? variables.phobias|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Arcane Tomes, Spells and Artifacts</span></div>
                <div class="card-body txt">
                    {{ variables.tomes is defined ? variables.tomes|nl2br }}
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Encounters with Strange Entities</span></div>
                <div class="card-body txt">
                    {{ variables.encounters is defined ? variables.encounters|nl2br }}
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Gear and Possessions</span></div>
                <div class="card-body txt">
                    {{ variables.gear is defined ? variables.gear|nl2br }}
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar"><span class="wbg">Cash and Assets</span></div>
                <div class="card-body txt">
                    Spending Level: <strong>{{ variables.spending_level is defined ? variables.spending_level|number_format }}</strong><br>
                    Money: <strong>{{ variables.money is defined ? variables.money|number_format }}</strong><br>
                    {{ variables.assets is defined ? variables.assets|nl2br }}
                </div>
            </div>
        </div>
    </div>
    <div class="row"><div class="col-12 text-center"><small>Call of Cthulhu (c) by Chaosium, Inc.<br><a href="/w/sheet-creation/a/sheet-list">Call of Cthulhu Edition 7 Character Sheet v1.00</a>, made by Tillerz#3807 - 2020-05-04</small></div></div>
</div> <!-- close container-sheet -->