{% import _self as sheet %}
{# ------------------------- #}
{% macro genSkill(id = 1, name = '', value = '', dn = '', dv = '') %}{% if dn != '' %}{% set name = dn %}{% endif %}
{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
{% set v = dv %}{% if value > 0 %}{% set v = value %}{% endif %}
{% if value == "" and dn == "" %}{% set name = "" %}{% set v = "" %}{% endif %}
<tr><td rowspan=2 class="tdskn {{eo}}">
{% if id < 47 %} 
        <input value="{{name}}" class="form-control" id="skill_name_{{id}}" name="skill_name_{{id}}" placeholder="" type="hidden" /> {{name}}
</td><td rowspan=2 class="tdskvf {{eo}}">
        <input value="{{v}}" class="form-control al" id="skill_value_{{id}}" name="skill_value_{{id}}" placeholder="" type="number" min="0" max="99" />
{% else %}
        <input value="{{name}}" class="form-control" id="skill_name_{{id}}" name="skill_name_{{id}}" placeholder="" type="text" />
</td><td rowspan=2 class="tdskvf {{eo}} pl">
        <input value="{{v}}" class="form-control al" id="skill_value_{{id}}" name="skill_value_{{id}}" placeholder="" type="number" min="0" max="99" />
{% endif %}
</td><td title="Skill divided by 2" class="tdsku {{eo}}">{{ v // 2}}</td></tr>
</tr><td title="Skill divided by 5" class="tdskl {{eo}}">{{ v // 5}}</td></tr>
{% endmacro genSkill %}
{# ------------------------- #}
{% macro genWeapon(id, name, reg, hard, ext, damage, range, att, ammo, malf) %}
{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
<tr>
    <td class="{{eo}} pl"><input value="{{name}}" class="form-control" id="weapon_name_{{id}}" name="weapon_name_{{id}}" placeholder="" type="text" /></td>
    <td class="{{eo}} tdc w80"><input value="{{reg}}" class="form-control" id="weapon_reg_{{id}}" name="weapon_reg_{{id}}" placeholder="" size="3" type="number" /></td>
    <td class="{{eo}} tdc w80"><input value="{{hard}}" class="form-control" id="weapon_hard_{{id}}" name="weapon_hard_{{id}}" placeholder="" size="3" type="number" /></td>
    <td class="{{eo}} tdc w80"><input value="{{ext}}" class="form-control" id="weapon_ext_{{id}}" name="weapon_ext_{{id}}" placeholder="" size="3" type="number" /></td>
    <td class="{{eo}} tdc"><input value="{{damage}}" class="form-control" id="weapon_damage_{{id}}" name="weapon_damage_{{id}}" placeholder="" size="10" type="text" /></td>
    <td class="{{eo}} tdc w80"><input value="{{range}}" class="form-control" id="weapon_range_{{id}}" name="weapon_range_{{id}}" placeholder="" size="10" type="text" /></td>
    <td class="{{eo}} tdc w80"><input value="{{att}}" class="form-control" id="weapon_attacks_{{id}}" name="weapon_attacks_{{id}}" placeholder="" size="2" type="number" /></td>
    <td class="{{eo}} tdc w80"><input value="{{ammo}}" class="form-control" id="weapon_ammo_{{id}}" name="weapon_ammo_{{id}}" placeholder="" size="2" type="number" /></td>
    <td class="{{eo}} tdc"><input value="{{malf}}" class="form-control " id="weapon_malf_{{id}}" name="weapon_malf_{{id}}" placeholder="" size="10" type="text" /></td>
</tr>
{% endmacro genWeapon %}
{# ------------------------- #}
<div class="container-fluid coc-sheet coc-sheet-global-wrapper">
    <div class="form-wrapper">
        <div class="row">
            <div class="col-lg-12 hidden-md hidden-xs hidden-sm d-none d-lg-block">
                <div class="row logo" title="Call of Cthulhu Logo"> <!-- CoC Logo --></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">1920s Era Investigator</span></div>
                    <div class="card-body">
                        <table width="95%">
                            <tr><td class="tdl">Name</td><td class="tdr_form"> <input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="Your name" type="text" /></td></tr>
                            <tr><td class="tdl">Occupation</td><td class="tdr_form"> <input value="{{ variables.occupation is defined ? variables.occupation }}" class="form-control" id="occupation" name="occupation" placeholder="Your occupation" type="text" /></td></tr>
                            <tr><td class="tdl">Age</td><td class="tdr_form"> <input value="{{ variables.age is defined ? variables.age }}" class="form-control" id="age" name="age" placeholder="Your age" size="3" type="number" /></td></tr>
                            <tr><td class="tdl">Sex</td><td class="tdr_form"> <input value="{{ variables.sex is defined ? variables.sex }}" class="form-control" id="sex" name="sex" placeholder="Your sex" type="text" /></td></tr>
                            <tr><td class="tdl">Residence</td><td class="tdr_form"> <input value="{{ variables.residence is defined ? variables.residence }}" class="form-control" id="residence" name="residence" placeholder="Your residence, eg London" type="text" /></td></tr>
                            <tr><td class="tdl">Birthplace</td><td class="tdr_form"> <input value="{{ variables.birthplace is defined ? variables.birthplace }}" class="form-control" id="birthplace" name="birthplace" placeholder="Your birthplace, eg Boston" type="text" /></td></tr>
                            <tr><td class="tdl">Flair</td><td class="tdr_form">
                                {% set flair = variables.flair|default('1920s') %}{% if flair == '' %}{% set flair = '1920s' %}{% endif %}
                                <select class="form-control" id="flair" name="flair">
                                    <option value="1920s" {% if flair == "1920s" %}selected="selected" {% endif %} >1920s</option>
                                    <option value="1930s" {% if flair == "1930s" %}selected="selected" {% endif %} >1930s</option>
                                    <option value="ages" {% if flair == "ages" %}selected="selected" {% endif %} >Dark Ages</option>
                                    <option value="trails" {% if flair == "trails" %}selected="selected" {% endif %} >Down Darker Trails</option>
                                    <option value="modern" {% if flair == "modern" %}selected="selected" {% endif %} >Modern</option>
                                    <option value="regency" {% if flair == "regency" %}selected="selected" {% endif %} >Regency</option>
                                </select>
                            </td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Characteristics</span></div>
                    <div class="card-body">
                        <table class="marginsm">
                        <tr>
                            <th rowspan="2" class="tdb" title="Strength">STR</th>
                            <td rowspan="2" class="tdbbl_form" ><input value="{{ variables.strength is defined ? variables.strength }}" class="form-control" id="strength" name="strength" placeholder="" size="2" type="number" min="0" max="99" /></td>
                            <td class="tdsu">{{ variables.strength is defined ? variables.strength // 2 }}</td>
                            <th rowspan="2" class="tdb" title="Dexterity">DEX</th>
                            <td rowspan="2" class="tdbbl_form" ><input value="{{ variables.dexterity is defined ? variables.dexterity }}" class="form-control" id="dexterity" name="dexterity" placeholder="" size="2" type="number" min="0" max="99" /></td>
                            <td class="tdsu">{{ variables.dexterity is defined ? variables.dexterity // 2 }}</td>
                            <th rowspan="2" class="tdb" title="Intelligence">INT<br><small>Idea</small></th>
                            <td rowspan="2" class="tdbbl_form" ><input value="{{ variables.intelligence is defined ? variables.intelligence }}" class="form-control" id="intelligence" name="intelligence" placeholder="" size="2" type="number" min="0" max="99" /></td>
                            <td class="tdsu">{{ variables.intelligence is defined ? variables.intelligence // 2 }}</td>
                        </tr>
                        <tr>
                            <td class="tdsl">{{ variables.strength is defined ? variables.strength // 5 }}</td>
                            <td class="tdsl">{{ variables.dexterity is defined ? variables.dexterity // 5 }}</td>
                            <td class="tdsl">{{ variables.intelligence is defined ? variables.intelligence // 5 }}</td>
                        </tr>
                        <tr>
                            <th rowspan="2" class="tdb" title="Constitution">CON</th>
                            <td rowspan="2" class="tdbbl_form" ><input value="{{ variables.constitution is defined ? variables.constitution }}" class="form-control" id="constitution" name="constitution" placeholder="" size="2" type="number" min="0" max="99" /></td>
                            <td class="tdsu">{{ variables.constitution is defined ? variables.constitution // 2 }}</td>
                            <th rowspan="2" class="tdb" title="Appearance">APP</th>
                            <td rowspan="2" class="tdbbl_form" ><input value="{{ variables.appearance is defined ? variables.appearance }}" class="form-control" id="appearance" name="appearance" placeholder="" size="2" type="number" min="0" max="99" /></td>
                            <td class="tdsu">{{ variables.appearance is defined ? variables.appearance // 2 }}</td>
                            <th rowspan="2" class="tdb" title="Power">POW</th>
                            <td rowspan="2" class="tdbbl_form" ><input value="{{ variables.power is defined ? variables.power }}" class="form-control" id="power" name="power" placeholder="" size="2" type="number" min="0" max="99" /></td>
                            <td class="tdsu">{{ variables.power is defined ? variables.power // 2 }}</td>
                        </tr>
                        <tr>
                            <td class="tdsl">{{ variables.constitution is defined ? variables.constitution // 5 }}</td>
                            <td class="tdsl">{{ variables.appearance is defined ? variables.appearance // 5 }}</td>
                            <td class="tdsl">{{ variables.power is defined ? variables.power // 5 }}</td>
                        </tr>
                        <tr>
                            <th rowspan="2" class="tdb" title="Size">SIZ</th>
                            <td rowspan="2" class="tdbbl_form" ><input value="{{ variables.size is defined ? variables.size }}" class="form-control" id="size" name="size" placeholder="" size="2" type="number" min="0" max="99" /></td>
                            <td class="tdsu">{{ variables.size is defined ? variables.size // 2 }}</td>
                            <th rowspan="2" class="tdb" title="Education">EDU</th>
                            <td rowspan="2" class="tdbbl_form" ><input value="{{ variables.education is defined ? variables.education }}" class="form-control" id="education" name="education" placeholder="" size="2" type="number" min="0" max="99" /></td>
                            <td class="tdsu">{{ variables.education is defined ? variables.education // 2 }}</td>
{% set mov = "?" %}
{% if variables.dexterity is defined and  variables.strength is defined and variables.size is defined %}
    {% if variables.dexterity + variables.strength >= variables.size %}{% set mov = 7 %}{% endif %}
    {% if variables.strength >= variables.size %}{% set mov = 8 %}{% endif %}
    {% if variables.dexterity >= variables.size %}{% set mov = 8 %}{% endif %}
    {% if variables.dexterity > variables.size %}
        {% if variables.strength > variables.size %}{% set mov = 9 %}{% endif %}
    {% endif %}
    {% if variables.age is defined %}
        {% if variables.age // 10 == 4 %}{% set mov = mov -1 %}{% endif %}
        {% if variables.age // 10 == 5 %}{% set mov = mov -2 %}{% endif %}
        {% if variables.age // 10 == 6 %}{% set mov = mov -3 %}{% endif %}
        {% if variables.age // 10 == 7 %}{% set mov = mov -4 %}{% endif %}
        {% if variables.age // 10 == 8 %}{% set mov = mov -5 %}{% endif %}
    {% endif %}
{% endif %}
                            <th rowspan="2" class="tdm">Move<br>Rate</th>
                            <td rowspan="2" class="tdbbl_form" >{{mov}}</td>
                            <td >&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="tdsl">{{ variables.size is defined ? variables.size // 5 }}</td>
                            <td class="tdsl">{{ variables.education is defined ? variables.education // 5 }}</td>
                            <td >&nbsp;</td>
                        </tr>
                        </table>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-body">
                    <b>Note:</b> if you create a new character, first fill in the Personal Data and the Characteristics above, then <b>save</b> the sheet.
                    This will prefill some fields like Hit Points Max, Sanity, Magic Points Max, Dodge, and Language (Own) with the correct values and also present a different list of skills depending on the selected flair.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3 my-2">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Hitpoints</span></div>
                    <div class="card-body">
                        current <input title="Initial Hit Points equal SIZ + CON divided by 10 (round down)." value="{{ variables.hit_points_current is defined ? variables.hit_points_current }}" class="form-control" id="hit_points_current" name="hit_points_current" placeholder="" size="3" type="number" />
{% set mx = 0 %}
{% if variables.hit_points_max is defined %}{% set mx = variables.hit_points_max %}{% endif %}
{% if mx == 0 %}{% if variables.constitution is defined and variables.size is defined %}{% set mx = (variables.constitution + variables.size) // 10 %}{% endif %}{% endif %}
                        maximum <input title="Initial Hit Points equal SIZ + CON divided by 10 (round down)." value="{{mx}}" class="form-control" id="hit_points_max" name="hit_points_max" placeholder="" size="3" type="number" />
                        <input value="0" class="" id="major_wound" name="major_wound" type="hidden" />
                        Major Wound <input value="1" {% if variables.major_wound is defined and variables.major_wound == 1 %} checked="checked"{% endif %} class="" id="major_wound" name="major_wound" placeholder="" type="checkbox" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 my-2">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Sanity</span></div>
                    <div class="card-body">
{% set curr='' %}
{% if variables.sanity_current is defined %}{% set curr = variables.sanity_current %}{% endif %}
{% if curr == '' %}{% if variables.power is defined %}{% set curr = variables.power %}{% endif %}{% endif %}
                        current <input title="Initial Sanity Points equal the POW characteristic." value="{{curr}}" class="form-control" id="sanity_current" name="sanity_current" placeholder="" size="3" type="number" />
{% set mx = 99 %}
{% if variables.skill_value_9 is defined %}{% set mx = 99 - variables.skill_value_9 %}{% endif %}
                        <input value="{{mx}}" class="form-control" id="sanity_max" name="sanity_max" placeholder="" type="hidden" />
                        <input value="0" class="" id="temp_insane" name="temp_insane" placeholder="" type="hidden" />
                        Temp. Insanity <input value="1" {% if variables.temp_insane is defined and variables.temp_insane == 1 %} checked="checked"{% endif %} class="" id="temp_insane" name="temp_insane" placeholder="" type="checkbox" />
                        <input value="0" class="" id="indef_insane" name="indef_insane" placeholder="" type="hidden" />
                        Indef. Insanity <input value="1" {% if variables.indef_insane is defined and variables.indef_insane == 1 %} checked="checked"{% endif %} class="" id="indef_insane" name="indef_insane" placeholder="" type="checkbox" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 my-2">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Luck</span></div>
                    <div class="card-body">
                        current <input title="Roll 3D6 multiplied by 5 for initial Luck." value="{{ variables.luck_current is defined ? variables.luck_current }}" class="form-control" id="luck_current" name="luck_current" placeholder="" size="3" type="number" />
                        <input value="99" class="form-control" id="luck_max" name="luck_max" placeholder="" type="hidden" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 my-2">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Magic Points</span></div>
                    <div class="card-body">
                        current <input title="Initial Magic Points equal one fifth of POW." value="{{ variables.magic_points_current is defined ? variables.magic_points_current }}" class="form-control" id="magic_points_current" name="magic_points_current" placeholder="" size="3" type="number" />
{% set mx = 0 %}
{% if variables.magic_points_max is defined %}{% set mx = variables.magic_points_max %}{% endif %}
{% if mx == 0 %}{% if variables.power is defined %}{% set mx = variables.power // 5 %}{% endif %}{% endif %}
                        maximum <input title="Initial Magic Points equal one fifth of POW." value="{{ mx }}" class="form-control" id="magic_points_max" name="magic_points_max" placeholder="" size="3" type="number" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Investigator Skills</span></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-4">
                                <table class="skilltable">
                                    {% set i = 0 %}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Accounting (5%)', '5') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Accounting (10%)', '10') }}
                                    {% endif %}
                                    {% if flair == "trails" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Animal Handling (5%)', '5') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Animal Handling (15%)', '15') }}
                                    {% endif %}
                                    {% if flair != "ages" and flair != "1930s" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Anthropology (1%)', '1') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Appraise (5%)', '5') }}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Archaeology (1%)', '1') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Art / Craft (5%)', '5') }}
                                    {% if flair == "regency" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Astronomy (1%)', '1') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Charm (15%)', '15') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Climb (20%)', '20') }}
                                    {% if flair == "1930s" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Computer Use (0%)', '0') }}
                                    {% endif %}
                                    {% if flair == "modern" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Computer Use (5%)', '5') }}
                                    {% endif %}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Credit Rating (0%)', '0') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Cthulhu Mythos (0%)', '0') }}
                                    {% if flair == "regency" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Dancing (DEX/5%)', variables.dexterity|default // 5) }}
                                    {% endif %}
                                    {% if flair == "1930s" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Demolitions (1%)', '1') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Disguise (5%)', '5') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), dodge, 'Dodge (DEX/2%)', variables.dexterity|default // 2) }}
                                    {% if flair == "1930s" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Diving (1%)', '1') }}
                                    {% endif %}
                                    {% if flair == "1920s" or flair == "modern" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Drive Car (20%)', '20') }}
                                    {% endif %}
                                    {% if flair == "1930s" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Drive Auto (20%)', '20') }}
                                    {% endif %}
                                    {% if flair == "regency" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Drive Carriage (20%)', '20') }}
                                    {% endif %}
                                    {% if flair == "trails" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Drive Wagon/Coach (20%)', '20') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Drive Horses/Oxen (20%)', '20') }}
                                    {% endif %}
                                    {% if flair != "ages" and flair != "trails" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Elec.Repair (10%)', '10') }}
                                    {% endif %}
                                    {% if flair == "trails" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Elec.Repair (0%)', '0') }}
                                    {% endif %}
                                    {% if flair == "modern" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Electronics (1%)', '1') }}
                                    {% endif %}
                                    {% if flair == "regency" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Etiquette (INT/5%)', variables.intelligence|default // 5) }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Fashion (10%)', '10') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Fast Talk (5%)', '5') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Fighting (Brawl)(25%)', '25') }}
                                    {% if flair != "regency" and flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Firearms (Handgun)(20%)', '20') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Firearms (Rifle/Shotgun)(25%)', '25') }}
                                    {% endif %}
                                    {% if flair == "regency" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Firearms (Pistol)(20%)', '20') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Firearms (Rifle/Blunderbuss)(25%)', '25') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'First Aid (30%)', '30') }}
                                    {% if flair == "regency" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Gaming (10%)', '10') }}
                                    {% endif %}
                                    {% if flair == "trails" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Gambling (10%)', '10') }}
                                    {% endif %}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'History (5%)', '5') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Insight (5%)', '5') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Intimidate (15%)', '15') }}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Jump (20%)', '20') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Language (Other)(1%)', '1') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Jump (25%)', '25') }}
                                    {% endif %}
                                </table>
                            </div>
                            <div class="col-12 col-md-12 col-lg-4">
                                <table class="skilltable">
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Language (Own)(EDU)', variables.education|default ) }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Law (5%)', '5') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Library Use (20%)', '20') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Listen (20%)', '20') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Locksmith (1%)', '1') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Mech. Repair (10%)', '10') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Library Use (5%)', '5') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Listen (25%)', '25') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Medicine (1%)', '1') }}
                                    {% if flair != "trails" and flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Natural World (10%)', '10') }}
                                    {% endif %}
                                    {% if flair == "trails" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Natural World (20%)', '20') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Navigate (10%)', '10') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Occult (5%)', '5') }}
                                    {% if flair != "regency" and flair != "ages" and flair != "1930s" and flair != "modern" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Op.Hv.Machine (1%)', '1') }}
                                    {% endif %}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Persuade (10%)', '10') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Persuade (15%)', '15') }}
                                    {% endif %}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Pilot (1%)', '1') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Pilot Boat (1%)', '1') }}
                                    {% endif %}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Psychology (10%)', '10') }}
                                    {% endif %}
                                    {% if flair != "trails" and flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Psychoanalysis (1%)', '1') }}
                                    {% endif %}
                                    {% if flair == "1930s" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Read Lips (1%)', '1') }}
                                    {% endif %}
                                    {% if flair == "regency" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Reassure (APP/5%)', variables.appearance|default // 5) }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Religion (10%)', '10') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Repair/Devise (20%)', '20') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Religion (20%)', '20') }}
                                    {% endif %}
                                    {% if flair != "ages" and flair != "trails" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Ride (5%)', '5') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Ride Horse (5%)', '5') }}
                                    {% endif %}
                                    {% if flair == "trails" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Ride (15%)', '15') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Rope Use (5%)', '5') }}
                                    {% endif %}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Science (1%)', '1') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Sleight of Hand (10%)', '10') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Sleight of Hand (25%)', '25') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Spot Hidden (25%)', '25') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Stealth (20%)', '20') }}
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Survival (10%)', '10') }}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Swim (20%)', '20') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Swim (25%)', '25') }}
                                    {% endif %}
                                </table>
                            </div>
                            <div class="col-12 col-md-12 col-lg-4">
                                <table class="skilltable">
                                    {% if flair != "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Throw (20%)', '20') }}
                                    {% endif %}
                                    {% if flair == "ages" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Throw (25%)', '25') }}
                                    {% endif %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Track (10%)', '10') }}
                                    {% if flair == "trails" %}
                                    {% set i = i + 1 %}{{ sheet.genSkill(i, attribute(variables, "skill_name_" ~ i), attribute(variables, "skill_value_" ~ i), 'Trap (10%)', '10') }}
                                    {% endif %}
                                    {% for x in i+1 .. 66 %}
                                        {{ sheet.genSkill(x, attribute(variables, "skill_name_" ~ x), attribute(variables, "skill_value_" ~ x), '', '') }}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Weapons</span></div>
                    <div class="card-body">
                        <table width="100%">
                        <tr>
                            <th>Name</th>
                            <th>Regular</th>
                            <th>Hard</th>
                            <th>Extreme</th>
                            <th>Damage</th>
                            <th>Range</th>
                            <th>Attacks</th>
                            <th>Ammo</th>
                            <th>Malf.</th>
                        </tr>
                         {{ sheet.genWeapon("01", variables.weapon_name_01, variables.weapon_reg_01, variables.weapon_hard_01, variables.weapon_ext_01, variables.weapon_damage_01, variables.weapon_range_01, variables.weapon_attacks_01, variables.weapon_ammo_01, variables.weapon_malf_01) }}
                         {{ sheet.genWeapon("02", variables.weapon_name_02, variables.weapon_reg_02, variables.weapon_hard_02, variables.weapon_ext_02, variables.weapon_damage_02, variables.weapon_range_02, variables.weapon_attacks_02, variables.weapon_ammo_02, variables.weapon_malf_02) }}
                         {{ sheet.genWeapon("03", variables.weapon_name_03, variables.weapon_reg_03, variables.weapon_hard_03, variables.weapon_ext_03, variables.weapon_damage_03, variables.weapon_range_03, variables.weapon_attacks_03, variables.weapon_ammo_03, variables.weapon_malf_03) }}
                         {{ sheet.genWeapon("04", variables.weapon_name_04, variables.weapon_reg_04, variables.weapon_hard_04, variables.weapon_ext_04, variables.weapon_damage_04, variables.weapon_range_04, variables.weapon_attacks_04, variables.weapon_ammo_04, variables.weapon_malf_04) }}
                         {{ sheet.genWeapon("05", variables.weapon_name_05, variables.weapon_reg_05, variables.weapon_hard_05, variables.weapon_ext_05, variables.weapon_damage_05, variables.weapon_range_05, variables.weapon_attacks_05, variables.weapon_ammo_05, variables.weapon_malf_05) }}
                         {{ sheet.genWeapon("06", variables.weapon_name_06, variables.weapon_reg_06, variables.weapon_hard_06, variables.weapon_ext_06, variables.weapon_damage_06, variables.weapon_range_06, variables.weapon_attacks_06, variables.weapon_ammo_06, variables.weapon_malf_06) }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Personal Description</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="personal" name="personal" rows="20" placeholder="">{{ variables.personal is defined ? variables.personal }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Ideology / Beliefs</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="beliefs" name="beliefs" rows="20" placeholder="">{{ variables.beliefs is defined ? variables.beliefs }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Significant People</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="people" name="people" rows="20" placeholder="">{{ variables.people is defined ? variables.people }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Meaningful Locations</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="locations" name="locations" rows="20" placeholder="">{{ variables.locations is defined ? variables.locations }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Treasured Possessions</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="treasures" name="treasures" rows="20" placeholder="">{{ variables.treasures is defined ? variables.treasures }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Traits</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="traits" name="traits" rows="20" placeholder="">{{ variables.traits is defined ? variables.traits }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Injuries and Scars</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="injuries" name="injuries" rows="20" placeholder="">{{ variables.injuries is defined ? variables.injuries }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Phobias and Manias</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="phobias" name="phobias" rows="20" placeholder="">{{ variables.phobias is defined ? variables.phobias }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Arcane Tomes, Spells and Artifacts</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="tomes" name="tomes" rows="20" placeholder="">{{ variables.tomes is defined ? variables.tomes }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Encounters with Strange Entities</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="encounters" name="encounters" rows="20" placeholder="">{{ variables.encounters is defined ? variables.encounters }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Gear and Possessions</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="gear" name="gear" rows="20" placeholder="">{{ variables.gear is defined ? variables.gear }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Cash and Assets</span></div>
                    <div class="card-body">
                        Spending Level: <strong><input value="{{ variables.spending_level is defined ? variables.spending_level }}" class="form-control" id="spending_level" name="spending_level" placeholder="" type="string" /></strong><br>
                        Money: <strong><input value="{{ variables.money is defined ? variables.money }}" class="form-control" id="money" name="money" placeholder="" type="number" /></strong><br>
                        <textarea class="form-control" id="assets" name="assets" rows="20" placeholder="">{{ variables.assets is defined ? variables.assets }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card my-2">
                    <div class="card-header head-bar"><span class="wbg">Session Notes</span></div>
                    <div class="card-body">
                        <textarea class="form-control" id="notes" name="notes" rows="10" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- close container-sheet -->