<!-- made by Tillerz#3807 v1.00 -->
<section class="sta-character-trackable">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-3 col-lg-3 my-2">
                    <div class="card my-2">
                        <div class="card-header head-bar"><span class="wbg">Hitpoints</span></div>
                        <div class="card-body">
                            current <input title="Initial Hit Points equal SIZ + CON divided by 10 (round down)." value="{{ variables.hit_points_current is defined ? variables.hit_points_current }}" class="form-control" id="hit_points_current" name="hit_points_current" placeholder="" size="3" type="number" />
                            <input value="0" class="" id="major_wound" name="major_wound" type="hidden" />
                            Major Wound <input value="1" {% if variables.major_wound is defined and variables.major_wound == 1 %} checked="checked"{% endif %} class="" id="major_wound" name="major_wound" placeholder="" type="checkbox" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 my-2">
                    <div class="card my-2">
                        <div class="card-header head-bar"><span class="wbg">Sanity</span></div>
                        <div class="card-body">
{% set curr='' %}
{% if variables.sanity_current is defined %}{% set curr = variables.sanity_current %}{% endif %}
{% if curr == '' %}{% if variables.power is defined %}{% set curr = variables.power %}{% endif %}{% endif %}
                            current <input title="Initial Sanity Points equal the POW characteristic." value="{{curr}}" class="form-control" id="sanity_current" name="sanity_current" placeholder="" size="3" type="number" />
                            <input value="0" class="" id="temp_insane" name="temp_insane" placeholder="" type="hidden" />
                            Temp. Insanity <input value="1" {% if variables.temp_insane is defined and variables.temp_insane == 1 %} checked="checked"{% endif %} class="" id="temp_insane" name="temp_insane" placeholder="" type="checkbox" />
                            <input value="0" class="" id="indef_insane" name="indef_insane" placeholder="" type="hidden" />
                            Indef. Insanity <input value="1" {% if variables.indef_insane is defined and variables.indef_insane == 1 %} checked="checked"{% endif %} class="" id="indef_insane" name="indef_insane" placeholder="" type="checkbox" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 my-2">
                    <div class="card my-2">
                        <div class="card-header head-bar"><span class="wbg">Luck</span></div>
                        <div class="card-body">
                            current <input title="Roll 3D6 multiplied by 5 for initial Luck." value="{{ variables.luck_current is defined ? variables.luck_current }}" class="form-control" id="luck_current" name="luck_current" placeholder="" size="3" type="number" />
                            <input value="99" class="form-control" id="luck_max" name="luck_max" placeholder="" type="hidden" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 my-2">
                    <div class="card my-2">
                        <div class="card-header head-bar"><span class="wbg">Magic Points</span></div>
                        <div class="card-body">
                            current <input title="Initial Magic Points equal one fifth of POW." value="{{ variables.magic_points_current is defined ? variables.magic_points_current }}" class="form-control" id="magic_points_current" name="magic_points_current" placeholder="" size="3" type="number" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card my-2">
                        <div class="card-header head-bar"><span class="wbg"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEquipment" aria-expanded="true" aria-controls="collapseEquipment">Equipment <em class="fas fa-angle-down"></em></button></span></div>
                        <div id="collapseEquipment" class="card-body collapse show" aria-labelledby="headingEquipment">
                            Money: <strong><input value="{{ variables.money is defined ? variables.money }}" class="form-control" id="money" name="money" placeholder="" type="number" /></strong><br>
                            <textarea class="form-control" id="other_equipment" name="other_equipment" cols="40" rows="10">{{ variables.gear is defined ? variables.gear }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card my-2">
                        <div class="card-header head-bar"><span class="wbg"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="true" aria-controls="collapseNotes">Notes <em class="fas fa-angle-down"></em></button></span></div>
                        <div id="collapseNotes" class="card-body collapse show" aria-labelledby="headingNotes">
                            <textarea class="form-control" id="notes" name="notes" cols="40" rows="10">{{ variables.notes is defined ? variables.notes }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>