<div class="dnd1e-sheet">
	<div class="row">
		<div class="col-12 col-lg-8">
			<div class="contentContainer contentContainer-attribute of">
				<div class="row">
					<div class="col-12">
						<h1 class="dnd1e-sheet-header">{{ variables.name }}</h1>
					</div>
					<div class="col-12 col-md-6">
						<span class="inputLabel">Class</span>
						{% if variables.characterClassInput is defined %}<span class="inputContent">{{variables.characterClassInput}}</span>{% endif %}
						<span class="inputLabel">Alignment</span>
						{% if variables.characterAlignmentInput is defined %}<span class="inputContent">{{variables.characterAlignmentInput}}</span>{% endif %}
						<span class="inputLabel">Title</span>
						<span class="inputContent">{{variables.characterTitleInput|default('')}}</span>
					</div>
					<div class="col-12 col-md-6">
						<span class="inputLabel">Level</span>
						<span class="inputContent">{{variables.characterLevelInput|default('1')}}</span>
						<span class="inputLabel">current XP</span>
						<span class="inputContent">{{variables.currentXPInput|default('0')}}</span>
						<span class="inputLabel">XP needed for next level</span>
						<span class="inputContent">{{variables.nextLevelXPInput|default('0')}}</span>
					</div>
				</div>
			</div>
			<div class="row frame">
				<div class="col-12">
					<div class="row">
						<div class="col-12 c">
							<span class="title">Ability Scores</span>
						</div>
						<div class="col-12 col-md-4 col-lg-2">
							<div class="contentContainer contentContainer-attribute of">
								<span class="inputLabel">STR</span>
								<span class="strong">{{variables.abilityScoreSTRInput|default('0')}}</span>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-2">
							<div class="contentContainer contentContainer-attribute of">
								<span class="inputLabel">INT</span>
								<span class="strong">{{variables.abilityScoreINTInput|default('0')}}</span>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-2">
							<div class="contentContainer contentContainer-attribute of">
								<span class="inputLabel">WIS</span>
								<span class="strong">{{variables.abilityScoreWISInput|default('0')}}</span>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-2">
							<div class="contentContainer contentContainer-attribute of">
								<span class="inputLabel">DEX</span>
								<span class="strong">{{variables.abilityScoreDEXInput|default('0')}}</span>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-2">
							<div class="contentContainer contentContainer-attribute of">
								<span class="inputLabel">CON</span>
								<span class="strong">{{variables.abilityScoreCONInput|default('0')}}</span>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-2">
							<div class="contentContainer contentContainer-attribute of">
								<span class="inputLabel">CHA</span>
								<span class="strong">{{variables.abilityScoreCHAInput|default('0')}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg hidden-md hidden-xs hidden-sm d-none d-lg-block">
			{% if variables.imageIdInput is defined and variables.imageIdInput > 0 %}[img:{{variables.imageIdInput}}]{% endif %}
		</div>
	</div>
	<div class="row frame">
		<div class="col-12">
			<div class="row">
				<div class="col-12 c">
					<span class="title">Saving Throws</span>
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<div class="contentContainer contentContainer-attribute of">
						<span class="inputLabel">Death</span>
						<span class="strong">{{variables.savingThrowDeathInput|default('0')}}</span>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<div class="contentContainer contentContainer-attribute of">
						<span class="inputLabel">Wands</span>
						<span class="strong">{{variables.savingThrowWandsInput|default('0')}}</span>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<div class="contentContainer contentContainer-attribute of">
						<span class="inputLabel">Paralysis</span>
						<span class="strong">{{variables.savingThrowParalysisInput|default('0')}}</span>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<div class="contentContainer contentContainer-attribute of">
						<span class="inputLabel">Breath</span>
						<span class="strong">{{variables.savingThrowBreathInput|default('0')}}</span>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<div class="contentContainer contentContainer-attribute of">
						<span class="inputLabel">Spells</span>
						<span class="strong">{{variables.savingThrowSpellsInput|default('0')}}</span>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<div class="contentContainer contentContainer-attribute of">
						<span class="inputLabel">Magic Mod</span>
						<span class="strong">{{variables.savingThrowsMagicMod|default('0')}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row frame">
		<div class="col-12">
			<div class="row">
				<div class="col-12 c">
					<span class="title">Combat</span>
				</div>
				<div class="contentContainer contentContainer-standard of">
					<span class="strong">{{variables.hitpointsInput|default('0')}} / {{variables.maxHitpointsInput|default('0')}}</span>
					<span class="inputLabel">HP</span>
				</div>&nbsp;
				<div class="contentContainer contentContainer-standard of">
					<span class="strong">{{variables.initInput|default('0')}}</span>
					<span class="inputLabel">Initiative</span>
				</div>&nbsp;
				<div class="contentContainer contentContainer-standard of">
					{% if variables.conModifierToHP is defined %}<span class="strong">{{variables.conModifierToHP}}</span>{% endif %}
					<span class="inputLabel">CON Modifier To HP</span>
				</div>&nbsp;
				<div class="contentContainer contentContainer-standard of">
					{% if variables.meleeBonusInput is defined %}<span class="strong">{{variables.meleeBonusInput}}</span>{% endif %}
					<span class="inputLabel">melee Bonus</span>
				</div>&nbsp;
				<div class="contentContainer contentContainer-standard of">
					{% if variables.armorClassInput is defined %}<span class="strong">{{variables.armorClassInput}}</span>{% endif %}
					<span class="inputLabel">AC</span>
				</div>&nbsp;
				<div class="contentContainer contentContainer-standard of">
					{% if variables.unarmoredACInput is defined %}<span class="strong">{{variables.unarmoredACInput}}</span>{% endif %}
					<span class="inputLabel">unarmored AC</span>
				</div>&nbsp;
				<div class="contentContainer contentContainer-standard of">
					{% if variables.dexModInput is defined %}<span class="strong">{{variables.dexModInput}}</span>{% endif %}
					<span class="inputLabel">DEX Mod</span>
				</div>&nbsp;
				<div class="contentContainer contentContainer-standard of">
					{% if variables.dexModMissleAttackInput is defined %}<span class="strong">{{variables.dexModMissleAttackInput}}</span>{% endif %}
					<span class="inputLabel">DEX Mod Missle Attack</span>
				</div>
			</div>
			<div class="row">
				<div class="col-12 c">
					<span class="title">Attack Value Matrix</span>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixNineInput is defined %}<span class="strong">{{variables.matrixNineInput}}</span>{% endif %}
						<span class="inputLabel">9</span>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixEightInput is defined %}<span class="strong">{{variables.matrixEightInput}}</span>{% endif %}
						<span class="inputLabel">8</span>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixSevenInput is defined %}<span class="strong">{{variables.matrixSevenInput}}</span>{% endif %}
						<span class="inputLabel">7</span>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixSixInput is defined %}<span class="strong">{{variables.matrixSixInput}}</span>{% endif %}
						<span class="inputLabel">6</span>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixFiveInput is defined %}<span class="strong">{{variables.matrixFiveInput}}</span>{% endif %}
						<span class="inputLabel">5</span>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixFourInput is defined %}<span class="strong">{{variables.matrixFourInput}}</span>{% endif %}
						<span class="inputLabel">4</span>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixThreeInput is defined %}<span class="strong">{{variables.matrixThreeInput}}</span>{% endif %}
						<span class="inputLabel">3</span>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixTwoInput is defined %}<span class="strong">{{variables.matrixTwoInput}}</span>{% endif %}
						<span class="inputLabel">2</span>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixOneInput is defined %}<span class="strong">{{variables.matrixOneInput}}</span>{% endif %}
						<span class="inputLabel">1</span>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-1">
					<div class="contentContainer contentContainer-standard of">
						{% if variables.matrixZeroInput is defined %}<span class="strong">{{variables.matrixZeroInput}}</span>{% endif %}
						<span class="inputLabel">0</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row frame">
		<div class="contentContainer contentContainer-standard of">
			<span class="inputLabel">CHA Mod</span>
			{% if variables.chamodInput is defined %}<span class="strong">{{variables.chamodInput}}</span>{% endif %}
		</div>&nbsp;
		<div class="contentContainer contentContainer-standard of">
			<span class="inputLabel">listen</span>
			{% if variables.listenInput is defined %}<span class="strong">{{variables.listenInput}}</span>{% endif %}
		</div>&nbsp;
		<div class="contentContainer contentContainer-standard of">
			<span class="inputLabel">open Door</span>
			{% if variables.openDoorInput is defined %}<span class="strong">{{variables.openDoorInput}}</span>{% endif %}
		</div>&nbsp;
		<div class="contentContainer contentContainer-standard of">
			<span class="inputLabel">secret Door</span>
			{% if variables.secretDoorInput is defined %}<span class="strong">{{variables.secretDoorInput}}</span>{% endif %}
		</div>&nbsp;
		<div class="contentContainer contentContainer-standard of">
			<span class="inputLabel">find Trap</span>
			{% if variables.findTrapInput is defined %}<span class="strong">{{variables.findTrapInput}}</span>{% endif %}
		</div>&nbsp;
		<div class="contentContainer contentContainer-standard of">
			<span class="inputLabel">overland Travel</span>
			{% if variables.overlandTravelInput is defined %}<span class="strong">{{variables.overlandTravelInput}}</span>{% endif %}
		</div>&nbsp;
		<div class="contentContainer contentContainer-standard of">
			<span class="inputLabel">exploration Movement</span>
			{% if variables.explorationMovementInput is defined %}<span class="strong">{{variables.explorationMovementInput}}</span>{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4">
			<div class="contentContainer contentContainer-standard of">
				{{variables.platinumPiecesInput|default("0")}} pp<br>
				{{variables.goldPiecesInput|default("0")}} gp<br>
				{{variables.electrumPieceInput|default("0")}} ep<br>
				{{variables.silverPiecesInput|default("0")}} sp<br>
				{{variables.copperPiecesInput|default("0")}} cp<br>
				<span class="inputLabel">Money</span>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="contentContainer contentContainer-standard of">
				{% set total = 0 %}
				{% if variables.treasureWeightInput is defined %}{% set total = total + variables.treasureWeightInput %}{% endif %}
				{% if variables.equipmentWeightInput is defined %}{% set total = total + variables.equipmentWeightInput %}{% endif %}
				Treasure: {{variables.treasureWeightInput}}<br>
				Equipment: {{variables.equipmentWeightInput}}<br>
				Total: {{total}}<br>
				<span class="inputLabel">Weight</span>
			</div>
		</div>
		{% if variables.languagesTextarea is defined and variables.languagesTextarea != '' %}
		<div class="col-12 col-sm-6 col-md-4">
			<div class="contentContainer contentContainer-standard of">
				{{variables.languagesTextarea|nl2br}}<br>
				{% if variables.literateCheckBox is defined and variables.literateCheckBox == '1' %}
					<i class="far fa-check-square"></i>
				{% else %}
					<i class="far fa-square"></i>
				{% endif %}
				<span class="strong"> Literate</span>
				<span class="inputLabel">Languages</span>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="row">
		{% if variables.abilitiesSkillsTextArea is defined and variables.abilitiesSkillsTextArea != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard of">
				{{variables.abilitiesSkillsTextArea|nl2br}}<br>
				<span class="inputLabel">Abilities / Skills</span>
			</div>
		</div>
		{% endif %}
		{% if variables.spellsTextArea is defined and variables.spellsTextArea != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard of">
				{{variables.spellsTextArea|nl2br}}<br>
				<span class="inputLabel">Spells</span>
			</div>
		</div>
		{% endif %}
		{% if variables.equipmentTextArea is defined and variables.equipmentTextArea != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard of">
				{{variables.equipmentTextArea|nl2br}}<br>
				<span class="inputLabel">Equipment</span>
			</div>
		</div>
		{% endif %}
		{% if variables.weaponsAndArmorTextarea is defined and variables.weaponsAndArmorTextarea != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard of">
				{{variables.weaponsAndArmorTextarea|nl2br}}<br>
				<span class="inputLabel">Weapons and Armor</span>
			</div>
		</div>
		{% endif %}
		{% if variables.magicItemsTextArea is defined and variables.magicItemsTextArea != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard of">
				{{variables.magicItemsTextArea|nl2br}}<br>
				<span class="inputLabel">Magic Items</span>
			</div>
		</div>
		{% endif %}
		{% if variables.treasureTextArea is defined and variables.treasureTextArea != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard of">
				{{variables.treasureTextArea|nl2br}}<br>
				<span class="inputLabel">Treasures</span>
			</div>
		</div>
		{% endif %}
		{% if variables.notesTextArea is defined and variables.notesTextArea != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard of">
				{{variables.notesTextArea|nl2br}}<br>
				<span class="inputLabel">Notes</span>
			</div>
		</div>
		{% endif %}
	</div>
</div>