<div class="row">
    <div class="col-12 col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="hitpointsInput">HP</label>
            </div>
            <input type="number" class="form-control" name="hitpointsInput" id="hitpointsInput" placeholder="Hit Points" value="{{ variables.hitpointsInput is defined ? variables.hitpointsInput }}"/>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="currentXPInput">Current XP</label>
            </div>
            <input type="number" class="form-control" name="currentXPInput" id="currentXPInput" aria-describedby="helpId" value="{{ variables.currentXPInput is defined ? variables.currentXPInput }}" placeholder="0" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-3">
        <!-- PP -->
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="platinumPiecesInput">PP</label>
            </div>
            <input type="number" class="form-control" name="platinumPiecesInput" id="platinumPiecesInput" placeholder="0" value="{{ variables.platinumPiecesInput is defined ? variables.platinumPiecesInput }}"/>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <!-- GP -->
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="goldPiecesInput">GP</label>
            </div>
            <input type="number" class="form-control" name="goldPiecesInput" id="goldPiecesInput" placeholder="0" value="{{ variables.goldPiecesInput is defined ? variables.goldPiecesInput }}"/>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <!-- EP -->
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="electrumPieceInput">EP</label>
            </div>
            <input type="number" class="form-control" name="electrumPieceInput" id="electrumPieceInput" placeholder="0" value="{{ variables.electrumPieceInput is defined ? variables.electrumPieceInput }}"/>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <!-- SP -->
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="silverPiecesInput">SP</label>
            </div>
            <input type="number" class="form-control" name="silverPiecesInput" id="silverPiecesInput" placeholder="0" value="{{ variables.silverPiecesInput is defined ? variables.silverPiecesInput }}"/>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <!-- CP -->
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="copperPiecesInput">CP</label>
            </div>
            <input type="number" class="form-control" name="copperPiecesInput" id="copperPiecesInput" placeholder="0" value="{{ variables.copperPiecesInput is defined ? variables.copperPiecesInput }}"/>
            </div>
        </div>
    </div>
</div>