<div class="text-center mb-3 m-b-10">
    <strong>
        {% if variables.level is defined %} 
            Level {{ variables.level }}
        {% endif %} 
        {% if variables.species is defined %}  {{ variables.species }} {% endif %} 
        {% if variables.alignment is defined %} {{ variables.alignment }} {% endif %}
        {% if variables.class is defined %} {{ variables.class }} {% endif %}
    </strong>
    {% if variables.background is defined and variables.background|length > 0 %}<br><em>({{ variables.background }})</em>{% endif %}
    <div class="hpcontainer d-none">
        <strong>{% if variables.hit_points_current is defined %} {{ variables.hit_points_current }} {% endif %}/{% if variables.hit_points is defined %} {{ variables.hit_points }} {% endif %} {% if variables.hit_points_current is defined %} HP{% endif %}</strong>
    </div>
</div>