<div class="full-sheet">
    <!-- Header -->
    <div class="row top-row" id="sw5e-top-content">
        <div class="col-md-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Character Name</label>
                    <input class="form-control" type="text" value="{{ variables.name is defined ? variables.name }}" name="name" required="required" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="class">Class</label>
                        <input class="form-control" type="text" value="{{ variables.class is defined ? variables.class }}" name="class" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="level">Level</label>
                        <input class="form-control" type="text" value="{{ variables.level is defined ? variables.level }}" name="level" />
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="background">Background</label>
                <input class="form-control" type="text" value="{{ variables.background is defined ? variables.background }}" name="background" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="species">Species</label>
                <input class="form-control" type="text" value="{{ variables.species is defined ? variables.species }}" name="species" />
            </div>      
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="alignment">Alignment</label>
                <input class="form-control" type="text" value="{{ variables.alignment is defined ? variables.alignment }}" name="alignment" />
            </div>  
        </div>
    </div>
    <hr>
    <!-- Main Content -->
    <div class="row main-content-row" id="sw5e-main-content">
        <!-- Attributes -->
        <div class="col-md-2" id="sw5e-firsts-column">
            <!-- Proficiency Bonus -->
            <div class="sw5e-sheet-container profbonus">
                <div class="form-group">
                    <label for="proficiency_bonus">Proficiency Bonus</label>
                    <input class="form-control" type="number" value="{{ variables.proficiency_bonus is defined ? variables.proficiency_bonus }}" name="proficiency_bonus" />
                </div>              
            </div>
            <div class="mainstats">
                <div class="sw5e-sheet-box">
                    <div class="form-group">
                        <label for="strength">Strength</label>
                        <input class="form-control" type="number" value="{{ variables.strength is defined ? variables.strength }}" name="strength" />
                    </div>
                </div>
                <div class="sw5e-sheet-box">
                    <div class="form-group">
                        <label for="dexterity">Dexterity</label>
                        <input class="form-control" type="number" value="{{ variables.dexterity is defined ? variables.dexterity }}" name="dexterity" />
                    </div>
                </div>
                <div class="sw5e-sheet-box">
                    <div class="form-group">
                        <label for="constitution">Constitution</label>
                        <input class="form-control" type="number" value="{{ variables.constitution is defined ? variables.constitution }}" name="constitution" />
                    </div>
                </div>
                <div class="sw5e-sheet-box">
                    <div class="form-group">
                        <label for="intelligence">Intelligence</label>
                        <input class="form-control" type="number" value="{{ variables.intelligence is defined ? variables.intelligence }}" name="intelligence" />
                    </div>
                </div>
                <div class="sw5e-sheet-box">
                    <div class="form-group">
                        <label for="wisdom">Wisdom</label>
                        <input class="form-control" type="number" value="{{ variables.wisdom is defined ? variables.wisdom }}" name="wisdom" />
                    </div> 
                </div>
                <div class="sw5e-sheet-box">
                    <div class="form-group">
                        <label for="charisma">Charisma</label>
                        <input class="form-control" type="number" value="{{ variables.charisma is defined ? variables.charisma }}" name="charisma" />
                    </div> 
                </div>
            </div>

            <div class="sw5e-sheet-container">
                <label>Saving Throws</label> 
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="str_save">STR Save</label>
                            <input class="form-control" type="number" value="{{ variables.str_save is defined ? variables.str_save }}" name="str_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="dex_save">DEX Save</label>
                            <input class="form-control" type="number" value="{{ variables.dex_save is defined ? variables.dex_save }}" name="dex_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="con_save">CON Save</label>
                            <input class="form-control" type="number" value="{{ variables.con_save is defined ? variables.con_save }}" name="con_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="int_save">INT Save</label>
                            <input class="form-control" type="number" value="{{ variables.int_save is defined ? variables.int_save }}" name="int_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="wis_save">WIS Save</label>
                            <input class="form-control" type="number" value="{{ variables.wis_save is defined ? variables.wis_save }}" name="wis_save" />
                        </div>  
                    </div>
                    <div class="savethrow">
                        <div class="form-group">
                            <label for="cha_save">CHA Save</label>
                            <input class="form-control" type="number" value="{{ variables.cha_save is defined ? variables.cha_save }}" name="cha_save" />
                        </div>  
                    </div>
            </div>
        </div>
        <!-- AC HP INIT SPEED + Technicals -->
        <div class="col-md-3" id="sw5e-second-column">
            <div class="sw5e-sheet-container profbonus">
                <div class="form-group">
                    <label for="hit_dice">Hit Die Type</label>
                    <input class="form-control" type="number" value="{{ variables.hit_dice is defined ? variables.hit_dice }}" name="hit_dice" />
                    <p class="sw5e-sheet-description m-t-10 mt-1">e.g. 8 for a d8</p>
                </div>              
            </div>
            <div class="sw5e-sheet-container profbonus">
                <div class="form-group">
                    <label for="total_hit_dice">Hit Dice</label>
                    <input class="form-control" type="number" value="{{ variables.total_hit_dice is defined ? variables.total_hit_dice }}" name="total_hit_dice" />
                </div>              
            </div>
           <!-- Skills -->
            <div class="skillslist">
                <div class="sw5e-sheet-container">
                    <p class="sw5e-sheet-description m-t-10 mt-1">Fill in the total of your score (Attribute + proficiency + bonuses)</p>

                    <div class="form-group">
                        <label for="acrobatics">Acrobatics (DEX)</label>
                        <input class="form-control" type="number" value="{{ variables.acrobatics is defined ? variables.acrobatics }}" name="acrobatics" />
                    </div>  
                    <div class="form-group">
                        <label for="animal_handling">Animal Handling (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.animal_handling is defined ? variables.animal_handling }}" name="animal_handling" />
                    </div>  
                    <div class="form-group">
                        <label for="athletics">Athletics (STR)</label>
                        <input class="form-control" type="number" value="{{ variables.athletics is defined ? variables.athletics }}" name="athletics" />
                    </div>  
                    <div class="form-group">
                        <label for="deception">Deception (CHA)</label>
                        <input class="form-control" type="number" value="{{ variables.deception is defined ? variables.deception }}" name="deception" />
                    </div>  
                    <div class="form-group">
                        <label for="piloting">Piloting (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.piloting is defined ? variables.piloting }}" name="piloting" />
                    </div>  
                    <div class="form-group">
                        <label for="insight">Insight (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.insight is defined ? variables.insight }}" name="insight" />
                    </div>  
                    <div class="form-group">
                        <label for="intimidation">Intimidation (CHA)</label>
                        <input class="form-control" type="number" value="{{ variables.intimidation is defined ? variables.intimidation }}" name="intimidation" />
                    </div>  
                    <div class="form-group">
                        <label for="investigation">Investigation (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.investigation is defined ? variables.investigation }}" name="investigation" />
                    </div>  
                    <div class="form-group">
                        <label for="medicine">Medicine (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.medicine is defined ? variables.medicine }}" name="medicine" />
                    </div>  
                    <div class="form-group">
                        <label for="nature">Nature (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.nature is defined ? variables.nature }}" name="nature" />
                    </div>  
                    <div class="form-group">
                        <label for="perception">Perception (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.perception is defined ? variables.perception }}" name="perception" />
                    </div>  
                    <div class="form-group">
                        <label for="performance">Performance (CHA)</label>
                        <input class="form-control" type="number" value="{{ variables.performance is defined ? variables.performance }}" name="performance" />
                    </div>  
                    <div class="form-group">
                        <label for="persuasion">Persuasion (CHA)</label>
                        <input class="form-control" type="number" value="{{ variables.persuasion is defined ? variables.persuasion }}" name="persuasion" />
                    </div>  
                    <div class="form-group">
                        <label for="religion">Lore (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.lore is defined ? variables.lore }}" name="lore" />
                    </div>  
                    <div class="form-group">
                        <label for="sleight_of_hands">Sleight of Hand (DEX)</label>
                        <input class="form-control" type="number" value="{{ variables.sleight_of_hand is defined ? variables.sleight_of_hand }}" name="sleight_of_hand" />
                    </div>  
                    <div class="form-group">
                        <label for="stealth">Stealth (DEX)</label>
                        <input class="form-control" type="number" value="{{ variables.stealth is defined ? variables.stealth }}" name="stealth" />
                    </div>  
                    <div class="form-group">
                        <label for="survival">Survival (WIS)</label>
                        <input class="form-control" type="number" value="{{ variables.survival is defined ? variables.survival }}" name="survival" />
                    </div>  
                    <div class="form-group">
                        <label for="technology">Technology (INT)</label>
                        <input class="form-control" type="number" value="{{ variables.technology is defined ? variables.technology }}" name="technology" />
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-md-7" id="sw5e-third-column">
            <div class="row">
                <div class="col-md-12">
                    <div class="ac-hp-init-speed">
                        <div class="row">
                            <!-- AC HP -->
                            <div class="col-md-3">
                                <div class="">
                                    <div class="form-group">
                                        <label for="armor_class">AC</label>
                                        <input class="form-control" type="number" value="{{ variables.armor_class is defined ? variables.armor_class }}" name="armor_class" />
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    <div class="form-group">
                                        <label for="hit_points">HP</label>
                                        <input class="form-control" type="number" value="{{ variables.hit_points is defined ? variables.hit_points }}" name="hit_points" />
                                    </div>  
                                </div>
                            </div>
                            <!-- INIT SPEED -->
                            <div class="col-md-3">
                                <div class="">
                                    <div class="form-group">
                                        <label for="initiative">Initiative</label>
                                        <input class="form-control" type="number" value="{{ variables.initiative is defined ? variables.initiative }}" name="initiative" />
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    <div class="form-group">
                                        <label for="speed">Speed</label>
                                        <input class="form-control" type="text" value="{{ variables.speed is defined ? variables.speed }}" name="speed" />
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <!-- Technicals -->
                <div class="col-md-12">
                    <!-- Proficiences -->
                    <div class="starwars5e-sheet-container">
                        <div class="form-group">
                            <label for="proficiencies_and_languages">Proficiencies</label>
                                <textarea  name="proficiencies_and_languages" class="form-control" placeholder="" rows="3">{{ variables.proficiencies_and_languages is defined ? variables.proficiencies_and_languages }}</textarea>
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Attacks -->
                    <div class="starwars5e-sheet-container">
                        <div class="form-group">
                            <label for="attacks">Attacks</label>
                                <textarea  name="attacks" class="form-control" placeholder="" rows="3">{{ variables.attacks is defined ? variables.attacks }}</textarea>
                                <p class="starwars5e-sheet-description m-t-10 mt-1">
                                    This entry is using the table format. The first line will be the header of your table. example: <br>
                                    Weapon | Attack | Damage <br>
                                    Longsword | [roll:1d20+2] | [roll:1d8+2]
                                </p>

                        </div>                  
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Spellcasting -->
                    <div class="starwars5e-sheet-container">
                        <div class="form-group">
                            <label for="spellcasting">Spellcasting</label>
                                <textarea  name="spellcasting" class="form-control" placeholder="" rows="3">{{ variables.spellcasting is defined ? variables.spellcasting }}</textarea>
                        </div>                  
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Equipment -->
                    <div class="starwars5e-sheet-container">
                        <div class="form-group">
                            <label for="equipment">Equipment</label>
                                <textarea name="equipment" class="form-control" placeholder="" rows="3">{{ variables.equipment is defined ? variables.equipment }}</textarea>
                        </div>                      
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Personality Traits -->
                    <div class="starwars5e-sheet-container">
                        <div class="form-group">
                            <label for="personality_trait">Personality Traits</label>
                                <textarea  name="personality_trait" class="form-control" placeholder="" rows="3">{{ variables.personality_trait is defined ? variables.personality_trait }}</textarea>
                        </div>      
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Ideals -->
                    <div class="starwars5e-sheet-container">
                        <div class="form-group">
                            <label for="ideal">Ideals</label>
                                <textarea  name="ideal" class="form-control" placeholder="" rows="3">{{ variables.ideal is defined ? variables.ideal }}</textarea>
                        </div>          
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Bonds -->
                    <div class="starwars5e-sheet-container">
                        <div class="form-group">
                            <label for="bond">Bonds</label>
                                <textarea  name="bond" class="form-control" placeholder="" rows="3">{{ variables.bond is defined ? variables.bond }}</textarea>
                        </div>      
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Flaws -->
                    <div class="starwars5e-sheet-container">
                        <div class="form-group">
                            <label for="flaw">Flaws</label>
                                <textarea  name="flaw" class="form-control" placeholder="" rows="3">{{ variables.flaw is defined ? variables.flaw }}</textarea>
                        </div>      
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Features & Traits -->
                    <div class="starwars5e-sheet-container">
                        <div class="form-group">
                            <label for="features_and_traits">Features and Traits</label>
                                <textarea  name="features_and_traits" class="form-control" placeholder="" rows="3">{{ variables.features_and_traits is defined ? variables.features_and_traits }}</textarea>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row footer-row" id="starwars5e-footer">
        <div class="col-md-12">
            <label for="">Spell Points</label>
        </div>
        <div class="col-md-2">
            <input placeholder="1" class="form-control" type="text" value="{{ variables.total_spell_points is defined ? variables.total_spell_points }}" name="total_spell_points" />
        </div>
    </div>
    <hr>
    <div class="row collections-row" id="starwars5e-collections">
        <div class="col-md-12">
            <h1>Collections <small class="text-muted">Attached sheets</small></h1>
            <p class="starwars5e-sheet-description m-t-10 mt-1">
                Collections allow you to attach to your character sheet additional sheets like magical items, your spells, your companions, assets etc. 
                <br>
                To add the sheets to your character sheet just add the IDs of the sheets you want on each collection, separated by commas "," 
                <br>
                For example adding 51,52,123 to the Arms and equipment collection will make those items accessible under the Arms and equipment tab of your sheet!
            </p>
            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="arms_and_equipment">Arms &amp; Equipment</label>
                    <textarea name="arms_and_equipment" class="form-control" placeholder="" rows="2">{{ variables.arms_and_equipment is defined ? variables.arms_and_equipment }}</textarea>
                </div>          
            </div>
            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="class_features">Class Features</label>
                    <textarea name="class_features" class="form-control" placeholder="" rows="2">{{ variables.class_features is defined ? variables.class_features }}</textarea>
                </div>
            </div>
            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="deployment">Deployment</label>
                    <textarea name="deployment" class="form-control" placeholder="" rows="2">{{ variables.deployment is defined ? variables.deployment }}</textarea>
                </div>          
            </div>
            <div class="dnd-sheet-container">
                <div class="form-group">
                    <label for="retinue">Followers and Allies</label>
                    <textarea name="retinue" class="form-control" placeholder="" rows="2">{{ variables.retinue is defined ? variables.retinue }}</textarea>
                </div>          
            </div>
            <h2>Your Spellbook <small class="text-muted">(Known spells)</small></h2>
            <p class="starwars5e-sheet-description m-t-10 mt-1">
                Add the IDs of the spells you want on the appropriate section of your spellbook.
            </p>
            <div class="starwars5e-sheet-container">
                <div class="row">
                    <div class="col-12">
                        <textarea placeholder="eg 163,435,77653" class="form-control" type="text" name="spellbook">{{ variables.spellbook }}</textarea>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
    Values that are stored and tracked but not visible on the sheet. 
    These are mostly used for the tracking sheet which tracks temporary changes on the character during the session.
-->
<input type="hidden" value="{{ variables.hit_points_current is defined ? variables.hit_points_current }}" name="hit_points_current" />

<input type="hidden" value="{{ variables.temporary_hit_points is defined ? variables.temporary_hit_points }}" name="temporary_hit_points" />
<input type="hidden" value="{{ variables.hit_dice_used is defined ? variables.hit_dice_used }}" name="hit_dice_used" />
<input type="hidden" value="{{ variables.credits is defined ? variables.credits }}" name="credits" />
<input type="hidden" value="{{ variables.inspiration is defined ? variables.inspiration }}" name="inspiration" />
<input type="hidden" value="{{ variables.temporary_hit_points_current is defined ? variables.temporary_hit_points_current }}" name="temporary_hit_points_current" />
<input type="hidden" value="{{ variables.conditions is defined ? variables.conditions }}" name="conditions" />
<input type="hidden" value="{{ variables.class_resources_remaining is defined ? variables.class_resources_remaining }}" name="class_resources_remaining" />