<section class="wwn-tracker-sheet">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-6">
                    <div class="card my-2 of">
                        <div class="card-body od" >
                            <table width="100%">
                                <tr>
                                    <td class="hdr c" colspan=2>HP</td>
                                    <td class="hdr c" colspan=2>EFFORT</td>
                                    <td class="hdr c" colspan=2>Syst. Strain</td>
                                </tr>
                                <tr>
                                    <td class="txt c" width="25%"><input value="{{ variables.hp_curr is defined ? variables.hp_curr }}" class="form-control c" id="hp_curr" name="hp_curr" type="number" /></td><td class="txt c" width="12%"> / {{ variables.hp_max is defined ? variables.hp_max }}</td>
                                    <td class="txt c"><input value="{{ variables.effort_curr is defined ? variables.effort_curr }}" class="form-control c" id="effort_curr" name="effort_curr" type="number" /></td><td class="txt c" width="12%"> / {{ variables.effort_max is defined ? variables.effort_max }}</td>
                                    <td class="txt c"><input value="{{ variables.system_strain is defined ? variables.system_strain }}" class="form-control c" id="system_strain" name="system_strain" type="number" /></td><td class="txt c" width="12%"> / {{ variables.constitution is defined ? variables.constitution }}</td>
                                </tr>
                            </table>
                            <table width="100%">
                                <tr>
                                    <td class="hdr c">XP</td>
                                    <td class="hdr c">Spells cast</td>
                                </tr>
                                <tr>
                                    <td class="txt c"><input value="{{ variables.xp is defined ? variables.xp }}" class="form-control input-med c" id="xp" name="xp" type="number" /></td>
                                    <td class="txt c"><input value="{{ variables.spells_cast_curr|default }}" class="form-control c" id="spells_cast_curr" name="spells_cast_curr" type="text" /></td>
                                </tr>
                            </table>
                            <table width="100%">
                                <tr>
                                    <td class="hdr c">gp</td><td class="txt c"><strong><input value="{{ variables.gp|default }}" class="form-control c" id="gp" name="gp" type="number" /></strong></td>
                                    <td class="hdr c">sp</td><td class="txt c"><strong><input value="{{ variables.sp|default }}" class="form-control c" id="sp" name="sp" type="number" /></strong></td>
                                    <td class="hdr c">cp</td><td class="txt c"><strong><input value="{{ variables.cp|default }}" class="form-control c" id="cp" name="cp" type="number" /></strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card my-2 of">
                        <div class="card-header head-bar"><em class="fas fa-file-alt"></em> Notes </div>
                        <div class="card-body od pd10">
                            <textarea class="form-control" id="notes" name="notes" rows="2">{{ variables.notes is defined ? variables.notes }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>