{% import _self as sheet %}
{% set BL = 0 %}
{% if variables.strength is defined and variables.strength > 0 %}{% set BL = (variables.strength * variables.strength) // 5 %}{% endif %}
{% if BL > 10 %}{% set BL = BL|round %}{% endif %}
{# ---------------------------------------------- #}
{% macro Tuple(id, name, cost) %}{% if (name is defined and name != "") %}
{% set c = 'Cost' %}{% if cost < 0 %}{% set c = 'Reimbursement' %}{% endif %}
<tr><td class="lbl">{{name}}</td><td class="txt r" width="70px" title="{{c}}">[{{cost}}]</td></tr>{% endif %}{% endmacro Tuple %}
{# ---------------------------------------------- #}
{% macro Triple(name, value, cost = "", title = "", class = "" ) %}{% if (name is defined and name != "") %}<tr>
    <td class="lbl l" width="40%" title="{{title}}">{{name}}</td>
    <td class="txt {{class}}">{{value}}</td>
    {% if cost != "" %}<td class="txt r" width="70px" title="Cost">[{{cost}}]</td>{% endif %}</tr>{% endif %}{% endmacro Triple %}
{# ---------------------------------------------- #}
{% macro Lang(id, name, spoken, written, cost) %}{% if (name is defined and name != "") %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="{{eo}} lbl">{{name}}</td>
<td class="{{eo}}">{{spoken}}</td>
<td class="{{eo}}">{{written}}</td>
<td class="{{eo}} r" title="Cost">[{{cost}}]</td>
</tr>{% endif %}{% endmacro Lang %}
{# ---------------------------------------------- #}
{% macro Skill(id, name, attn, attv, lvl, mod, notes, cost) %}{% if (name is defined and name != "") %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
{% set attn = attn|upper %}
{% if attn == 'NONE' %}{% set attv = 10 %}{% endif %}
{% if attn == 'STRENGTH' %}{% set attn = 'ST' %}{% endif %}
{% if attn == 'DEXTERITY' %}{% set attn = 'DX' %}{% endif %}
{% if attn == 'INTELLIGENCE' %}{% set attn = 'IQ' %}{% endif %}
{% if attn == 'HEALTH' %}{% set attn = 'HT' %}{% endif %}
{% if attn == 'PERCEPTION' %}{% set attn = 'PER' %}{% endif %}
<td class="{{eo}} lbl" colspan=2>{{name}} ({{attn}})</td>
<td class="{{eo}} c">{{lvl}}</td>
<td class="{{eo}} c">{{lvl - attv}}</td>
<td class="{{eo}} r" title="Cost">[{{cost}}]</td>
</tr>{% if notes != "" %}<tr><td class="{{eo}}" width="50px">&nbsp;</td><td class="{{eo}} i" colspan=4>{{notes}}</td></tr>{% endif %}{% endif %}{% endmacro Skill %}
{# ---------------------------------------------- #}
{% macro Armour(id, name, loc, dr, lc, weight, notes, cost) %}{% if (name is defined and name != "") %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="{{eo}} lbl">{{name}}</td>
<td class="{{eo}} c">{{loc}}</td>
<td class="{{eo}} c">{{dr}}</td>
<td class="{{eo}} c">{{lc}}</td>
<td class="{{eo}} c">{{weight}}</td>
<td class="{{eo}} r" title="Cost">{{cost}}</td>
</tr>{% if notes != "" %}<tr><td class="{{eo}}">&nbsp;</td><td class="{{eo}} i" colspan=5>{{notes}}</td></tr>{% endif %}{% endif %}{% endmacro Armour %}
{# ---------------------------------------------- #}
{% macro HandWeapon(id, name, damage, reach, parry, notes, weight, cost) %}{% if (name is defined and name != "") %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="{{eo}} lbl">{{name}}</td>
<td class="{{eo}} c">{{damage}}</td>
<td class="{{eo}} c">{{reach}}</td>
<td class="{{eo}} c">{{parry}}</td>
<td class="{{eo}} c">{{weight}}</td>
<td class="{{eo}} r" title="Cost">{{cost}}</td>
</tr>{% if notes != "" %}<tr><td class="{{eo}}">&nbsp;</td><td class="{{eo}} i" colspan=5>{{notes}}</td></tr>{% endif %}{% endif %}{% endmacro HandWeapon %}
{# ---------------------------------------------- #}
{% macro RangedWeapon(id, name, damage, acc, range, rof, shots, st, bulk, rcl, lc, notes, weight, cost) %}{% if (name is defined and name != "") %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="{{eo}} lbl">{{name}}</td>
<td class="{{eo}} c">{{damage}}</td>
<td class="{{eo}} c">{{acc}}</td>
<td class="{{eo}} c">{{range}}</td>
<td class="{{eo}} c">{{rof}}</td>
<td class="{{eo}} c">{{shots}}</td>
<td class="{{eo}} c">{{st}}</td>
<td class="{{eo}} c">{{bulk}}</td>
<td class="{{eo}} c">{{rcl}}</td>
<td class="{{eo}} c">{{cl}}</td>
<td class="{{eo}} c">{{weight}}</td>
<td class="{{eo}} r" title="Cost">{{cost}}</td>
</tr>{% if notes != "" %}<tr><td class="{{eo}}">&nbsp;</td><td class="{{eo}} i" colspan=11>{{notes}}</td></tr>{% endif %}{% endif %}{% endmacro RangedWeapon %}
{# ---------------------------------------------- #}
<div class="gurps-sheet">
	<div class="row">
		<div class="col-12 col-md-12 col-lg-7">
                         <a href="http://www.sjgames.com/gurps/" target="_new"><div class="hidden-xs hidden-sm hidden-md d-none d-lg-block logo"></div></a>
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">General Information</span>
            	<h1 class="dnd5e-sheet-header c">{{variables.name}}</h1>
                <table width="100%">
                    {{ sheet.Triple("Appearance", variables.appearance, "", "", "l") }}
                    {{ sheet.Triple("Age", variables.age, "", "", "l") }}
                    {{ sheet.Triple("Height", variables.height, "", "", "l") }}
                    {{ sheet.Triple("Weight", variables.weight, "", "", "l") }}
                    {{ sheet.Triple("Size Mod", variables.size_mod, "", "", "l") }}
{% set pus = '' %}
{% if variables.points_unspent is defined and variables.points_unspent != '' and variables.points_unspent != 0 %}
{% set pus = ' (unspent: ' ~ variables.points_unspent ~ ')' %}
{% endif %}
                    {{ sheet.Triple("Points Total", variables.points_total ~ pus, "", "", "l") }}
                </table>
			</div>
        </div>
		<div class="col-12 col-lg-5 hidden-xs hidden-sm hidden-md d-none d-lg-block portrait">
			<input value="{{ variables.image_id|default("") }}" class="form-control" id="image_id" name="image_id" type="text" />
		</div>
    </div>




<input value="{{ variables.points_total|default("") }}" class="form-control" id="points_total" name="points_total" type="text" />
<input value="{{ variables.points_unspent|default("") }}" class="form-control" id="points_unspent" name="points_unspent" type="text" />
<input value="{{ variables.height|default("") }}" class="form-control" id="height" name="height" type="text" />
<input value="{{ variables.weight|default("") }}" class="form-control" id="weight" name="weight" type="text" />
<input value="{{ variables.size_mod|default("") }}" class="form-control" id="size_mod" name="size_mod" type="text" />
<input value="{{ variables.age|default("") }}" class="form-control" id="age" name="age" type="text" />
<textarea class="form-control" id="appearance" name="appearance" rows="3">{{ variables.appearance|default("") }}</textarea>






	<div class="row">
		<div class="col-12 col-md-6 c">
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">Attributes</span>
                <table width="100%">
                    {{ sheet.Triple("Strength (ST)", variables.strength, variables.strength_cost, "") }}
                    {{ sheet.Triple("Dexterity (DX)", variables.dexterity, variables.dexterity_cost, "") }}
                    {{ sheet.Triple("Intelligence (IQ)", variables.intelligence, variables.intelligence_cost, "") }}
                    {{ sheet.Triple("Health (HT)", variables.health, variables.health_cost, "") }}
{% set will = variables.intelligence %}
{% if variables.will is defined and variables.will != '' %}{% set will = variables.will %}{% endif %}
                    {{ sheet.Triple("Will (WILL)", will, variables.will_cost, "") }}
{% set per = variables.intelligence %}
{% if variables.perception is defined and variables.perception != '' %}{% set per = variables.perception %}{% endif %}
                    {{ sheet.Triple("Perception (PER)", per, variables.perception_cost, "") }}
                </table>
            </div>
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">Vitals</span>
                <table width="100%">
{% set hp = variables.strength %}
{% if variables.hp is defined and variables.hp != '' %}{% set hp = variables.hp %}{% endif %}
{% set hp_curr = hp %}
{% if variables.hp_curr is defined and variables.hp_curr != ''%}{% set hp_curr = variables.hp_curr %}{% endif %}
                    {{ sheet.Triple("Hit Points (HP)", hp_curr ~ " / " ~ hp, variables.hp_cost, "") }}
{% set fp = variables.health %}
{% if variables.fp is defined and variables.fp != '' %}{% set fp = variables.fp %}{% endif %}
{% set fp_curr = fp %}
{% if variables.fp_curr is defined and variables.fp_curr != ''%}{% set fp_curr = variables.fp_curr %}{% endif %}
                    {{ sheet.Triple("Fatigue Points (FP)", fp_curr ~ " / " ~ fp, variables.fp_cost, "") }}
                </table>
            </div>
			<div class="contentContainer contentContainer-standard of">
                <span class="contentHeader">Languages</span>
                <table width="100%">
                    <tr>
                    <th class="hdr">Language</th>
                    <th class="hdr">Spoken</th>
                    <th class="hdr">Written</th>
                    <th class="hdr">&nbsp;</th>
                    </tr>
                {% for i in 1..20 %}
                    {% set x = (i < 10 ? '0') ~ i %}
                    {{ sheet.Lang(
                        x,
                        attribute(variables, "language_name_" ~ x ),
                        attribute(variables, "language_spoken_" ~ x ),
                        attribute(variables, "language_written_" ~ x ),
                        attribute(variables, "language_cost_" ~ x )
                     ) }}
                {% endfor %}
                </table>
    		</div>
        </div>
		<div class="col-12 col-md-6 c">
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">Other</span>
                <table width="100%">
{% set bs = ((variables.health + variables.dexterity) / 4) |number_format(2) %}
{% if variables.basic_speed is defined and variables.basic_speed != ''%}{% set bs = variables.basic_speed %}{% endif %}
                    {{ sheet.Triple("Basic Speed", bs, variables.basic_speed_cost) }}
{% set bm = (bs - 0.5)|number_format %}
{% if variables.basic_move is defined and variables.basic_move != ''%}{% set bm = variables.basic_move %}{% endif %}
                    {{ sheet.Triple("Basic Move (BM)", bm, variables.basic_move_cost) }}
                    {{ sheet.Triple("DR", variables.dr) }}
                    {{ sheet.Triple("Parry", variables.parry) }}
                    {{ sheet.Triple("Block", variables.block) }}
                    {{ sheet.Triple("Damage Thrust", variables.damage_thrust) }}
                    {{ sheet.Triple("Damage Swing", variables.damage_swing) }}
                    {{ sheet.Triple("Tech Level", variables.tech_level) }}
                    {{ sheet.Triple("Appearance Mod", variables.appearance_mod) }}
                    {{ sheet.Triple("Status Mod", variables.status_mod) }}
                <tr>
                    <th class="hdr l" colspan=2>Cult. Familiarities</th><th class="hdr">[{{variables.cult_familiarities_cost}}]</th>
                </tr>
                <tr>
                    <td class="txt l fr1" colspan=3>{{ variables.cult_familiarities|nl2br }}</td>
                </tr>
                <tr>
                    <th class="hdr l" colspan=3>Reputation</th></tr>
                <tr>
                    <td class="txt l fr1" colspan=3>{{ variables.reputation|nl2br }}</td>
                </tr>
                </table>
    		</div>
		</div>
    </div>
	<div class="row">
        {% if variables.advantage_name_01 is defined and variables.advantage_name_01 != '' %}
		<div class="col-12 col-md-6 of">
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">ADVANTAGES AND PERKS</span>
                <table width="100%">
                {% for i in 1..30 %}
                    {% set x = (i < 10 ? '0') ~ i %}
                    {{ sheet.Tuple( x, attribute(variables, "advantage_name_" ~ x ), attribute(variables, "advantage_cost_" ~ x ) ) }}
                {% endfor %}
                </table>
            </div>
		</div>
        {% endif %}
        {% if variables.disadvantage_name_01 is defined and variables.disadvantage_name_01 != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">DISADVANTAGES AND QUIRKS</span>
                <table width="100%">
                {% for i in 1..30 %}
                    {% set x = (i < 10 ? '0') ~ i %}
                    {{ sheet.Tuple( x, attribute(variables, "disadvantage_name_" ~ x ), attribute(variables, "disadvantage_cost_" ~ x ) ) }}
                {% endfor %}
                </table>
            </div>
		</div>
        {% endif %}
        {% if variables.skill_name_01 is defined and variables.skill_name_01 != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">SKILLS</span>
                <table width="100%">
                    <tr>
                    <th colspan=2 class="hdr">Name</th>
                    <th width="70px" class="hdr c">Level</th>
                    <th width="70px" class="hdr c">Rel. Lvl</th>
                    <th width="70px" class="hdr">&nbsp;</th>
                    </tr>
                {% for i in 1..50 %}
                    {% set x = (i < 10 ? '0') ~ i %}
                    {% set att = attribute(variables, "skill_attribute_" ~ x ) %}
                    {{ sheet.Skill(
                        x,
                        attribute(variables, "skill_name_" ~ x ),
                        attribute(variables, "skill_attribute_" ~ x ),
                        attribute(variables, att ),
                        attribute(variables, "skill_level_" ~ x ),
                        attribute(variables, "skill_mod_" ~ x ),
                        attribute(variables, "skill_notes_" ~ x ),
                        attribute(variables, "skill_cost_" ~ x )
                     ) }}
                {% endfor %}
                </table>
            </div>
		</div>
        {% endif %}
        {% if variables.spell_name_01 is defined and variables.spell_name_01 != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">SPELLS</span>
                <table width="100%">
                    <tr>
                    <th colspan=2 class="hdr">Name</th>
                    <th width="70px" class="hdr c">Level</th>
                    <th width="70px" class="hdr c">Rel. Lvl</th>
                    <th width="70px" class="hdr">&nbsp;</th>
                    </tr>
                {% for i in 1..50 %}
                    {% set x = (i < 10 ? '0') ~ i %}
                    {% set att = attribute(variables, "spell_attribute_" ~ x ) %}
                    {{ sheet.Skill(
                        x,
                        attribute(variables, "spell_name_" ~ x ),
                        attribute(variables, "spell_attribute_" ~ x ),
                        attribute(variables, att ),
                        attribute(variables, "spell_level_" ~ x ),
                        attribute(variables, "spell_mod_" ~ x ),
                        attribute(variables, "spell_notes_" ~ x ),
                        attribute(variables, "spell_cost_" ~ x )
                     ) }}
                {% endfor %}
                </table>
            </div>
		</div>
        {% endif %}
        {% if variables.hand_weapon_name_01 is defined and variables.hand_weapon_name_01 != '' %}
		<div class="col-12 col-md-6 of">
			<div class="contentContainer contentContainer-standard of">
                <span class="contentHeader">HAND WEAPONS</span>
                <table width="100%">
                    <tr>
                    <th width="110px" class="hdr">Weapon</th>
                    <th width="110px" class="hdr c">Damage</th>
                    <th width="70px" class="hdr c" title="Reach in yards">Reach</th>
                    <th width="70px" class="hdr c" title="Modifier to Parry defense">Parry</th>
                    <th width="70px" class="hdr c" title="Weight in pounds">Weight</th>
                    <th width="70px" class="hdr">&nbsp;</th>
                    </tr>
                {% for i in 1..20 %}
                    {% set x = (i < 10 ? '0') ~ i %}
                    {{ sheet.HandWeapon(
                        x,
                        attribute(variables, "hand_weapon_name_" ~ x ),
                        attribute(variables, "hand_weapon_damage_" ~ x ),
                        attribute(variables, "hand_weapon_reach_" ~ x ),
                        attribute(variables, "hand_weapon_parry_" ~ x ),
                        attribute(variables, "hand_weapon_notes_" ~ x ),
                        attribute(variables, "hand_weapon_weight_" ~ x ),
                        attribute(variables, "hand_weapon_cost_" ~ x )
                     ) }}
                {% endfor %}
                </table>
            </div>
		</div>
        {% endif %}
        {% if variables.armour_name_01 is defined and variables.armour_name_01 != '' %}
		<div class="col-12 col-md-6 of">
			<div class="contentContainer contentContainer-standard of">
                <span class="contentHeader">ARMOUR</span>
                <table width="100%">
                    <tr>
                    <th width="110px" class="hdr">Armour</th>
                    <th width="110px" class="hdr c" title="Protected bodypart(s)">Location</th>
                    <th class="hdr c" title="Damage Resistance">DR</th>
                    <th class="hdr c" title="Legality Class">LC</th>
                    <th width="70px" class="hdr c" title="Weight in pounds">Weight</th>
                    <th width="70px" class="hdr">&nbsp;</th>
                    </tr>
                {% for i in 1..20 %}
                    {% set x = (i < 10 ? '0') ~ i %}
                    {{ sheet.Armour(
                        x,
                        attribute(variables, "armour_name_" ~ x ),
                        attribute(variables, "armour_loc_" ~ x ),
                        attribute(variables, "armour_dr_" ~ x ),
                        attribute(variables, "armour_lc_" ~ x ),
                        attribute(variables, "armour_weight_" ~ x ),
                        attribute(variables, "armour_notes_" ~ x ),
                        attribute(variables, "armour_cost_" ~ x )
                     ) }}
                {% endfor %}
                </table>
    		</div>
		</div>
        {% endif %}
        {% if variables.ranged_weapon_name_01 is defined and variables.ranged_weapon_name_01 != '' %}
		<div class="col-12 of">
			<div class="contentContainer contentContainer-standard of">
                <span class="contentHeader">RANGED WEAPONS</span>
                <table width="100%">
                    <tr>
                    <th width="110px" class="hdr">Weapon</th>
                    <th width="110px" class="hdr c">Damage</th>
                    <th class="hdr c" title="Accuracy">Acc</th>
                    <th class="hdr c" title="Range in yards">Range</th>
                    <th class="hdr c" title="Rate of Fire">RoF</th>
                    <th class="hdr c" title="Number of shots before reload">Shots</th>
                    <th class="hdr c" title="Strength required">ST</th>
                    <th class="hdr c" title="A measure of the weapon’s size and handiness.">Bulk</th>
                    <th class="hdr c" title="Recoil">RCL</th>
                    <th class="hdr c" title="Legality Class">LC</th>
                    <th width="70px" class="hdr c" title="Weight in pounds">Weight</th>
                    <th width="70px" class="hdr">&nbsp;</th>
                    </tr>
                {% for i in 1..20 %}
                    {% set x = (i < 10 ? '0') ~ i %}
                    {{ sheet.RangedWeapon(
                        x,
                        attribute(variables, "ranged_weapon_name_" ~ x ),
                        attribute(variables, "ranged_weapon_damage_" ~ x ),
                        attribute(variables, "ranged_weapon_acc_" ~ x ),
                        attribute(variables, "ranged_weapon_range_" ~ x ),
                        attribute(variables, "ranged_weapon_rof_" ~ x ),
                        attribute(variables, "ranged_weapon_shots_" ~ x ),
                        attribute(variables, "ranged_weapon_st_" ~ x ),
                        attribute(variables, "ranged_weapon_bulk_" ~ x ),
                        attribute(variables, "ranged_weapon_rcl_" ~ x ),
                        attribute(variables, "ranged_weapon_lc_" ~ x ),
                        attribute(variables, "ranged_weapon_notes_" ~ x ),
                        attribute(variables, "ranged_weapon_weight_" ~ x ),
                        attribute(variables, "ranged_weapon_cost_" ~ x )
                     ) }}
                {% endfor %}
                </table>
    		</div>
		</div>
        {% endif %}
		<div class="col-12 col-md-6 of">
			<div class="contentContainer contentContainer-standard of">
                <span class="contentHeader">HIT LOCATIONS</span>
                <table width="100%">
                    <tr><th class="hdr">Modifier</th><th class="hdr">Location</th><th class="hdr">Modifier</th><th class="hdr">Location</th></tr>
                    <tr><td class="odd"> 0</td><td class="odd">Torso  </td><td class="odd">-4</td><td class="odd">Hand</td></tr>
                    <tr><td class="ev" >-2</td><td class="ev" >Arm/Leg</td><td class="ev" >-5</td><td class="ev" >Face</td></tr>
                    <tr><td class="odd">-3</td><td class="odd">Groin  </td><td class="odd">-7</td><td class="odd">Skull</td></tr>
                    <tr><td class="ev c" colspan=4>Imp or Pi attacks can target vitals at -3 or eyes at -9.</td></tr>
                </table>
            </div>
		</div>
		<div class="col-12 col-md-6 of">
			<div class="contentContainer contentContainer-standard of">
                <table width="100%">
                    <tr>
                        <th colspan=2 class="hdr c">Encumbrance</th><th colspan=2 class="hdr c">Move</th><th colspan=2 class="hdr c">Dodge</th>
                    </tr>
                    <tr><td>None  = BL</td><td class="r b pr" title="BL: Basic Lift = weight in pounds you can lift with one hand in one second">{{BL}}</td><td>BM × 1</td><td class="r b pr">{{variables.basic_move}}</td><td>+0</td><td class="r b">{{variables.basic_speed +3 }}</td></tr>
                    <tr><td>Light (1) = 2 × BL</td><td class="r b pr">{{2 * BL}}</td><td>BM × 0.8</td><td class="r b pr">{{variables.basic_move * 0.6}}</td><td>-1</td><td class="r b">{{variables.basic_speed +3 -1 }}</td></tr>
                    <tr><td>Medium (2) = 3 × BL</td><td class="r b pr">{{3 * BL}}</td><td>BM × 0.6</td><td class="r b pr">{{variables.basic_move *0.6 }}</td><td>-2</td><td class="r b">{{variables.basic_speed +3 -2 }}</td></tr>
                    <tr><td>Heavy (3) = 6 × BL</td><td class="r b pr">{{6 * BL}}</td><td>BM × 0.4</td><td class="r b pr">{{variables.basic_move * 0.4 }}</td><td>-3</td><td class="r b">{{variables.basic_speed +3 -3 }}</td></tr>
                    <tr><td>X-Heavy (4) = 10 × BL</td><td class="r b pr">{{10 * BL}}</td><td>BM × 0.2</td><td class="r b pr">{{variables.basic_move * 0.2 }}</td><td>-4</td><td class="r b">{{variables.basic_speed +3 -4 }}</td></tr>
                </table>
            </div>
		</div>
        {% if variables.inventory is defined and variables.inventory != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">Inventory</span>
				{{ variables.inventory|nl2br }}<br>
			</div>
		</div>
        {% endif %}
        {% if variables.notes is defined and variables.notes != '' %}
		<div class="col-12 col-md-6">
			<div class="contentContainer contentContainer-standard">
                <span class="contentHeader">Notes</span>
				{{ variables.notes|nl2br }}<br>
			</div>
        </div>
        {% endif %}
    </div>
</div>








<input value="{{ variables.strength|default("") }}" class="form-control" id="strength" name="strength" type="text" />
<input value="{{ variables.strength_cost|default("") }}" class="form-control" id="strength_cost" name="strength_cost" type="text" />
<input value="{{ variables.dexterity|default("") }}" class="form-control" id="dexterity" name="dexterity" type="text" />
<input value="{{ variables.dexterity_cost|default("") }}" class="form-control" id="dexterity_cost" name="dexterity_cost" type="text" />
<input value="{{ variables.intelligence|default("") }}" class="form-control" id="intelligence" name="intelligence" type="text" />
<input value="{{ variables.intelligence_cost|default("") }}" class="form-control" id="intelligence_cost" name="intelligence_cost" type="text" />
<input value="{{ variables.health|default("") }}" class="form-control" id="health" name="health" type="text" />
<input value="{{ variables.health_cost|default("") }}" class="form-control" id="health_cost" name="health_cost" type="text" />
<input value="{{ variables.will|default("") }}" class="form-control" id="will" name="will" type="text" />
<input value="{{ variables.will_cost|default("") }}" class="form-control" id="will_cost" name="will_cost" type="text" />
<input value="{{ variables.perception|default("") }}" class="form-control" id="perception" name="perception" type="text" />
<input value="{{ variables.perception_cost|default("") }}" class="form-control" id="perception_cost" name="perception_cost" type="text" />
<input value="{{ variables.hp|default("") }}" class="form-control" id="hp" name="hp" type="text" />
<input value="{{ variables.hp_cost|default("") }}" class="form-control" id="hp_cost" name="hp_cost" type="text" />
<input value="{{ variables.hp_curr|default("") }}" class="form-control" id="hp_curr" name="hp_curr" type="text" />
<input value="{{ variables.fp|default("") }}" class="form-control" id="fp" name="fp" type="text" />
<input value="{{ variables.fp_cost|default("") }}" class="form-control" id="fp_cost" name="fp_cost" type="text" />
<input value="{{ variables.fp_curr|default("") }}" class="form-control" id="fp_curr" name="fp_curr" type="text" />

<input value="{{ variables.basic_speed|default("") }}" class="form-control" id="basic_speed" name="basic_speed" type="text" />
<input value="{{ variables.basic_speed_cost|default("") }}" class="form-control" id="basic_speed_cost" name="basic_speed_cost" type="text" />
<input value="{{ variables.basic_move|default("") }}" class="form-control" id="basic_move" name="basic_move" type="text" />
<input value="{{ variables.basic_move_cost|default("") }}" class="form-control" id="basic_move_cost" name="basic_move_cost" type="text" />
<input value="{{ variables.dr|default("") }}" class="form-control" id="dr" name="dr" type="text" />
<input value="{{ variables.parry|default("") }}" class="form-control" id="parry" name="parry" type="text" />
<input value="{{ variables.block|default("") }}" class="form-control" id="block" name="block" type="text" />
<input value="{{ variables.damage_thrust|default("") }}" class="form-control" id="damage_thrust" name="damage_thrust" type="text" />
<input value="{{ variables.damage_swing|default("") }}" class="form-control" id="damage_swing" name="damage_swing" type="text" />
<input value="{{ variables.tech_level|default("") }}" class="form-control" id="tech_level" name="tech_level" type="text" />
<textarea class="form-control" id="cult_familiarities" name="cult_familiarities" rows="5">{{ variables.cult_familiarities|default("") }}</textarea>
<input value="{{ variables.cult_familiarities_cost|default("") }}" class="form-control" id="cult_familiarities_cost" name="cult_familiarities_cost" type="text" />
<textarea class="form-control" id="reputation" name="reputation" rows="3">{{ variables.reputation|default("") }}</textarea>
<input value="{{ variables.appearance_mod|default("") }}" class="form-control" id="appearance_mod" name="appearance_mod" type="text" />
<input value="{{ variables.status_mod|default("") }}" class="form-control" id="status_mod" name="status_mod" type="text" />

<input value="{{ variables.language_name_01|default("") }}" class="form-control" id="language_name_01" name="language_name_01" type="text" />
<input value="{{ variables.language_cost_01|default("") }}" class="form-control" id="language_cost_01" name="language_cost_01" type="text" />
<select class="form-control" id="language_spoken_01" name="language_spoken_01">
    <option value="none" {% if variables.language_spoken_01 is defined and variables.language_spoken_01 == "none" %}selected="selected" {% endif %} >none</option>
    <option value="broken" {% if variables.language_spoken_01 is defined and variables.language_spoken_01 == "broken" %}selected="selected" {% endif %} >broken</option>
    <option value="accented" {% if variables.language_spoken_01 is defined and variables.language_spoken_01 == "accented" %}selected="selected" {% endif %} >accented</option>
    <option value="native" {% if variables.language_spoken_01 is defined and variables.language_spoken_01 == "native" %}selected="selected" {% endif %} >native</option>
</select>
<select class="form-control" id="language_written_01" name="language_written_01">
    <option value="none" {% if variables.language_written_01 is defined and variables.language_written_01 == "none" %}selected="selected" {% endif %} >none</option>
    <option value="broken" {% if variables.language_written_01 is defined and variables.language_written_01 == "broken" %}selected="selected" {% endif %} >broken</option>
    <option value="accented" {% if variables.language_written_01 is defined and variables.language_written_01 == "accented" %}selected="selected" {% endif %} >accented</option>
    <option value="native" {% if variables.language_written_01 is defined and variables.language_written_01 == "native" %}selected="selected" {% endif %} >native</option>
</select>

<input value="{{ variables.advantage_name_01|default("") }}" class="form-control" id="advantage_name_01" name="advantage_name_01" type="text" />
<input value="{{ variables.advantage_cost_01|default("") }}" class="form-control" id="advantage_cost_01" name="advantage_cost_01" type="text" />

<input value="{{ variables.disadvantage_name_01|default("") }}" class="form-control" id="disadvantage_name_01" name="disadvantage_name_01" type="text" />
<input value="{{ variables.disadvantage_cost_01|default("") }}" class="form-control" id="disadvantage_cost_01" name="disadvantage_cost_01" type="text" />

<input value="{{ variables.skill_name_01|default("") }}" class="form-control" id="skill_name_01" name="skill_name_01" type="text" />
<input value="{{ variables.skill_level_01|default("") }}" class="form-control" id="skill_level_01" name="skill_level_01" type="text" />
<select class="form-control" id="skill_attribute_01" name="skill_attribute_01">
    <option value="none" {% if variables.skill_attribute_01 is defined and variables.skill_attribute_01 == "none" %}selected="selected" {% endif %} >none</option>
    <option value="strength" {% if variables.skill_attribute_01 is defined and variables.skill_attribute_01 == "strength" %}selected="selected" {% endif %} >strength</option>
    <option value="dexterity" {% if variables.skill_attribute_01 is defined and variables.skill_attribute_01 == "dexterity" %}selected="selected" {% endif %} >dexterity</option>
    <option value="intelligence" {% if variables.skill_attribute_01 is defined and variables.skill_attribute_01 == "intelligence" %}selected="selected" {% endif %} >intelligence</option>
    <option value="health" {% if variables.skill_attribute_01 is defined and variables.skill_attribute_01 == "health" %}selected="selected" {% endif %} >health</option>
    <option value="will" {% if variables.skill_attribute_01 is defined and variables.skill_attribute_01 == "will" %}selected="selected" {% endif %} >will</option>
    <option value="perception" {% if variables.skill_attribute_01 is defined and variables.skill_attribute_01 == "perception" %}selected="selected" {% endif %} >perception</option>
</select>
<input value="{{ variables.skill_mod_01|default("") }}" class="form-control" id="skill_mod_01" name="skill_mod_01" type="text" />
<input value="{{ variables.skill_notes_01|default("") }}" class="form-control" id="skill_notes_01" name="skill_notes_01" type="text" />
<input value="{{ variables.skill_cost_01|default("") }}" class="form-control" id="skill_cost_01" name="skill_cost_01" type="text" />

<input value="{{ variables.spell_name_01|default("") }}" class="form-control" id="spell_name_01" name="spell_name_01" type="text" />
<input value="{{ variables.spell_level_01|default("") }}" class="form-control" id="spell_level_01" name="spell_level_01" type="text" />
<select class="form-control" id="spell_attribute_01" name="spell_attribute_01">
    <option value="none" {% if variables.spell_attribute_01 is defined and variables.spell_attribute_01 == "none" %}selected="selected" {% endif %} >none</option>
    <option value="strength" {% if variables.spell_attribute_01 is defined and variables.spell_attribute_01 == "strength" %}selected="selected" {% endif %} >strength</option>
    <option value="dexterity" {% if variables.spell_attribute_01 is defined and variables.spell_attribute_01 == "dexterity" %}selected="selected" {% endif %} >dexterity</option>
    <option value="intelligence" {% if variables.spell_attribute_01 is defined and variables.spell_attribute_01 == "intelligence" %}selected="selected" {% endif %} >intelligence</option>
    <option value="health" {% if variables.spell_attribute_01 is defined and variables.spell_attribute_01 == "health" %}selected="selected" {% endif %} >health</option>
    <option value="will" {% if variables.spell_attribute_01 is defined and variables.spell_attribute_01 == "will" %}selected="selected" {% endif %} >will</option>
    <option value="perception" {% if variables.spell_attribute_01 is defined and variables.spell_attribute_01 == "perception" %}selected="selected" {% endif %} >perception</option>
</select>
<input value="{{ variables.spell_mod_01|default("") }}" class="form-control" id="spell_mod_01" name="spell_mod_01" type="text" />
<input value="{{ variables.spell_notes_01|default("") }}" class="form-control" id="spell_notes_01" name="spell_notes_01" type="text" />
<input value="{{ variables.spell_cost_01|default("") }}" class="form-control" id="spell_cost_01" name="spell_cost_01" type="text" />

<input value="{{ variables.hand_weapon_name_01|default("") }}" class="form-control" id="hand_weapon_name_01" name="hand_weapon_name_01" type="text" />
<input value="{{ variables.hand_weapon_damage_01|default("") }}" class="form-control" id="hand_weapon_damage_01" name="hand_weapon_damage_01" type="text" />
<input value="{{ variables.hand_weapon_reach_01|default("") }}" class="form-control" id="hand_weapon_reach_01" name="hand_weapon_reach_01" type="text" />
<input value="{{ variables.hand_weapon_parry_01|default("") }}" class="form-control" id="hand_weapon_parry_01" name="hand_weapon_parry_01" type="text" />
<textarea class="form-control" id="hand_weapon_notes_01" name="hand_weapon_notes_01" rows="2">{{ variables.hand_weapon_notes_01|default("") }}</textarea>
<input value="{{ variables.hand_weapon_cost_01|default("") }}" class="form-control" id="hand_weapon_cost_01" name="hand_weapon_cost_01" type="text" />
<input value="{{ variables.hand_weapon_weight_01|default("") }}" class="form-control" id="hand_weapon_weight_01" name="hand_weapon_weight_01" type="text" />

<input value="{{ variables.ranged_weapon_name_01|default("") }}" class="form-control" id="ranged_weapon_name_01" name="ranged_weapon_name_01" type="text" />
<input value="{{ variables.ranged_weapon_damage_01|default("") }}" class="form-control" id="ranged_weapon_damage_01" name="ranged_weapon_damage_01" type="text" />
<input value="{{ variables.ranged_weapon_acc_01|default("") }}" class="form-control" id="ranged_weapon_acc_01" name="ranged_weapon_acc_01" type="text" />
<input value="{{ variables.ranged_weapon_range_01|default("") }}" class="form-control" id="ranged_weapon_range_01" name="ranged_weapon_range_01" type="text" />
<input value="{{ variables.ranged_weapon_rof_01|default("") }}" class="form-control" id="ranged_weapon_rof_01" name="ranged_weapon_rof_01" type="text" />
<input value="{{ variables.ranged_weapon_shots_01|default("") }}" class="form-control" id="ranged_weapon_shots_01" name="ranged_weapon_shots_01" type="text" />
<input value="{{ variables.ranged_weapon_st_01|default("") }}" class="form-control" id="ranged_weapon_st_01" name="ranged_weapon_st_01" type="text" />
<input value="{{ variables.ranged_weapon_bulk_01|default("") }}" class="form-control" id="ranged_weapon_bulk_01" name="ranged_weapon_bulk_01" type="text" />
<input value="{{ variables.ranged_weapon_rcl_01|default("") }}" class="form-control" id="ranged_weapon_rcl_01" name="ranged_weapon_rcl_01" type="text" />
<input value="{{ variables.ranged_weapon_lc_01|default("") }}" class="form-control" id="ranged_weapon_lc_01" name="ranged_weapon_lc_01" type="text" />
<textarea class="form-control" id="ranged_weapon_notes_01" name="ranged_weapon_notes_01" rows="2">{{ variables.ranged_weapon_notes_01|default("") }}</textarea>
<input value="{{ variables.ranged_weapon_cost_01|default("") }}" class="form-control" id="ranged_weapon_cost_01" name="ranged_weapon_cost_01" type="text" />

<textarea class="form-control" id="inventory" name="inventory" rows="10">{{ variables.inventory|default("") }}</textarea>
<textarea class="form-control" id="notes" name="notes" rows="3">{{ variables.notes|default("") }}</textarea>

<input value="{{ variables.armour_name_01|default("") }}" class="form-control" id="armour_name_01" name="armour_name_01" type="text" />
<input value="{{ variables.armour_loc_01|default("") }}" class="form-control" id="armour_loc_01" name="armour_loc_01" type="text" />
<input value="{{ variables.armour_dr_01|default("") }}" class="form-control" id="armour_dr_01" name="armour_dr_01" type="text" />
<input value="{{ variables.armour_lc_01|default("") }}" class="form-control" id="armour_lc_01" name="armour_lc_01" type="text" />
<input value="{{ variables.armour_weight_01|default("") }}" class="form-control" id="armour_weight_01" name="armour_weight_01" type="text" />
<textarea class="form-control" id="armour_notes_01" name="armour_notes_01" rows="2">{{ variables.armour_notes_01|default("") }}</textarea>
<input value="{{ variables.armour_cost_01|default("") }}" class="form-control" id="armour_cost_01" name="armour_cost_01" type="text" />
