<div class="container-fluid sheet-warhammer-4e">
    <div class="row">
        {% set wd = 12 %}
        {% if variables.portrait|default > 0 %}{% set wd = 7 %}{% endif %}
        <div class="col-12 col-md-12 col-lg-{{wd}}">
            <div class="card characteristics" id="card-characteristics">
                <h1>{{variables.name|default}}</h1>
                {{variables.description|default}}<br><br>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 pd0">
                        <table class='table'>
                            <tr>
                                <th class='lbl od lbl-att-w-label c' title='Weapon Skill'> W </th>
                                <th class='lbl ev lbl-att-ws-label c' title='Weapon Skill'> WS </th>
                                <th class='lbl od lbl-att-bs-label c' title='Ballistic Skill'> BS </th>
                                <th class='lbl ev lbl-att-s-label c' title='Strength'> S </th>
                                <th class='lbl od lbl-att-t-label c' title='Toughness'> T </th>
                                <th class='lbl ev lbl-att-i-label c' title='Initiative'> I </th>
                            </tr>
                            <tr>
                                <td class='var od var-att-w-curr c'>   {{variables.att_w_ini|default}} </td>
                                <td class='var ev var-att-ws-curr c'>  {{variables.att_ws_ini|default}} </td>
                                <td class='var od var-att-bs-curr c'>  {{variables.att_bs_ini|default}} </td>
                                <td class='var ev var-att-s-curr c'>   {{variables.att_s_ini|default}} </td>
                                <td class='var od var-att-t-curr c'>   {{variables.att_t_ini|default}} </td>
                                <td class='var ev var-att-i-curr c'>   {{variables.att_i_ini|default}} </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 pd0">
                        <table class='table'>
                            <tr>
                                <th class='lbl od lbl-att-ag-label c' title='Agility'> Ag </th>
                                <th class='lbl ev lbl-att-dex-label c' title='Dexterity'> Dex </th>
                                <th class='lbl od lbl-att-int-label c' title='Intelligence'> Int </th>
                                <th class='lbl ev lbl-att-wp-label c' title='Willpower'> WP </th>
                                <th class='lbl od lbl-att-fel-label c' title='Fellowship'> Fel </th>
                                <th class='lbl ev lbl-att-w-label c' title='Fellowship'> W </th>
                            </tr>
                            <tr>
                                <td class='var od var-att-ag-curr c'>  {{variables.att_ag_ini|default}} </td>
                                <td class='var ev var-att-dex-curr c'> {{variables.att_dex_ini|default}} </td>
                                <td class='var od var-att-int-curr c'> {{variables.att_int_ini|default}} </td>
                                <td class='var ev var-att-wp-curr c'>  {{variables.att_wp_ini|default}} </td>
                                <td class='var od var-att-fel-curr c'> {{variables.att_fel_ini|default}} </td>
                                <td class='var ev var-att-w-curr c'>   {{variables.att_w_ini|default}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% if variables.skills|default != "" %}<br><b>Skills:</b> {{variables.skills|default}}<br>{% endif %}
                {% if variables.traits|default != "" %}<br><b>Traits:</b> {{variables.traits|default}}<br>{% endif %}
                {% if variables.optional|default != "" %}<b>Optional:</b> {{variables.optional|default}}<br>{% endif %}
            </div>
        </div>
        {% if variables.portrait|default > 0 %}
        <div class="col-4 col-lg-5 hidden-xs hidden-sm hidden-md d-none d-lg-block">
            <div class="card portrait" id="card-portrait">
                <div class='var od var-portrait'>[img:{{variables.portrait|default}}]</div>
            </div>
        </div>
        {% endif %}
    </div>
</div>