{% import _self as sheet %}
{# ---------------------------------------------- #}
<div class="container-fluid sheet-warhammer-4e">
    <div class="row">
        <div class="col-12">
            <div class="card personal" id="card-personal">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-name' title='Name of the monster.'><label for='name'>Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='Name of the monster' type='text' required=required /></td></tr>
                        <tr><th class='ilbl ev ilbl-portrait'><label for='portrait'>Portrait (WA image id)</label></th><td class='ivar od ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait' id='portrait' name='portrait' type='number' placeholder='eg 3997022' /></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card description" id="card-description">
                <div class="card-header description"><label for='description'>Description</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-description'><div class='iContent'><textarea class='form-control ivar ivar-description' id='description' name='description' rows='3' >{{variables.description|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card characteristics" id="card-characteristics">
                <div class="card-header characteristics">Characteristics</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-att-m-label c'><label for='att-m-label'>M</label></th>
                            <th class='ilbl ev ilbl-att-ws-label c'><label for='att-ws-label'>WS</label></th>
                            <th class='ilbl od ilbl-att-bs-label c'><label for='att-bs-label'>BS</label></th>
                            <th class='ilbl ev ilbl-att-s-label c'><label for='att-s-label'>S</label></th>
                            <th class='ilbl od ilbl-att-t-label c'><label for='att-t-label'>T</label></th>
                            <th class='ilbl ev ilbl-att-i-label c'><label for='att-i-label'>I</label></th>
                            <th class='ilbl od ilbl-att-ag-label c'><label for='att-ag-label'>Ag</label></th>
                            <th class='ilbl ev ilbl-att-dex-label c'><label for='att-dex-label'>Dex</label></th>
                            <th class='ilbl od ilbl-att-int-label c'><label for='att-int-label'>Int</label></th>
                            <th class='ilbl ev ilbl-att-wp-label c'><label for='att-wp-label'>WP</label></th>
                            <th class='ilbl od ilbl-att-fel-label c'><label for='att-fel-label'>Fel</label></th>
                            <th class='ilbl ev ilbl-att-w-label c'><label for='att-w-label'>W</label></th>
                        </tr>
                        <tr>
                            <td class='ivar od ivar-att-m-ini'><input value='{{variables.att_m_ini|default}}' class='form-control ivar ivar-att-m-ini c' id='att_m_ini' name='att_m_ini' type='text' /></td>
                            <td class='ivar ev ivar-att-ws-ini'><input value='{{variables.att_ws_ini|default}}' class='form-control ivar ivar-att-ws-ini c' id='att_ws_ini' name='att_ws_ini' type='text' /></td>
                            <td class='ivar od ivar-att-bs-ini'><input value='{{variables.att_bs_ini|default}}' class='form-control ivar ivar-att-bs-ini c' id='att_bs_ini' name='att_bs_ini' type='text' /></td>
                            <td class='ivar ev ivar-att-s-ini'><input value='{{variables.att_s_ini|default}}' class='form-control ivar ivar-att-s-ini c' id='att_s_ini' name='att_s_ini' type='text' /></td>
                            <td class='ivar od ivar-att-t-ini'><input value='{{variables.att_t_ini|default}}' class='form-control ivar ivar-att-t-ini c' id='att_t_ini' name='att_t_ini' type='text' /></td>
                            <td class='ivar ev ivar-att-i-ini'><input value='{{variables.att_i_ini|default}}' class='form-control ivar ivar-att-i-ini c' id='att_i_ini' name='att_i_ini' type='text' /></td>
                            <td class='ivar od ivar-att-ag-ini'><input value='{{variables.att_ag_ini|default}}' class='form-control ivar ivar-att-ag-ini c' id='att_ag_ini' name='att_ag_ini' type='text' /></td>
                            <td class='ivar ev ivar-att-dex-ini'><input value='{{variables.att_dex_ini|default}}' class='form-control ivar ivar-att-dex-ini c' id='att_dex_ini' name='att_dex_ini' type='text' /></td>
                            <td class='ivar od ivar-att-int-ini'><input value='{{variables.att_int_ini|default}}' class='form-control ivar ivar-att-int-ini c' id='att_int_ini' name='att_int_ini' type='text' /></td>
                            <td class='ivar ev ivar-att-wp-ini'><input value='{{variables.att_wp_ini|default}}' class='form-control ivar ivar-att-wp-ini c' id='att_wp_ini' name='att_wp_ini' type='text' /></td>
                            <td class='ivar od ivar-att-fel-ini'><input value='{{variables.att_fel_ini|default}}' class='form-control ivar ivar-att-fel-ini c' id='att_fel_ini' name='att_fel_ini' type='text' /></td>
                            <td class='ivar ev ivar-att-w-ini'><input value='{{variables.att_w_ini|default}}' class='form-control ivar ivar-att-w-ini c' id='att_w_ini' name='att_w_ini' type='text' /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card skills" id="card-skills">
                <div class="card-header skills"><label for='skills'>Skills</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-skills'><div class='iContent'><textarea class='form-control ivar ivar-skills' id='skills' name='skills' rows='3' >{{variables.skills|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card traits" id="card-traits">
                <div class="card-header traits"><label for='traits'>Traits</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-traits'><div class='iContent'><textarea class='form-control ivar ivar-traits' id='traits' name='traits' rows='3' >{{variables.traits|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card optional" id="card-optional">
                <div class="card-header optional"><label for='optional'>Optional</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-optional'><div class='iContent'><textarea class='form-control ivar ivar-optional' id='optional' name='optional' rows='3' >{{variables.optional|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>