{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
<div>
<table>
<tr>
<td><div class="name"><strong>Name: </strong>{{variables.name|BBcode}}</div></td>
<td><div class="rank"><strong>Insight Rank: </strong>{{variables.insightRank|BBcode}}</div></td>
<td><div class="insight"><strong>Insight: </strong>{{variables.insight|BBcode}}</div></td>
<td><div class="xp"><strong>XP: </strong>{{variables.xp|BBcode}}</div></td>
<td><div class="school"><strong>School: </strong>{{variables.school|BBcode}}</div></td>
</tr>
<tr>
<td><div class="honor"><strong>Honor: </strong>{{variables.honor|BBcode}}</div></td><td><div class="status"><strong>Status: </strong>{{variables.status|BBcode}}</div></td><td><div class="glory"><strong>Glory: </strong>{{variables.glory|BBcode}}</div></td>
</tr>
<tr>
<td><div class="air"><strong>Air: </strong>{{variables.air|BBcode}}</div></td>
<td><div class="earth"><strong>Earth: </strong>{{variables.earth|BBcode}}</div></td>
<td><div class="fire"><strong>Fire: </strong>{{variables.fire|BBcode}}</div></td>
<td><div class="water"><strong>Water: </strong>{{variables.water|BBcode}}</div></td>
<td><div class="void"><strong>Void: </strong>{{variables.void|BBcode}}</div></td>
</tr>
<tr>
<td>{% if variables.stamina  %}<div class="stamina"><strong>Stamina </strong>{{variables.stamina|BBcode}}</br></div>{% endif %}{% if variables.willpower  %}<div class="willpower"><strong>Willpower </strong>{{variables.willpower|BBcode}}</div>{% endif %}</td>
<td>{% if variables.strength  %}<div class="strength"><strong>Strength </strong>{{variables.strength|BBcode}}</br></div>{% endif %}{% if variables.perception  %}<div class="perception"><strong>Perception </strong>{{variables.perception|BBcode}}</div>{% endif %}</td>
<td>{% if variables.reflexes  %}<div class="reflexes"><strong>Reflexes </strong>{{variables.reflexes|BBcode}}</br></div>{% endif %}{% if variables.awareness  %}<div class="awareness"><strong>Awareness </strong>{{variables.awareness|BBcode}}</div>{% endif %}</td>
<td>{% if variables.agility  %}<div class="agility"><strong>Agility </strong>{{variables.agility|BBcode}}</br></div>{% endif %}{% if variables.intelligence  %}<div class="intelligence"><strong>Intelligence </strong>{{variables.intelligence|BBcode}}</div>{% endif %}</td>
<td></td>
</tr>
<tr>
{% if variables.advantages  %}
<td colspan="5"><div class="advantages"><strong>Advantages: </strong>{{variables.advantages|BBcode}}</div></td>
{% endif %}
</tr>
<tr>
{% if variables.disadvantages  %}
<td colspan="5"><div class="disadvantages"><strong>Disadvantages: </strong>{{variables.disadvantages|BBcode}}</div></td>
{% endif %}
</tr>
<tr>
<td colspan="5"><div class="skills"><strong>Skills: </strong>{{variables.skills|BBcode}}</div></td>
</tr>
</table>
</div>
{% endblock %}
