<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{ variables.name }}</h2>
            <p>{{ variables.description is defined ? variables.description }}</p>
        </div>
        <div class="col-md-1">
            <label id="overcome_icon"></label>
        </div>
        <div class="col-md-11">
            <p>
                <strong>Overcome</strong>: {{ variables.overcome is defined ? variables.overcome }}
            </p>
        </div>
        <div class="col-md-1">
            <label id="create_an_advantage_icon"></label>
        </div>
        <div class="col-md-11">
            <p>
                <strong>Create an Advantage</strong>: {{ variables.create_an_advantage is defined ? variables.create_an_advantage }}
            </p>
        </div>
        <div class="col-md-1">
            <label id="attack_icon"></label>
        </div>
        <div class="col-md-11">
            <p>
                <strong>Attack</strong>: {{ variables.attack is defined ? variables.attack }}
            </p>
        </div>
        <div class="col-md-1">
            <label id="defend_icon"></label>
        </div>
        <div class="col-md-11">
            <p>
                <strong>Defend</strong>: {{ variables.defend is defined ? variables.defend }}
            </p>
        </div>
        {% if variables.special is defined and variables.special != "" %}
        <div class="col-md-12">
            <p>
                <strong>Special</strong>: {{ variables.special is defined ? variables.special }}
            </p>
        </div>
        {% endif %}
    </div>
</div>