{%
set skills = ["Acrobatics", "AGL",
"Awareness", "INT",
"Bartering", "CHA",
"Beast Lore", "INT",
"Bluffing", "CHA",
"Bushcraft", "INT",
"Crafting", "STR",
"Evade", "AGL",
"Healing", "INT",
"Hunting & Fishing", "AGL",
"Languages", "INT",
"Myths & Legends", "INT",
"Performance", "CHA",
"Persuasion", "CHA",
"Riding", "AGL",
"Seamanship", "INT",
"Sleight of Hand", "AGL",
"Sneaking", "AGL",
"Spot Hidden", "INT",
"Swimming", "AGL"]
%}
{%
set weapon_skills = ["Axes", "STR",
"Bows", "AGL",
"Brawling", "STR",
"Crossbows", "AGL",
"Hammers", "STR",
"Knives", "AGL",
"Slings", "AGL",
"Spears", "STR",
"Staves", "AGL",
"Swords", "STR"]
%}
<div class="container-fluid sheet-dragonbane">
    <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBackground" aria-expanded="true" aria-controls="collapseBackground"><em class="fas fa-angle-down"></em></button>
    <div class="row collapse show" id="collapseBackground">
        <div class="col-12 col-md-12 col-lg-8">
            <div class="row">
                <div class="col-12 hidden-xs hidden-sm hidden-md d-none d-lg-block">
                    <div class="logo"></div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card personal" id="card-personal">
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='lbl lbl-name' width='30%'> Name </th><td class='var var-name'> {{variables.name|default}} </td></tr>
                                <tr><th class='lbl lbl-kin'> Kin </th><td class='var var-kin'> {{variables.kin|default}} </td></tr>
                                <tr><th class='lbl lbl-age'> Age </th><td class='var var-age'> {{variables.age|default}} </td></tr>
                                <tr><th class='lbl lbl-profession'> Profession </th><td class='var var-profession'> {{variables.profession|default}} </td></tr>
                                <tr><th class='lbl lbl-weakness'> Weakness </th><td class='var var-weakness'> {{variables.weakness|default}} </td></tr>
                                <tr><th class='lbl lbl-player'> Player </th><td class='var var-player'> {{variables.player|default}} </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card appearance" id="card-appearance">
                        <div class="card-body">
                            <div class='cContainer'><div class='lbl lbl-appearance'> Appearance </div><div class='var var-appearance'> {{variables.appearance|default|nl2br}} </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block">
            <div class="card portrait" id="card-portrait">
                <div class="card-body">
                    <div class='cContainer'><div class='lbl lbl-imageid'> Portrait </div><div class='var var-imageid'>[img:{{variables.imageid|default}}]</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='lbl att lbl-att-str' title='Strength'> STR </div><div class='var att var-att-str'> {{variables.att_str|default}} </div></div>
                            <div class='cContainer'><div class='lbl cond lbl-cond-exhausted'>{% if variables.cond_exhausted|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %} Exhausted </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='lbl att lbl-att-con' title='Constitution'> CON </div><div class='var att var-att-con'> {{variables.att_con|default}} </div></div>
                            <div class='cContainer'><div class='lbl cond lbl-cond-sickly'>{% if variables.cond_sickly|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %} Sickly </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='lbl att lbl-att-agl' title='Agility'> AGL </div><div class='var att var-att-agl'> {{variables.att_agl|default}} </div></div>
                            <div class='cContainer'><div class='lbl cond lbl-cond-dazed'>{% if variables.cond_dazed|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %} Dazed </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='lbl att lbl-att-int' title='Intelligence'> INT </div><div class='var att var-att-int'> {{variables.att_int|default}} </div></div>
                            <div class='cContainer'><div class='lbl cond lbl-cond-angry'>{% if variables.cond_angry|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %} Angry </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='lbl att lbl-att-wil' title='Willpower'> WIL </div><div class='var att var-att-wil'> {{variables.att_wil|default}} </div></div>
                            <div class='cContainer'><div class='lbl cond lbl-cond-scared'>{% if variables.cond_scared|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %} Scared </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='lbl att lbl-att-cha' title='Charisma'> CHA </div><div class='var att var-att-cha'> {{variables.att_cha|default}} </div></div>
                            <div class='cContainer'><div class='lbl cond lbl-cond-disheartened'>{% if variables.cond_disheartened|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %} Disheartened </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card skills" id="card-skills">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <table class='table'>
                                <tr>
                                    <th class='lbl {{eo}} lbl-skill-check' title='learned skill'> L </th>
                                    <th class='lbl {{eo}} lbl-skill-value c'> Value </th>
                                    <th class='lbl {{eo}} lbl-skill-name'> Skill </th>
                                </tr>
                                {% for i in 1..10 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                                    {% set em = ''%}
                                <tr>
                                    <td class='var {{eo}} var-skill-check'>{% if attribute(variables, 'skill_check_' ~ id)|default|default == 1 %}{% set em = 'em' %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                                    <td class='var {{eo}} var-skill-value r {{em}}'> {{attribute(variables, 'skill_value_' ~ id)|default}} </td>
                                    <td class='var {{eo}} var-skill-name {{em}}'> {{ skills[id*2-2]|default }} ({{ skills[id*2-1]|default|upper }})</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <table class='table'>
                                <tr>
                                    <th class='lbl {{eo}} lbl-skill-check' title='learned skill'> L </th>
                                    <th class='lbl {{eo}} lbl-skill-value c'> Value </th>
                                    <th class='lbl {{eo}} lbl-skill-name'> Skill </th>
                                </tr>
                                {% for i in 11..20 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                                    {% set em = ''%}
                                <tr>
                                    <td class='var {{eo}} var-skill-check'>{% if attribute(variables, 'skill_check_' ~ id)|default|default == 1 %}{% set em = 'em' %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                                    <td class='var {{eo}} var-skill-value r {{em}}'> {{attribute(variables, 'skill_value_' ~ id)|default}} </td>
                                    <td class='var {{eo}} var-skill-name {{em}}'> {{ skills[id*2-2]|default }} ({{ skills[id*2-1]|default|upper }})</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <table class='table'>
                                <tr>
                                    <th class='lbl {{eo}} lbl-skill-check' title='learned skill'> L </th>
                                    <th class='lbl {{eo}} lbl-skill-value c'> Value </th>
                                    <th class='lbl {{eo}} lbl-skill-name'> Weapon Skill </th>
                                </tr>
                                <tr>
                                {% for i in 1..10 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                                    {% set em = ''%}
                                <tr>
                                    <td class='var {{eo}} var-skill-check'>{% if attribute(variables, 'weapon_skill_check_' ~ id)|default|default == 1 %}{% set em = 'em' %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                                    <td class='var {{eo}} var-skill-value r {{em}}'> {{attribute(variables, 'weapon_skill_value_' ~ id)|default}} </td>
                                    <td class='var {{eo}} var-skill-name {{em}}'> {{ weapon_skills[id*2-2]|default }} ({{ weapon_skills[id*2-1]|default|upper }})</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <table class='table'>
                                <tr>
                                    <th class='lbl {{eo}} lbl-skill-check' title='learned skill'> L </th>
                                    <th class='lbl {{eo}} lbl-skill-value c'> Value </th>
                                    <th class='lbl {{eo}} lbl-skill-name'> Secondary Skill </th>
                                </tr>
                                <tr>
                                {% for i in 1..10 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                                    {% set em = ''%}
                                    {% set name = attribute(variables, 'sec_skill_name_' ~ id)|default %}
                                    {% if name != "" %}
                                <tr>
                                    <td class='var {{eo}} var-skill-check'>{% if attribute(variables, 'sec_skill_check_' ~ id)|default|default == 1 %}{% set em = 'em' %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td>
                                    <td class='var {{eo}} var-skill-value r {{em}}'> {{attribute(variables, 'sec_skill_value_' ~ id)|default}} </td>
                                    <td class='var {{eo}} var-skill-name {{em}}'> {{name}} ({{attribute(variables, 'sec_skill_att_' ~ id)|default|upper}})</td>
                                </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card weapons" id="card-weapons">
                <div class="card-body of">
                    <table class='table'>
                        <tr>
                            <th class='lbl lbl-weapon-name'> Name </th>
                            <th class='lbl lbl-weapon-grip'> Grip </th>
                            <th class='lbl lbl-weapon-range' title='Range'> RNG </th>
                            <th class='lbl lbl-weapon-damage' title='Damage'> DMG </th>
                            <th class='lbl lbl-weapon-durability' title='Durability'> Dur. </th>
                            <th class='lbl lbl-weapon-features'> Features </th>
                        </tr>
                        {% for i in 1..3 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            {% set name = attribute(variables, 'weapon_name_' ~ id)|default %}
                            {% if name != "" %}
                        <tr>
                            <td class='var {{eo}} var-weapon-name'> {{name}} </td>
                            <td class='var {{eo}} var-weapon-grip c'> {{attribute(variables, 'weapon_grip_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-range c'> {{attribute(variables, 'weapon_range_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-damage c'> {{attribute(variables, 'weapon_damage_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-durability c'> {{attribute(variables, 'weapon_durability_' ~ id)|default}} </td>
                            <td class='var {{eo}} var-weapon-features'> {{attribute(variables, 'weapon_features_' ~ id)|default}} </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card armor" id="card-armor">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl lbl-armor' colspan=2> Armor </th></tr>
                        <tr><th class='lbl od lbl-armor-rating' width='40%'> Rating </th><td class='var {{eo}} var-armor-rating c'>{{variables.armor_rating|default}}</td></tr>
                        <tr><th class='lbl ev lbl-armor-name'> Name </th><td class='var {{eo}} var-armor-name'> {{variables.armor_name|default}} </td></tr>
                        <tr><th class='lbl lbl-armor-banes' colspan=2> Banes </th></tr>
                        <tr><th class='lbl od lbl-armor-bane-acrobatics'> Acrobatics </th><td class='var {{eo}} var-armor-bane-acrobatics c'>{% if variables.armor_bane_acrobatics|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                        <tr><th class='lbl ev lbl-armor-bane-evade'> Evade </th><td class='var {{eo}} var-armor-bane-evade c'>{% if variables.armor_bane_evade|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                        <tr><th class='lbl od lbl-armor-bane-sneaking'> Sneaking </th><td class='var {{eo}} var-armor-bane-sneaking c'>{% if variables.armor_bane_sneaking|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card helmet" id="card-helmet">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl lbl-helmet' colspan=2> Helmet </th></tr>
                        <tr><th class='lbl od lbl-helmet-rating' width='40%'> Rating </th><td class='var {{eo}} var-helmet-rating c'>{{variables.helmet_rating|default}}</td></tr>
                        <tr><th class='lbl ev lbl-helmet-name'> Name </th><td class='var {{eo}} var-helmet-name'> {{variables.helmet_name|default}} </td></tr>
                        <tr><th class='lbl lbl-helmet-banes' colspan=2> Banes </th></tr>
                        <tr><th class='lbl od lbl-helmet-bane-awareness'> Awareness </th><td class='var {{eo}} var-helmet-bane-awareness c'>{% if variables.helmet_bane_awareness|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                        <tr><th class='lbl ev lbl-helmet-bane-bows'> Bows </th><td class='var {{eo}} var-helmet-bane-bows c'>{% if variables.helmet_bane_bows|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card misc" id="card-misc">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-movement' width='60%'> Movement </th><td class='var od var-movement c'> {{variables.movement|default}} </td></tr>
                        <tr><th class='lbl ev lbl-dmg-bonus-str'> DMG Bonus STR </th><td class='var ev var-dmg-bonus-str c'> {{variables.dmg_bonus_str|default}} </td></tr>
                        <tr><th class='lbl od lbl-dmg-bonus-agl'> DMG Bonus AGL </th><td class='var od var-dmg-bonus-agl c'> {{variables.dmg_bonus_agl|default}} </td></tr>
                        <tr><th class='lbl lbl-movement' colspan=2> Pools </th></tr>
                        <tr><th class='lbl ev lbl-wil-points'> WIL Points </th><td class='var ev var-wil-points c'>{{variables.wil_points|default}} / {{variables.wil_points_max|default}}</td></tr>
                        <tr><th class='lbl od lbl-hit-points'> Hit Points </th><td class='var od var-hit-points c'>{{variables.hit_points|default}} / {{variables.hit_points_max|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card belongings" id="card-belongings">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl' colspan=2> Coins </th></tr>
                        <tr><th class='lbl od lbl-gold' width='40%'> Gold </th><td class='var od var-gold c'>{{variables.gold|default}}</td></tr>
                        <tr><th class='lbl ev lbl-silver'> Silver </th><td class='var ev var-silver c'>{{variables.silver|default}}</td></tr>
                        <tr><th class='lbl od lbl-copper'> Copper </th><td class='var od var-copper c'>{{variables.copper|default}}</td></tr>
                        <tr><th class='lbl ev lbl-memento' colspan=2> Memento </th></tr>
                        <tr><td class='var ev var-memento' colspan=2> {{variables.memento|default|nl2br}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card belongings" id="card-belongings">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl lbl-tiny-items' colspan=2> Tiny Items </th></tr>
                        <tr><td class='var ev var-tiny-items' colspan=2> {{variables.tiny_items|default|nl2br}} </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card belongings" id="card-belongings">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl' colspan=2> Equipment </th></tr>
                        <tr><th class='lbl ev lbl-enc-limit' width='60%'> Encumbrance Limit </th><td class='var ev var-enc-limit c'> {{variables.enc_limit|default}} </td></tr>
                        <tr><td class='var ev var-equipment' colspan=2> {% if variables.backpack|default == 1 %}<i class='fa-regular fa-square-check'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %} Backpack </td></tr>
                        {% for i in 1..10 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            {% set item = attribute(variables, 'equipment_' ~ id)|default %}
                            {% if item != "" %}
                            <tr><td class='var {{eo}} var-equipment' colspan=2> {{item}} </td></tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card misc" id="card-misc">
                <div class="card-body">
                    <div class='cContainer'><div class='lbl lbl-abilities'> Abilities </div><div class='var var-abilities'> {{variables.abilities|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card notes" id="card-notes">
                <div class="card-body">
                    <div class='cContainer'><div class='lbl lbl-notes'> Notes </div><div class='var var-notes'> {{variables.notes|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row do-not-print">
        <div class="col-12 c small">
            <br>
            (c) 2023 by Fria Ligan AB, Dragonbane is a registered trademark of Fria Ligan AB. - <a href="/w/sheet-creation/a/sheet-list">Dragonbane Character Sheet v1.00</a>, made by Tillerz#3807 - Updated: 2023-02-20</a><br>
        </div>
    </div>
</div>