{%
set skills = ["Acrobatics", "AGL",
"Awareness", "INT",
"Bartering", "CHA",
"Beast Lore", "INT",
"Bluffing", "CHA",
"Bushcraft", "INT",
"Crafting", "STR",
"Evade", "AGL",
"Healing", "INT",
"Hunting & Fishing", "AGL",
"Languages", "INT",
"Myths & Legends", "INT",
"Performance", "CHA",
"Persuasion", "CHA",
"Riding", "AGL",
"Seamanship", "INT",
"Sleight of Hand", "AGL",
"Sneaking", "AGL",
"Spot Hidden", "INT",
"Swimming", "AGL"]
%}
{%
set weapon_skills = ["Axes", "STR",
"Bows", "AGL",
"Brawling", "STR",
"Crossbows", "AGL",
"Hammers", "STR",
"Knives", "AGL",
"Slings", "AGL",
"Spears", "STR",
"Staves", "AGL",
"Swords", "STR"]
%}
<div class="container-fluid sheet-dragonbane">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card personal" id="card-personal">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-name' width='30%'> Name </th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' required=required /></td></tr>
                        <tr><th class='ilbl ev ilbl-player'> Player </th><td class='ivar ev ivar-player'><input value='{{variables.player|default}}' class='form-control ivar ivar-player' id='player' name='player' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-kin'> Kin </th><td class='ivar od} ivar-kin'><input value='{{variables.kin|default}}' class='form-control ivar ivar-kin' id='kin' name='kin' type='text' required=required /></td></tr>
                        <tr><th class='ilbl ev ilbl-age'> Age </th><td class='ivar ev ivar-age'><input value='{{variables.age|default}}' class='form-control ivar ivar-age' id='age' name='age' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-profession'> Profession </th><td class='ivar od ivar-profession'><input value='{{variables.profession|default}}' class='form-control ivar ivar-profession' id='profession' name='profession' type='text' required=required /></td></tr>
                        <tr><th class='ilbl ev ilbl-weakness'> Weakness </th><td class='ivar ev ivar-weakness'><input value='{{variables.weakness|default}}' class='form-control ivar ivar-weakness' id='weakness' name='weakness' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-imageid'> Portrait </th><td class='ivar od ivar-imageid'><input value='{{variables.imageid|default}}' class='form-control ivar ivar-imageid' id='imageid' name='imageid' type='number' placeholder='WA image id' /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card appearance" id="card-appearance">
                <div class="card-body">
                    <div class='cContainer'><div class='ilbl ilbl-appearance'> Appearance </div><div class='ivar ivar-appearance'><div class='iContent'><textarea class='form-control ivar ivar-appearance mention' id='appearance' name='appearance' rows='3'  >{{variables.appearance|default}}</textarea></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='ilbl att ilbl-att-str'> STR </div><div class='ivar att ivar-att-str mb'><input value='{{variables.att_str|default}}' class='form-control ivar ivar-att-str c' id='att_str' name='att_str' type='text' required=required /></div></div>
                            <div class='cContainer'><div class='ilbl cond ilbl-cond-exhausted'> Exhausted </div><div class='ivar cond ivar-cond-exhausted'><input value='0' id='cond_exhausted' name='cond_exhausted' type='hidden' /><input value='1' {% if variables.cond_exhausted|default > 0 %} checked='checked'{% endif %} id='cond_exhausted' name='cond_exhausted' type='checkbox' /></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='ilbl att ilbl-att-con'> CON </div><div class='ivar att ivar-att-con mb'><input value='{{variables.att_con|default}}' class='form-control ivar ivar-att-con c' id='att_con' name='att_con' type='text' required=required /></div></div>
                            <div class='cContainer'><div class='ilbl cond ilbl-cond-sickly'> Sickly </div><div class='ivar cond ivar-cond-sickly'><input value='0' id='cond_sickly' name='cond_sickly' type='hidden' /><input value='1' {% if variables.cond_sickly|default > 0 %} checked='checked'{% endif %} id='cond_sickly' name='cond_sickly' type='checkbox' /></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='ilbl att ilbl-att-agl'> AGL </div><div class='ivar att ivar-att-agl mb'><input value='{{variables.att_agl|default}}' class='form-control ivar ivar-att-agl c' id='att_agl' name='att_agl' type='text' required=required /></div></div>
                            <div class='cContainer'><div class='ilbl cond ilbl-cond-dazed'> Dazed </div><div class='ivar cond ivar-cond-dazed'><input value='0' id='cond_dazed' name='cond_dazed' type='hidden' /><input value='1' {% if variables.cond_dazed|default > 0 %} checked='checked'{% endif %} id='cond_dazed' name='cond_dazed' type='checkbox' /></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='ilbl att ilbl-att-int'> INT </div><div class='ivar att ivar-att-int mb'><input value='{{variables.att_int|default}}' class='form-control ivar ivar-att-int c' id='att_int' name='att_int' type='text' required=required /></div></div>
                            <div class='cContainer'><div class='ilbl cond ilbl-cond-angry'> Angry </div><div class='ivar cond ivar-cond-angry'><input value='0' id='cond_angry' name='cond_angry' type='hidden' /><input value='1' {% if variables.cond_angry|default > 0 %} checked='checked'{% endif %} id='cond_angry' name='cond_angry' type='checkbox' /></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='ilbl att ilbl-att-wil'> WIL </div><div class='ivar att ivar-att-wil mb'><input value='{{variables.att_wil|default}}' class='form-control ivar ivar-att-wil c' id='att_wil' name='att_wil' type='text' required=required /></div></div>
                            <div class='cContainer'><div class='ilbl cond ilbl-cond-scared'> Scared </div><div class='ivar cond ivar-cond-scared'><input value='0' id='cond_scared' name='cond_scared' type='hidden' /><input value='1' {% if variables.cond_scared|default > 0 %} checked='checked'{% endif %} id='cond_scared' name='cond_scared' type='checkbox' /></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card attributes" id="card-attributes">
                        <div class="card-body">
                            <div class='cContainer'><div class='ilbl att ilbl-att-cha'> CHA </div><div class='ivar att ivar-att-cha mb'><input value='{{variables.att_cha|default}}' class='form-control ivar ivar-att-cha c' id='att_cha' name='att_cha' type='text' required=required /></div></div>
                            <div class='cContainer'><div class='ilbl cond ilbl-cond-disheartened'> Disheartened </div><div class='ivar cond ivar-cond-disheartened'><input value='0' id='cond_disheartened' name='cond_disheartened' type='hidden' /><input value='1' {% if variables.cond_disheartened|default > 0 %} checked='checked'{% endif %} id='cond_disheartened' name='cond_disheartened' type='checkbox' /></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card skills" id="card-skills">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <table class='table'>
                                <tr>
                                    <th class='ilbl {{eo}} ilbl-skill-check c' width='20px'> C </th>
                                    <th class='ilbl {{eo}} ilbl-skill-value c'> Value </th>
                                    <th class='ilbl {{eo}} ilbl-skill-name'> Skill </th>
                                </tr>
                                {% for i in 1..20 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                                <tr>
                                    <td class='ivar {{eo}} ivar-skill-check'><input value='0' id='skill_check_{{id}}' name='skill_check_{{id}}' type='hidden' /><input class='form-control ivar ivar-skill-check' value='1' {% if attribute(variables, 'skill_check_' ~ id)|default > 0 %} checked='checked'{% endif %} id='skill_check_{{id}}' name='skill_check_{{id}}' type='checkbox' /></td>
                                    <td class='ivar {{eo}} ivar-skill-value'><input value='{{attribute(variables, 'skill_value_' ~ id)|default}}' class='form-control ivar ivar-skill-value c' id='skill_value_{{id}}' name='skill_value_{{id}}' type='text' /></td>
                                    <td class='ivar {{eo}} ivar-skill-name'> {{ skills[id*2-2]|default }} ({{ skills[id*2-1]|default|upper }})</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-12 col-md-6">
                            <table class='table'>
                                <tr>
                                    <th class='ilbl {{eo}} ilbl-skill-check c' width='20px'> C </th>
                                    <th class='ilbl {{eo}} ilbl-skill-value c'> Value </th>
                                    <th class='ilbl {{eo}} ilbl-skill-name'> Weapon Skill </th>
                                </tr>
                                {% for i in 1..10 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                                <tr>
                                    <td class='ivar {{eo}} ivar-weapon-skill-check'><input value='0' id='weapon_skill_check_{{id}}' name='weapon_skill_check_{{id}}' type='hidden' /><input class='form-control ivar ivar-skill-check' value='1' {% if attribute(variables, 'weapon_skill_check_' ~ id)|default > 0 %} checked='checked'{% endif %} id='weapon_skill_check_{{id}}' name='weapon_skill_check_{{id}}' type='checkbox' /></td>
                                    <td class='ivar {{eo}} ivar-weapon-skill-value'><input value='{{attribute(variables, 'weapon_skill_value_' ~ id)|default}}' class='form-control ivar ivar-weapon-skill-value c' id='weapon_skill_value_{{id}}' name='weapon_skill_value_{{id}}' type='text' /></td>
                                    <td class='var {{eo}} var-skill-name'> {{ weapon_skills[id*2-2]|default }} ({{ weapon_skills[id*2-1]|default|upper }})</td>
                                </tr>
                                {% endfor %}
                            </table>
                            <table class='table'>
                                <tr>
                                    <th class='ilbl {{eo}} ilbl-skill-check c' width='20px'> C </th>
                                    <th class='ilbl {{eo}} ilbl-skill-value c'> Value </th>
                                    <th class='ilbl {{eo}} ilbl-skill-name'> Secondary Skill </th>
                                    <th class='ilbl {{eo}} ilbl-skill-attr c' width='100px' title='Attribute'> ATT </th>
                                </tr>
                                {% for i in 1..10 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                                    {% set name = attribute(variables, 'sec_skill_name_' ~ id)|default %}
                                <tr>
                                    <td class='ivar {{eo}} ivar-sec-skill-check'><input value='0' id='sec_skill_check_{{id}}' name='sec_skill_check_{{id}}' type='hidden' /><input class='form-control ivar ivar-skill-check' value='1' {% if attribute(variables, 'sec_skill_check_' ~ id)|default > 0 %} checked='checked'{% endif %} id='sec_skill_check_{{id}}' name='sec_skill_check_{{id}}' type='checkbox' /></td>
                                    <td class='ivar {{eo}} ivar-sec-skill-value'><input value='{{attribute(variables, 'sec_skill_value_' ~ id)|default}}' class='form-control ivar ivar-sec-skill-value c' id='sec_skill_value_{{id}}' name='sec_skill_value_{{id}}' type='text' /></td>
                                    <td class='ivar {{eo}} ivar-sec-skill-name'><input value='{{attribute(variables, 'sec_skill_name_' ~ id)|default}}' class='form-control ivar ivar-sec-skill-name' id='sec_skill_name_{{id}}' name='sec_skill_name_{{id}}' type='text' /></td>
                                    <td class='ivar {{eo}} ivar-sec-skill-att'>
                                    <select  class='form-control ivar ivar-sec-skill-att' id='sec_skill_att_{{id}}' name='sec_skill_att_{{id}}'>
                                        <option value='agl' {% if attribute(variables, 'sec_skill_att_' ~ id)|default == 'agl' %}selected='selected' {% endif %} > AGL </option>
                                        <option value='cha' {% if attribute(variables, 'sec_skill_att_' ~ id)|default == 'cha' %}selected='selected' {% endif %} > CHA </option>
                                        <option value='int' {% if attribute(variables, 'sec_skill_att_' ~ id)|default == 'int' %}selected='selected' {% endif %} > INT </option>
                                        <option value='str' {% if attribute(variables, 'sec_skill_att_' ~ id)|default == 'str' %}selected='selected' {% endif %} > STR </option>
                                    </select></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card weapons" id="card-weapons">
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl {{eo}} ilbl-weapon-name'> Name </th>
                            <th class='ilbl {{eo}} ilbl-weapon-grip c' width='70px'> Grip </th>
                            <th class='ilbl {{eo}} ilbl-weapon-range c' width='100px'> Range </th>
                            <th class='ilbl {{eo}} ilbl-weapon-damage c' width='100px'> Damage </th>
                            <th class='ilbl {{eo}} ilbl-weapon-durability c' width='70px'> Durability </th>
                            <th class='ilbl {{eo}} ilbl-weapon-features'> Features </th>
                        </tr>
                        {% for i in 1..3 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='ivar {{eo}} ivar-weapon-name'><input value='{{attribute(variables, 'weapon_name_' ~ id)|default}}' class='form-control ivar ivar-weapon-name' id='weapon_name_{{id}}' name='weapon_name_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-weapon-grip'><input value='{{attribute(variables, 'weapon_grip_' ~ id)|default}}' class='form-control ivar ivar-weapon-grip c' id='weapon_grip_{{id}}' name='weapon_grip_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-weapon-range'><input value='{{attribute(variables, 'weapon_range_' ~ id)|default}}' class='form-control ivar ivar-weapon-range c' id='weapon_range_{{id}}' name='weapon_range_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-weapon-damage'><input value='{{attribute(variables, 'weapon_damage_' ~ id)|default}}' class='form-control ivar ivar-weapon-damage c' id='weapon_damage_{{id}}' name='weapon_damage_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-weapon-durability'><input value='{{attribute(variables, 'weapon_durability_' ~ id)|default}}' class='form-control ivar ivar-weapon-durability c' id='weapon_durability_{{id}}' name='weapon_durability_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-weapon-features'><input value='{{attribute(variables, 'weapon_features_' ~ id)|default}}' class='form-control ivar ivar-weapon-features' id='weapon_features_{{id}}' name='weapon_features_{{id}}' type='text' /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card armor" id="card-armor">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl {{eo}} ilbl-armor-name pt'> Name </th><td class='ivar {{eo}} ivar-armor-name'><input value='{{variables.armor_name|default}}' class='form-control ivar ivar-armor-name' id='armor_name' name='armor_name' type='text' /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-armor-rating pt'> Rating </th><td class='ivar {{eo}} ivar-armor-rating'><input value='{{variables.armor_rating|default}}' class='form-control ivar ivar-armor-rating' id='armor_rating' name='armor_rating' type='number' /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-armor-bane-acrobatics'> Bane Acrobatics </th><td class='ivar {{eo}} ivar-armor-bane-acrobatics c'><input value='0' id='armor_bane_acrobatics' name='armor_bane_acrobatics' type='hidden' /><input value='1' {% if variables.armor_bane_acrobatics|default > 0 %} checked='checked'{% endif %} id='armor_bane_acrobatics' name='armor_bane_acrobatics' type='checkbox' /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-armor-bane-evade'> Bane Evade </th><td class='ivar {{eo}} ivar-armor-bane-evade c'><input value='0' id='armor_bane_evade' name='armor_bane_evade' type='hidden' /><input value='1' {% if variables.armor_bane_evade|default > 0 %} checked='checked'{% endif %} id='armor_bane_evade' name='armor_bane_evade' type='checkbox' /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-armor-bane-sneaking'> Bane Sneaking </th><td class='ivar {{eo}} ivar-armor-bane-sneaking c'><input value='0' id='armor_bane_sneaking' name='armor_bane_sneaking' type='hidden' /><input value='1' {% if variables.armor_bane_sneaking|default > 0 %} checked='checked'{% endif %} id='armor_bane_sneaking' name='armor_bane_sneaking' type='checkbox' /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card helmet" id="card-helmet">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl {{eo}} ilbl-helmet-name pt'> Name </th><td class='ivar {{eo}} ivar-helmet-name'><input value='{{variables.helmet_name|default}}' class='form-control ivar ivar-helmet-name' id='helmet_name' name='helmet_name' type='text' /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-helmet-rating pt'> Rating </th><td class='ivar {{eo}} ivar-helmet-rating'><input value='{{variables.helmet_rating|default}}' class='form-control ivar ivar-helmet-rating' id='helmet_rating' name='helmet_rating' type='number' /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-helmet-bane-awareness'> Bane Awareness </th><td class='ivar {{eo}} ivar-helmet-bane-awareness c'><input value='0' id='helmet_bane_awareness' name='helmet_bane_awareness' type='hidden' /><input value='1' {% if variables.helmet_bane_awareness|default > 0 %} checked='checked'{% endif %} id='helmet_bane_awareness' name='helmet_bane_awareness' type='checkbox' /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-helmet-bane-bows'> Bane Bows </th><td class='ivar {{eo}} ivar-helmet-bane-bows c'><input value='0' id='helmet_bane_bows' name='helmet_bane_bows' type='hidden' /><input value='1' {% if variables.helmet_bane_bows|default > 0 %} checked='checked'{% endif %} id='helmet_bane_bows' name='helmet_bane_bows' type='checkbox' /></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card dmg-bonus-str" id="card-dmg-bonus-str">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl {{eo}} ilbl-dmg-bonus-str pt'> DMG Bonus STR </th><td class='ivar {{eo}} ivar-dmg-bonus-str c'><input value='{{variables.dmg_bonus_str|default}}' class='form-control ivar ivar-dmg-bonus-str c sm' id='dmg_bonus_str' name='dmg_bonus_str' type='text' /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-dmg-bonus-agl pt'> DMG Bonus AGL </th><td class='ivar {{eo}} ivar-dmg-bonus-agl c'><input value='{{variables.dmg_bonus_agl|default}}' class='form-control ivar ivar-dmg-bonus-agl c sm' id='dmg_bonus_agl' name='dmg_bonus_agl' type='text' /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-movement pt'> Movement </th><td class='ivar {{eo}} ivar-movement'><input value='{{variables.movement|default}}' class='form-control ivar ivar-movement c md' id='movement' name='movement' type='text' /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card notes" id="card-wil-points">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table class='table'>
                                <tr><th class='ilbl {{eo}} ilbl-wil-points pt'> WIL Points </th><td class='ivar {{eo}} ivar-wil-points c'><input value='{{variables.wil_points|default}}' class='form-control ivar ivar-wil-points c sm' id='wil_points' name='wil_points' type='number'    /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-wil-points-max pt'> WIL Points Max </th><td class='ivar {{eo}} ivar-wil-points-max c'><input value='{{variables.wil_points_max|default}}' class='form-control ivar ivar-wil-points-max c sm' id='wil_points_max' name='wil_points_max' type='number'    /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card notes" id="card-hit-points">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table class='table'>
                                <tr><th class='ilbl {{eo}} ilbl-hit-points pt'> Hit Points </th><td class='ivar {{eo}} ivar-hit-points c'><input value='{{variables.hit_points|default}}' class='form-control ivar ivar-hit-points sm' id='hit_points' name='hit_points' type='number'    /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-hit-points-max pt'> Hit Points Max </th><td class='ivar {{eo}} ivar-hit-points-max c'><input value='{{variables.hit_points_max|default}}' class='form-control ivar ivar-hit-points-max sm' id='hit_points_max' name='hit_points_max' type='number'    /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card misc" id="card-misc">
                <div class="card-body">
                    <div class='cContainer'><div class='ilbl ilbl-abilities'> Abilities </div><div class='ivar ivar-abilities'><div class='iContent'><textarea class='form-control ivar ivar-abilities mention' id='abilities' name='abilities' rows='3'  >{{variables.abilities|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card belongings" id="card-belongings">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl {{eo}} ilbl-gold' width='20%'> Gold </th><td class='ivar {{eo}} ivar-gold c'><input value='{{variables.gold|default}}' class='form-control ivar ivar-gold md' id='gold' name='gold' type='number'    /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-silver'> Silver </th><td class='ivar {{eo}} ivar-silver c'><input value='{{variables.silver|default}}' class='form-control ivar ivar-silver md' id='silver' name='silver' type='number'    /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-copper'> Copper </th><td class='ivar {{eo}} ivar-copper c'><input value='{{variables.copper|default}}' class='form-control ivar ivar-copper md' id='copper' name='copper' type='number'    /></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-memento'> Memento </th><td class='ivar {{eo}} ivar-memento'><div class='iContent'><input value='{{variables.memento|default}}' class='form-control ivar ivar-memento' id='memento' name='memento' type='text' /></div></td></tr>
                        <tr><th class='ilbl {{eo}} ilbl-tiny-items'> Tiny Items </th><td class='ivar {{eo}} ivar-tiny-items'><div class='iContent'><textarea class='form-control ivar ivar-tiny-items' id='tiny_items' name='tiny_items' rows='3'  >{{variables.tiny_items|default}}</textarea></div></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="card belongings" id="card-belongings">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl {{eo}} ilbl-enc-limit'> Enc Limit </th><td class='ivar {{eo}} ivar-enc-limit c'><input value='{{variables.enc_limit|default}}' class='form-control ivar ivar-enc-limit sm' id='enc_limit' name='enc_limit' type='text'  /></td></tr>
                    </table>
                    <table class='table'>
                        {% for i in 1..10 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            <tr><th class='ilbl {{eo}} ilbl-equipment'> Equipment {{i}}</th><td class='ivar {{eo}} ivar-equipment'><input value='{{attribute(variables, 'equipment_' ~ id)|default}}' class='form-control ivar ivar-equipment' id='equipment_{{id}}' name='equipment_{{id}}' type='text'  /></td></tr>
                        {% endfor %}
                    </table>
                    <input value='{{variables.dr_successes|default}}' id='dr_successes' name='dr_successes' type='hidden' />
                    <input value='{{variables.dr_failures|default}}' id='dr_failures' name='dr_failures' type='hidden' />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card notes" id="card-notes">
                <div class="card-body">
                    <div class='cContainer'><div class='ilbl ilbl-notes'> Notes </div><div class='ivar ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>