<div class="container-fluid sheet-dragonbane tracker pd2">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card left" id="card-left">
                <div class="card-body c">
                    <table class='table'>
                        <tr><th class='ilbl ilbl-conditions' colspan=4> Conditions </th></tr>
                        <tr>
                            <th class='ilbl od ilbl-cond-exhausted'> Exhausted </th><td class='ivar od cond ivar-cond-exhausted'><input value='0' id='cond_exhausted' name='cond_exhausted' type='hidden' /><input value='1' {% if variables.cond_exhausted|default > 0 %} checked='checked'{% endif %} id='cond_exhausted' name='cond_exhausted' type='checkbox' /></td>
                            <th class='ilbl od ilbl-cond-sickly'> Sickly </th><td class='ivar od cond ivar-cond-sickly'><input value='0' id='cond_sickly' name='cond_sickly' type='hidden' /><input value='1' {% if variables.cond_sickly|default > 0 %} checked='checked'{% endif %} id='cond_sickly' name='cond_sickly' type='checkbox' /></td>
                        </tr>
                        <tr>
                            <th class='ilbl ev cond ilbl-cond-dazed'> Dazed </th><td class='ivar ev cond ivar-cond-dazed'><input value='0' id='cond_dazed' name='cond_dazed' type='hidden' /><input value='1' {% if variables.cond_dazed|default > 0 %} checked='checked'{% endif %} id='cond_dazed' name='cond_dazed' type='checkbox' /></td>
                            <th class='ilbl ev cond ilbl-cond-angry'> Angry </th><td class='ivar ev cond ivar-cond-angry'><input value='0' id='cond_angry' name='cond_angry' type='hidden' /><input value='1' {% if variables.cond_angry|default > 0 %} checked='checked'{% endif %} id='cond_angry' name='cond_angry' type='checkbox' /></td>
                        </tr>
                        <tr>
                            <th class='ilbl od cond ilbl-cond-scared'> Scared </th><td class='ivar od cond ivar-cond-scared'><input value='0' id='cond_scared' name='cond_scared' type='hidden' /><input value='1' {% if variables.cond_scared|default > 0 %} checked='checked'{% endif %} id='cond_scared' name='cond_scared' type='checkbox' /></td>
                            <th class='ilbl od cond ilbl-cond-disheartened'> Disheartened </th><td class='ivar od cond ivar-cond-disheartened'><input value='0' id='cond_disheartened' name='cond_disheartened' type='hidden' /><input value='1' {% if variables.cond_disheartened|default > 0 %} checked='checked'{% endif %} id='cond_disheartened' name='cond_disheartened' type='checkbox' /></td>
                        </tr>
                    </table>
                    <table class='table'>
                        <tr><th class='ilbl ilbl-conditions' colspan=2> Pools </th></tr>
                        <tr><th class='ilbl ev ilbl-hit-points'> Hit Points </th><td class='ivar ev ivar-hit-points'><input value='{{variables.hit_points|default}}' class='form-control ivar ivar-hit-points sm' id='hit_points' name='hit_points' type='number' /> / {{variables.hit_points_max|default}}</td></tr>
                        <tr><th class='ilbl od ilbl-wil-points'> WIL Points </th><td class='ivar od ivar-wil-points'><input value='{{variables.wil_points|default}}' class='form-control ivar ivar-wil-points sm' id='wil_points' name='wil_points' type='number' /> / {{variables.wil_points_max|default}}</td></tr>
                    </table>
                    <table class='table dr'>
                        <tr>
                            <td class='ivar {{eo}} ivar-dr'>
                                <input value='0' id='dr_f3' name='dr_f3' type='hidden' /><input value='1' {% if variables.dr_f3|default > 0 %} checked='checked'{% endif %} id='dr_f3' name='dr_f3' type='checkbox' />
                                <input value='0' id='dr_f2' name='dr_f2' type='hidden' /><input value='1' {% if variables.dr_f2|default > 0 %} checked='checked'{% endif %} id='dr_f2' name='dr_f2' type='checkbox' />
                                <input value='0' id='dr_f1' name='dr_f1' type='hidden' /><input value='1' {% if variables.dr_f1|default > 0 %} checked='checked'{% endif %} id='dr_f1' name='dr_f1' type='checkbox' />
                            </td>
                            <th class='ilbl' rowspan=2>Death Rolls</th>
                            <td class='ivar {{eo}} ivar-dr'>
                                <input value='0' id='dr_s1' name='dr_s1' type='hidden' /><input value='1' {% if variables.dr_s1|default > 0 %} checked='checked'{% endif %} id='dr_s1' name='dr_s1' type='checkbox' />
                                <input value='0' id='dr_s2' name='dr_s2' type='hidden' /><input value='1' {% if variables.dr_s2|default > 0 %} checked='checked'{% endif %} id='dr_s2' name='dr_s2' type='checkbox' />
                                <input value='0' id='dr_s3' name='dr_s3' type='hidden' /><input value='1' {% if variables.dr_s3|default > 0 %} checked='checked'{% endif %} id='dr_s3' name='dr_s3' type='checkbox' />
                            </td>
                        </tr>
                        <tr>
                            <th class='ilbl'>Failures</th><th class='ilbl'>Successes</th>
                        </tr>
                    </table>
                    <table class='table'>
                        <tr><th class='ilbl' colspan=3> Money </th></tr>
                        <tr>
                            <td class='ivar ev ivar-money'><input value='{{variables.gold|default}}' class='form-control ivar ivar-money c md' id='gold' name='gold' type='number' /> G</td>
                            <td class='ivar ev ivar-money'><input value='{{variables.silver|default}}' class='form-control ivar ivar-money c md' id='silver' name='silver' type='number' /> S</td>
                            <td class='ivar ev ivar-money'><input value='{{variables.copper|default}}' class='form-control ivar ivar-money c md' id='copper' name='copper' type='number' /> C</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card notes" id="card-notes">
                <div class="card-body">
                    <div class='cContainer'><div class='ilbl ilbl-notes'> Notes </div><div class='ivar ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>