<div class="statblock template-{{ meta.identifier }} system-{{ meta.RPGSRD }}">

	<div class="trackable-header row text-center mx-2">
		<div class="col"><h3 data-toggle="bstooltip" data-placement="bottom" title="Initiative"><i class="ra  ra-player-dodge">Initiative</i><br>{{ variables.initiative }}</h3></div>
		<div class="col"><h3 data-toggle="bstooltip" data-placement="bottom" title="Hit Points"><i class="ra ra-health"></i><br>{{ variables.hitpoints}}</h3></div>
	</div>
	<form class="trackable" id="blockform-{{ meta.block.id }}" data-block="{{ meta.block.id }}">
			<h4 class="mb-1 mt-4 text-center" data-toggle="collapse" data-target="#health">Vitalité</h4>
			<div class="collapse show" id="health">
				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2"><div class="icon-hearts" ></div> Points de Vie (PV)</h5>
					<input class="trackable-3digits form-control" type="text" value="{{ variables.hitpoints_current is defined ? variables.hitpoints_current }}" name="hitpoints_current" /> <span class="trackable-value">/ {{ variables.hitpoints }}</span>
				</div>
				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2">Points de Vie temporaires</h5>
					<input class="trackable-3digits form-control" type="text" value="{{ variables.hitpoints_temp_current is defined ? variables.hitpoints_temp_current }}" name="hitpoints_temp_current" /> <span class="trackable-value">/ <input class="trackable-3digits form-control" type="text" value="{{ variables.hitpoints_temp is defined ? variables.hitpoints_temp }}" name="hitpoints_temp" /></span>
				</div>
				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2">Points de Récupération (PR)</h5>
					<input class="trackable-3digits form-control" type="text" value="{{ variables.recuppoints_current is defined ? variables.recuppoints_current }}" name="recuppoints_current" /> <span class="trackable-value">/ 5</span>
				</div>
			</div>

			<h4 class="mb-1 mt-4 text-center" data-toggle="collapse" data-target="#health">Défense</h4>
			<div class="collapse show" id="health">
				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2"><div class="icon-shamrock" ></div> Points de Chance (PC)</h5>
					  {% set pc = 3 +  (variables.charisma - 10)//2 %}
					<input class="trackable-3digits form-control" type="text" value="{{ variables.luckpoints_current is defined ? variables.luckpoints_current }}" name="luckpoints_current" /> <span class="trackable-value">/ {{ pc }}</span>
				</div>

			</div>

			<h4 class="mb-1 mt-4 text-center" data-toggle="collapse" data-target="#treasure">Trésor et équipement</h4>
			<div class="collapse" id="treasure">
				<textarea rows="15" class="form-control" name="equipment">{{ variables.equipment is defined ? variables.equipment }}</textarea>
				<div class=" mt-2"><strong>Pièces de bronze :</strong> <input class="mt-1 form-control trackable-6digits" type="text" value="{{ variables.cp }}" name="cp" /></div>
				<div class=" mt-2"><strong>Pièces d'argent :</strong> <input class="mt-1 form-control trackable-6digits" type="text" value="{{ variables.sp }}" name="sp" /></div>
				<div class=" mt-2"><strong>Pièces d'or' :</strong> <input class="mt-1 form-control trackable-6digits" type="text" value="{{ variables.gp }}" name="gp" /></div>
			</div>

			<input class="mt-3 btn btn-sm btn-dark btn-block" type="submit" value="Save changes">
	</form>
</div>
