<div class="text-center mb-3 m-b-10">
    <div class="badgeHeading">
        <h2>{{ variables.name is defined ? variables.name }}</h2>
    </div>
    <strong>
        {% if variables.level is defined %}
            {{ variables.level }}-level
        {% endif %}
        {% if variables.race is defined %}
            {% set raceText = variables.race|split('#') %}
            {% if raceText[0] == "Other" %}
                {{ variables.raceOther is defined ? variables.raceOther }}
            {% else %}
                {{ raceText[0] }}
            {% endif %}
        {% endif %}
        {{ variables.class is defined ? variables.class }}
        {% if variables.alignment is defined %}
            {% set alignmentText = variables.alignment|split('#') %}
            {% if alignmentText[0] == "Other" %}
                {{ variables.alignmentOther is defined ? variables.alignmentOther }}
            {% else %}
                {{ alignmentText[0] }}
            {% endif %}
        {% endif %}
    </strong>
    <div class="mainstatsBadge">
        <div class="row">
            <div class="col-md-4 dw-stat-box">
                <div class="dataBox">
                    <div class="row">
                        <div class="col">
                            <label for="strength">Strength</label>&nbsp<span class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>{{ variables.strength is defined ? variables.strength }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 dw-stat-box">
                <div class="dataBox">
                    <div class="row">
                        <div class="col">
                            <label for="dexterity">Dexterity</label>&nbsp<span class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>{{ variables.dexterity is defined ? variables.dexterity }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 dw-stat-box">
                <div class="dataBox">
                    <div class="row">
                        <div class="col">
                            <label for="constitution">Constitution</label>&nbsp<span class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>{{ variables.constitution is defined ? variables.constitution }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 dw-stat-box">
                <div class="dataBox">
                    <div class="row">
                        <div class="col">
                            <label for="intelligence">Intelligence</label>&nbsp<span class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>{{ variables.intelligence is defined ? variables.intelligence }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 dw-stat-box">
                <div class="dataBox">
                    <div class="row">
                        <div class="col">
                            <label for="wisdom">Wisdom</label>&nbsp<span class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>{{ variables.wisdom is defined ? variables.wisdom }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 dw-stat-box ">
                <div class="dataBox">
                    <div class="row">
                        <div class="col">
                            <label for="charisma">Charisma</label>&nbsp<span class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>{{ variables.charisma is defined ? variables.charisma }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hpcontainer d-none">
        <strong>
            {% if variables.hit_points_current is defined %}
                {{ variables.hit_points_current }}
            {% endif %}/
            {% if variables.hit_points is defined %}
                {{ variables.hit_points }}
            {% endif %}
            {% if variables.hit_points_current is defined %}
                HP
            {% endif %}
        </strong>
    </div>
</div>
