{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genGear(id = 0, name = '', count = 1, weight = 1) %}{% set eo = "odd" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="att {{eo}} c"><input value="{{ count }}" class="form-control c" id="gear_count_{{id}}" name="gear_count_{{id}}" type="text" /></td>
<td class="lbl {{eo}} l"><input value="{{ name }}" class="form-control" id="gear_name_{{id}}" name="gear_name_{{id}}" type="text" /></td>
<td class="att {{eo}} c"><input value="{{ weight }}" class="form-control c" id="gear_weight_{{id}}" name="gear_weight_{{id}}" type="text" /></td>
</tr>{% endmacro genGear %}
{# ---------------------------------------------- #}
{% macro genMove(id = 0, name = '', details = '' ) %}<tr><td class="att odd l"><b>Move: <input value="{{ name }}" class="form-control moveform" id="move_name_{{id}}" name="move_name_{{id}}" type="text" /></b></td></tr><tr><td class="ev l"><textarea class="form-control" id="move_details_{{id}}" name="move_details_{{id}}" rows="3" placeholder="some description here">{{ details }}</textarea></td></tr>{% endmacro genMove %}
{# ---------------------------------------------- #}
{% set bonus = { 1: "-3",2: "-3",3: "-3",4: "-2",5: "-2",6: "-1",7: "-1",8: "-1",9: "+0",10: "+0",11: "+0",12: "+0",13: "+1",14: "+1",15: "+1",16: "+2",17: "+2",18: "+3" } %}
{% set str = variables.strength|default("1") %}
{% set str_pen = variables.strength_pen|default %}
{% set str_bonus = bonus[str] %}
{% set dex = variables.dexterity|default("1") %}
{% set dex_pen = variables.dexterity_pen|default %}
{% set dex_bonus = bonus[dex] %}
{% set con = variables.constitution|default("1") %}
{% set con_pen = variables.constitution_pen|default %}
{% set con_bonus = bonus[con] %}
{% set int = variables.intelligence|default("1") %}
{% set int_pen = variables.intelligence_pen|default %}
{% set int_bonus = bonus[int] %}
{% set wis = variables.wisdom|default("1") %}
{% set wis_pen = variables.wisdom_pen|default %}
{% set wis_bonus = bonus[wis] %}
{% set cha = variables.charisma|default("1") %}
{% set cha_pen = variables.charisma_pen|default %}
{% set cha_bonus = bonus[cha] %}
{# ---------------------------------------------- #}
<div class="container-fluid dungeonworld-sheet">
	<div class="row">
		<div class="col-12 col-md-12 col-lg-12">
			<div class="card my-2">
				<div class="attributeContainer">
					<span class="headerContent">Personal</span>
				</div>
				<div class="row">
					<div class="col-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-12 col-sm-6">
								<div class="contentContainerSmall">
									<span class="inputLabel">Name</span>
									<span class="inputContent"><input value="{{ variables.name is defined ? variables.name }}" class="form-control" id="name" name="name" type="text" /></span>
								</div>
							</div>
							<div class="col-12 col-sm-3">
								<div class="contentContainerSmall">
									<span class="inputLabel">Level</span>
									<span class="inputContent"><input value="{{ variables.level is defined ? variables.level }}" class="form-control c" id="level" name="level" type="text" /></span>
								</div>
							</div>
							<div class="col-12 col-sm-3">
								<div class="contentContainerSmall">
									<span class="inputLabel">XP</span>
									<span class="inputContent"><input value="{{ variables.xp is defined ? variables.xp }}" class="form-control c" id="xp" name="xp" type="text" /></span>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-6">
								<div class="contentContainerSmall">
									<span class="inputLabel">Class</span>
									<span class="inputContent"><input value="{{ variables.class is defined ? variables.class }}" class="form-control" id="class" name="class" type="text" /></span>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-6">
								<div class="contentContainerSmall">
									<span class="inputLabel">Race</span>
									<span class="inputContent"><textarea class="form-control" id="race" name="race" rows="1" >{{ variables.race is defined ? variables.race }}</textarea></span>
								</div>
							</div>
							<div class="col-12 col-sm-12">
								<div class="contentContainerSmall list">
									<span class="inputLabel">Alignment</span>
									<span class="inputContent l"><textarea class="form-control" id="alignment" name="alignment" rows="3" >{{ variables.alignment is defined ? variables.alignment }}</textarea></span>
								</div>
							</div>
							<div class="col-12 col-sm-12">
								<div class="contentContainerSmall list">
									<span class="inputLabel">World Anvil Image ID for portrait</span>
									<span class="inputContent l"><input value="{{ variables.imageid is defined ? variables.imageid }}" class="form-control c" id="imageid" name="imageid" type="number" /></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="contentContainerSmall list">
							<span class="inputLabel">Look</span>
							<span class="inputContent l"><textarea class="form-control mention" id="look" name="look" rows="3" >{{ variables.look is defined ? variables.look }}</textarea></span>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="contentContainerSmall list">
							<span class="inputLabel">Bonds</span>
							<span class="inputContent l"><textarea class="form-control mention" id="bonds" name="bonds" rows="3" >{{ variables.bonds is defined ? variables.bonds }}</textarea></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="row my-2">
					<div class="col-12 col-md-4 col-lg-4">
						<table width="100%" class="attbox">
							<tr><th class="c">Strength {{str_bonus}}</th></tr>
							<tr><td><div class="btext">STR<br><input value="{{ variables.strength is defined ? variables.strength }}" class="form-control c" id="strength" name="strength" type="text" /></div></td></tr>
							<tr><td class="c"><input value="1" {% if variables.strength_pen is defined and variables.strength_pen == 1 %} checked="checked"{% endif %} id="strength_pen" name="strength_pen" type="checkbox" /> Weak -1</td></tr>
						</table>
					</div>
					<div class="col-12 col-md-4 col-lg-4">
						<table width="100%" class="attbox">
							<tr><th class="c">Dexterity {{dex_bonus}}</th></tr>
							<tr><td><div class="btext">DEX<br><input value="{{ variables.dexterity is defined ? variables.dexterity }}" class="form-control c" id="dexterity" name="dexterity" type="text" />/div></td></tr>
							<tr><td class="c"><input value="1" {% if variables.dexterity_pen is defined and variables.dexterity_pen == 1 %} checked="checked"{% endif %} id="dexterity_pen" name="dexterity_pen" type="checkbox" /> Shaky -1</td></tr>
						</table>
					</div>
					<div class="col-12 col-md-4 col-lg-4">
						<table width="100%" class="attbox">
							<tr><th class="c">Constitution {{con_bonus}}</th></tr>
							<tr><td><div class="btext">CON<br><input value="{{ variables.constitution is defined ? variables.constitution }}" class="form-control c" id="constitution" name="constitution" type="text" /></div></td></tr>
							<tr><td class="c"><input value="1" {% if variables.constitution_pen is defined and variables.constitution_pen == 1 %} checked="checked"{% endif %} id="constitution_pen" name="constitution_pen" type="checkbox" /> Sick -1</td></tr>
						</table>
					</div>
					<div class="col-12 col-md-4 col-lg-4">
						<table width="100%" class="attbox">
							<tr><th class="c">Intelligence {{int_bonus}}</th></tr>
							<tr><td><div class="btext">INT<br><input value="{{ variables.intelligence is defined ? variables.intelligence }}" class="form-control c" id="intelligence" name="intelligence" type="text" /></div></td></tr>
							<tr><td class="c"><input value="1" {% if variables.intelligence_pen is defined and variables.intelligence_pen == 1 %} checked="checked"{% endif %} id="intelligence_pen" name="intelligence_pen" type="checkbox" /> Stunned -1</td></tr>
						</table>
					</div>
					<div class="col-12 col-md-4 col-lg-4">
						<table width="100%" class="attbox">
							<tr><th class="c">Wisdom {{wis_bonus}}</th></tr>
							<tr><td><div class="btext">WIS<br><input value="{{ variables.wisdom is defined ? variables.wisdom }}" class="form-control c" id="wisdom" name="wisdom" type="text" /></div></td></tr>
							<tr><td class="c"><input value="1" {% if variables.wisdom_pen is defined and variables.wisdom_pen == 1 %} checked="checked"{% endif %} id="wisdom_pen" name="wisdom_pen" type="checkbox" /> Confused -1</td></tr>
						</table>
					</div>
					<div class="col-12 col-md-4 col-lg-4">
						<table width="100%" class="attbox">
							<tr><th class="c">Charisma {{cha_bonus}}</th></tr>
							<tr><td><div class="btext">CHA<br><input value="{{ variables.charisma is defined ? variables.charisma }}" class="form-control c" id="charisma" name="charisma" type="text" /></div></td></tr>
							<tr><td class="c"><input value="1" {% if variables.charisma_pen is defined and variables.charisma_pen == 1 %} checked="checked"{% endif %} id="charisma_pen" name="charisma_pen" type="checkbox" /> Scarred -1</td></tr>
						</table>
					</div>
				</div>
			</div>
		</div>
{% set class = variables.class|default('')|capitalize %}
{% set hp_max = '' %}
{% set dam = 'd4' %}
{% if class == 'Arcane Duelist' %}{% set hp_max = con + 8 %}{% set dam = 'd8' %}{% endif %}
{% if class == 'Barbarian' %}{% set hp_max = con + 8 %}{% set dam = 'd8' %}{% endif %}
{% if class == 'Bard' %}{% set hp_max = con + 6 %}{% set dam = 'd6' %}{% endif %}
{% if class == 'Cleric' %}{% set hp_max = con + 8 %}{% set dam = 'd6' %}{% endif %}
{% if class == 'Druid' %}{% set hp_max = con + 6 %}{% set dam = 'd6' %}{% endif %}
{% if class == 'Fighter' %}{% set hp_max = con + 10 %}{% set dam = 'd10' %}{% endif %}
{% if class == 'Immolator' %}{% set hp_max = con + 4 %}{% set dam = 'd8' %}{% endif %}
{% if class == 'Paladin' %}{% set hp_max = con + 10 %}{% set dam = 'd10' %}{% endif %}
{% if class == 'Ranger' %}{% set hp_max = con + 8 %}{% set dam = 'd8' %}{% endif %}
{% if class == 'Thief' %}{% set hp_max = con + 6 %}{% set dam = 'd8' %}{% endif %}
{% if class == 'Wizard' %}{% set hp_max = con + 4 %}{% set dam = 'd4' %}{% endif %}
{% if hp_max == '' %}{% set hp_max = variables.hitpoints_max|default('') %}{% endif %}
{% set hp_curr = variables.hitpoints_curr|default('') %}
{% if hp_curr == '' %}{% set hp_curr = hp_max %}{% endif %}
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="row my-2">
					<div class="col-12 col-md-4 col-lg-4">
						<table width="100%" class="attbox">
							<tr><th class="c">Armor</th></tr>
							<tr><td><div class="btext top23"><input value="{{ variables.armor is defined ? variables.armor }}" class="form-control c" id="armor" name="armor" type="text" /></div></td></tr>
							<tr><td class="c">&nbsp;</td></tr>
						</table>
					</div>
					<div class="col-12 col-md-4 col-lg-4">
						<table width="100%" class="attbox">
							<tr><th class="c">Hitpoints</th></tr>
							<tr><td><div class="btext top23"><input value="{{ variables.hitpoints_curr is defined ? variables.hitpoints_curr }}" class="form-control c" id="hitpoints_curr" name="hitpoints_curr" type="text" /></div></td></tr>
							<tr><td class="c">Maximum: <input value="{{ variables.hitpoints_max is defined ? variables.hitpoints_max }}" class="form-control c" id="hitpoints_max" name="hitpoints_max" type="text" /></td></tr>
						</table>
					</div>
					<div class="col-12 col-md-4 col-lg-4">
						<table width="100%" class="attbox">
							<tr><th class="c">Damage</th></tr>
							<tr><td><div class="btext top23 dark"><input value="{{ variables.damage is defined ? variables.damage }}" class="form-control c" id="damage" name="damage" type="text" />/div></td></tr>
							<tr><td class="c">&nbsp;</td></tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12 col-lg-6">
			<div class="card my-2">
				<div class="attributeContainer">
					<span class="headerContent">Moves</span>
				</div>
				<div class="contentContainer list">
					<table width="100%" class="alttable">
						{% for i in 1..30 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
							{{ sheet.genMove(
								id,
								attribute(variables, 'move_name_' ~ id),
								attribute(variables, 'move_details_' ~ id)
							)
							}}
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="attributeContainer">
					<span class="headerContent">Gear</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent">Coin: <b><input value="{{ variables.coin is defined ? variables.coin }}" class="form-control" id="coin" name="coin" type="text" /></b></span>
					<table width="100%" class="alttable">
						<tr>
							<td class="hdr c" width="10%" title="Amount">#</td>
							<td class="hdr c">Item</td>
							<td class="hdr c" width="15%">Weight</td>
						</tr>
						{% set load = 0 %}
						{% for i in 1..30 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set count = (attribute(variables, 'gear_count_' ~ id)|default(1))%}
							{% set load = load + count * (attribute(variables, 'gear_weight_' ~ id)|default(0)) %}
							{{ sheet.genGear(
								id,
								attribute(variables, 'gear_name_' ~ id),
								attribute(variables, 'gear_count_' ~ id),
								attribute(variables, 'gear_weight_' ~ id)
								)
							}}
						{% endfor %}
					</table>
				</div>
				<span class="r">Carry Weight max (STR+8): {{ 8 + str }}, current: {{load}}</span>
			</div>
			<div class="card my-2">
				<div class="attributeContainer">
					<span class="headerContent">Notes</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control mention" id="notes" name="notes" rows="3" >{{ variables.notes is defined ? variables.notes }}</textarea></span>
				</div>
			</div>
		</div>
	</div>
</div>