<div class="container-fluid dungeonworld-sheet">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
                <div class="contentContainer">
                    <table width="100%">
                        <tr><td width=50%>Level</td><td><input value="{{ variables.level is defined ? variables.level }}" class="form-control c" id="level" name="level" type="text" /></td></tr>
                        <tr><td>XP</td><td><input value="{{ variables.xp is defined ? variables.xp }}" class="form-control c" id="xp" name="xp" type="text" /></td></tr>
                        <tr><td>Hitpoints</td><td><input value="{{ variables.hitpoints_curr is defined ? variables.hitpoints_curr }}" class="form-control c" id="hitpoints_curr" name="hitpoints_curr" type="text" /></td></tr>
					    <tr><td>Coin</td><td><input value="{{ variables.coin is defined ? variables.coin }}" class="form-control c" id="coin" name="coin" type="text" /></td></tr>
                        <tr>
                            <td class="c">STR <input value="1" {% if variables.strength_pen is defined and variables.strength_pen == 1 %} checked="checked"{% endif %} id="strength_pen" name="strength_pen" type="checkbox" /> Weak -1</td>
                            <td class="c">DEX <input value="1" {% if variables.dexterity_pen is defined and variables.dexterity_pen == 1 %} checked="checked"{% endif %} id="dexterity_pen" name="dexterity_pen" type="checkbox" /> Shaky -1</td>
                           </tr>
                        <tr>
                            <td class="c">CON <input value="1" {% if variables.constitution_pen is defined and variables.constitution_pen == 1 %} checked="checked"{% endif %} id="constitution_pen" name="constitution_pen" type="checkbox" /> Sick -1</td>
                            <td class="c">INT <input value="1" {% if variables.intelligence_pen is defined and variables.intelligence_pen == 1 %} checked="checked"{% endif %} id="intelligence_pen" name="intelligence_pen" type="checkbox" /> Stunned -1</td>
                        </tr>
                        <tr>
                            <td class="c">WIS <input value="1" {% if variables.wisdom_pen is defined and variables.wisdom_pen == 1 %} checked="checked"{% endif %} id="wisdom_pen" name="wisdom_pen" type="checkbox" /> Confused -1</td>
                            <td class="c">CHA <input value="1" {% if variables.charisma_pen is defined and variables.charisma_pen == 1 %} checked="checked"{% endif %} id="charisma_pen" name="charisma_pen" type="checkbox" /> Scarred -1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="attributeContainer">
					<span class="headerContent">Notes</span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="notes" name="notes" rows="3" >{{ variables.notes is defined ? variables.notes }}</textarea></span>
				</div>
			</div>
        </div>
	</div>
</div>