{% extends 'RPGSRDBundle:Templates:cod/cod-base.html.twig' %}
{% import 'RPGSRDBundle:Templates:cod/cod-macros.html.twig' as macros %}

{% block char_info %} 
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Name </div>
            <div class="col-md-8">{{ variable.name }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Player </div>
            <div class="col-md-8">{{ variable.player }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Chronicle </div>
            <div class="col-md-8">{{ variable.chronicle }} </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Virtue </div>
            <div class="col-md-8">{{ variable.virtue }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Vice </div>
            <div class="col-md-8">{{ variable.vice }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Concept </div>
            <div class="col-md-8">{{ variable.concept }} </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Calling </div>
            <div class="col-md-8">{{ variable.calling }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Queen </div>
            <div class="col-md-8">{{ variable.queen }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Embassy </div>
            <div class="col-md-8">{{ variable.embassy }} </div>
        </div>
    </div>
{% endblock %}

{% block char_attributes %}
    <div class = "row split-line"></div>
    <div class = "row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Intelligence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,5) }} ({{ macros.printWodStat (variables.transformed_intelligence,5)}})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Wits </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.wits,5) }} ({{ macros.printWodStat (variables.transformed_wits,5)}})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Resolve </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.resolve,5) }} ({{ macros.printWodStat (variables.transformed_resolve,5)}})</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Strength </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.strength,5) }} ({{ macros.printWodStat (variables.transformed_strength,5) }})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Dexterity </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.dexterity,5) }} ({{ macros.printWodStat (variables.transformed_dexterity,5) }})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Stamina </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.stamina,5) }} ({{ macros.printWodStat (variables.transformed_stamina,5) }})</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Presence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.presence,5) }} ({{ macros.printWodStat (variables.transformed_presence,5) }})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Manipulation </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.manipulation,5) }} ({{ macros.printWodStat (variables.transformed_manipulation,5) }})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Composure </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.composure,5) }} ({{ macros.printWodStat (variables.composure,5) }})</div>
            </div>
        </div>
    </div>
{% endblock %}