{% extends 'RPGSRDBundle:Templates:cod/cod-base.html.twig' %}
{% import 'RPGSRDBundle:Templates:cod/cod-macros.html.twig' as macros %}
{% block char_attributs %}
    <div class = "row split-line"></div>
    <div class = "row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Intelligence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Wits </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.wits,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Resolve </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.resolve,8) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Strength </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.strength,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Dexterity </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.dexterity,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Stamina </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.stamina,8) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Presence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.presence,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Manipulation </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.manipulation,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Composure </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.composure,8) }}</div>
            </div>
        </div>
    </div>
{% endblock %}