{% macro genBonus(a) %} {# ----------------------------------------------------------------------- #}
{% if a is defined and a != '' %}
{% set b = '-2' %}
{% if a >= 4 %}{% set b = '-1' %}{% endif %}
{% if a >= 8 %}{% set b = '0' %}{% endif %}
{% if a >= 14 %}{% set b = '+1' %}{% endif %}
{% if a >= 17 %}{% set b = '+2' %}{% endif %}
{{b}}
{% else %}0{% endif %}{% endmacro genBonus %}
<div class="card my-2 of"><div class="card-body pd10">
<b>{{ variables.name is defined ? variables.name }}</b>, level {{ variables.level is defined ? variables.level }} {{ variables.class is defined ? variables.class}}{% if variables.partial is defined and variables.partial != '' %} / {{variables.partial}} {% endif %}, {{ variables.gender is defined ? variables.gender}} {{ variables.species is defined ? variables.species}} from {{ variables.homeworld is defined ? variables.homeworld}}
</div>
<table width="100%">
    <tr>
        <td class="hdr c" width="16.7%" title="Strength">STR</td>
        <td class="hdr c" width="16.7%" title="Dexterity">DEX</td>
        <td class="hdr c" width="16.7%" title="Constitution">CON</td>
        <td class="hdr c" width="16.7%" title="Intelligence">INT</td>
        <td class="hdr c" width="16.7%" title="Wisdom">WIS</td>
        <td class="hdr c" width="16.7%" title="Charisma">CHA</td>
    </tr>
    <tr>
    <td class="txt c">{% if variables.strength is defined %}{{ variables.strength }}{% endif %}</td>
    <td class="txt c">{% if variables.dexterity is defined %}{{ variables.dexterity }}{% endif %}</td>
    <td class="txt c">{% if variables.constitution is defined %}{{ variables.constitution }}{% endif %}</td>
    <td class="txt c">{% if variables.intelligence is defined %}{{ variables.intelligence }}{% endif %}</td>
    <td class="txt c">{% if variables.wisdom is defined %}{{ variables.wisdom }}{% endif %}</td>
    <td class="txt c">{% if variables.charisma is defined %}{{ variables.charisma }}{% endif %}</td>
    </tr>
    <tr>
        <td class="hdr c" colspan=6>Modifier</td>
    </tr>
    <tr>
    <td class="txt c">{{ _self.genBonus( variables.strength ) }}</td>
    <td class="txt c">{{ _self.genBonus( variables.dexterity ) }}</td>
    <td class="txt c">{{ _self.genBonus( variables.constitution ) }}</td>
    <td class="txt c">{{ _self.genBonus( variables.intelligence ) }}</td>
    <td class="txt c">{{ _self.genBonus( variables.wisdom ) }}</td>
    <td class="txt c">{{ _self.genBonus( variables.charisma ) }}</td>
    </tr>
</table>
</div>