<section class="swn-sheet">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-6">
                    <div class="card my-2 of">
                        <div class="card-body od" >
                            <table width="100%">
                                <tr>
                                    <td class="hdr c">HP</td>
                                    <td class="hdr c" title="Psychic only">EFFORT</td>
                                    <td class="hdr c">Systen Strain</td>
                                </tr>
                                <tr>
                                    <td class="txt c"><input value="{{ variables.hp_curr is defined ? variables.hp_curr }}" class="form-control" id="hp_curr" name="hp_curr" type="number" /> / {{ variables.hp_max is defined ? variables.hp_max }}</td>
                                    <td class="txt c"><input value="{{ variables.effort_curr is defined ? variables.effort_curr }}" class="form-control" id="effort_curr" name="effort_curr" type="number" /> / {{ variables.effort_max is defined ? variables.effort_max }}</td>
                                    <td class="txt c"><input value="{{ variables.system_strain is defined ? variables.system_strain }}" class="form-control" id="system_strain" name="system_strain" type="number" /> / {{ variables.constitution is defined ? variables.constitution }}</td>
                                </tr>
                                <tr>
                                    <td class="hdr c">XP</td>
                                    <td class="hdr c" colspan=2>Credits</td>
                                </tr>
                                <tr>
                                    <td class="txt c"><input value="{{ variables.xp is defined ? variables.xp }}" class="form-control input-med" id="xp" name="xp" type="number" /></td>
                                    <td class="txt c" colspan=2><span class="pd10"><em class="fas fa-coins"></em> <strong><input value="{{ variables.credits is defined ? variables.credits }}" class="form-control input-med" id="credits" name="credits" type="number" /></strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card my-2 of">
                        <div class="card-header head-bar"><em class="fas fa-file-alt"></em> Notes </div>
                        <div class="card-body od pd10">
                            <textarea class="form-control" id="notes" name="notes" rows="2">{{ variables.notes is defined ? variables.notes }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>