<div class='container-fluid dnd5e-2024'>
    <div class='row'>
        <div class='col-12'>
            <div class='ilbl ilbl-name'><label for='name'>Profession</label></div><div class='ivar ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='eg. Acolyte' type='text' /></div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <table class='table'>
                <tr><th class='ilbl ilbl-ability-scores' width='25%'><label for='ability_scores'>Ability Scores</label></th><td class='ivar ivar-ability-scores'><input value='{{variables.ability_scores|default}}' class='form-control ivar ivar-ability-scores' id='ability_scores' name='ability_scores' placeholder='eg. Intelligence, Wisdom, Charisma' type='text' /></td></tr>
                <tr><th class='ilbl ilbl-feat'><label for='feat'>Feat</label></th><td class='ivar ivar-feat'><input value='{{variables.feat|default}}' class='form-control ivar ivar-feat' id='feat' name='feat' placeholder='eg. Magic Initiate (Cleric)' type='text' /></td></tr>
                <tr><th class='ilbl ilbl-skill-proficiencies'><label for='skill_proficiencies'>Skill Proficiencies</label></th><td class='ivar ivar-skill-proficiencies'><input value='{{variables.skill_proficiencies|default}}' class='form-control ivar ivar-skill-proficiencies' id='skill_proficiencies' name='skill_proficiencies' placeholder='eg. Insight and Religion' type='text' /></td></tr>
                <tr><th class='ilbl ilbl-tool-proficiency'><label for='tool_proficiency'>Tool Proficiency</label></th><td class='ivar ivar-tool-proficiency'><input value='{{variables.tool_proficiency|default}}' class='form-control ivar ivar-tool-proficiency' id='tool_proficiency' name='tool_proficiency' placeholder='Calligrapher’s Supplies' type='text' /></td></tr>
                <tr><th class='ilbl ilbl-equipment'><label for='equipment'>Equipment</label></th><td class='ivar ivar-equipment'><input value='{{variables.equipment|default}}' class='form-control ivar ivar-equipment' id='equipment' name='equipment' placeholder='eg. Choose A or B: (A) Calligrapher’s Supplies, Book (prayers), Holy Symbol, Parchment (10 sheets), Robe, 8 GP; or (B) 50 GP' type='text' /></td></tr>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
          <div class='ilbl ilbl-details'><label for='details'>Details</label></div><div class='ivar ivar-details'><div class='iContent'><textarea class='form-control ivar ivar-details mention' id='details' name='details' rows='3'  >{{variables.details|default}}</textarea></div></div>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="imageid" class="control-label"><h4 class="header-title">Illustrating image (WA Image Gallery ID)</h4></label>
                <input value="{{ variables.imageid|default }}" class="form-control" id="imageid" name="imageid" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="source" class="control-label"><h4 class="header-title">Source</h4></label>
                <input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
        </div>
    </div>
</div>