{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

{% macro statModifier(score) -%}
    {% if score < 4 %}
        -3

    {% elif score < 6 %}
        -2
    
    {% elif score < 9 %}
        -1
    
    {% elif score < 13 %}
        0
    
    {% elif score < 16 %}
        +1
    
    {% elif score < 18 %}
        +2

    {% elif score >= 18 %}
        +3    

    {% else %}
        0
    {% endif %}
{%- endmacro %}

<div class="grid-container">
    
    {# Name and look #}
    <div class="pc-name section-label end-slant">{{ variables.name }}</div>
    <div class="look section-label start-slant">{{ variables.look }}</div>
     

    {# Stat names, scores, and modifiers #}
    {# variables.stats is an array of key, value pairs, like this:
        {'STR': 16, 'DEX': 8}
        Its keys are the stat's name and its values are the stat's score. #}
    {% for score in variables.stats.values() %}
        <div class="dw-stats dw-stats-top">{{ score }}</div>
    {% endfor %}
  
    {% for stat in variables.stats.keys() %}
      <div class="dw-stat-names section-label">{{ stat }}</div>
    {% endfor %}      
  
    {% for score in variables.stats.values() %}
        <div class="dw-stats dw-stats-bottom">{{ statModifier(score) }}</div>
    {% endfor %}    


    {# Damage, Armor, HP #}         
    <div class="three-container section-label end-slant">Damage</div> 
    <div class="one-container dw-stats-small dw-combat">{{ variables.damage }}</div>  
      
    <div class="three-container section-label end-slant">Armor</div>
    <div class="one-container dw-stats-small dw-combat">{{ variables.armor }}</div>  
    
    <div class="three-container section-label end-slant">HP</div>
    <div class="one-container dw-stats-small dw-combat">{{ variables.hp }}</div>
      
    {# Alignment #}
    <div class="four-container">
        <div class="section-label end-slant">Alignment</div>
        <div class="alignment">{{ variables.alignment }}</div>
    </div>

    {# Moves #}
    <div class="moves-container">
        <div class="section-label start-slant">Moves</div>  
        
        {% for move, text in variables.moves.items() %}
            <div class="move-name">{{ move }}
                <div class="move-text">{{ text }}</div>
            </div>
        {% endfor %}

    </div>
    
    {# Race #}
    <div class="four-container">
        <div class="section-label end-slant">Race</div>
        <div class="race">{{ variables.race }}</div>
    </div>

    {# Bonds #}
    <div class="four-container">
        <div class="section-label end-slant">Bonds</div>
        
        {% for bond in variables.bonds %}
            <div class="bond-text">{{ bond }}</div>
        {% endfor %}        
    </div>


    {# Gear #}
    <div class="gear-container">        
        <div class="section-label gear-label">Gear</div>
        <div class="gear-item">Bag of books</div>
        <div class="gear-tags">5 uses, near, far, thrown, etc.</div>
        <div class="gear-weight">2 weight</div>
        <div class="gear-item">Staff</div>
        <div class="gear-tags">Close, two-handed</div>
        <div class="gear-weight">1 weight</div>
        <div class="gear-item">Antitoxins (x3)</div>
        <div class="gear-tags"></div>
        <div class="gear-weight">0 weight</div>
        <div class="gear-item">Gaze Cage</div>
        <div class="gear-tags">close, near</div>
        <div class="gear-weight">0 weight</div>
        <div class="gear-item">Hitchhiker's Guide to the Galaxy</div>
        <div class="gear-tags">calming, hand, intelligent</div>
        <div class="gear-weight">1 weight</div>
    </div>

    {# Class, Level, and XP footer #}
    <div class="class-container">
        <div class="section-label end-slant pc-class">{{ variables.dw_class }}</div>
    </div>
    <div class="four-container">    
      <div class="section-label start-slant">Level</div>
      <div class="dw-stats-small">{{ variables.level }}</div>
      <div class="section-label start-slant">XP</div>  
      <div class="dw-stats-small">{{ variables.xp }}</div>
    </div>
</div>


{% endblock %}