{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

<div class="dw-box">
    <table class="dw-table">        
        <tr>            
            <td class="pc-name" colspan="4">
                <div class="pc-header">{{ variables.name }}</div>
            </td>
            <td class="look" colspan="2">
                <div class="pc-header">{{ variables.look }}</div>
            </td>
        </tr>        
        <tr>
            {% for stat in variables.stats.keys() %}
                <td class="dw-stats">{{ stat }}</td>
            {% endfor %}            
        </tr>
        <tr>
            {% for bonus in variables.stats.values() %}
                <td class="dw-stats">{{ bonus }}</td>
            {% endfor %}            
        </tr>   
        <tr>
            <td class="pc-damage-row" colspan="2">
                <div class="section-label"><strong>Damage</strong>
                    {{ variables.damage }}
                </div>
            </td>
            <td class="pc-damage-row" colspan="2">
                <div class="section-label"><strong>Armor</strong>
                    {{ variables.armor }}
                </div>
            </td>
            <td class="pc-damage-row" colspan="2">
                <div class="section-label"><strong>HP</strong>
                    {{ variables.hp }}
                </div>
            </td>
        </tr>
        <tr>
            <td class="pc-alignment-row" colspan="2">
                <div class="section-label"><strong>Alignment</strong></div>
                <p>{{ variables.alignment }}</p>
            </td>
            <td class="pc-alignment-row" colspan="4">
                <div class="section-label"><strong>Moves</strong></div>
                <ul>
                    {% for move in variables.moves %}
                        <li>{{ move }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dw-race" colspan="2">
                <div class="section-label"><strong>Race</strong></div>
                    <p>{{ variables.race }}</p>
            </td>
        </tr>
        <tr>
            <td class="dw-bonds" colspan="2">
                <div class="section-label"><strong>Bonds</strong></div>
                    <ul>
                    {% for bond in variables.bonds %}
                        <li>{{ bond }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dw-gear" colspan="6">
                <div class="section-label"><strong>Gear</strong></div>
                    <ul>
                    {% for item in variables.gear %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dw-class section-label" colspan="4">{{ variables.dw_class }}</td>
            <td class="dw-level section-label" colspan="1">Level: {{ variables.level }}</td>
            <td class="dw-level section-label" colspan="1">XP: {{ variables.xp }}</td>
        </tr>
    </table>    
</div>

{% endblock %}