{% macro genFaction(name, power, tn, focus, notes) %}{% if name != '' %}
<tr><td class="txt c">{{name}}</td>
    <td class="txt c">{{power}}</td>
    <td class="txt c">{{tn}} / {{focus}}</td>
</tr>
<tr>
    <td class="txt c">{{notes}}</td></tr>{% endif %}{% endmacro genFaction %}
<div class="container-fluid conan-kingdom-sheet">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card my-2">
                <div class="card-header head-bar">Kingdom</div>
                <div class="card-body pd10 c">
                    {{variables.name is defined ? variables.name }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card my-2">
                <div class="card-header head-bar">Ruler</div>
                <div class="card-body pd10 c">
                    {{variables.ruler is defined ? variables.ruler }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card my-2">
                <div class="card-header head-bar">Legitimacy</div>
                <div class="card-body pd10 c">
                    {{ variables.legitimacy is defined ? variables.legitimacy }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card my-2">
                <div class="card-header head-bar">Factions</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" width="100%">
                            <tr><th class="hdr c">Name</th>
                                <th class="hdr c">Power</th>
                                <th class="hdr c">TN/Focus</th>
                                <th class="hdr c">Notes</th>
                            </tr>
                            {{ _self.genFaction(variables.faction_name_01, variables.faction_power_01, variables.faction_tn_01, variables.faction_focus_01, variables.faction_notes_01 ) }}
                            {{ _self.genFaction(variables.faction_name_02, variables.faction_power_02, variables.faction_tn_02, variables.faction_focus_02, variables.faction_notes_02 ) }}
                            {{ _self.genFaction(variables.faction_name_03, variables.faction_power_03, variables.faction_tn_03, variables.faction_focus_03, variables.faction_notes_03 ) }}
                            {{ _self.genFaction(variables.faction_name_04, variables.faction_power_04, variables.faction_tn_04, variables.faction_focus_04, variables.faction_notes_04 ) }}
                            {{ _self.genFaction(variables.faction_name_05, variables.faction_power_05, variables.faction_tn_05, variables.faction_focus_05, variables.faction_notes_05 ) }}
                            {{ _self.genFaction(variables.faction_name_06, variables.faction_power_06, variables.faction_tn_06, variables.faction_focus_06, variables.faction_notes_06 ) }}
                            {{ _self.genFaction(variables.faction_name_07, variables.faction_power_07, variables.faction_tn_07, variables.faction_focus_07, variables.faction_notes_07 ) }}
                            {{ _self.genFaction(variables.faction_name_08, variables.faction_power_08, variables.faction_tn_08, variables.faction_focus_08, variables.faction_notes_08 ) }}
                            {{ _self.genFaction(variables.faction_name_09, variables.faction_power_09, variables.faction_tn_09, variables.faction_focus_09, variables.faction_notes_09 ) }}
                            {{ _self.genFaction(variables.faction_name_10, variables.faction_power_10, variables.faction_tn_10, variables.faction_focus_10, variables.faction_notes_10 ) }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>