{% macro genFaction(id, name, power, tn, focus, notes) %}
<tr><th colspan=3 class="hdr c">Faction {{id}}</th></tr>
<tr><th class="hdr c">Name</th>
    <th class="hdr c">Power</th>
    <th class="hdr c">TN / Focus</th>
</tr>
<tr><td class="txt c"><input  value="{{ name }}"  class="form-control" id="faction_name_{{id}}" name="faction_name_{{id}}" placeholder="" type="text" /></td>
    <td class="txt c"><input  value="{{ power }}"  class="form-control"  id="faction_power_{{id}}" name="faction_power_{{id}}" placeholder="" type="number"   /></td>
    <td class="txt c"><input  value="{{ tn }}"  class="form-control"  id="faction_tn_{{id}}" name="faction_tn_{{id}}" placeholder="" type="number"   /> / <input  value="{{ focus }}"  class="form-control"  id="faction_focus_{{id}}" name="faction_focus_{{id}}" placeholder="" type="number"   /></td>
</tr>
<tr><th colspan=3 class="hdr c">Notes</th></tr>
<tr>
    <td colspan=3 class="txt c"><textarea class="form-control" id="faction_notes_{{id}}" name="faction_notes_{{id}}" rows="10" placeholder="">{{ notes }}</textarea></td></tr>{% endmacro genFaction %}
<div class="container-fluid conan-kingdom-sheet">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card my-2">
                <div class="card-header head-bar">Kingdom</div>
                <div class="card-body pd10 c">
                    <input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the kingdom" type="text" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card my-2">
                <div class="card-header head-bar">Ruler</div>
                <div class="card-body pd10 c">
                    <input value="{{ variables.ruler is defined ? variables.ruler }}" class="form-control" id="ruler" name="ruler" placeholder="name of the ruler" type="text" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card my-2">
                <div class="card-header head-bar">Legitimacy</div>
                <div class="card-body pd10 c">
                    <input value="{{ variables.legitimacy is defined ? variables.legitimacy }}" class="form-control" id="legitimacy" name="legitimacy" type="number" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card my-2 of">
                <div class="card-header head-bar">Factions</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" width="100%">
                            {{ _self.genFaction('01', variables.faction_name_01, variables.faction_power_01, variables.faction_tn_01, variables.faction_focus_01, variables.faction_notes_01 ) }}
                            {{ _self.genFaction('02', variables.faction_name_02, variables.faction_power_02, variables.faction_tn_02, variables.faction_focus_02, variables.faction_notes_02 ) }}
                            {{ _self.genFaction('03', variables.faction_name_03, variables.faction_power_03, variables.faction_tn_03, variables.faction_focus_03, variables.faction_notes_03 ) }}
                            {{ _self.genFaction('04', variables.faction_name_04, variables.faction_power_04, variables.faction_tn_04, variables.faction_focus_04, variables.faction_notes_04 ) }}
                            {{ _self.genFaction('05', variables.faction_name_05, variables.faction_power_05, variables.faction_tn_05, variables.faction_focus_05, variables.faction_notes_05 ) }}
                            {{ _self.genFaction('06', variables.faction_name_06, variables.faction_power_06, variables.faction_tn_06, variables.faction_focus_06, variables.faction_notes_06 ) }}
                            {{ _self.genFaction('07', variables.faction_name_07, variables.faction_power_07, variables.faction_tn_07, variables.faction_focus_07, variables.faction_notes_07 ) }}
                            {{ _self.genFaction('08', variables.faction_name_08, variables.faction_power_08, variables.faction_tn_08, variables.faction_focus_08, variables.faction_notes_08 ) }}
                            {{ _self.genFaction('09', variables.faction_name_09, variables.faction_power_09, variables.faction_tn_09, variables.faction_focus_09, variables.faction_notes_09 ) }}
                            {{ _self.genFaction('10', variables.faction_name_10, variables.faction_power_10, variables.faction_tn_10, variables.faction_focus_10, variables.faction_notes_10 ) }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>