{% set style = '' %}{% if variables.vintage|default > 0 %}{% set style='-vintage' %}{% endif %}
<div class='container-fluid dnd5e-2024{{style}}'>
    <div class='row'>
        <div class='col-12'>
            <div class='ilbl od ilbl-name'><label for='name'>Name</label></div><div class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' required='required' name='name' type='text' /></div>
            <div class='ilbl ev ilbl-level'><label for='level'>Level</label></div><div class='ivar ev ivar-level'>
                <select  class='form-control ivar ivar-level' id='level' name='level'>
                    <option value='Cantrip' {% if variables.level|default == 'Cantrib' %}selected='selected' {% endif %} > Cantrip </option>
                    <option value='1st' {% if variables.level|default == '1st' %}selected='selected' {% endif %} > 1st </option>
                    <option value='2nd' {% if variables.level|default == '2nd' %}selected='selected' {% endif %} > 2nd </option>
                    <option value='3rd' {% if variables.level|default == '3rd' %}selected='selected' {% endif %} > 3rd </option>
                    <option value='4th' {% if variables.level|default == '4th' %}selected='selected' {% endif %} > 4th </option>
                    <option value='5th' {% if variables.level|default == '5th' %}selected='selected' {% endif %} > 5th </option>
                    <option value='6th' {% if variables.level|default == '6th' %}selected='selected' {% endif %} > 6th </option>
                    <option value='7th' {% if variables.level|default == '7th' %}selected='selected' {% endif %} > 7th </option>
                    <option value='8th' {% if variables.level|default == '8th' %}selected='selected' {% endif %} > 8th </option>
                    <option value='9th' {% if variables.level|default == '9th' %}selected='selected' {% endif %} > 9th </option>
                </select>
            </div>
            <div class='ilbl od ilbl-casting-time'><label for='casting_time'>Casting Time</label></div><div class='ivar od ivar-casting-time'><input value='{{variables.casting_time|default}}' class='form-control ivar ivar-casting-time' id='casting_time' name='casting_time' type='text' /></div>
            <div class='ilbl ev ilbl-rangearea'><label for='rangearea'>Range/Area</label></div><div class='ivar ev ivar-rangearea'><input value='{{variables.rangearea|default}}' class='form-control ivar ivar-rangearea' id='rangearea' name='rangearea' type='text' /></div>
            <div class='ilbl od ilbl-components'><label for='components'>Components</label></div><div class='ivar od ivar-components'><input value='{{variables.components|default}}' class='form-control ivar ivar-components' id='components' name='components' type='text' /></div>
            <div class='ilbl ev ilbl-duration'><label for='duration'>Duration</label></div><div class='ivar ev ivar-duration'><input value='{{variables.duration|default}}' class='form-control ivar ivar-duration' id='duration' name='duration' type='text' /></div>
            <div class='ilbl od ilbl-school'><label for='school'>School</label></div><div class='ivar od ivar-school'>
                <select  class='form-control ivar ivar-school' id='school' name='school'>
                    <option value='abjuration' {% if variables.school|default == 'abjuration' %}selected='selected' {% endif %} > Abjuration </option>
                    <option value='alteration' {% if variables.school|default == 'alteration' %}selected='selected' {% endif %} > Alteration </option>
                    <option value='conjuration' {% if variables.school|default == 'conjuration' %}selected='selected' {% endif %} > Conjuration </option>
                    <option value='divination' {% if variables.school|default == 'divination' %}selected='selected' {% endif %} > Divination </option>
                    <option value='enchantment' {% if variables.school|default == 'enchantment' %}selected='selected' {% endif %} > Enchantment </option>
                    <option value='illusion' {% if variables.school|default == 'illusion' %}selected='selected' {% endif %} > Illusion </option>
                    <option value='invocation' {% if variables.school|default == 'invocation' %}selected='selected' {% endif %} > Invocation </option>
                    <option value='necromancy' {% if variables.school|default == 'necromancy' %}selected='selected' {% endif %} > Necromancy </option>
                    <option value='transmutation' {% if variables.school|default == 'transmutation' %}selected='selected' {% endif %} > Transmutation </option>
                    <option value='other' {% if variables.school|default == 'other' %}selected='selected' {% endif %} > Other </option>
                </select>
            </div>
            <div class='ilbl ev ilbl-attacksave'><label for='attacksave'>Attack/Save</label></div><div class='ivar ev ivar-attacksave'><input value='{{variables.attacksave|default}}' class='form-control ivar ivar-attacksave' id='attacksave' name='attacksave' type='text' /></div>
            <div class='ilbl od ilbl-damageeffect'><label for='damageeffect'>Damage/Effect</label></div><div class='ivar od ivar-damageeffect'><input value='{{variables.damageeffect|default}}' class='form-control ivar ivar-damageeffect' id='damageeffect' name='damageeffect' type='text' /></div>
            <div class='ilbl ev ilbl-description'><label for='description'>Description</label></div><div class='ivar ev ivar-description'><div class='iContent'><textarea class='form-control ivar ivar-description mention' id='description' name='description' rows='3'  >{{variables.description|default}}</textarea></div></div>
            <div class='ilbl od ilbl-higherlevel'><label for='higherlevel'>Cantrip Upgrade/Using a Higher-Level Spell Slot</label></div><div class='ivar od ivar-higherlevel'><div class='iContent'><textarea class='form-control ivar ivar-higherlevel mention' id='higherlevel' name='higherlevel' rows='3'  >{{variables.higherlevel|default}}</textarea></div></div>
            <div class='ilbl ev ilbl-available'><label for='available'>Available For</label></div><div class='ivar ev ivar-available'><input value='{{variables.available|default}}' class='form-control ivar ivar-available' id='available' name='available' placeholder='Bard, Druid, ...' type='text' /></div>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="imageid" class="control-label"><h4 class="header-title">Illustrating image (WA Image Gallery ID)</h4></label>
                <input value="{{ variables.imageid|default }}" class="form-control" id="imageid" name="imageid" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="source" class="control-label"><h4 class="header-title">Source</h4></label>
                <input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <input value='0' id='vintage' name='vintage' type='hidden' />
                <input value='1' class='c' {% if variables.vintage|default > 0 %} checked='checked'{% endif %} id='vintage' name='vintage' type='checkbox' /> <label for='vintage'>Vintage Style instead of Modern Style</label>
            </div>
        </div>
    </div>
</div>