{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
{% macro attrModifier(score) %}
    {% if score is defined %}
        {% set mod = (score - 10)//2 %}
        {% if mod >= 0 %}
            [roll:1d20+{{ mod }}|+{{ mod }}]
        {% else %}  
            [roll:1d20{{ mod }}|{{ mod }}]
        {% endif %}                 
     {% endif %}   
{% endmacro %}
{% macro skillTotal(skill_score, score) %}
    {% if score is defined %}
        {% if skill_score is defined and skill_score != 0 %}
            {% set skill_mod = ((score - 10)//2 ) + skill_score %}
        {% else %}
            {% set skill_mod = ((score - 10)//2 ) + 0 %}
        {% endif %}
        {% if skill_mod >= 0 %}
            [roll:1d20+{{ skill_mod }}|+{{ skill_mod }}]
        {% else %}  
            [roll:1d20{{ skill_mod }}|{{ skill_mod }}]
        {% endif %}
    {% endif %}
{% endmacro %}
{% import _self as macros %}

<div class="col-md-12">
    <div class="row">
        <h1>{{ variables.name }}</h1>
    </div>
    <div class="row">
        <div class="char-img"></div>
    </div>
    <div class="row part-title">
        <h2>Character Infos</h2>
    </div>
    <div class="row">
        <div class="col char-info-table">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 label">Character Name : </div>                    
                        <div class="col-md-8 value">{{ variables.name }}</div>                    
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 label">Race : </div>                    
                        <div class="col-md-8 value">{{ variables.race }}</div>  
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 label">Class : </div>                    
                        <div class="col-md-8 value">{{ variables.class }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 label">Level : </div>                    
                        <div class="col-md-8 value">{{ variables.level }}</div>                    
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 label">Experience : </div>                    
                        <div class="col-md-8 value">{{ variables.xp }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 label">Malus Exp : </div>                    
                        <div class="col-md-8 value">{{ variables.malus_xp }}</div>                    
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Gender : </div>                    
                        <div class="col-md-8 value">{{ variables.sex }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Age : </div>                    
                        <div class="col-md-8 value">{{ variables.age }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Height : </div>                    
                        <div class="col-md-8 value">{{ variables.height }}</div>                    
                    </div>                  
                </div> 
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Weight : </div>                    
                        <div class="col-md-8 value">{{ variables.weight }}</div>                    
                    </div>                  
                </div>
            </div>            
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Skin : </div>                    
                        <div class="col-md-8 value">{{ variables.color_skin }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Eyes : </div>                    
                        <div class="col-md-8 value">{{ variables.color_eyes }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Hair : </div>                    
                        <div class="col-md-8 value">{{ variables.color_hair }}</div>                    
                    </div>                  
                </div> 
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Hand : </div>                    
                        <div class="col-md-8 value">{{ variables.favored_hand }}</div>                    
                    </div>                  
                </div> 
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Origin : </div>                    
                        <div class="col-md-8 value">{{ variables.origin }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Alignment : </div>                    
                        <div class="col-md-8 value">{{ variables.alignment }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Faith : </div>                    
                        <div class="col-md-8 value">{{ variables.faith }}</div>                    
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Fav. Class : </div>                    
                        <div class="col-md-8 value">{{ variables.favored_class }}</div>                    
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 label">Background : </div>                    
                <div class="col-md-10 value">{{ variables.background }}</div>                    
            </div>                  
        </div>
    </div>
    <div class="row part-title">
        <h2>Character Attributs</h2>
    </div>
    <div class="row">
        <div class="col-md-4 char-attr-table">
            <div class="row">
                <div class="col-md-4 attr-label">Strength</div>
                <div class="col-md-4 attr-score">{{ variables.strength }}</div>
                <div class="col-md-4 attr-mod">{{ macros.attrModifier( variables.strength ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 attr-label">Dexterity</div>
                <div class="col-md-4 attr-score">{{ variables.dexterity }}</div>
                <div class="col-md-4 attr-mod">{{ macros.attrModifier( variables.dexterity ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 attr-label">Constitution</div>
                <div class="col-md-4 attr-score">{{ variables.constitution }}</div>
                <div class="col-md-4 attr-mod">{{ macros.attrModifier( variables.constitution ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 attr-label">Intelligence</div>
                <div class="col-md-4 attr-score">{{ variables.intelligence }}</div>
                <div class="col-md-4 attr-mod">{{ macros.attrModifier( variables.intelligence ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 attr-label">Wisdom</div>
                <div class="col-md-4 attr-score">{{ variables.wisdom }}</div>
                <div class="col-md-4 attr-mod">{{ macros.attrModifier( variables.wisdom ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 attr-label">Charisma</div>
                <div class="col-md-4 attr-score">{{ variables.charisma }}</div>
                <div class="col-md-4 attr-mod">{{ macros.attrModifier( variables.charisma ) }}</div>
            </div>
        </div>
        <div class="col-md-8 char-data-table">
            <div class="row">
                <div class="col sub-table-title">Movement Speed : </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 label">Walking : </div>
                        <div class="col-md-8 value">{{ variables.speed_walking }}</div>
                    </div>                  
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 label">Loaded : </div>
                        <div class="col-md-8 value">{{ variables.speed_loaded }}</div>
                    </div>                  
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 label">Running : </div>
                        <div class="col-md-8 value">{{ variables.speed_running }}</div>
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-4 label">Flying : </div>
                        <div class="col-md-8 value">{{ variables.speed_flying }}</div>
                    </div>                  
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-4 label">Flying Agility : </div>
                        <div class="col-md-8 value">{{ variables.agility_flying }}</div>
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-4 label">Travel : </div>
                        <div class="col-md-8 value">{{ variables.speed_travel }}</div>
                    </div>                  
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-4 label">Forced March : </div>
                        <div class="col-md-8 value">{{ variables.speed_forced_march }}</div>
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Armor Class : </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Total : </div>
                        <div class="col-md-8 value">{{ variables.ac_total }}</div>
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Flat-footed : </div>
                        <div class="col-md-8 value">{{ variables.ac_flat_footed }}</div>
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Contact : </div>
                        <div class="col-md-8 value">{{ variables.ac_contact }}</div>
                    </div>                  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 label">Arcane spell fail: </div>
                        <div class="col-md-8 value">{{ variables.ac_arcane_fail }}</div>
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Attack Bonus: </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 label">Base : </div>
                        <div class="col-md-8 value">{{ variables.attack_base_bonus }}</div>
                    </div>                  
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 label">CC : </div>
                        <div class="col-md-8 value">{{ variables.attack_base_cc }}</div>
                    </div>                  
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 label">Ranged : </div>
                        <div class="col-md-8 value">{{ variables.attack_base_ranged }}</div>
                    </div>                  
                </div>                  
            </div>
            <div class="row">
                <div class="col sub-table-title">Saving Throws: </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 label">Fortitude : </div>
                        <div class="col-md-8 value">{{ variables.save_fortitude }}</div>
                    </div>                  
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 label">Reflex : </div>
                        <div class="col-md-8 value">{{ variables.save_reflex }}</div>
                    </div>                  
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 label">Willpower : ></div>
                        <div class="col-md-8 value">{{ variables.save_willpower }}</div>
                    </div>                  
                </div>                  
            </div>
        </div>
    </div>
    <div class="row features-table">
        <h2>Character Skills :</h2>
    </div>
    <div class="row skill-table">
        <div class="col-md-4">
            <div class="row skill-table-header">
                <div class="col-md-4 label">Skill </div>
                <div class="col-md-4 value">Rank </div>
                <div class="col-md-4 total">Total </div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Appraise : </div>
                <div class="col-md-4 value">{{ variables.skill_appraise }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_appraise, variables.intelligence ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Balance : </div>
                <div class="col-md-4 value">{{ variables.skill_balance }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_balance, variables.dexterity ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Bluff : </div>
                <div class="col-md-4 value">{{ variables.skill_bluff }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_bluff, variables.charisma ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Climb : </div>
                <div class="col-md-4 value">{{ variables.skill_climb }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_climb, variables.strength ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Concentration : </div>
                <div class="col-md-4 value">{{ variables.skill_concentration }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_concentration, variables.constitution ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Decipher Script : </div>
                <div class="col-md-4 value">{{ variables.skill_decipher }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_decipher, variables.intelligence ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Diplomacy : </div>
                <div class="col-md-4 value">{{ variables.skill_diplomacy }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_diplomacy, variables.charisma ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Disable Device : </div>
                <div class="col-md-4 value">{{ variables.skill_disable_device }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_disable_device, variables.intelligence ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Disguise : </div>
                <div class="col-md-4 value">{{ variables.skill_disguise }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_disguise, variables.charisma ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Escape Artiste : </div>
                <div class="col-md-4 value">{{ variables.skill_escape_artiste }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_escape_artiste, variables.dexterity ) }}</div>
            </div> 
            <div class="row">
                <div class="col-md-4 label">Forgery : </div>
                <div class="col-md-4 value">{{ variables.skill_forgery }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_forgery, variables.intelligence ) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row skill-table-header">
                <div class="col-md-4 label">Skill </div>
                <div class="col-md-4 value">Rank</div>
                <div class="col-md-4 total">Total</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Gather Info : </div>
                <div class="col-md-4 value">{{ variables.skill_gather_info }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_gather_info, variables.charisma ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Handle Animal: </div>
                <div class="col-md-4 value">{{ variables.skill_handle_animal }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_handle_animal, variables.charisma ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Heal : </div>
                <div class="col-md-4 value">{{ variables.skill_heal }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_heal, variables.wisdom ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Hide : </div>
                <div class="col-md-4 value">{{ variables.skill_hide }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_hide, variables.dexterity ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Intimidate : </div>
                <div class="col-md-4 value">{{ variables.skill_intimidate }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_intimidate, variables.intelligence ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Jump : </div>
                <div class="col-md-4 value">{{ variables.skill_jump }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_jump, variables.strength ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Listen : </div>
                <div class="col-md-4 value">{{ variables.skill_listen }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_listen, variables.wisdom ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Move Silently : </div>
                <div class="col-md-4 value">{{ variables.skill_move_silently }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_move_silently, variables.dexterity ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Open Lock : </div>
                <div class="col-md-4 value">{{ variables.skill_open_lock }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_open_lock, variables.dexterity ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Profession : </div>
                <div class="col-md-4 value">{{ variables.skill_profession }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_profession, variables.wisdom ) }}</div>
            </div> 
            <div class="row">
                <div class="col-md-4 label">Ride : </div>
                <div class="col-md-4 value">{{ variables.skill_ride }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_ride, variables.dexterity ) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row skill-table-header">
                <div class="col-md-4 label">Skill </div>
                <div class="col-md-4 value">Rank</div>
                <div class="col-md-4 total">Total</div>
            </div>          
            <div class="row">
                <div class="col-md-4 label">Search: </div>
                <div class="col-md-4 value">{{ variables.skill_search }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_search, variables.intelligence ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Sens Motive : </div>
                <div class="col-md-4 value">{{ variables.skill_sens_motive }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_sens_motive, variables.wisdom ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Sleight of Hand : </div>
                <div class="col-md-4 value">{{ variables.skill_sleight_of_hand }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_sleight_of_hand, variables.dexterity ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Spellcraft : </div>
                <div class="col-md-4 value">{{ variables.skill_spellcraft }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_spellcraft, variables.intelligence ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Spot : </div>
                <div class="col-md-4 value">{{ variables.skill_spot }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_spot, variables.wisdom ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Survival : </div>
                <div class="col-md-4 value">{{ variables.skill_survival }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_survival, variables.wisdom ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Swim : </div>
                <div class="col-md-4 value">{{ variables.skill_swim }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_swim, variables.strength ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Tumble : </div>
                <div class="col-md-4 value">{{ variables.skill_tumble }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_tumble, variables.dexterity ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Use Magic Device : </div>
                <div class="col-md-4 value">{{ variables.skill_use_magic_device }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_use_magic_device, variables.charisma ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Use Rope : </div>
                <div class="col-md-4 value">{{ variables.skill_use_rope }}</div>
                <div class="col-md-4 total">{{ macros.skillTotal( variables.skill_use_rope, variables.dexterity ) }}</div>
            </div>
        </div>
    </div>
    <div class="row skill-sub-table">
        <div class="col-md-4">
            <div class="row sub-table-title">Craft : </div>
            <div class="row skill-subtable">{{ variables.skill_craft_tab|ParseTable|nl2br }}</div>
        </div>
        <div class="col-md-4">
            <div class="row sub-table-title">Knowledge : </div>
            <div class="row skill-subtable">{{ variables.skill_knowledge_tab|ParseTable|nl2br }}</div>
        </div>
        <div class="col-md-4">
            <div class="row sub-table-title">Perform : </div>
            <div class="row skill-subtable">{{ variables.skill_perform_tab|ParseTable|nl2br }}</div>
        </div>
    </div>
    <div class="row char-personnal">
        <h2>Character personnal Infos :</h2>
    </div>
    <div class="row">
        <div class="col sub-table-title">Equipement : </div>
    </div>
    <div class="row">
        <div class="skill-subtable">{{ variables.equipment|nl2br }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4 label">Copper Pieces : </div>                    
                <div class="col-md-6 value">{{ variables.cp }}</div>                    
            </div>                  
        </div>  
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4 label">Silver Pieces : </div>                    
                <div class="col-md-6 value">{{ variables.sp }}</div>                    
            </div>                  
        </div>  
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4 label">Gold Pieces : </div>                    
                <div class="col-md-6 value">{{ variables.gp }}</div>                    
            </div>                  
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4 label">Platinium Pieces : </div>                    
                <div class="col-md-6 value">{{ variables.pp }}</div>                    
            </div>                  
        </div>            
    </div>
    <div class="row">
        <div class="col sub-table-title">Proficiences and Languages : </div>
    </div>
    <div class="row">
        <div class="skill-subtable">{{ variables.proficiences|nl2br }}</div>
    </div>
    <div class="row">
        <div class="col sub-table-title">Features &amp; Traits : </div>
    </div>
    <div class="row">
        <div class="skill-subtable">{{ variables.features|nl2br }}</div>
    </div>
    <div class="char-spellbook">
        <h2>Character Spellbook :</h2>
        <div class="char-perso-table">
            <div class="row">
                <div class="col sub-table-title">Level 0 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_0|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Level 1 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_1|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Level 2 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_2|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Level 3 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_3|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Level 4 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_4|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Level 5 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_5|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Level 6 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_6|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Level 7 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_7|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Level 8 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_3|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Level 9 Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_3|nl2br }}</div>
            </div>
            <div class="row">
                <div class="col sub-table-title">Epic Levek Spells : </div>
            </div>
            <div class="row">
                <div class="skill-subtable">{{ variables.spellbook_epic|nl2br }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
