<div class="bar"></div>
<div class="inside-content">
	<div class="row">
		<div class="col-12 col-md-12">
			{% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
			<p class="statblock-source" title="Source">
				{% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
				{% if meta.block.isSRD %}SRD{% endif %}
			</p>
			{% endif %}
			<h1 class="valiant-sheet-header">
				{{ variables.name }}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-8">
			{% if variables.overview is defined and variables.overview != "" %}
			<div class="statblock-stat desc">{{ variables.overview}}</div>
			{% endif %}
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			{% if variables.image_id is defined and variables.image_id > 0 %}
			[img:{{ variables.image_id}}]
			{% endif %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-8">
			{% if variables.ability_score_increase is defined %}
			<div class="statblock-stat"><strong>ability score increase:</strong>
			<span>{{ variables.ability_score_increase}}</span></div>
			{% endif %}
			{% if variables.age is defined %}
			<div class="statblock-stat"><strong>age: </strong>
			<span>{{ variables.age}}</span></div>
			{% endif %}
			{% if variables.size is defined %}
			<div class="statblock-stat"><strong>Size: </strong>
			<span>{{ variables.size}}</span></div>
			{% endif %}
			{% if variables.speed is defined %}
			<div class="statblock-stat"><strong>speed: </strong>
			<span>{{ variables.speed}}</span></div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12">
			{% if variables.traits is defined and variables.traits != "" %}
			<hr>
			<div class="statblock-stat"><strong>traits:</strong><br>
			<span>{{ variables.traits}}</span></div>
			{% endif %}
			{% if variables.description is defined and variables.description != "" %}
			<hr>
			<div class="statblock-stat desc">{{ variables.description}}</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="bar"></div>