<div class="bar"></div>
<div class="inside-content">
    <div class="row">
        <div class="col-12">
			<div class="statblock-stat-form"><strong>Name</strong><br>
				<input value="{{ variables.name|default }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the lineage" type="text" />
			</div>
        </div>
		<hr>
        <div class="col-12">
			<div class="statblock-stat-form"><strong>overview</strong><br>
			<span><textarea class="form-control mention" id="overview" name="overview" rows="3" placeholder="Short description of the lineage">{{ variables.overview is defined ? variables.overview }}</textarea></span></div>
        </div>
		<hr>
        <div class="col-12 col-md-6">
			<div class="statblock-stat-form"><strong>age</strong><br>
			<span><input value="{{ variables.age is defined ? variables.age }}" class="form-control mention" id="age" name="age" type="text" /></span></div>
		</div>
        <div class="col-12 col-md-6">
			<div class="statblock-stat-form"><strong>Size</strong><br>
				<span>
					<select class="form-control" id="size" name="size">
					<option value="Tiny" {% if variables.size is defined and variables.size == "Tiny" %}selected="selected" {% endif %} >Tiny</option>
					<option value="Small" {% if variables.size is defined and variables.size == "Small" %}selected="selected" {% endif %} >Small</option>
					<option value="Medium" {% if variables.size is defined and variables.size == "Medium" %}selected="selected" {% endif %} >Medium</option>
					<option value="Large" {% if variables.size is defined and variables.size == "Large" %}selected="selected" {% endif %} >Large</option>
					<option value="Huge" {% if variables.size is defined and variables.size == "Huge" %}selected="selected" {% endif %} >Huge</option>
					<option value="Gargantuan" {% if variables.size is defined and variables.size == "Gargantuan" %}selected="selected" {% endif %} >Gargantuan</option>
					</select>
				</span>
			</div>
        </div>
		<hr>
        <div class="col-12">
			<div class="statblock-stat-form"><strong>speed</strong><br>
				<span><input value="{{ variables.speed is defined ? variables.speed }}" class="form-control" id="speed" name="speed" placeholder="eg 20ft" type="text" /></span>
			</div>
        </div>
		<hr>
        <div class="col-12">
			<div class="statblock-stat-form"><strong>description</strong><br>
				<span><textarea class="form-control mention" id="description" name="description" rows="3">{{ variables.description is defined ? variables.description }}</textarea></span></div>
        </div>
		<hr>
        <div class="col-12">
			<div class="statblock-stat-form"><strong>traits</strong><br>
				<span><textarea class="form-control mention" id="traits" name="traits" rows="3">{{ variables.traits is defined ? variables.traits }}</textarea></span>
			</div>
		</div>
        <div class="col-12">
			<div class="statblock-stat-form">
                <label for="image_gallery_id" class="control-label"><h4 class="header-title">Image Gallery ID</h4></label>
                <input value="{{ variables.image_gallery_id|default }}" class="form-control" id="image_gallery_id" name="image_gallery_id" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
		<hr>
		<div class="col-12">
			<div class="statblock-stat-form">
				<label for="source" class="control-label"><h4 class="header-title">source</h4></label>
				<input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
				<p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
			</div>
		</div>
	</div>
</div>
<div class="bar"></div>