{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genTrait(tr = '', type = '') %}{% set base = 'trait' %}{% set list = tr|split(',') %}
{% for tr in list %}{% if tr != '' and tr != "NONE" %}{% set pf = '' %}
    {% set tr = tr|trim|upper %}{% if type != '' %}{% set base = type %}{% endif %}
    {% if tr == 'COMMON' %}{% set pf = 'r_common' %}
    {% elseif tr == 'VARIES' %}{% set pf = 'r_common' %}
    {% elseif tr == 'UNCOMMON' %}{% set pf = 'r_uncommon' %}
    {% elseif tr == 'RARE' %}{% set pf = 'r_rare' %}
    {% elseif tr == 'UNIQUE' %}{% set pf = 'r_unique' %}{% endif %}
    <span class="trait {{base}} {{pf}}">{{tr}}</span>{% endif %}{% endfor %}{% endmacro genTrait %}
{# ---------------------------------------------- #}
{% macro addRolls(s = '') %}{% if s != '' and ('[roll:' not in s|lower) %}
{% set s = s|replace({
    " 1d4 " : " [roll:1d4] ",
    " 2d4 " : " [roll:2d4] ",
    " 3d4 " : " [roll:3d4] ",
    " 4d4 " : " [roll:4d4] ",
    " 1d6 " : " [roll:1d6] ",
    " 2d6 " : " [roll:2d6] ",
    " 3d6 " : " [roll:3d6] ",
    " 4d6 " : " [roll:4d6] ",
    " 5d6 " : " [roll:5d6] ",
    " 6d6 " : " [roll:6d6] ",
    " 7d6 " : " [roll:7d6] ",
    " 8d6 " : " [roll:8d6] ",
    " 1d6+1 " : " [roll:1d6+1] ",
    " 2d6+1 " : " [roll:2d6+1] ",
    " 3d6+1 " : " [roll:3d6+1] ",
    " 4d6+1 " : " [roll:4d6+1] ",
    " 5d6+1 " : " [roll:5d6+1] ",
    " 6d6+1 " : " [roll:6d6+1] ",
    " 7d6+1 " : " [roll:7d6+1] ",
    " 8d6+1 " : " [roll:8d6+1] ",
    " 1d8 " : " [roll:1d8] ",
    " 2d8 " : " [roll:2d8] ",
    " 3d8 " : " [roll:3d8] ",
    " 4d8 " : " [roll:4d8] ",
    " 1d8+1 " : " [roll:1d8+1] ",
    " 2d8+1 " : " [roll:2d8+1] ",
    " 3d8+1 " : " [roll:3d8+1] ",
    " 4d8+1 " : " [roll:4d8+1] ",
    " 1d10 " : " [roll:1d10] ",
    " 2d10 " : " [roll:2d10] ",
    " 3d10 " : " [roll:3d10] ",
    " 4d10 " : " [roll:4d10] ",
    " 1d10+1 " : " [roll:1d10+1] ",
    " 2d10+1 " : " [roll:2d10+1] ",
    " 3d10+1 " : " [roll:3d10+1] ",
    " 4d10+1 " : " [roll:4d10+1] ",
    " 1d12 " : " [roll:1d12] ",
    " 2d12 " : " [roll:2d12] ",
    " 3d12 " : " [roll:3d12] ",
    " 4d12 " : " [roll:4d12] ",
    " 1d20 " : " [roll:1d20] ",
    " 2d20 " : " [roll:2d20] ",
    " 3d20 " : " [roll:3d20] ",
    " 4d20 " : " [roll:4d20] ",
    "1d20-8" : "[roll:1d20-8|-8]",
    "1d20-7" : "[roll:1d20-7|-7]",
    "1d20-6" : "[roll:1d20-6|-6]",
    "1d20-5" : "[roll:1d20-5|-5]",
    "1d20-4" : "[roll:1d20-4|-4]",
    "1d20-3" : "[roll:1d20-3|-3]",
    "1d20-2" : "[roll:1d20-2|-2]",
    "1d20-1" : "[roll:1d20-1|-1]",
    "1d20+1" : "[roll:1d20+1|+1]",
    "1d20+2" : "[roll:1d20+2|+2]",
    "1d20+3" : "[roll:1d20+3|+3]",
    "1d20+4" : "[roll:1d20+4|+4]",
    "1d20+5" : "[roll:1d20+5|+5]",
    "1d20+6" : "[roll:1d20+6|+6]",
    "1d20+7" : "[roll:1d20+7|+7]",
    "1d20+8" : "[roll:1d20+8|+8]",
    "(1d4)" : "([roll:1d4])",
    "(2d4)" : "([roll:2d4])",
    "(3d4)" : "([roll:3d4])",
    "(4d4)" : "([roll:4d4])",
    "(1d6)" : "([roll:1d6])",
    "(2d6)" : "([roll:2d6])",
    "(3d6)" : "([roll:3d6])",
    "(4d6)" : "([roll:4d6])",
    "(5d6)" : "([roll:5d6])",
    "(6d6)" : "([roll:6d6])",
    "(7d6)" : "([roll:7d6])",
    "(8d6)" : "([roll:8d6])",
    "(1d8)" : "([roll:1d8])",
    "(2d8)" : "([roll:2d8])",
    "(3d8)" : "([roll:3d8])",
    "(4d8)" : "([roll:4d8])",
    "(1d10)" : "([roll:1d10])",
    "(2d10)" : "([roll:2d10])",
    "(3d10)" : "([roll:3d10])",
    "(4d10)" : "([roll:4d10])",
    "(1d12)" : "([roll:1d12])",
    "(2d12)" : "([roll:2d12])",
    "(3d12)" : "([roll:3d12])",
    "(4d12)" : "([roll:4d12])",
    "(1d20)" : "([roll:1d20])",
    "(2d20)" : "([roll:2d20])",
    "(3d20)" : "([roll:3d20])",
    "(4d20)" : "([roll:4d20])"
 }) %}{% endif %}{{s}}{% endmacro addRolls %}
{# ---------------------------------------------- #}
{% macro Mod( st = 0, xmod = 0, addpb = 0, pb = 0 ) %}
    {% set mod = (st|number_format - 10 + xmod|number_format) // 2 %}
    {% if addpb == 1 %}{% set mod = mod|number_format + pb|number_format %}{% endif %}
	{% if mod > -1 %}{% set mod = '+' ~ mod %}{% endif %}
    {% set st = st ~ " (" ~ mod ~ ")" %}
    [roll:1d20{{ mod }}|{{ mod }}]
{% endmacro Mod %}
{# ---------------------------------------------- #}
{% set style = '' %}{% if variables.vintage|default > 0 %}{% set style='-vintage' %}{% endif %}
<div class='container-fluid dnd5e-2024{{style}}'>
	<div class="row">
		<div class="col-12">
            {% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
            <p class="statblock-source" title="Source">
                {% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
                {% if meta.block.isSRD %}SRD{% endif %}
            </p>
            {% endif %}
            <div class='lbl title lbl-name'>{{variables.name|default}}</div>
        </div>
    </div>
    <div class='row'>
        {% set img = variables.imageid|default %}
        {% set wd = 12 %}{% if img > 0 %}{% set wd = 8 %}{% endif %}
        <div class='col-12 col-md-12 col-lg-{{wd}}'>
            {{ sheet.genTrait(variables.size|default ~ "," ~ variables.types|default) }}
            <br><br>
            {% if variables.description|default != "" %}
                <div class="statblock-stat desc">{{ sheet.addRolls(variables.description) }}</div><br>
            {% endif %}
            <div class='row'>
        		<div class="col-6 col-md-6">
                    <div class="statblock-stat"><strong>Armor Class:</strong> <span>{{variables.armor_class|default}}</span></div><br>
                    {% set dex = variables.dexterity|default + variables.dexterity_mod|default %}
                    {% set tmp = "(" ~ dex ~ ")" %}
                    <div class="statblock-stat"><strong>Initiative:</strong> <span>{{ sheet.Mod(variables.dexterity|default, variables.dexterity_mod|default) }}{{tmp}}</span></div><br>
                    <div class="statblock-stat"><strong>Hit Points:</strong> <span>{{  sheet.addRolls(variables.hit_points|default) }}</span></div><br>
                    <div class="statblock-stat"><strong>Speed:</strong> <span>{{variables.speed|default}}</span></div><br>
                    {% set tmp = "" %}{% if variables.xp|default != "" %}{% set tmp = "XP " ~ variables.xp|default %}{% endif %}
                    {% if variables.pb|default != "" %}{% if tmp != "" %}{% set tmp = tmp ~ "; PB " %}{% endif %}{% set tmp = tmp ~ variables.pb|default %}{% endif %}
                    {% if tmp != "" %}{% set tmp = variables.challenge_rating|default ~ " (" ~ tmp ~ ")" %}{% else %}{% set tmp = variables.challenge_rating|default %}{% endif %}
                    <div class="statblock-stat"><strong>Challenge:</strong> <span>{{tmp}}</span></div>
                </div>
        		<div class="col-12 col-md-6">
                    <div class="modifiers">
                        <div class="row">
                            <div class="col-12">
                                <table width='250px'>
                                    <tr>
                                        <th width='25%'>&nbsp;</th>
                                        <th width='25%'>&nbsp;</th>
                                        <th width='25%' class='lbl1'>MOD</th>
                                        <th width='25%' class='lbl1'>SAVE</th>
                                    </tr>
                                    <tr>
                                        <td class='att1'>STR</td>
                                        <td class='att2'>{{variables.strength|default + variables.strength_mod|default}}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.strength|default, variables.strength_mod|default) }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.strength|default, variables.strength_mod|default, variables.strength_p|default, variables.pb|default) }}</td></tr>
                                    <tr>
                                        <td class='att1'>DEX</td>
                                        <td class='att2'>{{variables.dexterity|default + variables.dexterity_mod|default}}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.dexterity|default, variables.dexterity_mod|default) }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.dexterity|default, variables.dexterity_mod|default, variables.dexterity_p|default, variables.pb|default) }}</td></tr>
                                    <tr>
                                        <td class='att1'>CON</td>
                                        <td class='att2'>{{variables.constitution|default + variables.constitution_mod|default }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.constitution|default, variables.constitution_mod|default) }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.constitution|default, variables.constitution_mod|default, variables.constitution_p|default, variables.pb|default) }}</td></tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th width='25%'>&nbsp;</th>
                                        <th width='25%' class='lbl1'>MOD</th>
                                        <th width='25%' class='lbl1'>SAVE</th>
                                    </tr>
                                    <tr>
                                        <td class='att1'>INT</td>
                                        <td class='att2'>{{variables.intelligence|default + variables.intelligence_mod|default }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.intelligence|default, variables.intelligence_mod|default) }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.intelligence|default, variables.intelligence_mod|default, variables.intelligence_p|default, variables.pb|default) }}</td></tr>
                                    <tr>
                                        <td class='att1'>WIS</td>
                                        <td class='att2'>{{variables.wisdom|default + variables.wisdom_mod|default }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.wisdom|default, variables.wisdom_mod|default) }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.wisdom|default, variables.wisdom_mod|default, variables.wisdom_p|default, variables.pb|default) }}</td></tr>
                                    <tr>
                                        <td class='att1'>CHA</td>
                                        <td class='att2'>{{variables.charisma|default + variables.charisma_mod|default }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.charisma|default, variables.charisma_mod|default) }}</td>
                                        <td class='mod'>{{ sheet.Mod(variables.charisma|default, variables.charisma_mod|default, variables.charisma_p|default, variables.pb|default) }}</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% if variables.skills|default != "" %}<div class="statblock-stat"><strong>Skills:</strong> <span>{{variables.skills|default}}</span></div><br>{% endif %}
            {% if variables.vulnerabilities|default != "" %}<div class="statblock-stat"><strong>Vulnerabilities:</strong> <span>{{variables.vulnerabilities|default}}</span></div><br>{% endif %}
            {% if variables.resistances|default != "" %}<div class="statblock-stat"><strong>Resistances:</strong> <span>{{variables.resistances|default}}</span></div><br>{% endif %}
            {% if variables.immunities|default != "" %}<div class="statblock-stat"><strong>Immunities:</strong> <span>{{variables.immunities|default}}</span></div><br>{% endif %}
            {% if variables.gear|default != "" %}<div class="statblock-stat"><strong>Gear:</strong> <span>{{variables.gear|default}}</span></div><br>{% endif %}
            {% if variables.senses|default != "" %}<div class="statblock-stat"><strong>Senses:</strong> <span>{{variables.senses|default}}</span></div><br>{% endif %}
            {% if variables.languages|default != "" %}<div class="statblock-stat"><strong>Languages:</strong> <span>{{variables.languages|default}}</span></div><br>{% endif %}
        </div>
        {% if img > 0 %}
        <div class='col-4 col-lg-4 d-none d-lg-block'>
            [img:{{img|default}}]
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12">
            {% if variables.traits|default != "" %}
                <hr>
                <h2>Traits</h2>
                <p>{{ sheet.addRolls(variables.traits) }}</p> 
            {% endif %}
            {% if variables.actions|default != "" %}
                <hr>
                <h2>Actions</h2>
                <p>{{ sheet.addRolls(variables.actions) }}</p> 
            {% endif %}
            {% if variables.bactions|default != "" %}
                	<hr>
                <h2>Bonus Actions</h2>
                <p>{{ sheet.addRolls(variables.bactions) }}</p> 
            {% endif %}
            {% if variables.reactions|default != "" %}
                <hr>
                <h2>Reactions</h2>
                <p>{{ sheet.addRolls(variables.reactions) }}</p> 
            {% endif %}
            {% if variables.legactions|default != "" %}
                <hr>
                <h2>Legendary Actions</h2>
                <p>{{ sheet.addRolls(variables.legactions) }}</p> 
            {% endif %}
        </div>
    </div>
</div>