{% set style = '' %}{% if variables.vintage|default > 0 %}{% set style='-vintage' %}{% endif %}
<div class='container-fluid dnd5e-2024{{style}}'>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="statblock-stat-form">
			    <label for="name" class="control-label"><h4 class="header-title">Name</h4></label>
                <input value="{{ variables.name|default('') }}" required="required" class="form-control" id="name" required='required' name="name" placeholder="The name of the monster" type="text" />
			</div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="challenge_rating" class="control-label"><h4 class="header-title">Challenge Rating (CR)</h4></label>
                <input value="{{ variables.challenge_rating|default('') }}" class="form-control mention" id="challenge_rating" name="challenge_rating" placeholder="1/2" type="text" />
            </div>
        </div>
        <div class="col-8">
            <div class="statblock-stat-form">
                <label for="types" class="control-label"><h4 class="header-title">Types / Traits</h4></label>
                <input value="{{ variables.types|default('') }}" class="form-control mention" id="types" name="types" placeholder="Celestial, Dragon" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="xp" class="control-label"><h4 class="header-title">Experience Points (XP)</h4></label>
                <input value="{{ variables.xp|default('') }}" class="form-control mention" id="xp" name="xp" placeholder="10" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="size" class="control-label"><h4 class="header-title">Size</h4></label>
                <select class="form-control" id="size" name="size">
                    <option value="Tiny" {% if variables.size|default == "Tiny" %}selected="selected" {% endif %} >Tiny</option>
                    <option value="Small" {% if variables.size|default == "Small" %}selected="selected" {% endif %} >Small</option>
                    <option value="Medium" {% if variables.size|default == "Medium" %}selected="selected" {% endif %} >Medium</option>
                    <option value="Large" {% if variables.size|default == "Large" %}selected="selected" {% endif %} >Large</option>
                    <option value="Huge" {% if variables.size|default == "Huge" %}selected="selected" {% endif %} >Huge</option>
                    <option value="Gargantuan" {% if variables.size|default == "Gargantuan" %}selected="selected" {% endif %} >Gargantuan</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="sizer" class="control-label"><h4 class="header-title">Size Upper Range</h4></label>
                <select class="form-control" id="sizer" name="sizer">
                    <option value="NONE" {% if variables.sizer|default == "NONE" %}selected="selected" {% endif %} >NONE</option>
                    <option value="Tiny" {% if variables.sizer|default == "Tiny" %}selected="selected" {% endif %} >Tiny</option>
                    <option value="Small" {% if variables.sizer|default == "Small" %}selected="selected" {% endif %} >Small</option>
                    <option value="Medium" {% if variables.sizer|default == "Medium" %}selected="selected" {% endif %} >Medium</option>
                    <option value="Large" {% if variables.sizer|default == "Large" %}selected="selected" {% endif %} >Large</option>
                    <option value="Huge" {% if variables.sizer|default == "Huge" %}selected="selected" {% endif %} >Huge</option>
                    <option value="Gargantuan" {% if variables.sizer|default == "Gargantuan" %}selected="selected" {% endif %} >Gargantuan</option>
                </select>
                <p class="description form-control-description">leave at NONE if there is only one size of this creature</p>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="statblock-stat-form">
                <label for="armor_class" class="control-label"><h4 class="header-title">Armor Class (AC)</h4></label>
                <input value="{{ variables.armor_class|default('') }}" class="form-control" id="armor_class" name="armor_class" placeholder="12" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="statblock-stat-form">
                <label for="hit_points" class="control-label"><h4 class="header-title">Hit Points (HP)</h4></label>
                <input value="{{ variables.hit_points|default('') }}" class="form-control" id="hit_points" name="hit_points" placeholder="Use [roll:2d8+4] to add the dice roller" type="text" />
                <p class="description form-control-description">14hp (2d8+4) [roll:2d8+4]</p>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="statblock-stat-form">
                <label for="speed" class="control-label"><h4 class="header-title">Speed</h4></label>
                <input value="{{ variables.speed|default('') }}" class="form-control" id="speed" name="speed" placeholder="30 ft, 60 ft (run)" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="statblock-stat-form">
                <label for="ini_mod" class="control-label"><h4 class="header-title">Initiative MOD</h4></label>
                <input value="{{ variables.ini_mod|default }}" class="form-control" id="ini_mod" name="ini_mod" placeholder="+1" type="number" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="strength" class="control-label"><h4 class="header-title">Strength</h4></label>
                <input value="{{ variables.strength|default }}" class="form-control" id="strength" name="strength" type="number" placeholder="10" />
                <input value="1" {% if variables.strength_p|default == 1 %} checked="checked"{% endif %} id="strength_p" name="strength_p" placeholder="1" type="checkbox" /> <label for="strength_p"> Add PB to STR save</label>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="dexterity" class="control-label"><h4 class="header-title">Dexterity</h4></label>
                <input value="{{ variables.dexterity|default }}" class="form-control" id="dexterity" name="dexterity" type="number" placeholder="10" />
                <input value="1" {% if variables.dexterity_p|default == 1 %} checked="checked"{% endif %} id="dexterity_p" name="dexterity_p" placeholder="1" type="checkbox" /> <label for="dexterity_p"> Add PB to DEX save</label>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="constitution" class="control-label"><h4 class="header-title">Constitution</h4></label>
                <input value="{{ variables.constitution|default }}" class="form-control" id="constitution" name="constitution" type="number" placeholder="10" />
                <input value="1" {% if variables.constitution_p|default == 1 %} checked="checked"{% endif %} id="constitution_p" name="constitution_p" placeholder="1" type="checkbox" /> <label for="constitution_p"> Add PB to CON save</label>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="intelligence" class="control-label"><h4 class="header-title">Intelligence</h4></label>
                <input value="{{ variables.intelligence|default }}" class="form-control" id="intelligence" name="intelligence" type="number" placeholder="10" />
                <input value="1" {% if variables.intelligence_p|default == 1 %} checked="checked"{% endif %} id="intelligence_p" name="intelligence_p" placeholder="1" type="checkbox" /> <label for="intelligence_p"> Add PB to INT save</label>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="wisdom" class="control-label"><h4 class="header-title">Wisdom</h4></label>
                <input value="{{ variables.wisdom|default }}" class="form-control" id="wisdom" name="wisdom" type="number" placeholder="10" />
                <input value="1" {% if variables.wisdom_p|default == 1 %} checked="checked"{% endif %} id="wisdom_p" name="wisdom_p" placeholder="1" type="checkbox" /> <label for="wisdom_p"> Add PB to WIS save</label>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="charisma" class="control-label"><h4 class="header-title">Charisma</h4></label>
                <input value="{{ variables.charisma|default }}" class="form-control" id="charisma" name="charisma" type="number" placeholder="10" />
                <input value="1" {% if variables.charisma_p|default == 1 %} checked="checked"{% endif %} id="charisma_p" name="charisma_p" placeholder="1" type="checkbox" /> <label for="charisma_p"> Add PB to CHA save</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 lbl1">
        Attribute Modifiers through feats etc.
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="strength_mod" class="control-label"><h4 class="header-title">STR MOD</h4></label>
                <input value="{{ variables.strength_mod|default }}" class="form-control" id="strength_mod" name="strength_mod" type="number" placeholder="+1" />
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="dexterity_mod" class="control-label"><h4 class="header-title">DEX MOD</h4></label>
                <input value="{{ variables.dexterity_mod|default }}" class="form-control" id="dexterity_mod" name="dexterity_mod" type="number" placeholder="+1" />
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="constitution_mod" class="control-label"><h4 class="header-title">CON MOD</h4></label>
                <input value="{{ variables.constitution_mod|default }}" class="form-control" id="constitution_mod" name="constitution_mod" type="number" placeholder="+1" />
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="intelligence_mod" class="control-label"><h4 class="header-title">INT MOD</h4></label>
                <input value="{{ variables.intelligence_mod|default }}" class="form-control" id="intelligence_mod" name="intelligence_mod" type="number" placeholder="+1" />
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="wisdom_mod" class="control-label"><h4 class="header-title">WIS MOD</h4></label>
                <input value="{{ variables.wisdom_mod|default }}" class="form-control" id="wisdom_mod" name="wisdom_mod" type="number" placeholder="+1" />
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="statblock-stat-form">
                <label for="charisma_mod" class="control-label"><h4 class="header-title">CHA MOD</h4></label>
                <input value="{{ variables.charisma_mod|default }}" class="form-control" id="charisma_mod" name="charisma_mod" type="number" placeholder="+1" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="statblock-stat-form">
                <label for="skills" class="control-label"><h4 class="header-title">Skills</h4></label>
                <input value="{{ variables.skills|default }}" class="form-control" id="skills" name="skills" placeholder="Perception +2" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="vulnerabilities" class="control-label"><h4 class="header-title">Vulnerabilities</h4></label>
                <input value="{{ variables.vulnerabilities|default }}" class="form-control" id="vulnerabilities" name="vulnerabilities" placeholder="" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="resistances" class="control-label"><h4 class="header-title">Resistances</h4></label>
                <input value="{{ variables.resistances|default }}" class="form-control" id="resistances" name="resistances" placeholder="" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="immunities" class="control-label"><h4 class="header-title">Immunities</h4></label>
                <input value="{{ variables.immunities|default }}" class="form-control" id="immunities" name="immunities" placeholder="" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="senses" class="control-label"><h4 class="header-title">Senses</h4></label>
                <input value="{{ variables.senses|default }}" class="form-control" id="senses" name="senses" placeholder="Darkvision, Truesight, Passive perception etc" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="statblock-stat-form">
                <label for="gear" class="control-label"><h4 class="header-title">Gear</h4></label>
                <input value="{{ variables.gear|default }}" class="form-control" id="gear" name="gear" placeholder="" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="statblock-stat-form">
                <label for="treasure" class="control-label"><h4 class="header-title">Treasure</h4></label>
                <input value="{{ variables.treasure|default }}" class="form-control" id="treasure" name="treasure" placeholder="" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="languages" class="control-label"><h4 class="header-title">Languages</h4></label>
                <input value="{{ variables.languages|default }}" class="form-control" id="languages" name="languages" placeholder="Common, Dwarvish, Draconic" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="pb" class="control-label"><h4 class="header-title" title="Proficiency Bonus">Proficiency Bonus (PB)</h4></label>
                <input value="{{ variables.pb|default }}" class="form-control" id="pb" name="pb" placeholder="+2" type="text" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="description" class="control-label"><h4 class="header-title">Description</h4></label>
                <textarea class="form-control mention" id="description" name="description" rows="3" placeholder="">{{ variables.description|default }}</textarea>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="traits" class="control-label"><h4 class="header-title">Traits</h4></label>
                <textarea class="form-control mention" id="traits" name="traits" rows="10" placeholder="">{{ variables.traits|default }}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="actions" class="control-label"><h4 class="header-title">Actions</h4></label>
                <textarea class="form-control mention" id="actions" name="actions" rows="10" placeholder="">{{ variables.actions|default }}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="bactions" class="control-label"><h4 class="header-title">Bonus Actions</h4></label>
                <textarea class="form-control mention" id="bactions" name="bactions" rows="10" placeholder="">{{ variables.bactions|default }}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="reactions" class="control-label"><h4 class="header-title">Reactions</h4></label>
                <textarea class="form-control mention" id="reactions" name="reactions" rows="10" placeholder="">{{ variables.reactions|default }}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="legactions" class="control-label"><h4 class="header-title">Legendary Actions</h4></label>
                <textarea class="form-control mention" id="legactions" name="legactions" rows="10" placeholder="">{{ variables.legactions|default }}</textarea>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="imageid" class="control-label"><h4 class="header-title">Illustrating image (WA Image Gallery ID)</h4></label>
                <input value="{{ variables.imageid|default }}" class="form-control" id="imageid" name="imageid" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="source" class="control-label"><h4 class="header-title">Source</h4></label>
                <input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <input value='0' id='vintage' name='vintage' type='hidden' />
                <input value='1' class='c' {% if variables.vintage|default > 0 %} checked='checked'{% endif %} id='vintage' name='vintage' type='checkbox' /> <label for='vintage'>Vintage Style instead of Modern Style</label>
            </div>
        </div>
    </div>
</div>