<div class="container-fluid sheet-call-of-cthulhu-monster">
    <div class="row">
        {% set cols = "col-md-12" %}{% if variables.imageid|default > 0 %}{% set cols = "col-md-8" %}{% endif %}
        <div class="{{cols}}">
            <div class="title">{{variables.name|default}}{% if variables.additional|default != "" %}, <i>{{variables.additional|default}}</i> {% endif %} </div>
            {% if variables.shortdesc|default != "" %}
            <div class='cContainer'><span class='var var-shortdesc'> {{variables.shortdesc|default|nl2br}} </span><br><br></div>
            {% endif %}
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-str'> Str </span><span class='var att var-str'> {{variables.str|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-con'> Con </span><span class='var att var-con'> {{variables.con|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-siz'> Siz </span><span class='var att var-siz'> {{variables.siz|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-dex'> Dex </span><span class='var att var-dex'> {{variables.dex|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-int'> Int </span><span class='var att var-int'> {{variables.int|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-app'> App </span><span class='var att var-app'> {{variables.app|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-pow'> Pow </span><span class='var att var-pow'> {{variables.pow|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-edu'> Edu </span><span class='var att var-edu'> {{variables.edu|default}} </span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-san'> San </span><span class='var att var-san'> {{variables.san|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-hp'> Hp </span><span class='var att var-hp'> {{variables.hp|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-db'> Db </span><span class='var att var-db'> {{variables.db|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att2 lbl-build'> Build </span><span class='var att var-build'> {{variables.build|default}} </span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att2 lbl-move'> Move </span><span class='var att var-move'> {{variables.move|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att lbl-mp'> Mp </span><span class='var att var-mp'> {{variables.mp|default}} </span></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><span class='lbl att2 lbl-luck'> Luck </span><span class='var att var-luck'> {{variables.luck|default}} </span></div>
                </div>
            </div>
            <div class="header">Combat</div>
            <div class='cContainer'><span class='var var-attacks'> {{variables.attacks|default|nl2br}} </span></div>
        </div>
        {% if variables.imageid|default > 0 %}
        <div class="col-12 col-md-4">
            [img:{{variables.imageid|default}}]
        </div>
        {% endif %}
        <div class="col-12">
            {% if variables.skills|default != "" %}
            <div class="header">Skills</div>
            <div class='cContainer'><span class='var var-skills'> {{variables.skills|default|nl2br}} </span><br><br></div>
            {% endif %}
            {% if variables.armor|default != "" %}
            <div class='cContainer'><span class='lbl lbl-armor'> Armor: </span><span class='var var-armor'> {{variables.armor|default|nl2br}} </span></div>
            {% endif %}
            {% if variables.spells|default != "" %}
            <div class='cContainer'><span class='lbl lbl-spells'> Spells: </span><span class='var var-spells'> {{variables.spells|default|nl2br}} </span></div>
            {% endif %}
            {% if variables.sanity_loss|default != "" %}
            <div class='cContainer'><span class='lbl lbl-sanity-loss'> Sanity Loss: </span><span class='var var-sanity-loss'> {{variables.sanity_loss|default}} </span></div>
            {% endif %}
            {% if variables.longdesc|default != "" %}
            <div class='cContainer'><span class='var var-longdesc'> {{variables.longdesc|default|nl2br}} </span></div>
            {% endif %}
        </div>
    </div>
</div>