<div class="container-fluid sheet-call-of-cthulhu-monster">
    <div class="row">
        {% set cols = "col-md-12" %}
        <div class="{{cols}}">
            <div class="title"><div class='ilbl ilbl-name'> Name </div><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' required=required placeholder='eg Animated Mummy'/> </div>
            <div class='cContainer'><div class='ilbl ilbl-additional'> Description </div><div class='ivar ivar-additional'><input value='{{variables.additional|default}}' class='form-control ivar ivar-additional' id='additional' name='additional' type='text' placeholder='eg seeming bundle of rags'/></div></div>
            <div class='cContainer'><div class='ilbl ilbl-imageid'> WA Image ID </div><div class='ivar ivar-imageid'><div class='iContent'><input value='{{variables.imageid|default}}' class='form-control ivar ivar-imageid' id='imageid' name='imageid' type='number' /></div></div></div>
            <div class='cContainer'><div class='ilbl ilbl-shortdesc'> Intro </div><div class='ivar ivar-shortdesc'><div class='iContent'><textarea class='form-control ivar ivar-shortdesc mention' id='shortdesc' name='shortdesc' rows='3'  >{{variables.shortdesc|default}}</textarea></div></div></div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-str'> Str </div><div class='ivar att ivar-str'><input value='{{variables.str|default}}' class='form-control ivar ivar-str' id='str' name='str' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-con'> Con </div><div class='ivar att ivar-con'><input value='{{variables.con|default}}' class='form-control ivar ivar-con' id='con' name='con' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-siz'> Siz </div><div class='ivar att ivar-siz'><input value='{{variables.siz|default}}' class='form-control ivar ivar-siz' id='siz' name='siz' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-dex'> Dex </div><div class='ivar att ivar-dex'><input value='{{variables.dex|default}}' class='form-control ivar ivar-dex' id='dex' name='dex' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-int'> Int </div><div class='ivar att ivar-int'><input value='{{variables.int|default}}' class='form-control ivar ivar-int' id='int' name='int' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-app'> App </div><div class='ivar att ivar-app'><input value='{{variables.app|default}}' class='form-control ivar ivar-app' id='app' name='app' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-pow'> Pow </div><div class='ivar att ivar-pow'><input value='{{variables.pow|default}}' class='form-control ivar ivar-pow' id='pow' name='pow' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-edu'> Edu </div><div class='ivar att ivar-edu'><input value='{{variables.edu|default}}' class='form-control ivar ivar-edu' id='edu' name='edu' type='text'  /></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-san'> San </div><div class='ivar att ivar-san'><input value='{{variables.san|default}}' class='form-control ivar ivar-san' id='san' name='san' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-hp'> Hp </div><div class='ivar att ivar-hp'><input value='{{variables.hp|default}}' class='form-control ivar ivar-hp' id='hp' name='hp' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-db'> Db </div><div class='ivar att ivar-db'><input value='{{variables.db|default}}' class='form-control ivar ivar-db' id='db' name='db' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att2 ilbl-build'> Build </div><div class='ivar att ivar-build'><input value='{{variables.build|default}}' class='form-control ivar ivar-build' id='build' name='build' type='text'  /></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att2 ilbl-move'> Move </div><div class='ivar att ivar-move'><input value='{{variables.move|default}}' class='form-control ivar ivar-move' id='move' name='move' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att ilbl-mp'> Mp </div><div class='ivar att ivar-mp'><input value='{{variables.mp|default}}' class='form-control ivar ivar-mp' id='mp' name='mp' type='text'  /></div></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class='cContainer'><div class='ilbl att2 ilbl-luck'> Luck </div><div class='ivar att ivar-luck'><input value='{{variables.luck|default}}' class='form-control ivar ivar-luck' id='luck' name='luck' type='text'  /></div></div>
                </div>
            </div>
            <div class="header combat">Combat</div>
            <div class='cContainer'><div class='ilbl ilbl-attacks'> Attacks </div><div class='ivar ivar-attacks'><div class='iContent'><textarea class='form-control ivar ivar-attacks mention' id='attacks' name='attacks' rows='3'  >{{variables.attacks|default}}</textarea></div></div></div>
        </div>
        <div class="col-12">
            <div class="header skills">Skills</div>
            <div class='cContainer'><div class='ivar ivar-skills'><div class='iContent'><textarea class='form-control ivar ivar-skills mention' id='skills' name='skills' rows='3'  >{{variables.skills|default}}</textarea></div></div></div>
            <div class='cContainer'><div class='ilbl ilbl-armor'> Armor </div><div class='ivar ivar-armor'><div class='iContent'><textarea class='form-control ivar ivar-armor mention' id='armor' name='armor' rows='3'  >{{variables.armor|default}}</textarea></div></div></div>
            <div class='cContainer'><div class='ilbl ilbl-spells'> Spells </div><div class='ivar ivar-spells'><div class='iContent'><textarea class='form-control ivar ivar-spells mention' id='spells' name='spells' rows='3'  >{{variables.spells|default}}</textarea></div></div></div>
            <div class='cContainer'><div class='ilbl ilbl-sanity-loss'> Sanity Loss </div><div class='ivar ivar-sanity-loss'><input value='{{variables.sanity_loss|default}}' class='form-control ivar ivar-sanity-loss' id='sanity_loss' name='sanity_loss' type='text'  /></div></div>
            <div class='cContainer'><div class='ilbl ilbl-longdesc'> Long Description </div><div class='ivar ivar-longdesc'><div class='iContent'><textarea class='form-control ivar ivar-longdesc mention' id='longdesc' name='longdesc' rows='3'  >{{variables.longdesc|default}}</textarea></div></div></div>
        </div>
    </div>
</div>