{% import _self as sheet %}
{% set woundlevel = [ "LIGHT", "SERIOUS", "CRITICAL", "MORTAL", "MORTAL1", "MORTAL2", "MORTAL3", "MORTAL4", "MORTAL5", "MORTAL6" ] %}
{% set totalhl = 0 %}
{% for i in 1..21 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
    {% set name = attribute(variables, 'cyberName' ~ id)|default %}{% if name != "" %}{% set hl = attribute(variables, 'cyberHL' ~ id)|default %}{% set totalhl = totalhl + hl %}{% endif %}
{% endfor %}
{% set bt = variables.bodyCurr|default(variables.bodyCurrBase|default) %}
{% if bt < 3 %}{% set btm = -0 %}{% endif %}
{% if bt >= 3 and bt <= 4 %}{% set btm = -1 %}{% endif %}
{% if bt >= 5 and bt <= 7 %}{% set btm = -2 %}{% endif %}
{% if bt >= 8 and bt <= 9 %}{% set btm = -3 %}{% endif %}
{% if bt == 10 %}{% set btm = -4 %}{% endif %}
{% if bt > 10 %}{% set btm = -5 %}{% endif %}
{% set ini = variables.refCurr|default + variables.inib|default %}
{# ******************************************************************************************************************************** #}
{% macro genLifeEventsSection(variables) %}<div class="row border border-dark mt-1">
        <div class="col-12 font-weight-bold bg-black">LIFE EVENTS <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEvents" aria-expanded="true" aria-controls="collapseEvents"><em class="fas fa-angle-down"></em></button></div>
    </div>
    <div class="row collapse show" id="collapseEvents">
        <div class="col-2 col-md-1 bg-grey border border-dark">Year</div>
        <div class="col-10 col-md-11 bg-grey border border-dark">Event</div>
    </div>
    <div class="row border border-dark collapse show" id="collapseEvents">
        {% for i in 1..99 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
            {% set year = attribute(variables, 'lifeEventYear' ~ id)|default %}
            {% set detail = attribute(variables, 'lifeEventDetail' ~ id)|default|trim %}
            {% if detail != "" %}{{ sheet.genLifeEvent(id, year, detail ) }}{% endif %}
        {% endfor %}
    </div>{% endmacro genLifeEventsSection %}
{# ******************************************************************************************************************************** #}
{% macro genLifeEvent(id, year, event) %}{% if event != "" %}
    <div class="col-2 col-md-1 border border-dark">{{ year }}</div>
    <div class="col-10 col-md-11 border border-dark">{{ event }}</div>
{% endif %}{% endmacro genLifeEvent %}
{# ******************************************************************************************************************************** #}
{% macro genSkillSection(variables, statName, statSkillNames, length, statValue) %}{% for skillName in statSkillNames %}{% set id = loop.index %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% set valVariable = statName ~ '_SkillValue_' ~ id %}{{ sheet.genSkill(id, statName, skillName, attribute(variables, statName ~ '_SkillValue_' ~ id), attribute(variables, statName ~ '_SkillIP_' ~ id), attribute(variables, statName ~ '_SkillChipped_' ~ id), statValue) }}{% endfor %}{% endmacro genSkillSection %}
{# ******************************************************************************************************************************** #}
{% macro genSkill(id, title, skillName, skillValue, ip, isChipped = 0, statValue = 0) %}<div class="col-12 col-md-6 col-lg-4 align-middle">
    <div class="row">
        <div class="col-8 px-1 py-0 of">
            {% if isChipped > 0 %}{% set statValue = 0 %}
                <i class="fa-sharp fa-solid fa-square" title="is chipped"></i>
            {% else %}
                <i class="fa-sharp fa-light fa-square"></i>
            {% endif %}
            {{ skillName }}
            <span class="float-right font-weight-bold">
                {{ ' [' ~ (statValue + skillValue) ~ ']' }}
            </span>
        </div>
        <div class="col-2 bg-grey border border-dark px-1 py-0 c" title="current rank">{{ skillValue }}</div>
        <div class="col-2 col-md-1 border border-dark px-1 py-0 c" title="current ip">{{ ip }}</div>
    </div>
</div>{% endmacro genSkill %}
{# ******************************************************************************************************************************** #}
{% macro genSkillName(id, title, skillName, skillValue, ip, isChipped = 0, statValue = 0) %}<div class="col-12 col-md-6 col-lg-4 align-middle">{% if skillName != "other" or skillValue !="" %}
    <div class="row">
        <div class="col-8 px-1 py-0 of">
            {% if isChipped > 0 %}{% set statValue = 0 %}
                <i class="fa-sharp fa-solid fa-square" title="is chipped"></i>
            {% else %}
                <i class="fa-sharp fa-light fa-square"></i>
            {% endif %}
            {{ title|capitalize }}:
            {{ skillName }}
            <span class="float-right font-weight-bold">
                {{ ' [' ~ (statValue + skillValue) ~ ']' }}
            </span>
        </div>
        <div class="col-2 bg-grey border border-dark px-1 py-0 c" title="current rank">{{ skillValue }}</div>
        <div class="col-2 col-md-1 border border-dark px-1 py-0 c" title="current ip" >{{ ip }}</div>
    </div>
</div>{% endif %}{% endmacro genSkillName %}
{# ******************************************************************************************************************************** #}
{% macro genSpecialAbility(id, skillName, skillValue, ip, isChipped = 0, statValue = 0) %}<div class="col-12 col-md-6 col-lg-4 align-middle">
    <div class="row">
        <div class="col-8 px-1 py-0 of">
            {% if isChipped > 0 %}{% set statValue = 0 %}
                <!-- <i class="fa-sharp fa-solid fa-square" title="is chipped"></i> -->
            {% else %}
                <!-- <i class="fa-sharp fa-light fa-square"></i> -->
            {% endif %}
            {{ skillName }}
            <span class="float-right font-weight-bold">
                {{ ' [' ~ (statValue + skillValue) ~ ']' }}
            </span>
        </div>
        <div class="col-2 bg-grey border border-dark px-1 py-0 c" title="current rank">{{ skillValue }}</div>
        <div class="col-2 col-md-1 border border-dark px-1 py-0 c" title="current ip">{{ ip }}</div>
    </div>
</div>{% endmacro genSpecialAbility %}
{# ******************************************************************************************************************************** #}
{% macro genStat(name, stat, desc, baseValue = 0, currValue = 0) %}{% set bv = 0 %}{% if baseValue is defined and baseValue >= 0 %}{% set bv = baseValue %}{% endif %}{% set cv = 0 %}{% if currValue is defined and currValue >= 0 %}{% set cv = currValue %}{% endif %}
    <div class="col-6 col-md-2 bg-black border border-dark c" title="{{desc}}">{{ name }}</div>
    <div class="col-6 col-md-2 pl-0 pr-0 border border-dark c">[
        {% if bv != cv %} {{bv}}/{% endif %}{{ cv }}
        ]</div>{% endmacro genStat %}
{# ******************************************************************************************************************************** #}
{% macro genGear(id, name) %}{% if name != "" %}
    <div class="col-6 col-md-4 col-xl-3 border border-dark pl-1 pr-0 ">{{ name }}</div>
{% endif %}{% endmacro genGear %}
{# ******************************************************************************************************************************** #}
{% macro genWeapon(id, name, type, acc, conc, dmg, shots, rof, rel, rng, mag, note ) %}{% if name != "" %}
<div class="row small">
    <div class="col-2 bg-grey border border-dark py-0 px-1">{{ name }}</div>
    <div class="col-1 border border-dark p-0 c" title="Type">{{ type }}</div>
    <div class="col-1 border border-dark p-0 c" title="Accuracy">{{ acc }}</div>
    <div class="col-1 border border-dark p-0 c" title="Concealment">{{ conc }}</div>
    <div class="col-2 border border-dark p-0 c" title="Damage">{{ dmg }}</div>
    <div class="col-1 border border-dark p-0 c" title="Shots">{{ shots }}</div>
    <div class="col-1 border border-dark p-0 c" title="Rate of Fire">{{ rof }}</div>
    <div class="col-1 border border-dark p-0 c" title="Reliability">{{ rel }}</div>
    <div class="col-1 border border-dark p-0 c" title="Range">{{ rng }}</div>
    <div class="col-1 border border-dark p-0 c" title="Available Magazines">{{ mag }}</div>
</div>
<div class="row small border border-dark ">
    <div class="col-1">Notes:</div>
    <div class="col-11">{{ note }}</div>
</div>{% endif %}{% endmacro genWeapon %}
{# ******************************************************************************************************************************** #}
{% macro genCyber(id = 0, value = "", cost = 0, hl = 0) %}{% if value != "" %}
<div class="col-9 col-md-4 col-lg-4 border border-dark">{{ value }}</div>
<div class="col-2 col-md-1 col-lg-1 border border-dark r">{{ cost }}</div>
<div class="col-1 col-md-1 col-lg-1 border border-dark c">{{ hl }}</div>{% endif %}{% endmacro genCyber %}
{# ******************************************************************************************************************************** #}
{% macro genWoundSection(name, stunMod) %}{% if name != "" %}
    <div class="row">
        <div class="col-12 c">{{ name }}</div>
    </div>
    <div class="row">
        <div class="col-12 form-check-inline c mr-0 ml-0 pl-0">
            <input type="checkbox" class="d-inline-block mr-0 ml-0 c">
            <input type="checkbox" class="d-inline-block mr-0 ml-0 c">
            <input type="checkbox" class="d-inline-block mr-0 ml-0 c">
            <input type="checkbox" class="d-inline-block mr-0 ml-0 c">
        </div>
    </div>
    <div class="row bg-black">
        <div class="col-12 c">Stun={{ stunMod }}</div>
    </div>
{% endif %}{% endmacro genWoundSection %}
{# ******************************************************************************************************************************** #}
{% macro genArmorLayer(id, name, head, torso, rarm, larm, rleg, lleg, ev, type) %}{% if name != "" %}<div class="col-12">
        <div class="row small">
            <div class="col-4 border border-dark px-1 py-0">{{ name }}</div>
            <div class="col-1 border border-dark p-0 c">{{ head }}</div>
            <div class="col-1 border border-dark p-0 c">{{ torso }}</div>
            <div class="col-1 border border-dark p-0 c">{{ rarm }}</div>
            <div class="col-1 border border-dark p-0 c">{{ larm }}</div>
            <div class="col-1 border border-dark p-0 c">{{ rleg }}</div>
            <div class="col-1 border border-dark p-0 c">{{ lleg }}</div>
            <div class="col-1 border border-dark p-0 c">{{ ev }}</div>
            <div class="col-1 border border-dark p-0 c">{{ type }}</div>
        </div>
    </div>{% endif %}{% endmacro genArmorLayer %}
{# ******************************************************************************************************************************** #}
{% macro genSibling(id, name, gender, feeling, age) %}{% if name != "" %}
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-5 border border-dark px-1">{{ name }}</div>
            <div class="col-6 col-md-2 border border-dark px-1">{{ gender }}</div>
            <div class="col-6 col-md-2 border border-dark px-1">{{ age }}</div>
            <div class="col-6 col-md-3 border border-dark px-1">{{ feeling }}</div>
        </div>
    </div>
{% endif %}{% endmacro genSibling %}
{# ******************************************************************************************************************************** #}
<div class="container-fluid black">
    <div class="row">
        <div class="col-12"><button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePersonal" aria-expanded="true" aria-controls="collapsePersonal"><em class="fas fa-angle-down"></em></button>
            <div class="row collapse show" id="collapsePersonal">{% set w = 12 %}{% if variables.imageid|default > 0 %}{% set w = 8 %}{% endif %}
                <div class="col-12 col-lg-{{ w }}">
                    <div class="row">
                        <div class="col-12 hidden-xs hidden-sm hidden-md d-none d-lg-block">
                            <div class="logo"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 bg-black border border-dark">NAME</div>
                        <div class="col-10 border border-dark">{{ variables.name|default }}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-4 bg-black border border-dark">HANDLE</div>
                        <div class="col-8 border border-dark">{{ variables.handle|default }}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-2 bg-black border border-dark">ROLE</div>
                        <div class="col-5 border border-dark">{{ variables.primaryRole|default }}</div>
                        <div class="col-2"></div>
                        <div class="col-2 bg-black" title="Reputation">REP</div>
                        <div class="col-1 border border-dark c">{{ variables.rep|default }}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 bg-black border border-dark">SECONDARY ROLES</div>
                    </div>
                    <div class="row mt-1">
                        {% if variables.secondaryRole01|default != "" %}
                        <div class="col-12 col-md-3 border border-dark">{{ variables.secondaryRole01|default }}</div><div class="col-1"></div>
                        {% endif %}
                        {% if variables.secondaryRole02|default != "" %}
                            <div class="col-12 col-md-3 border border-dark">{{ variables.secondaryRole02|default }}</div><div class="col-1"></div>
                        {% endif %}
                        {% if variables.secondaryRole03|default != "" %}
                            <div class="col-12 col-md-3 border border-dark">{{ variables.secondaryRole03|default }}</div>
                        {% endif %}
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-5 bg-black">STATS <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseStats" aria-expanded="true" aria-controls="collapseStats"><em class="fas fa-angle-down"></em></button></div>
                        <div class="col-3 col-md-2 bg-black r">CH. POINTS</div>
                        <div class="col-3 col-md-1 border border-dark c">{{ variables.stat_pts|default }}</div>
                        <div class="col-12 col-md-1 hidden-xs d-none d-md-block"></div>
                        <div class="col-6 col-md-2 bg-black border border-dark">HUMANITY</div>
                        <div class="col-6 col-md-1 border border-dark c">
                            {{ (variables.empBase|default * 10) - totalhl }}/{{ variables.empBase|default * 10 }}
                        </div>
                    </div>
                    <div class="row black font-weight-bold mt-1 collapse show" id="collapseStats">
                        <div class="col-12 col-md-8">
                            <div class="row">
                                {{ sheet.genStat('INT', 'int', 'Intelligence', variables.intBase|default, variables.intCurr|default) }}
                                {{ sheet.genStat('REF', 'ref', 'Reflexes', variables.refBase|default, variables.refCurr|default) }}
                                {{ sheet.genStat('TECH', 'tech', 'Technical Ability', variables.techBase|default, variables.techCurr|default) }}
                                {{ sheet.genStat('COOL', 'cool', 'Cool', variables.coolBase|default, variables.coolCurr|default) }}
                                {{ sheet.genStat('ATTR', 'attr', 'Attractiveness', variables.attrBase|default, variables.attrCurr|default) }}
                                {{ sheet.genStat('LUCK', 'luck', 'Luck', variables.luckBase|default, variables.luckCurr|default) }}
                                {{ sheet.genStat('MA', 'ma', 'Movement Allowance', variables.maBase|default, variables.maCurr|default) }}
                                {{ sheet.genStat('BODY', 'body', 'Body Type', variables.bodyBase|default, variables.bodyCurr|default) }}
                                {{ sheet.genStat('EMP', 'emp', 'Empathy', variables.empBase|default, variables.empCurr|default) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="row">
                                <div class="col-12 col-md-1 hidden-xs d-none d-md-block"></div>
                                <div class="col-4 bg-black border border-dark c">Run</div>
                                <div class="col-4 border border-dark c">{{ variables.run|default }}</div>
                                <div class="col-4 col-md-3 bg-black border border-dark px-1 l">m</div>
                                <div class="col-12 col-md-1 hidden-xs d-none d-md-block"></div>
                                <div class="col-4 bg-black border border-dark c">Leap</div>
                                <div class="col-4 border border-dark c">{{ variables.leap|default }}</div>
                                <div class="col-4 col-md-3 bg-black border border-dark px-1 l">ft</div>
                                <div class="col-12 col-md-1 hidden-xs d-none d-md-block"></div>
                                <div class="col-4 bg-black border border-dark c">Lift</div>
                                <div class="col-4 border border-dark c">{{ variables.lift|default }}</div>
                                <div class="col-4 col-md-3 bg-black border border-dark px-1 l">lbs</div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                {% if variables.imageid|default > 0 %}
                <div class="col-12 col-lg-4 hidden-xs d-none d-lg-block">
                    [img:{{ variables.imageid|default }}]
                </div>
                {% endif %}
                <div class="col-6 col-md-2 bg-black border border-dark c" title="Initiative: REF + Bonus">INI</div>
                <div class="col-6 col-md-2 pl-0 pr-0 border border-dark c">{{ini}}</div>
                <div class="col-6 col-md-2 bg-black border border-dark c" title="Damage Bonus">DMG B.</div>
                <div class="col-6 col-md-2 pl-0 pr-0 border border-dark c">{{variables.dmgb|default}}</div>
                <div class="col-6 col-md-2 bg-black border border-dark c">SAVE</div>
                <div class="col-6 col-md-2 pl-0 pr-0 border border-dark c">{{bt}}</div>
                <div class="col-6 col-md-2 bg-black border border-dark c" title="Body Type Modifier">BTM</div>
                <div class="col-6 col-md-2 pl-0 pr-0 border border-dark c">{{btm}}</div>
                <div class="col-6 col-md-8 pl-0 pr-0">&nbsp;</div>
                <div class="col-12">&nbsp;</div>
                {% set bt = -1 %}
                {% for i in 1..40 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                    {% if (i-1) // 4 > bt %}
                        <div class="col-12 col-md-1 card pd0">
                            <div class="card-header wound">
                        {{ woundlevel[bt+1] }}<br>
                        {% set bt = (i-1) // 4 %}
                            </div><div class="card-body wound">
                    {% endif %}
                    {% set ws = attribute(variables, 'wound_' ~ id)|default %}
                    {% if ws > 0 %}<i class="fa-sharp fa-solid fa-square"></i>{% else %}<i class="fa-sharp fa-light fa-square"></i>{% endif %}
                    {% if (i) // 4 > bt %}
                            </div>
                            <div class="card-header wound">
                            STUN=-{{bt}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-10 bg-black border border-dark">SKILLS <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="true" aria-controls="collapseSkills"><em class="fas fa-angle-down"></em></button></div>
        <div class="col-1 bg-black border border-dark r">IP</div>
        <div class="col-1 border border-dark c">{{ variables.generalip|default }}</div>
    </div>
    <div class="row border border-dark mt-1 collapse show" id="collapseSkills">
        {% set done = 0 %}
        {% for i in 1..12 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
        {% set name = attribute(variables, 'special_SkillName_' ~ id)|default|trim %}
        {% if name != "" %}
            {% if done == 0 %}
                <div class="col-12 bg-black border border-dark font-weight-bold mb-1 c">SPECIAL ABILITIES</div>
                {% set done = 1 %}
            {% endif %}
            {{ sheet.genSpecialAbility(id,
            name,
            attribute(variables, 'special_SkillValue_' ~ id)|default,
            attribute(variables, 'special_SkillIP_' ~ id)|default,
            attribute(variables, 'expert_SkillChipped_' ~ id)|default
            ) }}
        {% endif %}{% endfor %}
	</div>
    <div class="row border border-dark mt-1 collapse show" id="collapseSkills">
        <div class="col-12 bg-black border border-dark font-weight-bold mb-1 c">ATTR</div>
        {{ sheet.genSkillSection( variables, 'ATTR', ['Personal Grooming', 'Wardrobe & Style' ], 2,  variables.attrCurr|default) }}
	</div>
    <div class="row border border-dark mt-1 collapse show" id="collapseSkills">
        <div class="col-12 bg-black border border-dark font-weight-bold mb-1 c">BODY</div>
        {{ sheet.genSkillSection( variables, 'BODY', ['Endurance', 'Strength Feat', 'Swimming' ], 2, variables.bodyCurr|default) }}
	</div>
    <div class="row border border-dark mt-1 collapse show" id="collapseSkills">
        <div class="col-12 bg-black border border-dark font-weight-bold mb-1 c">COOL</div>
        {{ sheet.genSkillSection( variables, 'COOL', ['Interrogation' , 'Intimidate', 'Oratory', 'Resist Torture/Drugs', 'Rhetoric', 'Streetwise'], 2, variables.coolCurr|default) }}
	</div>
    <div class="row border border-dark mt-1 collapse show" id="collapseSkills">
        <div class="col-12 bg-black border border-dark font-weight-bold mb-1 c">EMP</div>
        {{ sheet.genSkillSection( variables, 'EMP', ['Animal Handler', 'Human Perception', 'Interview', 'Leadership', 'Perform' , 'Persuasion & Fast Talk', 'Seduction', 'Simper' , 'Social', 'Trance' ] , 2, variables.empCurr|default) }}
	</div>
    <div class="row border border-dark mt-1 collapse show" id="collapseSkills">
        <div class="col-12 bg-black border border-dark font-weight-bold mb-1 c">INT</div>
        {{ sheet.genSkillSection( variables, 'INT', ['Accounting','Antropology','Astrogation','Awareness/Notice','Biology' ,'Biogenetics' ,'Botany' ,'Bureaucracy' ,'Business Sense' ,'Chemistry' ,'Composition' ,'Corporate Policy' ,'Culture' ,'Diagnose Illness' ,'Education & Gen. Know.','Field Surgery','Gamble' ,'Geology' ,'Hide/Evade' ,'History' ,'Library Search' ,'Mathematics' ,'Nuscuba' ,'Pharmacology' ,'Physics' ,'Programming' ,'Psychology' ,'Shadow/Track' ,'Space Survival' ,'Stock Market' ,'Street Survival' ,'System Knowledge' ,'Tactics' ,'Teaching' ,'Underwater Survival' ,'Wilderness Survival' ,'Zoology'], 2, variables.intCurr|default ) }}
        {% for i in 1..9 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set name = attribute(variables, 'expert_SkillName_' ~ id) %}{% if name != "" %}
            {{ sheet.genSkillName(id, 'expert',
                name,
                attribute(variables, 'expert_SkillValue_' ~ id),
                attribute(variables, 'expert_SkillIP_' ~ id),
                attribute(variables, 'expert_SkillChipped_' ~ id),
                variables.intCurr ) }}
        {% endif %}{% endfor %}
        {% for i in 1..9 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set name = attribute(variables, 'lang_SkillName_' ~ id) %}{% if name != "" %}
            {{ sheet.genSkillName(id, 'language',
                name,
                attribute(variables, 'lang_SkillValue_' ~ id),
                attribute(variables, 'lang_SkillIP_' ~ id),
                attribute(variables, 'lang_SkillChipped_' ~ id),
                variables.intCurr ) }}
        {% endif %}{% endfor %}
	</div>
    <div class="row border border-dark mt-1 collapse show" id="collapseSkills">
        <div class="col-12 bg-black border border-dark font-weight-bold mb-1 c">REF</div>
        {{ sheet.genSkillSection( variables, 'REF', ['Athletics','Brawling','Dance','Dodge/Escape','Driving','EVA','Fencing','Handgun','Heavy Weapon','Melee','Motorcycle','Op. Hvy. Machinery','Pilot: Deep Dive Suit[2]','Pilot: Dirigible[2]','Pilot: EVPA[2]','Pilot: Fixed Wing[2]','Pilot: Gyro[3]','Pilot: Hardshell[2]','Pilot: Hovercraft[2]','Pilot: Large Sub[2]','Pilot: Naval Ship[2]','Pilot: OTV[2]','Pilot: PA[2]','Pilot: Small Sub[2]','Pilot: Spaceplane/Shuttle[3]','Pilot: Vect. Thrust[3]','Remote System Op.[2]','Rifle','Stealth[2]','Submachinegun','Underwater Combat[2]','Underwater Heavy Weapon','Underwater Weapons','Zero-G Combat[2]','Zero-G Maneuver'], 2, variables.refCurr  ) }}
	</div>
    <div class="row border border-dark mt-1 collapse show" id="collapseSkills">
        <div class="col-12 bg-black border border-dark font-weight-bold mb-1 c">TECH</div>
        {{ sheet.genSkillSection( variables, 'TECH',['Aero Tech[2]','AV Tech[3]','Basic Tech[2]','Bio Tech','Braindance Editing','Calligraphy','Cryotank Operation','Cyberdeck Design','Cyber Tech[2]','Demolitions[2]','Disguise','Elect. Security[2]','Electronics','First Aid','Forgery','Gyro Tech[3]','Operate Mining Equip.','Origami','PA Tech[3]','Paint or Draw','Pharmaceuticals[2]','Photo & Film','Pick Lock','Pick Pocket','Play Instrument','Pressure Suit Tech','Sonar Tech','Sub Tech','Sub Tech(Large)','Sub Tech(Small)','Tattooing','Weaponsmith[2]','Wetware Design'], 2, variables.techCurr  ) }}
        {% set done = 0 %}
        {% for i in 1..12 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
            {% set name = attribute(variables, 'other_SkillName_' ~ id) %}{% if name != "" %}
            {% if done == 0 %}
	</div>
	<div class="row border border-dark mt-1 collapse show" id="collapseSkills">
                <div class="col-12 bg-black border border-dark font-weight-bold mb-1 c">OTHER</div>
                {% set done = 1 %}
            {% endif %}
            {{ sheet.genSkillName(id, 'other',
                name,
                attribute(variables, 'other_SkillValue_' ~ id)|default,
                attribute(variables, 'other_SkillIP_' ~ id)|default,
                attribute(variables, 'other_SkillChipped_' ~ id)|default,
                0 ) }}
        {% endif %}{% endfor %}
    </div>
    <div class="row mt-1 bg-black">
        <div class="col-6">CYBERWARE <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCyberware" aria-expanded="true" aria-controls="collapseCyberware"><em class="fas fa-angle-down"></em></button></div>
        <div class="col-5 r small">TOTAL HL</div>
        <div class="col-1 c small">{{ totalhl }}
        </div>
    </div>
    <div class="row pb-0 collapse show" id="collapseCyberware">
        <div class="col-9 col-md-4 col-lg-4 bg-grey border border-dark pl-1 pr-0 ">CYBER</div>
        <div class="col-2 col-md-1 col-lg-1 bg-grey border border-dark pl-1 pr-0 ">COST</div>
        <div class="col-1 col-md-1 col-lg-1 border border-dark bg-grey pl-1 pr-0 c">HL</div>
        <div class="col-4 d-none d-md-block col-lg-4 border border-dark bg-grey pl-1 pr-0 ">CYBER</div>
        <div class="col-1 d-none d-md-block col-lg-1 border border-dark bg-grey pl-1 pr-0 c">COST</div>
        <div class="col-1 d-none d-md-block col-lg-1 border border-dark bg-grey pl-1 pr-0 c">HL</div>
    </div>
    <div class="row pb-1 collapse show" id="collapseCyberware">
        {% for i in 1..21 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{{ sheet.genCyber(id, attribute(variables, 'cyberName' ~ id), attribute(variables, 'cyberCost' ~ id), attribute(variables, 'cyberHL' ~ id) ) }}{% endfor %}
    </div>
    <div class="row mt-1 bg-black"><div class="col-12">WEAPONS <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseWeapons" aria-expanded="true" aria-controls="collapseWeapons"><em class="fas fa-angle-down"></em></button></div></div>
    <div class="row pb-1 collapse show" id="collapseWeapons">
        <div class="col-12">
            <div class="row small">
                <div class="col-2 bg-grey border border-dark">NAME</div>
                <div class="col-1 bg-grey border border-dark c">TYPE</div>
                <div class="col-1 bg-grey border border-dark c" title="Accuracy">WA</div>
                <div class="col-1 bg-grey border border-dark c" title="Concealment">CONC</div>
                <div class="col-2 bg-grey border border-dark c" title="Damaga">DMG</div>
                <div class="col-1 bg-grey border border-dark c" title="Shots (per Magazine)">#</div>
                <div class="col-1 bg-grey border border-dark c" title="Rate of Fire">ROF</div>
                <div class="col-1 bg-grey border border-dark c" title="Reliability">REL</div>
                <div class="col-1 bg-grey border border-dark c" title="Range">RNG</div>
                <div class="col-1 bg-grey border border-dark c" title="Available Magazines">MAGS</div>
            </div>
            {% for i in 1..20 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
            {{ sheet.genWeapon(id,
                attribute(variables, 'weaponName_' ~ id),
                attribute(variables, 'weaponType_' ~ id),
                attribute(variables, 'weaponAcc_' ~ id),
                attribute(variables, 'weaponConc_' ~ id),
                attribute(variables, 'weaponDmg_' ~ id),
                attribute(variables, 'weaponShots_' ~ id),
                attribute(variables, 'weaponRof_' ~ id),
                attribute(variables, 'weaponRel_' ~ id),
                attribute(variables, 'weaponRng_' ~ id),
                attribute(variables, 'weaponMags_' ~ id),
                attribute(variables, 'weaponNote_' ~ id)
            ) }}
            {% endfor %}
        </div>
    </div>
    <div class="row mt-1 bg-black"><div class="col-12">ARMOR <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseArmor" aria-expanded="true" aria-controls="collapseArmor"><em class="fas fa-angle-down"></em></button></div></div>
    <div class="row small collapse show" id="collapseArmor">
        <div class="col-4 bg-grey border border-dark py-0 px-1">Name</div>
        <div class="col-1 bg-grey border border-dark p-0 c">HEAD<br>1</div>
        <div class="col-1 bg-grey border border-dark p-0 c">TORSO<br>2-4</div>
        <div class="col-1 bg-grey border border-dark p-0 c">RARM<br>5</div>
        <div class="col-1 bg-grey border border-dark p-0 c">LARM<br>6</div>
        <div class="col-1 bg-grey border border-dark p-0 c">RLEG<br>7-8</div>
        <div class="col-1 bg-grey border border-dark p-0 c">LLEG<br>9-0</div>
        <div class="col-1 bg-grey border border-dark p-0 c">EV</div>
        <div class="col-1 bg-grey border border-dark p-0 c">TYPE</div>
    </div>
    <div class="row pb-1 collapse show" id="collapseArmor">
    {% for i in 1..5 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
	{{ sheet.genArmorLayer(id,
		attribute(variables, 'layer' ~ id ~ '_Name'),
		attribute(variables, 'layer' ~ id ~ '_Head'),
		attribute(variables, 'layer' ~ id ~ '_Torso'),
		attribute(variables, 'layer' ~ id ~ '_RArm'),
		attribute(variables, 'layer' ~ id ~ '_LArm'),
		attribute(variables, 'layer' ~ id ~ '_RLeg'),
		attribute(variables, 'layer' ~ id ~ '_LLeg'),
		attribute(variables, 'layer' ~ id ~ '_EV'),
		attribute(variables, 'layer' ~ id ~ '_Type')
	) }}
	{% endfor %}
    </div>
    <div class="row mt-1 bg-black"><div class="col-12">GEAR <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseGear" aria-expanded="true" aria-controls="collapseGear"><em class="fas fa-angle-down"></em></button></div></div>
    <div class="row pb-1 collapse show" id="collapseGear">
        {% for i in 1..32 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{{ sheet.genGear(id, attribute(variables, 'gearName_' ~ id) ) }}{% endfor %}
    </div>
    <div class="row mt-1 bg-black"><div class="col-12">LIFEPATH <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseLifepath" aria-expanded="true" aria-controls="collapseLifepath"><em class="fas fa-angle-down"></em></button></div></div>
    <div class="row border border-dark p-0 collapse show" id="collapseLifepath">
        <div class="col-12 col-md-2 bg-grey border border-light">Ethnicity</div>
        <div class="col-12 col-md-4">{{ variables.ethnicity|default }}</div>
        <div class="col-12 col-md-2 bg-grey border border-light">Language</div>
        <div class="col-12 col-md-4">{{ variables.ethnicityLang|default }}</div>
        <div class="col-12">
            <div class="row border border-dark mt-1"><div class="col-12 col-md-12 font-weight-bold bg-black">MOTIVATIONS <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMotivations" aria-expanded="true" aria-controls="collapseMotivations"><em class="fas fa-angle-down"></em></button></div></div>
            <div class="row border border-dark p-0 collapse show" id="collapseMotivations">
                <div class="col-12 col-lg-2 bg-grey border border-light">Personality</div>
				<div class="col-12 col-lg-4">{{ variables.personality|default }}</div>
                <div class="col-12 col-lg-2 bg-grey border border-light">Valued Person</div>
				<div class="col-12 col-lg-4">{{ variables.valuedPerson|default }}</div>
                <div class="col-12 col-lg-2 bg-grey border border-light">Value Most</div>
				<div class="col-12 col-lg-4">{{ variables.valueMost|default }}</div>
                <div class="col-12 col-lg-2 bg-grey border border-light">Feel About People</div>
				<div class="col-12 col-lg-4">{{ variables.feelAboutPeople|default }}</div>
                <div class="col-12 col-lg-2 bg-grey border border-light">Valued Possession</div>
				<div class="col-12 col-lg-4">{{ variables.valuedPossession|default }}</div>
            </div>
            <div class="row border border-dark mt-1"><div class="col-12 col-md-12 bg-black font-weight-bold">APPEARANCE <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAppearance" aria-expanded="true" aria-controls="collapseAppearance"><em class="fas fa-angle-down"></em></button></div></div>
            <div class="row border border-dark p-0 collapse show" id="collapseAppearance">
                <div class="col-12 col-md-6 bg-grey border border-light">Clothes</div>
                <div class="col-12 col-md-6">{{ variables.clothes|default }}</div>
                <div class="col-12 col-md-6 bg-grey border border-light">Hairstyle</div>
                <div class="col-12 col-md-6">{{ variables.hairstyle|default }}</div>
                <div class="col-12 col-md-6 bg-grey border border-light">Affectations</div>
                <div class="col-12 col-md-6">{{ variables.affectations|default }}</div>
            </div>
            <div class="row border border-dark mt-1"><div class="col-12 col-md-12 bg-black font-weight-bold">FAMILY <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFamily" aria-expanded="true" aria-controls="collapseFamily"><em class="fas fa-angle-down"></em></button></div></div>
            <div class="row border border-dark p-0 collapse show" id="collapseFamily">
                <div class="col-12">
                    <div class="row p-0">
                        <div class="col-12 col-md-2 bg-grey border border-light">Family Ranking</div>
                        <div class="col-12 col-md-10">{{ variables.familyRanking|default }}</div>
                    </div>
                    <div class="row p-0">
                        <div class="col-12 col-md-2 bg-grey border border-light">Family Background</div>
                        <div class="col-12 col-md-10">{{ variables.familyBackground|default }}</div>
                    </div>
                    <div class="row p-0">
                        <div class="col-12 bg-black border border-dark">Siblings</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-5 bg-grey border border-dark">Name</div>
                        <div class="col-6 col-md-2 bg-grey border border-dark">Gender</div>
                        <div class="col-6 col-md-2 bg-grey border border-dark">Age</div>
                        <div class="col-6 col-md-3 bg-grey border border-dark">Feeling</div>
                    </div>
                    <div class="row">
                        {% for i in 1..8 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{{ sheet.genSibling(id, variables['sibling'~id~'name'], variables['sibling'~id~'gender'], variables['sibling'~id~'feelings'], variables['sibling'~id~'age']) }}{% endfor %}
                    </div>
                </div>
            </div>
            {{ sheet.genLifeEventsSection(variables) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <small>
                Copyright &copy; 1991 by R. Talsorian Games, Inc.<br><a href="/w/sheet-creation/a/sheet-list">Cyberpunk 2020 Character Sheet v1.0</a>, made by Tillerz - 2023-10-22
            </small>
        </div>
    </div>
</div>