{% import _self as sheet %}
{% set woundlevel = [ "LIGHT", "SERIOUS", "CRITICAL", "MORTAL", "MORTAL1", "MORTAL2", "MORTAL3", "MORTAL4", "MORTAL5", "MORTAL6" ] %}
{% set totalhl = 0%}
{% for i in 1..21 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
    {% set name = attribute(variables, 'cyberName' ~ id)|default %}{% if name != "" %}{% set hl = attribute(variables, 'cyberHL' ~ id)|default(0) %}{% set totalhl = totalhl + hl %}{% endif %}
{% endfor %}
{# ******************************************************************************************************************************** #}
{% macro genLifeEventsSection(variables) %}<div class="row border border-dark">
		<div class="col font-weight-bold bg-black">LIFE EVENTS</div>
	</div>
	<div class="row border border-dark">
		<div class="col-3 col-md-1 border border-dark">Year</div>
		<div class="col-9 col-md-11 border border-dark">Event</div>
	</div>
	{% set count = 0 %}
	{% for i in 1..99 %}
		{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
		{% set detail = attribute(variables, 'lifeEventDetail' ~ id)|trim %}
		{% if detail == "" %}{% set count = count + 1 %}{% endif %}
		{% if count <= 10 %}{{ sheet.genLifeEvent(id, attribute(variables, 'lifeEventYear' ~ id), detail ) }}{% endif %}
	{% endfor %}
	<div class="row">
		<div class="col-12 bg-black c">If you need more lines, save after filling in the existing ones. More lines will appear (max 99).</div>
	</div>
{% endmacro genLifeEventsSection %}
{# ******************************************************************************************************************************** #}
{% macro genLifeEvent(id, year, event) %}
<div class="row border-dark">
	<div class="col-3 col-md-1 border border-dark"><input value="{{ year }}" class="d-inline-block w-100 c" id="lifeEventYear{{id}}" name="lifeEventYear{{id}}" type="number" min="0"/></div>
	<div class="col-9 col-md-11 border border-dark"><textarea rows="3" cols="40" id="lifeEventDetail{{id}}" name="lifeEventDetail{{id}}" class="d-inline-block w-100 cp2020-lifeevent-details">{{event}}</textarea></div>
</div>
{% endmacro genLifeEvent %}
{# ******************************************************************************************************************************** #}
{% macro genSkillSection(variables, statName, statSkillNames, length, statValue) %}
	<div class="col-12">
		<div class="row border border-dark pb-1 pt-1">
			<div class="col-12 col-lg-1 font-weight-bold">{{statName}}</div>
			<div class="col-12 col-lg-11">
				<div class="card-columns">
					<div class="card">
						<div class="row small">
							<div class="col-8 pl-3">Name</div>
							<div class="col-2">Rank</div>
							<div class="col-2">IP</div>
						</div>
					</div>
					<div class="d-none d-sm-inline-block card">
						<div class="row small">
							<div class="col-8 pl-3">Name</div>
							<div class="col-2">Rank</div>
							<div class="col-2">IP</div>
						</div>
					</div>
					<div class="d-none d-sm-inline-block card">
						<div class="row small">
							<div class="col-8 pl-3">Name</div>
							<div class="col-2">Rank</div>
							<div class="col-2">IP</div>
						</div>
					</div>
				</div>
				<div class="card-columns">
					{% for SkillName in statSkillNames %}
						{% set id= loop.index  %}
						{% if id < 10 %}
							{% set id = '0' ~id %}
						{% endif  %}
						{{ sheet.genSkill(id, statName, SkillName , variables[statName~'_SkillValue_'~id], variables[statName~'_SkillIP_'~id], variables[statName~'_SkillChipped_'~id], statValue)}}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endmacro genSkillSection %}
{# ******************************************************************************************************************************** #}
{% macro genSkill(id, title, SkillName, SkillValue, ip, isChipped, statValue) %}
	<div class="card">
		<div class="row">
			<div class="col-8">
				<input value="0" name="{{title}}_SkillChipped_{{id}}" type="hidden"/>
				<input value="1" {% if isChipped > 0 %} checked="checked" {% endif %} title="Is a Chipped Skill" class="d-inline-block align-middle" id="{{title}}_SkillChipped_{{id}}" name="{{title}}_SkillChipped_{{id}}" type="checkbox"/>
				{{ SkillName }}
				<span class="float-right">
					{{' [' ~ (statValue + SkillValue) ~ ']'}}
				</span>
			</div>
			<div class="col-2 border border-dark">
				<input value="{{ SkillValue }}" title="Skill Value" class="d-inline-block w-100 c" id="{{title}}_SkillValue_{{id}}" name="{{title}}_SkillValue_{{id}}" type="number" min="0" max="15"/>
			</div>
			<div class="col-2 border border-dark">
				<input value="{{ ip }}" title="Skill IP" class="d-inline-block w-100 c" id="{{title}}_SkillIP_{{id}}" name="{{title}}_SkillIP_{{id}}" type="number" min="0" max="1000"/>
			</div>
		</div>
	</div>
{% endmacro genSkill %}
{# ******************************************************************************************************************************** #}
{% macro genSkillName(id, title, SkillName, SkillValue, ip, isChipped, statValue) %}
	<div class="card">
		<div class="row">
			<div class="col-8">
				<input value="0" name="{{title}}_SkillChipped_{{id}}" type="hidden"/>
				<input value="1" {% if isChipped > 0 %} checked="checked" {% endif %} title="Is a Chipped Skill" class="d-inline-block align-middle" id="{{title}}_SkillChipped_{{id}}" name="{{title}}_SkillChipped_{{id}}" type="checkbox"/>
				{{title}}:
				<input value="{{ SkillName }}" title="Skill Name" type="text" class="d-inline-block border border-dark w-50 ml-1 mr-1" id="{{title}}_SkillName_{{id}}" name="{{title}}_SkillName_{{id}}"/>
				<span class="float-right">
					{{' [' ~ (statValue + SkillValue) ~ ']'}}
				</span>
			</div>
			<div class="col-2 border border-dark">
				<input value="{{ SkillValue }}" title="Skill Value" class="d-inline-block w-100 c" id="{{title}}_SkillValue_{{id}}" name="{{title}}_SkillValue_{{id}}" type="number" min="0" max="15"/>
			</div>
			<div class="col-2 border border-dark">
				<input value="{{ ip }}" title="Skill IP" class="d-inline-block w-100 c" id="{{title}}_SkillIP_{{id}}" name="{{title}}_SkillIP_{{id}}" type="number" min="0" max="1000"/>
			</div>
		</div>
	</div>
{% endmacro genSkillName %}
{# ******************************************************************************************************************************** #}
{% macro genSpecialAbility(id, SkillName, SkillValue, ip) %}
	<div class="col-12 col-md-6 col-xl-4 align-middle">
		<div class="row">
			<div class="col-8">
				<input value="{{ SkillName }}" title="Skill Name" type="text" class="d-inline-block border border-dark w-100 p-1" id="special_SkillName_{{id}}" name="special_SkillName_{{id}}"/>
			</div>
			<div class="col-2 border border-dark">
				<input value="{{ SkillValue }}" title="Skill Value" class="d-inline-block w-100 p-1 c" id="special_SkillValue_{{id}}" name="special_SkillValue_{{id}}" type="number" min="0" max="15"/>
			</div>
			<div class="col-2 border border-dark">
				<input value="{{ ip }}" title="Skill IP" class="d-inline-block w-100 p-1 c" id="special_SkillIP_{{id}}" name="special_SkillIP_{{id}}" type="number" min="0" max="1000"/>
			</div>
		</div>
	</div>
{% endmacro genSpecialAbility %}
{# ******************************************************************************************************************************** #}
{% macro genStat(name, stat, desc, baseValue, currValue) %}
	{% set bv = 0 %}
	{% if baseValue is defined and baseValue >= 0 %}
		{% set bv = baseValue %}
	{% endif %}
	{% set cv = 0 %}
	{% if currValue is defined and currValue >= 0 %}
		{% set cv = currValue %}
	{% endif %}
	<div class="col-4 col-md-1 bg-black c" title="{{desc}}">{{name}}</div>
	<div class="col-4 col-md-1 r border border-dark">
		<input value="{{ cv }}" title="Current {{ name }} Value" class="d-inline-block w-100 c" id="{{stat}}Curr" name="{{stat}}Curr" type="number" min="0"/> 
	</div>
	<div class="col-4 col-md-1 r border border-dark">
		<input value="{{ bv }}" title="Base {{ name }} Value" class="d-inline-block w-100 c" id="{{stat}}base" name="{{stat}}Base" type="number" min="0"/>
	</div>
	<div class="col-4 col-md-1 d-none d-md-block">&nbsp;</div>
{% endmacro genStat %}
{# ******************************************************************************************************************************** #}
{% macro genGear(id, value) %}
	<div class="col-6 col-md-4 col-xl-3 border border-dark ">
		<input value="{{ value }}" class="d-inline-block w-100" id="gearName_{{id}}" name="gearName_{{id}}" type="text" row="1"/>
	</div>
{% endmacro genGear %}
{# ******************************************************************************************************************************** #}
{% macro genWeapon(id, name, type, acc, conc, dmg, shots, rof, rel, rng, mag, note ) %}
	<div class="row small">
		<div class="col-3 border border-dark">
			<input type="text" id="weaponName_{{id}}" name="weaponName_{{id}}" placeholder="name of weapon" value="{{name}}" class="d-inline-block w-100">
		</div>
		<div class="col-1 border border-dark">
			<select value="{{type}}" class="d-inline-block w-100 c" id="weaponType_{{id}}" name="weaponType_{{id}}" title="Weapon type">
				<option value="P  " {% if type == "P" %} selected="selected" {% endif %}>P</option>
				<option value="RIF" {% if type == "RIF" %} selected="selected" {% endif %}>RIF</option>
				<option value="SMG" {% if type == "SMG" %} selected="selected" {% endif %}>SMG</option>
				<option value="SHT" {% if type == "SHT" %} selected="selected" {% endif %}>SHT</option>
				<option value="MEL" {% if type == "MEL" %} selected="selected" {% endif %}>MEL</option>
				<option value="EX"  {% if type == "EX" %} selected="selected" {% endif %}>EX</option>
				<option value="HVY" {% if type == "HVY" %} selected="selected" {% endif %}>HVY</option>
			</select>
		</div>
		<div class="col-1 border border-dark">
			<input type="number" min="-15" max="15" class="d-inline-block w-100 c" placeholder="wa" value="{{acc}}" id="weaponAcc_{{id}}" name="weaponAcc_{{id}}" title="Weapon Accuracy">
		</div>
		<div class="col-1 border border-dark">
			<select value="{{conc}}" class="d-inline-block w-100 c" id="weaponConc_{{id}}" name="weaponConc_{{id}}" title="Weapon concealment">
				<option value="P" {% if conc == "P" %} selected="selected" {% endif %}>P</option>
				<option value="J" {% if conc == "J" %} selected="selected" {% endif %}>J</option>
				<option value="L" {% if conc == "L" %} selected="selected" {% endif %}>L</option>
				<option value="N" {% if conc == "N" %} selected="selected" {% endif %}>N</option>
			</select>
		</div>
		<div class="col-1 border border-dark">
			<input type="text" class="d-inline-block w-100 c" placeholder="ex. 2d6+1" value="{{dmg}}" id="weaponDmg_{{id}}" name="weaponDmg_{{id}}" title="Weapon Damage">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" class="d-inline-block w-100 c" placeholder="# shots" value="{{shots}}" id="weaponShots_{{id}}" name="weaponShots_{{id}}" title="Weapon #Shots">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" class="d-inline-block w-100 c" placeholder="rof" value="{{rof}}" id="weaponRof_{{id}}" name="weaponRof_{{id}}" title="Weapon RoF"></div>
		<div class="col-1 border border-dark">
			<select value="{{rel}}" class="d-inline-block w-100 c" id="weaponRel_{{id}}" name="weaponRel_{{id}}" title="Weapon Reliability">
				<option value="ST" {% if rel == "ST" %} selected="selected" {% endif %}>ST</option>
				<option value="VR" {% if rel == "VR" %} selected="selected" {% endif %}>VR</option>
				<option value="UR" {% if rel == "UR" %} selected="selected" {% endif %}>UR</option>
			</select>
		</div>
		<div class="col-1 border border-dark">
			<input type="number" class="d-inline-block w-100 c" placeholder="range" value="{{rng}}" id="weaponRng_{{id}}" name="weaponRng_{{id}}" title="Weapon Range in meters">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" class="d-inline-block w-100 c" placeholder="mag" value="{{mag}}" id="weaponMags_{{id}}" name="weaponMags_{{id}}" title="Weapon Magazines">
		</div>
	</div>
	<div class="row small border border-dark ">
		<div class="col-1">Notes:</div>
		<div class="col-11"><textarea rows="3" cols="40" id="weaponNote_{{id}}" name="weaponNote_{{id}}" class="d-inline-block w-100 cp2020-weapon-notes">{{note}}</textarea></div>
	</div>
{% endmacro genWeapon %}
{# ******************************************************************************************************************************** #}
{% macro genCyber(id, value, cost, hl) %}
	<div class="card">
		<div class="row">
			<div class="col-7 border border-dark"><input value="{{ value }}" class="d-inline-block w-100" id="cyberName{{id}}" name="cyberName{{id}}" type="text" /></div>
			<div class="col-3 border border-dark"><input value="{{ cost }}" class="d-inline-block w-100 c" id="cyberCost{{id}}" name="cyberCost{{id}}" type="text" min="0"/></div>
			<div class="col-2 border border-dark"><input value="{{ hl }}" class="d-inline-block w-100 c" id="cyberHL{{id}}" name="cyberHL{{id}}" type="text" min="0"/></div>
		</div>
	</div>
{% endmacro genCyber %}
{# ******************************************************************************************************************************** #}
{% macro genArmorLayer(id, name, head, torso, rarm, larm, rleg, lleg, ev, type) %}
	<div class="row small">
		<div class="col-4 border border-dark">
			<input type="text" value="{{name}}" title="name of armor" class="w-100 d-inline-block" id="layer{{id}}_Name" name="layer{{id}}_Name">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" value="{{head}}" title="head SP" class="w-100 d-inline-block c" id="layer{{id}}_Head" name="layer{{id}}_Head">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" value="{{torso}}" title="torso SP" class="w-100 d-inline-block c" id="layer{{id}}_Torso" name="layer{{id}}_Torso">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" value="{{rarm}}" title="right arm SP" class="w-100 d-inline-block c" id="layer{{id}}_RArm" name="layer{{id}}_RArm">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" value="{{larm}}" title="left arm SP" class="w-100 d-inline-block c" id="layer{{id}}_LArm" name="layer{{id}}_LArm">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" value="{{rleg}}" title="right leg SP" class="w-100 d-inline-block c" id="layer{{id}}_RLeg" name="layer{{id}}_RLeg">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" value="{{lleg}}" title="left leg SP" class="w-100 d-inline-block c" id="layer{{id}}_LLeg" name="layer{{id}}_LLeg">
		</div>
		<div class="col-1 border border-dark">
			<input type="number" value="{{ev}}" title="name of armor" class="w-100 d-inline-block c" id="layer{{id}}_EV" name="layer{{id}}_EV">
		</div>
		<div class="col-1 border border-dark">
			<select value="{{type}}" title="type of armor" class="w-100 d-inline-block" id="layer{{id}}_Type" name="layer{{id}}_Type">
				<option value="Soft" {% if type == "Soft" %} selected="selected" {% endif %}>Soft</option>
				<option value="Hard" {% if type == "Hard" %} selected="selected" {% endif %}>Hard</option>
			</select>
		</div>
	</div>
{% endmacro genArmorLayer %}
{# ******************************************************************************************************************************** #}
{% macro genSibling(id, name, gender, feeling, age) %}
	<div class="row">
		<div class="col-3 col-md-5 border border-dark ">
			<input value="{{ name }}" class="d-inline-block w-100" id="sibling{{id}}name" name="sibling{{id}}name" type="text"/>
		</div>
		<div class="col-3 col-md-2 border border-dark ">
			<select value="{{gender}}" class="d-inline-block w-100" id="sibling{{id}}gender" name="sibling{{id}}gender">
				<option value="Sib"     {% if gender == "Sib" %} selected="selected" {% endif %}>Sib</option>
				<option value="Brother" {% if gender == "Brother" %} selected="selected" {% endif %}>Brother</option>
				<option value="Sister"  {% if gender == "Sister" %} selected="selected" {% endif %}>Sister</option>
			</select>
		</div>
		<div class="col-3 col-md-2 border border-dark ">
			<select value="{{age}}" class="d-inline-block w-100" id="sibling{{id}}age" name="sibling{{id}}age">
				<option value="Older"   {% if age == "Older" %} selected="selected" {% endif %}>Older</option>
				<option value="Younger" {% if age == "Younger" %} selected="selected" {% endif %}>Younger</option>
				<option value="Twin"    {% if age == "Twin" %} selected="selected" {% endif %}>Twin</option>
			</select>
		</div>
		<div class="col-3 col-md-3 border border-dark ">
			<select class="fo-co" id="sibling{{id}}feelings" name="sibling{{id}}feelings">
				<option value="Neutral"      {% if feeling == "Neutral" %} selected="selected" {% endif %}>Neutral</option>
				<option value="Hero Worship" {% if feeling == "Hero Worship" %} selected="selected" {% endif %}>Hero Worship</option>
				<option value="Likes"        {% if feeling == "Likes" %} selected="selected" {% endif %}>Likes</option>
				<option value="Dislikes"     {% if feeling == "Dislikes" %} selected="selected" {% endif %}>Dislikes</option>
				<option value="Hates"        {% if feeling == "Hates" %} selected="selected" {% endif %}>Hates</option>
			</select>
		</div>
	</div>
{% endmacro genSibling %}
{# ******************************************************************************************************************************** #}
<div class="container-fluid bg-white black">
	<div class="row">
		<div class="col-12 col-lg-12">
			<div class="row">
				<div class="col-5 col-md-2 bg-black border border-dark">NAME</div>
				<div class="col-7 col-md-4 border border-dark"><input value="{{ variables.name|default }}" required="required" class="d-inline-block w-100" id="name" name="name" placeholder="Character Name" type="text"/></div>
				<div class="col-5 col-md-2 bg-black border border-dark">HANDLE</div>
				<div class="col-7 col-md-4 border border-dark"><input value="{{ variables.handle|default }}" class="d-inline-block w-100" id="handle" name="handle" placeholder="Handle/nickname/streetname" type="text"/></div>
			</div>
			<div class="row mt-1">
				<div class="col-5 col-md-2 bg-black border border-dark">ROLE</div>
				<div class="col-7 col-md-4 border border-dark"><input value="{{ variables.primaryRole|default }}" class="d-inline-block w-100" id="primaryRole" name="primaryRole" type="text"/></div>
				<div class="col-5 col-md-4 bg-black border border-dark c">PORTRAIT (WA IMAGE ID)</div>
				<div class="col-7 col-md-2 border border-dark"><input value="{{ variables.imageid|default }}" class="d-inline-block w-100 c" id="imageid" name="imageid" placeholder="wa image id" type="number"/></div>
			</div>
			<div class="row mt-1">
				<div class="col-4 bg-black border border-dark small">SECONDARY ROLE 1</div>
				<div class="col-8 border border-dark"><input value="{{ variables.secondaryRole01|default }}" class="w-100" id="secondaryRole01" name="secondaryRole01" type="text"/></div>
			</div>
			<div class="row mt-1">
				<div class="col-4 bg-black border border-dark small">SECONDARY ROLE 2</div>
				<div class="col-8 border border-dark"><input value="{{ variables.secondaryRole02|default }}" class="w-100" id="secondaryRole02" name="secondaryRole02" type="text"/></div>
			</div>
			<div class="row mt-1">
				<div class="col-4 bg-black border border-dark small">SECONDARY ROLE 3</div>
				<div class="col-8 border border-dark"><input value="{{ variables.secondaryRole03|default }}" class="w-100" id="secondaryRole03" name="secondaryRole03" type="text"/></div>
			</div>
			<div class="row mt-1">
				<div class="col-7 col-md-3 bg-black c">CHARACTER POINTS</div>
				<div class="col-5 col-md-1 border border-dark"><input value="{{ variables.stat_pts is defined ? variables.stat_pts : 0 }}" class="d-inline-block w-100 c" id="stat_pts" name="stat_pts" type="number" min="0"/></div>
				<div class="col-7 col-md-3 bg-black c">REPUTATION</div>
				<div class="col-5 col-md-1 border border-dark">
					<input value="{{ variables.rep is defined ? variables.rep : 1 }}" class="d-inline-block w-100 c" id="rep" name="rep" type="number" min="0"/>
				</div>
				<div class="col-7 col-md-3 bg-black px-0 c">HUMANITY</div>
				<div class="col-5 col-md-1 px-0 border border-dark c">
					{{ (variables.empBase * 10) - variables.totalhl}}/{{ variables.empBase * 10}}
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-9">
					<br>
					<div class="row pb-0">
						<div class="col-4 col-md-1 bg-grey border border-dark pl-1 pr-0">STAT</div>
						<div class="col-4 col-md-1 bg-grey border border-dark pl-1 pr-0" title="current">CURR</div>
						<div class="col-4 col-md-1 border border-dark bg-grey pl-1 pr-0 c">BASE</div>
						<div class="col-4 col-md-1 d-none d-md-block">&nbsp;</div>
						<div class="col-1 d-none d-md-block border border-dark bg-grey pl-1 pr-0">STAT</div>
						<div class="col-1 d-none d-md-block border border-dark bg-grey pl-1 pr-0 c" title="current">CURR</div>
						<div class="col-1 d-none d-md-block border border-dark bg-grey pl-1 pr-0 c">BASE</div>
						<div class="col-1 d-none d-md-block">&nbsp;</div>
						<div class="col-1 d-none d-md-block border border-dark bg-grey pl-1 pr-0">STAT</div>
						<div class="col-1 d-none d-md-block border border-dark bg-grey pl-1 pr-0 c" title="current">CURR</div>
						<div class="col-1 d-none d-md-block border border-dark bg-grey pl-1 pr-0 c">BASE</div>
						<div class="col-1 d-none d-md-block">&nbsp;</div>
					</div>
					<div class="row black font-weight-bold mt-1">
						{{ sheet.genStat('INT', 'int', 'Intelligence', variables.intBase|default, variables.intCurr|default) }}
						{{ sheet.genStat('REF', 'ref', 'Reflexes', variables.refBase|default, variables.refCurr|default) }}
						{{ sheet.genStat('TECH', 'tech', 'Technical Ability', variables.techBase|default, variables.techCurr|default) }}
					</div>
					<div class="row black font-weight-bold mt-1">
						{{ sheet.genStat('COOL', 'cool', 'Cool', variables.coolBase|default, variables.coolCurr|default) }}
						{{ sheet.genStat('ATTR', 'attr', 'Attractiveness', variables.attrBase|default, variables.attrCurr|default) }}
						{{ sheet.genStat('LUCK', 'luck', 'Luck', variables.luckBase|default, variables.luckCurr|default) }}
					</div>
					<div class="row black font-weight-bold mt-1">
						{{ sheet.genStat('MA', 'ma', 'Movement Allowance', variables.maBase|default, variables.maCurr|default) }}
						{{ sheet.genStat('BODY', 'body', 'Body Type', variables.bodyBase|default, variables.bodyCurr|default) }}
						{{ sheet.genStat('EMP', 'emp', 'Empathy', variables.empBase|default, variables.empCurr|default) }}
					</div>
				</div>
				<div class="col-12 col-md-3">
					<br>
					<div class="row">
						<div class="col-6 bg-black c">RUN</div>
						<div class="col-6 border border-dark c"><input value="{{ variables.run|default != "" ? variables.run : variables.maCurr * 3 }}" class="d-inline-block w-100 c" id="run" name="run" type="number" min="0" /></div>
						<div class="col-6 bg-black c">LEAP</div>
						<div class="col-6 border border-dark c"><input value="{{ variables.leap|default != "" ? variables.leap : variables.maCurr * 0.75}}" class="d-inline-block w-100 c" id="leap" name="leap" type="text" min="0" /></div>
						<div class="col-6 bg-black c">LIFT</div>
						<div class="col-6 border border-dark c"><input value="{{ variables.lift|default != "" ? variables.lift : variables.bodyCurr * 40 }}" class="d-inline-block w-100 c" id="lift" name="lift" type="number" min="0" /></div>
						<div class="col-6 bg-black c" title="from Abilities etc.">INI BONUS</div>
						<div class="col-6 border border-dark c"><input value="{{ variables.inib|default }}" class="d-inline-block w-100 c" id="inib" name="inib" type="number" /></div>
						<div class="col-6 bg-black c" title="from Abilities etc.">DMG BONUS</div>
						<div class="col-6 border border-dark c"><input value="{{ variables.dmgb|default }}" class="d-inline-block w-100 c" id="dmgb" name="dmgb" type="number" /></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
            <br>
            <div class="row">
                {% set bt = -1 %}
                {% for i in 1..40 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                    {% if (i-1) // 4 > bt %}
                        <div class="col-12 col-md-1 bg-black card c">
                            <div class="card-header wound">
                        {{ woundlevel[bt+1] }}<br>
                        {% set bt = (i-1) // 4 %}
                            </div><div class="card-body wound">
                    {% endif %}
                    {% set ws = attribute(variables, 'wound_' ~ id)|default %}
					<input value="0" class="d-inline-block align-middle" id="wound_{{id}}" name="wound_{{id}}" type="hidden"/>
					<input value="1" {% if ws > 0 %} checked="checked" {% endif %} class="d-inline-block align-middle" id="wound_{{id}}" name="wound_{{id}}" type="checkbox"/>
                    {% if (i) // 4 > bt %}
                            </div>
                            <div class="card-header wound">
                            STUN=-{{bt}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
		</div>
	</div>
	<div class="row mt-1 bg-black pt-1 pb-1">
		<div class="col-6">SKILLS</div>
		<div class="col-5 r">IP</div>
		<div class="col-1"><input value="{{ variables.generalip|default('0') }}" class="d-inline-block w-100 c" id="generalip" name="generalip" type="number" min="0"/></div>
	</div>
	<!--  SPECIAL ABILITIES -->
	<div class="row border border-dark pb-1 pt-1">
		<div class="col-12 col-lg-1 font-weight-bold">SPECIAL ABILITIES</div>
		<div class="col-12 col-lg-11">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-4 align-middle">
					<div class="row small">
						<div class="col-8 pl-3">Name</div>
						<div class="col-2">Rank</div>
						<div class="col-2">IP</div>
					</div>
				</div>
				<div class="d-none d-md-block col-12 col-md-6 col-lg-4 align-middle">
					<div class="row small">
						<div class="col-8 pl-3">Name</div>
						<div class="col-2">Rank</div>
						<div class="col-2">IP</div>
					</div>
				</div>
				<div class="d-none d-lg-block col-12 col-lg-4 align-middle">
					<div class="row small">
						<div class="col-8 pl-3">Name</div>
						<div class="col-2">Rank</div>
						<div class="col-2">IP</div>
					</div>
				</div>
			</div>
			<div class="row">
				{% for i in 1..12 %}
					{% set id = i %}
					{% if id < 10 %}
						{% set id = '0' ~ id %}
					{% endif  %}
					{% set name = attribute(variables, 'special_SkillName_' ~ id)|default|trim %}
					{{ sheet.genSpecialAbility(id,
						name,
						attribute(variables, 'special_SkillValue_' ~ id)|default,
						attribute(variables, 'special_SkillIP_' ~ id)|default
					) }}
				{% endfor %}
			</div>
		</div>
	</div>
	<!--  ATTR SKILLS -->
	<div class="row border border-dark">
		{{ sheet.genSkillSection( variables, 'ATTR', ['Personal Grooming', 'Wardrobe & Style' ], 2,  variables.attrCurr) }}
		{{ sheet.genSkillSection( variables, 'BODY', ['Endurance', 'Strength Feat', 'Swimming' ], 2, variables.bodyCurr) }}
		{{ sheet.genSkillSection( variables, 'COOL', ['Interrogation' , 'Intimidate', 'Oratory', 'Resist Torture/Drugs', 'Rhetoric', 'Streetwise'], 2, variables.coolCurr) }}
		{{ sheet.genSkillSection( variables, 'EMP', ['Animal Handler', 'Human Perception', 'Interview', 'Leadership', 'Perform' , 'Persuasion & Fast Talk', 'Seduction', 'Simper' , 'Social', 'Trance' ] , 2, variables.empCurr)}}
		{{ sheet.genSkillSection( variables, 'INT', ['Accounting','Antropology','Astrogation','Awareness/Notice','Biology' ,'Biogenetics' ,'Botany' ,'Bureaucracy' ,'Business Sense' ,'Chemistry' ,'Composition' ,'Corporate Policy' ,'Culture' ,'Diagnose Illness' ,'Education & Gen. Know.','Field Surgery','Gamble' ,'Geology' ,'Hide/Evade' ,'History' ,'Library Search' ,'Mathematics' ,'Nuscuba' ,'Pharmacology' ,'Physics' ,'Programming' ,'Psychology' ,'Shadow/Track' ,'Space Survival' ,'Stock Market' ,'Street Survival' ,'System Knowledge' ,'Tactics' ,'Teaching' ,'Underwater Survival' ,'Wilderness Survival' ,'Zoology'], 2, variables.intCurr  )}}
		<div class="col-12">
			<div class="row border border-dark pb-1 pt-1">
				<div class="d-none d-lg-block col-md-1 font-weight-bold"></div>
				<div class="col-12 col-lg-11">
					<div class="card-columns">
						{{ sheet.genSkillName('001', 'expert', variables.expert_SkillName_001, variables.expert_SkillValue_001, variables.expert_SkillIP_001, variables.expert_SkillChipped_001, variables.intCurr)}}
						{{ sheet.genSkillName('002', 'expert', variables.expert_SkillName_002, variables.expert_SkillValue_002, variables.expert_SkillIP_002, variables.expert_SkillChipped_002, variables.intCurr)}}
						{{ sheet.genSkillName('003', 'expert', variables.expert_SkillName_003, variables.expert_SkillValue_003, variables.expert_SkillIP_003, variables.expert_SkillChipped_003, variables.intCurr)}}
						{{ sheet.genSkillName('004', 'expert', variables.expert_SkillName_004, variables.expert_SkillValue_004, variables.expert_SkillIP_004, variables.expert_SkillChipped_004, variables.intCurr)}}
						{{ sheet.genSkillName('001', 'lang', variables.lang_SkillName_001, variables.lang_SkillValue_001, variables.lang_SkillIP_001, variables.lang_SkillChipped_001, variables.intCurr)}}
						{{ sheet.genSkillName('002', 'lang', variables.lang_SkillName_002, variables.lang_SkillValue_002, variables.lang_SkillIP_002, variables.lang_SkillChipped_002, variables.intCurr)}}
						{{ sheet.genSkillName('003', 'lang', variables.lang_SkillName_003, variables.lang_SkillValue_003, variables.lang_SkillIP_003, variables.lang_SkillChipped_003, variables.intCurr)}}
						{{ sheet.genSkillName('004', 'lang', variables.lang_SkillName_004, variables.lang_SkillValue_004, variables.lang_SkillIP_004, variables.lang_SkillChipped_004, variables.intCurr)}}
						{{ sheet.genSkillName('005', 'lang', variables.lang_SkillName_005, variables.lang_SkillValue_005, variables.lang_SkillIP_005, variables.lang_SkillChipped_005, variables.intCurr)}}
					</div>
				</div>
			</div>
		</div>
		{{ sheet.genSkillSection( variables, 'REF', ['Athletics','Brawling','Dance','Dodge/Escape','Driving','EVA','Fencing','Handgun','Heavy Weapon','Melee','Motorcycle','Op. Hvy. Machinery','Pilot: Deep Dive Suit[2]','Pilot: Dirigible[2]','Pilot: EVPA[2]','Pilot: Fixed Wing[2]','Pilot: Gyro[3]','Pilot: Hardshell[2]','Pilot: Hovercraft[2]','Pilot: Large Sub[2]','Pilot: Naval Ship[2]','Pilot: OTV[2]','Pilot: PA[2]','Pilot: Small Sub[2]','Pilot: Spaceplane/Shuttle[3]','Pilot: Vect. Thrust[3]','Remote System Op.[2]','Rifle','Stealth[2]','Submachinegun','Underwater Combat[2]','Underwater Heavy Weapon','Underwater Weapons','Zero-G Combat[2]','Zero-G Maneuver'], 2, variables.refCurr  )}}
		{{ sheet.genSkillSection( variables, 'TECH',['Aero Tech[2]','AV Tech[3]','Basic Tech[2]','Bio Tech','Braindance Editing','Calligraphy','Cryotank Operation','Cyberdeck Design','Cyber Tech[2]','Demolitions[2]','Disguise','Elect. Security[2]','Electronics','First Aid','Forgery','Gyro Tech[3]','Operate Mining Equip.','Origami','PA Tech[3]','Paint or Draw','Pharmaceuticals[2]','Photo & Film','Pick Lock','Pick Pocket','Play Instrument','Pressure Suit Tech','Sonar Tech','Sub Tech','Sub Tech(Large)','Sub Tech(Small)','Tattooing','Weaponsmith[2]','Wetware Design'], 2, variables.techCurr  )}}
	</div>
	<div class="row border border-dark pb-1 pt-1">
		<div class="col-12 col-lg-1 font-weight-bold">OTHER</div>
		<div class="col-12 col-lg-11">
			<div class="card-columns">
				{% for i in 1..6 %}
					{% set id= i  %}
					{% if id < 10 %}
						{% set id = '0' ~id %}
					{% endif  %}
					{{ sheet.genSkillName(id, 'other', variables['other_SkillName_'~id], variables['other_SkillValue_'~id], variables['other_SkillIP_'~id],variables['other_SkillChipped_'~id], 0)}}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row mt-1 bg-black pt-1 pb-1">
		<div class="col-6">CYBERWARE</div>
		<div class="col-5 small r">TOTAL HL</div>
		<div class="col-1 small c">{{ totalhl }}</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-12">
					<div class="card-columns">
						{% for i in 1..3 %}
							{% set classes = ''  %}
							{% if i > 1 %}
								{% set classes = 'd-none d-sm-inline-block' ~id %}
							{% endif  %}
							<div class="card {{classes}}">
								<div class="row">
									<div class="col-7 border border-dark">CYBER</div>
									<div class="col-3 border border-dark">COST</div>
									<div class="col-2 border border-dark c">HL</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card-columns">
				{% for i in 1..21 %}
					{% set id= i  %}
					{% if id < 10 %}
						{% set id = '0' ~id %}
					{% endif  %}
					{{ sheet.genCyber(id, variables['cyberName'~id], variables['cyberCost'~id], variables['cyberHL'~id])}}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row mt-1 bg-black pt-1 pb-1">
		<div class="col">WEAPONS</div>
	</div>
    {% for i in 1..20 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
	{% if (i == 1 or i // 6 == i / 6) %}
	<div class="row small">
		<div class="col-3 border border-dark">NAME</div>
		<div class="col-1 border border-dark c">TYPE</div>
		<div class="col-1 border border-dark c" title="Accuracy">WA</div>
		<div class="col-1 border border-dark c" title="Concealment">CONC</div>
		<div class="col-1 border border-dark c" title="Damage">DMG</div>
		<div class="col-1 border border-dark c" title="Shots (per Magazine)">#</div>
		<div class="col-1 border border-dark c" title="Rate of Fire">ROF</div>
		<div class="col-1 border border-dark c" title="Reliability">REL</div>
		<div class="col-1 border border-dark c" title="Range">RNG</div>
		<div class="col-1 border border-dark c" title="Available Magazines">MAGS</div>
	</div>
	{% endif %}
	{{ sheet.genWeapon(id,
		attribute(variables, 'weaponName_' ~ id),
		attribute(variables, 'weaponType_' ~ id),
		attribute(variables, 'weaponAcc_' ~ id),
		attribute(variables, 'weaponConc_' ~ id),
		attribute(variables, 'weaponDmg_' ~ id),
		attribute(variables, 'weaponShots_' ~ id),
		attribute(variables, 'weaponRof_' ~ id),
		attribute(variables, 'weaponRel_' ~ id),
		attribute(variables, 'weaponRng_' ~ id),
		attribute(variables, 'weaponMags_' ~ id),
		attribute(variables, 'weaponNote_' ~ id)
	) }}
	{% endfor %}
	<div class="row mt-1 bg-black pt-1 pb-1">
		<div class="col">ARMOR</div>
	</div>
	<div class="row small">
		<div class="col-4 border border-dark">Name</div>
		<div class="col-1 border border-dark c">HEAD</div>
		<div class="col-1 border border-dark c">TORSO</div>
		<div class="col-1 border border-dark c">RARM</div>
		<div class="col-1 border border-dark c">LARM</div>
		<div class="col-1 border border-dark c">RLEG</div>
		<div class="col-1 border border-dark c">LLEG</div>
		<div class="col-1 border border-dark c">EV</div>
		<div class="col-1 border border-dark c">Type</div>
	</div>
    {% for i in 1..5 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
	{{ sheet.genArmorLayer(id,
		attribute(variables, 'layer' ~ id ~ '_Name'),
		attribute(variables, 'layer' ~ id ~ '_Head'),
		attribute(variables, 'layer' ~ id ~ '_Torso'),
		attribute(variables, 'layer' ~ id ~ '_RArm'),
		attribute(variables, 'layer' ~ id ~ '_LArm'),
		attribute(variables, 'layer' ~ id ~ '_RLeg'),
		attribute(variables, 'layer' ~ id ~ '_LLeg'),
		attribute(variables, 'layer' ~ id ~ '_EV'),
		attribute(variables, 'layer' ~ id ~ '_Type')
	) }}
	{% endfor %}
	<div class="row pb-1"></div>
	<div class="row mt-1 bg-black pt-1 pb-1">
		<div class="col">GEAR</div>
	</div>
	<div class="row pb-1">
        {% for i in 1..32 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{{ sheet.genGear(id, attribute(variables, 'gearName_' ~ id) ) }}{% endfor %}
	</div>
	<div class="row mt-1 bg-black pt-1 pb-1">
		<div class="col">LIFEPATH</div>
	</div>
	<div class="row border border-dark">
		<div class="col-6 col-md-2">Ethnicity</div>
		<div class="col-6 col-md-4 border border-dark">
			<input type="text" id="ethnicity" name="ethnicity" placeholder="" value="{{variables.ethnicity}}" class="d-inline-block w-100">
		</div>
		<div class="col-6 col-md-2">Language</div>
		<div class="col-6 col-md-4 border border-dark">
			<input type="text" id="ethnicityLang" name="ethnicityLang" placeholder="" value="{{variables.ethnicityLang}}" class="d-inline-block w-100">
		</div>
	</div>
	<div class="row border border-dark">
		<div class="col-12 col-md-4 font-weight-bold bg-black">MOTIVATIONS</div>
	</div>
	<div class="row border border-dark small">
		<div class="col-6 col-lg-4">
			<div class="row">
				<div class="col">Personality</div>
			</div>
			<div class="row">
				<div class="col border border-dark">
					<input type="text" id="personality" name="personality" placeholder="personality" value="{{variables.personality}}" class="d-inline-block w-100">
				</div>
			</div>
		</div>
		<div class="col-6 col-lg-4">
			<div class="row">
				<div class="col">Valued Person</div>
			</div>
			<div class="row">
				<div class="col border border-dark">
					<input type="text" id="valuedPerson" name="valuedPerson" placeholder="valued person" value="{{variables.valuedPerson}}" class="d-inline-block w-100">
				</div>
			</div>
		</div>
		<div class="col-6 col-lg-4">
			<div class="row">
				<div class="col">Value Most</div>
			</div>
			<div class="row">
				<div class="col border border-dark">
					<input type="text" id="valueMost" name="valueMost" placeholder="value most" value="{{variables.valueMost}}" class="d-inline-block w-100">
				</div>
			</div>
		</div>
		<div class="col-6 col-lg-4">
			<div class="row">
				<div class="col">Feel About People</div>
			</div>
			<div class="row">
				<div class="col border border-dark">
					<input type="text" id="feelAboutPeople" name="feelAboutPeople" placeholder="feel about people" value="{{variables.feelAboutPeople}}" class="d-inline-block w-100">
				</div>
			</div>
		</div>
		<div class="col-6 col-lg-4">
			<div class="row">
				<div class="col">Valued Possession</div>
			</div>
			<div class="row">
				<div class="col border border-dark">
					<input type="text" id="valuedPossession" name="valuedPossession" placeholder="value most" value="{{variables.valuedPossession}}" class="d-inline-block w-100">
				</div>
			</div>
		</div>
	</div>
	<div class="row border border-dark">
		<div class="col-12 col-md-4 bg-black font-weight-bold">APPEARANCE</div>
	</div>
	<div class="row border border-dark">
		<div class="col-12 col-md-4">
			<div class="row">
				<div class="col">Clothes</div>
			</div>
			<div class="row">
				<div class="col border border-dark">
					<input type="text" id="clothes" name="clothes" placeholder="Clothes" value="{{variables.clothes}}" class="d-inline-block w-100">
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="row">
				<div class="col">Hairstyle</div>
			</div>
			<div class="row">
				<div class="col border border-dark">
					<input type="text" id="hairstyle" name="hairstyle" placeholder="Hairstyle" value="{{variables.hairstyle}}" class="d-inline-block w-100">
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="row">
				<div class="col">Affectations</div>
			</div>
			<div class="row">
				<div class="col border border-dark">
					<input type="text" id="affectations" name="affectations" placeholder="Affectations" value="{{variables.affectations}}" class="d-inline-block w-100">
				</div>
			</div>
		</div>
	</div>
	<div class="row border border-dark">
		<div class="col">
			<div class="row">
				<div class="col font-weight-bold bg-black">FAMILY</div>
			</div>
			<div class="row">
				<div class="col-4 col-md-2">Family Ranking</div>
				<div class="col-8 col-md-10 border border-dark"><input type="text" id="familyRanking" name="familyRanking" placeholder="Family Ranking" value="{{variables.familyRanking}}" class="d-inline-block w-100"></div>
			</div>
			<div class="row mt-1">
				<div class="col-4 col-md-2">Family Background</div>
				<div class="col-8 col-md-10"><textarea id="familyBackground" name="familyBackground" class="d-inline-block w-100">{{variables.familyBackground|trim}}</textarea></div>
			</div>
			<div class="row">
				<div class="col">Siblings</div>
			</div>
			<div class="row">
				<div class="col-3 col-md-5 border border-dark">Name</div>
				<div class="col-3 col-md-2 border border-dark">Gender</div>
				<div class="col-3 col-md-2 border border-dark">Age</div>
				<div class="col-3 col-md-3 border border-dark">Feeling</div>
			</div>
			{% for i in 1..8 %}
				{% set id = i  %}
				{% if id < 10 %}
					{% set id = '0' ~id %}
				{% endif  %}
				{{ sheet.genSibling(id, variables['sibling'~id~'name'], variables['sibling'~id~'gender'], variables['sibling'~id~'feelings'], variables['sibling'~id~'age']) }}
			{% endfor %}
		</div>
	</div>
	{{ sheet.genLifeEventsSection(variables) }}
	<br/>
</div>