<div class="gold"></div>
<div class="inside-content">
<div class="form-wrapper">
    <div class="ibox">
        <div class="ibox-content">
            <label for="name" class="col-sm-6 control-label">
                <h4 class="header-title">Name</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.name is defined ? variables.name }}"  class="form-control" id="name" name="name" placeholder="Disco Dragon" type="text" />
                <p class="description form-control-description">Monster name</p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="challenge_rating" class="col-sm-6 control-label">
                <h4 class="header-title">Challenge Rating</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.challenge_rating is defined ? variables.challenge_rating }}"  class="form-control mention" id="challenge_rating" name="challenge_rating" placeholder="1/2" type="text" />
                <p class="description form-control-description">Challenge Rating</p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="types" class="col-sm-6 control-label">
                <h4 class="header-title">Types</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.types is defined ? variables.types }}"  class="form-control mention" id="types" name="types" placeholder="Celestial, Dragon" type="text" />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="size" class="col-sm-6 control-label">
                <h4 class="header-title">Size</h4>
            </label>
            <div class="col-sm-12">
                <select   class="form-control"  id="size" name="size">
                    <option value="Tiny" {% if variables.size is defined and variables.size == "Tiny"  %}selected="selected" {% endif %}  >Tiny</option>
                    <option value="Small" {% if variables.size is defined and variables.size == "Small"  %}selected="selected" {% endif %}  >Small</option>
                    <option value="Medium" {% if variables.size is defined and variables.size == "Medium"  %}selected="selected" {% endif %}  >Medium</option>
                    <option value="Large" {% if variables.size is defined and variables.size == "Large"  %}selected="selected" {% endif %}  >Large</option>
                    <option value="Huge" {% if variables.size is defined and variables.size == "Huge"  %}selected="selected" {% endif %}  >Huge</option>
                    <option value="Gargantuan" {% if variables.size is defined and variables.size == "Gargantuan"  %}selected="selected" {% endif %}  >Gargantuan</option>
                </select>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="languages" class="col-sm-6 control-label">
                <h4 class="header-title">Languages</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.languages is defined ? variables.languages }}"  class="form-control mention" id="languages" name="languages" placeholder="Common, Dwarvish, Draconic" type="text" />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="alignment" class="col-sm-6 control-label">
                <h4 class="header-title">Alignment</h4>
            </label>
            <div class="col-sm-12">
                <select   class="form-control"  id="alignment" name="alignment">
                    <option value="Any" {% if variables.alignment is defined and variables.alignment == "Any"  %}selected="selected" {% endif %}  >Any</option>
                    <option value="Any Chaotic" {% if variables.alignment is defined and variables.alignment == "Any Chaotic"  %}selected="selected" {% endif %}  >Any Chaotic</option>
                    <option value="Any Lawful" {% if variables.alignment is defined and variables.alignment == "Any Lawful"  %}selected="selected" {% endif %}  >Any Lawful</option>
                    <option value="Any Neutral" {% if variables.alignment is defined and variables.alignment == "Any Neutral"  %}selected="selected" {% endif %}  >Any Neutral</option>
                    <option value="Any Evil" {% if variables.alignment is defined and variables.alignment == "Any Evil"  %}selected="selected" {% endif %}  >Any Evil</option>
                    <option value="Any Good" {% if variables.alignment is defined and variables.alignment == "Any Good"  %}selected="selected" {% endif %}  >Any Good</option>
                    <option value="Any Non-good" {% if variables.alignment is defined and variables.alignment == "Any Non-good"  %}selected="selected" {% endif %}  >Any Non-good</option>
                    <option value="Any Non-lawful" {% if variables.alignment is defined and variables.alignment == "Any Non-lawful"  %}selected="selected" {% endif %}  >Any Non-lawful</option>
                    <option value="Any Non-chaotic" {% if variables.alignment is defined and variables.alignment == "Any Non-chaotic"  %}selected="selected" {% endif %}  >Any Non-chaotic</option>
                    <option value="Any Non-neutral" {% if variables.alignment is defined and variables.alignment == "Any Non-neutral"  %}selected="selected" {% endif %}  >Any Non-neutral</option>
                    <option value="Chaotic Good" {% if variables.alignment is defined and variables.alignment == "Chaotic Good"  %}selected="selected" {% endif %}  >Chaotic Good</option>
                    <option value="Chaotic Neutral" {% if variables.alignment is defined and variables.alignment == "Chaotic Neutral"  %}selected="selected" {% endif %}  >Chaotic Neutral</option>
                    <option value="Chaotic Evil" {% if variables.alignment is defined and variables.alignment == "Chaotic Evil"  %}selected="selected" {% endif %}  >Chaotic Evil</option>
                    <option value="Neutral Good" {% if variables.alignment is defined and variables.alignment == "Neutral Good"  %}selected="selected" {% endif %}  >Neutral Good</option>
                    <option value="Neutral" {% if variables.alignment is defined and variables.alignment == "Neutral"  %}selected="selected" {% endif %}  >Neutral</option>
                    <option value="Neutral Evil" {% if variables.alignment is defined and variables.alignment == "Neutral Evil"  %}selected="selected" {% endif %}  >Neutral Evil</option>
                    <option value="Lawful Good" {% if variables.alignment is defined and variables.alignment == "Lawful Good"  %}selected="selected" {% endif %}  >Lawful Good</option>
                    <option value="Lawful Neutral" {% if variables.alignment is defined and variables.alignment == "Lawful Neutral"  %}selected="selected" {% endif %}  >Lawful Neutral</option>
                    <option value="Lawful Evil" {% if variables.alignment is defined and variables.alignment == "Lawful Evil"  %}selected="selected" {% endif %}  >Lawful Evil</option>
                    <option value="Unaligned" {% if variables.alignment is defined and variables.alignment == "Unaligned"  %}selected="selected" {% endif %}  >Unaligned</option>
                </select>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="description" class="col-sm-6 control-label">
                <h4 class="header-title">Description</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="description" name="description" rows="3" placeholder="">{{ variables.description is defined ? variables.description }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="suggested_environments" class="col-sm-6 control-label">
                <h4 class="header-title">Suggested Environments</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="suggested_environments" name="suggested_environments" rows="4" placeholder="">{{ variables.suggested_environments is defined ? variables.suggested_environments }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="armor_class" class="col-sm-6 control-label">
                <h4 class="header-title">Armor Class</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.armor_class is defined ? variables.armor_class }}"  class="form-control mention" id="armor_class" name="armor_class" placeholder="12" type="text" />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="hit_points" class="col-sm-6 control-label">
                <h4 class="header-title">Hit Points</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.hit_points is defined ? variables.hit_points }}"  class="form-control mention" id="hit_points" name="hit_points" placeholder="Use the [roll:2d8+4] to add the dice roller" type="text" />
                <p class="description form-control-description">14hp (2d8+4) [roll:2d8+4]</p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="strength" class="col-sm-6 control-label">
                <h4 class="header-title">Strength</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.strength is defined ? variables.strength }}"  class="form-control"  id="strength" name="strength" placeholder="" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="dexterity" class="col-sm-6 control-label">
                <h4 class="header-title">Dexterity</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.dexterity is defined ? variables.dexterity }}"  class="form-control"  id="dexterity" name="dexterity" placeholder="" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="constitution" class="col-sm-6 control-label">
                <h4 class="header-title">Constitution</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.constitution is defined ? variables.constitution }}"  class="form-control"  id="constitution" name="constitution" placeholder="" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="intelligence" class="col-sm-6 control-label">
                <h4 class="header-title">Intelligence</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.intelligence is defined ? variables.intelligence }}"  class="form-control"  id="intelligence" name="intelligence" placeholder="" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="wisdom" class="col-sm-6 control-label">
                <h4 class="header-title">Wisdom</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.wisdom is defined ? variables.wisdom }}"  class="form-control"  id="wisdom" name="wisdom" placeholder="" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="charisma" class="col-sm-6 control-label">
                <h4 class="header-title">Charisma</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.charisma is defined ? variables.charisma }}"  class="form-control"  id="charisma" name="charisma" placeholder="" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="base_movement_in_ft" class="col-sm-6 control-label">
                <h4 class="header-title">Base Movement (in ft)</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.base_movement_in_ft is defined ? variables.base_movement_in_ft }}"  class="form-control"  id="base_movement_in_ft" name="base_movement_in_ft" placeholder="30" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="fly_movement_in_ft" class="col-sm-6 control-label">
                <h4 class="header-title">Fly movement (in ft)</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.fly_movement_in_ft is defined ? variables.fly_movement_in_ft }}"  class="form-control"  id="fly_movement_in_ft" name="fly_movement_in_ft" placeholder="120" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="hover_movement_in_ft" class="col-sm-6 control-label">
                <h4 class="header-title">Hover movement (in ft)</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.hover_movement_in_ft is defined ? variables.hover_movement_in_ft }}"  class="form-control"  id="hover_movement_in_ft" name="hover_movement_in_ft" placeholder="80" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="burrow_movement_in_ft" class="col-sm-6 control-label">
                <h4 class="header-title">Burrow movement (in ft)</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.burrow_movement_in_ft is defined ? variables.burrow_movement_in_ft }}"  class="form-control"  id="burrow_movement_in_ft" name="burrow_movement_in_ft" placeholder="5" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="swim_movement_in_ft" class="col-sm-6 control-label">
                <h4 class="header-title">Swim movement (in ft)</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.swim_movement_in_ft is defined ? variables.swim_movement_in_ft }}"  class="form-control"  id="swim_movement_in_ft" name="swim_movement_in_ft" placeholder="10" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="climb_movement_in_ft" class="col-sm-6 control-label">
                <h4 class="header-title">Climb movement (in ft)</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.climb_movement_in_ft is defined ? variables.climb_movement_in_ft }}"  class="form-control"  id="climb_movement_in_ft" name="climb_movement_in_ft" placeholder="15" type="number"   />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="senses" class="col-sm-6 control-label">
                <h4 class="header-title">Senses</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="senses" name="senses" rows="2" placeholder="Darkvision, Truesight, Passive perception etc">{{ variables.senses is defined ? variables.senses }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="skills" class="col-sm-6 control-label">
                <h4 class="header-title">Skills</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="skills" name="skills" rows="5" placeholder="Acrobatics +7, Investigation +3 etc">{{ variables.skills is defined ? variables.skills }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="saving_throws" class="col-sm-6 control-label">
                <h4 class="header-title">Saving Throws</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.saving_throws is defined ? variables.saving_throws }}"  class="form-control mention" id="saving_throws" name="saving_throws" placeholder="" type="text" />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="damage_vulnerabilities" class="col-sm-6 control-label">
                <h4 class="header-title">Damage Vulnerabilities</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.damage_vulnerabilities is defined ? variables.damage_vulnerabilities }}"  class="form-control mention" id="damage_vulnerabilities" name="damage_vulnerabilities" placeholder="" type="text" />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="damage_resistances" class="col-sm-6 control-label">
                <h4 class="header-title">Damage Resistances</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.damage_resistances is defined ? variables.damage_resistances }}"  class="form-control mention" id="damage_resistances" name="damage_resistances" placeholder="" type="text" />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="damage_immunities" class="col-sm-6 control-label">
                <h4 class="header-title">Damage Immunities</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.damage_immunities is defined ? variables.damage_immunities }}"  class="form-control mention" id="damage_immunities" name="damage_immunities" placeholder="" type="text" />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="condition_immunities" class="col-sm-6 control-label">
                <h4 class="header-title">Condition Immunities</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.condition_immunities is defined ? variables.condition_immunities }}"  class="form-control mention" id="condition_immunities" name="condition_immunities" placeholder="" type="text" />
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="spellcasting" class="col-sm-6 control-label">
                <h4 class="header-title">Spellcasting</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="spellcasting" name="spellcasting" rows="5" placeholder="">{{ variables.spellcasting is defined ? variables.spellcasting }}</textarea>
                <p class="description form-control-description">Spellcasting ability, Score, Attack bonus etc</p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="cast_at_will" class="col-sm-6 control-label">
                <h4 class="header-title">Cast at will</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="cast_at_will" name="cast_at_will" rows="4" placeholder="">{{ variables.cast_at_will is defined ? variables.cast_at_will }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="cast_one_per_day" class="col-sm-6 control-label">
                <h4 class="header-title">Cast one per day</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="cast_one_per_day" name="cast_one_per_day" rows="4" placeholder="">{{ variables.cast_one_per_day is defined ? variables.cast_one_per_day }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="cast_twice_per_day" class="col-sm-6 control-label">
                <h4 class="header-title">Cast twice per day</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="cast_twice_per_day" name="cast_twice_per_day" rows="4" placeholder="">{{ variables.cast_twice_per_day is defined ? variables.cast_twice_per_day }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="cast_thrice_per_day" class="col-sm-6 control-label">
                <h4 class="header-title">Cast thrice per day</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="cast_thrice_per_day" name="cast_thrice_per_day" rows="4" placeholder="">{{ variables.cast_thrice_per_day is defined ? variables.cast_thrice_per_day }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="special_abilities" class="col-sm-6 control-label">
                <h4 class="header-title">Special Abilities</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="special_abilities" name="special_abilities" rows="6" placeholder="">{{ variables.special_abilities is defined ? variables.special_abilities }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="actions" class="col-sm-6 control-label">
                <h4 class="header-title">Actions</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="actions" name="actions" rows="10" placeholder="[b]Unarmed Strike[/b]. Melee Weapon Attack: +4 to hit, reach 5ft. one target. Hit: 6 (1d8+2) [roll:1d8+2] bludgeoning damage.">{{ variables.actions is defined ? variables.actions }}</textarea>
                <p class="description form-control-description">use [b] .. [/b] to bolden the name. Use [roll:1d10+2] (your dice roll) in order for the dice roller to be activated on the statblock   </p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="reactions" class="col-sm-6 control-label">
                <h4 class="header-title">Reactions</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="reactions" name="reactions" rows="5" placeholder="[b]Horned Parry[/b]. Once per combat the Horned Pidgeon can parry an attack using it's horns ">{{ variables.reactions is defined ? variables.reactions }}</textarea>
                <p class="description form-control-description">use [b] .. [/b] to bolden the name. Use [roll:1d10+2] (your dice roll) in order for the dice roller to be activated on the statblock   </p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="legendary_actions" class="col-sm-6 control-label">
                <h4 class="header-title">Legendary Actions</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="legendary_actions" name="legendary_actions" rows="10" placeholder="">{{ variables.legendary_actions is defined ? variables.legendary_actions }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="lair_description" class="col-sm-6 control-label">
                <h4 class="header-title">Lair Description</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="lair_description" name="lair_description" rows="5" placeholder="">{{ variables.lair_description is defined ? variables.lair_description }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="lair_actions" class="col-sm-6 control-label">
                <h4 class="header-title">Lair Actions</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="lair_actions" name="lair_actions" rows="10" placeholder="">{{ variables.lair_actions is defined ? variables.lair_actions }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="regional_effects" class="col-sm-6 control-label">
                <h4 class="header-title">Regional Effects</h4>
            </label>
            <div class="col-sm-12">
                <textarea   class="form-control mention"  id="regional_effects" name="regional_effects" rows="5" placeholder="">{{ variables.regional_effects is defined ? variables.regional_effects }}</textarea>
                <p class="description form-control-description"></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="image_gallery_id" class="col-sm-6 control-label">
                <h4 class="header-title">Image Gallery ID</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.image_gallery_id is defined ? variables.image_gallery_id }}"  class="form-control"  id="image_gallery_id" name="image_gallery_id" placeholder="123" type="number"   />
                <p class="description form-control-description">paste here the ID of the image you want to be used as the image of the item</p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="source" class="col-sm-2 control-label">
                <h4 class="header-title">source</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.source is defined ? variables.source }}"  class="form-control mention" id="source" name="source" placeholder="SRD" type="text" />
                <p class="description form-control-description">Source</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="gold"></div>