{% macro attrModifier( attr = 10 ) %}
    {% import _self as macros %}
    {% set mod = '+0' %}
	{% set mod = ((attr - 10) / 2)|round(0, 'floor') %}
	{% if mod > -1 %}{% set mod = '+' ~ mod %}{% endif %}	
    [roll:1d20{{ mod }}|{{ mod }}] 
{% endmacro %}
{% import _self as macros %}
<div class="gold"></div>
<div class="inside-content">
<div class="row">
<div class="col-12">
	{% if (variables.source|default != "") or meta.block.isSRD %}
	<p class="statblock-source" title="Source">
		{% if variables.source|default != "" %}{{ variables.source }}{% endif %}
		{% if meta.block.isSRD %}SRD{% endif %}
	</p>
	{% endif %}
    <h1><span title="Monster Name">{{variables.name}}</span>{% if variables.challenge_rating %} <span class="badge cr" title="Challenge Rating">CR: {{variables.challenge_rating}}</span>{% endif %}</h1>
</div></div>
	<div class="row">
        {% if variables.image_gallery_id|default != "" %}
		<div class="col-12 col-md-6 col-lg-8">
        {% else %}
		<div class="col-12 col-md-12">
        {% endif %}
            <div class="subheading">{{variables.size|capitalize }}{% if variables.sizer|default != "NONE" and variables.sizer|default != "" %} to {{variables.sizer|capitalize }}{% endif %} {{variables.types|lower }}, {{variables.alignment|lower }} </div>
            <div class="dndline"></div>
            <div class="statblock-stat"><strong>Armor Class:</strong> <span>{{variables.armor_class}}</span></div>
            <div class="statblock-stat"><strong>Hit Points:</strong> <span>{{variables.hit_points}}</span></div>
            <div class="statblock-stat"><strong>Speed:</strong> 
            {% if variables.base_movement_in_ft %}
                {{variables.base_movement_in_ft}} ft.
            {% endif %}
            {% if variables.fly_movement_in_ft|default != "" %}
                , <strong>fly:</strong> {{variables.fly_movement_in_ft}} ft.
            {% endif %}
            {% if variables.hover_movement_in_ft|default != "" %}
                , <strong>hover:</strong> {{variables.hover_movement_in_ft}} ft.
            {% endif %}
            {% if variables.burrow_movement_in_ft|default != "" %}
                , <strong>burrow:</strong> {{variables.burrow_movement_in_ft}} ft.
            {% endif %}
            {% if variables.swim_movement_in_ft|default != "" %}
                , <strong>swim:</strong> {{variables.swim_movement_in_ft}} ft.
            {% endif %}
            {% if variables.climb_movement_in_ft|default != "" %}
                , <strong>climb:</strong> {{variables.climb_movement_in_ft}} ft.
            {% endif %}
            </div> 
            <div class="dndline"></div>
            <div class="modifiers">
                <div class="row">
                    <div class="col-4 col-md-4 col-lg-2">
                        <div class="statblock-attribute"><h2 class="no-border c">STR</h2></div>
                        <div class="statblock-attribute"><h3>{{variables.strength|default}}{{ macros.attrModifier(variables.strength|default) }}</h3></div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-2">
                        <div class="statblock-attribute"><h2 class="no-border c">DEX</h2></div>
                        <div class="statblock-attribute"><h3>{{variables.dexterity|default}} {{ macros.attrModifier(variables.dexterity|default) }}</h3></div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-2">
                        <div class="statblock-attribute"><h2 class="no-border c">CON</h2></div>
                        <div class="statblock-attribute"><h3>{{variables.constitution|default}} {{ macros.attrModifier(variables.constitution|default) }}</h3></div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-2">
                        <div class="statblock-attribute"><h2 class="no-border c">INT</h2></div>
                        <div class="statblock-attribute"><h3>{{variables.intelligence|default}} {{ macros.attrModifier(variables.intelligence|default) }}</h3></div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-2">
                        <div class="statblock-attribute"><h2 class="no-border c">WIS</h2></div>
                        <div class="statblock-attribute"><h3>{{variables.wisdom|default}} {{ macros.attrModifier(variables.wisdom|default) }}</h3></div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-2">
                        <div class="statblock-attribute"><h2 class="no-border c">CHA</h2></div>
                        <div class="statblock-attribute"><h3>{{variables.charisma|default}} {{ macros.attrModifier(variables.charisma|default) }}</h3></div>
                    </div>
                </div>
            </div>
            <div class="dndline"></div>
            {% if variables.saving_throws|default != "" %}
                <div class="statblock-stat"><strong>Saving Throws:</strong> <span>{{variables.saving_throws}}</span></div>
            {% endif %}
            {% if variables.skills|default != "" %}
                <div class="statblock-stat"><strong>Skills:</strong> <span>{{variables.skills}}</div>
            {% endif %}
            {% if variables.damage_vulnerabilities|default != "" %}
                <div class="statblock-stat"><strong>Damage Vulnerabilities:</strong> <span>{{variables.damage_vulnerabilities}}</span></div>
            {% endif %}
            {% if variables.damage_resistances|default != "" %}
                <div class="statblock-stat"><strong>Damage Resistances:</strong> <span>{{variables.damage_resistances}}</span></div>
            {% endif %}
            {% if variables.damage_immunities|default != "" %}
                <div class="statblock-stat"><strong>Damage Immunities:</strong> <span>{{variables.damage_immunities}}</span></div>
            {% endif %}
            {% if variables.condition_immunities|default != "" %}
                <div class="statblock-stat"><strong>Condition Immunities:</strong> <span>{{variables.condition_immunities}}</span></div>
            {% endif %}
            {% if variables.senses|default != "" %}
                <div class="statblock-stat"><strong>Senses:</strong> <span>{{variables.senses}}</span></div>
            {% endif %}
            {% if variables.languages|default != "" %}
                <div class="statblock-stat"><strong>Languages:</strong> <span>{{variables.languages}}</span></div>
            {% endif %}
            {% if variables.challenge_rating|default != "" %}
                <div class="statblock-stat"><strong>Challenge Rating:</strong> {{variables.challenge_rating}}
                {% if variables.xp|default != "" %}( {{variables.xp|default}} XP)
                {% endif %}
                </div>
            {% endif %}
            {% if variables.pb|default != "" %}
                <div class="statblock-stat"><strong>Proficiency Bonus:</strong> <span>{{variables.pb}}</span></div>
            {% endif %}
        </div>
        {% if variables.image_gallery_id|default != "" %}
		<div class="col-12 col-md-6 col-lg-4">
            [img:{{ variables.image_gallery_id }}]
		</div>
        {% endif %}
    </div>
    <div class="dndline"></div>
    {% if variables.spellcasting|default != "" %}
        <div class="statblock-stat">
            <p>{{variables.spellcasting}}</p> 
        </div>
    {% endif %}
    {% if variables.cast_at_will|default != "" %}
        <p>
            <div class="statblock-stat"><strong>At will:</strong><span></span> {{variables.cast_at_will}}</span></div>
        </p>
    {% endif %}
    {% if variables.cast_one_per_day|default != "" %}
        <p>
            <div class="statblock-stat"><strong>1/day:</strong></span> {{variables.cast_one_per_day}}</span></div>
        </p>
    {% endif %}
    {% if variables.cast_twice_per_day|default != "" %}
        <p>
            <div class="statblock-stat"><strong>2/day:</strong></span> {{variables.cast_twice_per_day}}</span></div>
        </p>
    {% endif %}
    {% if variables.cast_thrice_per_day|default != "" %}
        <p>
            <div class="statblock-stat"><strong>3/day:</strong></span> {{variables.cast_thrice_per_day}}</span></div>
        </p>
    {% endif %}
    {% if variables.special_abilities|default != "" %}
        <br>
        <div class="statblock-stat">
            <p>{{variables.special_abilities}}</p> 
        </div>
    {% endif %}
    {% if variables.actions|default != "" %}
        <h2>Actions</h2>
        <p>{{variables.actions}}</p> 
    {% endif %}
    {% if variables.bonus_actions|default != "" %}
        <h2>Bonus Actions</h2>
        <p>{{variables.bonus_actions}}</p> 
    {% endif %}
    {% if variables.reactions|default != "" %}
        <h2>Reactions</h2>
        <p>{{variables.reactions}}</p> 
    {% endif %}
    {% if variables.legendary_actions|default != "" %}
        <h2>Legendary Actions</h2>
        <p>{{variables.legendary_actions}}</p> 
    {% endif %}
    {% if variables.lair_actions|default != "" %}
        <h2>Lair Actions</h2>
        <p>{{variables.lair_actions}}</p> 
    {% endif %}
    {% if variables.lair_description|default != "" %}
        <p>{{variables.lair_description}}</p> 
    {% endif %}
    {% if variables.regional_effects|default != "" %}
        <h2>Regional Effects</h2>
        <p>{{variables.regional_effects}}</p>
    {% endif %}
    {% if variables.motivation|default != "" %}
        <h2>Motivation/Compulsion</h2>
        <p>{{variables.motivation}}</p>
    {% endif %}
    {% if variables.tactics|default != "" %}
        <h2>Usual Tactics</h2>
        <p>{{variables.tactics}}</p>
    {% endif %}
    {% if variables.description|default != "" %}
        <div class="statblock-stat desc">{{variables.description}}</div>
    {% endif %}
    {% if variables.suggested_environments|default != "" %}
        <h2>Suggested Environments</h2>
        <p>{{variables.suggested_environments}}</p> 
    {% endif %}
</div>
<div class="gold"></div>