<div class="container-fluid warfare-party-sheet">
    <div class="row">
        <div class="col-12 col-lg-3 hidden-xs hidden-sm d-none d-lg-block">
			<em class="ra ra-double-team gr cc"> </em>
		</div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header">
                    <span class="partyvalue" id="name"><h2><input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the organization" type="text" /></h2></span>
                    <label class="partylabelform">Organization Name</label>
				</div>
                <div class="card-body">
                    <span class="partyvalue" id="type"><input value="{{ variables.organization_type is defined ? variables.organization_type }}" class="form-control" id="organization_type" name="organization_type" placeholder="Adventuring Party, Martial Regiment, etc." type="text" /></span>
                    <label for="type" class="partylabelform">Organization Type</label>
 					<p class="description form-control-description">Type of organization or domain. Examples: Adventuring Party, Martial Regiment, Mercantile Guild, Mystic Circle, Nature Pact, Noble Court, Religious Order, Underworld Syndicate</p>
                    <span class="partyvalue" id="spec"><input value="{{ variables.specialization is defined ? variables.specialization }}" class="form-control" id="specialization" name="specialization" placeholder="Disorganized Misfits, Explorer's Society, etc." type="text" /></span>
                    <label for="spec" class="partylabelform">Specialization</label>
					<p class="description form-control-description">Focus of the organization.</p>
                    <span class="partyvalue" id="pool"><textarea class="form-control" id="the_power_pool" name="the_power_pool" rows="3">{{ variables.the_power_pool is defined ? variables.the_power_pool }}</textarea></span>
                    <label for="pool" class="partylabelform">The Power Pool</label>
					<p class="description form-control-description">Dice rolled by the officers of the domain. </p>
				</div>
			</div>
		</div>
        <div class="col-12 col-lg-3 hidden-xs hidden-sm d-none d-lg-block">
			<em class="ra ra-double-team gr cc"> </em>
		</div>
	</div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-key"> </em> Skills</h2>
				</div>
                <div class="card-body">
					<table width="100%">
						<tr><td width="70%"><span class="partyvalue">Diplomacy Skill</td><td><select class="form-control" id="diplomacy_skill" name="diplomacy_skill">
							<option value="-1" {% if variables.diplomacy_skill is defined and variables.diplomacy_skill == "-1" %}selected="selected" {% endif %} >-1</option>
							<option value="0" {% if variables.diplomacy_skill is defined and variables.diplomacy_skill == "0" %}selected="selected" {% endif %} >0</option>
							<option value="+1" {% if variables.diplomacy_skill is defined and variables.diplomacy_skill == "+1" %}selected="selected" {% endif %} >+1</option>
							<option value="+2" {% if variables.diplomacy_skill is defined and variables.diplomacy_skill == "+2" %}selected="selected" {% endif %} >+2</option>
							<option value="+2(2)" {% if variables.diplomacy_skill is defined and variables.diplomacy_skill == "+2(2)" %}selected="selected" {% endif %} >+2(2)</option>
							<option value="+3" {% if variables.diplomacy_skill is defined and variables.diplomacy_skill == "+3" %}selected="selected" {% endif %} >+3</option>
							<option value="+3(2)" {% if variables.diplomacy_skill is defined and variables.diplomacy_skill == "+3(2)" %}selected="selected" {% endif %} >+3(2)</option>
							<option value="+3(3)" {% if variables.diplomacy_skill is defined and variables.diplomacy_skill == "+3(3)" %}selected="selected" {% endif %} >+3(3)</option>
							<option value="+4" {% if variables.diplomacy_skill is defined and variables.diplomacy_skill == "+4" %}selected="selected" {% endif %} >+4</option>
							</select>
							</span>
						</td></tr>
						<tr><td><span class="partyvalue">Espionage Skill</td><td><select class="form-control" id="espionage_skill" name="espionage_skill">
							<option value="-1" {% if variables.espionage_skill is defined and variables.espionage_skill == "-1" %}selected="selected" {% endif %} >-1</option>
							<option value="0" {% if variables.espionage_skill is defined and variables.espionage_skill == "0" %}selected="selected" {% endif %} >0</option>
							<option value="+1" {% if variables.espionage_skill is defined and variables.espionage_skill == "+1" %}selected="selected" {% endif %} >+1</option>
							<option value="+2" {% if variables.espionage_skill is defined and variables.espionage_skill == "+2" %}selected="selected" {% endif %} >+2</option>
							<option value="+2(2)" {% if variables.espionage_skill is defined and variables.espionage_skill == "+2(2)" %}selected="selected" {% endif %} >+2(2)</option>
							<option value="+3" {% if variables.espionage_skill is defined and variables.espionage_skill == "+3" %}selected="selected" {% endif %} >+3</option>
							<option value="+3(2)" {% if variables.espionage_skill is defined and variables.espionage_skill == "+3(2)" %}selected="selected" {% endif %} >+3(2)</option>
							<option value="+3(3)" {% if variables.espionage_skill is defined and variables.espionage_skill == "+3(3)" %}selected="selected" {% endif %} >+3(3)</option>
							<option value="+4" {% if variables.espionage_skill is defined and variables.espionage_skill == "+4" %}selected="selected" {% endif %} >+4</option>
							</select></span>
						</td></tr>
						<tr><td colspan=2>
							<p class="description form-control-description">Learn the secrets of other domains.</p>
						</td></tr>
						<tr><td><span class="partyvalue">Lore Skill</td><td><select class="form-control" id="lore_skill" name="lore_skill">
							<option value="-1" {% if variables.lore_skill is defined and variables.lore_skill == "-1" %}selected="selected" {% endif %} >-1</option>
							<option value="0" {% if variables.lore_skill is defined and variables.lore_skill == "0" %}selected="selected" {% endif %} >0</option>
							<option value="+1" {% if variables.lore_skill is defined and variables.lore_skill == "+1" %}selected="selected" {% endif %} >+1</option>
							<option value="+2" {% if variables.lore_skill is defined and variables.lore_skill == "+2" %}selected="selected" {% endif %} >+2</option>
							<option value="+2(2)" {% if variables.lore_skill is defined and variables.lore_skill == "+2(2)" %}selected="selected" {% endif %} >+2(2)</option>
							<option value="+3" {% if variables.lore_skill is defined and variables.lore_skill == "+3" %}selected="selected" {% endif %} >+3</option>
							<option value="+3(2)" {% if variables.lore_skill is defined and variables.lore_skill == "+3(2)" %}selected="selected" {% endif %} >+3(2)</option>
							<option value="+3(3)" {% if variables.lore_skill is defined and variables.lore_skill == "+3(3)" %}selected="selected" {% endif %} >+3(3)</option>
							<option value="+4" {% if variables.lore_skill is defined and variables.lore_skill == "+4" %}selected="selected" {% endif %} >+4</option>
							</select></span>
						</td></tr>
						<tr><td colspan=2>
							<p class="description form-control-description">Research both magical and historical knowledge.</p>
						</td></tr>
						<tr><td><span class="partyvalue">Operations Skill</td><td><select class="form-control" id="operations_skill" name="operations_skill">
							<option value="-1" {% if variables.operations_skill is defined and variables.operations_skill == "-1" %}selected="selected" {% endif %} >-1</option>
							<option value="0" {% if variables.operations_skill is defined and variables.operations_skill == "0" %}selected="selected" {% endif %} >0</option>
							<option value="+1" {% if variables.operations_skill is defined and variables.operations_skill == "+1" %}selected="selected" {% endif %} >+1</option>
							<option value="+2" {% if variables.operations_skill is defined and variables.operations_skill == "+2" %}selected="selected" {% endif %} >+2</option>
							<option value="+2(2)" {% if variables.operations_skill is defined and variables.operations_skill == "+2(2)" %}selected="selected" {% endif %} >+2(2)</option>
							<option value="+3" {% if variables.operations_skill is defined and variables.operations_skill == "+3" %}selected="selected" {% endif %} >+3</option>
							<option value="+3(2)" {% if variables.operations_skill is defined and variables.operations_skill == "+3(2)" %}selected="selected" {% endif %} >+3(2)</option>
							<option value="+3(3)" {% if variables.operations_skill is defined and variables.operations_skill == "+3(3)" %}selected="selected" {% endif %} >+3(3)</option>
							<option value="+4" {% if variables.operations_skill is defined and variables.operations_skill == "+4" %}selected="selected" {% endif %} >+4</option>
							</select></span>
						</td></tr>
						<tr><td colspan=2>
							<p class="description form-control-description">Muster new units and maintain a domain.</p>
						</td></tr>
					</table>
				</div>
			</div>
		</div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-shield"> </em> Defenses</h2>
				</div>
                <div class="card-body">
					<table width="100%">
						<tr><td width="70%"><span class="partyvalue">Size</td><td><select class="form-control" id="size" name="size">
							<option value="1" {% if variables.size is defined and variables.size == "1" %}selected="selected" {% endif %} >1</option>
							<option value="2" {% if variables.size is defined and variables.size == "2" %}selected="selected" {% endif %} >2</option>
							<option value="3" {% if variables.size is defined and variables.size == "3" %}selected="selected" {% endif %} >3</option>
							<option value="4" {% if variables.size is defined and variables.size == "4" %}selected="selected" {% endif %} >4</option>
							<option value="5" {% if variables.size is defined and variables.size == "5" %}selected="selected" {% endif %} >5</option>
							</select></span>
						</td></tr>
						<tr><td colspan=2>
							<p class="description form-control-description">How far a domain's power extends.</p>
						</td></tr>
						<tr><td><span class="partyvalue">Power Die</td><td>
							<select class="form-control" id="power_die" name="power_die">
							<option value="d4" {% if variables.power_die is defined and variables.power_die == "d4" %}selected="selected" {% endif %} >d4</option>
							<option value="d6" {% if variables.power_die is defined and variables.power_die == "d6" %}selected="selected" {% endif %} >d6</option>
							<option value="d8" {% if variables.power_die is defined and variables.power_die == "d8" %}selected="selected" {% endif %} >d8</option>
							<option value="d10" {% if variables.power_die is defined and variables.power_die == "d10" %}selected="selected" {% endif %} >d10</option>
							<option value="d12" {% if variables.power_die is defined and variables.power_die == "d12" %}selected="selected" {% endif %} >d12</option>
							</select></span>
						</td></tr>
						<tr><td colspan=2>
							<p class="description form-control-description">Once per extended rest, each officer can roll this type of dice at the start of any combat.</p>
						</td></tr>
						<tr><td><span class="partyvalue">Communications</td><td><select class="form-control" id="communications_defense" name="communications_defense">
							<option value="10" {% if variables.communications_defense is defined and variables.communications_defense == "10" %}selected="selected" {% endif %} >10</option>
							<option value="11" {% if variables.communications_defense is defined and variables.communications_defense == "11" %}selected="selected" {% endif %} >11</option>
							<option value="12" {% if variables.communications_defense is defined and variables.communications_defense == "12" %}selected="selected" {% endif %} >12</option>
							<option value="13" {% if variables.communications_defense is defined and variables.communications_defense == "13" %}selected="selected" {% endif %} >13</option>
							<option value="14" {% if variables.communications_defense is defined and variables.communications_defense == "14" %}selected="selected" {% endif %} >14</option>
							<option value="14(2)" {% if variables.communications_defense is defined and variables.communications_defense == "14(2)" %}selected="selected" {% endif %} >14(2)</option>
							<option value="15" {% if variables.communications_defense is defined and variables.communications_defense == "15" %}selected="selected" {% endif %} >15</option>
							<option value="15(2)" {% if variables.communications_defense is defined and variables.communications_defense == "15(2)" %}selected="selected" {% endif %} >15(2)</option>
							<option value="16" {% if variables.communications_defense is defined and variables.communications_defense == "16" %}selected="selected" {% endif %} >16</option>
							<option value="16(2)" {% if variables.communications_defense is defined and variables.communications_defense == "16(2)" %}selected="selected" {% endif %} >16(2)</option>
							<option value="17" {% if variables.communications_defense is defined and variables.communications_defense == "17" %}selected="selected" {% endif %} >17</option>
							<option value="17(2)" {% if variables.communications_defense is defined and variables.communications_defense == "17(2)" %}selected="selected" {% endif %} >17(2)</option>
							<option value="17(3)" {% if variables.communications_defense is defined and variables.communications_defense == "17(3)" %}selected="selected" {% endif %} >17(3)</option>
							<option value="18" {% if variables.communications_defense is defined and variables.communications_defense == "18" %}selected="selected" {% endif %} >18</option>
							</select></span>
						</td></tr>
						<tr><td colspan=2>
							<p class="description form-control-description">A measure of how rapidly and accurately information is transmitted between a domain's officers and followers.</p>
						</td></tr>
						<tr><td><span class="partyvalue">Resolve</td><td><select class="form-control" id="resolve_defense" name="resolve_defense">
							<option value="10" {% if variables.resolve_defense is defined and variables.resolve_defense == "10" %}selected="selected" {% endif %} >10</option>
							<option value="11" {% if variables.resolve_defense is defined and variables.resolve_defense == "11" %}selected="selected" {% endif %} >11</option>
							<option value="12" {% if variables.resolve_defense is defined and variables.resolve_defense == "12" %}selected="selected" {% endif %} >12</option>
							<option value="13" {% if variables.resolve_defense is defined and variables.resolve_defense == "13" %}selected="selected" {% endif %} >13</option>
							<option value="14" {% if variables.resolve_defense is defined and variables.resolve_defense == "14" %}selected="selected" {% endif %} >14</option>
							<option value="14(2)" {% if variables.resolve_defense is defined and variables.resolve_defense == "14(2)" %}selected="selected" {% endif %} >14(2)</option>
							<option value="15" {% if variables.resolve_defense is defined and variables.resolve_defense == "15" %}selected="selected" {% endif %} >15</option>
							<option value="15(2)" {% if variables.resolve_defense is defined and variables.resolve_defense == "15(2)" %}selected="selected" {% endif %} >15(2)</option>
							<option value="16" {% if variables.resolve_defense is defined and variables.resolve_defense == "16" %}selected="selected" {% endif %} >16</option>
							<option value="16(2)" {% if variables.resolve_defense is defined and variables.resolve_defense == "16(2)" %}selected="selected" {% endif %} >16(2)</option>
							<option value="17" {% if variables.resolve_defense is defined and variables.resolve_defense == "17" %}selected="selected" {% endif %} >17</option>
							<option value="17(2)" {% if variables.resolve_defense is defined and variables.resolve_defense == "17(2)" %}selected="selected" {% endif %} >17(2)</option>
							<option value="17(3)" {% if variables.resolve_defense is defined and variables.resolve_defense == "17(3)" %}selected="selected" {% endif %} >17(3)</option>
							<option value="18" {% if variables.resolve_defense is defined and variables.resolve_defense == "18" %}selected="selected" {% endif %} >18</option>
							</select></span>
						</td></tr>
						<tr><td colspan=2>
							<p class="description form-control-description">The commitment that domain followers have to its cause.</p>
						</td></tr>
						<tr><td><span class="partyvalue">Resources</td><td><select class="form-control" id="resources_defense" name="resources_defense">
							<option value="10" {% if variables.resources_defense is defined and variables.resources_defense == "10" %}selected="selected" {% endif %} >10</option>
							<option value="11" {% if variables.resources_defense is defined and variables.resources_defense == "11" %}selected="selected" {% endif %} >11</option>
							<option value="12" {% if variables.resources_defense is defined and variables.resources_defense == "12" %}selected="selected" {% endif %} >12</option>
							<option value="13" {% if variables.resources_defense is defined and variables.resources_defense == "13" %}selected="selected" {% endif %} >13</option>
							<option value="14" {% if variables.resources_defense is defined and variables.resources_defense == "14" %}selected="selected" {% endif %} >14</option>
							<option value="14(2)" {% if variables.resources_defense is defined and variables.resources_defense == "14(2)" %}selected="selected" {% endif %} >14(2)</option>
							<option value="15" {% if variables.resources_defense is defined and variables.resources_defense == "15" %}selected="selected" {% endif %} >15</option>
							<option value="15(2)" {% if variables.resources_defense is defined and variables.resources_defense == "15(2)" %}selected="selected" {% endif %} >15(2)</option>
							<option value="16" {% if variables.resources_defense is defined and variables.resources_defense == "16" %}selected="selected" {% endif %} >16</option>
							<option value="16(2)" {% if variables.resources_defense is defined and variables.resources_defense == "16(2)" %}selected="selected" {% endif %} >16(2)</option>
							<option value="17" {% if variables.resources_defense is defined and variables.resources_defense == "17" %}selected="selected" {% endif %} >17</option>
							<option value="17(2)" {% if variables.resources_defense is defined and variables.resources_defense == "17(2)" %}selected="selected" {% endif %} >17(2)</option>
							<option value="17(3)" {% if variables.resources_defense is defined and variables.resources_defense == "17(3)" %}selected="selected" {% endif %} >17(3)</option>
							<option value="18" {% if variables.resources_defense is defined and variables.resources_defense == "18" %}selected="selected" {% endif %} >18</option>
							</select></span>
						</td></tr>
						<tr><td colspan=2>
							<p class="description form-control-description">The wealth of a domain.</p>
						</td></tr>
					</table>
				</div>
			</div>
		</div>
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-aura"> </em> Domain Powers</h2>
				</div>
                <div class="card-body">
					<textarea class="form-control" id="domain_powers" name="domain_powers" rows="3">{{ variables.domain_powers is defined ? variables.domain_powers }}</textarea>
					<br><p class="description form-control-description">Name and descriptions of powers granted by domain and specialization.</p>
				</div>
			</div>
		</div>
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-scroll-unfurled"> </em> Domain Titles</h2>
				</div>
                <div class="card-body">
					<textarea class="form-control" id="domain_titles" name="domain_titles" rows="3">{{ variables.domain_titles is defined ? variables.domain_titles }}</textarea>
					<br><p class="description form-control-description">Titles granted to officers in the organization.</p>
				</div>
			</div>
		</div>
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-three-keys"> </em> Domain Features</h2>
				</div>
                <div class="card-body">
					<textarea class="form-control" id="domain_features" name="domain_features" rows="3">{{ variables.domain_features is defined ? variables.domain_features }}</textarea>
					<br><p class="description form-control-description">Name and descriptions of features granted by domain and specialization.</p>
				</div>
			</div>
		</div>
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-quill-ink"> </em> Notes</h2>
				</div>
                <div class="card-body">
					<textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>