<div class="container-fluid warfare-party-sheet">
    <div class="row">
        <div class="col-12 col-lg-3 hidden-xs hidden-sm d-none d-lg-block">
			<em class="ra ra-double-team gr cc"> </em>
		</div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header">
                    <span class="partyvalue" id="name"><h2>{{ variables.name|default('unnamed') }}</h2></span>
                    <label class="partylabel">Organization Name</label>
				</div>
                <div class="card-body">
                    <span class="partyvalue" id="type">{{ variables.organization_type|default('unknown') }}</span>
                    <label for="type" class="partylabel">Organization Type</label>
                    <span class="partyvalue" id="spec">{{ variables.specialization|default('') }}</span>
                    <label for="spec" class="partylabel">Specialization</label>
                    <span class="partyvalue" id="pool">{{ variables.the_power_pool|default('') }}</span>
                    <label for="pool" class="partylabel">The Power Pool</label>
				</div>
			</div>
		</div>
        <div class="col-12 col-lg-3 hidden-xs hidden-sm d-none d-lg-block">
			<em class="ra ra-double-team gr cc"> </em>
		</div>
	</div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-key"> </em> Skills</h2>
				</div>
                <div class="card-body">
							<table width="100%">
							<tr><td width="80%"><span class="partyvalue">Diplomacy Skill</td><td class="r">{{ variables.diplomacy_skill|default('0') }}</span></td></tr>
							<tr><td><span class="partyvalue">Espionage Skill</td><td class="r">{{ variables.espionage_skill|default('0') }}</span></td></tr>
							<tr><td><span class="partyvalue">Lore Skill</td><td class="r">{{ variables.lore_skill|default('0') }}</span></td></tr>
							<tr><td><span class="partyvalue">Operations Skill</td><td class="r">{{ variables.operations_skill|default('0') }}</span></td></tr>
							</table>
				</div>
			</div>
		</div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-shield"> </em> Defenses</h2>
				</div>
                <div class="card-body">
							<table width="100%">
							<tr><td width="80%"><span class="partyvalue">Size</td><td class="r">{{ variables.size|default('0') }}</span></td></tr>
							<tr><td><span class="partyvalue">Power Die</td><td class="r">[roll:{{ variables.power_die|default('0') }}|{{ variables.power_die|default('0') }}]</span></td></tr>
							<tr><td><span class="partyvalue">Communications</td><td class="r">{{ variables.communications_defense|default('0') }}</span></td></tr>
							<tr><td><span class="partyvalue">Resolve</td><td class="r">{{ variables.resolve_defense|default('0') }}</span></td></tr>
							<tr><td><span class="partyvalue">Resources</td><td class="r">{{ variables.resources_defense|default('0') }}</span></td></tr>
							</table>
				</div>
			</div>
		</div>
		{% if variables.domain_powers is defined and variables.domain_powers != '' %}
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-aura"> </em> Domain Powers</h2>
				</div>
                <div class="card-body">
					{{variables.domain_powers|default('')|nl2br}}
				</div>
			</div>
		</div>
		{% endif %}
		{% if variables.domain_titles is defined and variables.domain_titles != '' %}
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-scroll-unfurled"> </em> Domain Titles</h2>
				</div>
                <div class="card-body">
					{{variables.domain_titles|default('')|nl2br}}
				</div>
			</div>
		</div>
		{% endif %}
		{% if variables.domain_features is defined and variables.domain_features != '' %}
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-three-keys"> </em> Domain Features</h2>
				</div>
                <div class="card-body">
					{{variables.domain_features|default('')|nl2br}}
				</div>
			</div>
		</div>
		{% endif %}
		{% if variables.notes is defined and variables.notes != '' %}
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header">
                    <h2><em class="ra ra-quill-ink"> </em> Notes</h2>
				</div>
                <div class="card-body">
					{{variables.notes|default('')|nl2br}}
				</div>
			</div>
		</div>
		{% endif %}
	</div>
        <div class="col-12 col-xs-12 cc">
<small>Kingdoms &amp; Warfare Party Sheet &copy; by Matthew Colville, MCDM Productions<br>
Converted to WA by kitoypoy and Tillerz</small>
	</div>
</div>