{% macro renderDots( attr, total = 5 ) %}
    {% import _self as macros %}
    {% if attr > 0 %}
        {% set max = attr - 1 %}
        {% for i in range(0, max ) %}
            <i class="fas fa-circle mr-1 text-red"></i>
        {% endfor %}
        {% if attr < total  %}
            {% set subtotal = total - 1 %}
            {% for i in range( attr, subtotal ) %}
                <i class="far fa-circle mr-1 text-red"></i>
            {% endfor %}
        {% endif %}
    {% else %}
            <i class="far fa-circle mr-1 text-red"></i>
            <i class="far fa-circle mr-1 text-red"></i>
            <i class="far fa-circle mr-1 text-red"></i>
            <i class="far fa-circle mr-1 text-red"></i>
            <i class="far fa-circle mr-1 text-red"></i>
    {% endif %}
{% endmacro %}
{% macro printKeyValue(key , value ) %}
    {% import _self as macros %}
    <div class="row"><div class="col-6"><span class="sheet-key">{{ key }}</span></div><div class="col-6"><span class="sheet-value">{{ macros.renderDots( value ) }}</span></div></div>
{% endmacro %}
{% import _self as macros %}
<div class="row">
    <div class="col-md-12 text-center mb-3">
        <img class="system-logo" src="http:/images.wikia.com/whitewolf/images/1/1b/VampireRequiemLogo.png" />
    </div>
</div>
{# Header #}
<div class="row">   
	<!-- Left Column -->
	<div class="col-md-4">
    	<div class="sheet-key-value row">
        	<div class="col-6 sheet-key">Name</div>
        	<div class="col-6 sheet-value">
            	{% if variables.name is defined %} {{ variables.name }} {% endif %}
            </div>
        </div>
    	<div class="sheet-key-value row">
        	<div class="col-6 sheet-key">Player</div>
        	<div class="col-6 sheet-value">
            	{% if variables.player is defined %} {{ variables.player }} {% endif %}
           </div>
        </div>
    	<div class="sheet-key-value row">
        	<div class="col-6 sheet-key">Chronicle</div>
        	<div class="col-6 sheet-value">
            	{% if variables.chronicle is defined %} {{ variables.chronicle }} {% endif %}
           </div>
        </div>
    </div>
	<!-- Center Column -->
	<div class="col-md-4">
    	<div class="sheet-key-value row">
        	<div class="col-6 sheet-key">Virtue</div>
        	<div class="col-6 sheet-value">
            	{% if variables.virtue is defined %} {{ variables.virtue }} {% endif %}
           </div>
        </div>
    	<div class="sheet-key-value row">
        	<div class="col-6 sheet-key">Vice</div>
        	<div class="col-6 sheet-value">
            	{% if variables.vices is defined %} {{ variables.vices }} {% endif %}
           </div>
        </div>
    	<div class="sheet-key-value row">
        	<div class="col-6 sheet-key">Concept</div>
        	<div class="col-6 sheet-value">
            	{% if variables.concept is defined %} {{ variables.concept }} {% endif %}
           </div>
        </div>
    </div>
	<!-- Right Column -->
	<div class="col-md-4">
    	<div class="sheet-key-value row">
        	<div class="col-6 sheet-key">Clan</div>
        	<div class="col-6 sheet-value">
            	{% if variables.clan is defined %} {{ variables.clan }} {% endif %}
           </div>
        </div>
    	<div class="sheet-key-value row">
        	<div class="col-6 sheet-key">Bloodline</div>
        	<div class="col-6 sheet-value">
            	{% if variables.bloodline is defined %} {{ variables.bloodline }} {% endif %}
           </div>
        </div>
    	<div class="sheet-key-value row">
        	<div class="col-6 sheet-key">Covenant</div>
        	<div class="col-6 sheet-value">
            	{% if variables.covenant is defined %} {{ variables.covenant }} {% endif %}
           </div>
        </div> 
    </div>
</div>
{# Attributes #}
<div class="row mt-4">
    <div class="col-md-12 text-center">
        <h2>Attributes</h2>
    </div>
    <div class="col-md-4">
        <div class="row"><div class="col-md-12">{{ macros.printKeyValue('intelligence'|capitalize , variables.intelligence ) }}</div></div>
        <div class="row"><div class="col-md-12">{{ macros.printKeyValue('wits'|capitalize , variables.wits ) }}</div></div>
        <div class="row"><div class="col-md-12">{{ macros.printKeyValue('resolve'|capitalize , variables.resolve ) }}</div></div>
    </div>
    <div class="col-md-4">
        <div class="row"><div class="col-md-12">{{ macros.printKeyValue('strength'|capitalize , variables.strength ) }}</div></div>
        <div class="row"><div class="col-md-12">{{ macros.printKeyValue('dexterity'|capitalize , variables.dexterity ) }}</div></div>
        <div class="row"><div class="col-md-12">{{ macros.printKeyValue('stamina'|capitalize , variables.stamina ) }}</div></div>
    </div>
    <div class="col-md-4">
        <div class="row"><div class="col-md-12">{{ macros.printKeyValue('presense'|capitalize , variables.presense ) }}</div></div>
        <div class="row"><div class="col-md-12">{{ macros.printKeyValue('manipulation'|capitalize , variables.manipulation ) }}</div></div>
        <div class="row"><div class="col-md-12">{{ macros.printKeyValue('composure'|capitalize , variables.composure ) }}</div></div>
    </div>
</div>
{# Skills and Other Traits Row #}
<div class="row mt-4">
    {# Skills Column #}
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 text-center"><h2>Mental<small>(-3 Unskilled)</small></h2></div>
            {# Skills Mental #}
            <div class="col-md-12">{{ macros.printKeyValue('Academics', variables.academics ) }} {{ macros.printKeyValue('Crafts', variables.crafts ) }} {{ macros.printKeyValue('Computer', variables.computer ) }} {{ macros.printKeyValue('Investigation', variables.investigation ) }} {{ macros.printKeyValue('Medicine', variables.medicine ) }} {{ macros.printKeyValue('Occult', variables.occult ) }} {{ macros.printKeyValue('Politics', variables.politics ) }} {{ macros.printKeyValue('Science', variables.science ) }}</div>
            <div class="col-md-12 text-center"><h2>Physical<small>(-1 Unskilled)</small></h2></div>
            {# Skills Physical #}
            <div class="col-md-12">{{ macros.printKeyValue('athletics'|capitalize , variables.athletics ) }} {{ macros.printKeyValue('brawl'|capitalize, variables.brawl ) }} {{ macros.printKeyValue('drive'|capitalize, variables.drive ) }} {{ macros.printKeyValue('firearms'|capitalize, variables.firearms ) }} {{ macros.printKeyValue('larceny'|capitalize, variables.larceny ) }} {{ macros.printKeyValue('stealth'|capitalize, variables.stealth ) }} {{ macros.printKeyValue('survival'|capitalize, variables.survival ) }} {{ macros.printKeyValue('weaponry'|capitalize, variables.weaponry ) }}</div>
            <div class="col-md-12 text-center"><h2>Social<small>(-1 Unskilled)</small></h2></div>
            {# Social Row #}
            <div class="col-md-12">{{ macros.printKeyValue('animal ken'|capitalize , variables.animal_ken ) }} {{ macros.printKeyValue('empathy'|capitalize , variables.empathy ) }} {{ macros.printKeyValue('expression'|capitalize , variables.expression ) }} {{ macros.printKeyValue('intimidation'|capitalize , variables.intimidation ) }} {{ macros.printKeyValue('persuasion'|capitalize , variables.persuasion ) }} {{ macros.printKeyValue('socialize'|capitalize , variables.socialize ) }} {{ macros.printKeyValue('streetwise'|capitalize , variables.streetwise ) }} {{ macros.printKeyValue('subterfuge'|capitalize , variables.subterfuge ) }}</div>
        </div>
    </div>    
    {# Disciplines / Merits / Flaws & Weakness #}
    <div class="col-md-4">
        <h2 class="text-center">Disciplines</h2>
            {% if variables.discipline_name_1 is defined and variables.discipline_name_1|length > 0 %}{{ macros.printKeyValue( variables.discipline_name_1|capitalize , variables.discipline_value_1 ) }}{% endif %}
            {% if variables.discipline_name_2 is defined and variables.discipline_name_2|length > 0 %}{{ macros.printKeyValue( variables.discipline_name_2|capitalize , variables.discipline_value_2 ) }}{% endif %}
            {% if variables.discipline_name_3 is defined and variables.discipline_name_3|length > 0 %}{{ macros.printKeyValue( variables.discipline_name_3|capitalize , variables.discipline_value_3 ) }}{% endif %}
            {% if variables.discipline_name_4 is defined and variables.discipline_name_4|length > 0 %}{{ macros.printKeyValue( variables.discipline_name_4|capitalize , variables.discipline_value_4 ) }}{% endif %}
            {% if variables.discipline_name_5 is defined and variables.discipline_name_5|length > 0 %}{{ macros.printKeyValue( variables.discipline_name_5|capitalize , variables.discipline_value_5 ) }}{% endif %}
            {% if variables.discipline_name_6 is defined and variables.discipline_name_6|length > 0 %}{{ macros.printKeyValue( variables.discipline_name_6|capitalize , variables.discipline_value_6 ) }}{% endif %}
        <h2 class="text-center">Merits</h2>
            {% if variables.merit_name_1 is defined and variables.merit_name_1|length > 0 %}{{ macros.printKeyValue( variables.merit_name_1|capitalize , variables.merit_value_1 ) }}{% endif %}
            {% if variables.merit_name_2 is defined and variables.merit_name_2|length > 0 %}{{ macros.printKeyValue( variables.merit_name_2|capitalize , variables.merit_value_2 ) }}{% endif %}
            {% if variables.merit_name_3 is defined and variables.merit_name_3|length > 0 %}{{ macros.printKeyValue( variables.merit_name_3|capitalize , variables.merit_value_3 ) }}{% endif %}
            {% if variables.merit_name_4 is defined and variables.merit_name_4|length > 0 %}{{ macros.printKeyValue( variables.merit_name_4|capitalize , variables.merit_value_4 ) }}{% endif %}
            {% if variables.merit_name_5 is defined and variables.merit_name_5|length > 0 %}{{ macros.printKeyValue( variables.merit_name_5|capitalize , variables.merit_value_5 ) }}{% endif %}
            {% if variables.merit_name_6 is defined and variables.merit_name_6|length > 0 %}{{ macros.printKeyValue( variables.merit_name_6|capitalize , variables.merit_value_6 ) }}{% endif %}
        {% if variables.flaws is defined and variables.flaws|length > 0 %} 
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Flaws</h2>
                    <p class="text-center">{{ variables.flaws }}</p>
                </div>
            </div>
        {% endif %}
        {% if variables.clan_weakness is defined and variables.clan_weakness|length > 0 %} 
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Class Weakness</h2>
                    <p class="text-center">{{ variables.clan_weakness }}</p>
                </div>
            </div>
        {% endif %}
    </div>
    {# Health, Willpower, Vitae etc #}
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-center">Health</h2>
                {% set health = variables.size + variables.stamina %}
                {{ macros.renderDots( health, 12 ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-center">Willpower</h2>
                {% set willpower = variables.resolve + variables.composure %}
                {{ macros.renderDots( willpower, 10 ) }}
            </div>
        </div>  
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-center">Blood Potency</h2>
                {{ macros.renderDots( variables.blood_potency, 10 ) }}
            </div>
        </div>   
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-center">Vitae</h2>
                {{ macros.renderDots( variables.vitae, 20 ) }}
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-center">Humanity</h2>
                {{ macros.renderDots( variables.humanity, 10 ) }}
            </div>
        </div>
        <div class="box-extras">
            <div class="row">
                <div class="col-md-12">
                    <strong class="secondary-key">Size:</strong> <span class="secondary-value">{{ variables.size }}</span>
                </div>
            </div>     
            <div class="row">
                <div class="col-md-12 ">
                    <strong class="secondary-key">Speed:</strong> <span class="secondary-value">{{ variables.speed }}</span>
                </div>
            </div>         
            <div class="row">
                <div class="col-md-12">
                    <strong class="secondary-key">Defense:</strong> <span class="secondary-value">{{ variables.defense }}</span>
                </div>
            </div>   
            <div class="row">
                <div class="col-md-12 ">
                    <strong class="secondary-key">Armor:</strong> <span class="secondary-value">{{ variables.armor }}</span>
                </div>
            </div>   
            <div class="row">
                <div class="col-md-12 ">
                    <strong class="secondary-key">Experience:</strong> <span class="secondary-value">{{ variables.experience }}</span>
                </div>
            </div>
        </div>
    </div>
</div>