{% macro printKeyValue(key , value ) %}
    {% import _self as macros %}
    <div class="sheet-key-value row">
        <div class="col-6 sheet-key">{{ key|replace({'_':' '})|capitalize }}</div>
        <div class="col-6 sheet-value">
            <input class="form-control" type="number" min="0" max="10" value="{{ value is defined ? value }}" name="{{key}}" />
       </div>
    </div>
{% endmacro %}


{% macro printTypeNumber( type, number, variables ) %}
    <div class="sheet-key-value row">
        <div class="col-8 sheet-key">
            <input placeholder="{{ type|capitalize }} name" class="form-control" type="text" value="{{ 
            attribute( variables, type ~ '_name_' ~ number) is defined ? attribute( variables, type ~ '_name_' ~ number) }}" name="{{ type ~ '_name_' ~ number }}" />
        </div>
        <div class="col-4 sheet-value">
            <input placeholder="{{ type|capitalize }} dots" class="form-control" type="number" min="0" max="10" value="{{ 
            attribute( variables, type ~ '_value_' ~ number) is defined ? attribute( variables, type ~ '_value_' ~ number) }}" name="{{ type ~ '_value_' ~ number }}" />
       </div>
    </div>
{% endmacro %}



{% import _self as macros %}


<div class="full-sheet">
    {# Header #}
    <div class="row">   
        <!-- Left Column -->
        <div class="col-md-4">
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Name</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.name is defined ? variables.name }}" name="name" required="required" />
                </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Player</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.player is defined ? variables.player }}" name="player" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Chronicle</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.chronicle is defined ? variables.chronicle }}" name="chronicle" />
               </div>
            </div>
        </div>
        <!-- Center Column -->
        <div class="col-md-4">
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Virtue</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.virtue is defined ? variables.virtue }}" name="virtue" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Vice</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.vices is defined ? variables.vices }}" name="vices" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Concept</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.concept is defined ? variables.concept }}" name="concept" />
               </div>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-4">
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Clan</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.clan is defined ? variables.clan }}" name="clan" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Bloodline</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.bloodline is defined ? variables.bloodline }}" name="bloodline" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Covenant</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.covenant is defined ? variables.covenant }}" name="covenant" />
               </div>
            </div> 
        </div>
    </div>
    {# Attributes #}
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <h2>Attributes</h2>
        </div>
        <div class="col-md-4">
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('intelligence' , variables.intelligence is defined ? variables.intelligence ) }}
            </div></div>
           <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('wits' , variables.wits is defined ? variables.wits ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('resolve' , variables.resolve is defined ? variables.resolve ) }}
            </div></div>
        </div>
        <div class="col-md-4">
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('strength' , variables.strength is defined ? variables.strength ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('dexterity' , variables.dexterity is defined ? variables.dexterity ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('stamina' , variables.stamina is defined ? variables.stamina ) }}
            </div></div>
        </div>
        <div class="col-md-4">
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('presense' , variables.presense is defined ? variables.presense ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('manipulation' , variables.manipulation is defined ? variables.manipulation ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('composure' , variables.composure is defined ? variables.composure ) }}
            </div></div>
        </div>
    </div>
    {# Skills and Other Traits Row #}
    <div class="row mt-4">
        {# Skills Column #}
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 text-center"><h2>Mental</h2></div>
                {# Skills Mental #}
                <div class="col-md-12">
                    {{ macros.printKeyValue('academics' , variables.academics is defined ? variables.academics ) }}
                    {{ macros.printKeyValue('crafts' , variables.crafts is defined ? variables.crafts ) }}
                    {{ macros.printKeyValue('computer' , variables.computer is defined ? variables.computer ) }}
                    {{ macros.printKeyValue('investigation' , variables.investigation is defined ? variables.investigation ) }}
                    {{ macros.printKeyValue('medicine' , variables.medicine is defined ? variables.medicine ) }}
                    {{ macros.printKeyValue('occult' , variables.occult is defined ? variables.occult ) }}
                    {{ macros.printKeyValue('politics' , variables.politics is defined ? variables.politics ) }}
                    {{ macros.printKeyValue('science' , variables.science is defined ? variables.science ) }}
                </div>
                <div class="col-md-12 text-center"><h2>Physical</h2></div>
                {# Skills Physical #}
                <div class="col-md-12">
                    {{ macros.printKeyValue('athletics' , variables.athletics is defined ? variables.athletics ) }}
                    {{ macros.printKeyValue('brawl' , variables.brawl is defined ? variables.brawl ) }}
                    {{ macros.printKeyValue('drive' , variables.drive is defined ? variables.drive ) }}
                    {{ macros.printKeyValue('firearms' , variables.firearms is defined ? variables.firearms ) }}
                    {{ macros.printKeyValue('larceny' , variables.larceny is defined ? variables.larceny ) }}
                    {{ macros.printKeyValue('stealth' , variables.stealth is defined ? variables.stealth ) }}
                    {{ macros.printKeyValue('survival' , variables.survival is defined ? variables.survival ) }}
                    {{ macros.printKeyValue('weaponry' , variables.weaponry is defined ? variables.weaponry ) }}
                </div>
                <div class="col-md-12 text-center"><h2>Social</h2></div>
                {# Social Row #}
                <div class="col-md-12">
                    {{ macros.printKeyValue('animal_ken' , variables.animal_ken is defined ? variables.animal_ken ) }}
                    {{ macros.printKeyValue('empathy' , variables.empathy is defined ? variables.empathy ) }}
                    {{ macros.printKeyValue('expression' , variables.expression is defined ? variables.expression ) }}
                    {{ macros.printKeyValue('intimidation' , variables.intimidation is defined ? variables.intimidation ) }}
                    {{ macros.printKeyValue('persuasion' , variables.persuasion is defined ? variables.persuasion ) }}
                    {{ macros.printKeyValue('socialize' , variables.composure is defined ? variables.composure ) }}
                    {{ macros.printKeyValue('streetwise' , variables.streetwise is defined ? variables.streetwise ) }}
                    {{ macros.printKeyValue('subterfuge' , variables.subterfuge is defined ? variables.subterfuge ) }}
                </div>
            </div>
        </div>    
        {# Disciplines / Merits / Flaws & Weakness #}
        <div class="col-md-4">
            <h2 class="text-center">Disciplines</h2>
            {{ macros.printTypeNumber('discipline', 1, variables ) }}
            {{ macros.printTypeNumber('discipline', 2, variables ) }}
            {{ macros.printTypeNumber('discipline', 3, variables ) }}
            {{ macros.printTypeNumber('discipline', 4, variables ) }}
            {{ macros.printTypeNumber('discipline', 5, variables ) }}
            {{ macros.printTypeNumber('discipline', 6, variables ) }}
            <h2 class="text-center">Merits</h2>
            {{ macros.printTypeNumber('merit', 1, variables ) }}
            {{ macros.printTypeNumber('merit', 2, variables ) }}
            {{ macros.printTypeNumber('merit', 3, variables ) }}
            {{ macros.printTypeNumber('merit', 4, variables ) }}
            {{ macros.printTypeNumber('merit', 5, variables ) }}
            {{ macros.printTypeNumber('merit', 6, variables ) }}

            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Flaws</h2>
                    <textarea class="form-control" name="flaws" id="flaws" rows="5">{{ variables.flaws is defined ? variables.flaws }}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Class Weakness</h2>
                    <textarea class="form-control" name="weakness" id="weakness" rows="3">{{ variables.weakness is defined ? variables.weakness }}</textarea>
                </div>
            </div>
        </div>
        {# Health, Willpower, Vitae etc #}
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Blood Potency</h2>
                    <input class="form-control" type="number" value="{{ variables.blood_potency is defined ? variables.blood_potency }}" name="blood_potency" />
                </div>
            </div>   
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Vitae</h2>
                    <input class="form-control" type="number" value="{{ variables.vitae is defined ? variables.vitae }}" name="vitae" />
                </div>
            </div>    
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Humanity</h2>
                    <input class="form-control" type="number" value="{{ variables.humanity is defined ? variables.humanity }}" name="humanity" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Size</h2>
                    <input class="form-control" type="number" value="{{ variables.size is defined ? variables.size }}" name="size" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Speed</h2>
                    <input class="form-control" type="number" value="{{ variables.speed is defined ? variables.speed }}" name="speed" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Defense</h2>
                    <input class="form-control" type="number" value="{{ variables.defense is defined ? variables.defense }}" name="defense" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Armor</h2>
                    <input class="form-control" type="text" value="{{ variables.armor is defined ? variables.armor }}" name="armor" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Experience</h2>
                    <input class="form-control" type="text" value="{{ variables.experience is defined ? variables.experience }}" name="experience" />
                </div>
            </div>
     
        </div>
    </div>
</div>