{% macro displayClassLevelBadge(dataString) %}
        {% set dataRows = dataString|trim |split(';') %} 
        {% for dataStringRow in dataRows %}
            {% if dataStringRow is defined and dataStringRow|length > 0 %}
                    {% set valueTab = dataStringRow|trim |split('|') %} 
                    <span class="character-level">{{ valueTab[1] }}-Level</span>
                    <span class="character-class">{{ valueTab[0] }}</span>
            {% endif %}
        {% endfor %}
{% endmacro %}
{% import _self as macros %}
<div class="pathfinder-character-badge text-center">
<strong>{{ variables.alignement}} {{ variables.race}}</strong><br>
{{ macros.displayClassLevelBadge(variables.class_and_level) }} 
</div>