<div class="container-fluid pf2-rpg">
	<div class="pf2-monster-sheet pf2-monster-sheet-form col-12">
		<div class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header pf-red-bg">Name: <input value="{{variables.name is defined ? variables.name }}" required="required" class="form-control form-medium" id="name" name="name" placeholder="The name of the Monster / NPC" type="text" /></div>
				<div class="card-body txt">
					<div class="row">
                        <table class="table table-striped">
                             <tr><th width="20%">Level</th><td><input value="{{variables.level is defined ? variables.level }}" class="form-control" id="level" name="level" placeholder="eg 1, 2, 20" type="text" /></td></tr>
                             <tr><th>Rarity</th><td><span class="rarity trait-form"><input value="{{variables.rarity is defined ? variables.rarity }}" class="form-control" id="rarity" name="rarity" placeholder="eg uncommon, rare" type="text" /></span></td></tr>
                             <tr><th>Alignment</th><td><span class="alignment trait-form"><input value="{{variables.alignment is defined ? variables.alignment }}" class="form-control" id="alignment" name="alignment" placeholder="eh CN, LE, CG, NG" type="text" /></span></td></tr>
                             <tr><th>Size</th><td><span class="size trait-form"><input value="{{variables.size is defined ? variables.size }}" class="form-control" id="size" name="size" placeholder="eg tiny, normal, large" type="text" /></span></td></tr>
                             <tr><th>Traits</th><td><span class="trait trait-form"><input value="{{variables.traits is defined ? variables.traits }}" class="form-control" id="traits" name="traits" placeholder="eg beast, amphibious, monitor, aeon, abberation, celestial" type="text" /></span></td></tr>
                            <tr><th>About</th><td><textarea class="form-control" id="about" name="about" rows="5">{{variables.about is defined ? variables.about }}</textarea></td></tr>
                            <tr><th>Perception</th><td><input value="{{variables.perception is defined ? variables.perception }}" class="form-control" id="perception" name="perception" type="text" /></td></tr>
                            <tr><th>Languages</th><td><input value="{{variables.languages is defined ? variables.languages }}" class="form-control" id="languages" name="languages" type="text" /></td></tr>
                            <tr><th>Skills</th><td><input value="{{variables.skills is defined ? variables.skills }}" class="form-control" id="skills" name="skills" type="text" /></td></tr>
                            <tr><td colspan=2 class="c">
                            <span class="b">STR</span> <input value="{{variables.str_mod is defined ? variables.str_mod }}" class="form-control form-short" id="str_mod" name="str_mod" type="text" />
                            <span class="b">DEX</span> <input value="{{variables.dex_mod is defined ? variables.dex_mod }}" class="form-control form-short" id="dex_mod" name="dex_mod" type="text" />
                            <span class="b">CON</span> <input value="{{variables.con_mod is defined ? variables.con_mod }}" class="form-control form-short" id="con_mod" name="con_mod" type="text" /> 
                            <span class="b">INT</span> <input value="{{variables.int_mod is defined ? variables.int_mod }}" class="form-control form-short" id="int_mod" name="int_mod" type="text" />
                            <span class="b">WIS</span> <input value="{{variables.wis_mod is defined ? variables.wis_mod }}" class="form-control form-short" id="wis_mod" name="wis_mod" type="text" /> 
                            <span class="b">CHA</span> <input value="{{variables.cha_mod is defined ? variables.cha_mod }}" class="form-control form-short" id="cha_mod" name="cha_mod" type="text" />
                            </td></tr>
                            <tr><th>Items</th><td><textarea class="form-control" id="items" name="items" rows="5">{{variables.items is defined ? variables.items }}</textarea></td></tr>
                            <tr><th>AC</th><td><input value="{{variables.ac is defined ? variables.ac }}" class="form-control form-short" id="ac" name="ac" placeholder="eg 17" type="text" /></td></tr>
                            <tr><th>Fortitude</th><td><input value="{{variables.st_fort is defined ? variables.st_fort }}" class="form-control form-short" id="st_fort" name="st_fort" type="text" /></td></tr>
                            <tr><th>Reflex</th><td><input value="{{variables.st_ref is defined ? variables.st_ref }}" class="form-control form-short" id="st_ref" name="st_ref" type="text" /></td></tr>
                            <tr><th>Will</th><td><input value="{{variables.st_will is defined ? variables.st_will }}" class="form-control form-short" id="st_will" name="st_will" type="text" /></td></tr>
                            <tr><th>Saving Throws other</th><td><input value="{{variables.st_notes is defined ? variables.st_notes }}" class="form-control" id="st_notes" name="st_notes" placeholder="eg +1 to all saves vs. magic" type="text" /></td></tr>
                            <tr><th>HP</th><td><input value="{{variables.hp is defined ? variables.hp }}" class="form-control form-short" id="hp" name="hp" type="text" /></td></tr>
                            <tr><th>Immunities</th><td><input value="{{variables.immunities is defined ? variables.immunities }}" class="form-control" id="immunities" name="immunities" type="text" /></td></tr>
                            <tr><th>Weaknesses</th><td><input value="{{variables.weaknesses is defined ? variables.weaknesses }}" class="form-control" id="weaknesses" name="weaknesses" type="text" /></td></tr>
                            <tr><th>Resistances</th><td><input value="{{variables.resistances is defined ? variables.resistances }}" class="form-control" id="resistances" name="resistances" type="text" /></td></tr>
                            <tr><th>Abilities</th><td><input value="{{variables.abilities is defined ? variables.abilities }}" class="form-control" id="abilities" name="abilities" type="text" /></td></tr>
                            <tr><th>Speed</th><td><input value="{{variables.speed is defined ? variables.speed }}" class="form-control" id="speed" name="speed" placeholder="eg 30 ft, fly 60 ft" type="text" /></td></tr>
                            <tr><th>Melee</th><td><textarea class="form-control" id="melee" name="melee" rows="5" placeholder="eg holy mace +28 (good, magical, shove), 2d6+15 bludgeoning">{{variables.melee is defined ? variables.melee }}</textarea></td></tr>
                            <tr><th>Ranged</th><td><textarea class="form-control" id="ranged" name="ranged" rows="5">{{variables.ranged is defined ? variables.ranged }}</textarea></td></tr>
                            <tr><th>Spells</th><td><textarea class="form-control" id="spells" name="spells" rows="5">{{variables.spells is defined ? variables.spells }}</textarea></td></tr>
                            <tr><th>Rituals</th><td><textarea class="form-control" id="rituals" name="rituals" rows="5">{{variables.rituals is defined ? variables.rituals }}</textarea></td></tr>
                            <tr><td colspan=2><textarea class="form-control" id="description" name="description" rows="5">{{variables.description is defined ? variables.description }}</textarea></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>