{# Macros #}
{% macro printAbilityRow(name, score) %}
	{% set mod = (score - 10)//2 %}
	<td class="ability-roll">
		{% if mod > 0 %}
		<div class="table-roll-label rolldice" data={{"1d20+#{mod}"}}>{{ name|capitalize |slice(0,3) }}</div>
		{% else %}
		<div class="table-roll-label rolldice" data={{"1d20#{mod}"}}>{{ name|capitalize |slice(0,3)}}</div>
		{% endif %}
	</td>
	<td class="ability-modifier">{{ mod }}</td>
	<th class="ability-modifier-label">
		<div class="upper-label">{{ name|capitalize |slice(0,3)}}</div>
		<div class="under-label">Modifier</div>
	</th>
	<th class="ability-score-label">
		<div class="upper-label">{{ name|capitalize }}</div>
		<div class="under-label">Score</div>
	</th>
	<td class="ability-score">{{ score }}</td>
{% endmacro %}
{% macro printProficiencyTable(proficiency) %}
	{% if proficiency is defined and proficiency >= 0 %}
	<div class="row">
		<div class="proficiency-table col-12">
			<div class="row">
				<div class="col-3 proficiency-label-cell">T</div>
				<div class="col-3 proficiency-label-cell">E</div>
				<div class="col-3 proficiency-label-cell">M</div>
				<div class="col-3 proficiency-label-cell">L</div>
			</div>
		{% if proficiency < 2 %}
		<!-- case 0 -->
			<div class="row">
				<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
				<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
				<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
				<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
			</div>
		</div>
		{% else %}
			{% if proficiency < 4 %}
			<!-- case 2 -->
				<div class="row">
					<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
					<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
					<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
					<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
				</div>
			</div>
			{% else %}
				{% if proficiency < 6 %}
				<!-- case 4 -->
					<div class="row">
						<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
						<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
						<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
						<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
					</div>
				</div>
				{% else %}
					{% if proficiency < 8 %}
					<!-- case 6 -->
						<div class="row">
							<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
							<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
							<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
							<div class="col-3 proficiency-cell checkbox-empty">&nbsp;</div>
						</div>
					</div>
					{% else %}
						{% if proficiency == 8 %}
						<!-- case 8 -->
							<div class="row">
								<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
								<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
								<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
								<div class="col-3 proficiency-cell checkbox-checked">&nbsp;</div>
							</div>
						</div>
						{% else %}
							<!-- case error -->
							Syntax Error
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	</div>	
	{% endif %}	
{% endmacro %}
{% import _self as macros %}
<div class="pf2-rpg">
	<div class="pf2-character-sheet col-12">
		<div {# Page title #} class="row sheet-title">
			<div class="col-12">
				{% if variables.character_name is defined %}
					<h1> {{ variables.character_name}} </h1>
				{% else %}
					<h1>{{ variables.name }}</h1>
				{% endif %}
			</div>
		</div>
		<div {# Character Info Row #} class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".character-info-block" aria-expanded="false" aria-controls="#character-info-block">
					Character Information
				</div>
				<div class="card-body collapse character-info-block" id="character-info-block">
					<!-- base info -->
					<div class="row">
						<div class="col-12 col-lg-4">
							{% if variables.player_name is defined %}
								<dd class="char-info-dd"> {{ variables.player_name}} </dd>
							{% endif %}
							<dt class="char-info-dt">Player Name</dt>
						</div>
						<div class="col-12 col-lg-4">
							{% if variables.class is defined %}
								<dd class="char-info-dd"> {{ variables.class}} </dd>
							{% endif %}
							<dt class="char-info-dt">Character Class</dt>
						</div>
						<div class="col-12 col-lg-4">
							{% if variables.level is defined %}
								<dd class="char-info-dd"> {{ variables.level}} </dd>
								{% set global_level = variables.level|number_format %}
							{% else %}
								{% set global_level = 0 %}
							{% endif %}
							<dt class="char-info-dt">Character Level</dt>
						</div>
					</div>
					<!-- experience -->
					<div class="row">
						<div class="col-12 col-lg-8">
							{% if variables.experience_points is defined %}
								<dd class="char-info-dd"> {{ variables.experience_points}} </dd>
							{% endif %}
							<dt class="char-info-dt">Experience Points</dt>
						</div>
						<div class="col-12 col-lg-4">
							{% if variables.hero_points is defined %}
								<dd class="char-info-dd"> {{ variables.hero_points}} </dd>
							{% endif %}
							<dt class="char-info-dt">Hero Points</dt>
						</div>
					</div>
					<!-- deity and alignement -->
					<div class="row">
						<div class="col-12 col-md-6 col-lg-3">
							{% if variables.size is defined %}
								<dd class="char-info-dd"> {{ variables.size}} </dd>
							{% endif %}
							<dt class="char-info-dt">Size</dt>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							{% if variables.alignment is defined %}
								<dd class="char-info-dd"> {{ variables.alignment}} </dd>
							{% endif %}
							<dt class="char-info-dt">Alignment</dt>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							{% if variables.traits is defined %}
								<dd class="char-info-dd"> {{ variables.traits}} </dd>
							{% endif %}
							<dt class="char-info-dt">Traits</dt>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							{% if variables.deity is defined %}
								<dd class="char-info-dd"> {{ variables.deity}} </dd>
							{% endif %}
							<dt class="char-info-dt">Deity</dt>
						</div>
					</div>
					<div class="row spacing-row mb-2">
						
					</div>
					<!-- Ancestry, heritage and background-->
					<div class="row">
						<div class="col-12 col-lg-6">
							{% if variables.ancestry__heritages is defined %}
							<div class="card">
								<div class="card-header">
									Ancestry & Heritages
								</div>
								<div class="card-body">
									{{ variables.ancestry__heritages}}
								</div>
							</div>
							{% endif %}
						</div>
						<div class="col-12 col-lg-6">
							{% if variables.background is defined %}
							<div class="card">
								<div class="card-header">
									Background
								</div>
								<div class="card-body">
									{{ variables.background}}
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div {# First Main Row (Ability, Armor/saves, Health) #} class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<div {# Ability #} class="row align-self-start">
					<div class="col-12 card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".ability-block" aria-expanded="false" aria-controls="#ability-block">
							Ability
						</div>
						<table class="table table-light card-body collapse ability-block" id="ability-block">
							<tbody>
								{% if variables.strength is defined %}
									<tr class="ability-row">{{ macros.printAbilityRow("strength",variables.strength)}}</tr>
									{% set global_str_score = variables.strength|number_format %}
									{% set global_str_mod = (global_str_score - 10)//2 %}
								{% endif %}
								{% if variables.dexterity is defined %}
									<tr class="ability-row">{{ macros.printAbilityRow("dexterity",variables.dexterity)}}</tr>
									{% set global_dex_score = variables.dexterity|number_format %}
									{% set global_dex_mod = (global_dex_score - 10)//2 %}
								{% endif %}
								{% if variables.constitution is defined %}
									<tr class="ability-row">{{ macros.printAbilityRow("constitution",variables.constitution)}}</tr>
									{% set global_con_score = variables.constitution|number_format %}
									{% set global_con_mod = (global_con_score - 10)//2 %}
								{% endif %}
								{% if variables.intelligence is defined %}
									<tr class="ability-row">{{ macros.printAbilityRow("intelligence",variables.intelligence)}}</tr>
									{% set global_int_score = variables.intelligence|number_format %}
									{% set global_int_mod = (global_int_score - 10)//2 %}
								{% endif %}
								{% if variables.wisdom is defined %}
									<tr class="ability-row">{{ macros.printAbilityRow("wisdom",variables.wisdom)}}</tr>
									{% set global_wis_score = variables.wisdom|number_format %}
									{% set global_wis_mod = (global_wis_score - 10)//2 %}
								{% endif %}	
								{% if variables.charisma is defined %}
									<tr class="ability-row">{{ macros.printAbilityRow("charisma",variables.charisma)}}</tr>
									{% set global_cha_score = variables.charisma|number_format %}
									{% set global_cha_mod = (global_cha_score - 10)//2 %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
				<div {# Class DC #} class="row align-self-start">
					<div class="col-12 card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".class-dc-block" aria-expanded="false" aria-controls="#class-dc-block">
							Class DC
						</div>
						<div class="card-body collapse class-dc-block" id="class-dc-block">
							{% set main_class_ability_mod_name='global_'~variables.class_main_ability|lower~'_mod'%}
							{% if attribute(_context,main_class_ability_mod_name) is defined %}
								{% set main_class_ability_mod = attribute(_context,main_class_ability_mod_name) %}
								{{ attribute(_context,main_class_ability_mod_name) }}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div {# Armor Class #} class="row align-self-start">
					<div class="col-12 card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".armor-block" aria-expanded="false" aria-controls="#armor-block">
							Armor Class
						</div>
						<div class="card-body collapse armor-block" id="armor-block">
							<div class="row">
								{% if variables.armor_class_proficiency is defined and variables.armor_class_proficiency != "" %}
									{% set global_armor_class_proficiency = variables.armor_class_proficiency|number_format %}
								{% else %}
									{% set global_armor_class_proficiency = 0 %}
								{% endif %}
								{% set global_armor_class_proficiency = global_armor_class_proficiency + global_level %}
								{% set global_ac = 10 %}
								{% if variables.armor_class_cap is defined and variables.armor_class_cap != "" %}
									{% set global_ac = global_ac + variables.armor_class_cap|number_format %}
								{% endif %}
								{% set global_ac = global_ac + variables.global_armor_class_proficiency|number_format %}
								{% if variables.armor_class_item_bonus is defined and variables.armor_class_item_bonus != "" %}
									{% set global_ac = global_ac + variables.armor_class_item_bonus|number_format %}
								{% endif %}
								<div class="col-3 armor-class-total">
									{{ global_ac }}
								</div>
								<div class="col-9 armor-class-detail">
									<div class="row">
										<div class="col value-col armor-class-base">
											<div class="card value-card">
												<div class="card-header">
													Base
												</div>
												<div class="card-body">
													10
												</div>
											</div>
										</div>
										<div class="col value-col armor-class-cap">
											<div class="card value-card">
												<div class="card-header">
													Dex/Cap
												</div>
												<div class="card-body">
													{% if variables.armor_class_cap is defined and variables.armor_class_cap != "" %}
														{{variables.armor_class_cap}}
													{% else %}
														{{ 0 }}
													{% endif %}
												</div>
											</div>
										</div>
										<div class="col value-col armor-class-proficiency-score">
											<div class="card value-card">
												<div class="card-header">
													Prof
												</div>
												<div class="card-body">
													{{ global_armor_class_proficiency}}
												</div>
											</div>
										</div>
										<div class="col proficiency-col armor-class-proficiency-level">
											<div class="armor-proficiency-label">Armor Prof.</div>
											{% if variables.armor_class_proficiency is defined %}
												{{ macros.printProficiencyTable (variables.armor_class_proficiency|number_format)}}
											{% endif %}
										</div>
										<div class="col value-col armor-class-item">
											<div class="card value-card">
												<div class="card-header">
													Item
												</div>
												<div class="card-body">
													{% if variables.armor_class_item_bonus is defined and variables.armor_class_item_bonus != "" %}
														{{variables.armor_class_item_bonus}}
													{% else %}
														{{ 0 }}
													{% endif %}
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col proficiency-col armor-class-proficiency">
											<div class="armor-proficiency-label">Unarmored</div>
											{% if variables.unarmored_proficiency is defined %}
												{{ macros.printProficiencyTable (variables.unarmored_proficiency|number_format)}}
											{% endif %}
										</div>
										<div class="col proficiency-col armor-class-proficiency">
											<div class="armor-proficiency-label">Light</div>
											{% if variables.light_armor_proficiency is defined %}
												{{ macros.printProficiencyTable (variables.light_armor_proficiency|number_format)}}
											{% endif %}
										</div>
										<div class="col proficiency-col armor-class-proficiency">
											<div class="armor-proficiency-label">Medium</div>
											{% if variables.medium_armor_proficiency is defined %}
												{{ macros.printProficiencyTable (variables.medium_armor_proficiency|number_format)}}
											{% endif %}
										</div>
										<div class="col proficiency-col armor-class-proficiency">
											<div class="armor-proficiency-label">Heavy</div>
											{% if variables.heavy_armor_proficiency is defined %}
												{{ macros.printProficiencyTable (variables.heavy_armor_proficiency|number_format)}}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-3">
									
								</div>
								<div class="col-9">
									<div class="row">
										<div class="col">
											<div class="card value-card">
												<div class="card-header">
													Shield AC Bonus
												</div>
												<div class="card-body">
													{% if variables.shield_armor_class_bonus is defined and variables.shield_armor_class_bonus != "" %}
														{{variables.shield_armor_class_bonus}}
													{% else %}
														{{ 0 }}
													{% endif %}
												</div>
											</div>
										 </div>
										 <div class="col">
											<div class="card value-card">
												<div class="card-header">
													Shield AC Bonus
												</div>
												<div class="card-body">
													{% if variables.shield_armor_class_bonus is defined and variables.shield_armor_class_bonus != "" %}
														{{variables.shield_armor_class_bonus}}
													{% else %}
														{{ 0 }}
													{% endif %}
												</div>
											</div>
										 </div>
									</div>
									{% if variables.shield_hardness is defined %}
										<dt>Shield Hardness</dt>
										<dd> {{ variables.shield_hardness}} </dd>
									{% endif %}
									{% if variables.shield_max_hp is defined %}
										<dt>Shield Max HP</dt>
										<dd> {{ variables.shield_max_hp}} </dd>
									{% endif %}
									{% if variables.shield_break_threshold is defined %}
										<dt>Shield Break Threshold</dt>
										<dd> {{ variables.shield_break_threshold}} </dd>
									{% endif %}
									{% if variables.shield_current_hp is defined %}
										<dt>Shield Current HP</dt>
										<dd> {{ variables.shield_current_hp}} </dd>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div {# Saving Throws #} class="row align-self-start">
					<div class="col-12 card ">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".saves-block" aria-expanded="false" aria-controls="#saves-block">
							Saving Throws
						</div>
						<div class="card-body collapse saves-block" id="saves-block">
							{% if variables.fortitude_save_proficiency is defined %}
								<dt>Fortitude Save Proficiency</dt>
								<dd> {{ variables.fortitude_save_proficiency}} </dd>
							{% endif %}
							{% if variables.fortitude_save_item_bonus is defined %}
								<dt>Fortitude Save Item Bonus</dt>
								<dd> {{ variables.fortitude_save_item_bonus}} </dd>
							{% endif %}
							{% if variables.reflex_save_proficiency is defined %}
								<dt>Reflex Save Proficiency</dt>
								<dd> {{ variables.reflex_save_proficiency}} </dd>
							{% endif %}
							{% if variables.reflex_save_item_bonus is defined %}
								<dt>Reflex Save Item Bonus</dt>
								<dd> {{ variables.reflex_save_item_bonus}} </dd>
							{% endif %}
							{% if variables.will_save_proficiency is defined %}
								<dt>Will Save Proficiency</dt>
								<dd> {{ variables.will_save_proficiency}} </dd>
							{% endif %}
							{% if variables.will_save_item_bonus is defined %}
								<dt>Will Save Item Bonus</dt>
								<dd> {{ variables.will_save_item_bonus}} </dd>
							{% endif %}
							{% if variables.saving_throws_notes is defined %}
								<dt>Saving Throws Notes</dt>
								<dd> {{ variables.saving_throws_notes}} </dd>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div {# Health #} class="row align-self-start">
					<div class="col-12 card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".health-block" aria-expanded="false" aria-controls="#health-block">
							Hit Points
						</div>
						<div class="card-body collapse health-block" id="health-block">
							{% if variables.max_hp is defined %}
								<dt>Max HP</dt>
								<dd> {{ variables.max_hp}} </dd>
							{% endif %}
							{% if variables.current_hp is defined %}
								<dt>Current HP</dt>
								<dd> {{ variables.current_hp}} </dd>
							{% endif %}
							{% if variables.temporary_hp is defined %}
								<dt>Temporary HP</dt>
								<dd> {{ variables.temporary_hp}} </dd>
							{% endif %}
							{% if variables.resistances_and_immunities is defined %}
								<dt>Resistances And Immunities</dt>
								<dd> {{ variables.resistances_and_immunities}} </dd>
							{% endif %}
							{% if variables.conditions is defined %}
								<dt>Conditions</dt>
								<dd> {{ variables.conditions}} </dd>
							{% endif %}
						</div>
					</div>
				</div>
				<div {# Perception #} class="row align-self-start">
					<div class="col-12 card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".perception-block" aria-expanded="false" aria-controls="#perception-block">
							Perception
						</div>
						<div class="card-body collapse perception-block" id="perception-block">
							{% if variables.perception_proficiency is defined %}
								<dt>Perception Proficiency</dt>
								<dd> {{ variables.perception_proficiency}} </dd>
							{% endif %}
							{% if variables.preception_item_bonus is defined %}
								<dt>Preception Item Bonus</dt>
								<dd> {{ variables.preception_item_bonus}} </dd>
							{% endif %}
							{% if variables.senses is defined %}
								<dt>Senses</dt>
								<dd> {{ variables.senses}} </dd>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div {# Second Main Row (Attacks, Skills) #} class="row">
			<div class="col-12 col-md-6">
				<div {# Speed & Movement #} class="row align-self-start">
					<div class="col-12 card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".speed-block" aria-expanded="false" aria-controls="#speed-block">
							Speed & Movement
						</div>
						<div class="card-body collapse speed-block" id="speed-block">
							{% if variables.speed is defined %}
								<dt>Speed</dt>
								<dd> {{ variables.speed}} </dd>
							{% endif %}
							{% if variables.movement is defined %}
								<dt>Movement</dt>
								<dd> {{ variables.movement}} </dd>
							{% endif %}
						</div>
					</div>
				</div>
				<div {# Melee Strikes #} class="row align-self-start">
					<div class="col-12  card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".melee-block" aria-expanded="false" aria-controls="#melee-block">
							Melee Strikes
						</div>
						<div class="card-body collapse melee-block" id="melee-block">
							{% if variables.speed is defined %}
								<dt>Speed</dt>
								<dd> {{ variables.speed}} </dd>
							{% endif %}
							{% if variables.movement is defined %}
								<dt>Movement</dt>
								<dd> {{ variables.movement}} </dd>
							{% endif %}
						</div>
					</div>
				</div>
				<div {# Ranged Strikes #} class="row align-self-start">
					<div class="col-12 card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".ranged-block" aria-expanded="false" aria-controls="#ranged-block">
							Ranged Strikes
						</div>
						<div class="card-body collapse ranged-block" id="ranged-block">
							{% if variables.speed is defined %}
								<dt>Speed</dt>
								<dd> {{ variables.speed}} </dd>
							{% endif %}
							{% if variables.movement is defined %}
								<dt>Movement</dt>
								<dd> {{ variables.movement}} </dd>
							{% endif %}
						</div>
					</div>
				</div>
				<div {# Weapon Proficiencies #} class="row align-self-start">
					<div class="col-12 card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".weapon-proficiency-block" aria-expanded="false" aria-controls="#weapon-proficiency-block">
							Weapon Proficiencies
						</div>
						<div class="card-body collapse weapon-proficiency-block" id="weapon-proficiency-block">
							{% if variables.simple_weapon_proficiency is defined %}
								<dt>Simple Weapon Proficiency</dt>
								<dd> {{ variables.simple_weapon_proficiency}} </dd>
							{% endif %}
							{% if variables.martial_weapon_proficiency is defined %}
								<dt>Martial Weapon Proficiency</dt>
								<dd> {{ variables.martial_weapon_proficiency}} </dd>
							{% endif %}
							{% if variables.other_weapons_proficiency is defined %}
								<dt>Other Weapons Proficiency</dt>
								<dd> {{ variables.other_weapons_proficiency}} </dd>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div {# Skills #} class="row align-self-start">
					<div class="col-12 card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".skill-block" aria-expanded="false" aria-controls="#skill-block">
							Skills
						</div>
						<div class="card-body collapse skill-block" id="skill-block">
							{% if variables.acrobatics_proficiency is defined %}
								<dt>Acrobatics Proficiency</dt>
								<dd> {{ variables.acrobatics_proficiency}} </dd>
							{% endif %}
							{% if variables.acrobatics_item_modifier is defined %}
								<dt>Acrobatics Item Modifier</dt>
								<dd> {{ variables.acrobatics_item_modifier}} </dd>
							{% endif %}
							{% if variables.arcana_proficiency is defined %}
								<dt>Arcana Proficiency</dt>
								<dd> {{ variables.arcana_proficiency}} </dd>
							{% endif %}
							{% if variables.arcana_item_modifier is defined %}
								<dt>Arcana Item Modifier</dt>
								<dd> {{ variables.arcana_item_modifier}} </dd>
							{% endif %}
							{% if variables.athletics_proficiency is defined %}
								<dt>Athletics Proficiency</dt>
								<dd> {{ variables.athletics_proficiency}} </dd>
							{% endif %}
							{% if variables.athletics_item_modifier is defined %}
								<dt>Athletics Item Modifier</dt>
								<dd> {{ variables.athletics_item_modifier}} </dd>
							{% endif %}
							{% if variables.crafting_proficiency is defined %}
								<dt>Crafting Proficiency</dt>
								<dd> {{ variables.crafting_proficiency}} </dd>
							{% endif %}
							{% if variables.crafting_item_modifier is defined %}
								<dt>Crafting Item Modifier</dt>
								<dd> {{ variables.crafting_item_modifier}} </dd>
							{% endif %}
							{% if variables.deception_proficiency is defined %}
								<dt>Deception Proficiency</dt>
								<dd> {{ variables.deception_proficiency}} </dd>
							{% endif %}
							{% if variables.deception_item_modifier is defined %}
								<dt>Deception Item Modifier</dt>
								<dd> {{ variables.deception_item_modifier}} </dd>
							{% endif %}
							{% if variables.intimidation_proficiency is defined %}
								<dt>Intimidation Proficiency</dt>
								<dd> {{ variables.intimidation_proficiency}} </dd>
							{% endif %}
							{% if variables.intimidation_item_modifier is defined %}
								<dt>Intimidation Item Modifier</dt>
								<dd> {{ variables.intimidation_item_modifier}} </dd>
							{% endif %}
							{% if variables.lores is defined %}
								<dt>Lores</dt>
								<dd> {{ variables.lores}} </dd>
							{% endif %}
							{% if variables.medicine_proficiency is defined %}
								<dt>Medicine Proficiency</dt>
								<dd> {{ variables.medicine_proficiency}} </dd>
							{% endif %}
							{% if variables._item_modifier is defined %}
								<dt> Item Modifier</dt>
								<dd> {{ variables._item_modifier}} </dd>
							{% endif %}
							{% if variables.nature_proficiency is defined %}
								<dt>Nature Proficiency</dt>
								<dd> {{ variables.nature_proficiency}} </dd>
							{% endif %}
							{% if variables.nature_item_modifier is defined %}
								<dt>Nature Item Modifier</dt>
								<dd> {{ variables.nature_item_modifier}} </dd>
							{% endif %}
							{% if variables.occultism_proficiency is defined %}
								<dt>Occultism Proficiency</dt>
								<dd> {{ variables.occultism_proficiency}} </dd>
							{% endif %}
							{% if variables.occultism_item_modifier is defined %}
								<dt>Occultism Item Modifier</dt>
								<dd> {{ variables.occultism_item_modifier}} </dd>
							{% endif %}
							{% if variables.performance_proficiency is defined %}
								<dt>Performance Proficiency</dt>
								<dd> {{ variables.performance_proficiency}} </dd>
							{% endif %}
							{% if variables.performance_item_modifier is defined %}
								<dt>Performance Item Modifier</dt>
								<dd> {{ variables.performance_item_modifier}} </dd>
							{% endif %}
							{% if variables.religion_proficiency is defined %}
								<dt>Religion Proficiency</dt>
								<dd> {{ variables.religion_proficiency}} </dd>
							{% endif %}
							{% if variables.religion_item_modifier is defined %}
								<dt>Religion Item Modifier</dt>
								<dd> {{ variables.religion_item_modifier}} </dd>
							{% endif %}
							{% if variables.society_proficiency is defined %}
								<dt>Society Proficiency</dt>
								<dd> {{ variables.society_proficiency}} </dd>
							{% endif %}
							{% if variables.society_item_modifier is defined %}
								<dt>Society Item Modifier</dt>
								<dd> {{ variables.society_item_modifier}} </dd>
							{% endif %}
							{% if variables.stealth_proficiency is defined %}
								<dt>Stealth Proficiency</dt>
								<dd> {{ variables.stealth_proficiency}} </dd>
							{% endif %}
							{% if variables.stealth_item_modifier is defined %}
								<dt>Stealth Item Modifier</dt>
								<dd> {{ variables.stealth_item_modifier}} </dd>
							{% endif %}
							{% if variables.survival_proficiency is defined %}
								<dt>Survival Proficiency</dt>
								<dd> {{ variables.survival_proficiency}} </dd>
							{% endif %}
							{% if variables.survival_item_modifier is defined %}
								<dt>Survival Item Modifier</dt>
								<dd> {{ variables.survival_item_modifier}} </dd>
							{% endif %}
							{% if variables.thievery_proficiency is defined %}
								<dt>Thievery Proficiency</dt>
								<dd> {{ variables.thievery_proficiency}} </dd>
							{% endif %}
							{% if variables.thievery_item_modifier is defined %}
								<dt>Thievery Item Modifier</dt>
								<dd> {{ variables.thievery_item_modifier}} </dd>
							{% endif %}
						</div>
					</div>
				</div>
				<div {# Language #} class="row align-self-start">
					<div class="col-12  card">
						<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".language-block" aria-expanded="false" aria-controls="#language-block">
							Languages
						</div>
						<div class="card-body collapse language-block" id="language-block">
							{% if variables.language is defined %}
								<dt>Language</dt>
								<dd> {{ variables.language}} </dd>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div class="card">
	<div class="card-header">
		Header
	</div>
	<div class="card-body">
		<h5 class="card-title">Title</h5>
		<p class="card-text">Content</p>
	</div>
	<div class="card-footer">
		Footer
	</div>
</div> -->


<!-- 


	{% if variables.ancestry_feats_and_ability is defined %}
		<dt>Ancestry Feats and Ability</dt>
		<dd> {{ variables.ancestry_feats_and_ability}} </dd>
	{% endif %}
	{% if variables.skill_feats is defined %}
		<dt>Skill Feats</dt>
		<dd> {{ variables.skill_feats}} </dd>
	{% endif %}
	{% if variables.class_feats_and_abilities is defined %}
		<dt>Class Feats and Abilities</dt>
		<dd> {{ variables.class_feats_and_abilities}} </dd>
	{% endif %}
	{% if variables.general_feats is defined %}
		<dt>General Feats</dt>
		<dd> {{ variables.general_feats}} </dd>
	{% endif %} -->
