{# Macros #}
{% set remastered = 1 %}
{% if variables.remastered|default == "" or variables.remastered|default == 0 %}{% set remastered = 0 %}{% endif %}
{% if variables.name|default == "" %}{% set remastered = 1 %}{% endif %}
{# ---------------------------------------------- #}
{% macro genTraits(itraits = '') %}{% if itraits != '' %}
{% set traits = itraits|default('')|upper|replace({", ": ",", " ,": ","}) %}
{% set list = traits|split(',')|sort %}{% set last = "" %}
{% for x in list %}{% set tr = x|trim %}{% if tr != '' and tr != "UNDEFINED" and tr != last %}
    {% set pf = '' %}
    {% if tr == 'COMMON' %}{% set pf = 'r_common' %}
    {% elseif tr == 'UNCOMMON' %}{% set pf = 'r_uncommon' %}
    {% elseif tr == 'RARE' %}{% set pf = 'r_rare' %}
    {% elseif tr == 'UNIQUE' %}{% set pf = 'r_unique' %}{% endif %}
    <span class="trait {{pf}}">{{tr}}</span>
{% set last = tr %}{% endif %}{% endfor %}
{% endif %}{% endmacro %}
{# ---------------------------------------------- #}
{% macro printProficiencyTable(proficiency) %}
    {% if proficiency is defined and proficiency >= 0 %}
        <table>
        <tr>
            <th class="proficiency-label-cell" title="Trained +2">T</th>
            <th class="proficiency-label-cell" title="Expert +4">E</th>
            <th class="proficiency-label-cell" title="Master +6">M</th>
            <th class="proficiency-label-cell" title="Legend +8">L</th>
        </tr>
        {% if proficiency < 2 %}
            <!-- case 0 -->
            <tr>
                <td class="proficiency-cell checkbox-empty">&nbsp;</td>
                <td class="proficiency-cell checkbox-empty">&nbsp;</td>
                <td class="proficiency-cell checkbox-empty">&nbsp;</td>
                <td class="proficiency-cell checkbox-empty">&nbsp;</td>
            </tr>
            </table>
        {% else %}
            {% if proficiency < 4 %}
                <!-- case 2 -->
                <tr>
                    <td class="proficiency-cell checkbox-checked text-center">+2</td>
                    <td class="proficiency-cell checkbox-empty">&nbsp;</td>
                    <td class="proficiency-cell checkbox-empty">&nbsp;</td>
                    <td class="proficiency-cell checkbox-empty">&nbsp;</td>
                </tr>
                </table>
            {% else %}
                {% if proficiency < 6 %}
                    <!-- case 4 -->
                    <tr>
                        <td class="proficiency-cell checkbox-checked">&nbsp;</td>
                        <td class="proficiency-cell checkbox-checked text-center">+4</td>
                        <td class="proficiency-cell checkbox-empty">&nbsp;</td>
                        <td class="proficiency-cell checkbox-empty">&nbsp;</td>
                    </tr>
                    </table>
                {% else %}
                    {% if proficiency < 8 %}
                        <!-- case 6 -->
                        <tr>
                            <td class="proficiency-cell checkbox-checked">&nbsp;</td>
                            <td class="proficiency-cell checkbox-checked">&nbsp;</td>
                            <td class="proficiency-cell checkbox-checked text-center">+6</td>
                            <td class="proficiency-cell checkbox-empty">&nbsp;</td>
                        </tr>
                        </table>
                    {% else %}
                        {% if proficiency == 8 %}
                            <!-- case 8 -->
                            <tr>
                                <td class="proficiency-cell checkbox-checked">&nbsp;</td>
                                <td class="proficiency-cell checkbox-checked">&nbsp;</td>
                                <td class="proficiency-cell checkbox-checked">&nbsp;</td>
                                <td class="proficiency-cell checkbox-checked text-center">+8</td>
                            </tr>
                            </table>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}
{% macro printAttributeRow(remastered = 1, name, score, remastered) %}
    {% if remastered == 1 %}
    {% set mod = score %}
    {% else %}
    {% set mod = (score - 10)//2 %}
    {% endif %}
    <td class="ability-roll" width="50px">
    {% if mod > 0 %}
        <div class="table-roll-label rolldice" data={{"1d20+#{mod}"}}><em class="fas fa-dice-d20"></em></div>
    {% else %}{% if mod == 0 %}{% set mod = '0' %}{% endif %}
        <div class="table-roll-label rolldice" data={{"1d20+#{mod}"}}><em class="fas fa-dice-d20"></em></div>
    {% endif %}
    </td>{% if mod >= 0%}{% set mod = '+' ~ mod %}{% endif %}
    <td class="ability-modifier" width="70px">{{ mod }}</td>
    <th class="ability-modifier-label">
    {% if remastered == 0 %}
        <div class="upper-label">{{ name|capitalize |slice(0,3) }}</div>
    {% else %}
        <div class="upper-label">{{ name|capitalize }}</div>
    {% endif %}
        <div class="under-label">Modifier</div>
    </th>
    {% if remastered == 0 %}
    <th class="ability-score-label">
        <div class="upper-label">{{ name|capitalize }}</div>
        <div class="under-label">Score</div>
    </th>
    <td class="ability-score" width="70px">{{ score }}</td>
    {% endif %}
{% endmacro %}
{% macro printSkillRow(name, prof_mod = "0", ability_mod = "0", item_mod = "0", armor_mod="") %}
    {% set skill_total = prof_mod|number_format + ability_mod|number_format + item_mod|number_format + armor_mod|number_format %}
    {% if skill_total is defined and skill_total|length > 0 %}
        {% if skill_total >= 0 %}
            <td><div class="table-roll-label rolldice" data={{"1d20+#{skill_total}"}}><em class="fas fa-dice-d20"></em> </div></td>
            <td class="table-total total">+{{skill_total}}</td>
            <td class="skillname">{{ name|capitalize }}</td>
        {% else %}
            <td><div  class="table-roll-label rolldice" data={{"1d20#{skill_total}"}}><em class="fas fa-dice-d20"></em> </div></td>
            <td class="table-total total">{{skill_total}}</td>
            <td class="skillname">{{ name|capitalize }}</td>
        {% endif %}
    {% else %}
        <td class="table-total">0</td>
    {% endif %}
    {% if prof_mod is defined and prof_mod|length > 0 %}
        <td class="table-value">{{prof_mod}}</td>
    {% else %}
        <td class="table-value">0</td>
    {% endif %}
    {% if ability_mod is defined and ability_mod|length > 0 %}
        <td class="table-value">{{ability_mod}}</td>
    {% else %}
        <td class="table-value">0</td>
    {% endif %}
    {% if item_mod is defined and item_mod|length > 0 %}
        <td class="table-value">{{item_mod}}</td>
    {% else %}
        <td class="table-value">0</td>
    {% endif %}
    {% if armor_mod is defined and armor_mod !="0" %}
        <td class="table-value">{{armor_mod}}</td>
    {% else %}
        <td class="table-value">0</td>
    {% endif %}
{% endmacro %}
{% macro printSkillTable(table, level) %}
    {% import _self as macros %}
    {% set dataRows = table|trim |split(';') %}
    {% for dataRow in dataRows %}
        {% if dataRow is defined and dataRow|length > 0 %}
            {% set rowValues = dataRow|trim |split('|') %}
            {% if rowValues[2] > 0 %}
                {% set skillprof = rowValues[2] + level %}
            {% else %}
                {% set skillprof = 0 %}
            {% endif %}
            <tr>{{ macros.printSkillRow("Lore: #{rowValues[0]}", skillprof, rowValues[1], rowValues[3])}}</tr>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro printProficiencyRow(table) %}
    {% import _self as macros %}
    {% set dataRows = table|trim |split(';') %}
    {% for dataRow in dataRows %}
        {% if dataRow is defined and dataRow|length > 0 %}
            {% set rowValues = dataRow|trim |split('|') %}
            {% set name = dataValues[0] %}
            {% set proficiency = dataValues[1]|number_format %}
            <span class="armor_proficiency_label"> {{ name|capitalize }} </span>
            <span class="proftable">{{ macros.printProficiencyTable(proficiency)}}</span>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% import _self as macros %}
{# Global Variables #}
{% set global_level = variables.level|number_format %}
{% set global_str_score = variables.strength|number_format %}
{% set global_dex_score = variables.dexterity|number_format %}
{% set global_con_score = variables.constitution|number_format %}
{% set global_int_score = variables.intelligence|number_format %}
{% set global_wis_score = variables.wisdom|number_format %}
{% set global_cha_score = variables.charisma|number_format %}
{% if remastered == 1 %}
{% set global_str_mod = global_str_score %}
{% set global_dex_mod = global_dex_score %}
{% set global_con_mod = global_con_score %}
{% set global_int_mod = global_int_score %}
{% set global_wis_mod = global_wis_score %}
{% set global_cha_mod = global_cha_score %}
{% else %}
{% set global_str_mod = (global_str_score - 10)//2 %}
{% set global_dex_mod = (global_dex_score - 10)//2 %}
{% set global_con_mod = (global_con_score - 10)//2 %}
{% set global_int_mod = (global_int_score - 10)//2 %}
{% set global_wis_mod = (global_wis_score - 10)//2 %}
{% set global_cha_mod = (global_cha_score - 10)//2 %}
{% endif %}
{# Skill Proficiencies #}
{% if variables.acrobatics_proficiency|default > 0 %}
    {% set acrobatics = variables.acrobatics_proficiency + global_level %}
{% else %}
    {% set acrobatics = 0 %}
{% endif %}
{% if variables.arcana_proficiency|default > 0 %}
    {% set arcana = variables.arcana_proficiency + global_level %}
{% else %}
    {% set arcana = 0 %}
{% endif %}
{% if variables.athlethics_proficiency|default > 0 %}
    {% set athlethics = variables.athlethics_proficiency + global_level %}
{% else %}
    {% set athlethics = 0 %}
{% endif %}
{% if variables.crafting_proficiency|default > 0 %}
    {% set crafting = variables.crafting_proficiency + global_level %}
{% else %}
    {% set crafting = 0 %}
{% endif %}
{% if variables.deception_proficiency|default > 0 %}
    {% set deception = variables.deception_proficiency + global_level %}
{% else %}
    {% set deception = 0 %}
{% endif %}
{% if variables.diplomacy_proficiency|default > 0 %}
    {% set diplomacy = variables.diplomacy_proficiency + global_level %}
{% else %}
    {% set diplomacy = 0 %}
{% endif %}
{% if variables.intimidation_proficiency|default > 0 %}
    {% set intimidation = variables.intimidation_proficiency + global_level %}
{% else %}
    {% set intimidation = 0 %}
{% endif %}
{% if variables.medicine_proficiency|default > 0 %}
    {% set medicine = variables.medicine_proficiency + global_level %}
{% else %}
    {% set medicine = 0 %}
{% endif %}
{% if variables.nature_proficiency|default > 0 %}
    {% set nature = variables.nature_proficiency + global_level %}
{% else %}
    {% set nature = 0 %}
{% endif %}
{% if variables.occultism_proficiency|default > 0 %}
    {% set occultism = variables.occultism_proficiency + global_level %}
{% else %}
    {% set occultism = 0 %}
{% endif %}
{% if variables.performance_proficiency|default > 0 %}
    {% set performance = variables.performance_proficiency + global_level %}
{% else %}
    {% set performance = 0 %}
{% endif %}
{% if variables.religion_proficiency|default > 0 %}
    {% set religion = variables.religion_proficiency + global_level %}
{% else %}
    {% set religion = 0 %}
{% endif %}
{% if variables.society_proficiency|default > 0 %}
    {% set society = variables.society_proficiency + global_level %}
{% else %}
    {% set society = 0 %}
{% endif %}
{% if variables.stealth_proficiency|default > 0 %}
    {% set stealth = variables.stealth_proficiency + global_level %}
{% else %}
    {% set stealth = 0 %}
{% endif %}
{% if variables.survival_proficiency|default > 0 %}
    {% set survival = variables.survival_proficiency + global_level %}
{% else %}
    {% set survival = 0 %}
{% endif %}
{% if variables.thievery_proficiency|default > 0 %}
    {% set thievery = variables.thievery_proficiency + global_level %}
{% else %}
    {% set thievery = 0 %}
{% endif %}
{% if variables.perception_proficiency|default > 0 %}
    {% set perception = variables.perception_proficiency + global_level %}
{% else %}
    {% set perception = 0 %}
{% endif %}
{# Save Proficiencies #}
{% if variables.fortitude_save_proficiency|default > 0 %}
    {% set fortitude = variables.fortitude_save_proficiency + global_level %}
{% else %}
    {% set fortitude = 0 %}
{% endif %}
{% if variables.reflex_save_proficiency|default > 0 %}
    {% set reflex = variables.reflex_save_proficiency + global_level %}
{% else %}
    {% set reflex = 0 %}
{% endif %}
{% if variables.will_save_proficiency|default > 0 %}
    {% set will = variables.will_save_proficiency + global_level %}
{% else %}
    {% set will = 0 %}
{% endif %}
{# DC Proficiency #}
{% if variables.class_dc_proficiency|default > 0 %}
    {% set dc_proficiency = variables.class_dc_proficiency + global_level %}
{% else %}
    {% set dc_proficiency = 0 %}
{% endif %}
{# Global AC Bonus #}
{% set global_ac_bonus = 0 %}
{% set ac_cap = 99 %}
{% set ac_item = 0 %}
{% if variables.armor_class_proficiency|default > 0 %}{% set global_ac_bonus = variables.armor_class_proficiency + global_level %}{% endif %}
{% if variables.armor_class_item_bonus is defined and variables.armor_class_item_bonus != "" %}{% set ac_item = variables.armor_class_item_bonus %}{% endif %}
{% if variables.armor_class_cap is defined and variables.armor_class_cap != "" %}{% set ac_cap = variables.armor_class_cap %}{% endif %}
{% set global_ac = 10 + min(global_dex_mod, ac_cap) + global_ac_bonus + ac_item %}
<div class="pf2-character-sheet">
    {# Header  #}
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header btn collapsed collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-base" aria-expanded="false" aria-controls=".char-base">
                    Basic Information
                </div>
                <div class="card-body collapse show char-base">
                    <div class="row">
                        <div class="col-12 col-md-6 text-center">
                            <h1 class="mt-0">{{ variables.character_name|default }}</h1>
                            {% if variables.traits|default != "" %}{{ macros.genTraits(variables.traits) }}{% endif %}
                            {% if variables.player_name|default != "" %}<h4> Played by {{ variables.player_name|default }}</h4>{% endif %}
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <img class="pf2-logo" src="/uploads/images/7cb71a2983656a54ec1c4ee84d28b186.png" alt="Pathfinder 2 Logo" />
                            {% if remastered == 1 %}<center>Remastered</center>{% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="char-detail">
                                        <div class="input-label pf-red-bg">Class</div>
                                        <div class="char-input text-center">{{ variables.class|default }}</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="char-detail-sm">
                                        <div class="input-label pf-red-bg">Size</div>
                                        <div class="char-input text-center">
                                            {{ variables.size|default }}
                                        </div>
                                    </div>
                                </div>
                                {% if remastered == 0 %}
                                <div class="col-6">
                                    <div class="char-detail-sm">
                                        <div class="input-label pf-red-bg">Alignment</div>
                                        <div class="char-input text-center">{{ variables.alignment|default }} </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <div class="char-detail">
                                        <div class="input-label pf-red-bg" title="Experience Points">XP</div>
                                        <div class="input-content text-center">{{ variables.experience_points|default }} </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="char-detail">
                                        <div class="input-label pf-red-bg">Level</div>
                                        <div class="input-content text-center level">&nbsp; {{ variables.level|default }} &nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="char-detail">
                                        <div class="input-label pf-red-bg">Hero Points</div>
                                        <div class="input-content text-center">{{ variables.hero_points|default }} </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12">
                                    <div class="char-detail">
                                        <div class="input-label pf-red-bg">Deity</div>
                                        <div class="char-input text-center">{{ variables.deity|default }} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-ancestry" aria-expanded="true" aria-controls=".char-ancestry">
                    Ancestry &amp; Heritage
                </div>
                <div class="card-body collapse show char-ancestry detail text-center">{{ variables.ancestry__heritages|default|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-background" aria-expanded="true" aria-controls=".char-background">
                    Background
                </div>
                <div class="card-body collapse show char-background detail text-center">
                    {% if variables.background|default|trim != "" %}{{ variables.background|nl2br }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-speed" aria-expanded="false" aria-controls=".char-speed">
                    Speed and Movement
                </div>
                <div class="card-body collapse show char-speed">
                    {% if variables.speed|default|trim != "" %}<div class="input-content">{{ variables.speed }}</div>{% endif %}
                    {% if variables.movement|default|trim != "" %}<div class="input-content">{{ variables.movement|nl2br }}</div>{% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Main Row 1 - Ability Scores, Class DC, Armor, Saving Throws, Health & Perception -->
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-abilities" aria-expanded="false" aria-controls=".char-abilities">
                    {% if remastered == 0 %}Ability Scores{% else %}Attribute Score{% endif %}
                </div>
                <div class="card-body collapse show char-abilities of">
                    <table class="table table-striped">
                        {% if variables.strength is defined %}
                            <tr class="ability-row">{{ macros.printAttributeRow(remastered, "strength",variables.strength, remastered)}}</tr>
                        {% endif %}
                        {% if variables.dexterity is defined %}
                            <tr class="ability-row">{{ macros.printAttributeRow(remastered, "dexterity",variables.dexterity, remastered)}}</tr>
                        {% endif %}
                        {% if variables.constitution is defined %}
                            <tr class="ability-row">{{ macros.printAttributeRow(remastered, "constitution",variables.constitution, remastered)}}</tr>
                        {% endif %}
                        {% if variables.intelligence is defined %}
                            <tr class="ability-row">{{ macros.printAttributeRow(remastered, "intelligence",variables.intelligence, remastered)}}</tr>
                        {% endif %}
                        {% if variables.wisdom is defined %}
                            <tr class="ability-row">{{ macros.printAttributeRow(remastered, "wisdom",variables.wisdom, remastered)}}</tr>
                        {% endif %}
                        {% if variables.charisma is defined %}
                            <tr class="ability-row">{{ macros.printAttributeRow(remastered, "charisma",variables.charisma, remastered)}}</tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="card">
                {% set main_class_ability_mod_name='global_'~variables.class_main_ability|lower~'_mod'%}
                {% if attribute(_context,main_class_ability_mod_name) is defined %}
                    {% set main_class_ability_mod = attribute(_context,main_class_ability_mod_name) %}
                    {#{ attribute(_context,main_class_ability_mod_name) }#}
                {% endif %}
                {% set global_class_dc = 10 + dc_proficiency + main_class_ability_mod + variables.class_dc_item_bonus|number_format %}
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-class-dc" aria-expanded="false" aria-controls=".char-class-dc">
                    Class DC
                </div>
                <div class="card-body collapse show char-class-dc">
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">Total</div>
                                <div class="input-content total">
                                    {{ global_class_dc }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Base
                                </div>
                                <div class="input-content">
                                    10
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Key
                                </div>
                                <div class="input-content">
                                    {{ main_class_ability_mod }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Item
                                </div>
                                <div class="input-content">
                                    {% if variables.class_dc_item_bonus is defined and variables.class_dc_item_bonus != "" %}
                                        {{variables.class_dc_item_bonus}}
                                    {% else %}
                                        {{ 0 }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Prof
                                </div>
                                <div class="input-content">
                                    {{ dc_proficiency }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="proftable">
                                {{ macros.printProficiencyTable(variables.class_dc_proficiency) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if variables.language is defined and variables.language != "" %}
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-languages" aria-expanded="false" aria-controls=".char-languages">
                    Languages
                </div>
                <div class="card-body collapse show char-languages">
                    {{ variables.language|nl2br }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-health" aria-expanded="false" aria-controls=".char-health">
                    Health
                </div>
                <div class="card-body collapse show char-health">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    HP
                                </div>
                                <div class="input-content total">
                                    {% if variables.current_hp is defined and variables.current_hp != "" %}{{ variables.current_hp }}{% else %}{{ 0 }}{% endif %}/{% if variables.max_hp is defined and variables.max_hp != "" %}{{ variables.max_hp }}{% else %}{{ 0 }}{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Temp. HP
                                </div>
                                <div class="input-content total">
                                    {% if variables.temporary_hp is defined and variables.temporary_hp != "" %}
                                        {{ variables.temporary_hp }}
                                    {% else %}
                                        {{ 0 }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if variables.resistances_and_immunities is defined and variables.resistances_and_immunities != "" %}
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="char-detail">
                                    <div class="input-label pf-red-bg">
                                        Resistances and Immunities
                                    </div>
                                    <div class="input-content">
                                        {{ variables.resistances_and_immunities|nl2br }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if variables.conditions is defined and variables.conditions != "" %}
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="char-detail">
                                    <div class="input-label pf-red-bg">
                                        Conditions
                                    </div>
                                    <div class="input-content">
                                        {{ variables.conditions|nl2br }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-perception" aria-expanded="false" aria-controls=".char-perception">
                    Perception
                </div>
                <div class="card-body collapse show char-perception">
                    {% set perception_total = perception + global_wis_mod + variables.preception_item_bonus|number_format %}
                    <div class="row">
                        <div class="col-6 col-md-12">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Total
                                </div>
                                <div class="input-content total">
                                    {{ perception_total }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Wis
                                </div>
                                <div class="input-content">
                                    {{ global_wis_mod }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Prof
                                </div>
                                <div class="input-content">
                                    {{ perception }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Item
                                </div>
                                <div class="input-content">
                                    {% if variables.preception_item_bonus is defined and variables.preception_item_bonus != "" %}
                                        {{variables.preception_item_bonus}}
                                    {% else %}
                                        {{ 0 }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="proftable">
                                {{ macros.printProficiencyTable(variables.perception_proficiency) }}
                            </div>
                        </div>
                    </div>
                    {% if variables.senses is defined and variables.senses != "" %}
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="char-detail">
                                    <div class="input-label pf-red-bg">
                                        Senses
                                    </div>
                                    <div class="input-content">
                                        {{ variables.senses|nl2br }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-armor" aria-expanded="false" aria-controls=".char-armor">
                    Armor
                </div>
                <div class="card-body collapse show char-armor">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Total
                                </div>
                                <div class="input-content total">
                                    {{ global_ac }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    AC Base
                                </div>
                                <div class="input-content">
                                    10
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Dex Bonus (or AC Cap)
                                </div>
                                <div class="input-content">
                                    {{ min(global_dex_mod, ac_cap) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Item
                                </div>
                                <div class="input-content">
                                    {{ ac_item }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Prof
                                </div>
                                <div class="input-content">
                                    {{ global_ac_bonus }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="proftable">
                                {{ macros.printProficiencyTable(variables.armor_class_proficiency) }}
                            </div>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <div class="proftable">
                                <span class="armor-proficiency-label">
                                    Unarmored
                                </span>
                                {% if variables.unarmored_proficiency is defined %}
                                    {{ macros.printProficiencyTable (variables.unarmored_proficiency|number_format)}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <div class="proftable">
                                <span class="armor-proficiency-label">
                                    Light
                                </span>
                                {% if variables.light_armor_proficiency is defined %}
                                    {{ macros.printProficiencyTable (variables.light_armor_proficiency|number_format)}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <div class="proftable">
                                <span class="armor-proficiency-label">
                                    Medium
                                </span>
                                {% if variables.medium_armor_proficiency is defined %}
                                    {{ macros.printProficiencyTable (variables.medium_armor_proficiency|number_format)}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <div class="proftable">
                                <span class="armor-proficiency-label">
                                    Heavy
                                </span>
                                {% if variables.heavy_armor_proficiency is defined %}
                                    {{ macros.printProficiencyTable (variables.heavy_armor_proficiency|number_format)}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Shield AC
                                </div>
                                <div class="input-content">
                                        +{{variables.shield_armor_class_bonus|default('0') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Hardness
                                </div>
                                <div class="input-content">
                                        {{ variables.shield_hardness|default('0')}}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Shield HP
                                </div>
                                <div class="input-content">
                                        {{ variables.shield_current_hp|default('0') }} / {{ variables.shield_max_hp|default('0') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    BT
                                </div>
                                <div class="input-content">
                                        {{ variables.shield_break_threshold|default('0') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card">
                {% set fortitude_total = fortitude + global_con_mod + variables.fortitude_save_item_bonus|number_format %}
                {% set reflex_total = reflex + global_dex_mod + variables.reflex_save_item_bonus|number_format %}
                {% set will_total = will + global_wis_mod + variables.will_save_item_bonus|number_format %}
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-saves" aria-expanded="false" aria-controls=".char-saves">
                    Saving Throws
                </div>
                <div class="card-body collapse show char-saves of">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" width="50px"></th>
                            <th scope="col" width="150px">Save</th>
                            <th scope="col">Total</th>
                            <th scope="col">Mod</th>
                            <th scope="col">Prof</th>
                            <th scope="col">Item</th>
                            <th scope="col">Prof. Bonus</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><div class="table-roll-label rolldice" data={{"1d20+#{fortitude_total}"}}><em class="fas fa-dice-d20"></em> </div></td>
                            <td class="skillname">Fortitude (CON)</td>
                            <td class="table-value total"> {{ fortitude_total }}</td>
                            <td class="table-value"> {{ global_con_mod }}</td>
                            <td class="table-value"> {{ fortitude }}</td>
                            <td class="table-value">
                                {% if variables.fortitude_save_item_bonus is defined and variables.fortitude_save_item_bonus != "" %}
                                    {{variables.fortitude_save_item_bonus}}
                                {% else %}
                                    {{ 0 }}
                                {% endif %}
                            </td>
                            <td class="table-value">
                                {% if variables.fortitude_save_proficiency is defined and variables.fortitude_save_proficiency != "" %}
                                    {{variables.fortitude_save_proficiency}}
                                {% else %}
                                    {{0}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><div class="table-roll-label rolldice" data={{"1d20+#{reflex_total}"}}><em class="fas fa-dice-d20"></em> </div></td>
                            <td class="skillname">Reflex (DEX)</td>
                            <td class="table-value total"> {{ reflex_total }}</td>
                            <td class="table-value"> {{ global_dex_mod }}</td>
                            <td class="table-value"> {{ reflex }}</td>
                            <td class="table-value">
                                {% if variables.reflex_save_item_bonus is defined and variables.reflex_save_item_bonus != "" %}
                                    {{variables.reflex_save_item_bonus}}
                                {% else %}
                                    {{ 0 }}
                                {% endif %}
                            </td>
                            <td class="table-value">
                                {% if variables.reflex_save_proficiency is defined and variables.reflex_save_proficiency != "" %}
                                    {{variables.reflex_save_proficiency}}
                                {% else %}
                                    {{0}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><div class="table-roll-label rolldice" data={{"1d20+#{will_total}"}}><em class="fas fa-dice-d20"></em> </div></td>
                            <td class="skillname">Will (WIS)</td>
                            <td class="table-value total"> {{ will_total }}</td>
                            <td class="table-value"> {{ global_wis_mod }}</td>
                            <td class="table-value"> {{ will }}</td>
                            <td class="table-value">
                                {% if variables.will_save_item_bonus is defined and variables.will_save_item_bonus != "" %}
                                    {{variables.will_save_item_bonus}}
                                {% else %}
                                    {{ 0 }}
                                {% endif %}
                            </td>
                            <td class="table-value">
                                {% if variables.will_save_proficiency is defined and variables.will_save_proficiency != "" %}
                                    {{variables.will_save_proficiency}}
                                {% else %}
                                    {{0}}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-weapons" aria-expanded="false" aria-controls=".char-weapons">
                    Weapon Proficiencies
                </div>
                <div class="card-body collapse show char-weapons">
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            <div class="card">
                                <span class="armor-proficiency-label">Simple Weapons</span>
                                <div class="proftable">
                                    {% if variables.simple_weapon_proficiency is defined %}
                                        {{ macros.printProficiencyTable (variables.simple_weapon_proficiency|number_format)}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-6">
                            <div class="card">
                                <span class="armor-proficiency-label">Martial Weapons</span>
                                <div class="proftable">
                                    {% if variables.martial_weapon_proficiency is defined %}
                                        {{ macros.printProficiencyTable (variables.martial_weapon_proficiency|number_format)}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if variables.other_weapons_proficiency is defined and variables.other_weapons_proficiency != "" %}
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="card">
                                    {{ variables.other_weapons_proficiency|ParseTable }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Main Row 2 - Weapon Attacks -->
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-melee" aria-expanded="false" aria-controls=".char-melee">
                    Melee Strikes
                </div>
                <div class="card-body collapse show char-melee of">
                    {{ variables.melee_strikes|ParseTable }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-ranged" aria-expanded="false" aria-controls=".char-ranged">
                    Ranged Strikes
                </div>
                <div class="card-body collapse show char-ranged of">
                    {{ variables.ranged_strikes|ParseTable }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-skills" aria-expanded="false" aria-controls=".char-skills">
                    Skills
                </div>
                <div class="card-body collapse show char-skills of">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" width="50px"></th>
                            <th scope="col" width="100px">Total</th>
                            <th scope="col" style="min-width:200px"></th>
                            <th scope="col" width="100px">Prof. Mod</th>
                            <th scope="col" width="120px">{% if remastered == 1%}Attribute Mod{% else %}Ability Mod{% endif %}</th>
                            <th scope="col" width="100px">Item Mod</th>
                            <th scope="col" width="100px">Armor Mod</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>{{ macros.printSkillRow("Acrobatics (DEX)", acrobatics, global_dex_mod, variables.acrobatics_item_modifier, variables.acrobatics_armor_penalty) }}</tr>
                        <tr>{{ macros.printSkillRow("Arcana (Int)", arcana, global_int_mod, variables.arcana_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Athlethics (Str)", athlethics, global_str_mod, variables.athlethics_item_modifier, variables.athlethics_armor_penalty) }}</tr>
                        <tr>{{ macros.printSkillRow("Crafting (Int)", crafting, global_int_mod, variables.crafting_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Deception (CHA)", deception, global_cha_mod, variables.deception_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Diplomacy (CHA)", diplomacy, global_cha_mod, variables.diplomacy_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Intimidation (CHA)", intimidation, global_cha_mod, variables.intimidation_item_modifier) }}</tr>
                        {{ macros.printSkillTable(variables.lores, global_level) }}
                        <tr>{{ macros.printSkillRow("Medicine (WIS)", medicine, global_wis_mod, variables.medicine_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Nature (WIS)", nature, global_wis_mod, variables.nature_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Occultism (INT)", occultism, global_int_mod, variables.occultism_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Performance (CHA)", performance, global_cha_mod, variables.performance_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Religion (WIS)", religion, global_wis_mod, variables.religion_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Society (INT)", society, global_int_mod, variables.society_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Stealth (DEX)", stealth, global_dex_mod, variables.stealth_item_modifier, variables.stealth_armor_penalty) }}</tr>
                        <tr>{{ macros.printSkillRow("Survival (WIS)", survival, global_wis_mod, variables.survival_item_modifier) }}</tr>
                        <tr>{{ macros.printSkillRow("Thievery (DEX)", thievery, global_dex_mod, variables.thievery_item_modifier, variables.thievery_armor_penalty) }}</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            {% if variables.feats_freeform is defined and variables.feats_freeform != "" %}
                <div class="card">
                    <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-feats" aria-expanded="false" aria-controls=".char-feats">
                        Feats
                    </div>
                    <div class="card-body collapse show char-feats">
                        {{ variables.feats_freeform|nl2br }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-6">
            {% if variables.inventory is defined and variables.inventory != "" %}
                <div class="card">
                    <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-inventory" aria-expanded="false" aria-controls=".char-inventory">
                        Inventory
                    </div>
                    <div class="card-body collapse show char-inventory">
                        {{ variables.inventory|nl2br }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Main Row 4 - Spellcasting -->
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-casting" aria-expanded="false" aria-controls=".char-casting">
                    Spellcasting
                </div>
                <div class="card-body collapse show char-casting">
                    {% set caster_ability_mod_name='global_'~variables.caster_ability|lower~'_mod'%}
                    {% if attribute(_context,caster_ability_mod_name) is defined %}
                        {% set caster_ability_mod = attribute(_context,caster_ability_mod_name) %}
                        {#{ attribute(_context,caster_ability_mod_name) }#}
                    {% endif %}
                    {% if variables.spell_attack_proficiency is defined and variables.spell_attack_proficiency !="0" %}
                        {% set spell_att = variables.spell_attack_proficiency + caster_ability_mod + global_level %}
                    {% else %}
                        {% set spell_att = variables.spell_attack_proficiency + caster_ability_mod %}
                    {% endif %}
                    {% if variables.spell_save_proficiency is defined and variables.spell_save_proficiency != "0" %}
                        {% set spell_save = variables.spell_save_proficiency + global_level + caster_ability_mod + 10 %}
                    {% else %}
                        {% set spell_save = 10 + caster_ability_mod %}
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-4">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Spell Attack Roll
                                </div>
                                <div class="input-content of">
                                    <table class="table table-striped spells">
                                        <tr>
                                            <th></th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Key</th>
                                            <th scope="col">Prof</th>
                                        </tr>
                                        <tr>
                                            <td><div class="table-roll-label rolldice" data={{"1d20+#{spell_att}"}}><em class="fas fa-dice-d20"></em></div></td>
                                            <td class="total">{{ spell_att }}</td>
                                            <td>{{ caster_ability_mod }}</td>
                                            <td>{% if variables.spell_attack_proficiency is defined and variables.spell_attack_proficiency !="0" %}
                                                    {% set spell_prof = variables.spell_attack_proficiency  + global_level %}
                                                {% else %}
                                                    {% set spell_prof = variables.spell_attack_proficiency %}
                                                {% endif %}
                                                {{ spell_prof }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Spell DC
                                </div>
                                <div class="input-content of">
                                    <table class="table table-striped spells">
                                        <tr>
                                            <th scope="col">Total</th>
                                            <th scope="col">Base</th>
                                            <th scope="col">Key</th>
                                            <th scope="col">Prof</th>
                                        </tr>
                                        <tr>
                                            <td class="total">{{ spell_save }}</td>
                                            <td>10</td>
                                            <td>{{ caster_ability_mod }}</td>
                                            <td>{% if variables.spell_save_proficiency is defined and variables.spell_save_proficiency !="0" %}
                                                    {% set spell_dc = variables.spell_save_proficiency  + global_level %}
                                                {% else %}
                                                    {% set spell_dc = 0 %}
                                                {% endif %}
                                                {{ spell_dc }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Magic Tradition
                                </div>
                                <div class="input-content">
                                    {{ variables.tradition }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="char-detail">
                                <div class="input-label pf-red-bg">
                                    Spells Per Day
                                </div>
                                <div class="input-content of">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th width="130px">Per Day</th>
                                            <td>{{ variables.spell_slots_1 }}</td>
                                            <td>{{ variables.spell_slots_2 }}</td>
                                            <td>{{ variables.spell_slots_3 }}</td>
                                            <td>{{ variables.spell_slots_4 }}</td>
                                            <td>{{ variables.spell_slots_5 }}</td>
                                            <td>{{ variables.spell_slots_6 }}</td>
                                            <td>{{ variables.spell_slots_7 }}</td>
                                            <td>{{ variables.spell_slots_8 }}</td>
                                            <td>{{ variables.spell_slots_9 }}</td>
                                            <td>{{ variables.spell_slots_10 }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% if remastered == 1%}Rank{% else %}Level{% endif %}</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                            <th>7</th>
                                            <th>8</th>
                                            <th>9</th>
                                            <th>10</th>
                                        </tr>
                                        <tr>
                                            <th>Current</th>
                                            <td>{{ variables.track_spell_1 }}</td>
                                            <td>{{ variables.track_spell_2 }}</td>
                                            <td>{{ variables.track_spell_3 }}</td>
                                            <td>{{ variables.track_spell_4 }}</td>
                                            <td>{{ variables.track_spell_5 }}</td>
                                            <td>{{ variables.track_spell_6 }}</td>
                                            <td>{{ variables.track_spell_7 }}</td>
                                            <td>{{ variables.track_spell_8 }}</td>
                                            <td>{{ variables.track_spell_9 }}</td>
                                            <td>{{ variables.track_spell_10 }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if variables.focus_points is defined and variables.focus_points != "" %}
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="input-label pf-red-bg">
                                    Focus Points
                                </div>
                                <div class="input-content">
                                    {{ variables.focus_points }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if variables.spellbook is defined and variables.spellbook != "" %}
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="char-detail">
                                    <div class="input-label pf-red-bg">
                                        Spellbook
                                    </div>
                                    <div class="input-content">
                                        {{ variables.spellbook|nl2br }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            {% if variables.notes is defined and variables.notes != "" %}
                <div class="card">
                    <div class="card-header btn collapsed pf-red-bg btn-pathfinder" data-toggle="collapse" data-target=".char-notes" aria-expanded="false" aria-controls=".char-notes">
                        Notes
                    </div>
                    <div class="card-body collapse show char-notes">
                        {{ variables.notes|nl2br }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>