<div class="container-fluid sheet-fantasy-age-character">
	<div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                    <tr><th class='ilbl ilbl-hp-curr'><label for='hp-curr'>HP</label></th><td class='ivar ivar-hp-curr'><input value='{{variables.hp_curr|default}}' class='form-control ivar ivar-hp-curr sm' id='hp_curr' name='hp_curr' type='number' /> / {{variables.hp_max|default}}</td></tr>
                    <tr><th class='ilbl ilbl-mp-curr'><label for='mp-curr'>MP</label></th><td class='ivar ivar-mp-curr'><input value='{{variables.mp_curr|default}}' class='form-control ivar ivar-mp-curr sm' id='mp_curr' name='mp_curr' type='number' /> / {{variables.mp_max|default}}</td></tr>
                    <tr><th class='ilbl ilbl-xp'><label for='xp'>XP</label></th><td class='ivar ivar-xp'><input value='{{variables.xp|default}}' class='form-control ivar ivar-xp sm' id='xp' name='xp' type='number' /> / {{variables.xp_next|default}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="card notes" id="card-notes">
                <div class="card-header notes"><label for='notes'>Notes</label></div>
                <div class="card-body">
                    <div class='ivar ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3' >{{variables.notes|default}}</textarea></div></div>
                </div>
            </div>
        </div>
    </div>
</div>