{% set style = '' %}{% if variables.vintage|default > 0 %}{% set style='-vintage' %}{% endif %}
<div class='container-fluid dnd5e-2024{{style}}'>
    <div class='row'>
        <div class='col-12'>
            <div class='ilbl od ilbl-name'><label for='name'>Name</label></div><div class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' required='required' name='name' type='text' /></div>
            <div class='ilbl ev ilbl-category'><label for='category'>Category</label></div><div class='ivar ev ivar-category'>
            <select  class='form-control ivar ivar-category' id='category' name='category'>
            <option value='Epic Boon' {% if variables.category|default == 'Epic Boon' %}selected='selected' {% endif %} > Epic Boon </option>
            <option value='Fighting Style' {% if variables.category|default == 'Fighting Style' %}selected='selected' {% endif %} > Fighting Style </option>
            <option value='General' {% if variables.category|default == 'General' %}selected='selected' {% endif %} > General </option>
            <option value='Origin' {% if variables.category|default == 'Origin' %}selected='selected' {% endif %} > Origin </option>
            <option value='Other' {% if variables.category|default == 'Other' %}selected='selected' {% endif %} > Other </option>
            </select></div>
            <div class='ilbl od ilbl-prerequisite'><label for='prerequisite'>Prerequisite</label></div><div class='ivar od ivar-prerequisite'><input value='{{variables.prerequisite|default}}' class='form-control ivar ivar-prerequisite' id='prerequisite' name='prerequisite' type='text' /></div>
            <div class='ilbl ev ilbl-benefit'><label for='benefit'>Description</label></div><div class='ivar ev ivar-benefit'><div class='iContent'><textarea class='form-control ivar ivar-benefit mention' id='benefit' name='benefit' rows='3'  >{{variables.benefit|default}}</textarea></div></div>
            <div class='ilbl od ilbl-repeatable'><label for='repeatable'>Repeatable</label></div><div class='ivar od ivar-repeatable c'><input value='0' id='repeatable' name='repeatable' type='hidden' /><input value='1' class='c' {% if variables.repeatable|default > 0 %} checked='checked'{% endif %} id='repeatable' name='repeatable' type='checkbox' /></div>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="imageid" class="control-label"><h4 class="header-title">Illustrating image (WA Image Gallery ID)</h4></label>
                <input value="{{ variables.imageid|default }}" class="form-control" id="imageid" name="imageid" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="source" class="control-label"><h4 class="header-title">Source</h4></label>
                <input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <input value='0' id='vintage' name='vintage' type='hidden' />
                <input value='1' class='c' {% if variables.vintage|default > 0 %} checked='checked'{% endif %} id='vintage' name='vintage' type='checkbox' /> <label for='vintage'>Vintage Style instead of Modern Style</label>
            </div>
        </div>
    </div>
</div>