<section class="cypher-character-trackable">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card-body bg-simple my-2">
                        <table width="100%">
                            <tr>
                            <td><strong><em class="fab fa-bitcoin"></em></strong> <label for="bennies" class="control-label"><span class="form-header-title">Bennies</span></label>
                                <input value="{{ variables.bennies is defined ? variables.bennies }}" class="form-control" id="bennies" name="bennies" placeholder="" type="number" /></td>
                            <td><strong><em class="ra ra-trophy"></em></strong> <label for="conviction" class="control-label"><span class="form-header-title">Conviction</span></label>
                                <input value="{{ variables.conviction is defined ? variables.conviction }}" class="form-control" id="conviction" name="conviction" placeholder="" type="number" /></td>
                            <td><label for="power_points_current" class="control-label"><span class="form-header-title">Power Points</span></label>
                                <input value="{{ variables.power_points_current is defined ? variables.power_points_current }}" class="form-control" id="power_points_current" name="power_points_current" placeholder="" type="number" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card my-2"> <!-- center: status -->
                        <div class="card-header bg-simple header text-center"><em class="fas fa-heartbeat"></em> Status</div>
                        <div class="card-body">
                            <ul class="list-group d-flex justify-content-between">
                                <li class="list-group-item">
                                    <input value="0" type=hidden name="shaken" />
                                    <input value="1" {% if variables.shaken is defined and variables.shaken == 1 %} checked="checked"{% endif %} class="" id="shaken" name="shaken" placeholder="" type="checkbox" /> <label for="shaken" class="control-label"><span class="form-header-title">Shaken</span></label></label>
                                    <input value="0" type=hidden name="vulnerable" />
                                    <input value="1" {% if variables.vulnerable is defined and variables.vulnerable == 1 %} checked="checked"{% endif %} class="" id="vulnerable" name="vulnerable" placeholder="" type="checkbox" /> <label for="vulnerable" class="control-label"><span class="form-header-title">Vulnerable</span></label></label>
                                </li>
                                <li class="list-group-item">
                                    <label for="wounds" class="control-label"><span class="form-header-title">Wounds</span></label>
                                    <input value="{{ variables.wounds is defined ? variables.wounds }}" class="form-control" id="wounds" name="wounds" placeholder="" type="number" />
                                </li>
                                <li class="list-group-item">
                                    <label for="fatigue" class="control-label"><span class="form-header-title">Fatigue</span></label>
                                    <input value="{{ variables.fatigue is defined ? variables.fatigue }}" class="form-control" id="fatigue" name="fatigue" placeholder="" type="number" />
                                </li>
                            </ul>
                        </div> <!-- close status -->
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card border d-flex"> <!-- notes -->
                        <div class="card-header bg-simple text-center" title="Notes for after session"><span class="header">Notes for after session</span>
                        </div>
                        <div class="card-body">
                            <textarea class="form-control" id="notes" name="notes" cols="30" rows="10">{{ variables.notes is defined ? variables.notes }}</textarea>
                        </div>
                    </div> <!-- close notes -->
                </div>
            </div>
        </div>
    </div>
</section>