<div class="statblock template-{{ meta.identifier }} text-center">
	<div><strong>{{ variables.level }}-level {{ variables.race }} {{ variables.class }}</strong></div> 
	<div><small>({{ variables.background }})</small></div> 
</div>