{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<h1>{{variables.name}}</h1>
<h3>Hit Points</h3>
<div class="statblock-stat"><strong>Hit Dice: </strong> <span>{{variables.hitdice}} per {{ variables.name }} level</span></div>
<div class="statblock-stat"><strong>Hit Points at first Level: </strong> <span>{{variables.hitpointsfirstlevel}}</span></div>
<div class="statblock-stat"><strong>Hit Points at Higher Levels: </strong> <span>{{variables.hitpointsathigherlevels}}</span></div>

<h3>Proficiences</h3>
<div class="statblock-stat"><strong>Armor: </strong> <span>{{variables.armorproficiencies}}</span></div>
<div class="statblock-stat"><strong>Weapons: </strong> <span>{{variables.weaponproficiences}}</span></div>
<div class="statblock-stat"><strong>Tools: </strong> <span>{{variables.tools}}</span></div>
<div class="statblock-stat"><strong>Saving Throws: </strong> <span>{{variables.savingthrows}}</span></div>
<div class="statblock-stat"><strong>Skills: </strong> <span>{{variables.skills}}</span></div>



{% if variables.overview %}
	<h2>Overview & Creation</h2>
	<p>
		{{ variables.overview }}
	</p>
{% endif %}
{% if variables.features is defined and variables.features %}
	<h2>Class Features</h2>
	<p>
		{{ variables.features }}
	</p>
{% endif %}
{% if variables.spellcasting %}
	<h2>Spellcasting</h2>
	<p>
		{{ variables.spellcasting }}
	</p>
{% endif %}
{% if variables.equipment is defined and variables.equipment %}
	<h2>Starting Equipment</h2>
	<p>
		{{ variables.equipment }}
	</p>
{% endif %}
{% if variables.subclasses is defined and variables.subclasses %}
	<h2>Subclass options</h2>
	<p>
		{{ variables.subclasses }}
	</p>
{% endif %}
{% endblock %}