{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
{% if variables.source is defined or meta.block.isSRD %}
	<p class="statblock-source">
		{% if variables.source is defined %}
			{{ variables.source }} 
		{% endif %}
		{% if meta.block.isSRD %}
			<strong>SRD</strong>
		{% endif %}
	</p>
{% endif %}

<h1>{{variables.name|BBcode }}</h1>
<p class="subheading">
	{% if variables.type %}{{variables.type}}{% endif %} 
	{% if variables.rarity %}{{ variables.rarity }}{% endif %} 
	{% if  variables.needsattunement is defined and variables.needsattunement %}(this item requires attunement){% endif %}
</p>

{% if variables.description %}
<p>
	{% if variables.description %}{{variables.description}}{% endif %} 
</p>
{% endif %}

{# If item is an Armor #}
{% if variables.ac or variables.strengthrequirement or variables.stealthdisadvantage is defined %}
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>AC</th>
					<th>STR Req.</th>
					<th>Stealth Dis.</th>
					<th>Properties</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ variables.armortype}}</td>
					<td>{{ variables.ac}}</td>
					<td>{{ variables.strengthrequirement}}</td>
					<td>{% if variables.stealthdisadvantage is defined %}YES{% endif %}</td>
					<td></td>
				</tr>
			</tbody>
		</table>	
	</div>
{% endif %}

{# If item is a Weapon #}
{% if  variables.damage or  variables.range  %}
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Damage</th>
					<th>Damage</th>
					<th>Range</th>
					<th>Properties</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ variables.weapontype}}</td>
					<td>{{ variables.damage}}  {% if variables.secondarydamage is defined and variables.secondarydamage %}/ {{ variables.secondarydamage }} {% endif %}</td>
					<td>{{ variables.damagetype}}</td>
					<td>{{ variables.range}}</td>
					<td>{% if variables.properties %}{{ variables.properties }}{% endif %} </td>
				</tr>
			</tbody>
		</table>	
	</div>
{% endif %}

<p>
	<small>
		{% if variables.cost %}Cost: {{ variables.cost }} {% endif %} 
		{% if variables.weight %}Weight: {{ variables.weight }}{% endif %} 
	</small>
</p>

{% endblock %}