{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<h1>{{variables.name}}</h1>
<div class="statblock-stat"><strong>Ability Score Increase</strong> <span>{{variables.abilityscores}}</span></div>
<div class="statblock-stat"><strong>Size</strong> <span>{{variables.size}}</span></div>
<div class="statblock-stat"><strong>Speed</strong>  <span>{{variables.speed}}</span></div>
<hr class="hr-dark">
<p>
	{{ variables.features }}
</p>
	{% if variables.languages %}
		<p><strong>Languages.</strong> {{ variables.languages }}</p>
	{% endif %}


{% endblock %}