{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
<div>
<table>
<tr>
<td><div class="name">Name: </div> {{variables.name|BBcode}}</td>
<td><div class="rank">Insight Rank: </div>{{variables.insightRank|BBcode}}</td>
<td><div class="insight">Insight: </div>{{variables.insight|BBcode}}</td>
<td><div class="xp">XP: </div>{{variables.xp|BBcode}}</td>
<td><div class="school">School: </div>{{variables.school|BBcode}}</td>
</tr>
<tr>
<td><div class="honor">Honor: </div>{{variables.honor|BBcode}}</td><td><div class="status">Status: </div>{{variables.status|BBcode}}</td><td><div class="glory">Glory: </div>{{variables.glory|BBcode}}</td>
</tr>
<tr>
<td><div class="air">Air: </div>{{variables.air|BBcode}}</td>
<td><div class="earth">Earth: </div>{{variables.earth|BBcode}}</td>
<td><div class="fire">Fire: </div>{{variables.fire|BBcode}}</td>
<td><div class="water">Water: </div>{{variables.water|BBcode}}</td>
<td><div class="void">Void: </div>{{variables.void|BBcode}}</td>
</tr>
<tr>
<td>{% if variables.stamina  %}<div class="stamina">Stamina </div>{{variables.stamina|BBcode}}</br>{% endif %}{% if variables.willpower  %}<div class="willpower">Willpower </div>{{variables.willpower|BBcode}}{% endif %}</td>
<td>{% if variables.strength  %}<div class="strength">Strength </div>{{variables.strength|BBcode}}</br>{% endif %}{% if variables.perception  %}<div class="perception">Perception </div>{{variables.perception|BBcode}}{% endif %}</td>
<td>{% if variables.reflexes  %}<div class="reflexes">Reflexes </div>{{variables.reflexes|BBcode}}</br>{% endif %}{% if variables.awareness  %}<div class="awareness">Awareness </div>{{variables.awareness|BBcode}}{% endif %}</td>
<td>{% if variables.agility  %}<div class="agility">Agility </div>{{variables.agility|BBcode}}</br>{% endif %}{% if variables.intelligence  %}<div class="intelligence">Intelligence </div>{{variables.intelligence|BBcode}}{% endif %}</td>
<td></td>
</tr>
<tr>
{% if variables.advantages  %}
<td colspan="5"><div class="advantages">Advantages: </div>{{variables.advantages|BBcode}}</td>
{% endif %}
</tr>
<tr>
{% if variables.disadvantages  %}
<td colspan="5"><div class="disadvantages">Disadvantages: </div>{{variables.disadvantages|BBcode}}</td>
{% endif %}
</tr>
<tr>
<td colspan="5"><div class="skills">Skills: </div>{{variables.skills|BBcode}}</td>
</tr>
</table>
</div>
{% endblock %}
