{% import _self as sheet %}
{% set sheetname = 'dnd5e' %}
{# --- calculate global level --- #}
{% set level = 0 %}
{% if variables.level_1 is defined and variables.level_1 > 0 %}{% set level = level + variables.level_1 %}{% endif %}
{% if variables.level_2 is defined and variables.level_2 > 0 %}{% set level = level + variables.level_2 %}{% endif %}
{% if variables.level_3 is defined and variables.level_3 > 0 %}{% set level = level + variables.level_3 %}{% endif %}
{% if variables.level_4 is defined and variables.level_4 > 0 %}{% set level = level + variables.level_4 %}{% endif %}
{% if level < 1 %}{% set level = 1 %}{% endif %}
{# --- grab the level if and of the four is a bard #}
{% set blevel = 0 %}
{% if 'bard' in variables.class_1|default('')|lower %}{% set blevel = variables.level_1|default('0') %}{% endif %}
{% if 'bard' in variables.class_2|default('')|lower %}{% set blevel = variables.level_2|default('0') %}{% endif %}
{% if 'bard' in variables.class_3|default('')|lower %}{% set blevel = variables.level_3|default('0') %}{% endif %}
{% if 'bard' in variables.class_4|default('')|lower %}{% set blevel = variables.level_4|default('0') %}{% endif %}
{# jack of all trades #}
{% set joat = variables.jack_of_all_trades|default %}
{# attributes #}
{% set constitution = variables.constitution|default(10) %}
{% set dexterity = variables.dexterity|default(10) %}
{% set strength = variables.strength|default(10) %}
{% set intelligence = variables.intelligence|default(10) %}
{% set wisdom = variables.wisdom|default(10) %}
{% set charisma = variables.charisma|default(10) %}
{# --- INITIATIVE(DEX) --- #}
{% set con_bonus = ((constitution - 10) // 2) %}
{% set dex_bonus = ((dexterity - 10) // 2) %}
{% set str_bonus = ((strength - 10) // 2) %}
{% set ini_mod = variables.initiative_mod|default %}
{% if ini_mod == 0 %}{% set ini_mod = 0 %}{% endif %}{# possible replacement of "" to 0 #}
{% set ini = variables.initiative|default('') %}
{# fix for older sheets that had ini instead if ini_mod #}
{% if ini != "" %}
    {% set ini_mod = ini - dex_bonus %}
    {% set ini = "" %}
{% endif %}
{# --- AC --- #}
{% set ac = 10 + dex_bonus %}
{% if variables.armor_class is defined and variables.armor_class != '' %}{% set ac = variables.armor_class %}{% endif %}
{% if variables.armor_class_mod is defined and variables.armor_class_mod != '' %}{% set ac = ac + variables.armor_class_mod %}{% endif %}
{# --- HIT POINTS --- #}
{% set chp = variables.hit_points_current|default('') %}
{% if variables.hit_points is defined and variables.hit_points != '' %}
	{# if the player/dm has entered hitpoints, use them #}
	{% set hp = variables.hit_points %}
{% else %}
	{# if the hp field is empty, automatically calculate them #}
	{% set hp = variables.hit_die|default('8') + con_bonus %}
	{% if variables.hit_points_first is defined and variables.hit_points_first > 0 %}
		{% set hp = variables.hit_points_first %}
	{% endif %}
	{% if variables.level_1 is defined and variables.level_1 > 1 %}
		{% set die = (variables.hit_die|default('8') / 2)|round(0, 'ceil') %}
		{% set hp = hp + (variables.level_1 - 1) * (die + con_bonus) %}
	{% endif %}
	{% if variables.level_2 is defined and variables.level_2 > 0 %}
		{% set die = (variables.hit_die_2|default('8') / 2)|round(0, 'ceil') %}
		{% set hp = hp + variables.level_2 * (die + con_bonus) %}
	{% endif %}
	{% if variables.level_3 is defined and variables.level_3 > 0 %}
		{% set die = (variables.hit_die_3|default('8') / 2)|round(0, 'ceil') %}
		{% set hp = hp + variables.level_3 * (die + con_bonus) %}
	{% endif %}
	{% if variables.level_4 is defined and variables.level_4 > 0 %}
		{% set die = (variables.hit_die_4|default('8') / 2)|round(0, 'ceil') %}
		{% set hp = hp + variables.level_4 * (die + con_bonus) %}
	{% endif %}
{% endif %}
{% if chp == '' %}{% set chp = hp %}{% endif %}
{% if chp > hp %}{% set chp = hp %}{% endif %}
{# --- PROF BONUS + XP required for next level --- #}
{% set xpreq = 0 %}
{% set l = level %}
{% set pb = (1 + l / 4)|round(0, 'ceil') %}
{% set pbd = '' %}
{% set prof_dice_enabled = 0 %}
{% if variables.prof_dice_enabled is defined and variables.prof_dice_enabled == 1 %}
	{% set prof_dice_enabled = 1 %}
	{% set pbd = 'd4' %}
	{% if level >  4 %}{% set pbd = 'd6' %}{% endif %}
	{% if level >  8 %}{% set pbd = 'd8' %}{% endif %}
	{% if level > 12 %}{% set pbd = 'd10' %}{% endif %}
	{% if level > 16 %}{% set pbd = 'd12' %}{% endif %}
{% endif %}
{% if     l ==  1 %}{% set xpreq = 300 %}
{% elseif l ==  2 %}{% set xpreq = 900 %}
{% elseif l ==  3 %}{% set xpreq = 2700 %}
{% elseif l ==  4 %}{% set xpreq = 6500 %}
{% elseif l ==  5 %}{% set xpreq = 14000 %}
{% elseif l ==  6 %}{% set xpreq = 23000 %}
{% elseif l ==  7 %}{% set xpreq = 34000 %}
{% elseif l ==  8 %}{% set xpreq = 48000 %}
{% elseif l ==  9 %}{% set xpreq = 64000 %}
{% elseif l == 10 %}{% set xpreq = 85000 %}
{% elseif l == 11 %}{% set xpreq = 100000 %}
{% elseif l == 12 %}{% set xpreq = 120000 %}
{% elseif l == 13 %}{% set xpreq = 140000 %}
{% elseif l == 14 %}{% set xpreq = 165000 %}
{% elseif l == 15 %}{% set xpreq = 195000 %}
{% elseif l == 16 %}{% set xpreq = 225000 %}
{% elseif l == 17 %}{% set xpreq = 265000 %}
{% elseif l == 18 %}{% set xpreq = 305000 %}
{% elseif l == 19 %}{% set xpreq = 355000 %}
{% elseif l == 20 %}{% set xpreq = 355000 %}
{% elseif l == 21 %}{% set xpreq = 385000 %}
{% elseif l == 22 %}{% set xpreq = 415000 %}
{% elseif l == 23 %}{% set xpreq = 445000 %}
{% elseif l == 24 %}{% set xpreq = 475000 %}
{% elseif l == 25 %}{% set xpreq = 505000 %}
{% elseif l == 26 %}{% set xpreq = 535000 %}
{% elseif l == 27 %}{% set xpreq = 565000 %}
{% elseif l == 28 %}{% set xpreq = 595000 %}
{% elseif l == 29 %}{% set xpreq = 625000 %}
{% elseif l == 30 %}{% set xpreq = 655000 %}
{% endif %}
{# --- SPELLCASTING --- #}
{% set sca = variables.spellcasting_ability|default("NONE") %}
{% if sca != "NONE" %}
	{% if sca == "WIS" %}{% set scm = wisdom %}{% endif %}
	{% if sca == "INT" %}{% set scm = intelligence %}{% endif %}
	{% if sca == "CHA" %}{% set scm = charisma %}{% endif %}
	{% set scm = ((scm - 10) // 2) %}
	{% set ssdc = 8 + pb + scm %}
	{% if prof_dice_enabled == 1 %}
		{% if scm > -1 %}{% set scm = '+' ~ scm %}{% endif %}	
		{% set sam = pbd ~ scm %}
	{% else %}
		{% set sam = pb + scm %}
	{% endif %}
{% endif %}
{#

sca:	spellcasting ability (= wis, int or cha)
scm:	spellcasting modifier (derived from sca, -4 to +4)
sam:	spell attack modofier (scm + proficiency)
#}
{# ---------------------------------------------- #}
{% macro getMod(attr, add = '', pbd = '') %}
{% set mod = 0 %}
{% if attr is defined and attr != '' %}
	{% set mod = (attr - 10) // 2 %}
{% endif %}
{% if pbd != '' %}
	{% if add is defined and add != '' %}
		{% if mod > -1 %}{% set mod = '+' ~ mod %}{% endif %}
		{% set mod = mod ~ '+' ~ add %}
	{% endif %}
{% else %}
	{% if add is defined and add != '' %}
		{% set mod = mod + add %}
	{% endif %}
	{% if mod > -1 %}{% set mod = '+' ~ mod %}{% endif %}
{% endif %}
{{mod}}{% endmacro getMod %}
{# ---------------------------------------------- #}
{% macro skillRoll( bonus = 0, attr = 0, default = 10, prof = 0, exp = 0, pb = 0, pbd = '', jack = 0, blevel = 0) %}
{% if attr == 0 or attr == '' or attr < 0 %}{% set attr = default %}{% endif %}
{% if attr > 0 %}{% set bonus = bonus|number_format + (attr|number_format - 10) // 2 %}{% endif %}
{% set disbonus = '' %}
{% if pbd != '' %}
	{% if bonus > -1 %}{% set bonus = '+' ~ bonus %}{% endif %}
	{% if exp is defined and exp == '1' %}{% set bonus = bonus ~ '+2' ~ pbd %}
	{% elseif prof is defined and prof == '1' %}{% set bonus = bonus ~ '+' ~ pbd %}
	{% elseif jack is defined and jack == '1' and blevel > 1 %}
		{% set disbonus = bonus ~ '+' ~ pbd ~ '/2' %}
		{% set bonus = bonus ~ '+round(' ~ pbd ~ '/2)' %}
	{% endif %}
{% else %}
	{% if exp is defined and exp == '1' %}{% set bonus = bonus + 2 * pb %}
	{% elseif prof is defined and prof == '1' %}{% set bonus = bonus + pb %}
	{% elseif jack is defined and jack == '1' and blevel > 1 %}{% set bonus = bonus + pb // 2 %}{% endif %}
	{% if bonus > -1 %}{% set bonus = '+' ~ bonus %}{% endif %}
{% endif %}
{% if bonus != '' %}
	{% set bonus = bonus|replace({' ':"", '	':"", '\xc2\xa0':""}) %}
	{% set bonus = bonus|replace({'+0+':"+", '+0-':"-", '++':"+", '+-':"-"}) %}
{% endif %}
{% if disbonus == '' %}{% set disbonus = bonus %}{% else %}
	{% set disbonus = disbonus|replace({' ':"", '	':"", '\xc2\xa0':""}) %}
	{% set disbonus = disbonus|replace({'+0+':"+", '+0-':"-", '++':"+", '+-':"-"}) %}
{% endif %}
<span title="Roll: 1d20{{bonus}}">[roll:1d20{{bonus}}|{{disbonus}}]</span>
{% endmacro skillRoll %}
{# ---------------------------------------------- #}
{% macro attrModifier( attr = 10, dice = '20', show = false ) %}
	{% if attr is defined %}
		{% if attr == '' %}{% set attr = 10 %}{% endif %}
		{% set mod = (attr - 10) // 2 %}
		{% if mod > -1 %}{% set mod = '+' ~ mod %}{% endif %}
		{% if show == false %}
			[roll:1d{{dice}}{{ mod }}|{{ mod }}]
		{% else %}
			[roll:1d{{dice}}{{ mod }}|1d{{dice}}{{ mod }}]
		{% endif %}
	{% else %}[roll:1d20}|0]{% endif %}
{% endmacro attrModifier %}
{# ---------------------------------------------- #}
{% macro addSign( attr, roll = 'y', pbd = '' ) %}
{% if pbd != '' %}
	{% set result = attr %}
	{% if result != '' %}{% set result = result|replace({'+0': ""}) %}{% endif %}
{% else %}
	{% if attr > 0 %} {% set result = '+' ~ attr %} {% elseif attr == '' or attr == 0 %} {% set result = '+0' %}{% else %} {% set result =  attr %} {% endif %}
{% endif %}
{% set rc = '+' ~ result %}{% set rc = rc|replace({'++': "+", '+-': "-"}) %}
{% if result != '' %}{% set result = result|replace({'++': "+", '+-': "-"}) %}{% endif %}
{% if roll == 'y' %}[roll:1d20{{ rc }}|{{ result }}]{% else %}{{ result }}{% endif %}
{% endmacro addSign %}
{# ---------------------------------------------- #}
{% macro mark( prof, exp, pb, jack, blevel ) %}
{% if exp is defined and exp == '1' %}
	<em class="fas fa-diamond" title="includes expertise bonus (2x proficiency bonus/die)"></em>
{% elseif prof is defined and prof == '1' %}
	<em class="fas fa-circle" title="includes proficiency bonus/die"></em>
{% else %}
	{% set j = pb / 2 %}{% set j = j|round(0, 'floor') %}
	{% if jack is defined and jack == '1' and blevel > 1 and j > 0 %}
	<em class="fal fa-scrubber" title="jack of all trades: includes half proficiency bonus/die"></em>
	{% else %}
	<em class="fal fa-circle" title="not proficient"></em>
	{% endif %}
{% endif %}
{% endmacro mark %}
{# ---------------------------------------------- #}
{% macro attack(id, prof, name, attrname, mod1, dmg, dmgt, props, pb, pbd, mod2 = 0) %}{% if name is defined and name != '' %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
{% set dmgtitle = "" %}{% set attrname = attrname|upper %}
{% if mod2 > 0 %}
    {% set dmgmod2 = (mod2 - 10) / 2 %}{% set dmgmod2 = dmgmod2|round(0, 'floor') %}
    {% set mod2 = (mod2 - 10) / 2 %}{% set mod2 = mod2|round(0, 'floor') %}
	{% if dmg != "" %}
		{% if dmgmod2 > 0 %}
			{% if attrname[:3] == "STR" or attrname[:3] == "DEX" %}
				{% set dmg = dmg ~ '+' ~ dmgmod2 %}
				{% set dmgtitle = "+" ~ dmgmod2 ~ " " ~ attrname[:3] ~ " MOD" %}
			{% endif %}
		{% elseif dmgmod2 < 0 %}
			{% if attrname[:3] == "STR" or attrname[:3] == "DEX" %}
				{% set dmg = dmg ~ dmgmod2 %}
				{% set dmgtitle = dmgmod2 ~ " " ~ attrname[:3] ~ " MOD" %}
			{% endif %}
		{% endif %}
	{% endif %}
{% else %}
    {% set mod2 = 0 %}
{% endif %}
{% set mod = (mod1|number_format) + (mod2|number_format) %}
<tr><td class="pb {{eo}}">
{% if prof is defined and prof == '1' %}
	{% if mod > -1 %}{% set mod = '+'~mod %}{% endif %}
	{% if pbd != '' %}
		{% if prof is defined and prof == '1' %}{% set mod = mod ~ '+' ~ pbd %}{% endif %}
		<em class="fas fa-circle" title="includes +{{pbd}} proficiency die"></em>
	{% else %}
		{% if prof is defined and prof == '1' %}{% set mod = mod + pb %}{% endif %}
		{% if mod > -1 %}{% set mod = '+'~mod %}{% endif %}
		<em class="fas fa-circle" title="includes +{{pb}} proficiency bonus"></em>
	{% endif %}
{% else %}
	{% if mod > -1 %}{% set mod = '+'~mod %}{% endif %}
	<em class="fal fa-circle" title="not proficient"></em>
{% endif %}</td>
    <th class="{{eo}}">{{name}}</th>{% set xmod = mod %}{% if mod == '+0' %}{% set mod = '' %}{% endif %}
    <td class="{{eo}}" title="1d20{{mod}}">[roll:1d20{{mod}}|{{xmod}}]</td>  
    <td class="{{eo}}">{{attrname[:3]}}</td>
    <td class="{{eo}}" title="{{dmgtitle}}">[roll:{{dmg}}]</td>
    <td class="{{eo}}">{{dmgt}}</td>
</tr>{% if props is defined and props != '' %}<tr><td colspan=2 class="{{eo}}">&nbsp;</td><td colspan=4 class="{{eo}}">{{props}}</td></tr>{% endif %}{% endif %}{% endmacro attack %}
{# ---------------------------------------------- #}
{% macro spell(id, counter = 0, spell_level = '', spell_name = '', spell_id = '', spell_ability = '', scm = '', pb = '', pbd = '', spell_prepared = 0, spell_casting_time = '', spell_range = '', spell_duration = '', spell_damage = '', spell_damage_scm = "", spell_damage_higher = '', spell_damage_scaled = '', spell_components = '', spell_component_sets = '', spell_notes = '') %}{% if spell_prepared == 1 %}
<tr>{% set eo = "od" %}{% if counter is even %}{% set eo = "ev" %}{% endif %}{% set spell_ability = spell_ability|upper %}
{% if scm > 0 %}
	{% set scm = (scm - 10) / 2 %}{% set scm = scm|round(0, 'floor') %}
	{% set scm = scm|replace({'+0': ""}) %}
	{% if scm > 0 %}{% set scm = '+' ~ scm %}{% endif %}
	{% set sam = '' %}
	{% if pbd != '' %}
		{% set sam = '+' ~ pbd ~ scm %}
		{% set lbl = 'dice' %}
	{% else %}
		{% set sam = pb + scm %}
		{% if sam > 0 %}{% set sam = '+' ~ sam %}{% endif %}
		{% set lbl = 'bonus' %}
	{% endif %}
	{% if spell_damage != "" and spell_damage != "-" %}
		{% if spell_damage_scm > 0 %}{% set spell_damage = spell_damage ~ scm %}{% endif %}
	{% endif %}
{% endif %}
    <td class="{{eo}} c" title="C(antrip) or level of the spell">{{ spell_level }}</td>
    <td class="{{eo}}" title="Name of the spell">
	{% if spell_id > 0 %} [blocklink:{{spell_id}}] {% else %}{{spell_name}}{% endif %}</td>
    <td class="{{eo}} c" title="Spell Attack"><span title="Roll: 1d20 + {{spell_ability}} mod + prof {{lbl}}">[roll:1d20{{sam}}|{{sam}}]</span></td>
    <td class="{{eo}} c" title="Casting time">{{ spell_casting_time }}</td>
    <td class="{{eo}} c" title="Range">{{ spell_range }}</td>
    <td class="{{eo}} c" title="Duration">{{ spell_duration }}</td>
	{% if spell_damage_scaled == "" %}
		{% set rolldamage = spell_damage %}
		{% set txt = spell_damage %}
	{% else %}
		{% set rolldamage = spell_damage ~ spell_damage_scaled %}
		{% set txt = 'SCALED' %}
	{% endif %}
	<td class="{{eo}} c" title="Damage or healing power: {{rolldamage}}">{% if spell_damage != "" and spell_damage != "-" %}[roll:{{rolldamage}}|{{txt}}]{% endif %}</td>
    <td class="{{eo}} c" title="Required components (verbal, somatic, material)">{{ spell_components }}</td>
    <td class="{{eo}} c" title="Components for how many casts available">{{ spell_component_sets }}</td>
</tr>
<tr><th colspan=2 class="{{eo}}">&nbsp;</th><td colspan=1 class="{{eo}} r">Notes:</th><td colspan=9 class="{{eo}}">{{ spell_notes }}</td></tr>{% endif %}
{% endmacro spell %}
{# ---------------------------------------------- #}
<div class="{{sheetname}}-sheet">
	<div class="row">
		{% if variables.imageid is defined and variables.imageid != "" %}
		<div class="col-12 col-md-6 col-lg-4">
		{% else %}
		<div class="col-12 col-md-6 col-lg-6">
		{% endif %}
			<h1 class="{{sheetname}}-sheet-header">{{ variables.name|default('') }}</h1>
			<span class="inputContent">{{ level|default('1') }}</span>
			<span class="inputLabel">Level ({{variables.xp|default('0') }}/{{xpreq|default('?') }} XP for level-up)</span>
			<span class="inputContent">{{ variables.background|default('') }}</span>
			<span class="inputLabel">Background</span>
			<span class="inputContent">{{ variables.race|default('') }}</span>
			<span class="inputLabel">Race / Species / Heritage</span>
			<span class="inputContent">{{ variables.alignment|default('') }}</span>
			<span class="inputLabel">Alignment</span>
		</div>
		{% if variables.imageid is defined and variables.imageid != "" %}
		<div class="col-12 col-md-6 col-lg-4">
		{% else %}
		<div class="col-12 col-sm-12 col-md-6 col-lg-6">
		{% endif %}
			<div class="row">
				<div class="col-6 col-xs-6 col-sm-3 col-md-6 col-lg-6">
					{% if variables.class_1 is defined and variables.class_1 != '' %}
					<div class="contentContainer contentContainer-attribute of lh">
						<span class="inputContent lh emp">{{ variables.class_1 }}</span><br>
						<span class="inputContent lh">Level {{ variables.level_1|default('1') }}</span><br>
						<span class="inputContent lh">Hit Dice: {{ variables.hit_dice_remaining|default(variables.level_1|default('1')) }}/{{ variables.level_1|default('1') }}</span><br>
						<span title="The Hit die + bonus, eg 1d8+2">{{ sheet.attrModifier( constitution, variables.hit_die, true ) }}</span>
						<span class="inputLabel">Class 1</span>
					</div>
					{% endif %}
				</div>
				<div class="col-6 col-xs-6 col-sm-3 col-md-6 col-lg-6">
					{% if variables.class_2 is defined and variables.class_2 != '' %}
					<div class="contentContainer contentContainer-attribute of lh">
						<span class="inputContent lh emp">{{ variables.class_2 }}</span><br>
						<span class="inputContent lh">Level {{ variables.level_2|default('1') }}</span><br>
						<span class="inputContent lh">Hit Dice: {{ variables.hit_dice_remaining_2|default(variables.level_2|default('1')) }}/{{ variables.level_2|default('1') }}</span><br>
						<span title="The Hit die + bonus, eg 1d8+2">{{ sheet.attrModifier( constitution, variables.hit_die_2, true ) }}</span>
						<span class="inputLabel">Class 2</span>
					</div>
					{% endif %}
				</div>
				<div class="col-6 col-xs-6 col-sm-3 col-md-6 col-lg-6">
					{% if variables.class_3 is defined and variables.class_3 != '' %}
					<div class="contentContainer contentContainer-attribute of lh">
						<span class="inputContent lh emp">{{ variables.class_3 }}</span><br>
						<span class="inputContent lh">Level {{ variables.level_3|default('1') }}</span><br>
						<span class="inputContent lh">Hit Dice: {{ variables.hit_dice_remaining_2|default(variables.level_3|default('1')) }}/{{ variables.level_3|default('1') }}</span><br>
						<span title="The Hit die + bonus, eg 1d8+2">{{ sheet.attrModifier( constitution, variables.hit_die_3, true ) }}</span>
						<span class="inputLabel">Class 3</span>
					</div>
					{% endif %}
				</div>
				<div class="col-6 col-xs-6 col-sm-3 col-md-6 col-lg-6">
					{% if variables.class_4 is defined and variables.class_4 != '' %}
					<div class="contentContainer contentContainer-attribute of lh">
						<span class="inputContent lh emp">{{ variables.class_4 }}</span><br>
						<span class="inputContent lh">Level {{ variables.level_4|default('1') }}</span><br>
						<span class="inputContent lh">Hit Dice: {{ variables.hit_dice_remaining_4|default(variables.level_4|default('1')) }}/{{ variables.level_4|default('1') }}</span><br>
						<span title="The Hit die + bonus, eg 1d8+2">{{ sheet.attrModifier( constitution, variables.hit_die_4, true ) }}</span>
						<span class="inputLabel">Class 4</span>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if variables.imageid is defined and variables.imageid != "" %}
		<div class="col-12 col-xs-12 col-md-6 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block">
			[img:{{variables.imageid}}]
		</div>
		{% endif %}
	</div>
	<hr class="hr-dark">
	<div class="row">
		<div class="col-6 col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<div class="contentContainer contentContainer-attribute lh">
				<span title="Strength">STR</span><br>
				<span class="strong lh">{{ strength }}</span>
				<div class="subContainer attmod lh">
					{{ sheet.attrModifier( strength ) }}
				</div>
			</div>
		</div>
		<div class="col-6 col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<div class="contentContainer contentContainer-attribute lh">
				<span title="Dexterity">DEX</span><br>
				<span class="strong lh">{{ dexterity }}</span>
				<div class="subContainer attmod lh">
					{{ sheet.attrModifier( dexterity ) }}
				</div>
			</div>
		</div>
		<div class="col-6 col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<div class="contentContainer contentContainer-attribute lh">
				<span title="Constitution">CON</span><br>
				<span class="strong lh">{{ constitution }}</span>
				<div class="subContainer attmod lh">
					{{ sheet.attrModifier( constitution ) }}
				</div>
			</div>
		</div>
		<div class="col-6 col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<div class="contentContainer contentContainer-attribute lh">
				<span title="Intelligence">INT</span><br>
				<span class="strong lh">{{ intelligence }}</span>
				<div class="subContainer attmod lh">
					{{ sheet.attrModifier( intelligence ) }}
				</div>
			</div>
		</div>
		<div class="col-6 col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<div class="contentContainer contentContainer-attribute lh">
				<span title="Wisdom">WIS</span><br>
				<span class="strong lh">{{ wisdom }}</span>
				<div class="subContainer attmod lh">
					{{ sheet.attrModifier( wisdom ) }}
				</div>
			</div>
		</div>
		<div class="col-6 col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<div class="contentContainer contentContainer-attribute lh">
				<span title="Charisma">CHA</span><br>
				<span class="strong lh">{{ charisma }}</span>
				<div class="subContainer attmod lh">
					{{ sheet.attrModifier( charisma ) }}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-xs-6 col-sm-4 col-md-3">
			<div class="contentContainer contentContainer-attribute of">
				<span class="strong">{{ hp }}</span><br>
				<span class="inputLabel">Hit Points</span>
			</div>
		</div>
		<div class="col-6 col-xs-6 col-sm-4 col-md-3">
			<div class="contentContainer contentContainer-attribute of">
				<span class="strong">
				{% if variables.initiative_score is defined and variables.initiative_score > 0 %}
					{{ 10 + dex_bonus + ini_mod }}
					</span><br>
					<span class="inputLabel">Initiative Score</span>
				{% else %}
					{{ sheet.addSign( dex_bonus|number_format + ini_mod|number_format ) }}
					</span><br>
					<span class="inputLabel">Initiative (DEX)</span>
				{% endif %}
			</div>
		</div>
		<div class="col-6 col-xs-6 col-sm-4 col-md-3">
			<div class="contentContainer contentContainer-attribute of">
				<span class="strong">{{ ac }}</span><br>
				<span class="inputLabel">Armor Class</span>
			</div>
		</div>
		<div class="col-6 col-xs-6 col-sm-4 col-md-3">
			<div class="contentContainer contentContainer-attribute of">
				{% if pbd != "" %}
				<span class="strong">{{ pbd }}</span><br>
				<span class="inputLabel">Prof. Dice</span>
				{% else %}
				<span class="strong">{{ sheet.addSign(pb) }}</span><br>
				<span class="inputLabel">Prof. Bonus</span>
				{% endif %}
			</div>
		</div>
		{% if sca != "NONE" %}
			{% if variables.spell_points_max is defined and variables.spell_points_max > 0 %}
			<div class="col-6 col-xs-6 col-sm-4 col-md-3">
				<div class="contentContainer contentContainer-attribute of">
					<span class="strong">{{ variables.spell_points_curr|default(variables.spell_points_max) }}/{{ variables.spell_points_max }}</span><br>
					<span class="inputLabel">Spell Points</span>
				</div>
			</div>
			{% endif %}
			<div class="col-6 col-xs-6 col-sm-4 col-md-3">
				<div class="contentContainer contentContainer-attribute of">
					<span class="strong">{{ sheet.addSign(sam, 'y', pbd) }}</span><br>
					<span class="inputLabel">Spell Attack ({{sca}})</span>
				</div>
			</div>
			<div class="col-6 col-xs-6 col-sm-4 col-md-3">
				<div class="contentContainer contentContainer-attribute of l">
					<span class="inputLabel">Spell Ability: {{sca}}</span>
					<span class="inputLabel">Spell Ability Modifier: {{sam}}</span>
					<span class="inputLabel">Spell Save DC: {{ssdc}}</span>
				</div>
			</div>
		{% endif %}
		<div class="col-6 col-xs-6 col-sm-6 col-md-3">
			<div class="contentContainer contentContainer-attribute of">
				<span class="strong">{{ variables.speed|default(30) }}</span><br>
				<span class="inputLabel" title="Speed in ft">Speed (walk/run/fly)</span>
			</div>
		</div>
		{% for i in 1..6 %}
			{% if i == 1 %}
				{% set label = variables.class_resource_label|default('') %}
				{% set res = variables.class_resource|default('') %}
				{% set curr = variables.class_resource_curr|default(res) %}
			{% else %}
				{% set label = attribute(variables, 'class_resource_label_' ~ i)|default('') %}
				{% set res = attribute(variables, 'class_resource_' ~ i)|default('') %}
				{% set curr = attribute(variables, 'class_resource_curr_' ~ i)|default(res) %}
			{% endif %}
			{% if label != '' %}
				<div class="col-6 col-xs-6 col-sm-4 col-md-3">
					<div class="contentContainer contentContainer-attribute of">
						<span class="strong">{{curr}} / {{res}}</span><br>
						<span class="inputLabel">{{label}}</span>
					</div>  
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-12 col-md-12 col-lg-4">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-12">
					<div class="contentContainer contentContainer-side">
						<table width="100%">
						<tr>
							<td><em class="fas fa-diamond"></em></td>
							<td><span class="strong pull-left">
							{% if pbd != '' %}
							{{ sheet.addSign( '2' ~ pbd, '', pbd ) }}
							{% else %}
							{{ sheet.addSign( 2*pb, '' ) }}
							{% endif %}
							</span></td>
							<td><span class="inputLabel" title="Expertise Bonus">Expertise Bonus</span></td>
						</tr>
						<tr>
							<td><em class="fas fa-circle"></em></td>
							<td><span class="strong pull-left">
							{% if pbd != '' %}
							{{ sheet.addSign( pbd, '', pbd ) }}
							{% else %}
							{{ sheet.addSign( pb, '' ) }}
							{% endif %}
							</span></td>
							<td><span class="inputLabel" title="Proficiency Bonus">Proficiency Bonus</span></td>
						</tr>
						{% set j = pb / 2 %}{% set j = j|round(0, 'floor') %}
						{% if joat is defined and joat == 1 and j > 0 %}
						<tr>
							<td><em class="fal fa-scrubber"></em></td>
							<td><span class="strong pull-left">
							{% if pbd != '' %}
							{{ sheet.addSign( pbd ~ '/2', '', pbd ) }}
							{% else %}
							{{ sheet.addSign( j, '' ) }}
							{% endif %}
							</span></td>
							<td><span class="inputLabel" title="Bard: Jack of all Trades">Jack of all Trades</span></td>
						</tr>
						{% endif %}
						</table>
					</div>
					{% if variables.passivewisdom is defined %}
					<div class="contentContainer contentContainer-side">
						<span class="strong pull-left">{{ sheet.addSign( variables.passivewisdom ) }}</span>
						<span class="inputLabel">Passive perception</span>
					</div>
					{% endif %}
				</div>
				<div class="col-12 col-md-6 col-lg-12">
					<div class="contentContainer contentContainer-standard of">
						<table>
							<tr>
								<td class="pb">{{ sheet.mark( variables.strength_save_prof|default, 0, pb ) }}</td>
								<td>{{ sheet.skillRoll( variables.strength_save_mod|default, strength, 10, variables.strength_save_prof|default, 0, pb, pbd, 0 ) }}</td>
								<td>Strength</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.dexterity_save_prof|default, 0, pb ) }}</td>
								<td>{{ sheet.skillRoll( variables.dexterity_save_mod|default, dexterity, 10, variables.dexterity_save_prof|default, 0, pb, pbd, 0 ) }}</td>
								<td>Dexterity</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.constitution_save_prof|default, 0, pb ) }}</td>
								<td>{{ sheet.skillRoll( variables.constitution_save_mod|default, constitution, 10, variables.constitution_save_prof|default, 0, pb, pbd, 0 ) }}</td>
								<td>Constitution</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.intelligence_save_prof|default, 0, pb ) }}</td>
								<td>{{ sheet.skillRoll( variables.intelligence_save_mod|default, intelligence, 10, variables.intelligence_save_prof|default, 0, pb, pbd, 0 ) }}</td>
								<td>Intelligence</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.wisdom_save_prof|default, 0, pb ) }}</td>
								<td>{{ sheet.skillRoll( variables.wisdom_save_mod|default, wisdom, 10, variables.wisdom_save_prof|default, 0, pb, pbd, 0 ) }}</td>
								<td>Wisdom</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.charisma_save_prof|default, 0, pb ) }}</td>
								<td>{{ sheet.skillRoll( variables.charisma_save_mod|default, charisma, 10, variables.charisma_save_prof|default, 0, pb, pbd, 0 ) }}</td>
								<td>Charisma</td>
							</tr>
						</table>
						<span class="inputLabel">saving throws</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-12 col-lg-8">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-6">
					<div class="listContainer contentContainer-standard of">
						<table width="100%" class="skilltable">
							<tr>
								<td class="pb">{{ sheet.mark( variables.acrobatics_prof|default, variables.acrobatics_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.acrobatics|default, attribute(variables, variables.acrobatics_att|default(''))|default(''), dexterity, variables.acrobatics_prof|default, variables.acrobatics_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Acrobatics</td>
								<td>DEX</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.animal_handling_prof|default, variables.animal_handling_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.animal_handling|default, attribute(variables, variables.animal_handling_att|default(''))|default(''), wisdom, variables.animal_handling_prof|default, variables.animal_handling_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Animal Handling</td>
								<td>WIS</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.arcana_prof|default, variables.arcana_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.arcana|default, attribute(variables, variables.arcana_att|default(''))|default(''), intelligence, variables.arcana_prof|default, variables.arcana_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Arcana</td>
								<td>INT</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.athletics_prof|default, variables.athletics_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.athletics|default, attribute(variables, variables.athletics_att|default(''))|default(''), strength, variables.athletics_prof|default, variables.athletics_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Athletics</td>
								<td>STR</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.deception_prof|default, variables.deception_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.deception|default, attribute(variables, variables.deception_att|default(''))|default(''), charisma, variables.deception_prof|default, variables.deception_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Deception</td>
								<td>CHA</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.history_prof|default, variables.history_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.history|default, attribute(variables, variables.history_att|default(''))|default(''), intelligence, variables.history_prof|default, variables.history_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>History</td>
								<td>INT</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.insight_prof|default, variables.insight_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.insight|default, attribute(variables, variables.insight_att|default(''))|default(''), wisdom, variables.insight_prof|default, variables.insight_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Insight</td>
								<td>WIS</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.intimidation_prof|default, variables.intimidation_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.intimidation|default, attribute(variables, variables.intimidation_att|default(''))|default(''), charisma, variables.intimidation_prof|default, variables.intimidation_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Intimidation</td>
								<td>CHA</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.investigation_prof|default, variables.investigation_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.investigation|default, attribute(variables, variables.investigation_att|default(''))|default(''), intelligence, variables.investigation_prof|default, variables.investigation_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Investigation</td>
								<td>INT</td>
							</tr>
							{% for i in 1..5 %}
								{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
								{% set name = attribute(variables, "skill_name_" ~ id)|default('') %}
								{% if name != '' %}
								<tr>
								    {% set prof = attribute(variables, "skill_prof_" ~ id)|default %}
								    {% set exp = attribute(variables, "skill_exp_" ~ id)|default %}
								    {% set attr = attribute(variables, "skill_attr_" ~ id)|default('') %}
								    {% set value = attribute(variables, "skill_value_" ~ id)|default %}
									<td class="pb">{{ sheet.mark( prof, exp, pb, joat, blevel ) }}</td>
									<td>{{ sheet.skillRoll( value, attribute(variables, attr )|default(''), 10, prof, exp, pb, pbd, joat, blevel ) }}</td>
									<td>{{name}}</td>
									<td>{{attr[:03]|upper}}</td>
								</tr>
								{% endif %}
							{% endfor %}
						</table>
						<span class="inputLabel">skills</span>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-6">
					<div class="listContainer contentContainer-standard of">
						<table width="100%" class="skilltable">
							<tr>
								<td class="pb">{{ sheet.mark( variables.medicine_prof|default, variables.medicine_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.medicine|default, attribute(variables, variables.medicine_att|default(''))|default(''), wisdom, variables.medicine_prof|default, variables.medicine_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Medicine</td>
								<td>WIS</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.nature_prof|default, variables.nature_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.nature|default, attribute(variables, variables.nature_att|default(''))|default(''), intelligence, variables.nature_prof|default, variables.nature_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Nature</td>
								<td>INT</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.perception_prof|default, variables.perception_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.perception|default, attribute(variables, variables.perception_att|default(''))|default(''), wisdom, variables.perception_prof|default, variables.perception_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Perception</td>
								<td>WIS</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.performance_prof|default, variables.performance_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.performance|default, attribute(variables, variables.performance_att|default(''))|default(''), charisma, variables.performance_prof|default, variables.performance_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Performance</td>
								<td>CHA</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.persuasion_prof|default, variables.persuasion_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.persuasion|default, attribute(variables, variables.persuasion_att|default(''))|default(''), charisma, variables.persuasion_prof|default, variables.persuasion_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Persuasion</td>
								<td>CHA</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.religion_prof|default, variables.religion_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.religion|default, attribute(variables, variables.religion_att|default(''))|default(''), intelligence, variables.religion_prof|default, variables.religion_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Religion</td>
								<td>INT</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.sleight_of_hand_prof|default, variables.sleight_of_hand_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.sleight_of_hand|default, attribute(variables, variables.sleight_of_hand_att|default(''))|default(''), dexterity, variables.sleight_of_hand_prof|default, variables.sleight_of_hand_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Sleight of Hand</td>
								<td>DEX</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.stealth_prof|default, variables.stealth_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.stealth|default, attribute(variables, variables.stealth_att|default(''))|default(''), dexterity, variables.stealth_prof|default, variables.stealth_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Stealth</td>
								<td>DEX</td>
							</tr>
							<tr>
								<td class="pb">{{ sheet.mark( variables.survival_prof|default, variables.survival_exp|default, pb, joat, blevel ) }}</td>
								<td>{{ sheet.skillRoll( variables.survival|default, attribute(variables, variables.survival_att|default(''))|default(''), wisdom, variables.survival_prof|default, variables.survival_exp|default, pb, pbd, joat, blevel ) }}</td>
								<td>Survival</td>
								<td>WIS</td>
							</tr>
							{% for i in 6..10 %}
								{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
								{% set name = attribute(variables, "skill_name_" ~ id)|default('') %}
								{% if name != '' %}
								<tr>
								    {% set prof = attribute(variables, "skill_prof_" ~ id)|default %}
								    {% set exp = attribute(variables, "skill_exp_" ~ id)|default %}
								    {% set attr = attribute(variables, "skill_attr_" ~ id)|default('') %}
								    {% set value = attribute(variables, "skill_value_" ~ id)|default %}
									<td class="pb">{{ sheet.mark( prof, exp, pb, joat, blevel ) }}</td>
									<td>{{ sheet.skillRoll( value, attribute(variables, attr )|default(''), 10, prof, exp, pb, pbd, joat, blevel ) }}</td>
									<td>{{name}}</td>
									<td>{{attr[:03]|upper}}</td>
								</tr>
								{% endif %}
							{% endfor %}
						</table>
						<span class="inputLabel">Skills</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-12 col-lg-12">
			<div class="contentContainer contentContainer-standard of">
				<table width="100%">
					<tr>
						<th>&nbsp;</th>
						<th>Name</th>
						<th title="Attack Roll">Roll</th>
						<th>Attr</th>
						<th>Dmg</th>
						<th>Dmg Type</th>
					</tr>
					{{ sheet.attack("01", variables.attack_prof_01|default, variables.attack_01|default(''), variables.attack_attr_01|default(''), variables.attack_mod_01|default(''), variables.attack_dmg_01|default(''), variables.attack_dmg_type_01|default(''), variables.attack_props_01|default(''), pb, pbd, attribute(variables, variables.attack_attr_01|default('')|lower)|default('') ) }}
					{{ sheet.attack("02", variables.attack_prof_02|default, variables.attack_02|default(''), variables.attack_attr_02|default(''), variables.attack_mod_02|default(''), variables.attack_dmg_02|default(''), variables.attack_dmg_type_02|default(''), variables.attack_props_02|default(''), pb, pbd, attribute(variables, variables.attack_attr_02|default('')|lower)|default('') ) }}
					{{ sheet.attack("03", variables.attack_prof_03|default, variables.attack_03|default(''), variables.attack_attr_03|default(''), variables.attack_mod_03|default(''), variables.attack_dmg_03|default(''), variables.attack_dmg_type_03|default(''), variables.attack_props_03|default(''), pb, pbd, attribute(variables, variables.attack_attr_03|default('')|lower)|default('') ) }}
					{{ sheet.attack("04", variables.attack_prof_04|default, variables.attack_04|default(''), variables.attack_attr_04|default(''), variables.attack_mod_04|default(''), variables.attack_dmg_04|default(''), variables.attack_dmg_type_04|default(''), variables.attack_props_04|default(''), pb, pbd, attribute(variables, variables.attack_attr_04|default('')|lower)|default('') ) }}
					{{ sheet.attack("05", variables.attack_prof_05|default, variables.attack_05|default(''), variables.attack_attr_05|default(''), variables.attack_mod_05|default(''), variables.attack_dmg_05|default(''), variables.attack_dmg_type_05|default(''), variables.attack_props_05|default(''), pb, pbd, attribute(variables, variables.attack_attr_05|default('')|lower)|default('') ) }}
					{{ sheet.attack("06", variables.attack_prof_06|default, variables.attack_06|default(''), variables.attack_attr_06|default(''), variables.attack_mod_06|default(''), variables.attack_dmg_06|default(''), variables.attack_dmg_type_06|default(''), variables.attack_props_06|default(''), pb, pbd, attribute(variables, variables.attack_attr_06|default('')|lower)|default('') ) }}
					{{ sheet.attack("07", variables.attack_prof_07|default, variables.attack_07|default(''), variables.attack_attr_07|default(''), variables.attack_mod_07|default(''), variables.attack_dmg_07|default(''), variables.attack_dmg_type_07|default(''), variables.attack_props_07|default(''), pb, pbd, attribute(variables, variables.attack_attr_07|default('')|lower)|default('') ) }}
					{{ sheet.attack("08", variables.attack_prof_08|default, variables.attack_08|default(''), variables.attack_attr_08|default(''), variables.attack_mod_08|default(''), variables.attack_dmg_08|default(''), variables.attack_dmg_type_08|default(''), variables.attack_props_08|default(''), pb, pbd, attribute(variables, variables.attack_attr_08|default('')|lower)|default('') ) }}
					{{ sheet.attack("09", variables.attack_prof_09|default, variables.attack_09|default(''), variables.attack_attr_09|default(''), variables.attack_mod_09|default(''), variables.attack_dmg_09|default(''), variables.attack_dmg_type_09|default(''), variables.attack_props_09|default(''), pb, pbd, attribute(variables, variables.attack_attr_09|default('')|lower)|default('') ) }}
					{{ sheet.attack("10", variables.attack_prof_10|default, variables.attack_10|default(''), variables.attack_attr_10|default(''), variables.attack_mod_10|default(''), variables.attack_dmg_10|default(''), variables.attack_dmg_type_10|default(''), variables.attack_props_10|default(''), pb, pbd, attribute(variables, variables.attack_attr_10|default('')|lower)|default('') ) }}
				</table>
				<span class="inputLabel">Attacks</span>
			</div>
		</div>
	</div>
</div>
{% if sca != "NONE" %}
<div class="pagebreak"></div>
<div class="{{sheetname}}-sheet">
	<div class="contentContainer contentContainer-standard of">
		<span class="headerContent">Spell Book <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSpells" aria-expanded="true" aria-controls="collapseSpells"><em class="fas fa-book"></em></button></span>
		<div class="row spell-row collapse hide" id="collapseSpells">
			<div class="col-12 col-xs-12" id="{{sheetname}}-spells">
				<!-- Spells -->
				<div class="dnd-sheet-container">
					<div class="form-group of">
						<table width="100%" class="attacktable" id="spelltable">
							{% for i in 0..9 %}
								{% if i == 0 %}
									{# always show cantrips #}
									{% set sl = "C" %}
									{% set show = 99 %}
									{% set title = "Cantrips" %}
								{% else %}
									{% set sl = i %} {# we are looking for spells matching slot sl #}
									{% set show = attribute (variables, 'total_spell_slots_' ~ i)|default %} {# the total of spell slot entries the user has #}
									{% set title = "Level " ~ i ~ " Spells (total " ~ show ~ " slots )" %}
								{% endif %}
								{# only show spells that are cantrips or the user has a total of spell slot entries for them #}
								{% set counter = 1 %} {# start counting at 1 for each spell level #}
								{% if show > 0 %}
									{# walk through all spell entries #}
									{% for k in 1..60 %}
										{% set id = k %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
										{% set name = attribute(variables, "spell_name_" ~ id)|default('') %}
										{# do not show spells without a name #}
										{% if name != "" %} 
											{% set t = attribute(variables, "spell_level_" ~ id)|default|upper %} {# level of the spell #}
											{% set scales = attribute(variables, "spell_damage_higher_" ~ id)|default('') %} {# this spell scales? #}
											{# level matches OR level is lower (and not a cantrip) and also is a scalable spell #}
											{% if t == sl or ( scales != "" and sl != "C" and t < sl ) %}
												{# add header to each spell level and then every 10 spells #}
												{% if counter == 1 %}{% set done = 0 %}{% endif %}
												{% if done == 0 %}
													{% set done = 1%}
													<tr><th colspan=9 class="c"><h2>{{title}}<h2></th></tr>
													<tr>
														<th title="C(antrip) or level of the spell" class="w60 c">LVL</th>
														<th title="Name of the spell" width="15%">NAME</th>
														<th title="Spell Attack" class="w90 c">SA</th>
														<th title="Casting time" class="c">CT</th>
														<th title="Range" class="c">RNG</th>
														<th title="Duration" class="c">DUR</th>
														<th title="Damage or healing power (rollable)" class="w90 c">DMG</th>
														<th title="Required components (verbal, somatic, material)" class="w90 c">CMP</th>
														<th title="Components for how many casts available" class="w60 c">#</th>
													</tr>
												{% endif %}
												{# set damage depending on matching level or scaled up spell #}
												{% set scale_dmg = "" %}
												{% if t < sl %}
												 	{# spell is scaled up #}
													{% set scale_dmg = '' %}{# attribute(variables, "spell_damage_" ~ id) #}
													{% for l in 1..(sl - t) %}{% set scale_dmg = scale_dmg ~ '+' ~ scales %}{% endfor %}
												{% endif %}
												{{ sheet.spell( id, counter,
													sl,
													attribute(variables, "spell_name_" ~ id)|default(''),
													attribute(variables, "spell_id_" ~ id)|default(''),
													attribute(variables, "spell_ability_" ~ id )|default(''),
													attribute(variables, attribute(variables, "spell_ability_" ~ id) )|default(''),
													pb,
													pbd,
													attribute(variables, "spell_prepared_" ~ id)|default(''),
													attribute(variables, "spell_casting_time_" ~ id)|default(''),
													attribute(variables, "spell_range_" ~ id)|default(''),
													attribute(variables, "spell_duration_" ~ id)|default(''),
													attribute(variables, "spell_damage_" ~ id)|default(''),
													attribute(variables, "spell_damage_scm_" ~ id)|default(''),
													attribute(variables, "spell_damage_higher" ~ id)|default(''),
													scale_dmg,
													attribute(variables, "spell_components_" ~ id)|default(''),
													attribute(variables, "spell_component_sets_" ~ id)|default(''),
													attribute(variables, "spell_notes_" ~ id|default(''))
												) }}
												{% set counter = counter + 1 %}
											{% endif %}
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						</table>
					</div>                  
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="pagebreak"></div>
<div class="{{sheetname}}-sheet">
	<div class="row">
		<div class="col-12 col-md-12 col-lg-12">
			{% if variables.features_and_traits is defined and variables.features_and_traits != "" %}
			<div class="contentContainer contentContainer-standard of">
				{{ variables.features_and_traits|nl2br }}<br>
				<span class="inputLabel">Features &amp; Traits</span>
			</div>
			{% endif %}
        </div>
		<div class="col-12 col-md-12 col-lg-12">
			<div class="contentContainer contentContainer-standard of">
				{{ variables.equipment|default('')|nl2br }}<br>
				<span class="inputLabel">Equipment</span>
				<span class="inputContent">Copper: {{ variables.copper_pieces ?? 0 }}, </span>
				<span class="inputContent">Silver: {{ variables.silver_pieces ?? 0 }}, </span>
				<span class="inputContent">Electrum: {{ variables.electrum_pieces ?? 0 }}, </span>
				<span class="inputContent">Gold: {{ variables.gold_pieces ?? 0 }}, </span>
				<span class="inputContent">Platinum: {{ variables.platinum_pieces ?? 0 }}</span>
				<span class="inputLabel">Money</span>
			</div>
		</div>
		{% if sca != "NONE" %}
			{% if variables.spellcasting is defined and variables.spellcasting != "" %}
			<div class="col-12 col-md-6 col-lg-6 of">
				<div class="contentContainer contentContainer-standard of">
					{{ variables.spellcasting|nl2br }}
					{% if variables.half_caster is defined and variables.half_caster == '1' %}<br><br>Half-Rate Progression<br>{% endif %}
					<span class="inputLabel">Spellcasting</span>
				</div>
			</div>
			{% endif %}
		{% endif %}
		{% if variables.proficiences_and_languages is defined and variables.proficiences_and_languages != "" %}
		<div class="col-12 col-md-6 col-lg-6 of">
			<div class="contentContainer contentContainer-standard of">
				{{ variables.proficiences_and_languages|nl2br }}<br>
				<span class="inputLabel">Languages &amp; Proficiences</span>
			</div>
		</div>
		{% endif %}
		{% if variables.personality_trait is defined and variables.personality_trait != "" %}
		<div class="col-12 col-md-6 col-lg-6">
			<div class="contentContainer contentContainer-standard of">
				{{ variables.personality_trait|nl2br }}<br>
				<span class="inputLabel">Personality Traits</span>
			</div>
		</div>
		{% endif %}
		{% if variables.ideal is defined and variables.ideal != "" %}
		<div class="col-12 col-md-6 col-lg-6">
			<div class="contentContainer contentContainer-standard of">
				{{ variables.ideal|nl2br }}<br>
				<span class="inputLabel">Ideals</span>
			</div>
        </div>
		{% endif %}
		{% if variables.bond is defined  and variables.bond != "" %}
		<div class="col-12 col-md-6 col-lg-6">
			<div class="contentContainer contentContainer-standard of">
				{{ variables.bond|nl2br }}<br>
				<span class="inputLabel">Bonds</span>
			</div>
        </div>
		{% endif %}
		{% if variables.flaw is defined  and variables.flaw != "" %}
		<div class="col-12 col-md-6 col-lg-6">
			<div class="contentContainer contentContainer-standard of">
				{{ variables.flaw|nl2br }}<br>
				<span class="inputLabel">Flaws</span>
			</div>
		</div>
		{% endif %}
		{% if variables.notes is defined and variables.notes != "" %}
		<div class="col-12 col-md-6 col-lg-6">
			<div class="contentContainer contentContainer-standard of">
				{{ variables.notes|nl2br }}<br>
				<span class="inputLabel">Notes</span>
			</div>
		</div>
		{% endif %}
	</div>			
	<div class="row">
		{% if variables.title1 is defined and variables.title1 != "" and variables.custom1 is defined %}
		<div class="col-12 col-md-6 col-lg-6">
			<div class="contentContainer contentContainer-standard of">
				{{ variables.custom1|nl2br }}<br>
				<span class="inputLabel">{{variables.title1}}</span>
			</div>
		</div>
		{% endif %}
		{% if variables.title2 is defined and variables.title2 != "" and variables.custom2 is defined %}
		<div class="col-12 col-md-6 col-lg-6">
			<div class="contentContainer contentContainer-standard of">
				{{ variables.custom2|nl2br }}<br>
				<span class="inputLabel">{{variables.title2}}</span>
			</div>
		</div>
		{% endif %}
	</div>			
    <div class="row do-not-print">
        <div class="col-12 text-center small">
				<br><br>
                 &amp;  Wizards of the Coast - <a href="/w/sheet-creation/a/sheet-list">D &amp; D 5e Character Sheet v2.05</a>, made by Tillerz#3807 - <a href="/w/sheet-creation/thread/a85ac181-b0e3-4c85-a636-096853b46c58/view">Updated: 2022-02-25 - Changelog</a><br>
To print this sheet: Expand the spell book (if you have any entries there), then click "Print Sheet" at the top, select "Print to PDF" and format A3. Then print the resulting PDF to whichever format you need with "fit to page" selected.
        </div>
    </div>
</div>