<div class="text-center mb-3 m-b-10">
    <strong>
        {% if variables.alignment is defined %} {{ variables.alignment }} {% endif %}
        {% if variables.race is defined %}  {{ variables.race }} {% endif %} <br>
        {% if variables.class_1 is defined %} {{ variables.class_1 }} {% if variables.level_1 is defined %} {{ variables.level_1 }} {% endif %} {% endif %} <br>
        {% if variables.class_2 is defined %} {{ variables.class_2 }} {% if variables.level_2 is defined %} {{ variables.level_2 }} {% endif %} {% endif %} <br>
        {% if variables.class_3 is defined %} {{ variables.class_3 }} {% if variables.level_3 is defined %} {{ variables.level_3 }} {% endif %} {% endif %} <br>
        {% if variables.class_4 is defined %} {{ variables.class_4 }} {% if variables.level_4 is defined %} {{ variables.level_4 }} {% endif %} {% endif %}
    </strong>
    {% if variables.background is defined and variables.background|length > 0 %}<br><em>({{ variables.background }})</em>{% endif %}
    <div class="hpcontainer d-none">
        <strong>{% if variables.hit_points_current is defined %} {{ variables.hit_points_current }} {% endif %}/{% if variables.hit_points is defined %} {{ variables.hit_points }} {% endif %} {% if variables.hit_points_current is defined %} HP{% endif %}</strong>
    </div>
</div>