{% set style = '' %}{% if variables.vintage|default > 0 %}{% set style='-vintage' %}{% endif %}
<div class='container-fluid dnd5e-2024{{style}}'>
    <div class='row'>
        <div class='col-12'>
            <div class='ilbl title ilbl-name'><label for='name'>Class</label></div><div class='ivar ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' required='required' name='name' placeholder='eg. Barbarian' type='text' /></div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <table class='table'>
                <tr><th class='ilbl od ilbl-primary-ability' width='40%'><label for='primary_ability'>Primary Ability</label></th><td class='ivar od ivar-primary-ability'>
                <select class='form-control ivar ivar-primary-ability' id='primary_ability' name='primary_ability'>
                <option value='Strength' {% if variables.primary_ability|default == 'Strength' %}selected='selected' {% endif %} > Strength </option>
                <option value='Dexterity' {% if variables.primary_ability|default == 'Dexterity' %}selected='selected' {% endif %} > Dexterity </option>
                <option value='Constitution' {% if variables.primary_ability|default == 'Constitution' %}selected='selected' {% endif %} > Constitution </option>
                <option value='Intelligence' {% if variables.primary_ability|default == 'Intelligence' %}selected='selected' {% endif %} > Intelligence </option>
                <option value='Wisdom' {% if variables.primary_ability|default == 'Wisdom' %}selected='selected' {% endif %} > Wisdom </option>
                <option value='Charisma' {% if variables.primary_ability|default == 'Charisma' %}selected='selected' {% endif %} > Charisma </option>
                </select></td></tr>
                <tr><th class='ilbl od ilbl-primary-ability'><label for='primary_ability2'>2nd Primary Ability (eg. Monk has two)</label></th><td class='ivar od ivar-primary-ability'>
                <select class='form-control ivar ivar-primary-ability2' id='primary_ability2' name='primary_ability2'>
                <option value='NONE' {% if variables.primary_ability2|default == 'NONE' %}selected='selected' {% endif %} > NONE </option>
                <option value='Strength' {% if variables.primary_ability2|default == 'Strength' %}selected='selected' {% endif %} > Strength </option>
                <option value='Dexterity' {% if variables.primary_ability2|default == 'Dexterity' %}selected='selected' {% endif %} > Dexterity </option>
                <option value='Constitution' {% if variables.primary_ability2|default == 'Constitution' %}selected='selected' {% endif %} > Constitution </option>
                <option value='Intelligence' {% if variables.primary_ability2|default == 'Intelligence' %}selected='selected' {% endif %} > Intelligence </option>
                <option value='Wisdom' {% if variables.primary_ability2|default == 'Wisdom' %}selected='selected' {% endif %} > Wisdom </option>
                <option value='Charisma' {% if variables.primary_ability2|default == 'Charisma' %}selected='selected' {% endif %} > Charisma </option>
                </select></td></tr>
                <tr><th class='ilbl ev ilbl-hit-point-die'><label for='hit_point_die'>Hit Point Die</label></th><td class='ivar ev ivar-hit-point-die'><input value='{{variables.hit_point_die|default}}' class='form-control ivar ivar-hit-point-die' id='hit_point_die' name='hit_point_die' placeholder='eg. 1D8 per level' type='text' /></td></tr>
                <tr><th class='ilbl od ilbl-saving-throw-proficiencies'><label for='saving_throw_proficiencies'>Saving Throw Proficiencies</label></th><td class='ivar od ivar-saving-throw-proficiencies'><input value='{{variables.saving_throw_proficiencies|default}}' class='form-control ivar ivar-saving-throw-proficiencies' id='saving_throw_proficiencies' name='saving_throw_proficiencies' placeholder='eg. Strength and Constitution' type='text' /></td></tr>
                <tr><th class='ilbl ev ilbl-skill-proficiencies'><label for='skill_proficiencies'>Skill Proficiencies</label></th><td class='ivar ev ivar-skill-proficiencies'><input value='{{variables.skill_proficiencies|default}}' class='form-control ivar ivar-skill-proficiencies' id='skill_proficiencies' name='skill_proficiencies' placeholder='eg. Choose 2: Animal Handling, Athletics, Intimidation, Nature, Perception, or Survival' type='text' /></td></tr>
                <tr><th class='ilbl od ilbl-weapon-proficiencies'><label for='weapon_proficiencies'>Weapon Proficiencies</label></th><td class='ivar od ivar-weapon-proficiencies'><input value='{{variables.weapon_proficiencies|default}}' class='form-control ivar ivar-weapon-proficiencies' id='weapon_proficiencies' name='weapon_proficiencies' placeholder='eg. Simple and Martial weapons' type='text' /></td></tr>
                <tr><th class='ilbl ev ilbl-tool-proficiencies'><label for='tool_proficiencies'>Tool Proficiencies</label></th><td class='ivar ev ivar-tool-proficiencies'><input value='{{variables.tool_proficiencies|default}}' class='form-control ivar ivar-tool-proficiencies' id='tool_proficiencies' name='tool_proficiencies' placeholder='eg. Thieves Tools' type='text' /></td></tr>
                <tr><th class='ilbl od ilbl-armor-training'><label for='armor_training'>Armor Training</label></th><td class='ivar od ivar-armor-training'><input value='{{variables.armor_training|default}}' class='form-control ivar ivar-armor-training' id='armor_training' name='armor_training' placeholder='eg. Light and Medium armor and Shields' type='text' /></td></tr>
                <tr><th class='ilbl ev ilbl-starting-equipment'><label for='starting_equipment'>Starting Equipment</label></th><td class='ivar ev ivar-starting-equipment'><input value='{{variables.starting_equipment|default}}' class='form-control ivar ivar-starting-equipment' id='starting_equipment' name='starting_equipment' placeholder='eg. Choose A or B: (A) Greataxe, 4 Handaxes, Explorer’s Pack, and 15 GP; or (B) 75 GP' type='text' /></td></tr>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <div class='ilbl ilbl-introduction'><label for='introduction'>Introduction</label></div>
            <div class='ivar ivar-introduction'><div class='iContent'><textarea class='form-control ivar ivar-introduction mention' id='introduction' name='introduction' rows='3' >{{variables.introduction|default}}</textarea></div></div>
            <br><div class='ilbl ilbl-becoming-level-1'><label for='becoming_level_1'>As a Level 1 Character:</label></div>
            <div class='ivar ivar-becoming-level-1'><div class='iContent'><textarea class='form-control ivar ivar-becoming-level-1 mention' id='becoming_level_1' name='becoming_level_1' rows='3' >{{variables.becoming_level_1|default}}</textarea></div></div>
            <p class="description form-control-description">eg. Gain all the traits in the Core Barbarian Traits table. Gain the Barbarian’s level 1 features, which are listed in the Barbarian Features table.</p>
            <br><div class='ilbl ilbl-becoming-multiclass'><label for='becoming_multiclass'>As a Multiclass Character:</label></div><div class='ivar ivar-becoming-multiclass'><div class='iContent'>
                <textarea class='form-control ivar ivar-becoming-multiclass mention' id='becoming_multiclass' name='becoming_multiclass' rows='3' >{{variables.becoming_multiclass|default}}</textarea></div></div>
            <p class="description form-control-description">eg. Gain the following traits from the Core Barbarian Traits table: Hit Point Die, proficiency with Martial weapons, and training with Shields. Gain the Barbarian’s level 1 features, which are listed in the Barbarian Features table.</p>
            <div class='ilbl ilbl-featuretable'><label for='featuretable'>Class Feature Table</label></div><div class='ivar ivar-featuretable'><div class='iContent'>
                <textarea class='form-control ivar ivar-featuretable mention' id='featuretable' name='featuretable' rows='3' >{{variables.featuretable|default}}</textarea></div></div>
            <div class='ilbl ilbl-class-features'><label for='class_features'>Class Features</label></div><div class='ivar ivar-class-features'><div class='iContent'>
                <textarea class='form-control ivar ivar-class-features mention' id='class_features' name='class_features' rows='3' >{{variables.class_features|default}}</textarea></div></div>
            <div class='ilbl ilbl-spells'><label for='spells'>Spells</label></div><div class='ivar ivar-spells'><div class='iContent'>
                <textarea class='form-control ivar ivar-spells mention' id='spells' name='spells' rows='3' >{{variables.spells|default}}</textarea></div></div>
            <div class='ilbl ilbl-details'><label for='details'>Details</label></div><div class='ivar ivar-details'><div class='iContent'>
                <textarea class='form-control ivar ivar-details mention' id='details' name='details' rows='3' >{{variables.details|default}}</textarea></div></div>
            <div class='ilbl ilbl-subclasses'><label for='subclasses'>Subclasses</label></div><div class='ivar ivar-subclasses'><div class='iContent'>
                <textarea class='form-control ivar ivar-subclasses mention' id='subclasses' name='subclasses' rows='3' >{{variables.subclasses|default}}</textarea></div></div>
            <div class='ilbl ev ilbl-subclasslist'><label for='subclasslist'>Subclass Block IDs</label></div><div class='ivar ev ivar-subclasslist'><div class='iContent'><input value='{{variables.subclasslist|default}}' class='form-control ivar ivar-subclasslist' id='subclasslist' name='subclasslist' placeholder='eg. 76534, 56234, 747234' type='text' /></div></div>
            <p class="description form-control-description">Use this field if you have existing blocks for your subclasses.</sp>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class="col-12">
			<div class="statblock-stat-form">
                <label for="imageid" class="control-label"><h4 class="header-title">Illustrating image (WA Image Gallery ID)</h4></label>
                <input value="{{ variables.imageid|default }}" class="form-control" id="imageid" name="imageid" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
		<div class="col-12">
			<div class="statblock-stat-form">
				<label for="source" class="control-label"><h4 class="header-title">Source</h4></label>
				<input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
				<p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
			</div>
		</div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <input value='0' id='vintage' name='vintage' type='hidden' />
                <input value='1' class='c' {% if variables.vintage|default > 0 %} checked='checked'{% endif %} id='vintage' name='vintage' type='checkbox' /> <label for='vintage'>Vintage Style instead of Modern Style</label>
            </div>
        </div>
	</div>
</div>