{% macro genWeapon(id, name, range, size, damage, qualities) %}
<div class="card my-2">
    <div class="card-header head-bar">Weapon</div>
    <div class="card-body">
        <input title="Name of the weapon" value="{{name}}" class="form-control" id="weapon_name_{{id}}" name="weapon_name_{{id}}" type="text" />
        <div class="table-responsive">
            <table class="table" width="100%">
                <tbody>
                    <tr>
                        <td class="hdr c">Reach/Range</td>
                        <td class="hdr c">Size</td>
                        <td class="hdr c">Damage</td>
                    </tr>
                    <tr>
                        <td class="txt c"><input title="Range of the weapon" value="{{ range }}" class="form-control sff" id="weapon_range_{{id}}" name="weapon_range_{{id}}" placeholder="eg 1, 2, L, M" type="text" /></td>
                        <td class="txt c"><input title="Crew required to operate weapon" value="{{ size}}" class="form-control" id="weapon_size_{{id}}" name="weapon_size_{{id}}" placeholder="eg Crew 3, Crew 2+winchers" type="text" /></td>
                        <td class="txt c"><input title="Damage of the weapon in d6" value="{{ damage }}" class="form-control sff" id="weapon_damage_{{id}}" name="weapon_damage_{{id}}" placeholder="eg 3 (for 3d6)" type="number" /></td>
                    </tr>
                    <tr>
                        <td class="hdr c" colspan=3>Qualities</td>
                    </tr>
                    <tr>
                        <td class="txt l" colspan=3><input title="Qualities of the weapon" value="{{ qualities }}" class="form-control" id="weapon_qualities_{{id}}" name="weapon_qualities_{{id}}" placeholder="eg Area, Fearsome 2, Intense, Spread" type="text" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>{% endmacro genWeapon %}
<div class="container-fluid conan-sheet">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card my-2">
                <div class="card-header head-bar">Ship Name</div>
                <div class="card-body">
                    <input title="The name of the ship" value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="eg Callisto" type="text" />
                </div>
                <div class="card-header head-bar">Ship Details</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" width="100%">
                            <tbody>
                                <tr>
                                    <td class="hdr l">Ship Type</td>
                                    <td class="txt l"><input title="Type of the ship" value="{{ variables.ship_type is defined ? variables.ship_type }}" class="form-control" id="ship_type" name="ship_type" placeholder="eg Bireme, Canoe, Longboat, Galley" type="text" /></td>
                                    <td class="hdr l">Sailing Range</td>
                                    <td class="txt l"><input title="How long the ship may remain at sea without resupplying (in days)" value="{{ variables.range is defined ? variables.range }}" class="form-control" id="range" name="range" placeholder="eg 5 days" type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="hdr l">Maneuver</td>
                                    <td class="txt c"><input title="Maneuver rating of the ship" value="{{ variables.maneuver is defined ? variables.maneuver }}" class="form-control sff" id="maneuver" name="maneuver" placeholder="eg 1 (value between 0 and 3, number of additional d20 for sailing tests)" type="number" /></td>
                                    <td class="hdr l">Impact</td>
                                    <td class="txt c"><input title="How much damage the ship does when ramming (in d6)" value="{{ variables.impact_damage is defined ? variables.impact_damage }}" class="form-control sff" id="impact_damage" name="impact_damage" placeholder="eg 4 (for 4d6)" type="number" /></td>
                                </tr>
                                <tr>
                                    <td class="hdr l">Qualities</td>
                                    <td class="txt l" colspan=3><input title="Qualities of the ship" value="{{ variables.qualities is defined ? variables.qualities }}" class="form-control" id="qualities" name="qualities" placeholder="eg Agile, Deep draft, Galley, Light craft, Ponderous, Portage, Ram, Rugged, Shallow draft, Ship" type="text" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar">Crew and Passengers</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" width="100%">
                            <tbody>
                                <tr>
                                    <td class="hdr l">Captain</td>
                                    <td class="txt l"><input title="Name of the captain" value="{{ variables.captain is defined ? variables.captain }}" class="form-control" id="captain" name="captain" type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="hdr l">First Mate</td>
                                    <td class="txt l"><input title="Name of the first mate" value="{{ variables.first_mate is defined ? variables.first_mate }}" class="form-control" id="first_mate" name="first_mate" type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="hdr l">Crew (req/act)</td>
                                    <td class="txt c"><input title="Minimum number of crew members" value="{{ variables.crew_req is defined ? variables.crew_req }}" class="form-control sff" id="crew_req" name="crew_req" type="text" /> / <input title="Current number of crew members" value="{{ variables.crew_act is defined ? variables.crew_act }}" class="form-control sff" id="crew_act" name="crew_act" type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="hdr l">Crew wages</td>
                                    <td class="txt c"><input title="Coins the average crew member gets per month, might influence their loyalty" value="{{ variables.crew_wages is defined ? variables.crew_wages }}" class="form-control" id="crew_wages" name="crew_wages" type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="hdr l">Passengers</td>
                                    <td class="txt c"><input title="Current number of passengers" value="{{ variables.passengers is defined ? variables.passengers }}" class="form-control sff" id="passengers" name="passengers" type="number" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar">Stress and Harms</div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table width="100%">
                        <tr><td class="hdr c">Soak</td><td class="num"><input title="By how much incoming damage is being reduced" value="{{ variables.soak is defined ? variables.soak }}" class="form-control sff" id="soak" name="soak" placeholder="eg 0 or 3" type="number" /></td></tr>
                        <tr><td class="hdr c">Structure</td><td class="num"><input title="Works similar to Vigor for characters (current value)" value="{{ variables.structure is defined ? variables.structure }}" class="form-control sff" id="structure" name="structure" type="number" /> / <input title="Works similar to Vigor for characters (max value)" value="{{ variables.structure_max is defined ? variables.structure_max }}" class="form-control sff" id="structure_max" name="structure_max" type="number" /></td></tr>
                        <tr><td class="hdr c red">Breaks</td><td class="num red"><input title="Works similar to Wounds fore characters (current value)" value="{{ variables.breaks is defined ? variables.breaks }}" class="form-control sff" id="breaks" name="breaks" type="number" /> / <input title="Works similar to Wounds fore characters (max value)" value="{{ variables.breaks_max is defined ? variables.breaks_max }}" class="form-control sff" id="breaks_max" name="breaks_max" type="number" /></td></tr>
                    </table>
                    </div>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar">Cargo and Stowage</div>
                <div class="card-body pd10">
                Stowage: <input title="Available space on the ship" value="{{ variables.stowage is defined ? variables.stowage }}" class="form-control sff" id="stowage" name="stowage" placeholder="eg 50 (use - for 'enough')" type="text" />
                <textarea title="Current cargo of the ship" class="form-control mention" id="cargo" name="cargo" rows="20" placeholder="">{{ variables.cargo is defined ? variables.cargo }}</textarea>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar">Notes</div>
                <div class="card-body pd10">
                <textarea title="Add special notes here" class="form-control mention" id="notes" name="notes" rows="20" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2">
                <div class="card-header head-bar">Image (WA image id)</div>
                <div class="card-body border">
                    <input title="Image id of the ship" value="{{ variables.image is defined ? variables.image }}" class="form-control sff" id="image" name="image" type="text" />
                </div>
            </div>
            {{ _self.genWeapon("01", variables.weapon_name_01, variables.weapon_range_01, variables.weapon_size_01, variables.weapon_damage_01, variables.weapon_qualities_01) }}
            {{ _self.genWeapon("02", variables.weapon_name_02, variables.weapon_range_02, variables.weapon_size_02, variables.weapon_damage_02, variables.weapon_qualities_02) }}
            {{ _self.genWeapon("03", variables.weapon_name_03, variables.weapon_range_03, variables.weapon_size_03, variables.weapon_damage_03, variables.weapon_qualities_03) }}
            {{ _self.genWeapon("04", variables.weapon_name_04, variables.weapon_range_04, variables.weapon_size_04, variables.weapon_damage_04, variables.weapon_qualities_04) }}
            {{ _self.genWeapon("05", variables.weapon_name_05, variables.weapon_range_05, variables.weapon_size_05, variables.weapon_damage_05, variables.weapon_qualities_05) }}
        </div>
    </div>
</div>