{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genStat(id = '', name = '', attribs = '', desc = '', roll = '', dx = '', end = '') %}{% set eo = "odd" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
<tr><td class="lbl {{eo}} l">Attack / Weapon:
<input value="{{name}}" class="form-control" id="stat_name_{{id}}" name="stat_name_{{id}}" type="text" /></td>
<td class="lbl {{eo}} c">ROLL</td><td class="lbl {{eo}} c" title="Damage Multiplier">DX</td><td class="lbl {{eo}} c" title="Endurance Cost">END</td></tr><tr>
<td class="stat {{eo}} l uc">Attributes: <input value="{{attribs}}" class="form-control" id="stat_attribs_{{id}}" name="stat_attribs_{{id}}" type="text" /></td>
<td rowspan=2 class="stat {{eo}} roll c"><input value="{{roll}}" class="form-control c" id="stat_roll_{{id}}" name="stat_roll_{{id}}" type="text" /></td>
<td rowspan=2 class="stat {{eo}} roll c"><input value="{{dx}}" class="form-control c"  title="Damage Multiplier" id="stat_dx_{{id}}" name="stat_dx_{{id}}" type="text" /></td>
<td rowspan=2 class="stat {{eo}} roll c"><input value="{{end}}" class="form-control c" title="Endurance Cost" id="stat_end_{{id}}" name="stat_end_{{id}}" type="text" /></td></tr>
<tr class="bdr"><td class="stat {{eo}} bold l">Description: <input value="{{desc}}" class="form-control" id="stat_desc_{{id}}" name="stat_desc_{{id}}" type="text" /></td></tr>{% endmacro genStat %}
{# ---------------------------------------------- #}
{% macro genAbility(id = 0, vname = '', name = '', vvalue = '', value = '') %}{% set eo = "odd" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
<tr><td class="att {{eo}} r" width="100px"><input value="{{value}}" class="form-control r" id="{{vvalue}}" name="{{vvalue}}" type="text" /></td><td class="att {{eo}} l"><input value="{{name}}" class="form-control" id="{{vname}}" name="{{vname}}" type="text" /></td></tr>{% endmacro genAbility %}
{# ---------------------------------------------- #}
<div class="container-fluid ova-character-sheet">
	<div class="row">
		<div class="col-12">
			<div class="card my-2">
				<div class="card-header rounded">Name: <input value="{{variables.name is defined ? variables.name}}" class="form-control" id="name" name="name" type="text" /></div>
				<div class="card-body collapse show" id="collapseBackground" aria-labelledby="headingBackground">
					<div class="row">
						<div class="col-12 col-md-12 col-lg-12">
							<div class="contentContainer">
								<span class="inputLabel">Appearance</span>
								<span class="inputContent"><textarea class="form-control mention" id="appearance" name="appearance" rows="3" >{{variables.appearance is defined ? variables.appearance}}</textarea></span>
							</div>
							<div class="contentContainer">
								<span class="inputLabel">Portrait (WA Image-ID)</span>
								<span class="inputContent"><input value="{{variables.portrait is defined ? variables.portrait}}" class="form-control" id="portrait" name="portrait" type="number" /></span>
							</div>
						</div>
					</div>						
					<div class="contentContainer">
						<span class="inputLabel">Background</span>
						<span class="inputContent"><textarea class="form-control mention" id="background" name="background" rows="3" >{{variables.background is defined ? variables.background}}</textarea></span>
					</div>
					<div class="contentContainer">
						<span class="inputLabel">Personality</span>
						<span class="inputContent"><textarea class="form-control mention" id="personality" name="personality" rows="3" >{{variables.personality is defined ? variables.personality}}</textarea></span>
					</div>
					<div class="contentContainer">
						<span class="inputLabel">Notes</span>
						<span class="inputContent"><textarea class="form-control mention" id="notes" name="notes" rows="3" >{{variables.notes is defined ? variables.notes}}</textarea></span>
					</div>
					<div class="contentContainer">
						<span class="inputLabel">Combat Notes</span>
						<span class="inputContent"><textarea class="form-control mention" id="combat_notes" name="combat_notes" rows="3" >{{variables.combat_notes is defined ? variables.combat_notes}}</textarea></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-xs-12 col-md-6">
			<div class="card my-2">
				<div class="card-header">Abilities</div>
				<div class="card-body collapse show ofh" id="collapseAb1" aria-labelledby="headingAb1">
					<table width="100%">
                    <tr><th class="lbl r">Level</th><th class="lbl l">Ability Name</th></tr>
					{% for i in 1..25 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
						{{ sheet.genAbility(
							id,
							'ability_name_' ~ id, attribute(variables, 'ability_name_' ~ id),
							'ability_score_' ~ id, attribute(variables, 'ability_score_' ~ id)
							)
						}}
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-xs-12 col-md-6">
			<div class="card my-2">
				<div class="card-header">Weaknesses</div>
				<div class="card-body collapse show ofh" id="collapseWe1" aria-labelledby="headingWe1">
					<table width="100%">
                    <tr><th class="lbl r">Level</th><th class="lbl l">Weakness Name</th></tr>
					{% for i in 1..25 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
						{{ sheet.genAbility(
							id,
							'weakness_name_' ~ id, attribute(variables, 'weakness_name_' ~ id),
							'weakness_score_' ~ id, attribute(variables, 'weakness_score_' ~ id)
							)
						}}
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-xs-12">
			<div class="card my-2">
				<div class="card-header">Attacks &amp; Combat Stats</div>
				<div class="card-body ofh">
					<table width="100%">
					{% for i in 1..15 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
						{{ sheet.genStat(
							id,
							attribute(variables, 'stat_name_' ~ id),
							attribute(variables, 'stat_attribs_' ~ id),
							attribute(variables, 'stat_desc_' ~ id),
							attribute(variables, 'stat_roll_' ~ id),
							attribute(variables, 'stat_dx_' ~ id),
							attribute(variables, 'stat_end_' ~ id)
							)
						}}
					{% endfor %}
					</table>
					<table width="100%">
						<tr><td class="lbl ev c">DEFENSE</td><td class="lbl ev c">HEALTH</td><td class="lbl ev c">ENDURANCE</td><td class="lbl inv c">TV</td></tr>
						<tr><td class="stat ev c"><input value="{{variables.defense is defined ? variables.defense}}" class="form-control c" id="defense" name="defense" type="text" /></td>
                        <td class="stat ev c"><input value="{{variables.health is defined ? variables.health}}" class="form-control c" id="health" name="health" type="text" /></td>
                        <td class="stat ev c"><input value="{{variables.endurance is defined ? variables.endurance}}" class="form-control c" id="endurance" name="endurance" type="text" /></td>
                        <td class="stat inv c"><input value="{{variables.tv is defined ? variables.tv}}" class="form-control c" id="tv" name="tv" type="text" /></td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12 col-lg-12 my-2">
			<div class="card my-2">
				<div class="card-header">Companion Name: <input value="{{variables.companion is defined ? variables.companion}}" class="form-control" id="companion" name="companion" type="text" /></div>
				<div class="card-body collapse show" id="collapseCompanion" aria-labelledby="headingCompanion">
					<div class="contentContainer">
						<span class="inputLabel">Notes</span>
						<span class="inputContent"><textarea class="form-control mention" id="cmp_notes" name="cmp_notes" rows="3" >{{variables.cmp_notes is defined ? variables.cmp_notes}}</textarea></span>
					</div>
					<div class="contentContainer">
						<span class="inputLabel">Combat Notes</span>
						<span class="inputContent"><textarea class="form-control mention" id="cmp_combat_notes" name="cmp_combat_notes" rows="3" >{{variables.cmp_combat_notes is defined ? variables.cmp_combat_notes}}</textarea></span>
					</div>
                </div>
			</div>
		</div>
		<div class="col-12 col-xs-12 col-md-6">
			<div class="card my-2">
				<div class="card-header">Abilities</div>
				<div class="card-body collapse show ofh" id="collapseAb2" aria-labelledby="headingAb2">
					<table width="100%">
                    <tr><th class="lbl r">Level</th><th class="lbl l">Ability Name</th></tr>
					{% for i in 26..50 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
						{{ sheet.genAbility(
							id,
							'ability_name_' ~ id, attribute(variables, 'ability_name_' ~ id),
							'ability_score_' ~ id, attribute(variables, 'ability_score_' ~ id)
							)
						}}
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-xs-12 col-md-6">
			<div class="card my-2">
				<div class="card-header">Weaknesses</div>
				<div class="card-body collapse show ofh" id="collapseWe2" aria-labelledby="headingWe2">
					<table width="100%">
                    <tr><th class="lbl r">Level</th><th class="lbl l">Weakness Name</th></tr>
					{% for i in 25..50 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
						{{ sheet.genAbility(
							id,
							'weakness_name_' ~ id, attribute(variables, 'weakness_name_' ~ id),
							'weakness_score_' ~ id, attribute(variables, 'weakness_score_' ~ id)
							)
						}}
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-xs-12">
			<div class="card my-2">
				<div class="card-header">Attacks &amp; Combat Stats - Companion</div>
				<div class="card-body ofh">
					<table width="100%">
					{% for i in 16..30 %}{% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
						{{ sheet.genStat(
							id,
							attribute(variables, 'stat_name_' ~ id),
							attribute(variables, 'stat_attribs_' ~ id),
							attribute(variables, 'stat_desc_' ~ id),
							attribute(variables, 'stat_roll_' ~ id),
							attribute(variables, 'stat_dx_' ~ id),
							attribute(variables, 'stat_end_' ~ id)
							)
						}}
					{% endfor %}
					</table>
					<table width="100%">
						<tr><td class="lbl ev c">DEFENSE</td><td class="lbl ev c">HEALTH</td><td class="lbl ev c">ENDURANCE</td><td class="lbl inv c" title="Threat Value">TV</td></tr>
						<tr><td class="stat ev c"><input value="{{variables.cmp_defense is defined ? variables.cmp_defense}}" class="form-control c" id="cmp_defense" name="cmp_defense" type="text" /></td>
                        <td class="stat ev c"><input value="{{variables.cmp_health is defined ? variables.cmp_health}}" class="form-control c" id="cmp_health" name="cmp_health" type="text" /></td>
                        <td class="stat ev c"><input value="{{variables.cmp_endurance is defined ? variables.cmp_endurance}}" class="form-control c" id="cmp_endurance" name="cmp_endurance" type="text" /></td>
                        <td class="stat inv c" title="Threat Value"><input value="{{variables.cmp_tv is defined ? variables.cmp_tv}}" class="form-control c" id="cmp_tv" name="cmp_tv" type="text" /></td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>