<div class="container-fluid ova-character-sheet">
	<div class="row">
		<div class="col-12 col-lg-6">
            <table width="100%">
                <tr><td class="lbl odd c" colspan=2>{{variables.name|default}}</td></tr>
                <tr><td class="lbl ev l">HEALTH</td><td class="stat ev c"><input value="{{variables.health is defined ? variables.health}}" class="form-control c" id="health" name="health" type="text" /></td></tr>
                <tr><td class="lbl odd l">ENDURANCE</td><td class="stat odd c"><input value="{{variables.endurance is defined ? variables.endurance}}" class="form-control c" id="endurance" name="endurance" type="text" /></td></tr>
            </table>
        </div>
		<div class="col-12 col-lg-6">
            <div class="contentContainer">
                <span class="inputLabel">Combat Notes - {{variables.name|default}}</span>
                <span class="inputContent"><textarea class="form-control p100" id="combat_notes" name="combat_notes" rows="3" >{{variables.combat_notes is defined ? variables.combat_notes}}</textarea></span>
            </div>
        </div>
        {% if variables.companion is defined and variables.companion != "" %}
		<div class="col-12 col-lg-6">
            <table width="100%">
                <tr><td class="lbl odd c" colspan=2>{{variables.companion|default}}</td></tr>
                <tr><td class="lbl ev l">HEALTH</td><td class="stat ev c"><input value="{{variables.cmp_health is defined ? variables.cmp_health}}" class="form-control c" id="cmp_health" name="hcmp_ealth" type="text" /></td></tr>
                <tr><td class="lbl odd l">ENDURANCE</td><td class="stat odd c"><input value="{{variables.cmp_endurance is defined ? variables.cmp_endurance}}" class="form-control c" id="cmp_endurance" name="cmp_endurance" type="text" /></td></tr>
            </table>
        </div>
		<div class="col-12 col-lg-6">
            <div class="contentContainer">
                <span class="inputLabel">Combat Notes - {{variables.companion|default}}</span>
                <span class="inputContent"><textarea class="form-control p100" id="cmp_combat_notes" name="cmp_combat_notes" rows="3" >{{variables.cmp_combat_notes is defined ? variables.cmp_combat_notes}}</textarea></span>
            </div>
        </div>
        {% endif %}
    </div>
</div>