{% if variables.source is defined %} <div class="pull-right"><span class="label label-info">{{ variables.source }}</span></div>{% endif %}
<div class="row">
	<div class="col-12">
		<h1>{{ variables.name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<table class="table">
			<thead>
				<tr>
					<th>Damage (S)</th>
					<th>Damage (M)</th>
					<th>Type</th>
					<th>Critical</th>
					<th>Range</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ variables.damage_s }}</td>
					<td>{{ variables.damage_m }}</td>
					<td>{{ variables.type }}</td>
					<td>{{ variables.critical }}</td>
					<td>{{ variables.range }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	{% if variables.special %}
		<div class="col-6">
			Special: <strong>{{ variables.special }}</strong>
		</div>
	{% endif %}
	{% if variables.cost %}
		<div class="col-3">
			Cost: <strong>{{ variables.cost }}</strong>
		</div>
	{% endif %}
	{% if variables.weight %}
		<div class="col-3">
			Weight: <strong>{{ variables.weight }}</strong>
		</div>
	{% endif %}
</div>
{% if variables.description %}
	<div class="row">
		<div class="col-12">
			<p class="mt-3">{{ variables.description }}</p>
		</div>
	</div>
{% endif %}