{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
<table>
{# Title, showing name/gender/metatype #}
<caption class="title">{{ variables.name|BBcode }}, {{ variables.gender|BBcode }} {{ variables.metatype|BBcode }}</caption>

{# Header row for the core attributes #}
<tr class="attribute_header">
<td>B</td><td>A</td><td>R</td><td>S</td><td>W</td><td>L</td><td>I</td><td>C</td><td>ESS</td><td>EDG</td><td>M</td><td>RES</td><td>D</td>
</tr>

{# Attribute row #}
<tr class="attributes">
<td>{{ variables.body }}</td>
<td>{{ variables.agility }}</td>
<td>{{ variables.reaction }}</td>
<td>{{ variables.strength }}</td>
<td>{{ variables.willpower }}</td>
<td>{{ variables.logic }}</td>
<td>{{ variables.intuition }}</td>
<td>{{ variables.charisma }}</td>
<td>{{ variables.essence/100 }}</td>
<td>{{ variables.edge }}</td>
<td>{{ variables.magic }}</td>
<td>{{ variables.resonance }}</td>
<td>{{ variables.depth }}</td>
</tr>

{# Main statblock, rows should be hidden if the relevant options are checked. #}
<tr><td colspan="3" class="table_header_left">Condition Monitor</td><td colspan="10">{{ variables.condition|BBcode }}</td></tr>
<tr id="condition_matrix"><td colspan="3" class="table_header_left">Matrix Condition Monitor</td><td colspan="10">{{ variables.condition_matrix|BBcode }}</td></tr>
<tr><td colspan="3" class="table_header_left">Physical Initiative</td><td colspan="10">{{ variables.initiative_physical|BBcode }}</td></tr>
<tr id="initiative_astral"><td colspan="3" class="table_header_left">Astral Initiative</td><td colspan="10">{{ variables.initiative_astral|BBcode }}</td></tr>
<tr id="initiative_matrix"><td colspan="3" class="table_header_left">Matrix Initiative</td><td colspan="10">{{ variables.initiative_matrix|BBcode }}</td></tr>
<tr><td colspan="3" class="table_header_left">Limits</td><td colspan="10">{{ variables.limits|BBcode }}</td></tr>
<tr><td colspan="3" class="table_header_left">Active Skills</td><td colspan="10">{{ variables.skills_active|BBcode }}</td></tr>
<tr><td colspan="3" class="table_header_left">Knowledge Skills</td><td colspan="10">{{ variables.skills_knowledge|BBcode }}</td></tr>
<tr><td colspan="3" class="table_header_left">qualities</td><td colspan="10">{{ variables.qualities|BBcode }}</td></tr>
<tr id="initiate"><td colspan="3" class="table_header_left">Initiate Grade</td><td colspan="10">{{ variables.initiate }}</td></tr>
<tr id="spells"><td colspan="3" class="table_header_left">Spells</td><td colspan="10">{{ variables.spells|BBcode }}</td></tr>
<tr id="powers"><td colspan="3" class="table_header_left">Powers</td><td colspan="10">{{ variables.powers|BBcode }}</td></tr>
<tr id="vehicles"><td colspan="3" class="table_header_left">Vehicles and Drones</td><td colspan="10">{{ variables.vehicles|BBcode }}</td></tr>
<tr><td colspan="3" class="table_header_left">Gear</td><td colspan="10">{{ variables.gear|BBcode }}</td></tr>
<tr><td colspan="3" class="table_header_left">Weapons</td><td colspan="10">{{ variables.weapons|BBcode }}</td></tr>
</table>

{# Options #}
<form>
<input type="checkbox" name="is_magic"> Character has the <em>Magic</em> attribute.</input>
<input type="checkbox" name="has_powers"> Character has powers (critter or adept).</input>
<input type="checkbox" name="is_ai"> Character is an AI.</input>
<input type="checkbox" name="is_technomancer"> Character is a Technomancer.</input>
<input type="checkbox" name="is_rigger"> Character owns vehicles or drones.</input>
<input type="checkbox" name="is_decker"> Character uses the Matrix Condition Monitor.</input>
<input type="checkbox" name="is_cybered"> Character has cybernetic implants.</input>
</form>
{% endblock %}