{% set sys = variables.system|default %}{% if sys == "" %}{% set sys = "og" %}{% endif %}
<div class='container-fluid sheet-{{sys}}'>
  <div class='row'>
    <div class='col-12'>
      <div class='card personal' id='card-personal'>
        <div class='card-header personal'>{{variables.name|default}}</div>
        <div class='card-body c'>
            {{variables.role|default}}<br>
            {{variables.trope|default}}<br>
            {{variables.job|default}}
        </div>
      </div>
    </div>
  </div>
</div>