{% set sys = variables.system|default %}{% if sys == "" %}{% set sys = "og" %}{% endif %}
{% import _self as sheet %}
{% set att = [ "Brawn", "Nerves", "Smooth", "Focus", "Crime" ] %}
{% set skill_list = [
    ["Endure", "Brawn"],
    ["Fight", "Brawn"],
    ["Force", "Brawn"],
    ["Stunt", "Brawn"],
    ["Cool", "Nerves"],
    ["Drive", "Nerves"],
    ["Shoot", "Nerves"],
    ["Survival", "Nerves"],
    ["Flirt", "Smooth"],
    ["Leadership", "Smooth"],
    ["Speech", "Smooth"],
    ["Style", "Smooth"],
    ["Detect", "Focus"],
    ["Fix", "Focus"],
    ["Heal", "Focus"],
    ["Know", "Focus"],
    ["Awareness", "Crime"],
    ["Dexterity", "Crime"],
    ["Stealth", "Crime"],
    ["Streetwise", "Crime"] ] %}
{% set condition = [ "Hurt", "Nervous", "Like A Fool", "Distracted", "Scared", "Tired", "+", "+", "+", "Broken" ] %}
{% set catt      = [ "Brawn", "Nerves", "Smooth", "Focus", "Crime", "None", "Other", "Other", "Other", "All" ] %}
{# -------------------------------------------- #}
{% macro genDots(var, max = 0, lbl = '', group = 0, marked = '', unmarked = '') %}
  {% for i in 1..max %}
    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
    <input value='0' id='{{lbl}}' name='{{lbl}}_{{id}}' type='hidden' />
    <input value='1' class='ivar ivar-{{lbl}}' {% if attribute(var, lbl ~ '_' ~ id)|default == 1 %} checked='checked'{% endif %} id='{{lbl}}' name='{{lbl}}_{{id}}' type='checkbox' />
    {% if (group > 0) and (i / 6 == i // group ) %}&nbsp;&nbsp;{% endif %}
  {% endfor %}
{% endmacro genDots %}
{# -------------------------------------------- #}
<div class='container-fluid sheet-{{sys}}'>
  <div class='row'>
    <div class='col-12'>
      <div class='card personal' id='card-personal'>
        <div class='card-header personal'>Personal</div>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl od ilbl-name' width='30%'><label for='name'>Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' required=required id='name' name='name' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-role'><label for='role'>Role</label></th><td class='ivar ev ivar-role'><input value='{{variables.role|default}}' class='form-control ivar ivar-role' id='role' name='role' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-trope'><label for='trope'>Trope</label></th><td class='ivar od ivar-trope'><input value='{{variables.trope|default}}' class='form-control ivar ivar-trope' id='trope' name='trope' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-job'><label for='job'>Job</label></th><td class='ivar ev ivar-job'><input value='{{variables.job|default}}' class='form-control ivar ivar-job' id='job' name='job' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-age'><label for='age'>Age</label></th><td class='ivar od ivar-age'><input value='{{variables.age|default}}' class='form-control ivar ivar-age' id='age' name='age' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-flaw'><label for='flaw'>Flaw</label></th><td class='ivar ev ivar-flaw'><input value='{{variables.flaw|default}}' class='form-control ivar ivar-flaw' id='flaw' name='flaw' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-catchphrase'><label for='catchphrase'>Catchphrase</label></th><td class='ivar od ivar-catchphrase'><input value='{{variables.catchphrase|default}}' class='form-control ivar ivar-catchphrase' id='catchphrase' name='catchphrase' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-system'><label for='system'>System</label></th><td class='ivar ev ivar-system'>
              <select  class='form-control ivar ivar-system' id='system' name='system'>
                <option value='og' {% if variables.system|default == 'og' %}selected='selected' {% endif %} > Outgunned </option>
                <option value='oga' {% if variables.system|default == 'oga' %}selected='selected' {% endif %} > OG Adventure </option>
              </select></td></tr>
            <tr><th class='ilbl od ilbl-imageid'><label for='imageid'>Portrait (WA-Image ID)</label></th><td class='ivar od ivar-imageid'><input value='{{variables.imageid|default}}' class='form-control ivar ivar-imageid c' id='imageid' name='imageid' type='number' min='0' placeholder='eg 625343'/></td></tr>
          </table>
        </div>
      </div>
      <div class='card misc' id='card-misc'>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl od ilbl-grit'><label for='grit'>Grit</label></th><td class='ivar od ivar-grit'>{{ sheet.genDots(variables, 12, 'grit', 6) }}</td></tr>
            {% set lbl = "Adrenaline" %}{% set icnf = "fa-solid fa-battery-bolt" %}{% set icne = "fa-regular fa-battery-empty" %}
            {% if sys == "oga" %}{% set lbl = "Luck" %}{% set icnf = "fa-solid fa-clover" %}{% set icne = "fa-regular fa-clover" %}{% endif %}
            <tr><th class='ilbl ev ilbl-luck'><label for='luck'>{{lbl}}</label></th><td class='ivar ev ivar-luck'>{{ sheet.genDots(variables, 6, 'luck', 0) }}</td></tr>
            <tr><th class='ilbl od ilbl-spotlight'><label for='spotlight'>Spotlight</label></th><td class='ivar od ivar-spotlight'>{{ sheet.genDots(variables, 3, 'spotlight', 0) }}</td></tr>
            <tr><th class='ilbl ev ilbl-death-roulette'><label for='death_roulette'>Death Roulette</label></th><td class='ivar ev ivar-death-roulette'>{{ sheet.genDots(variables, 6, 'death_roulette', 0) }}</td></tr>
            <tr><th class='ilbl od ilbl-treasure'><label for='treasure'>Treasure</label></th><td class='ivar od ivar-treasure'><input value='{{variables.treasure|default}}' class='form-control ivar ivar-treasure' id='treasure' name='treasure' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-experiences'><label for='experiences'>Experiences</label></th><td class='ivar ev ivar-experiences'><textarea class='form-control ivar ivar-experiences' id='bexperiences' name='experiences'>{{variables.experiences|default}}</textarea></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card status' id='card-status'>
        <div class='card-header status'>Conditions</div>
        <div class='row'>
          <div class='col-12 col-md-6'>
            <div class='card-body of'>
              <table class='table'>
                {% for i in 1..5 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr><th class='ilbl {{eo}} ilbl-status-check c'><label for='status_check'>{{condition[id-1]}} ({{catt[id-1]}})</label></th><td class='ivar {{eo}} ivar-status-check c'><input value='0' id='status_check' name='status_check_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'status_check_' ~ id)|default > 0 %} checked='checked'{% endif %} id='status_check' name='status_check_{{id}}' type='checkbox' /></td></tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <div class='col-12 col-md-6'>
            <div class='card-body of'>
              <table class='table'>
                {% for i in 6..10 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr><th class='ilbl {{eo}} ilbl-status-check c'><label for='status_check'>
                  {% if i >= 7 and i <=9 %}
                    {% set lbl = attribute(variables, 'status_check_lbl_' ~ id)|default %}
                    <input value='{{lbl}}' class="form-control ivar ivar-status-check-lbl" id='status_check_lbl_{{id}}' name='status_check_lbl_{{id}}' type='text'/>
                  {% else %}
                    {{condition[id-1]}}
                  {% endif %}
                  ({{catt[id-1]}})</label></th><td class='ivar {{eo}} ivar-status-check c'><input value='0' id='status_check' name='status_check_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'status_check_' ~ id)|default > 0 %} checked='checked'{% endif %} id='status_check' name='status_check_{{id}}' type='checkbox' /></td></tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-6 col-lg-4'>
      <div class='card attributes' id='card-attributes'>
        <div class='card-body of'>
          <table class='table'>
            {% for i in 1..1 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-att-value' width='70%'><label for='att_value'>{{att[id-1]}}</label></th><td class='ivar {{eo}} ivar-att-value'><input value='{{attribute(variables, 'att_value_' ~ id)|default}}' class='form-control ivar ivar-att-value c' id='att_value' name='att_value_{{id}}' type='number' min='2' max='3' placeholder='2-3' /></td></tr>
            {% endfor %}
            {% for i in 1..4 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-sk-value' width='70%'><label for='sk_value'>{{skill_list[id-1][0]}}</label></th><td class='ivar {{eo}} ivar-sk-value'><input value='{{attribute(variables, 'sk_value_' ~ id)|default}}' class='form-control ivar ivar-sk-value c' id='sk_value' name='sk_value_{{id}}' type='number' min='1' max='3' placeholder='1-3' /></td></tr>
            {% endfor %}
            {% for i in 2..2 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-att-value' width='70%'><label for='att_value'>{{att[id-1]}}</label></th><td class='ivar {{eo}} ivar-att-value'><input value='{{attribute(variables, 'att_value_' ~ id)|default}}' class='form-control ivar ivar-att-value c' id='att_value' name='att_value_{{id}}' type='number' min='2' max='3' placeholder='2-3' /></td></tr>
            {% endfor %}
            {% for i in 5..8 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-sk-value' width='70%'><label for='sk_value'>{{skill_list[id-1][0]}}</label></th><td class='ivar {{eo}} ivar-sk-value'><input value='{{attribute(variables, 'sk_value_' ~ id)|default}}' class='form-control ivar ivar-sk-value c' id='sk_value' name='sk_value_{{id}}' type='number' min='1' max='3' placeholder='1-3' /></td></tr>
            {% endfor %}
            {% for i in 3..3 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-att-value' width='70%'><label for='att_value'>{{att[id-1]}}</label></th><td class='ivar {{eo}} ivar-att-value'><input value='{{attribute(variables, 'att_value_' ~ id)|default}}' class='form-control ivar ivar-att-value c' id='att_value' name='att_value_{{id}}' type='number' min='2' max='3' placeholder='2-3' /></td></tr>
            {% endfor %}
            {% for i in 9..12 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-sk-value' width='70%'><label for='sk_value'>{{skill_list[id-1][0]}}</label></th><td class='ivar {{eo}} ivar-sk-value'><input value='{{attribute(variables, 'sk_value_' ~ id)|default}}' class='form-control ivar ivar-sk-value c' id='sk_value' name='sk_value_{{id}}' type='number' min='1' max='3' placeholder='1-3' /></td></tr>
            {% endfor %}
            {% for i in 4..4 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-att-value' width='70%'><label for='att_value'>{{att[id-1]}}</label></th><td class='ivar {{eo}} ivar-att-value'><input value='{{attribute(variables, 'att_value_' ~ id)|default}}' class='form-control ivar ivar-att-value c' id='att_value' name='att_value_{{id}}' type='number' min='2' max='3' placeholder='2-3' /></td></tr>
            {% endfor %}
            {% for i in 13..16 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-sk-value' width='70%'><label for='sk_value'>{{skill_list[id-1][0]}}</label></th><td class='ivar {{eo}} ivar-sk-value'><input value='{{attribute(variables, 'sk_value_' ~ id)|default}}' class='form-control ivar ivar-sk-value c' id='sk_value' name='sk_value_{{id}}' type='number' min='1' max='3' placeholder='1-3' /></td></tr>
            {% endfor %}
            {% for i in 5..5 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-att-value' width='70%'><label for='att_value'>{{att[id-1]}}</label></th><td class='ivar {{eo}} ivar-att-value'><input value='{{attribute(variables, 'att_value_' ~ id)|default}}' class='form-control ivar ivar-att-value c' id='att_value' name='att_value_{{id}}' type='number' min='2' max='3' placeholder='2-3' /></td></tr>
            {% endfor %}
            {% for i in 17..20 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><th class='ilbl {{eo}} ilbl-sk-value' width='70%'><label for='sk_value'>{{skill_list[id-1][0]}}</label></th><td class='ivar {{eo}} ivar-sk-value'><input value='{{attribute(variables, 'sk_value_' ~ id)|default}}' class='form-control ivar ivar-sk-value c' id='sk_value' name='sk_value_{{id}}' type='number' min='1' max='3' placeholder='1-3' /></td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6 col-lg-8'>
      <div class='card feats' id='card-feats'>
        <div class='card-header feats'>Feats</div>
        <div class='card-body of'>
          {% for i in 1..6 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            <div class='ivar {{eo}} ivar-feat'><input value='{{attribute(variables, 'feat_' ~ id)|default}}' class='form-control ivar ivar-feat' id='feat' name='feat_{{id}}' type='text' /></div>
          {% endfor %}
        </div>
      </div>
      <div class='row'>
        <div class='col-12 col-lg-6'>
          <div class='card guns' id='card-guns'>
            <div class='card-header guns'>Guns</div>
            <div class='card-body of'>
              <table class='table'>
              <tr>
              <th class='ilbl od ilbl-gun-name'><label for='gun_name'>Name</label></th>
              <th class='ilbl od ilbl-gun-ammo'><label for='gun_ammo'>Ammo (0-3)</label></th>
              </tr>
              {% for i in 1..5 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
              <td class='ivar {{eo}} ivar-gun-name'><input value='{{attribute(variables, 'gun_name_' ~ id)|default}}' class='form-control ivar ivar-gun-name' id='gun_name' name='gun_name_{{id}}' type='text' /></td><td class='ivar {{eo}} ivar-gun-ammo'><input value='{{attribute(variables, 'gun_ammo_' ~ id)|default}}' class='form-control ivar ivar-gun-ammo' id='gun_ammo' name='gun_ammo_{{id}}' type='text' /></td>
              </tr>
              {% endfor %}
              </table>
            </div>
          </div>
          <div class='card gear' id='card-gear'>
            <div class='card-header gear'>Gear</div>
            <div class='card-body of'>
              <table class='table'>
                <tr><th class='ilbl od ilbl-cash'><label for='cash'>Cash</label></th><td class='ivar od ivar-cash'>{{ sheet.genDots(variables, 5, 'cash', 0) }}</td></tr>
              </table>
              <div class='card gear' id='card-gear'>
                <div class='ivar od ivar-gear'><div class='iContent'><textarea class='form-control ivar ivar-gear' id='gear' name='gear'>{{variables.gear|default}}</textarea></div></div>
              </div>
              <div class='card bag' id='card-bag'>
                <div class='card-header bag'><label for='bag'>Bag</label></div>
                <div class='card-body of'>
                  <div class='ivar od ivar-bag'><div class='iContent'><textarea class='form-control ivar ivar-bag' id='bag' name='bag'>{{variables.bag|default}}</textarea></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-12 col-lg-6'>
          <div class='card backpack' id='card-backpack'>
            <div class='card-header backpack'><label for='backpack'>Backpack</label></div>
            <div class='card-body of'>
              <div class='ivar od ivar-backpack'><div class='iContent'><textarea class='form-control ivar ivar-backpack' id='backpack' name='backpack'>{{variables.backpack|default}}</textarea></div></div>
            </div>
          </div>
          <div class='card storage' id='card-storage'>
            <div class='card-header storage'><label for='storage'>Storage</label></div>
            <div class='card-body of'>
              <div class='ivar od ivar-storage'><div class='iContent'><textarea class='form-control ivar ivar-storage' id='storage' name='storage'>{{variables.storage|default}}</textarea></div></div>
            </div>
          </div>
        {% if sys == "og" %}
          <div class='card ride' id='card-ride'>
            <div class='card-header ride'>Ride</div>
            <div class='card-body of'>
              <table class='table'>
                <tr><th class='ilbl od ilbl-ride'><label for='ride'>Name/Type</label></th><td class='ivar od ivar-ride'><input value='{{variables.ride|default}}' class='form-control ivar ivar-ride' id='ride' name='ride' type='text' /></td></tr>
                <tr><th class='ilbl ev ilbl-ride-front-armor'><label for='ride_front_armor'>Front Armor</label></th><td class='ivar ev ivar-ride-front-armor'><input value='{{variables.ride_front_armor|default}}' class='form-control ivar ivar-ride-front-armor c' id='ride_front_armor' name='ride_front_armor' type='number' min='0' max='3' /></td></tr>
                <tr><th class='ilbl od ilbl-ride-back-armor'><label for='ride_back_armor'>Back Armor</label></th><td class='ivar od ivar-ride-back-armor'><input value='{{variables.ride_back_armor|default}}' class='form-control ivar ivar-ride-back-armor c' id='ride_back_armor' name='ride_back_armor' type='number' min='0' max='3' /></td></tr>
                <tr><th class='ilbl ev ilbl-ride-hp'><label for='ride_hp'>HP</label></th><td class='ivar ev ivar-ride-hp'><input value='{{variables.ride_hp|default}}' class='form-control ivar ivar-ride-hp c' id='ride_hp' name='ride_hp' type='number' /></td></tr>
              </table>
            </div>
          </div>
        {% else %}
          <input value='{{variables.ride|default}}' class='form-control ivar ivar-ride' id='ride' name='ride' type='hidden' />
          <input value='{{variables.ride_front_armor|default}}' class='form-control ivar ivar-ride-front-armor c' id='ride_front_armor' name='ride_front_armor' type='hidden' />
          <input value='{{variables.ride_back_armor|default}}' class='form-control ivar ivar-ride-back-armor c' id='ride_back_armor' name='ride_back_armor' type='hidden' />
          <input value='{{variables.ride_hp|default}}' class='form-control ivar ivar-ride-hp c' id='ride_hp' name='ride_hp' type='hidden' />
        {% endif %}
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'><label for='notes'>Notes</label></div>
        <div class='card-body of'>
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes'>{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>