{% set cskills = [ "Unarmed", "Grappling", "Daggers", "Swords", "Axes", "Bludgeons", "Polearms", "Esoteric", "Bows", "Throwing", "Shields"] %}
<div class="container-fluid sheet-blood-and-doom">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card personal" id="card-personal">
                <div class="card-header personal">Personal Information</div>
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-name' title='This is the name of your hero.'><label for='name'>Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='Name of the hero' type='text' required=required /></td></tr>
                        <tr><th class='ilbl ev ilbl-player-role'><label for='player-role'>Player Role</label></th><td class='ivar ev ivar-player-role'><input value='{{variables.player_role|default}}' class='form-control ivar ivar-player-role' id='player_role' name='player_role' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-class'><label for='class'>Class</label></th><td class='ivar od ivar-class'><input value='{{variables.class|default}}' class='form-control ivar ivar-class' id='class' name='class' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-archetype'><label for='archetype'>Archetype</label></th><td class='ivar ev ivar-archetype'><input value='{{variables.archetype|default}}' class='form-control ivar ivar-archetype' id='archetype' name='archetype' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-origin'><label for='origin'>Origin</label></th><td class='ivar od ivar-origin'><input value='{{variables.origin|default}}' class='form-control ivar ivar-origin' id='origin' name='origin' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-silver'><label for='silver'>Silver</label></th><td class='ivar ev ivar-silver'><input value='{{variables.silver|default}}' class='form-control ivar ivar-silver' id='silver' name='silver' type='number' /></td></tr>
                        <tr><th class='ilbl od ilbl-gold'><label for='gold'>Gold</label></th><td class='ivar od ivar-gold'><input value='{{variables.gold|default}}' class='form-control ivar ivar-gold' id='gold' name='gold' type='number' /></td></tr>
                        <tr><th class='ilbl ev ilbl-xp'><label for='xp'>Xp</label></th><td class='ivar ev ivar-xp'><input value='{{variables.xp|default}}' class='form-control ivar ivar-xp' id='xp' name='xp' type='number' /></td></tr>
                        <tr><th class='ilbl od ilbl-level'><label for='level'>Level</label></th><td class='ivar od ivar-level'><input value='{{variables.level|default}}' class='form-control ivar ivar-level' id='level' name='level' type='number' /></td></tr>
                        <tr><th class='ilbl ev ilbl-languages'><label for='languages'>Languages</label></th><td class='ivar ev ivar-languages'><div class='iContent'><textarea class='form-control ivar ivar-languages' id='languages' name='languages' rows='3' >{{variables.languages|default}}</textarea></div></td></tr>
                        <tr><th class='ilbl od ilbl-deities'><label for='deities'>Deities</label></th><td class='ivar od ivar-deities'><div class='iContent'><textarea class='form-control ivar ivar-deities' id='deities' name='deities' rows='3' >{{variables.deities|default}}</textarea></div></td></tr>
                        <tr><th class='ilbl od ilbl-portrait'><label for='portrait'></label></th><td class='ivar od ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait' id='portrait' name='portrait' type='number' /></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='strength'>Strength</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-strength'><input value='{{variables.strength|default}}' class='form-control ivar ivar-strength c' id='strength' name='strength' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='dexterity'>Dexterity</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-dexterity'><input value='{{variables.dexterity|default}}' class='form-control ivar ivar-dexterity c' id='dexterity' name='dexterity' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='toughness'>Toughness</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-toughness'><input value='{{variables.toughness|default}}' class='form-control ivar ivar-toughness c' id='toughness' name='toughness' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='reflex'>Reflex</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-reflex'><input value='{{variables.reflex|default}}' class='form-control ivar ivar-reflex c' id='reflex' name='reflex' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='stealth'>Stealth</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-stealth'><input value='{{variables.stealth|default}}' class='form-control ivar ivar-stealth c' id='stealth' name='stealth' type='text' /></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='intellect'>Intellect</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-intellect'><input value='{{variables.intellect|default}}' class='form-control ivar ivar-intellect c' id='intellect' name='intellect' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='wisdom'>Wisdom</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-wisdom'><input value='{{variables.wisdom|default}}' class='form-control ivar ivar-wisdom c' id='wisdom' name='wisdom' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='lore'>Lore</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-lore'><input value='{{variables.lore|default}}' class='form-control ivar ivar-lore c' id='lore' name='lore' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='awareness'>Awareness</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-awareness'><input value='{{variables.awareness|default}}' class='form-control ivar ivar-awareness c' id='awareness' name='awareness' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='focus'>Focus</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-focus'><input value='{{variables.focus|default}}' class='form-control ivar ivar-focus c' id='focus' name='focus' type='text' /></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='heart'>Heart</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-heart'><input value='{{variables.heart|default}}' class='form-control ivar ivar-heart c' id='heart' name='heart' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='mystique'>Mystique</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-mystique'><input value='{{variables.mystique|default}}' class='form-control ivar ivar-mystique c' id='mystique' name='mystique' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='courage'>Courage</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-courage'><input value='{{variables.courage|default}}' class='form-control ivar ivar-courage c' id='courage' name='courage' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='insight'>Insight</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-insight'><input value='{{variables.insight|default}}' class='form-control ivar ivar-insight c' id='insight' name='insight' type='text' /></div></div>
                        </div>
                    </div>
                    <div class="card attribute" id="card-attribute">
                        <div class="card-header attribute"><label for='willpower'>Willpower</label></div>
                        <div class="card-body">
                            <div class='cBox'><div class='ivar od ivar-willpower'><input value='{{variables.willpower|default}}' class='form-control ivar ivar-willpower c' id='willpower' name='willpower' type='text' /></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card combat" id="card-combat">
                <div class="card-header combat">Combat</div>
                <div class="card-body">
                    <table class='table'>
                        <th class='ilbl od ilbl-doom-points'><label for='doom-points'>Doom Points</label></th><td class='ivar od ivar-doom-points'><input value='{{variables.doom_points|default}}' class='form-control ivar ivar-doom-points' id='doom_points' name='doom_points' type='text' /></td>
                        <th class='ilbl ev ilbl-blood-points'><label for='blood-points'>Blood Points</label></th><td class='ivar ev ivar-blood-points'><input value='{{variables.blood_points|default}}' class='form-control ivar ivar-blood-points' id='blood_points' name='blood_points' type='text' /></td>
                    </table>
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-conditions'><label for='conditions'>Conditions</label></th><td class='ivar od ivar-conditions'><input value='{{variables.conditions|default}}' class='form-control ivar ivar-conditions' id='conditions' name='conditions' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-afflictions'><label for='afflictions'>Afflictions</label></th><td class='ivar ev ivar-afflictions'><input value='{{variables.afflictions|default}}' class='form-control ivar ivar-afflictions' id='afflictions' name='afflictions' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-armor'><label for='armor'>Armor</label></th><td class='ivar od ivar-armor'><input value='{{variables.armor|default}}' class='form-control ivar ivar-armor' id='armor' name='armor' type='text' placeholder='eg Hide Armor (light)' /></td></tr>
                        <tr><th class='ilbl ev ilbl-armor-durability'><label for='armor-durability'>Armor Durability</label></th><td class='ivar ev ivar-armor-durability'><input value='{{variables.armor_durability|default}}' class='form-control ivar ivar-armor-durability' id='armor_durability' name='armor_durability' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-armor-dented'><label for='armor-dented'>Armor Dented</label></th><td class='ivar od ivar-armor-dented'><input value='{{variables.armor_dented|default}}' class='form-control ivar ivar-armor-dented' id='armor_dented' name='armor_dented' type='text'  /></td></tr>
                        <tr><th class='ilbl od ilbl-armor-load'><label for='armor-load'>Load</label></th><td class='ivar od ivar-armor-load'><input value='{{variables.armor_load|default}}' class='form-control ivar ivar-armor-load' id='armor_load' name='armor_load' type='text' placeholder='eg 1' /></td></tr>
                    </table>
                    <table class='table'>
                        <th class='ilbl od ilbl-armor-s-value' title='Slashing'><label for='armor-s-value'>S</label></th><td class='ivar od ivar-armor-s-value'><input value='{{variables.armor_s_value|default}}' class='form-control ivar ivar-armor-s-value' id='armor_s_value' name='armor_s_value' type='text' /></td>
                        <th class='ilbl ev ilbl-armor-c-value' title='Cleaving'><label for='armor-c-value'>C</label></th><td class='ivar ev ivar-armor-c-value'><input value='{{variables.armor_c_value|default}}' class='form-control ivar ivar-armor-c-value' id='armor_c_value' name='armor_c_value' type='text' /></td>
                        <th class='ilbl od ilbl-armor-p-value' title='Piercing'><label for='armor-p-value'>P</label></th><td class='ivar od ivar-armor-p-value'><input value='{{variables.armor_p_value|default}}' class='form-control ivar ivar-armor-p-value' id='armor_p_value' name='armor_p_value' type='text' /></td>
                        <th class='ilbl ev ilbl-armor-b-value' title='Bludgeoning'><label for='armor-b-value'>B</label></th><td class='ivar ev ivar-armor-b-value'><input value='{{variables.armor_b_value|default}}' class='form-control ivar ivar-armor-b-value' id='armor_b_value' name='armor_b_value' type='text' /></td>
                        <th class='ilbl od ilbl-armor-e-value' title='Elemental'><label for='armor-e-value'>E</label></th><td class='ivar od ivar-armor-e-value'><input value='{{variables.armor_e_value|default}}' class='form-control ivar ivar-armor-e-value' id='armor_e_value' name='armor_e_value' type='text' /></td>
                    </table>
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-resilience'><label for='resilience'>Resilience</label></th><td class='ivar od ivar-resilience'><input value='{{variables.resilience|default}}' class='form-control ivar ivar-resilience' id='resilience' name='resilience' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-bruises'><label for='bruises'>Bruises</label></th><td class='ivar od ivar-bruises'><input value='{{variables.bruises|default}}' class='form-control ivar ivar-bruises' id='bruises' name='bruises' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-wounds'><label for='wounds'>Wounds</label></th><td class='ivar ev ivar-wounds'><input value='{{variables.wounds|default}}' class='form-control ivar ivar-wounds' id='wounds' name='wounds' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-madness'><label for='madness'>Madness</label></th><td class='ivar od ivar-madness'><input value='{{variables.madness|default}}' class='form-control ivar ivar-madness' id='madness' name='madness' type='text' /></td></tr>
                    </table>
                    <table class='table'>
                        <th class='ilbl od ilbl-charges-a'><label for='charges-a'>Charges A</label></th><td class='ivar od ivar-charges-a'><input value='{{variables.charges_a|default}}' class='form-control ivar ivar-charges-a' id='charges_a' name='charges_a' type='text' /></td>
                        <th class='ilbl ev ilbl-charges-b'><label for='charges-b'>Charges B</label></th><td class='ivar ev ivar-charges-b'><input value='{{variables.charges_b|default}}' class='form-control ivar ivar-charges-b' id='charges_b' name='charges_b' type='text' /></td>
                        <th class='ilbl od ilbl-charges-c'><label for='charges-c'>Charges C</label></th><td class='ivar od ivar-charges-c'><input value='{{variables.charges_c|default}}' class='form-control ivar ivar-charges-c' id='charges_c' name='charges_c' type='text' /></td>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card traits" id="card-traits">
                <div class="card-header traits">Traits</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-trait-name'><label for='trait-name'>Name</label></th>
                            <th class='ilbl od ilbl-trait-level' width='15%'><label for='trait-level'>Rank</label></th>
                        </tr>
                        {% for i in 1..15 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='ivar {{eo}} ivar-trait-name'><input value='{{attribute(variables, 'trait_name_' ~ id)|default}}' class='form-control ivar ivar-trait-name' id='trait_name' name='trait_name_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-trait-level'><input value='{{attribute(variables, 'trait_level_' ~ id)|default}}' class='form-control ivar ivar-trait-level' id='trait_level' name='trait_level_{{id}}' type='text' /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card magic" id="card-magic">
                <div class="card-header magic">Magic</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-magic-name'><label for='magic-name'>Name</label></th>
                            <th class='ilbl od ilbl-magic-level' width='15%'><label for='magic-level'>Rank</label></th>
                            <th class='ilbl od ilbl-magic-bp' width='15%'><label for='magic-bp' title='Blood Point Cost'>BP</label></th>
                        </tr>
                        {% for i in 1..15 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='ivar {{eo}} ivar-magic-name'><input value='{{attribute(variables, 'magic_name_' ~ id)|default}}' class='form-control ivar ivar-magic-name' id='magic_name' name='magic_name_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-magic-level'><input value='{{attribute(variables, 'magic_level_' ~ id)|default}}' class='form-control ivar ivar-magic-level' id='magic_level' name='magic_level_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-magic-bp'><input value='{{attribute(variables, 'magic_bp_' ~ id)|default}}' class='form-control ivar ivar-magic-bp' id='magic_bp' name='magic_bp_{{id}}' type='text' /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card feats" id="card-feats">
                <div class="card-header feats">Feats &amp; Cantrips</div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-feat'><div class='iContent'><textarea class='form-control ivar ivar-feat' id='feat' name='feat' rows='3' >{{variables.feat|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card combat skills" id="card-combat skills">
                <div class="card-header combat skills">Combat Skills</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-cskill-name'><label for='cskill-name'>Name</label></th>
                            <th class='ilbl od ilbl-cskill-level' width='15%'><label for='cskill-level'>Rank</label></th>
                        </tr>
                        {% for i in 1..15 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            {% set skill = attribute(variables, 'cskill_name_' ~ id)|default %}
                            {% if skill == "" %}{% set skill = cskills[i-1]|default %}{% endif %}
                        <tr>
                            <td class='ivar {{eo}} ivar-cskill-name'><input value='{{skill}}' class='form-control ivar ivar-cskill-name' id='cskill_name' name='cskill_name_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-cskill-level'><input value='{{attribute(variables, 'cskill_level_' ~ id)|default}}' class='form-control ivar ivar-cskill-level' id='cskill_level' name='cskill_level_{{id}}' type='text' /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card adventuring skills" id="card-adventuring skills">
                <div class="card-header adventuring skills">Adventuring Skills</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-askill-name'><label for='askill-name'>Name</label></th>
                            <th class='ilbl od ilbl-askill-level' width='15%'><label for='askill-level'>Rank</label></th>
                        </tr>
                        {% for i in 1..15 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='ivar {{eo}} ivar-askill-name'><input value='{{attribute(variables, 'askill_name_' ~ id)|default}}' class='form-control ivar ivar-askill-name' id='askill_name' name='askill_name_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-askill-level'><input value='{{attribute(variables, 'askill_level_' ~ id)|default}}' class='form-control ivar ivar-askill-level' id='askill_level' name='askill_level_{{id}}' type='text' /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card equipment" id="card-equipment">
                <div class="card-header equipment">Equipment</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-equip-name'><label for='equip-name'>Name</label></th>
                            <th class='ilbl od ilbl-equip-load'><label for='equip-load'>Load</label></th>
                            <th class='ilbl od ilbl-equip-dented'><label for='equip-dented'>Dented</label></th>
                        </tr>
                        {% for i in 1..15 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='ivar {{eo}} ivar-equip-name'><input value='{{attribute(variables, 'equip_name_' ~ id)|default}}' class='form-control ivar ivar-equip-name' id='equip_name' name='equip_name_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-equip-load' width='10%'><input value='{{attribute(variables, 'equip_load_' ~ id)|default}}' class='form-control ivar ivar-equip-load' id='equip_load' name='equip_load_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-equip-dented c' width='10%'><input value='0' id='equip_dented' name='equip_dented_{{id}}' type='hidden' /><input value='1' {% if attribute(variables, 'equip_dented_' ~ id)|default > 0 %} checked='checked'{% endif %} id='equip_dented' name='equip_dented_{{id}}' type='checkbox' /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card consumables" id="card-consumables">
                <div class="card-header consumables">Consumables</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='ilbl od ilbl-consum-name'><label for='consum-name'>Name</label></th>
                            <th class='ilbl od ilbl-consum-load' width='10%'><label for='consum-load'>Load</label></th>
                            <th class='ilbl od ilbl-consum-curr' width='10%'><label for='consum-curr'>Curr</label></th>
                            <th class='ilbl od ilbl-consum-max' width='10%'><label for='consum-max'>Max</label></th>
                        </tr>
                        {% for i in 1..15 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                        <tr>
                            <td class='ivar {{eo}} ivar-consum-name'><input value='{{attribute(variables, 'consum_name_' ~ id)|default}}' class='form-control ivar ivar-consum-name' id='consum_name' name='consum_name_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-consum-load'><input value='{{attribute(variables, 'consum_load_' ~ id)|default}}' class='form-control ivar ivar-consum-load' id='consum_load' name='consum_load_{{id}}' type='text'  /></td>
                            <td class='ivar {{eo}} ivar-consum-curr'><input value='{{attribute(variables, 'consum_curr_' ~ id)|default}}' class='form-control ivar ivar-consum-curr' id='consum_curr' name='consum_curr_{{id}}' type='text' /></td>
                            <td class='ivar {{eo}} ivar-consum-max'><input value='{{attribute(variables, 'consum_max_' ~ id)|default}}' class='form-control ivar ivar-consum-max' id='consum_max' name='consum_max_{{id}}' type='text' /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card personality" id="card-personality">
                <div class="card-header personality"><label for='personality'>Personality</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-personality'><div class='iContent'><textarea class='form-control ivar ivar-personality' id='personality' name='personality' rows='3' >{{variables.personality|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card ideals" id="card-ideals">
                <div class="card-header ideals"><label for='ideals'>Ideals</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-ideals'><div class='iContent'><textarea class='form-control ivar ivar-ideals' id='ideals' name='ideals' rows='3' >{{variables.ideals|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card party vow" id="card-party vow">
                <div class="card-header party vow"><label for='party_vow'>Party Vow</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-party-vow'><div class='iContent'><textarea class='form-control ivar ivar-party-vow' id='party_vow' name='party_vow' rows='3' >{{variables.party_vow|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card habits" id="card-habits">
                <div class="card-header habits"><label for='habits'>Habits</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-habits'><div class='iContent'><textarea class='form-control ivar ivar-habits' id='habits' name='habits' rows='3' >{{variables.habits|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card people" id="card-people">
                <div class="card-header people"><label for='people'>Significant People</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-people'><div class='iContent'><textarea class='form-control ivar ivar-people' id='people' name='people' rows='3' >{{variables.people|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card possession" id="card-possession">
                <div class="card-header possession"><label for='passession'>Cherished Possession</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-possession'><div class='iContent'><textarea class='form-control ivar ivar-possession' id='possession' name='possession' rows='3' >{{variables.possession|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card treasure" id="card-treasure">
                <div class="card-header treasure"><label for='treasure'>Treasure &amp; Trinkets</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-treasure'><div class='iContent'><textarea class='form-control ivar ivar-treasure' id='treasure' name='treasure' rows='3' >{{variables.treasure|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card appearance" id="card-appearance">
                <div class="card-header appearance"><label for=''>Appearance</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-appearance'><div class='iContent'><textarea class='form-control ivar ivar-appearance' id='appearance' name='appearance' rows='3' >{{variables.appearance|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card property" id="card-property">
                <div class="card-header property"><label for='property'>Property &amp; Hirelings</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-property'><div class='iContent'><textarea class='form-control ivar ivar-property' id='property' name='property' rows='3' >{{variables.property|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card notes" id="card-notes">
                <div class="card-header notes"><label for='notes'>Notes</label></div>
                <div class="card-body">
                    <div class='cBox'><div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3' >{{variables.notes|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>