{% if variables.custom_descriptor|default != '' %}
    {% set td = variables.custom_descriptor %}
{% else %}
    {% set td = variables.descriptor %}
{% endif %}
{% if variables.custom_type|default != '' %}
    {% set tt = variables.custom_type %}
{% else %}
    {% set tt = variables.type %}
{% endif %}
{% if variables.custom_focus|default != '' %}
    {% set tf = variables.custom_focus %}
{% else %}
    {% set tf = variables.focus %}
{% endif %}
<div class="container-fluid cypher-sheet cypher-character-badge text-center">
    <div class="row">
        <div class="col-12">
            {{variables.name|default}} is a <span title="descriptor"><b>{{td}}</b></span> <span title="type"><b>{{tt}}</b></span> who <span title="focus"><b>{{tf}}</b></span> of
            Tier {% if variables.tier|default != "" %}{{variables.tier}}{% else %}1{% endif %} and {% if variables.xp|default != "" %}{{variables.xp}}{% else %}0{% endif %} XP.
        </div>
    </div>
</div>