{% if variables.custom_descriptor is defined and variables.custom_descriptor != '' %}
    {% set td = variables.custom_descriptor %}
{% else %}
    {% set td = variables.descriptor %}
{% endif %}
{% if variables.custom_type is defined and variables.custom_type != '' %}
    {% set tt = variables.custom_type %}
{% else %}
    {% set tt = variables.type %}
{% endif %}
{% if variables.custom_focus is defined and variables.custom_focus != '' %}
    {% set tf = variables.custom_focus %}
{% else %}
    {% set tf = variables.focus %}
{% endif %}
<div class="cypher-character-badge text-center">
{{variables.name}} is a <span title="descriptor"><b>{{td}}</b></span> <span title="type"><b>{{tt}}</b></span> who <span title="focus"><b>{{tf}}</b></span> of
Tier {% if variables.tier is defined %}{{variables.tier}}{% else %}1{% endif %} and {% if variables.xp is defined and variables.xp != "" %}{{variables.xp}}{% else %}0{% endif %} XP.
</div>