<!-- made by Tillerz#3807 v2.04 -->
{% macro generateSkillEntry(mylabel, myvalue) %}
    {% if mylabel is defined and mylabel != '' %}
            {% set trcol = 'badge-light' %} {% set tt = 'UNTRAINED - skill not learned' %} {% set mv = 'U' %}
            {% if myvalue == 'inability' %}
                {% set trcol = 'badge-danger' %}
                {% set tt = 'INABILITY - difficulty raised by 1 step' %}
                {% set mv = 'I' %}
            {% endif %}
            {% if myvalue == 'trained' %}
                {% set trcol = 'badge-primary' %}
                {% set tt = 'TRAINED - difficulty lowered by 1 step' %}
                {% set mv = 'T' %}
            {% endif %}
            {% if myvalue == 'specialized' %}
                {% set trcol = 'badge-success' %}
                {% set tt = 'SPECIALIZED - difficulty lowered by 2 steps' %}
                {% set mv = 'S' %}
            {% endif %}
            <li class="list-group-item" title="{{tt}}">{{mylabel}}/{{mv}}
                {% if mv != 'U' %}
                    <span class="badge {{trcol}} badge-pill float-right">
                    {% if mv == 'I' %}<i class="far fa-exclamation-circle"></i>{% endif %}
                    {% if mv == 'T' %}<i class="far fa-star"></i>{% endif %}
                    {% if mv == 'S' %}<i class="far fa-star"></i><i class="far fa-star"></i>{% endif %}
                    </span>
                {% endif %}
            </li>
    {% endif %}
{% endmacro generateSkillEntry %}
{% macro generateCypherEntry(myname, mylevel, myused, mydesc) %}
    {% if myname is defined and myname != '' %}
    <li class="list-group-item">
    {% if myused is defined and myused == 1 %}
        {% set used = 'fas' %}
        {% set bc = 'badge-danger' %}
        {% else %}
        {% set used = 'far' %}
        {% set bc = 'badge-primary' %}
        {% endif %}<i class="{{used}} fa-square" title="Checked if already used."></i> <b title="Name of the Cypher">{{myname}}</b>
    <span class="badge {{bc}} badge-pill float-right" title="Level of the Cypher">{{mylevel}}</span>
    {% if mydesc is defined and mydesc != '' %}<br><span class="padding-left">{{mydesc}}</span>{% endif %}
    </li>
    {% endif %}
{% endmacro generateCypherEntry %}
{% macro generateSAbilityEntry(myid, myname, mytype, mycost, mypool, mydesc) %}
{% if myname is defined and myname != '' %}<tr><th scope="row" title="Name of the Ability">
    {% set ta = '' %}
    {% if mytype == 'other' %}{% set ta = 'Other' %}{% endif %}
    {% if mytype == 'action' %}{% set ta = 'Action' %}{% endif %}
    {% if mytype == 'enabler' %}{% set ta = 'Enabler' %}{% endif %}
    {{ myname is defined ? myname }}</th>
    <td title="Type: {{ta}}">{{ta}}</td><td title="Cost: {{mycost}}">{{mycost}}
    {% set tt = '' %}{% set tx = '' %}
    {% if mypool == 'none' %}{% set tt = 'fa-times-circle' %}{% set tx = 'None' %}{% endif %}
    {% if mypool == 'might' %}{% set tt = 'fa-hand-rock' %}{% set tx = 'Might' %}{% endif %}
    {% if mypool == 'speed' %}{% set tt = 'fa-paper-plane' %}{% set tx = 'Speed' %}{% endif %}
    {% if mypool == 'intellect' %}{% set tt = 'fa-lightbulb' %}{% set tx = 'Intellect' %}{% endif %}
    </td>
    <td title="Stat pool: {{tx}}"><i class="far {{tt}}"></i></td>
    {% if mydesc is defined and mydesc != '' %}</tr><tr><td colspan="4" title="Ability description">{{mydesc}}</td>{% endif %}
</tr>{% endif %}{% endmacro generateSAbilityEntry %}
<div class="container-fluid cypher-sheet">
    <div class="row"> <!-- row 1: descriptor | tier | logo -->
        <div class="col-md-4 col-lg-4 d-none d-lg-block px-4 logo text-right" title="Cypher System Logo"> <!-- left: cypher logo --></div>
        <div class="col-12 col-md-4 col-lg-4 text-center"> <!-- center: character description -->
            {% if variables.custom_descriptor is defined and variables.custom_descriptor != '' %}
                {% set td = variables.custom_descriptor %}
            {% else %}
                {% set td = variables.descriptor %}
            {% endif %}
            {% if variables.custom_type is defined and variables.custom_type != '' %}
                {% set tt = variables.custom_type %}
            {% else %}
                {% set tt = variables.type %}
            {% endif %}
            {% if variables.custom_focus is defined and variables.custom_focus != '' %}
                {% set tf = variables.custom_focus %}
            {% else %}
                {% set tf = variables.focus %}
            {% endif %}
            {{variables.name}} is a <span title="descriptor"><b>{{td}}</b></span> <span title="type"><b>{{tt}}</b></span> who <span title="focus"><b>{{tf}}</b></span>.<br><br>
            {% if variables.flavour_group_of_special_abilities is defined %}
            <span title="Type, Flavour, or other">{{ variables.flavour_group_of_special_abilities}}</span>
            {% endif %}
        </div>
        <div class="col-12 col-md-4 col-lg-4"> <!-- right: tier, effort, xp -->
            <div class="card border rounded text-center m-1">
                {% if variables.tier is defined %} {% set tt = variables.tier %} {% else %} {% set tt = 1 %} {% endif %}
                <div class="card bg-simple border rounded text-center m-1">
                    <div class="card-body">
                        <span class="h5 card-title" title="Tier: Every character starts the game at the first tier. Tier is a measurement of power, toughness, and ability. Characters can advance up to the sixth tier.">Tier</span>
                        <p class="h4 card-text" title="Tier {{tt}}">{{tt}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="row card border rounded bg-simple text-center m-1">
                            <div class="col-12 col-md-12">
                                <div class="card-body">
                                    {% if variables.effort is defined and variables.effort != "" %}  {% set tt = variables.effort %}  {% else %} {% set tt = 0 %} {% endif %}
                                    <span class="h5 card-title" title="Effort: Indicates the maximum number of levels of Effort that can be applied to a roll.">Effort</span>
                                    <p class="h4 card-text" title="{{tt}} Effort">{{tt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="row card border rounded bg-simple text-center m-1">
                            <div class="col-12 col-md-12">
                                <div class="card-body">
                                    {% if variables.xp is defined and variables.xp != "" %} {% set tt = variables.xp %}  {% else %} {% set tt = 0 %} {% endif %}
                                    <span class="h5 card-title" title="XP: You do not earn XP for killing foes or overcoming standard challenges in the course of play. Discovery is the soul of the Cypher System.">EXP</span>
                                    <p class="h4 card-text" title="{{tt}} XP">{{tt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- close row 1 -->
    <div class="row"> <!-- row 2: might | speed | intellect + skill blocks -->
        <div class="col-12 col-md-4 col-lg-4"> <!-- might + skills -->
            <div class="card border rounded text-center m-1">
                <div class="row"> <!-- might box -->
                    <div class="col">
                        <div class="card border rounded bg-simple text-center m-1">
                            <div class="card-body">
                                {% if variables.might is defined %} {% set tt = variables.might %} {% else %} {% set tt = 0 %} {% endif %}
                                <span class="h5 card-title" title="Might defines how strong and durable your character is."><i class="far fa-hand-rock"></i> Might</span>
                                <p class="h4 card-text" title="Might: {{tt}}">{{tt}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="row card bg-simple text-center m-1">
                                    <div class="col-12 col-md-12">
                                        <div class="card-body">
                                            {% if variables.might_pool is defined %} {% set tt = variables.might_pool %} {% else %} {% set tt = 0 %} {% endif %}
                                            <span class="h5 card-title" title="Might Pool: Comparing the Pools of two creatures will give you a general sense of which creature is superior in that stat.">Pool</span>
                                            <p class="h4 card-text" title="Might Pool: {{tt}}">{{tt}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="row card bg-simple text-center m-1">
                                    <div class="col-12 col-md-12">
                                        <div class="card-body">
                                            {% if variables.might_edge is defined %} {% set tt = variables.might_edge %} {% else %} {% set tt = 0 %} {% endif %}
                                            <span class="h5 card-title" title="Might Edge: When something requires you to spend points from a stat Pool, your Edge for that stat reduces the cost. It also reduces the cost of applying Effort to a roll.">Edge</span>
                                            <p class="h4 card-text" title="Might Edge: {{tt}}">{{tt}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 text-center">
                        <button class="row btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMight" aria-expanded="true" aria-controls="collapseMight">
                        Might Skills <i class="fas fa-angle-down"></i>
                        </button>
                    </div>
                </div>
                <div class="row"> <!-- might skills -->
                    <div id="collapseMight" class="collapse show" aria-labelledby="headingMight">
                        <ul class="list-group">
                            {{ _self.generateSkillEntry(variables.might_skill_label_01, variables.might_skill_level_01) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_02, variables.might_skill_level_02) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_03, variables.might_skill_level_03) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_04, variables.might_skill_level_04) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_05, variables.might_skill_level_05) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_06, variables.might_skill_level_06) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_07, variables.might_skill_level_07) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_08, variables.might_skill_level_08) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_09, variables.might_skill_level_09) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_10, variables.might_skill_level_10) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_11, variables.might_skill_level_11) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_12, variables.might_skill_level_12) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_13, variables.might_skill_level_13) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_14, variables.might_skill_level_14) }}
                            {{ _self.generateSkillEntry(variables.might_skill_label_15, variables.might_skill_level_15) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4"> <!-- speed + skills -->
            <div class="card border rounded text-center m-1">
                <div class="row"> <!-- speed box -->
                    <div class="col">
                        <div class="card border rounded bg-simple text-center m-1">
                            <div class="card-body">
                                {% if variables.speed is defined %} {% set tt = variables.speed %} {% else %} {% set tt = 0 %} {% endif %}
                                <span class="h5 card-title" title="Speed describes how fast and physically coordinated your character is."><i class="far fa-paper-plane"></i> Speed</span>
                                <p class="h4 card-text" title="Speed: {{tt}}">{{tt}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="row card bg-simple text-center m-1">
                                    <div class="col-12 col-md-12">
                                        <div class="card-body">
                                            {% if variables.speed_pool is defined %} {% set tt = variables.speed_pool %} {% else %} {% set tt = 0 %} {% endif %}
                                            <span class="h5 card-title" title="Speed Pool: Comparing the Pools of two creatures will give you a general sense of which creature is superior in that stat.">Pool</span>
                                            <p class="h4 card-text" title="Speed Pool: {{tt}}">{{tt}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="row card bg-simple text-center m-1">
                                    <div class="col-12 col-md-12">
                                        <div class="card-body">
                                            {% if variables.speed_edge is defined %} {% set tt = variables.speed_edge %} {% else %} {% set tt = 0 %} {% endif %}
                                            <span class="h5 card-title" title="Speed Edge: When something requires you to spend points from a stat Pool, your Edge for that stat reduces the cost. It also reduces the cost of applying Effort to a roll.">Edge</span>
                                            <p class="h4 card-text" title="Speed Edge: {{tt}}">{{tt}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 text-center">
                        <button class="row btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSpeed" aria-expanded="true" aria-controls="collapseSpeed">
                            Speed Skills <i class="fas fa-angle-down"></i>
                        </button>
                    </div>
                </div>
                <div class="row"> <!-- speed skills -->
                    <div id="collapseSpeed" class="collapse show" aria-labelledby="headingSpeed">
                        <ul class="list-group">
                            {{ _self.generateSkillEntry(variables.speed_skill_label_01, variables.speed_skill_level_01) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_02, variables.speed_skill_level_02) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_03, variables.speed_skill_level_03) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_04, variables.speed_skill_level_04) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_05, variables.speed_skill_level_05) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_06, variables.speed_skill_level_06) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_07, variables.speed_skill_level_07) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_08, variables.speed_skill_level_08) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_09, variables.speed_skill_level_09) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_10, variables.speed_skill_level_10) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_11, variables.speed_skill_level_11) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_12, variables.speed_skill_level_12) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_13, variables.speed_skill_level_13) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_14, variables.speed_skill_level_14) }}
                            {{ _self.generateSkillEntry(variables.speed_skill_label_15, variables.speed_skill_level_15) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4"> <!-- intellect + skills -->
            <div class="card border rounded text-center m-1">
                <div class="row"> <!-- intellect box -->
                    <div class="col">
                        <div class="card border rounded bg-simple text-center m-1">
                            <div class="card-body">
                            {% if variables.intellect is defined %} {% set tt = variables.intellect %} {% else %} {% set tt = 0 %} {% endif %}
                            <span class="h5 card-title" title="Intellect determines how smart, knowledgeable, and likable your character is."><i class="far fa-lightbulb"></i> Intellect</span>
                            <p class="h4 card-text" title="Intellect: {{tt}}">{{tt}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="row card bg-simple text-center m-1">
                                    <div class="col-12 col-md-12">
                                        <div class="card-body">
                                        {% if variables.intellect_pool is defined %} {% set tt = variables.intellect_pool %} {% else %} {% set tt = 0 %} {% endif %}
                                        <span class="h5 card-title" title="Intellect Pool: Comparing the Pools of two creatures will give you a general sense of which creature is superior in that stat.">Pool</span>
                                        <p class="h4 card-text" title="Intellect Pool: {{tt}}">{{tt}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="row card bg-simple text-center m-1">
                                    <div class="col-12 col-md-12">
                                        <div class="card-body">
                                        {% if variables.intellect_edge is defined %} {% set tt = variables.intellect_edge %} {% else %} {% set tt = 0 %} {% endif %}
                                        <spam class="h5 card-title" title="Intellect Edge: When something requires you to spend points from a stat Pool, your Edge for that stat reduces the cost. It also reduces the cost of applying Effort to a roll.">Edge</spam>
                                        <p class="h4 card-text" title="Intellect Edge: {{tt}}">{{tt}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 text-center">
                        <button class="row btn btn-link collapsed" data-toggle="collapse" data-target="#collapseIntellect" aria-expanded="true" aria-controls="collapseIntellect">
                            Intellect Skills <i class="fas fa-angle-down"></i>
                        </button>
                    </div>
                </div>
                <div class="row"> <!-- speed skills -->
                    <div id="collapseIntellect" class="collapse show" aria-labelledby="headingIntellect">
                        <ul class="list-group">
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_01, variables.intellect_skill_level_01) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_02, variables.intellect_skill_level_02) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_03, variables.intellect_skill_level_03) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_04, variables.intellect_skill_level_04) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_05, variables.intellect_skill_level_05) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_06, variables.intellect_skill_level_06) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_07, variables.intellect_skill_level_07) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_08, variables.intellect_skill_level_08) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_09, variables.intellect_skill_level_09) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_10, variables.intellect_skill_level_10) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_11, variables.intellect_skill_level_11) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_12, variables.intellect_skill_level_12) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_13, variables.intellect_skill_level_13) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_14, variables.intellect_skill_level_14) }}
                            {{ _self.generateSkillEntry(variables.intellect_skill_label_15, variables.intellect_skill_level_15) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- close row 2 -->
    <div class="row"> <!-- row 3: advancement | recover | damage -->
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card border my-2"> <!-- advancement -->
                <div class="card-header bg-simple header text-center">Advancement</div>
                <div class="card-body text-center col-12 col-md-12">
                    <ul class=" list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                          title="You gain 4 new points to add to your stat Pools. You can allocate the points among your Pools however you wish.">Increase Capabilities
                          {% if variables.increased_capabilities is defined and variables.increased_capabilities == 1 %}
                          <span class="badge badge-primary badge-pill"><i class="fas fa-check"></i></span>{% endif %}
                        </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center"
                          title="You add 1 to your Might Edge, your Speed Edge, or your Intellect Edge (your choice).">Moving Towards Perfection
                          {% if variables.move_towards_perfection is defined and variables.move_towards_perfection == 1 %}
                          <span class="badge badge-primary badge-pill"><i class="fas fa-check"></i></span>{% endif %}
                        </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center"
                          title="Your Effort Score increases by 1.">Extra Effort
                          {% if variables.extra_effort is defined and variables.extra_effort == 1 %}
                          <span class="badge badge-primary badge-pill"><i class="fas fa-check"></i></span>{% endif %}
                        </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center"
                          title="You become trained in one skill of your choice, other than attacks or defense. If you choose a skill that you are already trained in, you become specialized in that skill.">Skill Training
                          {% if variables.skill_training is defined and variables.skill_training == 1 %}
                          <span class="badge badge-primary badge-pill"><i class="fas fa-check"></i></span>{% endif %}
                        </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center"
                          title="Talk to your GM about other kinds of advancement. These will count towards advancing your tier. For example, adding 2 to your Recovery Rolls.">Other Advancement
                          {% if variables.other_advancement is defined and variables.other_advancement == 1 %}
                          <span class="badge badge-primary badge-pill"><i class="fas fa-check"></i></span>{% endif %}
                        </li>
                    </ul>
               </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 border"> <!-- recovery -->
                <div class="card-header bg-simple text-center" title="You have four recovery rolls per day. Roll 1d6 + your Tier + bonus">
                    <span class="header">Recovery:</span> {% set xx = 1 %}{% if variables.tier is defined %} {% set xx = variables.tier %} {% endif %} <i class="fas fa-dice-d6"></i> 1d6 + {{ xx }} {% if variables.recovery_bonus is defined %} + {{ variables.recovery_bonus }} {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Rest</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Already Taken</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" title="First rest: Your first recovery takes 1 action.">First rest</th>
                                <td>1 Action</td>
                                <td align=center>{% if variables.one_action is defined and variables.one_action == 1 %}<i class="fas fa-square"></i>{% else %}<i class="far fa-square"></i>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" title="Second rest: Your second recovery takes 10 minutes.">Second rest</th>
                                <td>1 Minute</td>
                                <td align=center>{% if variables.ten_minutes is defined and variables.ten_minutes == 1 %}<i class="fas fa-square"></i>{% else %}<i class="far fa-square"></i>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" title="Third rest: Your third recovery takes 1 hour.">Third rest</th>
                                <td>1 Hour</td>
                                <td align=center>{% if variables.one_hour is defined and variables.one_hour == 1 %}<i class="fas fa-square"></i>{% else %}<i class="far fa-square"></i>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" title="Fourth rest: Your fourth recovery takes 10 hours.">Fourth rest</th>
                                <td>10 Hours</td>
                                <td align=center>{% if variables.ten_hours is defined and variables.ten_hours == 1 %}<i class="fas fa-square"></i>{% else %}<i class="far fa-square"></i>{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 border"> <!-- damage tracking -->
                <div class="card-header bg-simple header text-center">Damage Tracking</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <span class="h5 card-title" title="Armour: Subtract your armour from incoming damage"><i class="fas fa-shield-alt"></i> Armour</span>
                            {% if variables.armour is defined and variables.armour > 0 %} {% set tt = variables.armour %} {% else %} {% set tt = 0 %} {% endif %}
                            <p class="h4 card-text" title="Armour {{tt}}">{{tt}}</p>
                            <span class="h5 card-title" title="Armour Speed Cost"> Armour Speed Cost</span>
                            {% if variables.armour_speed_cost is defined and variables.armour_speed_cost > 0 %} {% set tt = variables.armour_speed_cost %} {% else %} {% set tt = 0 %} {% endif %}
                            <p class="h4 card-text" title="Armour Speed Cost {{tt}}">{{tt}}</p>
                        </div>
                        {% if variables.status is defined %}
                        {% set tt = 'Hale is the normal state for a character. All three stat Pools are at 1 or higher, and the PC has no penalties from harmful conditions.' %}
                        {% if variables.status == 'Impaired' %}{% set tt = 'Impaired is a wounded or injured state. Effort costs +1 per level, ignore minor and major effect results on rolls, combat roll of 17-20 deals only +1 damage.' %}{% endif %}
                        {% if variables.status == 'Debilitated' %}{% set tt = 'Debilitated is a critically injured state. Can not take actions other than moving an immediate distance, cannot move if Speed Pool is 0.' %}{% endif %}
                        {% if variables.status == 'Dead' %}{% set tt = 'Dead is dead.' %}{% endif %}
                        {% endif %}
                        <div class="col text-center" title="State: {{tt}}">
                            <span class="h5 card-title"><i class="fas fa-heartbeat"></i> State</span>
                            {% if variables.status is defined %}{% set tt = variables.status %}{% else %}{% set tt = "Hale" %}{% endif %}
                            <p class="h4 card-text">{{tt}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <small>Damage = <span title="weapon classes: light+2, medium+4, heavy+6">weapon damage</span> + <span title="bonus based on rolls: +1 for 17, +2 for 18, +3 and minor effect for 19, +4 and major effect for 20">bonus</span> from roll - armour</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- close row 3 -->
    <div class="row"> <!-- row 4: cyphers and special abilites -->
        <div class="col-12 col-md-6">
            <div class="card my-2"> <!-- special abilities -->
                <div class="card-header bg-simple header text-center">Special Abilites</div>
                <div class="card-body">
                    <table class="table table-striped"><thead><tr><th scope="col">Ability</th><th scope="col">Type</th><th scope="col">Cost</th><th scope="col">Pool</th></tr></thead>
                        <tbody>
                        {{ _self.generateSAbilityEntry("01", variables.special_ability_name_01, variables.special_ability_type_01, variables.special_ability_cost_01, variables.special_ability_pool_01, variables.special_ability_desc_01) }}
                        {{ _self.generateSAbilityEntry("02", variables.special_ability_name_02, variables.special_ability_type_02, variables.special_ability_cost_02, variables.special_ability_pool_02, variables.special_ability_desc_02) }}
                        {{ _self.generateSAbilityEntry("03", variables.special_ability_name_03, variables.special_ability_type_03, variables.special_ability_cost_03, variables.special_ability_pool_03, variables.special_ability_desc_03) }}
                        {{ _self.generateSAbilityEntry("04", variables.special_ability_name_04, variables.special_ability_type_04, variables.special_ability_cost_04, variables.special_ability_pool_04, variables.special_ability_desc_04) }}
                        {{ _self.generateSAbilityEntry("05", variables.special_ability_name_05, variables.special_ability_type_05, variables.special_ability_cost_05, variables.special_ability_pool_05, variables.special_ability_desc_05) }}
                        {{ _self.generateSAbilityEntry("06", variables.special_ability_name_06, variables.special_ability_type_06, variables.special_ability_cost_06, variables.special_ability_pool_06, variables.special_ability_desc_06) }}
                        {{ _self.generateSAbilityEntry("07", variables.special_ability_name_07, variables.special_ability_type_07, variables.special_ability_cost_07, variables.special_ability_pool_07, variables.special_ability_desc_07) }}
                        {{ _self.generateSAbilityEntry("08", variables.special_ability_name_08, variables.special_ability_type_08, variables.special_ability_cost_08, variables.special_ability_pool_08, variables.special_ability_desc_08) }}
                        {{ _self.generateSAbilityEntry("09", variables.special_ability_name_09, variables.special_ability_type_09, variables.special_ability_cost_09, variables.special_ability_pool_09, variables.special_ability_desc_09) }}
                        {{ _self.generateSAbilityEntry("10", variables.special_ability_name_10, variables.special_ability_type_10, variables.special_ability_cost_10, variables.special_ability_pool_10, variables.special_ability_desc_10) }}
                        {{ _self.generateSAbilityEntry("11", variables.special_ability_name_11, variables.special_ability_type_11, variables.special_ability_cost_11, variables.special_ability_pool_11, variables.special_ability_desc_11) }}
                        {{ _self.generateSAbilityEntry("12", variables.special_ability_name_12, variables.special_ability_type_12, variables.special_ability_cost_12, variables.special_ability_pool_12, variables.special_ability_desc_12) }}
                        {{ _self.generateSAbilityEntry("13", variables.special_ability_name_13, variables.special_ability_type_13, variables.special_ability_cost_13, variables.special_ability_pool_13, variables.special_ability_desc_13) }}
                        {{ _self.generateSAbilityEntry("14", variables.special_ability_name_14, variables.special_ability_type_14, variables.special_ability_cost_14, variables.special_ability_pool_14, variables.special_ability_desc_14) }}
                        {{ _self.generateSAbilityEntry("15", variables.special_ability_name_15, variables.special_ability_type_15, variables.special_ability_cost_15, variables.special_ability_pool_15, variables.special_ability_desc_15) }}
                        {{ _self.generateSAbilityEntry("16", variables.special_ability_name_16, variables.special_ability_type_16, variables.special_ability_cost_16, variables.special_ability_pool_16, variables.special_ability_desc_16) }}
                        {{ _self.generateSAbilityEntry("17", variables.special_ability_name_17, variables.special_ability_type_17, variables.special_ability_cost_17, variables.special_ability_pool_17, variables.special_ability_desc_17) }}
                        {{ _self.generateSAbilityEntry("18", variables.special_ability_name_18, variables.special_ability_type_18, variables.special_ability_cost_18, variables.special_ability_pool_18, variables.special_ability_desc_18) }}
                        {{ _self.generateSAbilityEntry("19", variables.special_ability_name_19, variables.special_ability_type_19, variables.special_ability_cost_19, variables.special_ability_pool_19, variables.special_ability_desc_19) }}
                        {{ _self.generateSAbilityEntry("20", variables.special_ability_name_20, variables.special_ability_type_20, variables.special_ability_cost_20, variables.special_ability_pool_20, variables.special_ability_desc_20) }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- close special abilites -->
        <div class="col-12 col-md-6">
            <div class="card my-2"> <!-- cyphers -->
                <div class="card-header bg-simple header text-center">Cyphers (max: {{ variables.cyphers_max_number ?? 1 }})</div>
                <div class="card-body">
                    <ul class="list-group">
                        {{ _self.generateCypherEntry(variables.cypher_name_01, variables.cypher_level_01, variables.cypher_used_01, variables.cypher_desc_01) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_02, variables.cypher_level_02, variables.cypher_used_02, variables.cypher_desc_02) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_03, variables.cypher_level_03, variables.cypher_used_03, variables.cypher_desc_03) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_04, variables.cypher_level_04, variables.cypher_used_04, variables.cypher_desc_04) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_05, variables.cypher_level_05, variables.cypher_used_05, variables.cypher_desc_05) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_06, variables.cypher_level_06, variables.cypher_used_06, variables.cypher_desc_06) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_07, variables.cypher_level_07, variables.cypher_used_07, variables.cypher_desc_07) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_08, variables.cypher_level_08, variables.cypher_used_08, variables.cypher_desc_08) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_09, variables.cypher_level_09, variables.cypher_used_09, variables.cypher_desc_09) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_10, variables.cypher_level_10, variables.cypher_used_10, variables.cypher_desc_10) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_11, variables.cypher_level_11, variables.cypher_used_11, variables.cypher_desc_11) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_12, variables.cypher_level_12, variables.cypher_used_12, variables.cypher_desc_12) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_13, variables.cypher_level_13, variables.cypher_used_13, variables.cypher_desc_13) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_14, variables.cypher_level_14, variables.cypher_used_14, variables.cypher_desc_14) }}
                        {{ _self.generateCypherEntry(variables.cypher_name_15, variables.cypher_level_15, variables.cypher_used_15, variables.cypher_desc_15) }}
                    </ul>
                </div>
            </div>
        </div> <!-- close cyphers -->
    </div> <!-- close row 4 -->
    <div class="row"> <!-- row 5:  attacks | equipment | artifacts -->
        <div class="col-12 col-md-4">
            <div class="card my-2"> <!-- attacks -->
                <div class="card-header bg-simple header text-center">Attacks</div>
                <div class="card-body m-2">
                    {% if variables.attacks is defined %} {{ variables.attacks|nl2br }} {% else %} &nbsp; {% endif %}
                </div>
            </div>
        </div> <!-- close abilities -->
        <div class="col-12 col-md-4">
            <div class="card my-2"> <!-- equipment -->
                <div class="card-header bg-simple header text-center">Equipment</div>
                <div class="card-body m-2">
                    {% if variables.money is defined and variables.money > 0%} {% set tt = variables.money %} {% else %} {% set tt = 0 %} {% endif %}
                    <h3 title="You have {{tt}} money."><i class="fas fa-coins"></i> {{tt}}</h3>
                    {% if variables.equipment is defined %}
                    {{ variables.equipment|nl2br }}
                    {% endif %}
                </div>
            </div>
        </div> <!-- close equipment -->
        <div class="col-12 col-md-4">
            <div class="card my-2"> <!-- artifacts -->
                <div class="card-header bg-simple header text-center">Artifacts</div>
                <div class="card-body m-2">
                    {% if variables.artifacts is defined %}
                    {{ variables.artifacts|nl2br }}
                    {% endif %}
                </div>
            </div>
        </div> <!-- close artifacts -->
    </div> <!-- close row 5 -->
    <div class="row">
        <div class="col-12 text-center"><small>
                ™ &amp; © Monte Cook Games<br><a href="/w/sheet-creation/a/sheet-list">Cypher Sheet v2.1 - 2020-08-17, works with Cypher 1.0 and 2.0, Numenera and The Strange</a>, made by Tillerz#3807
        </small></div>
    </div>    
</div> <!-- close container-sheet -->