<!-- made by Tillerz#3807 v2.03 -->
{% set ostatus = "Hale,Impaired,Debilitated,Dead" %}
<section class="cypher-character-trackable">
    {% if variables.xp is defined and variables.xp != "" %} {% set tt = variables.xp %}  {% else %} {% set tt = 0 %} {% endif %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="card bg-simple text-center m-1">
                    <div class="card-body">
                        <label for="xp" class="control-label"><span class="h5 card-title">EXP</span></label>
                        <span class="myinputfield">
                            <input value="{{tt}}" class="form-control input-small" id="xp" name="xp" type="number" title="Your current experience points."/>
                        </span>
                    </div>
                </div>
                <div class="card bg-simple text-center m-1"> <!-- status -->
                    <div class="card-body">
                        <label for="status" class="control-label"><span class="h5 card-title">Status</span></label>
                        <span class="myinputfield">
                            <select class="form-control" id="status" name="status">
                                {% for o in ostatus|split(',') %}
                                <option value="{{o}}" {% if variables.status is defined and variables.status == o %}selected="selected" {% endif %} >{{o}}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                </div>
                <div class="card bg-simple text-center m-1">
                    <div class="card-body">
                        <label for="might_pool" class="control-label"><span class="h5 card-title">Might Pool</span></label>
                        <span class="myinputfield">
                            <input value="{{ variables.might_pool is defined ? variables.might_pool }}" class="form-control input-small" id="might_pool" name="might_pool" type="number" min="0" max="100" />
                        </span>
                    </div>
                </div>
                <div class="card bg-simple text-center m-1">
                    <div class="card-body">
                        <label for="speed_pool" class="control-label"><span class="h5 card-title">Speed Pool</span></label>
                        <span class="myinputfield">
                            <input value="{{ variables.speed_pool is defined ? variables.speed_pool }}" class="form-control input-small" id="speed_pool" name="speed_pool" type="number" min="0" max="100" />
                        </span>
                    </div>
                </div>
                <div class="card bg-simple text-center m-1">
                    <div class="card-body">
                        <label for="intellect_pool" class="control-label"><span class="h5 card-title">Intellect Pool</span></label>
                        <span class="myinputfield">
                            <input value="{{ variables.intellect_pool is defined ? variables.intellect_pool }}" class="form-control input-small" id="intellect_pool" name="intellect_pool" type="number" min="0" max="100" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card border d-flex"> <!-- advancement -->
                        <div class="card-header bg-simple header text-center">Advancement</div>
                        <div class="card-body">
                            <span class="myinputfield"><label for="increased_capabilities" class="control-label">
                                <input value="0" name="increased_capabilities" type="hidden" />
                                <input value="1" {% if variables.increased_capabilities is defined and variables.increased_capabilities == 1  %} checked="checked"{% endif %} id="increased_capabilities" name="increased_capabilities" type="checkbox" /> Increased capabilities</label>
                            </span><br>
                            <span class="myinputfield"><label for="move_towards_perfection" class="control-label">
                                <input value="0" name="move_towards_perfection" type="hidden" />
                                <input value="1" {% if variables.move_towards_perfection is defined and variables.move_towards_perfection == 1  %} checked="checked"{% endif %} id="move_towards_perfection" name="move_towards_perfection" type="checkbox" /> Move towards perfection</label>
                            </span><br>
                            <span class="myinputfield"><label for="extra_effort" class="control-label">
                                <input value="0" name="extra_effort" type="hidden" />
                                <input value="1" {% if variables.extra_effort is defined and variables.extra_effort == 1  %} checked="checked"{% endif %} id="extra_effort" name="extra_effort" type="checkbox" /> Extra effort</label>
                            </span><br>
                            <span class="myinputfield"><label for="skill_training" class="control-label">
                                <input value="0" name="skill_training" type="hidden" />
                                <input value="1" {% if variables.skill_training is defined and variables.skill_training == 1  %} checked="checked"{% endif %} id="skill_training" name="skill_training" type="checkbox" /> Skill training</label>
                            </span><br>
                            <span class="myinputfield"><label for="other_advancement" class="control-label">
                                <input value="0" name="other_advancement" type="hidden" />
                                <input value="1" {% if variables.other_advancement is defined and variables.other_advancement == 1  %} checked="checked"{% endif %} id="other_advancement" name="other_advancement" type="checkbox" /> Other advancement</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card border d-flex"> <!-- recovery -->
                        <div class="card-header bg-simple text-center" title="You have four recovery rolls per day. Roll 1d6 + your Tier + bonus">
                        <span class="header">Recovery</span>{% set xx = 1 %}{% if variables.tier is defined %}{% set xx = variables.tier %}{% endif %}<br>[roll:1d6+{{ xx }}] + bonus</div>
                        <div class="card-body">
                            <span class="myinputfield"><label for="one_action" class="control-label">
                                <input value="0" name="one_action" type="hidden" />
                                <input value="1" {% if variables.one_action is defined and variables.one_action == 1 %} checked="checked"{% endif %} id="one_action" name="one_action" type="checkbox" /> One Action</label>
                            </span><br>
                            <span class="myinputfield"><label for="ten_minutes" class="control-label">
                                <input value="0" name="ten_minutes" type="hidden" />
                                <input value="1" {% if variables.ten_minutes is defined and variables.ten_minutes == 1 %} checked="checked"{% endif %} id="ten_minutes" name="ten_minutes" type="checkbox" /> Ten minutes</label>
                            </span><br>
                            <span class="myinputfield"><label for="one_hour" class="control-label">
                                <input value="0" name="one_hour" type="hidden" />
                                <input value="1" {% if variables.one_hour is defined and variables.one_hour == 1 %} checked="checked"{% endif %} id="one_hour" name="one_hour" type="checkbox" /> One hour</label>
                            </span><br>
                            <span class="myinputfield"><label for="ten_hours" class="control-label">
                                <input value="0" name="ten_hours" type="hidden" />
                                <input value="1" {% if variables.ten_hours is defined and variables.ten_hours == 1 %} checked="checked"{% endif %} id="ten_hours" name="ten_hours" type="checkbox" /> Ten hours</label>
                            </span>
                        </div>
                    </div> <!-- close recovery -->
                </div>
                <div class="col-12 col-md-4">
                    <div class="card border d-flex"> <!-- notes -->
                        <div class="card-header bg-simple text-center" title="Notes for after session"><span class="header">Notes for after session</span>
                        </div>
                        <div class="card-body">
                            <textarea class="form-control" id="notes" name="notes" cols="30" rows="10">{{ variables.notes is defined ? variables.notes }}</textarea>
                        </div>
                    </div> <!-- close notes -->
                </div>
            </div>
        </div>
    </div>
</section>