<div class="container-fluid sheet-symbaroum">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card personal" id="card-personal">
                <div class="card-header personal">{{variables.name|default}}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <table class='table'>
                                <tr><th class='lbl {{eo}} lbl-race'> Race </th><td class='var {{eo}} var-race'> {{variables.race|default}} </td></tr>
                                <tr><th class='lbl {{eo}} lbl-archetype'> Archetype </th><td class='var {{eo}} var-archetype'> {{variables.archetype|default}} </td></tr>
                                <tr><th class='lbl {{eo}} lbl-occupation'> Occupation </th><td class='var {{eo}} var-occupation'> {{variables.occupation|default}} </td></tr>
                                <tr><th class='lbl {{eo}} lbl-quote'> Quote </th><td class='var {{eo}} var-quote'> {{variables.quote|default}} </td></tr>
                                <tr><th class='lbl {{eo}} lbl-player'width='30%'> Player </th><td class='var {{eo}} var-player'> {{variables.player|default}} </td></tr>
                            </table>
                        </div>
                        <div class="col-12 col-md-4">
                            <table class='table'>
                                <tr><th class='lbl {{eo}} lbl-age' width='60%'> Age </th><td class='var {{eo}} var-age'>{{variables.age|default}}</td></tr>
                                <tr><th class='lbl {{eo}} lbl-height'> Height </th><td class='var {{eo}} var-height'> {{variables.height|default}} </td></tr>
                                <tr><th class='lbl {{eo}} lbl-weight'> Weight </th><td class='var {{eo}} var-weight'> {{variables.weight|default}} </td></tr>
                                <tr><th class='lbl {{eo}} lbl-xp'> Xp </th><td class='var {{eo}} var-xp'>{{variables.xp|default}}</td></tr>
                                <tr><th class='lbl {{eo}} lbl-xp-unspent'> Xp Unspent </th><td class='var {{eo}} var-xp-unspent'>{{variables.xp_unspent|default}}</td></tr>
                            </table>
                        </div>
                    </div>
                    {% if variables.shadow|default != "" %}
                    <div class='cContainer'><div class='lbl lbl-shadow'> Shadow </div><div class='var var-shadow'> {{variables.shadow|default|nl2br}} </div></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card portrait" id="card-portrait">
                <div class="card-header attributes">Portrait</div>
                <div class="card-body">
                    <div class='cContainer'><div class='var var-portrait'>[img:{{variables.portrait|default}}]</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card attributes" id="card-attributes">
                <div class="card-header attributes">Attributes</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <div class="card accurate" id="card-accurate">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-accurate'> {{variables.accurate_name|default}} </div><div class='var var-accurate'>{{variables.accurate|default}}</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card cunning" id="card-cunning">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-cunning'> {{variables.cunning_name|default}} </div><div class='var var-cunning'>{{variables.cunning|default}}</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card discreet" id="card-discreet">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-discreet'> {{variables.discreet_name|default}} </div><div class='var var-discreet'>{{variables.discreet|default}}</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card persuasive" id="card-persuasive">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-persuasive'> {{variables.persuasive_name|default}} </div><div class='var var-persuasive'>{{variables.persuasive|default}}</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card quick" id="card-quick">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-quick'> {{variables.quick_name|default}} </div><div class='var var-quick'>{{variables.quick|default}}</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card resolute" id="card-resolute">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-resolute'> {{variables.resolute_name|default}} </div><div class='var var-resolute'>{{variables.resolute|default}}</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card strong" id="card-strong">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-strong'> {{variables.strong_name|default}} </div><div class='var var-strong'>{{variables.strong|default}}</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card vigilant" id="card-vigilant">
                                <div class="card-body">
                                    <div class='cContainer'><div class='lbl lbl-vigilant'> {{variables.vigilant_name|default}} </div><div class='var var-vigilant'>{{variables.vigilant|default}}</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-12">
                    <div class="card data" id="card-data">
                        <div class="card-header data">Misc</div>
                        <div class="card-body">
                            {% set pain_threshold = (variables.strong + 1) // 2 %}
                            {% set toughness_max = variables.strong|default %}
                            {% if toughness_max < 10 %}{% set toughness_max = 10 %}{% endif %}
                            {% set toughness = variables.toughness|default %}
                            {% if toughness == "" %}{% set toughness = toughness_max %}{% endif %}
                            {% set corruption_threshold = (variables.resolute + 1) // 2 %}
                            <table class='table'>
                                <tr><th class='lbl {{eo}} lbl-toughness' title='maximum = Strong (though never below 10)'> Toughness </th><td class='var {{eo}} var-toughness'>{{toughness}} / {{toughness_max}}</td></tr>
                                <tr><th class='lbl {{eo}} lbl-pain-threshold' title='Strong/2 (rounded up)'> Pain Threshold </th><td class='var {{eo}} var-pain-threshold'>{{pain_threshold}}</td></tr>
                                <tr><td class='var {{eo}}' colspan=2>&nbsp;</td></tr>
                                <tr><th class='lbl {{eo}} lbl-corruption'> Corruption </th><td class='var {{eo}} var-corruption'>{{variables.corruption|default}}</td></tr>
                                <tr><th class='lbl {{eo}} lbl-corruption-perm'> Corruption Perm </th><td class='var {{eo}} var-corruption-perm'>{{variables.corruption_perm|default}}</td></tr>
                                <tr><th class='lbl {{eo}} lbl-corruption-threshold' title='Resolute/2 (rounded up)'> Corruption Threshold </th><td class='var {{eo}} var-corruption-threshold'>{{corruption_threshold}}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card abilites" id="card-abilites">
                <div class="card-header abilites">Abilities</div>
                <div class="card-body">
                    <div class="row">
                        {% for i in 1..12 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'ab_name_' ~ id)|default %}
                            {% if name != "" %}
                            <div class="col-12 col-md-6">
                                <div class="card ability" id="card-ability">
                                    <div class="card-body">
                                        <table class='table'>
                                            <tr><th class='lbl {{eo}} lbl-ab-name' width='25%'> Name </th><td class='var {{eo}} var-ab-name'> {{attribute(variables, 'ab_name_' ~ id)|default}} (
                                                {% if attribute(variables, 'ab_m_' ~ id)|default|default == 1 %}Master
                                                {% elseif attribute(variables, 'ab_a_' ~ id)|default|default == 1 %}Adept
                                                {% else %}Novice{% endif %}
                                            )</td></tr>
                                            <tr><th class='lbl {{eo}} lbl-ab-effect' colspan=2> Effect </th></tr>
                                            <tr><td class='var {{eo}} var-ab-effect' colspan=2> {{attribute(variables, 'ab_effect_' ~ id)|default|nl2br}} </td></tr>
                                            {% set type = attribute(variables, 'ab_type_' ~ id)|default %}
                                            {% if type != "" %}
                                            <tr><th class='lbl {{eo}} lbl-ab-type'> Type </th><td class='var {{eo}} var-ab-type'> {{type}} </td></tr>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card weapons" id="card-weapons">
                <div class="card-header weapons">Weapons</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl {{eo}} lbl-weapon-name'> Name </th>
                            <th class='lbl {{eo}} lbl-weapon-damage c'> Damage </th>
                            <th class='lbl {{eo}} lbl-weapon-quality c'> Quality </th>
                            <th class='lbl {{eo}} lbl-weapon-attribute c'> Attribute </th>
                        </tr>
                        {% for i in 1..3 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            {% set name = attribute(variables, 'weapon_name_' ~ id)|default %}
                            {% if name != "" %}
                            <tr>
                                <td class='var {{eo}} var-weapon-name'> {{name}} </td>
                                <td class='var {{eo}} var-weapon-damage c'> {{attribute(variables, 'weapon_damage_' ~ id)|default}} </td>
                                <td class='var {{eo}} var-weapon-quality c'> {{attribute(variables, 'weapon_quality_' ~ id)|default}} </td>
                                <td class='var {{eo}} var-weapon-attribute c'> {{attribute(variables, 'weapon_attribute_' ~ id)|default}} </td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card armor" id="card-armor">
                <div class="card-header armor">Armor</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl {{eo}} lbl-armor-name'> Name </th>
                            <th class='lbl {{eo}} lbl-armor-prot c'> Prot </th>
                            <th class='lbl {{eo}} lbl-armor-quality c'> Quality </th>
                            <th class='lbl {{eo}} lbl-armor-defense c'> Defense </th>
                        </tr>
                        {% for i in 1..2 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            {% set name = attribute(variables, 'armor_name_' ~ id)|default %}
                            {% if name != "" %}
                            {% set defense = variables.quick|default - attribute(variables, 'armor_defense_' ~ id)|default|abs %}
                            <tr>
                                <td class='var {{eo}} var-armor-name'> {{attribute(variables, 'armor_name_' ~ id)|default}} </td>
                                <td class='var {{eo}} var-armor-prot c'> {{attribute(variables, 'armor_prot_' ~ id)|default}} </td>
                                <td class='var {{eo}} var-armor-quality c'> {{attribute(variables, 'armor_quality_' ~ id)|default}} </td>
                                <td class='var {{eo}} var-armor-defense c'> {{defense}} </td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if variables.background|default != "" %}
        <div class="col-12 col-md-6">
            <div class="card background" id="card-background">
                <div class="card-header background">Background</div>
                <div class="card-body">
                    <div class='cContainer'><div class='var var-background'> {{variables.background|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if variables.goal|default != "" %}
        <div class="col-12 col-md-6">
            <div class="card goal" id="card-goal">
                <div class="card-header goal">Goal</div>
                <div class="card-body">
                    <div class='cContainer'><div class='var var-goal'> {{variables.goal|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if variables.appearance|default != "" %}
        <div class="col-12 col-md-6">
            <div class="card appearance" id="card-appearance">
                <div class="card-header appearance">Appearance</div>
                <div class="card-body">
                    <div class='cContainer'><div class='var var-appearance'> {{variables.appearance|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-12 col-md-6">
            <div class="card belongings" id="card-belongings">
                <div class="card-header belongings">Belongings</div>
                <div class="card-body">
                    <table class='table'>
                        <tr>
                            <th class='lbl {{eo}} lbl-equipment' width='70%'> Equipment </th>
                            <th class='lbl {{eo}} lbl-money'> Money </th>
                            <td class='var {{eo}} var-money'> {{variables.money|default}} </td>
                        </tr>
                        {% if variables.equipment|default != "" %}
                        <tr><td class='var {{eo}} var-equipment' colspan=3> {{variables.equipment|default|nl2br}} </td></tr>
                        {% endif %}
                        {% if variables.assets|default != "" %}
                        <tr><th class='lbl {{eo}} lbl-assets' colspan=3> Assets </th></tr>
                        <tr><td class='var {{eo}} var-assets' colspan=3> {{variables.assets|default|nl2br}} </td></tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card friends" id="card-friends">
                <div class="card-header friends">Friends</div>
                <div class="card-body">
                    <div class='cContainer'><div class='lbl lbl-group-name'> Group Name </div><div class='var var-group-name'> {{variables.group_name|default}} </div></div>
                    <div class='cContainer'><div class='lbl lbl-group-goal'> Group Goal </div><div class='var var-group-goal'> {{variables.group_goal|default}} </div></div>
                    <div class="row">
                        {% for i in 1..6 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'friend_name_' ~ id)|default %}
                            {% if name != "" %}
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="card friend" id="card-friend">
                                    <div class="card-body of">
                                        <table class='table'>
                                            <tr><td class='lbl {{eo}} lbl-friend-name' width='30%'> Name </td><td class='var {{eo}} var-friend-name'> {{attribute(variables, 'friend_name_' ~ id)|default}} </td></tr>
                                            <tr><td class='lbl {{eo}} lbl-friend-race'> Race </td><td class='var {{eo}} var-friend-race'> {{attribute(variables, 'friend_race_' ~ id)|default}} </td></tr>
                                            <tr><td class='lbl {{eo}} lbl-friend-occupation'> Occupation </td><td class='var {{eo}} var-friend-occupation'> {{attribute(variables, 'friend_occupation_' ~ id)|default}} </td></tr>
                                            <tr><td class='lbl {{eo}} lbl-friend-player'> Player </td><td class='var {{eo}} var-friend-player'> {{attribute(variables, 'friend_player_' ~ id)|default}} </td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card artifacts" id="card-artifacts">
                <div class="card-header artifacts">Artifacts</div>
                <div class="card-body">
                    <div class="row">
                        {% for i in 1..4 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set name = attribute(variables, 'art_name_' ~ id)|default %}
                            {% if name != "" %}
                            <div class="col-12">
                                <div class="card artifact" id="card-artifact">
                                    <div class="card-body of">
                                        <table class='table'>
                                            <tr><th class='lbl {{eo}} lbl-art-name' width='30%'> Name </th><td class='var {{eo}} var-art-name'> {{attribute(variables, 'art_name_' ~ id)|default}} </td></tr>
                                            <tr><th class='lbl {{eo}} lbl-art-corruption'> Corruption </th><td class='var {{eo}} var-art-corruption'> {{attribute(variables, 'art_corruption_' ~ id)|default}} </td></tr>
                                            <tr><th class='lbl {{eo}} lbl-art-power' colspan=2> Power </th></tr>
                                            <tr><td class='var {{eo}} var-art-power' colspan=2> {{attribute(variables, 'art_power_' ~ id)|default|nl2br}} </td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if variables.notes|default != "" %}
    <div class="row">
        <div class="col-12">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='var var-notes'> {{variables.notes|default|nl2br}} </div></div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row do-not-print">
        <div class="col-12 c small">
            <br>
            (c) 2019 by Fria Ligan AB, Symbaroum is a registered trademark of Fria Ligan AB. - <a href="/w/sheet-creation/a/sheet-list">Symbaroum Character Sheet v1.00</a>, made by Tillerz#3807 - Updated: 2023-02-12</a><br>
        </div>
    </div>
</div>