<div class="container-fluid sheet-symbaroum">
    <div class="row">
        <div class="col-12">
            <div class="card personal" id="card-personal">
                <div class="card-header personal">Symbaroum Character</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <table class='table'>
                                <tr><th class='ilbl {{eo}} ilbl-name'> Name </th><td class='ivar {{eo}} ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' required=required /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-race'> Race </th><td class='ivar {{eo}} ivar-race'><input value='{{variables.race|default}}' class='form-control ivar ivar-race' id='race' name='race' type='text' required=required /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-archetype'> Archetype </th><td class='ivar {{eo}} ivar-archetype'><input value='{{variables.archetype|default}}' class='form-control ivar ivar-archetype' id='archetype' name='archetype' placeholder='eg Warrior, Mystic, Rogue' type='text' /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-occupation'> Occupation </th><td class='ivar {{eo}} ivar-occupation'><input value='{{variables.occupation|default}}' class='form-control ivar ivar-occupation' id='occupation' name='occupation' placeholder='eg Berserker, Witch, Treasure Hunter' type='text'  required=required /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-quote'> Quote </th><td class='ivar {{eo}} ivar-quote'><input value='{{variables.quote|default}}' class='form-control ivar ivar-quote' id='quote' name='quote' type='text' /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-player'> Player </th><td class='ivar {{eo}} ivar-player'><input value='{{variables.player|default}}' class='form-control ivar ivar-player' id='player' name='player' type='text' /></td></tr>
                            </table>
                        </div>
                        <div class="col-12 col-md-5">
                            <table class='table'>
                                <tr><th class='ilbl {{eo}} ilbl-portrait'> Portrait </th><td class='ivar {{eo}} ivar-portrait' title='past in the WA image id'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait' id='portrait' name='portrait' type='number' /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-age'> Age </th><td class='ivar {{eo}} ivar-age'><input value='{{variables.age|default}}' class='form-control ivar ivar-age' id='age' name='age' type='number' /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-height'> Height </th><td class='ivar {{eo}} ivar-height'><input value='{{variables.height|default}}' class='form-control ivar ivar-height c' id='height' name='height' type='text' /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-weight'> Weight </th><td class='ivar {{eo}} ivar-weight'><input value='{{variables.weight|default}}' class='form-control ivar ivar-weight c' id='weight' name='weight' type='text' /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-xp'> Xp </th><td class='ivar {{eo}} ivar-xp'><input value='{{variables.xp|default}}' class='form-control ivar ivar-xp' id='xp' name='xp' type='number' /></td></tr>
                                <tr><th class='ilbl {{eo}} ilbl-xp-unspent'> Xp Unspent </th><td class='ivar {{eo}} ivar-xp-unspent'><input value='{{variables.xp_unspent|default}}' class='form-control ivar ivar-xp-unspent' id='xp_unspent' name='xp_unspent' type='number' /></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class='cContainer'><div class='ilbl ilbl-shadow'> Shadow </div><div class='ivar ivar-shadow'><div class='iContent'><textarea class='form-control ivar ivar-shadow mention' id='shadow' name='shadow' rows='3'  >{{variables.shadow|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card attributes" id="card-attributes">
                <div class="card-header attributes">Attributes</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <div class="card accurate" id="card-accurate">
                                <div class="card-body">
                                    <div class='cContainer'>
                                         {% set lbl = variables.accurate_name|default('Accurate') %}
                                        <div class='ivar ivar-accurate-name'><input value='{{lbl}}' class='form-control ivar ivar-accurate-name c' id='accurate_name' name='accurate_name' type='text' placeholder='Accurate' /></div>
                                        <div class='ivar ivar-accurate'><input value='{{variables.accurate|default}}' class='form-control ivar ivar-accurate' id='accurate' name='accurate' type='number' required=required /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card cunning" id="card-cunning">
                                <div class="card-body">
                                    <div class='cContainer'>
                                         {% set lbl = variables.cunning_name|default('Cunning') %}
                                        <div class='ivar ivar-cunning-name'><input value='{{lbl}}' class='form-control ivar ivar-cunning-name c' id='cunning_name' name='cunning_name' type='text' placeholder='Cunning' /></div>
                                        <div class='ivar ivar-cunning'><input value='{{variables.cunning|default}}' class='form-control ivar ivar-cunning' id='cunning' name='cunning' type='number' required=required /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card discreet" id="card-discreet">
                                <div class="card-body">
                                    <div class='cContainer'>
                                         {% set lbl = variables.discreet_name|default('Discreet') %}
                                        <div class='ivar ivar-discreet-name'><input value='{{lbl}}' class='form-control ivar ivar-discreet-name c' id='discreet_name' name='discreet_name' type='text' placeholder='Discreet' /></div>
                                        <div class='ivar ivar-discreet'><input value='{{variables.discreet|default}}' class='form-control ivar ivar-discreet' id='discreet' name='discreet' type='number' required=required /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card persuasive" id="card-persuasive">
                                <div class="card-body">
                                    <div class='cContainer'>
                                         {% set lbl = variables.persuasive_name|default('Persuasive') %}
                                        <div class='ivar ivar-persuasive-name'><input value='{{lbl}}' class='form-control ivar ivar-persuasive-name c' id='persuasive_name' name='persuasive_name' type='text' placeholder='Persuasive' /></div>
                                        <div class='ivar ivar-persuasive'><input value='{{variables.persuasive|default}}' class='form-control ivar ivar-persuasive' id='persuasive' name='persuasive' type='number' required=required /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card quick" id="card-quick">
                                <div class="card-body">
                                    <div class='cContainer'>
                                         {% set lbl = variables.quick_name|default('Quick') %}
                                        <div class='ivar ivar-quick-name'><input value='{{lbl}}' class='form-control ivar ivar-quick-name c' id='quick_name' name='quick_name' type='text' placeholder='Quick' /></div>
                                        <div class='ivar ivar-quick'><input value='{{variables.quick|default}}' class='form-control ivar ivar-quick' id='quick' name='quick' type='number' required=required /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card resolute" id="card-resolute">
                                <div class="card-body">
                                    <div class='cContainer'>
                                         {% set lbl = variables.resolute_name|default('Resolute') %}
                                        <div class='ivar ivar-resolute-name'><input value='{{lbl}}' class='form-control ivar ivar-resolute-name c' id='resolute_name' name='resolute_name' type='text' placeholder='Resolute' /></div>
                                        <div class='ivar ivar-resolute'><input value='{{variables.resolute|default}}' class='form-control ivar ivar-resolute' id='resolute' name='resolute' type='number' required=required /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card strong" id="card-strong">
                                <div class="card-body">
                                    <div class='cContainer'>
                                         {% set lbl = variables.strong_name|default('Strong') %}
                                        <div class='ivar ivar-strong-name'><input value='{{lbl}}' class='form-control ivar ivar-strong-name c' id='strong_name' name='strong_name' type='text' placeholder='Strong' /></div>
                                        <div class='ivar ivar-strong'><input value='{{variables.strong|default}}' class='form-control ivar ivar-strong' id='strong' name='strong' type='number' required=required /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card vigilant" id="card-vigilant">
                                <div class="card-body">
                                    <div class='cContainer'>
                                         {% set lbl = variables.vigilant_name|default('Vigilant') %}
                                        <div class='ivar ivar-vigilant-name'><input value='{{lbl}}' class='form-control ivar ivar-vigilant-name c' id='vigilant_name' name='vigilant_name' type='text' placeholder='Vigilant' /></div>
                                        <div class='ivar ivar-vigilant'><input value='{{variables.vigilant|default}}' class='form-control ivar ivar-vigilant' id='vigilant' name='vigilant' type='number' required=required /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-12">
                    <div class="card data" id="card-data">
                        <div class="card-header data">Misc</div>
                        <div class="card-body">
                            <table class='table'>
                                <tr><th class='ilbl ilbl-toughness' width="60%"> Toughness </th><td class='ivar ivar-toughness'><input value='{{variables.toughness|default}}' class='form-control ivar ivar-toughness' id='toughness' name='toughness' type='number' /></td></tr>
                                <tr><th class='ilbl ilbl-corruption'> Corruption </th><td class='ivar ivar-corruption'><input value='{{variables.corruption|default}}' class='form-control ivar ivar-corruption' id='corruption' name='corruption' type='number' /></td></tr>
                                <tr><th class='ilbl ilbl-corruption-perm'> Corruption Perm </th><td class='ivar ivar-corruption-perm'><input value='{{variables.corruption_perm|default}}' class='form-control ivar ivar-corruption-perm' id='corruption_perm' name='corruption_perm' type='number' /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card abilites" id="card-abilites">
                <div class="card-header abilites">Abilities</div>
                <div class="card-body">
                    <div class="row">
                        {% for i in 1..12 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            <div class="col-12 col-md-6">
                                <div class="card ability" id="card-ability">
                                    <div class="card-body">
                                        <div class='cContainer'><div class='ilbl ilbl-ab-name'> Name </div><div class='ivar ivar-ab-name'><input value='{{attribute(variables, 'ab_name_' ~ id)|default}}' class='form-control ivar ivar-ab-name' id='ab_name_{{id}}' name='ab_name_{{id}}' type='text' placeholder='eg Iron First' /></div></div>
                                        <div class='cContainer'><div class='ilbl ilbl-ab-effect'> Effect </div><div class='ivar ivar-ab-effect'><div class='iContent'><textarea class='form-control ivar ivar-ab-effect mention' id='ab_effect_{{id}}' name='ab_effect_{{id}}' rows='3'  >{{attribute(variables, 'ab_effect_' ~ id)|default}}</textarea></div></div></div>
                                        <div class='cContainer'><div class='ilbl ilbl-ab-type'> Type </div><div class='ivar ivar-ab-type'><input value='{{attribute(variables, 'ab_type_' ~ id)|default}}' class='form-control ivar ivar-ab-type' id='ab_type_{{id}}' name='ab_type_{{id}}' type='text' /></div></div>
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class='cContainer'><div class='ilbl ilbl-ab-n' title='Novice'> Novice </div><div class='ivar ivar-ab-n'><input value='0' id='ab_n_{{id}}' name='ab_n_{{id}}' type='hidden' /><input value='1' {% if attribute(variables, 'ab_n_' ~ id)|default > 0 %} checked='checked'{% endif %} id='ab_n_{{id}}' name='ab_n_{{id}}' type='checkbox' /></div></div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class='cContainer'><div class='ilbl ilbl-ab-a' title='Adept'> Adept </div><div class='ivar ivar-ab-a'><input value='0' id='ab_a_{{id}}' name='ab_a_{{id}}' type='hidden' /><input value='1' {% if attribute(variables, 'ab_a_' ~ id)|default > 0 %} checked='checked'{% endif %} id='ab_a_{{id}}' name='ab_a_{{id}}' type='checkbox' /></div></div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class='cContainer'><div class='ilbl ilbl-ab-m' title='Master'> Master </div><div class='ivar ivar-ab-m'><input value='0' id='ab_m_{{id}}' name='ab_m_{{id}}' type='hidden' /><input value='1' {% if attribute(variables, 'ab_m_' ~ id)|default > 0 %} checked='checked'{% endif %} id='ab_m_{{id}}' name='ab_m_{{id}}' type='checkbox' /></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card weapons" id="card-weapons">
                <div class="card-header weapons">Weapons</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..3 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            <tr><th class='ilbl {{eo}} ilbl-weapon-name'> Weapon {{id}} </th><td class='ivar {{eo}} ivar-weapon-name'><input value='{{attribute(variables, 'weapon_name_' ~ id)|default}}' class='form-control ivar ivar-weapon-name' id='weapon_name_{{id}}' name='weapon_name_{{id}}' type='text' placeholder='eg Greataxe' /></td></tr>
                            <tr><th class='ilbl {{eo}} ilbl-weapon-damage'> Damage </th><td class='ivar {{eo}} ivar-weapon-damage'><input value='{{attribute(variables, 'weapon_damage_' ~ id)|default}}' class='form-control ivar ivar-weapon-damage' id='weapon_damage_{{id}}' name='weapon_damage_{{id}}' type='text' placeholder='eg 1d10' /></td></tr>
                            <tr><th class='ilbl {{eo}} ilbl-weapon-quality'> Quality </th><td class='ivar {{eo}} ivar-weapon-quality'><input value='{{attribute(variables, 'weapon_quality_' ~ id)|default}}' class='form-control ivar ivar-weapon-quality' id='weapon_quality_{{id}}' name='weapon_quality_{{id}}' type='text' placeholder='eg Deep Impact' /></td></tr>
                            <tr><th class='ilbl {{eo}} ilbl-weapon-attribute'> Attribute </th><td class='ivar {{eo}} ivar-weapon-attribute'><input value='{{attribute(variables, 'weapon_attribute_' ~ id)|default}}' class='form-control ivar ivar-weapon-attribute' id='weapon_attribute_{{id}}' name='weapon_attribute_{{id}}' type='text' /></td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card armor" id="card-armor">
                <div class="card-header armor">Armor</div>
                <div class="card-body">
                    <table class='table'>
                        {% for i in 1..2 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                            <tr><th class='ilbl {{eo}} ilbl-armor-name'> Armor {{id}} </th><td class='ivar {{eo}} ivar-armor-name'><input value='{{attribute(variables, 'armor_name_' ~ id)|default}}' class='form-control ivar ivar-armor-name' id='armor_name_{{id}}' name='armor_name_{{id}}' type='text' placeholder='eg Lacquered Silk Cuirass' /></td></tr>
                            <tr><th class='ilbl {{eo}} ilbl-armor-prot'> Protection </th><td class='ivar {{eo}} ivar-armor-prot'><input value='{{attribute(variables, 'armor_prot_' ~ id)|default}}' class='form-control ivar ivar-armor-prot' id='armor_prot_{{id}}' name='armor_prot_{{id}}' type='text' placeholder='eg 1d6' /></td></tr>
                            <tr><th class='ilbl {{eo}} ilbl-armor-quality'> Quality </th><td class='ivar {{eo}} ivar-armor-quality'><input value='{{attribute(variables, 'armor_quality_' ~ id)|default}}' class='form-control ivar ivar-armor-quality' id='armor_quality_{{id}}' name='armor_quality_{{id}}' type='text' placeholder='Flexible' /></td></tr>
                            <tr><th class='ilbl {{eo}} ilbl-armor-imped'> Impediment </th><td class='ivar {{eo}} ivar-armor-imped'><input value='{{attribute(variables, 'armor_imped_' ~ id)|default}}' class='form-control ivar ivar-armor-imped' id='armor_imped_{{id}}' name='armor_imped_{{id}}' type='number' placeholder='eg -3' /></td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card background" id="card-background">
                <div class="card-header background">Background</div>
                <div class="card-body">
                    <div class='ivar ivar-background'><div class='iContent'><textarea class='form-control ivar ivar-background mention' id='background' name='background' rows='3'  >{{variables.background|default}}</textarea></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card goal" id="card-goal">
                <div class="card-header goal">Goal</div>
                <div class="card-body">
                    <div class='ivar ivar-goal'><div class='iContent'><textarea class='form-control ivar ivar-goal mention' id='goal' name='goal' rows='3'  >{{variables.goal|default}}</textarea></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card appearance" id="card-appearance">
                <div class="card-header appearance">Appearance</div>
                <div class="card-body">
                    <div class='ivar ivar-appearance'><div class='iContent'><textarea class='form-control ivar ivar-appearance mention' id='appearance' name='appearance' rows='3'  >{{variables.appearance|default}}</textarea></div></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card belongings" id="card-belongings">
                <div class="card-header belongings">Belongings</div>
                <div class="card-body">
                    <div class='cContainer'><div class='ilbl ilbl-equipment'> Equipment </div><div class='ivar ivar-equipment'><div class='iContent'><textarea class='form-control ivar ivar-equipment mention' id='equipment' name='equipment' rows='3'  >{{variables.equipment|default}}</textarea></div></div></div>
                    <div class='cContainer'><div class='ilbl ilbl-money'> Money </div><div class='ivar ivar-money'><input value='{{variables.money|default}}' class='form-control ivar ivar-money' id='money' name='money' type='text' /></div></div>
                    <div class='cContainer'><div class='ilbl ilbl-assets'> Assets </div><div class='ivar ivar-assets'><div class='iContent'><textarea class='form-control ivar ivar-assets mention' id='assets' name='assets' rows='3'  >{{variables.assets|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card friends" id="card-friends">
                <div class="card-header friends">Friends</div>
                <div class="card-body">
                    <div class='cContainer'><div class='ilbl ilbl-group-name'> Group Name </div><div class='ivar ivar-group-name'><input value='{{variables.group_name|default}}' class='form-control ivar ivar-group-name' id='group_name' name='group_name' type='text' /></div></div>
                    <div class='cContainer'><div class='ilbl ilbl-group-goal'> Group Goal </div><div class='ivar ivar-group-goal'><input value='{{variables.group_goal|default}}' class='form-control ivar ivar-group-goal' id='group_goal' name='group_goal' type='text' /></div></div>
                    <div class="row">
                        {% for i in 1..6 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            <div class="col-12 col-md-6">
                                <div class="card ability" id="card-ability">
                                    <div class="card-body">
                                        <table class='table'>
                                            <tr><th class='ilbl {{eo}} ilbl-friend-name'> Name </th><td class='ivar {{eo}} ivar-friend-name'><input value='{{attribute(variables, 'friend_name_' ~ id)|default}}' class='form-control ivar ivar-friend-name' id='friend_name_{{id}}' name='friend_name_{{id}}' type='text'  /></td></tr>
                                            <tr><th class='ilbl {{eo}} ilbl-friend-race'> Race </th><td class='ivar {{eo}} ivar-friend-race'><input value='{{attribute(variables, 'friend_race_' ~ id)|default}}' class='form-control ivar ivar-friend-race' id='friend_race_{{id}}' name='friend_race_{{id}}' type='text'  /></td></tr>
                                            <tr><th class='ilbl {{eo}} ilbl-friend-occupation'> Occupation </th><td class='ivar {{eo}} ivar-friend-occupation'><input value='{{attribute(variables, 'friend_occupation_' ~ id)|default}}' class='form-control ivar ivar-friend-occupation' id='friend_occupation_{{id}}' name='friend_occupation_{{id}}' type='text'  /></td></tr>
                                            <tr><th class='ilbl {{eo}} ilbl-friend-player'> Player </th><td class='ivar {{eo}} ivar-friend-player'><input value='{{attribute(variables, 'friend_player_' ~ id)|default}}' class='form-control ivar ivar-friend-player' id='friend_player_{{id}}' name='friend_player_{{id}}' type='text'  /></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card artifacts" id="card-artifacts">
                <div class="card-header artifacts">Artifacts</div>
                <div class="card-body">
                    <div class="row">
                        {% for i in 1..4 %}
                            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                            <div class="col-12 col-md-6">
                                <div class="card ability" id="card-ability">
                                    <div class="card-body">
                                        <div class='cContainer'><div class='ilbl ilbl-art-name'> Name </div><div class='ivar ivar-art-name'><input value='{{attribute(variables, 'art_name_' ~ id)|default}}' class='form-control ivar ivar-art-name' id='art_name_{{id}}' name='art_name_{{id}}' type='text' placeholder='eg The Light of the Sun' /></div></div>
                                        <div class='cContainer'><div class='ilbl ilbl-art-corruption'> Corruption </div><div class='ivar ivar-art-corruption'><input value='{{attribute(variables, 'art_corruption_' ~ id)|default}}' class='form-control ivar ivar-art-corruption' id='art_corruption_{{id}}' name='art_corruption_{{id}}' type='text' placeholder='eg none, 1, or 3' /></div></div>
                                        <div class='cContainer'><div class='ilbl ilbl-art-power'> Power </div><div class='ivar ivar-art-power'><textarea class='form-control ivar ivar-art-power mention' id='art_power_{{id}}' name='art_power_{{id}}' rows='3' >{{attribute(variables, 'art_power_' ~ id)|default}}</textarea></div></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card notes" id="card-notes">
                <div class="card-header notes">Notes</div>
                <div class="card-body">
                    <div class='cContainer'><div class='ilbl ilbl-notes'> Notes </div><div class='ivar ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>