<div class="container-fluid sheet-symbaroum pd2">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card personal" id="card-personal">
                <div class="card-body">
                    <table class='table'>
                        <tr><td class='ilbl {{eo}} ilbl ilbl-toughness' width="60%"> Toughness </td><td class='ivar ivar-toughness'><input value='{{variables.toughness|default}}' class='form-control ivar ivar-toughness' id='toughness' name='toughness' type='number' /></td></tr>
                        <tr><td class='ilbl {{eo}} ilbl ilbl-corruption'> Corruption </td><td class='ivar ivar-corruption'><input value='{{variables.corruption|default}}' class='form-control ivar ivar-corruption' id='corruption' name='corruption' type='number' /></td></tr>
                        <tr><td class='ilbl {{eo}} ilbl ilbl-corruption-perm'> Corruption Perm </td><td class='ivar ivar-corruption-perm'><input value='{{variables.corruption_perm|default}}' class='form-control ivar ivar-corruption-perm' id='corruption_perm' name='corruption_perm' type='number' /></td></tr>
                        <tr><td class='ilbl {{eo}} ilbl ilbl-money'> Money </td><td class='ivar ivar-money'><input value='{{variables.money|default}}' class='form-control ivar ivar-money' id='money' name='money' type='text' /></td></tr>
                        <tr><td class='ilbl {{eo}} ilbl-xp-unspent'> Xp Unspent </td><td class='ivar {{eo}} ivar-xp-unspent'><input value='{{variables.xp_unspent|default}}' class='form-control ivar ivar-xp-unspent' id='xp_unspent' name='xp_unspent' type='number' /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card notes" id="card-notes">
                <div class="card-body">
                    <div class='cContainer'><div class='ilbl ilbl-notes'> Notes </div><div class='ivar ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>