<div class='container-fluid sheet-shadowdark'>
  <div class='row'>
    <div class='col-12 col-md-6 col-lg-5'>
      <div class='card personal c' id='card-personal'>
<div class='col-12 hidden-md hidden-xs hidden-sm d-none d-lg-block'>[img:5908847|center|300|nolink]</div>
        <div class='card-header personal'>{{variables.name|default}}</div>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='lbl ev lbl-class l'> class </th><td class='var ev var-class l'> {{variables.class|default}} Lvl {{variables.level|default}}</td></tr>
            <tr><th class='lbl od lbl-ancestry l'> ancestry </th><td class='var od var-ancestry l'> {{variables.ancestry|default}} </td></tr>
            <tr><th class='lbl ev lbl-xp-avail l'> xp </th><td class='var ev var-xp-avail l'>{{variables.xp_avail|default}} / {{variables.xp_level_up|default}} </td></tr>
            <tr><th class='lbl od lbl-title l'> title </th><td class='var od var-title l'> {{variables.title|default}} </td></tr>
            <tr><th class='lbl ev lbl-alignment l'> alignment </th><td class='var ev var-alignment l'> {{variables.alignment|default}} </td></tr>
            <tr><th class='lbl od lbl-background l'> background </th><td class='var od var-background l'> {{variables.background|default}} </td></tr>
            <tr><th class='lbl ev lbl-deity l'> deity </th><td class='var ev var-deity l'> {{variables.deity|default}} </td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6 col-lg-3'>
      <div class='card attributes' id='card-attributes'>
        <div class='card-header attributes'>Attributes</div>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='lbl od lbl-str'> str </th><td class='var od var-str'>{{variables.str|default}} / {{ variables.str_mod|default }} </td></tr>
            <tr><th class='lbl ev lbl-dex'> dex </th><td class='var ev var-dex'>{{variables.dex|default}} / {{ variables.dex_mod|default }} </td></tr>
            <tr><th class='lbl od lbl-con'> con </th><td class='var od var-con'>{{variables.con|default}} / {{ variables.con_mod|default }} </td></tr>
            <tr><th class='lbl ev lbl-int'> int </th><td class='var ev var-int'>{{variables.int|default}} / {{ variables.int_mod|default }} </td></tr>
            <tr><th class='lbl od lbl-wis'> wis </th><td class='var od var-wis'>{{variables.wis|default}} / {{ variables.wis_mod|default }} </td></tr>
            <tr><th class='lbl ev lbl-cha'> cha </th><td class='var ev var-cha'>{{variables.cha|default}} / {{ variables.cha_mod|default }} </td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-lg-4 hidden-md hidden-xs hidden-sm d-none d-lg-block'>
      <div class='card portrait' id='card-portrait'>
        <div class='card-header portrait'>Portrait</div>
        <div class='card-body of'>
          <div class='var od var-portrait'>[img:{{variables.portrait|default}}]</div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-6'>
      <div class='row'>
        <div class='col-12 col-md-6'>
          <div class='card hp' id='card-hp'>
            <div class='card-body of'>
              <table class='table'>
                <tr><th class='lbl od lbl-hp c' width='50%'> hp </th><td class='var od var-hp'>{{variables.hp_curr|default}} / {{variables.hp|default}}</td></tr>
              </table>
            </div>
          </div>
        </div>
        <div class='col-12 col-md-6'>
          <div class='card ac' id='card-ac'>
            <div class='card-body of'>
              <table class='table'>
                <tr><th class='lbl od lbl-ac c' width='50%'> ac </th><td class='var od var-ac'>{{variables.ac|default}}</td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class='card attacks' id='card-attacks'>
        <div class='card-header attacks'>Attacks</div>
        <div class='card-body of'>
          <div class='var od var-attacks'> {{variables.attacks|default|nl2br}} </div>
        </div>
      </div>
      <div class='card talents' id='card-talents'>
        <div class='card-header talents'>Talents / Spells</div>
        <div class='card-body of'>
          <div class='var od var-talents'> {{variables.talents|default|nl2br}} </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class='card gear' id='card-gear'>
        <div class='card-header gear'>Gear</div>
        <div class='card-body of'>
          <div class='var od var-gear'>
            <ol>{% for l in variables.gear|default|split('\n') %}<li>{{l}}</li>{% endfor %}</ol>
          </div>
          <table class='table'>
          <tr>
          <th class='lbl od lbl-gp c'> gp </th>
          <th class='lbl od lbl-sp c'> sp </th>
          <th class='lbl od lbl-cp c'> cp </th>
          </tr>
          <tr><td class='var var-gp c'>{{variables.gp|default}}</td><td class='var var-sp c'>{{variables.sp|default}}</td><td class='var var-cp c'>{{variables.cp|default}}</td>
          </tr>
          </table>
          <div class='lbl od lbl-free-to-carry c'> free to carry </div><div class='var od var-free-to-carry'> {{variables.free_to_carry|default|nl2br}} </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Notes</div>
        <div class='card-body of'>
          <div class='var od var-notes'> {{variables.notes|default|nl2br}} </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row do-not-print'>
    <div class='col-12 c small'>Shadowdark &copy; 2023 The Arcane Library, LLC. - Shadowdark v1.0 Sheet made by Tillerz - Updated: 2024-09-05</a><br>
    </div>
  </div>
</div>