<div class='container-fluid sheet-shadowdark'>
  <div class='row'>
    <div class='col-12 col-md-7'>
      <div class='card personal' id='card-personal'>
        <div class='card-header personal'>Personal</div>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl od ilbl-name'><label for='name'>name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-class'><label for='class'>class</label></th><td class='ivar ev ivar-class'><input value='{{variables.class|default}}' class='form-control ivar ivar-class' id='class' name='class' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-level'><label for='level'>level</label></th><td class='ivar od ivar-level'><input value='{{variables.level|default}}' class='form-control ivar ivar-level c' id='level' name='level' type='number' /></td></tr>
            <tr><th class='ilbl ev ilbl-ancestry'><label for='ancestry'>ancestry</label></th><td class='ivar ev ivar-ancestry'><input value='{{variables.ancestry|default}}' class='form-control ivar ivar-ancestry' id='ancestry' name='ancestry' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-xp-avail'><label for='xp_avail'>xp</label></th><td class='ivar od ivar-xp-avail'><input value='{{variables.xp_avail|default}}' class='form-control ivar ivar-xp-avail c' id='xp_avail' name='xp_avail' type='number' /></td></tr>
            <tr><th class='ilbl ev ilbl-xp-levelup'><label for='xp_levelup'>xp level up</label></th><td class='ivar ev ivar-xp-level-up'><input value='{{variables.xp_level_up|default}}' class='form-control ivar ivar-xp-level-up c' id='xp_level_up' name='xp_level_up' type='number' /></td></tr>
            <tr><th class='ilbl od ilbl-title'><label for='title'>title</label></th><td class='ivar od ivar-title'><input value='{{variables.title|default}}' class='form-control ivar ivar-title' id='title' name='title' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-alignment'><label for='alignment'>alignment</label></th><td class='ivar ev ivar-alignment'><input value='{{variables.alignment|default}}' class='form-control ivar ivar-alignment' id='alignment' name='alignment' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-background'><label for='background'>background</label></th><td class='ivar od ivar-background'><input value='{{variables.background|default}}' class='form-control ivar ivar-background' id='background' name='background' type='text' /></td></tr>
            <tr><th class='ilbl ev ilbl-deity'><label for='deity'>deity</label></th><td class='ivar ev ivar-deity'><input value='{{variables.deity|default}}' class='form-control ivar ivar-deity' id='deity' name='deity' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-portrait'><label for='portrait'>portrait</label></th><td class='ivar od ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait c' id='portrait' name='portrait' type='number' placehoder='WA image ID'/></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-5'>
      <div class='card attributes' id='card-attributes'>
        <div class='card-header attributes'>Attributes</div>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl ev ilbl-str'>&nbsp;</th><th class='ilbl ev ilbl-str'>&nbsp;</th><th class='ilbl ev ilbl-mod c' title='Modifier'>Mod.</th></tr>
            <tr>
              <th class='ilbl od ilbl-str'><label for='str'>str</label></th>
              <td class='ivar od ivar-str'><input value='{{variables.str|default}}' class='form-control ivar ivar-str c' id='str' name='str' type='number' /></td>
              <td class='ivar od ivar-str-mod'><input value='{{variables.str_mod|default}}' class='form-control ivar ivar-str-mod c' id='str-mod' name='str_mod' type='string' /></td>
            </tr>
            <tr>
              <th class='ilbl ev ilbl-dex'><label for='dex'>dex</label></th>
              <td class='ivar ev ivar-dex'><input value='{{variables.dex|default}}' class='form-control ivar ivar-dex c' id='dex' name='dex' type='number' /></td>
              <td class='ivar ev ivar-dex-mod'><input value='{{variables.dex_mod|default}}' class='form-control ivar ivar-dex-mod c' id='dex-mod' name='dex_mod' type='string' /></td>
            </tr>
            <tr>
              <th class='ilbl od ilbl-con'><label for='con'>con</label></th>
              <td class='ivar od ivar-con'><input value='{{variables.con|default}}' class='form-control ivar ivar-con c' id='con' name='con' type='number' /></td>
              <td class='ivar od ivar-con-mod'><input value='{{variables.con_mod|default}}' class='form-control ivar ivar-con-mod c' id='con-mod' name='con_mod' type='string' /></td>
            </tr>
            <tr>
              <th class='ilbl ev ilbl-int'><label for='int'>int</label></th>
              <td class='ivar ev ivar-int'><input value='{{variables.int|default}}' class='form-control ivar ivar-int c' id='int' name='int' type='number' /></td>
              <td class='ivar ev ivar-int-mod'><input value='{{variables.int_mod|default}}' class='form-control ivar ivar-int-mod c' id='int-mod' name='int_mod' type='string' /></td>
            </tr>
            <tr>
              <th class='ilbl od ilbl-wis'><label for='wis'>wis</label></th>
              <td class='ivar od ivar-wis'><input value='{{variables.wis|default}}' class='form-control ivar ivar-wis c' id='wis' name='wis' type='number' /></td>
              <td class='ivar od ivar-wis-mod'><input value='{{variables.wis_mod|default}}' class='form-control ivar ivar-wis-mod c' id='wis-mod' name='wis_mod' type='string' /></td>
            </tr>
            <tr>
              <th class='ilbl ev ilbl-cha'><label for='cha'>cha</label></th>
              <td class='ivar ev ivar-cha'><input value='{{variables.cha|default}}' class='form-control ivar ivar-cha c' id='cha' name='cha' type='number' /></td>
              <td class='ivar ev ivar-cha-mod'><input value='{{variables.cha_mod|default}}' class='form-control ivar ivar-cha-mod c' id='cha-mod' name='cha_mod' type='string' /></td>
            </tr>
          </table>
        </div>
      </div>
      <div class='card hp' id='card-hp'>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl od ilbl-hp-curr'><label for='hp-curr'>hp current</label></th><td class='ivar od ivar-hp-curr'><input value='{{variables.hp_curr|default}}' class='form-control ivar ivar-hp-curr c' id='hp-curr' name='hp_curr' type='number' /></td></tr>
            <tr><th class='ilbl ev ilbl-hp'><label for='hp'>hp max</label></th><td class='ivar ev ivar-hp'><input value='{{variables.hp|default}}' class='form-control ivar ivar-hp c' id='hp' name='hp' type='number' /></td></tr>
          </table>
        </div>
      </div>
      <div class='card ac' id='card-ac'>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl od ilbl-ac'><label for='ac'>ac</label></th><td class='ivar od ivar-ac'><input value='{{variables.ac|default}}' class='form-control ivar ivar-ac c' id='ac' name='ac' type='number' /></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-12'>
      <div class='card attacks' id='card-attacks'>
        <div class='card-header attacks'>Attacks</div>
        <div class='card-body of'>
          <div class='ivar od ivar-attacks'><div class='iContent'><textarea class='form-control ivar ivar-attacks mention' id='attacks' name='attacks' rows='3'  >{{variables.attacks|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-12'>
      <div class='card talents' id='card-talents'>
        <div class='card-header talents'>Talents / Spells</div>
        <div class='card-body of'>
          <div class='ivar od ivar-talents'><div class='iContent'><textarea class='form-control ivar ivar-talents mention' id='talents' name='talents' rows='3'  >{{variables.talents|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card gear' id='card-gear'>
        <div class='card-header gear'>Gear</div>
        <div class='card-body of'>
          <div class='ivar od ivar-gear'><div class='iContent'><textarea class='form-control ivar ivar-gear mention' id='gear' name='gear' rows='3'  >{{variables.gear|default}}</textarea></div></div>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-gp c'><label for='gp'>gp</label></th>
          <th class='ilbl od ilbl-sp c'><label for='sp'>sp</label></th>
          <th class='ilbl od ilbl-cp c'><label for='cp'>cp</label></th>
          </tr>
          <tr><td class='ivar {{eo}} ivar-gp'><input value='{{variables.gp|default}}' class='form-control ivar ivar-gp c' id='gp' name='gp' type='number' /></td><td class='ivar {{eo}} ivar-sp'><input value='{{variables.sp|default}}' class='form-control ivar ivar-sp c' id='sp' name='sp' type='number' /></td><td class='ivar {{eo}} ivar-cp'><input value='{{variables.cp|default}}' class='form-control ivar ivar-cp c' id='cp' name='cp' type='number' /></td>
          </tr>
          </table>
          <div class='ilbl od ilbl-free-to-carry'><label for='free_to_carry'>free to carry</label></div><div class='ivar od ivar-free-to-carry'><div class='iContent'><textarea class='form-control ivar ivar-free-to-carry mention' id='free_to_carry' name='free_to_carry' rows='3'  >{{variables.free_to_carry|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Notes</div>
        <div class='card-body of'>
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>