<div class='container-fluid sheet-shadowdark'>
  <div class='row'>
    <div class='col-12 col-md-3'>
      <div class='card xp' id='card-xp'>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl od ilbl-xp-avail'><label for='xp_avail'>xp</label></th><td class='ivar od ivar-xp-avail'><input value='{{variables.xp_avail|default}}' class='form-control ivar ivar-xp-avail c' id='xp_avail' name='xp_avail' type='number' /></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-3'>
      <div class='card hp' id='card-hp'>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='ilbl od ilbl-hp'><label for='hp_curr'>hp</label></th><td class='ivar od ivar-hp'><input value='{{variables.hp_curr|default}}' class='form-control ivar ivar-hp c' id='hp_curr' name='hp_curr' type='number' /></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class='card gear' id='card-gear'>
        <div class='card-body of'>
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-gp c'><label for='gp'>gp</label></th>
          <th class='ilbl od ilbl-sp c'><label for='sp'>sp</label></th>
          <th class='ilbl od ilbl-cp c'><label for='cp'>cp</label></th>
          </tr>
          <tr><td class='ivar {{eo}} ivar-gp'><input value='{{variables.gp|default}}' class='form-control ivar ivar-gp c' id='gp' name='gp' type='number' /></td><td class='ivar {{eo}} ivar-sp'><input value='{{variables.sp|default}}' class='form-control ivar ivar-sp c' id='sp' name='sp' type='number' /></td><td class='ivar {{eo}} ivar-cp'><input value='{{variables.cp|default}}' class='form-control ivar ivar-cp c' id='cp' name='cp' type='number' /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Notes</div>
        <div class='card-body of'>
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3' >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>