{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genTrait(tr = '', type = '') %}{% if tr != '' %}{% set pf = '' %}{% set base = 'trait' %}
{% set tr = tr|trim|upper %}{% if type != '' %}{% set base = type %}{% endif %}
{% if tr == 'COMMON' %}{% set pf = 'r_common' %}
{% elseif tr == 'UNCOMMON' %}{% set pf = 'r_uncommon' %}
{% elseif tr == 'RARE' %}{% set pf = 'r_rare' %}
{% elseif tr == 'UNIQUE' %}{% set pf = 'r_unique' %}{% endif %}
<span class="trait {{base}} {{pf}}">{{tr}}</span>{% endif %}{% endmacro genTrait %}
{# ---------------------------------------------- #}
<div class="container-fluid pf2-rpg">
	<div class="pf2-item-block col-12">
		<div class="row align-self-start">
			<div class="col-12 card">
				<div class="card-header pf-red-bg">
				{{ variables.name }} {% if variables.level is defined and variables.level != '' %}<span class="level">ITEM {{ variables.level}}</span>{% endif %}
				</div>
				<div class="card-body txt">
                    {% if variables.itemflags is defined and variables.itemflags != '' %}
                    {% set list = variables.itemflags|split(',') %}{% for tr in list %}{{ sheet.genTrait(tr) }}{% endfor %}{% endif %}<br><br>
                    {% if variables.itemart is defined and variables.itemart != "" %}
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="usage">
                                    {% if variables.usage is defined and variables.usage != "" %}
                                        <span class="descriptor">Usage</span> {{ variables.usage }};
                                    {% endif %}
                                    {% if variables.bulk is defined and variables.bulk != "" %}
                                        <span class="descriptor">Bulk</span> {{ variables.bulk }};
                                    {% endif %}
                                    {% if variables.activate is defined and variables.activate != "" %}
                                        <span class="descriptor">Activate</span> {{ variables.activate }};
                                    {% endif %}
                                </div>
                                <hr class="divider" />
                                {% if variables.description is defined and variables.description != "" %}
                                    <div class="itemtext">
                                        {{ variables.description }}
                                    </div>
                                    <hr class="divider" />
                                {% endif %}
                                {% if variables.firsttype is defined and variables.firsttype != "" %}
                                    <div class="itemtext">
                                        <span class="descriptor">Type</span> {{ variables.firsttype }};
                                        {% if variables.firstlevel is defined and variables.firstlevel != "" %}
                                            <span class="descriptor">Level</span> {{ variables.firstlevel }};
                                        {% endif %}
                                        {% if variables.firstprice is defined and variables.firstprice != "" %}
                                            <span class="descriptor">Price</span> {{ variables.firstprice }};
                                        {% endif %}
                                        {% if variables.firsttext is defined and variables.firstprice != "" %}
                                            <div class="typetext">
                                                {{ variables.firsttext|nl2br }}
                                            </div>
                                        {% endif %}
                                        <hr class="divider" />
                                    </div>
                                {% endif %}
                                {% if variables.secondtype is defined and variables.secondtype != "" %}
                                    <div class="itemtext">
                                        <span class="descriptor">Type</span> {{ variables.secondtype }};
                                        {% if variables.secondlevel is defined and variables.secondlevel != "" %}
                                            <span class="descriptor">Level</span> {{ variables.secondlevel }};
                                        {% endif %}
                                        {% if variables.secondprice is defined and variables.secondprice != "" %}
                                            <span class="descriptor">Price</span> {{ variables.secondprice }};
                                        {% endif %}
                                        {% if variables.secondtext is defined and variables.secondprice != "" %}
                                            <div class="typetext">
                                                {{ variables.secondtext|nl2br }}
                                            </div>
                                        {% endif %}
                                        <hr class="divider" />
                                    </div>
                                {% endif %}
                                {% if variables.thirdtype is defined and variables.thirdtype != "" %}
                                    <div class="itemtext">
                                        <span class="descriptor">Type</span> {{ variables.thirdtype }};
                                        {% if variables.thirdlevel is defined and variables.thirdlevel != "" %}
                                            <span class="descriptor">Level</span> {{ variables.thirdlevel }};
                                        {% endif %}
                                        {% if variables.thirdprice is defined and variables.thirdprice != "" %}
                                            <span class="descriptor">Price</span> {{ variables.thirdprice }};
                                        {% endif %}
                                        {% if variables.thirdtext is defined and variables.thirdprice != "" %}
                                            <div class="typetext">
                                                {{ variables.thirdtext|nl2br }}
                                            </div>
                                        {% endif %}
                                        <hr class="divider" />
                                    </div>
                                {% endif %}
                                {% if variables.fourthtype is defined and variables.fourthtype != "" %}
                                    <div class="itemtext">
                                        <span class="descriptor">Type</span> {{ variables.fourthtype }};
                                        {% if variables.fourthlevel is defined and variables.fourthlevel != "" %}
                                            <span class="descriptor">Level</span> {{ variables.fourthlevel }};
                                        {% endif %}
                                        {% if variables.fourthprice is defined and variables.fourthprice != "" %}
                                            <span class="descriptor">Price</span> {{ variables.fourthprice }};
                                        {% endif %}
                                        {% if variables.fourthtext is defined and variables.fourthprice != "" %}
                                            <div class="typetext">
                                                {{ variables.fourthtext|nl2br }}
                                            </div>
                                        {% endif %}
                                        <hr class="divider" />
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-12 col-lg-4">
                                [img:{{ variables.itemart }}|nolink] 
                            </div>
                        </div>
                    {% else %}
                        <div class="usage">
                            {% if variables.usage is defined and variables.usage != "" %}
                                <span class="descriptor">Usage</span> {{ variables.usage }};
                            {% endif %}
                            {% if variables.bulk is defined and variables.bulk != "" %}
                                <span class="descriptor">Bulk</span> {{ variables.bulk }};
                            {% endif %}
                            {% if variables.activate is defined and variables.activate != "" %}
                                <span class="descriptor">Activate</span> {{ variables.activate }};
                            {% endif %}
                        </div>
                        <hr class="divider" />
                        {% if variables.description is defined and variables.description != "" %}
                            <div class="itemtext">
                                {{ variables.description }}
                            </div>
                            <hr class="divider" />
                        {% endif %}
                        {% if variables.firsttype is defined and variables.firsttype != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.firsttype }};
                                {% if variables.firstlevel is defined and variables.firstlevel != "" %}
                                    <span class="descriptor">Level</span> {{ variables.firstlevel }};
                                {% endif %}
                                {% if variables.firstprice is defined and variables.firstprice != "" %}
                                    <span class="descriptor">Price</span> {{ variables.firstprice }};
                                {% endif %}
                                {% if variables.firsttext is defined and variables.firstprice != "" %}
                                    <div class="typetext">
                                        {{ variables.firsttext|nl2br }}
                                    </div>
                                {% endif %}
                                <hr class="divider" />
                            </div>
                        {% endif %}
                        {% if variables.secondtype is defined and variables.secondtype != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.secondtype }};
                                {% if variables.secondlevel is defined and variables.secondlevel != "" %}
                                    <span class="descriptor">Level</span> {{ variables.secondlevel }};
                                {% endif %}
                                {% if variables.secondprice is defined and variables.secondprice != "" %}
                                    <span class="descriptor">Price</span> {{ variables.secondprice }};
                                {% endif %}
                                {% if variables.secondtext is defined and variables.secondprice != "" %}
                                    <div class="typetext">
                                        {{ variables.secondtext|nl2br }}
                                    </div>
                                {% endif %}
                                <hr class="divider" />
                            </div>
                        {% endif %}
                        {% if variables.thirdtype is defined and variables.thirdtype != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.thirdtype }};
                                {% if variables.thirdlevel is defined and variables.thirdlevel != "" %}
                                    <span class="descriptor">Level</span> {{ variables.thirdlevel }};
                                {% endif %}
                                {% if variables.thirdprice is defined and variables.thirdprice != "" %}
                                    <span class="descriptor">Price</span> {{ variables.thirdprice }};
                                {% endif %}
                                {% if variables.thirdtext is defined and variables.thirdprice != "" %}
                                    <div class="typetext">
                                        {{ variables.thirdtext|nl2br }}
                                    </div>
                                {% endif %}
                                <hr class="divider" />
                            </div>
                        {% endif %}
                        {% if variables.fourthtype is defined and variables.fourthtype != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.fourthtype }};
                                {% if variables.fourthlevel is defined and variables.fourthlevel != "" %}
                                    <span class="descriptor">Level</span> {{ variables.fourthlevel }};
                                {% endif %}
                                {% if variables.fourthprice is defined and variables.fourthprice != "" %}
                                    <span class="descriptor">Price</span> {{ variables.fourthprice }};
                                {% endif %}
                                {% if variables.fourthtext is defined and variables.fourthprice != "" %}
                                    <div class="typetext">
                                        {{ variables.fourthtext|nl2br }}
                                    </div>
                                {% endif %}
                                <hr class="divider" />
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>