<div class="container-fluid dnd35-sheet">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-header head-bar c">{{ variables.name }} - {{ variables.type ?? '' }}</div>
            </div>
        </div>
        {% if variables.description is defined and variables.description != '' %}
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                        <tr><td class="lbl c">Description</td></tr>
                        <tr><td class="txt">{{ variables.description is defined ? variables.description|nl2br }}</td></tr>
                    </table>
                </div>
            </div>{% endif %}
            {% if variables.prerequisite is defined and variables.prerequisite != '' %}
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                        <tr><td class="lbl c">Prerequisite</td></tr>
                        <tr><td class="txt">{{ variables.prerequisite is defined ? variables.prerequisite|nl2br }}</td></tr>
                    </table>
                </div>
            </div>
        </div>{% endif %}
        {% if variables.normal is defined and variables.normal != '' %}
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                        <tr><td class="lbl c">Normal</td></tr>
                        <tr><td class="txt">{{ variables.normal is defined ? variables.normal|nl2br }}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% if variables.benefit is defined and variables.benefit != '' %}
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                        <tr><td class="lbl c">Benefit</td></tr>
                        <tr><td class="txt">{{ variables.benefit is defined ? variables.benefit|nl2br }}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% if variables.special is defined and variables.special != '' %}
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-body od">
                    <table width="100%">
                        <tr><td class="lbl c">Special</td></tr>
                        <tr><td class="txt">{{ variables.special is defined ? variables.special|nl2br }}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>