<div class="container-fluid dnd35-sheet">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-header head-bar c">{{ variables.name }} - {{ variables.type ?? '' }}</div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                {% if variables.description is defined and variables.description != '' %}<strong>Description:</strong><br>
                {{ variables.description is defined ? variables.description|nl2br }}<br><br>{% endif %}
                {% if variables.prerequisite is defined and variables.prerequisite != '' %}<strong>Prerequisite:</strong><br>
                {{ variables.prerequisite is defined ? variables.prerequisite|nl2br }}{% endif %}
                </div>
            </div>
        </div>
        {% if variables.normal is defined and variables.normal != '' %}
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                <strong>Normal:</strong><br>
                {{ variables.normal is defined ? variables.normal|nl2br }}
                </div>
            </div>
        </div>
        {% endif %}
        {% if variables.benefit is defined and variables.benefit != '' %}
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                <strong>Benefit:</strong><br>
                {{ variables.benefit is defined ? variables.benefit|nl2br }}
                </div>
            </div>
        </div>
        {% endif %}
        {% if variables.special is defined and variables.special != '' %}
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                <strong>Special:</strong><br>
                {{ variables.special is defined ? variables.special|nl2br }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>