<div class="container-fluid dnd35-sheet">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-header head-bar c">{{ variables.name }} {% if variables.type|default != "" %}-{% endif %} {{ variables.type|default }}</div>
            </div>
            {% if variables.description|default != '' %}
            <div class="card my-2 of">
                <div class="card-header lbl c">Description</div>
                <div class="card-body od txt l">
                    {{ variables.description|default|nl2br }}
                </div>
            </div>
            {% endif %}
            {% if variables.prerequisite|default != '' %}
            <div class="card my-2 of">
                <div class="card-header lbl c">Prerequisite</div>
                <div class="card-body od txt l">
                    {{ variables.prerequisite|default|nl2br }}
                </div>
            </div>
            {% endif %}
            {% if variables.normal|default != '' %}
            <div class="card my-2 of">
                <div class="card-header lbl c">Normal</div>
                <div class="card-body od txt l">
                    {{ variables.normal|default|nl2br }}
                </div>
            </div>
            {% endif %}
            {% if variables.benefit|default != '' %}
            <div class="card my-2 of">
                <div class="card-header lbl c">Benefit</div>
                <div class="card-body od txt l">
                    {{ variables.benefit|default|nl2br }}
                </div>
            </div>
            {% endif %}
            {% if variables.special|default != '' %}
            <div class="card my-2 of">
                <div class="card-header lbl c">Special</div>
                <div class="card-body od txt l">
                    {{ variables.special|default|nl2br }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>