<div class="container-fluid dnd35-sheet">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-header head-bar c">Feat</div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                <strong>Name:</strong><br>
                <input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control mx400" id="name" name="name" placeholder="The name of the spell" type="text" /><br>
                <strong>Type:</strong><br>
                <input value="{{ variables.type is defined ? variables.type }}"  class="form-control mx400" id="type" name="type" placeholder="eg. general, psionic, epic" type="text" /><br>
                <strong>Description:</strong><br>
                <textarea class="form-control" id="description" name="description" rows="5">{{ variables.description is defined ? variables.description }}</textarea><br>
                <strong>Prerequisite:</strong><br>
                <textarea class="form-control" id="prerequisite" name="prerequisite" rows="5">{{ variables.prerequisite is defined ? variables.prerequisite }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                <strong>Normal:</strong><br>
                <textarea class="form-control" id="normal" name="normal" rows="5">{{ variables.normal is defined ? variables.normal }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                <strong>Benefit:</strong><br>
                <textarea class="form-control" id="benefit" name="benefit" rows="5">{{ variables.benefit is defined ? variables.benefit }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body od pd10">
                <strong>Special:</strong><br>
                <textarea class="form-control" id="special" name="special" rows="5">{{ variables.special is defined ? variables.special }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>