{% import _self as sheet %}
{# ------------------------- #}
{% macro genCreature(agi, awa, bra, coo, int, per, will, details) %}
{% if details != '' %}<tr><td class="hdr c" colspan=7>Details</td></tr>
<tr><td class="txt l" colspan=7>{{details}}</td></tr>{% endif %}
<tr><td class="att c" colspan=7>Attributes</td></tr>
<tr><th class="hdr c" title="Agility">Agi</th>
    <th class="hdr c" title="Awareness">Awa</th>
    <th class="hdr c" title="Brawn">Brw</th>
    <th class="hdr c" title="Coordination">Coo</th>
    <th class="hdr c" title="Intelligence">Int</th>
    <th class="hdr c" title="Personality">Per</th>
    <th class="hdr c" title="Willpower">Will</th></tr>
<tr><td class="txt c">{{agi}}</td>
    <td class="txt c">{{awa}}</td>
    <td class="txt c">{{bra}}</td>
    <td class="txt c">{{coo}}</td>
    <td class="txt c">{{int}}</td>
    <td class="txt c">{{per}}</td>
    <td class="txt c">{{will}}</td></tr>{% endmacro genCreature %}
{# ------------------------- #}
<div class="container-fluid conan-sheet">
    <div class="row">
        <div class="col-12">
            <div class="card my-2">
                <div class="card-header head-bar">Name: {{variables.name}}</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            {{ sheet.genCreature(variables.creature_agility_01, variables.creature_awareness_01, variables.creature_brawn_01, variables.creature_coordination_01, variables.creature_intelligence_01, variables.creature_personality_01, variables.creature_willpower_01, variables.creature_details_01 ) }}
                            <tr><td class="att c" colspan=7>Fields of Experience</td></tr>
                            <tr>
                                <th class="hdr c" colspan=2>Combat</th><td class="txt c">{{ variables.combat is defined ? variables.combat }}</td><td class="nobg" rowspan=3>&nbsp;</td>
                                <th class="hdr c" colspan=2 >Movement</th><td class="txt c">{{ variables.movement is defined ? variables.movement }}</td>
                            </tr>
                            <tr>
                                <th class="hdr c" colspan=2 >Fortitude</th><td class="txt c">{{ variables.fortitude is defined ? variables.fortitude }}</td>
                                <th class="hdr c" colspan=2 >Senses</th><td class="txt c">{{ variables.senses is defined ? variables.senses }}</td>
                            </tr>
                            <tr>
                                <th class="hdr c" colspan=2 >Knowledge</th><td class="txt c">{{ variables.knowledge is defined ? variables.knowledge }}</td>
                                <th class="hdr c" colspan=2 >Social</th><td class="txt c">{{ variables.social is defined ? variables.social }}</td>
                            </tr>
                            {% if variables.stress_and_soak is defined %}
                            <tr><td class="att c" colspan=7>Stress and Soak</td></tr>
                            <tr><td class="txt l" colspan=7>{{ variables.stress_and_soak is defined ? variables.stress_and_soak }}</td></tr>{% endif %}
                            {% if variables.stress_and_soak is defined %}
                            <tr><td class="att c" colspan=7>Attacks</td></tr>
                            <tr><td class="txt l" colspan=7>{{ variables.attacks is defined ? variables.attacks }}</td></tr>{% endif %}
                            {% if variables.stress_and_soak is defined %}
                            <tr><td class="att c" colspan=7>Special Abilities</td></tr>
                            <tr><td class="txt l" colspan=7>{{ variables.special_abilities is defined ? variables.special_abilities }}</td></tr>{% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>