<div class="gold"></div>
<div class="inside-content">
    <div class="form-wrapper">
        <div class="ibox">
            <div class="ibox-content">
                <label for="name" class="col-sm-6 control-label">
                    <h4 class="header-title">Name</h4>
                </label>
                <div class="col-sm-12">
                    <input  value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of theSpell (2020)" type="text" />
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="spell_level" class="col-sm-6 control-label">
                    <h4 class="header-title">Level</h4>
                </label>
                <div class="col-sm-12">
                    <select   class="form-control"  id="spell_level" name="spell_level">
                        <option value="0-level (Cantrip)" {% if variables.spell_level is defined and variables.spell_level == "0-level (Cantrip)"  %}selected="selected" {% endif %}  >0-level (Cantrip)</option>
                        <option value="1-level" {% if variables.spell_level is defined and variables.spell_level == "1-level"  %}selected="selected" {% endif %}  >1-level</option>
                        <option value="2-level" {% if variables.spell_level is defined and variables.spell_level == "2-level"  %}selected="selected" {% endif %}  >2-level</option>
                        <option value="3-level" {% if variables.spell_level is defined and variables.spell_level == "3-level"  %}selected="selected" {% endif %}  >3-level</option>
                        <option value="4-level" {% if variables.spell_level is defined and variables.spell_level == "4-level"  %}selected="selected" {% endif %}  >4-level</option>
                        <option value="5-level" {% if variables.spell_level is defined and variables.spell_level == "5-level"  %}selected="selected" {% endif %}  >5-level</option>
                        <option value="6-level" {% if variables.spell_level is defined and variables.spell_level == "6-level"  %}selected="selected" {% endif %}  >6-level</option>
                        <option value="7-level" {% if variables.spell_level is defined and variables.spell_level == "7-level"  %}selected="selected" {% endif %}  >7-level</option>
                        <option value="8-level" {% if variables.spell_level is defined and variables.spell_level == "8-level"  %}selected="selected" {% endif %}  >8-level</option>
                        <option value="9-level" {% if variables.spell_level is defined and variables.spell_level == "9-level"  %}selected="selected" {% endif %}  >9-level</option>
                    </select>
                    <p class="description form-control-description">Spell level</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="casting_time" class="col-sm-6 control-label">
                    <h4 class="header-title">Casting Time</h4>
                </label>
                <div class="col-sm-12">
                    <input value="{{ variables.casting_time is defined ? variables.casting_time }}"  class="form-control mention" id="casting_time" name="casting_time" placeholder="1 action" type="text" />
                    <p class="description form-control-description">Casting time required</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="range" class="col-sm-6 control-label">
                    <h4 class="header-title">Range/Area</h4>
                </label>
                <div class="col-sm-12">
                    <input value="{{ variables.range is defined ? variables.range }}"  class="form-control mention" id="range" name="range" placeholder="30ft" type="text" />
                    <p class="description form-control-description">Range</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="components" class="col-sm-6 control-label">
                    <h4 class="header-title">Components</h4>
                </label>
                <div class="col-sm-12">
                    <input value="{{ variables.components is defined ? variables.components }}"  class="form-control mention" id="components" name="components" placeholder="Verbal, Somatic, Material" type="text" />
                    <p class="description form-control-description">Casting components</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="materials" class="col-sm-6 control-label">
                    <h4 class="header-title">Materials</h4>
                </label>
                <div class="col-sm-12">
                    <input value="{{ variables.materials is defined ? variables.materials }}"  class="form-control mention" id="materials" name="materials" placeholder="" type="text" />
                    <p class="description form-control-description">Material components, if any</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="duration" class="col-sm-6 control-label">
                    <h4 class="header-title">Duration</h4>
                </label>
                <div class="col-sm-12">
                    <input value="{{ variables.duration is defined ? variables.duration }}"  class="form-control mention" id="duration" name="duration" placeholder="1 hour" type="text" />
                    <p class="description form-control-description">Duration of spell effects</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="school" class="col-sm-6 control-label">
                    <h4 class="header-title">School</h4>
                </label>
                <div class="col-sm-12">
                    <select   class="form-control"  id="school" name="school">
                        <option value="Abjuration" {% if variables.school is defined and variables.school == "Abjuration"  %}selected="selected" {% endif %}  >Abjuration</option>
                        <option value="Conjuration" {% if variables.school is defined and variables.school == "Conjuration"  %}selected="selected" {% endif %}  >Conjuration</option>
                        <option value="Divination" {% if variables.school is defined and variables.school == "Divination"  %}selected="selected" {% endif %}  >Divination</option>
                        <option value="Enchantment" {% if variables.school is defined and variables.school == "Enchantment"  %}selected="selected" {% endif %}  >Enchantment</option>
                        <option value="Evocation" {% if variables.school is defined and variables.school == "Evocation"  %}selected="selected" {% endif %}  >Evocation</option>
                        <option value="Illusion" {% if variables.school is defined and variables.school == "Illusion"  %}selected="selected" {% endif %}  >Illusion</option>
                        <option value="Necromancy" {% if variables.school is defined and variables.school == "Necromancy"  %}selected="selected" {% endif %}  >Necromancy</option>
                        <option value="Transmutation" {% if variables.school is defined and variables.school == "Transmutation"  %}selected="selected" {% endif %}  >Transmutation</option>
                    </select>
                    <p class="description form-control-description">Associated school of magic</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="attack" class="col-sm-6 control-label">
                    <h4 class="header-title">Attack/Save</h4>
                </label>
                <div class="col-sm-12">
                    <input  value="{{ variables.attack is defined ? variables.attack }}"  class="form-control" id="attack" name="attack" placeholder="ranged" type="text" />
                    <p class="description form-control-description">Attack or Save roll required</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="effect" class="col-sm-6 control-label">
                    <h4 class="header-title">Damage/Effect</h4>
                </label>
                <div class="col-sm-12">
                    <input  value="{{ variables.effect is defined ? variables.effect }}"  class="form-control" id="effect" name="effect" placeholder="necrotic" type="text" />
                    <p class="description form-control-description">Type of damage or effect</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="higher_levels" class="col-sm-6 control-label">
                    <h4 class="header-title">Higher levels</h4>
                </label>
                <div class="col-sm-12">
                    <textarea class="form-control mention" id="higher_levels" name="higher_levels" rows="3" placeholder="">{{ variables.higher_levels is defined ? variables.higher_levels }}</textarea>
                    <p class="description form-control-description">Damage/Effect on higher levels</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="classes" class="col-sm-6 control-label">
                    <h4 class="header-title">Available for</h4>
                </label>
                <div class="col-sm-12">
                    <input  value="{{ variables.classes is defined ? variables.classes }}"  class="form-control mention" id="classes" name="classes" placeholder="Wizard, Sorcerer" type="text" />
                    <p class="description form-control-description">Classes which the spell is available for</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="ritual" class="col-sm-6 control-label">
                    <h4 class="header-title">Ritual</h4>
                </label>
                <div class="col-sm-12">
                    <input value="1" {% if variables.ritual is defined %}checked=checked{% endif %} class="form-control" id="ritual" name="ritual" type="checkbox" />
                    <p class="description form-control-description">Is it a ritual?</p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="spell_description" class="col-sm-6 control-label">
                    <h4 class="header-title">Spell Description</h4>
                </label>
                <div class="col-sm-12">
                    <textarea class="form-control mention" id="spell_description" name="spell_description" rows="12" placeholder="">{{ variables.spell_description is defined ? variables.spell_description }}</textarea>
                    <p class="description form-control-description"></p>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <label for="source" class="col-sm-6 control-label">
                    <h4 class="header-title">Source</h4>
                </label>
                <div class="col-sm-12">
                    <input value="{{ variables.source is defined ? variables.source }}" class="form-control" id="source" name="source" placeholder="Spells of Hydria" type="text" />
                    <p class="description form-control-description"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gold"></div>