<div class="gold"></div>
<div class="inside-content">
	{% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
	<p class="statblock-source">
		{% if variables.source is defined and variables.source|length > 0 %}
			<span title="Source">{{ variables.source }}</span>
		{% endif %}
		{% if meta.block.isSRD %}
			<span title="Source">SRD</span>
		{% endif %}
	</p>
	{% endif %}
	<h1>{{variables.name }}</h1>
	<p class="subheading">
		{% if variables.spell_level is defined %}{{variables.spell_level}}{% endif %}
		{% if variables.school is defined %}{{ variables.school }}{% endif %}
	</p>
	{% if variables.ritual is defined and variables.ritual == 1 %}Ritual - does not require spell slot, takes 10 minutes longer {% endif %}
<div class="dndline"></div>
	{% if variables.casting_time %}
		<div class="statblock-stat"><strong>Casting Time:</strong> <span>{{ variables.casting_time }} </span></div>
	{% endif %}
	{% if variables.range %}
		<div class="statblock-stat"><strong>Range/Area:</strong> <span> {{ variables.range }}</span></div>
	{% endif %}
	{% if variables.components %}
		<div class="statblock-stat"><strong>Components:</strong> <span>{{ variables.components }}</span></div>
	{% endif %}
	{% if variables.materials %}
		<div class="statblock-stat"><strong>Materials:</strong> <span> {{ variables.materials }}</span></div>
	{% endif %}
	{% if variables.duration %}
		<div class="statblock-stat"><strong>Duration:</strong> <span> {% if variables.requires_concentration is defined and variables.requires_concentration == 1 %} Concentration, {% endif %} {{ variables.duration }} </span></div>
	{% endif %}
	{% if variables.attack %}
		<div class="statblock-stat"><strong>Attack/Save:</strong> <span> {{ variables.attack }}</span></div>
	{% endif %}
	{% if variables.effect %}
		<div class="statblock-stat"><strong>Damage/Effect:</strong> <span> {{ variables.effect }}</span></div>
	{% endif %}
	{% if variables.spell_description %}
		<div class="statblock-stat desc"> {{ variables.spell_description }}</div>
	{% endif %}
	{% if variables.higher_levels %} <strong>At higher levels: </strong>{{variables.higher_levels}}{% endif %}
	{% if variables.classes %}
		<div class="statblock-stat"><strong>Available for:</strong> <span>{{ variables.classes }}</span></div>
	{% endif %}
</div>
<div class="gold"></div>