<div class="gold"></div>
<div class="inside-content">
	{% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
	<p class="statblock-source">
		{% if variables.source is defined and variables.source|length > 0 %}
			<span title="Source">{{ variables.source }}</span>
		{% endif %}
		{% if meta.block.isSRD %}
			<span title="Source">SRD</span>
		{% endif %}
	</p>
	{% endif %}
	<h1>{{variables.name }}</h1>
	<p class="subheading">
		{% if variables.spell_level is defined %}{{variables.spell_level}}{% endif %}
		{% if variables.school is defined %}{{ variables.school }}{% endif %}
		{% if variables.ritual is defined and variables.ritual == 1 %} Ritual  {% endif %}
	</p>
<div class="dndline"></div>
	{% if variables.casting_time %}
		<div class="statblock-stat"><strong>Casting Time</strong> <span>{{ variables.casting_time }} </span></div>
	{% endif %}
	{% if variables.range %}
		<div class="statblock-stat"><strong>Range</strong> <span> {{ variables.range }}</span></div>
	{% endif %}
	{% if variables.duration %}
		<div class="statblock-stat"><strong>Duration</strong> <span> {% if variables.concentration is defined and variables.concentration == 1 %} Concentration, {% endif %} {{ variables.duration }} </span></div>
	{% endif %}
	{% if variables.components %}
		<div class="statblock-stat"><strong>Components</strong> <span>{{ variables.components }}</span></div>
	{% endif %}
	{% if variables.materials %}
		<div class="statblock-stat"><strong>Materials</strong> <span> {{ variables.materials }}</span></div>
	{% endif %}
	<p class="m-t-10 m-b-20">
		{% if variables.spell_description %}
			{{variables.spell_description}}
		{% endif %}
		{% if variables.higher_levels %} <br><strong>At higher levels: </strong>{{variables.higher_levels}}{% endif %}
	</p>
	{% if variables.classes %}
		<div  class="statblock-stat"><strong>Class(es):</strong> <span>{{ variables.classes }}</span></div>
	{% endif %}
</div>
<div class="gold"></div>