{% if variables.source is defined %} <div class="pull-right"><span class="label label-info">{{ variables.source }}</span></div>{% endif %}
<h1 class="mb-1">{{ variables.name }}</h1>
{% if variables.short_description %}<p><em>{% if variables.short_description is defined %} {{ variables.short_description }} {% endif %}</em></p>{% endif %}
<hr>
<div class="row">
	{% if variables.prerequisite %}
		<div class="col-12">
			<h3>Prerequisite(s)</h3>
			{{ variables.prerequisite	}} 
		</div>
	{% endif %}
	{% if variables.benefit %}
		<div class="col-12">
			<h3>Benefits</h3>
			{{ variables.benefit	}} 
		</div>
	{% endif %}
	{% if variables.normal %}
		<div class="col-12">
			<h3>Normal</h3>
			{{ variables.normal	}} 
		</div>
	{% endif %}
	{% if variables.special %}
		<div class="col-12">
			<h3>Special</h3>
			{{ variables.special	}} 
		</div>
	{% endif %}
</div>