{% set strength = variables.strength_tmp|default %}{% if strength == "" %}{% set strength = variables.strength|default %}{% endif %}
{% set dexterity = variables.dexterity_tmp|default %}{% if dexterity == "" %}{% set dexterity = variables.dexterity|default %}{% endif %}
{% set endurance = variables.endurance_tmp|default %}{% if endurance == "" %}{% set endurance = variables.endurance|default %}{% endif %}
{% set psi = variables.psi_tmp|default %}{% if psi == "" %}{% set psi = variables.psi|default %}{% endif %}
{% macro genBonus(ch="", orig="") %}{# --------------------------------------- #}
{% set color="" %}{% set title="" %}
{% if orig != ch and orig != "" %}{% set color="red" %}{% set title="temporarily reduced from original value " ~ orig %}{% endif %}
{% set b = 0 %}
{% if ch == 0 %}{% set b = '-3' %}{% endif %}
{% if ch > 0 %}{% set b = '-2' %}{% endif %}
{% if ch > 2 %}{% set b = '-1' %}{% endif %}
{% if ch > 5 %}{% set b = '+0' %}{% endif %}
{% if ch > 8 %}{% set b = '+1' %}{% endif %}
{% if ch > 11 %}{% set b = '+2' %}{% endif %}
{% if ch > 14 %}{% set b = '+3' %}{% endif %}
{% set bf = "2d6" ~ b ~ "|" ~ b %}
<span class="{{color}}" title="{{title}}">[roll:{{bf}}]{% endmacro genBonus %}</span>
{% macro skillRoll(sk) %}{# --------------------------------------- #}
{% set b = 0 %}
{% if ch == 0 %}{% set b = '-3' %}{% endif %}
{% if ch > 0 %}{% set b = '-2' %}{% endif %}
{% if ch > 2 %}{% set b = '-1' %}{% endif %}
{% if ch > 5 %}{% set b = '+0' %}{% endif %}
{% if ch > 8 %}{% set b = '+1' %}{% endif %}
{% if ch > 11 %}{% set b = '+2' %}{% endif %}
{% if ch > 14 %}{% set b = '+3' %}{% endif %}
{% set bf = "2d6" ~ b ~ "|" ~ sk %}
[roll:{{bf}}]{% endmacro skillRoll %}
{% macro genSkill(id, name, val, dn) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}{% if name == '' %}{% set name = dn %}{% endif %}<tr>
    <th class="lbl l">{{name}}</th><td class="txt c {{eo}} skill" width="20%">{% if val == '' %}-{% else %}{{_self.skillRoll(val)}}{% endif %}</td>
</tr>{% endmacro genSkill %}
{% macro genArmour(id, name, rad, prot, kg, options) %}{% if name != '' %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
    <td class="lbl l">{{ name }}</td><td class="txt c {{eo}}">{{ rad }}</td><td class="txt c {{eo}}">{{ prot }}</td><td class="txt c {{eo}}">{{ kg }}</td><td class="txt l {{eo}}">{{ options }}</td>
</tr>{% endif %}{% endmacro genArmour %}
{% macro genWeapon(id, name, tl, range, dmg, kg, mag, traits) %}{% if name != '' %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
    <td class="lbl l">{{ name }}</td><td class="txt c {{eo}}">{{ tl }}</td><td class="txt c {{eo}}">{{ range }}</td><td class="txt c {{eo}}">{{ dmg }}</td><td class="txt c {{eo}}">{{ kg }}</td><td class="txt c {{eo}}">{{ mag }}</td><td class="txt l {{eo}}">{{ traits }}</td>
</tr>{% endif %}{% endmacro genWeapon %}
{% macro genAugment(id, name, tl, improv) %}{% if name != '' %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
    <td class="lbl l">{{ name }}</td><td class="txt c {{eo}}">{{ tl }}</td><td class="txt l {{eo}}">{{ improv }}</td>
</tr>{% endif %}{% endmacro genAugment %}
<div class="container-fluid mgt2-sheet">{# --------------------------------------- #}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 hidden-xs hidden-sm d-none d-lg-block">
            <div class="card my-2 of">
                <div class="card-header head-bar">Traveller (Mongoose 2nd ed)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">BACKGROUND <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseRow1" aria-expanded="true" aria-controls="collapseRow1"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseRow1" aria-labelledby="headingRow1">
                    <table width="100%">
                        <tr><th class="lbl l">Name</th><td class="txt r">{% if variables.name is defined %}{{variables.name}}{% endif %}</td></tr>
                        <tr><th class="lbl l">Rads</th><td class="txt r">{% if variables.rads is defined %}{{variables.rads}}{% endif %}</td></tr>
                        <tr><th class="lbl l">Age</th><td class="txt r">{% if variables.age is defined %}{{variables.age}}{% endif %}</td></tr>
                        <tr><th class="lbl l">Species</th><td class="txt r">{% if variables.species is defined %}{{variables.species}}{% endif %}</td></tr>
                        <tr><th class="lbl l">Species Traits</th><td class="txt r">{% if variables.species_traits is defined %}{{variables.species_traits}}{% endif %}</td></tr>
                        <tr><th class="lbl l">Homeworld</th><td class="txt r">{% if variables.homeworld is defined %}{{variables.homeworld}}{% endif %}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">FINANCES <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseRow1" aria-expanded="true" aria-controls="collapseRow1"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseRow1" aria-labelledby="headingRow1">
                    <table width="100%">
                        <tr><th class="lbl l">Pension</th><td class="txt r">{{variables.pension|default}}</td></tr>
                        <tr><th class="lbl l">Debt</th><td class="txt r">{{variables.debt|default}}</td></tr>
                        <tr><th class="lbl l">Cash On Hand</th><td class="txt r">{{variables.cash_on_hand|default}}</td></tr>
                        <tr><th class="lbl l">Monthly Ship Payments</th><td class="txt r">{{variables.monthly_ship_payments|default}}</td></tr>
                        <tr><th class="lbl l">Living Cost</th><td class="txt r">{{variables.living_cost|default}}</td></tr>
                    </table>
                </div>
            </div>
             <div class="card my-2 of">
                <div class="card-header head-bar">CAREERS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseRow1" aria-expanded="true" aria-controls="collapseRow1"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseRow1" aria-labelledby="headingRow1">
                    <table width="100%">
                        <tr>
                            <th class="lbl l">Career</th>
                            <th class="lbl c">Terms</th>
                            <th class="lbl c">Rank</th>
                        </tr>
                        {% for i in 1..8 %}
                            {% set t = '' %}{% if i > 1 %}{% set t = '_' ~ i %}{% endif %}
                            {% set name = attribute(variables, 'career_name' ~ t)|default %}
                            {% if name != "" %}
                            <tr>
                                <td class="txt l" width=50%>{{ name }}</td>
                                <td class="txt c" width=20%>{{ attribute(variables, 'career_terms' ~ t)|default }}</td>
                                <td class="txt c">{{ attribute(variables, 'career_rank' ~ t)|default }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2 of">
                <div class="card-header head-bar">CHARACTERISTICS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseChar" aria-expanded="true" aria-controls="collapseChar"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseChar" aria-labelledby="headingRow2">
                    <table width="100%">
                        <tr>
                            <th class="lbl c" colspan=2 title="strength"> STR</th>
                            <th class="lbl c" colspan=2 title="dexterity">DEX</th>
                            <th class="lbl c" colspan=2 title="endurance">END</th>
                            <th class="lbl c" colspan=2 title="intellect">INT</th>
                            <th class="lbl c" colspan=2 title="education">EDU</th>
                            <th class="lbl c" colspan=2 title="social">   SOC</th>
                            <th class="lbl c" colspan=2 title="psionics"> PSI</th>
                        </tr>
                        <tr>
                            <td class="hdr bonus c">{{ _self.genBonus(          strength, variables.strength  ?? 6) }}</td><td class="txt c"> {{           strength|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(          dexterity, variables.dexterity  ?? 6) }}</td><td class="txt c">{{          dexterity|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(          endurance, variables.endurance  ?? 6) }}</td><td class="txt c">{{          endurance|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(variables.intellect ?? 6 ) }}</td><td class="txt c">{{variables.intellect|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(variables.education ?? 6 ) }}</td><td class="txt c">{{variables.education|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(variables.social ?? 6 ) }}</td><td class="txt c">   {{variables.social|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(          psi, variables.psi  ?? 6) }}</td><td class="txt c">      {{          psi|default}}</td>
                        </tr>
                    </table>
                    {% if variables.usealt|default == 1 %}
                    <br>
                    <table width="100%">
                        <tr>
                            <th class="lbl c" colspan=2 title="charm"> CHA</th>
                            <th class="lbl c" colspan=2 title="luck">  LCK</th>
                            <th class="lbl c" colspan=2 title="morale">MRL</th>
                            <th class="lbl c" colspan=2 title="wealth">WLT</th>
                            <th class="lbl c" colspan=2 title="sanity">STY</th>
                        </tr>
                        <tr>
                            <td class="hdr bonus c">{{ _self.genBonus(variables.charm ?? 6 ) }}</td><td class="txt c"> {{variables.charm|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(variables.luck ?? 6 ) }}</td><td class="txt c">  {{variables.luck|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(variables.morale ?? 6 ) }}</td><td class="txt c">{{variables.morale|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(variables.wealth ?? 6 ) }}</td><td class="txt c">{{variables.wealth|default}}</td>
                            <td class="hdr bonus c">{{ _self.genBonus(variables.sanity ?? 6 ) }}</td><td class="txt c">{{variables.sanity|default}}</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">Study Period<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseStudy" aria-expanded="true" aria-controls="collapseStudy"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseStudy" aria-labelledby="headingRow2">
                    <table width="100%">
                        <tr>
                            <th class="lbl l">skill</th>
                            <th class="lbl c">weeks done</th>
                            <th class="lbl c">weeks req.</th>
                            <th class="lbl c">period finished</th>
                        </tr>
                        {% for i in 1..5 %}
                            {% set t = '' %}
                            {% if i > 1 %}{% set t = '_' ~ i %}{% endif %}
                            {% set skill = attribute(variables, 'train_skill' ~ t)|default %}
                            {% if skill != "" %}
                                <tr>
                                    <td class="txt l">{{ skill }}</td>
                                    <td class="txt c">{{ attribute(variables, 'train_weeks_done' ~ t)|default }}</td>
                                    <td class="txt c">{{ attribute(variables, 'train_weeks_required' ~ t)|default }}</td>
                                    <td class="txt c">{{ attribute(variables, 'train_periods' ~ t)|default }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Augments<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAugArm" aria-expanded="true" aria-controls="collapseAugArm"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseAugArm" aria-labelledby="headingRow2">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">Type</th>
                            <th class="hdr c">TL</th>
                            <th class="hdr c">Improvement</th>
                        </tr>
                        {{ _self.genAugment('01', variables.augment_type_01, variables.augment_tl_01, variables.augment_improvement_01) }}
                        {{ _self.genAugment('02', variables.augment_type_02, variables.augment_tl_02, variables.augment_improvement_02) }}
                        {{ _self.genAugment('03', variables.augment_type_03, variables.augment_tl_03, variables.augment_improvement_03) }}
                        {{ _self.genAugment('04', variables.augment_type_04, variables.augment_tl_04, variables.augment_improvement_04) }}
                        {{ _self.genAugment('05', variables.augment_type_05, variables.augment_tl_05, variables.augment_improvement_05) }}
                        {{ _self.genAugment('06', variables.augment_type_06, variables.augment_tl_06, variables.augment_improvement_06) }}
                        {{ _self.genAugment('07', variables.augment_type_07, variables.augment_tl_07, variables.augment_improvement_07) }}
                        {{ _self.genAugment('08', variables.augment_type_08, variables.augment_tl_08, variables.augment_improvement_08) }}
                        {{ _self.genAugment('09', variables.augment_type_09, variables.augment_tl_09, variables.augment_improvement_09) }}
                        {{ _self.genAugment('10', variables.augment_type_10, variables.augment_tl_10, variables.augment_improvement_10) }}
                        {{ _self.genAugment('11', variables.augment_type_11, variables.augment_tl_11, variables.augment_improvement_11) }}
                        {{ _self.genAugment('12', variables.augment_type_12, variables.augment_tl_12, variables.augment_improvement_12) }}
                        {{ _self.genAugment('13', variables.augment_type_13, variables.augment_tl_13, variables.augment_improvement_13) }}
                        {{ _self.genAugment('14', variables.augment_type_14, variables.augment_tl_14, variables.augment_improvement_14) }}
                        {{ _self.genAugment('15', variables.augment_type_15, variables.augment_tl_15, variables.augment_improvement_15) }}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Armour<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAugArm" aria-expanded="true" aria-controls="collapseAugArm"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseAugArm" aria-labelledby="headingCombat">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">Type</th>
                            <th class="hdr c">Rad</th>
                            <th class="hdr c">Prot.</th>
                            <th class="hdr c">KG</th>
                            <th class="hdr c">Options</th>
                        </tr>
                        {% for i in 1..10 %}
                        {% set id = i %}{% if i < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {{ _self.genArmour(id,
                            attribute(variables, "armour_type_" ~ id)|default, 
                            attribute(variables, "armour_rad_" ~ id)|default, 
                            attribute(variables, "armour_protection_" ~ id)|default, 
                            attribute(variables, "armour_kg_" ~ id)|default, 
                            attribute(variables, "armour_options_" ~ id)|default
                        ) }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2 of">
                <div class="card-header head-bar">Weapons<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCombat" aria-expanded="true" aria-controls="collapseCombat"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseCombat" aria-labelledby="headingCombat">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">Type</th>
                            <th class="hdr c">TL</th>
                            <th class="hdr c">Rng.</th>
                            <th class="hdr c">Dmg.</th>
                            <th class="hdr c">KG</th>
                            <th class="hdr c">#</th>
                            <th class="hdr c">Traits</th>
                        </tr>
                        {% for i in 1..20 %}
                        {% set id = i %}{% if i < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {{ _self.genWeapon(id,
                            attribute(variables, "weapon_" ~ id)|default, 
                            attribute(variables, "weapon_tl_" ~ id)|default, 
                            attribute(variables, "weapon_range_" ~ id)|default, 
                            attribute(variables, "weapon_dmg_" ~ id)|default, 
                            attribute(variables, "weapon_kg_" ~ id)|default, 
                            attribute(variables, "weapon_magazine_" ~ id)|default, 
                            attribute(variables, "weapon_traits_" ~ id)|default
                        ) }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-header head-bar">Skills<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="true" aria-controls="collapseSkills"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseSkills" aria-labelledby="headingRow3">
                    <table width="100%">
                        {{ _self.genSkill( '01', variables.skill_01, variables.skill_value_01, 'Admin') }}
                        {{ _self.genSkill( '02', variables.skill_02, variables.skill_value_02, 'Advocate') }}
                        {{ _self.genSkill( '03', variables.skill_03, variables.skill_value_03, 'Animals') }}
                        {{ _self.genSkill( '04', variables.skill_04, variables.skill_value_04, 'Animals:') }}
                        {{ _self.genSkill( '05', variables.skill_05, variables.skill_value_05, 'Animals:') }}
                        {{ _self.genSkill( '06', variables.skill_06, variables.skill_value_06, 'Athletics') }}
                        {{ _self.genSkill( '07', variables.skill_07, variables.skill_value_07, 'Athletics:') }}
                        {{ _self.genSkill( '08', variables.skill_08, variables.skill_value_08, 'Athletics:') }}
                        {{ _self.genSkill( '09', variables.skill_09, variables.skill_value_09, 'Art') }}
                        {{ _self.genSkill( '10', variables.skill_10, variables.skill_value_10, 'Art:') }}
                        {{ _self.genSkill( '11', variables.skill_11, variables.skill_value_11, 'Art:') }}
                        {{ _self.genSkill( '12', variables.skill_12, variables.skill_value_12, 'Astrogation') }}
                        {{ _self.genSkill( '13', variables.skill_13, variables.skill_value_13, 'Broker') }}
                        {{ _self.genSkill( '14', variables.skill_14, variables.skill_value_14, 'Carouse') }}
                        {{ _self.genSkill( '15', variables.skill_15, variables.skill_value_15, 'Deception') }}
                        {{ _self.genSkill( '16', variables.skill_16, variables.skill_value_16, 'Diplomat') }}
                        {{ _self.genSkill( '17', variables.skill_17, variables.skill_value_17, 'Drive') }}
                        {{ _self.genSkill( '18', variables.skill_18, variables.skill_value_18, 'Drive:') }}
                        {{ _self.genSkill( '19', variables.skill_19, variables.skill_value_19, 'Electronics') }}
                        {{ _self.genSkill( '20', variables.skill_20, variables.skill_value_20, 'Electronics:') }}
                        {{ _self.genSkill( '21', variables.skill_21, variables.skill_value_21, 'Electronics:') }}
                        {{ _self.genSkill( '22', variables.skill_22, variables.skill_value_22, 'Engineer') }}
                        {{ _self.genSkill( '23', variables.skill_23, variables.skill_value_23, 'Engineer:') }}
                        {{ _self.genSkill( '24', variables.skill_24, variables.skill_value_24, 'Engineer:') }}
                        {{ _self.genSkill( '25', variables.skill_25, variables.skill_value_25, 'Explosives') }}
                        {{ _self.genSkill( '26', variables.skill_26, variables.skill_value_26, 'Flyer') }}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-header head-bar">Skills<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="true" aria-controls="collapseSkills"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseSkills" aria-labelledby="headingRow3">
                    <table width="100%">
                        {{ _self.genSkill( '27', variables.skill_27, variables.skill_value_27, 'Flyer:') }}
                        {{ _self.genSkill( '28', variables.skill_28, variables.skill_value_28, 'Flyer:') }}
                        {{ _self.genSkill( '29', variables.skill_29, variables.skill_value_29, 'Gambler') }}
                        {{ _self.genSkill( '30', variables.skill_30, variables.skill_value_30, 'Gunner') }}
                        {{ _self.genSkill( '31', variables.skill_31, variables.skill_value_31, 'Gunner:') }}
                        {{ _self.genSkill( '32', variables.skill_32, variables.skill_value_32, 'Gun Combat') }}
                        {{ _self.genSkill( '33', variables.skill_33, variables.skill_value_33, 'Gun Combat:') }}
                        {{ _self.genSkill( '34', variables.skill_34, variables.skill_value_34, 'Gun Combat:') }}
                        {{ _self.genSkill( '35', variables.skill_35, variables.skill_value_35, 'Heavy Weapons') }}
                        {{ _self.genSkill( '36', variables.skill_36, variables.skill_value_36, 'Heavy Weapons:') }}
                        {{ _self.genSkill( '37', variables.skill_37, variables.skill_value_37, 'Investigate') }}
                        {{ _self.genSkill( '38', variables.skill_38, variables.skill_value_38, 'Jack of all Trades') }}
                        {{ _self.genSkill( '39', variables.skill_39, variables.skill_value_39, 'Language') }}
                        {{ _self.genSkill( '40', variables.skill_40, variables.skill_value_40, 'Language:') }}
                        {{ _self.genSkill( '41', variables.skill_41, variables.skill_value_41, 'Language:') }}
                        {{ _self.genSkill( '42', variables.skill_42, variables.skill_value_42, 'Leadership') }}
                        {{ _self.genSkill( '43', variables.skill_43, variables.skill_value_43, 'Mechanic') }}
                        {{ _self.genSkill( '44', variables.skill_44, variables.skill_value_44, 'Medic') }}
                        {{ _self.genSkill( '45', variables.skill_45, variables.skill_value_45, 'Melee') }}
                        {{ _self.genSkill( '46', variables.skill_46, variables.skill_value_46, 'Melee:') }}
                        {{ _self.genSkill( '47', variables.skill_47, variables.skill_value_47, 'Navigation') }}
                        {{ _self.genSkill( '48', variables.skill_48, variables.skill_value_48, 'Persuade') }}
                        {{ _self.genSkill( '49', variables.skill_49, variables.skill_value_49, 'Pilot') }}
                        {{ _self.genSkill( '50', variables.skill_50, variables.skill_value_50, 'Pilot:') }}
                        {{ _self.genSkill( '51', variables.skill_51, variables.skill_value_51, 'Pilot:') }}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-header head-bar">Skills<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="true" aria-controls="collapseSkills"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseSkills" aria-labelledby="headingRow3">
                    <table width="100%">
                        {{ _self.genSkill( '52', variables.skill_52, variables.skill_value_52, 'Profession') }}
                        {{ _self.genSkill( '53', variables.skill_53, variables.skill_value_53, 'Profession:') }}
                        {{ _self.genSkill( '54', variables.skill_54, variables.skill_value_54, 'Profession:') }}
                        {{ _self.genSkill( '55', variables.skill_55, variables.skill_value_55, 'Recon') }}
                        {{ _self.genSkill( '56', variables.skill_56, variables.skill_value_56, 'Science') }}
                        {{ _self.genSkill( '57', variables.skill_57, variables.skill_value_57, 'Science:') }}
                        {{ _self.genSkill( '58', variables.skill_58, variables.skill_value_58, 'Science:') }}
                        {{ _self.genSkill( '59', variables.skill_59, variables.skill_value_59, 'Seafarer') }}
                        {{ _self.genSkill( '60', variables.skill_60, variables.skill_value_60, 'Seafarer:') }}
                        {{ _self.genSkill( '61', variables.skill_61, variables.skill_value_61, 'Stealth') }}
                        {{ _self.genSkill( '62', variables.skill_62, variables.skill_value_62, 'Steward') }}
                        {{ _self.genSkill( '63', variables.skill_63, variables.skill_value_63, 'Streetwise') }}
                        {{ _self.genSkill( '64', variables.skill_64, variables.skill_value_64, 'Survival') }}
                        {{ _self.genSkill( '65', variables.skill_65, variables.skill_value_65, 'Tactics') }}
                        {{ _self.genSkill( '66', variables.skill_66, variables.skill_value_66, 'Tactics:') }}
                        {{ _self.genSkill( '67', variables.skill_67, variables.skill_value_67, 'Vacc Suit') }}
                        {{ _self.genSkill( '68', variables.skill_68, variables.skill_value_68, '') }}
                        {{ _self.genSkill( '69', variables.skill_69, variables.skill_value_69, '') }}
                        {{ _self.genSkill( '70', variables.skill_70, variables.skill_value_70, '') }}
                        {{ _self.genSkill( '71', variables.skill_71, variables.skill_value_71, '') }}
                        {{ _self.genSkill( '72', variables.skill_72, variables.skill_value_72, '') }}
                        {{ _self.genSkill( '73', variables.skill_73, variables.skill_value_73, '') }}
                        {{ _self.genSkill( '74', variables.skill_74, variables.skill_value_74, '') }}
                        {{ _self.genSkill( '75', variables.skill_75, variables.skill_value_75, '') }}
                        {{ _self.genSkill( '99', "Roll unlearned skill", -3, '') }}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if variables.npcs|default != "" %}
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">NPCs <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBottom" aria-expanded="true" aria-controls="collapseBottom"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseBottom" aria-labelledby="headingBottom">
                    {{variables.npcs|nl2br }}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Equipment <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBottom" aria-expanded="true" aria-controls="collapseBottom"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseBottom" aria-labelledby="headingBottom">
                    {{variables.equipment|nl2br }}<br><br>
                    Total carried mass: {{variables.equipment_mass }}
                </div>
            </div>
        </div>
        {% if variables.notes|default != "" %}
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBottom" aria-expanded="true" aria-controls="collapseBottom"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseBottom" aria-labelledby="headingBottom">
                    {{variables.notes|nl2br }}
                </div>
            </div>
        </div>
        {% endif %}
        {% if variables.history|default != "" %}
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">History <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBottom" aria-expanded="true" aria-controls="collapseBottom"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseBottom" aria-labelledby="headingBottom">
                    {{variables.history|nl2br }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <small>
                Copyright &copy; <a href="https://www.mongoosepublishing.com/">Mongoose Publishing</a><br><a href="/w/sheet-creation/a/sheet-list">Traveller (Mongoose 2nd ed) Character Sheet v1.1[strike][/strike]</a>, made by Tillerz - updated: 2026-04-26
            </small>
        </div>
    </div>
</div>