{% macro genBonus(ch) %}
{% set b = 0 %}
{% if ch == 0 %}{% set b = '-3' %}{% endif %}
{% if ch > 0 %}{% set b = '-2' %}{% endif %}
{% if ch > 2 %}{% set b = '-1' %}{% endif %}
{% if ch > 5 %}{% set b = '+0' %}{% endif %}
{% if ch > 8 %}{% set b = '+1' %}{% endif %}
{% if ch > 11 %}{% set b = '+2' %}{% endif %}
{% if ch > 14 %}{% set b = '+3' %}{% endif %}
{{b}}{% endmacro genBonus %}
{# --------------------------------------- #}
{% macro genSkill(id, name, val, dn) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}{% if name == '' %}{% set name = dn %}{% endif %}<tr>
    <th class="lbl l"><input value="{{ name }}" class="form-control" id="skill_{{id}}" name="skill_{{id}}" type="text" /></th>
    <td class="txt c {{eo}}" width="20%"><input value="{{ val }}" class="form-control c" id="skill_value_{{id}}" name="skill_value_{{id}}" type="text" /></td>
</tr>{% endmacro genSkill %}
{# --------------------------------------- #}
{% macro genArmour(id, name, rad, prot, kg, options) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
    <td class="lbl l"><input value="{{ name }}" class="form-control" id="armour_type_{{id}}" name="armour_type_{{id}}" type="text" /></td>
    <td class="txt c {{eo}}"><input value="{{ rad }}" class="form-control c" id="armour_rad_{{id}}" name="armour_rad_{{id}}" type="text" /></td>
    <td class="txt c {{eo}}"><input value="{{ prot }}" class="form-control c" id="armour_protection_{{id}}" name="armour_protection_{{id}}" type="text" /></td>
    <td class="txt c {{eo}}"><input value="{{ kg }}" class="form-control c" id="armour_kg_{{id}}" name="armour_kg_{{id}}" type="text" /></td>
    <td class="txt l {{eo}}"><input value="{{ options }}" class="form-control" id="armour_options_{{id}}" name="armour_options_{{id}}" type="text" /></td>
</tr>{% endmacro genArmour %}
{# --------------------------------------- #}
{% macro genWeapon(id, name, tl, range, dmg, kg, mag, traits) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
    <td class="lbl l"><input value="{{ name }}" class="form-control" id="weapon_{{id}}" name="weapon_{{id}}" type="text" /></td>
    <td class="txt c {{eo}}"><input value="{{ tl }}" class="form-control c" id="weapon_tl_{{id}}" name="weapon_tl_{{id}}" type="text" /></td>
    <td class="txt c {{eo}}"><input value="{{ range }}" class="form-control c" id="weapon_range_{{id}}" name="weapon_range_{{id}}" type="text" /></td>
    <td class="txt c {{eo}}"><input value="{{ dmg }}" class="form-control c" id="weapon_dmg_{{id}}" name="weapon_dmg_{{id}}" type="text" /></td>
    <td class="txt c {{eo}}"><input value="{{ kg }}" class="form-control c" id="weapon_kg_{{id}}" name="weapon_kg_{{id}}" type="text" /></td>
    <td class="txt c {{eo}}"><input value="{{ mag }}" class="form-control c" id="weapon_magazine_{{id}}" name="weapon_magazine_{{id}}" type="text" /></td>
    <td class="txt l {{eo}}"><input value="{{ traits }}" class="form-control" id="weapon_traits_{{id}}" name="weapon_traits_{{id}}" type="text" /></td>
</tr>{% endmacro genWeapon %}
{# --------------------------------------- #}
{% macro genAugment(id, name, tl, improv) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
    <td class="lbl l"><input value="{{ name }}" class="form-control" id="augment_type_{{id}}" name="augment_type_{{id}}" type="text" /></td>
    <td class="txt c {{eo}}"><input value="{{ tl }}" class="form-control c" id="augment_tl_{{id}}" name="augment_tl_{{id}}" type="text" /></td>
    <td class="txt l {{eo}}"><input value="{{ improv }}" class="form-control" id="augment_improvement_{{id}}" name="augment_improvement_{{id}}" type="text" /></td>
</tr>{% endmacro genAugment %}
{# --------------------------------------- #}
<div class="container-fluid mgt2-sheet">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 hidden-xs hidden-sm d-none d-lg-block">
            <div class="card my-2 of">
                <div class="card-header head-bar">Traveller (Mongoose 2nd ed)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2 di">
                <input value="1" {% if variables.usealt|default == 1 %} checked="checked"{% endif %} id="usealt" name="usealt" type="checkbox" /> Use alternate characteristics (save sheet after changing!)
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">BACKGROUND</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        <tr><th class="lbl l">Name</th><td class="txt r"><input value="{{ variables.name|default }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the character" type="text" /></td></tr>
                        <tr><th class="lbl l">Rads</th><td class="txt r"><input value="{{ variables.rads|default }}" class="form-control" id="rads" name="rads" type="text" /></td></tr>
                        <tr><th class="lbl l">Age</th><td class="txt r"><input value="{{ variables.age|default }}" class="form-control" id="age" name="age" type="text" /></td></tr>
                        <tr><th class="lbl l">Species</th><td class="txt r"><input value="{{ variables.species|default }}" class="form-control" id="species" name="species" placeholder="eg human" type="text" /></td></tr>
                        <tr><th class="lbl l">Species Traits</th><td class="txt r"><input value="{{ variables.species_traits|default }}" class="form-control" id="species_traits" name="species_traits" type="text" /></td></tr>
                        <tr><th class="lbl l">Homeworld</th><td class="txt r"><input value="{{ variables.homeworld|default }}" class="form-control" id="homeworld" name="homeworld" placeholder="eg earth, mars" type="text" /></td></tr>
                    </table>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">Study Period</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        <tr>
                            <th class="lbl l">skill</th>
                            <th class="lbl c" width=20%>weeks/done</th>
                            <th class="lbl c" width=20%>/required</th>
                            <th class="lbl c" width=20%>period done</th>
                        </tr>
                        {% for i in 1..5 %}
                            {% set t = '' %}{% if i > 1 %}{% set t = '_' ~ i %}{% endif %}
                            <tr>
                                <td class="txt l"><input value="{{ attribute(variables, 'train_skill' ~ t)|default }}" class="form-control" id="train_skill{{t}}" name="train_skill{{t}}" type="text" /></td>
                                <td class="txt c"><input value="{{ attribute(variables, 'train_weeks_done' ~ t)|default }}" class="form-control c" id="train_weeks_done{{t}}" name="train_weeks_done{{t}}" type="text" /></td>
                                <td class="txt c"><input value="{{ attribute(variables, 'train_weeks_required' ~ t)|default }}" class="form-control c" id="train_weeks_required{{t}}" name="train_weeks_required{{t}}" type="text" /></td>
                                <td class="txt c"><input value="{{ attribute(variables, 'train_periods_done' ~ t)|default }}" class="form-control c" id="train_periods_done{{t}}" name="train_periods_done{{t}}" type="text" /></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">FINANCES</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        <tr><th class="lbl l">Pension</th><td class="txt r"><input value="{{ variables.pension|default }}" class="form-control" id="pension" name="pension" type="text" /></td></tr>
                        <tr><th class="lbl l">Debt</th><td class="txt r"><input value="{{ variables.debt|default }}" class="form-control" id="debt" name="debt" type="text" /></td></tr>
                        <tr><th class="lbl l">Cash On Hand</th><td class="txt r"><input value="{{ variables.cash_on_hand|default }}" class="form-control" id="cash_on_hand" name="cash_on_hand" type="text" /></td></tr>
                        <tr><th class="lbl l">Monthly Ship Payments</th><td class="txt r"><input value="{{ variables.monthly_ship_payments|default }}" class="form-control" id="monthly_ship_payments" name="monthly_ship_payments" type="text" /></td></tr>
                        <tr><th class="lbl l">Living Cost</th><td class="txt r"><input value="{{ variables.living_cost|default }}" class="form-control" id="living_cost" name="living_cost" type="text" /></td></tr>
                    </table>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">CAREERS</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        <tr>
                            <th class="lbl l">Career</th>
                            <th class="lbl c">Terms</th>
                            <th class="lbl c">Rank</th>
                        </tr>
                        {% for i in 1..8 %}
                            {% set t = '' %}{% if i > 1 %}{% set t = '_' ~ i %}{% endif %}
                            <tr>
                                <td class="txt l" width=50%><input value="{{ attribute(variables, 'career_name' ~ t)|default }}" class="form-control" id="career_name{{t}}" name="career_name{{t}}" type="text" /></td>
                                <td class="txt c" width=20%><input value="{{ attribute(variables, 'career_terms' ~ t)|default }}" class="form-control c" id="career_terms{{t}}" name="career_terms{{t}}" type="text" /></td>
                                <td class="txt c"><input value="{{ attribute(variables, 'career_rank' ~ t)|default }}" class="form-control" id="career_rank{{t}}" name="career_rank{{t}}" type="text" /></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2 of">
                <div class="card-header head-bar">CHARACTERISTICS</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        <tr>
                            <th class="lbl c" colspan=2>STRENGTH (STR) </th>
                            <th class="lbl c" colspan=2>DEXTERITY (DEX)</th>
                            <th class="lbl c" colspan=2>ENDURANCE (END)</th>
                            <th class="lbl c" colspan=2>INTELLECT (INT)</th>
                            <th class="lbl c" colspan=2>EDUCATION (EDU)</th>
                            <th class="lbl c" colspan=2>SOCIAL (SOC)   </th>
                            <th class="lbl c" colspan=2>PSIONICS (PSI) </th>
                        </tr>
                        <tr>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.strength ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.strength|default }}" title="current value" class="form-control sm c" id="strength" name="strength" type="text" /> / <input value="{{ variables.strength_max|default }}" title="max value" class="form-control sm c" id="strength_max" name="strength_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.dexterity ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.dexterity|default }}" title="current value" class="form-control sm c" id="dexterity" name="dexterity" type="text" /> / <input value="{{ variables.dexterity_max|default }}" title="max value" class="form-control sm c" id="dexterity_max" name="dexterity_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.endurance ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.endurance|default }}" title="current value" class="form-control sm c" id="endurance" name="endurance" type="text" /> / <input value="{{ variables.endurance_max|default }}" title="max value" class="form-control sm c" id="endurance_max" name="endurance_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.intellect ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.intellect|default }}" title="current value" class="form-control sm c" id="intellect" name="intellect" type="text" /> / <input value="{{ variables.intellect_max|default }}" title="max value" class="form-control sm c" id="intellect_max" name="intellect_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.education ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.education|default }}" title="current value" class="form-control sm c" id="education" name="education" type="text" /> / <input value="{{ variables.education_max|default }}" title="max value" class="form-control sm c" id="education_max" name="education_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.social ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.social|default }}" title="current value" class="form-control sm c" id="social" name="social" type="text" /> / <input value="{{ variables.social_max|default }}" title="max value" class="form-control sm c" id="social_max" name="social_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.psi ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.psi|default }}" title="current value" class="form-control sm c" id="psi" name="psi" type="text" /> / <input value="{{ variables.psi_max|default }}" title="max value" class="form-control sm c" id="psi_max" name="psi_max" type="text" /></td>
                        </tr>
                    </table>
                    {% if variables.usealt|default == 1 %}
                    <br>
                    <table width="100%">
                        <tr>
                            <th class="lbl c" colspan=2>CHARM (CHA) </th>
                            <th class="lbl c" colspan=2>LUCK (LCK)  </th>
                            <th class="lbl c" colspan=2>MORALE (MRL)</th>
                            <th class="lbl c" colspan=2>WEALTH (WLT)</th>
                            <th class="lbl c" colspan=2>SANITY (STY)</th>
                        </tr>
                        <tr>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.charm ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.charm|default }}" title="current value" class="form-control sm c" id="charm" name="charm" type="text" /> / <input value="{{ variables.charm_max|default }}" title="max value" class="form-control sm c" id="charm_max" name="charm_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.luck ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.luck|default }}" title="current value" class="form-control sm c" id="luck" name="luck" type="text" /> / <input value="{{ variables.luck_max|default }}" title="max value" class="form-control sm c" id="luck_max" name="luck_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.morale ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.morale|default }}" title="current value" class="form-control sm c" id="morale" name="morale" type="text" /> / <input value="{{ variables.morale_max|default }}" title="max value" class="form-control sm c" id="morale_max" name="morale_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.wealth ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.wealth|default }}" title="current value" class="form-control sm c" id="wealth" name="wealth" type="text" /> / <input value="{{ variables.wealth_max|default }}" title="max value" class="form-control sm c" id="wealth_max" name="wealth_max" type="text" /></td>
                            <td class="hdr bonus c" title="bonus">{{ _self.genBonus(variables.sanity ?? 6 ) }}</td>
                            <td class="txt c"><input value="{{ variables.sanity|default }}" title="current value" class="form-control sm c" id="sanity" name="sanity" type="text" /> / <input value="{{ variables.sanity_max|default }}" title="max value" class="form-control sm c" id="sanity_max" name="sanity_max" type="text" /></td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2 of">
                <div class="card-header head-bar">Weapons</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">Type</th>
                            <th class="hdr c" width="50px">TL</th>
                            <th class="hdr c" width="150px">Rng.</th>
                            <th class="hdr c" width="100px">Dmg.</th>
                            <th class="hdr c" width="50px">KG</th>
                            <th class="hdr c" width="50px">#</th>
                            <th class="hdr c">Traits</th>
                        </tr>
                        {% for i in 1..20 %}
                        {% set id = i %}{% if i < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {{ _self.genWeapon(id,
                            attribute(variables, "weapon_" ~ id)|default, 
                            attribute(variables, "weapon_tl_" ~ id)|default, 
                            attribute(variables, "weapon_range_" ~ id)|default, 
                            attribute(variables, "weapon_dmg_" ~ id)|default, 
                            attribute(variables, "weapon_kg_" ~ id)|default, 
                            attribute(variables, "weapon_magazine_" ~ id)|default, 
                            attribute(variables, "weapon_traits_" ~ id)|default
                        ) }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2 of">
                <div class="card-header head-bar">Armour</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">Type</th>
                            <th class="hdr c" width="50px">Rad</th>
                            <th class="hdr c">Prot.</th>
                            <th class="hdr c" width="50px">KG</th>
                            <th class="hdr c">Options</th>
                        </tr>
                        {% for i in 1..10 %}
                        {% set id = i %}{% if i < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {{ _self.genArmour(id,
                            attribute(variables, "armour_type_" ~ id)|default, 
                            attribute(variables, "armour_rad_" ~ id)|default, 
                            attribute(variables, "armour_protection_" ~ id)|default, 
                            attribute(variables, "armour_kg_" ~ id)|default, 
                            attribute(variables, "armour_options_" ~ id)|default
                        ) }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Augments</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">Type</th>
                            <th class="hdr c" width="50px">TL</th>
                            <th class="hdr c">Improvement</th>
                        </tr>
                        {% for i in 1..10 %}
                        {% set id = i %}{% if i < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {{ _self.genAugment(id,
                            attribute(variables, "augment_type_" ~ id)|default,
                            attribute(variables, "augment_tl_" ~ id)|default,
                            attribute(variables, "augment_improvement_" ~ id)|default
                        ) }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Augments</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        <tr>
                            <th class="hdr c">Type</th>
                            <th class="hdr c" width="50px">TL</th>
                            <th class="hdr c">Improvement</th>
                        </tr>
                        {% for i in 11..20 %}
                        {% set id = i %}{% if i < 10 %}{% set id = '0' ~ id %}{% endif %}
                        {{ _self.genAugment(id,
                            attribute(variables, "augment_type_" ~ id)|default,
                            attribute(variables, "augment_tl_" ~ id)|default,
                            attribute(variables, "augment_improvement_" ~ id)|default
                        ) }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-header head-bar">Skills</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        {{ _self.genSkill( '01', variables.skill_01, variables.skill_value_01, 'Admin') }}
                        {{ _self.genSkill( '02', variables.skill_02, variables.skill_value_02, 'Advocate') }}
                        {{ _self.genSkill( '03', variables.skill_03, variables.skill_value_03, 'Animals') }}
                        {{ _self.genSkill( '04', variables.skill_04, variables.skill_value_04, 'Animals:') }}
                        {{ _self.genSkill( '05', variables.skill_05, variables.skill_value_05, 'Animals:') }}
                        {{ _self.genSkill( '06', variables.skill_06, variables.skill_value_06, 'Athletics') }}
                        {{ _self.genSkill( '07', variables.skill_07, variables.skill_value_07, 'Athletics:') }}
                        {{ _self.genSkill( '08', variables.skill_08, variables.skill_value_08, 'Athletics:') }}
                        {{ _self.genSkill( '09', variables.skill_09, variables.skill_value_09, 'Art') }}
                        {{ _self.genSkill( '10', variables.skill_10, variables.skill_value_10, 'Art:') }}
                        {{ _self.genSkill( '11', variables.skill_11, variables.skill_value_11, 'Art:') }}
                        {{ _self.genSkill( '12', variables.skill_12, variables.skill_value_12, 'Astrogation') }}
                        {{ _self.genSkill( '13', variables.skill_13, variables.skill_value_13, 'Broker') }}
                        {{ _self.genSkill( '14', variables.skill_14, variables.skill_value_14, 'Carouse') }}
                        {{ _self.genSkill( '15', variables.skill_15, variables.skill_value_15, 'Deception') }}
                        {{ _self.genSkill( '16', variables.skill_16, variables.skill_value_16, 'Diplomat') }}
                        {{ _self.genSkill( '17', variables.skill_17, variables.skill_value_17, 'Drive') }}
                        {{ _self.genSkill( '18', variables.skill_18, variables.skill_value_18, 'Drive:') }}
                        {{ _self.genSkill( '19', variables.skill_19, variables.skill_value_19, 'Electronics') }}
                        {{ _self.genSkill( '20', variables.skill_20, variables.skill_value_20, 'Electronics:') }}
                        {{ _self.genSkill( '21', variables.skill_21, variables.skill_value_21, 'Electronics:') }}
                        {{ _self.genSkill( '22', variables.skill_22, variables.skill_value_22, 'Engineer') }}
                        {{ _self.genSkill( '23', variables.skill_23, variables.skill_value_23, 'Engineer:') }}
                        {{ _self.genSkill( '24', variables.skill_24, variables.skill_value_24, 'Engineer:') }}
                        {{ _self.genSkill( '25', variables.skill_25, variables.skill_value_25, 'Explosives') }}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-header head-bar">Skills</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        {{ _self.genSkill( '26', variables.skill_26, variables.skill_value_26, 'Flyer') }}
                        {{ _self.genSkill( '27', variables.skill_27, variables.skill_value_27, 'Flyer:') }}
                        {{ _self.genSkill( '28', variables.skill_28, variables.skill_value_28, 'Flyer:') }}
                        {{ _self.genSkill( '29', variables.skill_29, variables.skill_value_29, 'Gambler') }}
                        {{ _self.genSkill( '30', variables.skill_30, variables.skill_value_30, 'Gunner') }}
                        {{ _self.genSkill( '31', variables.skill_31, variables.skill_value_31, 'Gunner:') }}
                        {{ _self.genSkill( '32', variables.skill_32, variables.skill_value_32, 'Gun Combat') }}
                        {{ _self.genSkill( '33', variables.skill_33, variables.skill_value_33, 'Gun Combat:') }}
                        {{ _self.genSkill( '34', variables.skill_34, variables.skill_value_34, 'Gun Combat:') }}
                        {{ _self.genSkill( '35', variables.skill_35, variables.skill_value_35, 'Heavy Weapons') }}
                        {{ _self.genSkill( '36', variables.skill_36, variables.skill_value_36, 'Heavy Weapons:') }}
                        {{ _self.genSkill( '37', variables.skill_37, variables.skill_value_37, 'Investigate') }}
                        {{ _self.genSkill( '38', variables.skill_38, variables.skill_value_38, 'Jack of all Trades') }}
                        {{ _self.genSkill( '39', variables.skill_39, variables.skill_value_39, 'Language') }}
                        {{ _self.genSkill( '40', variables.skill_40, variables.skill_value_40, 'Language:') }}
                        {{ _self.genSkill( '41', variables.skill_41, variables.skill_value_41, 'Language:') }}
                        {{ _self.genSkill( '42', variables.skill_42, variables.skill_value_42, 'Leadership') }}
                        {{ _self.genSkill( '43', variables.skill_43, variables.skill_value_43, 'Mechanic') }}
                        {{ _self.genSkill( '44', variables.skill_44, variables.skill_value_44, 'Medic') }}
                        {{ _self.genSkill( '45', variables.skill_45, variables.skill_value_45, 'Melee') }}
                        {{ _self.genSkill( '46', variables.skill_46, variables.skill_value_46, 'Melee:') }}
                        {{ _self.genSkill( '47', variables.skill_47, variables.skill_value_47, 'Navigation') }}
                        {{ _self.genSkill( '48', variables.skill_48, variables.skill_value_48, 'Persuade') }}
                        {{ _self.genSkill( '49', variables.skill_49, variables.skill_value_49, 'Pilot') }}
                        {{ _self.genSkill( '50', variables.skill_50, variables.skill_value_50, 'Pilot:') }}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card my-2 of">
                <div class="card-header head-bar">Skills</div>
                <div class="card-body collapse show od">
                    <table width="100%">
                        {{ _self.genSkill( '51', variables.skill_51, variables.skill_value_51, 'Pilot:') }}
                        {{ _self.genSkill( '52', variables.skill_52, variables.skill_value_52, 'Profession') }}
                        {{ _self.genSkill( '53', variables.skill_53, variables.skill_value_53, 'Profession:') }}
                        {{ _self.genSkill( '54', variables.skill_54, variables.skill_value_54, 'Profession:') }}
                        {{ _self.genSkill( '55', variables.skill_55, variables.skill_value_55, 'Recon') }}
                        {{ _self.genSkill( '56', variables.skill_56, variables.skill_value_56, 'Science') }}
                        {{ _self.genSkill( '57', variables.skill_57, variables.skill_value_57, 'Science:') }}
                        {{ _self.genSkill( '58', variables.skill_58, variables.skill_value_58, 'Science:') }}
                        {{ _self.genSkill( '59', variables.skill_59, variables.skill_value_59, 'Seafarer') }}
                        {{ _self.genSkill( '60', variables.skill_60, variables.skill_value_60, 'Seafarer:') }}
                        {{ _self.genSkill( '61', variables.skill_61, variables.skill_value_61, 'Stealth') }}
                        {{ _self.genSkill( '62', variables.skill_62, variables.skill_value_62, 'Steward') }}
                        {{ _self.genSkill( '63', variables.skill_63, variables.skill_value_63, 'Streetwise') }}
                        {{ _self.genSkill( '64', variables.skill_64, variables.skill_value_64, 'Survival') }}
                        {{ _self.genSkill( '65', variables.skill_65, variables.skill_value_65, 'Tactics') }}
                        {{ _self.genSkill( '66', variables.skill_66, variables.skill_value_66, 'Tactics:') }}
                        {{ _self.genSkill( '67', variables.skill_67, variables.skill_value_67, 'Vacc Suit') }}
                        {{ _self.genSkill( '68', variables.skill_68, variables.skill_value_68, '') }}
                        {{ _self.genSkill( '69', variables.skill_69, variables.skill_value_69, '') }}
                        {{ _self.genSkill( '70', variables.skill_70, variables.skill_value_70, '') }}
                        {{ _self.genSkill( '71', variables.skill_71, variables.skill_value_71, '') }}
                        {{ _self.genSkill( '72', variables.skill_72, variables.skill_value_72, '') }}
                        {{ _self.genSkill( '73', variables.skill_73, variables.skill_value_73, '') }}
                        {{ _self.genSkill( '74', variables.skill_74, variables.skill_value_74, '') }}
                        {{ _self.genSkill( '75', variables.skill_75, variables.skill_value_75, '') }}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">NPCs</div>
                <div class="card-body collapse show od pd10">
                    <textarea class="form-control" id="npcs" name="npcs" rows="3" placeholder="list of your allies, enemies etc">{{ variables.npcs|default }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Equipment</div>
                <div class="card-body collapse show od pd10">
                    <textarea class="form-control" id="equipment" name="equipment" rows="3">{{ variables.equipment|default }}</textarea><br><br>
                    Total carried mass: <input value="{{ variables.equipment_mass|default }}" class="form-control" id="equipment_mass" name="equipment_mass" type="text" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes</div>
                <div class="card-body collapse show od pd10">
                    <textarea class="form-control" id="notes" name="notes" rows="3">{{ variables.notes|default }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">History</div>
                <div class="card-body collapse show od pd10">
                    <textarea class="form-control" id="notes" name="history" rows="3" placeholder="Character creation timeline">{{ variables.history|default }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>