{% set strength = variables.strength_tmp|default %}{% if strength == "" %}{% set strength = variables.strength|default %}{% endif %}
{% set dexterity = variables.dexterity_tmp|default %}{% if dexterity == "" %}{% set dexterity = variables.dexterity|default %}{% endif %}
{% set endurance = variables.endurance_tmp|default %}{% if endurance == "" %}{% set endurance = variables.endurance|default %}{% endif %}
{% set psi = variables.psi_tmp|default %}{% if psi == "" %}{% set psi = variables.psi|default %}{% endif %}
<section class="traveller-sheet">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card my-2 of">
                        <div class="card-header head-bar">TEMP. CHARACTERISTICS</div>
                        <div class="card-body collapse show od">
                            <table width="100%">
                                <tr>
                                    <th class="lbl c">str</th>
                                    <th class="lbl c">dex</th>
                                    <th class="lbl c">end</th>
                                    <th class="lbl c">psi</th>
                                </tr>
                                <tr>
                                    <td class="txt c"><input value="{{ strength }}" class="form-control sm c" id="strength_tmp" name="strength_tmp" type="text" /></td>
                                    <td class="txt c"><input value="{{ dexterity }}" class="form-control sm c" id="dexterity_tmp" name="dexterity_tmp" type="text" /></td>
                                    <td class="txt c"><input value="{{ endurance }}" class="form-control sm c" id="endurance_tmp" name="endurance_tmp" type="text" /></td>
                                    <td class="txt c"><input value="{{ psi }}" class="form-control sm c" id="psi_tmp" name="psi_tmp" type="text" /></td>
                                </tr>
                            </table>
                            When taking damage, adjust values, click "Save Changes" and reload the sheet. Temporarily reduced stats are shown in red below.
                            <br>
                            <table width="100%">
                                <tr>
                                    <th class="lbl c" width="50%">rads</th>
                                    <td class="txt c"><input value="{{ variables.rads|default }}" class="form-control c" id="rads" name="rads" type="text" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="card my-2 of">
                        <div class="card-header head-bar">Notes</div>
                        <div class="card-body collapse show od pd10">
                            <textarea class="form-control" id="notes" name="notes" rows="5">{{ variables.notes|default }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>