<section class="traveller-sheet">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card my-2 of">
                        <div class="card-header head-bar">CHARACTERISTICS</div>
                        <div class="card-body collapse show od">
                            <table width="100%">
                                <tr>
                                    <th class="lbl c">str</th>
                                    <th class="lbl c">dex</th>
                                    <th class="lbl c">end</th>
                                    <th class="lbl c">psi</th>
                                </tr>
                                <tr>
                                    <td class="txt c"><input value="{{ variables.strength is defined ? variables.strength }}" class="form-control" id="strength" name="strength" type="text" /></td>
                                    <td class="txt c"><input value="{{ variables.dexterity is defined ? variables.dexterity }}" class="form-control" id="dexterity" name="dexterity" type="text" /></td>
                                    <td class="txt c"><input value="{{ variables.endurance is defined ? variables.endurance }}" class="form-control" id="endurance" name="endurance" type="text" /></td>
                                    <td class="txt c"><input value="{{ variables.psi is defined ? variables.psi }}" class="form-control" id="psi" name="psi" type="text" /></td>
                                </tr>
                            </table><br>
                            <table width="100%">
                                <tr>
                                    <th class="lbl c" width="50%">rads</th>
                                    <td class="txt c"><input value="{{ variables.rads is defined ? variables.rads }}" class="form-control" id="rads" name="rads" type="text" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="card my-2 of">
                        <div class="card-header head-bar">Notes</div>
                        <div class="card-body collapse show od pd10">
                            <textarea class="form-control" id="notes" name="notes" rows="5">{{ variables.notes is defined ? variables.notes }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>