<div class="bar"></div>
<div class="inside-content">
	<div class="row">
		<div class="col-12 col-md-12">
			{% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
			<p class="statblock-source" title="Source">
				{% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
				{% if meta.block.isSRD %}SRD{% endif %}
			</p>
			{% endif %}
			<h1 class="dnd5e-sheet-header">
				{{ variables.name }}
			</h1>
		</div>
	</div>
	{% if variables.overview|default != "" %}
	<div class="row">
		<div class="col-12 col-md-6 col-lg-8">
			<div class="statblock-stat desc">{{ variables.overview}}</div>
		</div>
	</div>
	{% endif %}
	{% if variables.skillprof|default != "" %}
	<hr>
	<div class="row">
		<div class="col-12 col-md-12">
			<div class="statblock-stat"><strong>Skill Proficiences:</strong><br>
			<span>{{ variables.skillprof}}</span></div>
		</div>
	</div>
	{% endif %}
	{% if variables.addprof|default != "" %}
	<hr>
	<div class="row">
		<div class="col-12 col-md-12">
			<div class="statblock-stat"><strong>Additional Proficiences or Languages:</strong><br>
			<span>{{ variables.addprof}}</span></div>
		</div>
	</div>
	{% endif %}
	{% if variables.equipment|default != "" %}
	<hr>
	<div class="row">
		<div class="col-12 col-md-12">
			<div class="statblock-stat"><strong>Equipment:</strong><br>
			<span>{{ variables.equipment}}</span></div>
		</div>
	</div>
	{% endif %}
	{% if variables.talent|default != "" %}
	<hr>
	<div class="row">
		<div class="col-12 col-md-12">
			<div class="statblock-stat"><strong>Talent:</strong><br>
			<span>{{ variables.talent}}</span></div>
		</div>
	</div>
	{% endif %}
	{% if variables.motivation|default != "" or variables.table_data|default != '' %}
	<hr>
	<div class="row">
		<div class="col-12 col-md-12">
			<div class="statblock-stat"><strong>Adventuring Motivation:</strong><br>
			<span>{{ variables.motivation }}</span></div>
			{% if variables.table_data|default != '' %}<br>
			<span>{{ variables.table_data|ParseTable|BBcode}}</span></div>
			{% endif %}
		</div>
	</div>
	{% endif %}
</div>
<div class="bar"></div>