<section class="pathfinder-character-trackable">
	<div class="row health">
		<div class="col-md-12 row-title">Health</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<input placeholder="Current Hit Points" class="form-control" type="number" value="{{ variables.health_current is defined ? variables.health_current : variables.health_current }}" name="health_current" />
					<p class="trackable-label">
						<strong>Hit points</strong> Out of {{ variables.total_health }} total.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<input placeholder="Current Temp HP" class="form-control" type="number" value="{{ variables.health_temp_current is defined ? variables.health_temp_current : variables.health_temp_total }}" name="health_temp_current" />
					<p class="trackable-label">
						<strong>Current Temp Hit points</strong>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<input placeholder="Current Temp HP" class="form-control" type="number" value="{{ variables.health_temp_total is defined ? variables.health_temp_total : 0  }}" name="health_temp_total" />
					<p class="trackable-label">
						<strong>Total Temp Hit points</strong>
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div class="row ability-adjustments">
		<div class="col-md-12 row-title">Ability Temporary Adjustments <small>Flat number (assumes modifier if smaller than 6)</small></div>
		<div class="col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.strength_temporary_adjustment is defined ? variables.strength_temporary_adjustment : 0 }}" name="strength_temporary_adjustment" />
			<p class="trackable-label">
				<strong>Strength</strong>
			</p>
		</div>	
		<div class="col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.dexterity_temporary_adjustment is defined ? variables.dexterity_temporary_adjustment : 0 }}" name="dexterity_temporary_adjustment" />
			<p class="trackable-label">
				<strong>Dexterity</strong>
			</p>
		</div>	
		<div class="col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.constitution_temporary_adjustment is defined ? variables.constitution_temporary_adjustment : 0 }}" name="constitution_temporary_adjustment" />
			<p class="trackable-label">
				<strong>Constitution</strong>
			</p>
		</div>	
		<div class="col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.intelligence_temporary_adjustment is defined ? variables.intelligence_temporary_adjustment : 0 }}" name="intelligence_temporary_adjustment" />
			<p class="trackable-label">
				<strong>Intelligence</strong>
			</p>
		</div>	
		<div class="col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.wisdom_temporary_adjustment is defined ? variables.wisdom_temporary_adjustment : 0 }}" name="wisdom_temporary_adjustment" />
			<p class="trackable-label">
				<strong>Wisdom</strong>
			</p>
		</div>	
		<div class="col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.charisma_temporary_adjustment is defined ? variables.charisma_temporary_adjustment : 0 }}" name="charisma_temporary_adjustment" />
			<p class="trackable-label">
				<strong>Charisma</strong>
			</p>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="row saving-throws">
				<div class="col-md-12 row-title">Saving Throw Modifier</div>
				<div class="col-12 col-md-12">
					<input placeholder="" class="form-control" type="number" value="{{ variables.temporary_fortitude_save_modifier is defined ? variables.temporary_fortitude_save_modifier : 0 }}" name="temporary_fortitude_save_modifier" />
					<p class="trackable-label">
						<strong>Fortiture</strong>
					</p>
				</div>			
				<div class="col-12 col-md-12">
					<input placeholder="" class="form-control" type="number" value="{{ variables.temporary_reflex_save_modifier is defined ? variables.temporary_reflex_save_modifier : 0 }}" name="temporary_reflex_save_modifier" />
					<p class="trackable-label">
						<strong>Reflex</strong>
					</p>
				</div>	
				<div class="col-12 col-md-12">
					<input placeholder="" class="form-control" type="number" value="{{ variables.temporary_will_save_modifier is defined ? variables.temporary_will_save_modifier : 0 }}" name="temporary_will_save_modifier" />
					<p class="trackable-label">
						<strong>Will</strong>
					</p>
				</div>		
			</div>
		</div>
		<div class="col-md-9">
			<div class="row quick-notes">
				<div class="col-md-12 row-title">Quick notes</div>
				<textarea class="form-control" placeholder="Write any notes you want here. Misc modifiers, effects etc." name="quick_notes" id="quick_notes" cols="30" rows="10">{{ variables.quick_notes }}</textarea>
			</div>
		</div>
	</div>
	<div class="row spell-slots">
		<div class="col-md-12 row-title">Spell Slots</div>
		<div class="col-2 col-md-2 offset-1">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_0 is defined ? variables.spellslot_available_0 : 0 }}" name="spellslot_available_0" />
			<p class="trackable-label">
				<strong>Level 0</strong>
			</p>
		</div>
		<div class="col-2 col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_1 is defined ? variables.spellslot_available_1 : 0 }}" name="spellslot_available_1" />
			<p class="trackable-label">
				<strong>Level 1</strong>
			</p>
		</div>
		<div class="col-2 col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_2 is defined ? variables.spellslot_available_2 : 0 }}" name="spellslot_available_2" />
			<p class="trackable-label">
				<strong>Level 2</strong>
			</p>
		</div>
		<div class="col-2 col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_3 is defined ? variables.spellslot_available_3 : 0 }}" name="spellslot_available_3" />
			<p class="trackable-label">
				<strong>Level 3</strong>
			</p>
		</div>
		<div class="col-2 col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_4 is defined ? variables.spellslot_available_4 : 0 }}" name="spellslot_available_4" />
			<p class="trackable-label">
				<strong>Level 4</strong>
			</p>
		</div>
		<div class="col-2 col-md-2 offset-1">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_5 is defined ? variables.spellslot_available_5 : 0 }}" name="spellslot_available_5" />
			<p class="trackable-label">
				<strong>Level 5</strong>
			</p>
		</div>
		<div class="col-2 col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_6 is defined ? variables.spellslot_available_6 : 0 }}" name="spellslot_available_6" />
			<p class="trackable-label">
				<strong>Level 6</strong>
			</p>
		</div>
		<div class="col-2 col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_7 is defined ? variables.spellslot_available_7 : 0 }}" name="spellslot_available_7" />
			<p class="trackable-label">
				<strong>Level 7</strong>
			</p>
		</div>
		<div class="col-2 col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_8 is defined ? variables.spellslot_available_8 : 0 }}" name="spellslot_available_8" />
			<p class="trackable-label">
				<strong>Level 8</strong>
			</p>
		</div>
		<div class="col-2 col-md-2">
			<input placeholder="e.g. 1" class="form-control" type="number" value="{{ variables.spellslot_available_9 is defined ? variables.spellslot_available_9 : 0 }}" name="spellslot_available_9" />
			<p class="trackable-label">
				<strong>Level 9</strong>
			</p>
		</div>
	</div>
</section>