{% if variables.image_gallery_id %}
    [img:{{ variables.image_gallery_id }}]
{% endif %}
<div class="gold"></div>
<div class="inside-content">
    <p class="statblock-source">
        {% if variables.source is defined %}
            {{ variables.source }}
        {% endif %}
    </p>
    <h1>{{variables.name}}</h1>
    <p class="subheading">
        {% if variables.item_type %}{{variables.item_type}}{% endif %}
        {% if variables.properties %}{{variables.properties}}{% endif %}
        {% if variables.rarity %}{{ variables.rarity }}{% endif %}
        {% if variables.attunement %}[{{ variables.attunement }}]{% endif %}
    </p>
    {% if variables.description %}
        <p>
            {% if variables.description %}{{variables.description}}{% endif %}
        </p>
    {% endif %}
    {# If item is an Armor #}
    {% if variables.armor_class or variables.strength_requirement or variables.stealth_disadvantage is defined %}
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>AC</th>
                    <th>STR Req.</th>
                    <th>Stealth Dis.</th>
                    <th>Properties</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ variables.armor_type}}</td>
                    <td>{{ variables.armor_class}}</td>
                    <td>{{ variables.strength_requirement}}</td>
                    <td>{% if variables.stealth_disadvantage is defined %}YES{% endif %}</td>
                    <td>{% if variables.properties %}{{ variables.properties }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    {# If item is a Weapon #}
    {% if  variables.weapon_damage or  variables.weapon_range  %}
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Damage</th>
                    <th>Damage</th>
                    <th>Range</th>
                    <th>Properties</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ variables.weapon_subtype}}</td>
                    <td>{{ variables.weapon_damage}}  {% if variables.weapon_secondary_damage is defined and variables.weapon_secondary_damage %}/ {{ variables.weapon_secondary_damage }} {% endif %}</td>
                    <td>{{ variables.weapon_damage_type}}</td>
                    <td>{{ variables.weapon_range}}</td>
                    <td>{% if variables.properties %}{{ variables.properties }}{% endif %} </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    <p>
        <small>
            {% if variables.price %}Cost: {{ variables.price }} {% endif %}
            {% if variables.weight %}Weight: {{ variables.weight }}{% endif %}
        </small>
    </p>
    {% if variables.image is defined %}
        <div> [img:{{ variables.image }}|nolink] </div>
    {% endif %}
</div>
<div class="gold"></div>
