{% import _self as sheet %}
{# ------------------------- #}
{% macro genPills(curr, max) %}
    {% if curr is defined and max is defined and max > 0 %}
        {% for i in 1..max %}
            {% set x = i %}
            {% if x < 10 %}{% set x = '0' ~ x %}{% endif %}
            {% if max - curr >= i  %}
                <em class="far fa-times-square"></em>
            {% else %}
                <em class="far fa-square"></em>
            {% endif %}
            {% if i / 5 == i // 5 %}
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro genPills %}
{# ------------------------- #}
{% macro genSkill(id, name, exp, foc, dn, att) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}
    {% if id == 'ATT' %}<tr>
        <th class="att" colspan=2>{{dn}}</th><th class="att" colspan="3" title="{{dn}}: {{att}}">{{att}}</th></tr>
        <tr>
            <td class="hdr l">Skill</td>
            <td class="hdr c" title="Expertise">Exp</td>
            <td class="hdr c" title="Focus">Foc</td>
            <td class="hdr c">TN</td>
            <td class="hdr c" title="Click 2+ times for a skill test, 1 = success, *** = 2 successes, __ adds a complication.">Roll</td>
        </tr>
    {% else %}
        <tr>
            <td class="lbl" title="Skill: {{name}}">{{name}}</td>
            <td class="{{eo}} num" title="Expertise: {{exp}}">{{exp}}</td>
            <td class="{{eo}} num" title="Focus: {{foc}}">{{foc}}</td>
            <td class="{{eo}} num" title="Target Number: {{att+exp}}">{{att+exp}}</td>
            <td class="{{eo}} txt c" title="Click 2+ times for a skill test, 1 = success, *** = 2 successes, __ adds a complication.">[roll:2d20<={{att+exp}}cs<={{foc}}cf=20|2d20]</td>
        </tr>
    {% endif %}
{% endmacro genSkill %}
{# ------------------------- #}
{% macro genAttack(id, name, range, size, damage, load, qual) %}{% if name is defined and name != '' %}
<tr><th class="att">Name</th><th class="att" colspan="5" title="Name of the attack/weapon">{{name}}</th></tr>
<tr><th class="hdr c" colspan="2">Range/Reach</th>
    <th class="hdr c">Size</th>
    <th class="hdr c" colspan="2">Damage</th>
    <th class="hdr c" title="Number of shots/loads available for ranged weapons">#</th></tr><tr>
    <td class="txt c" title="Reach: 1,2,3, Range: (c)lose, (m)edium, (l)ong, or (e)xtreme" colspan="2">{{range}}</td>
    <td class="txt c" title="(1H)and, (2H)and, or (unb)alanced">{{size[:3]}}</td>
    <td class="txt c" colspan="2" title="Damage in number of six sided dice">[roll:{{damage}}d6]</td>
    <td class="txt c" title="Number of shots/loads available for ranged weapons">{{load}}</td></tr>
    <tr><td class="hdr c" colspan="2">Qualities</td><td class="txt l" colspan="4">{{qual}}</td></tr>{% endif %}{% endmacro genAttack %}
{# ------------------------- #}
{% macro genSpell(id, name, diffic, duration, cost, effect) %}{% if name is defined and name != '' %}
<tr><th class="att">Name</th><th class="att" colspan="2" title="Name of the spell">{{name}}</th></tr>
<tr><th class="hdr c">Difficulty</th>
    <th class="hdr c">Duration</th>
    <th class="hdr c">Cost to Learn/Cast</th></tr><tr>
    <td class="txt c" title="">{{diffic}}</td>
    <td class="txt c" title="">{{duration}}</td>
    <td class="txt c" title="">{{cost}}</td></tr>
    <tr><td class="hdr c">Effect</td><td class="txt l" colspan="2">{{effect}}</td></tr>{% endif %}{% endmacro genSpell %}
{# ------------------------- #}
{% macro genTalent(id, name, source, skill, rank, effect) %}{% if name is defined and name != '' %}
<tr><th class="att">Name</th><th class="att" colspan="2" title="Name of the talent">{{name}}</th></tr>
<tr><th class="hdr c">Source</th>
    <th class="hdr c">Rank</th>
    <th class="hdr c">Skill</th></tr><tr>{% if source is not defined or source == '' %}{% set source = 'Other' %}{% endif %}
    <td class="txt c" width="20%" title="">{{source}}</td>{% if rank is not defined or rank == '' %}{% set rank = '-' %}{% endif %}
    <td class="txt c" title="">{{rank}}</td>{% if skill is not defined or skill == '' %}{% set skill = '-' %}{% endif %}
    <td class="txt c" title="">{{skill}}</td></tr>
    <tr><td class="hdr c">Effect</td><td class="txt l" colspan="2">{{effect}}</td></tr>{% endif %}{% endmacro genTalent %}
{# ------------------------- #}
{% macro genCreature(id, name, agi, awa, bra, coo, int, per, will, details) %}{% if name is defined and name != '' %}
<tr><th class="att">Name</th><th class="att" colspan="6" title="Name of the creature">{{name}}</th></tr>
<tr><th class="hdr c" title="Agility">Agi</th>
    <th class="hdr c" title="Awareness">Awa</th>
    <th class="hdr c" title="Brawn">Brw</th>
    <th class="hdr c" title="Coordination">Coo</th>
    <th class="hdr c" title="Intelligence">Int</th>
    <th class="hdr c" title="Personality">Per</th>
    <th class="hdr c" title="Willpower">Will</th></tr>
<tr><td class="txt c" title="">{{agi}}</td>
    <td class="txt c" title="">{{awa}}</td>
    <td class="txt c" title="">{{bra}}</td>
    <td class="txt c" title="">{{coo}}</td>
    <td class="txt c" title="">{{int}}</td>
    <td class="txt c" title="">{{per}}</td>
    <td class="txt c" title="">{{will}}</td></tr>
<tr><td class="hdr c" colspan=7>Skills &amp; Details</td></tr>
<tr><td class="txt l" colspan=7>{{details}}</td></tr>{% endif %}{% endmacro genCreature %}
{# ------------------------- #}
<div class="container-fluid conan-sheet">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 hidden-md hidden-xs hidden-sm d-none d-lg-block nop"><div class="conan-bar">&nbsp;</div></div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 logo collapse show noback" id="collapseBackground" title="Conan RPG Logo">
            </div>
            <div class="c">[roll:2d20] - [roll:3d20] - [roll:4d20] - [roll:5d20] - [roll:6d20] </div><br>
            <div class="card my-2 of">
                <div class="card-header head-bar">BACKGROUND <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBackground" aria-expanded="true" aria-controls="collapseBackground"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseBackground" aria-labelledby="headingBackground">
                    <table width="100%">
                        <tr><td class="hdr c" width="30%">Name</td><td class="txt l ev">{% if variables.name is defined %}{{ variables.name}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Age</td><td class="txt l od">{% if variables.age is defined %}{{variables.age}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Gender</td><td class="txt l ev">{% if variables.gender is defined %}{{variables.gender}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Personality</td><td class="txt l od">{% if variables.personality_background is defined %}{{variables.personality_background}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Appearance</td><td class="txt l ev">{% if variables.appearance is defined %}{{variables.appearance}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Homeland</td><td class="txt l od">{% if variables.homeland is defined %}{{variables.homeland}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Attribute Aspects</td><td class="txt l ev">{% if variables.aspects is defined %}{{variables.aspects}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Caste</td><td class="txt l ev">{% if variables.caste is defined %}{{variables.caste}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Story</td><td class="txt l od">{% if variables.event is defined %}{{variables.event}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Trait</td><td class="txt l ev">{% if variables.trait is defined %}{{variables.trait}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Archetype</td><td class="txt l od">{% if variables.archetype is defined %}{{variables.archetype}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Nature</td><td class="txt l ev">{% if variables.nature is defined %}{{variables.nature}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Education</td><td class="txt l od">{% if variables.education is defined %}{{variables.education}}{% endif %}</td></tr>
                        <tr><td class="hdr c">War Story</td><td class="txt l ev">{% if variables.war_story is defined %}{{variables.war_story}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Languages</td><td class="txt l od">{% if variables.languages is defined %}{{variables.languages}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Titles</td><td class="txt l ev">{% if variables.titles is defined %}{{variables.titles}}{% endif %}</td></tr>
                        <tr><td class="hdr c">Ancient Bloodline</td><td class="txt l ev">{% if variables.ancient_bloodline is defined and variables.ancient_bloodline == 1 %}yes{% else %}no{% endif %}</td></tr>
                    </table>
                    <table width="100%" class="mt10">
                    <tr>
                        <th class="hdr c">Fortune Points</th>
                        <th class="hdr c">Renown</th>
                        <th class="hdr c">Standing</th>
                        <th class="hdr c">XP spent</th>
                        <th class="hdr c">XP total</th>
                    </tr>
                    <tr>
                        <td class="txt c">{{ variables.fortune_points is defined ? variables.fortune_points }}</td>
                        <td class="txt c">{{ variables.renown is defined ? variables.renown }}</td>
                        <td class="txt c">{{ variables.standing is defined ? variables.standing }}</td>
                        <td class="txt c">{{ variables.xp_spent is defined ? variables.xp_spent }}</td>
                        <td class="txt c">{{ variables.xp_total is defined ? variables.xp_total }}</td>
                    </tr>
                    </table>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar">Stress &amp; Harms <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseStress" aria-expanded="true" aria-controls="collapseStress"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseStress" aria-labelledby="headingStress">
                    <table width="100%">
{% set courage = 0 %}
{% if variables.courage_bonus is defined %}{% set courage = courage + variables.courage_bonus %}{% endif %}
{% if variables.armour_soak_head is defined %}{% set courage = courage + variables.armour_soak_head %}{% endif %}
{% if variables.armour_soak_rarm is defined %}{% set courage = courage + variables.armour_soak_rarm %}{% endif %}
{% if variables.armour_soak_larm is defined %}{% set courage = courage + variables.armour_soak_larm %}{% endif %}
{% if variables.armour_soak_torso is defined %}{% set courage = courage + variables.armour_soak_torso %}{% endif %}
{% if variables.armour_soak_rleg is defined %}{% set courage = courage + variables.armour_soak_rleg %}{% endif %}
{% if variables.armour_soak_lleg is defined %}{% set courage = courage + variables.armour_soak_lleg %}{% endif %}
                        <tr><td colspan=2 width="33%" class="att c">Courage</td><td colspan=4 class="txt c">{{courage}}</td></tr>
                        <tr><td colspan=2 width="33%" class="hdr l">Armor Qualities</td><td colspan=4 class="txt c">{% if variables.armour_qualities is defined %}{{variables.armour_qualities}}{% else %}-{% endif %}</td></tr>
                        <tr><td colspan=6 class="lbl c">Armor Soak</td></tr>
                    </table>
                    <table width="75%" class="armortable">
                        <tr><td colspan=1 width="33%">&nbsp;</td><td colspan=2 width="33%" class="att c">Head</td><td colspan=1>&nbsp;</td></tr>
                        <tr><td colspan=1 width="33%">&nbsp;</td><td colspan=2 width="33%" class="hdr c">1-2</td><td colspan=1>&nbsp;</td></tr>
                        <tr><td colspan=1 width="33%" class="att c">L.Arm</td><td colspan=2 class="lbl c">{% if variables.armour_soak_head is defined %}{{variables.armour_soak_head}}{% else %}-{% endif %}</td><td colspan=1 width="33%" class="att c">R.Arm</td></tr>
                        <tr><td colspan=1 width="33%" class="hdr c">6-8</td><td colspan=2 class="att c">Torso</td><td colspan=1 width="33%" class="hdr c">3-5</td></tr>
                        <tr><td colspan=1 width="33%" class="lbl c">{% if variables.armour_soak_larm is defined %}{{variables.armour_soak_larm}}{% else %}-{% endif %}</td><td colspan=2 class="hdr c">9-14</td><td colspan=1 width="33%" class="lbl c">{% if variables.armour_soak_rarm is defined %}{{variables.armour_soak_rarm}}{% else %}-{% endif %}</td></tr>
                        <tr><td colspan=1 width="33%">&nbsp;</td><td colspan=2 width="33%" class="lbl c">{% if variables.armour_soak_torso is defined %}{{variables.armour_soak_torso}}{% else %}-{% endif %}</td><td colspan=1>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td><td colspan=1 class="att c">L.Leg</td><td colspan=1 class="att c">R.Leg</td><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td><td colspan=1 class="hdr c">18-20</td><td colspan=1 class="hdr c">15-17</td><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td><td colspan=1 class="lbl c">{% if variables.armour_soak_lleg is defined %}{{variables.armour_soak_lleg}}{% else %}-{% endif %}</td><td colspan=1 class="lbl c">{% if variables.armour_soak_rleg is defined %}{{variables.armour_soak_rleg}}{% else %}-{% endif %}</td><td>&nbsp;</td></tr>
                    </table>
                    <table width="100%">
                        <tr><td colspan=2 class="att c" width="50%">Physical</td><td colspan=2 class="att c">Mental</td></tr>
{% set vigor_max = variables.brawn %}{% if variables.skill_exp_09 is defined %}{% set vigor_max = vigor_max + variables.skill_exp_09 %}{% endif %}
{% set resolve_max = variables.willpower %}{% if variables.skill_exp_24 is defined %}{% set resolve_max = resolve_max + variables.skill_exp_24 %}{% endif %}
{% set wounds = 0 %}{% if variables.wounds is defined %}{% set wounds = variables.wounds %}{% endif %}
{% set trauma = 0 %}{% if variables.trauma is defined %}{% set trauma = variables.trauma %}{% endif %}
{% set vigor = vigor_max %}{% if variables.vigor is defined and variables.vigor != '' %}{% set vigor = variables.vigor %}{% endif %}
{% set resolve = resolve_max %}{% if variables.resolve is defined and variables.resolve != '' %}{% set resolve = variables.resolve %}{% endif %}
                        <tr><td class="hdr c">Vigor</td><td class="num">{{vigor}} / {{vigor_max}}</td><td class="hdr c">Resolve</td><td class="num">{{resolve}} / {{resolve_max}}</td></tr>
                        <tr>
                            <td colspan=2 width="50%" class="boxes">{{ sheet.genPills(vigor, vigor_max) }}</td>
                            <td colspan=2 width="50%" class="boxes">{{ sheet.genPills(resolve, resolve_max) }}</td>
                        </tr>
                        <tr><td class="lbl c red">Wounds</td><td class="num red">{{wounds}}</td><td class="lbl c red">Trauma</td><td class="num red">{{trauma}}</td></tr>
                    </table>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar">ATTACKS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAttacks" aria-expanded="true" aria-controls="collapseAttacks"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od weapontable" id="collapseAttacks" aria-labelledby="headingAttacks">
                    <table width="100%">
<tr><th colspan=6 class="att c">BONUS DAMAGE</th></tr>
<tr>
{% set r = "-" %}
{% if variables.awareness > 8 %}{% set r = '[roll:1d6]' %}{% endif %}
{% if variables.awareness > 9 %}{% set r = '[roll:2d6]' %}{% endif %}
{% if variables.awareness > 11 %}{% set r = '[roll:3d6]' %}{% endif %}
{% if variables.awareness > 13 %}{% set r = '[roll:4d6]' %}{% endif %}
{% if variables.awareness > 15 %}{% set r = '[roll:5d6]' %}{% endif %}
{% set m = '-' %}
{% if variables.brawn > 8 %}{% set m = '[roll:1d6]' %}{% endif %}
{% if variables.brawn > 9 %}{% set m = '[roll:2d6]' %}{% endif %}
{% if variables.brawn > 11 %}{% set m = '[roll:3d6]' %}{% endif %}
{% if variables.brawn > 13 %}{% set m = '[roll:4d6]' %}{% endif %}
{% if variables.brawn > 15 %}{% set m = '[roll:5d6]' %}{% endif %}
{% set p = '-' %}
{% if variables.personality > 8 %}{% set p = '[roll:1d6]' %}{% endif %}
{% if variables.personality > 9 %}{% set p = '[roll:2d6]' %}{% endif %}
{% if variables.personality > 11 %}{% set p = '[roll:3d6]' %}{% endif %}
{% if variables.personality > 13 %}{% set p = '[roll:4d6]' %}{% endif %}
{% if variables.personality > 15 %}{% set p = '[roll:5d6]' %}{% endif %}
<td class="lbl" width="16%">Ranged</td><td class="txt c" width="16%">{{r}}</td>
<td class="lbl" width="16%">Melee</td><td class="txt c" width="16%">{{m}}</td>
<td class="lbl" width="16%">Presence</td><td class="txt c" width="16%">{{p}}</td>
</tr>
                        {{ sheet.genAttack("01", variables.attack_name_01, variables.attack_range_01, variables.attack_size_01, variables.attack_damage_01, variables.attack_load_01, variables.attack_qualities_01) }}
                        {{ sheet.genAttack("02", variables.attack_name_02, variables.attack_range_02, variables.attack_size_02, variables.attack_damage_02, variables.attack_load_02, variables.attack_qualities_02) }}
                        {{ sheet.genAttack("03", variables.attack_name_03, variables.attack_range_03, variables.attack_size_03, variables.attack_damage_03, variables.attack_load_03, variables.attack_qualities_03) }}
                        {{ sheet.genAttack("04", variables.attack_name_04, variables.attack_range_04, variables.attack_size_04, variables.attack_damage_04, variables.attack_load_04, variables.attack_qualities_04) }}
                        {{ sheet.genAttack("05", variables.attack_name_05, variables.attack_range_05, variables.attack_size_05, variables.attack_damage_05, variables.attack_load_05, variables.attack_qualities_05) }}
                        {{ sheet.genAttack("06", variables.attack_name_06, variables.attack_range_06, variables.attack_size_06, variables.attack_damage_06, variables.attack_load_06, variables.attack_qualities_06) }}
                        {{ sheet.genAttack("07", variables.attack_name_07, variables.attack_range_07, variables.attack_size_07, variables.attack_damage_07, variables.attack_load_07, variables.attack_qualities_07) }}
                        {{ sheet.genAttack("08", variables.attack_name_08, variables.attack_range_08, variables.attack_size_08, variables.attack_damage_08, variables.attack_load_08, variables.attack_qualities_08) }}
                        {{ sheet.genAttack("09", variables.attack_name_09, variables.attack_range_09, variables.attack_size_09, variables.attack_damage_09, variables.attack_load_09, variables.attack_qualities_09) }}
                        {{ sheet.genAttack("10", variables.attack_name_10, variables.attack_range_10, variables.attack_size_10, variables.attack_damage_10, variables.attack_load_10, variables.attack_qualities_10) }}
                    </table>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">BELONGINGS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBelongings" aria-expanded="true" aria-controls="collapseBelongings"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseBelongings" aria-labelledby="headingBelongings">
                    Upkeep: <strong>{{ variables.upkeep is defined ? variables.upkeep }}</strong><br>
                    Gold: <strong>{{ variables.gold is defined ? variables.gold }}</strong><br>
                    {{ variables.belongings is defined ? variables.belongings|nl2br }}
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">NOTES <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="true" aria-controls="collapseNotes"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseNotes" aria-labelledby="headingNotes">
                    {{ variables.notes is defined ? variables.notes|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2">
                <div class="card-header head-bar">ATTRIBUTES &amp; SKILLS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="true" aria-controls="collapseSkills"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseSkills" aria-labelledby="headingSkills">
                    <table width="100%">
                    {{ sheet.genSkill("ATT", '', '', '', 'Agility', variables.agility) }}
                    {{ sheet.genSkill("01", variables.skill_name_01, variables.skill_exp_01, variables.skill_foc_01, 'Acrobatics', variables.agility) }}
                    {{ sheet.genSkill("02", variables.skill_name_02, variables.skill_exp_02, variables.skill_foc_02, 'Melee', variables.agility) }}
                    {{ sheet.genSkill("03", variables.skill_name_03, variables.skill_exp_03, variables.skill_foc_03, 'Stealth', variables.agility) }}
                    {{ sheet.genSkill("ATT", '', '', '', 'Awareness', variables.awareness) }}
                    {{ sheet.genSkill("04", variables.skill_name_04, variables.skill_exp_04, variables.skill_foc_04, 'Insight', variables.awareness) }}
                    {{ sheet.genSkill("05", variables.skill_name_05, variables.skill_exp_05, variables.skill_foc_05, 'Observation', variables.awareness) }}
                    {{ sheet.genSkill("06", variables.skill_name_06, variables.skill_exp_06, variables.skill_foc_06, 'Survival', variables.awareness) }}
                    {{ sheet.genSkill("07", variables.skill_name_07, variables.skill_exp_07, variables.skill_foc_07, 'Thievery', variables.awareness) }}
                    {{ sheet.genSkill("ATT", '', '', '', 'Brawn', variables.brawn) }}
                    {{ sheet.genSkill("08", variables.skill_name_08, variables.skill_exp_08, variables.skill_foc_08, 'Athletics', variables.brawn) }}
                    {{ sheet.genSkill("09", variables.skill_name_09, variables.skill_exp_09, variables.skill_foc_09, 'Resistance', variables.brawn) }}
                    {{ sheet.genSkill("ATT", '', '', '', 'Coordination', variables.coordination) }}
                    {{ sheet.genSkill("10", variables.skill_name_10, variables.skill_exp_10, variables.skill_foc_10, 'Parry', variables.coordination) }}
                    {{ sheet.genSkill("11", variables.skill_name_11, variables.skill_exp_11, variables.skill_foc_11, 'Ranged Weapons', variables.coordination) }}
                    {{ sheet.genSkill("12", variables.skill_name_12, variables.skill_exp_12, variables.skill_foc_12, 'Sailing', variables.coordination) }}
                    {{ sheet.genSkill("ATT", '', '', '', 'Intelligence', variables.intelligence) }}
                    {{ sheet.genSkill("13", variables.skill_name_13, variables.skill_exp_13, variables.skill_foc_13, 'Alchemy', variables.intelligence) }}
                    {{ sheet.genSkill("14", variables.skill_name_14, variables.skill_exp_14, variables.skill_foc_14, 'Craft', variables.intelligence) }}
                    {{ sheet.genSkill("15", variables.skill_name_15, variables.skill_exp_15, variables.skill_foc_15, 'Healing', variables.intelligence) }}
                    {{ sheet.genSkill("16", variables.skill_name_16, variables.skill_exp_16, variables.skill_foc_16, 'Linguistics', variables.intelligence) }}
                    {{ sheet.genSkill("17", variables.skill_name_17, variables.skill_exp_17, variables.skill_foc_17, 'Lore', variables.intelligence) }}
                    {{ sheet.genSkill("18", variables.skill_name_18, variables.skill_exp_18, variables.skill_foc_18, 'Warfare', variables.intelligence) }}
                    {{ sheet.genSkill("ATT", '', '', '', 'Personality', variables.personality) }}
                    {{ sheet.genSkill("19", variables.skill_name_19, variables.skill_exp_19, variables.skill_foc_19, 'Animal Handling', variables.personality) }}
                    {{ sheet.genSkill("20", variables.skill_name_20, variables.skill_exp_20, variables.skill_foc_20, 'Command', variables.personality) }}
                    {{ sheet.genSkill("21", variables.skill_name_21, variables.skill_exp_21, variables.skill_foc_21, 'Counsel', variables.personality) }}
                    {{ sheet.genSkill("22", variables.skill_name_22, variables.skill_exp_22, variables.skill_foc_22, 'Persuade', variables.personality) }}
                    {{ sheet.genSkill("23", variables.skill_name_23, variables.skill_exp_23, variables.skill_foc_23, 'Society', variables.personality) }}
                    {{ sheet.genSkill("ATT", '', '', '', 'Willpower', variables.willpower) }}
                    {{ sheet.genSkill("24", variables.skill_name_24, variables.skill_exp_24, variables.skill_foc_24, 'Discipline', variables.willpower) }}
                    {{ sheet.genSkill("25", variables.skill_name_25, variables.skill_exp_25, variables.skill_foc_25, 'Sorcery', variables.willpower) }}
                    </table>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header head-bar">TALENTS <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTalents" aria-expanded="true" aria-controls="collapseTalents"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od" id="collapseTalents" aria-labelledby="headingTalents">
                    <table width="100%">
                    {{ sheet.genTalent("01", variables.talent_name_01, variables.talent_source_01, variables.talent_skill_01, variables.talent_rank_01, variables.talent_effect_01) }}
                    {{ sheet.genTalent("02", variables.talent_name_02, variables.talent_source_02, variables.talent_skill_02, variables.talent_rank_02, variables.talent_effect_02) }}
                    {{ sheet.genTalent("03", variables.talent_name_03, variables.talent_source_03, variables.talent_skill_03, variables.talent_rank_03, variables.talent_effect_03) }}
                    {{ sheet.genTalent("04", variables.talent_name_04, variables.talent_source_04, variables.talent_skill_04, variables.talent_rank_04, variables.talent_effect_04) }}
                    {{ sheet.genTalent("05", variables.talent_name_05, variables.talent_source_05, variables.talent_skill_05, variables.talent_rank_05, variables.talent_effect_05) }}
                    {{ sheet.genTalent("06", variables.talent_name_06, variables.talent_source_06, variables.talent_skill_06, variables.talent_rank_06, variables.talent_effect_06) }}
                    {{ sheet.genTalent("07", variables.talent_name_07, variables.talent_source_07, variables.talent_skill_07, variables.talent_rank_07, variables.talent_effect_07) }}
                    {{ sheet.genTalent("08", variables.talent_name_08, variables.talent_source_08, variables.talent_skill_08, variables.talent_rank_08, variables.talent_effect_08) }}
                    {{ sheet.genTalent("09", variables.talent_name_09, variables.talent_source_09, variables.talent_skill_09, variables.talent_rank_09, variables.talent_effect_09) }}
                    {{ sheet.genTalent("10", variables.talent_name_10, variables.talent_source_10, variables.talent_skill_10, variables.talent_rank_10, variables.talent_effect_10) }}
                    {{ sheet.genTalent("11", variables.talent_name_11, variables.talent_source_11, variables.talent_skill_11, variables.talent_rank_11, variables.talent_effect_11) }}
                    {{ sheet.genTalent("12", variables.talent_name_12, variables.talent_source_12, variables.talent_skill_12, variables.talent_rank_12, variables.talent_effect_12) }}
                    {{ sheet.genTalent("13", variables.talent_name_13, variables.talent_source_13, variables.talent_skill_13, variables.talent_rank_13, variables.talent_effect_13) }}
                    {{ sheet.genTalent("14", variables.talent_name_14, variables.talent_source_14, variables.talent_skill_14, variables.talent_rank_14, variables.talent_effect_14) }}
                    {{ sheet.genTalent("15", variables.talent_name_15, variables.talent_source_15, variables.talent_skill_15, variables.talent_rank_15, variables.talent_effect_15) }}
                    {{ sheet.genTalent("16", variables.talent_name_16, variables.talent_source_16, variables.talent_skill_16, variables.talent_rank_16, variables.talent_effect_16) }}
                    {{ sheet.genTalent("17", variables.talent_name_17, variables.talent_source_17, variables.talent_skill_17, variables.talent_rank_17, variables.talent_effect_17) }}
                    {{ sheet.genTalent("18", variables.talent_name_18, variables.talent_source_18, variables.talent_skill_18, variables.talent_rank_18, variables.talent_effect_18) }}
                    {{ sheet.genTalent("19", variables.talent_name_19, variables.talent_source_19, variables.talent_skill_19, variables.talent_rank_19, variables.talent_effect_19) }}
                    {{ sheet.genTalent("20", variables.talent_name_20, variables.talent_source_20, variables.talent_skill_20, variables.talent_rank_20, variables.talent_effect_20) }}
                    {{ sheet.genTalent("21", variables.talent_name_21, variables.talent_source_21, variables.talent_skill_21, variables.talent_rank_21, variables.talent_effect_21) }}
                    {{ sheet.genTalent("22", variables.talent_name_22, variables.talent_source_22, variables.talent_skill_22, variables.talent_rank_22, variables.talent_effect_22) }}
                    {{ sheet.genTalent("23", variables.talent_name_23, variables.talent_source_23, variables.talent_skill_23, variables.talent_rank_23, variables.talent_effect_23) }}
                    {{ sheet.genTalent("24", variables.talent_name_24, variables.talent_source_24, variables.talent_skill_24, variables.talent_rank_24, variables.talent_effect_24) }}
                    {{ sheet.genTalent("25", variables.talent_name_25, variables.talent_source_25, variables.talent_skill_25, variables.talent_rank_25, variables.talent_effect_25) }}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 hidden-md hidden-xs hidden-sm d-none d-lg-block nop">
            <div class="conan-bar">&nbsp;</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <small>
                ™ &amp; © 2016 Modiphius Entertainment Ltd.<br><a href="/w/sheet-creation/a/sheet-list">Conan Character Sheet v1.5</a>, made by Tillerz#3807 for Modiphius - Updated: 2022-08-27
            </small>
        </div>
    </div>
</div>