<section class="conan-character-trackable">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card my-2 of">
                        <div class="card-body" >
                            <table width="100%" class="mt10">
                                <tr>
                                    <th class="hdr c">Fortune Points</th>
                                    <th class="hdr c">Renown</th>
                                    <th class="hdr c">XP spent</th>
                                    <th class="hdr c">XP total</th>
                                </tr>
                                <tr>
                                    <td class="num c"><input value="{{ variables.fortune_points is defined ? variables.fortune_points }}" class="form-control" id="fortune_points" name="fortune_points" placeholder="" type="number" /></td>
                                    <td class="num c"><input value="{{ variables.renown is defined ? variables.renown }}" class="form-control" id="renown" name="renown" placeholder="" type="number" /></td>
                                    <td class="num c"><input value="{{ variables.xp_spent is defined ? variables.xp_spent }}" class="form-control" id="xp_spent" name="xp_spent" placeholder="" type="number" /></td>
                                    <td class="num c"><input value="{{ variables.xp_total is defined ? variables.xp_total }}" class="form-control" id="xp_total" name="xp_total" placeholder="" type="number" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card my-2">
                        <div class="card-body" >
                            <table width="100%">
                                <tr><td colspan=3 class="att c" width="50%">Physical</td></tr>
{% set vigor_max = variables.brawn %}{% if variables.skill_exp_09 is defined %}{% set vigor_max = vigor_max + variables.skill_exp_09 %}{% endif %}
{% set resolve_max = variables.willpower %}{% if variables.skill_exp_24 is defined %}{% set resolve_max = resolve_max + variables.skill_exp_24 %}{% endif %}
{% set wounds = 0 %}{% if variables.wounds is defined %}{% set wounds = variables.wounds %}{% endif %}
{% set trauma = 0 %}{% if variables.trauma is defined %}{% set trauma = variables.trauma %}{% endif %}
{% set vigor = vigor_max %}{% if variables.vigor is defined %}{% set vigor = variables.vigor %}{% endif %}
{% set resolve = resolve_max %}{% if variables.resolve is defined %}{% set resolve = variables.resolve %}{% endif %}
                                <tr><td class="hdr c">Vigor</td><td class="num"><input value="{{ variables.vigor is defined ? variables.vigor }}" class="form-control sff" id="vigor" name="vigor" placeholder="" size=2 type="number" /></td><td class="txt c"> of {{vigor_max}}</td></tr>
                                <tr><td class="lbl c red" colspan=2>Wounds</td><td class="num red"><input value="{{ variables.wounds is defined ? variables.wounds }}" class="form-control sff" id="wounds" name="wounds" placeholder="" size=2 type="number" /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card my-2">
                        <div class="card-body" >
                            <table width="100%">
                                <tr><td colspan=3 class="att c">Mental</td></tr>
{% set vigor_max = variables.brawn %}{% if variables.skill_exp_09 is defined %}{% set vigor_max = vigor_max + variables.skill_exp_09 %}{% endif %}
{% set resolve_max = variables.willpower %}{% if variables.skill_exp_24 is defined %}{% set resolve_max = resolve_max + variables.skill_exp_24 %}{% endif %}
{% set wounds = 0 %}{% if variables.wounds is defined %}{% set wounds = variables.wounds %}{% endif %}
{% set trauma = 0 %}{% if variables.trauma is defined %}{% set trauma = variables.trauma %}{% endif %}
{% set vigor = vigor_max %}{% if variables.vigor is defined %}{% set vigor = variables.vigor %}{% endif %}
{% set resolve = resolve_max %}{% if variables.resolve is defined %}{% set resolve = variables.resolve %}{% endif %}
                                <tr><td class="hdr c">Resolve</td><td class="num"><input value="{{ variables.resolve is defined ? variables.resolve }}" class="form-control sff" id="resolve" name="resolve" placeholder="" size=2 type="number" /></td><td class="txt c"> of {{resolve_max}}</td></tr>
                                <tr><td class="lbl c red" colspan=2>Trauma</td><td class="num red"><input value="{{ variables.trauma is defined ? variables.trauma }}" class="form-control sff" id="trauma" name="trauma" placeholder="" size=2 type="number" /></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card my-2">
                        <div class="card-header head-bar">NOTES </div>
                        <div class="card-body pd10" >
                            <textarea class="form-control" id="notes" name="notes" rows="8" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>