<div class='container-fluid dnd5e-2024'>
    <div class="row">
        <div class="col-12">
            {% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
            <p class="statblock-source" title="Source">
                {% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
                {% if meta.block.isSRD %}SRD{% endif %}
            </p>
            {% endif %}
            <div class='lbl title lbl-name'>{{variables.name|default}}</div>
            <br>
            {% if variables.mainclass|default > 0 %}Class: <b>[blocklink:{{variables.mainclass|default}}]</b><br><br>{% endif %}
        </div>
    </div>
    <div class='row'>
        {% set img = variables.imageid|default %}
        {% set wd = 12 %}{% if img > 0 %}{% set wd = 8 %}{% endif %}
        <div class='col-12 col-md-12 col-lg-{{wd}}'>
            {% if variables.introduction|default|trim != "" %}
            <div class='var var-introduction'> {{variables.introduction|default}} </div>
            {% endif %}
            {% if variables.class_features|default|trim != "" %}
            <div class='hdr hdr-class-features'> Features </div><div class='var var-class-features of'> {{variables.class_features|default}} </div>
            {% endif %}
        </div>
        {% if img > 0 %}
        <div class='col-4 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block'>
            [img:{{img|default}}]
        </div>
        {% endif %}
    </div>
</div>