<div class='container-fluid dnd5e-2024'>
    <div class='row'>
        <div class='col-12'>
            <div class='ilbl title ilbl-name'><label for='name'>Subclass</label></div><div class='ivar ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' required='required' name='name' placeholder='eg. Path of the Berserker' type='text' /></div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <div class='ilbl ilbl-introduction'><label for='introduction'>Description</label></div>
            <div class='ivar ivar-introduction'><div class='iContent'><textarea class='form-control ivar ivar-introduction mention' id='introduction' name='introduction' rows='3' >{{variables.introduction|default}}</textarea></div></div>
            <div class='ilbl ilbl-class-features'><label for='class_features'>Class Features</label></div>
            <div class='ivar ivar-class-features'><div class='iContent'><textarea class='form-control ivar ivar-class-features mention' id='class_features' name='class_features' rows='3' >{{variables.class_features|default}}</textarea></div></div>
            <div class='ilbl ev ilbl-mainclass'><label for='mainclass'>Mainclass Block ID</label></div><div class='ivar ev ivar-mainclass'><div class='iContent'><input value='{{variables.mainclass|default}}' class='form-control ivar ivar-mainclass' id='mainclass' name='mainclass' placeholder='eg. 76534, 56234, 747234' type='text' /></div></div>
            <p class="description form-control-description">Use this field to link back to a main class block.</sp>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class="col-12">
			<div class="statblock-stat-form">
                <label for="imageid" class="control-label"><h4 class="header-title">Illustrating image (WA Image Gallery ID)</h4></label>
                <input value="{{ variables.imageid|default }}" class="form-control" id="imageid" name="imageid" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
		<div class="col-12">
			<div class="statblock-stat-form">
				<label for="source" class="control-label"><h4 class="header-title">Source</h4></label>
				<input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
				<p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
			</div>
		</div>
	</div>
</div>