{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

{% macro percentage(value, maxVal=100) %}
    {% import _self as macros %}
    {{ value/maxVal*100 }}
{% endmacro %}

{% macro rarityPercentage(value) %}
    {% import _self as macros %}
    {% if value == 'common' %}
    33
    {% elseif value == 'rare' %}
    60
    {% elseif value == 'unique' %}
    100
    {% endif %}
{% endmacro %}
{{ macros.percentage(macros.rarityPercentage(variables.rarity)) }}
<div class="container thechapter-stat-weapon">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 thechapter-stat-weapon-heading pull-right">

                    <div class="col-md-2 thechapter-stat-weapon-category-icon">
                        <img src="weaponicons/WeaponIcon_RoF.svg" class="img-fluid" alt="weapon icon">
                    </div>

                    <div class="col-md-10">
                        <h2>{{ variables.name }}</h2>
                        <h3 class="m-l-25 thechapter-stat-weapon-heading-category">
                            {{ variables.type }}
                        </h3>
                    </div>

            </div>
            <div class="col-md-12 m-t-25 thechapter-stat-weapon-stats-wrapper">
                <div class="col-sm-12 col-md-8" style="background: url('{{ variables.img }}') no-repeat top left; background-size: fill;">
                </div>
                <div class="col-sm-12 col-md-4 thechapter-stat-weapon-stats">
                    <div class="row">
                        <div class="col-md-3"><img src="/images/rpgsrd/genesys/WeaponIcon_MaxAmmo.svg" alt="max ammo" class="img-fluid"></div>
                        <div class="col-md-9 ">

                            <div class="col-md-4">
                                <h4>{{ variables.amt }}</h4>
                            </div>

                            <div class="col-md-8">
                                <h4 style="text-align: right;">MAX AMMO</h4>
                            </div>

                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ variables.amt }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ macros.percentage(variables.amt) }}%;">
                                        <span class="sr-only">{{ variables.amt }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><img src="/images/rpgsrd/genesys/WeaponIcon_Weight.svg" alt="weight" class="img-fluid"></div>
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <h4 style="font-weight: 700">{{ variables.weight }} kg</h4>
                            </div>

                            <div class="col-md-8">
                                <h4 style="font-weight: 700; text-align: right;">WEIGHT</h4>
                            </div>

                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ variables.weight }}" aria-valuemin="0" aria-valuemax="20" style="width: {{ macros.percentage(variables.weight, 20) }}%;">
                                        <span class="sr-only">{{ variables.weight }} kg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><img src="/images/rpgsrd/genesys/WeaponIcon_Accuracy.svg" alt="range" class="img-fluid"></div>
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <h4 style="font-weight: 700">{{ variables.range }} m</h4>
                            </div>

                            <div class="col-md-8">
                                <h4 style="font-weight: 700; text-align: right;">RANGE</h4>
                            </div>

                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ variables.range }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ macros.percentage(variables.range) }}%;">
                                        <span class="sr-only">{{ variables.range }} m</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><img src="/images/rpgsrd/genesys/WeaponIcon_damage.svg" alt="" class="img-fluid"></div>
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <h4 style="font-weight: 700">{{ variables.damage }}</h4>
                            </div>

                            <div class="col-md-8">
                                <h4 style="font-weight: 700; text-align: right;">DAMAGE</h4>
                            </div>

                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ variables.damage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ macros.percentage(variables.damage) }}%;">
                                        <span class="sr-only">{{ variables.damage }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><img src="/images/rpgsrd/genesys/WeaponIcon_Condition.svg" alt="condition" class="img-fluid"></div>
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <h4 style="font-weight: 700">{{ variables.condition }}</h4>
                            </div>

                            <div class="col-md-8">
                                <h4 style="font-weight: 700; text-align: right;">CONDITION</h4>
                            </div>

                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ variables.condition }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ macros.percentage(variables.condition, 10) }}%;">
                                        <span class="sr-only">{{ variables.condition }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><img src="/images/rpgsrd/genesys/WeaponIcon_Rarity.svg" alt="rarity" class="img-fluid"></div>
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <h4 style="font-weight: 700">{{ variables.rarity }}</h4>
                            </div>

                            <div class="col-md-8">
                                <h4 style="font-weight: 700; text-align: right;">RARITY</h4>
                            </div>

                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{macros.rarityPercentage(variables.rarity)}}" aria-valuemin="0" aria-valuemax="10" style="width: {{macros.rarityPercentage(variables.rarity)}}%;">
                                        <span class="sr-only">{{ variables.rarity }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
