{% set str_total = (variables.str_base ?? 0) + (variables.str_modifier ?? 0) %}
{% set dex_total = (variables.dex_base ?? 0) + (variables.dex_modifier ?? 0) %}
{% set con_total = (variables.con_base ?? 0) + (variables.con_modifier ?? 0) %}
{% set siz_total = (variables.siz_base ?? 0) + (variables.siz_modifier ?? 0) %}
{% set int_total = (variables.int_base ?? 0) + (variables.int_modifier ?? 0) %}
{% set pow_total = (variables.pow_base ?? 0) + (variables.pow_modifier ?? 0) %}
{% set cha_total = (variables.cha_base ?? 0) + (variables.cha_modifier ?? 0) %}
<div class="row justify-content-sm-center">
<div class="contentContainer badge text-center">
    <h2>{{variables.name}}</h2>
    <strong>{{ variables.species|default('') }} ({{ variables.culture|default('') }} {{ variables.career|default('') }})<br>
        {% if variables.social_class is defined and variables.social_class != "" %} {{ variables.social_class }}{% endif %}</strong>
</div>
</div>
<div class="row">
    <div class="col-6 col-xs-6 col-sm-4 col-md-4 of">
        <div class="contentContainer c of badge of pnp">
            <span title="Strength">STR</span><br>
            <span class="strong">{{ str_total }}</span>
        </div>
    </div>
    <div class="col-6 col-xs-6 col-sm-4 col-md-4 of">
        <div class="contentContainer c of badge of pnp">
            <span title="Dexterity">DEX</span><br>
            <span class="strong">{{ dex_total }}</span>
        </div>
    </div>
    <div class="col-6 col-xs-6 col-sm-4 col-md-4 of">
        <div class="contentContainer c of badge of pnp">
            <span title="Constitution">CON</span><br>
            <span class="strong">{{ con_total }}</span>
        </div>
    </div>
    <div class="col-6 col-xs-6 col-sm-4 col-md-4 of">
        <div class="contentContainer c of badge of pnp">
            <span title="Size">SIZ</span><br>
            <span class="strong">{{ siz_total }}</span>
        </div>
    </div>
    <div class="col-6 col-xs-6 col-sm-4 col-md-4 of">
        <div class="contentContainer c of badge of pnp">
            <span title="Intelligence">INT</span><br>
            <span class="strong">{{ int_total }}</span>
        </div>
    </div>
    <div class="col-6 col-xs-6 col-sm-4 col-md-4 of">
        <div class="contentContainer c of badge of pnp">
            <span title="Power">POW</span><br>
            <span class="strong">{{ pow_total }}</span>
        </div>
    </div>
    <div class="col-6 col-xs-6 col-sm-4 col-md-4 of">
        <div class="contentContainer c of badge of pnp">
            <span title="Charisma">CHA</span><br>
            <span class="strong">{{ cha_total }}</span>
        </div>
    </div>
</div>