<!-- made by Tillerz v1.00 -->
<section class="sta-character-trackable">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card my-2">
                        <div class="card-header head-bar"><span class="wbg">Misc</span></div>
                        <div class="card-body">
                            <strong title="Determination, one to three, starts at one">Determination</strong> <p class="rightpillform"><input value="{{ variables.determination is defined ? variables.determination }}" class="form-control" id="determination" name="determination" placeholder="" size="2" type="number" max="3" /></p><br>
                            <strong title="Momentum Pool of the team">Momentum</strong> <p class="rightpillform"><input value="{{ variables.momentum_current is defined ? variables.momentum_current }}" class="form-control" id="momentum_current" name="momentum_current" placeholder="" size="2" type="number" /></p><br>
                            <strong title="Current Stress Level">Stress</strong> <p class="rightpillform"><input value="{{ variables.stress_current is defined ? variables.stress_current }}" class="form-control" id="stress_current" name="stress_current" placeholder="" size="2" type="number" /></p><br>
                            <strong title="Resistance or Armor">Resistance</strong> <p class="rightpillform"><input value="{{ variables.resistance is defined ? variables.resistance }}" class="form-control" id="resistance" name="resistance" placeholder="" size="2" type="number" /></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card my-2">
                        <div class="card-header head-bar"><span class="wbg">Equipment</span></div>
                        <div class="card-body">
                            <div class="row d-flex justify-content-between align-items-center">
                                <span class="myinputfield">
                                    <textarea class="form-control" id="other_equipment" name="other_equipment" cols="40" rows="20">{{ variables.other_equipment is defined ? variables.other_equipment }}</textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card my-2">
                        <div class="card-header head-bar"><span class="wbg">Notes</span></div>
                        <div class="card-body">
                            <div class="row d-flex justify-content-between align-items-center">
                                <span class="myinputfield">
                                    <textarea class="form-control" id="notes" name="notes" cols="40" rows="20">{{ variables.notes is defined ? variables.notes }}</textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>