{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

<div class="character-sheet">
    <span class="character-info character-name"><b>{{ variables.name }}</b></span>
    <br>
    <span class="character-info"><b>{{ variables.species }}</b></span>
    <br>
    <span class="character-info"><b>{{ variables.career }}</b></span>
    <br>
    <span class="character-info"><b>{{ variables.player }}</b></span>
    <br>
    <div class="character-resources">
        <div class="resource-block">
            <span class="center"><b>{{ variables.soak }}</b></span>
        </div>
        <div class="resource-block">
            <div class="threshold">
                <span class="center"><b>{{ variables.wound_threshold }}</b></span>
            </div>
            <div class="current">
                <span class="center"><b>{{ variables.wound_current }}</b></span>
            </div>
        </div>
        <div class="resource-block">
            <div class="threshold">
                <span class="center"><b>{{ variables.strain_threshold }}</b></span>
            </div>
            <div class="current">
                <span class="center"><b>{{ variables.strain_current }}</b></span>
            </div>
        </div>
        <div class="resource-block">
            <div class="threshold">
                <span class="center"><b>{{ variables.melee_defense }}</b></span>
            </div>
            <div class="current">
                <span class="center"><b>{{ variables.ranged_defense }}</b></span>
            </div>
        </div>
    </div>
    <div class="character-characteristics">
        <div class="characteristic">
            <span class="center"><b>{{ variables.bra }}</b></span>
        </div>
        <div class="characteristic">
            <span class="center"><b>{{ variables.agi }}</b></span>
        </div>
        <div class="characteristic">
            <span class="center"><b>{{ variables.int }}</b></span>
        </div>
        <div class="characteristic">
            <span class="center"><b>{{ variables.cun }}</b></span>
        </div>
        <div class="characteristic">
            <span class="center"><b>{{ variables.wil }}</b></span>
        </div>
        <div class="characteristic">
            <span class="center"><b>{{ variables.pre }}</b></span>
        </div>
    </div>
    <div class="character-skills">
        <div class="left-column">
            <div class="general-skills">
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.alchemy_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.alchemy_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.alchemy_lvl > 0 %}
                        {% for i in range(1, variables.alchemy_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.astrocartography_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.astrocartography_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.astrocartography_lvl > 0 %}
                        {% for i in range(1, variables.astrocartography_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.athletics_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.athletics_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.athletics_lvl > 0 %}
                        {% for i in range(1, variables.athletics_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.computers_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.computers_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.computers_lvl > 0 %}
                        {% for i in range(1, computers.alchemy_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.cool_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.cool_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.cool_lvl > 0 %}
                        {% for i in range(1, variables.cool_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.coordination_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.coordination_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.coordination_lvl > 0 %}
                        {% for i in range(1, variables.coordination_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.discipline_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.discipline_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.discipline_lvl > 0 %}
                        {% for i in range(1, variables.discipline_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.driving_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.driving_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.driving_lvl > 0 %}
                        {% for i in range(1, variables.discipline_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.mechanics_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.mechanics_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.mechanincs_lvl > 0 %}
                        {% for i in range(1, variables.mechanics_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.medicine_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.medicine_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.medicine_lvl > 0 %}
                        {% for i in range(1, variables.medicine_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.operating_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.operating_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.operating_lvl > 0 %}
                        {% for i in range(1, variables.operating_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.piloting_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.piloting_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.piloting_lvl > 0 %}
                        {% for i in range(1, variables.piloting_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.resilience_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.resilience_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.resilience_lvl > 0 %}
                        {% for i in range(1, variables.resilience_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.riding_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.riding_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.riding_lvl > 0 %}
                        {% for i in range(1, variables.riding_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.skullduggery_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.skullduggery_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.skullduggery_lvl > 0 %}
                        {% for i in range(1, variables.skullduggery_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.stealth_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.stealth_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.stealth_lvl > 0 %}
                        {% for i in range(1, variables.stealth_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.streetwise_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.streetwise_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.streetwise_lvl > 0 %}
                        {% for i in range(1, variables.streetwise_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.survival_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.survival_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.survival_lvl > 0 %}
                        {% for i in range(1, variables.survival_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.vigilance_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.vigilance_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.vigilance_lvl > 0 %}
                        {% for i in range(1, variables.vigilance_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="magic-skills">
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.arcana_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.arcana_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.arcana_lvl > 0 %}
                        {% for i in range(1, variables.arcana_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.divine_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.divine_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.divine_lvl > 0 %}
                        {% for i in range(1, variables.divine_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.primal_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.primal_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.primal_lvl > 0 %}
                        {% for i in range(1, variables.arcana_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="combat-skills">
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.brawl_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.brawl_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.brawl_lvl > 0 %}
                        {% for i in range(1, variables.brawl_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.gunnery_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.gunnery_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.gunnery_lvl > 0 %}
                        {% for i in range(1, variables.gunnery) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.melee_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.melee_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.melee_lvl > 0 %}
                        {% for i in range(1, variables.melee_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.melee_h_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.melee_h_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.melee_h_lvl > 0 %}
                        {% for i in range(1, variables.melee_h_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.melee_l_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.melee_l_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.melee_l_lvl > 0 %}
                        {% for i in range(1, variables.melee_l_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.ranged_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.ranged_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.ranged_lvl > 0 %}
                        {% for i in range(1, variables.ranged_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.ranged_h_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.ranged_h_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.ranged_h_lvl > 0 %}
                        {% for i in range(1, variables.ranged_h_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.ranged_l_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.ranged_l_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.ranged_l_lvl > 0 %}
                        {% for i in range(1, variables.ranged_l_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="social-skills">
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.charm_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.charm_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.charm_lvl > 0 %}
                        {% for i in range(1, variables.charm_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.coercion_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.coercion_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.coercion_lvl > 0 %}
                        {% for i in range(1, variables.coercion_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.deception_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.deception_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.deception_lvl > 0 %}
                        {% for i in range(1, variables.deception_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.leadership_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.leadership_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.leadership_lvl > 0 %}
                        {% for i in range(1, variables.leadership_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.negotiation_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.negotiation_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.negotiation_lvl > 0 %}
                        {% for i in range(1, variables.negotiation_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="knowledge-skills">
                <div class="skill-row">
                    <div class="name"></div>
                    <div class="setting">
                        {% if variables.knowledge_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.knowledge_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.knowledge_lvl > 0 %}
                        {% for i in range(1, variables.knowledge_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name">{{ variables.knowledge_1_school }}</div>
                    <div class="setting">
                        {% if variables.knowledge_1_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.knowledge_1_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.knowledge_1_lvl > 0 %}
                        {% for i in range(1, variables.knowledge_1_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name">{{ variables.knowledge_2_school }}</div>
                    <div class="setting">
                        {% if variables.knowledge_2_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.knowledge_2_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.knowledge_2_lvl > 0 %}
                        {% for i in range(1, variables.knowledge_2_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name">{{ variables.knowledge_3_school }}</div>
                    <div class="setting">
                        {% if variables.knowledge_3_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.knowledge_3_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.knowledge_3_lvl > 0 %}
                        {% for i in range(1, variables.knowledge_3_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="custom-skills">
                <div class="skill-row">
                    <div class="name">{{ variables.custom_1_name }}</div>
                    <div class="setting">
                        {% if variables.custom_1_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.custom_1_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.custom_1_lvl > 0 %}
                        {% for i in range(1, variables.custom_1_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name">{{ variables.custom_2_name }}</div>
                    <div class="setting">
                        {% if variables.custom_2_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.custom_2_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.custom_2_lvl > 0 %}
                        {% for i in range(1, variables.custom_2_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name">{{ variables.custom_3_name }}</div>
                    <div class="setting">
                        {% if variables.custom_3_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.custom_3_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.custom_3_lvl > 0 %}
                        {% for i in range(1, variables.custom_3_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
                <div class="skill-row">
                    <div class="name">{{ variables.custom_4_name }}</div>
                    <div class="setting">
                        {% if variables.custom_4_setting %}
                        <div class="circle center"></div>
                        {% endif %}
                    </div>
                    <div class="career">
                        {% if variables.custom_4_career %}
                        <div class="square center"></div>
                        {% endif %}
                    </div>
                    <div class="rank">
                        {% if variables.custom_4_lvl > 0 %}
                        {% for i in range(1, variables.custom_4_lvl) %}
                        <span class="oval"></span>
                        {% endfor %}    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="character-weapons">
        <div class="weapon-row">
            <div class="name">
                <span>{{ variables.weapon_1_name }}</span>
            </div>
            <div class="skill">
                <span>{{ variables.weapon_1_skill }}</span>
            </div>
            <div class="damage">
                <span class="center center-text">{{ variables.weapon_1_dmg }}</span>
            </div>
            <div class="crit">
                <span class="center center-text">{{ variables.weapon_1_crit }}</span>
            </div>
            <div class="range">
                <span>{{ variables.weapon_1_range }}</span>
            </div>
            <div class="special">
                <span>{{ variables.weapon_1_special }}</span>
            </div>
        </div>
        <div class="weapon-row">
            <div class="name">
                <span>{{ variables.weapon_2_name }}</span>
            </div>
            <div class="skill">
                <span>{{ variables.weapon_2_skill }}</span>
            </div>
            <div class="damage">
                <span class="center center-text">{{ variables.weapon_2_dmg }}</span>
            </div>
            <div class="crit">
                <span class="center center-text">{{ variables.weapon_2_crit }}</span>
            </div>
            <div class="range">
                <span>{{ variables.weapon_2_range }}</span>
            </div>
            <div class="special">
                <span>{{ variables.weapon_2_special }}</span>
            </div>
        </div>
        <div class="weapon-row">
            <div class="name">
                <span>{{ variables.weapon_3_name }}</span>
            </div>
            <div class="skill">
                <span>{{ variables.weapon_3_skill }}</span>
            </div>
            <div class="damage">
                <span class="center center-text">{{ variables.weapon_3_dmg }}</span>
            </div>
            <div class="crit">
                <span class="center center-text">{{ variables.weapon_3_crit }}</span>
            </div>
            <div class="range">
                <span>{{ variables.weapon_3_range }}</span>
            </div>
            <div class="special">
                <span>{{ variables.weapon_3_special }}</span>
            </div>
        </div>
        <div class="weapon-row">
            <div class="name">
                <span>{{ variables.weapon_4_name }}</span>
            </div>
            <div class="skill">
                <span>{{ variables.weapon_4_skill }}</span>
            </div>
            <div class="damage">
                <span class="center center-text">{{ variables.weapon_4_dmg }}</span>
            </div>
            <div class="crit">
                <span class="center center-text">{{ variables.weapon_4_crit }}</span>
            </div>
            <div class="range">
                <span>{{ variables.weapon_4_range }}</span>
            </div>
            <div class="special">
                <span>{{ variables.weapon_4_special }}</span>
            </div>
        </div>
    </div>
    <div class="character-xp">
        <div class="total">
            {% if variables.total_xp %}
            <span>{{ variables.total_xp }}</span>
            {% else %}
            <span>0</span>
            {% endif %}
        </div>
        <div class="available">
            {%if variables.available_xp %}
            <span>{{ variables.available_xp }}</span>
            {% else %}
            <span>0</span>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}