<div class="container-fluid pf2-rpg">
	<div class="pf2-feat-block col-12">
		<div class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header pf-red-bg">
					{{ variables.name }} {% if variables.slot is defined and variables.slot != '' %}<span class="level">{{ variables.slot }}</span>{% endif %}
				</div>
				<div class="card-body txt">
					{% if variables.type is defined and variables.type != '' %}
					{% set list = variables.type|split(',') %}{% for x in list %}<span class="trait">{{x|trim}}</span>{% endfor %}<br><br>{% endif %}
					<div class="row">	
						<div class="col-12 col-md-12 col-lg-4">
							{% if variables.requirements %}
							<h3>Requirements</h3>
							{{variables.requirements is defined ? variables.requirements }} 
							{% endif %}
							{% if variables.trigger %}
							<h3>Trigger</h3>
							{{variables.trigger is defined ? variables.trigger}} 
							{% endif %}
							{% if variables.action %}
							<h3>Action</h3>
							{{variables.action is defined ? variables.action}} 
							{% endif %}
						</div>
						<div class="col-12 col-md-12 col-lg-8">
							{% if variables.description %}
							<h3>Description</h3>
							{{variables.description is defined ? variables.description}} 
							{% endif %}
							{% if variables.specific_applications %}
							<h3>Applications</h3>
							{{variables.specific_applications is defined ? variables.specific_applications}} 
							{% endif %}
							{% if variables.performance %}
							<h3>Degrees of Performance</h3>
							{{variables.performance is defined ? variables.performance}} 
							{% endif %}
						</div>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>