<div class="container-fluid pf2-rpg">
	<div class="pf2-character-sheet col-12">
		<div class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header pf-red-bg">
					{{ variables.name }}
				</div>
				<div class="card-body txt">
					{% if variables.type is defined %} <div class="pull-right"><span class="label label-info">{{ variables.type }}</span></div>{% endif %}
					{% if variables.tags %}<p><em>{{ variables.tags is defined ? variables.tags }}</em></p>{% endif %}
					<hr>
					<div class="row">	
						<div class="col-12 col-md-12 col-lg-4">
							{% if variables.slot %}
							<h3>Feat Level / Slot</h3>
							{{variables.slot is defined ? variables.slot}} 
							{% endif %}
							{% if variables.requirements %}
							<h3>Requirements</h3>
							{{variables.requirements is defined ? variables.requirements }} 
							{% endif %}
						</div>
						<div class="col-12 col-md-12 col-lg-8">
							{% if variables.description %}
							<h3>Description</h3>
							{{variables.description is defined ? variables.description}} 
							{% endif %}
							{% if variables.specific_applications %}
							<h3>Applications</h3>
							{{variables.specific_applications is defined ? variables.specific_applications}} 
							{% endif %}
							{% if variables.performance %}
							<h3>Degrees of Performance</h3>
							{{variables.performance is defined ? variables.performance}} 
							{% endif %}
						</div>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>