<div class="container-fluid pf2-rpg">
	<div class="pf2-character-sheet col-12">
		<div class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header pf-red-bg">
					Feat Name: <input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control med" id="name" name="name" placeholder="Name of the action or feat" type="text" />
				</div>
				<div class="card-body txt">
					<div class="row">
						<div class="col-12">
							<h3>Label</h3>
Shown as brown blocks on the left side underneath the title bar: <span class="trait">General</span> <span class="trait">Skill</span><br><br>
							<textarea class="form-control" id="type" name="type" rows="1" placeholder="eg Trait, Single Action ">{{ variables.type is defined ? variables.type }}</textarea>
							<h3>Feat Level / Slot</h3>
Shown on the right side, inside the title bar.<br><br>
							<input value="{{ variables.slot is defined ? variables.slot }}" class="form-control" id="slot" name="slot" placeholder="eg Skill Feat 1, General Feat 1" type="text" /> 
							<h3>Requirements</h3>
							<input value="{{ variables.requirements is defined ? variables.requirements }}" class="form-control" id="requirements" name="requirements" placeholder="eg Trained in Medicine" type="text" /> 
							<h3>Trigger</h3>
							<textarea class="form-control" id="trigger" name="trigger" rows="4">{{ variables.trigger is defined ? variables.trigger }}</textarea>
							<h3>Action</h3>
							<textarea class="form-control" id="action" name="action" rows="4">{{ variables.action is defined ? variables.action }}</textarea>
							<h3>Description</h3>
							<textarea class="form-control" id="description" name="description" rows="4">{{ variables.description is defined ? variables.description }}</textarea>
							<h3>Applications</h3>
							<textarea class="form-control" id="specific_applications" name="specific_applications" rows="4">{{ variables.specific_applications is defined ? variables.specific_applications }}</textarea> 
							<h3>Degrees of Performance</h3>
							<textarea class="form-control" id="performance" name="performance" rows="4">{{ variables.performance is defined ? variables.performance }}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>