{% set bruises1 = 6 %}{% if variables.toughness >= 4 %}{% set bruises1 = 8 %}{% endif %}
{% set bruises2 = 4 %}{% if variables.toughness >= 5 %}{% set bruises2 = 5 %}{% endif %}
{# ----------------------------------------------------------------------------- #}
<div class="container-fluid sheet-blood-and-doom tracker">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card combat" id="card-combat">
                <div class="card-body">
                    <table class='table'>
                        <th class='ilbl od ilbl-doom-points' width='25%'><label for='doom-points'>Doom Points</label></th><td class='ivar od ivar-doom-points'>
                            <div class='ivar od ivar-doom-points'>
                                {% for i in 1..6 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    <input value='0' id='doom_points' name='doom_points_{{id}}' type='hidden' />
                                    <input value='1' {% if attribute(variables, 'doom_points_' ~ id)|default > 0 %} checked='checked'{% endif %} id='doom_points' name='doom_points_{{id}}' type='checkbox' />
                                {% endfor %}
                            </div>
                        </td>
                        <th class='ilbl od ilbl-blood-points' width='25%'><label for='blood-points'>Blood Points</label></th><td class='ivar od ivar-blood-points'>
                            <div class='ivar od ivar-blood-points'>
                                {% for i in 1..6 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    <input value='0' id='blood_points' name='blood_points_{{id}}' type='hidden' />
                                    <input value='1' {% if attribute(variables, 'blood_points_' ~ id)|default > 0 %} checked='checked'{% endif %} id='blood_points' name='blood_points_{{id}}' type='checkbox' />
                                {% endfor %}
                            </div>
                        </td>
                    </table>
                    <table class='table'>
                        <tr><th class='ilbl ev ilbl-conditions' width='25%'><label for='conditions'>Conditions</label></th><td class='ivar ev ivar-conditions'><input value='{{variables.conditions|default}}' class='form-control ivar ivar-conditions' id='conditions' name='conditions' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-afflictions'><label for='afflictions'>Afflictions</label></th><td class='ivar od ivar-afflictions'><input value='{{variables.afflictions|default}}' class='form-control ivar ivar-afflictions' id='afflictions' name='afflictions' type='text' /></td></tr>
                    </table>
                    <table class='table'>
                            <th class='ilbl od ilbl-bruises'><label for='bruises'>Bruises</label></th>
                            <td class='ivar od ivar-bruises'>
                                {% for i in 1..bruises1 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    <input value='0' id='bruises' name='bruises1_{{id}}' type='hidden' /><input value='1' {% if attribute(variables, 'bruises1_' ~ id)|default > 0 %} checked='checked'{% endif %} id='bruises' name='bruises1_{{id}}' type='checkbox' />
                                {% endfor %}
                                &nbsp;&nbsp;
                                {% for i in 1..bruises2 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    <input value='0' id='bruises' name='bruises2_{{id}}' type='hidden' /><input value='1' {% if attribute(variables, 'bruises2_' ~ id)|default > 0 %} checked='checked'{% endif %} id='bruises' name='bruises2_{{id}}' type='checkbox' />
                                {% endfor %} <small>x2</small>
                            </td>
                        </tr>
                        <tr>
                            <th class='ilbl ev ilbl-wounds'><label for='wounds'>Wounds</label></th>
                            <td class='ivar ev ivar-wounds'>
                                {% for i in 1..4 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    <input value='0' id='wounds' name='wounds_{{id}}' type='hidden' /><input value='1' {% if attribute(variables, 'wounds_' ~ id)|default > 0 %} checked='checked'{% endif %} id='wounds' name='wounds_{{id}}' type='checkbox' />
                                {% endfor %} <small>x3</small>
                                &nbsp;&nbsp;
                                {% for i in 5..6 %}
                                    {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}
                                    <input value='0' id='wounds' name='wounds_{{id}}' type='hidden' /><input value='1' {% if attribute(variables, 'wounds_' ~ id)|default > 0 %} checked='checked'{% endif %} id='wounds' name='wounds_{{id}}' type='checkbox' />
                                {% endfor %} <small>x6</small>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>