<div class="container-fluid storybook-sheet">
	<div class="row">
		<div class="col-12">
			<div class="card">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="titleContainer">
                            <span class="titleContent">Storybook System Creature Sheet</span>
                        </div>
                        <div class="row">
                            {% if variables.imgid|default > 0 %}
                            <div class="col-12 col-sm-6 col-md-8">
                            {% else %}
                            <div class="col-12 col-sm-12">
                            {% endif %}
                                <div class="contentContainerSmall name">
                                    <span class="inputLabel name">Name</span>
                                    <span class="inputContent name">{{ variables.name|default}}</span>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="contentContainerSmall form">
                                            <span class="inputLabel form">Form</span>
                                            <span class="inputContent form">{{ variables.form|default}}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="contentContainerSmall type">
                                            <span class="inputLabel type">Type</span>
                                            <span class="inputContent type">{{ variables.type|default}}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="contentContainerSmall size">
                                            <span class="inputLabel size">Size</span>
                                            <span class="inputContent size">{{ variables.size|default}}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="contentContainerSmall location">
                                            <span class="inputLabel location">Location</span>
                                            <span class="inputContent location">{{ variables.location|default}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if variables.imgid|default > 0 %}
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="imageContainer">
                                    <span class="imageContent">[img:{{ variables.imgid|default}}]</span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="contentContainerAtt">
                            <div class="atttext">{{ variables.att_might|default}}</div>
                            <span class="inputLabel att might">Might</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="contentContainerAtt">
                            <div class="atttext">{{ variables.att_agility|default}}</div>
                            <span class="inputLabel att agility">Agility</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="contentContainerAtt">
                            <div class="atttext">{{ variables.att_magic|default}}</div>
                            <span class="inputLabel att magic">Magic</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="contentContainerAtt">
                            <div class="atttext">{{ variables.att_heroism|default}}</div>
                            <span class="inputLabel att heroism">Heroism</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="contentContainerOther">
                            <div class="othertext">{{ variables.heroism_points|default}}</div>
                            <span class="inputLabel other heroismpoints">Heroism Points</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="contentContainerOther">
                            <div class="othertext">{{ variables.stealth|default}}</div>
                            <span class="inputLabel other stealth">Stealth</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="contentContainerOther">
                            <div class="othertext">{{ variables.observation|default}}</div>
                            <span class="inputLabel other observation">Observation</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeedlabel">
                            <span class="inputContent speedlabel">Speed</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed land">Land</span>
                            <span class="inputContent speed">{{ variables.speed_land|default}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed climb">Climb</span>
                            <span class="inputContent speed">{{ variables.speed_climb|default}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed swim">Swim</span>
                            <span class="inputContent speed">{{ variables.speed_swim|default}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed fly">Fly</span>
                            <span class="inputContent speed">{{ variables.speed_fly|default}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed jump">Jump</span>
                            <span class="inputContent speed">{{ variables.speed_jump|default}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if variables.armor|default != "" %}
                    <div class="col-12 col-lg-6">
                        <div class="contentContainerSmall armor l">
                            <span class="inputLabel armor">Armor</span>
                            <span class="inputContent armor">{{ variables.armor|default|nl2br}}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if variables.weapons|default != "" %}
                    <div class="col-12 col-lg-6">
                        <div class="contentContainerSmall weapons l">
                            <span class="inputLabel weapons">Weapons</span>
                            <span class="inputContent weapons">{{ variables.weapons|default|nl2br}}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if variables.strengths|default != "" %}
                    <div class="col-12 col-lg-6">
                        <div class="contentContainerSmall skills l">
                            <span class="inputLabel strengths">Strengths &amp; Weaknesses</span>
                            <span class="inputContent skills">{{ variables.strengths|default|nl2br}}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if variables.skills|default != "" %}
                    <div class="col-12 col-lg-6">
                        <div class="contentContainerSmall skills l">
                            <span class="inputLabel skills">Skills</span>
                            <span class="inputContent skills">{{ variables.skills|default|nl2br}}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if variables.behaviour|default != "" %}
                    <div class="col-12 col-lg-6">
                        <div class="contentContainerSmall behaviour l">
                            <span class="inputLabel behaviour">Behaviour</span>
                            <span class="inputContent behaviour">{{ variables.behaviour|default|nl2br}}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if variables.actions|default != "" %}
                    <div class="col-12 col-lg-6">
                        <div class="contentContainerSmall actions l">
                            <span class="inputLabel actions">Actions</span>
                            <span class="inputContent actions">{{ variables.actions|default|nl2br}}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if variables.difficulty|default != "" %}
                    <div class="col-12 col-lg-6">
                        <div class="contentContainerSmall difficulty l">
                            <span class="inputLabel difficulty">Difficulty</span>
                            <span class="inputContent difficulty">{{ variables.difficulty|default|nl2br}}</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>