<div class="container-fluid storybook-sheet">
	<div class="row">
		<div class="col-12">
			<div class="card">
                <div class="row">
                    <div class="col-12">
                        <div class="titleContainer">
                            <span class="titleContent">Storybook System Creature Sheet</span>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="contentContainerSmall name">
                                    <span class="inputLabel name">Name</span>
                                    <span class="inputContent name"><input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" type="text" /></span>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="contentContainerSmall form">
                                            <span class="inputLabel form">Form</span>
                                            <span class="inputContent form"><input value="{{ variables.form is defined ? variables.form }}" required="required" class="form-control" id="form" name="form" type="text" /></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="contentContainerSmall type">
                                            <span class="inputLabel type">Type</span>
                                            <span class="inputContent type"><input value="{{ variables.type is defined ? variables.type }}" required="required" class="form-control" id="type" name="type" type="text" /></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="contentContainerSmall size">
                                            <span class="inputLabel size">Size</span>
                                            <span class="inputContent size"><input value="{{ variables.size is defined ? variables.size }}" required="required" class="form-control" id="size" name="size" type="text" /></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="contentContainerSmall location">
                                            <span class="inputLabel location">Location</span>
                                            <span class="inputContent location"><input value="{{ variables.location is defined ? variables.location }}" class="form-control" id="location" name="location" type="text" /></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="contentContainerSmall mageid">
                                            <span class="inputLabel imageid">WA image id</span>
                                            <span class="inputContent imageid"><input value="{{ variables.imgid is defined ? variables.imgid }}" class="form-control" id="imgid" name="imgid" type="number" /></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="contentContainerAtt">
                            <div class="atttext"><input value="{{ variables.att_might is defined ? variables.att_might }}" required="required" class="form-control" id="att_might" name="att_might" type="number" /></div>
                            <span class="inputLabel att might">Might</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="contentContainerAtt">
                            <div class="atttext"><input value="{{ variables.att_agility is defined ? variables.att_agility }}" required="required" class="form-control" id="att_agility" name="att_agility" type="number" /></div>
                            <span class="inputLabel att agility">Agility</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="contentContainerAtt">
                            <div class="atttext"><input value="{{ variables.att_magic is defined ? variables.att_magic }}" required="required" class="form-control" id="att_magic" name="att_magic" type="number" /></div>
                            <span class="inputLabel att magic">Magic</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="contentContainerAtt">
                            <div class="atttext"><input value="{{ variables.att_heroism is defined ? variables.att_heroism }}" required="required" class="form-control" id="att_heroism" name="att_heroism" type="number" /></div>
                            <span class="inputLabel att heroism">Heroism</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="contentContainerOther">
                            <div class="othertext"><input value="{{ variables.heroism_points is defined ? variables.heroism_points }}" class="form-control" id="heroism_points" name="heroism_points" type="number" /></div>
                            <span class="inputLabel other heroismpoints">Heroism Points</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="contentContainerOther">
                            <div class="othertext"><input value="{{ variables.stealth is defined ? variables.stealth }}" class="form-control" id="stealth" name="stealth" type="number" /></div>
                            <span class="inputLabel other stealth">Stealth</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="contentContainerOther">
                            <div class="othertext"><input value="{{ variables.observation is defined ? variables.observation }}" class="form-control" id="observation" name="observation" type="number" /></div>
                            <span class="inputLabel other observation">Observation</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeedlabel">
                            <span class="inputContent speedlabel">Speed</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed land">Land</span>
                            <span class="inputContent speed"><input value="{{ variables.speed_land is defined ? variables.speed_land }}" class="form-control" id="speed_land" name="speed_land" type="number" /></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed climb">Climb</span>
                            <span class="inputContent speed"><input value="{{ variables.speed_climb is defined ? variables.speed_climb }}" class="form-control" id="speed_climb" name="speed_climb" type="number" /></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed swim">Swim</span>
                            <span class="inputContent speed"><input value="{{ variables.speed_swim is defined ? variables.speed_swim }}" class="form-control" id="speed_swim" name="speed_swim" type="number" /></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed fly">Fly</span>
                            <span class="inputContent speed"><input value="{{ variables.speed_fly is defined ? variables.speed_fly }}" class="form-control" id="speed_fly" name="speed_fly" type="number" /></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="contentContainerSpeed">
                            <span class="inputLabel speed jump">Jump</span>
                            <span class="inputContent speed"><input value="{{ variables.speed_jump is defined ? variables.speed_jump }}" class="form-control" id="speed_jump" name="speed_jump" type="number" /></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="contentContainerSmall armor">
                            <span class="inputLabel armor">Armor</span>
                            <span class="inputContent armor"><textarea class="form-control mention" id="armor" name="armor" rows="3">{{ variables.armor is defined ? variables.armor }}</textarea></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="contentContainerSmall weapons">
                            <span class="inputLabel weapons">Weapons</span>
                            <span class="inputContent weapons"><textarea class="form-control mention" id="weapons" name="weapons" rows="3">{{ variables.weapons is defined ? variables.weapons }}</textarea></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="contentContainerSmall skills">
                            <span class="inputLabel strengths">Strengths &amp; Weaknesses</span>
                            <span class="inputContent skills"><textarea class="form-control mention" id="strengths" name="strengths" rows="3">{{ variables.strengths is defined ? variables.strengths }}</textarea></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="contentContainerSmall skills">
                            <span class="inputLabel skills">Skills</span>
                            <span class="inputContent skills"><textarea class="form-control mention" id="skills" name="skills" rows="3">{{ variables.skills is defined ? variables.skills }}</textarea></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="contentContainerSmall behaviour">
                            <span class="inputLabel behaviour">Behaviour</span>
                            <span class="inputContent behaviour"><textarea class="form-control mention" id="behaviour" name="behaviour" rows="3">{{ variables.behaviour is defined ? variables.behaviour }}</textarea></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="contentContainerSmall actions">
                            <span class="inputLabel actions">Actions</span>
                            <span class="inputContent actions"><textarea class="form-control mention" id="actions" name="actions" rows="3">{{ variables.actions is defined ? variables.actions }}</textarea></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="contentContainerSmall difficulty">
                            <span class="inputLabel difficulty">Difficulty</span>
                            <span class="inputContent difficulty"><textarea class="form-control mention" id="difficulty" name="difficulty" rows="3">{{ variables.difficulty is defined ? variables.difficulty }}</textarea></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>