{% set style = 'light' %}{% if variables.style|default == 1 %}{% set style = 'dark' %}{% endif %}
<div class="container-fluid sheet-laurels-and-loot-{{style}}">
  <div class="row">
    <div class="col-12 c">
        <b>{{variables.name|default}}</b>{% if variables.parentage|default != "" %}, {{variables.parentage|default}}{% endif %}{% if variables.level|default != "" %}, Lvl {{variables.level|default}}{% endif %}
        {% if variables.occupation|default != "" %}<br>{{variables.occupation|default}}{% endif %}
      </div>
  </div>
</div>