{% import _self as sheet %}
{% macro sign(x = 0) %}{% if x >= 0 %}+{% endif %}{{x}}{% endmacro sign %}
{% set style = 'light' %}{% if variables.style|default == 1 %}{% set style = 'dark' %}{% endif %}
<div class="container-fluid sheet-laurels-and-loot-{{style}}">
  <div class="row">
    <div class="col-12 col-lg-3 hidden-xs hidden-sm hidden-md d-none d-lg-block">
      [img:5530385]
    </div>
    <div class="col-12 col-md-10 col-lg-7">
      <div class="card personal" id="card-personal">
        <div class="card-body of">
          <table class='table'>
            <tr><th class='lbl od lbl-name lbsm'> Name </th><td class='var od var-name'> {{variables.name|default}} </td></tr>
            <tr><th class='lbl ev lbl-player lbsm'> Player </th><td class='var ev var-player'> {{variables.player|default}} </td></tr>
            <tr><th class='lbl od lbl-parentage lbsm'> Parentage </th><td class='var od var-parentage'> {{variables.parentage|default}} </td></tr>
            <tr><th class='lbl ev lbl-occupation lbsm'> Former Occupation </th><td class='var ev var-occupation'> {{variables.occupation|default}} </td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2 col-lg-2">
      <div class="card level" id="card-level">
        <div class="card-body of">
          <table class='table'>
          <tr>
          <th class='lbl od lbl-level'> Level </th>
          </tr>
          <td class='var od var-level c'>{{variables.level|default}}</td>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card attributes" id="card-attributes">
        <div class="card-body of">
          <table class='table'>
            <tr><th class='lbl od lbl-str lblg' title='Strength'> STR </th><td class='var od var-str c' title='Strength'    >{{ _self.sign(variables.str|default) }}</td></tr>
            <tr><th class='lbl ev lbl-dex' title='Dexterity'    > DEX </th><td class='var ev var-dex c' title='Dexterity'   >{{ _self.sign(variables.dex|default) }}</td></tr>
            <tr><th class='lbl od lbl-con' title='Constitution' > CON </th><td class='var od var-con c' title='Constitution'>{{ _self.sign(variables.con|default) }}</td></tr>
            <tr><th class='lbl ev lbl-int' title='Intelligence' > INT </th><td class='var ev var-int c' title='Intelligence'>{{ _self.sign(variables.int|default) }}</td></tr>
            <tr><th class='lbl od lbl-awa' title='Awareness'    > AWA </th><td class='var od var-awa c' title='Awareness'   >{{ _self.sign(variables.wis|default) }}</td></tr>
            <tr><th class='lbl od lbl-wil' title='Willpower'    > WIL </th><td class='var od var-wil c' title='Willwpoer'   >{{ _self.sign(variables.wil|default) }}</td></tr>
            <tr><th class='lbl ev lbl-cha' title='Charisma'     > CHA </th><td class='var ev var-cha c' title='Charisma'    >{{ _self.sign(variables.cha|default) }}</td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card stamina" id="card-stamina">
        <div class="card-header stamina">Stamina Points</div>
        <div class="card-body of">
          <table class='table'>
            <tr><th class='lbl od lbl-stamina-sd-type lblg'> SD Type </th><td class='var od var-stamina-sd-type c'> {{variables.stamina_sd_type|default}} </td></tr>
            <tr><th class='lbl ev lbl-stamina-max lblg'> Maximum </th><td class='var ev var-stamina-max c'>{{variables.stamina_max|default('0')}}</td></tr>
            <tr><th class='lbl od lbl-stamina-curr lblg'> Current </th><td class='var od var-stamina-curr c'>{{variables.stamina_curr|default('0')}}</td></tr>
          </table>
        </div>
      </div>
      <div class="card injury" id="card-injury">
        <div class="card-header injury">Injury Points</div>
        <div class="card-body of">
          <table class='table'>
            <tr><th class='lbl od lbl-injury-max lblg'> Maximum </th><td class='var od var-injury-max c'>{{variables.injury_max|default('0')}}</td></tr>
            <tr><th class='lbl ev lbl-injury-curr lblg'> Current </th><td class='var ev var-injury-curr c'>{{variables.injury_curr|default('0')}}</td></tr>
          </table>
        </div>
      </div>
      <div class="card ap dm" id="card-ap dm">
        <div class="card-body of">
          <table class='table'>
            <tr><th class='lbl od lbl-ap lblg'> Armor Points </th><td class='var od var-ap c'>{{variables.ap|default('0')}}</td></tr>
            <tr><th class='lbl ev lbl-dm lblg'> Damage Multiple </th><td class='var ev var-dm c'>{{variables.dm|default('1')}}</td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card conditions" id="card-conditions">
        <div class="card-header conditions">Conditions</div>
        <div class="card-body of">
          <table class='table'>
            <tr><th class='lbl od lbl-con-befuddled'> Befuddled </th><td class='var od var-con-befuddled c'>{% if variables.con_befuddled|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
            <tr><th class='lbl ev lbl-con-clumsy'> Clumsy </th><td class='var ev var-con-clumsy c'>{% if variables.con_clumsy|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
            <tr><th class='lbl od lbl-con-exhausted'> Exhausted </th><td class='var od var-con-exhausted c'>{% if variables.con_exhausted|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
            <tr><th class='lbl ev lbl-con-hastened'> Hastened </th><td class='var ev var-con-hastened c'>{% if variables.con_hastened|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
            <tr><th class='lbl od lbl-con-paralyzed'> Paralyzed </th><td class='var od var-con-paralyzed c'>{% if variables.con_paralyzed|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
            <tr><th class='lbl ev lbl-con-petrified'> Petrified </th><td class='var ev var-con-petrified c'>{% if variables.con_petrified|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
            <tr><th class='lbl od lbl-con-prone'> Prone </th><td class='var od var-con-prone c'>{% if variables.con_prone|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
            <tr><th class='lbl ev lbl-con-restrained'> Restrained </th><td class='var ev var-con-restrained c'>{% if variables.con_restrained|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
            <tr><th class='lbl od lbl-con-slowed'> Slowed </th><td class='var od var-con-slowed c'>{% if variables.con_slowed|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
            <tr><th class='lbl ev lbl-con-unconscious'> Unconscious </th><td class='var ev var-con-unconscious c'>{% if variables.con_unconscious|default == 1 %}<i class='fa-solid fa-square'></i>{% else %}<i class='fa-regular fa-square'></i>{% endif %}</td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card size speed" id="card-size speed">
        <div class="card-body of">
          <table class='table'>
            <tr><th class='lbl od lbl-size'> Size </th><td class='var od var-size c'> {{variables.size|default}} </td></tr>
            <tr><th class='lbl ev lbl-speed'> Speed </th><td class='var ev var-speed c'> {{variables.speed|default}} </td></tr>
          </table>
        </div>
      </div>
      <div class="card specialties" id="card-specialties">
        <div class="card-header specialties">Acquired Specialties</div>
        <div class="card-body of">
          <table class='table'>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><td class='var {{eo}} var-specialties'> {{attribute(variables, 'specialties_' ~ id)|default}} </td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="card abilities" id="card-abilities">
        <div class="card-header abilities">Inherent Abilities</div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="card ability 01" id="card-ability 01">
        <div class="card-body of">
          <div class='var od var-abilities-01 c'> {{variables.abilities_01|default}} </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="card ability 01" id="card-ability 01">
        <div class="card-body of">
          <div class='var od var-abilities-02 c'> {{variables.abilities_02|default}} </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card coins" id="card-coins">
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-3">
              <table class='table'>
                <tr><th class='hdr od hdr-coin'> Coins </th></tr>
              </table>
            </div>
            <div class="col-12 col-md-3">
              <table class='table'>
                <tr><th class='lbl od lbl-coin-gold lbmd'> Gold </th><td class='var od var-coin-gold c'> {{variables.coin_gold|default}} </td></tr>
              </table>
            </div>
            <div class="col-12 col-md-3">
              <table class='table'>
                <tr><th class='lbl od lbl-coin-silver lbmd'> Silver </th><td class='var od var-coin-silver c'> {{variables.coin_silver|default}} </td></tr>
              </table>
            </div>
            <div class="col-12 col-md-3">
              <table class='table'>
                <tr><th class='lbl od lbl-coin-copper lbmd'> Copper </th><td class='var od var-coin-copper c'> {{variables.coin_copper|default}} </td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card inventory" id="card-inventory">
        <div class="card-header inventory">Inventory <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseInventory" href="#collapseInventory" role="button" aria-expanded="true" aria-controls="collapseInventory"><em class="fas fa-angle-down"></em></button></div>
        <div class="card-body of collapse show" id="collapseInventory">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
              {% for i in 1..35 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% if attribute(variables, 'worn_' ~ id)|default == 1 and attribute(variables, 'inventory_' ~ id)|default != "" %}
                  <tr>
                    <td class='var var-inventory'> {{attribute(variables, 'inventory_' ~ id)|default}} </td>
                  </tr>
                {% endif %}
              {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
              {% for i in 36..70 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% if attribute(variables, 'worn_' ~ id)|default == 1 and attribute(variables, 'inventory_' ~ id)|default != "" %}
                  <tr>
                    <td class='var var-inventory'> {{attribute(variables, 'inventory_' ~ id)|default}} </td>
                  </tr>
                {% endif %}
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card spellbooks" id="card-spellbooks">
        <div class="card-header spellbooks">Spellbooks</div>
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <div class='lbl od lbl-sb-in-use-1'>{% if variables.sb_in_use_1|default == 1 %}<i class='fa-regular fa-square-check' title='in use'></i>{% else %}<i class='fa-regular fa-square' title='not in use'></i>{% endif %} Spellbook 1 </div>
            </div>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='var {{eo}} var-spell'> {{attribute(variables, 'spell_' ~ id)|default}} </div>
              </div>
            {% endfor %}
            <div class="col-12">
              <div class='lbl ev lbl-sb-in-use-2'>{% if variables.sb_in_use_2|default == 1 %}<i class='fa-regular fa-square-check' title='in use'></i>{% else %}<i class='fa-regular fa-square' title='not in use'></i>{% endif %} Spellbook 2 </div>
            </div>
            {% for i in 7..12 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='var {{eo}} var-spell'> {{attribute(variables, 'spell_' ~ id)|default}} </div>
              </div>
            {% endfor %}
            <div class="col-12">
              <div class='lbl od lbl-sb-in-use-3'>{% if variables.sb_in_use_3|default == 1 %}<i class='fa-regular fa-square-check' title='in use'></i>{% else %}<i class='fa-regular fa-square' title='not in use'></i>{% endif %} Spellbook 3 </div>
            </div>
            {% for i in 13..18 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='var {{eo}} var-spell'> {{attribute(variables, 'spell_' ~ id)|default}} </div>
              </div>
            {% endfor %}
            <div class="col-12">
              <div class='lbl ev lbl-sb-in-use-4'>{% if variables.sb_in_use_4|default == 1 %}<i class='fa-regular fa-square-check' title='in use'></i>{% else %}<i class='fa-regular fa-square' title='not in use'></i>{% endif %} Spellbook 4 </div>
            </div>
            {% for i in 19..24 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='var {{eo}} var-spell'> {{attribute(variables, 'spell_' ~ id)|default}} </div>
              </div>
            {% endfor %}
            <div class="col-12">
              <div class='lbl od lbl-sb-in-use-5'>{% if variables.sb_in_use_5|default == 1 %}<i class='fa-regular fa-square-check' title='in use'></i>{% else %}<i class='fa-regular fa-square' title='not in use'></i>{% endif %} Spellbook 5 </div>
            </div>
            {% for i in 25..30 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='var {{eo}} var-spell'> {{attribute(variables, 'spell_' ~ id)|default}} </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card possessions" id="card-posessions">
        <div class="card-header possessions">Possessions <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapsePossessions" href="#collapsePossessions" role="button" aria-expanded="true" aria-controls="collapsePossessions"><em class="fas fa-angle-down"></em></button></div>
        <div class="card-body of collapse hide" id="collapsePossessions">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
              {% for i in 1..35 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% if attribute(variables, 'worn_' ~ id)|default == 0 and attribute(variables, 'inventory_' ~ id)|default != "" %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr>
                    <td class='var {{eo}} var-inventory'> {{attribute(variables, 'inventory_' ~ id)|default}} </td>
                  </tr>
                {% endif %}
              {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
              {% for i in 36..70 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% if attribute(variables, 'worn_' ~ id)|default == 0 and attribute(variables, 'inventory_' ~ id)|default != "" %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr>
                    <td class='var {{eo}} var-inventory'> {{attribute(variables, 'inventory_' ~ id)|default}} </td>
                  </tr>
                {% endif %}
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card personal" id="card-personal">
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='lbl od lbl-physique lbmd'> Physique </th><td class='var od var-physique'> {{variables.physique|default}} </td></tr>
                <tr><th class='lbl ev lbl-facial-features lbmd'> Facial Features </th><td class='var ev var-facial-features'> {{variables.facial_features|default}} </td></tr>
                <tr><th class='lbl od lbl-clothing-style lbmd'> Clothing Style </th><td class='var od var-clothing-style'> {{variables.clothing_style|default}} </td></tr>
                <tr><th class='lbl ev lbl-hair-style lbmd'> Hair Style </th><td class='var ev var-hair-style'> {{variables.hair_style|default}} </td></tr>
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='lbl od lbl-eye-color lbmd'> Eye Color </th><td class='var od var-eye-color'> {{variables.eye_color|default}} </td></tr>
                <tr><th class='lbl ev lbl-hair-color lbmd'> Hair Color </th><td class='var ev var-hair-color'> {{variables.hair_color|default}} </td></tr>
                <tr><th class='lbl od lbl-skin-color lbmd'> Skin Color </th><td class='var od var-skin-color'> {{variables.skin_color|default}} </td></tr>
                <tr><th class='lbl ev lbl-dist-marks lbmd'> Distinctive Marks </th><td class='var ev var-dist-marks'> {{variables.dist_marks|default}} </td></tr>
              </table>
            </div>
            <div class="col-12">
              <div class='lbl od lbl-physical-features'> Other Physical Features </div><div class='var od var-physical-features'> {{variables.physical_features|default}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card selflessness" id="card-selflessness">
        <div class="card-body of">
          <table class='table'>
          <tr>
          <th class='lbl od lbl-selflessness lbmd' > Selflessness </th>
          <td class='var od var-selflessness c' >{{variables.selflessness|default('5')}}</td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card respect" id="card-respect">
        <div class="card-body of">
          <table class='table'>
          <tr>
          <th class='lbl od lbl-respect lbmd' > Respect </th>
          <td class='var od var-respect c' >{{variables.respect|default('5')}}</td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card personality" id="card-personality">
        <div class="card-body of">
          <table class='table'>
          <tr>
          <th class='lbl od lbl-personality lbmd' > Personality </th>
          <td class='var od var-personality ' > {{variables.personality|default}} </td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <div class="card backstory" id="card-backstory">
        <div class="card-header backstory">Backstory Highlights <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseBackstory" href="#collapseBackstory" role="button" aria-expanded="true" aria-controls="collapseBackstory"><em class="fas fa-angle-down"></em></button></div>
        <div class="card-body of collapse hide" id="collapseBackstory">
          <div class='var od var-backstory'> {{variables.backstory|default|nl2br}} </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <div class="card notes" id="card-notes">
        <div class="card-header notes">Journal / Notes <button title="Minimize header section" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseNotes" href="#collapseNotes" role="button" aria-expanded="true" aria-controls="collapseNotes"><em class="fas fa-angle-down"></em></button></div>
        <div class="card-body of collapse hide" id="collapseNotes">
          <div class='var od var-notes'> {{variables.notes|default|nl2br}} </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"><div class="col-12 text-center"><small>Laurels &amp; Loot</a> by RPGDinosaurBob<br><a href="/w/sheet-creation/board/laurels-and-loot" target="_new">Character Sheet v1.1</a>, made by Tillerz - Updated: 2023-09-13</small></div></div>
</div>