{% import _self as sheet %}
{% set parentage = [
    "Birdfolk", "Catfolk", "Dwarf", "Elf", "Gnome", "Goblin", "Human", "Halfling", "Kobold", "Lizardfolk", "Orc", "Ratfolk"
  ]
%}
{% set style = 'light' %}{% if variables.style|default == 1 %}{% set style = 'dark' %}{% endif %}
<div class="container-fluid form sheet-laurels-and-loot-{{style}}">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card personal" id="card-personal">
        <div class="card-body of">
          <table class='table'>
            <tr><th class='ilbl od ilbl-name'><label for='name'>Character Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' required=required /></td></tr>
            <tr><th class='ilbl ev ilbl-player'><label for='player'>Player Name</label></th><td class='ivar ev ivar-player'><input value='{{variables.player|default}}' class='form-control ivar ivar-player' id='player' name='player' type='text'  /></td></tr>
            <tr><th class='ilbl od ilbl-parentage'><label for='parentage'>Parentage</label></th><td class='ivar od ivar-parentage'>
              <select  class='form-control ivar ivar-parentage' id='parentage' name='parentage'>
                {% for p in parentage %}
                <option value="{{p}}" {% if variables.parentage|default == p %}selected="selected" {% endif %} >{{p}}</option>
                {% endfor %}
              </select></td></tr>
            <tr><th class='ilbl ev ilbl-occupation'><label for='occupation'>Former Occupation</label></th><td class='ivar ev ivar-occupation'><input value='{{variables.occupation|default}}' class='form-control ivar ivar-occupation' id='occupation' name='occupation' type='text'  /></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card level" id="card-level">
        <div class="card-body of">
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-level'><label for='level'>Level</label></th>
          </tr>
          <td class='ivar {{eo}} ivar-level abibas c' ><input value='{{variables.level|default('1')}}' class='form-control ivar ivar-level c' id='level' name='level' type='number' min='1' max='20' required=required /></td>
          </table>
        </div>
      </div>
      <input value='0' id='style' name='style' type='hidden' /><input value='1' class='c' {% if variables.style|default > 0 %} checked='checked'{% endif %} id='style' name='style' type='checkbox' /> Dark Mode
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card attributes" id="card-attributes">
        <div class="card-body of">
          <table class='table'>
            <tr><th class='ilbl od ilbl-str' title='Strength'><label for='str'>STR</label></th><td class='ivar od ivar-str c' title='Strength'><input value='{{variables.str|default('0') }}' class='form-control ivar ivar-str c' id='str' name='str' type='number' min='-5' max='10' required=required /></td></tr>
            <tr><th class='ilbl ev ilbl-dex' title='Dexterity'><label for='dex'>DEX</label></th><td class='ivar ev ivar-dex c' title='Dexterity'><input value='{{variables.dex|default('0') }}' class='form-control ivar ivar-dex c' id='dex' name='dex' type='number' min='-5' max='10' required=required /></td></tr>
            <tr><th class='ilbl od ilbl-con' title='Constitution'><label for='con'>CON</label></th><td class='ivar od ivar-con c' title='Constitution'><input value='{{variables.con|default('0') }}' class='form-control ivar ivar-con c' id='con' name='con' type='number' min='-5' max='10' required=required /></td></tr>
            <tr><th class='ilbl ev ilbl-int' title='Intelligence'><label for='int'>INT</label></th><td class='ivar ev ivar-int c' title='Intelligence'><input value='{{variables.int|default('0') }}' class='form-control ivar ivar-int c' id='int' name='int' type='number' min='-5' max='10' required=required /></td></tr>
            <tr><th class='ilbl od ilbl-awa' title='Awareness'><label for='awa'>AWA</label></th><td class='ivar od ivar-awa c' title='Awareness'><input value='{{variables.wis|default('0') }}' class='form-control ivar ivar-awa c' id='wis' name='wis' type='number' min='-5' max='10' required=required /></td></tr>
            <tr><th class='ilbl ev ilbl-wil' title='Willpower'><label for='wil'>WIL</label></th><td class='ivar ev ivar-wil c' title='Willpower'><input value='{{variables.wil|default('0') }}' class='form-control ivar ivar-wil c' id='wil' name='wil' type='number' min='-5' max='10' required=required /></td></tr>
            <tr><th class='ilbl od ilbl-cha' title='Charisma'><label for='cha'>CHA</label></th><td class='ivar od ivar-cha c' title='Charisma'><input value='{{variables.cha|default('0') }}' class='form-control ivar ivar-cha c' id='cha' name='cha' type='number' min='-5' max='10' required=required /></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card stamina" id="card-stamina">
        <div class="card-header stamina">Stamina Points</div>
        <div class="card-body of">
          <table class='table'>
            <tr><th class='ilbl od ilbl-stamina-sd-type lblg'><label for='stamina_sd_type'>SD Type</label></th><td class='ivar od ivar-stamina-sd-type'>
              <select  class='form-control ivar ivar-stamina-sd-type' id='stamina_sd_type' name='stamina_sd_type'>
                <option value='d6' {% if variables.stamina_sd_type|default == 'd6' %}selected='selected' {% endif %} > d6 </option>
                <option value='d8' {% if variables.stamina_sd_type|default == 'd8' %}selected='selected' {% endif %} > d8 </option>
                <option value='d10' {% if variables.stamina_sd_type|default == 'd10' %}selected='selected' {% endif %} > d10 </option>
              </select></td></tr>
            <tr><th class='ilbl ev ilbl-stamina-max lblg'><label for='stamina_max'>Maximum</label></th><td class='ivar ev ivar-stamina-max c' >    <input value='{{variables.stamina_max|default('0') }}' class='form-control ivar ivar-stamina-max c' id='stamina_max' name='stamina_max' type='number' min='0' max='300' /></td></tr>
            <tr><th class='ilbl od ilbl-stamina-curr lblg'><label for='stamina_curr'>Current</label></th><td class='ivar od ivar-stamina-curr c' > <input value='{{variables.stamina_curr|default('0') }}' class='form-control ivar ivar-stamina-curr c' id='stamina_curr' name='stamina_curr' type='number' min='0' max='300' /></td></tr>
          </table>
        </div>
      </div>
      <div class="card injury" id="card-injury">
        <div class="card-header injury">Injury Points</div>
        <div class="card-body of">
          <table class='table'>
            <tr><th class='ilbl od ilbl-injury-max lblg'><label for='injury_max'>Maximum</label></th><td class='ivar od ivar-injury-max c' ><input value='{{variables.injury_max|default('0') }}' class='form-control ivar ivar-injury-max c' id='injury_max' name='injury_max' type='number' min='0' max='20'  /></td></tr>
            <tr><th class='ilbl ev ilbl-injury-curr lblg'><label for='injury_curr'>Current</label></th><td class='ivar ev ivar-injury-curr c' ><input value='{{variables.injury_curr|default('0') }}' class='form-control ivar ivar-injury-curr c' id='injury_curr' name='injury_curr' type='number' min='0' max='20'  /></td></tr>
          </table>
        </div>
      </div>
      <div class="card ap dm" id="card-ap dm">
        <div class="card-body of">
          <table class='table'>
            <tr><th class='ilbl od ilbl-ap lblg'><label for='ap'>Armor Points</label></th><td class='ivar od ivar-ap c' ><input value='{{variables.ap|default('0') }}' class='form-control ivar ivar-ap c' id='ap' name='ap' type='number' min='-2' max='10'  /></td></tr>
            <tr><th class='ilbl ev ilbl-dm lblg'><label for='dm'>Damage Multiple</label></th><td class='ivar ev ivar-dm c' ><input value='{{variables.dm|default('1') }}' class='form-control ivar ivar-dm c' id='dm' name='dm' type='number' min='1' max='10'  /></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card conditions" id="card-conditions">
        <div class="card-header conditions">Conditions</div>
        <div class="card-body of">
          <table class='table'>
            <tr><th class='ilbl od ilbl-con-befuddled lblg'><label for='con_befuddled'>Befuddled</label></th><td class='ivar od ivar-con-befuddled c' ><input value='0' id='con_befuddled' name='con_befuddled' type='hidden' /><input value='1' class='c' {% if variables.con_befuddled|default > 0 %} checked='checked'{% endif %} id='con_befuddled' name='con_befuddled' type='checkbox' /></td></tr>
            <tr><th class='ilbl ev ilbl-con-clumsy'><label for='con_clumsy'>Clumsy</label></th><td class='ivar ev ivar-con-clumsy c' ><input value='0' id='con_clumsy' name='con_clumsy' type='hidden' /><input value='1' class='c' {% if variables.con_clumsy|default > 0 %} checked='checked'{% endif %} id='con_clumsy' name='con_clumsy' type='checkbox' /></td></tr>
            <tr><th class='ilbl od ilbl-con-exhausted'><label for='con_exhausted'>Exhausted</label></th><td class='ivar od ivar-con-exhausted c' ><input value='0' id='con_exhausted' name='con_exhausted' type='hidden' /><input value='1' class='c' {% if variables.con_exhausted|default > 0 %} checked='checked'{% endif %} id='con_exhausted' name='con_exhausted' type='checkbox' /></td></tr>
            <tr><th class='ilbl ev ilbl-con-hastened'><label for='con_hastened'>Hastened</label></th><td class='ivar ev ivar-con-hastened c' ><input value='0' id='con_hastened' name='con_hastened' type='hidden' /><input value='1' class='c' {% if variables.con_hastened|default > 0 %} checked='checked'{% endif %} id='con_hastened' name='con_hastened' type='checkbox' /></td></tr>
            <tr><th class='ilbl od ilbl-con-paralyzed'><label for='con_paralyzed'>Paralyzed</label></th><td class='ivar od ivar-con-paralyzed c' ><input value='0' id='con_paralyzed' name='con_paralyzed' type='hidden' /><input value='1' class='c' {% if variables.con_paralyzed|default > 0 %} checked='checked'{% endif %} id='con_paralyzed' name='con_paralyzed' type='checkbox' /></td></tr>
            <tr><th class='ilbl ev ilbl-con-petrified'><label for='con_petrified'>Petrified</label></th><td class='ivar ev ivar-con-petrified c' ><input value='0' id='con_petrified' name='con_petrified' type='hidden' /><input value='1' class='c' {% if variables.con_petrified|default > 0 %} checked='checked'{% endif %} id='con_petrified' name='con_petrified' type='checkbox' /></td></tr>
            <tr><th class='ilbl od ilbl-con-prone'><label for='con_prone'>Prone</label></th><td class='ivar od ivar-con-prone c' ><input value='0' id='con_prone' name='con_prone' type='hidden' /><input value='1' class='c' {% if variables.con_prone|default > 0 %} checked='checked'{% endif %} id='con_prone' name='con_prone' type='checkbox' /></td></tr>
            <tr><th class='ilbl ev ilbl-con-restrained'><label for='con_restrained'>Restrained</label></th><td class='ivar ev ivar-con-restrained c' ><input value='0' id='con_restrained' name='con_restrained' type='hidden' /><input value='1' class='c' {% if variables.con_restrained|default > 0 %} checked='checked'{% endif %} id='con_restrained' name='con_restrained' type='checkbox' /></td></tr>
            <tr><th class='ilbl od ilbl-con-slowed'><label for='con_slowed'>Slowed</label></th><td class='ivar od ivar-con-slowed c' ><input value='0' id='con_slowed' name='con_slowed' type='hidden' /><input value='1' class='c' {% if variables.con_slowed|default > 0 %} checked='checked'{% endif %} id='con_slowed' name='con_slowed' type='checkbox' /></td></tr>
            <tr><th class='ilbl ev ilbl-con-unconscious'><label for='con_unconscious'>Unconscious</label></th><td class='ivar ev ivar-con-unconscious c' ><input value='0' id='con_unconscious' name='con_unconscious' type='hidden' /><input value='1' class='c' {% if variables.con_unconscious|default > 0 %} checked='checked'{% endif %} id='con_unconscious' name='con_unconscious' type='checkbox' /></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card size speed" id="card-size speed">
        <div class="card-body of">
          <table class='table'>
            <tr><th class='ilbl od ilbl-size'><label for='size'>Size</label></th><td class='ivar od ivar-size'><input value='{{variables.size|default}}' class='form-control ivar ivar-size' id='size' name='size' type='text'  /></td></tr>
            <tr><th class='ilbl ev ilbl-speed'><label for='speed'>Speed</label></th><td class='ivar ev ivar-speed'><input value='{{variables.speed|default}}' class='form-control ivar ivar-speed' id='speed' name='speed' type='text'  /></td></tr>
          </table>
        </div>
      </div>
      <div class="card specialties" id="card-specialties">
        <div class="card-header specialties">Acquired Specialties</div>
        <div class="card-body of">
          <table class='table'>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr><td class='ivar {{eo}} ivar-specialties'><input value='{{attribute(variables, 'specialties_' ~ id)|default}}' class='form-control ivar ivar-specialties' id='specialties' name='specialties_{{id}}' type='text'  /></td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="card abilities" id="card-abilities">
        <div class="card-header abilities">Inherent Abilities</div>
        <div class="card-body of">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="card ability 01" id="card-ability 01">
        <div class="card-body of">
          <div class='ivar od ivar-abilities-01'><input value='{{variables.abilities_01|default}}' class='form-control ivar ivar-abilities-01' id='abilities_01' name='abilities_01' type='text'  /></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="card ability 01" id="card-ability 01">
        <div class="card-body of">
          <div class='ivar od ivar-abilities-02'><input value='{{variables.abilities_02|default}}' class='form-control ivar ivar-abilities-02' id='abilities_02' name='abilities_02' type='text'  /></div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card coins" id="card-coins">
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-3">
              <table class='table'>
                <tr><th class='ihdr od ihdr-coin'>Coins</th></tr>
              </table>
            </div>
            <div class="col-12 col-md-3">
              <table class='table'>
                <tr><th class='ilbl od ilbl-coin-gold lbmd'><label for='coin_gold'>Gold</label></th><td class='ivar od ivar-coin-gold'><input value='{{variables.coin_gold|default('0') }}' class='form-control ivar ivar-coin-gold' id='coin_gold' name='coin_gold' type='text'  /></td></tr>
              </table>
            </div>
            <div class="col-12 col-md-3">
              <table class='table'>
                <tr><th class='ilbl od ilbl-coin-silver lbmd'><label for='coin_silver'>Silver</label></th><td class='ivar od ivar-coin-silver'><input value='{{variables.coin_silver|default('0') }}' class='form-control ivar ivar-coin-silver' id='coin_silver' name='coin_silver' type='text'  /></td></tr>
              </table>
            </div>
            <div class="col-12 col-md-3">
              <table class='table'>
                <tr><th class='ilbl od ilbl-coin-copper lbmd'><label for='coin_copper'>Copper</label></th><td class='ivar od ivar-coin-copper'><input value='{{variables.coin_copper|default('0') }}' class='form-control ivar ivar-coin-copper' id='coin_copper' name='coin_copper' type='text'  /></td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card spellbooks" id="card-spellbooks">
        <div class="card-header spellbooks">Spellbooks</div>
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <div class='ilbl od ilbl-sb-in-use-1'><label for='sb_in_use_1'>Spellbook 1</label> - in use: <input value='0' id='sb_in_use_1' name='sb_in_use_1' type='hidden' /><input value='1' class='c' {% if variables.sb_in_use_1|default > 0 %} checked='checked'{% endif %} id='sb_in_use_1' name='sb_in_use_1' type='checkbox' /></div>
            </div>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='ivar {{eo}} ivar-spell'><input value='{{attribute(variables, 'spell_' ~ id)|default}}' class='form-control ivar ivar-spell' id='spell' name='spell_{{id}}' type='text'  /></div>
              </div>
            {% endfor %}
            <div class="col-12">
              <div class='ilbl od ilbl-sb-in-use-2'><label for='sb_in_use_2'>Spellbook 2</label> - in use: <input value='0' id='sb_in_use_2' name='sb_in_use_2' type='hidden' /><input value='1' class='c' {% if variables.sb_in_use_2|default > 0 %} checked='checked'{% endif %} id='sb_in_use_2' name='sb_in_use_2' type='checkbox' /></div>
            </div>
            {% for i in 7..12 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='ivar {{eo}} ivar-spell'><input value='{{attribute(variables, 'spell_' ~ id)|default}}' class='form-control ivar ivar-spell' id='spell' name='spell_{{id}}' type='text'  /></div>
              </div>
            {% endfor %}
            <div class="col-12">
              <div class='ilbl od ilbl-sb-in-use-3'><label for='sb_in_use_3'>Spellbook 3</label> - in use: <input value='0' id='sb_in_use_3' name='sb_in_use_3' type='hidden' /><input value='1' class='c' {% if variables.sb_in_use_3|default > 0 %} checked='checked'{% endif %} id='sb_in_use_3' name='sb_in_use_3' type='checkbox' /></div>
            </div>
            {% for i in 13..18 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='ivar {{eo}} ivar-spell'><input value='{{attribute(variables, 'spell_' ~ id)|default}}' class='form-control ivar ivar-spell' id='spell' name='spell_{{id}}' type='text'  /></div>
              </div>
            {% endfor %}
            <div class="col-12">
              <div class='ilbl od ilbl-sb-in-use-4'><label for='sb_in_use_4'>Spellbook 4</label> - in use: <input value='0' id='sb_in_use_4' name='sb_in_use_4' type='hidden' /><input value='1' class='c' {% if variables.sb_in_use_4|default > 0 %} checked='checked'{% endif %} id='sb_in_use_4' name='sb_in_use_4' type='checkbox' /></div>
            </div>
            {% for i in 19..24 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='ivar {{eo}} ivar-spell'><input value='{{attribute(variables, 'spell_' ~ id)|default}}' class='form-control ivar ivar-spell' id='spell' name='spell_{{id}}' type='text'  /></div>
              </div>
            {% endfor %}
            <div class="col-12">
              <div class='ilbl od ilbl-sb-in-use-5'><label for='sb_in_use_5'>Spellbook 5</label> - in use: <input value='0' id='sb_in_use_5' name='sb_in_use_5' type='hidden' /><input value='1' class='c' {% if variables.sb_in_use_5|default > 0 %} checked='checked'{% endif %} id='sb_in_use_5' name='sb_in_use_5' type='checkbox' /></div>
            </div>
            {% for i in 25..30 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4 col-lg-2">
                <div class='ivar {{eo}} ivar-spell'><input value='{{attribute(variables, 'spell_' ~ id)|default}}' class='form-control ivar ivar-spell' id='spell' name='spell_{{id}}' type='text'  /></div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card inventory" id="card-inventory">
        <div class="card-header inventory">Inventory / Possessions</div>
        <div class="card-body of">
          Track all your possessions here. To equip an item, check the box on the left.
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
              {% for i in 1..35 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
              <td class='ivar {{eo}} ivar-worn c' ><input value='0' id='worn' name='worn_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'worn_' ~ id)|default > 0 %} checked='checked'{% endif %} id='worn' name='worn_{{id}}' type='checkbox' /></td>
              <td class='ivar {{eo}} ivar-inventory'><input value='{{attribute(variables, 'inventory_' ~ id)|default}}' class='form-control ivar ivar-inventory' id='inventory' name='inventory_{{id}}' type='text'  /></td>
              </tr>
              {% endfor %}
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
              {% for i in 36..70 %}
                {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
              <td class='ivar {{eo}} ivar-worn c' ><input value='0' id='worn' name='worn_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'worn_' ~ id)|default > 0 %} checked='checked'{% endif %} id='worn' name='worn_{{id}}' type='checkbox' /></td>
              <td class='ivar {{eo}} ivar-inventory'><input value='{{attribute(variables, 'inventory_' ~ id)|default}}' class='form-control ivar ivar-inventory' id='inventory' name='inventory_{{id}}' type='text'  /></td>
              </tr>
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card personal" id="card-personal">
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='ilbl od ilbl-physique lbmd'><label for='physique'>Physique</label></th><td class='ivar od ivar-physique'><input value='{{variables.physique|default}}' class='form-control ivar ivar-physique' id='physique' name='physique' type='text'  /></td></tr>
                <tr><th class='ilbl ev ilbl-facial-features lbmd'><label for='facial_features'>Facial Features</label></th><td class='ivar ev ivar-facial-features'><input value='{{variables.facial_features|default}}' class='form-control ivar ivar-facial-features' id='facial_features' name='facial_features' type='text'  /></td></tr>
                <tr><th class='ilbl od ilbl-clothing-style lbmd'><label for='clothing_style'>Clothing Style</label></th><td class='ivar od ivar-clothing-style'><input value='{{variables.clothing_style|default}}' class='form-control ivar ivar-clothing-style' id='clothing_style' name='clothing_style' type='text'  /></td></tr>
                <tr><th class='ilbl ev ilbl-hair-style lbmd'><label for='hair_style'>Hair Style</label></th><td class='ivar ev ivar-hair-style'><input value='{{variables.hair_style|default}}' class='form-control ivar ivar-hair-style' id='hair_style' name='hair_style' type='text'  /></td></tr>
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class='table'>
                <tr><th class='ilbl od ilbl-eye-color lbmd'><label for='eye_color'>Eye Color</label></th><td class='ivar od ivar-eye-color'><input value='{{variables.eye_color|default}}' class='form-control ivar ivar-eye-color' id='eye_color' name='eye_color' type='text'  /></td></tr>
                <tr><th class='ilbl ev ilbl-hair-color lbmd'><label for='hair_color'>Hair Color</label></th><td class='ivar ev ivar-hair-color'><input value='{{variables.hair_color|default}}' class='form-control ivar ivar-hair-color' id='hair_color' name='hair_color' type='text'  /></td></tr>
                <tr><th class='ilbl od ilbl-skin-color lbmd'><label for='skin_color'>Skin Color</label></th><td class='ivar od ivar-skin-color'><input value='{{variables.skin_color|default}}' class='form-control ivar ivar-skin-color' id='skin_color' name='skin_color' type='text'  /></td></tr>
                <tr><th class='ilbl ev ilbl-dist-marks'><label for='dist_marks'>Distinctive Marks</label></th><td class='ivar ev ivar-dist-marks'><input value='{{variables.dist_marks|default}}' class='form-control ivar ivar-dist-marks' id='dist_marks' name='dist_marks' type='text'  /></td></tr>
              </table>
            </div>
          </div>
          <div class='ilbl od ilbl-physical-features'><label for='physical_features'>Other Physical Features</label></div><div class='ivar od ivar-physical-features'><div class='iContent'><textarea class='form-control ivar ivar-physical-features ' id='physical_features' name='physical_features' rows='3'  >{{variables.physical_features|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card selflessness" id="card-selflessness">
        <div class="card-body of">
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-selflessness lbmd' ><label for='selflessness'>Selflessness</label></th>
          <td class='ivar {{eo}} ivar-selflessness c' ><input value='{{variables.selflessness|default('5') }}' class='form-control ivar ivar-selflessness c' id='selflessness' name='selflessness' type='number' min='0' max='10'  /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card respect" id="card-respect">
        <div class="card-body of">
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-respect lbmd' ><label for='respect'>Respect</label></th>
          <td class='ivar {{eo}} ivar-respect c' ><input value='{{variables.respect|default('5') }}' class='form-control ivar ivar-respect c' id='respect' name='respect' type='number' min='0' max='10'  /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card personality" id="card-personality">
        <div class="card-body of">
          <table class='table'>
          <tr>
          <th class='ilbl od ilbl-personality lbmd' ><label for='personality'>Personality</label></th>
          <td class='ivar {{eo}} ivar-personality ' ><input value='{{variables.personality|default}}' class='form-control ivar ivar-personality' id='personality' name='personality' type='text'  /></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12">
      <div class="card backstory" id="card-backstory">
        <div class="card-header backstory">Backstory Highlights</div>
        <div class="card-body of">
          <div class='ivar od ivar-backstory'><div class='iContent'><textarea class='form-control ivar ivar-backstory mention' id='backstory' name='backstory' rows='3'  >{{variables.backstory|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12">
      <div class="card notes" id="card-notes">
        <div class="card-header notes">Journal / Notes</div>
        <div class="card-body of">
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes mention' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>