{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

<div class="dw-box">
    <table class="dw-table">
        <tr>
            <td><span class="name">{{ variables.name }}</span></td>
            <td class="tags" colspan='2'>{{ variables.dw_tags }}</td>
        </tr>        
        <tr>
            <td class="dw-damage">{{ variables.damage|BBcode }}</td>
            <td class="monster-hp">{{ variables.hp }} HP</td>
            <td class="dw-armor">{{ variables.armor }} Armor</td>
        </tr>        
        <tr>
            <td class="damage-tags" colspan='3'>{{ variables.damage_tags }}</td>
        </tr>
        <tr>
            {% if variables.special_qualities %}
                <td colspan='3' class="special-qualities">
                    <strong>Special Qualities:</strong> {{ variables.special_qualities }}</td>
            {% endif %}
        </tr>
    </table>
    <p class="description">{{ variables.description|nl2br|BBcode }} <em>Instinct</em>: {{ variables.instinct|BBcode}}</p>
    <div>{{ variables.moves|nl2br|BBcode }}</div>
</div>

{% endblock %}