<div class="container-fluid sheet-cypher-monster">
    <div class="row">
        <div class="col-12">
            <div class="card name" id="card-name">
                <div class="card-body">
                    <span class="header">{{variables.name|default}}</span>
                    <span class="level">{{variables.level|default}} ({{variables.health|default}})</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card data" id="card-data">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-motive'> Motive </th><td class='var od var-motive'> {{variables.motive|default}} </td></tr>
                        <tr><th class='lbl ev lbl-environment'> Environment </th><td class='var ev var-environment'> {{variables.environment|default|nl2br}} </td></tr>
                        <tr><th class='lbl od lbl-damage-inflicted'> Damage Inflicted </th><td class='var od var-damage-inflicted'> {{variables.damage_inflicted|default}} </td></tr>
                        {% if variables.armor|default != "" %}
                        <tr><th class='lbl ev lbl-armor'> Armor </th><td class='var ev var-armor'> {{variables.armor|default}} </td></tr>
                        {% endif %}
                        {% if variables.movement|default != "" %}
                        <tr><th class='lbl od lbl-movement'> Movement </th><td class='var od var-movement'> {{variables.movement|default}} </td></tr>
                        {% endif %}
                        {% if variables.modifications|default != "" %}
                        <tr><th class='lbl ev lbl-modifications'> Modifications </th><td class='var ev var-modifications'> {{variables.modifications|default}} </td></tr>
                        {% endif %}
                        {% if variables.combat|default != "" %}
                        <tr><th class='lbl od lbl-combat'> Combat </th><td class='var od var-combat'> {{variables.combat|default|nl2br}} </td></tr>
                        {% endif %}
                        {% if variables.interaction|default != "" %}
                        <tr><th class='lbl ev lbl-interaction'> Interaction </th><td class='var ev var-interaction'> {{variables.interaction|default|nl2br}} </td></tr>
                        {% endif %}
                        {% if variables.use|default != "" %}
                        <tr><th class='lbl od lbl-use'> Use </th><td class='var od var-use'> {{variables.use|default|nl2br}} </td></tr>
                        {% endif %}
                        {% if variables.loot|default != "" %}
                        <tr><th class='lbl ev lbl-loot'> Loot </th><td class='var ev var-loot'> {{variables.loot|default|nl2br}} </td></tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            {% if variables.imageid|default > 0 %}
            <div class="card portrait" id="card-portrait">
                <div class="card-body">
                    <div class='cBox'><div class='var od var-imageid'>[img:{{variables.imageid|default}}]</div></div>
                </div>
            </div>
            {% endif %}
            {% if variables.description|default != "" %}
            <div class="card description" id="card-description">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='lbl od lbl-description'> Description </th></tr>
                        <tr><td class='var od var-description'> {{variables.description|default|nl2br}} </td></tr>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>