<div class="container-fluid sheet-cypher-monster">
    <div class="row">
        <div class="col-12">
            <div class="card data" id="card-data">
                <div class="card-body">
                    <table class='table'>
                        <tr><th class='ilbl od ilbl-name'><label for='name'>Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' required=required /></td></tr>
                        <tr><th class='ilbl od ilbl-level'><label for='level'>Level</label></th><td class='ivar od ivar-level'><input value='{{variables.level|default}}' class='form-control ivar ivar-level' id='level' name='level' type='number' /></td></tr>
                        <tr><th class='ilbl ev ilbl-health'><label for='health'>Health</label></th><td class='ivar ev ivar-health'><input value='{{variables.health|default}}' class='form-control ivar ivar-health' id='health' name='health' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-description'><label for='description'>Description</label></th><td class='ivar od ivar-description'><div class='iContent'><textarea class='form-control ivar ivar-description mention' id='description' name='description' rows='3' >{{variables.description|default}}</textarea></div></td></tr>
                        <tr><th class='ilbl od ilbl-motive'><label for='motive'>Motive</label></th><td class='ivar od ivar-motive'><input value='{{variables.motive|default}}' class='form-control ivar ivar-motive' id='motive' name='motive' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-environment'><label for='environment'>Environment</label></th><td class='ivar ev ivar-environment'><textarea class='form-control ivar ivar-use mention' id='environment' name='environment' rows='3' >{{variables.environment|default}}</textarea></td></tr>
                        <tr><th class='ilbl od ilbl-damage-inflicted'><label for='damage-inflicted'>Damage Inflicted</label></th><td class='ivar od ivar-damage-inflicted'><input value='{{variables.damage_inflicted|default}}' class='form-control ivar ivar-damage-inflicted' id='damage_inflicted' name='damage_inflicted' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-armor'><label for='armor'>Armor</label></th><td class='ivar ev ivar-armor'><input value='{{variables.armor|default}}' class='form-control ivar ivar-armor' id='armor' name='armor' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-movement'><label for='movement'>Movement</label></th><td class='ivar od ivar-movement'><input value='{{variables.movement|default}}' class='form-control ivar ivar-movement' id='movement' name='movement' type='text' /></td></tr>
                        <tr><th class='ilbl ev ilbl-modifications'><label for='modifications'>Modifications</label></th><td class='ivar ev ivar-modifications'><input value='{{variables.modifications|default}}' class='form-control ivar ivar-modifications' id='modifications' name='modifications' type='text' /></td></tr>
                        <tr><th class='ilbl od ilbl-combat'><label for='combat'>Combat</label></th><td class='ivar od ivar-combat'><div class='iContent'><textarea class='form-control ivar ivar-combat mention' id='combat' name='combat' rows='3' >{{variables.combat|default}}</textarea></div></td></tr>
                        <tr><th class='ilbl ev ilbl-interaction'><label for='interaction'>Interaction</label></th><td class='ivar ev ivar-interaction'><div class='iContent'><textarea class='form-control ivar ivar-interaction mention' id='interaction' name='interaction' rows='3' >{{variables.interaction|default}}</textarea></div></td></tr>
                        <tr><th class='ilbl od ilbl-use'><label for='use'>Use</label></th><td class='ivar od ivar-use'><div class='iContent'><textarea class='form-control ivar ivar-use mention' id='use' name='use' rows='3' >{{variables.use|default}}</textarea></div></td></tr>
                        <tr><th class='ilbl ev ilbl-loot'><label for='loot'>Loot</label></th><td class='ivar ev ivar-loot'><textarea class='form-control ivar ivar-use mention' id='loot' name='loot' rows='3' >{{variables.loot|default}}</textarea></td></tr>
                        <tr><th class='ilbl od ilbl-imageid'><label for='imageid'>Imageid</label></th><td class='ivar od ivar-imageid'><input value='{{variables.imageid|default}}' class='form-control ivar ivar-imageid' id='imageid' name='imageid' type='number'/> (World Anvil ImageID)</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>