<div class="pathfinder-monster-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="pathfinder-header">
				<span class="pull-right pathfinder-cr">CR {{ variables.cr }}</span>
				<h2>{{ variables.name }}</h2>
			</div>
		</div>
		<div class="col-md-6">
			<div class="pathfinder-subheader">
				<div class="mb-1">
					{% if variables.xp %} <p class="pathfinder-xp mb-1"><strong>XP {{ variables.xp }} </strong></p>{% endif %}
					{{ variables.class }} {{ variables.alignment }} {{ variables.size }} {{ variables.type }}{% if variables.subtype %}, {{ variables.subtype }}{% endif %}
				</div>
				<div class="mb-1">
					{% if variables.initiative %} <strong class="pathfinder-key">Initiative:</strong> <span class="pathfinder-value">[roll:1d20{{ variables.initiative }}|{{ variables.initiative }}]</span>{% endif %}
					{% if variables.senses %} <strong class="pathfinder-key">Senses:</strong> <span class="pathfinder-value">{{ variables.senses }}</span>{% endif %}
				</div>
				<p class="pathfinder-short-description"><em>{{ variables.short_description}}</em></p>
			</div>
			<div class="pathfinder-defense">
				<h3>Defense</h3>
				<div class="mb-1">
					{% if variables.ac %} <strong class="pathfinder-key">AC:</strong> <span class="pathfinder-value">{{ variables.ac }}</span>{% endif %}
				</div>
				<div class="mb-1">
					{% if variables.hp %} 
						<strong class="pathfinder-key">HP:</strong> 
						<span class="pathfinder-value">
							{{ variables.hp }}
							{% if variables.hd %}
								[roll:{{ variables.hd }}] 
							{% endif %}
							{% if variables.hit_points_modifier %} <span class="pathfinder-value">( {{ variables.hit_points_modifier }} )</span>{% endif %}
						</span>
					{% endif %}
				</div>
				<div class="mb-1">
					{% if variables.fortitude %}<strong class="pathfinder-key">Fortitude:</strong> <span class="pathfinder-value">[roll:1d20{{ variables.fortitude }}|{{ variables.fortitude}}]</span> {% endif %}
					{% if variables.reflex %}<strong class="pathfinder-key">Reflex:</strong> <span class="pathfinder-value">[roll:1d20{{ variables.reflex }}|{{ variables.reflex}}]</span> {% endif %}
					{% if variables.will %}<strong class="pathfinder-key">Will:</strong> <span class="pathfinder-value">[roll:1d20{{ variables.will }}|{{ variables.will}}]</span> {% endif %}
					{% if variables.save_modifiers %} <span class="pathfinder-value">( {{ variables.save_modifiers }} )</span>{% endif %}
				</div>
				<div class="mb-1">
					{% if variables.defensive_abilities %} <strong class="pathfinder-key">Defensive Abilities:</strong> <span class="pathfinder-value">{{ variables.defensive_abilities }}</span>{% endif %}  
					{% if variables.immunities %} <strong class="pathfinder-key">Immune:</strong> <span class="pathfinder-value">{{ variables.immunities }}</span>{% endif %} 
					{% if variables.weaknesses %} <strong class="pathfinder-key">Weaknesses:</strong> <span class="pathfinder-value">{{ variables.weaknesses }}</span>{% endif %} 
					{% if variables.aura %} <strong class="pathfinder-key">Aura:</strong> <span class="pathfinder-value">{{ variables.aura }}</span>{% endif %}
					{% if variables.dr %} <strong class="pathfinder-key">DR:</strong> <span class="pathfinder-value">{{ variables.dr }}</span>{% endif %}
					{% if variables.sr %} <strong class="pathfinder-key">SR:</strong> <span class="pathfinder-value">{{ variables.sr }}</span>{% endif %}

				</div>
			</div>
			<div class="pathfinder-offense">
				<h3>Offense</h3>
				{% if variables.speed %}<div class="mb-1"><strong class="pathfinder-key">Speed:</strong> <span class="pathfinder-value">{{ variables.speed }}</span></div>{% endif %}
				{% if variables.melee %}<div class="mb-1"><strong class="pathfinder-key">Melee:</strong> <span class="pathfinder-value">{{ variables.melee }}</span></div>{% endif %}
				{% if variables.ranged %}<div class="mb-1"><strong class="pathfinder-key">Ranged:</strong> <span class="pathfinder-value">{{ variables.ranged }}</span></div>{% endif %}
				{% if variables.special_attacks %}<div class="mb-1"><strong class="pathfinder-key">Special Attacks:</strong> <span class="pathfinder-value">{{ variables.special_attacks }}</span></div>{% endif %}
				{% if variables.space or variables.reach%}
					<div class="mb-1">
						{% if variables.space %}<strong class="pathfinder-key">Space:</strong> <span class="pathfinder-value">{{ variables.space }}</span>{% endif %}
						{% if variables.reach %}<strong class="pathfinder-key">Reach:</strong> <span class="pathfinder-value">{{ variables.reach }}</span>{% endif %}
					</div>
				{% endif %}
				{% if variables.spelllike_abilities %}<div class="mb-1"><strong class="pathfinder-key">Spell-like Abilities:</strong> <span class="pathfinder-value">{{ variables.spelllike_abilities }}</span></div>{% endif %}
			</div>
		</div>
		<div class="col-md-6">
			<div class="pathfinder-statistics">
				<h3>Statistics</h3>
				{% if variables.ability_scores %}<div class="mb-1"><span class="pathfinder-value">{{ variables.ability_scores }}</span></div>{% endif %}
				{% if variables.base_attack or variables.cmb or variables.cmd %}
					<div class="mb-1">
						{% if variables.base_attack %}<strong class="pathfinder-key">Base Attack:</strong> <span class="pathfinder-value">{{ variables.base_attack }}</span>{% endif %}
						{% if variables.cmb %}<strong class="pathfinder-key">CMB:</strong> <span class="pathfinder-value">{{ variables.cmb }}</span>{% endif %}
						{% if variables.cmd %}<strong class="pathfinder-key">CMD:</strong> <span class="pathfinder-value">{{ variables.cmd }}</span>{% endif %}
					</div>
				{% endif %}
				{% if variables.feats %}<div class="mb-1"><strong class="pathfinder-key">Feats:</strong> <span class="pathfinder-value">{{ variables.feats }}</span></div>{% endif %}
				{% if variables.skills %}<div class="mb-1"><strong class="pathfinder-key">Skills:</strong> <span class="pathfinder-value">{{ variables.skills }}</span></div>{% endif %}
				{% if variables.racial_modifiers %}<div class="mb-1"><strong class="pathfinder-key">Racial Modifiers:</strong> <span class="pathfinder-value">{{ variables.racial_modifiers }}</span></div>{% endif %}
				{% if variables.languages %}<div class="mb-1"><strong class="pathfinder-key">Languages:</strong> <span class="pathfinder-value">{{ variables.languages }}</span></div>{% endif %}
				{% if variables.sq %}<div class="mb-1"><strong class="pathfinder-key">SQ:</strong> <span class="pathfinder-value">{{ variables.sq }}</span></div>{% endif %}
			</div>
		{% if variables.environment is defined and variables.environment != "" or
			variables.organization is defined and variables.organization != "" or
			variables.treasure is defined and variables.treasure != "" or
			variables.group is defined and variables.group != "" %}
			<div class="pathfinder-ecology">
				<h3>Ecology</h3>
				{% if variables.environment %}<div class="mb-1"><strong class="pathfinder-key">Environment:</strong> <span class="pathfinder-value">{{ variables.environment }}</span></div>{% endif %}
				{% if variables.organization %}<div class="mb-1"><strong class="pathfinder-key">Organization:</strong> <span class="pathfinder-value">{{ variables.organization }}</span></div>{% endif %}
				{% if variables.treasure %}<div class="mb-1"><strong class="pathfinder-key">Treasure:</strong> <span class="pathfinder-value">{{ variables.treasure }}</span></div>{% endif %}
				{% if variables.group %}<div class="mb-1"><strong class="pathfinder-key">Group:</strong> <span class="pathfinder-value">{{ variables.group }}</span></div>{% endif %}
			</div>
		{% endif %}
		</div>
		{% if variables.special_abilities %}
			<div class="col-md-6">
				<div class="pathfinder-abilities">
					<h3>Special Abilities</h3>
					<p>
						{{ variables.special_abilities }}
					</p>
				</div>
			</div>
		{% endif %}
		{% if variables.image is defined and variables.image != "" %}	
			<div class="col-md-6">
				<div class="mb-3 pathfinder-image-wrapper">
					[img:{{ variables.image }}]
				</div>
			</div>
		{% endif %}
		{% if variables.physical_description is defined and variables.physical_description != "" %}	
			<div class="col-md-6">
				<div class="mb-3 pathfinder-description-wrapper">
					<br><p>{{ variables.physical_description }}</p>
				</div>
			</div>
		{% endif %}
		{% if variables.description is defined and variables.description != "" %}	
			<div class="col-md-6">
				<div class="mb-3 pathfinder-description-wrapper">
					<br><p>{{ variables.description }}</p>
				</div>
			</div>
		{% endif %}
	</div>
</div>