<div class="pathfinder-monster-wrapper">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-title row-title">{{ variables.name|default }}<span class="pull-right pathfinder-cr">CR {{ variables.cr|default }}</span></div>
				<div class="card-body">
					<div class="row">
            {% set wd1 = 12 %}{% if variables.image|default > 0 %}{% set wd1 = 8 %}{% endif %}
						<div class="col-12 col-md-{{wd1}}">
							<div class="pathfinder-subheader">
								<div class="mb-1">
  								<p class="pathfinder-short-description"><em>{{ variables.short_description}}</em></p>
									{% if variables.xp %} <span class="pathfinder-xp"><strong>XP {{ variables.xp|default }} </strong></span><br>{% endif %}
									<span class="pathfinder-value">{{ variables.class|default }}</span><br>
                  <span class="pathfinder-value">{{ variables.alignment|default }} {{ variables.size|default }} {{ variables.type|default }}{% if variables.subtype %}, {{ variables.subtype|default }}{% endif %}</span>
								</div>
								<div class="mb-1">
									{% if variables.initiative %} <strong class="pathfinder-key">Initiative:</strong> <span class="pathfinder-value">[roll:1d20{{ variables.initiative|default }}|{{ variables.initiative|default }}]</span><br>{% endif %}
									{% if variables.senses %} <strong class="pathfinder-key">Senses:</strong> <span class="pathfinder-value">{{ variables.senses|default }}</span>{% endif %}
								</div>
							</div>
							<div class="pathfinder-defense">
								<h3>Defense</h3>
								<div class="mb-1">
									{% if variables.ac %} <strong class="pathfinder-key">AC:</strong> <span class="pathfinder-value">{{ variables.ac|default }}</span>{% endif %}
								</div>
								<div class="mb-1">
									{% if variables.hp %} 
										<strong class="pathfinder-key">HP:</strong> 
										<span class="pathfinder-value">
											{{ variables.hp|default }}
											{% if variables.hd %}
												[roll:{{ variables.hd|default }}] 
											{% endif %}
											{% if variables.hit_points_modifier %} <span class="pathfinder-value">( {{ variables.hit_points_modifier|default }} )</span>{% endif %}
										</span>
									{% endif %}
								</div>
								<div class="mb-1">
									{% if variables.fortitude %}<strong class="pathfinder-key">Fortitude:</strong> <span class="pathfinder-value">[roll:1d20{{ variables.fortitude|default }}|{{ variables.fortitude|default }}]</span> {% endif %}
									{% if variables.reflex %}<strong class="pathfinder-key">Reflex:</strong> <span class="pathfinder-value">[roll:1d20{{ variables.reflex|default }}|{{ variables.reflex|default }}]</span> {% endif %}
									{% if variables.will %}<strong class="pathfinder-key">Will:</strong> <span class="pathfinder-value">[roll:1d20{{ variables.will|default }}|{{ variables.will|default }}]</span> {% endif %}
									{% if variables.save_modifiers %} <span class="pathfinder-value">( {{ variables.save_modifiers|default }} )</span>{% endif %}
								</div>
								<div class="mb-1">
									{% if variables.defensive_abilities %} <strong class="pathfinder-key">Defensive Abilities:</strong> <span class="pathfinder-value">{{ variables.defensive_abilities }}</span><br>{% endif %}  
									{% if variables.immunities %} <strong class="pathfinder-key">Immune:</strong> <span class="pathfinder-value">{{ variables.immunities|default }}</span><br>{% endif %} 
									{% if variables.weaknesses %} <strong class="pathfinder-key">Weaknesses:</strong> <span class="pathfinder-value">{{ variables.weaknesses|default }}</span><br>{% endif %} 
									{% if variables.aura %} <strong class="pathfinder-key">Aura:</strong> <span class="pathfinder-value">{{ variables.aura|default }}</span><br>{% endif %}
									{% if variables.dr %} <strong class="pathfinder-key">DR:</strong> <span class="pathfinder-value">{{ variables.dr|default }}</span><br>{% endif %}
									{% if variables.sr %} <strong class="pathfinder-key">SR:</strong> <span class="pathfinder-value">{{ variables.sr|default }}</span>{% endif %}
								</div>
							</div>
							<div class="pathfinder-offense">
								<h3>Offense</h3>
								{% if variables.speed %}<div class="mb-1"><strong class="pathfinder-key">Speed:</strong> <span class="pathfinder-value">{{ variables.speed|default }}</span></div>{% endif %}
								{% if variables.melee %}<div class="mb-1"><strong class="pathfinder-key">Melee:</strong> <span class="pathfinder-value">{{ variables.melee|default }}</span></div>{% endif %}
								{% if variables.ranged %}<div class="mb-1"><strong class="pathfinder-key">Ranged:</strong> <span class="pathfinder-value">{{ variables.ranged|default }}</span></div>{% endif %}
								{% if variables.special_attacks %}<div class="mb-1"><strong class="pathfinder-key">Special Attacks:</strong> <span class="pathfinder-value">{{ variables.special_attacks|default }}</span></div>{% endif %}
								{% if variables.space or variables.reach%}
									<div class="mb-1">
										{% if variables.space %}<strong class="pathfinder-key">Space:</strong> <span class="pathfinder-value">{{ variables.space|default }}</span><br>{% endif %}
										{% if variables.reach %}<strong class="pathfinder-key">Reach:</strong> <span class="pathfinder-value">{{ variables.reach|default }}</span><br>{% endif %}
									</div>
								{% endif %}
								{% if variables.spelllike_abilities %}<div class="mb-1"><strong class="pathfinder-key">Spell-like Abilities:</strong> <span class="pathfinder-value">{{ variables.spelllike_abilities|default }}</span></div>{% endif %}
							</div>
						</div>
						{% if variables.image|default > 0 %}	
            <div class="col-12 col-md-4">
              <div class="mb-3 pathfinder-image-wrapper">
                [img:{{ variables.image|default }}]
              </div>
            </div>
						{% endif %}
            {% set wd = 12 %}{% if variables.physical_description|default != "" or variables.description|default != "" %}{% set wd = 6 %}{% endif %}
            <div class="col-12 col-md-{{wd}}">
							<div class="pathfinder-statistics">
								<h3>Statistics</h3>
								{% if variables.ability_scores %}<div class="mb-1"><span class="pathfinder-value">{{ variables.ability_scores|default }}</span></div>{% endif %}
								{% if variables.base_attack or variables.cmb or variables.cmd %}
									<div class="mb-1">
										{% if variables.base_attack %}<strong class="pathfinder-key">Base Attack:</strong> <span class="pathfinder-value">{{ variables.base_attack|default }}</span>{% endif %}
										{% if variables.cmb %}<strong class="pathfinder-key">CMB:</strong> <span class="pathfinder-value">{{ variables.cmb|default }}</span>{% endif %}
										{% if variables.cmd %}<strong class="pathfinder-key">CMD:</strong> <span class="pathfinder-value">{{ variables.cmd|default }}</span>{% endif %}
									</div>
								{% endif %}
								{% if variables.feats %}<div class="mb-1"><strong class="pathfinder-key">Feats:</strong> <span class="pathfinder-value"><br>{{ variables.feats|default|nl2br }}</span></div>{% endif %}
								{% if variables.skills %}<div class="mb-1"><strong class="pathfinder-key">Skills:</strong> <span class="pathfinder-value">{{ variables.skills|default }}</span></div>{% endif %}
								{% if variables.racial_modifiers %}<div class="mb-1"><strong class="pathfinder-key">Racial Modifiers:</strong> <span class="pathfinder-value">{{ variables.racial_modifiers|default }}</span></div>{% endif %}
								{% if variables.languages %}<div class="mb-1"><strong class="pathfinder-key">Languages:</strong> <span class="pathfinder-value">{{ variables.languages|default }}</span></div>{% endif %}
								{% if variables.sq %}<div class="mb-1"><strong class="pathfinder-key">SQ:</strong> <span class="pathfinder-value">{{ variables.sq|default }}</span></div>{% endif %}
							</div>
						  {% if variables.environment is defined and variables.environment != "" or
							  variables.organization is defined and variables.organization != "" or
							  variables.treasure is defined and variables.treasure != "" or
							  variables.group is defined and variables.group != "" %}
							<div class="pathfinder-ecology">
								<h3>Ecology</h3>
								{% if variables.environment %}<div class="mb-1"><strong class="pathfinder-key">Environment:</strong> <span class="pathfinder-value">{{ variables.environment|default }}</span></div>{% endif %}
								{% if variables.organization %}<div class="mb-1"><strong class="pathfinder-key">Organization:</strong> <span class="pathfinder-value">{{ variables.organization|default }}</span></div>{% endif %}
								{% if variables.treasure %}<div class="mb-1"><strong class="pathfinder-key">Treasure:</strong> <span class="pathfinder-value">{{ variables.treasure|default }}</span></div>{% endif %}
								{% if variables.group %}<div class="mb-1"><strong class="pathfinder-key">Group:</strong> <span class="pathfinder-value">{{ variables.group|default }}</span></div>{% endif %}
							</div>
						  {% endif %}
	  					{% if variables.special_abilities %}
              <div class="pathfinder-abilities">
                <h3>Special Abilities</h3>
                <p>
                  {{ variables.special_abilities|default }}
                </p>
              </div>
  						{% endif %}
            </div>
            {% if variables.physical_description|default != "" or variables.description|default != "" %}
            <div class="col-12 col-md-{{wd}}">
						{% if variables.physical_description|default != "" %}	
              <div class="mb-3 pathfinder-description-wrapper">
								<h3>Physical Description <button title="Minimize" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapsePD" href="#collapsePD" role="button" aria-expanded="false" aria-controls="collapsePD"><em class="fas fa-angle-down"></em></button></h3>
                <p class="collapse hide" id="collapsePD">{{ variables.physical_description|default }}</p>
              </div>
						{% endif %}
						{% if variables.description|default != "" %}	
              <div class="mb-3 pathfinder-description-wrapper">
								<h3>Description <button title="Minimize" class="minimize btn btn-link collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseD" href="#collapseD" role="button" aria-expanded="false" aria-controls="collapseD"><em class="fas fa-angle-down"></em></button></h3>
                <p class="collapse hide" id="collapseD">{{ variables.description|default }}</p>
              </div>
            {% endif %}
            </div>
				</div>
        {% endif %}
			</div>
		</div>
	</div>
</div>