{% macro printFormRow(type, variables, placeholder = '', label ='',description ='', inputType = 'text', rows = 3 ) %}
	{% if label %} {% else %}{% set label = type %} {% endif %}
	<div class="form-group">
		<label for="name">{{ label }}</label>
		{% if inputType == 'textarea' %}
			<textarea rows="{{ rows }}" placeholder="e.g. {{ placeholder }}" class="form-control"   name="{{ type }}" />{{
		attribute( variables, type ) is defined ? attribute( variables, type) }}</textarea>
		{% else %}
			<input placeholder="e.g. {{ placeholder }}" class="form-control" type="{{ inputType }}" value="{{
			attribute( variables, type ) is defined ? attribute( variables, type) }}" name="{{ type }}"  />
		{% endif %}
		{% if (description) %}
			<p class="description m-t-10 font-13 text-muted">{{ description|raw }}</p>
		{% endif %}
	</div>
{% endmacro %}
{% import _self as macros %}


<div class="pathfinder-monster-wrapper">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-8">
					{{ macros.printFormRow('name', variables,'Thug','Monster/NPC Name' ) }}
				</div>
				<div class="col-4">
					{{ macros.printFormRow('cr', variables,'1/4','CR' ) }}
				</div>
			</div>
			<div class="">
				<div class="pathfinder-subheader">
					<h3>Basic Information</h3>
					<div class="mb-1">
						<div class="row">
							<div class="col-4">
								{{ macros.printFormRow('class', variables,'Rogue 2','Class','' ) }}
							</div>
							<div class="col-4">
								{{ macros.printFormRow('alignment', variables,'NG','Alignment','' ) }}
							</div>
							<div class="col-4">
								{{ macros.printFormRow('size', variables,'M','Size','' ) }}
							</div>
							<div class="col-4">
								{{ macros.printFormRow('type', variables,'Humanoid','Type','' ) }}
							</div>
							<div class="col-4">
								{{ macros.printFormRow('subtype', variables,'Human','Subtype','' ) }}
							</div>
						</div>

					</div>
					<div class="row mb-1">
						<div class="col-4">
							{{ macros.printFormRow('initiative', variables,'+4','Initiative','Make sure you also add the + or - in front.' ) }}
						</div>
						<div class="col-8">
							{{ macros.printFormRow('senses', variables,'Perception +6','Senses','' ) }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('short_description', variables,'Death from above!','Short Description','' ) }}
						</div>
					</div>
				</div>
				<div class="pathfinder-defense">
					<h3>Defense</h3>
					<div class="row mb-1">
						<div class="col-12">
							{{ macros.printFormRow('ac', variables,'14, touch 13, flat-footed 11 (+1 armor, +3 Dex, +0 natural)','Armor Class','' ) }}
						</div>
					</div>
					<div class="row mb-1">
						<div class="col-4">
							{{ macros.printFormRow('hp', variables,'25','Hit Points','','number' ) }}
						</div>
						<div class="col-4">
							{{ macros.printFormRow('hd', variables,'2d8+3','Hit Dice','' ) }}
						</div>
						<div class="col-4">
							{{ macros.printFormRow('hit_points_modifier', variables,'Fast healing 2','Hit Points Modifiers','' ) }}
						</div>
					</div>
					<div class="row mb-1">
						<div class="col-4">
							{{ macros.printFormRow('fortitude', variables,'+3','Fortitude','Make sure you also add the + or - in front' ) }}
						</div>
						<div class="col-4">
							{{ macros.printFormRow('reflex', variables,'-2','Reflex','Make sure you also add the + or - in front' ) }}
						</div>
						<div class="col-4">
							{{ macros.printFormRow('will', variables,'+1','Will','Make sure you also add the + or - in front' ) }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('save_modifiers', variables,'+3 Will vs Enchantments','Save Modifiers','' ) }}
						</div>

					</div>

					<div class="row mb-1">
						<div class="col-6">
							{{ macros.printFormRow('defensive_abilities', variables,'Evasion','Defensive Abilities' ) }}
						</div>
						<div class="col-3">
							{{ macros.printFormRow('immunities', variables,'Cold','Immune' ) }}
						</div>
						<div class="col-3">
							{{ macros.printFormRow('weaknesses', variables,'Fire','Weaknesses' ) }}
						</div>
						<div class="col-6">
							{{ macros.printFormRow('aura', variables,'+2 AC vs Evil, 15ft','Aura' ) }}
						</div>
						<div class="col-3">
							{{ macros.printFormRow('dr', variables,'5/cold','DR' ) }}
						</div>
						<div class="col-3">
							{{ macros.printFormRow('sr', variables,'15','SR') }}
						</div>

					</div>
				</div>
				<div class="pathfinder-offense">
					<h3>Offense</h3>
					<div class="row">
						<div class="col-4">
							{{ macros.printFormRow('speed', variables,'30 ft','Speed') }}
						</div>
						<div class="col-4">
							{{ macros.printFormRow('space', variables,'5 ft','Space') }}
						</div>
						<div class="col-4">
							{{ macros.printFormRow('reach', variables,'10 ft','Reach') }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('melee', variables,'mwk short sword [roll:1d20+3|+3] ([roll:1d6+1]/19-20)','Melee','Tip: Use [roll:1d20+5|+5] to make the damage and hit rolls rollable!','textarea',2) }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('ranged', variables,'mwk short bow [roll:1d20+3|+3] ([roll:1d6+1]/19-20)','Ranged','Tip: Use [roll:1d20+5|+5] to make the damage and hit rolls rollable!','textarea',2) }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('special_attacks', variables,'sneak attack [roll:1d6]','Special Attacks','Tip: Use [roll:1d20+5|+5] to make the damage and hit rolls rollable!','textarea',1) }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('spelllike_abilities', variables,'Invisibility 1/day','Spell-like Abilities','Tip: Use [roll:1d20+5|+5] to make the damage and hit rolls rollable!','textarea',2) }}
						</div>
					</div>
				</div>
				<div class="pathfinder-statistics">
					<h3>Statistics</h3>
					<div class="row mb-1">
						<div class="col-12">
							{{ macros.printFormRow('ability_scores', variables,'Str 13, Dex 17, Con 14, Int 10, Wis 12, Cha 8','Ability Scores') }}
						</div>
						<div class="col-4">
							{{ macros.printFormRow('base_attack', variables,'+3','BAB') }}
						</div>
						<div class="col-4">
							{{ macros.printFormRow('cmb', variables,'+4','CMB','Use [roll:1d20+4|+4] to make it rollable!') }}
						</div>
						<div class="col-4">
							{{ macros.printFormRow('cmd', variables,'15','CMD') }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('feats', variables,'Agile Maneuvers, Combat Reflexes','Feats') }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('skills', variables,'Acrobatics +8, Bluff +4, Climb +6, Disable Device +8, Escape Artist +8, Intimidate +4, Perception +6, Sleight of Hand +8, Stealth +8','Skills','Make the skills rollable by using [roll:1d20+3|+3]!','textarea',3) }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('racial_modifiers', variables,'+2 Acrobatics','Racial Modifiers') }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('languages', variables,'Orcish, Celestial','Languages') }}
						</div>
						<div class="col-12">
							{{ macros.printFormRow('sq', variables,'rogue talents (bleeding attack +1), trapfinding +1','SQ') }}
						</div>

					</div>
				</div>

			</div>
		</div>
		<div class="col-md-6">
			<div class="mb-3 pathfinder-image-wrapper">
				{% if variables.image %}{% set image = '[img:' ~ variables.image ~ ']' %}{{ image|BBcode }}{% endif %}
				{{ macros.printFormRow('image', variables,'1234','Image ID' ) }}
			</div>
			<div class="pathfinder-ecology">
				<h3>Ecology</h3>
				<div class="row">
					<div class="col-12">
						{{ macros.printFormRow('environment', variables,'Desert','Environment','','textarea',2) }}
					</div>
					<div class="col-6">
						{{ macros.printFormRow('organization', variables,'Solitary, Gang (1-3)','Organization','','textarea',3) }}
					</div>
					<div class="col-6">
						{{ macros.printFormRow('treasure', variables,'[roll:3d6+12] gold pieces, rusty short sword, manacles]','Treasure','','textarea',3) }}
					</div>
				</div>

			</div>
			{% if variables.special_abilities %}
				<div class="pathfinder-abilities">
					<h3>Special Abilities</h3>
					{{ macros.printFormRow('special_abilities', variables,'Write about the special abilities of your Monster/NPC','Special Abilities Description','','textarea',6 ) }}
				</div>
			{% endif %}
			<h3>Description</h3>

			<div class="mb-3 pathfinder-description-wrapper">
				{{ macros.printFormRow('physical_description', variables,'Write about the physique and appearance of your Monster/NPC','Physical Description','','textarea',6 ) }}
			</div>

			<div class="mb-3 pathfinder-description-wrapper">
				{{ macros.printFormRow('description', variables,'Write a description of the monster or NPC','Description','','textarea',30 ) }}
			</div>
		</div>
	</div>

</div>