<div class="bar"></div>
<div class="inside-content">
    <div class="form-wrapper">
        <div class="row">
            <div class="col-12 col-md-8">
                <label for="name" class="control-label">
                    <h4 class="header-title">Name</h4>
                </label>
                <input value="{{ variables.name|default }}" class="form-control" id="name" name="name" placeholder="Bag of Holding" type="text" />
            </div>
            <div class="col-12 col-md-4">
                <label for="item_type" class="control-label">
                    <h4 class="header-title">Item Type</h4>
                </label>
                <select class="form-control" id="item_type" name="item_type">
                    <option value="Adventuring Gear" {% if variables.item_type|default == "Adventuring Gear" %}selected="selected" {% endif %} >Adventuring Gear</option>
                    <option value="Ammunition" {% if variables.item_type|default == "Ammunition" %}selected="selected" {% endif %} >Ammunition</option>
                    <option value="Armor" {% if variables.item_type|default == "Armor" %}selected="selected" {% endif %} >Armor</option>
                    <option value="Artisan Tool" {% if variables.item_type|default == "Artisan Tool" %}selected="selected" {% endif %} >Artisan Tool</option>
                    <option value="Explosive" {% if variables.item_type|default == "Explosive" %}selected="selected" {% endif %} >Explosive</option>
                    <option value="Firearm" {% if variables.item_type|default == "Firearm" %}selected="selected" {% endif %} >Firearm</option>
                    <option value="Futuristic" {% if variables.item_type|default == "Futuristic" %}selected="selected" {% endif %} >Futuristic</option>
                    <option value="Gaming Set" {% if variables.item_type|default == "Gaming Set" %}selected="selected" {% endif %} >Gaming Set</option>
                    <option value="Generic Variant" {% if variables.item_type|default == "Generic Variant" %}selected="selected" {% endif %} >Generic Variant</option>
                    <option value="Instrument" {% if variables.item_type|default == "Instrument" %}selected="selected" {% endif %} >Instrument</option>
                    <option value="Modern" {% if variables.item_type|default == "Modern" %}selected="selected" {% endif %} >Modern</option>
                    <option value="Mount" {% if variables.item_type|default == "Mount" %}selected="selected" {% endif %} >Mount</option>
                    <option value="Poison" {% if variables.item_type|default == "Poison" %}selected="selected" {% endif %} >Poison</option>
                    <option value="Potion" {% if variables.item_type|default == "Potion" %}selected="selected" {% endif %} >Potion</option>
                    <option value="Renaissance" {% if variables.item_type|default == "Renaissance" %}selected="selected" {% endif %} >Renaissance</option>
                    <option value="Ring" {% if variables.item_type|default == "Ring" %}selected="selected" {% endif %} >Ring</option>
                    <option value="Rod" {% if variables.item_type|default == "Rod" %}selected="selected" {% endif %} >Rod</option>
                    <option value="Scroll" {% if variables.item_type|default == "Scroll" %}selected="selected" {% endif %} >Scroll</option>
                    <option value="Spellcasting Focus" {% if variables.item_type|default == "Spellcasting Focus" %}selected="selected" {% endif %} >Spellcasting Focus</option>
                    <option value="Staff" {% if variables.item_type|default == "Staff" %}selected="selected" {% endif %} >Staff</option>
                    <option value="Tack and Harness" {% if variables.item_type|default == "Tack and Harness" %}selected="selected" {% endif %} >Tack and Harness</option>
                    <option value="Tool" {% if variables.item_type|default == "Tool" %}selected="selected" {% endif %} >Tool</option>
                    <option value="Trade Good" {% if variables.item_type|default == "Trade Good" %}selected="selected" {% endif %} >Trade Good</option>
                    <option value="Vehicle" {% if variables.item_type|default == "Vehicle" %}selected="selected" {% endif %} >Vehicle</option>
                    <option value="Wand" {% if variables.item_type|default == "Wand" %}selected="selected" {% endif %} >Wand</option>
                    <option value="Weapon" {% if variables.item_type|default == "Weapon" %}selected="selected" {% endif %} >Weapon</option>
                    <option value="Wondrous Item" {% if variables.item_type|default == "Wondrous Item" %}selected="selected" {% endif %} >Wondrous Item</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="rarity" class="control-label">
                    <h4 class="header-title">Rarity</h4>
                </label>
                <select class="form-control" id="rarity" name="rarity">
                    <option value="Varies" {% if variables.rarity|default == "Varies" %}selected="selected" {% endif %} >Varies</option>
                    <option value="Common" {% if variables.rarity|default == "Common" %}selected="selected" {% endif %} >Common</option>
                    <option value="Uncommon" {% if variables.rarity|default == "Uncommon" %}selected="selected" {% endif %} >Uncommon</option>
                    <option value="Rare" {% if variables.rarity|default == "Rare" %}selected="selected" {% endif %} >Rare</option>
                    <option value="Very Rare" {% if variables.rarity|default == "Very Rare" %}selected="selected" {% endif %} >Very Rare</option>
                    <option value="Legendary" {% if variables.rarity|default == "Legendary" %}selected="selected" {% endif %} >Legendary</option>
                </select>
                <p class="description form-control-description">How rare is the item</p>
            </div>
            <div class="col-12 col-md-6">
                <label for="price" class="control-label">
                    <h4 class="header-title">Price</h4>
                </label>
                <input value="{{ variables.price|default }}" class="form-control" id="price" name="price" placeholder="3gp 5sp" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="weight" class="control-label">
                    <h4 class="header-title">Weight</h4>
                </label>
                <input value="{{ variables.weight|default }}" class="form-control" id="weight" name="weight" placeholder="5lb" type="text" />
            </div>
            <div class="col-12 col-md-6">
                <label for="attunement" class="control-label">
                    <h4 class="header-title">Attunement</h4>
                </label>
                <input value="{{ variables.attunement|default }}" class="form-control" id="attunement" name="attunement" placeholder="Abjuration" type="text" />
                <input value="1" {% if variables.item_needs_attunement|default == 1 %} checked="checked"{% endif %} id="item_needs_attunement" name="item_needs_attunement" placeholder="1" type="checkbox" /> <label for="item_needs_attunement"> Item needs Attunement</label>
            </div>
        </div>
        <div class="row">
            <label for="description" class="control-label">
                <h4 class="header-title">Description</h4>
            </label>
            <textarea class="form-control mention" id="description" name="description" rows="10" placeholder="">{{ variables.description|default }}</textarea>
            <p class="description form-control-description">Item physical description and abilities</p>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="properties" class="control-label">
                    <h4 class="header-title">Properties</h4>
                </label>
                <textarea class="form-control mention" id="properties" name="properties" rows="6" placeholder="Magical, Heavy, Cursed, Light, Versatile">{{ variables.properties|default }}</textarea>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>Item is armor:</h3>
                <label for="armor_type" class="control-label">
                    <h4 class="header-title">Armor Type</h4>
                </label>
                <select class="form-control" id="armor_type" name="armor_type">
                    <option value="None" {% if variables.armor_type|default == "None" %}selected="selected" {% endif %} >None</option>
                    <option value="Light" {% if variables.armor_type|default == "Light" %}selected="selected" {% endif %} >Light</option>
                    <option value="Medium" {% if variables.armor_type|default == "Medium" %}selected="selected" {% endif %} >Medium</option>
                    <option value="Heavy" {% if variables.armor_type|default == "Heavy" %}selected="selected" {% endif %} >Heavy</option>
                    <option value="Shield" {% if variables.armor_type|default == "Shield" %}selected="selected" {% endif %} >Shield</option>
                </select>
                <p class="description form-control-description">Armor subtype, if the item is an armor</p>
                <label for="armor_class" class="control-label">
                    <h4 class="header-title">Armor Class</h4>
                </label>
                <input value="{{ variables.armor_class|default }}" class="form-control" id="armor_class" name="armor_class" placeholder="14" type="text" />
                <p class="description form-control-description">Armor Class, if the item is an armor</p>
                <label for="strength_requirement" class="control-label">
                    <h4 class="header-title">Strength Requirement</h4>
                </label>
                <input value="{{ variables.strength_requirement|default }}" class="form-control" id="strength_requirement" name="strength_requirement" placeholder="12+" type="text" />
                <p class="description form-control-description">Strength, required if the item is an armor</p>
                <label for="stealth_disadvantage" class="control-label">
                    <h4 class="header-title">Stealth Disadvantage</h4>
                </label>
                <label for="stealth_disadvantage" class="control-label">
                    <input value="1" {% if variables.stealth_disadvantage|default == 1 %} checked="checked" {% endif %} id="stealth_disadvantage" name="stealth_disadvantage" type="checkbox" /> Stealth Disadvantage
                </label>
                <p class="description form-control-description">Check, if the armor confers a stealth check disadvantage</p>
            </div>
            <div class="col-12 col-md-6">
                <h3>Item is a weapon:</h3>
                <label for="weapon_subtype" class="control-label">
                    <h4 class="header-title">Weapon Subtype</h4>
                </label>
                <select class="form-control" id="weapon_subtype" name="weapon_subtype">
                    <option value="None" {% if variables.weapon_subtype|default == "None" %}selected="selected" {% endif %} >None</option>
                    <option value="Simple Melee" {% if variables.weapon_subtype|default == "Simple Melee" %}selected="selected" {% endif %} >Simple Melee</option>
                    <option value="Martial Melee" {% if variables.weapon_subtype|default == "Martial Melee" %}selected="selected" {% endif %} >Martial Melee</option>
                    <option value="Simple Ranged" {% if variables.weapon_subtype|default == "Simple Ranged" %}selected="selected" {% endif %} >Simple Ranged</option>
                    <option value="Martial Ranged" {% if variables.weapon_subtype|default == "Martial Ranged" %}selected="selected" {% endif %} >Martial Ranged</option>
                </select>
                <p class="description form-control-description">Weapon subtype, if the item is a weapon</p>
                <label for="weapon_damage" class="control-label">
                    <h4 class="header-title">Weapon Damage</h4>
                </label>
                <input value="{{ variables.weapon_damage|default }}" class="form-control" id="weapon_damage" name="weapon_damage" placeholder="1d8+4" type="text" />
                <p class="description form-control-description">Damage dealt by item, if the item is a weapon</p>
                <label for="weapon_secondary_damage" class="control-label">
                    <h4 class="header-title">Weapon Secondary Damage</h4>
                </label>
                <input value="{{ variables.weapon_secondary_damage|default }}" class="form-control" id="weapon_secondary_damage" name="weapon_secondary_damage" placeholder="1d8+4" type="text" />
                <p class="description form-control-description">Secondary or Versatile property, damage dealt by item, if the item is a weapon</p>
                <label for="weapon_damage_type" class="control-label">
                    <h4 class="header-title">Weapon Damage Type</h4>
                </label>
                <select class="form-control" id="weapon_damage_type" name="weapon_damage_type">
                    <option value="None" {% if variables.weapon_damage_type|default == "None" %}selected="selected" {% endif %} >None</option>
                    <option value="Bludgeoning" {% if variables.weapon_damage_type|default == "Bludgeoning" %}selected="selected" {% endif %} >Bludgeoning</option>
                    <option value="Slashing" {% if variables.weapon_damage_type|default == "Slashing" %}selected="selected" {% endif %} >Slashing</option>
                    <option value="Piercing" {% if variables.weapon_damage_type|default == "Piercing" %}selected="selected" {% endif %} >Piercing</option>
                    <option value="Acid" {% if variables.weapon_damage_type|default == "Acid" %}selected="selected" {% endif %} >Acid</option>
                    <option value="Cold" {% if variables.weapon_damage_type|default == "Cold" %}selected="selected" {% endif %} >Cold</option>
                    <option value="Fire" {% if variables.weapon_damage_type|default == "Fire" %}selected="selected" {% endif %} >Fire</option>
                    <option value="Force" {% if variables.weapon_damage_type|default == "Force" %}selected="selected" {% endif %} >Force</option>
                    <option value="Lightning" {% if variables.weapon_damage_type|default == "Lightning" %}selected="selected" {% endif %} >Lightning</option>
                    <option value="Necrotic" {% if variables.weapon_damage_type|default == "Necrotic" %}selected="selected" {% endif %} >Necrotic</option>
                    <option value="Poison" {% if variables.weapon_damage_type|default == "Poison" %}selected="selected" {% endif %} >Poison</option>
                    <option value="Psychic" {% if variables.weapon_damage_type|default == "Psychic" %}selected="selected" {% endif %} >Psychic</option>
                    <option value="Radiant" {% if variables.weapon_damage_type|default == "Radiant" %}selected="selected" {% endif %} >Radiant</option>
                    <option value="Thunder" {% if variables.weapon_damage_type|default == "Thunder" %}selected="selected" {% endif %} >Thunder</option>
                    <option value="Non-magical" {% if variables.weapon_damage_type|default == "Non-magical" %}selected="selected" {% endif %} >Non-magical</option>
                    <option value="Silver" {% if variables.weapon_damage_type|default == "Silver" %}selected="selected" {% endif %} >Silver</option>
                    <option value="Adamantine" {% if variables.weapon_damage_type|default == "Adamantine" %}selected="selected" {% endif %} >Adamantine</option>
                </select>
                <p class="description form-control-description">Weapon damage type, if the item is a weapon</p>
                <label for="weapon_range" class="control-label">
                    <h4 class="header-title">Weapon Range</h4>
                </label>
                <input value="{{ variables.weapon_range|default }}" class="form-control" id="weapon_range" name="weapon_range" placeholder="30/60 ft" type="text" />
                <p class="description form-control-description">How far does it shoot, if the item is a weapon</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="source" class="control-label">
                    <h4 class="header-title">Source</h4>
                </label>
                <input value="{{ variables.source|default }}" class="form-control" id="source" name="source" placeholder="SRD" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
            <div class="col-12 col-md-6">
                <label for="image_gallery_id" class="control-label">
                    <h4 class="header-title">Image Gallery ID</h4>
                </label>
                <input value="{{ variables.image_gallery_id|default }}" class="form-control" id="image_gallery_id" name="image_gallery_id" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
    </div>
</div>
<div class="bar"></div>