<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Extra: {{ variables.name }}</h2>
            <p><strong>Permission:</strong> {{ variables.permission }}</p>
            <p><strong>Cost:</strong> {{ variables.cost }}</p>
            <p>{{ variables.description is defined ? variables.description }}</p>
        </div>
        {% if variables.aspects is not empty %}
            <div class="col-12">
                <p>
                    <strong>Aspects</strong>: {{ variables.aspects is defined ? variables.aspects }}
                </p>
            </div>
        {% endif %}
        {% if variables.overcome is not empty %}
            <div class="col-md-1">
                <label id="overcome_icon"></label>
            </div>
            <div class="col-md-11">
                <p>
                    <strong>Overcome</strong>: {{ variables.overcome is defined ? variables.overcome }}
                </p>
            </div>
        {% endif %}
        {% if variables.create_an_advantage is not empty %}
            <div class="col-md-1">
                <label id="create_an_advantage_icon"></label>
            </div>
            <div class="col-md-11">
                <p>
                    <strong>Create an
                        Advantage</strong>: {{ variables.create_an_advantage is defined ? variables.create_an_advantage }}
                </p>
            </div>
        {% endif %}
        {% if variables.attack is not empty %}
            <div class="col-md-1">
                <label id="attack_icon"></label>
            </div>
            <div class="col-md-11">
                <p>
                    <strong>Attack</strong>: {{ variables.attack is defined ? variables.attack }}
                </p>
            </div>
        {% endif %}
        {% if variables.defend is not empty %}
            <div class="col-md-1">
                <label id="defend_icon"></label>
            </div>
            <div class="col-md-11">
                <p>
                    <strong>Defend</strong>: {{ variables.defend is defined ? variables.defend }}
                </p>
            </div>
        {% endif %}
        {% if variables.special is not empty %}
            <div class="col-12">
                <p>
                    <strong>Special</strong>: {{ variables.special is defined ? variables.special }}
                </p>
            </div>
        {% endif %}
        {% if variables.stunts is not empty %}
            <div class="col-12">
                {{ variables.stunts is defined ? variables.stunts }}
            </div>
        {% endif %}
    </div>
</div>