{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

<div class="dw-box">
    <table class="dw-table">
        <tr>
            <td><span class="name">{{ variables.name }}</span></td>
            <td class="tags" colspan='2'>{{ variables.tags }}</td>
        </tr>        
        <tr>            
            {% if variables.uses %}
                <td class="dw-uses" colspan='2'>
                    <span><strong>{{ variables.uses }} uses</strong></span>
                </td>
            {% endif %}
            
            {% if variables.armor %}
                <td class="dw-armor">{{ variables.armor }} Armor</td>
            {% endif %}
        </tr>                
    </table>
    <p class="description">{{ variables.description|nl2br|BBcode }}</p>
    
    {% if variables.moves %}
        <div>{{ variables.moves|BBcode }}</div>
    {% endif %}

</div>

{% endblock %}