<div class="row">
    <div class="col-12 col-md-6">
        <div class="card my-2 of">
            <div class="card-body od">
                <table width=100%>
                    <tr>
                    <tr><td class="hdr l">HP</td><td class="txt c" width="50%"><input value="{{ variables.hitpoints_current is defined ? variables.hitpoints_current }}" class="form-control mx70" id="hitpoints_current" name="hitpoints_current" type="text" /> of {{ variables.hitpoints is defined ? variables.hitpoints }}</td></tr>
                    <tr><td class="hdr l">HP temp</td><td class="txt c"><input value="{{ variables.hitpoints_temp_current is defined ? variables.hitpoints_temp_current }}" class="form-control mx70" id="hitpoints_temp_current" name="hitpoints_temp_current" type="text" /> of <input value="{{ variables.hitpoints_temp is defined ? variables.hitpoints_temp }}" class="form-control mx70" id="hitpoints_temp" name="hitpoints_temp" type="text" /></td></tr>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card my-2 of">
            <div class="card-header head-bar">Spells left</div>
            <div class="card-body od">
                <table width=100%>
                    <tr>
                        <th class="hdr c" title="known per spell level">SL 0: {{ variables.spellslot_max_0 ?? 0 }}</th>
                        <th class="hdr c" title="known per spell level">SL 1: {{ variables.spellslot_max_1 ?? 0 }}</th>
                        <th class="hdr c" title="known per spell level">SL 2: {{ variables.spellslot_max_2 ?? 0 }}</th>
                        <th class="hdr c" title="known per spell level">SL 3: {{ variables.spellslot_max_3 ?? 0 }}</th>
                        <th class="hdr c" title="known per spell level">SL 4: {{ variables.spellslot_max_4 ?? 0 }}</th>   
                    </tr>
                    <tr>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_0 is defined ? variables.spellslot_0 }}" class="form-control" id="spellslot_0" name="spellslot_0" type="text" /></td>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_1 is defined ? variables.spellslot_1 }}" class="form-control" id="spellslot_1" name="spellslot_1" type="text" /></td>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_2 is defined ? variables.spellslot_2 }}" class="form-control" id="spellslot_2" name="spellslot_2" type="text" /></td>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_3 is defined ? variables.spellslot_3 }}" class="form-control" id="spellslot_3" name="spellslot_3" type="text" /></td>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_4 is defined ? variables.spellslot_4 }}" class="form-control" id="spellslot_4" name="spellslot_4" type="text" /></td>
                    </tr>
                    <tr>
                        <th class="hdr c" title="known per spell level">SL 5: {{ variables.spellslot_max_5 ?? 0 }}</th>
                        <th class="hdr c" title="known per spell level">SL 6: {{ variables.spellslot_max_6 ?? 0 }}</th>
                        <th class="hdr c" title="known per spell level">SL 7: {{ variables.spellslot_max_7 ?? 0 }}</th>
                        <th class="hdr c" title="known per spell level">SL 8: {{ variables.spellslot_max_8 ?? 0 }}</th>
                        <th class="hdr c" title="known per spell level">SL 9: {{ variables.spellslot_max_9 ?? 0 }}</th>
                    </tr>
                    <tr>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_5 is defined ? variables.spellslot_5 }}" class="form-control" id="spellslot_5" name="spellslot_5" type="text" /></td>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_6 is defined ? variables.spellslot_6 }}" class="form-control" id="spellslot_6" name="spellslot_6" type="text" /></td>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_7 is defined ? variables.spellslot_7 }}" class="form-control" id="spellslot_7" name="spellslot_7" type="text" /></td>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_8 is defined ? variables.spellslot_8 }}" class="form-control" id="spellslot_8" name="spellslot_8" type="text" /></td>
                        <td class="txt c" title="per day"><input value="{{ variables.spellslot_9 is defined ? variables.spellslot_9 }}" class="form-control" id="spellslot_9" name="spellslot_9" type="text" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card my-2">
            <div class="card-header head-bar">Notes</div>
            <div class="card-body od pd10">
                <textarea class="form-control" id="notes" name="notes" rows="10">{{ variables.notes is defined ? variables.notes }}</textarea>
            </div>
        </div>
    </div>
</div>