<div class="container-fluid bountyhunter-sheet form-wrapper">
    <div class="row d-flex align-items-start">
        <div class="col-12 col-xs-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-body">
                    <table width="100%">
{% set ap = 20 %}
{% if variables.action_points is defined %}{% set ap = variables.action_points %}{% endif %}
{% if variables.action_points_curr is defined %}{% set ap = variables.action_points_curr %}{% endif %}
{% if ap == '' %}{% set ap = 20 %}{% endif %}
                        <tr><td class="hdr l ev">action points</td><td class="txt l ev"><input value="{{ap}}" class="form-control" id="action_points_curr" name="action_points_curr" type="text" /></td></tr>
                        <tr><td class="hdr l od">reputation points</td><td class="txt l od"><input value="{{ variables.reputation_points is defined ? variables.reputation_points }}" class="form-control" id="reputation_points" name="reputation_points" type="text" /></td></tr>
                        <tr><td class="hdr l ev">deca credits</td><td class="txt l od"><input value="{{ variables.deca_credits is defined ? variables.deca_credits }}" class="form-control" id="deca_credits" name="deca_credits" type="text" /></td></tr>
                        <tr><td class="hdr l od">marks</td><td class="txt l ev"><input value="{{ variables.marks is defined ? variables.marks }}" class="form-control" id="marks" name="marks" type="text" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes</div>
                <div class="card-body">
                    <table width="100%">
                        <tr><td class="txt nb l od"><textarea class="form-control" id="notes" name="notes" rows="3" >{{ variables.notes is defined ? variables.notes }}</textarea></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>