<div class="container-fluid uesrpg-sheet">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar"><em class="fas fa-address-card"></em> <input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="name of the npc / monster" type="text" /><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBackground" aria-expanded="true" aria-controls="collapseBackground"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseBackground" aria-labelledby="headingBackground">
                    Description: <input value="{{ variables.desc is defined ? variables.desc }}" class="form-control mention" id="desc" name="desc" type="text" /><br>
                    Armor Rating: <input value="{{ variables.armor is defined ? variables.armor }}" class="form-control mention" id="armor" name="armor" type="text" /><br>
                    <table width="100%">
    {% set SB = variables.strength[:1] %}
    {% set EB = variables.endurance[:1] %}
    {% set AB = variables.agility[:1] %}
    {% set IB = variables.intelligence[:1] %}
    {% set WB = variables.willpower[:1] %}
    {% set PcB = variables.perception[:1] %}
    {% set PsB = variables.personality[:1] %}
    {% set LkB = variables.luck[:1] %}
    {% set luck_max = LkB %}
    {% set hp_max = (variables.endurance + 1) // 2 %}
    {% set hp_curr = hp_max %}
    {% if variables.hp_curr is defined and variables.hp_curr > 0 %}{% set hp_curr = variables.hp_curr %}{% endif %}
    {% set magicka_max = variables.intelligence  %}
    {% set magicka_curr = magicka_max  %}
    {% if variables.magicka_curr is defined and variables.magicka_curr > 0 %}{% set magicka_curr = variables.magicka_curr %}{% endif %}
    {% set stamina_max = EB  %}
    {% set stamina_curr = stamina_max  %}
    {% if variables.stamina_curr is defined and variables.stamina_curr > 0 %}{% set stamina_curr = variables.stamina_curr %}{% endif %}
    {% set action_max = 3 %}
    {% if AB + IB + PcB > 16 %}{% set action_max = 4 %}{% endif %}
    {% set action_curr = action_max %}
    {% if variables.action_curr is defined and variables.action_curr > 0 %}{% set action_curr = variables.action_curr %}{% endif %}
    {% set wound_threshold = EB + SB + WpB %}
    {% if variables.wound_threshold is defined and variables.wound_threshold > 0 %}{% set wound_threshold = variables.wound_threshold %}{% endif %}
    {% set init_rating = AB + IB + PcB %}
    {% if variables.init_rating is defined and variables.init_rating > 0 %}{% set init_rating = variables.init_rating %}{% endif %}
    {% set speed = SB + 2 * AB %}
    {% if variables.speed is defined and variables.speed > 0 %}{% set speed = variables.speed %}{% endif %}
                        <tr>
                            <th colspan=2 class="hdr c lg" width="35%">Characteristic</th><th colspan=2 class="hdr c" width="45%">Attributes</th><th colspan=2 class="hdr c" width="20%">Skills</th>
                        </tr>
                        <tr>
                            <td class="hdr l">Strength</td><td class="txt c od"><input value="{{ variables.strength is defined ? variables.strength }}" class="form-control" id="strength" name="strength" type="number" /></td>
                            <td class="hdr l" title="Health Points / Max"><em class="fas fa-heartbeat"></em> Health Points</td><td class="txt c od" title=""><input value="{{ hp_curr }}" class="form-control" id="hp_curr" name="hp_curr" type="number" /></td>
                            <td class="hdr l">Combat</td><td class="txt c od"><input value="{{ variables.sk_combat is defined ? variables.sk_combat }}" class="form-control" id="sk_combat" name="sk_combat" type="number" /></td>
                        </tr>
                        <tr>
                            <td class="hdr l">Endurance</td><td class="txt c od"><input value="{{ variables.endurance is defined ? variables.endurance }}" class="form-control" id="endurance" name="endurance" type="number" /></td>
                            <td class="hdr l" title="Wound Threshold"><em class="ra ra-player-pain"></em> Wound Thresh.</td><td class="txt c od" title=""><input value="{{ wound_threshold }}" class="form-control" id="wound_threshold" name="wound_threshold" type="number" /></td>
                            <td class="hdr l">Magic</td><td class="txt c od"><input value="{{ variables.sk_magic is defined ? variables.sk_magic }}" class="form-control" id="sk_magic" name="sk_magic" type="number" /></td>
                        </tr>
                        <tr>
                            <td class="hdr l">Agility</td><td class="txt c od"><input value="{{ variables.agility is defined ? variables.agility }}" class="form-control" id="agility" name="agility" type="number" /></td>
                            <td class="hdr l" title="Magicka Points / Max"><em class="fas fa-atom"></em> Magicka Points</td><td class="txt c od" title=""><input value="{{ magicka_curr }}" class="form-control" id="magicka_curr" name="magicka_curr" type="number" /></td>
                            <td class="hdr l">Evade</td><td class="txt c od"><input value="{{ variables.sk_evade is defined ? variables.sk_evade }}" class="form-control" id="sk_evade" name="sk_evade" type="number" /></td>
                        </tr>
                        <tr>
                            <td class="hdr l">Intelligence</td><td class="txt c od"><input value="{{ variables.intelligence is defined ? variables.intelligence }}" class="form-control" id="intelligence" name="intelligence" type="number" /></td>
                            <td class="hdr l" title="Stamina Points / Max"><em class="ra ra-muscle-up"></em> Stamina Points</td><td class="txt c od" title=""><input value="{{ stamina_curr }}" class="form-control" id="stamina_curr" name="stamina_curr" type="number" /></td>
                            <td class="hdr l">Observe</td><td class="txt c od"><input value="{{ variables.sk_observe is defined ? variables.sk_observe }}" class="form-control" id="sk_observe" name="sk_observe" type="number" /></td>
                        </tr>
                        <tr>
                            <td class="hdr l">Willpower</td><td class="txt c od"><input value="{{ variables.willpower is defined ? variables.willpower }}" class="form-control" id="willpower" name="willpower" type="number" /></td>
                            <td class="hdr l" title="Init Rating"><em class="fas fa-angle-double-right"></em> Init Rating</td><td class="txt c od" title=""><input value="{{ init_rating }}" class="form-control" id="init_rating" name="init_rating" type="number" /></td>
                            <td class="hdr l">Stealth</td><td class="txt c od"><input value="{{ variables.sk_stealth is defined ? variables.sk_stealth }}" class="form-control" id="sk_stealth" name="sk_stealth" type="number" /></td>
                        </tr>
                        <tr>
                            <td class="hdr l">Perception</td><td class="txt c od"><input value="{{ variables.perception is defined ? variables.perception }}" class="form-control" id="perception" name="perception" type="number" /></td>
                            <td class="hdr l" title="Action Points / Max"><em class="fas fa-angle-right"></em> Action Points</td><td class="txt c od" title=""><input value="{{ action_curr }}" class="form-control" id="action_curr" name="action_curr" type="number" /></td>
                            <td class="hdr l">Knowledge</td><td class="txt c od"><input value="{{ variables.sk_knowledge is defined ? variables.sk_knowledge }}" class="form-control" id="sk_knowledge" name="sk_knowledge" type="number" /></td>
                        </tr>
                        <tr>
                            <td class="hdr l">Personality</td><td class="txt c od"><input value="{{ variables.personality is defined ? variables.personality }}" class="form-control" id="personality" name="personality" type="number" /></td>
                            <td class="hdr l" title="Speed"><em class="fas fa-running"></em> Speed</td><td class="txt c od" title=""><input value="{{ speed }}" class="form-control" id="speed" name="speed" type="number" /></td>
                            <td class="hdr l">Social</td><td class="txt c od"><input value="{{ variables.sk_social is defined ? variables.sk_social }}" class="form-control" id="sk_social" name="sk_social" type="number" /></td>
                        </tr>
                        <tr>
                            <td class="hdr l" title="Luck Points / Max"><em class="ra ra-clover"></em> Luck Points</td><td class="txt c od" title=""><input value="{{ variables.luck is defined ? variables.luck }}" class="form-control" id="luck" name="luck" type="number" /></td>
                            <td class="hdr l" title="Size"><em class="fas fa-arrows-v"></em> Size</td><td class="txt c od"><select class="form-control" id="size" name="size">
                                <option value="puny" {% if variables.size is defined and variables.size == "puny" %}selected="selected" {% endif %} >puny</option>
                                <option value="tiny" {% if variables.size is defined and variables.size == "tiny" %}selected="selected" {% endif %} >tiny</option>
                                <option value="small" {% if variables.size is defined and variables.size == "small" %}selected="selected" {% endif %} >small</option>
                                <option value="standard" {% if variables.size is defined and variables.size == "standard" %}selected="selected" {% endif %} >standard</option>
                                <option value="large" {% if variables.size is defined and variables.size == "large" %}selected="selected" {% endif %} >large</option>
                                </select>
                            </td>
                            <td class="hdr l">Physical</td><td class="txt c od"><input value="{{ variables.sk_physical is defined ? variables.sk_physical }}" class="form-control" id="sk_physical" name="sk_physical" type="number" /></td>
                        </tr>
                    </table>
                    <br>
                    Note: If you do not enter HP, Magicka, Stamina, Init Rating, Action Points or Speed, the sheet will use the default values derived from the Characteristics.
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar"><em class="fas fa-backpack"></em> Equipment <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEquipment" aria-expanded="true" aria-controls="collapseEquipment"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseEquipment" aria-labelledby="headingEquipment">
                    <textarea class="form-control mention" id="equipment" name="equipment" rows="5">{{ variables.equipment is defined ? variables.equipment }}</textarea>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar"><em class="fas fa-code-branch"></em> Abilities <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAbilities" aria-expanded="true" aria-controls="collapseAbilities"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseAbilities" aria-labelledby="headingAbilities">
                    <textarea class="form-control mention" id="abilities" name="abilities" rows="5">{{ variables.abilities is defined ? variables.abilities }}</textarea>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar"><em class="ra ra-player-teleport"></em> Talents / Traits <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTalents" aria-expanded="true" aria-controls="collapseTalents"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseTalents" aria-labelledby="headingTalents">
                    <textarea class="form-control mention" id="talents" name="talents" rows="5">{{ variables.talents is defined ? variables.talents }}</textarea>
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar"><em class="fas fa-address-card"></em> Image <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseImage" aria-expanded="true" aria-controls="collapseImage"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseImage" aria-labelledby="headingImage">
                ImageID: <input value="{{ variables.image is defined ? variables.image }}" class="form-control" id="image" name="image" type="number" />
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar"><em class="fas fa-file-alt"></em> Notes <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="true" aria-controls="collapseNotes"><em class="fas fa-angle-down"></em></button></div>
                <div class="card-body collapse show od pd10" id="collapseNotes" aria-labelledby="headingNotes">
                    <textarea class="form-control mention" id="notes" name="notes" rows="5">{{ variables.notes is defined ? variables.notes }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>