<div class="container-fluid bladerunner-sheet">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-6">
            <div class="card my-2">
                <div class="tableContainer">
                    <table width="100%" class="alttable">
                        <tr>
                            <td class="lbl odd l"><label for="maximum_health" class="control-label">Maximum Health</label></td>
                            <td class="att odd c"><input value="{{ variables.maximum_health is defined ? variables.maximum_health }}" class="form-control c" id="maximum_health" name="maximum_health" placeholder="" type="text" /></td>
                        </tr>
                        <tr>
                            <td class="lbl ev l"><label for="current_health" class="control-label">Current Health</label></td>
                            <td class="att ev c"><input value="{{ variables.current_health is defined ? variables.current_health }}" class="form-control c" id="current_health" name="current_health" placeholder="" type="text" /></td>
                        </tr>
                        <tr>
                            <td class="lbl odd l"><label for="critical_injuries" class="control-label">Critical Injuries</label></td>
                            <td class="att odd c"><input value="{{ variables.critical_injuries is defined ? variables.critical_injuries }}" class="form-control" id="critical_injuries" name="critical_injuries" placeholder="" type="text" /></td>
                        </tr>
                        <tr>
                            <td class="lbl ev l"><label for="maximum_resolve" class="control-label">Maximum Resolve</label></td>
                            <td class="att ev c"><input value="{{ variables.maximum_resolve is defined ? variables.maximum_resolve }}" class="form-control c" id="maximum_resolve" name="maximum_resolve" placeholder="" type="text" /></td>
                        </tr>
                        <tr>
                            <td class="lbl odd l"><label for="current_resolve" class="control-label">Current Resolve</label></td>
                            <td class="att odd c"><input value="{{ variables.current_resolve is defined ? variables.current_resolve }}" class="form-control c" id="current_resolve" name="current_resolve" placeholder="" type="text" /></td>
                        </tr>
                        <tr>
                            <td class="lbl ev l"><label for="critical_stress_effects" class="control-label">Critical Stress Effects</label></td>
                            <td class="att ev c"><input value="{{ variables.critical_stress_effects is defined ? variables.critical_stress_effects }}" class="form-control" id="critical_stress_effects" name="critical_stress_effects" placeholder="" type="text" /></td>
                        </tr>
                    </table>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent"><label for="promotion_points" class="control-label">Promotion Points</label <span class="badge"><input value="{{ variables.promotion_points is defined ? variables.promotion_points }}" class="form-control c" id="promotion_points" name="promotion_points" placeholder="" type="text" /></span></span>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent"><label for="humanity_points" class="control-label">Humanity Points</label <span class="badge"><input value="{{ variables.humanity_points is defined ? variables.humanity_points }}" class="form-control c" id="humanity_points" name="humanity_points" placeholder="" type="text" /></span></span>
				</div>
			</div>
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent"><label for="chinyen_points" class="control-label">Chinyen Points</label <span class="badge"><input value="{{ variables.chinyen_points is defined ? variables.chinyen_points }}" class="form-control c" id="chinyen_points" name="chinyen_points" placeholder="" type="text" /></span></span>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent"><label for="gear" class="control-label">Gear</label></span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="gear" name="gear" rows="3" placeholder="">{{ variables.gear is defined ? variables.gear }}</textarea></span>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="headerContainer">
					<span class="headerContent"><label for="notes" class="control-label">Notes</label></span>
				</div>
				<div class="contentContainer list">
					<span class="inputContent"><textarea class="form-control" id="notes" name="notes" rows="3" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea></span>
				</div>
			</div>
		</div>
    </div>
</div>