<div class="gold"></div>
<div class="inside-content">
	{% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
	<p class="statblock-source" title="Source">
		{% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
		{% if meta.block.isSRD %}SRD{% endif %}
	</p>
	{% endif %}
	<h1 class="dnd5e-sheet-header">
		{{ variables.name }}
	</h1>
	{% if variables.overview is defined %}
	<div class="statblock-stat desc">
	<span>{{ variables.overview}}</span></div>
	{% endif %}
	<div class="dndline"></div>
	{% if variables.hit_dice is defined %}
	<div class="statblock-stat"><strong>hit dice:</strong>
	<span>{{ variables.hit_dice}}</span></div>
	{% endif %}
	{% if variables.hit_points_at_1st_level is defined %}
	<div class="statblock-stat"><strong>hit points at 1st level:</strong>
	<span>{{ variables.hit_points_at_1st_level}}</span></div>
	{% endif %}
	{% if variables.hit_points_at_higher_levels is defined %}
	<div class="statblock-stat"><strong>hit points at higher levels:</strong>
	<span>{{ variables.hit_points_at_higher_levels}}</span></div>
	{% endif %}
	{% if variables.armor_proficiencies is defined %}
	<div class="statblock-stat"><strong>armor proficiencies:</strong>
	<span>{{ variables.armor_proficiencies}}</span></div>
	{% endif %}
	{% if variables.weapon_proficiencies is defined %}
	<div class="statblock-stat"><strong>weapon proficiencies:</strong>
	<span>{{ variables.weapon_proficiencies}}</span></div>
	{% endif %}
	{% if variables.tools is defined %}
	<div class="statblock-stat"><strong>tools:</strong>
	<span>{{ variables.tools}}</span></div>
	{% endif %}
	{% if variables.saving_throws is defined %}
	<div class="statblock-stat"><strong>saving throws:</strong>
	<span>{{ variables.saving_throws}}</span></div>
	{% endif %}
	{% if variables.skills is defined %}
	<div class="statblock-stat"><strong>skills:</strong>
	<span>{{ variables.skills}}</span></div>
	{% endif %}
	<div class="dndline"></div>
	{% if variables.starting_equipment is defined %}
	<div class="statblock-stat"><strong>starting equipment:</strong><br>
	<span>{{ variables.starting_equipment|nl2br}}</span></div>
	{% endif %}
	<div class="dndline"></div>
	{% if variables.spellcasting is defined %}
	<div class="statblock-stat"><strong>spellcasting:</strong><br>
	<span>{{ variables.spellcasting}}</span></div>
	{% endif %}
	{% if variables.class_features is defined %}
	<div class="statblock-stat"><strong>class features:</strong><br>
	<span>{{ variables.class_features}}</span></div>
	{% endif %}
	<div class="dndline"></div>
	{% if variables.subclass_options is defined %}
	<div class="statblock-stat"><strong>subclass options:</strong><br>
	<span>{{ variables.subclass_options}}</span></div>
	{% endif %}
	<div class="dndline"></div>
	{% if variables.table_data is defined %}
	<div class="statblock-stat">
	<span>{{ variables.table_data|ParseTable|BBcode}}</span></div>
	{% endif %}
</div>
<div class="gold"></div>