<div class="bar"></div>
<div class="inside-content">
    <div class="row">
        <div class="col-12 col-md-8">
			<div class="statblock-stat-form"><strong>Name</strong><br>
				<input value="{{ variables.name|default }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the NPC" type="text" />
			</div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="challenge_rating" class="control-label"><h4 class="header-title">Challenge Rating</h4></label>
                <input value="{{ variables.challenge_rating|default }}" class="form-control mention" id="challenge_rating" name="challenge_rating" placeholder="1/2" type="text" />
                <p class="description form-control-description">Challenge Rating</p>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="types" class="control-label"><h4 class="header-title">Types / Traits</h4></label>
                <input value="{{ variables.types|default }}" class="form-control mention" id="types" name="types" placeholder="Celestial, Dragon" type="text" />
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="size" class="control-label"><h4 class="header-title">Size</h4></label>
                <select class="form-control" id="size" name="size">
                    <option value="Tiny" {% if variables.size|default == "Tiny" %}selected="selected" {% endif %} >Tiny</option>
                    <option value="Small" {% if variables.size|default == "Small" %}selected="selected" {% endif %} >Small</option>
                    <option value="Medium" {% if variables.size|default == "Medium" %}selected="selected" {% endif %} >Medium</option>
                    <option value="Large" {% if variables.size|default == "Large" %}selected="selected" {% endif %} >Large</option>
                    <option value="Huge" {% if variables.size|default == "Huge" %}selected="selected" {% endif %} >Huge</option>
                    <option value="Gargantuan" {% if variables.size|default == "Gargantuan" %}selected="selected" {% endif %} >Gargantuan</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="sizer" class="control-label"><h4 class="header-title">Size Upper Range</h4></label>
                <select class="form-control" id="sizer" name="sizer">
                    <option value="NONE" {% if variables.sizer|default == "NONE" %}selected="selected" {% endif %} >NONE</option>
                    <option value="Tiny" {% if variables.sizer|default == "Tiny" %}selected="selected" {% endif %} >Tiny</option>
                    <option value="Small" {% if variables.sizer|default == "Small" %}selected="selected" {% endif %} >Small</option>
                    <option value="Medium" {% if variables.sizer|default == "Medium" %}selected="selected" {% endif %} >Medium</option>
                    <option value="Large" {% if variables.sizer|default == "Large" %}selected="selected" {% endif %} >Large</option>
                    <option value="Huge" {% if variables.sizer|default == "Huge" %}selected="selected" {% endif %} >Huge</option>
                    <option value="Gargantuan" {% if variables.sizer|default == "Gargantuan" %}selected="selected" {% endif %} >Gargantuan</option>
                </select>
                <p class="description form-control-description">leave at NONE if there is only one size of this creature</p>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="description" class="control-label"><h4 class="header-title">Description</h4></label>
                <textarea class="form-control mention" id="description" name="description" rows="3" placeholder="">{{ variables.description|default }}</textarea>
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="armor_class" class="control-label"><h4 class="header-title">Armor Class</h4></label>
                <input value="{{ variables.armor_class|default }}" class="form-control" id="armor_class" name="armor_class" placeholder="12" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="hit_points" class="control-label"><h4 class="header-title">Hit Points</h4></label>
                <input value="{{ variables.hit_points|default }}" class="form-control" id="hit_points" name="hit_points" placeholder="Use [roll:2d8+4] to add the dice roller" type="text" />
                <p class="description form-control-description">14hp (2d8+4) [roll:2d8+4]</p>
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="speed" class="control-label"><h4 class="header-title">Speed</h4></label>
                <input value="{{ variables.speed|default }}" class="form-control" id="speed" name="speed" placeholder="30 ft, 60 ft (run)" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="stealth" class="control-label"><h4 class="header-title">Stealth</h4></label>
                <input value="{{ variables.stealth|default }}" class="form-control" id="stealth" name="stealth" placeholder="16" type="text" />
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="senses" class="control-label"><h4 class="header-title">Senses</h4></label>
                <input value="{{ variables.senses|default }}" class="form-control" id="senses" name="senses" placeholder="Darkvision, Truesight, Passive perception etc" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="perception" class="control-label"><h4 class="header-title">Perception</h4></label>
                <input value="{{ variables.perception|default }}" class="form-control" id="perception" name="perception" placeholder="10" type="text" />
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="languages" class="control-label"><h4 class="header-title">Languages</h4></label>
                <input value="{{ variables.languages|default }}" class="form-control" id="languages" name="languages" placeholder="Common, Dwarvish, Draconic" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="pb" class="control-label"><h4 class="header-title" title="Proficiency Bonus">PB</h4></label>
                <input value="{{ variables.pb|default }}" class="form-control" id="pb" name="pb" placeholder="+2" type="text" />
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="strength" class="control-label"><h4 class="header-title">Strength Bonus</h4></label>
                <input value="{{ variables.strength|default }}" class="form-control" id="strength" name="strength" type="number" placeholder="+1" />
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="dexterity" class="control-label"><h4 class="header-title">Dexterity Bonus</h4></label>
                <input value="{{ variables.dexterity|default }}" class="form-control" id="dexterity" name="dexterity" type="number" placeholder="+1" />
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="constitution" class="control-label"><h4 class="header-title">Constitution Bonus</h4></label>
                <input value="{{ variables.constitution|default }}" class="form-control" id="constitution" name="constitution" type="number" placeholder="+1" />
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="intelligence" class="control-label"><h4 class="header-title">Intelligence Bonus</h4></label>
                <input value="{{ variables.intelligence|default }}" class="form-control" id="intelligence" name="intelligence" type="number" placeholder="+1" />
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="wisdom" class="control-label"><h4 class="header-title">Wisdom Bonus</h4></label>
                <input value="{{ variables.wisdom|default }}" class="form-control" id="wisdom" name="wisdom" type="number" placeholder="+1" />
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="statblock-stat-form">
                <label for="charisma" class="control-label"><h4 class="header-title">Charisma Bonus</h4></label>
                <input value="{{ variables.charisma|default }}" class="form-control" id="charisma" name="charisma" type="number" placeholder="+1" />
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-12">
            <div class="statblock-stat-form">
                <label for="saving_throws" class="control-label"><h4 class="header-title">Saving Throws</h4></label>
                <input value="{{ variables.saving_throws|default }}" class="form-control" id="saving_throws" name="saving_throws" type="text" />
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="damage_vulnerabilities" class="control-label"><h4 class="header-title">Damage Vulnerabilities</h4></label>
                <input value="{{ variables.damage_vulnerabilities|default }}" class="form-control" id="damage_vulnerabilities" name="damage_vulnerabilities" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="damage_resistances" class="control-label"><h4 class="header-title">Damage Resistances</h4></label>
                <input value="{{ variables.damage_resistances|default }}" class="form-control" id="damage_resistances" name="damage_resistances" type="text" />
            </div>
        </div>
        <hr>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="damage_immunities" class="control-label"><h4 class="header-title">Damage Immunities</h4></label>
                <input value="{{ variables.damage_immunities|default }}" class="form-control" id="damage_immunities" name="damage_immunities" type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="statblock-stat-form">
                <label for="condition_immunities" class="control-label"><h4 class="header-title">Condition Immunities</h4></label>
                <input value="{{ variables.condition_immunities|default }}" class="form-control" id="condition_immunities" name="condition_immunities" type="text" />
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="special_abilities" class="control-label"><h4 class="header-title">Special Abilities</h4></label>
                <textarea class="form-control mention" id="special_abilities" name="special_abilities" rows="6" placeholder="">{{ variables.special_abilities|default }}</textarea>
                <p class="description form-control-description">use [b] .. [/b] to bolden the name. Use [roll:1d10+2] (your dice roll) in order for the dice roller to be activated on the statblock</p>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="actions" class="control-label"><h4 class="header-title">Actions</h4></label>
                <textarea class="form-control mention" id="actions" name="actions" rows="10" placeholder="[b]Unarmed Strike[/b]. Melee Weapon Attack: +4 to hit, reach 5ft. one target. Hit: 6 (1d8+2) [roll:1d8+2] bludgeoning damage.">{{ variables.actions|default }}</textarea>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="bonusactions" class="control-label"><h4 class="header-title">Bonusactions</h4></label>
                <textarea class="form-control mention" id="bonusactions" name="bonusactions" rows="10" placeholder="">{{ variables.bonusactions|default }}</textarea>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="reactions" class="control-label"><h4 class="header-title">Reactions</h4></label>
                <textarea class="form-control mention" id="reactions" name="reactions" rows="5" placeholder="[b]Horned Parry[/b]. Once per combat the Horned Pidgeon can parry an attack using it's horns ">{{ variables.reactions|default }}</textarea>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="image_gallery_id" class="control-label"><h4 class="header-title">Image Gallery ID</h4></label>
                <input value="{{ variables.image_gallery_id|default }}" class="form-control" id="image_gallery_id" name="image_gallery_id" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="source" class="control-label"><h4 class="header-title">source</h4></label>
                <input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
        </div>
    </div>
</div>
<div class="bar"></div>