<div class="bar"></div>
<div class="inside-content">
	{% if (variables.source|default != '' and variables.source|length > 0) or meta.block.isSRD %}
	<p class="statblock-source" title="Source">
		{% if variables.source|default != '' and variables.source|length > 0 %}{{ variables.source }}{% endif %}
		{% if meta.block.isSRD %}SRD{% endif %}
	</p>
	{% endif %}
	<h1 class="valiant-sheet-header">
		{{ variables.name }}
	</h1>
	{% if variables.overview|default != '' %}
	<div class="statblock-stat desc">
	<span>{{ variables.overview}}</span></div>
	{% endif %}
	<hr>
	{% if variables.hit_dice|default != '' %}
	<div class="statblock-stat"><strong>hit dice:</strong>
	<span>{{ variables.hit_dice}}</span></div>
	{% endif %}
	{% if variables.hit_points_at_1st_level|default != '' %}
	<div class="statblock-stat"><strong>hit points at 1st level:</strong>
	<span>{{ variables.hit_points_at_1st_level}}</span></div>
	{% endif %}
	{% if variables.hit_points_at_higher_levels|default != '' %}
	<div class="statblock-stat"><strong>hit points at higher levels:</strong>
	<span>{{ variables.hit_points_at_higher_levels}}</span></div>
	{% endif %}
	{% if variables.armor_proficiencies|default != '' %}
	<div class="statblock-stat"><strong>armor proficiencies:</strong>
	<span>{{ variables.armor_proficiencies}}</span></div>
	{% endif %}
	{% if variables.weapon_proficiencies|default != '' %}
	<div class="statblock-stat"><strong>weapon proficiencies:</strong>
	<span>{{ variables.weapon_proficiencies}}</span></div>
	{% endif %}
	{% if variables.tools|default != '' %}
	<div class="statblock-stat"><strong>tools:</strong>
	<span>{{ variables.tools}}</span></div>
	{% endif %}
	{% if variables.saving_throws|default != '' %}
	<div class="statblock-stat"><strong>saving throws:</strong>
	<span>{{ variables.saving_throws}}</span></div>
	{% endif %}
	{% if variables.skills|default != '' %}
	<div class="statblock-stat"><strong>skills:</strong>
	<span>{{ variables.skills}}</span></div>
	{% endif %}
	{% if variables.starting_equipment|default != '' %}
	<hr>
	<div class="statblock-stat"><strong>starting equipment:</strong><br>
	<span>{{ variables.starting_equipment|nl2br}}</span></div>
	{% endif %}
	{% if variables.spellcasting|default != '' %}
	<hr>
	<div class="statblock-stat"><strong>spellcasting:</strong><br>
	<span>{{ variables.spellcasting}}</span></div>
	{% endif %}
	{% if variables.class_features|default != '' %}
	<hr>
	<div class="statblock-stat"><strong>class features:</strong><br>
	<span>{{ variables.class_features}}</span></div>
	{% endif %}
	{% if variables.subclass_options|default != '' %}
	<hr>
	<div class="statblock-stat"><strong>subclass options:</strong><br>
	<span>{{ variables.subclass_options}}</span></div>
	{% endif %}
	{% if variables.table_data|default != '' %}
	<div class="statblock-stat">
	<br>
	<span>{{ variables.table_data|ParseTable|BBcode}}</span></div>
	{% endif %}
</div>
<div class="bar"></div>