<div class="gold"></div>
<div class="inside-content">
	<div class="statblock-stat"><strong>Name</strong><br>
		<input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the class" type="text" />
	</div>
		<div class="col-12 col-md-12">
			<div class="statblock-stat" title="Short description of the class"><strong>overview</strong><br>
			<span><textarea class="form-control mention" id="overview" name="overview" rows="3">{{ variables.overview is defined ? variables.overview }}</textarea></span></div>
			<hr>
			<div class="statblock-stat" title="The hit die for the class"><strong>hit dice</strong>
			<span><input value="{{ variables.hit_dice is defined ? variables.hit_dice }}" class="form-control" id="hit_dice" name="hit_dice" placeholder="eg 1d6, 1d10" type="text" /></span></div>
			<div class="statblock-stat" title="Hit points at 1st level"><strong>hit points at 1st level</strong>
			<span><input value="{{ variables.hit_points_at_1st_level is defined ? variables.hit_points_at_1st_level }}" class="form-control" id="hit_points_at_1st_level" name="hit_points_at_1st_level" placeholder="eg 6 + your Constitution modifier" type="text" /></span></div>
			<div class="statblock-stat" title="Hit points at higher levels"><strong>hit points at higher levels</strong>
			<span><input value="{{ variables.hit_points_at_higher_levels is defined ? variables.hit_points_at_higher_levels }}" class="form-control" id="hit_points_at_higher_levels" name="hit_points_at_higher_levels" placeholder="eg 1d6 (or 4) + your Constitution modifier per level after 1st" type="text" /></span></div>
			<div class="statblock-stat"><strong>armor proficiencies</strong>
			<span><input value="{{ variables.armor_proficiencies is defined ? variables.armor_proficiencies }}" class="form-control" id="armor_proficiencies" name="armor_proficiencies" placeholder="eg Leather, Chainmail" type="text" /></span></div>
			<div class="statblock-stat"><strong>weapon proficiencies</strong>
			<span><input value="{{ variables.weapon_proficiencies is defined ? variables.weapon_proficiencies }}" class="form-control" id="weapon_proficiencies" name="weapon_proficiencies" placeholder="eg daggers, darts, slings, light crossbows" type="text" /></span></div>
			<div class="statblock-stat"><strong>tools</strong>
			<span><input value="{{ variables.tools is defined ? variables.tools }}" class="form-control" id="tools" name="tools" placeholder="eg first aid kit" type="text" /></span></div>
			<div class="statblock-stat"><strong>saving throws</strong>
			<span><textarea class="form-control" id="saving_throws" name="saving_throws" rows="3" placeholder="eg Constitution, Charisma">{{ variables.saving_throws is defined ? variables.saving_throws }}</textarea></span></div>
			<div class="statblock-stat"><strong>skills</strong>
			<span><textarea class="form-control" id="skills" name="skills" rows="3" placeholder="eg Choose two from Arcana, Deception, Persuation, ...">{{ variables.skills is defined ? variables.skills }}</textarea></span></div>
			<hr>
			<div class="statblock-stat"><strong>starting equipment</strong><br>
			<span><textarea class="form-control mention" id="starting_equipment" name="starting_equipment" rows="3">{{ variables.starting_equipment is defined ? variables.starting_equipment }}</textarea></span></div>
			<hr>
			<div class="statblock-stat" title="All information about spellcasting"><strong>spellcasting</strong><br>
			<span><textarea class="form-control mention" id="spellcasting" name="spellcasting" rows="3">{{ variables.spellcasting is defined ? variables.spellcasting }}</textarea></span></div>
			<hr>
			<div class="statblock-stat" title="eg At level 3 you choose ..., at level 7 ..."><strong>class features</strong><br>
			<span><textarea class="form-control mention" id="class_features" name="class_features" rows="3">{{ variables.class_features is defined ? variables.class_features }}</textarea></span></div>
			<hr>
			<div class="statblock-stat"><strong>subclass options</strong><br>
			<span><textarea class="form-control mention" id="subclass_options" name="subclass_options" rows="3">{{ variables.subclass_options is defined ? variables.subclass_options }}</textarea></span></div>
			<hr>
			<div class="statblock-stat" title="Table describing which features are aquired at which level"><strong>Table describing which features are aquired at which level</strong><br>
<pre>Example:
Level | XP | Abilities
1 | 0 | Favored Enemy, Natural Explorer
2 | 300 | Fighting Style (Archer), Spellcasting
3 | 900 | Ranger Archetype (Windwalker), Primeval Awareness, Archetype: Choose Feat
4 | 2,700 | Ability Score Improvement
5 | 6,500 | Extra Attack
...
</pre>
			<span><textarea class="form-control mention" id="table_data" name="table_data" rows="3">{{ variables.table_data is defined ? variables.table_data }}</textarea></span></div>
    	</div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="source" class="col-sm-2 control-label">
                <h4 class="header-title">Source</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.source is defined ? variables.source }}"  class="form-control mention" id="source" name="source" placeholder="SRD" type="text" />
                <p class="description form-control-description">Where can this be found (SRD, Homebrew, etc.)</p>
            </div>
        </div>
</div>
</div>
<div class="bar"></div>