{% extends 'RPGSRDBundle:Templates:dch/swweg-base.html.twig' %}
{% import 'RPGSRDBundle:Templates:dch/swweg-macros.html.twig' as macros %}

{% block swweg_attribute_skills %}
<div class="row cat-bar pad_btm_1em">
  <div class="col-md-12">
    <div class="row marg_top_1em">
      {% set ascore = macros.attrib_ux(variables.dex,variables.dex_bns) %}
      {{ macros.attrib_section('Dexterity',ascore, (variables.dex_skill|ParseTable|BBcode), (variables.dex_spec|ParseTable|BBcode), (variables.dex_adv|ParseTable|BBcode) ) }}

      {% set ascore = macros.attrib_ux(variables.per,variables.per_bns) %}
      {{ macros.attrib_section('Perception',ascore, (variables.per_skill|ParseTable|BBcode), (variables.per_spec|ParseTable|BBcode), (variables.per_adv|ParseTable|BBcode) ) }}
    </div>
    <div class="row marg_top_1em">
      {% set ascore = macros.attrib_ux(variables.knowl,variables.knowl_bns) %}
      {{ macros.attrib_section('Knowledge',ascore, (variables.knowl_skill|ParseTable|BBcode), (variables.knowl_spec|ParseTable|BBcode), (variables.knowl_adv|ParseTable|BBcode) ) }}

      {% set ascore = macros.attrib_ux(variables.str,variables.str_bns) %}
      {{ macros.attrib_section('Strength',ascore, (variables.str_skill|ParseTable|BBcode), (variables.str_spec|ParseTable|BBcode), (variables.str_adv|ParseTable|BBcode) ) }}
    </div>
    <div class="row marg_top_1em">
      {% set ascore = macros.attrib_ux(variables.mech,variables.mech_bns) %}
      {{ macros.attrib_section('Mechanical',ascore, (variables.mech_skill|ParseTable|BBcode), (variables.mech_spec|ParseTable|BBcode), (variables.mech_adv|ParseTable|BBcode) ) }}

      {% set ascore = macros.attrib_ux(variables.tech,variables.tech_bns) %}
      {{ macros.attrib_section('Technical',ascore, (variables.tech_skill|ParseTable|BBcode), (variables.tech_spec|ParseTable|BBcode), (variables.tech_adv|ParseTable|BBcode) ) }}
    </div>
    <div class="row marg_top_1em">
      <div class="col-md-12">
        {% set ascore = macros.attrib_ux(variables.martial_arts,variables.martial_arts_bns) %}
        {{ macros.skill_power_section('Martial Arts',ascore, 'Maneuvers', (variables.martial_arts_maneuvers|ParseTable|BBcode) ) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block swweg_force_powers %}
  {% if variables.forcesens is defined and variables.forcesens %}
    <div class="row cat-bar pad_btm_1em">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            {{ macros.attrib_w_dcode('Control',( macros.attrib_ux(variables.fs_control,variables.fs_control_bns) ) ) }}
            {{ macros.title_block_w_btm_margin('Control Powers') }}
            {{ macros.flex_skill_list_section( (variables.fs_control_powers|ParseTable|BBcode) ) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ macros.attrib_w_dcode('Sense',( macros.attrib_ux(variables.fs_sense,variables.fs_sense_bns) ) ) }}
            {{ macros.title_block_w_btm_margin('Sense Powers') }}
            {{ macros.flex_skill_list_section( (variables.fs_sense_powers|ParseTable|BBcode) ) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ macros.attrib_w_dcode('Alter',( macros.attrib_ux(variables.fs_alter,variables.fs_alter_bns) ) ) }}
            {{ macros.title_block_w_btm_margin('Alter Powers') }}
            {{ macros.flex_skill_list_section( (variables.fs_alter_powers|ParseTable|BBcode) ) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ macros.attrib_w_dcode('Control / Sense Powers','-1') }}
            {{ macros.flex_skill_list_section( (variables.fs_control_sense_powers|ParseTable|BBcode) ) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ macros.attrib_w_dcode('Control / Alter Powers','-1') }}
            {{ macros.flex_skill_list_section( (variables.fs_control_alter_powers|ParseTable|BBcode) ) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ macros.attrib_w_dcode('Sense / Alter Powers','-1') }}
            {{ macros.flex_skill_list_section( (variables.fs_sense_and_alter_powers|ParseTable|BBcode) ) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ macros.attrib_w_dcode('Control / Sense / Alter Powers','-1') }}
            {{ macros.flex_skill_list_section( (variables.fs_control_sense_alter_powers|ParseTable|BBcode) ) }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block gear_group %}
  <div class="row cat-bar pad_btm_1em">
    {{ macros.gear_sections('Special Abilities', (variables.spec_abil|ParseTable|BBcode) ) }}
  </div>
  <div class="row">
    {{ macros.gear_sections('Equipment', (variables.equipment|ParseTable|BBcode) ) }}
  </div>
{% endblock %}
