{% extends 'RPGSRDBundle:Templates:swweg/swweg-base.html.twig' %}
{% import 'RPGSRDBundle:Templates:swweg/swweg-macros.html.twig' as macros %}

{% block swweg_attribute_skills %}
<div class="row cat-bar pad_btm_1em">
  <div class="col-md-12">

    {% set atr_segments = ['Dexterity|dex', 'Perception|per', 'Knowledge|knowl', 'Strength|str', 'Mechanical|mech', 'Technical|tech'] %}

    {% for row in atr_segments|batch(2, '') %}
    <div class="row marg_top_1em">
            {% for atr_item in row %}
              {% set chunks = atr_item|split('|') %}
              {% set title_text = chunks[0] %}
              {% set obj_prefix = chunks[1] %}

              {% set ascore = macros.attrib_ux(variables[obj_prefix],variables[obj_prefix ~ '_bns']) %}
              {{ macros.attrib_section(title_text,ascore, (variables[obj_prefix ~ '_skill']|ParseTable|BBcode), (variables[obj_prefix ~ '_spec']|ParseTable|BBcode), (variables[obj_prefix ~ '_adv']|ParseTable|BBcode) ) }}

            {% endfor %}
    </div>
    {% endfor %}

    {% if variables.martial_arts is defined and variables.martial_arts != '' %}
    <div class="row marg_top_1em">
      <div class="col-md-12">
        {% set ascore = macros.attrib_ux(variables.martial_arts,variables.martial_arts_bns) %}
        {{ macros.skill_power_section('Martial Arts',ascore, 'Maneuvers', (variables.martial_arts_maneuvers|ParseTable|BBcode) ) }}
      </div>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}

{% block swweg_force_powers %}
  {% if variables.forcesens is defined and variables.forcesens %}
    <div class="row cat-bar pad_btm_1em">
      <div class="col-md-12">

        {% set atr_segments = ['Control|fs_control', 'Sense|fs_sense', 'Alter|fs_alter'] %}

        {% for atr_item in atr_segments %}
          {% set chunks = atr_item|split('|') %}
          {% set title_text = chunks[0] %}
          {% set obj_prefix = chunks[1] %}

          {% if variables[obj_prefix] is defined and variables[obj_prefix] != '' %}
          <div class="row">
            <div class="col-md-12">
              {{ macros.attrib_w_dcode(title_text,( macros.attrib_ux(variables[obj_prefix],variables[obj_prefix ~ '_bns']) ) ) }}
              {{ macros.title_block_w_btm_margin(title_text ~ ' Powers') }}
              {{ macros.flex_skill_list_section( (variables[obj_prefix ~ '_powers']|ParseTable|BBcode) ) }}
            </div>
          </div>
          {% endif %}

        {% endfor %}

        {% set atr_segments = ['Control / Sense Powers|fs_control_sense_powers', 'Control / Alter Powers|fs_control_alter_powers', 'Sense / Alter Powers|fs_sense_and_alter_powers', 'Control / Sense / Alter Powers|fs_control_sense_alter_powers'] %}

        {% for atr_item in atr_segments %}
          {% set chunks = atr_item|split('|') %}
          {% set title_text = chunks[0] %}
          {% set obj_prefix = chunks[1] %}

          {% if variables[obj_prefix] is defined and variables[obj_prefix] != '' %}
          <div class="row">
            <div class="col-md-12">
              {{ macros.attrib_w_dcode(title_text,'-1') }}
              {{ macros.flex_skill_list_section( (variables[obj_prefix]|ParseTable|BBcode) ) }}
            </div>
          </div>
          {% endif %}

        {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block gear_group %}
  <div class="row cat-bar pad_btm_1em">
    {{ macros.gear_sections('Special Abilities', (variables.spec_abil|ParseTable|BBcode) ) }}
  </div>
  <div class="row">
    {{ macros.gear_sections('Equipment', (variables.equipment|ParseTable|BBcode) ) }}
  </div>
{% endblock %}
