{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
  <div class="swweg_page">
    <div class="swweg-container-fluid">
    	<div class="row cat-bar pad_btm_1em">
    		<div class="col-md-12">
    			<div class="row">
    				<div class="col-md-6 char_name">
              {{ variables.name }}
    				</div>
    				<div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
        					<div class="flex-base flex-row">
                    {{ macros.quik_stat(variables.cpts,'Character Points') }}
                    {{ macros.quik_stat(variables.forcepts,'Force Points') }}
                    {{ macros.quik_stat(variables.dspts,'Dark Side Points') }}
                    {{ macros.quik_stat(variables.move,'Move') }}
                    {{ macros.quik_stat(variables.funds,'Funds') }}

                    {% set fsens = 'N' %}
                    {% if variables.forcesens is defined and variables.forcesens %}
                      {% set fsens = 'Y' %}
                    {% endif %}

                    {{ macros.quik_stat(fsens,'Force Sensitive') }}
        					</div>
                </div>
              </div>
    				</div>
    			</div>
    		</div>
    	</div>
      {% block swweg_attribute_skills %}{% endblock %}

      {% block swweg_force_powers %}{% endblock %}

      {% block gear_group %}{% endblock %}

    </div>
  </div>
{% endblock %}
