{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
  <div class="swweg_page">
    <div class="swweg-container-fluid">
    	<div class="row cat-bar pad_btm_1em">
    		<div class="col-md-12">
    			<div class="row">
    				<div class="col-md-6 char_name">
              {{ variables.name }}
    				</div>
    				<div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
        					<div class="flex-base flex-row">
                    {{ macros.quik_stat(variables.cpts,'Character Points') }}
                    {{ macros.quik_stat(variables.forcepts,'Force Points') }}
                    {{ macros.quik_stat(variables.dspts,'Dark Side Points') }}
                    {{ macros.quik_stat(variables.move,'Move') }}
                    {{ macros.quik_stat(variables.funds,'Funds') }}

                    {% set fsens = 'N' %}
                    {% if variables.forcesens is defined and variables.forcesens %}
                      {% set fsens = 'Y' %}
                    {% endif %}

                    {{ macros.quik_stat(fsens,'Force Sensitive') }}
        					</div>
                </div>
              </div>
    				</div>
    			</div>
    		</div>
    	</div>
      <div class="row cat-bar pad_btm_1em">
    		<div class="col-md-12">
    			<div class="row marg_top_1em">
    				<div class="col-md-6">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Dexterity</div>
                <div>{{ macros.attrib_ux(variables.dex,variables.dex_bns) }}</div>
              </div>
              <div class="flex-base flex-row flex-nowrap skill_list">
                {{ variables.dex_skill|ParseTable|BBcode }}
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Specializations</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.dex_spec|ParseTable|BBcode }}
                </div>
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Advanced Skills</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.dex_adv|ParseTable|BBcode }}
                </div>
              </div>
    				</div>
    				<div class="col-md-6">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Perception</div>
                <div>{{ macros.attrib_ux(variables.per,variables.per_bns) }}</div>
              </div>
              <div class="flex-base flex-row skill_list">
                {{ variables.per_skill|ParseTable|BBcode }}
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Specializations</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.per_spec|ParseTable|BBcode }}
                </div>
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Advanced Skills</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.per_adv|ParseTable|BBcode }}
                </div>
              </div>
    				</div>
    			</div>
          <div class="row marg_top_1em">
    				<div class="col-md-6">
              <div class="flex-base flex-row attribs">
                <div class="marg_right_1em">Knowledge</div>
                <div>{{ macros.attrib_ux(variables.knowl,variables.knowl_bns) }}</div>
              </div>
              <div class="flex-base flex-row flex-nowrap skill_list">
                {{ variables.knowl_skill|ParseTable|BBcode }}
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Specializations</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.knowl_spec|ParseTable|BBcode }}
                </div>
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Advanced Skills</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.knowl_adv|ParseTable|BBcode }}
                </div>
              </div>
    				</div>
    				<div class="col-md-6">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Strength</div>
                <div>{{ macros.attrib_ux(variables.str,variables.str_bns) }}</div>
              </div>
              <div class="flex-base flex-row skill_list">
                {{ variables.str_skill|ParseTable|BBcode }}
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Specializations</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.str_spec|ParseTable|BBcode }}
                </div>
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Advanced Skills</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.str_adv|ParseTable|BBcode }}
                </div>
              </div>
    				</div>
    			</div>
          <div class="row marg_top_1em">
    				<div class="col-md-6">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Mechanical</div>
                <div>{{ macros.attrib_ux(variables.mech,variables.mech_bns) }}</div>
              </div>
              <div class="flex-base flex-row flex-nowrap skill_list">
                {{ variables.mech_skill|ParseTable|BBcode }}
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Specializations</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.mech_spec|ParseTable|BBcode }}
                </div>
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Advanced Skills</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.mech_adv|ParseTable|BBcode }}
                </div>
              </div>
    				</div>
    				<div class="col-md-6">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Technical</div>
                <div>{{ macros.attrib_ux(variables.tech,variables.tech_bns) }}</div>
              </div>
              <div class="flex-base flex-row skill_list">
                {{ variables.tech_skill|ParseTable|BBcode }}
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Specializations</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.tech_spec|ParseTable|BBcode }}
                </div>
              </div>
              <div class="row marg_top_p5em marg_btm_p5em">
                <div class="col-md-12">Advanced Skills</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.tech_adv|ParseTable|BBcode }}
                </div>
              </div>
    				</div>
    			</div>
    			<div class="row marg_top_1em">
    				<div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="flex-base flex-row flex-nowrap attribs">
                    <div class="marg_right_1em">Martial Arts</div>
                    <div>{{ macros.attrib_ux(variables.martial_arts,variables.martial_arts_bns) }}</div>
                  </div>
                </div>
              </div>
              <div class="row marg_btm_p5em">
                <div class="col-md-12">Maneuvers</div>
              </div>
              <div class="row skill_list">
                <div class="col-md-12">
                  {{ variables.martial_arts_maneuvers|ParseTable|BBcode }}
                </div>
              </div>
    				</div>
    			</div>
    		</div>
    	</div>

      {% if variables.forcesens is defined and variables.forcesens %}

      <div class="row cat-bar pad_btm_1em">
    		<div class="col-md-12">
          <div class="row">
    				<div class="col-md-12">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Control</div>
                <div>{{ macros.attrib_ux(variables.fs_control,variables.fs_control_bns) }}</div>
              </div>
              <div class="flex-base flex-row flex-nowrap marg_btm_p5em">
                <div>Control Powers</div>
              </div>
              <div class="flex-base flex-row skill_list">
                {{ variables.fs_control_powers|ParseTable|BBcode }}
              </div>
    				</div>
    			</div>
          <div class="row">
    				<div class="col-md-12">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Sense</div>
                <div>{{ macros.attrib_ux(variables.fs_sense,variables.fs_sense_bns) }}</div>
              </div>
              <div class="flex-base flex-row flex-nowrap marg_btm_p5em">
                <div>Sense Powers</div>
              </div>
              <div class="flex-base flex-row skill_list">
                {{ variables.fs_sense_powers|ParseTable|BBcode }}
              </div>
    				</div>
    			</div>
          <div class="row">
            <div class="col-md-12">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Alter</div>
                <div>{{ macros.attrib_ux(variables.fs_alter,variables.fs_alter_bns) }}</div>
              </div>
              <div class="flex-base flex-row flex-nowrap marg_btm_p5em">
                <div>Alter Powers</div>
              </div>
              <div class="flex-base flex-row flex-nowrap skill_list">
                {{ variables.fs_alter_powers|ParseTable|BBcode }}
              </div>
            </div>
          </div>
          <div class="row">
    				<div class="col-md-12">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Control / Sense Powers</div>
              </div>
              <div class="flex-base flex-row skill_list">
                {{ variables.fs_control_sense_powers|ParseTable|BBcode }}
              </div>
    				</div>
    			</div>
          <div class="row">
    				<div class="col-md-12">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Control / Alter Powers</div>
              </div>
              <div class="flex-base flex-row skill_list">
                {{ variables.fs_control_alter_powers|ParseTable|BBcode }}
              </div>
    				</div>
    			</div>
          <div class="row">
    				<div class="col-md-12">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Sense / Alter Powers</div>
              </div>
              <div class="flex-base flex-row skill_list">
                {{ variables.fs_sense_and_alter_powers|ParseTable|BBcode }}
              </div>
    				</div>
    			</div>
          <div class="row">
    				<div class="col-md-12">
              <div class="flex-base flex-row flex-nowrap attribs">
                <div class="marg_right_1em">Control / Sense / Alter Powers</div>
              </div>
              <div class="flex-base flex-row skill_list">
                {{ variables.fs_control_sense_alter_powers|ParseTable|BBcode }}
              </div>
    				</div>
    			</div>
    		</div>
    	</div>

      {% endif %}

    	<div class="row cat-bar pad_btm_1em">
    		<div class="col-md-12">
          <div class="flex-base flex-row flex-nowrap attribs">
            <div>Special Abilities</div>
          </div>
          <div class="flex-base flex-row skill_list">
            {{ variables.spec_abil|ParseTable|BBcode }}
          </div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
          <div class="flex-base flex-row attribs">
            <div>Equipment</div>
          </div>
          <div class="flex-base flex-row skill_list">
            {{ variables.equipment|ParseTable|BBcode }}
          </div>
    		</div>
    	</div>
    </div>
  </div>

    {% block dch_attributes %}{% endblock %}

    {% block dch_powers %}{% endblock %}

    {% block dch_bal %}{% endblock %}

    {% block dch_skills %}{% endblock %}

    {% block dch_ads %}{% endblock %}

    {% block dch_drawbacks %}{% endblock %}

    {% block dch_detail %}{% endblock %}

    {% block dch_attrib_benchmarks %}{% endblock %}
  </div>
{% endblock %}
