{% macro attrib_ux(dcode, pips) %}
  {{ dcode }}D
  {% if pips is defined %}
    +{{pips}}
  {%endif%}
{% endmacro %}

{% macro quik_stat(qval, title) %}
<div class="quik_stat">
  <div class="flex-base flex-col flex-nowrap pts_group">
    <div id="force_points" class="pts_circle flex-base flex-col flex-nowrap justify-sp-around flex-align-content-center flex-align-items-cntr">
      {{ qval }}
    </div>
    <div class="marg_top_1em">
      {{ title }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro skill_list_section(slist) %}
  <div class="row skill_list">
    <div class="col-md-12">
      {{ slist }}
    </div>
  </div>
{% endmacro %}

{% macro flex_skill_list_section(slist) %}
  <div class="flex-base flex-row flex-nowrap skill_list">
    {{ slist }}
  </div>
{% endmacro %}

{% macro attrib_w_dcode(sname,spts) %}
<div class="flex-base flex-row flex-nowrap attribs">
  <div class="marg_right_1em">{{ sname }}</div>

  {% if spts != '-1' %}
  <div>{{ spts }}</div>
  {% endif %}
</div>
{% endmacro %}

{% macro title_block_w_btm_margin(title) %}
<div class="flex-base flex-row marg_btm_p5em">
  <div>{{ title }}</div>
</div>
{% endmacro %}

{% macro subskill_title(title) %}
<div class="row marg_top_p5em marg_btm_p5em">
  <div class="col-md-12">{{title}}</div>
</div>
{% endmacro %}

{% macro skill_power_section(skill_name,skill_pts,power_title,power_list) %}
  {% import _self as innermacro %}
  <div class="row">
    <div class="col-md-12">
      {{ innermacro.attrib_w_dcode(skill_name,skill_pts) }}
    </div>
  </div>
  <div class="row marg_btm_p5em">
    <div class="col-md-12">{{ power_title }}</div>
  </div>
  {{ innermacro.skill_list_section(power_list) }}
{% endmacro %}

{% macro attrib_section(atr_name,atr_score,skill,spec,advance) %}
  {% import _self as innermacro %}
  <div class="col-md-6">
    {{ innermacro.attrib_w_dcode(atr_name,atr_score) }}
    {{ innermacro.flex_skill_list_section(skill) }}
    {{ innermacro.subskill_title('Specializations') }}
    {{ innermacro.skill_list_section(spec) }}
    {{ innermacro.subskill_title('Advanced Skills') }}
    {{ innermacro.skill_list_section(advance) }}
  </div>
{% endmacro %}

{% macro gear_sections(title,slist) %}
  {% import _self as innermacro %}
    <div class="col-md-12">
      <div class="flex-base flex-row attribs">
        <div>{{ title }}</div>
      </div>
      <div class="flex-base flex-row skill_list">
        {{ slist }}
      </div>
    </div>
{% endmacro %}
