{% set style = '' %}{% if variables.vintage|default > 0 %}{% set style='-vintage' %}{% endif %}
<div class='container-fluid dnd5e-2024{{style}}'>
    <div class='row'>
        <div class='col-12'>
            <div class='ilbl od ilbl-name'><label for='name'>Name</label></div><div class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' required='required' name='name' type='text' /></div>
            <div class='ilbl ev ilbl-description'><label for='description'>Description</label></div><div class='ivar ev ivar-description'><div class='iContent'><textarea class='form-control ivar ivar-description mention' id='description' name='description' rows='3'  >{{variables.description|default}}</textarea></div></div>
            <div class='ilbl od ilbl-creaturetype'><label for='creaturetype'>Creature Type</label></div><div class='ivar od ivar-creaturetype'><input value='{{variables.creaturetype|default}}' class='form-control ivar ivar-creaturetype' id='creaturetype' name='creaturetype' type='text' placeholder='eg. Humanoid'/></div>
            <div class='ilbl od ilbl-size'><label for='size'>Size</label></div><div class='ivar od ivar-size'><input value='{{variables.size|default}}' class='form-control ivar ivar-size' id='size' name='size' type='text' placeholder='eg. MEDIUM (3-4 ft)' /></div>
            <div class='ilbl od ilbl-speed'><label for='speed'>Speed</label></div><div class='ivar od ivar-speed'><input value='{{variables.speed|default}}' class='form-control ivar ivar-speed' id='speed' name='speed' type='text' /></div>
            <div class='ilbl ev ilbl-traits'><label for='traits'>You have the following special traits.</label></div><div class='ivar ev ivar-traits'><div class='iContent'><textarea class='form-control ivar ivar-traits mention' id='traits' name='traits' rows='3'  >{{variables.traits|default}}</textarea></div></div>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="imageid" class="control-label"><h4 class="header-title">Illustrating image (WA Image Gallery ID)</h4></label>
                <input value="{{ variables.imageid|default }}" class="form-control" id="imageid" name="imageid" placeholder="123" type="number" />
                <p class="description form-control-description">paste here the WA image ID</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <label for="source" class="control-label"><h4 class="header-title">Source</h4></label>
                <input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
        </div>
        <div class="col-12">
            <div class="statblock-stat-form">
                <input value='0' id='vintage' name='vintage' type='hidden' />
                <input value='1' class='c' {% if variables.vintage|default > 0 %} checked='checked'{% endif %} id='vintage' name='vintage' type='checkbox' /> <label for='vintage'>Vintage Style instead of Modern Style</label>
            </div>
        </div>
    </div>
</div>