{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

{% macro initiative(dex,int,infl,ads,skills) %}
  {% import _self as macros %}

  {% set init = dex + int + infl %}

  {% if ads matches '/lightning/i' %}
    {% set init = init + 2 %}
  {% endif %}

  {% if skills matches '/martial/i' %}
    {% set init = init + 2 %}
  {% endif %}

  {{ init }}
{% endmacro %}

{% import _self as macros %}

<div class="page">

  <div class="row stripe_hightlight mb-2em">
  	<div class="col-md-12">
  		<h1 class="hero_title">{{ variables.name }}</h1>
  	</div>
  </div>
  <div class="container-fluid mb-2em">

    <div class="row">
  		<div class="col-md-6 fr-attrib">

      	<div class="row">
      		<div class="col-md-4">
      			<div class="row">
      				<div class="col-md-6 attr_title">DEX</div>
      				<div class="col-md-6">{{ variables.dex }}</div>
      			</div>
      		</div>
      		<div class="col-md-4">
      			<div class="row">
      				<div class="col-md-6 attr_title">STR</div>
      				<div class="col-md-6">{{ variables.str }}</div>
      			</div>
      		</div>
      		<div class="col-md-4">
      			<div class="row">
      				<div class="col-md-6 attr_title">BODY</div>
      				<div class="col-md-6">{{ variables.body }}</div>
      			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-md-4">
      			<div class="row">
      				<div class="col-md-6 attr_title">INT</div>
      				<div class="col-md-6">{{ variables.int }}</div>
      			</div>
      		</div>
      		<div class="col-md-4">
      			<div class="row">
      				<div class="col-md-6 attr_title">WILL</div>
      				<div class="col-md-6">{{ variables.will }}</div>
      			</div>
      		</div>
      		<div class="col-md-4">
      			<div class="row">
      				<div class="col-md-6 attr_title">MIND</div>
      				<div class="col-md-6">{{ variables.mind }}</div>
      			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-md-4">
      			<div class="row">
      				<div class="col-md-6 attr_title">INFL</div>
      				<div class="col-md-6">{{ variables.infl }}</div>
      			</div>
      		</div>
      		<div class="col-md-4">
      			<div class="row">
      				<div class="col-md-6 attr_title">AURA</div>
      				<div class="col-md-6">{{ variables.aura }}</div>
      			</div>
      		</div>
      		<div class="col-md-4">
      			<div class="row">
      				<div class="col-md-6 attr_title">SPIRIT</div>
      				<div class="col-md-6">{{ variables.spirit }}</div>
      			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-md-6">
      			<div class="row">
      				<div class="col-md-6 attr_title">INITIATIVE</div>
      				<div class="col-md-6">{{ macros.initiative( variables.dex, variables.int, variables.infl, variables.ads, variables.skills ) }}</div>
      			</div>
      		</div>
      		<div class="col-md-6">
      			<div class="row">
      				<div class="col-md-6 attr_title">HERO POINTS</div>
      				<div class="col-md-6">{{ variables.hpts }}</div>
      			</div>
      		</div>
      	</div>

      </div>
    </div>
    <div class="row">
  		<div class="col-md-6">
      </div>
    </div>

  </div>

  <div class="row stripe_hightlight mb-1em cat-bar">
  	<div class="col-md-4">
  		<h4 class="categories">POWERS</h4>
  	</div>
  </div>
  <div class="row mb-1em">
    <div class="col-md-4 cat_val">
      {{ variables.powers }}
    </div>
  </div>

  <div class="row stripe_hightlight mb-1em cat-bar">
  	<div class="col-md-4">
  		<h4 class="categories">SKILLS <span class="fnote">(* linked)</span></h4>
  	</div>
  </div>
  <div class="row mb-1em">
    <div class="col-md-4 cat_val">
      {{ variables.skills }}
    </div>
  </div>

  <div class="row stripe_hightlight mb-1em cat-bar">
    <div class="col-md-4">
      <h4 class="categories">ADVANTAGES</h4>
    </div>
  </div>
  <div class="row mb-1em">
    <div class="col-md-4 cat_val">
      {{ variables.ads }}
    </div>
  </div>

  <div class="row stripe_hightlight mb-1em cat-bar">
    <div class="col-md-4">
      <h4 class="categories">DRAWBACKS</h4>
    </div>
  </div>
  <div class="row mb-1em">
    <div class="col-md-4 cat_val">
      {{ variables.drawbacks }}
    </div>
  </div>

  <div class="row stripe_hightlight mb-1em cat-bar">
    <div class="col-md-4">
      <h4 class="categories">OCCUPATION</h4>
    </div>
  </div>
  <div class="row mb-1em">
    <div class="col-md-4 cat_val">
      {{ variables.occupation }}
    </div>
  </div>

  <div class="row stripe_hightlight mb-1em cat-bar">
    <div class="col-md-4">
      <h4 class="categories">WEALTH</h4>
    </div>
  </div>
  <div class="row mb-1em">
    <div class="col-md-4 cat_val">
      {{ variables.wealth }}
    </div>
  </div>

  <div class="row stripe_hightlight mb-1em cat-bar">
    <div class="col-md-4">
      <h4 class="categories">EQUIPMENT</h4>
    </div>
  </div>
  <div class="row mb-1em">
    <div class="col-md-4 cat_val">
      {{ variables.equip }}
    </div>
  </div>

  <div class="row stripe_hightlight mb-1em cat-bar">
    <div class="col-md-4">
      <h4 class="categories">SUBPLOTS</h4>
    </div>
  </div>
  <div class="row mb-1em">
    <div class="col-md-4 cat_val">
      {{ variables.subplots }}
    </div>
  </div>


</div>

{% endblock %}
