{% extends 'RPGSRDBundle:Templates:dch/dch-base.html.twig' %}
{% import 'RPGSRDBundle:Templates:dch/dch-macros.html.twig' as macros %}
{% block dch_attributes %}
<div class="dch_container-fluid mb-2em">
  <div class="row">
    <div class="col-md-6 fr-attrib">
      <div class="row">
        {{ macros.attrib_ux(variables.dex,'DEX') }}
        {{ macros.attrib_ux(variables.str,'STR') }}
        {{ macros.attrib_ux(variables.body,'BODY') }}
      </div>
      <div class="row">
        {{ macros.attrib_ux(variables.int,'INT') }}
        {{ macros.attrib_ux(variables.will,'WILL') }}
        {{ macros.attrib_ux(variables.mind,'MIND') }}
      </div>
      <div class="row">
        {{ macros.attrib_ux(variables.infl,'INFL') }}
        {{ macros.attrib_ux(variables.aura,'AURA') }}
        {{ macros.attrib_ux(variables.spirit,'SPIRIT') }}
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 attr_title">INITIATIVE</div>
            <div class="col-md-6">{{ macros.initiative( variables.dex, variables.int, variables.infl, variables.ads, variables.skills ) }}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 attr_title">HERO POINTS</div>
            <div class="col-md-6">{{ variables.htps }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
</div>
{% endblock %}

{% block dch_powers %}
  {% if variables.powers %}
    {{ macros.attrib_blk_stat(variables.powers,'POWERS') }}
  {% endif %}
{% endblock %}

{% block dch_bal %}
  {% if variables.bnsandlim %}
    {{ macros.attrib_blk_stat(variables.bnsandlim,'BONUSES AND LIMITATIONS') }}
  {% endif %}
{% endblock %}

{% block dch_skills %}
  {% if variables.skills %}
    {{ macros.attrib_blk_stat(variables.skills,'SKILLS') }}
  {% endif %}
{% endblock %}

{% block dch_ads %}
  {% if variables.ads %}
    {{ macros.attrib_blk_stat(variables.ads,'ADVANTAGES') }}
  {% endif %}
{% endblock %}

{% block dch_drawbacks %}
  {% if variables.drawbacks %}
    {{ macros.attrib_blk_stat(variables.drawbacks,'DRAWBACKS') }}
  {% endif %}
{% endblock %}

{% block dch_detail %}
  {{ macros.attrib_blk_stat(variables.occupation,'OCCUPATION') }}
  {{ macros.attrib_blk_stat(variables.wealth ~ ' ' ~ macros.annwealth(variables.wealth),'WEALTH') }}
  {{ macros.attrib_blk_stat(variables.equip,'EQUIPMENT') }}
  {{ macros.attrib_blk_stat(variables.subplots,'SUBPLOTS') }}
{% endblock %}

{% block dch_attrib_benchmarks %}
  {{ macros.stripe_it('ATTRIBUTE BREAKDOWN') }}
  <div class="dch_container-fluid">
    {{ macros.benchmrk_ux('Benchmark <span class="attr_bench">(based on current attributes above)</span>','Attribute') }}
    {{ macros.benchmrk_ux(macros.bmark( variables.dex, 'dex'),'DEX (Dexterity)') }}
    {{ macros.benchmrk_ux(macros.bmark( variables.str, 'str'),'STR (Strength)') }}
    {{ macros.benchmrk_ux(macros.bmark( variables.body, 'body'),'BODY (Body)') }}
    {{ macros.benchmrk_ux(macros.bmark( variables.int, 'int'),'INT (Intelligence)') }}
    {{ macros.benchmrk_ux(macros.bmark( variables.will, 'will'),'WILL (Willpower)') }}
    {{ macros.benchmrk_ux(macros.bmark( variables.mind, 'mind'),'MIND (Mind)') }}
    {{ macros.benchmrk_ux(macros.bmark( variables.infl, 'infl'),'INFL (Influence)') }}
    {{ macros.benchmrk_ux(macros.bmark( variables.aura, 'aura'),'AURA (Aura)') }}
    {{ macros.benchmrk_ux(macros.bmark( variables.spirit, 'spirit'),'SPIRIT (Spirit)') }}
  </div>
{% endblock %}
