{% macro attrib_ux(atrib, atr_title) %}
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6 attr_title">{{atr_title}}</div>
      <div class="col-md-6">{{ atrib }}</div>
    </div>
  </div>
{% endmacro %}

{% macro benchmrk_ux(atr_val, atr_title) %}
  <div class="row mb-1em">
    <div class="col-md-3">{{ atr_title }}</div>
    <div class="col-md-9">{{ atr_val }}</div>
  </div>
{% endmacro %}

{% macro stripe_it(guts) %}
  <div class="row stripe_hightlight mb-1em cat-bar">
    <div class="col-md-4">

      <h4 class="dch_categories">{{guts}}
        {% if (guts matches '/powers/i' ) or (guts matches '/skills/i') %}
        <span class="fnote">(* linked)</span>
        {% endif %}
      </h4>
    </div>
  </div>
{% endmacro %}

{% macro attrib_blk_stat(atrib, atr_title) %}
  {% import _self as _this %}

  {{ _this.stripe_it(atr_title) }}
  <div class="row mb-1em">
    <div class="col-md-4 cat_val">
      {{ atrib }}
    </div>
  </div>
{% endmacro %}

{% macro initiative(dex,int,infl,ads,skills) %}
  {% set init = dex + int + infl %}

  {% if ads matches '/lightning/i' %}
    {% set init = init + 2 %}
  {% endif %}

  {% if skills matches '/martial/i' %}
    {% set init = init + 2 %}
  {% endif %}

  {{ init }}
{% endmacro %}

{% macro annwealth(wealth) %}
  {% if ( wealth == 0 ) %}
    ( Appox Annual Income : $1250)
  {% endif %}
  {% if ( wealth == 1 ) %}
    ( Appox Annual Income : $2500)
  {% endif %}
  {% if ( wealth == 2 ) %}
    ( Appox Annual Income : $5000)
  {% endif %}
  {% if ( wealth == 3 ) %}
    ( Appox Annual Income : $10,000)
  {% endif %}
  {% if ( wealth == 4 ) %}
    ( Appox Annual Income : $20,000)
  {% endif %}
  {% if ( wealth == 5 ) %}
    ( Appox Annual Income : $40,000)
  {% endif %}
  {% if ( wealth == 6 ) %}
    ( Appox Annual Income : $80,000)
  {% endif %}
  {% if ( wealth == 7 ) %}
    ( Appox Annual Income : $150,000)
  {% endif %}
  {% if ( wealth == 8 ) %}
    ( Appox Annual Income : $300,000)
  {% endif %}
  {% if ( wealth == 9 ) %}
    ( Appox Annual Income : $500,000)
  {% endif %}
  {% if ( wealth == 10 ) %}
    ( Appox Annual Income : $1,000,000)
  {% endif %}
  {% if ( wealth == 11 ) %}
    ( Appox Annual Income : $2,000,000)
  {% endif %}
  {% if ( wealth == 12 ) %}
    ( Appox Annual Income : $4,000,000)
  {% endif %}
  {% if ( wealth == 13 ) %}
    ( Appox Annual Income : $8,000,000)
  {% endif %}
  {% if ( wealth == 14 ) %}
    ( Appox Annual Income : $15,000,000)
  {% endif %}
  {% if ( wealth == 15 ) %}
    ( Appox Annual Income : $30,000,000)
  {% endif %}
  {% if ( wealth == 16 ) %}
    ( Appox Annual Income : $50,000,000)
  {% endif %}
  {% if ( wealth == 17 ) %}
    ( Appox Annual Income : $100,000,000)
  {% endif %}
  {% if ( wealth == 18 ) %}
    ( Appox Annual Income : $200,000,000)
  {% endif %}
  {% if ( wealth == 19 ) %}
    ( Appox Annual Income : $400,000,000)
  {% endif %}
  {% if ( wealth == 20 ) %}
    ( Appox Annual Income : $800,000,000)
  {% endif %}
  {% if ( wealth == 21 ) %}
    ( Appox Annual Income : $1,500,000,000)
  {% endif %}
  {% if ( wealth == 22 ) %}
    ( Appox Annual Income : $3,000,000,000)
  {% endif %}
  {% if ( wealth == 23 ) %}
    ( Appox Annual Income : $6,000,000,000)
  {% else %}
    ( Appox Annual Income : $12,000,000,000)
  {% endif %}
{% endmacro %}

{% macro bmark(AP, which) %}
  {% if ( AP == 1 ) or ( AP == 2 ) %}
    {% if which == 'dex' %}
      The person has normal agility and can perform activities associated with daily living.
    {% endif %}
    {% if which == 'str' %}
      A normal human that can lift 200lbs over their head.
    {% endif %}
    {% if which == 'body' %}
      A normal human who is susceptible to normal amounts of pain.
    {% endif %}
    {% if which == 'int' %}
      This person has the problem-solving abilities of the average high school graduate.
    {% endif %}
    {% if which == 'will' %}
      The individual possesses the will to face a new morning and confront the obstacles of a normal life.
    {% endif %}
    {% if which == 'mind' %}
      This person can endure the normal stress of daily existance.
    {% endif %}
    {% if which == 'infl' %}
      The individual recieves the normal attention accorded any living creature.
    {% endif %}
    {% if which == 'aura' %}
      At this level an individual can leave a basic impression on someone.
    {% endif %}
    {% if which == 'spirit' %}
      The individual can withstand average life experiences with two or three major crises.
    {% endif %}
  {% endif %}

  {% if ( AP == 3 ) or ( AP == 4 ) %}
    {% if which == 'dex' %}
      The individual has agility equivalent to one who practices athletic abilities beyond what is required for daily living. Example: police officers, fire fighters, dancers, etc.
    {% endif %}
    {% if which == 'str' %}
      The individual has exceptional human strength. Lifting range: 400-800 pounds.
    {% endif %}
    {% if which == 'body' %}
      The individual is conditioned to withstand moderate damage without great pain. They may withstand blunt attacks as a prizefighter or a martial artist.
    {% endif %}
    {% if which == 'int' %}
      This individual is the equivalent of a particularly bright high school student.
    {% endif %}
    {% if which == 'will' %}
      The person has a focused will and can summon the courage to save victims from hazardous situations such burning buildings. They might naively risk his life for stories or glory.
    {% endif %}
    {% if which == 'mind' %}
      This person's mind is conditioned to withstand stressful conditions similar to those faced by police officers, firemen and doctors.
    {% endif %}
    {% if which == 'infl' %}
      This person has the ability to hold and draw the attention of a small audience.
    {% endif %}
    {% if which == 'aura' %}
      This individual possesses an aura equivalent to a very amiable person, such as an actor or a priest.
    {% endif %}
    {% if which == 'spirit' %}
      The person's Spirit is equivalent to that of an individual who can weather an assault on his or her core beliefs.
    {% endif %}
  {% endif %}

  {% if ( AP == 5 ) or ( AP == 6 ) %}
    {% if which == 'dex' %}
      The person possesses agility equivalent to individuals well honed in atheletic prowess. Examples: gymnasts, stunt men or women, circus aerialists.
    {% endif %}
    {% if which == 'str' %}
      This is the level of maximum human strength. Lifting range: 900 - 1600 pounds
    {% endif %}
    {% if which == 'body' %}
      The individual can withstand the greatest amount of physical damage humanly possible. They possess an exceptional resistance to fatigue.
    {% endif %}
    {% if which == 'int' %}
      The individual has the ability to process information on the level of an industrious college student.
    {% endif %}
    {% if which == 'will' %}
      This individual has exceptional self-discipline and can remain calm and rational during a crisis.
    {% endif %}
    {% if which == 'mind' %}
      This person's mind is equipped to deal with great stress as a part of daily life. Undercover agents, leaders of nations and most heroes are in this category.
    {% endif %}
    {% if which == 'infl' %}
      This individual can hold and draw the attention of a large audience.
    {% endif %}
    {% if which == 'aura' %}
      This person has a presence strong enough to change the emotional state of an auditorium-sized crowd from a dead calm to electrified frenzy.
    {% endif %}
    {% if which == 'spirit' %}
      This person is so secure in his or her beliefs that he or she is willing to die for them.
    {% endif %}
  {% endif %}

  {% if ( AP == 7 ) or ( AP == 8 ) %}
    {% if which == 'dex' %}
      The individual is agile enough to be a medal winning Olympian gymnast.
    {% endif %}
    {% if which == 'str' %}
      The individual has superhuman strength, enough to bend a steel crowbar. Lifting range: 3 - 6 tons
    {% endif %}
    {% if which == 'body' %}
      The individual can endure attacks from street level weaponry such as knives, chains, bats and small caliber guns. Their body has the density of a brick wall.
    {% endif %}
    {% if which == 'int' %}
      This person's intellectual capacity rivals a professional who is one of ten authorities in a field of study or a born genius.
    {% endif %}
    {% if which == 'will' %}
      This individual possesses the resolve to conquer any human fear or rational threat, save death.
    {% endif %}
    {% if which == 'mind' %}
      This person has the mental fortitude to continue normal activities even in persistently painful or stressful situations, such as those experienced by hardened soldiers.
    {% endif %}
    {% if which == 'infl' %}
      This person is so unique as to be highly regarded by several people across a nation or a state.
    {% endif %}
    {% if which == 'aura' %}
      This individual has a mystique capable of affecting the opinions of people across a nation. This person could gain loyalty and respect upon appearance.
    {% endif %}
    {% if which == 'spirit' %}
      The individual is capable of enduring several major crises without a loss of resolve.
    {% endif %}
  {% endif %}

  {% if ( AP == 9 ) or ( AP == 10 ) %}
    {% if which == 'dex' %}
      This person possesses the best agility that is humanly possible.
    {% endif %}
    {% if which == 'str' %}
      The individual has enough strength to demolish a concrete barrier. Lifting range: 12 - 25 tons
    {% endif %}
    {% if which == 'body' %}
      The individual's body can withstand most military weapons, such as high caliber automatic rifles.
    {% endif %}
    {% if which == 'int' %}
      This person's intellect equals a professional who is one of three world authorities on a subject.
    {% endif %}
    {% if which == 'will' %}
      The individual possesses enough willpower to override self-preservation and enter an obviously unsurvivable battle.
    {% endif %}
    {% if which == 'mind' %}
      The individual will maintain self-discipline and sanity under strenuous pain.
    {% endif %}
    {% if which == 'infl' %}
      This individual's personality is strong enough to attract the attention of leaders and citizens of many separate nations.
    {% endif %}
    {% if which == 'aura' %}
      This individual can alter the opinions of various citizens across the world and is capable of generating a cult following within a region the size of a country.
    {% endif %}
    {% if which == 'spirit' %}
      The individual possesses a fortitude that cannot be altered even by the blackest life experiences. He or she can withstand the mystical assault of an experienced sorcerer.
    {% endif %}
  {% endif %}

  {% if ( AP == 11 ) or ( AP == 12 ) %}
    {% if which == 'dex' %}
      This is a superhuman level of agility. The individual can dodge high velocity projectiles such as arrows and bullets aimed with moderate effort.
    {% endif %}
    {% if which == 'str' %}
      The individual can rupture a steel wall. Lifting range: 50 - 100 tons
    {% endif %}
    {% if which == 'body' %}
      The individual's body can withstand high impact explosives that could demolish a reinforced concrete bunker. Their skin is almost a dense as if they had steel hard skin.
    {% endif %}
    {% if which == 'int' %}
      The person is a genius or has the intellect on par with an individual who is the best authority in the world on a particular subject.
    {% endif %}
    {% if which == 'will' %}
      This individual's will is of an unlyielding determination or fanatical strength. They are fully capable of confronting sanity-theatening situations and mystical phenomenon with no loss of resolve.
    {% endif %}
    {% if which == 'mind' %}
      This person's mential endurance is at the peak of human fortitude.
    {% endif %}
    {% if which == 'infl' %}
      This person's presence is powerful enough to gain the attention of legendary persons. In some cases the individual may be a household name across the world.
    {% endif %}
    {% if which == 'aura' %}
      This individual is capable of generating myths and legends that last several centuries.
    {% endif %}
    {% if which == 'spirit' %}
      This person can easily cope with extraordinary phenomenon and knows no true fear.
    {% endif %}
  {% endif %}

  {% if ( AP == 13 ) or ( AP == 15 ) %}
    {% if which == 'dex' %}
      The individual can dodge laser fire or sight and catch slower moving projectiles, such as arrows and bullets.
    {% endif %}
    {% if which == 'str' %}
      The individual could crush titanium or throw a car a half mile ( at a 15 ). Lifting range: 200 - 800 tons
    {% endif %}
    {% if which == 'body' %}
      The individual's body density ranges from titanium (13) to diamond hardness (15). They are nearly invulnerable and can withstand anti-tank fire.
    {% endif %}
    {% if which == 'int' %}
      This individual's intelligence is beyond what is normally experienced on Earth, with the ability to conceive concepts centuries beyond current conventions.
    {% endif %}
    {% if which == 'will' %}
      This person possesses superhuman resolve to overcome paranormal situations beyond the scope of human comprehension.
    {% endif %}
    {% if which == 'mind' %}
      This person is accustomed to dealing with alien or inexplicable phenomenon, or problems outside the human experience. These individuals can handle stress equal to the "weight of the world" in stride.
    {% endif %}
    {% if which == 'infl' %}
      This individual can easily garner the attention of an individual from another species.
    {% endif %}
    {% if which == 'aura' %}
      This personality can gain the respect of even legendary figures and sway the opinion of beings of great mystical power.
    {% endif %}
    {% if which == 'spirit' %}
      This individual can endure several attacks from a master level sorcerer and traumatic supernatural experiences routinely.
    {% endif %}
  {% endif %}

  {% if ( AP == 16 ) or ( AP == 18 ) %}
    {% if which == 'dex' %}
      The individual's level of agility seems to defy the ability of the humanoid structure. Laser fire could seem in slow motion to them.
    {% endif %}
    {% if which == 'str' %}
      The individual could demolish a fortified bunker. Lifting range: 1,600 - 6,400 tons
    {% endif %}
    {% if which == 'body' %}
      The individual's body is virtually indestructable and can withstand highly charged plasma beams and direct hits from powerful demolition bombs.
    {% endif %}
    {% if which == 'int' %}
      This person has an intellect giving the individual the ability to adopt concepts completely foreign to their society or environment.
    {% endif %}
    {% if which == 'will' %}
      The individual has sufficient willpower to wield great power with unfaltering confidence or arrogance.
    {% endif %}
    {% if which == 'mind' %}
      This person can mentally endure the constant strain of a hostile and taxing condition such as war for centuries.
    {% endif %}
    {% if which == 'infl' %}
      This person could attract the attention of cosmic beings such as the Lords of Order or Chaos without effort.
    {% endif %}
    {% if which == 'aura' %}
      The individual can reason with and possibly sway strong personalities, such as cosmic beings.
    {% endif %}
    {% if which == 'spirit' %}
      The person's spiritual resilliance is equivalent to that of a god-like being.
    {% endif %}
  {% endif %}

  {% if ( AP == 19 ) or ( AP == 21 ) %}
    {% if which == 'dex' %}
      The individual's thoughts and actions are almost simultaneous.
    {% endif %}
    {% if which == 'str' %}
      The individual has the strength equivalent to the giants of ancient legends. Lifting range: 12,800 - 51,000 tons
    {% endif %}
    {% if which == 'body' %}
      At this level, the individual's body is impervious to conventional weaponry save for nuclear munitions, and has the density equivalent to a wall of promethium ( at a 20 ).
    {% endif %}
    {% if which == 'int' %}
      This person has the intellectual ability to master every worldly subject.
    {% endif %}
    {% if which == 'will' %}
      This individual has enough willpower to dominate situations that have planetary repercussions.
    {% endif %}
    {% if which == 'mind' %}
      This person has god-like mental stamina.
    {% endif %}
    {% if which == 'infl' %}
      This individual recieves reactions from people as if he or she was a god or goddess who didn't need to display their power.
    {% endif %}
    {% if which == 'aura' %}
      When it comes to strength of personality, this individual could walk among god-like beings as an equal.
    {% endif %}
    {% if which == 'spirit' %}
      At this level the spirit remains strong even in the ravages of a hostile environment.
    {% endif %}
  {% endif %}

  {% if ( AP == 22 ) or ( AP == 24 ) %}
    {% if which == 'dex' %}
      The individual's actions begin before the human brain can complete a thought.
    {% endif %}
    {% if which == 'str' %}
      The individual possesses what could be termed 'god-like' strength. Lifting range: 102,400 - 409,600 tons
    {% endif %}
    {% if which == 'body' %}
      The individual's body can survive the crushing forces of space for extended durations and can survive the direct detonation of a multi-kiloton nuclear device.
    {% endif %}
    {% if which == 'int' %}
      This person has an intellect with the ability to comprehend and utilize knowledge spanning the galaxy.
    {% endif %}
    {% if which == 'will' %}
      This individual's willpower is formidable enough to challenge intergalactic menaces without fear.
    {% endif %}
    {% if which == 'mind' %}
      This person's mind remains whole even in situations where laws of reality shift.
    {% endif %}
    {% if which == 'infl' %}
      This person has an overwhelming presence. They could establish a reputation across the galaxy with little effort.
    {% endif %}
    {% if which == 'aura' %}
      This individual's aura is powerful enough to make his or her word law across the galaxy.
    {% endif %}
    {% if which == 'spirit' %}
      This individual's spirit can withstand an extended battle with a cosmic being.
    {% endif %}
  {% endif %}

  {% if ( AP == 25 ) or ( AP == 27 ) %}
    {% if which == 'dex' %}
      The individual sees their surroundings, even energy, as motionless and can dodge multiple laser beams.
    {% endif %}
    {% if which == 'str' %}
      The individual has Titan level strength. Lifting range: 819,200 - 3,276,800 tons
    {% endif %}
    {% if which == 'body' %}
      The individual's body can withstand forces unleashed by 'god-like' beings.
    {% endif %}
    {% if which == 'int' %}
      At this level, the individual can understand and process knowledge on a universal scale.
    {% endif %}
    {% if which == 'will' %}
      The individual possesses god-like resolve and is accustomed to overcoming universal obstacles and threats.
    {% endif %}
    {% if which == 'mind' %}
      This individual's mind can withstand an assault that strikes to the core of the individual's existance.
    {% endif %}
    {% if which == 'infl' %}
      This person could force a reaction from universal audiences and personas.
    {% endif %}
    {% if which == 'aura' %}
      This personality is powerful enough to etch a legendary standing across the universe.
    {% endif %}
    {% if which == 'spirit' %}
      The individual can resist the attack of an entity-level mystical force.
    {% endif %}
  {% endif %}

  {% if ( AP == 28 ) or ( AP > 29 ) %}
    {% if which == 'dex' %}
      The individual's reactions occur as if they were clairvoyant.
    {% endif %}
    {% if which == 'str' %}
      The individual could obliterate small celestial bodies. Lifting range: 6,553,600 - 13,107,200 tons
    {% endif %}
    {% if which == 'body' %}
      The individual can withstand a direct hit from a 100 megaton nuclear weapon.
    {% endif %}
    {% if which == 'int' %}
      This person can understand and conceive knowlege that is multi-versal in magnitude.
    {% endif %}
    {% if which == 'will' %}
      The individual is resolute even in the face of universal destruction.
    {% endif %}
    {% if which == 'mind' %}
      The individual has the mental stamina of a primordial entity.
    {% endif %}
    {% if which == 'infl' %}
      This individual could draw the attention of beings from across the multiverse.
    {% endif %}
    {% if which == 'aura' %}
      The individual's presence stretches beyond the confines of this universe.
    {% endif %}
    {% if which == 'spirit' %}
      The person is spiritually pure, a condition attainable perhaps only in the state of nirvana.
    {% endif %}
  {% endif %}
{% endmacro %}
