{% if variables.source is defined %} <div class="pull-right"><span class="label label-info">{{ variables.source }}</span></div>{% endif %}
<div class="row">
	<div class="col-12">
		<h1>{{ variables.name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<table class="table">
			<thead>
				<tr>
					<th>Bonus</th>
					<th>Max DEX Bonus</th>
					<th>Armor Check Penalty</th>
					<th>Arcane Spell Failure %</th>
					<th>Speed (M)</th>
					<th>Speed (S)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ variables.bonus }}</td>
					<td>{{ variables.max_dex_bonus }}</td>
					<td>{{ variables.armor_check_penalty }}</td>
					<td>{{ variables.arcane_spell_failure_chance }}</td>
					<td>{{ variables.speed_m }}</td>
					<td>{{ variables.speed_s }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	{% if variables.special %}
		<div class="col-6">
			Special: <strong>{{ variables.special }}</strong>
		</div>
	{% endif %}
	{% if variables.cost %}
		<div class="col-3">
			Cost: <strong>{{ variables.cost }}</strong>
		</div>
	{% endif %}
	{% if variables.weight %}
		<div class="col-3">
			Weight: <strong>{{ variables.weight }}</strong>
		</div>
	{% endif %}
</div>
{% if variables.description %}
	<div class="row">
		<div class="col-12">
			<p class="mt-3">{{ variables.description }}</p>
		</div>
	</div>
{% endif %}