{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
{% if variables.source is defined or meta.block.isSRD %}
	<p class="statblock-source">
		{% if variables.source is defined %}
			{{ variables.source }} 
		{% endif %}
		{% if meta.block.isSRD %}
			<strong>SRD</strong>
		{% endif %}
	</p>
{% endif %}

<h1>{{variables.name|BBcode }}</h1>




{% if variables.overview %}
<p>
	{{variables.overview}}
</p>
{% endif %} 

{% if variables.skillproficiences %}
	<div class="statblock-stat"><strong>Skill Proficiences</strong> <span>{{variables.skillproficiences}}</span></div>
{% endif %}
{% if variables.toolproficiences %}
	<div class="statblock-stat"><strong>Tool Proficiences</strong> <span>{{variables.toolproficiences}}</span></div>
{% endif %}
{% if variables.languages %}
	<div class="statblock-stat"><strong>Languages</strong> <span>{{variables.languages}}</span></div>
{% endif %}
{% if variables.equipment %}
	<div class="statblock-stat"><strong>Equipment</strong> <span>{{variables.equipment}}</span></div>
{% endif %}
{% if variables.skillproficiences %}
	<div class="statblock-stat"><strong>Skill Proficiences</strong> <span>{{variables.skillproficiences}}</span></div>
{% endif %}
{% if variables.lifestyle %}
	<div class="statblock-stat"><strong>Lifestyle</strong> <span>{{variables.lifestyle}}</span></div>
{% endif %}

{% if variables.features %}
	<h2>Features</h2>
	<p>{{variables.features}}</p>
{% endif %} 

{% if variables.suggestedcharacteristics %}
	<h2>Suggested Characteristics</h2>
	<p>{{variables.suggestedcharacteristics}}</p>
{% endif %} 

{% if variables.traits %}
<h2>Traits</h2> {{ variables.traits|ParseTable }}</p>
{% endif %}

{% if variables.ideal %}
<h2>Ideal</h2> {{ variables.ideal|ParseTable }}</p>
{% endif %}

{% if variables.bond %}
<h2>Bond</h2> {{ variables.bond|ParseTable }}</p>
{% endif %}

{% if variables.flaw %}
<h2>Flaw</h2> {{ variables.flaw|ParseTable }}</p>
{% endif %}

{% endblock %}