{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

{% macro attrModifier( attr ) %}
    {% import _self as macros %}

    {% if attr == 1 %} {% set mod = '-5' %} 
    {% elseif attr == 2 %} {% set mod = '-4' %}
    {% elseif attr == 3 %} {% set mod = '-4' %}
    {% elseif attr == 4 %} {% set mod = '-3' %}
    {% elseif attr == 5 %} {% set mod = '-3' %}
    {% elseif attr == 6 %} {% set mod = '-2' %}
    {% elseif attr == 7 %} {% set mod = '-2' %}
    {% elseif attr == 8 %} {% set mod = '-1' %}
    {% elseif attr == 9 %} {% set mod = '-1' %}
    {% elseif attr == 10 %} {% set mod = '0' %}
    {% elseif attr == 11 %} {% set mod = '0' %}
    {% elseif attr == 12 %} {% set mod = '+1' %}
    {% elseif attr == 13 %} {% set mod = '+1' %}
    {% elseif attr == 14 %} {% set mod = '+2' %}
    {% elseif attr == 15 %} {% set mod = '+2' %}
    {% elseif attr == 16 %} {% set mod = '+3' %}
    {% elseif attr == 17 %} {% set mod = '+3' %}
    {% elseif attr == 18 %} {% set mod = '+4' %}
    {% elseif attr == 19 %} {% set mod = '+4' %}
    {% elseif attr == 20 %} {% set mod = '+5' %}
    {% elseif attr == 21 %} {% set mod = '+5' %}
    {% elseif attr == 22 %} {% set mod = '+6' %}
    {% elseif attr == 23 %} {% set mod = '+6' %}
    {% elseif attr == 24 %} {% set mod = '+7' %}
    {% elseif attr == 25 %} {% set mod = '+7' %}
    {% elseif attr == 26 %} {% set mod = '+8' %}
    {% elseif attr == 27 %} {% set mod = '+8' %}
    {% elseif attr == 28 %} {% set mod = '+9' %}
    {% elseif attr == 29 %} {% set mod = '+9' %}
    {% elseif attr == 30 %} {% set mod = '+10' %}
    {% endif %}
    {% if  mod is defined and mod > 0 or  mod is defined  and mod < 0  %}
        [roll:1d20{{ mod }}|{{ mod }}] 
    {% else %}   
        [roll:1d20}|0]
    {% endif %}
{% endmacro %}

{% import _self as macros %}


{% if variables.source is defined or meta.block.isSRD %}
    <div class="statblock-source">
        {% if variables.source is defined and variables.source|length > 0  %}
            {{ variables.source }} 
        {% endif %}
        {% if meta.block.isSRD %}
            <strong>SRD</strong>
        {% endif %}
    </div>
{% endif %}
<h1>{{variables.name}}</h1>
<div class="subheading">{{variables.size|capitalize }} {{variables.types|lower }}, {{variables.alignment|lower }} </div>

<div class="statblock-stat"><strong>Armor Class</strong> <span>{{variables.ac}}</span></div>
<div class="statblock-stat"><strong>Hit Points</strong> <span>{{variables.hitpoints}}</span></div>
<div class="statblock-stat"><strong>Speed</strong> 
    {% if variables.movement %}
        <span>{{variables.movement}}ft</span>
    {% endif %}
    {% if variables.fly %}
        <span><strong>Fly:</strong> {{variables.fly}}ft</span>
    {% endif %}
    {% if variables.hover %}
        <span><strong>Hover:</strong> {{variables.hover}}ft</span>
    {% endif %}
    {% if variables.burrow %}
        <span><strong>Burrow:</strong> {{variables.burrow}}ft</span>
    {% endif %}
    {% if variables.swim %}
        <span><strong>Swim:</strong> {{variables.swim}}ft</span>
    {% endif %}
    {% if variables.climb %}
        <span><strong>Climb:</strong> {{variables.climb}}ft</span>
    {% endif %}
</div> <!-- I didn't know how to put in all the types of movement. -->
<hr>
<div class="modifiers">
    <div class="row">
        <div class="col-md-2 col-xs-4">
            <div class="statblock-attribute"><strong>STR</strong></div>
            <div class="statblock-attribute">{{variables.strength}} {{ macros.attrModifier(variables.strength) }}</div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div class="statblock-attribute"><strong>DEX</strong></div>
            <div class="statblock-attribute">{{variables.dexterity}} {{ macros.attrModifier(variables.dexterity) }}</div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div class="statblock-attribute"><strong>CON</strong></div>
            <div class="statblock-attribute">{{variables.constitution}} {{ macros.attrModifier(variables.constitution) }}</div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div class="statblock-attribute"><strong>INT</strong></div>
            <div class="statblock-attribute">{{variables.intelligence}} {{ macros.attrModifier(variables.intelligence) }}</div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div class="statblock-attribute"><strong>WIS</strong></div>
            <div class="statblock-attribute">{{variables.wisdom}} {{ macros.attrModifier(variables.wisdom) }}</div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div class="statblock-attribute"><strong>CHA</strong></div>
            <div class="statblock-attribute">{{variables.charisma}} {{ macros.attrModifier(variables.charisma) }}</div>
        </div>
    </div>
    <div>
    </div>
</div>
<hr>
{% if variables.savingthrows %}
    <div class="statblock-stat"><strong>Saving Throws</strong> <span>{{variables.savingthrows}}</span></div>
{% endif %}
{% if variables.skills %}
    <div class="statblock-stat"><strong>Skills</strong> <span>{{variables.skills}}</div>
{% endif %}
{% if variables.damagevulnerabilities %}
    <div class="statblock-stat"><strong>Damage Vulnerabilities</strong> <span>{{variables.damagevulnerabilities}}</span></div>
{% endif %}
{% if variables.damageresistances %}
    <div class="statblock-stat"><strong>Damage Resistances</strong> <span>{{variables.damageresistances}}</span></div>
{% endif %}
{% if variables.damageimmunities %}
    <div class="statblock-stat"><strong>Damage Immunities</strong> <span>{{variables.damageimmunities}}</span></div>
{% endif %}
{% if variables.conditionimmunities %}
    <div class="statblock-stat"><strong>Condition Immunities</strong> <span>{{variables.conditionimmunities}}</span></div>
{% endif %}
{% if variables.senses %}
    <div class="statblock-stat"><strong>Senses</strong> <span>{{variables.senses}}</span></div>
{% endif %}
{% if variables.languages %}
    <div class="statblock-stat"><strong>Languages</strong> <span>{{variables.languages}}</span></div> <!-- This should be a dash if blank. -->
{% endif %}
{% if variables.cr %}
    <div class="statblock-stat"><strong>Challenge</strong> <span>{{variables.cr}}</span></div>
{% endif %}
<br>

{% if variables.spellcasting %}
    <div class="statblock-stat">
        <p>{{variables.spellcasting}}</p> 
    </div>
{% endif %}
{% if variables.atwill %}
    <p>
        <div class="statblock-stat"><strong>At will:</strong><span></span> {{variables.atwill}}</span></div>
    </p>
{% endif %}
{% if variables.onceperday %}
    <p>
        <div class="statblock-stat"><strong>1/day:</strong></span> {{variables.onceperday}}</span></div>
    </p>
{% endif %}
{% if variables.twiceperday %}
    <p>
        <div class="statblock-stat"><strong>2/day:</strong></span> {{variables.twiceperday}}</span></div>
    </p>
{% endif %}
{% if variables.thriceperday %}
    <p>
        <div class="statblock-stat"><strong>3/day:</strong></span> {{variables.thriceperday}}</span></div>
    </p>
{% endif %}
{% if variables.specialabilities %}
    <br>
    <div class="statblock-stat">
        <p>{{variables.specialabilities}}</p> 
    </div>
{% endif %}
<hr>
{% if variables.actions %}
    <h2>Actions</h2>
    <p>{{variables.actions}}</p> 
{% endif %}
{% if variables.reactions  %}
    <h2>Reactions</h2>
    <p>{{variables.reactions}}</p> 
{% endif %}

{% if variables.legendaryactions %}
    <h2>Legendary Actions</h2>
    <p>{{variables.legendaryactions}}</p> 
{% endif %}
{% if variables.lairactions %}
    <h2>Lair Actions</h2>
    <p>{{variables.lairactions}}</p> 
{% endif %}
{% if variables.lairdescription %}
    <p>{{variables.lairdescription}}</p> 
{% endif %}
{% if variables.regionaleffects  %}
    <h2>Regional Effects</h2>
    <p>{{variables.regionaleffects}}</p>
{% endif %}
<br>
{% if variables.description %}
    <p>{{variables.description}}</p> 
{% endif %}
{% if variables.description %}
    <p>{{variables.suggestedenvironment}}</p> 
{% endif %}
{% endblock %}