<div class="statblock template-{{ meta.identifier }} system-{{ meta.RPGSRD }}">

	<div class="trackable-header row text-center mx-2">
		<div class="col"><h3 data-toggle="bstooltip" data-placement="bottom" title="Armor Class" ><i class="ra  ra-shield"></i><br>{{ variables.ac }}</h3></div>
		<div class="col"><h3 data-toggle="bstooltip" data-placement="bottom" title="Initiative"><i class="ra  ra-player-dodge"></i><br>{{ variables.initiative }}</h3></div>
		<div class="col"><h3 data-toggle="bstooltip" data-placement="bottom" title="Passive Perception"><i class="far fa-eye"></i><br>{{ variables.passivewisdom}}</h3></div>
		<div class="col"><h3 data-toggle="bstooltip" data-placement="bottom" title="Hit Points"><i class="ra ra-health"></i><br>{{ variables.hitpoints}}</h3></div>
	</div>
	<form class="trackable" id="blockform-{{ meta.block.id }}" data-block="{{ meta.block.id }}">
			<h4 class="mb-1 mt-4 text-center" data-toggle="collapse" data-target="#health">Health & State</h4>
			<div class="collapse show" id="health">
				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2">Hit Points</h5>
					<input class="trackable-3digits form-control" type="text" value="{{ variables.hitpoints_current is defined ? variables.hitpoints_current }}" name="hitpoints_current" /> <span class="trackable-value">/ {{ variables.hitpoints }}</span>
				</div>
				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2">Temporary Hit Points</h5>
					<input class="trackable-3digits form-control" type="text" value="{{ variables.hitpoints_temp_current is defined ? variables.hitpoints_temp_current }}" name="hitpoints_temp_current" /> <span class="trackable-value">/ <input class="trackable-3digits form-control" type="text" value="{{ variables.hitpoints_temp is defined ? variables.hitpoints_temp }}" name="hitpoints_temp" /></span>
				</div>
				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2">Conditions</h5>
					<input class="form-control" type="text" value="{{ variables.conditions is defined ? variables.conditions }}" name="conditions" /> 
				</div>
				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2">Unused Hit Dice</h5>
					<input class="trackable-3digits form-control" type="text" value="{{ variables.hit_dice_used is defined ? variables.hit_dice_used }}" name="hit_dice_used" />
				</div>
			</div>

			<h4 class="mb-1 mt-4 text-center" data-toggle="collapse" data-target="#treasure">Treasure & Equipment</h4>
			<div class="collapse" id="treasure">
				<textarea rows="15" class="form-control" name="equipment">{{ variables.equipment is defined ? variables.equipment }}</textarea>			
				<div class=" mt-2"><strong>Copper Pieces:</strong> <input class="mt-1 form-control trackable-6digits" type="text" value="{{ variables.sp }}" name="sp" /></div>
				<div class=" mt-2"><strong>Silver Pieces:</strong> <input class="mt-1 form-control trackable-6digits" type="text" value="{{ variables.sp }}" name="sp" /></div>
				<div class=" mt-2"><strong>Electrum Pieces:</strong> <input class="mt-1 form-control trackable-6digits" type="text" value="{{ variables.ep }}" name="ep" /></div>
				<div class=" mt-2"><strong>Gold Pieces:</strong> <input class="mt-1 form-control trackable-6digits" type="text" value="{{ variables.gp }}" name="gp" /></div>
				<div class=" mt-2"><strong>Platinum Pieces:</strong> <input class="mt-1 form-control trackable-6digits" type="text" value="{{ variables.pp }}" name="pp" /></div>
			</div>

			<h4 class="mb-1 mt-4 text-center" data-toggle="collapse" data-target="#spellslots">Spell slots</h4>
			<div class="collapse" id="spellslots">
				<div class="row spell-slots">
					<div class="col-sm-6 mt-2">
						<spstrongan>1st</strong> <input class="mt-1 form-control form-control-sm" type="text" value="{{ variables.spellslot_1 is defined ? variables.spellslot_1 }}" name="spellslot_1" />
					</div>
					<div class="col-sm-6 mt-2">
						<strong>2nd</strong>  <input class="mt-1 form-control form-control-sm"  type="text" value="{{ variables.spellslot_2 is defined ? variables.spellslot_2 }}" name="spellslot_2" />
					</div>
					<div class="col-sm-6 mt-2">
						<strong>3rd</strong>  <input class="mt-1 form-control form-control-sm"  type="text" value="{{ variables.spellslot_3 is defined ? variables.spellslot_3 }}" name="spellslot_3" />
					</div>
					<div class="col-sm-6 mt-2">
						<strong>4th</strong>  <input class="mt-1 form-control form-control-sm"  type="text" value="{{ variables.spellslot_4 is defined ? variables.spellslot_4 }}" name="spellslot_4" />
					</div>
					<div class="col-sm-6 mt-2">
						<strong>5th</strong>  <input class="mt-1 form-control form-control-sm"  type="text" value="{{ variables.spellslot_5 is defined ? variables.spellslot_5 }}" name="spellslot_5" />
					</div>
					<div class="col-sm-6 mt-2">
						<strong>6th</strong>  <input class="mt-1 form-control form-control-sm"  type="text" value="{{ variables.spellslot_6 is defined ? variables.spellslot_6 }}" name="spellslot_6" />
					</div>
					<div class="col-sm-6 mt-2">
						<strong>7th</strong>  <input class="mt-1 form-control form-control-sm"  type="text" value="{{ variables.spellslot_7 is defined ? variables.spellslot_7 }}" name="spellslot_7" />
					</div>
					<div class="col-sm-6 mt-2">
						<strong>8th</strong>  <input class="mt-1 form-control form-control-sm"  type="text" value="{{ variables.spellslot_8 is defined ? variables.spellslot_8 }}" name="spellslot_8" />
					</div>
					<div class="col-sm-6 mt-2">
						<strong>9th</strong>  <input class="mt-1 form-control form-control-sm"  type="text" value="{{ variables.spellslot_9 is defined ? variables.spellslot_9 }}" name="spellslot_9" />
					</div>
				</div>
			</div>

			<h4 class="mb-1 mt-4 text-center" data-toggle="collapse" data-target="#resources">Resources</h4>
			<div class="collapse" id="resources">

				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2">Inspiration</h5>
					<input class="trackable-3digits form-control" type="text" value="{{ variables.inspiration is defined ? variables.inspiration }}" name="inspiration" />
				</div>

				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2">Class Resource</h5>
					<input class="trackable-3digits form-control" type="text" value="{{ variables.class_resources is defined ? variables.class_resources }}" name="class_resources" />
				</div>

				<div class="text-center mb-3">
					<h5 class="mb-1 mt-2">Experience points</h5>
					<input class="form-control" type="text" value="{{ variables.xp is defined ? variables.xp }}" name="xp" />
				</div>
			</div>

			<input class="mt-3 btn btn-sm btn-dark btn-block" type="submit" value="Save changes">
	</form>
</div>
