{% macro printFormRow(type, variables, placeholder = '', label ='',description ='', inputType = 'text', rows = 3 ) %}
    {% if label %} {% else %}{% set label = type %} {% endif %}
    <div class="form-group">
        <label for="name">{{ label }}</label>
        {% if inputType == 'textarea' %}
            <textarea rows="{{ rows }}" placeholder="e.g. {{ placeholder }}" class="form-control"   name="{{ type }}" />{{ 
                attribute( variables, type ) is defined ? attribute( variables, type) }}</textarea>
        {% else %}
            <input placeholder="e.g. {{ placeholder }}" class="form-control" type="{{ inputType }}" value="{{ 
                attribute( variables, type ) is defined ? attribute( variables, type) }}" name="{{ type }}"  />
        {% endif %}
        {% if (description) %}
            <p class="description form-control-description">{{ description|raw }}</p>
        {% endif %}
    </div>
{% endmacro %}
{% import _self as macros %}
<div class="row">
	<div class="col-md-4">
		{{ macros.printFormRow('name', variables,'Acid Arrow','Spell Name' ) }}		
	</div>
	<div class="col-md-4">
		{{ macros.printFormRow('source', variables,'PFRPG Core','Source' ) }}		
	</div>
	<div class="col-md-4">
		{{ macros.printFormRow('short_description', variables,'Magical acidic arrow','Short Description' ) }}		
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		{{ macros.printFormRow('school', variables,'Abjuration','School' ) }}		
	</div>
	<div class="col-md-4">
		{{ macros.printFormRow('subschool', variables,'Creation','Sub school' ) }}		
	</div>
	<div class="col-md-4">
		{{ macros.printFormRow('descriptor', variables,'Descriptor','Descriptor' ) }}		
	</div>
</div>

<hr>
<h2>Details</h2>
<div class="row">
	<div class="col-4 mb-2">
		{{ macros.printFormRow('casting_time', variables,'1 standard action','Casting Time' ) }}
	</div>
	<div class="col-4 mb-2">
		{{ macros.printFormRow('range', variables,'120 ft.','Range' ) }}
	</div>
	<div class="col-4 mb-2">
		{{ macros.printFormRow('duration', variables,'10 rounds','Duration' ) }}
	</div>
	<div class="col-4 mb-2">
		{{ macros.printFormRow('area', variables,'20-ft.-radius emanation centered on a point in space','Area' ) }}
	</div>
	<div class="col-4 mb-2">
		{{ macros.printFormRow('effect', variables,'one arrow of acid','Effect' ) }}
	</div>
	<div class="col-4 mb-2">
		{{ macros.printFormRow('targets', variables,'30ft Area of Effect','Targets' ) }}
	</div>
	<div class="col-4 mb-2">
		{{ macros.printFormRow('domain', variables,'Light','domain' ) }}
	</div>
	<div class="col-4 mb-2">
		{{ macros.printFormRow('deity', variables,'Brigh','Deity' ) }}
	</div>
	<div class="col-4 mb-2">
		{{ macros.printFormRow('bloodline', variables,'Ectoplasm','Bloodline' ) }}
	</div>
	<div class="col-4 mb-2">
		{{ macros.printFormRow('patron', variables,'Ethereal','Patron' ) }}
	</div>
</div>
<hr>
<h2>Description</h2>
<div class="row mt-2">
		<div class="col-12">
			{{ macros.printFormRow('description', variables,'Full description of the spell','Description','Do not forget that you can use [roll:1d20+3] to make your statblock rollable!','textarea' ) }}		
		</div>
		<div class="col-12">
			{{ macros.printFormRow('augemented', variables,'Properties when augemented','Augemented Properties','','textarea' ) }}		
		</div>
		<div class="col-12">
			{{ macros.printFormRow('mythic', variables,'Mythic variant details','Mythic Properties','','textarea' ) }}		
		</div>
</div>