{% if variables.source is defined %} <div class="pull-right"><span class="label label-info">{{ variables.source }}</span></div>{% endif %}
<h1 class="mb-1">{{ variables.name }}</h1>
{% if variables.short_description %}<p><small>{% if variables.short_description is defined %} {{ variables.short_description }} {% endif %}</small></p>{% endif %}
<hr>
<div class="row">
		<div class="col-md-4">{% if variables.school is defined %} {{ variables.school }} {% endif %}	</strong> {% if variables.subschool is defined %}\ {{ variables.subschool }} {% endif %} {% if variables.descriptor is defined %} \ {{ variables.descriptor }}{% endif %}</div>
		<div class="col-md-4">{% if variables.level is defined %} {{ variables.level }} {% endif %}</div>
		
		{% if variables.saving_throw %}<div class="col-md-2 mb-3">{% if variables.saving_throw is defined %} {{ variables.saving_throw }} {% endif %}</div>
	{% endif %}
		{% if variables.spell_resistance %}<div class="col-md-2 mb-3">{% if variables.spell_resistance is defined %} {{ variables.spell_resistance }} {% endif %}</div>
	{% endif %}
</div>
<hr>
<div class="row">
	{% if variables.casting_time %}
		<div class="col-3 mb-2">
			{% if variables.casting_time is defined %}Casting time: <strong class="pathfinder-property-value">{{ variables.casting_time }}</strong> {% endif %}
		</div>
	{% endif %}
	{% if variables.range %}
		<div class="col-3 mb-2">
			{% if variables.range is defined %}Range: <strong class="pathfinder-property-value">{{ variables.range }}</strong> {% endif %}
		</div>
	{% endif %}
	{% if variables.duration %}
		<div class="col-3 mb-2">
			{% if variables.duration is defined %}Duration: <strong class="pathfinder-property-value">{{ variables.duration }}</strong> {% endif %}
		</div>
	{% endif %}
	{% if variables.area %}
		<div class="col-3 mb-2">
			{% if variables.area is defined %}Area: <strong class="pathfinder-property-value">{{ variables.area }}</strong> {% endif %}
		</div>
	{% endif %}
	{% if variables.effect %}
		<div class="col-3 mb-2">
			{% if variables.effect is defined %}Effect: <strong class="pathfinder-property-value">{{ variables.effect }}</strong> {% endif %}
		</div>
	{% endif %}
	{% if variables.targets %}
		<div class="col-3 mb-2">
			{% if variables.targets is defined %}Targets: <strong class="pathfinder-property-value">{{ variables.targets }}</strong> {% endif %}
		</div>
	{% endif %}
	{% if variables.domain %}
		<div class="col-3 mb-2">
			{% if variables.domain is defined %}Domain: <strong class="pathfinder-property-value">{{ variables.domain }}</strong> {% endif %}
		</div>
	{% endif %}
	{% if variables.deity %}
		<div class="col-3 mb-2">
			{% if variables.deity is defined %}Deity: <strong class="pathfinder-property-value">{{ variables.deity }}</strong> {% endif %}
		</div>
	{% endif %}
	{% if variables.bloodline %}
		<div class="col-3 mb-2">
			{% if variables.bloodline is defined %}Bloodline: <strong class="pathfinder-property-value">{{ variables.bloodline }}</strong> {% endif %}
		</div>
	{% endif %}
	{% if variables.patron %}
		<div class="col-3 mb-2">
			{% if variables.patron is defined %}Patron: <strong class="pathfinder-property-value">{{ variables.patron }}</strong> {% endif %}
		</div>
	{% endif %}
</div>
<div class="row mt-2">
	{% if variables.description %}
		<div class="col-12">
			<h3>Description</h3>
			{% if variables.description is defined %} {{ variables.description }} {% endif %}
		</div>
	{% endif %}
	{% if variables.augemented %}
		<div class="col-12">
			<h3>When augmented</h3>
			{% if variables.augemented is defined %} {{ variables.augemented	}} {% endif %}
		</div>
	{% endif %}
	{% if variables.mythic %}
		<div class="col-12">
			<h3>Mythic Effects</h3>
			{% if variables.mythic is defined %} {{ variables.mythic	}} {% endif %}
		</div>
	{% endif %}
</div>