{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<table style="height: 69px;" width="761";> 
<table border="1">
<tbody>
<tr>
<td>
<div class="name"><strong>Name: </strong>{{variables.name|BBcode}}</div>
</td>
<td>
<div class="species"><strong>Species: </strong>{{variables.species|BBcode}}</div>
</td>
</tr>
</tbody>
</table>
  
<table style="height: 69px; width: 2057px;">
<table border="1">
<tbody>
<tr style="height: 55px;">
<td style="width: 102px; text-align: center; height: 55px;">
 
<h4>C&nbsp;</h4>
</td>
<td style="width: 97px; text-align: center; height: 55px;">
<h4>&nbsp;B</h4>
</td>
<td style="width: 107px; text-align: center; height: 55px;">
<h4>A</h4>
</td>
<td style="width: 102px; text-align: center; height: 55px;">
<h4>P&nbsp;</h4>
</td>
<td style="width: 102px; text-align: center; height: 55px;">
<h4>&nbsp;I</h4>
</td>
<td style="width: 102px; text-align: center; height: 55px;">
<h4>&nbsp;W</h4>
</td>
<td style="width: 105px; text-align: center; height: 55px;">
<h4>F&nbsp;</h4>
</td>
</tr>
<tr style="height: 74px;">
<td style="width: 102px; height: 74px;">
<h4>&nbsp;<strong>{{variables.combat|BBcode}}</strong>,({{variables.combat_bonus|BBCode}})</h4>
<h4>&nbsp;</h4>
</td>
<td style="width: 97px; height: 74px;">
<h4><strong>{{variables.brawn|BBcode}}</strong>,({{variables.brawn_bonus|BBCode}})</h4>
<h4>&nbsp;</h4>
</td>
<td style="width: 107px; height: 74px;">
<h4><strong>{{variables.agility|BBcode}}</strong>,({{variables.agility_bonus|BBCode}})</h4>
<h4>&nbsp;</h4>
</td>
<td style="width: 102px; height: 74px;">
<h4><strong>{{variables.perception|BBcode}}</strong>,({{variables.perception_bonus|BBCode}})</h4>
<h4>&nbsp;</h4>
</td>
<td style="width: 102px; height: 74px;">
<h4><strong>{{variables.intelligence|BBcode}}</strong>,({{variables.intelligence_bonus|BBCode}})</h4>
<h4>&nbsp;</h4>
</td>
<td style="width: 102px; height: 74px;">
<h4><strong>{</strong><strong>{variables.willpower|BBcode}}</strong>,({{variables.willpower_bonus|BBCode}})</h4>
<h4>&nbsp;</h4>
</td>
<td style="width: 105px; height: 74px;">
<h4><strong>{{variables.combat|BBcode}}</strong>,({{variables.combat_bonus|BBCode}})</h4>
<h4>&nbsp;</h4>
</td>
</tr>
</tbody>
</table>
<table style="height: 47px;" width="737">
  <table border="1">
<tbody>
<tr>
<td style="width: 98px; text-align: center;">
<h4>Intitiative</h4>
</td>
<td style="width: 98px; text-align: center;"><strong>Move</strong></td>
<td style="width: 99px; text-align: center;"><strong>D/Thresh</strong></td>
<td style="width: 99px; text-align: center;"><strong>P/Thresh</strong></td>
<td style="width: 99px; text-align: center;"><strong>Parry</strong></td>
<td style="width: 99px; text-align: center;"><strong>Dodge</strong></td>
<td style="width: 99px; text-align: center;"><strong>Threat</strong></td>
</tr>
<tr>
<td style="width: 98px;">{{variables.initiative |BBCode}}</td>
<td style="width: 98px;">{{variables.initiative |BBCode}}</td>
<td style="width: 99px;">{{variables.initiative |BBCode}}</td>
<td style="width: 99px;">{{variables.initiative |BBCode}}</td>
<td style="width: 99px;">{{variables.initiative |BBCode}}</td>
<td style="width: 99px;">{{variables.initiative |BBCode}}</td>
<td style="width: 99px;">{{variables.initiative |BBCode}}</td>
</tr>
</tbody>
</table>
<table>
  <table border="1">
<tbody>
<tr>
<td>{{variables.skills |BBCode}}</td>
</tr>
<tr>
<td>
<p><strong>Attack Profile:</strong></p>
<p>{{variables.attack_profile |BBCode}}</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp;<strong>Traits:</strong></p>
<p>{{variables.traits |BBCode}}</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp;<strong>Trappings:</strong></p>
<p>{{variables.traits |BBCode}}</p>
</td>
</tr>
</tbody>
</table>
{% endblock %}
