{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
<div class="zweihander-contents">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 zwei-top-row">Name: </div>
          <div class="col-md-4 zwei-value">{{ variables.name }}</div>
          <div class="col-md-2 zwei-top-row">Species: </div>
          <div class="col-md-4 zwei-value">{{ variables.species }}</div>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="zwe-stat-names">
      <div class="row">
        <div class="col-md-2 zwei-label">C</div>
        <div class="col-md-2 zwei-label">B</div>
        <div class="col-md-2 zwei-label">A</div>
        <div class="col-md-2 zwei-label">P</div>
        <div class="col-md-2 zwei-label">I</div>
        <div class="col-md-1 zwei-label">W</div>
        <div class="col-md-1 zwei-label">F</div>
      </div>
    </div>
  <div class="zwe-stat-values">
    <div class="row">
      <div class="col-md-2 zwei-result">{{ variables.combat }}({{variables.combat_bonus}})</div>
      <div class="col-md-2 zwei-result">{{ variables.brawn }}({{variables.brawn_bonus}})</div>
      <div class="col-md-2 zwei-result">{{ variables.agility }}({{variables.agility_bonus}})</div>
      <div class="col-md-2 zwei-result">{{ variables.perception }}({{variables.perception_bonus}})</div>
      <div class="col-md-2 zwei-result">{{ variables.intelligence }}({{variables.intelligence_bonus}})</div>
      <div class="col-md-1 zwei-result">{{ variables.willpower }}({{willpower.bonus}})</div>
      <div class="col-md-1 zwei-result">{{ variables.fellowship }}({{fellowship.bonus}})</div>
    </div>
  </div>
  <div class="zwe-stat-names">
    <div class="row">
      <div class="col-md-2 zwei-label">Int</div>
      <div class="col-md-2 zwei-label">Mov</div>
      <div class="col-md-2 zwei-label">D'Th</div>
      <div class="col-md-2 zwei-label">P'Th</div>
      <div class="col-md-2 zwei-label">Par</div>
      <div class="col-md-1 zwei-label">Dod</div>
      <div class="col-md-1 zwei-label">RFa</div>
    </div>
  </div>
  <div class="zwe-stat-derived">
    <div class="row">
      <div class="col-md-2 zwei-result">{{ variables.initiative }}</div>
      <div class="col-md-2 zwei-result">{{ variables.move }}</div>
      <div class="col-md-2 zwei-result">{{ variables.dmg_thresh }}</div>
      <div class="col-md-2 zwei-result">{{ variables.peril_thresh }}</div>
      <div class="col-md-2 zwei-result">{{ variables.parry }}</div>
      <div class="col-md-1 zwei-result">{{ variables.dodge }}</div>
      <div class="col-md-1 zwei-result">{{ variables.threat }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
       <div class="row">
        <div class="col-md-12 zwei-skills">{{ variables.skills|BBCode }}</div>
      </div>
      <div class="row">
        <div class="col-md-12 zwei-attack">Attack Profile:</div>
      </div>
      <div class="row">
        <div class="col-md-12 zwei-attack-result">{{ variables.attacks|BBCode }}</div>
      </div>
      <div class="row">
        <div class="col-md-12 zwei-label">Trappings:</div>
      </div>
      <div class="row">
        <div class="col-md-12 zwei-trappings-result">{{ variables.trappings|BBCode }}</div>
      </div>
    </div>
    <div class="col-md-6">
         <div class="row">
        <div class="col-md-12 zwei-traits">Traits:{{ variables.traits|BBCode }}</div>
      </div>
    </div>
   </div>
{% endblock %}
