{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
<div class="zweihander-contents">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 zwei-label">Name: </div>
          <div class="col-md-4 zwei-value">{{ variables.name }}</div>
          <div class="col-md-2 zwei-label">Species: </div>
          <div class="col-md-4 zwei-value">{{ variables.species }}</div>
        </div>
      </div>
     
      <div class="col-md-6">
      </div>
    </div>
 
    <div class="zwe-stat-names">
      <div class="row">
        <div class="col-md-1 zwei-label">C </div>
        <div class="col-md-1 zwei-label">B </div>
        <div class="col-md-1 zwei-label">A </div>
        <div class="col-md-1 zwei-label">P </div>
        <div class="col-md-1 zwei-label">I </div>
        <div class="col-md-1 zwei-label">W </div>
        <div class="col-md-1 zwei-label">F </div>
        <div class-"col-md-1"></div>
        <div class-"col-md-1"></div>
        <div class-"col-md-1"></div>
        <div class-"col-md-1"></div>
        <div class-"col-md-1"></div>
      </div>
    </div>

  <div class="zwe-stat-values">
    <div class="row">
      <div class="col-md-1 zwei-label">{{ variables.combat }}({{variables.combat_bonus}}) </div>
      <div class="col-md-1 zwei-label">{{ variables.brawn }}({{variables.brawn_bonus}}) </div>
      <div class="col-md-1 zwei-label">{{ variables.agility }}({{variables.agility_bonus}}) </div>
      <div class="col-md-1 zwei-label">{{ variables.perception }}({{variables.perception_bonus}}) </div>
      <div class="col-md-1 zwei-label">{{ variables.intelligence }}({{variables.intelligence_bonus}}) </div>
      <div class="col-md-1 zwei-label">{{ variables.willpower }}({{willpower.bonus}}) </div>
      <div class="col-md-1 zwei-label">{{ variables.fellowship }}({{fellowship.bonus}}) </div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
    </div>
  </div>
  
  <div class="zwe-stat-names">
    <div class="row">
      <div class="col-md-1 zwei-label">Int </div>
      <div class="col-md-1 zwei-label">Mov </div>
      <div class="col-md-1 zwei-label">D'Th </div>
      <div class="col-md-1 zwei-label">P'Th </div>
      <div class="col-md-1 zwei-label">Par </div>
      <div class="col-md-1 zwei-label">Dod </div>
      <div class="col-md-1 zwei-label">RFa </div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
    </div>
  </div>
  
  <div class="zwe-stat-derived">
    <div class="row">
      <div class="col-md-1 zwei-label">{{ variables.initiative }} </div>
      <div class="col-md-1 zwei-label">{{ variables.move }} </div>
      <div class="col-md-1 zwei-label">{{ variables.dmg_thresh }} </div>
      <div class="col-md-1 zwei-label">{{ variables.peril_thresh }} </div>
      <div class="col-md-1 zwei-label">{{ variables.parry }} </div>
      <div class="col-md-1 zwei-label">{{ variables.dodge }} </div>
      <div class="col-md-1 zwei-label">{{ variables.threat }} </div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
      <div class-"col-md-1"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 zwei-value">{{ variables.skills|BBCode }}</div>
      </div>
      
      <div class="row">
        <div class="col-md-12 zwei-label">Attack Profile:: </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">{{ variables.attacks|BBCode }} </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 zwei-label">Traits: </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">{{ variables.traits|BBCode }} </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 zwei-label">Trappings:: </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">{{ variables.trappings|BBCode }} </div>
      </div>
      
    </div>
    
    <div class="col-md-6">
    </div>
   </div>
{% endblock %}
