<div class="gold"></div>
<div class="inside-content">
	<div class="row">
		<div class="col-12 col-md-12">
	{% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
	<p class="statblock-source" title="Source">
		{% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
		{% if meta.block.isSRD %}SRD{% endif %}
	</p>
	{% endif %}
    <h1><span title="Item Name">{{variables.name}}</span></h1>
		</div>
	</div>
    {% set armortype = "" %}
    {% set armor_light = variables.armor_light|default %}
    {% set armor_medium = variables.armor_medium|default %}
    {% set armor_heavy = variables.armor_heavy|default %}
    {% set armor_shield = variables.armor_shield|default %}
    {# load variable from OLD sheet version and transfer into new variable #}
    {% if variables.armor_type|default == "Light"  %}{% set armor_light  = 1 %}{% endif %}
    {% if variables.armor_type|default == "Medium" %}{% set armor_medium = 1 %}{% endif %}
    {% if variables.armor_type|default == "Heavy"  %}{% set armor_heavy  = 1 %}{% endif %}
    {% if variables.armor_type|default == "Shield" %}{% set armor_shield = 1 %}{% endif %}
    {% if armor_light|default > 0 or armor_medium|default > 0 or armor_heavy|default > 0 or armor_shield|default > 0 %}
        {% if armor_light|default  == 1 %}{% set armortype = armortype ~ ", Light"  %}{% endif %}
        {% if armor_medium|default == 1 %}{% set armortype = armortype ~ ", Medium" %}{% endif %}
        {% if armor_heavy|default  == 1 %}{% set armortype = armortype ~ ", Heavy"  %}{% endif %}
        {% if armor_shield|default == 1 %}{% set armortype = armortype ~ ", Shield" %}{% endif %}
        {% if armortype starts with ", " %}{% set armortype = armortype[2:] %}{% endif %}
        {% set armortype = " (" ~ armortype ~ ")" %}
    {% endif %}
    <p class="subheading">
        {% if variables.item_type %}<span title="Item Type">{{variables.item_type|default}} {% if armortype != "" %} {{armortype}} {% endif %} </span>{% endif %}
   </p>
   <p>
        {% if variables.rarity %} <span class="trait" title="Rarity">{{ variables.rarity }}</span>{% endif %}
        {% if variables.attunement %}
          <span class="trait" title="Attunement">{{ variables.attunement }}</span>
        {% endif %}
        {% if variables.item_needs_attunement is defined %} Requires Attunement {% endif %}
        <div class="dndline"></div>
        {% if variables.properties %} {{variables.properties}}{% endif %}
    </p>
    {% if variables.image_gallery_id %}
        [img:{{ variables.image_gallery_id }}|right|250]
    {% endif %}
    {% if variables.description %}
    <p>
        {% if variables.description %}{{variables.description|nl2br}}{% endif %}
    </p>
    {% endif %}
    {# If item is an Armor #}
    {% if variables.item_type|default == "Armor" %}
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>AC</th>
                    <th>STR Req.</th>
                    <th>Stealth Dis.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ armortype|default|replace({'(': '', ')': ''}) }}</td>
                    <td>{{ variables.armor_class|default }}</td>
                    <td>{{ variables.strength_requirement|default }}</td>
                    <td>{% if variables.stealth_disadvantage is defined %}Yes{% else %}No{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    {# If item is a Weapon #}
    {% if variables.weapon_damage|default != "" %}
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Damage</th>
                    <th>Damage</th>
                    <th>Range</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ variables.weapon_subtype}}</td>
                    <td>{{ variables.weapon_damage}}  {% if variables.weapon_secondary_damage|default %}/ {{ variables.weapon_secondary_damage }} {% endif %}</td>
                    <td>{{ variables.weapon_damage_type}}</td>
                    <td>{{ variables.weapon_range}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    <p>
            {% if variables.price %}<b>Cost:</b> {{ variables.price|default }} {% endif %}<br>
            {% if variables.weight %}<b>Weight:</b> {{ variables.weight|default }}{% endif %}
    </p>
    {% if variables.image is defined %}
        <div> [img:{{ variables.image|default }}|nolink] </div>
    {% endif %}
</div>
<div class="gold"></div>