<div class="container-fluid sheet-mbti-light">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          {{variables.name|default}} {% if variables.short|default != "" %} &#91;{{variables.short|default}}&#93; {% endif %}
        </div>
        <div class="card-body c">
            {% if variables.attributes|default != "" %}{{variables.attributes|default}}{% endif %}
            {% if variables.short_desc|default != "" %}
              <div class='lbl od lbl-short-desc'> Short description </div>
              <div class='var od var-short-desc l'> {{variables.short_desc|default|nl2br}} </div>
            {% endif %}
            {% if variables.long_desc|default != "" %}
              <div class='lbl od lbl-long-desc'> Long description </div>
              <div class='var od var-long-desc l'> {{variables.long_desc|default|nl2br}} </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>