<div class="container-fluid sheet-mbti-light">
  <div class="row">
    <div class="col-12">
      <table class='table'>
      <tr>
      <th class='ilbl od ilbl-short  '><label for='short'>Short</label></th><td class='ivar od ivar-short ' ><input value='{{variables.short|default}}' class='form-control ivar ivar-short' id='short' name='short' placeholder='eg ISTJ, INTJ, ...' type='text'  /></td><th class='ilbl od ilbl-name  '><label for='name'>Display Name</label></th><td class='ivar od ivar-name ' ><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' placeholder='display name' type='text' required=required /></td>
      </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class='table'>
      <tr>
      <th class='ilbl od ilbl-attributes  '><label for='attributes'>Attributes</label></th><td class='ivar od ivar-attributes ' ><input value='{{variables.attributes|default}}' class='form-control ivar ivar-attributes' id='attributes' name='attributes' placeholder='eg introverted, intuitive, judging, ...' type='text'  /></td>
      </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class='ilbl od ilbl-short-desc ' ><label for='short_desc'>Short description</label></div><div class='ivar od ivar-short-desc ' ><div class='iContent'><textarea class='form-control ivar ivar-short-desc ' id='short_desc' name='short_desc' rows='3'  >{{variables.short_desc|default}}</textarea></div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class='ilbl od ilbl-long-desc ' ><label for='long_desc'>Long description</label></div><div class='ivar od ivar-long-desc ' ><div class='iContent'><textarea class='form-control ivar ivar-long-desc ' id='long_desc' name='long_desc' rows='3'  >{{variables.long_desc|default}}</textarea></div></div>
    </div>
  </div>
</div>
