{% import _self as sheet %}
{% macro genWeapon(id, cpp, mpp, name, desc, mintarget, range, dmg, x2pp) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}{% if name != "" %}<tr>
<td class="hdr {{eo}} l">{{cpp}} / {{mpp}}</td>
<td class="{{eo}} txt l">{{name}}</td>
<td class="{{eo}} txt c">{{mintarget}}</td>
<td class="{{eo}} txt c">{{range}}</td>
<td class="{{eo}} txt c">{{dmg}}</td>
<td class="{{eo}} txt c">{{x2pp}}</td>
</tr>{% if desc != '' %}<tr><td class="{{eo}}">&nbsp;</td><td class="{{eo}} txt l" colspan=5>{{desc}}</td></tr>{% endif %}
{% endif %}{% endmacro genWeapon %}
{# ------------------------- #}
<div class="container-fluid bountyhunter-sheet">
    <div class="row d-flex align-items-start">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">SPECIFICATIONS</div>
                <div class="card-body">
                    <table width="100%">
                        <tr><td class="hdr l od">name</td><td class="txt l od">{{variables.name is defined ? variables.name}}</td></tr>
                        <tr><td class="hdr l od">class</td><td class="txt l od">{{variables.class is defined ? variables.class}}</td></tr>
                        <tr><td class="hdr l od">hull pp</td><td class="txt l od">{{variables.hull_pp is defined ? variables.hull_pp}}</td></tr>
                        {% if variables.cost is defined and variables.cost != '' %}<tr><td class="hdr l od">cost</td><td class="txt l od">{{variables.cost is defined ? variables.cost}}</td></tr>{% endif %}
                        <tr><td class="hdr l od">length</td><td class="txt l od">{{variables.length is defined ? variables.length}}</td></tr>
                        <tr><td class="hdr l od">width</td><td class="txt l od">{{variables.width is defined ? variables.width}}</td></tr>
                        <tr><td class="hdr l od">depth</td><td class="txt l od">{{variables.depth is defined ? variables.depth}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 hidden-xs hidden-sm hidden-md d-none d-md-block d-lg-block">
            <div class="card my-2 logo noborder" title="Bounty Hunter Logo"></div>
            {% if variables.ship_portrait is defined and variables.ship_portrait > 0 %}
            [img:{{variables.ship_portrait}}]
            {% endif %}
        </div>
    </div>
    <div class="row d-flex align-items-start">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Ship Maintenance/Cargo</div>
                <div class="card-body">
                    <table width="100%">
                        <tr><td class="hdr l od">crew min/max</td><td class="txt l od">{{variables.crew_min is defined ? variables.crew_min}} / {{variables.crew_max is defined ? variables.crew_max}}</td></tr>
                        <tr><td class="hdr l od">crew curr</td><td class="txt l od">{{variables.crew_curr is defined ? variables.crew_curr}}</td></tr>
                        <tr><td class="hdr l od">upkeep</td><td class="txt l od">{{variables.upkeep is defined ? variables.upkeep}}</td></tr>
                        <tr><td class="hdr l od">monthly crew cost</td><td class="txt l od">{{variables.salary is defined ? variables.salary}}</td></tr>
                        <tr><td class="hdr l od">cargo curr / max</td><td class="txt l od">{{variables.cargo_curr is defined ? variables.cargo_curr}} / {{variables.cargo_max is defined ? variables.cargo_max}}</td></tr>
                        {% if variables.npc_captain is defined and variables.npc_captain != '' %}<tr><td class="hdr l od">npc captain</td><td class="txt l od">{{variables.npc_captain}}</td></tr>{% endif %}
                        {% if variables.npc_helmsman is defined and variables.npc_helmsman != '' %}<tr><td class="hdr l od">npc helmsman</td><td class="txt l od">{{variables.npc_helmsman}}</td></tr>{% endif %}
                        {% if variables.npc_tactical is defined and variables.npc_tactical != '' %}<tr><td class="hdr l od">npc tactical</td><td class="txt l od">{{variables.npc_tactical}}</td></tr>{% endif %}
                        {% if variables.npc_engineer is defined and variables.npc_engineer != '' %}<tr><td class="hdr l od">npc engineer</td><td class="txt l od">{{variables.npc_engineer}}</td></tr>{% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Ship Systems PP</div>
                <div class="card-body">
                    <table width="100%">
                        <tr><td class="hdr l od">Communications curr/max</td><td class="txt l od">{{variables.cmp_comm_curr_pp is defined ? variables.cmp_comm_curr_pp }} / {{variables.cmp_comm_max_pp is defined ? variables.cmp_comm_max_pp}}</td></tr>
                        <tr><td class="hdr l od">Countermeasure curr/max</td><td class="txt l od">{{variables.cmp_counter_curr_pp is defined ? variables.cmp_counter_curr_pp}} / {{variables.cmp_counter_max_pp is defined ? variables.cmp_counter_max_pp}}</td></tr>
                        <tr><td class="hdr l od">Dive Engine curr/max</td><td class="txt l od">{{variables.cmp_dive_engine_curr_pp is defined ? variables.cmp_dive_engine_curr_pp}} / {{variables.cmp_dive_engine_max_pp is defined ? variables.cmp_dive_engine_max_pp}}</td></tr>
                        <tr><td class="hdr l od">Navigation curr/max</td><td class="txt l od">{{variables.cmp_navigation_curr_pp is defined ? variables.cmp_navigation_curr_pp}} / {{variables.cmp_navigation_max_pp is defined ? variables.cmp_navigation_max_pp}}</td></tr>
                        <tr><td class="hdr l od">Life Support curr/max</td><td class="txt l od">{{variables.cmp_life_support_curr_pp is defined ? variables.cmp_life_support_curr_pp}} / {{variables.cmp_life_support_max_pp is defined ? variables.cmp_life_support_max_pp}}</td></tr>
                        <tr><td class="hdr l od">Scanners curr/max</td><td class="txt l od">{{variables.cmp_scanners_curr_pp is defined ? variables.cmp_scanners_curr_pp}} / {{variables.cmp_scanners_max_pp is defined ? variables.cmp_scanners_max_pp}}</td></tr>
                        <tr><td class="hdr l od">Transponder curr/max</td><td class="txt l od">{{variables.cmp_transponder_curr_pp is defined ? variables.cmp_transponder_curr_pp}} / {{variables.cmp_transponder_max_pp is defined ? variables.cmp_transponder_max_pp}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-start">
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header head-bar">Weapons</div>
                <div class="card-body">
                    <table width="100%">
                        <tr>
                            <th class="att">curr/max pp</td>
                            <th class="att">system</th>
                            <th class="att">min target</th>
                            <th class="att">range</th>
                            <th class="att">damage</th>
                            <th class="att">x2 pp</th>
                        </tr>
                        {% for i in 1..15 %}{% set x = i %}{% if x < 10 %}{% set x = '0' ~ x %}{% endif %}
                            {{sheet.genWeapon(
                                x,
                                attribute( variables, 'wpn_curr_pp_'~x ),
                                attribute( variables, 'wpn_max_pp_'~x ),
                                attribute( variables, 'wpn_system_'~x ),
                                attribute( variables, 'wpn_desc_'~x ),
                                attribute( variables, 'wpn_min_target_'~x ),
                                attribute( variables, 'wpn_range_'~x ),
                                attribute( variables, 'wpn_damage_'~x ),
                                attribute( variables, 'wpn_x2_pp_'~x )
                            ) }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-start">
		{% if variables.cargo is defined and variables.cargo != '' %}
        <div class="col-12 col-xs-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Cargo</div>
                <div class="card-body">
					<div class="txt l od">{{variables.cargo|nl2br}}</div>
            	</div>
            </div>
        </div>
		{% endif %}
		{% if variables.notes is defined and variables.notes != '' %}
        <div class="col-12 col-xs-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes</div>
                <div class="card-body od">
					<div class="txt l od">{{variables.notes|nl2br}}</div>
            	</div>
            </div>
        </div>
		{% endif %}
    </div>
</div>