{% import _self as sheet %}
{% macro genWeapon(id, cpp, mpp, name, desc, mintarget, range, dmg, x2pp) %}{% set eo = "od" %}{% if id is even %}{% set eo = "ev" %}{% endif %}<tr>
<td class="hdr {{eo}} l"><input value="{{ cpp }}" class="form-control sm" id="wpn_curr_pp_{{id}}" name="wpn_curr_pp_{{id}}" type="text" /> / <input value="{{ mpp }}" class="form-control sm" id="wpn_max_pp_{{id}}" name="wpn_max_pp_{{id}}" type="text" /></td>
<td class="{{eo}} txt l"><input value="{{ name }}" class="form-control" id="wpn_system_{{id}}" name="wpn_system_{{id}}" type="text" /></td>
<td class="{{eo}} txt c"><input value="{{ mintarget }}" class="form-control md" id="wpn_min_target_{{id}}" name="wpn_min_target_{{id}}" type="text" /></td>
<td class="{{eo}} txt c"><input value="{{ range }}" class="form-control md" id="wpn_range_{{id}}" name="wpn_range_{{id}}" type="text" /></td>
<td class="{{eo}} txt c"><input value="{{ dmg }}" class="form-control sm" id="wpn_damage_{{id}}" name="wpn_damage_{{id}}" type="text" /></td>
<td class="{{eo}} txt c"><input value="{{ x2pp }}" class="form-control sm" id="wpn_x2_pp_{{id}}" name="wpn_x2_pp_{{id}}" type="text" /></td>
</tr><tr><td class="{{eo}} r">Description</td><td class="{{eo}} txt l" colspan=5><input value="{{ desc }}" class="form-control" id="wpn_desc_{{id}}" name="wpn_desc_{{id}}" type="text" /></td></tr>
{% endmacro genWeapon %}
{# ------------------------- #}
<div class="container-fluid bountyhunter-sheet">
    <div class="row d-flex align-items-start">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">SPECIFICATIONS</div>
                <div class="card-body">
                    <table width="100%">
                        <tr><td class="hdr l od">name</td><td class="txt l od"><input value="{{ variables.name is defined ? variables.name }}" class="form-control" id="name" name="name" type="text" /></td></tr>
                        <tr><td class="hdr l od">class</td><td class="txt l od"><input value="{{ variables.class is defined ? variables.class }}" class="form-control" id="class" name="class" type="text" /></td></tr>
                        <tr><td class="hdr l od">hull pp</td><td class="txt l od"><input value="{{ variables.hull_pp is defined ? variables.hull_pp }}" class="form-control" id="hull_pp" name="hull_pp" type="text" /></td></tr>
                        {% if variables.cost is defined and variables.cost != '' %}<tr><td class="hdr l od">cost</td><td class="txt l od"><input value="{{ variables.cost is defined ? variables.cost }}" class="form-control" id="cost" name="cost" type="text" /></td></tr>{% endif %}
                        <tr><td class="hdr l od">length</td><td class="txt l od"><input value="{{ variables.length is defined ? variables.length }}" class="form-control" id="length" name="length" type="text" /></td></tr>
                        <tr><td class="hdr l od">width</td><td class="txt l od"><input value="{{ variables.width is defined ? variables.width }}" class="form-control" id="width" name="width" type="text" /></td></tr>
                        <tr><td class="hdr l od">depth</td><td class="txt l od"><input value="{{ variables.depth is defined ? variables.depth }}" class="form-control" id="depth" name="depth" type="text" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 hidden-xs hidden-sm hidden-md d-none d-md-block d-lg-block">
            <div class="card my-2 logo noborder" title="Bounty Hunter Logo"></div>
            WA Image ID for portrait: <input value="{{ variables.ship_portrait is defined ? variables.ship_portrait }}" class="form-control" id="ship_portrait" name="ship_portrait" type="number" />
        </div>
    </div>
    <div class="row d-flex align-items-start">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Ship Maintenance/Cargo</div>
                <div class="card-body">
                    <table width="100%">
                        <tr><td class="hdr l od">crew min/max</td><td class="txt l od"><input value="{{ variables.crew_min is defined ? variables.crew_min }}" class="form-control sm" id="crew_min" name="crew_min" type="text" /> / <input value="{{ variables.crew_max is defined ? variables.crew_max }}" class="form-control sm" id="crew_max" name="crew_max" type="text" /></td></tr>
                        <tr><td class="hdr l od">crew curr</td><td class="txt l od"><input value="{{ variables.crew_curr is defined ? variables.crew_curr }}" class="form-control sm" id="crew_curr" name="crew_curr" type="text" /></td></tr>
                        <tr><td class="hdr l od">upkeep</td><td class="txt l od"><input value="{{ variables.upkeep is defined ? variables.upkeep }}" class="form-control" id="upkeep" name="upkeep" type="text" /></td></tr>
                        <tr><td class="hdr l od">monthly crew cost</td><td class="txt l od"><input value="{{ variables.salary is defined ? variables.salary }}" class="form-control" id="salary" name="salary" type="text" /></td></tr>
                        <tr><td class="hdr l od">cargo curr / max</td><td class="txt l od"><input value="{{ variables.cargo_curr is defined ? variables.cargo_curr }}" class="form-control sm" id="cargo_curr" name="cargo_curr" type="text" /> / <input value="{{ variables.cargo_max is defined ? variables.cargo_max }}" class="form-control sm" id="cargo_max" name="cargo_max" type="text" /></td></tr>
                        <tr><td class="hdr l od">npc captain</td><td class="txt l od"><input value="{{ variables.npc_captain is defined ? variables.npc_captain }}" class="form-control" id="npc_captain" name="npc_captain" type="text" /></td></tr>
                        <tr><td class="hdr l od">npc helmsman</td><td class="txt l od"><input value="{{ variables.npc_helmsman is defined ? variables.npc_helmsman }}" class="form-control" id="npc_helmsman" name="npc_helmsman" type="text" /></td></tr>
                        <tr><td class="hdr l od">npc tactical</td><td class="txt l od"><input value="{{ variables.npc_tactical is defined ? variables.npc_tactical }}" class="form-control" id="npc_tactical" name="npc_tactical" type="text" /></td></tr>
                        <tr><td class="hdr l od">npc engineer</td><td class="txt l od"><input value="{{ variables.npc_engineer is defined ? variables.npc_engineer }}" class="form-control" id="npc_engineer" name="npc_engineer" type="text" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Ship Systems PP</div>
                <div class="card-body">
                    <table width="100%">
                        <tr><td class="hdr l od">Communications curr/max</td><td class="txt l od"><input value="{{ variables.cmp_comm_curr_pp is defined ? variables.cmp_comm_curr_pp }}" class="form-control sm" id="cmp_comm_curr_pp" name="cmp_comm_curr_pp" type="text" /> / <input value="{{ variables.cmp_comm_max_pp is defined ? variables.cmp_comm_max_pp }}" class="form-control sm" id="cmp_comm_max_pp" name="cmp_comm_max_pp" type="text" /></td></tr>
                        <tr><td class="hdr l od">Countermeasure curr/max</td><td class="txt l od"><input value="{{ variables.cmp_counter_curr_pp is defined ? variables.cmp_counter_curr_pp }}" class="form-control sm" id="cmp_counter_curr_pp" name="cmp_counter_curr_pp" type="text" /> / <input value="{{ variables.cmp_counter_max_pp is defined ? variables.cmp_counter_max_pp }}" class="form-control sm" id="cmp_counter_max_pp" name="cmp_counter_max_pp" type="text" /></td></tr>
                        <tr><td class="hdr l od">Dive Engine curr/max</td><td class="txt l od"><input value="{{ variables.cmp_dive_engine_curr_pp is defined ? variables.cmp_dive_engine_curr_pp }}" class="form-control sm" id="cmp_dive_engine_curr_pp" name="cmp_dive_engine_curr_pp" type="text" /> / <input value="{{ variables.cmp_dive_engine_max_pp is defined ? variables.cmp_dive_engine_max_pp }}" class="form-control sm" id="cmp_dive_engine_max_pp" name="cmp_dive_engine_max_pp" type="text" /></td></tr>
                        <tr><td class="hdr l od">Navigation curr/max</td><td class="txt l od"><input value="{{ variables.cmp_navigation_curr_pp is defined ? variables.cmp_navigation_curr_pp }}" class="form-control sm" id="cmp_navigation_curr_pp" name="cmp_navigation_curr_pp" type="text" /> / <input value="{{ variables.cmp_navigation_max_pp is defined ? variables.cmp_navigation_max_pp }}" class="form-control sm" id="cmp_navigation_max_pp" name="cmp_navigation_max_pp" type="text" /></td></tr>
                        <tr><td class="hdr l od">Life Support curr/max</td><td class="txt l od"><input value="{{ variables.cmp_life_support_curr_pp is defined ? variables.cmp_life_support_curr_pp }}" class="form-control sm" id="cmp_life_support_curr_pp" name="cmp_life_support_curr_pp" type="text" /> / <input value="{{ variables.cmp_life_support_max_pp is defined ? variables.cmp_life_support_max_pp }}" class="form-control sm" id="cmp_life_support_max_pp" name="cmp_life_support_max_pp" type="text" /></td></tr>
                        <tr><td class="hdr l od">Scanners curr/max</td><td class="txt l od"><input value="{{ variables.cmp_scanners_curr_pp is defined ? variables.cmp_scanners_curr_pp }}" class="form-control sm" id="cmp_scanners_curr_pp" name="cmp_scanners_curr_pp" type="text" /> / <input value="{{ variables.cmp_scanners_max_pp is defined ? variables.cmp_scanners_max_pp }}" class="form-control sm" id="cmp_scanners_max_pp" name="cmp_scanners_max_pp" type="text" /></td></tr>
                        <tr><td class="hdr l od">Transponder curr/max</td><td class="txt l od"><input value="{{ variables.cmp_transponder_curr_pp is defined ? variables.cmp_transponder_curr_pp }}" class="form-control sm" id="cmp_transponder_curr_pp" name="cmp_transponder_curr_pp" type="text" /> / <input value="{{ variables.cmp_transponder_max_pp is defined ? variables.cmp_transponder_max_pp }}" class="form-control sm" id="cmp_transponder_max_pp" name="cmp_transponder_max_pp" type="text" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-start">
        <div class="col-12 col-xs-12">
            <div class="card my-2 of">
                <div class="card-header head-bar">Weapons</div>
                <div class="card-body">
                    <table width="100%">
                        <tr>
                            <th class="att">curr/max pp</td>
                            <th class="att">system</th>
                            <th class="att">min target</th>
                            <th class="att">range</th>
                            <th class="att">damage</th>
                            <th class="att">x2 pp</th>
                        </tr>
                        {% for i in 1..15 %}{% set x = i %}{% if x < 10 %}{% set x = '0' ~ x %}{% endif %}
                            {{sheet.genWeapon(
                                x,
                                attribute( variables, 'wpn_curr_pp_'~x ),
                                attribute( variables, 'wpn_max_pp_'~x ),
                                attribute( variables, 'wpn_system_'~x ),
                                attribute( variables, 'wpn_desc_'~x ),
                                attribute( variables, 'wpn_min_target_'~x ),
                                attribute( variables, 'wpn_range_'~x ),
                                attribute( variables, 'wpn_damage_'~x ),
                                attribute( variables, 'wpn_x2_pp_'~x )
                            ) }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-start">
        <div class="col-12 col-xs-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Cargo</div>
                <div class="card-body">
                	<textarea class="form-control" id="cargo" name="cargo" rows="3">{{ variables.cargo is defined ? variables.cargo }}</textarea>
            	</div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes</div>
                <div class="card-body">
					<textarea class="form-control" id="notes" name="notes" rows="3">{{ variables.notes is defined ? variables.notes }}</textarea>
            	</div>
            </div>
        </div>
    </div>
</div>