{% import _self as sheet %}
{% macro genPills(curr, max, wil) %}{# ------------------------------------------------- #}
    {% if curr is defined and max is defined and max > 0 %}
    {% set row = 1 %}
        {% for i in 1..max %}
            {% set x = i %}
            {% if x < 10 %}{% set x = '0' ~ x %}{% endif %}
            {% if i <= curr %}
                <span class="solidpill">{{x}}</span>
            {% else %}
                <span class="emptypill">{{x}}</span>
            {% endif %}
            {% if i is divisible by(wil) %}<br>
                {% if row == 1 %}+1 TN per each:<br>{% endif %}
                {% set row = row + 1 %}
            {% endif %}
        {% endfor %} Unconscious
    {% endif %}
{% endmacro genPills %}
{% macro genMod(val) %}{# ------------------------------------------------- #}
{% set mod = 0 %}
{% if val < 2 %}{% set mod = 2 %}{% endif %}
{% if val < 4 %}{% set mod = 1 %}{% endif %}
{% if val > 6 %}{% set mod = -1 %}{% endif %}
{% if val > 9 %}{% set mod = -2 %}{% endif %}
{% if mod >= 0 %}{% set mod = '+' ~ mod %}{% endif %}
{{mod}}
{% endmacro genMod%}
{% macro genSkill(name, val) %}{# ------------------------------------------------- #}
{% if name is defined and name != '' %}<tr><td class="lbl l">{{name}}</td><td class="txt r">+{{val}}</td></tr>{% endif %}
{% endmacro genSkill %}
{% macro genTrait(name) %}{# ------------------------------------------------- #}
{%if name is defined and name != '' %}{{name}}<br>{% endif %}
{% endmacro genTrait %}
{% macro genHL(armor) %}{# ------------------------------------------------- #}
{%if armor is defined and armor != '' %}{% if armor == 'n'%}{% set armor ='-' %}{% endif %}{{armor|upper}}{% else %}-{% endif %}
{% endmacro genHL %}
{% macro genWeapon(name, ap_dmg, type, range, shots, notes) %}{# ------------------------------------------------- #}
{% if name is defined and name != '' %}<tr>
<td>{{name}}</td><td>{{ap_dmg}}</td><td>{{type}}</td><td>{{range}}</td><td>{{shots}}</td><td>{{notes}}</td>
</tr>{% endif %}
{% endmacro genWeapon %}
{% macro genArmor(id, name, m, b, e, x) %}{# ------------------------------------------------- #}
{% if name is defined and name != '' %}<tr><td>{{id|upper}}: {{name}}</td><td>{{m}}</td><td>{{b}}</td><td>{{e}}</td><td>{{x}}</td></tr>{% endif %}
{% endmacro genArmor %}
<div class="container-fluid bt3e-sheet">{# ------------------------------------------------- #}
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card my-2 of">
                    <div class="card-header head-bar">Personal</div>
                    <div class="card-body">
                        <table width=100%>
                        <tr><td class="lbl l">Name</td><td class="txt l">{% if variables.name is defined %}{{ variables.name}}{% endif %}</td></tr>
                        <tr><td class="lbl l">Age</td><td class="txt l">{% if variables.age is defined %}{{ variables.age}}{% endif %}</td></tr>
                        <tr><td class="lbl l">Affiliation</td><td class="txt l">{% if variables.affiliation is defined %}{{ variables.affiliation}}{% endif %}</td></tr>
                        <tr><td class="lbl l">Height</td><td class="txt l">{% if variables.height is defined %}{{ variables.height}}{% endif %}</td></tr>
                        <tr><td class="lbl l">Weight</td><td class="txt l">{% if variables.weight is defined %}{{ variables.weight}}{% endif %}</td></tr>
                        <tr><td class="lbl l">XP</td><td class="txt l">{% if variables.xp is defined %}{{ variables.xp}}{% endif %}</td></tr>
                        <tr><td class="lbl l">Movement</td><td class="txt l">
                            Walk: {% if variables.movement_w is defined %}{{ variables.movement_w}}{% endif %},
                            Run: {% if variables.movement_r is defined %}{{ variables.movement_r}}{% endif %},
                            Sprint: {% if variables.movement_s is defined %}{{ variables.movement_s}}{% endif %}
                        </td></tr>
                        </table>
                    </div>
                </div>
                <div class="card my-2 of">
                    <div class="card-header head-bar">Traits</div>
                    <div class="card-body pd10">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{ sheet.genTrait(variables.trait_01) }}
                                {{ sheet.genTrait(variables.trait_03) }}
                                {{ sheet.genTrait(variables.trait_05) }}
                                {{ sheet.genTrait(variables.trait_07) }}
                                {{ sheet.genTrait(variables.trait_09) }}
                                {{ sheet.genTrait(variables.trait_11) }}
                                {{ sheet.genTrait(variables.trait_13) }}
                                {{ sheet.genTrait(variables.trait_15) }}
                                {{ sheet.genTrait(variables.trait_17) }}
                                {{ sheet.genTrait(variables.trait_19) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ sheet.genTrait(variables.trait_02) }}
                                {{ sheet.genTrait(variables.trait_04) }}
                                {{ sheet.genTrait(variables.trait_06) }}
                                {{ sheet.genTrait(variables.trait_08) }}
                                {{ sheet.genTrait(variables.trait_10) }}
                                {{ sheet.genTrait(variables.trait_12) }}
                                {{ sheet.genTrait(variables.trait_14) }}
                                {{ sheet.genTrait(variables.trait_16) }}
                                {{ sheet.genTrait(variables.trait_18) }}
                                {{ sheet.genTrait(variables.trait_20) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="logo noback my-2 hidden-md hidden-xs hidden-sm d-none d-lg-block"></div>
                <div class="card my-2 of">
                    <div class="card-header head-bar">Attributes</div>
                    <div class="card-body">
                        <table width=100%>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Value</th>
                                <th>Mod</th>
                                <th>Max</th>
                            </tr>
                            <tr>
                                <td class="lbl r">Strength</td>
                                <td class="txt c">{% if variables.strength_value is defined %}{{ variables.strength_value}}{% endif %}</td>
                                <td class="txt c">{{ sheet.genMod(variables.strength_value) }}</td>
                                <td class="txt c">{% if variables.strength_max is defined %}{{ variables.strength_max}}{% endif %}</td>
                            </tr><tr>
                                <td class="lbl r">Body</td>
                                <td class="txt c">{% if variables.body_value is defined %}{{ variables.body_value}}{% endif %}</td>
                                <td class="txt c">{{ sheet.genMod(variables.body_value) }}</td>
                                <td class="txt c">{% if variables.body_max is defined %}{{ variables.body_max}}{% endif %}</td>
                            </tr><tr>
                                <td class="lbl r">Dexterity</td>
                                <td class="txt c">{% if variables.dexterity_value is defined %}{{ variables.dexterity_value}}{% endif %}</td>
                                <td class="txt c">{{ sheet.genMod(variables.dexterity_value) }}</td>
                                <td class="txt c">{% if variables.dexterity_max is defined %}{{ variables.dexterity_max}}{% endif %}</td>
                            </tr><tr>
                                <td class="lbl r">Reflexes</td>
                                <td class="txt c">{% if variables.reflexes_value is defined %}{{ variables.reflexes_value}}{% endif %}</td>
                                <td class="txt c">{{ sheet.genMod(variables.reflexes_value) }}</td>
                                <td class="txt c">{% if variables.reflexes_max is defined %}{{ variables.reflexes_max}}{% endif %}</td>
                            </tr><tr>
                                <td class="lbl r">Intelligence</td>
                                <td class="txt c">{% if variables.intelligence_value is defined %}{{ variables.intelligence_value}}{% endif %}</td>
                                <td class="txt c">{{ sheet.genMod(variables.intelligence_value) }}</td>
                                <td class="txt c">{% if variables.intelligence_max is defined %}{{ variables.intelligence_max}}{% endif %}</td>
                            </tr><tr>
                                <td class="lbl r">Willpower</td>
                                <td class="txt c">{% if variables.willpower_value is defined %}{{ variables.willpower_value}}{% endif %}</td>
                                <td class="txt c">{{ sheet.genMod(variables.willpower_value) }}</td>
                                <td class="txt c">{% if variables.willpower_max is defined %}{{ variables.willpower_max}}{% endif %}</td>
                            </tr><tr>
                                <td class="lbl r">Charisma</td>
                                <td class="txt c">{% if variables.charisma_value is defined %}{{ variables.charisma_value}}{% endif %}</td>
                                <td class="txt c">{{ sheet.genMod(variables.charisma_value) }}</td>
                                <td class="txt c">{% if variables.charisma_max is defined %}{{ variables.charisma_max}}{% endif %}</td>
                            </tr><tr>
                                <td class="lbl r">Edge</td>
                                <td class="txt c">{% if variables.edge_value is defined %}{{ variables.edge_value}}{% endif %}</td>
                                <td class="txt c">{{ sheet.genMod(variables.edge_value) }}</td>
                                <td class="txt c">{% if variables.edge_max is defined %}{{ variables.edge_max}}{% endif %}</td>
                            </tr><tr>
                                <td class="lbl r">Social Standing</td>
                                <td class="txt c">{% if variables.social_standing_value is defined %}{{ variables.social_standing_value}}{% endif %}</td>
                                <td class="txt c">{{ sheet.genMod(variables.social_standing_value) }}</td>
                                <td class="txt c">{% if variables.social_standing_max is defined %}{{ variables.social_standing_max}}{% endif %}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card my-2 of">
                    <div class="card-header head-bar">Weapons</div>
                    <div class="card-body">
                        <table width=100%>
                            <tr>
                                <th>Name</th>
                                <th>AP/DMG</th>
                                <th>Type</th>
                                <th>Range</th>
                                <th>Shots</th>
                                <th>Notes</th>
                            </tr>
                            {{ sheet.genWeapon(variables.weapon_name_01, variables.weapon_ap_dmg_01, variables.weapon_type_01, variables.weapon_range_01, variables.weapon_shots_01, variables.weapon_notes_01) }}
                            {{ sheet.genWeapon(variables.weapon_name_02, variables.weapon_ap_dmg_02, variables.weapon_type_02, variables.weapon_range_02, variables.weapon_shots_02, variables.weapon_notes_02) }}
                            {{ sheet.genWeapon(variables.weapon_name_03, variables.weapon_ap_dmg_03, variables.weapon_type_03, variables.weapon_range_03, variables.weapon_shots_03, variables.weapon_notes_03) }}
                            {{ sheet.genWeapon(variables.weapon_name_04, variables.weapon_ap_dmg_04, variables.weapon_type_04, variables.weapon_range_04, variables.weapon_shots_04, variables.weapon_notes_04) }}
                            {{ sheet.genWeapon(variables.weapon_name_05, variables.weapon_ap_dmg_05, variables.weapon_type_05, variables.weapon_range_05, variables.weapon_shots_05, variables.weapon_notes_05) }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-12 col-md-6">
                <div class="card my-2 of">
                    <div class="card-header head-bar">Armor<br></div>
                    <div class="card-body">
                        <table width=100%>
                            <tr>
                                <th>Name</th>
                                <th title="Melee">M</th>
                                <th title="Ballistic">B</th>
                                <th title="Energy">E</th>
                                <th title="Explosive">X</th>
                            </tr>
                            {{ sheet.genArmor("a", variables.armor_a_name, variables.armor_a_m, variables.armor_a_b, variables.armor_a_e, variables.armor_a_x) }}
                            {{ sheet.genArmor("b", variables.armor_b_name, variables.armor_b_m, variables.armor_b_b, variables.armor_b_e, variables.armor_b_x) }}
                            {{ sheet.genArmor("c", variables.armor_c_name, variables.armor_c_m, variables.armor_c_b, variables.armor_c_e, variables.armor_c_x) }}
                            {{ sheet.genArmor("d", variables.armor_d_name, variables.armor_d_m, variables.armor_d_b, variables.armor_d_e, variables.armor_d_x) }}
                        </table>
                    </div>
                </div>
                <div class="card my-2 of">
                    <div class="card-header head-bar">Wounds &amp; Fatigue</div>
                    <div class="card-body c">
                        Fatigue: {{variables.fatigue ?? 0 }}<br>
                        {{ sheet.genPills( variables.fatigue, variables.willpower_value * 2 + 1, variables.willpower_value ) }}<br>
                        {% set wl_total = variables.wounds_1 + variables.wounds_2 * 2 + variables.wounds_4 * 4 + variables.wounds_8 * 8 + variables.wounds_16 * 16 %}
                        <table width=100%>
                            <tr><td class="lbl l">Grazing Wounds</td><td class="txt r">WV 1</td><td class="txt r">{{ variables.wounds_1 ?? '-' }}</td></tr>
                            <tr><td class="lbl l">Minor Wounds</td><td class="txt r">WV 2, +1 TN each</td><td class="txt r">{{ variables.wounds_2 ?? '-' }}</td></tr>
                            <tr><td class="lbl l">Serious Wounds</td><td class="txt r">WV 4, +2 TN each</td><td class="txt r">{{ variables.wounds_4 ?? '-' }}</td></tr>
                            <tr><td class="lbl l">Critical Wounds</td><td class="txt r">WV 8, +3 TN each</td><td class="txt r">{{ variables.wounds_8 ?? '-' }}</td></tr>
                            <tr><td class="lbl l">Deadly Wounds </td><td class="txt r">WV 16, Knockout</td><td class="txt r">{{ variables.wounds_16 ?? '-' }}</td></tr>
                            <tr><td class="hdr l">Total Wound Value</td><td class="hdr r">if &gt; {{ variables.body_value + variables.willpower_value }}: dying</td><td class="hdr r">{{ wl_total }}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card my-2 of">
                    <div class="card-header head-bar">Hit Locations<br></div>
                    <div class="card-body">
                        <table width=100%>
                            <tr>
                                <th class="lbl c">Hit Location</th>
                                <th class="lbl c">[roll:2d10]</th>
                                <th class="lbl c">Armor</th>
                                <th class="lbl c">Wounds</th>
                            </tr>
                            <tr><td class="lbl c">Head</td><td class="txt c">20</td><td class="txt c">{{ sheet.genHL(variables.hl_head) }}</td>
                                <td class="txt c">{{ variables.wounds_head }}</td>
                            </tr>
                            <tr><td class="lbl c">Right Foot</td><td class="txt c">19</td><td class="txt c">{{ sheet.genHL(variables.hl_rfoot) }}</td>
                                <td class="txt c">{{ variables.wounds_rfoot }}</td>
                            </tr>
                            <tr><td class="lbl c">Right Leg</td><td class="txt c">17-18</td><td class="txt c">{{ sheet.genHL(variables.hl_rleg) }}</td>
                                <td class="txt c">{{ variables.wounds_rleg }}</td>
                            </tr>
                            <tr><td class="lbl c">Right Hand</td><td class="txt c">16</td><td class="txt c">{{ sheet.genHL(variables.hl_rhand) }}</td>
                                <td class="txt c">{{ variables.wounds_rhand }}</td>
                            </tr>
                            <tr><td class="lbl c">Right Arm</td><td class="txt c">14-15</td><td class="txt c">{{ sheet.genHL(variables.hl_rarm) }}</td>
                                <td class="txt c">{{ variables.wounds_rarm }}</td>
                            </tr>
                            <tr><td class="lbl c">Abdomen</td><td class="txt c">12-13</td><td class="txt c">{{ sheet.genHL(variables.hl_abdomen) }}</td>
                                <td class="txt c">{{ variables.wounds_abdomen }}</td>
                            </tr>
                            <tr><td class="lbl c">Chest</td><td class="txt c">9-11</td><td class="txt c">{{ sheet.genHL(variables.hl_chest) }}</td>
                                <td class="txt c">{{ variables.wounds_chest }}</td>
                            </tr>
                            <tr><td class="lbl c">Left Arm</td><td class="txt c">7-8</td><td class="txt c">{{ sheet.genHL(variables.hl_larm) }}</td>
                                <td class="txt c">{{ variables.wounds_larm }}</td>
                            </tr>
                            <tr><td class="lbl c">Left Hand</td><td class="txt c">6</td><td class="txt c">{{ sheet.genHL(variables.hl_lhand) }}</td>
                                <td class="txt c">{{ variables.wounds_lhand }}</td>
                            </tr>
                            <tr><td class="lbl c">Left Leg</td><td class="txt c">4-5</td><td class="txt c">{{ sheet.genHL(variables.hl_lleg) }}</td>
                                <td class="txt c">{{ variables.wounds_lleg }}</td>
                            </tr>
                            <tr><td class="lbl c">Left Foot</td><td class="txt c">3</td><td class="txt c">{{ sheet.genHL(variables.hl_lfoot) }}</td>
                                <td class="txt c">{{ variables.wounds_lfoot }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card my-2 of">
                    <div class="card-header head-bar">Skills</div>
                    <div class="card-body">
                        <table width=100%>
                            <tr>
                                <th>Skill</th>
                                <th>Bonus</th>
                            </tr>
                            {{ sheet.genSkill(variables.skill_name_01, variables.skill_bonus_01) }}
                            {{ sheet.genSkill(variables.skill_name_02, variables.skill_bonus_02) }}
                            {{ sheet.genSkill(variables.skill_name_03, variables.skill_bonus_03) }}
                            {{ sheet.genSkill(variables.skill_name_04, variables.skill_bonus_04) }}
                            {{ sheet.genSkill(variables.skill_name_05, variables.skill_bonus_05) }}
                            {{ sheet.genSkill(variables.skill_name_06, variables.skill_bonus_06) }}
                            {{ sheet.genSkill(variables.skill_name_07, variables.skill_bonus_07) }}
                            {{ sheet.genSkill(variables.skill_name_08, variables.skill_bonus_08) }}
                            {{ sheet.genSkill(variables.skill_name_09, variables.skill_bonus_09) }}
                            {{ sheet.genSkill(variables.skill_name_10, variables.skill_bonus_10) }}
                            {{ sheet.genSkill(variables.skill_name_11, variables.skill_bonus_11) }}
                            {{ sheet.genSkill(variables.skill_name_12, variables.skill_bonus_12) }}
                            {{ sheet.genSkill(variables.skill_name_13, variables.skill_bonus_13) }}
                            {{ sheet.genSkill(variables.skill_name_14, variables.skill_bonus_14) }}
                            {{ sheet.genSkill(variables.skill_name_15, variables.skill_bonus_15) }}
                            {{ sheet.genSkill(variables.skill_name_16, variables.skill_bonus_16) }}
                            {{ sheet.genSkill(variables.skill_name_17, variables.skill_bonus_17) }}
                            {{ sheet.genSkill(variables.skill_name_18, variables.skill_bonus_18) }}
                            {{ sheet.genSkill(variables.skill_name_19, variables.skill_bonus_19) }}
                            {{ sheet.genSkill(variables.skill_name_20, variables.skill_bonus_20) }}
                            {{ sheet.genSkill(variables.skill_name_21, variables.skill_bonus_21) }}
                            {{ sheet.genSkill(variables.skill_name_22, variables.skill_bonus_22) }}
                            {{ sheet.genSkill(variables.skill_name_23, variables.skill_bonus_23) }}
                            {{ sheet.genSkill(variables.skill_name_24, variables.skill_bonus_24) }}
                            {{ sheet.genSkill(variables.skill_name_25, variables.skill_bonus_25) }}
                            {{ sheet.genSkill(variables.skill_name_26, variables.skill_bonus_26) }}
                            {{ sheet.genSkill(variables.skill_name_27, variables.skill_bonus_27) }}
                            {{ sheet.genSkill(variables.skill_name_28, variables.skill_bonus_28) }}
                            {{ sheet.genSkill(variables.skill_name_29, variables.skill_bonus_29) }}
                            {{ sheet.genSkill(variables.skill_name_30, variables.skill_bonus_30) }}
                            {{ sheet.genSkill(variables.skill_name_31, variables.skill_bonus_31) }}
                            {{ sheet.genSkill(variables.skill_name_32, variables.skill_bonus_32) }}
                            {{ sheet.genSkill(variables.skill_name_33, variables.skill_bonus_33) }}
                            {{ sheet.genSkill(variables.skill_name_34, variables.skill_bonus_34) }}
                            {{ sheet.genSkill(variables.skill_name_35, variables.skill_bonus_35) }}
                            {{ sheet.genSkill(variables.skill_name_36, variables.skill_bonus_36) }}
                            {{ sheet.genSkill(variables.skill_name_37, variables.skill_bonus_37) }}
                            {{ sheet.genSkill(variables.skill_name_38, variables.skill_bonus_38) }}
                            {{ sheet.genSkill(variables.skill_name_39, variables.skill_bonus_39) }}
                            {{ sheet.genSkill(variables.skill_name_40, variables.skill_bonus_40) }}
                            {{ sheet.genSkill(variables.skill_name_41, variables.skill_bonus_41) }}
                            {{ sheet.genSkill(variables.skill_name_42, variables.skill_bonus_42) }}
                            {{ sheet.genSkill(variables.skill_name_43, variables.skill_bonus_43) }}
                            {{ sheet.genSkill(variables.skill_name_44, variables.skill_bonus_44) }}
                            {{ sheet.genSkill(variables.skill_name_45, variables.skill_bonus_45) }}
                            {{ sheet.genSkill(variables.skill_name_46, variables.skill_bonus_46) }}
                            {{ sheet.genSkill(variables.skill_name_47, variables.skill_bonus_47) }}
                            {{ sheet.genSkill(variables.skill_name_48, variables.skill_bonus_48) }}
                            {{ sheet.genSkill(variables.skill_name_49, variables.skill_bonus_49) }}
                            {{ sheet.genSkill(variables.skill_name_50, variables.skill_bonus_50) }}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Equipment<br></div>
                <div class="card-body pd10">
                {{ variables.equipment is defined ? variables.equipment|nl2br }}
                </div>
            </div>
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes<br></div>
                <div class="card-body pd10">
                {{ variables.notes is defined ? variables.notes|nl2br }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <small>
                    Classic BattleTech: RPG™ is a trademark of WizKids LLC.© 2006 WizKids LLC.<br><a href="/w/sheet-creation/a/sheet-list">Classic BattleTech: RPG 3e Character Sheet v1.0</a>, made by Tillerz#3807 - Updated: 2020-10-31
            </small>
        </div>
    </div>
</div>