{% import _self as sheet %}
{% macro genMod(val) %}
{% set mod = 0 %}
{% if val < 2 %}{% set mod = 2 %}{% endif %}
{% if val < 4 %}{% set mod = 1 %}{% endif %}
{% if val > 6 %}{% set mod = -1 %}{% endif %}
{% if val > 9 %}{% set mod = -2 %}{% endif %}
{% if mod >= 0 %}{% set mod = '+' ~ mod %}{% endif %}
{{mod}}
{% endmacro genMod%}
{% macro genSkill(id, name, bonus) %}<tr><td class="lbl l"><input value="{{ name }}" class="form-control" id="skill_name_{{id}}" name="skill_name_{{id}}" type="text" /></td><td class="txt r">
<select class="form-control" id="skill_bonus_{{id}}" name="skill_bonus_{{id}}">
<option value="0" {% if bonus == "0" %}selected="selected" {% endif %} >+0</option>
<option value="1" {% if bonus == "1" %}selected="selected" {% endif %} >+1</option>
<option value="2" {% if bonus == "2" %}selected="selected" {% endif %} >+2</option>
<option value="3" {% if bonus == "3" %}selected="selected" {% endif %} >+3</option>
<option value="4" {% if bonus == "4" %}selected="selected" {% endif %} >+4</option>
<option value="5" {% if bonus == "5" %}selected="selected" {% endif %} >+5</option>
<option value="6" {% if bonus == "6" %}selected="selected" {% endif %} >+6</option>
<option value="7" {% if bonus == "7" %}selected="selected" {% endif %} >+7</option>
<option value="8" {% if bonus == "8" %}selected="selected" {% endif %} >+8</option>
<option value="9" {% if bonus == "9" %}selected="selected" {% endif %} >+9</option>
<option value="10" {% if bonus == "10" %}selected="selected" {% endif %} >+10</option>
</select></td></tr>{% endmacro genSkill %}
{% macro genTrait(id, name) %}<input value="{{ name }}" class="form-control" id="trait_{{id}}" name="trait_{{id}}" type="text" /><br>{% endmacro genTrait %}
{% macro genWeapon(id, name, ap_dmg, type, range, shots, notes) %}<tr>
<td><input value="{{ name }}" class="form-control" id="weapon_name_{{id}}" name="weapon_name_{{id}}" type="text" /></td>
<td><input value="{{ ap_dmg }}" class="form-control" id="weapon_ap_dmg_{{id}}" name="weapon_ap_dmg_{{id}}" type="text" /></td>
<td><select class="form-control" id="weapon_type_{{id}}" name="weapon_type_{{id}}">
<option value="melee" {% if type == "melee" %}selected="selected" {% endif %} >melee</option>
<option value="ballistic" {% if type == "ballistic" %}selected="selected" {% endif %} >ballistic</option>
<option value="energy" {% if type == "energy" %}selected="selected" {% endif %} >energy</option>
<option value="explosive" {% if type == "explosive" %}selected="selected" {% endif %} >explosive</option>
</select></td>
<td><input value="{{ range }}" class="form-control" id="weapon_range_{{id}}" name="weapon_range_{{id}}" type="text" /></td>
<td><input value="{{ shots }}" class="form-control" id="weapon_shots_{{id}}" name="weapon_shots_{{id}}" type="number" /></td>
<td><input value="{{ notes }}" class="form-control" id="weapon_notes_{{id}}" name="weapon_notes_{{id}}" type="text" /></td>
</tr>{% endmacro genWeapon %}
{% macro genArmor(id, name, m, b, e, x) %}<tr>
<td>{{id|upper}}: <input value="{{ name }}" class="form-control" id="armor_{{id}}_name" name="armor_{{id}}_name" type="text" /></td>
<td><input value="{{ m }}" class="form-control" id="armor_{{id}}_m" name="armor_{{id}}_m" type="number" /></td>
<td><input value="{{ b }}" class="form-control" id="armor_{{id}}_b" name="armor_{{id}}_b" type="number" /></td>
<td><input value="{{ e }}" class="form-control" id="armor_{{id}}_e" name="armor_{{id}}_e" type="number" /></td>
<td><input value="{{ x }}" class="form-control" id="armor_{{id}}_x" name="armor_{{id}}_x" type="number" /></td>
</tr>{% endmacro genArmor %}
<div class="container-fluid bt3e-sheet">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card my-2">
                    <div class="card-header head-bar">Personal</div>
                    <div class="card-body">
                        <table width=100%>
                        <tr><td class="lbl l">Name</td><td class="txt l"><input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the character" type="text" /></td></tr>
                        <tr><td class="lbl l">Age</td><td class="txt l"><input value="{{ variables.age is defined ? variables.age }}" class="form-control" id="age" name="age" type="number" /></td></tr>
                        <tr><td class="lbl l">Affiliation</td><td class="txt l"><input value="{{ variables.affiliation is defined ? variables.affiliation }}" class="form-control" id="affiliation" name="affiliation" type="text" /></td></tr>
                        <tr><td class="lbl l">Height</td><td class="txt l"><input value="{{ variables.height is defined ? variables.height }}" class="form-control" id="height" name="height" type="text" /></td></tr>
                        <tr><td class="lbl l">Weight</td><td class="txt l"><input value="{{ variables.weight is defined ? variables.weight }}" class="form-control" id="weight" name="weight" type="text" /></td></tr>
                        <tr><td class="lbl l">XP</td><td class="txt l"><input value="{{ variables.xp is defined ? variables.xp }}" class="form-control" id="xp" name="xp" type="number" /></td></tr>
                        <tr><td class="lbl l">Movement</td><td class="txt l">
                            Walk: <input value="{{ variables.movement_w is defined ? variables.movement_w }}" class="form-control" id="movement_w" name="movement_w" type="number" />
                            Run: <input value="{{ variables.movement_r is defined ? variables.movement_r }}" class="form-control" id="movement_r" name="movement_r" type="number" />
                            Sprint: <input value="{{ variables.movement_s is defined ? variables.movement_s }}" class="form-control" id="movement_s" name="movement_s" type="number" />
                        </td></tr>
                        </table>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header head-bar">Traits</div>
                    <div class="card-body pd10">
                        {{ sheet.genTrait("01", variables.trait_01) }}
                        {{ sheet.genTrait("02", variables.trait_02) }}
                        {{ sheet.genTrait("03", variables.trait_03) }}
                        {{ sheet.genTrait("04", variables.trait_04) }}
                        {{ sheet.genTrait("05", variables.trait_05) }}
                        {{ sheet.genTrait("06", variables.trait_06) }}
                        {{ sheet.genTrait("07", variables.trait_07) }}
                        {{ sheet.genTrait("08", variables.trait_08) }}
                        {{ sheet.genTrait("09", variables.trait_09) }}
                        {{ sheet.genTrait("10", variables.trait_10) }}
                        {{ sheet.genTrait("11", variables.trait_11) }}
                        {{ sheet.genTrait("12", variables.trait_12) }}
                        {{ sheet.genTrait("13", variables.trait_13) }}
                        {{ sheet.genTrait("14", variables.trait_14) }}
                        {{ sheet.genTrait("15", variables.trait_15) }}
                        {{ sheet.genTrait("16", variables.trait_16) }}
                        {{ sheet.genTrait("17", variables.trait_17) }}
                        {{ sheet.genTrait("18", variables.trait_18) }}
                        {{ sheet.genTrait("19", variables.trait_19) }}
                        {{ sheet.genTrait("20", variables.trait_20) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="logo noback my-2"></div>
                <div class="card my-2">
                    <div class="card-header head-bar">Attributes</div>
                    <div class="card-body">
                        <table width=100%>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Value</th>
                                <th>Mod</th>
                                <th>Max</th>
                            </tr>
                            <tr>
                                <td class="lbl r">Strength</td>
                                <td class="txt c"><input value="{{ variables.strength_value is defined ? variables.strength_value }}" class="form-control" id="strength_value" name="strength_value" type="number" min="1" max="10" /></td>
                                <td class="txt c">{{ sheet.genMod(variables.strength_value) }}</td>
                                <td class="txt c"><input value="{{ variables.strength_max is defined ? variables.strength_max }}" class="form-control" id="strength_max" name="strength_max" type="number" /></td>
                            </tr><tr>
                                <td class="lbl r">Body</td>
                                <td class="txt c"><input value="{{ variables.body_value is defined ? variables.body_value }}" class="form-control" id="body_value" name="body_value" type="number" min="1" max="10" /></td>
                                <td class="txt c">{{ sheet.genMod(variables.body_value) }}</td>
                                <td class="txt c"><input value="{{ variables.body_max is defined ? variables.body_max }}" class="form-control" id="body_max" name="body_max" type="number" /></td>
                            </tr><tr>
                                <td class="lbl r">Dexterity</td>
                                <td class="txt c"><input value="{{ variables.dexterity_value is defined ? variables.dexterity_value }}" class="form-control" id="dexterity_value" name="dexterity_value" type="number" min="1" max="10" /></td>
                                <td class="txt c">{{ sheet.genMod(variables.dexterity_value) }}</td>
                                <td class="txt c"><input value="{{ variables.dexterity_max is defined ? variables.dexterity_max }}" class="form-control" id="dexterity_max" name="dexterity_max" type="number" /></td>
                            </tr><tr>
                                <td class="lbl r">Reflexes</td>
                                <td class="txt c"><input value="{{ variables.reflexes_value is defined ? variables.reflexes_value }}" class="form-control" id="reflexes_value" name="reflexes_value" type="number" min="1" max="10" /></td>
                                <td class="txt c">{{ sheet.genMod(variables.reflexes_value) }}</td>
                                <td class="txt c"><input value="{{ variables.reflexes_max is defined ? variables.reflexes_max }}" class="form-control" id="reflexes_max" name="reflexes_max" type="number" /></td>
                            </tr><tr>
                                <td class="lbl r">Intelligence</td>
                                <td class="txt c"><input value="{{ variables.intelligence_value is defined ? variables.intelligence_value }}" class="form-control" id="intelligence_value" name="intelligence_value" type="number" min="1" max="10" /></td>
                                <td class="txt c">{{ sheet.genMod(variables.intelligence_value) }}</td>
                                <td class="txt c"><input value="{{ variables.intelligence_max is defined ? variables.intelligence_max }}" class="form-control" id="intelligence_max" name="intelligence_max" type="number" /></td>
                            </tr><tr>
                                <td class="lbl r">Willpower</td>
                                <td class="txt c"><input value="{{ variables.willpower_value is defined ? variables.willpower_value }}" class="form-control" id="willpower_value" name="willpower_value" type="number" min="1" max="10" /></td>
                                <td class="txt c">{{ sheet.genMod(variables.willpower_value) }}</td>
                                <td class="txt c"><input value="{{ variables.willpower_max is defined ? variables.willpower_max }}" class="form-control" id="willpower_max" name="willpower_max" type="number" /></td>
                            </tr><tr>
                                <td class="lbl r">Charisma</td>
                                <td class="txt c"><input value="{{ variables.charisma_value is defined ? variables.charisma_value }}" class="form-control" id="charisma_value" name="charisma_value" type="number" min="1" max="10" /></td>
                                <td class="txt c">{{ sheet.genMod(variables.charisma_value) }}</td>
                                <td class="txt c"><input value="{{ variables.charisma_max is defined ? variables.charisma_max }}" class="form-control" id="charisma_max" name="charisma_max" type="number" /></td>
                            </tr><tr>
                                <td class="lbl r">Edge</td>
                                <td class="txt c"><input value="{{ variables.edge_value is defined ? variables.edge_value }}" class="form-control" id="edge_value" name="edge_value" type="number" min="1" max="10" /></td>
                                <td class="txt c">{{ sheet.genMod(variables.edge_value) }}</td>
                                <td class="txt c"><input value="{{ variables.edge_max is defined ? variables.edge_max }}" class="form-control" id="edge_max" name="edge_max" type="number" /></td>
                            </tr><tr>
                                <td class="lbl r">Social Standing</td>
                                <td class="txt c"><input value="{{ variables.social_standing_value is defined ? variables.social_standing_value }}" class="form-control" id="social_standing_value" name="social_standing_value" type="number" min="1" max="10" /></td>
                                <td class="txt c">{{ sheet.genMod(variables.social_standing_value) }}</td>
                                <td class="txt c"><input value="{{ variables.social_standing_max is defined ? variables.social_standing_max }}" class="form-control" id="social_standing_max" name="social_standing_max" type="number" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card my-2">
                    <div class="card-header head-bar">Weapons</div>
                    <div class="card-body">
                        <table width=100%>
                            <tr>
                                <th>Name</th>
                                <th>AP/DMG</th>
                                <th>Type</th>
                                <th>Range</th>
                                <th>Shots</th>
                                <th>Notes</th>
                            </tr>
                            {{ sheet.genWeapon("01", variables.weapon_name_01, variables.weapon_ap_dmg_01, variables.weapon_type_01, variables.weapon_range_01, variables.weapon_shots_01, variables.weapon_notes_01) }}
                            {{ sheet.genWeapon("02", variables.weapon_name_02, variables.weapon_ap_dmg_02, variables.weapon_type_02, variables.weapon_range_02, variables.weapon_shots_02, variables.weapon_notes_02) }}
                            {{ sheet.genWeapon("03", variables.weapon_name_03, variables.weapon_ap_dmg_03, variables.weapon_type_03, variables.weapon_range_03, variables.weapon_shots_03, variables.weapon_notes_03) }}
                            {{ sheet.genWeapon("04", variables.weapon_name_04, variables.weapon_ap_dmg_04, variables.weapon_type_04, variables.weapon_range_04, variables.weapon_shots_04, variables.weapon_notes_04) }}
                            {{ sheet.genWeapon("05", variables.weapon_name_05, variables.weapon_ap_dmg_05, variables.weapon_type_05, variables.weapon_range_05, variables.weapon_shots_05, variables.weapon_notes_05) }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card my-2">
                    <div class="card-header head-bar">Armor<br></div>
                    <div class="card-body">
                        <table width=100%>
                            <tr>
                                <th>Name</th>
                                <th title="Melee">M</th>
                                <th title="Ballistic">B</th>
                                <th title="Energy">E</th>
                                <th title="Explosive">X</th>
                            </tr>
                            {{ sheet.genArmor("a", variables.armor_a_name, variables.armor_a_m, variables.armor_a_b, variables.armor_a_e, variables.armor_a_x) }}
                            {{ sheet.genArmor("b", variables.armor_b_name, variables.armor_b_m, variables.armor_b_b, variables.armor_b_e, variables.armor_b_x) }}
                            {{ sheet.genArmor("c", variables.armor_c_name, variables.armor_c_m, variables.armor_c_b, variables.armor_c_e, variables.armor_c_x) }}
                            {{ sheet.genArmor("d", variables.armor_d_name, variables.armor_d_m, variables.armor_d_b, variables.armor_d_e, variables.armor_d_x) }}
                        </table>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header head-bar">Wounds &amp; Fatigue</div>
                    <div class="card-body">
                        Fatigue: <input value="{{ variables.fatigue is defined ? variables.fatigue }}" class="form-control" id="fatigue" name="fatigue" placeholder="" type="number" /><br>
                        {% set wl_total = variables.wounds_1 + variables.wounds_2 * 2 + variables.wounds_4 * 4 + variables.wounds_8 * 8 + variables.wounds_16 * 16 %}
                        <table width=100%>
                            <tr><td class="lbl l">Grazing Wounds (WV 1)</td><td><input value="{{ variables.wounds_1 is defined ? variables.wounds_1 }}" class="form-control r" id="wounds_1" name="wounds_1" placeholder="" type="number" /></td></tr>
                            <tr><td class="lbl l">Minor Wounds (WV 2)</td><td><input value="{{ variables.wounds_2 is defined ? variables.wounds_2 }}" class="form-control r" id="wounds_2" name="wounds_2" placeholder="" type="number" /></td></tr>
                            <tr><td class="lbl l">Serious Wounds (WV 4)</td><td><input value="{{ variables.wounds_4 is defined ? variables.wounds_4 }}" class="form-control r" id="wounds_4" name="wounds_4" placeholder="" type="number" /></td></tr>
                            <tr><td class="lbl l">Critical Wounds (WV 8)</td><td><input value="{{ variables.wounds_8 is defined ? variables.wounds_8 }}" class="form-control r" id="wounds_8" name="wounds_8" placeholder="" type="number" /></td></tr>
                            <tr><td class="lbl l">Deadly Wounds (WV 16)</td><td><input value="{{ variables.wounds_16 is defined ? variables.wounds_16 }}" class="form-control r" id="wounds_16" name="wounds_16" placeholder="" type="number" /></td></tr>
                            <tr><td class="lbl l">Total Wound Value</td><td class="hdr r">{{ wl_total }}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card my-2">
                    <div class="card-header head-bar">Hit Locations<br></div>
                    <div class="card-body">
                    <table width=100%>
                        <tr>
                            <th class="lbl c">Hit Location</th>
                            <th class="lbl c">2d10</th>
                            <th class="lbl c">Armor</th>
                            <th class="lbl c">Wounds</th>
                        </tr>
                        <tr><td class="lbl c">Head</td><td class="txt c">20</td><td class="txt c">                
                            <select class="form-control"  id="hl_head" name="hl_head">
                                <option value="n" {% if variables.hl_head is defined and variables.hl_head == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_head is defined and variables.hl_head == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_head is defined and variables.hl_head == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_head is defined and variables.hl_head == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_head is defined and variables.hl_head == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_head is defined ? variables.wounds_head }}"  class="form-control"  id="wounds_head" name="wounds_head" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Right Foot</td><td class="txt c">19</td><td class="txt c">                
                            <select class="form-control"  id="hl_rfoot" name="hl_rfoot">
                                <option value="n" {% if variables.hl_rfoot is defined and variables.hl_rfoot == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_rfoot is defined and variables.hl_rfoot == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_rfoot is defined and variables.hl_rfoot == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_rfoot is defined and variables.hl_rfoot == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_rfoot is defined and variables.hl_rfoot == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_rfoot is defined ? variables.wounds_rfoot }}"  class="form-control"  id="wounds_rfoot" name="wounds_rfoot" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Right Leg</td><td class="txt c">17-18</td><td class="txt c">                
                            <select class="form-control"  id="hl_rleg" name="hl_rleg">
                                <option value="n" {% if variables.hl_rleg is defined and variables.hl_rleg == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_rleg is defined and variables.hl_rleg == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_rleg is defined and variables.hl_rleg == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_rleg is defined and variables.hl_rleg == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_rleg is defined and variables.hl_rleg == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_rleg is defined ? variables.wounds_rleg }}"  class="form-control"  id="wounds_rleg" name="wounds_rleg" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Right Hand</td><td class="txt c">16</td><td class="txt c">                
                            <select class="form-control"  id="hl_rhand" name="hl_rhand">
                                <option value="n" {% if variables.hl_rhand is defined and variables.hl_rhand == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_rhand is defined and variables.hl_rhand == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_rhand is defined and variables.hl_rhand == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_rhand is defined and variables.hl_rhand == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_rhand is defined and variables.hl_rhand == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_rhand is defined ? variables.wounds_rhand }}"  class="form-control"  id="wounds_rhand" name="wounds_rhand" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Right Arm</td><td class="txt c">14-15</td><td class="txt c">                
                            <select class="form-control"  id="hl_rarm" name="hl_rarm">
                                <option value="n" {% if variables.hl_rarm is defined and variables.hl_rarm == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_rarm is defined and variables.hl_rarm == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_rarm is defined and variables.hl_rarm == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_rarm is defined and variables.hl_rarm == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_rarm is defined and variables.hl_rarm == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_rarm is defined ? variables.wounds_rarm }}"  class="form-control"  id="wounds_rarm" name="wounds_rarm" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Abdomen</td><td class="txt c">12-13</td><td class="txt c">                
                            <select class="form-control"  id="hl_abdomen" name="hl_abdomen">
                                <option value="n" {% if variables.hl_abdomen is defined and variables.hl_abdomen == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_abdomen is defined and variables.hl_abdomen == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_abdomen is defined and variables.hl_abdomen == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_abdomen is defined and variables.hl_abdomen == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_abdomen is defined and variables.hl_abdomen == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_abdomen is defined ? variables.wounds_abdomen }}"  class="form-control"  id="wounds_abdomen" name="wounds_abdomen" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Chest</td><td class="txt c">9-11</td><td class="txt c">                
                            <select class="form-control"  id="hl_chest" name="hl_chest">
                                <option value="n" {% if variables.hl_chest is defined and variables.hl_chest == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_chest is defined and variables.hl_chest == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_chest is defined and variables.hl_chest == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_chest is defined and variables.hl_chest == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_chest is defined and variables.hl_chest == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_chest is defined ? variables.wounds_chest }}"  class="form-control"  id="wounds_chest" name="wounds_chest" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Left Arm</td><td class="txt c">7-8</td><td class="txt c">                
                            <select class="form-control"  id="hl_larm" name="hl_larm">
                                <option value="n" {% if variables.hl_larm is defined and variables.hl_larm == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_larm is defined and variables.hl_larm == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_larm is defined and variables.hl_larm == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_larm is defined and variables.hl_larm == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_larm is defined and variables.hl_larm == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_larm is defined ? variables.wounds_larm }}"  class="form-control"  id="wounds_larm" name="wounds_larm" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Left Hand</td><td class="txt c">6</td><td class="txt c">                
                            <select class="form-control"  id="hl_lhand" name="hl_lhand">
                                <option value="n" {% if variables.hl_lhand is defined and variables.hl_lhand == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_lhand is defined and variables.hl_lhand == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_lhand is defined and variables.hl_lhand == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_lhand is defined and variables.hl_lhand == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_lhand is defined and variables.hl_lhand == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_lhand is defined ? variables.wounds_lhand }}"  class="form-control"  id="wounds_lhand" name="wounds_lhand" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Left Leg</td><td class="txt c">4-5</td><td class="txt c">                
                            <select class="form-control"  id="hl_lleg" name="hl_lleg">
                                <option value="n" {% if variables.hl_lleg is defined and variables.hl_lleg == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_lleg is defined and variables.hl_lleg == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_lleg is defined and variables.hl_lleg == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_lleg is defined and variables.hl_lleg == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_lleg is defined and variables.hl_lleg == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_lleg is defined ? variables.wounds_lleg }}"  class="form-control"  id="wounds_lleg" name="wounds_lleg" type="number" />
                        </td></tr>
                        <tr><td class="lbl c">Left Foot</td><td class="txt c">3</td><td class="txt c">                
                            <select class="form-control"  id="hl_lfoot" name="hl_lfoot">
                                <option value="n" {% if variables.hl_lfoot is defined and variables.hl_lfoot == "n" %}selected="selected" {% endif %} >-</option>
                                <option value="a" {% if variables.hl_lfoot is defined and variables.hl_lfoot == "a" %}selected="selected" {% endif %} >A</option>
                                <option value="b" {% if variables.hl_lfoot is defined and variables.hl_lfoot == "b" %}selected="selected" {% endif %} >B</option>
                                <option value="c" {% if variables.hl_lfoot is defined and variables.hl_lfoot == "c" %}selected="selected" {% endif %} >C</option>
                                <option value="d" {% if variables.hl_lfoot is defined and variables.hl_lfoot == "d" %}selected="selected" {% endif %} >D</option>
                            </select>
                        </td><td>
                            <input value="{{ variables.wounds_lfoot is defined ? variables.wounds_lfoot }}"  class="form-control"  id="wounds_lfoot" name="wounds_lfoot" type="number" />
                        </td></tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card my-2">
                    <div class="card-header head-bar">Skills</div>
                    <div class="card-body">
                        <table width=100%>
                            <tr>
                                <th>Skill</th>
                                <th>Bonus</th>
                            </tr>
                            {{ sheet.genSkill("01", variables.skill_name_01, variables.skill_bonus_01) }}
                            {{ sheet.genSkill("02", variables.skill_name_02, variables.skill_bonus_02) }}
                            {{ sheet.genSkill("03", variables.skill_name_03, variables.skill_bonus_03) }}
                            {{ sheet.genSkill("04", variables.skill_name_04, variables.skill_bonus_04) }}
                            {{ sheet.genSkill("05", variables.skill_name_05, variables.skill_bonus_05) }}
                            {{ sheet.genSkill("06", variables.skill_name_06, variables.skill_bonus_06) }}
                            {{ sheet.genSkill("07", variables.skill_name_07, variables.skill_bonus_07) }}
                            {{ sheet.genSkill("08", variables.skill_name_08, variables.skill_bonus_08) }}
                            {{ sheet.genSkill("09", variables.skill_name_09, variables.skill_bonus_09) }}
                            {{ sheet.genSkill("10", variables.skill_name_10, variables.skill_bonus_10) }}
                            {{ sheet.genSkill("11", variables.skill_name_11, variables.skill_bonus_11) }}
                            {{ sheet.genSkill("12", variables.skill_name_12, variables.skill_bonus_12) }}
                            {{ sheet.genSkill("13", variables.skill_name_13, variables.skill_bonus_13) }}
                            {{ sheet.genSkill("14", variables.skill_name_14, variables.skill_bonus_14) }}
                            {{ sheet.genSkill("15", variables.skill_name_15, variables.skill_bonus_15) }}
                            {{ sheet.genSkill("16", variables.skill_name_16, variables.skill_bonus_16) }}
                            {{ sheet.genSkill("17", variables.skill_name_17, variables.skill_bonus_17) }}
                            {{ sheet.genSkill("18", variables.skill_name_18, variables.skill_bonus_18) }}
                            {{ sheet.genSkill("19", variables.skill_name_19, variables.skill_bonus_19) }}
                            {{ sheet.genSkill("20", variables.skill_name_20, variables.skill_bonus_20) }}
                            {{ sheet.genSkill("21", variables.skill_name_21, variables.skill_bonus_21) }}
                            {{ sheet.genSkill("22", variables.skill_name_22, variables.skill_bonus_22) }}
                            {{ sheet.genSkill("23", variables.skill_name_23, variables.skill_bonus_23) }}
                            {{ sheet.genSkill("24", variables.skill_name_24, variables.skill_bonus_24) }}
                            {{ sheet.genSkill("25", variables.skill_name_25, variables.skill_bonus_25) }}
                            {{ sheet.genSkill("26", variables.skill_name_26, variables.skill_bonus_26) }}
                            {{ sheet.genSkill("27", variables.skill_name_27, variables.skill_bonus_27) }}
                            {{ sheet.genSkill("28", variables.skill_name_28, variables.skill_bonus_28) }}
                            {{ sheet.genSkill("29", variables.skill_name_29, variables.skill_bonus_29) }}
                            {{ sheet.genSkill("30", variables.skill_name_30, variables.skill_bonus_30) }}
                            {{ sheet.genSkill("31", variables.skill_name_31, variables.skill_bonus_31) }}
                            {{ sheet.genSkill("32", variables.skill_name_32, variables.skill_bonus_32) }}
                            {{ sheet.genSkill("33", variables.skill_name_33, variables.skill_bonus_33) }}
                            {{ sheet.genSkill("34", variables.skill_name_34, variables.skill_bonus_34) }}
                            {{ sheet.genSkill("35", variables.skill_name_35, variables.skill_bonus_35) }}
                            {{ sheet.genSkill("36", variables.skill_name_36, variables.skill_bonus_36) }}
                            {{ sheet.genSkill("37", variables.skill_name_37, variables.skill_bonus_37) }}
                            {{ sheet.genSkill("38", variables.skill_name_38, variables.skill_bonus_38) }}
                            {{ sheet.genSkill("39", variables.skill_name_39, variables.skill_bonus_39) }}
                            {{ sheet.genSkill("40", variables.skill_name_40, variables.skill_bonus_40) }}
                            {{ sheet.genSkill("41", variables.skill_name_41, variables.skill_bonus_41) }}
                            {{ sheet.genSkill("42", variables.skill_name_42, variables.skill_bonus_42) }}
                            {{ sheet.genSkill("43", variables.skill_name_43, variables.skill_bonus_43) }}
                            {{ sheet.genSkill("44", variables.skill_name_44, variables.skill_bonus_44) }}
                            {{ sheet.genSkill("45", variables.skill_name_45, variables.skill_bonus_45) }}
                            {{ sheet.genSkill("46", variables.skill_name_46, variables.skill_bonus_46) }}
                            {{ sheet.genSkill("47", variables.skill_name_47, variables.skill_bonus_47) }}
                            {{ sheet.genSkill("48", variables.skill_name_48, variables.skill_bonus_48) }}
                            {{ sheet.genSkill("49", variables.skill_name_49, variables.skill_bonus_49) }}
                            {{ sheet.genSkill("50", variables.skill_name_50, variables.skill_bonus_50) }}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card my-2">
                    <div class="card-header head-bar">Equipment<br></div>
                    <div class="card-body pd10">
                        <textarea class="form-control" id="equipment" name="equipment" rows="20">{{ variables.equipment is defined ? variables.equipment }}</textarea>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header head-bar">Notes<br></div>
                    <div class="card-body pd10">
                        <textarea class="form-control" id="notes" name="notes" rows="20">{{ variables.notes is defined ? variables.notes }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <small>
                Classic BattleTech: RPG™ is a trademark of WizKids LLC.© 2006 WizKids LLC.<br><a href="/w/sheet-creation/a/sheet-list">Classic BattleTech: RPG 3e Character Sheet v1.0</a>, made by Tillerz#3807 - 2020-08-18
            </small>
        </div>
    </div>
</div>