<div class="container-fluid bt3e-sheet">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Wounds &amp; Fatigue</div>
                <div class="card-body">
                    <table width=100%>
                        <tr><td class="lbl l">Fatigue</td><td colspan=2><input value="{{ variables.fatigue is defined ? variables.fatigue }}" class="form-control" id="fatigue" name="fatigue" placeholder="" type="number" /><br>
                        <tr><td class="lbl l">Grazing Wounds</td><td>
                        <small>WV 1</small>
                        </td><td><input value="{{ variables.wounds_1 is defined ? variables.wounds_1 }}" class="form-control r" id="wounds_1" name="wounds_1" placeholder="" type="number" /></td></tr>
                        <tr><td class="lbl l">Minor Wounds</td><td>
                        <small>WV 2: +1 TN each</small>
                        </td><td><input value="{{ variables.wounds_2 is defined ? variables.wounds_2 }}" class="form-control r" id="wounds_2" name="wounds_2" placeholder="" type="number" /></td></tr>
                        <tr><td class="lbl l">Serious Wounds</td><td>
                        <small>WV 4: +2 TN each</small>
                        </td><td><input value="{{ variables.wounds_4 is defined ? variables.wounds_4 }}" class="form-control r" id="wounds_4" name="wounds_4" placeholder="" type="number" /></td></tr>
                        <tr><td class="lbl l">Critical Wounds</td><td>
                        <small>WV 8: +3 TN each</small>
                        </td><td><input value="{{ variables.wounds_8 is defined ? variables.wounds_8 }}" class="form-control r" id="wounds_8" name="wounds_8" placeholder="" type="number" /></td></tr>
                        <tr><td class="lbl l">Deadly Wounds</td><td>
                        <small>WV 16: if &gt; 8: dying</small>
                        </td><td><input value="{{ variables.wounds_16 is defined ? variables.wounds_16 }}" class="form-control r" id="wounds_16" name="wounds_16" placeholder="" type="number" /></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-2 of">
                <div class="card-header head-bar">Notes<br></div>
                <div class="card-body pd10">
                    <textarea class="form-control" id="notes" name="notes" rows="20">{{ variables.notes is defined ? variables.notes }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>