<div class="container-fluid pf2-rpg">
	<div class="pf2-character-sheet col-12">
		<div class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header pf-red-bg">
					{{ variables.name }} ( {% if variables.level is defined %} Level {{ variables.level}} {% endif %} {% if variables.school is defined %} {{ variables.school}} {% endif %} )
				</div>
				<div class="card-body txt">
					<div class="row">
                        <table class="table table-striped">
                            <tr>                        
                                <th colspan=2>Traits</th>
                                <th>Traditions</th>
                                <th colspan=2>Components</th>
                            </tr>
                            <tr>
                                <td colspan=2> {% if variables.traits is defined %}{{ variables.traits}}{% endif %} </td>
                                <td>
                                    {% if variables.tradition_arcane is defined and variables.tradition_arcane > 0 %} arcane {% endif %}
                                    {% if variables.tradition_divine is defined and variables.tradition_divine > 0 %} divine {% endif %}
                                    {% if variables.tradition_occult is defined and variables.tradition_occult > 0 %} occult {% endif %}
                                    {% if variables.tradition_primal is defined and variables.tradition_primal > 0 %} primal {% endif %}
                                </td>
                                <td colspan=2>
                                    {% if variables.component_material is defined and variables.component_material > 0 %} material {% endif %}
                                    {% if variables.component_somatic is defined and variables.component_somatic > 0 %} somatic {% endif %}
                                    {% if variables.component_verbal is defined and variables.component_verbal > 0 %} verbal {% endif %}
                                    {% if variables.component_fovus is defined and variables.component_focus > 0 %} focus {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Cast</th>
                                <th>Range</th>
                                <th>Target</th>
                                <th>Duration</th>
                                <th>Saving Throw</th>
                            </tr>
                            <tr>
                                <td> {% if variables.cast is defined and variables.cast != '' %}{{variables.cast}}{% else %}-{% endif %} </td>
                                <td> {% if variables.range is defined and variables.range != '' %}{{variables.range}}{% else %}-{% endif %} </td>
                                <td> {% if variables.target is defined and variables.target != '' %}{{variables.target}}{% else %}-{% endif %} </td>
                                <td> {% if variables.duration is defined and variables.duration != '' %}{{variables.duration}}{% else %}-{% endif %} </td>
                                <td> {% if variables.saving_throw is defined and variables.saving_throw != '' %}{{variables.saving_throw}}{% else %}-{% endif %} </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td colspan=5> {% if variables.description is defined and variables.description != '' %}{{variables.description}}{% else %}-{% endif %} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>