<div class="container-fluid pf2-rpg">
	<div class="pf2-character-sheet col-12">
		<div class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header btn btn-pathfinder" type="button" data-toggle="collapse" data-target=".character-info-block" aria-expanded="false" aria-controls="#character-info-block">
					{{ variables.name }} ( {% if variables.level is defined %} Level {{ variables.level}} {% endif %} {% if variables.school is defined %} {{ variables.school}} {% endif %} )
				</div>
				<div class="card-body collapse character-info-block txt" id="character-info-block">
					<div class="row">
                        {% if variables.traits is defined %}
                            <dt>Traits</dt>
                            <dd> {{ variables.traits}} </dd>
                        {% endif %}
                        {% if variables.tradition_arcane is defined %}
                            <dt>Tradition arcane</dt>
                            <dd> {{ variables.tradition_arcane}} </dd>
                        {% endif %}
                        {% if variables.tradition_divine is defined %}
                            <dt>Tradition divine</dt>
                            <dd> {{ variables.tradition_divine}} </dd>
                        {% endif %}
                        {% if variables.tradition_occult is defined %}
                            <dt>Tradition occult</dt>
                            <dd> {{ variables.tradition_occult}} </dd>
                        {% endif %}
                        {% if variables.tradition_primal is defined %}
                            <dt>Tradition primal</dt>
                            <dd> {{ variables.tradition_primal}} </dd>
                        {% endif %}
                        {% if variables.cast is defined %}
                            <dt>Cast</dt>
                            <dd> {{ variables.cast}} </dd>
                        {% endif %}
                        {% if variables.component_material is defined %}
                            <dt>Component material</dt>
                            <dd> {{ variables.component_material}} </dd>
                        {% endif %}
                        {% if variables.component_somatic is defined %}
                            <dt>Component somatic</dt>
                            <dd> {{ variables.component_somatic}} </dd>
                        {% endif %}
                        {% if variables.component_verbal is defined %}
                            <dt>Component verbal</dt>
                            <dd> {{ variables.component_verbal}} </dd>
                        {% endif %}
                        {% if variables.component_focus is defined %}
                            <dt>Component focus</dt>
                            <dd> {{ variables.component_focus}} </dd>
                        {% endif %}
                        {% if variables.range is defined %}
                            <dt>Range</dt>
                            <dd> {{ variables.range}} </dd>
                        {% endif %}
                        {% if variables.target is defined %}
                            <dt>Target</dt>
                            <dd> {{ variables.target}} </dd>
                        {% endif %}
                        {% if variables.duration is defined %}
                            <dt>Duration</dt>
                            <dd> {{ variables.duration}} </dd>
                        {% endif %}
                        {% if variables.saving_throw is defined %}
                            <dt>Saving Throw</dt>
                            <dd> {{ variables.saving_throw}} </dd>
                        {% endif %}
                        {% if variables.description is defined %}
                            <dt>Description</dt>
                            <dd> {{ variables.description}} </dd>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>