{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genTrait(tr = '', type = '') %}{% if tr != '' %}{% set pf = '' %}{% set base = 'trait' %}
{% set tr = tr|trim|upper %}{% if type != '' %}{% set base = type %}{% endif %}
{% if tr == 'COMMON' %}{% set pf = 'r_common' %}
{% elseif tr == 'UNCOMMON' %}{% set pf = 'r_uncommon' %}
{% elseif tr == 'RARE' %}{% set pf = 'r_rare' %}
{% elseif tr == 'UNIQUE' %}{% set pf = 'r_unique' %}{% endif %}
<span class="trait {{base}} {{pf}}">{{tr}}</span>{% endif %}{% endmacro genTrait %}
{# ---------------------------------------------- #}
{% endif %}{% endmacro genTrait %}
<div class="container-fluid pf2-rpg">
	<div class="pf2-spell-block col-12">
		<div class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header pf-red-bg">
				    {{ variables.name }}
                    {% set type = variables.type|default('') %}
                    {% if type == "" %}
                        {% if variables.traits is defined %}
                            {% set list = variables.traits|split(',') %}
                            {% for x in list %}
                                {% set tr = x|trim|upper %}
                                    {% if tr starts with "CURSE" %}{% set type = "Curse" %}{% endif %}
                                    {% if tr starts with "DISEASE" %}{% set type = "Disease" %}{% endif %}
                                    {% if tr starts with "FOCUS" %}{% set type = "Focus" %}{% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if type == "" %}{% set type = "Spell" %}{% endif %}
                    {% endif %}
                    <span class="level">
                        {% set school = variables.school|default("Spell") %}
                        {% if type == 'Spell' %}
                            {{ school }}
                            {% if school != "Spell" %}{% set school = "undefined" %}{% endif %}
                        {% else %}
                            {{ type }}
                        {% endif %}
                        {{ variables.level|default('1') }}
                    </span>
				</div>
				<div class="card-body txt">
                    {% set traits = school|upper ~ ',' ~ variables.traits|default('')|upper|replace({", ": ",", " ,": ","}) %}
                    {% set list = traits|split(',')|sort %}{% set last = "" %}
                    {% for x in list %}{% set tr = x|trim %}{% if tr != '' and tr != "UNDEFINED" and tr != last
                    and not (tr starts with "SPELL" or tr starts with "CURSE" or tr starts with "DISEASE" or tr starts with "FOCUS") %}{{ sheet.genTrait(tr) }}{% set last = tr %}{% endif %}{% endfor %}<br><br>
                    <table>
                        <tr>
                            <th colspan=3>Traditions</th>
                            <th colspan=2>Components</th>
                        </tr>
                        <tr>
                            <td colspan=3>
                                {% if variables.tradition_arcane is defined and variables.tradition_arcane > 0 %} arcane {% endif %}
                                {% if variables.tradition_divine is defined and variables.tradition_divine > 0 %} divine {% endif %}
                                {% if variables.tradition_occult is defined and variables.tradition_occult > 0 %} occult {% endif %}
                                {% if variables.tradition_primal is defined and variables.tradition_primal > 0 %} primal {% endif %}
                            </td>
                            <td colspan=2>
                                {% if variables.component_material is defined and variables.component_material > 0 %} material {% endif %}
                                {% if variables.component_somatic is defined and variables.component_somatic > 0 %} somatic {% endif %}
                                {% if variables.component_verbal is defined and variables.component_verbal > 0 %} verbal {% endif %}
                                {% if variables.component_fovus is defined and variables.component_focus > 0 %} focus {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Cast</th>
                            <th>Range</th>
                            <th>Target</th>
                            <th>Duration</th>
                            <th>Saving Throw</th>
                        </tr>
                        <tr>
                            <td> {% if variables.cast is defined and variables.cast != '' %}{{variables.cast}}{% else %}-{% endif %} </td>
                            <td> {% if variables.range is defined and variables.range != '' %}{{variables.range}}{% else %}-{% endif %} </td>
                            <td> {% if variables.target is defined and variables.target != '' %}{{variables.target}}{% else %}-{% endif %} </td>
                            <td> {% if variables.duration is defined and variables.duration != '' %}{{variables.duration}}{% else %}-{% endif %} </td>
                            <td> {% if variables.saving_throw is defined and variables.saving_throw != '' %}{{variables.saving_throw}}{% else %}-{% endif %} </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="l"><b>Description</b></td>
                            <td colspan=3 class="l"> <br>{% if variables.description is defined and variables.description != '' %}{{variables.description}}{% else %}-{% endif %} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>