<div class="container-fluid pf2-rpg">
	<div class="pf2-spell-block col-12">
		<div class="row align-self-start">	
			<div class="col-12 card">
				<div class="card-header pf-red-bg">
					Spell / Curse / Disease Name: <input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="name of the spell or curse" type="text" />
                    Level: <input value="{{ variables.level is defined ? variables.level }}" required="required" class="form-control" id="level" name="level" placeholder="level of the spell or curse" type="text" /><br>
                    School: <select class="form-control" id="school" name="school">
                    <option value="unknown" {% if variables.school is defined and variables.school == "unknown" %}selected="selected" {% endif %} >unknown</option>
                    <option value="Abjuration" {% if variables.school is defined and variables.school == "Abjuration" %}selected="selected" {% endif %} >Abjuration</option>
                    <option value="Conjuration" {% if variables.school is defined and variables.school == "Conjuration" %}selected="selected" {% endif %} >Conjuration</option>
                    <option value="Divination" {% if variables.school is defined and variables.school == "Divination" %}selected="selected" {% endif %} >Divination</option>
                    <option value="Enchantment" {% if variables.school is defined and variables.school == "Enchantment" %}selected="selected" {% endif %} >Enchantment</option>
                    <option value="Evocation" {% if variables.school is defined and variables.school == "Evocation" %}selected="selected" {% endif %} >Evocation</option>
                    <option value="Illusion" {% if variables.school is defined and variables.school == "Illusion" %}selected="selected" {% endif %} >Illusion</option>
                    <option value="Necromancy" {% if variables.school is defined and variables.school == "Necromancy" %}selected="selected" {% endif %} >Necromancy</option>
                    <option value="Transmutation" {% if variables.school is defined and variables.school == "Transmutation" %}selected="selected" {% endif %} >Transmutation</option>
                    </select>
				</div>
            </div>
        </div>
		<div class="row">	
			<div class="col-12 col-md-4 card">
				<div class="card-header pf-red-bg">Traits</div>
				<div class="card-body character-info-block txt">
Put tags like Spell, Curse, Disease in here:<br>
                <input value="{{ variables.traits is defined ? variables.traits }}" class="form-control w100" id="traits" name="traits" placeholder="eg fire, cold, evil, good, healing, acid, mental" type="text" />
                </div>
            </div>
			<div class="col-12 col-md-4 card">
				<div class="card-header pf-red-bg">Traditions</div>
				<div class="card-body character-info-block txt">
                    <input value="0" name="tradition_arcane" type="hidden" />
                    <input value="1" {% if variables.tradition_arcane is defined and variables.tradition_arcane == 1 %} checked="checked"{% endif %} id="tradition_arcane" name="tradition_arcane" type="checkbox" /> arcane</label><br>
                    <input value="0" name="tradition_divine" type="hidden" />
                    <input value="1" {% if variables.tradition_divine is defined and variables.tradition_divine == 1 %} checked="checked"{% endif %} id="tradition_divine" name="tradition_divine" type="checkbox" /> divine</label><br>
                    <input value="0" name="tradition_occult" type="hidden" />
                    <input value="1" {% if variables.tradition_occult is defined and variables.tradition_occult == 1 %} checked="checked"{% endif %} id="tradition_occult" name="tradition_occult" type="checkbox" /> occult</label><br>
                    <input value="0" name="tradition_primal" type="hidden" />
                    <input value="1" {% if variables.tradition_primal is defined and variables.tradition_primal == 1 %} checked="checked"{% endif %} id="tradition_primal" name="tradition_primal" type="checkbox" /> primal</label>
                </div>
            </div>
			<div class="col-12 col-md-4 card">
				<div class="card-header pf-red-bg">Components</div>
				<div class="card-body character-info-block txt">
                    <input value="0" name="component_material" type="hidden" />
                    <input value="1" {% if variables.component_material is defined and variables.component_material == 1 %} checked="checked"{% endif %} id="component_material" name="component_material" type="checkbox" /> material</label><br>
                    <input value="0" name="component_somatic" type="hidden" />
                    <input value="1" {% if variables.component_somatic is defined and variables.component_somatic == 1 %} checked="checked"{% endif %} id="component_somatic" name="component_somatic" type="checkbox" /> somatic</label><br>
                    <input value="0" name="component_verbal" type="hidden" />
                    <input value="1" {% if variables.component_verbal is defined and variables.component_verbal == 1 %} checked="checked"{% endif %} id="component_verbal" name="component_verbal" type="checkbox" /> verbal</label><br>
                    <input value="0" name="component_focus" type="hidden" />
                    <input value="1" {% if variables.component_focus is defined and variables.component_focus == 1 %} checked="checked"{% endif %} id="component_focus" name="component_focus" type="checkbox" /> focus</label>
                </div>
            </div>
        </div>
		<div class="row">	
			<div class="col-12 col-md-4 card">
				<div class="card-body character-info-block txt">
                    <table>
                        <tr>
                            <th>Cast</th><td> <input value="{{ variables.cast is defined ? variables.cast }}" class="form-control " id="cast" name="cast" placeholder="eg 1 action, 3 actions, 10 minutes" type="text" /> </td>
                        </tr>
                        <tr>
                            <th>Range</th><td> <input value="{{ variables.range is defined ? variables.range }}" class="form-control " id="range" name="range" placeholder="eg touch, 30 feet, 120 feet, 1000 feet" type="text" /> </td>
                        </tr>
                        <tr>
                            <th>Target</th><td> <input value="{{ variables.target is defined ? variables.target }}" class="form-control " id="target" name="target" placeholder="eg 1 living creature, 10-foot burst, 15-foot cone" type="text" /> </td>
                        </tr>
                        <tr>
                            <th>Duration</th><td> <input value="{{ variables.duration is defined ? variables.duration }}" class="form-control " id="duration" name="duration" placeholder="eg instant, 1 round, concentration, 10 minutes, unlimited" type="text" /> </td>
                        </tr>
                        <tr>
                            <th>Saving Throw</th><td> <input value="{{ variables.saving_throw is defined ? variables.saving_throw }}" class="form-control " id="saving_throw" name="saving_throw" placeholder="eg Will, basic Reflex, Reflex" type="text" /> </td>
                        </tr>
                        <tr>
                    </table>                        
                </div>
            </div>
			<div class="col-12 col-md-8 card">
				<div class="card-header pf-red-bg">Description</div>
				<div class="card-body txt">
                    <textarea class="form-control" id="description" name="description" rows="10">{{ variables.description is defined ? variables.description }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>