<div class="sheet-nycosrpg">
  <div class="row">
    <div class="col-12 col-md-6">
      <span class='text'><h1>DARK SHARDS</h1></span>
      <span class='text'><h3>PERSONA CREATION WORKSHEET</h3></span>
      <div class="row">
        <div class="col-12 col-md-4">
          <span class='text'>NAME</span>
        </div>
        <div class="col-12 col-md-8 box1">
          <div class='var od var-name'> {{variables.name|default}} </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 d-none d-md-block d-lg-block logo">
      <img class='image' src='/uploads/images/7f40cc6fdeb25508a29ca7bf1806c54f.webp' title='NycosRPG' width='320px'>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-6">
              <br>
              <div class="row">
                <div class="col-6 mainlbl">
                  <span class='text'><h3>BASE</h3></span>
                </div>
                <div class="col-3 bclbl">
                  <span class='text'><h3>BASE</h3></span>
                </div>
                <div class="col-3 bclbl">
                  <span class='text'><h3>CORE</h3></span>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>BRILLIANCE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='var od var-base-brilliance c'>{{variables.base_brilliance|default}}</div>
                  {% set foundationbase = variables.base_brilliance|default %}
                </div>
                <div class="col-3 attc">
                  <div class='var od var-core-brilliance c'>{{variables.base_brilliance|default // 5}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>COGNIZANCE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='var od var-base-cognizance c'>{{variables.base_cognizance|default}}</div>
                  {% set foundationbase = foundationbase + variables.base_cognizance|default %}
                </div>
                <div class="col-3 attc">
                  <div class='var od var-core-cognizance c'>{{variables.base_cognizance|default // 5}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>GRACE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='var od var-base-grace c'>{{variables.base_grace|default}}</div>
                  {% set foundationbase = foundationbase + variables.base_grace|default %}
                </div>
                <div class="col-3 attc">
                  <div class='var od var-core-grace c'>{{variables.base_grace|default // 5}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>PRESENCE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='var od var-base-presence c'>{{variables.base_presence|default}}</div>
                  {% set foundationbase = foundationbase + variables.base_presence|default %}
                </div>
                <div class="col-3 attc">
                  <div class='var od var-core-presence c'>{{variables.base_presence|default // 5}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>RESILIENCE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='var od var-base-resilience c'>{{variables.base_resilience|default}}</div>
                  {% set foundationbase = foundationbase + variables.base_resilience|default %}
                </div>
                <div class="col-3 attc">
                  <div class='var od var-core-resilience c'>{{variables.base_resilience|default // 5}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>RESOLVE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='var od var-base-resolve c'>{{variables.base_resolve|default}}</div>
                  {% set foundationbase = foundationbase + variables.base_resolve|default %}
                </div>
                <div class="col-3 attc">
                  <div class='var od var-core-resolve c'>{{variables.base_resolve|default // 5}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>FOUNDATION</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='var od var-base-foundation c'>{{foundationbase // 6}}</div>
                </div>
                <div class="col-3 attc">
                  <div class='var od var-core-foundation c'>{{foundationbase // 6 // 5}}</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <br>
              <div class="row">
                <div class="col-4 mainlbl">
                  <span class='text'><h3>RACE</h3></span>
                </div>
                <div class="col-8 box1">
                  <div class='var od var-race'> {{variables.race|default}} </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3 listhdr race">
                  <span class='text'>MARK VALUE</span>
                </div>
                <div class="col-9 listhdr race">
                  <span class='text'>NAME OF THE MARK</span>
                </div>
              </div>
              <div class="row">
                {% for i in 1..6 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'mark_desc_' ~ id)|default %}{% if name != "" %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <div class="col-3 box1">
                    <div class='var {{eo}} var-mark-value c'>{{attribute(variables, 'mark_value_' ~ id)|default}}</div>
                  </div>
                  <div class="col-9 box1">
                    <div class='var {{eo}} var-mark-desc'> {{attribute(variables, 'mark_desc_' ~ id)|default}} </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card place and estate" id="card-place and estate">
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-6">
              <br>
              <div class="row">
                <div class="col-4 mainlbl">
                  <span class='text'><h3>PLACE</h3></span>
                </div>
                <div class="col-8 box1">
                  <div class='var od var-place'> {{variables.place|default}} </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3 listhdr place">
                  <span class='text'>SKILL VALUE</span>
                </div>
                <div class="col-9 listhdr place">
                  <span class='text'>DESCRIPTION OF THE SKILLS</span>
                </div>
              </div>
              <div class="row">
                {% for i in 1..4 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'skill_desc_' ~ id)|default %}{% if name != "" %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <div class="col-3 box1">
                    <div class='var {{eo}} var-skill-value c'>{{attribute(variables, 'skill_value_' ~ id)|default}}</div>
                  </div>
                  <div class="col-9 box1">
                    <div class='var {{eo}} var-skill-desc'> {{attribute(variables, 'skill_desc_' ~ id)|default}} </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="col-12 col-md-6">
              <br>
              <div class="row">
                <div class="col-4 mainlbl">
                  <span class='text'><h3>ESTATE</h3></span>
                </div>
                <div class="col-8 box1">
                  <div class='var od var-estate'> {{variables.estate|default}} </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3 listhdr estate">
                  <span class='text'>SKILL VALUE</span>
                </div>
                <div class="col-9 listhdr estate">
                  <span class='text'>DESCRIPTION OF THE SKILLS</span>
                </div>
              </div>
              <div class="row">
                {% for i in 5..8 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'skill_desc_' ~ id)|default %}{% if name != "" %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <div class="col-3 box1">
                    <div class='var {{eo}} var-skill-value c'>{{attribute(variables, 'skill_value_' ~ id)|default}}</div>
                  </div>
                  <div class="col-9 box1">
                    <div class='var {{eo}} var-skill-desc'> {{attribute(variables, 'skill_desc_' ~ id)|default}} </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <span class='text'><h2>OPERATIONAL SKILLS</h2></span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-3 listhdr oskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr oskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr oskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr oskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr oskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr oskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% for i in 1..48 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'opskill_name_' ~ id)|default %}{% if name != "" %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-3 box1">
                    <div class='var {{eo}} var-opskill-value c'>{{attribute(variables, 'opskill_value_' ~ id)|default}}</div>
                  </div>
                  <div class="col-9 box1">
                    <div class='var {{eo}} var-opskill-name'> {{attribute(variables, 'opskill_name_' ~ id)|default}} </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <span class='text'><h2>TRAINING IN PROGRESS</h2></span>
            </div>
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-3 listhdr tskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr tskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr tskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr tskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr tskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr tskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'training_name_' ~ id)|default %}{% if name != "" %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-3 box1">
                    <div class='var {{eo}} var-training-value c'>{{attribute(variables, 'training_value_' ~ id)|default}}</div>
                  </div>
                  <div class="col-9 box1">
                    <div class='var {{eo}} var-training-name'> {{attribute(variables, 'training_name_' ~ id)|default}} </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <span class='text'><h2>LEARNING IN PROGRESS</h2></span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-3 listhdr lskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr lskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr lskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr lskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr lskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr lskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            {% for i in 1..9 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'learning_name_' ~ id)|default %}{% if name != "" %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-3 box1">
                    <div class='var {{eo}} var-learning-value c'>{{attribute(variables, 'learning_value_' ~ id)|default}}</div>
                  </div>
                  <div class="col-9 box1">
                    <div class='var {{eo}} var-learning-name'> {{attribute(variables, 'learning_name_' ~ id)|default}} </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <span class='text'><h2>INVENTORY OF STUFF</h2></span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-3 listhdr stuff">
                  <span class='text'>QUALITY</span>
                </div>
                <div class="col-9 listhdr stuff">
                  <span class='text'>ITEM NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr stuff">
                  <span class='text'>QUALITY</span>
                </div>
                <div class="col-9 listhdr stuff">
                  <span class='text'>ITEM NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr stuff">
                  <span class='text'>QUALITY</span>
                </div>
                <div class="col-9 listhdr stuff">
                  <span class='text'>ITEM NAME</span>
                </div>
              </div>
            </div>
            {% for i in 1..30 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'inventory_name_' ~ id)|default %}{% if name != "" %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-3 box1">
                    <div class='var {{eo}} var-inventory-value c'>{{attribute(variables, 'inventory_value_' ~ id)|default}}</div>
                  </div>
                  <div class="col-9 box1">
                    <div class='var {{eo}} var-inventory-name'> {{attribute(variables, 'inventory_name_' ~ id)|default}} </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>