<div class="container-fluid sheet-nycosrpg">
  <div class="row">
    <div class="col-12 col-md-6">
      <span class='text'><h1>DARK SHARDS</h1></span>
      <span class='text'><h4>PERSONA CREATION WORKSHEET</h4></span>
      <div class="row">
        <div class="col-12 col-md-4">
          <span class='text'>NAME</span>
        </div>
        <div class="col-12 col-md-8 box1">
          <div class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' /></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 d-none d-md-block d-lg-block logo">
      <img class='image' src='/uploads/images/7f40cc6fdeb25508a29ca7bf1806c54f.webp' title='NycosRPG' width='320px'>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-6">
              <br>
              <div class="row">
                <div class="col-6 mainlbl">
                  <span class='text'><h3>BASE</h3></span>
                </div>
                <div class="col-3 bclbl">
                  <span class='text'><h3>BASE</h3></span>
                </div>
                <div class="col-3 bclbl">
                  <span class='text'><h3>CORE</h3></span>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>BRILLIANCE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='ivar od ivar-base-brilliance c'><input value='{{variables.base_brilliance|default}}' class='form-control ivar ivar-base-brilliance c' id='base_brilliance' name='base_brilliance' type='number' /></div>
                </div>
                <div class="col-3 attc">
                  <div class='ivar od ivar-core-brilliance c'>BASE / 5</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>COGNIZANCE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='ivar od ivar-base-cognizance c'><input value='{{variables.base_cognizance|default}}' class='form-control ivar ivar-base-cognizance c' id='base_cognizance' name='base_cognizance' type='number' /></div>
                </div>
                <div class="col-3 attc">
                  <div class='ivar od ivar-core-cognizance c'>BASE / 5</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>GRACE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='ivar od ivar-base-grace c'><input value='{{variables.base_grace|default}}' class='form-control ivar ivar-base-grace c' id='base_grace' name='base_grace' type='number' /></div>
                </div>
                <div class="col-3 attc">
                  <div class='ivar od ivar-core-grace c'>BASE / 5</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>PRESENCE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='ivar od ivar-base-presence c'><input value='{{variables.base_presence|default}}' class='form-control ivar ivar-base-presence c' id='base_presence' name='base_presence' type='number' /></div>
                </div>
                <div class="col-3 attc">
                  <div class='ivar od ivar-core-presence c'>BASE / 5</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>RESILIENCE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='ivar od ivar-base-resilience c'><input value='{{variables.base_resilience|default}}' class='form-control ivar ivar-base-resilience c' id='base_resilience' name='base_resilience' type='number' /></div>
                </div>
                <div class="col-3 attc">
                  <div class='ivar od ivar-core-resilience c'>BASE / 5</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>RESOLVE</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='ivar od ivar-base-resolve c'><input value='{{variables.base_resolve|default}}' class='form-control ivar ivar-base-resolve c' id='base_resolve' name='base_resolve' type='number' /></div>
                </div>
                <div class="col-3 attc">
                  <div class='ivar od ivar-core-resolve c'>BASE / 5</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 attlbl">
                  <span class='text'><h4>FOUNDATION</h4></span>
                </div>
                <div class="col-3 attb">
                  <div class='ivar od ivar-base-foundation c'>Average of above</div>
                </div>
                <div class="col-3 attc">
                  <div class='ivar od ivar-core-foundation c'>BASE / 5</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <br>
              <div class="row">
                <div class="col-4 mainlbl">
                  <span class='text'><h3>RACE</h3></span>
                </div>
                <div class="col-8 box1">
                  <div class='ivar od ivar-race'><input value='{{variables.race|default}}' class='form-control ivar ivar-race' id='race' name='race' type='text' /></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3 listhdr race">
                  <span class='text'>MARK VALUE</span>
                </div>
                <div class="col-9 listhdr race">
                  <span class='text'>NAME OF THE MARK</span>
                </div>
              </div>
              <div class="row">
                {% for i in 1..6 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <div class="col-3 box1">
                    <div class='ivar {{eo}} ivar-mark-value c'><input value='{{attribute(variables, 'mark_value_' ~ id)|default}}' class='form-control ivar ivar-mark-value c' id='mark_value' name='mark_value_{{id}}' type='number' /></div>
                  </div>
                  <div class="col-9 box1">
                    <div class='ivar {{eo}} ivar-mark-desc'><input value='{{attribute(variables, 'mark_desc_' ~ id)|default}}' class='form-control ivar ivar-mark-desc' id='mark_desc' name='mark_desc_{{id}}' type='text' /></div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card place and estate" id="card-place and estate">
        <div class="card-body of">
          <div class="row">
            <div class="col-12 col-md-6">
              <br>
              <div class="row">
                <div class="col-4 mainlbl">
                  <span class='text'><h3>PLACE</h3></span>
                </div>
                <div class="col-8 box1">
                  <div class='ivar od ivar-place'><input value='{{variables.place|default}}' class='form-control ivar ivar-place' id='place' name='place' type='text' /></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3 listhdr place">
                  <span class='text'>SKILL VALUE</span>
                </div>
                <div class="col-9 listhdr place">
                  <span class='text'>DESCRIPTION OF THE SKILLS</span>
                </div>
              </div>
              <div class="row">
                {% for i in 1..4 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <div class="col-3 box1">
                    <div class='ivar {{eo}} ivar-skill-value c'><input value='{{attribute(variables, 'skill_value_' ~ id)|default}}' class='form-control ivar ivar-skill-value c' id='skill_value' name='skill_value_{{id}}' type='number' /></div>
                  </div>
                  <div class="col-9 box1">
                    <div class='ivar {{eo}} ivar-skill-desc'><input value='{{attribute(variables, 'skill_desc_' ~ id)|default}}' class='form-control ivar ivar-skill-desc' id='skill_desc' name='skill_desc_{{id}}' type='text' /></div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 col-md-6">
              <br>
              <div class="row">
                <div class="col-4 mainlbl">
                  <span class='text'><h3>ESTATE</h3></span>
                </div>
                <div class="col-8 box1">
                  <div class='ivar od ivar-estate'><input value='{{variables.estate|default}}' class='form-control ivar ivar-estate' id='estate' name='estate' type='text' /></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3 listhdr estate">
                  <span class='text'>SKILL VALUE</span>
                </div>
                <div class="col-9 listhdr estate">
                  <span class='text'>DESCRIPTION OF THE SKILLS</span>
                </div>
              </div>
              <div class="row">
                {% for i in 5..8 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <div class="col-3 box1">
                    <div class='ivar {{eo}} ivar-skill-value c'><input value='{{attribute(variables, 'skill_value_' ~ id)|default}}' class='form-control ivar ivar-skill-value c' id='skill_value' name='skill_value_{{id}}' type='number' /></div>
                  </div>
                  <div class="col-9 box1">
                    <div class='ivar {{eo}} ivar-skill-desc'><input value='{{attribute(variables, 'skill_desc_' ~ id)|default}}' class='form-control ivar ivar-skill-desc' id='skill_desc' name='skill_desc_{{id}}' type='text' /></div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <span class='text'><h2>OPERATIONAL SKILLS</h2></span>
            </div>
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-3 listhdr oskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr oskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr oskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr oskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block d-lg-block">
              <div class="row">
                <div class="col-3 listhdr oskills">
                  <span class='text'>BASE</span>
                </div>
                <div class="col-9 listhdr oskills">
                  <span class='text'>SKILL NAME</span>
                </div>
              </div>
            </div>
            {% for i in 1..48 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-3 box1">
                    <div class='ivar {{eo}} ivar-opskill-value c'><input value='{{attribute(variables, 'opskill_value_' ~ id)|default}}' class='form-control ivar ivar-opskill-value c' id='opskill_value' name='opskill_value_{{id}}' type='number' /></div>
                  </div>
                  <div class="col-9 box1">
                    <div class='ivar {{eo}} ivar-opskill-name'><input value='{{attribute(variables, 'opskill_name_' ~ id)|default}}' class='form-control ivar ivar-opskill-name' id='opskill_name' name='opskill_name_{{id}}' type='text' /></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <span class='text'><h2>TRAINING IN PROGRESS</h2></span>
            </div>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-3 box1">
                    <div class='ivar {{eo}} ivar-training-value c'><input value='{{attribute(variables, 'training_value_' ~ id)|default}}' class='form-control ivar ivar-training-value c' id='training_value' name='training_value_{{id}}' type='number' /></div>
                  </div>
                  <div class="col-9 box1">
                    <div class='ivar {{eo}} ivar-training-name'><input value='{{attribute(variables, 'training_name_' ~ id)|default}}' class='form-control ivar ivar-training-name' id='training_name' name='training_name_{{id}}' type='text' /></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <span class='text'><h2>LEARNING IN PROGRESS</h2></span>
            </div>
            {% for i in 1..9 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-3 box1">
                    <div class='ivar {{eo}} ivar-learning-value c'><input value='{{attribute(variables, 'learning_value_' ~ id)|default}}' class='form-control ivar ivar-learning-value c' id='learning_value' name='learning_value_{{id}}' type='number' /></div>
                  </div>
                  <div class="col-9 box1">
                    <div class='ivar {{eo}} ivar-learning-name'><input value='{{attribute(variables, 'learning_name_' ~ id)|default}}' class='form-control ivar ivar-learning-name' id='learning_name' name='learning_name_{{id}}' type='text' /></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card basics" id="card-basics">
        <div class="card-body of">
          <div class="row">
            <div class="col-12">
              <span class='text'><h2>INVENTORY OF STUFF</h2></span>
            </div>
            {% for i in 1..30 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-3 box1">
                    <div class='ivar {{eo}} ivar-inventory-value c'><input value='{{attribute(variables, 'inventory_value_' ~ id)|default}}' class='form-control ivar ivar-inventory-value c' id='inventory_value' name='inventory_value_{{id}}' type='number' /></div>
                  </div>
                  <div class="col-9 box1">
                    <div class='ivar {{eo}} ivar-inventory-name'><input value='{{attribute(variables, 'inventory_name_' ~ id)|default}}' class='form-control ivar ivar-inventory-name' id='inventory_name' name='inventory_name_{{id}}' type='text' /></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>