{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
<div class="source">{{variables.source}}</div>
<h1>{{variables.name}}</h1><br>
<div class="type">{{variables.size}} {{variables.types}}</div>
<h2>Survivability</h2>
<div class="row">
    <div class="col-md-4 col-xs-4">
        <div class="statblock-survivability"><strong>Health</strong> {{variables.health}}</div>
    </div>
    <div class="col-md-4 col-xs-4">
        <div class="statblock-survivability"><strong>Dodge Rating</strong> {{variables.dodgerating}}</div>
    </div>
    <div class="col-md-4 col-xs-4">
        <div class="statblock-survivability"><strong>Protection</strong> {{variables.protection}}</div>
    </div>
</div>
<h2>Attributes</h2>
<div class="row">
    <div class="col-md-1 col-xs-4">
        <div class="statblock-attribute"><strong>|||</strong></div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="statblock-attribute"><strong>STR</strong> {{variables.strength}}</div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="statblock-attribute"><strong>DEX</strong> {{variables.dexterity}}</div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="statblock-attribute"><strong>CON</strong> {{variables.constitution}}</div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="statblock-attribute"><strong>INT</strong> {{variables.intellect}}</div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="statblock-attribute"><strong>WILL</strong> {{variables.willpower}}</div>
    </div>
    <div class="col-md-1 col-xs-4">
        <div class="statblock-attribute"><strong>|||</strong></div>
    </div>
</div>
<h2>Misc. Stats</h2>
<div class="statblock-stat"><strong>Movement Speed:</strong> <!-- IDK IF I DID THIS RIGHT?! -->
    {% if variables.movement %}
        <span>Land speed of {{variables.movement}}m</span>
    {% endif %}
    {% if variables.sprint %}
        <span>:: Sprint speed of {{variables.sprint}}m</span>
    {% endif %}
    {% if variables.climb %}
        <span>:: Climb speed of {{variables.sprint}}m</span>
    {% endif %}
    {% if variables.climb %}
        <span>:: Swimb speed of {{variables.sprint}}m</span>
    {% endif %}
    {% if variables.fly %}
        <span>:: Flight speed of {{variables.sprint}} meters</span>
    {% endif %}
    {% if variables.burrow %}
        <span>:: Burrow speed of {{variables.sprint}}m</span>
    {% endif %}
</div>
<div class="statblock-stat"><strong>Languages:</strong> <span>{{variables.languages}}</span></div>
<div class="statblock-stat"><strong>Regions Found:</strong> <span>{{variables.locations}}</span></div>
<h2>Traits</h2>
<div class="statblock-stat">{{variables.traits}}</div>
<br>
<h2>Actions</h2>
<div class="statblock-stat">{{variables.actions}}</div>
<br>
{% endblock %}
