<div class="gold"></div>
<div class="inside-content">
	<div class="row">
		<div class="col-12 col-md-12">
			{% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
			<p class="statblock-source" title="Source">
				{% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
				{% if meta.block.isSRD %}SRD{% endif %}
			</p>
			{% endif %}
			<h1 class="dnd5e-sheet-header">
				{{ variables.name }}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-8">
			{% if variables.overview is defined and variables.overview != "" %}
			<div class="statblock-stat desc">{{ variables.overview}}</div>
			{% endif %}
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			{% if variables.image_id is defined and variables.image_id > 0 %}
			[img:{{ variables.image_id}}]
			{% endif %}
		</div>
	</div>
	<div class="dndline"></div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-8">
			{% if variables.ability_score_increase is defined %}
			<div class="statblock-stat"><strong>ability score increase:</strong>
			<span>{{ variables.ability_score_increase}}</span></div>
			{% endif %}
			{% if variables.age is defined %}
			<div class="statblock-stat"><strong>age: </strong>
			<span>{{ variables.age}}</span></div>
			{% endif %}
			{% if variables.alignment is defined and variables.alignment != "" %}
			<div class="statblock-stat"><strong>alignment: </strong>
			<span>{{ variables.alignment}}</span></div>
			{% endif %}
			{% if variables.size is defined %}
			<div class="statblock-stat"><strong>Size: </strong>
			<span>{{ variables.size}}</span></div>
			{% endif %}
			{% if variables.speed is defined %}
			<div class="statblock-stat"><strong>speed: </strong>
			<span>{{ variables.speed}}</span></div>
			{% endif %}
			{% if variables.languages is defined %}
			<div class="statblock-stat"><strong>Languages: </strong>
			<span>{{ variables.languages}}</span></div>
			{% endif %}
			{% if variables.parent_race is defined and variables.parent_race != '' %}
			<div class="statblock-stat"><strong>parent race: </strong>
			<span>
				{% set list = variables.parent_race|split(',') %}{% for x in list %}[blocklink:{{x|trim}}]<br>{% endfor %}
			</span></div>
			{% endif %}
			{% if variables.sub_races is defined and variables.sub_races != '' %}
			<div class="statblock-stat"><strong>sub races: </strong><br>
			<span>
				{% set list = variables.sub_races|split(',') %}{% for x in list %}[blocklink:{{x|trim}}]<br>{% endfor %}
			</span></div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12">
			{% if variables.race_features is defined and variables.race_features != "" %}
			<div class="dndline"></div>
			<div class="statblock-stat"><strong>race features:</strong><br>
			<span>{{ variables.race_features}}</span></div>
			{% endif %}
			{% if variables.description is defined and variables.description != "" %}
			<div class="statblock-stat desc">{{ variables.description}}</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="gold"></div>