<div class="gold"></div>
<div class="inside-content">
	<div class="row">
		<div class="col-12 col-md-12">
	{% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
	<p class="statblock-source">
		{% if variables.source is defined and variables.source|length > 0 %}
			<span title="Source">{{ variables.source }}</span>
		{% endif %}
		{% if meta.block.isSRD %}
			<span title="Source">SRD</span>
		{% endif %}
	</p>
	{% endif %}
			<h1 class="dnd5e-sheet-header">
				{{ variables.name }}
			</h1>
			{% if variables.overview is defined %}
			<div class="statblock-stat"><strong>overview</strong><br>
			<span>{{ variables.overview}}</span></div>
			{% endif %}
			<div class="dndline"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-8">
			{% if variables.ability_score_increase is defined %}
			<div class="statblock-stat"><strong>ability score increase</strong><br>
			<span>{{ variables.ability_score_increase}}</span></div>
			{% endif %}
			{% if variables.age is defined %}
			<div class="statblock-stat"><strong>age</strong><br>
			<span>{{ variables.age}}</span></div>
			{% endif %}
			{% if variables.alignment is defined %}
			<div class="statblock-stat"><strong>alignment</strong><br>
			<span>{{ variables.alignment}}</span></div>
			{% endif %}
			{% if variables.size is defined %}
			<div class="statblock-stat"><strong>Size</strong><br>
			<span>{{ variables.size}}</span></div>
			{% endif %}
			{% if variables.speed is defined %}
			<div class="statblock-stat"><strong>speed</strong><br>
			<span>{{ variables.speed}}</span></div>
			{% endif %}
			{% if variables.languages is defined %}
			<div class="statblock-stat"><strong>Languages</strong><br>
			<span>{{ variables.languages}}</span></div>
			{% endif %}
			{% if variables.parent_race is defined and variables.parent_race != '' %}
			<div class="statblock-stat"><strong>parent race</strong><br>
			<span>
				{% set list = variables.parent_race|split(',') %}{% for x in list %}[blocklink:{{x|trim}}]<br>{% endfor %}
			</span></div>
			{% endif %}
			{% if variables.sub_races is defined and variables.sub_races != '' %}
			<div class="statblock-stat"><strong>sub races</strong><br>
			<span>
				{% set list = variables.sub_races|split(',') %}{% for x in list %}[blocklink:{{x|trim}}]<br>{% endfor %}
			</span></div>
			{% endif %}
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			{% if variables.image_id is defined and variables.image_id > 0 %}
			[img:{{ variables.image_id}}]
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12">
			{% if variables.race_features is defined %}
			<div class="dndline"></div>
			<div class="statblock-stat"><strong>race features</strong><br>
			<span>{{ variables.race_features}}</span></div>
			{% endif %}
			{% if variables.description is defined %}
			<div class="dndline"></div>
			<div class="statblock-stat"><strong>description</strong><br>
			<span>{{ variables.description}}</span></div>
			{% endif %}
		</div>
	</div>
</div>
<div class="gold"></div>