<div class="row">
    <div class="col-12 col-xs-12 col-md-12">
        <div class="card my-2">
            <div class="card-body">
                <b>{{ variables.name is defined ? variables.name}}</b><br>
                Faction: {{ variables.faction is defined ? variables.faction }}<br>
                Path: {{ variables.path is defined ? variables.path }}<br>
                Melee Defense: {{ variables.melee_defense is defined ? variables.melee_defense }}<br>
                Range Defense: {{ variables.range_defense is defined ? variables.range_defense }}<br>
                Armor Value: {{ variables.armor_value is defined ? variables.armor_value }}<br>
            </div>
        </div>
    </div>
</div>