{% set hp_max = 10 + 5 * ((variables.body + variables.will)/2)|round %}
{% set hp_curr = hp_max %}
{% if variables.hitpoints_max is defined and variables.hitpoints_max > 0 %}{% set hp_max = variables.hitpoints_max %}{% endif %}
{% if variables.hitpoints_curr is defined and variables.hitpoints_curr != "" %}{% set hp_curr = variables.hitpoints_curr %}{% endif %}
{% set luck_max = variables.luck_max %}
{% set luck_curr = luck_max %}
{% if variables.luck_curr is defined and variables.luck_curr != "" %}{% set luck_curr = variables.luck_curr %}{% endif %}
<div class="container-fluid cyberpunkred-sheet">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            Hitpoints: <input value="{{ hp_curr }}" class="form-control w20" id="hitpoints_curr" name="hitpoints_curr" type="text" /> of {{hp_max}}<br>
            Critical Injuries: <input value="{{ variables.critical_injuries is defined ? variables.critical_injuries }}" class="form-control w70" id="critical_injuries" name="critical_injuries" type="text" />
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            Luck: <input value="{{ luck_curr }}" class="form-control w20" id="luck_curr" name="luck_curr" type="text" /> of {{luck_max}}<br>
            Cash: <input value="{{ variables.cash is defined ? variables.cash }}" class="form-control w20" id="cash" name="cash" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
        <div class="hdr">Improvement Points</div>
        Unspent: <input value="{{ variables.improvement_points_curr is defined ? variables.improvement_points_curr }}" class="form-control w20" id="improvement_points_curr" name="improvement_points_curr" type="text" />
        Total spent: <input value="{{ variables.improvement_points_max is defined ? variables.improvement_points_max }}" class="form-control w20" id="improvement_points_max" name="improvement_points_max" type="text" />
        <div class="hdr">Ammo</div><textarea class="form-control" id="ammo" name="ammo" rows="2">{{ variables.ammo is defined ? variables.ammo }}</textarea>
        <div class="hdr">Notes</div><textarea class="form-control" id="notes" name="notes" rows="3">{{ variables.notes is defined ? variables.notes }}</textarea>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
        <div class="hdr">Gear</div><textarea class="form-control" id="gear" name="gear" rows="9">{{ variables.gear is defined ? variables.gear }}</textarea>
        </div>
    </div>
</div>