<div class="talisman-sheet">
{{variables.name}}, level {{variables.level|default(1)}} {{variables.class}}, played by {{variables.player_name ?? ""}}<br>
Hitpoints: {{variables.life_curr ?? 0 }}/{{variables.life ?? 0 }}, Spellpoints: {{variables.spell_points_curr ?? 0 }} / {{variables.spell_points ?? 0 }}
</div>