{% set arm_points = 0 %}
{% if variables.arm_type == "Leather" %}{% set arm_points = 3 %}{% endif %}
{% if variables.arm_type == "Hard Leather" %}{% set arm_points = 6 %}{% endif %}
{% if variables.arm_type == "Chain" %}{% set arm_points = 9 %}{% endif %}
{% if variables.arm_type == "Mail" %}{% set arm_points = 12 %}{% endif %}
{% if variables.arm_type == "Plate" %}{% set arm_points = 15 %}{% endif %}
<div class="talisman-sheet">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-5">
			<table width="100%">
				<tr>
					<th width="60%">&nbsp;</th><th width="20%" class="c">current</th><th width="20%" class="c">max</th>
				</tr>
				<tr>
					<td>Life</td><td class="c"><input value="{{ variables.life_curr is defined ? variables.life_curr }}" class="form-control c" id="life_curr" name="life_curr" type="number" min="0" max="{{ variables.life is defined ? variables.life }}" /></td><td class="c">{{ variables.life is defined ? variables.life }}</td>
				</tr>
				<tr>
					<td>Armour Points</td><td class="c"><input value="{{ variables.arm_points_curr ?? arm_points }}" class="form-control c" id="arm_points_curr" name="arm_points_curr" type="number" min="0" max="{{arm_points}}" /></td><td class="c">{{arm_points}}</td>
				</tr>
				<tr>
					<td>Light Fate</td><td class="c"><input value="{{ variables.light_fate ?? 0 }}" class="form-control c" id="light_fate" name="light_fate" type="number" min="0" max="{{ variables.level + 2 }}" /></td><td class="c">{{ variables.level + 2 }} </td>
					<td colspan=3>&nbsp;</td>
				</tr>
			</table>
		</div>
		<div class="col-lg-2 hidden-xs hidden-sm hidden-md d-none d-lg-block"></div>
		<div class="col-12 col-md-6 col-lg-5">
			<table width="100%">
				<tr>
					<th width="60%">&nbsp;</th><th width="20%" class="c">current</th><th width="20%" class="c">max</th>
				</tr>
				<tr>
					<td>Spell Points</td><td class="c"><input value="{{ variables.spell_points_curr is defined ? variables.spell_points_curr }}" class="form-control c" id="spell_points_curr" min="0" name="spell_points_curr" type="number" max="{{ variables.spell_points ?? 0 }}" /></td><td class="c">{{ variables.spell_points ?? 0 }}</td>
				</tr>
				<tr>
					<td>Recovery Rolls</td><td class="c"><input value="{{ variables.recover_curr ?? variables.resolve }}" class="form-control c" id="recover_curr" name="recover_curr" type="number" min="0" max="{{ variables.resolve }}" /></td><td class="c">{{ variables.resolve }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-5 my-2 c"><input value="0" id="wounds" name="wounds" type="hidden" />
			<table width="100%" class="tb">
				<tr><th class="c" colspan=5>Wounds</th></tr>
				<tr><td width="20%"><input value="1" {% if variables.wounds is defined and variables.wounds == 1 %} checked="checked"{% endif %} id="wounds" name="wounds" type="checkbox" /></td>
				<td width="20%"><input value="2" {% if variables.wounds is defined and variables.wounds == 2 %} checked="checked"{% endif %} id="wounds" name="wounds" type="checkbox" /></td>
				<td width="20%"><input value="3" {% if variables.wounds is defined and variables.wounds == 3 %} checked="checked"{% endif %} id="wounds" name="wounds" type="checkbox" /></td>
				<td width="20%"><input value="4" {% if variables.wounds is defined and variables.wounds == 4 %} checked="checked"{% endif %} id="wounds" name="wounds" type="checkbox" /></td>
				<td width="20%"><input value="5" {% if variables.wounds is defined and variables.wounds == 5 %} checked="checked"{% endif %} id="wounds" name="wounds" type="checkbox" /></td></tr>
				<tr><td>-2</td><td>-4</td><td>-6</td><td>-8</td><td>-10</td></tr>
			</table>
		</div>
		<div class="col-lg-2 hidden-xs hidden-sm hidden-md d-none d-lg-block"></div>
		<div class="col-12 col-md-6 col-lg-5 my-2 c"><input value="0" id="death_tests" name="death_tests" type="hidden" />
			<table width="100%" class="tb">
				<tr><th class="c" colspan=5>Death Tests</th></tr>
				<tr><td width="20%"><input value="1" {% if variables.death_tests is defined and variables.death_tests == 1 %} checked="checked"{% endif %} id="death_tests" name="death_tests" type="checkbox" /></td>
				<td width="20%"><input value="2" {% if variables.death_tests is defined and variables.death_tests == 2 %} checked="checked"{% endif %} id="death_tests" name="death_tests" type="checkbox" /></td>
				<td width="20%"><input value="3" {% if variables.death_tests is defined and variables.death_tests == 3 %} checked="checked"{% endif %} id="death_tests" name="death_tests" type="checkbox" /></td>
				<td width="20%"><input value="4" {% if variables.death_tests is defined and variables.death_tests == 4 %} checked="checked"{% endif %} id="death_tests" name="death_tests" type="checkbox" /></td>
				<td width="20%"><input value="5" {% if variables.death_tests is defined and variables.death_tests == 5 %} checked="checked"{% endif %} id="death_tests" name="death_tests" type="checkbox" /></td></tr>
				<tr><td>Diff 8</td><td>Diff 9</td><td>Diff 10</td><td>Diff 11</td><td>Diff 12+</td></tr>
			</table>
		</div>
	</div>
</div>