{% macro printKeyValue(key , value ) %}
    {% import _self as macros %}
    <div class="sheet-key-value row">
        <div class="col-6 sheet-key">{{ key|replace({'_':' '})|capitalize }}</div>
        <div class="col-6 sheet-value">
            <input class="form-control" type="number" min="0" max="10" value="{{ value is defined ? value }}" name="{{key}}" />
       </div>
    </div>
{% endmacro %}


{% macro printTypeNumber( type, number, variables ) %}
    <div class="sheet-key-value row">
        <div class="col-8 sheet-key">
            <input placeholder="{{ type|capitalize }} name" class="form-control" type="text" value="{{ 
            attribute( variables, type ~ '_name_' ~ number) is defined ? attribute( variables, type ~ '_name_' ~ number) }}" name="{{ type ~ '_name_' ~ number }}" />
        </div>
        <div class="col-4 sheet-value">
            <input placeholder="{{ type|capitalize }} dots" class="form-control" type="number" min="0" max="10" value="{{ 
            attribute( variables, type ~ '_value_' ~ number) is defined ? attribute( variables, type ~ '_value_' ~ number) }}" name="{{ type ~ '_value_' ~ number }}" />
       </div>
    </div>
{% endmacro %}



{% import _self as macros %}


<div class="full-sheet">
    {# Header #}
    <div class="row">
        <div class="col-md-12 text-center mb-3">
            <img class="system-logo" src="https://cdn.shopify.com/s/files/1/0225/4035/files/Vampire-for-NET_large.jpg?v=1524478663" />
        </div>
    </div>
    <div class="row">   
        <!-- Left Column -->
        <div class="col-md-4">
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Name</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.name is defined ? variables.name }}" name="name" required="required" />
                </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Chronicle</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.chronicle is defined ? variables.chronicle }}" name="chronicle" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Sire</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.sire is defined ? variables.sire }}" name="sire" />
               </div>
            </div>
        </div>
        <!-- Center Column -->
        <div class="col-md-4">
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Concept</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.concept is defined ? variables.concept }}" name="concept" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Ambition</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.ambition is defined ? variables.ambition }}" name="ambition" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Desire</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.desire is defined ? variables.desire }}" name="desire" />
               </div>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-4">
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Predator</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.predator is defined ? variables.predator }}" name="predator" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Clan</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.clan is defined ? variables.clan }}" name="clan" />
               </div>
            </div>
            <div class="sheet-key-value row">
                <div class="col-6 sheet-key">Generation</div>
                <div class="col-6 sheet-value">
                    <input class="form-control" type="text" value="{{ variables.generation is defined ? variables.generation }}" name="generation" />
               </div>
            </div> 
        </div>
    </div>
    {# Attributes #}
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <h2>Attributes</h2>
        </div>
        <div class="col-md-4">
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('strength' , variables.strength is defined ? variables.strength ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('dexterity' , variables.dexterity is defined ? variables.dexterity ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('stamina' , variables.stamina is defined ? variables.stamina ) }}
            </div></div>
        </div>
        <div class="col-md-4">
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('charisma' , variables.charisma is defined ? variables.charisma ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('manipulation' , variables.manipulation is defined ? variables.manipulation ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('composure' , variables.composure is defined ? variables.composure ) }}
            </div></div>
        </div>
        <div class="col-md-4">
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('intelligence' , variables.intelligence is defined ? variables.intelligence ) }}
            </div></div>
           <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('wits' , variables.wits is defined ? variables.wits ) }}
            </div></div>
            <div class="row"><div class="col-md-12">
                {{ macros.printKeyValue('resolve' , variables.resolve is defined ? variables.resolve ) }}
            </div></div>
        </div>
    </div>
    {# Skills and Other Traits Row #}
    <div class="row mt-4">
        {# Skills Column #}
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 text-center"><h2>Physical</h2></div>
                {# Skills Physical #}
                <div class="col-md-12">
                    {{ macros.printKeyValue('athletics' , variables.athletics is defined ? variables.athletics ) }}
                    {{ macros.printKeyValue('brawl' , variables.brawl is defined ? variables.brawl ) }}
                    {{ macros.printKeyValue('craft' , variables.craft is defined ? variables.craft ) }}
                    {{ macros.printKeyValue('drive' , variables.drive is defined ? variables.drive ) }}
                    {{ macros.printKeyValue('firearms' , variables.firearms is defined ? variables.firearms ) }}
                    {{ macros.printKeyValue('melee' , variables.melee is defined ? variables.melee ) }}
                    {{ macros.printKeyValue('larceny' , variables.larceny is defined ? variables.larceny ) }}
                    {{ macros.printKeyValue('stealth' , variables.stealth is defined ? variables.stealth ) }}
                    {{ macros.printKeyValue('survival' , variables.survival is defined ? variables.survival ) }}
                </div>
                <div class="col-md-12 text-center"><h2>Social</h2></div>
                {# Social Row #}
                <div class="col-md-12">
                    {{ macros.printKeyValue('animal_ken' , variables.animal_ken is defined ? variables.animal_ken ) }}
                    {{ macros.printKeyValue('etiquette' , variables.etiquette is defined ? variables.etiquette ) }}
                    {{ macros.printKeyValue('insight' , variables.insight is defined ? variables.insight ) }}
                    {{ macros.printKeyValue('intimidation' , variables.intimidation is defined ? variables.intimidation ) }}
                    {{ macros.printKeyValue('leadership' , variables.leadership is defined ? variables.leadership ) }}
                    {{ macros.printKeyValue('performance' , variables.performance is defined ? variables.performance ) }}
                    {{ macros.printKeyValue('persuasion' , variables.persuasion is defined ? variables.persuasion ) }}
                    {{ macros.printKeyValue('streetwise' , variables.streetwise is defined ? variables.streetwise ) }}
                    {{ macros.printKeyValue('subterfuge' , variables.subterfuge is defined ? variables.subterfuge ) }}
                </div>
                <div class="col-md-12 text-center"><h2>Mental</h2></div>
                {# Skills Mental #}
                <div class="col-md-12">
                    {{ macros.printKeyValue('academics' , variables.academics is defined ? variables.academics ) }}
                    {{ macros.printKeyValue('awareness' , variables.awareness is defined ? variables.awareness ) }}
                    {{ macros.printKeyValue('finance' , variables.finance is defined ? variables.finance ) }}
                    {{ macros.printKeyValue('investigation' , variables.investigation is defined ? variables.investigation ) }}
                    {{ macros.printKeyValue('medicine' , variables.medicine is defined ? variables.medicine ) }}
                    {{ macros.printKeyValue('occult' , variables.occult is defined ? variables.occult ) }}
                    {{ macros.printKeyValue('politics' , variables.politics is defined ? variables.politics ) }}
                    {{ macros.printKeyValue('science' , variables.science is defined ? variables.science ) }}
                    {{ macros.printKeyValue('technology' , variables.technology is defined ? variables.technology ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Notes</h2>
                    <textarea class="form-control" name="notes" id="notes" rows="6">{{ variables.notes is defined ? variables.notes }}</textarea>
                </div>
            </div>
        </div>    
        {# Disciplines / Merits / Flaws & Weakness #}
        <div class="col-md-4">
            <h2 class="text-center">Disciplines</h2>
            {{ macros.printTypeNumber('discipline', 1, variables ) }}
            <textarea placeholder="Discipline notes" name="discipline_text_1" id="discipline_text_1" cols="30" rows="5" class="form-control">{{ variables.discipline_text_1 }}</textarea>
            {{ macros.printTypeNumber('discipline', 2, variables ) }}
            <textarea placeholder="Discipline notes" name="discipline_text_2" id="discipline_text_2" cols="30" rows="5" class="form-control">{{ variables.discipline_text_2 }}</textarea>
            {{ macros.printTypeNumber('discipline', 3, variables ) }}
            <textarea placeholder="Discipline notes" name="discipline_text_3" id="discipline_text_3" cols="30" rows="5" class="form-control">{{ variables.discipline_text_3 }}</textarea>
            {{ macros.printTypeNumber('discipline', 4, variables ) }}
            <textarea placeholder="Discipline notes" name="discipline_text_4" id="discipline_text_4" cols="30" rows="5" class="form-control">{{ variables.discipline_text_4 }}</textarea>
            {{ macros.printTypeNumber('discipline', 5, variables ) }}
            <textarea placeholder="Discipline notes" name="discipline_text_5" id="discipline_text_5" cols="30" rows="5" class="form-control">{{ variables.discipline_text_5 }}</textarea>
            {{ macros.printTypeNumber('discipline', 6, variables ) }}
            <textarea placeholder="Discipline notes" name="discipline_text_6" id="discipline_text_6" cols="30" rows="5" class="form-control">{{ variables.discipline_text_6 }}</textarea>
            <h2 class="text-center">Advantages & Flaws</h2>
            {{ macros.printTypeNumber('merit', 1, variables ) }}
            {{ macros.printTypeNumber('merit', 2, variables ) }}
            {{ macros.printTypeNumber('merit', 3, variables ) }}
            {{ macros.printTypeNumber('merit', 4, variables ) }}
            {{ macros.printTypeNumber('merit', 5, variables ) }}
            {{ macros.printTypeNumber('merit', 6, variables ) }}
            {{ macros.printTypeNumber('merit', 7, variables ) }}
            {{ macros.printTypeNumber('merit', 8, variables ) }}
            {{ macros.printTypeNumber('merit', 9, variables ) }}
            {{ macros.printTypeNumber('merit', 10, variables ) }}
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">History</h2>
                    <textarea class="form-control" name="history" id="history" rows="15">{{ variables.history is defined ? variables.history }}</textarea>
                </div>
            </div>
        </div>
        {# Health, Willpower, Vitae etc #}
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Chronicle Tenets</h2>
                    <textarea class="form-control" name="chronicle_tenets" id="chronicle_tenets" rows="3">{{ variables.chronicle_tenets is defined ? variables.chronicle_tenets }}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Touchstones & Convictions</h2>
                    <textarea class="form-control" name="touchstones_and_convictions" id="touchstones_and_convictions" rows="3">{{ variables.touchstones_and_convictions is defined ? variables.touchstones_and_convictions }}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Clan Bane</h2>
                    <textarea class="form-control" name="clan_bane" id="clan_bane" rows="3">{{ variables.clan_bane is defined ? variables.clan_bane }}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Resonance</h2>
                    <input class="form-control" type="text" value="{{ variables.resonance is defined ? variables.resonance }}" name="resonance" />
                </div>
            </div>   
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Hunger</h2>
                    <input class="form-control" type="number" value="{{ variables.hunger is defined ? variables.hunger }}" name="hunger" />
                </div>
            </div>   
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Blood Potency</h2>
                    <input class="form-control" type="number" value="{{ variables.blood_potency is defined ? variables.blood_potency }}" name="blood_potency" />
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Blood Surge</h2>
                    <input class="form-control" type="text" value="{{ variables.blood_surge is defined ? variables.blood_surge }}" name="blood_surge" />
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Mend Amount</h2>
                    <input class="form-control" type="text" value="{{ variables.mend_amount is defined ? variables.mend_amount }}" name="mend_amount" />
                </div>
            </div>   
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Power Bonues</h2>
                    <input class="form-control" type="text" value="{{ variables.power_bonus is defined ? variables.power_bonus }}" name="power_bonus" />
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Rouse Reroll</h2>
                    <input class="form-control" type="text" value="{{ variables.rouse_reroll is defined ? variables.rouse_reroll }}" name="rouse_reroll" />
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Feeding Penalty</h2>
                    <input class="form-control" type="text" value="{{ variables.feeding_penalty is defined ? variables.feeding_penalty }}" name="feeding_penalty" />
                </div>
            </div>   
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Bane Severity</h2>
                    <input class="form-control" type="text" value="{{ variables.bane_severity is defined ? variables.bane_severity }}" name="bane_severity" />
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Humanity</h2>
                    <input class="form-control" type="number" value="{{ variables.humanity is defined ? variables.humanity }}" name="humanity" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Experience</h2>
                    <input class="form-control" type="text" value="{{ variables.experience is defined ? variables.experience }}" name="experience" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Spent Experience</h2>
                    <input class="form-control" type="text" value="{{ variables.spent_experience is defined ? variables.spent_experience }}" name="spent_experience" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">True Age</h2>
                    <input class="form-control" type="text" value="{{ variables.true_age is defined ? variables.true_age }}" name="true_age" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Apparent Age</h2>
                    <input class="form-control" type="text" value="{{ variables.apparent_age is defined ? variables.apparent_age }}" name="apparent_age" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Date of Birth</h2>
                    <input class="form-control" type="text" value="{{ variables.date_of_birth is defined ? variables.date_of_birth }}" name="date_of_birth" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Date of Death</h2>
                    <input class="form-control" type="text" value="{{ variables.date_of_death is defined ? variables.date_of_death }}" name="date_of_death" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Appearance</h2>
                    <textarea class="form-control" name="appearance" id="appearance" rows="3">{{ variables.appearance is defined ? variables.appearance }}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-center">Distinguishing Features</h2>
                    <textarea class="form-control" name="distinguishing_features" id="distinguishing_features" rows="3">{{ variables.distinguishing_features is defined ? variables.distinguishing_features }}</textarea>
                </div>
            </div>
     
        </div>
    </div>
</div>