<div class="section">
	<h4 class="trackable-header mb-1 m-b-10">Health</h4>
	<div class="row">
		<div class="col-md-4">
            <h5>Health, Bashing</h5>
			<input placeholder="Current Health, Bashing" class="form-control" type="number" value="{{ variables.health_current_bashing is defined ? variables.health_current_bashing}}" name="health_current_bashing" />
		</div>
		<div class="col-md-4">
            <h5>Health, Lethal</h5>
			<input placeholder="Current Health, Lethal" class="form-control" type="number" value="{{ variables.health_current_lethal is defined ? variables.health_current_lethal}}" name="health_current_lethal" />
		</div>
		<div class="col-md-4">
            <h5>Health, Aggravated</h5>
			<input placeholder="Current Health, Aggravated" class="form-control" type="number" value="{{ variables.health_current_aggravated is defined ? variables.health_current_aggravated }}" name="health_current_aggravated" />
		</div>
<div class="col-md-12 mt-1">
	<p class="trackable-label">
		<strong>Health</strong> Total Health: {{ variables.size + variables.stamina }}
	</p>
</div>
	</div>
	<h4 class="trackable-header mb-1 m-b-10">Willpower</h4>
	<div class="row">
		<div class="col-md-12">
			<input placeholder="Willpower" class="form-control" type="number" value="{{ variables.willpower_current is defined ? variables.willpower_current }}" name="willpower_current" />
			<p class="trackable-label  mt-1">
				<strong>Willpower</strong> Out of of {{ variables.resolve + variables.composure}} total.
			</p>
		</div>
	</div>
	<h4 class="trackable-header mb-1 m-b-10">Vitae</h4>
	<div class="row">
		<div class="col-md-12">
			<input placeholder="Vitae" class="form-control" type="number" value="{{ variables.vitae is defined ? variables.vitae }}" name="vitae" />
		</div>
	</div>
</div>