{% extends 'RPGSRDBundle:Templates:cod/cod-base.html.twig' %}
{% import 'RPGSRDBundle:Templates:cod/cod-macros.html.twig' as macros %}

{% block char_info %} 
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Name </div>
            <div class="col-md-8">{{ variable.name }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Player </div>
            <div class="col-md-8">{{ variable.player }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Chronicle </div>
            <div class="col-md-8">{{ variable.chronicle }} </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Virtue </div>
            <div class="col-md-8">{{ variable.virtue }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Vice </div>
            <div class="col-md-8">{{ variable.vice }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Concept </div>
            <div class="col-md-8">{{ variable.concept }} </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Calling </div>
            <div class="col-md-8">{{ variable.calling }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Queen </div>
            <div class="col-md-8">{{ variable.queen }} </div>
        </div>
        <div class="row">
            <div class="col-md-4">Embassy </div>
            <div class="col-md-8">{{ variable.embassy }} </div>
        </div>
    </div>
{% endblock %}

{% block char_attributes %}
    <div class = "row split-line"></div>
    <div class = "row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Intelligence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,5) }} ({{ macros.printWodStat (variables.transformed_intelligence,5)}})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Wits </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.wits,5) }} ({{ macros.printWodStat (variables.transformed_wits,5)}})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Resolve </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.resolve,5) }} ({{ macros.printWodStat (variables.transformed_resolve,5)}})</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Strength </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.strength,5) }} ({{ macros.printWodStat (variables.transformed_strength,5) }})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Dexterity </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.dexterity,5) }} ({{ macros.printWodStat (variables.transformed_dexterity,5) }})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Stamina </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.stamina,5) }} ({{ macros.printWodStat (variables.transformed_stamina,5) }})</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Presence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.presence,5) }} ({{ macros.printWodStat (variables.transformed_presence,5) }})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Manipulation </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.manipulation,5) }} ({{ macros.printWodStat (variables.transformed_manipulation,5) }})</div>
            </div>
            <div class="row">
                <div class="col-md-6">Composure </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.composure,5) }} ({{ macros.printWodStat (variables.composure,5) }})</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block char_advantages %}
    <div class="row split-line"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">Academics</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.academics, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Academics</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_academics, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Crafts</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.crafts, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Crafts</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_crafts, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Computer</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.computer, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Computer</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_computer, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Investigation</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.investigation, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Investigation</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_investigation, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Medicine</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.medicine, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Medicine</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_medicine, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Occult</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.occult, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Occult</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_occult, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Politics</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.politics, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Politics</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_politics, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Science</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.science, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Science</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_science, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Athletics</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.athletics, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Athletics</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_athletics, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Brawl</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.brawl, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Brawl</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_brawl, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Drive</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.drive, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Drive</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_drive, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Firearms</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.firearms, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Firearms</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_firearms, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Larceny</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.larceny, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Larceny</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_larceny, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Stealth</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.stealth, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Stealth</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_stealth, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Survival</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.survival, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Survival</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_survival, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Weaponry</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.weaponry, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Weaponry</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_weaponry, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Animal Ken</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.animal_ken, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Animal Ken</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_animal_ken, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Empathy</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.empathy, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Empathy</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_empathy, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Expression</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.expression, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Expression</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_expression, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Intimidation</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.intimidation, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Intimidation</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_intimidation, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Persuasion</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.persuasion, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Persuasion</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_persuasion, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Socialize</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.socialize, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Socialize</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_socialize, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Streetwise</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.streetwise, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Streetwise</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_streetwise, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Subterfuge</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.subterfuge, 5 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Transformed Subterfuge</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.transformed_subterfuge, 5 ) }}</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h4>Disciplines</h4>
            </div>
            {{ macros.printWodNamedStats (variables.disciplines_table, 5 ) }}
            <div class="row">
                <h4>Merits</h4>
            </div>
            {{ macros.printWodNamedStats (variables.merits_table, 5 ) }}
            <div class="row">
                <h4>Flaws</h4>
            </div> 
            <div class="row">
                {{ variables.flaws }}  
            </div> 
            <div class="row">
                <h4>Clan Weakness</h4>
            </div>
            <div class="row">
                {{ variables.clan_weakness }}  
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <h4>Heatlh</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.health, 12 ) }}
                    </div>
                    <div class="row">
                        <h4>Willpower</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.willpower, 10 ) }}
                    </div>
                    <div class="row">
                        ({{ macros.printWodStat (variables.transformed_willpower, 10 ) }})
                    </div>
                    <div class="row">
                        <h4>Inner Light</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.inner_light, 10 ) }}
                    </div>
                    <div class="row">
                        <h4>Shadows</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.shadows, 10 ) }}
                    </div>
                    <div class="row">
                        <h4>Galemarks</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.galemarks, 10 ) }}
                    </div>
                    <div class="row">
                        <h4>Belief</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.belief, 10 ) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            Sensitivity:
                        </div>
                        <div class="col-md-8">
                            {{ variables.sensitivity }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Size:
                        </div>
                        <div class="col-md-3">
                            {{ variables.size }}
                        </div>
                        <div class="col-md-3">
                            Speed
                        </div>
                        <div class="col-md-3">
                            {{ variables.speed }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            Defense
                        </div>
                        <div class="col-md-3">
                            {{ variables.defense }}
                        </div>
                        <div class="col-md-3">
                            Armor
                        </div>
                        <div class="col-md-3">
                            {{ variables.armor }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Initiative Mod
                        </div>
                        <div class="col-md-6">
                            {{ variables.initiative_mod }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Experience
                        </div>
                        <div class="col-md-6">
                            {{ variables.experience }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Luminous Experience
                        </div>
                        <div class="col-md-6">
                            {{ variables.luminous_experience }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}