<<<<<<< HEAD:Display/wod/character-vtr.html.twig
{% extends 'RPGSRDBundle:Templates:wod/wod-base.html.twig' %}
{% import 'RPGSRDBundle:Templates:wod/wod-macros.html.twig' as macros %}
=======
{% extends 'RPGSRDBundle:Templates:cod/cod-base.html.twig' %}
{% import 'RPGSRDBundle:Templates:cod/cod-macros.html.twig' as macros %}
>>>>>>> 422318854cdd9fcd1c57f575b9dd0ee24c8013d6:Display/cod/character-vtr.html.twig
{% block char_info %} 
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">Player </div>
            <div class="col-md-8">{{ variables.player }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Chronicle </div>
            <div class="col-md-8">{{ variables.chronicle }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Clan </div>
            <div class="col-md-8">{{ variables.clan }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Bloodline </div>
            <div class="col-md-8">{{ variables.bloodline }}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">Covenant </div>
            <div class="col-md-8">{{ variables.covenant }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Concept </div>
            <div class="col-md-8">{{ variables.concept }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Virtue </div>
            <div class="col-md-8">{{ variables.virtue }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Vice </div>
            <div class="col-md-8">{{ variables.vice }}</div>
        </div>
    </div>
{% endblock %}

{% block char_attributes %}
    <div class = "row split-line"></div>
    <div class = "row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Intelligence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Wits </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.wits,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Resolve </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.resolve,8) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Strength </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.strength,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Dexterity </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.dexterity,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Stamina </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.stamina,8) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">Presence </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.presence,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Manipulation </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.manipulation,8) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Composure </div>
                <div class="col-md-6">{{ macros.printWodStat (variables.composure,8) }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block char_abilities %}
{% endblock %}

{% block char_advantages %}
    <div class="row split-line"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">Academics</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.academics, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Crafts</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.crafts, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Computer</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.computer, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Investigation</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.investigation, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Medicine</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.medicine, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Occult</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.occult, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Politics</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.politics, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Science</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.science, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Athletics</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.athletics, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Brawl</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.brawl, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Drive</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.drive, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Firearms</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.firearms, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Larceny</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.larceny, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Stealth</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.stealth, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Survival</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.survival, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Weaponry</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.weaponry, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Animal Ken</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.animal_ken, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Empathy</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.empathy, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Expression</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.expression, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Intimidation</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.intimidation, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Persuasion</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.persuasion, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Socialize</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.socialize, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Streetwise</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.streetwise, 6 ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Subterfuge</div>
                <div class="col-md-6">{{ macros.printWodStat (variables.subterfuge, 6 ) }}</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h4>Disciplines</h4>
            </div>
            {{ macros.printWodNamedStats (variables.disciplines_table, 6 ) }}
            <div class="row">
                <h4>Merits</h4>
            </div>
            {{ macros.printWodNamedStats (variables.merits_table, 6 ) }}
            <div class="row">
                <h4>Flaws</h4>
            </div> 
            <div class="row">
                {{ variables.flaws }}  
            </div> 
            <div class="row">
                <h4>Clan Weakness</h4>
            </div>
            <div class="row">
                {{ variables.clan_weakness }}  
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <h4>Heatlh</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.health, 12 ) }}
                    </div>
                    <div class="row">
                        <h4>Willpower</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.willpower, 10 ) }}
                    </div>
                    <div class="row">
                        <h4>Blood Potency</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.blood_potency, 10 ) }}
                    </div>
                    <div class="row">
                        <h4>Humanity</h4>
                    </div>
                    <div class="row">
                        {{ macros.printWodStat (variables.humanity, 10 ) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            Size
                        </div>
                        <div class="col-md-6">
                            {{ variables.size }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Speed
                        </div>
                        <div class="col-md-6">
                            {{ variables.speed }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Defense
                        </div>
                        <div class="col-md-6">
                            {{ variables.defense }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Armor
                        </div>
                        <div class="col-md-6">
                            {{ variables.armor }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Initiative Mod
                        </div>
                        <div class="col-md-6">
                            {{ variables.initiative_mod }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Experience
                        </div>
                        <div class="col-md-6">
                            {{ variables.experience }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block char_others %}
{% endblock %}
{% block char_crea_info %}
    <div class="row split-line"></div>
    <div class="row">Attributes 5/4/3•Skills 11/7/4 (+3 Specialties)•Clan (+1 bonus Attribute; see p. 92)•Covenant•Blood Potency 1 (May be increased with
Merit points)•Disciplines 3 (Two dots must be in-clan)•Merits 7•(Buying the fifth dot in Attributes, Skills or Merits costs twopoints)•Health
= Stamina + Size•Willpower = Resolve + Composure•Size = 5 for adult human-sized Kindred•Defense = Lowest of Dexterity or
Wits•Initiative Mod = Dexterity + Composure•Speed = Strength + Dexterity +5•Starting Humanity = 7•Vitae = d10 roll</div>
{% endblock %}