{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
    <div class = "row"> 
        <h1>{{ variables.name }}</hi>
    </div>
    <div class = "row"> 
    {% block char_info %}
    {% endblock %}
    </div>
    {% block char_attributes %}
        <div class = "row split-line"></div>
        <div class = "row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">Intelligence </div>
                    <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,8) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Wits </div>
                    <div class="col-md-6">{{ macros.printWodStat (variables.wits,8) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Resolve </div>
                    <div class="col-md-6">{{ macros.printWodStat (variables.resolve,8) }}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">Intelligence </div>
                    <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,8) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Wits </div>
                    <div class="col-md-6">{{ macros.printWodStat (variables.wits,8) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Resolve </div>
                    <div class="col-md-6">{{ macros.printWodStat (variables.resolve,8) }}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">Intelligence </div>
                    <div class="col-md-6">{{ macros.printWodStat (variables.intelligence,8) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Wits </div>
                    <div class="col-md-6">{{ macros.printWodStat (variables.wits,8) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Resolve </div>
                    <div class="col-md-6">{{ macros.printWodStat (variables.resolve,8) }}</div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block char_abilities %}
        <div class="row split-line"></div>
    {% endblock %}
    {% block char_advantages %}
        <div class="row split-line"></div>
    {% endblock %}
    {% block char_others %}
        <div class="row split-line"></div>
    {% endblock %}
    {% block char_crea_info %}
        <div class="row split-line"></div>
    {% endblock %}
{% endblock %}