<div class="fallout-sheet">
	<div class="row my-2">
		{% if variables.imageid|default('') != "" %}
		<div class="col-12 col-md-8">
        {% else %}
		<div class="col-12 col-md-12">
        {% endif %}
    		<div class="card">
	        	<div class="card-body">
                    <h1 class="{{variables.ctype|default('')|lower}}">{{variables.name|default('')}}</h1>
                    <h2>
                        Level {{variables.level|default(1)}}, {{variables.keywords|default('')}},<br>
                        {{variables.ctype|default('')|capitalize}} Creature ({{variables.xp|default}} XP)
                    </h2>
                    <p class="description">
                        {{variables.description|default('')|nl2br}}
                    </p>
                </div>
            </div>
        </div>
		{% if variables.imageid|default('') != "" %}
		<div class="col-12 col-md-4 hidden-xs hidden-sm d-none d-md-block d-lg-block">
            [img:{{variables.imageid|replace({'[img:': "", ']': ""}) }}]
        </div>
        {% endif %}
    </div>
	<div class="row my-2">
		<div class="col-12 col-md-4 col-lg-4 my-2">
            <table>
                <tr>
                    <th class="hdr c" width="50%">Body</th>
                    <th class="hdr c">Mind</th>
                </tr>
                <tr>
                    <td class="txt dk c">{{variables.body|default(1)}}</td>
                    <td class="txt lt c">{{variables.mind|default(1)}}</td>
                </tr>
            </table>
        </div>
		<div class="col-12 col-md-8 col-lg-8 my-2">
            <table>
                <tr>
                    <th class="hdr c" width="33%">Melee</th>
                    <th class="hdr c" width="33%">Guns</th>
                    <th class="hdr c">Other</th>
                </tr>
                <tr>
                    <td class="txt dk c">{{variables.sk_melee|default('-')}}</td>
                    <td class="txt lt c">{{variables.sk_guns|default('-')}}</td>
                    <td class="txt dk c">{{variables.sk_other|default('-')}}</td>
                </tr>
            </table>
        </div>
		<div class="col-12 col-md-6 col-lg-6 my-2">
            <table>
                <tr>
                    <th class="hdr c" width="33%">HP</th>
                    <th class="hdr c" width="33%">Ini</th>
                    <th class="hdr c">Defense</th>
                </tr>
                <tr>
                    <td class="txt dk c">{{variables.hp|default(1)}}</td>
                    <td class="txt lt c">{{variables.body|default(1) + variables.mind|default(1)}}</td>
                    <td class="txt dk c">{{variables.defense|default(1)}}</td>
                </tr>
            </table>
        </div>
		<div class="col-12 col-md-6 col-lg-6 my-2">
            <table>
                <tr>
                    <th class="hdr c" width="25%">Phys. DR</th>
                    <th class="hdr c" width="25%">Energy DR</th>
                    <th class="hdr c" width="25%">Rad. DR</th>
                    <th class="hdr c" width="25%">Poison DR</th>
                </tr>
                <tr>
                    <td class="txt c dk">{{variables.dr_physical|default('0')}}</td>
                    <td class="txt c lt">{{variables.dr_energy|default('0')}}</td>
                    <td class="txt c dk">{{variables.dr_radiation|default('0')}}</td>
                    <td class="txt c lt ">{{variables.dr_poison|default('0')}}</td>
                </tr>
            </table>
        </div>
		<div class="col-12 col-md-12 col-lg-12 my-2">
            <table>
                <tr><th class="hdr c">Attacks</th></tr>
                <tr><td class="txt dk ">{{variables.attacks|default('')|nl2br}}</td></tr>
            </table>
        </div>
		<div class="col-12 col-md-12 col-lg-12 my-2">
            <table>
                <tr><th class="hdr c">Special Abilities</th></tr>
                <tr><td class="txt lt">{{variables.spec_abilities|default('')|nl2br}}</td></tr>
            </table>
        </div>
		<div class="col-12 col-md-12 col-lg-12 my-2">
            <table>
                <tr><th class="hdr c">Inventory</th></tr>
                <tr><td class="txt dk">{{variables.inventory|default('')|nl2br}}</td></tr>
            </table>
        </div>
    </div>
</div>