<div class="fallout-sheet">
	<div class="row my-2">
		<div class="col-12 col-md-12">
    		<div class="card">
	        	<div class="card-body">
                    <table>
                        <tr><th class="hdr c">Basic Info</th></tr>
                        <tr><td class="txt lt">
                            <h1>Name: <input value="{{ variables.name is defined ? variables.name }}" class="form-control" id="name" name="name" type="text" /></h1>
                            <h2>
                                Level <input value="{{ variables.level is defined ? variables.level }}" class="form-control c" id="level" name="level" type="text" />, Keywords: <input value="{{ variables.keywords is defined ? variables.keywords }}" class="form-control" id="keywords" name="keywords" type="text" placeholder="eg Mutated Insect" />,
                                <select class="form-control" id="ctype" name="ctype">
                                    <option value="normal" {% if variables.ctype is defined and variables.ctype == "normal" %}selected="selected" {% endif %} >Normal</option>
                                    <option value="mighty" {% if variables.ctype is defined and variables.ctype == "mighty" %}selected="selected" {% endif %} >Mighty</option>
                                    <option value="legendary" {% if variables.ctype is defined and variables.ctype == "legendary" %}selected="selected" {% endif %} >Legendary</option>
                                    <option value="notable" {% if variables.ctype is defined and variables.ctype == "notable" %}selected="selected" {% endif %} >Notable</option>
                                    <option value="major" {% if variables.ctype is defined and variables.ctype == "major" %}selected="selected" {% endif %} >Major</option>
                                </select>
                                Creature (<input value="{{ variables.xp is defined ? variables.xp }}" class="form-control c" id="xp" name="xp" type="text" /> XP)
                            </h2>
                            WA Image-ID: <input value="{{ variables.imageid is defined ? variables.imageid }}" class="form-control c" id="imageid" name="imageid" type="text" /><br>
                        </td></tr>
                    </table>
                </div>
            </div>
        </div>
		<div class="col-12 col-md-12 col-lg-12 my-2">
            <table>
                <tr><th class="hdr c">Description</th></tr>
                <tr><td class="txt lt">
                    <p class="description">
                        <textarea class="form-control mention" id="description" name="description" rows="3" placeholder="">{{ variables.description is defined ? variables.description }}</textarea>
                    </p>
            </td></tr>
            </table>
        </div>
    </div>
    <div class="row my-2">
		<div class="col-12 col-md-4 col-lg-4 my-2">
            <table>
                <tr>
                    <th class="hdr c" width="50%">Body</th>
                    <th class="hdr c">Mind</th>
                </tr>
                <tr>
                    <td class="txt dk c">
                        <select class="form-control c" id="body" name="body">
                            <option value="4" {% if variables.body is defined and variables.body == "4" %}selected="selected" {% endif %} >4</option>
                            <option value="5" {% if variables.body is defined and variables.body == "5" %}selected="selected" {% endif %} >5</option>
                            <option value="6" {% if variables.body is defined and variables.body == "6" %}selected="selected" {% endif %} >6</option>
                            <option value="7" {% if variables.body is defined and variables.body == "7" %}selected="selected" {% endif %} >7</option>
                            <option value="8" {% if variables.body is defined and variables.body == "8" %}selected="selected" {% endif %} >8</option>
                            <option value="9" {% if variables.body is defined and variables.body == "9" %}selected="selected" {% endif %} >9</option>
                            <option value="10" {% if variables.body is defined and variables.body == "10" %}selected="selected" {% endif %} >10</option>
                            <option value="11" {% if variables.body is defined and variables.body == "11" %}selected="selected" {% endif %} >11</option>
                            <option value="12" {% if variables.body is defined and variables.body == "12" %}selected="selected" {% endif %} >12</option>
                        </select>
                    </td>
                    <td class="txt lt c">
                        <select class="form-control c" id="mind" name="mind">
                            <option value="4" {% if variables.mind is defined and variables.mind == "4" %}selected="selected" {% endif %} >4</option>
                            <option value="5" {% if variables.mind is defined and variables.mind == "5" %}selected="selected" {% endif %} >5</option>
                            <option value="6" {% if variables.mind is defined and variables.mind == "6" %}selected="selected" {% endif %} >6</option>
                            <option value="7" {% if variables.mind is defined and variables.mind == "7" %}selected="selected" {% endif %} >7</option>
                            <option value="8" {% if variables.mind is defined and variables.mind == "8" %}selected="selected" {% endif %} >8</option>
                            <option value="9" {% if variables.mind is defined and variables.mind == "9" %}selected="selected" {% endif %} >9</option>
                            <option value="10" {% if variables.mind is defined and variables.mind == "10" %}selected="selected" {% endif %} >10</option>
                            <option value="11" {% if variables.mind is defined and variables.mind == "11" %}selected="selected" {% endif %} >11</option>
                            <option value="12" {% if variables.mind is defined and variables.mind == "12" %}selected="selected" {% endif %} >12</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
		<div class="col-12 col-md-8 col-lg-8 my-2">
            <table>
                <tr>
                    <th class="hdr c" width="33%">Melee</th>
                    <th class="hdr c" width="33%">Guns</th>
                    <th class="hdr c">Other</th>
                </tr>
                <tr>
                    <td class="txt dk c"><input value="{{ variables.sk_melee is defined ? variables.sk_melee }}" class="form-control input-small c" id="sk_melee" name="sk_melee" type="text" /></td>
                    <td class="txt lt c"><input value="{{ variables.sk_guns is defined ? variables.sk_guns }}" class="form-control input-small c" id="sk_guns" name="sk_guns" type="text" /></td>
                    <td class="txt dk c"><input value="{{ variables.sk_other is defined ? variables.sk_other }}" class="form-control input-small c" id="sk_other" name="sk_other" type="text" /></td>
                </tr>
            </table>
        </div>
		<div class="col-12 col-md-4 col-lg-4 my-2">
            <table>
                <tr>
                    <th class="hdr c" width="33%">HP</th>
                    <th class="hdr c" width="33%">Ini</th>
                    <th class="hdr c">Defense</th>
                </tr>
                <tr>
                    <td class="txt dk c"><input value="{{ variables.health is defined ? variables.health }}" class="form-control input-small c" id="health" name="health" type="text" /></td>
                    <td class="txt lt c">Body+Mind</td>
                    <td class="txt dk c"><input value="{{ variables.defense is defined ? variables.defense }}" class="form-control input-small c" id="defense" name="defense" type="text" /></td>
                </tr>
            </table>
        </div>
		<div class="col-12 col-md-8 col-lg-8 my-2">
            <table>
                <tr>
                    <th class="hdr c" width="25%">Phys. DR</th>
                    <th class="hdr c" width="25%">Energy DR</th>
                    <th class="hdr c" width="25%">Rad. DR</th>
                    <th class="hdr c" width="25%">Poison DR</th>
                </tr>
                <tr>
                    <td class="txt c dk"><input value="{{ variables.dr_physical is defined ? variables.dr_physical }}" class="form-control input-small c" id="dr_physical" name="dr_physical" type="text" /></td>
                    <td class="txt c lt"><input value="{{ variables.dr_energy is defined ? variables.dr_energy }}" class="form-control input-small c" id="dr_energy" name="dr_energy" type="text" /></td>
                    <td class="txt c dk"><input value="{{ variables.dr_radiation is defined ? variables.dr_radiation }}" class="form-control input-small c" id="dr_radiation" name="dr_radiation" type="text" /></td>
                    <td class="txt c lt "><input value="{{ variables.dr_poison is defined ? variables.dr_poison }}" class="form-control input-small c" id="dr_poison" name="dr_poison" type="text" /></td>
                </tr>
            </table>
        </div>
		<div class="col-12 col-md-12 col-lg-12 my-2">
            <table>
                <tr><th class="hdr c">Attacks</th></tr>
                <tr><td class="txt lt"><textarea class="form-control mention" id="attacks" name="attacks" rows="3" placeholder="">{{ variables.attacks is defined ? variables.attacks }}</textarea></td></tr>
            </table>
        </div>
		<div class="col-12 col-md-12 col-lg-12 my-2">
            <table>
                <tr><th class="hdr c">Special Abilities</th></tr>
                <tr><td class="txt lt"><textarea class="form-control mention" id="spec_abilities" name="spec_abilities" rows="3" placeholder="">{{ variables.spec_abilities is defined ? variables.spec_abilities }}</textarea></td></tr>
            </table>
        </div>
		<div class="col-12 col-md-12 col-lg-12 my-2">
            <table>
                <tr><th class="hdr c">Inventory</th></tr>
                <tr><td class="txt lt"><textarea class="form-control mention" id="inventory" name="inventory" rows="3" placeholder="">{{ variables.inventory is defined ? variables.inventory }}</textarea></td></tr>
            </table>
        </div>
    </div>
</div>