{% macro genFocus(id, name, score) %}
<tr>
    <td class="attribute-value"><input value="{{ score }}" class="form-control" id="focus_score_{{id}}" name="focus_score_{{id}}" placeholder="" size="3" type="number" /></td>
    <td class="attribute-name"><input value="{{ name }}" class="form-control" id="focus_name_{{id}}" name="focus_name_{{id}}" placeholder="" type="text" /></td>
</tr>{% endmacro genFocus %}
<div class="container-fluid dishonored-sheet">
    <div class="form-wrapper">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">DISHONORED</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><span class="desc">Name:&nbsp;</span><span class="value"><input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the character." type="text" /></span></li>
                            <li class="list-group-item"><span class="desc">Archetype:&nbsp;</span><span class="value"> <select class="form-control" id="archetype" name="archetype">
                                <option value="Assassin" {% if variables.archetype is defined and variables.archetype == "Assassin" %}selected="selected" {% endif %} >Assassin</option>
                                <option value="Commander" {% if variables.archetype is defined and variables.archetype == "Commander" %}selected="selected" {% endif %} >Commander</option>
                                <option value="Courier" {% if variables.archetype is defined and variables.archetype == "Courier" %}selected="selected" {% endif %} >Courier</option>
                                <option value="Duelist" {% if variables.archetype is defined and variables.archetype == "Duelist" %}selected="selected" {% endif %} >Duelist</option>
                                <option value="Entrepreneur" {% if variables.archetype is defined and variables.archetype == "Entrepreneur" %}selected="selected" {% endif %} >Entrepreneur</option>
                                <option value="Explorer" {% if variables.archetype is defined and variables.archetype == "Explorer" %}selected="selected" {% endif %} >Explorer</option>
                                <option value="Guide" {% if variables.archetype is defined and variables.archetype == "Guide" %}selected="selected" {% endif %} >Guide</option>
                                <option value="Hunter" {% if variables.archetype is defined and variables.archetype == "Hunter" %}selected="selected" {% endif %} >Hunter</option>
                                <option value="Inventor" {% if variables.archetype is defined and variables.archetype == "Inventor" %}selected="selected" {% endif %} >Inventor</option>
                                <option value="Miscreant" {% if variables.archetype is defined and variables.archetype == "Miscreant" %}selected="selected" {% endif %} >Miscreant</option>
                                <option value="Scholar" {% if variables.archetype is defined and variables.archetype == "Scholar" %}selected="selected" {% endif %} >Scholar</option>
                                <option value="Scout" {% if variables.archetype is defined and variables.archetype == "Scout" %}selected="selected" {% endif %} >Scout</option>
                                <option value="Sharpshooter" {% if variables.archetype is defined and variables.archetype == "Sharpshooter" %}selected="selected" {% endif %} >Sharpshooter</option>
                                </select></span>
                            </li>
                            <li class="list-group-item"><span class="desc">First Truth:&nbsp;</span><span class="value"><input value="{{ variables.first_truth is defined ? variables.first_truth }}" class="form-control" id="first_truth" name="first_truth" placeholder="" type="text" /></span></li>
                            <li class="list-group-item"><span class="desc">Second Truth:&nbsp;</span><span class="value"><input value="{{ variables.second_truth is defined ? variables.second_truth }}" class="form-control" id="second_truth" name="second_truth" placeholder="" type="text" /></span></li>
                            <li class="list-group-item"><span class="desc">Description:&nbsp;</span><span class="value"><textarea class="form-control" id="description" name="description" rows="5" placeholder="">{{ variables.description is defined ? variables.description }}</textarea></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 hidden-md hidden-xs hidden-sm d-none d-lg-block logo-frame">
                <div class="row logo" title="Dishonored Logo"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Skills</h4>
                        <p class="card-text">
                            <div class="table-responsive">
                                <table class="table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.fight is defined ? variables.fight }}" class="form-control" id="fight" name="fight" placeholder="" type="number" /></td>
                                            <td class="attribute-name"title="Fight covers your ability to use, and defend against, violence. It’s most often used when making attacks, but it can also be used to judge threatening situations, and it covers a knowledge of weapons, combat styles, and strategy.">Fight</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.move is defined ? variables.move }}" class="form-control" id="move" name="move" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="Move covers your ability to navigate your environment. It is most often used to travel over difficult terrain or move in dangerous situations.">Move</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.study is defined ? variables.study }}" class="form-control" id="study" name="study" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="Study covers your education and knowledge, but also your ability to do research, and your general perceptiveness. It’s useful when trying to gain or study information, or when discerning facts about a person, place, or object.">Study</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.survive is defined ? variables.survive }}" class="form-control" id="survive" name="survive" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="Survive covers your resistance to danger and pressure, and your ability to handle and navigate the perils of the world.">Survive</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.talk is defined ? variables.talk }}" class="form-control" id="talk" name="talk" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="Talk covers your ability to relate to and interact with other people. This skill covers both talking to people, but also an understanding of how people communicate.">Talk</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.tinker is defined ? variables.tinker }}" class="form-control" id="tinker" name="tinker" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="Tinker covers your ability to use and understand complex or specialized tools and techniques, such as vehicles and machinery.">Tinker</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center card-title">Stress</h5>
                        <p class="text-center card-text"><span class="value"><input value="{{ variables.stress is defined ? variables.stress }}" class="form-control" id="stress" name="stress" placeholder="" type="number" /> of <input value="{{ variables.stress_max is defined ? variables.stress_max }}" class="form-control" id="stress_max" name="stress_max" placeholder="" type="number" /></span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center card-title">Void Points</h5>
                        <p class="text-center card-text"><span class="value"><input value="{{ variables.void_points is defined ? variables.void_points }}" class="form-control" id="void_points" name="void_points" placeholder="" type="number" /> of <input value="{{ variables.void_point_max is defined ? variables.void_point_max }}" class="form-control" id="void_point_max" name="void_point_max" placeholder="" type="number" /></span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center card-title">Momentum</h5>
                        <p class="text-center card-text"><span class="value"><input value="{{ variables.momentum is defined ? variables.momentum }}" class="form-control" id="momentum" name="momentum" placeholder="" type="number" /></span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center card-title">XP</h5>
                        <p class="text-center card-text"><span class="value"><input value="{{ variables.xp is defined ? variables.xp }}" class="form-control" id="xp" name="xp" placeholder="" type="number" /></span></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Styles</h4>
                        <p class="card-text">
                            <div class="table-responsive">
                                <table class="table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.boldly is defined ? variables.boldly }}" class="form-control" id="boldly" name="boldly" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="If you do something Boldly, you’re drawing attention to yourself, utilizing all the flair and personality you can muster.">Boldly</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.carefully is defined ? variables.carefully }}" class="form-control" id="carefully" name="carefully" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="If you do something Carefully, you’re paying close attention to detail and take extra time to avoid mistakes.">Carefully</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.cleverly is defined ? variables.cleverly }}" class="form-control" id="cleverly" name="cleverly" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="If you do something Cleverly, you approach problems from multiple angles and plan several steps ahead.">Cleverly</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.forcefully is defined ? variables.forcefully }}" class="form-control" id="forcefully" name="forcefully" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="If you do something Forcefully, you’re direct, unsubtle, and rely on raw strength and brute force.">Forcefully</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.quietly is defined ? variables.quietly }}" class="form-control" id="quietly" name="quietly" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="If you do something Quietly, you try to avoid notice or attention.">Quietly</td>
                                        </tr>
                                        <tr>
                                            <td class="attribute-value"><input value="{{ variables.swiftly is defined ? variables.swiftly }}" class="form-control" id="swiftly" name="swiftly" placeholder="" type="number" /></td>
                                            <td class="attribute-name" title="If you do something Swiftly, you’re quick to respond to problems, and likely quick to achieve your goals.">Swiftly</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Contacts</h4>
                        <p class="card-text"><textarea class="form-control" id="contacts" name="contacts" rows="5" placeholder="">{{ variables.contacts is defined ? variables.contacts }}</textarea></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Notes</h4>
                        <p class="card-text"> <textarea class="form-control" id="notes" name="notes" rows="5" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Talents</h4>
                        <p class="card-text"><textarea class="form-control" id="talents" name="talents" rows="5" placeholder="">{{ variables.talents is defined ? variables.talents }}</textarea></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Focuses</h4>
                        <p class="card-text">
                            <div class="table-responsive">
                                <table class="table-borderless">
                                    <tbody>
                                        {{ _self.genFocus("01", variables.focus_name_01, variables.focus_score_01) }}
                                        {{ _self.genFocus("02", variables.focus_name_02, variables.focus_score_02) }}
                                        {{ _self.genFocus("03", variables.focus_name_03, variables.focus_score_03) }}
                                        {{ _self.genFocus("04", variables.focus_name_04, variables.focus_score_04) }}
                                        {{ _self.genFocus("05", variables.focus_name_05, variables.focus_score_05) }}
                                        {{ _self.genFocus("06", variables.focus_name_06, variables.focus_score_06) }}
                                        {{ _self.genFocus("07", variables.focus_name_07, variables.focus_score_07) }}
                                        {{ _self.genFocus("08", variables.focus_name_08, variables.focus_score_08) }}
                                        {{ _self.genFocus("09", variables.focus_name_09, variables.focus_score_09) }}
                                        {{ _self.genFocus("10", variables.focus_name_10, variables.focus_score_10) }}
                                    </tbody>
                                </table>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Belongings</h4>
                        <p class="card-text"><textarea class="form-control" id="belongings" name="belongings" rows="5" placeholder="">{{ variables.belongings is defined ? variables.belongings }}</textarea></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Powers</h4>
                        <p class="card-text"><textarea class="form-control" id="powers" name="powers" rows="5" placeholder="">{{ variables.powers is defined ? variables.powers }}</textarea></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
