<section class="dishonored-character-trackable">
    <div class="row">
        <div class="col-12 col-xs-12 col-md-6 col-lg-4">
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="text-center card-title">Stress</h5>
                    <p class="text-center card-text"><span class="value"><input value="{{ variables.stress is defined ? variables.stress }}" class="form-control num" id="stress" name="stress" placeholder="" type="number" /> of {{ variables.stress_max is defined ? variables.stress_max }}</span></p>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="text-center card-title">Void Points</h5>
                    <p class="text-center card-text"><span class="value"><input value="{{ variables.void_points is defined ? variables.void_points }}" class="form-control num" id="void_points" name="void_points" width="3" placeholder="" type="number" /> of {{ variables.void_point_max is defined ? variables.void_point_max }}</span></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-lg-4">
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="text-center card-title">Momentum</h5>
                    <p class="text-center card-text"><span class="value"><input value="{{ variables.momentum is defined ? variables.momentum }}" class="form-control num" id="momentum" name="momentum" placeholder="" type="number" /></span></p>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="text-center card-title">XP</h5>
                    <p class="text-center card-text"><span class="value"><input value="{{ variables.xp is defined ? variables.xp }}" class="form-control num" id="xp" name="xp" placeholder="" type="number" /></span></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-md-12 col-lg-4">
            <div class="card my-2">
                <div class="card-body" >
                    <h4 class="text-center card-title">Notes</h4>
                    <p class="card-text"> <textarea class="form-control" id="notes" name="notes" rows="5" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea></p>
                </div>
            </div>
        </div>
    </div>
</section>