{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

	{% set hp = (variables.strength + variables.essence) // 2 %}
	{% set ps = (variables.agility + variables.resolve) // 10 + 1 %}
	{% set ms = (variables.wits + variables.focus) // 10 + 1 %}
	{% set gr = variables.harmony // 5 + 1 %}
	{% set maxskills = variables.total_build // 10 + 1 %}
	{% set spent = variables.strength + variables.essence + variables.agility + variables.resolve + variables.wits + variables.focus + variables.harmony %}
	{% set unspent = variables.total_build - spent %}


	<h1>{{ variables.name }}</h1>
	<h2>{{ variables.pronouns }}</h2>
	<h3>Portrayed by: {{ variables.player_name }} ( {{ variables.player_pronouns }} )</h3>

	<table>
	<tr><th colspan="2">Primary Attributes</th></tr>
	<tr><th>Strength</th><td>{{ variables.strength }}</td></tr>
	<tr><th>Essence</th><td>{{ variables.essence }}</td></tr>
	<tr><th>Agility</th><td>{{ variables.agility }}</td></tr>
	<tr><th>Resolve</th><td>{{ variables.resolve }}</td></tr>
	<tr><th>Wits</th><td>{{ variables.wits }}</td></tr>
	<tr><th>Focus</th><td>{{ variables.focus }}</td></tr>
	<tr><th>Harmony</th><td>{{ variables.harmony }}</td></tr>

	<tr><th colspan="2">Secondary Attributes</th></tr>
	<tr><th>Hit Points</th><td>{{ hp }}</td></tr>
	<tr><th>Physical Saves</th><td>{{ ps }}</td></tr>
	<tr><th>Mental Saves</th><td>{{ ms }}</td></tr>
	<tr><th>Grit Points</th><td>{{ gr }}</td></tr>
	</table>

	<table>
	<tr><th colspan="2">Build Points</th></tr>
	<tr><th>Total Build</th><td>{{ variables.total_build }}</td></tr>
	<tr><th>Build Cap</th><td>{{ variables.build_cap }}</td></tr>
	<tr><th>Unspent Build</th><td>{{ unspent }}</td></tr>
	<tr><th>Skill Max</th><td>{{ maxskills }}</td></tr>
	</table>

{% endblock %}