{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genTrait(tr = '', type = '') %}{% set base = 'trait' %}{% set list = tr|split(',') %}
{% for tr in list %}{% if tr != '' and tr != "NONE" %}{% set pf = '' %}
    {% set tr = tr|trim|upper %}{% if type != '' %}{% set base = type %}{% endif %}
    {% if tr == 'COMMON' %}{% set pf = 'r_common' %}
    {% elseif tr == 'VARIES' %}{% set pf = 'r_common' %}
    {% elseif tr == 'UNCOMMON' %}{% set pf = 'r_uncommon' %}
    {% elseif tr == 'RARE' %}{% set pf = 'r_rare' %}
    {% elseif tr == 'UNIQUE' %}{% set pf = 'r_unique' %}{% endif %}
    <span class="trait {{base}} {{pf}}">{{tr}}</span>{% endif %}{% endfor %}{% endmacro genTrait %}
{# ---------------------------------------------- #}
{% macro addRolls(s = '') %}{% if s != '' and ('[roll:' not in s|lower) %}
{% set s = s|replace({
    " 1d4 " : " [roll:1d4] ",
    " 2d4 " : " [roll:2d4] ",
    " 3d4 " : " [roll:3d4] ",
    " 4d4 " : " [roll:4d4] ",
    " 1d6 " : " [roll:1d6] ",
    " 2d6 " : " [roll:2d6] ",
    " 3d6 " : " [roll:3d6] ",
    " 4d6 " : " [roll:4d6] ",
    " 5d6 " : " [roll:5d6] ",
    " 6d6 " : " [roll:6d6] ",
    " 7d6 " : " [roll:7d6] ",
    " 8d6 " : " [roll:8d6] ",
    " 1d6+1 " : " [roll:1d6+1] ",
    " 2d6+1 " : " [roll:2d6+1] ",
    " 3d6+1 " : " [roll:3d6+1] ",
    " 4d6+1 " : " [roll:4d6+1] ",
    " 5d6+1 " : " [roll:5d6+1] ",
    " 6d6+1 " : " [roll:6d6+1] ",
    " 7d6+1 " : " [roll:7d6+1] ",
    " 8d6+1 " : " [roll:8d6+1] ",
    " 1d8 " : " [roll:1d8] ",
    " 2d8 " : " [roll:2d8] ",
    " 3d8 " : " [roll:3d8] ",
    " 4d8 " : " [roll:4d8] ",
    " 1d8+1 " : " [roll:1d8+1] ",
    " 2d8+1 " : " [roll:2d8+1] ",
    " 3d8+1 " : " [roll:3d8+1] ",
    " 4d8+1 " : " [roll:4d8+1] ",
    " 1d10 " : " [roll:1d10] ",
    " 2d10 " : " [roll:2d10] ",
    " 3d10 " : " [roll:3d10] ",
    " 4d10 " : " [roll:4d10] ",
    " 1d10+1 " : " [roll:1d10+1] ",
    " 2d10+1 " : " [roll:2d10+1] ",
    " 3d10+1 " : " [roll:3d10+1] ",
    " 4d10+1 " : " [roll:4d10+1] ",
    " 1d12 " : " [roll:1d12] ",
    " 2d12 " : " [roll:2d12] ",
    " 3d12 " : " [roll:3d12] ",
    " 4d12 " : " [roll:4d12] ",
    " 1d20 " : " [roll:1d20] ",
    " 2d20 " : " [roll:2d20] ",
    " 3d20 " : " [roll:3d20] ",
    " 4d20 " : " [roll:4d20] ",
    "1d20-4" : "[roll:1d20-4|-4]",
    "1d20-3" : "[roll:2d20-3|-3]",
    "1d20-2" : "[roll:3d20-2|-2]",
    "1d20-1" : "[roll:4d20-1|-1]",
    "1d20+1" : "[roll:1d20+1|+1]",
    "1d20+2" : "[roll:2d20+2|+2]",
    "1d20+3" : "[roll:3d20+3|+3]",
    "1d20+4" : "[roll:4d20+4|+4]",
    "(1d4)" : "([roll:1d4])",
    "(2d4)" : "([roll:2d4])",
    "(3d4)" : "([roll:3d4])",
    "(4d4)" : "([roll:4d4])",
    "(1d6)" : "([roll:1d6])",
    "(2d6)" : "([roll:2d6])",
    "(3d6)" : "([roll:3d6])",
    "(4d6)" : "([roll:4d6])",
    "(5d6)" : "([roll:5d6])",
    "(6d6)" : "([roll:6d6])",
    "(7d6)" : "([roll:7d6])",
    "(8d6)" : "([roll:8d6])",
    "(1d8)" : "([roll:1d8])",
    "(2d8)" : "([roll:2d8])",
    "(3d8)" : "([roll:3d8])",
    "(4d8)" : "([roll:4d8])",
    "(1d10)" : "([roll:1d10])",
    "(2d10)" : "([roll:2d10])",
    "(3d10)" : "([roll:3d10])",
    "(4d10)" : "([roll:4d10])",
    "(1d12)" : "([roll:1d12])",
    "(2d12)" : "([roll:2d12])",
    "(3d12)" : "([roll:3d12])",
    "(4d12)" : "([roll:4d12])",
    "(1d20)" : "([roll:1d20])",
    "(2d20)" : "([roll:2d20])",
    "(3d20)" : "([roll:3d20])",
    "(4d20)" : "([roll:4d20])"
 }) %}{% endif %}{{s}}{% endmacro addRolls %}
{# ---------------------------------------------- #}
<div class='container-fluid dnd5e-2024'>
	<div class="row">
		<div class="col-12">
            {% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
            <p class="statblock-source" title="Source">
                {% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
                {% if meta.block.isSRD %}SRD{% endif %}
            </p>
            {% endif %}
            <div class='lbl title lbl-name'>{{variables.name|default}}</div>
        </div>
    </div>
    <div class='row'>
        {% set img = variables.imageid|default %}
        {% set wd = 12 %}{% if img > 0 %}{% set wd = 8 %}{% endif %}
        <div class='col-12 col-md-12 col-lg-{{wd}}'>
            <p>
                {{ sheet.genTrait(variables.item_type|default ~ "," ~ variables.rarity|default ~ "," ~ variables.properties|default ~ ",") }}
                {% if variables.weapon_damage|default != "" or variables.weapon_range|default != "" %}
                    {{ sheet.genTrait(variables.weapon_damage_type|default ) }}
                {% endif %}
                {% if variables.attunement %}
                <span class="trait" title="Attunement">{{ variables.attunement }}</span>
                {% endif %}
                {% if variables.item_needs_attunement is defined %} Requires Attunement {% endif %}
                <br>
            </p>
            {% if variables.description %}
            {{ sheet.addRolls(variables.description|default) }}
            {% endif %}
        </div>
        {% if img > 0 %}
        <div class='col-4 col-lg-4 hidden-xs hidden-sm hidden-md d-none d-lg-block'>
            [img:{{img|default}}]
        </div>
        {% endif %}
    </div>
    <div class='row'>
        <div class='col-12'>
            {# If item is an Armor #}{% if variables.armor_class or variables.strength_requirement or variables.stealth_disadvantage is defined %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>AC</th>
                    <th>STR Req.</th>
                    <th>Stealth Dis.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ variables.armor_type|default }}</td>
                    <td>{{ variables.armor_class|default }}</td>
                    <td>{{ variables.strength_requirement|default }}</td>
                    <td>{% if variables.stealth_disadvantage is defined %}Yes{%else%}No{% endif %}</td>
                </tr>
                </tbody>
            </table>
            {% endif %}
            {# If item is a Weapon #}{% if variables.weapon_damage|default != "" or variables.weapon_range|default != "" %}
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Damage</th>
                            <th>Damage</th>
                            <th>Range</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ variables.weapon_subtype|default }}</td>
                            <td>{{ sheet.addRolls(" " ~ variables.weapon_damage|default ~ " ") }} {% if variables.weapon_secondary_damage|default != "" %}/ {{ sheet.addRolls(" " ~ variables.weapon_secondary_damage|default ~ " ") }} {% endif %}</td>
                            <td>{{ variables.weapon_damage_type|default }} {% if variables.weapon_secondary_damage_type|default != "" %}/ {{ variables.weapon_secondary_damage_type|default }} {% endif %}</td>
                            <td>{{ variables.weapon_range|default }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if variables.price %}<div class='var var-price'><b>Cost:</b> {{ variables.price|default }} {% endif %}</div><br>
            {% if variables.weight %}<div class='var var-weight'><b>Weight:</b> {{ variables.weight|default }}{% endif %}</div>
		</div>
    </div>
</div>