{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<h1>{{variables.name }}</h1>
{% if variables.id %}
	<div class="statblock-stat"><strong>ID: </strong> <span> {{ variables.id }}</span></div>
{% endif %}
{% if variables.type %}
	<div class="statblock-stat"><strong>Type:</strong> <span> {{ variables.type }}</span></div>
{% endif %}
{% if variables.tier %}
	<div class="statblock-stat"><strong>Tier:</strong> <span> {{ variables.tier }}</span></div>
{% endif %}
{% if variables.encombrement %}
	<div class="statblock-stat"><strong>Encombrement:</strong> <span> {{ variables.encombrement }}</span></div>
{% endif %}	
{% if variables.utilisation %}
	<div class="statblock-stat"><strong>Utilisation:</strong> <span> {{ variables.utilisation }}</span></div>
{% endif %}
{% if variables.price %}
	<div class="statblock-stat"><strong>Prix: </strong><span> {{ variables.price }}</span> unités</div>	
{% endif %}	
{% if variables.effect %}
	<div class="statblock-stat"><strong>Effet:</strong><br><span> {{ variables.effect }}</span></div>
{% endif %}	
{% if variables.description %}
	<div class="statblock-stat"><strong>Description:</strong><br><span> {{ variables.description }}</span></div>
{% endif %}
<br>

{% endblock %}